[2018-03-14 05:29] feiskyer commented on #703
@jayanthpurushothaman  Yep, the lastest release version is v0.14.0, you can specify "orchestratorVersion" to "1.9.3" or "orchestratorRelease" to "1.9"

[2018-03-14 05:32] jcrowthe opened #711 "Document Azure MSI support"
Azure's [Managed Service Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/overview) is supported as an alternative to utilizing a service principal for the authorization to the backend Azure cloud provider. This is a request to support MSI in the Azure autoscaler in addition to the current service principal.

If accepted, this task would be added to this l

[2018-03-14 05:36] feiskyer commented on #711
@jcrowthe This has been already supported by "useManagedIdentityExtension", but it is not documented yet

[2018-03-14 05:40] jcrowthe commented on #711
@feiskyer Excellent, thank you for pointing that out! I'll likely try this out tomorrow and submit a PR with some documentation. I'll keep you posted. Thanks!

[2018-03-14 05:53] shiv9012 commented on #113
@MrHohn @7chenko i have tried

1. running both cluster-autoscaler & kube-dns on master
2. using `dnsPolicy: Default` for cluster-autoscaler

Still im getting this error

Failed to update node registry: RequestError: send request failed
caused by: Post https://autoscaling.us-east-1.amazonaws.com/: dial tcp **.***.**.**:443: i/o timeout

[2018-03-14 06:56] feiskyer commented on #711
@jcrowthe thanks

[2018-03-14 08:02] jamespinkerton commented on #706
How does one set (change) these options when running the Kubernetes Engine?

[2018-03-14 08:07] bskiba commented on #706
On GKE it's not configurable, only if you are running in plain GCE.

[2018-03-14 08:16] jamespinkerton commented on #706
Thank you!

[2018-03-14 08:16] #706 closed

[2018-03-14 11:21] bskiba commented on #699
@x13n

[2018-03-14 11:22] bskiba commented on #701
Thanks @feiskyer for responding! Closing.

[2018-03-14 11:23] #701 closed

[2018-03-14 15:23] djsly commented on #188
This is fixed in the latest release, closing.

[2018-03-14 15:23] #188 closed

[2018-03-14 20:23] jcrowthe commented on #711
@feiskyer I'm seeing your commit [here](https://github.com/kubernetes/autoscaler/commit/59b0087eeb3333657835e4a64fbf21cbbdbdad4a#diff-260f9ffb803a074dcf5da1b73734869f) on Dec 27, 2017, but this is not in the latest release, v1.1.2.

I am unfamiliar with the release schedule, and I see that v1.1.2 shows

Do we have an ETA on when this will be rolled into a release?

[2018-03-14 23:11] shiv9012 commented on #518
+1

[2018-03-15 01:56] feiskyer commented on #711
@jcrowthe Sorry, I didn't notice this problem.

@mwielgus @MaciekPytel CA 1.1.2 still doesn't include recent Azure changes. Its commits are still four months ago. When will recent Azure changes included in CA?

[2018-03-15 10:31] #389 closed

[2018-03-15 17:07] mtaufen opened #718 "Stop using kube-env for node information"
We should find a more stable source of information than kube-env for information the autoscaler needs.
Ideally this will be provided by the upcoming Machines API.
See:
- [Add AUTOSCALER_ENV_VARS to kube-env to hotfix cluster autoscaler](https://github.com/kubernetes/kubernetes/pull/61119)
- [Extend cluster autoscaler to check AUTOSCALER_ENV_VARS in kube-env](https://github.com/kubernetes/autoscale

[2018-03-15 21:10] gmaxwell94 opened #719 "Scale down in AWS does not remove node from Cluster"
using v1.1.1  scales up correctly,
scales instances down as expected but as part of the tear down of a instance should be deleted from the k8 cluster

in
static_autoscaler does not seems to  get any nodes from
unregisteredNodes := a.ClusterStateRegistry.GetUnregisteredNodes()
removeOldUnregisteredNodes

which means the  call in clusterstage.go  in func UpdateNodes

notRegistered, err := getNotRegi

[2018-03-16 07:45] pradeeppandeyy commented on #701
@feiskyer Thanks, I already tried this and working well for me.

[2018-03-16 09:56] MaciekPytel commented on #719
Do I understand correctly that the underlying VMs have been deleted as expected? GetUnregisteredNodes() is based on API call to cloudprovider and what you describe is consistent with VMs being deleted, but Node objects remaining in k8s.

If that's the case than the problem is not in Cluster Autoscaler. CA does not add or remove Node objects from k8s cluster. All it does is create or delete VMs. Ma

[2018-03-16 22:21] mtaufen commented on #718
/assign @bskiba @roberthbailey @mwielgus @mtaufen

[2018-03-19 10:29] bskiba commented on #709
What version of Cluster Autoscaler and what Cloud Provider are you running on? Also, could you provide Cluster Autoscaler logs for when this happens?

[2018-03-20 14:28] dbluxo commented on #618
+1 for a new rc release.

[2018-03-20 14:40] johanneswuerbach commented on #618
Closing as there is a 1.2 beta now https://github.com/kubernetes/kubernetes/pull/61359

[2018-03-20 14:40] #618 closed

[2018-03-21 10:21] zuzzas commented on #709
v1.0.4, AWS

Stuck in a loop: cluster wanted to remove 6 nodes, but there was a minimum amount of nodes that was already reached, and cluster-autoscaler also wanted 6 nodes. Since scale-down couldn't complete (although, for some reason autoscaler Taints were already in-place on those 6 nodes), scale-up didn't even start. The only way out of this was no decrease minimum nodes in ASG. Is it possible

[2018-03-21 13:20] MaciekPytel commented on #709
@zuzzas Scale-up logic happens before scale-down logic (in fact we will not even consider scale-down if we need scale-up). The problem is that apparently CA starts to think about the 'broken nodes' as nodes that are booting up (`Upcoming 6 nodes` in log). So it figures out there is no need for scale-up, since the pods will go to nodes that are already starting up.

It would be useful to understand

[2018-03-21 16:40] MaciekPytel commented on #709
@zuzzas CA has no idea if nodes are really spinning up. It uses Node status + some heuristics to assign an internal status to each instance. Number of 'upcoming nodes' is calculated by subtracting numbers of nodes in different statuses.

I looked more closely into clusterstate.go and I now understand what happened. We classify any node with autoscaler taint as `Deleted` and assume it no longer con

[2018-03-21 18:54] zuzzas commented on #709
Unfortunately, I do not. We've been using minimal ASG size to reduce service disruptions, since we've got a small amount of single-node MongoDBs and PostgreSQLs. Whenever node goes down due to scale-down, service get interrupted. We use target node utilization of 0.7 to lower the amount of half-empty instances.

Would you advise to set minimum ASG size to zero? Or perhaps we are approaching our us

[2018-03-21 22:14] dklyle commented on #230
I'm interested in completing the work for this PR, is it preferred to open a new issue or reopen this one.

The approach I want to take is different from the stale PR to contrib that is referenced above. I prefer to build and simpler base solution that only relies on core OpenStack projects rather than Heat or Senlin which are less likely to be deployed.

[2018-03-21 22:43] dklyle opened #734 "Cluster-autoscaler support for OpenStack cloud provider"
There are numerous potential ways to support cluster autoscaling in OpenStack. Services like Heat and Senlin are not guaranteed to be support in an OpenStack deployment. So base support using only core OpenStack services should be targeted. The eventual path could be to optionally support using other services, but that would be outside the scope of this issue, other than driving the implementation

[2018-03-21 22:44] dklyle commented on #230
Given the timeline of the past issue I opened a new issue.

[2018-03-22 10:52] thomasjungblut opened #735 "Node over-provisioning"
Hey guys,

we're a heavy user of cluster-autoscaler in AWS for quite sometime, but we now want to improve the scale-up times by over-provisioning our autoscaling groups by some margin (say +n or 10%).

Is there an easy way to enable this with the current set of features?
If not, I'm happy to contribute it if you can give me a pointer where it would fit best.

Cheers,
Thomas

[2018-03-22 12:46] mwielgus commented on #230
ok

[2018-03-22 13:43] aleksandra-malinowska commented on #735
Not exactly, but you can achieve something like this with PriorityClasses. The idea is to create "buffer" pods which do nothing except request resources, with priority lower than your actual workload, but >0 (as CA won't add nodes for pods with negative priority value). With priority and preemption enabled, scheduler will evict those lower-priority pods to make space for higher-priority pods if ne

[2018-03-22 16:10] aleksandra-malinowska opened #740 "Fix VolumeBindingChecker predicate"
VolumeBindingChecker predicate verifies that the node passed to it actually exists. This breaks scale-up, as we need to run it against node object simulating the node we intend to request. Proposed solution is to remove the underlying call to informer and use the node object passed to the predicate checker.

#738 temporarily disabled it. It should be re-enabled once this is fixed.

[2018-03-23 09:51] MaciekPytel commented on #735
@krzysztof-jastrzebski opened a PR adding to docs a more detailed description of what @aleksandra-malinowska suggested: #742.

As to implementing overprovisioning directly in CA: it turned out to be pretty hard (even defining what "10%" means when you have multiple dimensions like cpu, mem, gpu, affinity/antiaffinity, volumes, etc. is hard). There were at least 4 unsuccessful attempts so far (incl

[2018-03-23 11:49] bskiba opened #745 "Properly fix parsing multi line values in kube-env"
Multi line kube env values mess up our parsing. Temporary fix was introduced in https://github.com/kubernetes/autoscaler/pull/741. Let's do a proper one.

[2018-03-23 14:06] MaciekPytel commented on #709
As to reducing service disruptions - wouldn't that be the use-case for PodDisruptionBudgets? You can use it to either completely prevent CA from touching nodes running a critical application (so it doesn't get restarted), or limit how many replicas of your application can be down at any given time (so CA will not restart too many pods at the same time).

If you configure minimum node group size in

[2018-03-23 15:56] #584 closed

[2018-03-24 13:30] zuzzas commented on #709
If I experience this situation again, I will make sure to gather logs.

[2018-03-26 00:15] johnharris85 opened #747 "Node Group at min size but taint remains?"
Not sure if this is by design behavior or not, but we have a couple of nodes with a taint indicated they should have been scaled down by CA in January, however logs of CA show that doing so would have taken it below the min size, so they clearly weren't. However the taints remain meaning we actually have less nodes available for scheduling than min size.

k8s: 1.8.4
CA: 0.6.0

[2018-03-26 08:35] thomasjungblut commented on #735
Thanks for the documentation @krzysztof-jastrzebski @aleksandra-malinowska, we'll give it a bash 👍

[2018-03-26 11:00] MaciekPytel commented on #747
This has been fixed in CA 1.0.1 (#369).

Also CA releases are bundled together with k8s versions. Kubernetes 1.8 ships with CA 1.0. We strongly recommend against using older CA with newer Kubernetes.

[2018-03-26 22:42] jcrowthe commented on #711
@feiskyer I saw the v1.2.0 was cut a few days ago, and just got to looking at this now. After some trial and error, and reading through the code, here is the current progress:
1. [this function](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.2/cluster-autoscaler/cloudprovider/azure/azure_util.go#L381-L406) doesn't account for MSI. In order to get around this, all variab

[2018-03-27 06:01] feiskyer commented on #711
@jcrowthe hostNetwork should be used to access localhost on the Node

[2018-03-27 08:08] varuntalus commented on #734
@dklyle

We are also struggling with cluster auto-scalar. Our requirement is to prov\deprov nodes (VMs) automatically based on the usage of the resources on each of the node.

We are planning to have a "VM Farm" having n number of VMs which can be utilized by any k8s cluster (in our on-prim env) looking for a node. This VM farm would be maintained\managed by OpenStack.

Currently we do not find an

[2018-03-28 04:19] feiskyer commented on #449
Initial Azure support has been added in cluster-autosclaer v1.2.0. Closing this issue.

Will open another issue to track AKS support

[2018-03-28 04:19] #449 closed

[2018-03-28 04:20] feiskyer opened #753 "Add Azure Container Service (AKS) support"
Azure VMSS and VMAS support has been added to cluster-autoscaler. We should also add AKS support.

[2018-03-28 13:37] code4clouds commented on #449
@feiskyer Would post the AKS tracking issue here to follow it up?

[2018-03-28 16:49] bskiba commented on #608
This is actually a duplicate of #516

[2018-03-28 16:49] #608 closed

[2018-03-28 16:50] bskiba commented on #516
/remove-lifecycle stale

[2018-03-28 23:49] jcrowthe opened #756 "Pre-provisioned nodes cause errors in cluster-autoscaler"
When using cluster-autoscaler with an Azure VM Scale Set that already has a node in it, I receive the following incessantly after a ScaleUp and ScaleDown cycle:

[code]

In looking at successful ScaleDown operations, the third line from above should appear more like `I0328 22:50:57.080662       1 azure_scale_set.go:273] Deleting vmss instances [%!q(*azure.azureRef=&{azure:///subscriptions/<sub>/re

[2018-03-29 01:56] feiskyer commented on #756
@jcrowthe It seems azure_scale_set got an empty instance, let me check what's wrong

[2018-03-29 02:01] feiskyer commented on #449
Opened #753 for AKS support

[2018-03-29 03:08] feiskyer commented on #756
@jcrowthe Confirmed this is a bug in azure provider, will file a PR to fix this

[2018-03-29 07:51] Drupi opened #759 "[AZURE]"
Hello, I properly setup the autoscaler on Azure but .. I have this communication in POD logs. Every value is correct, base64 encrypted. Anyone had this problem ?

Failed to update node registry: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/<Sub-ID>/resourceGroups/<Resource-group>/providers/Microsoft.Compute/virtualM

[2018-03-29 07:55] feiskyer commented on #759
From the error message, subscription and resourceGroup are empty. Have you set them according to [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md)?

[2018-03-29 07:55] Drupi commented on #759
Yes, I just delete them for the publishing purposes.

[2018-03-29 07:56] Drupi commented on #759
I wondering why the standard deployment is pointing to the ScaleSets..

[2018-03-29 07:58] feiskyer commented on #759
which image are you using? for standard deployment, you should use v1.2.0 version, e.g. `gcr.io/google_containers/cluster-autoscaler:v1.2.0`

[2018-03-29 08:04] Drupi commented on #759
Great ! I changed the version and now it's working :) Thank you very much for help..

There is an error in Documentation ? There is written that for 1.9.X we should use ver. 1.1.X?

[2018-03-29 08:05] #756 closed

[2018-03-29 08:09] feiskyer commented on #759
cluster-autoscaler v1.2.X is built with kubernetes v1.10, while v1.1.X is built with kubernetes v1.9. But Azure vmas support is added from v1.2.0.

@mwielgus @bskiba  Are there any known problems if v1.2.X is used with kubernetes v1.9.X?

[2018-03-29 08:37] bskiba commented on #759
There is no specific issues that I am aware of, but we really do zero cross-version testing so cannot guarantee anything and can only quote the [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#which-version-on-cluster-autoscaler-should-i-use-in-my-cluster).

Basically there is a chance you would be alright, but you can also run into bugs where for example autosc

[2018-03-29 08:38] bskiba commented on #759
Any chance you will be able to use 1.10?

[2018-03-29 08:50] #747 closed

[2018-03-29 08:58] Drupi commented on #759
Think not. For now I'm testing scaling up and down. I will provide the feedback after tests.

[2018-03-30 00:15] #406 closed

[2018-03-30 02:35] feiskyer commented on #753
cc @khenidak

[2018-03-30 08:11] Drupi commented on #759
Hello, Yesterday I performed tests for scaling and everything is working well. So for now I'm closing the issue.

[2018-03-30 08:11] #759 closed

[2018-03-30 10:17] #745 closed

[2018-03-30 17:58] jcrowthe commented on #711
@feiskyer Thanks for your help here. Currently I have to create dummy values for the AAD variables, as previously mentioned. Would you like me to submit a PR to document MSI as it currently stands, including these dummy variables? Or should we fix that validation function first?

[2018-03-30 23:20] feiskyer commented on #711
@jcrowthe Yep, will fix this next week

[2018-03-31 00:30] resouer opened #771 "Calculate GPU count for least waste"
Current least waste model may give you a GPU machine if CPU memory waste is similar.

We should calculate GPU in the score as well.

[2018-03-31 07:03] JorgeCeja commented on #254
Any updates anyone? I am using stack point's auto-scaler and it is working just fine. I am wondering if they are using a fork of this repo. I would appreciate some input on it and any updates on how to help. Thanks!

[2018-03-31 08:44] klausenbusk commented on #254
@JorgeCeja They use a fork: https://github.com/StackPointCloud/autoscaler/tree/stackpointio/cluster-autoscaler/cloudprovider/spc which use SPC API to create/delete droplets.

[2018-03-31 09:19] JorgeCeja commented on #254
Nice, Thanks! I guess I'll be stuck with SPC until this gets resolved. In the meantime, I will give it a shot and see how far I can implement it. If it seems too long, I am willing to open a bounty!

[2018-04-01 16:18] #191 closed

[2018-04-03 17:17] gurock-rops commented on #340
@ryanwalls were you able to get PDBs to work? As far as I can tell, PDBs don't work with Jobs (because Jobs don't have a controller that defines replicas).

@mwielgus Am I missing anything there? If not, should we re-open this for consideration?

[2018-04-03 19:38] dklyle commented on #734
@varuntalus This is very much a work in progress. I'm working on code in spurts. I will update here when I have enough progress to be useful. But I also wanted to solicit input of use cases and any discussion of desired criteria to help shape the implementation.

[2018-04-03 19:45] ryanwalls commented on #340
@gurock-rops It did work for us.  I forget what all we had to do, unfortunately.  But it is working in production today.

[2018-04-03 22:12] christopherhein commented on #113
Was anyone able to resolve this? I'm running into the same issue on a brand new `kops` cluster. With and without `dnsPolicy: Default`

[2018-04-04 16:11] EPinci opened #775 "Unregistered nodes present"
I'm using the autoscaler v1.2 on a Azure, VMAS, ACS-Engine deployed Kubernetes cluster.
I keep getting this kind of entries in the autoscaler logs:

[code]

What is this supposed to mean and how do I fix it?

Thank you.

[2018-04-05 08:52] aleksandra-malinowska commented on #438
/remove-lifecycle stale

cc @mwielgus

[2018-04-05 09:28] EPinci opened #776 "Unable to scale up: no node info"
I'm using the autoscaler v1.2 on a Azure, VMAS, ACS-Engine deployed Kubernetes cluster.
Autoscaler is unable to scale up my cluster with:

[code]

What am I missing in here?

Thank you.

[2018-04-05 12:25] feiskyer commented on #776
@EPinci  Is `nodepool1` same with acs-engine's agentPoolProfiles name?

[2018-04-05 12:33] EPinci commented on #776
Yes, nodepool1 is the name. Scaling down works (although with #775), scaling up fails.

[2018-04-05 12:40] feiskyer commented on #776
Which version of Kubernetes are you running? Has useInstanceMetadata set to false for all nodes?

[2018-04-05 12:44] EPinci commented on #776
I'm on v1.9.3 and nope, useInstanceMetadata has not been set to false in original ACS-Engine's json - is there a way to set that on an already existing cluster/nodes?

[2018-04-05 15:52] jpds opened #777 "Metrics for fast evalution decisions"
Occasionally, I will see something like the following in my logs:

[code]

And also:

[code]

However, I cannot see any available metrics for these particular actions. Would it be possible to expose:

1) What number of pods can be moved?
2) What number of pods cannot be moved?

[2018-04-05 16:16] jpds opened #778 "Node count metrics do not contain node group names"
Under metric keys such as: `cluster_autoscaler_scaled_up_nodes_total`, `cluster_autoscaler_nodes_count`, `cluster_autoscaler_unneeded_nodes_count` - I do not see anything about which group name the nodes belonged too.

I would like to know which group cluster-autoscaler decided to scale up or down at a particular moment in time for example, right now I only have the totals in my metrics dashboards

[2018-04-05 17:26] resouer commented on #771
kindly ping @mwielgus , is this a valid feature request? Any blocker in your mind?

I can write up a patch if needed.

[2018-04-05 20:13] mwielgus commented on #771
Please write a patch :).

[2018-04-06 00:17] feiskyer commented on #776
@EPinci It could be set in /etc/kubernetes/azure.json, but new nodes created by scaling up still set useInstanceMetadata to true (new nodes are still provisioned by original deploy templates).

By the way, autoscaler v1.2.X is recommended only to be used with kubernetes v1.10.X. See also [here](https://github.com/kubernetes/autoscaler/issues/759#issuecomment-377164622).

[2018-04-06 22:44] aleksandra-malinowska commented on #775
An unregistered node is a VM that Cluster Autoscaler learns about via cloud provider API, for which there's no corresponding node registered in Kubernetes master (hence, an 'unregistered' node). If this appears consistently, it's most likely caused by either nodes failing to register, or cloud provider informing Cluster Autoscaler about some unrelated VMs. As for fixing it, I'd start with identify

[2018-04-07 13:16] feiskyer commented on #775
See #776. useInstanceMetadata should set to false for Kubernetes v1.9.3 and previous versions (or else, autoscaler won't be able to recognize the node by externalID)

[2018-04-07 13:35] feiskyer commented on #756
@sozercan Sorry, this is not included in v1.2.0. It should be included in v1.2.1

[2018-04-08 18:49] pradeeppandeyy commented on #638
kubernetes cluster autoscaler will work with openshift  @dineshsckloud9  . We already tried this and It is working fine for us in gcp.

[2018-04-09 16:46] MrHohn commented on #113
caused by: Post https://autoscaling.us-east-1.amazonaws.com/: dial tcp ...*:443: i/o timeout

This looks like a routing or firewall issue instead..

[2018-04-10 07:12] PoisonousJohn commented on #775
@feiskyer we observe the same issue with k8s 1.10.0

[2018-04-10 07:32] EPinci commented on #775
@feiskyer Ah! This explains why my 1.10 is working even without the useInstanceMetadata. So this is a setting to use for kube 1.9.x. Thank you.

[2018-04-10 17:43] julianvmodesto opened #789 "AWS: updated instance type doesn't update cluster-autoscaler instance template"
In AWS, I updated my instance type for my autoscaling group's launch configuration and doubled the cpu and memory.

However, this didn't update the cluster-autoscaler instance template and I see that my Pods still won't schedule even though they'll fit on the new instance type:

[code]

Version:
[code]

[2018-04-10 19:16] aleksandra-malinowska commented on #789
Were there any instances in that group that weren't yet updated? Cluster Autoscaler uses an existing node from a group as "template", and falls back to reading group's template only if there are no existing nodes in it.

[2018-04-10 19:18] julianvmodesto commented on #789
Ah yes, all but one of my nodes haven't been updated. My intent wasn't to rolling-update them, but only update the launch configuration so only new nodes are created with more resources.

Would it be feasible to change this default behavior and reverse it? What would the implications / side effects be?

From a user's intent, it's closer to what I want e.g. as a user, I expected cluster-autoscaler

[2018-04-11 03:13] sujithvs74 opened #790 "aws - autoscaler failing with Wrong id: expected format aws:///<zone>/<name>"
I have deployed autoscaler in aws with auto discovery option and application fails with below error,

I0411 03:07:37.172031       1 static_autoscaler.go:97] Starting main loop
I0411 03:07:37.353080       1 reflector.go:428] k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:174: Watch close - *v1.Pod total 0 items received
I0411 03:07:37.355165       1 round_trippers.go:436] GET http

[2018-04-12 12:41] aleksandra-malinowska opened #795 "Use explicit timestamp format in status configmap"
Go 1.9 changed the default string format, see golang/go#20876

As discussed there, default format is intended to be readable for humans only and can change without warning, so we should probably set it explicitly when writing status configmap.

[2018-04-13 05:02] feiskyer commented on #703
@mwielgus Since there are a lot of v1.9.X users, do we accept new features into autoscaler 1.1 branch?

[2018-04-13 07:57] mwielgus commented on #703
Yes.

[2018-04-13 07:58] mwielgus commented on #703
Or to be more precise, yes, if they are not too big.

[2018-04-13 10:31] EPinci opened #796 "Autoscaling Azure nodepool to zero"
Is it possible to scale down to zero nodes a nodepool on Azure?

[2018-04-13 10:33] EPinci commented on #796
@feiskyer Do you have any information on this?

[2018-04-13 23:25] EPinci commented on #796
@feiskyer I see. I'm using VMAS.

[2018-04-16 15:22] michaelburch opened #798 "Azure scale up fails"
Cluster autoscaler 1.2, kubernetes 1.10.1, availabilityset

Scale up successfully creates nodes, but they fail to join the cluster. Azure portal shows that the custom script extensions fails with this error
Enable failed: failed to execute command: command terminated with exit status=2
[stdout]

[stderr]
/bin/sh: 1: Syntax error: "(" unexpected

[2018-04-16 18:30] dobesv opened #799 "Account for AWS instance limit (or any limit in the number of instances)"
I hit the limit on the maximum number of instances globally on the AWS account.  I was thinking it would be nice if cluster-autoscaler would somehow have an algorithm that works within a maximum number of nodes and somehow "merges" nodes into larger instances to reduce fragmentation as demand increases.

[2018-04-17 06:18] thaniyarasu opened #800 "Important : Autoscaler is not stable on load testing"
i have create a fresh cluster(for testing purpose) with aws provider.
My Cluster info is kops(1.9.0),kubernetes(1.10.1),autoscaler(1.2.1),helm(v2.9.0-rc3).
i installed autoscaler by "Auto-Discovery Setup" way by following this https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml
i have enabled proper IAM role,policy

[2018-04-17 09:58] aleksandra-malinowska commented on #800
after 2 mins every container start rebooting by showing the status "Creating Container",etc,etc.

Can you share requests, limits and actual resource usage of your containers during this load test?

Can you check what caused all of those containers to be rebooting at the same time? Those components either aren't autoscaled at all, or have their own autoscaling solution (kube-dns-autoscaler for kube

[2018-04-17 11:09] tcolgate opened #803 "Unregistered nodes are not removed."
The logic for handling unregistered nodes seems off. If we have an unregistered node, we clearly aren't going to be able to schedule workloads on it. If the cluster size is already at minimum capacity, then removing an unregistered node fails:

[code]
Under these conditions we can't remove nodes that have failed to boot. Surely it would make more senese to forcibly terminate the node?

On a relate

[2018-04-17 12:36] aleksandra-malinowska commented on #799
This would be a big change to Cluster Autoscaler. Bin-packing complexity aside, there are other open-ended questions. For example, to avoid disrupting workloads, new nodes should be created first, so that pods from deleted nodes can be rescheduled immediately. But in your case, it wouldn't be possible due to quota, so either some nodes would have to be deleted before creating new ones, or we'd hav

[2018-04-17 13:38] aleksandra-malinowska commented on #778
I don't think we want to attach any cluster-specific names to metrics. As for the number of master nodes, this would be probably easy to add. Would you be interested in contributing to this?

[2018-04-17 14:50] thaniyarasu commented on #800
i didn't specify requests, limits, resources on deployments.
i have enabled autoscaler only on nodes.
i have installed kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/monitoring-standalone/v1.7.0.yaml
and
kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/kubernetes-dashboard/v1.8.1.yaml

cluster autoscaler doesn't remove any nodes d

[2018-04-17 14:51] thaniyarasu commented on #800
i think i have to consider this
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
i am going through this

[2018-04-17 15:37] aleksandra-malinowska commented on #803
This logic was introduced to mitigate #369. Allowing for force deletion of nodes was one of the considered options. It would require extending cloud provider interface and implementing some kind of back-off (to avoid repeated errors on deletion attempts.) It would also mean breaking guarantees regarding respecting minimum and maximum node-group limits. @mwielgus @MaciekPytel should we reopen this

[2018-04-17 16:03] aleksandra-malinowska commented on #800
Setting requests corresponding to realistic resource usage is strongly recommended. In fact, scheduler always assumes some minimal request per container (to avoid placing unlimited number of pods without requests on a single node), but if you were load testing your app, it's likely the node became overloaded as the pods' resource usage spiked. You can try looking at Kubelet logs for restarts/error

[2018-04-17 16:10] dobesv commented on #799
As I've thought of this I think it might be too much to take on right now.  Better to just request a larger limit from AWS when the time comes.

[2018-04-17 16:10] #799 closed

[2018-04-17 16:34] MaciekPytel commented on #803
If I understand correctly the problem happens because ASG won't allow CA to delete a node if it's at min size. However, CA manages min/max size constraints itself and it expects that nodes will be deleted if call to cloudprovider is made. So from the perspective of core CA we consider any delete a force delete. I'd rather not differentiate between different kinds of deletions in core CA as the det

[2018-04-17 16:40] aleksandra-malinowska commented on #803
IIRC, we still wouldn't attempt to delete such node in this case: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/utils.go#L346

[2018-04-17 17:06] MaciekPytel commented on #803
You're right. For some reason<sup>(ENOCOFFEE)</sup> I though we would delete the node.

I think it would make sense to remove the node, though it means we'd be explicitly breaking min/max constraints specified by user. We should at least document it somewhere if we make the change (maybe we should add a section about min/max to FAQ, especially given that we already get a lot of questions about exi

[2018-04-18 06:35] tcolgate commented on #803
FWIW, I'm not sure this breaches any promises about not going below the minimums, at least in the unregistered nodes case. The nodes being removed are not active registered kube nodes, so you aren't removing anything of any use.
  I don't think setting ASG min to 0 is a good approach: Having a minimum on the ASG means that the min/max sizes are maintained even if the controller goes down. If you h

[2018-04-18 07:49] feiskyer commented on #703
@mwielgus For azure support, it may include the whole azure package and related vendors. Let me file a PR and check whether it's acceptable

[2018-04-18 07:49] feiskyer commented on #711
/assign

[2018-04-18 09:29] tcolgate commented on #803
points 1 and 2 make it sound like you really don't want to use the native cloud providers ASGs at all. If you manually remove and recreate nodes you may end up racing with the cloud providers actual ASG logic (what happens if they create a new node while you are recreating one). If you adjust the ASG size before you do it you might aswell just do away with the provider side ASG completely. On bala

[2018-04-18 09:57] aleksandra-malinowska commented on #803
Fair enough, we probably can't assume min != max in AWS setup with auto-discovery (which is what I assume you're referring to.) In GKE, validation enforces max > min when enabling autoscaling for a node-pool. Arguably, setting max == min means we shouldn't autoscale that group (or is there another way to express that?), so ignoring it sounds reasonable.

As for the case with no registered nodes, C

[2018-04-18 10:08] thaniyarasu commented on #800
sorry for my late reply,

Yes, here i have to set resource limits

i use HPA like this, mos
[code]

i use node selector, i leave other options to use default like this
[code]

let me first replicate the issue by installing a single chart, then i will check the logs.

now my question why does the pods under "kube-system" namespace is getting restarted.
is there anyway to force to deploy all pods un

[2018-04-18 11:02] aleksandra-malinowska commented on #800
If node selector matches all of your non-master nodes, and requests weren't the reason pods couldn't be scheduled on existing nodes, I'm not sure why Cluster Autoscaler would scale up the cluster. If you manage to reproduce this, can you please share its log?

That's also my question. Logs from affected components, Kubelets and kube-controller-manager can all help.

There are kube-system pods that

[2018-04-18 11:10] tcolgate commented on #803
Yes, I think so restarting an unregistered node is probably reasonable
(it's actually how I fixed the issue I had while debugging this behaviour
;) ).

On Wed, 18 Apr 2018 at 10:57 Aleksandra Malinowska <notifications@github.com>
wrote:

[2018-04-18 12:45] aleksandra-malinowska commented on #555
/remove-lifecycle stale

[2018-04-18 16:12] MaciekPytel commented on #803
I don't like the idea of extending NodeGroup interface unless absolutely necessary. It's already very hard to implement CA cloudprovider, especially for any sort of on-prem environment. Any extra functionality we require will only make that problem worse.

I would say that's actually true to a large extent. The concept of NodeGroup is a resizable set of identical nodes. ASG just happens to be an i

[2018-04-19 04:28] #711 closed

[2018-04-23 09:05] aleksandra-malinowska commented on #289
I think it's mostly fixed by #715

[2018-04-23 09:05] #289 closed

[2018-04-23 12:18] losipiuk opened #810 "./cluster-autoscaler --version fails if configuration is invalid"
After fresh build of `cluster-autoscaler` running ends up with an error.
Version string is not printed out.

[code]

It seems proper configuration should not be need to get version info.

[2018-04-23 16:14] Globegitter opened #811 "VPA: jsonpatch add operation does not apply"
I have just been starting to test the VPA (currently I am mostly interested in the "initial" to get request and limit resources set based on some metrics). So I created a statefulset without anything in the resource section and getting the following error:
[code]
I would have expected the VPA to be able to set these fields even if they did not exist before.

Once I updated the `Statefulset` it all

[2018-04-24 04:24] resouer opened #812 "How to protect pods from node scale down"
Is there any way to prevent scale down happen if there's some specific pods running on it?

The use case is sometimes, there are some pods that can not be killed until they exit by themselves.

[2018-04-24 09:24] aleksandra-malinowska commented on #812
The cleanest way would be probably to create a PodDisruptionBudget with min unavailable set to 0 (or whatever works for your case.)

See [What types of pods can prevent CA from removing a node?](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node) for more information on what else can prevent a pod from being evicted

[2018-04-24 09:28] aleksandra-malinowska commented on #811
cc @bskiba @schylek

[2018-04-24 09:50] schylek commented on #811
Thanks for reporting this. Could you please provide some details: k8s version, VPA version and YAML of the Statefulset that didn't work?

[2018-04-24 17:03] itskingori commented on #519
/remove-lifecycle stale

[2018-04-24 17:32] resouer commented on #812
Thanks, I think it should be `minAvailable=1`

[2018-04-24 18:09] #812 closed

[2018-04-25 15:32] kgolab opened #814 "DynamicAutoscaler lacks CleanUp call in Reconfigure"
DynamicAutoscaler's Reconfigure method can create a [new Autoscaler](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/dynamic_autoscaler.go#L88) but it does not call CleanUp for it, breaking Autoscaler contract for the wrapped instance.

To be decided whether it's worth fixing, I've heard that DynamicAutoscaler is not actually used anymore.

[2018-04-26 15:33] danbondd opened #819 "cluster-autoscaler-status configmap does not mirror changes in AWS ASG"
I'm not entirely sure if this is an issue, or my misconfiguration, but I am running the `cluster-autoscaler:1.1.0` on `kubernetes:1.9.7` and the cluster-autoscaler-status configmap does not dynamically pull changes made to an AWS Auto Scaling Group.

I manually updated the maxSize of an ASG in the AWS console and the cluster-autoscaler-status configmap was never updated. I waited at least 2 hours

[2018-04-26 15:46] aleksandra-malinowska commented on #819
It's a known issue/feature request: #209, #647. Contributions are welcome :)

Closing as it duplicates the above issues.

[2018-04-26 15:46] #819 closed

[2018-04-26 15:54] prashanth26 opened #820 "Issue with the vendoring"
Hi,
    I was trying to re-vendor (on the release-1.1, release-1.2 and master) using to Godep but was running into these errors. Is the vendoring really broken, or am I missing something here? Any inputs would be helpful.

prashanth@C02V64QBHTD6 ~/G/s/k/a/cluster-autoscaler> git checkout cluster-autoscaler-release-1.1
Branch cluster-autoscaler-release-1.1 set up to track remote branch cluster-auto

[2018-04-26 16:06] aleksandra-malinowska commented on #820
It is broken in a way. For various reasons, mostly dependency on kubernetes/kubernetes and the way kubernetes/kubernetes deals with its own dependencies, simple godep save/restore doesn't work for this component. See https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-update-ca-dependencies-particularly-k8siokubernetes for step-by-step instructions for updating

[2018-04-26 16:43] mwielgus commented on #583
By default there are 2 dns server. Your PDB allows to bring 1 down.

[2018-04-27 19:28] patrickf55places commented on #131
The `lifecycle/rotten` label should be removed; the PR is still active.

[2018-04-30 20:57] innovia opened #821 "helm chart install panic: runtime error: invalid memory address or nil pointer dereference"
**kubernetes ver:** 1.8.7
**ca version:** 1.0.5

**values.yaml:**

[code]

**Rendered Yaml deployment:**
[code]
**ca logs**
[code]

[2018-05-01 07:37] innovia commented on #821
ok this seems like 1.0.x is not able to scale c5 instances

still think that there should be an error message and not a sigsev panic

[2018-05-01 20:54] pkelleratwork opened #822 "Pods hanging in "Pending" - pod didn't trigger scale-up (it wouldn't fit if a new node is added)"
Created cluster via kops on AWS
Desired 4, min 2, max 8
Currently 1 master, 4 nodes. C4/t2.medium respectively
IAM per CA created & assign to master & node groups
CA running in kube-system/master node
Kubernetes v1.8.7
Resource limits on pods are mem/cpu 300/100, matching the CA.
Nodes are not scaling, as expected. Requesting help to move forward, thanks in advance

[code]

[2018-05-01 21:30] pkelleratwork commented on #822
Fantastic Maciek. I can search & post those when I arrive home (on bus now). Much thanks!

[2018-05-01 22:59] pkelleratwork commented on #822
i found it @MaciekPytel

[code]

[2018-05-02 08:18] feiskyer commented on #775
I think this issue has been resolved. Let's close it

/close

[2018-05-02 08:18] #775 closed

[2018-05-02 08:19] feiskyer commented on #776
I think the issues has been resolved. Let's close it.

/close

[2018-05-02 08:19] #776 closed

[2018-05-02 09:12] feiskyer commented on #796
Filed #823 to fix the issue

[2018-05-02 14:36] pkelleratwork commented on #822
hi @MaciekPytel - i think i solved it.
I ran

`$ kubectl taint nodes --all node-role.kubernetes.io/master:NoSchedule-`

all pods are running now, none are in the pending state. Was this the correct approach?

[2018-05-02 17:08] pkelleratwork commented on #822
how can i force the pods to not try deploying to master?  i want them on the nodes.  I've tried adding - but that is not doing anything - still ties deploying to master

[code]

[2018-05-02 21:20] #796 closed

[2018-05-03 07:41] thaniyarasu commented on #800
These changes did fix the issues.
1)  adding resources(both requests and limits)
  resources:
    requests:
      cpu: 512m
      memory: 512Mi
    requests:
      cpu: 512m
      memory: 512Mi
2) upgrade heapster to latest
     k8s.gcr.io/heapster:v1.5.2
     k8s.gcr.io/addon-resizer:2.1

Thanks to all

[2018-05-03 07:41] #800 closed

[2018-05-03 18:48] EPinci commented on #796
@ewok2030, you might want to take note of this... :)

[2018-05-04 09:47] prashanth26 commented on #820
@aleksandra-malinowska Thanks for this. It took me a while to get the dependencies working even with that link. I was missing the _override google api package. Anyways it works now.

Thanks a lot 👍

[2018-05-04 15:45] #470 closed

[2018-05-04 17:05] #820 closed

[2018-05-04 20:41] #822 closed

[2018-05-05 09:02] #438 closed

[2018-05-06 18:06] forkjoseph opened #828 "VPA metrics not retrieved"
I'm getting error
`E0506 18:05:22.698306       6 cluster_feeder.go:259] Cannot get ContainerMetricsSnapshot from MetricsClient. Reason: the server could not find the requested resource (get pods.metrics.k8s.io)
`
from recommender. My Kube version is 1.10
It looks like HPA had same problem?

[2018-05-07 12:53] #494 closed

[2018-05-07 14:14] kaazoo commented on #518
I have the same problem:
[code]

'cluster-autoscaler' pod is restarted 6 times until it finally works:
[code]

[2018-05-07 16:37] pkelleratwork opened #833 "CA tries to add pods to master instead of scaling a new node"
I'm expecting new nodes to scale up instead of adding pods to master. I want to avoid adding pods to master. I am getting `reason: PodToleratesNodeTaints` when it tries to add to master.

What am i missing to scale up nodes?

kops ing
[code]

[2018-05-07 16:52] bskiba commented on #833
The log line "Skipping ip-172-20-51-175.us-east-2.compute.internal - no node group config" tells you that there is a node group in a cluster that  autoscaler sees but it doesn't know about so it won't touch it.

In general you need to tell Cluster Autoscaler which node groups you want to scale. How you do it depends on your cloud provider and the [way you deploy Cluster Autoscaler](https://github.

[2018-05-07 17:04] pkelleratwork commented on #833
@bskiba - thanks you for you quick reply

I created cluster
1) using kops on AWS
2) ran master node setup `kubectl apply -f examples/cluster-autoscaler-run-on-master.yaml`

Is this my mistake? Is that what is making it try to deploy to master node. I understood it as putting the cluster-autoscaler pod in master, not the application pods.

Should i have used `kubectl apply -f examples/cluster-autos

[2018-05-07 17:09] bskiba commented on #833
Looks like it. Note that you need to modify it [here](https://github.com/kubernetes/autoscaler/blob/12daa44e3434527b9c905daf170165c14f20fb57/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml#L139) with your node group name.

[2018-05-07 17:11] pkelleratwork commented on #833
awesome - i'll give it a shot now! thanks!

[2018-05-07 18:06] pkelleratwork commented on #833
@bskiba IT WORKS!!!!!!! Thanks!!!!!

[2018-05-07 18:06] #833 closed

[2018-05-08 06:58] tcolgate commented on #803
I think it's worth considering what the behaviour is when the CA isn't running. If you set the min/max in the cloud providers autoscaling group, (at least on amazon), the cloud provider will make sure the group size stays within the bounds.. If you rely on CA to actually manage the group size (rather than just the bounds), then you may possibly end up with bootstrapping issues (e.g. multizone kops

[2018-05-08 11:44] aleksandra-malinowska commented on #803
This method would be optional, i.e., stub implementation returning "not implemented" error would result in the same behavior as we have now (log an error and go on.)

On GCP, there are no min/max limits in MIGs. Those can only be set for autoscaling (either in GCE/MIG autoscaler, or Cluster Autoscaler.) A MIG stays at a target size (restarting instances that fail health check etc.) unless a user (

[2018-05-08 23:57] andyxning commented on #631
/remove-lifecycle stale

[2018-05-09 03:36] zdoherty opened #838 "EC2 Fleet Autoscaling Support?"
Amazon recently released a feature called [EC2 Fleets](https://aws.amazon.com/about-aws/whats-new/2018/04/introducing-amazon-ec2-fleet/) which appears to consolidate spot fleet requests with EC2 on-demand/auto-scaling group requests. Per [their documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/manage-ec2-fleet.html), this appears to support a similar feature to desired capacity in

[2018-05-09 10:32] markbooch opened #840 "Documents not comprehensible"
the document shows "The /etc/ssl/certs/ca-certificates.crt should exist by default on your ec2 instance."
but no other information indicates the purpose of this requirment, and what does it means the specific certificate?

see more:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas

[2018-05-09 14:05] kgolab commented on #814
Since there are some refactoring efforts planned to beautify CA code, I'd like to invoke Lazy Consensus here.
If there are no objections, in particular from @mumoshu , I'll remove DynamicAutoscaler next week (probably already May 14th).

[2018-05-09 14:45] mumoshu commented on #814
@kgolab Ah, sorry I was a bit late to party.
kube-aws still relies on this feature anyway. Any difficulty to keep it after the refactoring effort? Can I help somehow?

[2018-05-09 18:36] srossross-tableau commented on #113
I think that I have the correct AWS permissions to describe the autoscaling groups

If I exec into the cluster-autoscaler pod and install the `aws` cli. I can run:

[code]

[2018-05-10 11:10] MaciekPytel commented on #814
@mumoshu I thought kube-aws moved from DynamicAutoscaler to PollingAutoscaler a long time ago?

[2018-05-10 11:13] kgolab commented on #814
/assign mumoshu

It's not a big deal to keep the DynamicAutoscaler, and of course I won't remove it, knowing it's still used.

The only tricky part is that I cannot easily test if it still works. But if you could help here, it would be great. Actually, pull request #831 should have fixed the problem mentioned here, could you please verify that using kube-aws?

[2018-05-10 13:26] aleksandra-malinowska commented on #113
Briefly looking at the code, it seems that AWS returns no groups with this name. Based on the error message, method is called with correct group name.

I'm unable to replicate or debug it, but I guess if you get different results for requests made by Go library and command line tool, maintainers of those tools may be better able to help.

[2018-05-10 16:17] beaudryj opened #843 "Windows Nodes?"
With the Azure Support, will this work with Hybrid ACS-Engine Built Environments with Windows Nodes and linux nodes ?

i.e.

[code]

[2018-05-10 17:54] mumoshu commented on #814
@MaciekPytel @kgolab Ah, sorry! You are correct. I was just confused - kube-aws has been migrated to PollingAutoscaler(`--node-group-auto-discovery`) long time ago.

So I have no worry about removing the dynamic config thing now.

[2018-05-14 03:23] feiskyer opened #849 "Autoscaler AKS connection timeout on scaling"
When using autoscaler with Azure Container Service (AKS), the connection of Kubernetes master will timeout for a while when scaling up new nodes.

[code]

Try again immediately, still timeout:

[code]

After scaling up done, the connection will recover. If checking autoscaler logs again, there're also connection timeout errors there:

[code]

By the way, there is **no such issue for acs-engine dep

[2018-05-14 09:46] #643 closed

[2018-05-14 11:44] shyamjvs commented on #383
/remove-lifecycle stale

On Sun, May 13, 2018 at 9:20 PM fejta-bot <notifications@github.com> wrote:

[2018-05-14 16:36] aleksandra-malinowska commented on #525
@bhack is this resolved?

[2018-05-14 18:17] bhack commented on #525
Yes I needed to setup all the required pdb

[2018-05-15 06:58] eliasbalasis opened #853 "Cannot pull autoscaler Docker image + errors"
Having followed the instructions, we are getting in Kubernetes Dashboard:

Failed to pull image "k8s.gcr.io/cluster-autoscaler": rpc error: code = Unknown desc = unauthorized: authentication required
Error syncing pod

My suspicion is that login info is missing for Docker registry k8s.gcr.io

any ideas?

[2018-05-15 07:05] feiskyer commented on #853
Use `gcr.io/google_containers/cluster-autoscaler:v1.2.1`

[2018-05-15 08:06] aleksandra-malinowska commented on #647
/remove-lifecycle stale

[2018-05-15 08:07] #581 closed

[2018-05-15 08:12] DaveTaddei-CR commented on #581
The result of this was an incompatible cluster-autoscaler version used with the kubernetes cluster.  There are now compatibility matrices available.

[2018-05-15 08:47] aleksandra-malinowska commented on #525
Great! Closing this as resolved then.

[2018-05-15 08:47] #525 closed

[2018-05-15 09:09] #753 closed

[2018-05-15 09:36] aleksandra-malinowska opened #857 "Release Cluster Autoscaler 1.2.2, 1.1.3 and 1.0.6"
If you believe something should be included that isn't yet merged to relevant branch, please link a PR with cherry-pick here. Short description of why it's needed would be welcome.

[2018-05-15 09:37] aleksandra-malinowska commented on #857
cc @feiskyer

[2018-05-15 09:41] kgolab commented on #814
Closing as due to #851 this ticket is no longer valid.

[2018-05-15 09:41] #814 closed

[2018-05-15 12:18] eliasbalasis commented on #853
Many thanks,

I used 1.0.5 as it is compatible with my Kubernetes 1.8

However I am now getting

Back-off restarting failed container
Error syncing pod

a few minutes after deployment

any ideas?

[2018-05-15 12:50] feiskyer commented on #853
Seems autoscaler fails to start. Checking its logs could help, e.g. `kubectl -n kube-system logs <autoscaler-pod-name>`.

[2018-05-15 12:52] dhirenrouterabbit commented on #849
What is kuberentes version and cluster-autoscaler image version?

[2018-05-15 14:30] eliasbalasis commented on #853
With a fresh acs-engine Kubernetes 1.10.2 cluster,
I cannot access Kubernetes Dashboard to see same picture as before
but
kubectl --namespace=kube-system logs pod/cluster-autoscaler-8448496c78-ql8p2
doesn't seem to be reporting any errors

I see, the following every 10 seconds
I0515 14:26:07.277528       1 utils.go:456] No pod using affinity / antiaffinity found in cluster, disabling affinity pred

[2018-05-15 15:52] ofcourseican opened #860 "Autoscaling a acs-engine deployed cluster after upgrading deploys the wrong Kubernetes version"
I have the node autoscaler installed in a cluster that I deployed through acs-engine.

After the initial deployment I upgraded the cluster from v1.9.6 to v1.10.1 through the acs-engine upgrade command.

Now whenever the autoscaler scales up, I get a new v1.9.6 node up and running.

I think the autoscaler should deploy a node with the version that cluster is currently running on.

A workaround I ca

[2018-05-15 15:57] aleksandra-malinowska commented on #860
cc @feiskyer

[2018-05-15 16:14] #539 closed

[2018-05-15 23:00] feiskyer commented on #853
Have you tried `http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/workload?namespace=default`?

[2018-05-16 01:52] feiskyer commented on #849
Confirmed this is an AKS internal issue. Let's keep the issue open as a known problem.

[2018-05-16 02:29] feiskyer commented on #857
@aleksandra-malinowska Thanks.

https://github.com/kubernetes/autoscaler/pull/861 cherry picks #813 and #852 to cluster-autoscaler-release-1.2, which adds support of AKS.

[2018-05-16 02:58] feiskyer commented on #860
@ofcourseican Confirmed the issue, this is because of using old deployment templates and parameters (only exists win VMAS clusters).

Delete the autoscaler deployment and secret, then re-deploy autoscaler should fix the issue.

Let me add a document for such cases.

[2018-05-16 03:36] feiskyer commented on #703
Tried last week, there'll be too many vendors upgrade.  Let's only keep 1.10+ support for Azure vmas.

[2018-05-16 04:42] dhirenrouterabbit opened #863 "Azure AKS Kubernetes error "runtime error: invalid memory address or nil pointer dereference""
Kuberentes version: 1.8.7
Cluster-autoscaler image version: v1.0.3

While autoscaling, cluster-autoscaler generates the following error

[code]

[2018-05-16 04:49] feiskyer commented on #863
Hi, @dhirenrouterabbit AKS support is not included in any autoscaler releases yet.  #861 is aiming to include it in v1.2.2.

[2018-05-16 04:50] feiskyer commented on #863
However, build from master works now, e.g.

[code]

[2018-05-16 05:33] feiskyer commented on #863
1.10+. It should also work for v1.9.X, but it's not recommended because autoscaler vendors kube-scheduler while there may be some conflicts with new versioned kube-scheduler.

[2018-05-16 07:49] eliasbalasis commented on #853
I have just re-created the cluster
`http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/#!/workload?namespace=default`
is not responsive.

[2018-05-16 07:52] feiskyer commented on #853
@eliasbalasis What errors have you got? Are dashboard pods in running state?

[2018-05-16 07:55] eliasbalasis commented on #853
[code]

[code]

[2018-05-16 08:18] feiskyer commented on #853
Any errors in pod/kubernetes-dashboard-64dcf5784f-d9xwm logs?

[2018-05-16 08:29] eliasbalasis commented on #853
[code]

[2018-05-16 09:08] feiskyer commented on #853
Seems dashboard Pod is also OK. Not sure what's wrong now. Maybe open an issue in dashboard repo?

[2018-05-16 10:01] eliasbalasis commented on #853
I think the same.

I will raise an issue in dashboard repo.

Thanks for helping.

[2018-05-16 10:09] #853 closed

[2018-05-16 12:55] ofcourseican commented on #860
Sounds like a valid solution for now.

Just one question: Should I get a new azuredeploy.parameters.json after upgrading the cluster? And is there any way to get that file from the running cluster. Asking for a friend of course ;)

[2018-05-17 00:44] #513 closed

[2018-05-17 04:49] feiskyer commented on #860
Confirmed the issue, let me check with acs-engine folks.

[2018-05-17 10:56] aleksandra-malinowska commented on #666
/remove-lifecycle stale

[2018-05-17 13:20] feiskyer opened #877 "Simplify vendor updates for cluster-autoscaler"
Cluster-autoscaler introduces a `fix_gopath.sh` scripts for packages not in kubernetes/kubernetes repo. It makes vendor updates complicated and `godep restore` not working because of commits changed in original packages.

I suggest we switch to godep for all packages, including k/k vendors and outside packages. With this method, a simple vendor update process is only with two commands:

[code]

[2018-05-17 13:33] MaciekPytel commented on #877
@mwielgus is more knowledgeable about it than I am. AFAIK he wrote the script, because we've regularly run into problems with repos that are duplicated in kubernetes /staging (when the repo and what was in staging were out of sync).

[2018-05-17 13:39] feiskyer commented on #877
Do we still have staging sync issues today?

[2018-05-17 15:09] aermakov-zalando commented on #789
I agree with @julianvmodesto. The group template (launch configuration in AWS) is a much better representation on what the newly created node would look like, and this is what matters when scaling up. It also simplifies the mental model of how the autoscaler behaves and gets rid of the nasty edge cases when node configuration is changed. For example, our cluster upgrade process sets a `lifecycle-s

[2018-05-17 17:08] rofreitas opened #881 "Failed to (Auto)Scale nodes on Azure using VMSS"
Kubernetes 1.10.2
Auto Scaler 1.2.1

Error: Specified api-version 2017-03-30 does not meet the minimum required api-version 2017-12-01 to set this property enableIPForwarding.

LOG's POD:
{"log":"E0517 17:01:46.612618       1 azure_scale_set.go:138] virtualMachineScaleSetsClient.CreateOrUpdate for scale set \"k8s-medium-11014877-vmss\" failed: compute.VirtualMachineScaleSetsClient#CreateOrUpdate:

[2018-05-18 01:33] feiskyer commented on #863
@dhirenrouterabbit AKS support now included in https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.2.2. You run it with Kubernetes v1.10.X.

/close

[2018-05-18 01:33] #863 closed

[2018-05-18 04:51] feiskyer commented on #881
@rofreitas This is a known limitation of Azure API. Could you try with autoscalcer 1.2.2 ?

[2018-05-18 11:47] dhirenrouterabbit commented on #863
Thanks for the update but Azure is yet to launch 1.10.X version on AKS. I might have to wait.

[2018-05-18 12:13] feiskyer commented on #863
exactly, AKS will launch 1.10 soon

[2018-05-18 14:49] rofreitas commented on #881
Hello @feiskyer, yes, we have. With 1.2.2 version we have this log once

}
{"log":"I0518 14:08:11.981238       1 azure_client.go:305] azure: using client_id+client_secret to retrieve access token\n","stream":"stderr","time":"2018-05-18T14:08:11.98421133Z"}
{"log":"E0518 14:17:41.987265       1 azure_scale_set.go:199] VirtualMachineScaleSetVMsClient.List failed for k8s-low-11014877-vmss: azure.Bear

[2018-05-19 12:06] feiskyer commented on #881
seems your pod couldn't reach external network. Could you check whether the kube-dns is working as expected?

[2018-05-20 12:56] itskingori commented on #519
It's worth noting that we now have [EC2 Fleets](https://aws.amazon.com/blogs/aws/ec2-fleet-manage-thousands-of-on-demand-and-spot-instances-with-one-request/) ... which probably means the effort should be applied to that since it supersedes Spot Fleets. Also, there's an issue requesting support for EC2 Fleets, see https://github.com/kubernetes/autoscaler/issues/838.

[2018-05-20 13:00] itskingori commented on #838
According to [this official blog post on EC2 Fleets](https://aws.amazon.com/blogs/aws/ec2-fleet-manage-thousands-of-on-demand-and-spot-instances-with-one-request/), auto-scaling group support is still in progress. They say:

Thought it's worth mentioning since it's greatly affects design/implementation.

[2018-05-20 21:14] tobiasrosenhoff opened #884 "Failing to scale nodes with AKS"
I'm trying to get cluster-autoscaler working with AKS, and I get the following errors.

Kubernetes version: v1.9.6
Cluster-autoscaler version: v1.2.2

1 scale_up.go:59] Pod default/php-apache-7ccc68c5cd-vrxzp is unschedulable
1 scale_up.go:446] No node info for: agentpool
1 static_autoscaler.go:304] Failed to scale up: failed to find template node for node group agentpool
1 static_autoscaler.go:18

[2018-05-21 01:43] feiskyer commented on #884
@tobiasrosenhoff What's the status of cluster-autoscaler? e..g  the output of ` kubectl -n kube-system describe configmap cluster-autoscaler-status`

cc @kkmsft

[2018-05-21 07:25] tobiasrosenhoff commented on #884
@feiskyer @kkmsft thanks for your reply. :)

Name:         cluster-autoscaler-status
Namespace:    kube-system
Labels:       <none>
Annotations:  cluster-autoscaler.kubernetes.io/last-updated=2018-05-21 07:20:22.915143203 +0000 UTC

Data
\====
status:
\----
Cluster-autoscaler status at 2018-05-21 07:20:22.915143203 +0000 UTC:
Cluster-wide:
  Health:      Healthy (ready=3 unready=0 notStarted=0 lon

[2018-05-21 07:38] feiskyer commented on #884
According to the status, all nodes are marked as unregistered. There's possible configuration errors. Have you configured all required parameters according to [here](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure#aks-or-acs-deployment). Also could you check whether there are errors in autoscaler pod? e.g. by `kubectl -n kube-system logs <autoscaler-pod-

[2018-05-21 09:16] aleksandra-malinowska commented on #131
/remove-lifecycle stale

[2018-05-21 10:43] tobiasrosenhoff commented on #884
I've base64 encoded all values with lowercase. ClientID, ClientSecret and TenantID is output from "az ad sp create-for-rbac ..." command.

ClientID: appId
ClientSecret: password
ResourceGroup: The resource group where AKS i located. In our case: inception
SubscriptionID: The Subscription ID
TenantID: tenant
Deployment: Wasn't able to find this in the deployment [template?](https://github.com/kuber

[2018-05-21 10:58] rofreitas commented on #881
Hi @feiskyer , thank you for answering me.

You are right. As I had deleted and recreated the cluster using ACS and I had forgotten to associate route table to subnet on Azure. After do that the autoscaler 1.2.2 worked very well.

For others with the same problem, after generate the files with ACS generate, changes the "azuredeploy.parameters" for

    "kubernetesClusterAutoscalerSpec": {
      "v

[2018-05-21 12:18] feiskyer commented on #881
FYI: acs-engine has upgraded cluster-autoscaler to v1.2.2. See https://github.com/Azure/acs-engine/pull/3014

[2018-05-21 14:25] #881 closed

[2018-05-21 14:25] rofreitas commented on #881
Thanks.

[2018-05-21 15:40] kkmsft commented on #884
@tobiasrosenhoff - Thank you for trying out the AKS autoscaler.
Can you please:
1. Increase the verbosity of the logging - by changing the following line in the command line of cluster-autoscaler to 5 (- --v=5) from 3 and provide us those logs.
2. Provide the output of the following from one of the worker nodes in the cluster
kubectl get nodes <node name> -o json | grep providerID
(note that the c

[2018-05-21 18:51] tobiasrosenhoff commented on #884
@kkmsft - Thanks for helping me out!

**This is output from kubectl get nodes aks-agentpool-16882496-0 -o json | grep providerID**

**This is verbose logging when container has started**

**This is verbose logging with triggering scale up:**

[2018-05-21 19:36] kkmsft commented on #884
@tobiasrosenhoff

I am trying to repro this in-house in a similar version cluster. Will get back to you.

Typically, in the clusters, I see the label marked as "kubernetes.azure.com/cluster=MC_node_resource_group", but in the tags in you cluster above, I don't see them. Will dig a deeper there too.

Meanwhile, if its possible, can you please make the node resourcegroup value  "MC_inception_incepti

[2018-05-21 19:41] tobiasrosenhoff commented on #884
@kkmsft @feiskyer
After changing NodeResourceGroup, from mc_inception_inception-aks_westeurope to MC_inception_inception-aks_westeurope it now seems to be working. The scale up event was successful and I got another node. The scale down seems to be taking some time tho. I'll get back if that don't work.

The documentation stats that NodeResourceGroup should be in lowercase, so maybe that should be

[2018-05-21 19:55] kkmsft commented on #884
@tobiasrosenhoff

Thank you for trying this out. Good to know that scale up worked.

Will fix the documentation issue.

One quick question: Can you please confirm that in your cluster, the "kubernetes.azure.com/cluster" label is missing (kubectl get nodes --show-labels) ?

[2018-05-22 02:02] feiskyer commented on #884
@tobiasrosenhoff Glad to see issues fixed

[2018-05-23 13:53] tmwtp opened #890 "Autoscaler 0.6.2 crashing - Failed to describe ASG tags - NoCredentialProviders"
Hi,

We have the 0.6.2 version installed and running on our clusters for some time now.

I am trying to deploy it into one of our lab clusters now and getting the following error:

I0523 13:41:00.590344       1 auto_scaling.go:133] Failed to describe ASG tags for keys [k8s.io/cluster-autoscaler/enabled kubernetes.io/cluster/XXXXXXXXXX] : NoCredentialProviders: no valid providers in chain. Deprecat

[2018-05-23 21:49] lchen223 opened #891 "cluster-autoscaler not scaling down due to daemonsets"
cluster-autoscaler cannot scale down due to kube-flannel-ds daemonset running in kube-system namespace and dd-agent (datadog) daemonset running in default namespace:

[code]

I don't believe the replicated rule apply here.  How do I get around this so that cluster-autoscaler can scale down?

[2018-05-23 21:56] #891 closed

[2018-05-23 21:56] lchen223 commented on #891
nm:
cluster-autoscaler.kubernetes.io/safe-to-evict: "true"

[2018-05-24 06:06] feiskyer commented on #884
let's close this issue since it has been resolved

/close

[2018-05-24 06:06] #884 closed

[2018-05-24 11:45] Sturgelose opened #892 "Autoscaler + Jobs + Scheduler (RoundRobin) = overrequest of resources"
We are using Node Autoscaler in AWS in order to manage our batch processing spikes done with kubernetes Jobs at certain hours of the day. However we are seeing a bit of incompatibility between the default kube-scheduler logic and Autoscaler.

1. Autoscaler won't kill nodes if there are Jobs running (expected). We can't stop a Job mid way.
2. kube-scheduler always deploys pods with a round-robin sc

[2018-05-24 12:48] aleksandra-malinowska commented on #892
The taint's effect should probably be PreferNoSchedule. This way, Cluster Autoscaler wouldn't even need to remove it to allow scheduling pods on a node if there's no place elsewhere in the cluster. It would have to untaint the node only if it was no longer a candidate for removal (and probably clear it at startup/shutdown time, too.)

Adding the taint for nodes that are already candidates for scal

[2018-05-24 13:21] Sturgelose commented on #892
True, I just started today going through the documentation of the scheduler and taints, so didn't know about the PreferNoSchedule 😅

Anyways, my proposal was more related towards the case where I have 2 candidate nodes to be downscaled (which is usual in my cluster). These 2 nodes have been marked as candidates during the last 3 hours, but they are not being evicted because of the jobs being sched

[2018-05-24 14:25] aleksandra-malinowska commented on #892
Not sure if we mean the same thing by "candidate" - in its internal state, Cluster Autoscaler only tracks nodes that are underutilized and can be drained in simulation. A node with pods that belong to a Job (or don't belong to any controller) won't be considered. In your example, we'd like to taint such node. On the other hand, a node running a kube-system pod also won't be considered, and we don'

[2018-05-24 14:35] Sturgelose commented on #892
Sorry, about candidate, I meant what is shown here in the ConfigMap created by clusterAutoscaler to track what is happening:
[code]
As you see, I have 1 "candidate" to be evicted. The reason is that right now I have only 1 pod of a job running there, but it's not triggering any scale down because of it being part of a job. So I guess that it's a candidate to scale down because of its resources usa

[2018-05-24 14:43] jessfraz opened #893 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 14:53] aleksandra-malinowska commented on #892
Can you provide Cluster Autoscaler logs related to nodes in that node group? Status is updated using the same list of nodes as is used for actual scale-down. If we were considering nodes, but not removing them because of a known blocker (in this case, non-replicated pods), it would suggest there's a bug.

[2018-05-24 15:08] Sturgelose commented on #892
Here you have (I changed some names for privacy reasons ;) )
[code]

[2018-05-24 15:15] aleksandra-malinowska commented on #892
OK, it sounds like it may be a bug then. We shouldn't treat Job pods as replicated (I think.) cc @mwielgus - WDYT?

[2018-05-24 16:52] aleksandra-malinowska commented on #530
@Stono have you been able to resolve it?

[2018-05-24 21:17] a200462790 opened #894 "CA Scale Down Fails because of Daemonset utilization"
Hello,

Is there a way to disregard daemonsets(or certain pods) when considering the utilization of a node to scale down?

I have tried adding the annotation:
`cluster-autoscaler.kubernetes.io/safe-to-evict: "true"`

but the cluster autoscaler still seems to not kill nodes with high utilization due to daemonsets:

`<node name> is not suitable for removal - utilization too big (0.631092)`

[2018-05-25 09:30] aleksandra-malinowska commented on #894
Not really. Annotation marks pod as safe to evict, but the decision to drain the node is based on total utilization.

[2018-05-25 10:31] a200462790 commented on #894
Thanks for for the reesponse!

I do wonder if this should be the way it behaves. It seems like a some of the other logic used to determine if a node can be removed does not consider pods that:

like daemonsets

[2018-05-25 10:50] aleksandra-malinowska opened #896 "Cluster Autoscaler release 1.3"
This issue is for tracking tasks that are must-have for 1.3:
- [x] update godeps to include kubernetes/kubernetes#62180

[2018-05-27 20:48] ChMarco commented on #884
I have an issue with autoscaler seems that is missing some authorizations ... on the master it works ...
I created even a separated namespace with a user but still the same  #issue
helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390e

[2018-05-27 20:53] ChMarco opened #898 "Helm - Rbac - Autoscaling nodes apiserver:nodes is foridden"
I have an issue with autoscaler seems that is missing some authorizations ... on the master it works ...
I created even a separated namespace with a user but still the same #issue
helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390eb

[2018-05-28 02:18] feiskyer commented on #884
@ChMarco Seems you are using 0.6.0? Only v1.2.2 supports AKS now

[2018-05-28 09:18] MaciekPytel commented on #898
You're running an old and no-longer supported version of Cluster Autoscaler. CA 0.6 was meant to work with Kubernetes 1.7 and has not been updated for newer Kubernetes. For 1.9 cluster you should be using Cluster Autoscaler 1.1.X.

Helm chart you're using is not maintained by Cluster Autoscaler maintainers. You should contact the maintainer of the chart to update it. Alternatively you can deploy C

[2018-05-28 12:27] ofcourseican commented on #860
@feiskyer any progress on this? Can I help sorting this out in any way?

[2018-05-28 12:32] feiskyer commented on #860
@ofcourseican not yet, acs-engine should be updated and save new generated templates/parameters when running upgrade.

[2018-05-28 16:16] igauravsehrawat commented on #254
@JorgeCeja
Quick question: Have you been able to scale up digital ocean using auto scaler? When I use SPC with `auto scaler` solution. I get an error during initialization `Error installing node_autoscaler: Failed to set up autoscaler, cannot get machine specs`.

Did/have you encountered this kind of problem with Digital Ocean?

Thanks

[2018-05-29 02:19] wskinner opened #903 "CA does not scale up from zero nodes in group"
**What happened**:
Cluster Autoscaler will not scale up from zero nodes. However, it will scale up from one node.
I have a node group whose template includes p2.xlarge GPU instances. With zero running instances in my gpu-nodes node group, I create a new Job that requests 2 pods, each with 1 GPU. The pods are unschedulable, and CA logs show:
```I0524 15:30:32.066956       1 factory.go:33] Event(v1.

[2018-05-29 07:40] bskiba commented on #903
@mumoshu I'm not sure how GPUs are handled by scale from 0 in aws, can you help?

[2018-05-29 08:05] jevin36 opened #907 "Are there any plans on an implementation for Rancher 2.0 for autoscaling"
Hi,

is are there any plans on implementing a cloud provider that is using the Rancher 2.0 API for scaling a cluster up or down?

Regards

[2018-05-29 09:38] thomaschaaf opened #908 "Spare nodes to schedule pods during deployment"
The cluster autoscaler currently works very efficiently for us and it is always utilizing the machines to their full capacity. However this is currently slowing down our deployments if the cluster does not have enough spare capacity to allow scheduling of the pods during a deployment we have to wait 5 minutes for the nodes to come up to be able to schedule the new pods.

Is there an option to alwa

[2018-05-29 09:39] nightsoundars opened #909 "New logo design for the project"
Hello! I want to contribute on your project with making logo design. What do you think about it?

[2018-05-29 10:21] MaciekPytel commented on #908
There is no such feature in Cluster Autoscaler (there were multiple attempts to implement it, but it turned out it's very hard). Currently we recommend using scheduler priority and preemption to get this, as described in our FAQ: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler.

[2018-05-29 11:58] aleksandra-malinowska commented on #795
Closed by #906

[2018-05-29 11:58] #795 closed

[2018-05-29 12:10] bskiba commented on #907
Not that I know of but we do accept contributions.

[2018-05-29 15:19] aleksandra-malinowska opened #911 "Filter out Failed/Succeeded pods in all calls"
See discussion in #904

[2018-05-29 18:26] wskinner commented on #903
@mumoshu I thought I had added those tags but I hadn't. Now that I have them, I am seeing a different issue. The logs say scale up failed due to insufficient GPUs.

`
I0529 18:18:13.297024       1 utils.go:432] No pod using affinity / antiaffinity found in cluster, disabling affinity predicate for this loop
I0529 18:18:13.297494       1 scale_up.go:54] Pod engine/distributed-job-9xd62 is unschedul

[2018-05-30 07:27] mansoorcheema opened #913 "AKS - Autoscaler Pod fails to find nodepool scaleset"
**Kubernetes**  1.9.6
**Autoscaler**  1.1.2
**Cluster Type** AKS

node pool name extracted from label agentpool from command
 _**kubectl get nodes --show-labels**_

| NAME            |           STATUS  |   ROLES |    AGE  |     VERSION  |  LABELS |
| --------------  | ---------------- | -------- | -------- | ------------- | --------- |
| aks-nodepool1-40256392-0 |   Ready |    agent  |   7d  |

[2018-05-30 07:30] feiskyer commented on #913
AKS doesn't run on vmss yet, [AKS deploy guide](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#aks-or-acs-deployment) should be used (instead of vmss).

[2018-05-30 07:39] mansoorcheema commented on #913
Yes. I am following the AKS deploy guide where it mentions that

        - --nodes=3:10:nodepool1

From this guide the AKS yaml file [cluster-autoscaler-containerservice.yaml](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml) accepts command arguments where  i pass _**- --nodes=3:10:nodepool1**_ where nodepool1 is

[2018-05-30 10:48] kgolab commented on #383
/assign kgolab

[2018-05-30 22:11] ReillyProcentive commented on #857
FYI, it looks like 1.1.3 and 1.0.6 weren't released successfully. They don't show up on the releases page and weren't uploaded to the Google container registry.

[2018-05-31 08:59] aleksandra-malinowska commented on #857
@ReillyProcentive you're correct, they're in staging at the moment. 1.2.2 was released and included in 1.10.3. The reason for this is that patch releases for K8s 1.8 and 1.9 are much less frequent. Sorry for not communicating about it better, we're still working on improving the process here!

[2018-05-31 14:46] danilina-wsib opened #914 "vertical-pod-autoscaler fails on DaemonSet"
I've created a VPA for sysdig (the monitoring tool) daemon set with "Initial" update policy. After recommendation was generated, I've restarted the pods, and the new pods fail to start with the following error:
[code]

[2018-05-31 14:48] danilina-wsib commented on #914
Sorry, did not notice this at first, but this seem to be a duplicate of #811

[2018-05-31 14:48] #914 closed

[2018-05-31 14:52] danilina-wsib commented on #811
I had the same issue on a DaemonSet:
k8s v1.9.6
vpa-updater:v0.1.0
YAML:
[code]

[2018-05-31 17:49] danilina-wsib commented on #811
Also, just got the same error on regular deployment's replica set - replica set has 0 pods
[code]

[2018-05-31 18:29] danilina-wsib commented on #811
Looks like this happen whenever a controller manifest doesn't define requests resources document.

[2018-06-01 05:45] #909 closed

[2018-06-01 12:13] #908 closed

[2018-06-01 17:56] wskinner commented on #903
@mumoshu Any idea what's going on here?

[2018-06-02 18:56] trondhindenes commented on #790
I can repro. Because of some limitations with the "cloud-provider" flag in kube-apiserver/kubelet, we're running non-aws-integrated clusters on ec2. I'd still like to use autoscaling instead of building my own. I'm assuming this is why this error appears:
`clusterstate.go:517] Failed to get nodegroup for ldm-0110069: Wrong id: expected format aws:///<zone>/<name>`

I guess my question is: Is there

[2018-06-02 21:05] trondhindenes opened #918 "[cluster-autoscaler]: parameter documentation"
I can't find any documentation of all parameters - forcing me to download binary and running --help. It would be awesome to have a complete list of all parameters and their use.

[2018-06-04 01:32] MirzaSikander opened #919 "panic: runtime error: invalid memory address or nil pointer dereference"
ACS-engine: `0.17.1`
Kubernetes version: `1.8.13`
CA version: `v1.0.5`
Using `standard` deployment.

Error message:
[code]

Yaml used to deploy:
[code]

[2018-06-04 02:37] feiskyer commented on #919
@MirzaSikander Azure support requires CA v1.2+,  could you try CA v1.2.2 instead? See more [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#kubernetes-version)

[2018-06-04 02:42] feiskyer commented on #849
@mansoorcheema I'm running CA v1.2.2 on AKS, though k8s v1.9.x is running. There may be scheduler issues for such run, but it's ok for validating basic CA operations.

[2018-06-04 02:46] feiskyer commented on #913
From the logs above, you are running in vmss mode. Could you try to redeploy CA based on cluster-autoscaler-containerservice.yaml?

[2018-06-04 08:39] MirzaSikander commented on #919
Interesting. That requires kubernetes version `1.10.X`. Acs-engine `0.17.1` which is the latest is installing kubernetes version `1.8.13` by default for linux only clusters. Should I force it to install a newer version or should I just try CA `v1.2+` with `1.8.13`

[2018-06-04 08:41] aleksandra-malinowska commented on #790
Set ProviderId field in node's spec.

Cluster Autoscaler resizes the cluster by deleting or creating VMs. In particular, it needs to know which VM to delete to make a specific node disappear. The only way to find out this information is from the node's ProviderId field. What the kubelet flag does is (among other things) make sure all nodes have this field set to the id of the underlying VM. The fo

[2018-06-04 09:02] aleksandra-malinowska commented on #911
The cache is initialized using pods which (I think) should be already filtered: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/cluster.go#L69

[2018-06-04 09:54] bskiba commented on #918
I know it's far from ideal, but all the flags available should be present in the main.go file:
https://github.com/kubernetes/autoscaler/blob/947ddd8c0309e22cff8e909799ee43ed08bd0027/cluster-autoscaler/main.go#L73

[2018-06-04 11:49] trondhindenes commented on #790
Thanks @aleksandra-malinowska  - I guess all of this points back to the fact that the "cloud-provider" stuff in Kubernetes core simply aren't well enough documented. It's incredibly hard to figure out what "happens" when the cloud provider flags aren't set.

[2018-06-04 12:12] sujithvs74 commented on #790
I followed https://docs.google.com/document/d/17d4qinC_HnIwrK0GHnRlD1FKkTNdN__VO4TH9-EzbIY/edit to enable cloud provider for my cluster, after that I didn't see above error. But its true cloud-provider integrations are not well documented.

[2018-06-04 20:03] whereisaaron commented on #209
Had the same experience with ca 1.0.5 with k8s 1.8.13 on AWS with autodiscovery. When I change the min/max cluster size, the cluster-autoscaler never updates to match. Then it make incorrect scaling decisions base on the old ASG settings.

[2018-06-05 01:20] mumoshu commented on #903
@wskinner Hi. Thanks for the report!

I took some time to read the relevant code, and it turns out the aws provider does seem to support the scale-from-zero feature for gpu nodes. So my guess is that we're still missing something. Would it be possible that your cluster-autoscaler is outdated, hence missing [a fix relevant to the feature](https://github.com/kubernetes/autoscaler/commit/4eb83911df6a

[2018-06-05 01:27] whereisaaron commented on #647
`cluster-autoscaler` already appears to have the [functionality with `--autodiscover`](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/auto_scaling.go#L78) to discover AWS ASGs and the min/max settings at start-up. The feature here would be to periodically re-run that discovery process and either update or entirely replace state.

The workaround is a CronJ

[2018-06-05 02:38] feiskyer commented on #919
@MirzaSikander acs-engine supports all latest releases. The version could be set via `orchestratorRelease`. I suggest deploying new releases.

[2018-06-05 11:40] alexnederlof commented on #321
Hmm doesn't work for me. I get `Insufficient nvidia.com/gpu`. Does someone see what I'm doing wrong here? This is on Kubernetes v1.9.6 with autoscaler 1.1.2. Could it be that `nvidia.com/gpu` is not registered correctly in that node template?

I have two instance groups, one with cpus, and a new one I want to scale down to 0 nodes called gpus, so `kops edit ig gpus` is:
[code]

And the autoscaler

[2018-06-05 13:30] RyPeck commented on #709
Hit this issue attempting to use EC2 Scheduled Scaling for an Amazon EC2 ASG. Was surprised, but it makes sense. I always thought it was funky to have the CA and the ASG manage the size of the group. Hoping to get logs to you later @MaciekPytel

Looking at https://github.com/k8s-restdev/scheduled-scaler instead. Looking around for other solutions as well.

It would have been sweet and simple as an

[2018-06-05 18:09] wskinner commented on #903
@mumoshu I'm on k8s 1.8, and this language scared me:

The compatibility matrix suggests only the 1.0.x branch is compatible with my Kubernetes version.
I did try 1.2.0 as you recommended, and encountered this:
` I0605 18:08:10.826924       1 scale_up.go:59] Pod <podname1> is unschedulable
I0605 18:08:10.826977       1 scale_up.go:59] Pod <podname2> is unschedulable
I0605 18:08:11.533804       1 s

[2018-06-06 11:16] schylek commented on #811
I can confirm that there is an issue - I had troubles with recreating it since vanilla kubernetes has LimitRange defined and resources were never empty for me :)

I'll prepare a fix.

[2018-06-06 11:56] gtie opened #923 "Cluster Autoscaler erroneously triggered during PVC binding"
Scaling up is currently triggered by any uschedulable pod. A pod can be unschedulable for just a few seconds, however, while it's waiting for a volume to be bound. Those few seconds are enough for Cluster Autoscaler to kick off the creation of a new instance.

Here is how the sequence looks in the event stream:
[code]

In my particular case, where the above bug is combined with a high concentratio

[2018-06-06 12:14] komljen opened #924 "CA reports kube-dns pod as non-mirrored, but there are 2 replicas running on different nodes"
On my cluster deployed with kops CA won't scale down a node because it reports kube-dns pod as non mirrored:

[code]

But there are 2 replicas of that pod:
[code]

Versions:
 - kops 1.9.1
 - k8s 1.9.6
 - CA 1.1.2

[2018-06-06 12:30] komljen commented on #924
Just saw more explanation here https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

[2018-06-06 23:15] cfe84 commented on #913
Autoscaler 1.1.2 supports only VMSS, there's a very clear indication at top of the README that AKS is supported only from 1.2. Minimum for AKS is 1.2.x, which requires k8s 1.10. What you're seeing is CA assuming you have a VMSS and failing to find it.

▶️ This is isn't supported yet.

[2018-06-07 01:47] mumoshu commented on #903
@wskinner I understand your situation. Then my best recommendation is cherry-pick https://github.com/kubernetes/autoscaler/commit/4eb83911df6a673e18417238b8a317298bdad2c6 into CA v1.0.x and build your own docker image from that.

[2018-06-07 06:32] #811 closed

[2018-06-07 09:39] gtie commented on #923
@MaciekPytel , updated original description with the version (answer is v.1.2.2)

[2018-06-07 11:19] alexnederlof opened #929 "Autoscaler doesn't recognize nvidia.com/gpu when scaling up from 0 to n nodes on AWS."
I setup a GPU pool, and autoscaler works fine scaling up from 1 to n nodes, but not from 0 to n nodes. The error message is:

[code]

This is on Kubernetes 1.9.6 with autoscaler 1.1.2.

The nodes carry the label `kops.k8s.io/instancegroup=gpus`, which is also present in the autoscaler group on AWS:

[code]

If I start a node, I see it has the required capacity:

[code]

This is the simple deployme

[2018-06-07 11:32] alexnederlof commented on #929
Sorry this is a duplicate of #903

[2018-06-07 11:32] #929 closed

[2018-06-07 11:33] alexnederlof commented on #903
I reported the same thing in #929:

I setup a GPU pool, and autoscaler works fine scaling up from 1 to n nodes, but not from 0 to n nodes. The error message is:

[code]

This is on Kubernetes 1.9.6 with autoscaler 1.1.2.

The nodes carry the label `kops.k8s.io/instancegroup=gpus`, which is also present in the autoscaler group on AWS:

[code]

If I start a node, I see it has the required capacity:

[2018-06-07 13:33] aleksandra-malinowska commented on #924
Closing as this seems resolved.

[2018-06-07 13:33] #924 closed

[2018-06-07 15:22] derekrgoss commented on #530
@Stono I am also encountering a similar issue on GKE. I have not set any labels at all- does the default scaling functionality require labels?

[2018-06-07 16:45] aleksandra-malinowska commented on #530
@derekrgoss No, there's no need for labels unless you want to use node selectors. Can you share a bit more about your setup (pod request and any node selector, node group spec)?

[2018-06-07 17:21] MirzaSikander commented on #919
@feiskyer I tried using `orchestratorRelease` to force it to deploy kubernetes version `1.10.4` but it still deployed `1.8.13`. Here is my cluster spec file.

[code]

[2018-06-07 23:29] eherot opened #933 "Consider making UnremovableNodeRecheckTimeout configurable"
When trying to debug the autoscaler it's pretty annoying when it wants to sit on a decision for 5 minutes.

[2018-06-08 02:32] feiskyer commented on #919
`orchestratorRelease` sould be set to `1.10` while `orchestratorVersion` is used to set specific version (e.g. `1.10.4`.

[2018-06-08 12:31] aleksandra-malinowska opened #936 "Azure cloud provider requires dependencies not provided in kubernetes/kubernetes or _override"
After godeps update, build fails with:
[code]

It seems the dependency in question was removed from kubernetes/kubernetes repo ~month ago: https://github.com/kubernetes/kubernetes/commit/b1b930a39b5a602611023b47fea1063acfd5bc53#diff-681659ab9abb4b4883e78e8aaa980dba

@feiskyer can you please either update cloud provider code to no longer rely on this dependency, or add it to _override?

[2018-06-09 09:02] feiskyer commented on #936
@aleksandra-malinowska Are you trying to update vendors of k8s? There're a few client updates in new 1.11 release, which use different SDK packages now. Azure related codes should be updated together to make it work.

[2018-06-09 09:02] feiskyer commented on #936
And is it the right time of updating to v1.11 branch? If so, I can do that instead

[2018-06-09 09:43] r-divakaran opened #941 "Autoscaler is not scaling down or up"
Hello,

I have installed auto scaler using helm, the command used is as below
[code]

Kubernetes version
[code]

The cluster is having 15 nodes and one master. There are no much pods installed and I wanted to see if auto scaler will scale down. From the logs.
[code]
Can some one give me a clue !?

I have reduced number of pods running in kube-system as I read auto scaler will not scale down a node

[2018-06-09 12:39] mwielgus commented on #936
Either way works. The goal is to have a ClusterAutoscaler version with the updated godeps (to 1.11) by next Wednesday (June 13th) noon, CEST. As the current release process seems to be more strict than before, we want to push stuff earlier.
If you run into problems, please let us know ASAP. We would hate to be forced to comment out whole cloud providers to get the thing compiled and pushed to e2e

[2018-06-11 07:21] feiskyer commented on #936
Filed #942 to fix this

[2018-06-11 07:56] mohmagdy opened #943 "autoscaller donot work after changing min and max limits"
i have cluster autoscaler installed , initially my max cluster size was 2 and then i removed the autoscaler and reinstall it with higher cluster size of 10 , however the autoscaling donot work and i am getting below error in autoscaler pod logs

`static_autoscaler.go:245] Failed to scale up: failed to increase node group size: ValidationError: New SetDesiredCapacity value 3 is above max value 2 fo

[2018-06-11 08:14] r-divakaran commented on #941
I see this behaviour from logs. These are settings I am having
[code]

But from logs
[code]

Thanks

[2018-06-11 08:50] kgolab opened #944 "Migrate leader election to use Lease objects"
As commented [by @liggitt](https://github.com/kubernetes/kubernetes/pull/64503#discussion_r194060708) and [@wojtek-t](https://github.com/kubernetes/kubernetes/pull/64503#discussion_r194326600) in [PR 64503](https://github.com/kubernetes/kubernetes/pull/64503) we should at some point migrate leader election to use newer API, preferably Lease objects.

The new API is expected in Kubernetes 1.12.

[2018-06-11 10:34] r-divakaran commented on #943
Hey @mohmagdy how did you create the kubernetes cluster, using KOPS !?
If yes, verify if the min and max size of nodes set via KOPS matches to what is configured in autoscaler.

[2018-06-11 10:37] r-divakaran commented on #941
I think I found the cause. I am using KOPS to create my cluster and in the instance group setting the min size of nodes were set to 15, this could be conflicting when cluster-autoscaler was trying to remove node size.
After I updated the nodes minSize and maxSize in KOPS config to match with that in cluster-autoscaler, scale down happened.

[2018-06-11 10:37] #941 closed

[2018-06-11 10:56] aleksandra-malinowska commented on #943
On AWS, ASG limits must match (or exceed) those set for CA. Also see #647 for more information about this setup.

[2018-06-11 10:56] #943 closed

[2018-06-11 11:00] aleksandra-malinowska commented on #933
It should be fairly easy to add a flag for this. Would you like to contribute?

[2018-06-11 11:48] #936 closed

[2018-06-11 13:53] bob-shih opened #951 "CA-1.0.3 AWS - unable to scale up from 0"
Issue summary:
Although CA could scale down nodes to 0 and can scale up from 1 node and above, however, it always failed to scale up from 0.
(Note: the node is tainted and deployment is via "nodeSelector".)

Versions used:
CA:         1.0.3
Kube:       1.8.5
Cloud:      AWS
EC2 type:   m5.4xlarge

AWS ASG tags applied:
k8s.io/cluster-autoscaler/node-template/label/kubernetes.io/role worker-general

[2018-06-11 14:48] aleksandra-malinowska commented on #951
Looks like a duplicate of #821. You can try using a newer version of Cluster Autoscaler. The panic is _possibly_ caused by old AWS code being unable to handle newer instance types.

[2018-06-11 14:48] #951 closed

[2018-06-11 15:43] bob-shih commented on #951
Hi Aleksandra,
My issue is my Kube version is 1.8.5 and according to "https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler", I will need to use CA version 1.0.X. The latest version that I could pull is 1.0.5 that still does not work and CA still "panic" when trying to upscale from 0.  (Btw, my EC2 type is m5.4xlarge that is not such a latest addition.)

Thanks.

Bob

[2018-06-11 15:55] aleksandra-malinowska commented on #951
The guidelines are based on the configurations that have been tested by Cluster Autoscaler maintainers on GCP. To the best of my knowledge, there hasn't been any such tests on AWS, but there are user reports of configurations that work. See discussion in the other issue - it seems the problem there was with a similar instance type.

[2018-06-11 15:57] aleksandra-malinowska commented on #821
Completely agree. Would you be interested in contributing to this?

[2018-06-11 16:08] bob-shih commented on #951
Hi Aleksandra,
Thanks for the pointing out that the guideline is not applicable to all.  CA v1.2.2 seems to work with my Kube 1.8.5 in AWS for EC2 instance type m5.4xlarge.  It has successfully upscaled from 0.

[2018-06-11 16:57] aleksandra-malinowska commented on #951
Glad to know it works for you now. Also, contributions are welcome, and if you'd like to help get rid of those panics, just send a PR :)

[2018-06-12 00:29] #383 closed

[2018-06-12 01:47] tjliupeng opened #953 "Is it possible to run k8s autoscaler on our own cluster?"
Hi, guys,

According to the autoscaler document, it should be run on GCE, GKE, Azure or AWS cluster. I am just wondering whether it can run on our own k8s cluster in our private cloud.

Thanks!

[2018-06-12 09:08] kgolab commented on #953
Hi @tjliupeng,

I guess you'd need to provide your own implementation of the ```CloudProvider``` interface as I suspect that your private cloud does match any of the existing implementations.

[2018-06-12 10:01] tjliupeng commented on #953
What do you mean "provide your own implementation of the CloudProvider interface"?

[2018-06-12 13:09] aleksandra-malinowska commented on #953
Cluster Autoscaler adds or removes nodes from the cluster by creating or deleting VMs. To separate the autoscaling logic (the same for all clouds) from the API calls required to execute it (different for each cloud), the latter are hidden behind an interface. Each supported cloud has its own implementation of it, and `--cloud-provider` flag determines which one will be used. All code related to th

[2018-06-13 00:56] tjliupeng commented on #953
Thanks for the detail explanation, @aleksandra-malinowska

[2018-06-13 00:56] #953 closed

[2018-06-13 04:49] bnookala opened #958 "ACS-engine private cluster with jumpbox enabled prevents autoscaler deployment"
I've got a cluster deployed with acs-engine v.18.1. I tried adding the cluster autoscaler 1.2.2 for acs-engine to the project, and got as far as deploying, but found this error from the logs:

[code]

From the azure arm template, there are indeed two network security groups - one for the cluster, and the other for the jumpbox we provisioned with the cluster.

Removing the jumpbox profile from the

[2018-06-13 05:50] feiskyer commented on #958
@bnookala This should be a bug within azure utils. Let me check what's wrong and how to fix that.

/assign

[2018-06-13 09:20] tcolgate commented on #803
re:
```From the user's point of view, they will notice a node group's count is below minimum. How it got there, and whether it was justified, will require investigating (checking events, logs etc.) I would prefer not to have to explain what exactly happened in such cases :)```

In practical terms this is quite a non-trivial thing to notice. In reality, to spot and fix this I end up spotting the un

[2018-06-13 12:51] #604 closed

[2018-06-14 07:55] yuvipanda commented on #148
Any idea how we can help get this moving? :)

[2018-06-14 08:09] aleksandra-malinowska commented on #148
This can be achieved using pod priority and preemption, see (How can I configure overprovisioning with Cluster Autoscaler?)[https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler]

[2018-06-14 08:09] #148 closed

[2018-06-14 11:27] chrissound opened #966 "How do I gain access to the cluster autoscaler on GKE?"
I am looking to modify some of the auto scaling options, but this does not seem to be possible on GKE?

It's not clear where to run these 'flags' mentioned in the FAQ or even where these command line flags need to be executed on.

Similar issue is brought up here:
https://stackoverflow.com/questions/48963625/where-to-config-the-kubernetes-cluster-autoscaler-on-google-cloud

[2018-06-14 12:32] aleksandra-malinowska commented on #966
You're correct. On GKE, Cluster Autoscaler is always configured automatically. If you run your own cluster on GCE and have access to the master machine, you can change them in Cluster Autoscaler pod's manifest.

[2018-06-14 14:09] chrissound commented on #966
Thanks!

[2018-06-14 14:09] #966 closed

[2018-06-15 09:48] chrissound opened #972 "How can I access the logs on GKE?"
As I have no access to the pod on GKE, is there any way I can view the logs?

[2018-06-15 10:34] aleksandra-malinowska commented on #972
Neither logs nor metrics from master components are available to the users. To observe what CA is doing, you can look for events published by Cluster Autoscaler for pods and nodes (such as TriggeredScaleUp, NotTriggeredScaleUp etc.) as well as configmap with status, which should display cluster and node pool health (including any scale-up backoffs or unregistered nodes.)

[2018-06-15 10:38] chrissound commented on #972
Thank you! The configmap in question seems to be this: `kubectl describe -n kube-system configmap cluster-autoscaler-status`

[2018-06-15 10:40] aleksandra-malinowska commented on #972
Yup, that'd be it.

[2018-06-15 10:44] chrissound commented on #972
Well that seems to show me that no node candidates are available to scale down. And I guess I can't find any additional information about that in this environment?

[2018-06-15 16:51] mtaufen commented on #718
/remove-lifecycle stale

[2018-06-17 19:30] kirgene commented on #972
It's really difficult if not impossible to understand what blocks CA from scaling down cluster without any logs from CA

[2018-06-18 09:57] aleksandra-malinowska commented on #972
Short of access to the logs, what would be the preferred way to expose this information?

[2018-06-18 18:02] zonca opened #984 "Generic API based cluster autoscaler"
I think it would be great to have a cluster autoscaler that instead of interfacing directly with a cloud provider it would call a generic API endpoint with details about the request, for example to request a node to be removed or details about what kind of node to be created.
This would allow developers to write custom solutions that can work on their cloud platform with their backend of choice.

[2018-06-19 09:21] rdsubhas opened #986 "GKE cluster-autoscaler stuck in "Initializing" state in Regional cluster"
- `cluster-autoscaler` is found to be stuck in `Initializing` state in a GKE Regional cluster
- Nodes are not scaling up and stuck in Pending state

### Cluster info

[code]

### GKE-Autoscaler status

[code]

### Other notes

- We run around 10 GKE clusters. Only this one is a Regional cluster. All others are regular/zonal, and do not have this issue
- We will try to upgrade to 1.10.4 to see if i

[2018-06-19 09:41] aleksandra-malinowska commented on #986
Hi @rdsubhas, can you reach to GCP support, providing information necessary to identify the affected cluster?

[2018-06-19 09:45] rdsubhas commented on #986
Hi @aleksandra-malinowska thanks for your fast response, and btw:

- We added a new node pool with autoscaling enabled
- We removed the node pools that had autoscaling enabled

And the cluster-autoscaler re-initialized, we are able to see the configmap status now. Thanks, we'll close this and if we notice it again, we'll reach out to GCP support as suggested 👍

[2018-06-19 09:46] rdsubhas commented on #986
Tagging #972 as that was the first thing we were trying to look for, and got us to probably try raising an issue here 😄 Cheers...

[2018-06-19 09:46] #986 closed

[2018-06-19 09:50] aleksandra-malinowska commented on #984
This is a duplicate of #191. Closing as there doesn't seem to be anyone working on this.

[2018-06-19 09:50] #984 closed

[2018-06-19 10:02] zonca commented on #984
Thanks! That is very useful!

[2018-06-19 11:18] losipiuk opened #987 "Do not use gcloud docker to operate with docker from build scripts"
Build scripts (i.e. `make dev-release`) use `gcloud docker` command.

It will be not supported soonish.
We should migrate to `gcloud auth configure-docker` and then directly use `docker`

[2018-06-19 11:29] MaciekPytel commented on #984
I think we should re-open either this or #191. It's true that no-one is working on it, but that doesn't mean such feature would not be useful.

[2018-06-20 08:15] Mumrau commented on #913
" Minimum for AKS is 1.2.x, which requires k8s 1.10." said @cfe84
But AKS latest version is 1.9.6, how is that possible that somehow someone managed to test it?

[2018-06-20 08:41] feiskyer commented on #913
@Mumrau Yep, v1.10.x will be supported soon on AKS

[2018-06-20 08:48] Mumrau commented on #913
Roger that. I'll still experiment with the v1.2.2 on my k8s 1.9.6 for
science purposes.
Thanks.

On Wed, Jun 20, 2018, 10:41 Pengfei Ni, <notifications@github.com> wrote:

[2018-06-20 10:05] #131 closed

[2018-06-20 15:49] aleksandra-malinowska commented on #933
Closed via #980. Thanks!

[2018-06-20 15:49] #933 closed

[2018-06-20 17:05] jaxxstorm opened #998 "cluster autoscaler is panicing with blank node taints added"
I added some node taints like so:

[code]

This is essentially a blank taint tag, for nodes/ASGs that aren't tainted.

I would expect the cluster autoscaler to handle this, but it panics and dies:

[code]

[2018-06-20 17:20] jaxxstorm commented on #998
It looks like there's a few assumptions in the `extractTaintsFromAsg` function:
[code]

This seems to assume:

* the taints are formatted correctly in <value>:NoSchedule
* the taints are always populated

I think I can add some validation here, will try find some time

[2018-06-21 07:41] bskiba commented on #998
We'll appreciate contributions, thanks!

[2018-06-21 07:42] bskiba commented on #131
/reopen

[2018-06-21 09:14] aleksandra-malinowska commented on #740
/remove-lifecycle stale

Solved for single-zone case and included in subsequent godeps update. @MaciekPytel what is the plan for multi-zone support? Should we keep it open to track it?

[2018-06-21 11:02] aleksandra-malinowska commented on #896
1.3.0 is now released.

[2018-06-21 11:02] #896 closed

[2018-06-21 11:13] aleksandra-malinowska commented on #778
Sorry for late response. The reason is increased cardinality. If we add this feature, we should probably hide it behind a flag (disabled by default.)

[2018-06-21 11:27] aleksandra-malinowska commented on #777
What is your use-case?  Exporting this metric for each node wouldn't scale well. Not sure if per-cluster number of evictable/non-evictable pods would be useful, but I don't think we can even do that easily. Cluster Autoscaler doesn't evaluate pods from all nodes, only those that meet the preliminary criteria (utilization threshold, no back-off), and up to 50 per iteration, so it wouldn't even be a

[2018-06-21 11:30] #719 closed

[2018-06-21 11:59] dd-caleb opened #1003 "GCE Regional Instance Groups Supported by Cluster Autoscaler?"
We've been successfully using the cluster autoscaler in AWS for a couple months and have recently tried to port our work to GCE as well. Unfortunately we haven't been able to get the cluster autoscaler to discover our **regional** managed instance groups.

Are regional managed instance groups currently supported?

It's possible I've simply misconfigured something. Here's our deployment (names slig

[2018-06-21 12:03] MaciekPytel commented on #1003
Regional MIGs are not supported (same as we don't support multi-az ASGs on AWS). We recommend using a separate MIGs in each zone instead. Cluster Autoscaler will balance the number of nodes between those MIGs as described in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#im-running-cluster-with-nodes-in-multiple-zones-for-ha-purposes-is-that-supported-by-cluster-aut

[2018-06-21 12:28] ofcourseican commented on #860
@feiskyer I tried the latest acs-engine versions. Still no luck 😢

[2018-06-21 12:32] dd-caleb commented on #1003
Thank you for your quick response.

We were able to use the multi-az ASG on AWS, but that's likely because we haven't used zone label selectors yet. So you likely saved us a future headache there.

We will take a look at using zonal ASGs / MIGs instead.

Thanks!

[2018-06-21 16:05] josepplaltg opened #1004 "EKS cluster-autoscaler 1.3.0 downscaling after reaching minimum limit"
We've detected the cluster-autoscaler 1.3.0 running on EKS cluster is not stopping the downscaling after reaching the mimimum asg size declared on the Deployment.

`            - ./cluster-autoscaler
            - --v=4
            - --stderrthreshold=info
            - --cloud-provider=aws
            - --skip-nodes-with-local-storage=false
            - --expander=least-waste
            - --nod

[2018-06-21 16:10] MaciekPytel commented on #1004
Can you provide some logs from when it scaled-down to get below the limit?

[2018-06-22 03:34] feiskyer commented on #860
Sorry, this is still not supported yet. We will add this to acs-engine soon.

[2018-06-22 10:37] josepplaltg commented on #1004
Sorry but I deleted the pod and the cluster, I'm going to deploy it again so I will be able to provide you the logs again, I'll attach asap

[2018-06-22 21:50] trondhindenes opened #1013 "AWS Autoscaling: How to specify min/max nodes with autodiscovery?"
From what I can see in the docs, I can either specify a "node group" (which takes min/max nodes) or use autodiscovery tags. It's not clear from the documentation how to specify min/max nodes when autodiscovery is used. It would be awesome if that was clarified.

[2018-06-23 11:49] maauso opened #1015 "Failed to create AWS Manager: NoCredentialProviders"
Hi guys,

I'm trying to use autoscaler in EKS, I found an error when I want to update autoscaler yaml, for example  adding a new ASG o something like that

Steps to reproduce it:
1.- Create a EKS cluster
2.- Run cluster-autoscaler, version 1.2.2 or 1.3, it's the same
3.- Update cluster-autoscaler yaml adding new ASG

Then

[code]
At this moment I didn't find the way to solve.

Take in consideratio

[2018-06-23 14:48] zonca commented on #191
@VioletRainbows thanks for sharing your code! I am trying to deploy your external cluster autoscaler, do you have an example `yml` to deploy the autoscaler on the master node?
Similar to the setup for other cloud providers: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-standard-master.yaml

[2018-06-23 16:04] VioletRainbows commented on #191
Here is an example of a .yml file:

Launch with `--cloud-config=cloud-config.yml`
[code]

Note that I haven't touched this project in almost a year, and I am no longer working at the company where this code was used.

[2018-06-23 16:18] zonca commented on #191
thanks! do you happen also to still have a yml for `kubectl create -f` to create a deployment or a pod to launch this on the master node?

[2018-06-23 16:34] VioletRainbows commented on #191
I'm sorry, I do not.

[2018-06-25 06:29] LarsOL commented on #972
Access through stack-driver would be the best solution if possible?

[2018-06-25 09:18] aleksandra-malinowska commented on #1013
See usage described in #462, which added support for it on GCE.

[2018-06-25 11:43] trondhindenes commented on #1013
Does that mean AWS support was already in place, or that there isn't support for it on AWS? It's not clear to me from looking at #462.

[2018-06-25 18:11] #583 closed

[2018-06-26 00:50] trondhindenes commented on #1013
I tried the same parameter structure (wow did I just write that) as in the PR, and that's not working at all:
`--node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,kubernetes.io/cluster/rtv-dev-cluster02,minNodes=1,maxNodes=10`
It works fine if I removed the `minNodes`/`maxNodes` thingy.

[2018-06-26 15:42] zee-ahmed commented on #1015
+1 I'm having the exact same issue with kops using v1.1.2 on kubernetes 1.9.6 without using kube2iam.

IAM policy
`
{
  "Effect": "Allow",
  "Action": [
    "autoscaling:DescribeAutoScalingGroups",
    "autoscaling:DescribeAutoScalingInstances",
    "autoscaling:DescribeTags",
    "autoscaling:SetDesiredCapacity",
    "autoscaling:TerminateInstanceInAutoScalingGroup"
  ],
  "Resource": "*"
}
`
My

[2018-06-26 16:17] aleksandra-malinowska commented on #1015
cc @kubernetes/sig-aws-misc

[2018-06-26 21:58] consideRatio commented on #972
It would be nice to be able to configure the cluster-autoscalers behavior through a configmap in the kube-system namespace. Does this make sense or is there an obvious issue with such an idea? I'm eager to learn :)

[2018-06-27 11:10] aleksandra-malinowska commented on #972
What kind of information would be useful, other than exposing logs?

This feature was called "dynamic autoscaler" and was removed in #851.

[2018-06-27 12:01] maauso commented on #1015
Hi!
I found the problem, we are using kube2aim, in this case, you need to use the annotations in cluster autoscaler yaml like

[code]

[2018-06-27 12:01] #1015 closed

[2018-06-28 09:46] #998 closed

[2018-06-29 07:33] johanneswuerbach commented on #1013
If you are using autodiscovery the min/max values are taken from the discovered ASGs and can be adjusted on the fly by changing the values of the AWS ASG itself.

You can override this by manually specifying an ASG and providing min/max as autoscaler parameters. This always takes precedence over autodiscovered values.

[2018-06-29 09:50] trondhindenes commented on #1013
Thanks @johanneswuerbach . So what you're saying is that as long as `auto-discovery` is enabled, cluster-autoscaler will _always_ respect the limits set in the ASG.

[2018-06-29 12:02] ofcourseican opened #1023 "Automatic node scaling on AKS leads to broken RBAC?!"
I run a version 1.10.3 on AKS and I use this autoscaler image: gcr.io/google_containers/cluster-autoscaler:v1.3.0

The cluster was created with the following command:

`az aks create --resource-group aks-testcluster --admin-username ouradmin --location eastus --name ourtestcluster --node-count 1 --enable-rbac --node-vm-size Stand
ard_D2_v2 --aad-server-app-id xxxx --aad-client-app-id xxxx --aad-se

[2018-06-29 16:03] johanneswuerbach commented on #1013
Correct, the autoscaler is only modfiying the desired size value of an asg, never min or max.

[2018-07-02 08:06] rioriost commented on #919
I'm facing the same issue with k8s-1.10.3 on AKS and CA 1.2.2. What should I do to solve it? Increasing memory CA requesting?

error message:
[code]

yaml:
[code]

[2018-07-02 08:21] feiskyer commented on #919
@rioriost Are there any other VMs within your AKS resource group?

[2018-07-02 08:28] feiskyer commented on #919
Yep, but those VMs may have no tags which caused CA panic. Filed #1026 to fix the issue.

[2018-07-02 10:50] dmlemos opened #1027 "[Azure] Error master DNS is already used by another public IP"
Deployed standard with `acs-engine`.

## Error
[code]

## Versions tested
Autoscaler `1.3.0` `1.2.2`
Kubernetes `1.9.7`

[2018-07-02 11:48] #582 closed

[2018-07-02 12:47] feiskyer commented on #1027
@dmlemos Seems it's a kubernetes deploy error? https://github.com/Azure/acs-engine/issues is the right place for acs-engine issues.

From the error message, the dns record has been used by others. You should change it to another dns name or specify `--auto-suffix` to add a random suffix.

[2018-07-02 13:37] dmlemos commented on #1027
@feiskyer This happens from the cluster-autoscaler deployment. The description should have been more explicit, sorry.

I can't find the `--auto-suffix` option on the autoscaler parameters.

[2018-07-02 13:57] #1003 closed

[2018-07-02 15:47] ofcourseican commented on #1023
Adding to my comments above. The user I'm working with is a member of cluster-admins, a group that has these rights:

[code]

Which, if I read that output correctly should never result in the error mentioned above.

[2018-07-02 21:45] sakthi-vetrivel opened #1029 "[Azure AKS] not logging scale-up events in autoscaler"
@kkmsft
 I'm using the cluster-autoscaler for a one-node AKS cluster (rbac-enabled, k8's 1.10.3) and I noticed that while my cluster did scale up to three nodes, the cluster-autoscaler did not log any ScaleUp events. However, when it scaled back down to two nodes, it did log a ScaleDown event.
![capture](https://user-images.githubusercontent.com/17627350/42187850-702e37a2-7e06-11e8-9c0f-7396df2e0b

[2018-07-03 01:56] feiskyer commented on #1027
@dmlemos Thanks. Where is the DNS record used in the cluster, master or a kubernetes service?

[2018-07-03 01:59] tongda opened #1030 "Turning down reschedule for Job pods"
We are running a lot of Kubernetes BatchJobs every day and hope CA could help to scale up the cluster when jobs are submitted and scale down the cluster when jobs are finished. But I found that in some cases, the pods of a job will be killed and started on another node during scaling up/down. I guess that CA will try to optimize the pods so that it could use a minimum size of the cluster.

But for

[2018-07-03 06:04] feiskyer commented on #1023
Weird. @ofcourseican Could you open an Azure ticket for the aks scale issue?

@khenidak @kkmsft Have you seen similar issues?

[2018-07-03 08:45] aleksandra-malinowska commented on #1030
Thank you for the feedback. You can protect your Job pods from eviction by creating a PodDisruptionBudget with minUnavailable=0 for them. As for not moving Job pods by default, it's not obvious if the users will always prefer such pods to finish wherever they started, even if they're blocking a fairly large node from being removed.

[2018-07-03 12:21] dmlemos commented on #1027
This is the masters DNS created by the ACS-Engine. It's associated with the master-lb for kubeconfig access.

[2018-07-03 12:33] ofcourseican commented on #1023
@feiskyer I'll do a check if the problem also exists if I just scale the cluster manually (no autoscaler involved). If it also comes up, I'll create a Azure/AKS issue.

[2018-07-03 21:14] 030 commented on #510
/reopen

[2018-07-04 15:48] mf-lit commented on #1013
This confused me too, PR opened.

[2018-07-05 08:34] tomfotherby commented on #1004
I've been using v1.3.0 with EKS for 48 hours and so far so good - I didn't see the same issue that you had @josepplaltg .

[2018-07-05 12:59] MaciekPytel commented on #510
/reopen

[2018-07-05 13:00] MaciekPytel commented on #510
/reopen

[2018-07-05 13:01] MaciekPytel commented on #510
/remove-lifecycle rotten

[2018-07-05 13:02] MaciekPytel commented on #510
I still think using PDB is the right way to do it, but I'm fine accepting a PR if someone feels like contributing one. Feel free to ping me on k8s slack if you need any help.

[2018-07-05 21:45] gustavoatt opened #1049 "Autoscaler fails to scale up nodes with pending pods"
We are currently running a cluster-autoscaler in AWS, on a kops cluster. We had autoscaling enabled for an ASG where each node would have a taint and a label applied. We would then only schedule pods onto it that had a toleration for that taint.

Our setup was working correctly, until a few days ago, when scale up stopped happening (scale downs were working correctly). Most of the logs we saw were

[2018-07-08 01:50] nikhilkhanna commented on #984
Can we please reopen this issue? Such a feature would be great to allow for the long tail of other cloud providers to be interfaced with in a flexible manner.

[2018-07-08 01:53] nikhilkhanna opened #1050 "Generic API based cluster autoscaler"
Despite being brought up in other issues #984  and #191 including with example implementations, I haven't seen this issue properly addressed. It would be awesome to have a cluster autoscaler that instead of interfacing directly with a cloud provider it would call a generic API endpoint with details about the request, for example to request a node to be removed or details about what kind of node to

[2018-07-08 10:44] tkubica12 opened #1051 "[Azure AKS] Scaling fails with "Changing property 'networkProfile.networkPlugin' is not allowed when using Advanced Networking"
v1.2.2 fails with AKS when configured with Advanced Networking:

[code]

I rembember this was issue with old AZ CLI version as well so I assume there is change in API call needed for latest AKS clusters.

[2018-07-09 07:19] feiskyer commented on #919
Fixed in #1026 .

/close

[2018-07-09 07:19] #919 closed

[2018-07-09 07:20] feiskyer commented on #913
AKS already supports v1.10.x and CA v1.2.x could be used now. Let's close this issue.

/close

[2018-07-09 23:42] PaulFurtado commented on #840
Also really curious about this. Does anyone know why the cluster autoscaler singles out that the ca certificates should be mounted, but no other kubernetes infrastructure does? It seems like an odd requirement.

[2018-07-10 01:35] feiskyer commented on #1051
@tkubica12 Thanks. I will check what's wrong in CA.

[2018-07-10 12:05] aleksandra-malinowska commented on #1050
Thanks for opening this. Getting rid of cloud provider code from CA has clear advantages (no need to rebuild the image to update support for specific environment, for one.) Question is how to do this to 1) support most use-cases and 2) reduce, rather than increase, the burden of implementing and maintaining support for a new environment. This will probably be largely addressed by [Cluster API proj

[2018-07-10 12:49] feiskyer commented on #913
/reopen

@Mumrau What errors are reported in CA logs?

[2018-07-10 13:35] ofcourseican commented on #1023
I did get into contact with the Azure support on this. They seem to be aware of a problem in a very specific version of their API.

Feel free to close this ticket as it seems to be unrelated to the autoscaler code.

[2018-07-10 13:35] #1023 closed

[2018-07-10 13:43] aleksandra-malinowska commented on #1049
Sounds like a possible case of scheduler's cache corruption. If it is the case, restarting kube-scheduler should resolve the issue. Before restarting, you can also trigger scheduler to compare its cache with fresh information [as described here.](https://github.com/kubernetes/kubernetes/issues/60860)

[2018-07-10 14:04] feiskyer commented on #913
@Mumrau  Great, thanks.

/close

[2018-07-10 14:04] #913 closed

[2018-07-10 14:06] feiskyer commented on #1023
@ofcourseican  thanks for updates. Glad to see the issue has been resolved. Please keep posted if there're still problems.

[2018-07-11 05:45] vainu-arto commented on #510
How about for example long running Job pods that should not be interrupted? I can't seem to find documentation about how PDBs interact with jobs, do you have any hints?

[2018-07-11 05:57] vainu-arto commented on #510
No, based on tests using a PDB to protect a Job does not appear to be supported at least on Kubernetes 1.9. The controllermanager logs "found no controllers for pod "test"" and "Failed to calculate the number of expected pods: found no controllers for pod "test"".

Having this annotation available to mark long running jobs as not interruptible by the autoscaler seems like the simple solution to th

[2018-07-11 06:40] vainu-arto commented on #510
/assign vainu-arto

[2018-07-11 12:44] MaciekPytel commented on #510
PDB not working with Jobs is indeed a very good reason for this annotation. Thanks for your PR, merged.

[2018-07-11 12:45] #510 closed

[2018-07-12 10:02] MasterScrat opened #1060 "Autoscaling bare metal clusters"
I am running my own bare metal cluster. I would like to autoscale it by turning physical nodes on and off.

I imagine this would be doable using IPMI.

[2018-07-12 10:50] aleksandra-malinowska commented on #1060
In general, to support Cluster Autoscaler in a new environment, you'll need to implement its cloud provider interface for that environment. This is described in more detail in #953.

I've no idea how doable it is given your setup, but if you decide to give it a go, be sure to let us know if it works! :)

[2018-07-12 12:45] #634 closed

[2018-07-13 10:38] guitmz opened #1063 "[Azure AKS] Can't scale-up nodes"
I have deployed cluster-autoscaler (v1.3.1) in AKS (with k8s 1.10.3) yesterday and to test, I created a pod with a large CPU/RAM request. I was expecting a new node to be created but that didn't happened and all I can see is the output below:

[code]

I manually scaled up my cluster with 1 extra node and the pod was scheduled and it is running fine. Interestingly, I still see the same output as ab

[2018-07-13 12:13] aleksandra-malinowska commented on #1063
Can you provide more information on the pod? In particular, output of `kubectl get pod frontend -o yaml`  may be helpful. Also, is there anything else in CA log related to it?

In general, this error message isn't published on refresh of data from cloud provider, but at the begining of every iteration, as long as there are unschedulable pods.

[2018-07-13 13:37] guitmz commented on #1063
@aleksandra-malinowska its just a random mysql pod, nothing important, heres the definition:

[code]

there isnt anything else in the logs, it just keeps repeating the same output as my first comment

[2018-07-13 13:43] aleksandra-malinowska commented on #1063
Does the output of that command contain a `nodeName: <node-where-the-pod-is-running>` field in `spec:`? This is how Cluster Autoscaler identifies pending pods. If this field is empty or missing, but the pod is running, it may indicate a problem with scheduling.

[2018-07-13 13:51] guitmz commented on #1063
it does contains `nodeName: aks-agentpool-17300195-11`

scheduling itself works fine from kubernetes perspective.. I just had to add a new node manually and the pod was scheduled. The problem is that CA did not added the node for me.

[2018-07-13 14:21] aleksandra-malinowska commented on #1063
Error message `Node group agentpool is not ready for scaleup` indicates there was a problem with the node group (e.g. recent failed scale-up or cloud provider errors). cc @feiskyer

[2018-07-15 16:58] sc250024 opened #1064 "[AWS Kops] Cluster autoscaler timeout when trying to run on master node"
Greetings,

I'm running `cluster-autoscaler` as part of a Kops cluster running on AWS. The problem is simple: when I run `cluster-autoscaler` on a regular node, it works fine, but when it's running on a master node, the pod times out, receives a `CrashLoopBackOff`, and then tries again to no avail. The following log message is the most applicable

[code]

Kops version:  **1.9.1**
Kubernetes versio

[2018-07-16 02:41] feiskyer commented on #1063
yep, there should be an error before that. Let me try whether the issue could be reproduced.

[2018-07-16 03:40] feiskyer commented on #1063
Is `agentpool` same with node's label `agentpool=<name>`? (It's `nodepool1` in my cluster) If not, you set it by `--nodes=<min-node>:<max-node>:nodepool1`.

[2018-07-16 09:19] aojea opened #1065 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-16 11:41] MaciekPytel commented on #1064
This means cluster autoscaler can't connect to kubernetes api-server. I have no idea how kops runs CA and I don't really know why there is no connectivity to api-server. Probably some network issue, may also be a timing issue if CA is run from manifest (I've seen this happen when CA starts before api-server does, though it usually fixes itself after a few restarts in that case).

None of regular C

[2018-07-16 12:08] guitmz commented on #1063
@feiskyer hey my agent pool name is indeed `agentpool` and I set the container parameters as `- --nodes=3:11:agentpool`

[2018-07-16 12:17] aleksandra-malinowska commented on #1064
You can also try asking for help on slack - there are some AWS users active on [sig-autoscaling](https://kubernetes.slack.com/messages/C09R1LV8S/), and definitely on [sig-aws](https://kubernetes.slack.com/messages/C0LRMHZ1T/).

[2018-07-16 16:48] michaelburch commented on #798
/close

________________________________
From: fejta-bot <notifications@github.com>
Sent: Monday, July 16, 2018 8:20 AM
To: kubernetes/autoscaler
Cc: Michael Burch; Author
Subject: Re: [kubernetes/autoscaler] Azure scale up fails (#798)

Issues go stale after 90d of inactivity.
Mark the issue as fresh with /remove-lifecycle stale.
Stale issues rot after an additional 30d of inactivity and eventual

[2018-07-16 16:48] #798 closed

[2018-07-16 19:59] 7chenko commented on #321
This has broken for me from CA 1.1.0 to 1.2.2. Same configuration now fails to scale up from 0 nodes with "Insufficient nvidia.com/gpu". Reverting back to 1.1.0 fixes it. (Kubernetes 1.10.0).

[2018-07-17 05:13] feiskyer commented on #1051
@ducas Are you seeing same error message `Changing property 'networkProfile.networkPlugin' is not allowed`?

[2018-07-17 06:03] feiskyer commented on #1063
@guitmz Could you share the status of CA? .e.g by `kubectl -n kube-system describe configmaps cluster-autoscaler-status`

[2018-07-17 07:18] ducas commented on #1051
Yep. I see it in the azure portal access logs too.

[2018-07-17 07:29] xtroncode opened #1068 "[Cluster-autoscaler, aws] Node not being deleted from kubernetes cluster"
`kubernetes-version: 1.10.5`
`cluster-autoscaler version: 1.2.2`

I am experimenting with `cluster-autoscaler` on aws, while the desired capacity is being properly adjusted and the scale-in and scale-out works well, the nodes that are terminated are not deleted by the cluster autoscaler from k8s i.e when I run `kubectl get nodes` I can still see the terminated nodes in `NotReady` state and this ca

[2018-07-17 08:47] feiskyer commented on #1051
@ducas Could you send the error logs together with (subscription ID, resource group, aks cluster name) to `aks-gh-feedback@service.microsoft.com`? We need to dive into what's wrong.

[2018-07-17 08:48] guitmz commented on #1063
@feiskyer sure, here it is:

[code]

I will try today again to deploy a big pod and see if it scales to 12 nodes (or even delete the big pod that I have now and see if it scales down to 10 nodes - currently I have 11)

[2018-07-17 08:56] efilipov commented on #923
No one else seeing this sequence of events?

[2018-07-17 08:57] MaciekPytel commented on #1068
All Cluster Autoscaler does is remove the instance on cloudprovider side. It is up to Kubernetes (and specifically node controller) to remove node objects.

[2018-07-17 09:20] guitmz commented on #1063
@feiskyer Ok, some good news. I deleted the big test pod and the 11th node was indeed also deleted, cluster size is now 10.

[code]

But when I redeployed the very same pod, I can't see CA doing anything about it.

Pod events:

[code]

CA logs after deploying the pod (I gave it some minutes, it did like 3 ASG refreshes and they all look like below):

[code]

CA events show me nothing, only the sca

[2018-07-17 10:37] xtroncode commented on #1068
Thanks @MaciekPytel  Do I need to enable certain flag in the `kube-controller-manager`  ?  I have setup my cluster using kubeadm and have used the `--cloud-provider=aws` flag only in the `cluster-autoscaler` and  `kubelet` configs.

[2018-07-17 12:09] MaciekPytel commented on #1068
You probably do need to set a flag in controller-manager, but I've never run kubernetes on AWS and I don't know the details. #kube-aws on kubernetes slack may be a good place to ask that.

[2018-07-17 14:23] feiskyer commented on #1063
@guitmz Thanks for providing the information. Seems it has stuck on scaling down. Could you send the error logs together with (subscription ID, resource group, aks cluster name) to `aks-gh-feedback@service.microsoft.com`? We need to dive into what's wrong.

[2018-07-17 15:33] losipiuk opened #1070 "Consider nodes for scaled down in order which avoid unnecessary pod disruptions"
Currently scale down logic does not do much (if anything) to prevent multiple disruptions of pods as nodes are being removed in scale down process.
It seems that giving preference for scale down to nodes with less utilization would be better. Current code will give same preference to scale down to any node with utilization less than threshold (default 50%).

[2018-07-17 18:40] sc250024 commented on #1064
Thanks @MaciekPytel and @aleksandra-malinowska , I'll open an issue in the Kops repo

[2018-07-17 18:40] #1064 closed

[2018-07-18 05:49] ricolin commented on #734
/remove-lifecycle stale

[2018-07-18 09:07] guitmz commented on #1063
@feiskyer just sent the email as you suggested!

[2018-07-18 09:23] #1065 closed

[2018-07-18 09:35] aleksandra-malinowska commented on #1070
Do we know how it will interact with the default scheduler's function? If draining the least utilized nodes will result in 40-50% utilized nodes going above threshold, but draining that node first wouldn't have caused the least utilized one to go above threshold, this would mean removing fewer nodes overall.

[2018-07-18 16:31] cwoolum commented on #1051
I am getting the same error using a custom VNet. I've forwarded the logs to that email address

[2018-07-19 02:18] feiskyer commented on #1051
Thanks. We have found the root cause. CA's aks api version should be upgraded.

/assign

[2018-07-19 03:22] #1068 closed, assigned to nobody

[2018-07-19 06:55] feiskyer commented on #1051
Opened #1071 to fix the issue.

[2018-07-19 16:24] donalddewulf commented on #1049
@aleksandra-malinowska I think we're suffering from the same issue. Our kubernetes cluster is built with kops. I'm a bit unsure as to have to restart the kube-scheduler, what is the command to do it? I tried deleting the kube-scheduler pods but that didn't really restart it I think.

[2018-07-19 16:55] aleksandra-malinowska commented on #1049
I'm not sure about kops setup and how scheduler in particular is started there. If it's a manifest pod, the easiest way is to edit the manifest.

[2018-07-19 22:12] MirzaSikander opened #1073 "Azure: New nodes as part of scale up are not being setup properly"
Kuberentes version: `v1.11.0`
Autoscale version: `v1.3.0`

New NC6 nodes, being added by auto-scaler, are missing some dependencies which prevent the following **kube-system** pods from being deployed.

[code]

And they all have the same error:

[code]

Further details about node:
[code]

[2018-07-19 22:40] MirzaSikander commented on #1073
All the deployments in Azure portal started by the auto-scaler are reporting succeeded status.

[2018-07-20 01:38] feiskyer commented on #1073
@MirzaSikander  Are you using acs-engine? Seems nvidia-container-runtime is not set properly on provisioning the new node.

[2018-07-20 01:38] feiskyer commented on #1073
/sig azure

[2018-07-20 01:48] MirzaSikander commented on #1073
@feiskyer Yes I am using acs-engine `v0.19.1`

[2018-07-20 04:37] feiskyer commented on #1063
@guitmz Not sure what's wrong here. Could you try again ?

[2018-07-20 08:59] guitmz commented on #1063
@feiskyer just did, now it seems to have worked! Thanks

[2018-07-20 11:47] losipiuk commented on #1070
Sure. The final shape of cluster for sure depends on order in which we remove nodes. And the case you pointed out is definitely possible.
So we need to think a bit about it and  of ordering which we feel is reasonable. Currently we have random one which IMO is one of the worst possible options.
1. It is undeterministic
2. Choice made may be really poor as we are not even trying to mitigate that.

[2018-07-20 18:36] weinong commented on #1063
There is a known issue in AKS such that autoscaler will get 400 response from AKS RP when the cluster was created with Custom VNet. We are working on the fix. It should go out in 1-2 weeks.

[2018-07-21 17:21] #501 closed

[2018-07-22 10:57] omerlh commented on #863
I just deployed AKS today, Kubernetes version is 1.10.5 and autoscaler version is `v1.3.1`. I just encountered the same error as above:
[code]

[2018-07-22 12:40] #595 closed

[2018-07-22 18:29] sshepel commented on #1073
@feiskyer same thing for me (version of the acs-engine is `v0.19.2`), but want to note that same issue appeared on AKS.

[2018-07-23 03:15] feiskyer commented on #863
@omerlh This is another potential issues caused CA panic. Let me file a PR to fix that

[2018-07-23 03:20] feiskyer commented on #863
Created #1076 to fix the issue

[2018-07-23 05:01] omerlh commented on #863
Great, thank you for the quick response. Do you want me to test it? How can I get it?

[2018-07-23 05:10] feiskyer commented on #863
@omerlh Yep if you could also validate it. I have pushed the changed image to `feisky/cluster-autoscaler:1076`

[2018-07-23 05:15] omerlh commented on #863
yep, look like the issue was resolved - now there is something with my configuration. Thanks!

[2018-07-23 05:26] omerlh opened #1077 "[Azure AKS] Failed to scale up nodes"
When trying to scale up, I've encountered the following error:
[code]
My deployment:
* Azure AKS
* Kuberentes 1.10.5
* CA latest version, using @feiskyer temporary build to solve #863 (`feisky/cluster-autoscaler:1076`).

This is the CA command line arguments:
[code]
And this is the output of `kubectl get nodes --show-labels`:
[code]
So from what I can tell, it looks like I set up everything correc

[2018-07-23 05:56] feiskyer commented on #1077
From the error message, seems you have set special characters for the agent pool name: `agentpool&lt;nil&gt`. Could you remove it from the end of `--nodes=3:10:agentpool` and try again?

[2018-07-23 05:56] feiskyer commented on #863
@omerlh Thanks for validation

[2018-07-23 06:16] omerlh commented on #1077
That what I was thinking, but I have no special characters in the end, I'm on LF and the file is saved as UTF8...
Even when looking on the cluster, it looks fine:
[code]

[2018-07-23 06:20] omerlh commented on #1077
I also noticed those logs:
[code]
Which indicate on a different problem IMO but might be related

[2018-07-23 06:37] feiskyer commented on #1077
Could you increase log level (--v=5) and send all CA logs? (you can send to me on slack by private chat)

[2018-07-23 07:57] feiskyer commented on #1077
Glad to see it works now!

[2018-07-23 08:13] #1077 closed

[2018-07-23 10:02] cabrinoob opened #1081 "EKS and tag k8s.io/cluster-autoscaler/node-template/label is not assigned to worker nodes"
Hi,
I'am using an EKS cluster and I'd like to use cluster-autoscaler with it.

So I have a brand new EKS cluster (with existing nodes) and I'd like to add new worker nodes with the CloudFormation script (as explained [here](https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html)).

This script provided 3 new t2.small EC2 into an auto-scaling group. Because I'd like to use nodeSelecto

[2018-07-23 10:52] donalddewulf commented on #1049
Thanks @aleksandra-malinowska

[2018-07-23 11:07] MaciekPytel commented on #810
/remove-lifecycle stale

[2018-07-23 11:08] bskiba commented on #1081
Is the label missing on all nodes in the asg or only if autoscaler creates them (during scale up)?

[2018-07-23 11:59] cabrinoob commented on #1081
The label is missing on all nodes. I did'nt succeed to deploy something using NodeSelector, because there is no node available with _project=asg2_ label in my cluster.

[2018-07-23 12:21] bskiba commented on #1081
Then AFAIU this is not a problem with autoscaler but AWS not propagating the label to nodes. I think it will be easier to find help from [sig-aws](https://github.com/kubernetes/community/tree/master/sig-aws). Unelss any of the folks deploying CA on AWS know how to debug this.

[2018-07-23 12:33] cabrinoob commented on #1081
Ok, I'll try over there. Thank you!

[2018-07-24 11:40] #735 closed

[2018-07-24 14:56] bskiba opened #1086 "Add unit tests for cluster_feeder."
We really need tests for https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go

[2018-07-24 17:57] MirzaSikander commented on #1073
Any work around for this? Currently blocking all operations.

[2018-07-25 00:05] feiskyer commented on #1073
It should be fixed in acs-engine v0.20.0.

@sshepel @MirzaSikander Could you upgrade acs-engine and try again?

[2018-07-25 15:10] MaciekPytel commented on #209
This should probably be updated somewhere around https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L130, but I don't have access to AWS, so no way to test anything.

[2018-07-25 15:55] rsignell-usgs commented on #890
@tmwtp , did you ever figure this out?
I'm hitting the exact same problem.

[2018-07-25 23:32] whereisaaron commented on #209
@MaciekPytel maybe that code is there and works in a newer version? Does 1.1 or 1.2 detect AWS changes?

[2018-07-26 13:39] sshepel commented on #1073
@feiskyer looks OK, now. Will monitor further... but for now pods are scheduled without any issues.
Thanks a lot!

[2018-07-26 14:20] gjtempleton commented on #209
We're running v1.1.2 with K8s v1.9.8 and see the same behaviour, having to restart the CA to pick up changes in the ASG limits.

[2018-07-26 14:22] feiskyer commented on #1073
@sshepel Cool. Thanks for the confirmation.

[2018-07-26 14:34] MaciekPytel commented on #209
@whereisaaron No idea, as I said I don't have AWS account, so no way to test. Looks like it is actually done inside asgCache.regenerate(), so there is a good chance the problem is fixed in CA 1.2.

The problem is the whole autodiscovery was completely re-implemented in 1.2, so the fix can't be simply backported. To fix the old implementation you'd probably have to look into core/polling_autoscaler

[2018-07-27 09:52] bob-shih opened #1096 "Support for new AWS EC2 instance types (R5, R5d, and z1d)"
Please add the new AWS EC2 instance types (R5, R5d, and z1d) support in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go

(See https://aws.amazon.com/blogs/aws/now-available-r5-r5d-and-z1d-instances/)

Thanks

[2018-07-27 09:57] aleksandra-malinowska commented on #1096
AWS cloud provider in Cluster Autoscaler is supported entirely by the community. Contributions are welcome :)

[2018-07-30 05:58] chrisduong opened #1098 "Version 1.1.3 | Auto Discovery not working"
Hi,

I'm using Version 1.1.3. I'm using Kubernetes version 1.9.x, I cannot use the version 1.3.x as the WARNing about compatibility.

I followed this guide https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws. But I've got the Error log

[code]

My Deployment config is:

[code]

[2018-07-30 07:59] chrisduong commented on #1098
Hi @satank, I've just discovered that I used the wrong Tag name. I had used Helm chart `stable/cluster-autoscaler` not just the deployment file in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md.

The Helm chart used Tag `kubernetes.io/cluster/<cluster_name>`, not `k8s.io/cluser-autoscaler/<cluster_name>` as the above guide.

[2018-07-30 07:59] #1098 closed

[2018-07-30 12:49] #649 closed

[2018-07-31 06:37] axot commented on #64
Any best practices PodDisruptionBudget for kube-system? Thanks.

[2018-07-31 09:30] aleksandra-malinowska commented on #64
Only add them if you're sure those pods can be safely evicted :) E.g. creating a PDB for kube-dns with minAvailable > 50% should be OK in most cases. However, evicting all kube-dns pods at the time can cause networking problems. In case of metrics-server or heapster, there's only one replica, so a PDB for it will always cause the risk of downtime (loss of metrics) for a couple of minutes. It reall

[2018-07-31 11:15] MaciekPytel commented on #64
In this particular case your node is running metrics-server. Restarting it would prevent all HPAs in your cluster from autoscaling (and make them set error status, emit error events, etc) for a few minutes. As @aleksandra-malinowska wrote it's really your decision if it's acceptable or not.

In general kube-dns is the only system pod that comes to my mind that has multiple replicas. Every other sy

[2018-07-31 12:15] wmuizelaar opened #1103 "VPA replaces annotations of pods, in stead of updating. This breaks PSP."
Hi,

Testing with the vertical-pod-autoscaler, we figured out that the annotations on a pod are completely replaced by the admission controller, in stead of merged/added.

Used version of the containers:
[code]

What I see is that containers that are run from a deployment, and I set a custom annotation in my specfile, these will be overwritten by the vpa-admission-controller:

Before:
[code]

Afte

[2018-07-31 18:33] bskiba commented on #1103
Hm, can't seem to reproduce this...
I've added annotations to the hamster example for the repo, like this: https://gist.github.com/bskiba/1aad99ecb52e75f744b3f88c21e1ea3f

And here is what I see:
[code]
Can you try the modified hamster example form the gist with your setup and see if it produces different results for you?

Also which version of Kubernetes?

[2018-07-31 21:49] maartenvandenbogaard commented on #1103
Hi, we run into this issue with GKE version 1.10.5-gke.3.

I can reproduce it with your modified hamster example.

Before:
[code]
After:
[code]

We eventually got it working with attached pull request.

[2018-08-01 07:13] bskiba commented on #1103
Ah, I tested with 1.9, they must have changed the way patches are handled in 1.10... Thanks for the pr, I'll review today.

[2018-08-01 14:02] #1103 closed

[2018-08-01 14:57] abizake opened #1105 "[Azure] [AKS] Cluster not Scaling up with error "Node group agentpool is not ready for scaleup""
Failed to scale up: failed to increase node group size: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="PropertyChangeNotAllowed" Message="Changing property 'enableRBAC' is not allowed."

Additional info
There are currently 2 nodes in the cluster.
I created the Cluster Auto

[2018-08-01 15:04] abizake commented on #1063
facing the same issue : - Scale-up failed for group agentpool: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="PropertyChangeNotAllowed" Message="Changing property 'enableRBAC' is not allowed."

The cluster is on Azure AKS and is not created in the CustomVNet. But Still Fac

[2018-08-01 16:08] abizake commented on #1105
Also tried the latest version of AKS(1.10.6) and Cluster Auto Scaler (1.3.1).
Still facing the issue.
logs :-
containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="" Message=""
W0801 16:02:23.327898       1 clusterstate.go:223] Disabling scale-up for node group agentpool until 2018-08-01 16:07:23.327890748 +0000 UTC m=+1003.28599997

[2018-08-01 17:12] gcampanella commented on #1105
I'm seeing the very same issue with Kubernetes 1.10.6 and Cluster Autoscaler 1.2.2 set up as per [this guide](https://docs.microsoft.com/en-us/azure/aks/autoscaler):
[code]
[Resource Explorer](https://resources.azure.com/) is showing `"enableRBAC": true`.

[2018-08-02 02:39] feiskyer commented on #1073
/close

[2018-08-02 02:39] #1073 closed

[2018-08-02 11:32] axot commented on #64
@aleksandra-malinowska  @MaciekPytel Thank you for so detailed explanation. Maybe the best way is set non-PDB for kube-system in my case.

Could I ask one more question? I noticed in FAQ `What types of pods can prevent CA from removing a node?`

[code]

What does `local storage.*` actually meaning? Does hostPath, emptyDir belongs it?

[2018-08-02 11:37] MaciekPytel commented on #64
It does. If you have a pod that uses local storage, but you want to allow CA to move it around you can set "cluster-autoscaler.kubernetes.io/safe-to-evict": "true" annotation on it.

[2018-08-03 11:08] iMartyn commented on #1105
Also happening for me on 1.10.6 and 1.3.1.  I've raised a support ticket with Azure to see if it's something their end.

[2018-08-03 13:56] guitmz commented on #1063
since https://github.com/kubernetes/autoscaler/pull/1071 is merged, if I try to upgrade my azure cluster to 1.10.6, should this fix be applied with that process?

[2018-08-04 03:06] spiffxp opened #1111 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-autoscaling, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only approve

[2018-08-04 06:23] directionless opened #1112 "addon-resizer scale based on number of namespaces (feature request)"
Hi! I have a couple of small GKE clusters, and many of the tools I interact with use the addon-resizer. In my environment, it usually underprovisions and results in endless cycles of OOMKilling and number tweaking.

I _suspect_ this is because I have a n large number of namespaces:
[code]

Most recently, I've run into this with kube-state-metrics, heapster, and metrics-server. The latter two are m

[2018-08-05 14:12] #700 closed

[2018-08-05 17:32] whereisaaron commented on #518
This issue has been replicated and hasn't been fixed AFAIK.

/remove-lifecycle stale

[2018-08-06 09:18] MaciekPytel commented on #1112
cc: @x13n @kawych

[2018-08-06 09:36] MaciekPytel commented on #518
ASG autodiscovery has been completely re-implemented in 1.2. Given that we still don't have an AWS mainatiner and CA 1.0 reached is no longer supported according to Kubernetes policy (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew), I don't think this likely to be fixed. Would moving to CA 1.2 be an opti

[2018-08-06 10:09] iMartyn commented on #1105
@feiskyer Can we get an idea of when "soon" is?  Days? Weeks? Months? It would help to feed into our planning sessions, as this is an essential requirement for our setup.  Is there an alternative image we can help test?

[2018-08-06 11:28] kawych commented on #1112
I suspect that the actual issue is the number of pods, not the number of namespaces. Heapster and Metrics Server by default are configured to deal with ~30 pods per node, your cluster exceeds this significantly. You may want to take a look at custom Addon Resizer configuration as documented here: https://github.com/kubernetes/autoscaler/tree/master/addon-resizer#addon-resizer-configuration

[2018-08-06 17:39] #530 closed

[2018-08-06 17:52] whereisaaron commented on #518
Thanks @MaciekPytel. For new clusters yes of course, but the [releases page](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases) make it clear not to use 1.2 with k8s <1.10.

[2018-08-06 19:21] MirzaSikander opened #1118 "[Azure] [ACS-engine] Scale-up failing - Provided value '110' is not valid."
ACS-engine Version: v0.20.2
Kubernetes version: 1.11
Auto-scaler version: v1.3.0

From the error below it seems that there is a cap on the number of nodes you can have in a cluster, which is unexpected in itself, but we haven't reached the cap. There have been multiple (successful) scale-ups and scale-downs, and right now there are only 11 nodes in the cluster.

[code]

[2018-08-07 00:46] MirzaSikander commented on #1118
Same error is thrown for scaling the cluster manually.

[2018-08-07 13:36] gabrielmcf commented on #1105
Waiting anxiously for this bug fix!

[2018-08-07 14:15] Netdoc41 opened #1124 "readiness for agent pool"
I have been working on implementing the cluster autoscaler in Azure. i have gotten past most of my issues. (most were simple mistakes by me) the one i cant find a fix for or enough information on is

"Failed to find readiness information for agentpool"

Its in the logs over and over.

2018-08-07T14:15:04.475086315Z I0807 14:15:04.474856       1 scale_down.go:446] No candidates for scale down
2018-

[2018-08-08 10:01] nhoughto opened #1125 "Support AWS Spot block instances as pseudo ASG"
We use autoscaler on AWS quite successfully for real time workloads, but would like to use spot instances for our CI build workload. Since spot instances themselves are too disruptive for non-preemptive workloads like CI jobs we want to use Spot Blocks (defined duration instances) where they are guaranteed for N hours.

Autoscaler could provision these instances and then replace them when they exp

[2018-08-08 12:35] SongGithub commented on #890
I am having the same problem. k8s=1.11, autoscaler=1.3.1

[2018-08-09 09:34] aermakov-zalando opened #1133 "Node pool scale up timeout"
The autoscaler has a timeout for non-ready nodes which forces it to kill those nodes and potentially select a different node pool in the next iteration. However, in the situation where the node pool cannot scale up at all it'll happily wait forever, keeping pods in Pending state without trying to compensate.

For example, setting multiple AWS Spot node pools with different instance types, or setti

[2018-08-09 10:02] MaciekPytel commented on #1133
CA should timeout scale-up (IIRC after 15 minutes) and put the node group that failed to scale-up in 'backoff' state. At that point it should try to scale-up again, ignoring this node group. You can see this by looking for one of the following:
* `Scale-up timed out for node group <name> after <time>` in logs
* `ScaleUpTimedOut` event on cluster-autoscaler-status configmap (in kube-system ns)
* No

[2018-08-09 12:33] aermakov-zalando commented on #1133
We're running version 1.2.2, but I can try with 1.3.1.

[2018-08-09 12:47] MaciekPytel commented on #1133
It shouldn't make any difference, this was added earlier than 1.2 (I don't remember exactly, but probably 1.1 timeframe?).

So you're saying it's stuck on `Upcoming 1 node` for more than 15 minutes? Can you provide a log of initial scale-up, a loop immediately after and another loop after 15+ minutes?

[2018-08-09 13:30] MaciekPytel commented on #1133
As @aleksandra-malinowska pointed out to me the timeout is effectively reset if there is another scale-up on the same node group (ie. CA only notices it if the last of multiple overlapping scale-ups times out). So that may be another thing to look for in the logs.

[2018-08-09 13:35] aermakov-zalando commented on #1133
The logs are in [this gist](https://gist.github.com/aermakov-zalando/c9465f420ba13b1814b1474531629792). Please ignore all ASGs and pods in `1b`, the nodes there were being destroyed by the Spot termination.

It looks like the scale-up timeout is working just fine and the pool is marked as unhealthy. However, in the next loop iteration CA doesn't consider another group that would've fit the same po

[2018-08-09 13:42] aermakov-zalando commented on #1133
I think the problem is that building `upcomingNodes` in https://github.com/kubernetes/autoscaler/blob/f646b9a5570fa0ef92f7bd4e181d5880a7667a9d/cluster-autoscaler/core/scale_up.go#L278 ignores whether the node group is healthy or not, so the loop in https://github.com/kubernetes/autoscaler/blob/f646b9a5570fa0ef92f7bd4e181d5880a7667a9d/cluster-autoscaler/core/scale_up.go#L304 thinks that the pod cou

[2018-08-09 13:53] aermakov-zalando commented on #1133
It seems that an easy fix would be to completely ignore upcoming nodes from unhealthy groups in `ScaleUp()`. It doesn't look like the list is used for anything other than scheduling estimation, so it shouldn't affect anything else. WDYT?

[2018-08-09 14:25] MaciekPytel commented on #1133
CA handles this by resizing the node group back to original size after timed-out scale-up. This is done in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/static_autoscaler.go#L180. However, going through the code it looks like this may not work for timed-out scale-from-0. It would be signified by lines in log looking like `Readiness for node group <group> not found",

[2018-08-10 02:34] ringtail opened #1135 "Could GPU support move to cloud provider?"
autoscaler has GKE GPU support and I want to add alicloud GPU to autoscaler. But I found the code is outside the scope of cloud provider, Is there any plan to move those code to cloud provider?

[2018-08-10 07:38] timothyclarke opened #1136 "Feature Request - Scale down should cordon nodes"
I use EC2 and have had instances where pods have been scheduled onto nodes which are in a shutting down state in EC2.
From observation it appears that when scaling down pods the node is not cordoned which would prevent new pods from being scheduled onto them.

[2018-08-10 07:55] x13n commented on #1112
Ideally, addon resizer should just look at pod count instead of node count and not assume anything about the count of pods/node.

Instead of reshaping your whole cluster to get lower pod/node ratio I'd just follow kawych's advice to bump the resource requests using custom config.

[2018-08-10 08:08] timothyclarke opened #1137 "Feature Request - scale-down-utilization-threshold per instance group, and from label"
We utilise a cluster that contains both CI and development environments. As such there is more than one instance group that needs scaling.
We are in AWS and the instance groups use different sized nodes for the CI compared to the general environments. As such having a common `scale-down-utilization-threshold` will cause either one instance group to prematurely kill nodes to be rescheduled elsewher

[2018-08-10 09:35] MaciekPytel commented on #1136
Cluster autoscaler adds `ToBeDeletedByClusterAutoscaler` taint with a NoSchedule effect to nodes it's deleting. Unless your pods have toleration for that taint (or some wildcard toleration) new pods should not be able to schedule on those nodes.

[2018-08-10 11:29] MaciekPytel commented on #1136
Agreed. This toleration doesn't fit our taint.

Regarding your feature request - we already implement it by adding the taint. If CA is not tainting nodes in your env it's a bug, but to investigate it I'd need more data including CA version and scale-down logs.

[2018-08-10 13:19] MaciekPytel commented on #1135
That's a very reasonable request, but I'd like to understand some details to figure out how this could be done.

Basically, most of gpu.go is a one big hack for the problem discussed in https://github.com/kubernetes/autoscaler/pull/597#issuecomment-362231521. Ideally, once the problem is fixed upstream, this whole file should be removed and there should be no special handling for GPU required on c

[2018-08-10 14:42] nithya-krish opened #1139 "metrics-server"
I am facing the problem that my metrics-server container ends up with the crashloop backoff state. Did anyone facing the same problem. Please help me to solve this issue.

[2018-08-10 14:45] MaciekPytel commented on #1139
This repo has nothing to do with metrics-server, you should open issue against https://github.com/kubernetes-incubator/metrics-server.

[2018-08-10 14:45] #1139 closed

[2018-08-11 13:31] #699 closed

[2018-08-12 09:57] ringtail commented on #1135
Yes,We do have the similar label `aliyun.accelerator/nvidia_name`. We need to check wether a node is a gpu node and what is the gpu type of this node. We can abstract two interface function in cloud provider with nodeInfo as param. one is to judge weather a node has gpu and the other is to get the gpu type of this node.

[2018-08-12 13:34] feiskyer commented on #843
/close

[2018-08-12 13:34] #843 closed

[2018-08-13 09:44] aleksandra-malinowska commented on #1135
Technically, wouldn't TemplateNodeInfo work for this? I.e., core autoscaler algorithm could get the template node for each node group at the beginning of the iteration. Then, check each node for GPUs and consider it not ready (for all cloud providers) if the template has GPUs, but the node doesn't. Node template has to have correct GPU information for scaling from 0 to work already; the only thing

[2018-08-13 13:15] MaciekPytel commented on #1135
IIRC for the base GPU implementation all you need is FilterOutNodesWithUnreadyGpus. As a short term fix you could probably just change that function to look at 2 different GPU labels instead of one.

Moving the implementation to cloudprovider makes sense, but it may take some time before we have time to do it. Also all this gpu code is only a temporary hack, so it would only be a temporary additio

[2018-08-14 16:57] tomkerkhove opened #1150 "Feature Request - Trigger webhook when scaling is performed"
_Disclaimer - If this is already possible, sorry for creating this issue but I couldn't find anything related to this_

Would be great to be able to configure a webhook which is called for every scaling operation (up or down).
This would allow users to gain insights on their scaling actions if they wish to do so.

A great example is how Azure Monitor autoscale provides this on their component for

[2018-08-15 00:16] feiskyer commented on #1063
New CA releases with AKS API 2018-03-31: https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.2.3-beta.1 and https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.3.2-beta.1.

@guitmz @abizake Could you help whether new releases fix the issue on your cluster?

[2018-08-15 01:36] feiskyer commented on #1118
cc @kkmsft @jackfrancis

[2018-08-15 03:05] ringtail commented on #1135
@MaciekPytel Yes,That's the point. I'm preparing the opensource process of Alicloud cloudprovider of autoscaler and I don't know how to handle the code about GPU support for Alicloud. So your advice is to just put them aside near the GKE GPU code and wait the addition to cloudprovider?

[2018-08-15 16:52] seh commented on #188
Which release is that? I still see this behavior—for both the "tolerations" and "affinity" fields in the pod spec—using the container image _k8s.gcr.io/addon-resizer:1.7_.

[2018-08-15 16:58] seh commented on #188
Ah, I see there was a release of [version 1.8.1 on 8 December 2017](https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.1).

[2018-08-15 18:13] seh commented on #188
Version 1.8.1 does not parse command-line flags properly (per #559). There is also a later container image _k8s.gcr.io/addon-resizer:1.8.3_ that's free of that problem.

[2018-08-16 07:30] bskiba commented on #1150
@MaciekPytel @kgolab I think you are the best suited to comment here.

[2018-08-16 09:50] MaciekPytel commented on #1135
@ringtail Correct. I'm not sure we can move it to cloudprovider in time for 1.12 and adding additional label to existing code should be a simple temporary workaround. Unless I misunderstood something and you need a more complex change?

[2018-08-16 10:37] ringtail commented on #1135
Hmm,that make sense. Thank you!😁

[2018-08-16 11:44] MaciekPytel commented on #1150
Currently there are no webhooks of any kind in CA and I'm worried adding them would require significant effort. For example we'd need to create a mechanism for registering those webhooks. We'd probably also have to start thinking about all the pesky stuff with certificates and security that we avoided so far by not having any API surface whatsoever. Personally I'd rather avoid the added complexity

[2018-08-16 11:46] MaciekPytel commented on #1135
/reopen
Let's keep this open to track a more permanent solution (moving GPU stuff to cloudprovider or fixing the issues that make it necessary).

[2018-08-16 11:46] iMartyn commented on #1105
@feiskyer No go I'm afraid.
[code]

The ClientSecret is set in the configmap as per these instructions : https://docs.microsoft.com/en-us/azure/aks/autoscaler so I think this is still a bug :(

[2018-08-16 13:35] MaciekPytel commented on #1150
For CA the events are described here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-events-are-emitted-by-ca.

HPA also writes events when performing scaling operations, but I don't know if they're documented anywhere. Probably the easiest thing would be to trigger a scale-up/scale-down and check out the events using `kubectl describe hpa`. For VPA @bskiba is

[2018-08-16 14:04] bskiba commented on #1150
For VPA there are no events written yet.
We are planning to add event on pod update for changing resource requests and there is an annotation on the pod that had it's requests modified by VPA.

[2018-08-16 14:06] tomkerkhove commented on #1150
Thank you for the information, I'm closing as the platform already provides information - I just need to find another way to hook into those.

[2018-08-16 14:06] #1150 closed

[2018-08-17 09:12] feiskyer commented on #1105
@iMartyn Thanks for feedback, let me have a check

[2018-08-17 18:32] consideRatio opened #1157 "Autoscaler docs - priority cutoff confusion"
While reading the [Cluster Autoscaler FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-cluster-autoscaler-work-with-pod-priority-and-preemption), I find the following statement saying that pods with priority lower than 0 don't trigger scale up.

**SCREENSHOT 1**
![image](https://user-images.githubusercontent.com/3837114/44282710-3bdf9700-a25c-11e8-84b7-7

[2018-08-20 02:39] directionless commented on #1112
My current work around is to bump up resources using custom configs. But it's an ongoing battle. My usage seems to be just far enough outside normal, that a lot of things don't work out of the box.

But, the feedback that my issue is likely with the pod/node ratio is very useful to me. Thank you for that pointer.

[2018-08-20 09:00] MaciekPytel commented on #1157
cc: @aleksandra-malinowska I think you made some changes in this doc when updating default cutoff? Can you take a look

[2018-08-20 11:05] losipiuk opened #1161 "Expose culprit code path which resulted in an error in metrics"
Currently we are reporting errors counts grouping them just by one axis. Each reported error is one of:
* cloudProviderError
* apiCallError
* internalError
* transientError

as defined in: https://github.com/kubernetes/autoscaler/blob/5c4693f95f37e37dc135cc4c3f69978a22545104/cluster-autoscaler/utils/errors/errors.go#L48

This does not give us information which code path resulted in an error. To ad

[2018-08-20 11:11] MaciekPytel commented on #1161
Do you mean to have a label with value specific for every possible error? That would explode metric cardinality, probably making it a no-go.

[2018-08-20 11:13] losipiuk commented on #1161
Yep. It would change cardinality by factor of (wild guess) 50. Seems feasible.

[2018-08-20 11:14] MaciekPytel commented on #1161
Huh, I wonder how you got to 50. Counting NewAutoscalerError + ToAutoscalerError?

[2018-08-20 11:14] aleksandra-malinowska commented on #1157
The default was only changed in manifest file for now (down to -10). Looking into why there's conflicting information here.

[2018-08-20 14:19] bskiba opened #1164 "Use informer to list VPA checkpoints."
We call API server directly to list VPA checkpoints. We should switch to using informer:
https://github.com/kubernetes/autoscaler/blob/9feb612e2200e04c2ac8f7dd7cc8e7adbe300add/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L190-L192

[2018-08-20 14:21] bskiba opened #1165 "Check if VPA object update is needed."
Object updates are costly. We should check if the object has changed before trying to perform an update.
We can also skip updates if recommendation delta is small and conditions haven't changed.
https://github.com/kubernetes/autoscaler/blob/9feb612e2200e04c2ac8f7dd7cc8e7adbe300add/vertical-pod-autoscaler/pkg/utils/vpa/api.go#L58:6

[2018-08-20 14:53] jrake-revelant commented on #1133
@MaciekPytel did you have a chance to look into it yet?

[2018-08-20 19:52] phsiao opened #1167 "vpa kubernetes client should initialize version for better logging and auditing"
Looks like vpa clients are not initialized with proper client version information so it shows up like this

[code]

where version is shown as v0.0.0, and with the $Format.

[2018-08-21 05:31] feiskyer commented on #1105
@iMartyn Could you send the error logs together with (subscription ID, resource group, aks cluster name) to `aks-gh-feedback@service.microsoft.com`? We need to dive into what's wrong.

[2018-08-21 16:14] iMartyn commented on #1105
So now I have no idea as creating a new cluster with aks on k8s 1.11.1 and cas 1.3.2-beta.1 worked.

I have mixed feelings about this because truly I was still seeing the above error but because of all the EUWest problems yesterday, we destroyed the test cluster.

[2018-08-21 20:45] #1111 closed

[2018-08-22 02:42] feiskyer commented on #1105
@iMartyn Thanks.

[2018-08-22 08:00] timstoop commented on #734
We are very interested in getting this to work. @dklyle would you be able to provide an update for this? Anything we can do to help you move forward with this?

[2018-08-22 14:33] petr-k commented on #1164
Hello, I intend to work in this one ;)

[2018-08-23 08:39] bskiba commented on #1164
Great! LMK if you run into issues.

[2018-08-23 09:23] bskiba opened #1181 "VPA object should have condition to signalize no matching pods"
When the label selector on VPA doesn't match any pods in the cluster, the recomender should set a condition on VPA object to indicate this as it will cause us not to provide recommendations.

[2018-08-23 09:27] bskiba opened #1182 "Cap recommendation upperBound to some sane value."
When we start providing recommendation for a VPA object, initially the upperBound is ridiculously high. This is confusing to the users and provides no information. We should cap this value to sth sane.

Some ideas are to cap upperBound to target recommendation +X cores or target recommendation + XX% of cores (analogous for memory).

[2018-08-23 09:52] bskiba commented on #1182
Need to choose a good capping value so that we will make sure this will not cause updater to start killing pods prematurely.

[2018-08-23 14:38] fdornberger opened #1184 "Cluster-autoscaler not considering the resource "pod" to scale upwards"
I'm using the CA on an AWS EKS cluster.

In the dev environment, I use t2.small instances which serve the purpose. The resource footprint of my apps in this environment is fairly low, which is why my pods could easily fit on 2 t2.small instances but AWS has a limit with regards to how many pods can be installed on a given instance type. This list can be found here: https://github.com/awslabs/amazo

[2018-08-24 13:31] aleksandra-malinowska commented on #1184
Scheduler's predicate PodFitsResources checks for the allowed number of pods based on Node object's Allocatable. Cluster Autoscaler runs this predicate, and if the limit is set correctly, it should be aware that it needs to add a new node. That being said, I have no idea how this limitation is imposed on EKS.

Can you provide output of running `kubectl get node \<node name\> -o yaml` to verify if

[2018-08-24 13:53] fdornberger commented on #1184
Hey @aleksandra-malinowska

Here's the YAML of one random node in the group:

[code]

[2018-08-24 14:44] aleksandra-malinowska commented on #1184
Looks like node's allocatable is set correctly, so it's probably not related to this. I'd recommend checking autoscaler logs for reason why there was no scale-up. Without knowing your exact setup, it's hard to guess what may be the cause.

[2018-08-24 14:46] fdornberger commented on #1184
@aleksandra-malinowska The above log extract (code block #2) is from the cluster autoscaler. It represents one full scaling cycle. What else would like like to have a look at?

[2018-08-24 15:02] MaciekPytel commented on #1184
I think that line from log is critical:
`W0824 14:01:35.660707       1 scale_up.go:105] Node group cr-k8s-dev-team-CASE20180822120533398900000002 is not ready for scaleup
`
Autoscaler is aware that you need more nodes, but it considers the node group is not healthy and adding more nodes to it will likely fail. This can be caused by one of two reasons:
1. A scale up on this group has failed recentl

[2018-08-24 15:07] fdornberger commented on #1184
@MaciekPytel Could it be that it was unable to scale up since I just manually terminated an instance to see if it's able to scale?

This is the configmap as you requested:

[code]

[2018-08-24 15:17] MaciekPytel commented on #1184
Right, so now it looks fine. You'd need to look at configmap while the problem was ongoing. Having a single broken node shouldn't be enough for CA to consider the group unhealthy. IIRC the group is unhealthy if max(4, 33% * number_of_nodes) of nodes are unhealthy. A group is in backoff for 5 to 30 minutes after a failed scale-up (exponential backoff).

[2018-08-24 15:19] MaciekPytel commented on #1184
For backoff you can grep the log for log messages starting with `Disabling scale-up for node group`.

[2018-08-24 15:45] fdornberger commented on #1184
@MaciekPytel Thanks for your help. You pushed me in the right direction.

This issue was the following: My EC2 instances lacked the right `autoscaling:SetDesiredCapacity` I didn't spot this since all the other functionality was working. I had the policy created but it wasn't attached to the instances and it slipped my attention but I was able to spot it in the logs, eventually:

[code]

After havi

[2018-08-24 15:57] #1184 closed

[2018-08-25 19:07] #516 closed

[2018-08-27 13:14] danbeaulieu opened #1195 "Several puzzles with AWS cluster autoscaler"
Hi I am prototyping a cluster on AWS using k8s 1.11.z. I get similar results for CA 1.2.2 and the 1.3 beta.

I have a 3 node control plane running t2 mediums created via kubeadm. I am NOT using cloud-provider=aws for any of the control plane services as we found it introduces a lot of magic that complicates our architecture. We do however set cloud-provider=aws for CA.

I have a worker node ASG (d

[2018-08-27 13:29] MaciekPytel commented on #1195
Let me start by saying we recommend our users to set --cloud-provider flag for control plane components. I haven't heard of anyone not setting it on purpose, so what you're trying to do is untested (at least to the best of CA developers knowledge).

1. I don't know, you'd probably have to dig through AWS cloudprovider code. Unfortunately AWS provider doesn't have a regular maintainer (none of the

[2018-08-28 10:44] ingvagabund opened #1196 "godep restore complains about non-existing revisions"
When running `godep restore` over a clean `$GOPATH/src` (export GOPATH=/home/jchaloup/Projects/src/k8s.io/autoscaler/cluster-autoscaler) of the master HEAD (https://github.com/kubernetes/autoscaler/commit/9ef1336fc0b9ed110c3e2b1a12a0233f7592b3a5), I get the following error:

[code]

That should not happen no matter how you generate the Godeps.json file.

[2018-08-28 11:18] aleksandra-malinowska commented on #1196
I wish this was true.

The k8s.io/ packages Godeps complains about are developed in kubernetes/kubernetes repo in staging and only periodically synced. This works fine if you only need to import those, but because of dependency on scheduler's code, Cluster Autoscaler needs to import core Kubernetes, which uses the version from staging (via some hacks of its own). Improving this was raised in #877,

[2018-08-29 00:44] osterman commented on #903
Fwiw, after upgrading to `1.2.0` it works for me. Not sure if/what other regressions were introduced, but autoscaling from zero works and I get pods scheduled on the instances.

[2018-08-29 13:00] gabrielmcf commented on #1105
Turns out it was a permission problem with our user that was fixed by us! Sorry for the anxiety but it seemed at the time a bug!

[2018-08-30 02:29] shailvipx commented on #972
My cluster was stuck for the longest time with 'updating/upgrading master' and it was auto-triggered. 'kubectl describe configmap cluster-autoscaler-status -n kube-system' does not display anything about master.
Having some type of access that can tell for a given operation, how much is completed and how much is left can be useful.

[2018-08-30 04:55] feiskyer commented on #1105
@gabrielmcf Thanks for the updates.

@abizake Have you checked whether the new releases solved your issue?

[2018-08-30 10:57] MaciekPytel commented on #972
@shailvipx That's a feature request to GKE in general. If the status configmap is not there it means that Cluster Autoscaler isn't running at all at the moment, so there is nothing it can do to provide status.

[2018-08-31 18:34] phsiao commented on #1181
@bskiba Happy to take this one.  Would something like

[code]

be what you are looking for?   Or a separate condition?

[2018-08-31 18:43] bskiba commented on #1181
I think this looks very reasonable. 👍

[2018-08-31 19:44] phsiao commented on #1181
Right now, the status does not contain a conditions map like below if there is no matching pod

[code]

it is easy to fix that by also setting things when `len(vpa.Recommendation.ContainerRecommendations) == 0`

to become

[code]

and would become normal again when pods are added to match

[code]

I still need to test for a couple of other cases and see how to address them, specifically,

1. when

[2018-08-31 22:18] phsiao commented on #1181
I did run into a weird case that I have not had a chance to look into while working on this.

When I created a VPA first without matching pods, then add pods later, recommender does not make recommendations for a long time as if the pods don't exist.  Restarting recommender fixes that.

[2018-09-02 12:45] feiskyer commented on #849
/remove-lifecycle stale

[2018-09-03 09:47] MaciekPytel commented on #555
/remove-lifecycle stale

[2018-09-03 17:59] bskiba commented on #1181
Hm, I'm testing this right now from the current master branch, and I don't see this. I first created VPA pointing at a non-existing deployment. No recommendation was generated. Then created the deployment. After ~2 minutes got the recommendation.

[2018-09-03 19:13] phsiao commented on #1181
I can't reproduce it consistently yet.  I was going to try delete vpa and deployment independently several times to test, because that is what I was doing when I am testing a pr

[2018-09-04 07:34] frittentheke opened #1208 "Cluster-Autoscaler should query AWS meta-data to determine AWS_REGION if not set"
Currently, the cluster-autoscaler requires the AWS_REGION variable to be defined. Surely this can be done statically in the YAML or via some init container calling the meta-data service from AWS or even by using the downwardAPI at some point in the future (https://github.com/kubernetes/kubernetes/issues/40610).

But with auto-discovery of the node ASG by tags and the whole scaling up and down depe

[2018-09-04 12:49] frittentheke commented on #778
@aleksandra-malinowska First of all, great work with providing such cool metrics. Especially when using magic tools like cluster-autoscalers, one needs to have those insights.

I just ran into the  <s>issue</s>  fact of the master nodes being counted in values like _cluster_autoscaler_nodes_count_ myself. I really believe counting the masters with a dedicated value to allow distinquishing between

[2018-09-04 13:59] MaciekPytel commented on #778
A few more label values is not a problem. Cardinality really becomes a problem when you try to aggregate metrics over hundreds or thousands of clusters - adding any cluster specific identifiers as label values effectively removes that option. I don't mind distinguishing master/non-master or other labels with a logical, predefined set of values, but I'd like to avoid using identifiers as label valu

[2018-09-04 15:26] aleksandra-malinowska commented on #778
Actually, it's @MaciekPytel who added those metrics in the first place. Thank him!

An alternative to get such detailed information may be to watch a stream of Kubernetes events published by Cluster Autoscaler. There should be events published for each scale-up, whether successful or failed, published for its ConfigMap object (since a node group itself isn't a Kubernetes concept): https://github.c

[2018-09-05 05:16] frittentheke commented on #778
@MaciekPytel thanks for the rapid feedback. Certainly any way to distinguish nodes and master, be it a label or a dedicated value, would be great - I was not implying labels but rather asking for the split in general ;-)

Regarding per ASG metrics - those I really believe would help tremendously as well to be available.

[2018-09-06 00:39] mateusz opened #1218 "[AWS/EKS] node group not ready for scale up / pod wouldn't fit"
I've set the autoscaler from the helm chart on AWS EKS:

[code]

Then I stressed the cluster to run out of resources - the error in kube on the pod is `0/2 nodes are available: 1 Insufficient memory, 2 Insufficient pods.` . IPs have ran out on both nodes, and memory on one:

![screen shot 2018-09-06 at 12 18 06 pm](https://user-images.githubusercontent.com/118653/45127913-f238fb00-b1ce-11e8-9a62-2

[2018-09-06 08:54] Whitespirit0 opened #1220 "Release date of CA 1.2.3 and 1.3.2"
Hello,

Do you have an estimated release date for Cluster Autoscaler 1.2.3 and 1.3.2?

Thanks!

[2018-09-06 09:55] aleksandra-malinowska commented on #1220
Hi, 1.3.2 was released just now: https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.3.2. 1.2.3 should be done today as well.

[2018-09-06 10:59] Whitespirit0 commented on #1220
Ok great, thanks!

[2018-09-06 14:26] aleksandra-malinowska commented on #1220
And 1.2.3 is here as well: https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.2.3

[2018-09-06 14:26] #1220 closed

[2018-09-06 14:31] aleksandra-malinowska commented on #1218
This line from configmap explains what's going on (although not why it got into this stage):

`ScaleUp:     Backoff (ready=2 cloudProviderTarget=2)`

Most likely, there was probably a failed attempt by Cluster Autoscaler to add a node to this group (node was requested, but never appeared), after which it stopped trying to add nodes to that group for a while. There should be a FailedScaleUp event f

[2018-09-06 14:32] ricolin commented on #734
@zetaab appears I have to fix gophercloud as well (already some fix merged,but needs more), will also implement in kops once we get full test here.

[2018-09-06 14:33] ricolin commented on #734
@timstoop Since this has been pending for long time, I will take over if that's fine with all. Any help or comments are welcome

[2018-09-06 14:35] ricolin commented on #734
Current patch still missing Test, and some implementation, I need to fix some issue in gophercloud (OpenStack Golang SDK) first before I can push all implement and tests up.

[2018-09-06 20:37] downeast opened #1228 "Failure to create AWS manager: limited to 50 ASG names"
Hello, we are running the cluster autoscaler on a cluster with many different scaling groups, and hit the following error on startup:

[code]

Seems like we need some batching logic here?  This is version 1.3.1.

[2018-09-06 23:41] mateusz commented on #1218
Oooh good shot - grepping for events different than `NotTriggerScaleUp` found:

[code]

Works now! Thank you :-)

[2018-09-06 23:41] #1218 closed

[2018-09-07 04:54] Rajat-0 commented on #1182
I would like to work on this

[2018-09-10 19:44] #1196 closed

[2018-09-10 19:46] bskiba commented on #1164
Actually, since VPA is the one writing checkpoints and we only list them once on startup, adding an informer here is not necessary. Sorry for the confusion!

[2018-09-10 19:46] #1164 closed

[2018-09-11 09:44] aleksandra-malinowska commented on #803
/remove-lifecycle stale

[2018-09-11 22:23] spiffxp opened #1239 "Use tide for PR merging"
This is a [core repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories).  As such, it [needs to use the same merge automation as the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1)

I have a PR open that will address this at an org-wide level: https

[2018-09-12 01:26] zeelichsheng opened #1240 "Autoscaler scaling down worker node with more pods than other candidate"
When autoscaler has multiple candidates for scaling down, it always picks the first candidate. It does not consider whether the cost of scaling down the first candidate is actually more than the second candidate.

For example, this is the log of autoscaler choosing a scaling-down candidate of two worker nodes. Worker node A has much more pods than node B. However, worker node A was chosen to be re

[2018-09-12 06:27] bskiba commented on #1240
@MaciekPytel

[2018-09-12 09:14] bskiba commented on #1239
@mwielgus @MaciekPytel Do you have anything against this? Otherwise lets approve

[2018-09-12 09:17] bskiba commented on #1165
@phsiao Does the fix in #1204 mitigate your issues when scale testing VPA? It shortened the time of updating 100 VPAs from 20s to aroun 1s. (writing checkpoints need work still though)

[2018-09-12 09:19] bskiba commented on #1096
Seems this can be closed.

[2018-09-12 09:19] #1096 closed

[2018-09-12 09:20] #1081 closed

[2018-09-12 09:32] MaciekPytel commented on #1240
@losipiuk I think you suggested a way to improve this?

[2018-09-12 09:47] MaciekPytel commented on #1239
@spiffxp Is this a complete list of changes? Or will we also need other things that are in k/k repo, like milestone + `priority/critical-urgent` requirement during freeze or release notes? I'd like to avoid too much overhead, given that this repo has just a handful of active contributors.

[2018-09-12 10:42] losipiuk commented on #1240
Yeah - I logged it as  https://github.com/kubernetes/autoscaler/issues/1070

Yet number disruptions is just one axis to look at when we choose node to scale down.
Actual design should also look at other things like:
 - money cost
 - impact on HA
 - etc.

[2018-09-12 10:44] losipiuk commented on #1240
I will close this one as duplicate feel free to add extra comments to #1070.

[2018-09-12 10:44] #1240 closed

[2018-09-13 18:52] hercynium commented on #923
My team at work has implemented a work-around for this issue. We've introduced a delay so that pods that are too "young" will not trigger a scale-up. The CA will only consider scaling-up for unschedulable  pods past a certain age. This is configurable via the command-line.

So far, in production, setting a delay of 2m seems to have eliminated the issue for us. I suspect the delay could be as littl

[2018-09-13 19:53] roberthbailey commented on #718
/remove-lifecycle stale

[2018-09-13 19:53] roberthbailey commented on #718
/lifecycle frozen

[2018-09-13 20:05] phsiao commented on #1165
I have not run into issues with updating too slow yet, as I am not yet testing for convergence speed.   But it is good to know this will now better.

[2018-09-14 01:12] WebSpider commented on #923
That sounds like a good addition to solve this issue :)

[2018-09-14 01:32] WebSpider commented on #1070
Given that the autoscaler can't have a clue about the expected lifetime of a pod, without being hinted by for instance annotations, I think it's really hard to do this right in all cases.

In order to keep code the code from growing to accommodate for all possible/likely scale down scenario's, I'd like to propose two scale down options:

1. Remove the node which results in the fewest pod migration

[2018-09-14 04:49] Rajat-0 commented on #1086
I would like to work on it

[2018-09-14 08:52] kgolab commented on #944
/remove-lifecycle stale

[2018-09-14 08:58] bskiba commented on #1086
Great! Feel free to send PRs my way

[2018-09-14 09:16] MaciekPytel commented on #1070
I think @WebSpider idea makes sense, though I'd like to include pod priority in it. Maybe first point should be 'fewest migration of pods with highest priority' instead. If the user doesn't use priority all pods will have the same priority, so it will be the same as what @WebSpider proposed.

[2018-09-14 12:14] WebSpider commented on #1070
So, when taking pod priority into account, and choosing 'fewest migrations of pods with highest priority', I think this would best be calculated by:

1. Not taking into consideration any pods with negative priorities. They indicate an expendable pod anyways, IMO
2. Then there are two options left, we either calculate the sum of positive priorities of pods that would have to migrate, or we calculat

[2018-09-14 13:30] MaciekPytel commented on #1070
I think any function calculating a numerical value like average is arbitrary. I would literally just compare number of pods with highest priority (ie. ignore everything else). If 2 nodes have the same number of pods with highest priority look at second-highest priority and so on (lexicographical comparison).

[2018-09-14 18:01] losipiuk commented on #1070
IMO any (or mostly any) deterministic routine is better than random behavior we have right now.

One thing worth noting is that CA scaledown algorithm currently considers a subset of potential scaledown candidates as long as the list is long enough. Changing that would be hard without hindering scalability. So even with prioritizing candidates there still is element of non-determinism if the actua

[2018-09-14 18:33] hercynium commented on #923
OK, I've posted a diff and a PR.

[2018-09-17 09:01] bskiba commented on #923
@aleksandra-malinowska Can you take a look?

[2018-09-17 16:57] spiffxp commented on #1239
@MaciekPytel those merge requirements are specific to k/k, and a special case

This is an attempt to standardize on the same query and code review mechanisms all repos in kubernetes-client, kubernetes-csi and kubernetes-sigs currently use. If you'd like, you can submit follow-on PR's to customize the merge method used.

[2018-09-17 17:11] #1239 closed

[2018-09-19 04:48] phyllisstein opened #1258 "VPA updater pod crashing with "invalid memory address or nil pointer dereference.""
👋 Hey folks! Just wanted to flag an issue I'm seeing with the VPA updater pod. It seems to crash every five minutes or so with the following error message:

[code]

Is there a stable Git commit that it makes sense to roll back to while this is being looked at? Thanks in advance for your help, and thanks for all your work on the autoscaler.

[2018-09-19 07:29] bskiba commented on #1258
This is fixed in the master branch. We should probably patch.

[2018-09-19 07:43] phyllisstein commented on #1258
Thanks for the heads up! I'll try reinstalling from `master` and see how it goes.

[2018-09-19 10:48] WebSpider commented on #740
/remove-lifecycle stale

[2018-09-19 11:54] aleksandra-malinowska commented on #638
@DirectXMan12 should we keep it open?

[2018-09-19 12:08] aleksandra-malinowska commented on #1070
Not necessarily - selecting at random avoids cases where get stuck trying to do something that doesn't work. A lot of issues with Cluster Autoscaler we've encountered so far were related to such behaviors (trying to remove the same unregistered node every loop and failing, trying the same scale-up option every loop and failing etc.) This doesn't mean we can't improve it, just that it's not as easy

[2018-09-19 13:01] WebSpider commented on #771
This looks like a fun challenge for a go newbie and k8s dev newbie to look into,  so I would like to have a crack at this

[2018-09-19 20:33] a200462790 commented on #894
Yes, I think that would solve our issue.

[2018-09-19 21:16] johanneswuerbach commented on #1228
@downeast sorry for the late reply, I recently rewrote the ASG autodiscovery logic, could you share whether you are using auto-discovery or explicitly defined asg names?

As far as I know all API calls should use paginate or support > 50 names.

[2018-09-19 21:18] johanneswuerbach commented on #1228
Scratch that, this method currently doesn't handle if number of ASG names is larger then the set max records https://github.com/kubernetes/autoscaler/blob/b8022c728cf3fbf17e8570f734618f739f3cc816/cluster-autoscaler/cloudprovider/aws/auto_scaling.go#L62-L65

[2018-09-20 05:40] dineshsckloud9 commented on #638
It works fine.. Closing this ticket

[2018-09-20 05:40] #638 closed

[2018-09-20 11:39] geoxanadu opened #1262 "cluster-autoscaler in AzureGermanCloud"
I am trying to implement the cluster-autoscaler in a kubernetes cluster in the Azure German Cloud. While editing the yaml file I came across the value "provider". Typically "azure" is here provided. However, it seems that this does not work for the german cloud. Unfortunately I was not able to find the suitable flag for the german cloud.
"AZUREGERMANCLOUD", "azuregermancloud" does not work either.

[2018-09-20 12:09] aleksandra-malinowska commented on #1262
cc @feiskyer

[2018-09-20 15:33] #1228 closed

[2018-09-20 16:51] Dregathar opened #1263 "Reaction on "failed to launch a new EC2 instance" event"
Hello,
Our application uses different types of instances as k8s nodes: c5 and i3. Pods running on c5 instances (let's name them 'core pods') use EBS volumes, so these pods are bound to a particular AZ. Pods running on i3 instances (let's name them 'compute pods') don't have EBS volumes and can run in any AZ. However, the application performs better if both core pods and compute pods run in the sam

[2018-09-20 17:16] aleksandra-malinowska commented on #1263
Existing functionality includes back-off on a failed node group scale-up attempt. This should cause the other group to be expanded instead, like you describe.

If I understand correctly, the problem here is that the request to set number of instances to 7 succeeds, however AWS doesn't start the instance? In this case, Cluster Autoscaler has no way of knowing the instance won't start until the node

[2018-09-21 05:01] feiskyer commented on #1262
@geoxanadu Please keep `--cloud-provider=azure` and add a new environment variable `ARM_CLOUD` to `AzureGermanCloud` for the CA deployment.

We should also document this in the docs.

[2018-09-21 16:13] WebSpider commented on #893
/remove-lifecycle rotten

[2018-09-21 16:56] Dregathar commented on #1263
@aleksandra-malinowska , thanks for your quick response. Your understanding of the issue is correct.
I looked at how failed scale-out event can be monitored, and e.g. this AWS CLI command shows the last scaling activity for a given ASG:
[code]
Don't be disoriented by the Cause ("increasing the capacity from 5 to 6") and the StatusMessage ("You have requested more instances (7)"). It is because I h

[2018-09-21 18:09] bkmeneguello commented on #892
So, there is some solution for this case? I have a similar problem with pods that cannot be terminated and an autoscaling group which I want to reduce always there is node underutilization. My pods are short lived so I just need to avoid nodes with more resources available to "pack" the pods in fewer nodes an allow the autoscaling to reduce my workers count.
@Sturgelose did you found any solution?

[2018-09-21 23:57] WebSpider commented on #918
I'll work on some docs for this, while I get to know the dev-side of go, k8s and CA.
/remove-lifecycle stale

[2018-09-23 22:02] johanneswuerbach commented on #1263
When I previously looked into this, the biggest issue I saw is correlating the SetDesiredCapacity capacity call and the failed activity as the desired capacity API response doesn't return any identifier to correlate them to activities.

But potentially it could be safe to always assume all pending scale ups of an ASG failed if it's activities contained a launch failure. In the worst case there wil

[2018-09-24 08:47] jonathortense commented on #1068
Hi @xtroncode Can you explain better how exactly you added `--cloud-provider=aws` to `kube-controller-manager`?

I have exactly the same problem here and I have no idea where and how I should do this (which files to update or what commands to run).

Thanks.

[2018-09-24 10:14] xtroncode commented on #1068
Hi @jonathortense , you need to add the flag `--cloud-provider=aws` to the init command of your `kube-controller-manager` . If your master components are hosted as static pods you should modify your pod manifests, you can find them in `/etc/kubernetes/manifests/` generally . Let me know if that resolves your issue, or I need to know how your cluster has been setup.

[2018-09-24 10:39] johanneswuerbach commented on #1263
From the above timestamps the duration looks > 15s :-(

[code]

My idea would be to fetch the latest activity per ASG during `Refresh()` if desired capacity is greater then the actual capacity (so we limit the amount of additional API calls) and check for errors https://docs.aws.amazon.com/autoscaling/ec2/userguide/CHAP_Troubleshooting.html#RetrievingErrors

If there is a failure mark the ASG as t

[2018-09-24 12:00] bskiba commented on #1258
@phyllisstein Is the issue fixed for you?

[2018-09-24 12:14] johanneswuerbach commented on #1258
I had the same issue with the released images, but building from master resolved it 👍

[2018-09-24 12:15] bskiba commented on #1258
cool, thanks, I'll close then. Feel free to reopen if needed.

/close

[2018-09-24 12:15] #1258 closed

[2018-09-24 12:20] stroon2 opened #1270 "[AKS] [Autoscaler]Failed to find readiness information for agentpool / segmentation violation"
Hello everyone,

Cluster autoscaler service seems to have some problem to get nodegroup health status however our cluster works fine.

Pod scheduling works fine but when I  exceed cluster limit autoscaler don't scale the cluster an the pod panic.

Here is more information:

**Kubectl get node:**
'''
_NAME                       STATUS    ROLES     AGE       VERSION   LABELS
aks-agentpool-33865844-0

[2018-09-24 12:35] phyllisstein commented on #1258
Yup, apologies for not following up, but building the images from `master` did the trick on my end as well. Thanks for pointing me in the right direction!

[2018-09-24 12:37] bskiba commented on #1258
No problem, glad this worked out for you!

[2018-09-24 19:46] mtougeron opened #1271 "new aws ec2 instance types missing from 1.3.3 release"
The latest 1.3.3 release is missing the new aws ec2 instance types. Is it possible to get a release cut with those new types? The new types were added 2 weeks ago with PR #1234

[2018-09-25 08:02] aleksandra-malinowska commented on #1271
Can you make a cherry-pick to 1.3 branch?

[2018-09-25 12:32] losipiuk commented on #1270
The direct cause of panic is bug in `scale_up.go`.
We try to dereference `err` which is nil in that case.
But underlying issue is that we are not getting `NodeInfo` for presumably autoscaled node group - which suggests configuration issue. Will get back to that later today.

[2018-09-25 12:51] aleksandra-malinowska commented on #1270
This panic has been fixed on master already. What probably remains to be fixed is entering err != nil branch with nil error (probably caused by Golang's nil interface gotcha * sigh *)

[2018-09-25 14:41] losipiuk commented on #1270
Ok - from what I see the Azure cloud provider does not support scale-up from empty node groups.
Please ensure that all autoscaled agentpools are non-empty and the should start to surface.

cc: @feiskyer

[2018-09-26 01:45] feiskyer commented on #1270
This is right except VMSS. Only VMSS support zero nodes on Azure now.

@stroon2 From the logs, CA failed to get node group for all AKS nodes. Are there any error logs before `Skipping aks-agentpool-33865844-0 - no node group config`?

cc @kkmsft

[2018-09-26 10:19] stroon2 commented on #1270
Here is a complete Autoscaler pod logs (loglevel=5)
I replaced few strings by *

I tried with loglevel 6 to see it was any connexion problems but nothing.

I double check the NodeResourceGroup name. The deployment has been made following AKS documentation https://docs.microsoft.com/en-us/azure/aks/autoscaler.

'''
_I0926 08:31:43.905949       1 flags.go:52] FLAG: --address=":8085"
I0926 08:31:43.9

[2018-09-26 15:11] kkmsft commented on #1270
Hi @stroon2 - Thank you for using the AKS autoscaler.

Looks like there is a mismatch:

The tag has MC_RG-APPLI-HPROD_AKS-LHA-HPROD02_northeurope
but the NodeResourceGroup provided:

I0926 08:32:51.287330 1 azure_container_service_pool.go:402] Node Name: aks-agentpool-33865844-0, ID: /subscriptions/581c1d56-05c5-4f65-b4dd-9908d82eed29/resourceGroups/**MC_RG-APPLI-LES_HALLES-HPROD_AKS-LHA-HPROD02_n

[2018-09-26 15:26] Dregathar commented on #1263
Thanks for you comments. Yeah, waiting even 10 extra seconds is not an acceptable trade-off, especially given that the situation we want to handle here is rare per se.

[2018-09-27 06:35] warmchang opened #1278 "As VPA evolves to beta features in release 1.12, the README and examples need to be updated."
ref: https://github.com/kubernetes/features/issues/21

I can implement these changes. :smiley:

[2018-09-27 12:05] #918 closed

[2018-09-27 14:28] stroon2 commented on #1270
Thank you for your help but it's not a problem with NodeResourceGroup (I missed my obfuscation!).

I wonder which request is made before getting "Failed to find readiness information for agentpool"?  It's a request made to Azure or to Kubernetes ? Is the information missing ou unavailable ?

Regards

[2018-09-27 16:09] szuecs commented on #1133
@MaciekPytel could you reproduce this?

[2018-09-27 17:31] ReillyProcentive opened #1280 "node-group-auto-discovery no longer accepts multiple tags"
We're running a Kubernetes 1.10.8 cluster in AWS (provisioned via KOPS) with the following flags:
[code]

This worked fine with Autoscaler 1.1.3, however when we upgrade to 1.2.3 it fails with the following error:
[code]

Looks like the behavior was changed by this commit:
53fc344ecabbad73c0063d065bc2223d43318033