[2022-02-28 17:41] PrayagS opened #4719 "Modify chart templates to allow creation of intended manifests when installing as a sub-chart"
**Which component are you using?**: cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Because of a long standing Helm issue (helm/helm#9136), if we deploy cluster autoscaler as a sub-chart, we cannot remove the keys we do not want. Eg. if I don’t want to create a `pdb`, just commenting it out or providing a null val

[2022-03-01 02:53] moluzhui opened #4720 "When deleting the k8s deployment of cluster-autoscaler, the configmap is not deleted because of permission problems"
**Which component are you using?**:

using cluster-autoscaler

**What version of the component are you using?**:

Component version:
tag is cluster-autoscaler-1.21.0
**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18

[2022-03-01 17:25] matt-demers commented on #4152
Commenting because we are seeing the exact same issue with the exact same error messages. Also running VPA 0.9.2

We had an issue where one of our deployments was perfectly healthy and scaled up to match the needs of the cluster, but then a series of OOM errors put the VPA into a loop where it continually lowered the memory limits, and caused more OOM errors.

You can see this happening in our das

[2022-03-03 00:14] #4635 closed

[2022-03-03 09:29] jbartosik commented on #4707
Please report this issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podautoscaler).

[2022-03-03 09:29] #4707 closed

[2022-03-03 09:29] jbartosik commented on #4679
Please report this issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podautoscaler).

[2022-03-04 07:29] smrutiranjantripathy commented on #3802
We are able to get around this issue by using tags of labels as described[ here.](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0)

[2022-03-04 18:39] towca opened #4724 "Pod spec equivalency checks can break Cluster Autoscaler scalability"
The logic in `buildPodEquivalenceGroups` and `filterOutSchedulable` groups pods by their scheduling requirements, as a scalability optimization. This is done by first grouping by the controller UID, and then comparing pod specs for pods from one controller. If there's something in the pod spec that's unique to a single pod within a controller, every pod ends up in a group of its own, and the optim

[2022-03-06 12:13] jkl373 commented on #4694
Hi can someone help look into this ?

[2022-03-07 07:38] Pisztrang commented on #4682
Hi

What I did earlier is the following:
1) install VPA as describer. Only difference was that the minimum memory was set to 10Mbyte
[code]
2. Start the VPA for my application
[code]
3. I ran some performance test with 100tps. Then I can see that the reccomendation is showing some value, which seems to be OK.

4. then I stopped the test case and removed the VPA from k8s (vpa-down.sh).
5. Now givin

[2022-03-08 20:16] iomarcovalente commented on #3845
I have this exact problem too, to add further info the error I get on the pod unable to scale from zero is:
```pod didn't trigger scale-up (it wouldn't fit if a new node is added): 24 Insufficient cpu, 18 Insufficient memory, 3 node(s) had volume node affinity conflict```

[2022-03-08 20:35] ddelange commented on #4502
Can this issue be closed as of #4665?

[2022-03-09 04:23] AndrewFarley commented on #4502
Yep!

[2022-03-09 04:23] #4502 closed

[2022-03-09 11:39] kyranb opened #4729 "Lower timeout seconds to 29"
**Which component are you using?**: The reccomender

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Digital Ocean is unable to auto upgrade the cluster because `[Mutating webhook with a TimeoutSeconds value smaller than 1 second or greater than 29 seconds will block upgrades.](https://docs.digitalocean.com/products/kubernetes/resour

[2022-03-10 09:24] RuriRyan opened #4730 "[VPA] Feature Request: Delete OOM Pods"
**Which component are you using?**:

VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

To apply new resource recommendations the VPA uses the eviction API to evict Pods. This works fine for most cases. The problem we are facing is that when we have multiple replicas and a PodDisruptionBudget (PDB) which allows one disruption, the

[2022-03-11 01:25] AlexMichaelJonesNC opened #4731 "Priority Expander on AWS EC2 cannot cope with lack of capacity"
**Which component are you using?**:
Cluster Autoscaler configured with a Priority Expander

**What version of the component are you using?**:

Component version: Cluster Autoscaler v1.21.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"20+", GitVersi

[2022-03-11 01:49] arnavc1712 commented on #3902
Hi, I have been getting the same issue. Has there been any fix for this merged into master yet. Does this error persist with other versions of the VPA?

[2022-03-11 12:39] DavidSpek commented on #3150
@elmiko Do you have a link to a PR we can follow?

[2022-03-11 13:25] #4177 closed

[2022-03-11 14:38] elmiko commented on #3150
@DavidSpek i am hoping to have the PR ready next week, you can follow my progress on this branch for now https://github.com/elmiko/kubernetes-autoscaler/tree/capi-scale-from-zero

i have it working, but i need to do some cleanups around the dynamic nature of the client, and also add some unit tests. there is a complicated problem to solve wherein we need the client to become aware of the machine t

[2022-03-11 21:13] robisoh88 opened #4732 "Cherry pick #4394 onto release v1.19.2"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.19.2

**What environment is this in?**:

EKS v1.19

**What did you expect to happen?**:

Fix on[ #4394](https://github.com/kubernetes/autoscaler/pull/4394) should be available.

**What happened instead?**:

The bug still exists.

**How to reproduce it (as minimally and precisely as possib

[2022-03-13 11:47] itssimon commented on #3241
/remove-lifecycle rotten

[2022-03-14 05:01] janardhanpulivarthi commented on #3713
Try patching for the workaround:

For example
[code]

[2022-03-14 06:48] liugb1029 opened #4733 "VPA restarts my pods but does not modify CPU or memory settings"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:
0.10.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
[code]
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
[code]

**What did you expect to happen?**:

**What h

[2022-03-14 07:37] WebSpider commented on #1070
/remove-lifecycle stale

[2022-03-14 11:26] gjtempleton commented on #4732
Hi there, we can't cherry-pick this onto an existing release, however, we've cut releases out of our usual support windows to address issues like this before.

I've added discussing cutting a 1.19.3 release to include this fix to the agenda for the next SIG meeting.

[2022-03-14 16:57] pierluigilenoci commented on #4231
/remove-lifecycle stale

[2022-03-14 16:57] pierluigilenoci commented on #4099
/remove-lifecycle stale

[2022-03-14 16:57] pierluigilenoci commented on #4129
/remove-lifecycle stale

[2022-03-14 17:49] #4388 closed

[2022-03-14 17:49] #4399 closed

[2022-03-14 19:41] rittneje commented on #3693
/remove-lifecycle stale

[2022-03-15 01:32] lawliet89 commented on #3879
/remove-lifecycle stale

[2022-03-15 16:49] marwanad commented on #4051
It's important to call-out that this is **unregistered** node deletions which is an error recovery loop and not your usual VM deletes.

If that's due to regular scale-downs, then there might be an issue in the Azure provider but none of that provider code is blocking in a sense that it will block the CA main loop or scale-ups.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscale

[2022-03-15 16:57] Michael-Sinz commented on #4051
Yes, it is an error recovery loop but it happens far more often than one may expect.  VM deletes or VM scale ins sometimes fail and then become unregistered nodes in that they are listed in the VMSS but are not part of the kubernetes cluster (not joined)

Under strong scaling (adding/removing tens or hundreds of nodes) it is possible for one or more instances to fail and thus end up as unregistere

[2022-03-15 17:03] KashifSaadat opened #4739 "No ScaleUp action for a new Pod and existing PVC/PV (AWS EKS, EBS Volume)"
**Which component are you using?**: cluster-autoscaler, helm chart

**What version of the component are you using?**: k8s.gcr.io/autoscaling/cluster-autoscaler:v1.20.0, cluster-autoscaler-chart-9.9.2

**What k8s version are you using (`kubectl version`)?**: v1.21.5-eks-bc4871b

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Server Version: version.Info{

[2022-03-16 10:03] #4724 closed

[2022-03-16 12:53] jkl373 opened #4741 "Autoscaler getting into segmentation faults"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.21.2

Component version: v1.21.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitCommit:"ab69524f795c42094a66302

[2022-03-16 14:30] StefanCenusa commented on #4667
Hello @caddac,

I've also ran into this error on the vpa-admission-controller pod. I've installed VPA into the cluster using `hack/vpa-up.sh` on MacOS using the default openssl (which is libressl actually).

When started, the vpa-admission pod logged:
[code]
then the errors:
[code]
whereas, when I've installed VPA using the openssl (1.1.1m - not the default one):
[code]

Notice the difference of r

[2022-03-17 09:06] neogeogre commented on #4220
for people with the same issue using terraform and aws this can help:

https://github.com/terraform-aws-modules/terraform-aws-iam/tree/master/modules/iam-role-for-service-accounts-eks

[2022-03-17 12:53] adriananeci opened #4744 "Does VPA support autoscaling its own components?"
Does VPA support autoscaling its own components like recommender and updater?

[2022-03-17 14:29] x13n opened #4745 "Use PreFilterResult in SchedulerBasedPredicateChecker"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Scheduler framework is slow when scheduling DaemonSet pods, since it unnecessarily iterates over all possible nodes to find a match. This was recently fixed, but resulted in API change in scheduler framework.

**Describe the solut

[2022-03-17 16:10] alfredkrohmer commented on #3949
/remove-lifecycle stale

[2022-03-17 21:38] shahadc commented on #3877
/reopen
/remove-lifecycle rotten

[2022-03-18 08:53] geNAZt commented on #3984
We currently have the same problem. We use memory emptyDir for caching and it prevents pods from getting moved. In that case its completely save to do though.

[2022-03-18 11:30] #4384 closed

[2022-03-18 12:32] matti opened #4746 "memory usage increases heavily with pods"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version:  k8s.gcr.io/autoscaling/cluster-autoscaler:v1.23.0

installed with helm chart 9.16.1 with values: https://gist.github.com/matti/40e75785f5e7070502ac1ffa10543757

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:

aws eks 1.

[2022-03-18 12:55] matti commented on #4746
Tested again, the only change was to change "expander:" from "most-pods" to "least-waste in that helm values.

This time it's 866Mi, eg 37x increase

[code]

[2022-03-18 12:56] matti commented on #4746
~ 160 nodes, 5800 running pods out of 10,000

[2022-03-18 13:40] uroy-personal commented on #4745
Good Morning @x13n,

I am interested to work on this issue. Please let me know if I can assign it to myself.

[2022-03-18 17:10] sergeyshevch commented on #4715
I've made a little research about this bug and want to add more context into this issue

[code]

So we need to update `alibaba-cloud-sdk-go` to solve this issue. `alibaba-cloud-sdk-go` was vendored in 2018 in this repo (962826e46aecb66be71c16df81a587dba357f9d1).  New versions of `alibaba-cloud-sdk-go` doesn't contain such package as a dependency.

I can make a PR to update `alibaba-cloud-sdk-go` b

[2022-03-18 17:11] sergeyshevch commented on #4715
/assign

[2022-03-18 19:08] jeremyfreudberg opened #4748 "VPA e2e uses old resource-consumer image not built for s390x"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:

latest

**What environment is this in?**:

Red Hat OpenShift for IBM Z and IBM LinuxONE, but is applicable to all Kubernetes installations on s390x

**What did you expect to happen?**:

e2e tests pass

**What happened instead?**:

e2e tests fail

**How to reproduce it (as minimally and p

[2022-03-18 19:13] jeremyfreudberg opened #4749 "VPA e2e uses ubuntu-slim image which is amd64-only (and very old)"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

latest

**What environment is this in?**:

OpenShift, but applicable to all Kuberenetes installations on non-amd64

**What did you expect to happen?**:

e2e tests pass

**What happened instead?**:

e2e tests fail

**How to reproduce it (as minimally and precisely as possible)**:

[e2e t

[2022-03-18 19:18] jeremyfreudberg opened #4750 "VPA e2e uses stress image which is amd64-only (and very old)"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

latest

**What environment is this in?**:

OpenShift, but applicable to all Kubernetes installations on non-amd64

**What did you expect to happen?**:

e2e tests pass

**What happened instead?**:

e2e tests fail

**How to reproduce it (as minimally and precisely as possible)**:

[e2e te

[2022-03-18 20:24] x13n commented on #4745
Thanks for expressing your interest in this!

Since the scheduler change went in just a few days ago, I think we have to wait for next 1.24 pre-release though. `v1.24.0-alpha.3` is over a month old now.

[2022-03-19 09:56] matti opened #4751 "autoscaler uses nodegroups which are not healthy"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version:  k8s.gcr.io/autoscaling/cluster-autoscaler:v1.23.0

installed with helm chart 9.16.1 with values: https://gist.github.com/matti/40e75785f5e7070502ac1ffa10543757

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:

aws eks 1.

[2022-03-19 10:14] matti commented on #4746
usage 785Mi with 385 nodes, 8630 running pods out of 10,000

[2022-03-19 15:41] uroy-personal commented on #4745
Yes Sure.

[2022-03-20 14:42] matti commented on #4746
1024Mi peaked (OOMKill) with 570 nodes, 11323 running pods out of 15,000 - increasing the memory limit to --> 1.5 GIGS <--

[2022-03-20 14:44] matti commented on #4746
after increase I saw 1209Mi usage (out of 1536Mi) before I had to scale down

[2022-03-20 21:32] ayush5588 opened #4752 "NodePIDPressure & NodeMemoryPressure not being checked"
Why NodePIDPressure & NodeMemoryPressure are not being considered to decide whether the node is ready to accept new pods?

https://github.com/kubernetes/autoscaler/blob/ecc0eed4fccdf9dd98aaf4757243bdbd5902dc47/cluster-autoscaler/utils/kubernetes/ready.go#L76

[2022-03-21 09:43] nmiculinic commented on #4342
/remove-lifecycle stale

[2022-03-21 12:59] #4643 closed

[2022-03-21 13:04] phillebaba opened #4754 "Max Node Lifetime"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

In my experience long running node can at times experience performance degradation or other issues at a higher rate compared to newer nodes. I don't really have any measurements to back up this statement but it is a general experi

[2022-03-21 13:37] ubikusss opened #4755 "Custom Kubernetes without AKS Engine"
Hello,

I am trying to use autoscaler with a custom deployment in Azure. Would that be possible?

Basically we are creating a kubernetes cluster over VMSS but not using [aks engine](https://github.com/Azure/aks-engine). We also want to use a MSI. I already did some tests with the `vmss` option but to no avail.

Best regards,
Dini

[2022-03-21 14:18] bpineau opened #4756 "Ignore daemonset unschedulable pods for upscales?"
The Kubernetes daemonset controller can create unschedulable pods in some situations, which can permanently slow down the cluster-autoscaler.

Here is an example situation we saw on live clusters:
1. A cluster with many nodes at maximum pods capacity (`allocatable.pods`): they can't take more pods
2. A new daemonset is deployed
3. The standard k8s daemonset controller will create pods targeting ea

[2022-03-21 16:00] databonanza opened #4757 "Downscaling nodes on EKS causes 504 errors in application."
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 9.11.0

**What k8s version are you using (`kubectl version`)?**: v1.18.20-eks-8c49e2

**What environment is this in?**: AWS

**What did you expect to happen?**:  We expect that when we reduce replicas for an application that causes a node scale down for that to not cause any downtime as cluste

[2022-03-21 20:35] michaelswierszcz commented on #3784
[code]

[2022-03-22 01:41] yselkowitz commented on #4750
#4546 which switched this test to the upstream image did not help, as it too is only available for x86_64.
/cc @jbartosik

[2022-03-22 02:17] marwanad commented on #4401
AKS-managaed autoscaler handles the minCount bump transparently as of few months ago.

If self-managed, then this is a limitation from upstream that doesn't force a scale-up on min-count change.

/close

[2022-03-22 02:17] #4401 closed

[2022-03-22 04:52] pallasite99 commented on #3126
Hey @janavenkat, @abelgvidal

Would you know if the image for k8s registry was just removed and we should just use the other ones?

[2022-03-22 11:44] jbartosik commented on #4535
I released [0.10.0](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.10.0) on 2022-01-26, I'm closing this issue.

Please reopen if this doesn't solve your problem.

[2022-03-22 11:44] #4535 closed

[2022-03-22 12:14] jbartosik commented on #4729
VPA admission controller already has a flag for this: [`--webhook-timeout-seconds`](https://github.com/kubernetes/autoscaler/blob/a3267ca3b0525db9bba0ffb878b168d1d78f6c3a/vertical-pod-autoscaler/pkg/admission-controller/main.go#L67).

Please reopen if this doesn't work for you. If you do reopen please explain why setting the flag won't work but changing default would (changing default will affect

[2022-03-22 12:31] kyranb commented on #4729
Thanks, I appreciate you leaving the flag here for others to see. The reason that a change to the defaults would benefit everyone is that:

This is taken from `Clusterlint` which Digital Ocean maintains as a set of best practises and is designed to work with all clusters, not just workloads running on Digital Ocean: https://docs.digitalocean.com/products/kubernetes/resources/clusterlint-errors/#ad

[2022-03-22 12:36] jbartosik commented on #4744
I don't recall anything about VPA scaling VPA either way.

So I think you could configure VPA to scale VPA if you want. But I'd be very careful about using anything other than `Off` mode - if VPA applying its recommendation to VPA breaks VPA then there will be no VPA to notice and improve the recommendation.

`Off` mode is probably fine.

Could you explain why you're thinking about this?

[2022-03-22 12:37] jbartosik commented on #4755
Which autoscaler are you trying to set up ([here](https://github.com/kubernetes/autoscaler#whats-inside)'s a list)?

[2022-03-22 12:43] ubikusss commented on #4755
Yes, sorry, forgot to mention, cluster autoscaler.

[2022-03-22 13:01] mkjpryor opened #4758 "Allow Cluster API node groups to scale to and from zero"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I have a Cluster API cluster with some general purpose nodes and some specialist, expensive nodes that is used for batch-type workloads. I would like to be able to scale the specialist nodes down to zero unless a workload needs th

[2022-03-22 14:25] ialidzhikov commented on #4545
/remove-lifecycle stale

[2022-03-22 15:36] jbartosik commented on #4733
Can you give me some more information?

I can see that pods are called hamster. Does it mean you're running `vpa-full` tests and you're seeing the problem in those tests?

[2022-03-22 16:16] jbartosik commented on #4750
Supporting more archs is good. Please let me know if you have any questions / need review

[2022-03-22 16:17] jbartosik commented on #4748
I think updating dependencies is a good idea, I'm happy to review PRs.

[2022-03-22 16:19] jbartosik commented on #4730
I'm not sure if VPA is the right place to do the change. I think it would be better to change PDB to evict crash looping pods.

[2022-03-22 16:30] yselkowitz commented on #4750
Your initial approach to #4546 was to build the image and then promote it like other kubernetes test images, which if done properly should work for multi-arch support.  Any reason why that could not proceed?

[2022-03-22 18:10] fsalazarh opened #4759 "VPA Doesn't respect the Controlled Values set as RequestsOnly"
**Which component are you using?**: VPA

**What version of the component are you using?**:

Component version: 0.10.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitT

[2022-03-23 02:26] jkl373 opened #4760 "[GCP] ClusterAutoscaler restarts with error: Failed to fix node group sizes..."
**Which component are you using?**:
Cluster-Autoscaler

**What version of the component are you using?**:
Component version: v1.21.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitCommit:"ab69524f795c42094a6630298ff53f3c

[2022-03-23 08:59] matti commented on #4757
do you have PodDisruptionBudgets sets for your app? are you running managed nodegroups?

managed nodegroups will drain the node properly when PodDisruptionBudgets are set

[2022-03-23 12:46] cardiff1982 opened #4762 "Installation to AWS EKS using helm fails"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:
1.21

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
AWS

**What did you expect to happen?**:

**What happened instead

[2022-03-23 12:50] fsalazarh opened #4763 "VPA Doesn't respect the minAllowed and maxAllowed"
**Which component are you using?**: VPA

**What version of the component are you using?**:
0.10.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitT

[2022-03-23 13:50] MaciekPytel commented on #4756
I don't see any reason to consider DS pods in scale-up, since you can't possibly add a node that would be able to run them anyway. I think it's important to consider them in filterOutSchedulable step to account for the resources they will consume, but the change you're proposing is filtering the DS pods after filterOutSchedulable so it looks good to me.

I'd be interested to learn if you observed

[2022-03-23 13:51] BigDarkClown commented on #4745
The Kubernetes v1.24.0-alpha.4 was just released, and it contains the change in question. I've already done a vendor upgrade as a part of https://github.com/kubernetes/autoscaler/pull/4761, after it is merged you should be able to work on it.

[2022-03-23 13:55] MaciekPytel commented on #4756
Note that considering permanently unschedulable ds pods in filterOutSchedulable is potentially more costly than considering them in scale-up. I think https://github.com/kubernetes/autoscaler/pull/4735 should really help with that.

[2022-03-23 15:49] databonanza commented on #4757
The problem is that the node isn't deregistered from the NLB prior to it's ec2 instance being shut down.  We are not having an issue with our application pods draining from the nodes.  Each node that ends up "going away" drains to 3 pods only which are all related to the k8s infrastructure.  Kube-proxy is one of them and I think this is the root of the issue.  Kube-proxy being running within the c

[2022-03-23 22:45] eigood commented on #4400
You have to create a pod with correct affinity or tolerations, such that the autoscaler knows that something is pending to be scheduled.  It won't just add a node until there is at least a Pending pod.

[2022-03-24 08:32] #4010 closed

[2022-03-24 10:56] jbartosik opened #4764 "VPA e2e tests are all failing"
VPA actuation, admission controller, full, recommender, and updater e2e are all failing (and have been failing as fart as the dashboard goes (two weeks back)):

https://k8s-testgrid.appspot.com/sig-autoscaling-vpa

[2022-03-24 10:59] jbartosik commented on #4759
This sounds like a bug.

We have an e2e test for that. But all VPA e2e are failing right now (#4764). I'll come back to this issue when I know what's up with #4764

[2022-03-24 11:02] jbartosik commented on #4764
I took a look at a few failures from different test suites and they all look like [this one](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-updater/1506887456606130176):

[code]

[2022-03-24 11:23] RuriRyan commented on #4730
The eviction is triggered by the VPA, through the eviction API. You mean to change the eviction API to allow evictions when all replicas or at least the current pod is crashlooping anyways?

[2022-03-24 11:39] jbartosik commented on #4729
I thought about this  a bit more.

I think I might be ok with changing the default value of the flag after all. From what I saw VPA admission controller is taking much less time than 30s so it could be safe.

I still want to check:

- If VPA admission controller is also much faster than 30s in other places too,
- What value would make sense,
- Are others ok with the flag default value change / do

[2022-03-24 13:27] fsalazarh commented on #4763
This is the problem, the Updater and Admission controller doesn't respect the limits. They apply the recommendations even those outside of `minAllowed` and `maxAllowed`.

Sure, I'm inspecting the situation and I'll comment with more details. Thanks.

[2022-03-24 15:42] jbartosik commented on #4730
Yes, changing eviction API is what I suggested.

[2022-03-24 15:44] jbartosik commented on #4763
Ack. Then this is a problem. I think we have e2e tests for that (but right now all e2e are failing #4764).

[2022-03-24 15:56] demikl commented on #4733
Same observation here. I have a dozen of VPA in my cluster, some of them are in Auto update mode. On one VPA (targeted to a daemonset for a Datadog agent that has 4 containers), pods are being evicted by the VPA updater but the mutating webhook does not patch anything.

[2022-03-24 19:42] #4402 closed, assigned to nobody

[2022-03-24 19:42] #4415 closed, assigned to nobody

[2022-03-24 19:42] #4418 closed

[2022-03-25 00:52] alex0z1 commented on #1653
I had this issue with autoscaler , with CPU limit set to 100m
[code]

setting limit to 1 CPU solved the issue (it needs more CPU when it starts)
so in my case, it was a CPU throttling and it slowed down autoscaler itself

[2022-03-25 09:41] ubikusss commented on #4755
It's good, it works fine :)

[2022-03-25 09:41] #4755 closed

[2022-03-25 13:31] RicardsRikmanis commented on #4337
Encountered the same issue.

We have pods that have preStop hooks with sleep commands. In our case, we have statefulsets that that depend on `aws-ebs-csi` daemon set pods to de-attach and un-mount the volumes.

When CA scales down nodes all the pods are evicted including the `ebs-csi-node` pods, while our statefulsets are stuck in `terminating` state since they cant un-mount the attached volumes w

[2022-03-28 07:53] mfilocha commented on #3947
According to https://cloud.google.com/kubernetes-engine/docs/release-notes#October_27_2021: _"In GKE version 1.22 and later, GKE cluster autoscaler (...) will support scaling down nodes with pods requesting local storage."_

[2022-03-28 10:12] demikl commented on #4733
I had some time to gather some data. Let me know if you need me to investigate further.

VPA object:

[code]

Logs (formatted) from the VPA admission controller (verbosity level `-v=20`):

    Sending patches: [
      {add /spec/containers/0/resources/requests/cpu 224m}
      {add /spec/containers/0/resources/requests/memory 203699302}
      {add /spec/containers/0/resources/limits/cpu 1120m}

[2022-03-28 10:22] demikl commented on #4733
Exactly the same setup, but just changing the tag of the image used in the "vpa-admission-controller" deployment from 0.10.0 to 0.9.2:

![image](https://user-images.githubusercontent.com/1567582/160378397-921a17d0-e053-4fb5-b006-07446d08eff5.png)

[2022-03-28 12:25] demikl commented on #4733
I have enabled the API server logs to see if it would complain about something not expected in the response from the mutating webhook, but nothing showed up as far as I can tell. I searched for "vpa-webhook-config" in those logs.

[2022-03-28 14:44] ldemailly commented on #3947
Because to do you would need  to repeat/reimplement the logic of checking the other containers for volumes. the use case is side-car injection through admission controller for instance.

[2022-03-28 23:18] ntman4real commented on #4613
any update on this?

[2022-03-29 00:21] jbg commented on #3845
@FarhanSajid1 you should have one node group (and thus one ASG) for each AZ. The above tag needs to be applied to the ASG.

@westernspion does this actually work for you though? We have the tag applied to our ASGs and we still see cluster-autoscaler fail to scale up from zero for pods which would bind an existing PVC in the same zone as the empty node group.

[2022-03-29 03:51] innovate-invent commented on #3916
/remove-lifecycle stale

[2022-03-29 07:00] youwalther65 opened #4772 "PV topology-aware scheduling even for Multi-AZ AWS ASG"
**Which component are you using?**:
EKS 1.21 and correspond CAS

Currently AWS and CAS documentation recommend using Availability Zone bounded Auto Scaling groups for usage of persistent storage in form of EBS based PersistentVolume (PV)

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Imagine you have a multi-AZ ASG which is scaled

[2022-03-29 07:13] yulin-li opened #4773 "[Cluster autoscaler] scale down GPU nodes based on the highest value of CPU, memory and GPU utilization"
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

The CA scale down check would ignore CPU and memory usage on GPU node (see [this line](https://cs.github.com/kubernetes/autoscaler/blob/a3267ca3b0525db9bba0ffb878b168d1d78f6c3a/cluster-autoscaler/simulator/cluster.go#L206)).

Howe

[2022-03-29 08:17] pareeohnos commented on #4613
I eventually got this working. I can't remember exactly which change it was that solved it but I think this was related to the amount of resources I'd assigned the pods. I had setup an over-provisioning pod which wasn't being picked up, but I had told it to request basically all of the CPU of a node, but the autoscaler wasn't able to provision that, as no node could actually allocate that. Possibl

[2022-03-29 13:05] avorima commented on #4730
@jbartosik Changing the eviction API is something that has way more impact than adding a new feature to the VPA. For the implementer and the users. I would agree that a more general solution to this problem would be great, but in their current state the Kubernetes API is perfectly suited to address this issue. Could you please elaborate on why you think this is out of scope here?

[2022-03-29 14:39] CezarManea opened #4774 "VPA Updater stuck in POD eviction loop"
**Which component are you using?**:
VPA

**What version of the component are you using?**:
0.10.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d87ea4cbb530a7b2ae91e54c0842d8308a", GitT

[2022-03-29 21:11] always-improving opened #4775 "MountVolume.SetUp failed for volume "tls-certs" : secret "vpa-tls-certs" not found"
I am having similar issue to
https://github.com/kubernetes/autoscaler/issues/3397
https://github.com/kubernetes/autoscaler/issues/2810

I have tried the suggestions in both, but I am unable to successfully setup VPA

**Which component are you using?**: vertical-pod-autoscaler,

**What version of the component are you using?**: vpa-release-0.8

**What k8s version are you using (`kubectl version`)?*

[2022-03-29 21:12] always-improving commented on #4775
I apologize for the formatting.  It looked better when I was creating the issue.  I will see if I can correct it.

[2022-03-30 10:08] matti opened #4776 "cluster autoscaler crashes when master api is unavailable"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version:  k8s.gcr.io/autoscaling/cluster-autoscaler:v1.23.0

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:

aws eks 1.21

**What did you expect to happen?**:

cluster autoscaler not to crash

**What happened instead?**:

[code]

[2022-03-30 10:16] matti commented on #4776
the problem is that restarting pods go to crashLoopBackOff

[2022-03-30 13:48] yourmoonlight opened #4777 "pod didn't trigger scale-up when I add taint to the aws ASG"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:
Cluster Autoscaler 1.19.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9

[2022-03-30 14:07] databonanza commented on #4757
Anyone?  This seems to be a long standing issue with cluster-autoscaler after reading through the other bug reports.

[2022-03-31 13:07] damienleger commented on #4715
The v1.21.2 image (EKS 1.21 is the last version available atm on AWS) and v1.22.2 also have the CVE-2021-3538 ⚠️

[code]

[2022-03-31 15:17] jbartosik commented on #4764
It look like updating dependencies didn't help.

The failure we're seeing happens [here](https://github.com/kubernetes/autoscaler/blob/f9c15ffb7f13cb0af3f6648c7db8684236cc3b55/vertical-pod-autoscaler/e2e/vendor/k8s.io/kubernetes/test/e2e/framework/framework.go#L240)

[2022-04-01 10:11] twix14 opened #4779 "Updater pod eviction by VPA not respecting set priority"
**Which component are you using?**:
Vertical Pod Autoscaler

**What version of the component are you using?**:
vertical-pod-autoscaler
Component version: 0.10.0

**What k8s version are you using (`kubectl version`)?**:
v1.20.11

**What environment is this in?**:
AWS EKS

**What did you expect to happen?**:
I expected the VPA updater to only evict a pod with a resource difference lower than the pri

[2022-04-01 13:24] x13n commented on #4745
Hey @uroy-personal, are you planning to work on this?

[2022-04-01 13:28] uroy-personal commented on #4745
Hi @x13n ,

Yes I will look into the issue over the week-end. Hope to fix it early next week. In the meantime if I get any queries, I will get in touch with you.

[2022-04-01 13:37] x13n commented on #4745
Sounds good, thanks!

[2022-04-01 20:22] PavelSusloparov opened #4780 "[aws-cluster-autoscaler][9.16.2/9.17.2] Failed to generate AWS EC2 Instance Types: MissingEndpoint: 'Endpoint' configuration is required for this service"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: cluster-autoscaler

Component version: 9.16.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
% kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bf

[2022-04-03 16:42] rpbaquing-cloudmade opened #4782 "Cluster Autoscaler for Exoscale - FailedScheduling"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 9.16.2

Component version: latest

**What k8s version are you using (`kubectl version`)?**: 1.23

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d87ea4cbb530a7

[2022-04-04 14:53] voelzmo commented on #4733
I guess [this is the commit](https://github.com/kubernetes/autoscaler/commit/dfce7694b6cad4a2c84144ac02da5aa19955a5b0) where the relevant change was introduced.

[2022-04-04 22:15] rlpeck commented on #4128
/reopen

[2022-04-05 07:47] jbartosik commented on #4733
Thank you for investigating this. I'm trying to reproduce the problem

[2022-04-05 09:41] charlie-haley opened #4784 "cluster-autoscaler caches workload cluster kubeconfig"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.21.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641ce8a9e9", GitTreeSt

[2022-04-05 10:47] jbartosik commented on #4733
I tried to reproduce the situation @stoyanr describes in [this comment](https://github.com/kubernetes/autoscaler/issues/4733#issuecomment-1087646137):

* I created a cluster,
* I deployed VPA 0.9.2 in the cluster,
* I updated only VPA deployments to use 0.10.0 image

And VPA works correctly. Webhook in the cluster is defined with v1. This is because when VPA Admission Controller starts it [deletes

[2022-04-05 11:09] jbartosik commented on #4733
I modified the webhook to use v1beta1 API **after** Admisison Controller started and now e2e tests I'm running on the cluster are failing. I can see that Updater is evicting pos, recommendations are changing, Admission Controller is processing pods but requests are not changing.

[2022-04-05 11:10] jbartosik commented on #4733
So it looks like something other than VPA Admission Controller is changing the webhook and as a result VPA Admission Controller doesn't work properly.

[2022-04-05 11:28] jbartosik commented on #4733
Another possibility is that you're running VPA Admission controller with [registerWebhook](https://github.com/kubernetes/autoscaler/blob/f93d361836dcbe4788a115da981a7ebf940ed337/vertical-pod-autoscaler/pkg/admission-controller/main.go#L68) set to `false`.

[2022-04-05 12:29] uroy-personal commented on #4745
Good Morning @x13n ,
I got few queries on the solution you are expecting. A short slack call would be good.  Please suggest the time.

[2022-04-05 13:07] jbartosik commented on #4763
I suspect this may be the same issue as #4733.

Please check if your webhook is using v1 API. You can do this by running:

`kubectl get MutatingWebhookConfiguration vpa-webhook-config -oyaml`

If the webhook is using `v1beta2` API then you should switch to using v1. When Admission Controller starts it by default deletes existing webhook and creates a new one (properly configured). So if you have v

[2022-04-05 13:12] jbartosik commented on #4759
Is this in the same cluster as #4763? I suspect both problems might have the same cause.

If it's a different cluster than please check webhook in this cluster too.

[2022-04-05 13:13] stoyanr commented on #4763
Yes, we are definitely doing that, since we need better control over the webhook registration. The point is that it is currently not obvious from the release notes of 0.10.0 that in this case we **must** update the webhook registration to `v1` as well when updating to 0.10.0, so we had to find it the hard way.

[2022-04-05 13:19] jbartosik commented on #4774
I suspect this may be the same issue as https://github.com/kubernetes/autoscaler/issues/4733.

Please check if your webhook is using v1 API. You can do this by running:

kubectl get MutatingWebhookConfiguration vpa-webhook-config -oyaml

If the webhook is using v1beta2 API then you should switch to using v1. When Admission Controller starts it by default deletes existing webhook and creates a new

[2022-04-05 13:29] jbartosik commented on #4763
I'll improve description of the release.

Did updating the webhook solve this issue?

[2022-04-05 13:32] CezarManea commented on #4774
I'm using v1 API for MutatingWebhookConfiguration
[code]

Also, **register-webhook** is no set to false, therefore using the true default value.

I have implemented a workaround for this issue, always round CPU resources to milicores and memory to Mi.
With hundreds of VPA objects I haven't seen any POD eviction loop.

Is there anything else I can check to see if the issue is my configuration?

[2022-04-05 13:42] x13n commented on #4745
I pinged you on Slack, let's discuss the details there.

[2022-04-05 13:49] stoyanr commented on #4763
Sorry, I wanted to update #4733, not this issue. I will test for this particular one as well.

[2022-04-05 14:04] ramaraju2258 opened #4785 "Cluster Autoscaler Image not getting pulled for 1.22.6 AKS version"
**Which component are you using?**:
Kubernetes Cluster Autoscaler

Cluster Autoscaler

**What version of the component are you using?**:
AK
 k8s.gcr.io/cluster-autoscaler:v1.22.6'

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.22.6
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is thi

[2022-04-05 14:10] stoyanr commented on #4759
I am not able to reproduce this issue in my test setup after #4733 is fixed. From my perspective `controlledValues: RequestsOnly` works as expected - on the next pod eviction and update by the webhook, the `limits` return to their original values set in the deployment instead of being scaled proportionally to requests.

[2022-04-05 14:49] jbartosik opened #4786 "Support for different TargetCPUPercentiles through alternative recommender"
It would be nice if one could choose to use different percentiles as base for VPA recommendation. We can do that by:

1. Adding flags so one can run VPA recommender that sets recommendations on VPA Objects with a specified name. (and also if it should set recommendation for VPA objects that don't specify which recommender should generate recommendation for them)

Currently VPA recommender sets rec

[2022-04-05 14:59] gjtempleton commented on #4436
Addressed by #4468 which has now been merged and released.
/close

[2022-04-05 16:24] demikl commented on #4733
I'm using a gitops workflow to deploy and reconcile technical tools on my clusters, so yes, FluxCD is overwriting the mutating admission webhook configuration that VPA has updated on start-up.

I'll change the webhook configuration in the git repository that FluxCD is using. Thanks for the analysis.

[2022-04-05 16:32] jbartosik commented on #4774
I think you should check a different field, when I reproduced the problem the webhook looked like that:

[code]

So `v1beta1` was a key in `webhooks.admissionReviewVersions`

[2022-04-05 16:41] jbartosik commented on #3902
@arnavc1712  @mshade fix for this #3903 is part of [0.10.0 release](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.10.0) (you can check blame on [this lines](https://github.com/kubernetes/autoscaler/blame/vertical-pod-autoscaler-0.10.0/vertical-pod-autoscaler/pkg/utils/vpa/limit_and_request_scaling.go#L73))

[2022-04-05 17:05] stevehipwell commented on #4529
/remove-lifecycle stale

[2022-04-06 02:58] b1n9s commented on #4446
My case is using the wrong version

Better to [match the minor version of CA and the cluster](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases)

[2022-04-06 06:21] svenwltr commented on #4760
We have the same issue on a custom cluster on AWS:

[code]

<details>
  <summary>More of the last log lines</summary>

[code]
</details>

<details>
  <summary>Logs when the failure happened first</summary>

[code]
</details>

---

We are also on `v1.21.2`

Also the cluster autoscaler got actually restarted, because the liveness probe failed:

[code]

---

<details>

<summary>deployment.yaml</summa

[2022-04-06 06:39] vsevel commented on #4293
/remove-lifecycle stale

[2022-04-06 06:42] maegul opened #4788 "Autoscaler helm chart fails with WebIdentityErr: failed to retrieve credentials even though AWS full config works with the same parameters"
**Which component are you using?**:

* Cluster autoscaler, helm chart

* helm chart (I suspect)

**What version of the component are you using?**:

* helm chart: 9.16.2
* cluster-autoscaler: v1.20.0 | v1.21.0 | v1.21.1

Component version: see above

**What k8s version are you using (`kubectl version`)?**: 1.20

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl vers

[2022-04-06 08:20] CezarManea commented on #4774
Here's the more detailed snippet
[code]

[2022-04-06 08:24] matthyx commented on #4786
/assign

[2022-04-06 08:25] matthyx commented on #4293
Related umbrella issue: https://github.com/kubernetes/autoscaler/issues/4786

[2022-04-06 09:52] jbartosik commented on #4774
Thanks for checking. We have [an e2 etest](https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.10.0/vertical-pod-autoscaler/e2e/v1/admission_controller.go#L408) which verifies that VPA will cap recommendation of 250 mCPU to `MaxAllowed` of 233mCPU and the test was passing when I cut the release so I wanted to make sure that Admission Controller is working.

When I was trying to

[2022-04-06 09:54] CezarManea commented on #4774
Thanks for the explanation.
Yes, that sounds like a great idea.

[2022-04-06 12:12] psharik1 opened #4789 "Nodes with safe-to-evict flag set to false gets evicted during scale down"
**Which component are you using?**:

Cluster Autoscaler

**What version of the component are you using?**:
v1.21.2

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be

[2022-04-06 12:45] jbartosik opened #4790 "VPA should validate that resources are specified with supported resolution"
Follow up to #4774

VPA should validate that all fields that specify memory and CPU have supported resolution:

* CPU should be a whole number of milli CPUs ([documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu)),
* Memory should be a whole number of bytes ([documentation](https://kubernetes.io/docs/concepts/configuration/manage-resources-co

[2022-04-06 12:47] jbartosik commented on #4774
I opened #4790 to add the validation. Thank you for reporting the issue

[2022-04-06 12:47] #4774 closed

[2022-04-06 13:32] mowangdk commented on #4790
I'm newbie to this project, and I want to try it out.

/assign

[2022-04-06 17:32] PaulFurtado opened #4792 "Cluster autoscaler should support fully computing all details from ASG instead of caching node info"
**Which component are you using?**:

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**What did you expect to happen?**:

**What happened instead?**:

**How to reproduce it (

[2022-04-06 17:33] #4792 closed, assigned to nobody

[2022-04-06 17:38] PaulFurtado opened #4793 "Cluster autoscaler should support fully computing all details from ASG instead of caching node info"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.21

**What k8s version are you using (`kubectl version`)?**: 1.21

**What environment is this in?**: AWS

**What did you expect to happen?**: cluster autoscaler should be able to scale up an ASG despite some nodes from the ASG being tainted

**What happened instead?**: cl

[2022-04-06 18:14] jbartosik commented on #4790
@mowangdk thank you. Please tag me on PR when you send it

[2022-04-06 18:43] BeyondEvil commented on #4054
I'm also interested in this. Should be an easy and quick answer from contributors.

[2022-04-06 21:49] mpalu opened #4796 "[Exoscale] Unable to resize node pools"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Cluster Autoscaler v1.23.0
Kubernetes 1.22.8

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331

[2022-04-07 02:47] jnimety commented on #3858
I’m curious about this too. Any chance a dev can chime in and answer this question?

[2022-04-07 03:19] ringtail commented on #4715
@IrisIris pls follow it up.

[2022-04-07 13:49] fsalazarh commented on #4763
I commented [here](https://github.com/kubernetes/autoscaler/issues/4759#issuecomment-1091755284) the output of the command and webhook is using `v1`. This situation and [#4759](https://github.com/kubernetes/autoscaler/issues/4759) still persists even after removing the webhook and recreate them by deploy VPA again.

[2022-04-07 14:58] mpalu commented on #4796
Looks like there is a forked project that fixes this issue and a PR submitted

https://github.com/exoscale/autoscaler-1/tree/sks/cluster-autoscaler/cloudprovider/exoscale

https://github.com/kubernetes/autoscaler/pull/4247

[2022-04-07 18:50] DavidSpek commented on #3150
@elmiko Thanks for the info. I hope to have some time to test your changes soon. Do you maybe have a link to the Cluster API docs for infrastructure providers to support scale from 0? I haven’t been able to find that myself.

[2022-04-07 18:53] elmiko commented on #3150
@DavidSpek my hope is that the enhancement[0] has enough details for a provider to implement scale from zero. if you find that there is detail lacking, please ping me as i would like to improve that doc =)

[0] https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/proposals/20210310-opt-in-autoscaling-from-zero.md

[2022-04-07 18:57] DavidSpek commented on #3150
@elmiko Thanks for the doc, I think that’ll likely answer most of my questions. Has that proposal already been accepted? Or more importantly, can this already be implemented in infrastructure providers without needing to change anything in the cluster api core library?

[2022-04-07 19:00] elmiko commented on #3150
@DavidSpek yes it has been accepted, and no it should not require any changes in the core cluster-api.

i was able to implement scale from zero in the kubemark provider without modifying the core, you can see my PR here https://github.com/kubernetes-sigs/cluster-api-provider-kubemark/pull/30

[2022-04-07 19:21] DavidSpek commented on #3150
@elmiko Awesome, thank you very much for all the info and quick responses.

[2022-04-08 16:00] PatrickGhosn opened #4803 "Using an autoscaling node pool with a taint causes the constant error messages of calico-typha being unable to schedule."
**Which component are you using?**:
Cluster auto-scaler, calico-typha.

**What version of the component are you using?**:
1.21.6-gke.1503

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:
GCP

**What did you expect to happen?**:
Not to get an error for scaling calico on a worker node.

**What happened instead?**:
Getting errors regarding the calic

[2022-04-09 00:25] #4389 closed

[2022-04-09 19:10] mmerrill3 commented on #4739
@KashifSaadat , I see a similar issue on my clusters as well.  In my case, I see PVs getting provisioined with the new topology keys on a k8s 1.21 cluster of

[code]

However, the function in aws_manager in CA still uses the old labels when building nodes from ASGs that are of zero size.  These labels are

[code]

You can see the labels getting applied for the hypothetical node here:

https://gith

[2022-04-09 19:16] mmerrill3 commented on #4739
when nodes are created in EKS, they get both the old, and new, topology labels.   It's just the CA that still only uses the old when building a hypothetical node.

Should be an easy fix.  Can you confirm this is what is happening to your cluster?

[2022-04-10 13:39] mmerrill3 commented on #4739
aws_manager.go is updated to use the new topology labels in the 1.22 and 1.23 tags of CA, but not in 1.21.x.  This commit would fix our issue
https://github.com/kubernetes/autoscaler/commit/8f11490c0c85fcab493af2538b4f51b0c6c72489

[2022-04-10 14:42] #3556 closed

[2022-04-10 14:42] #4439 closed

[2022-04-11 07:42] delulu opened #4805 "Cluster Autoscaler: when the pool size has been scaled down to zero, it will never trigger new scale out."
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: Cluster Autoscaler 1.21.1

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.21.3

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: Azure VMSS

**What did you expect to h

[2022-04-11 15:51] #4739 closed

[2022-04-11 21:35] mmerrill3 commented on #4805
See this: https://github.com/kubernetes/autoscaler/issues/4739

[2022-04-12 08:43] 80kk opened #4811 "Could not get a CSINode object for the node"
**Which component are you using?**:
CA

cluster-autoscaler

**What version of the component are you using?**:
1.20.1

k8s.gcr.io/autoscaling/cluster-autoscaler:v1.20.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

1.23.5

**What environment is this in?**:

AWS

Could someone please tell me what this error is about? I found sometimes that it takes ages for cluster t

[2022-04-13 08:56] Xyaren commented on #4739
@KashifSaadat you mentioned you are using k8s 1.21.5.
Do you notice any problems running a 1.22 cluster autoscaler with that verison?

At the maintainers: would this be something that could be backported ?

[2022-04-13 09:23] KashifSaadat commented on #4739
Hey @Xyaren. I haven't noticed any issues myself, but generally prefer to run the component version in line with my cluster version.

[2022-04-13 15:08] stevehipwell commented on #4228
/remove-lifecycle rotten

[2022-04-13 18:21] mike-stewart commented on #3975
/remove-lifecycle rotten

[2022-04-13 21:13] imriss commented on #4052
/remove-lifecycle stale

[2022-04-14 02:14] philomory commented on #4122
/reopen

[2022-04-14 06:03] zhujik commented on #4122
/reopen

[2022-04-14 06:12] grumpper commented on #4122
/reopen

[2022-04-14 06:46] jbartosik commented on #4437
I'm working on VPA. @MaciekPytel please take a look

[2022-04-14 07:37] ulisse31 commented on #4122
Yes, a changelog somewhere would be _more than nice_
It's an important step towards an efficient troubleshooting and project maturity.
thank you!

[2022-04-14 20:05] matthias50 commented on #3985
@MaciekPytel, I know this issue is closed but the above explanation that `--ignore-taints` doesn't match with what was originally claimed in the PR and I'd like clarification. In the PR https://github.com/kubernetes/autoscaler/pull/1963, it mentions that it fixes #1350.  Issue #1350 is precisely this use case of node recycling and we have been relying on being able to use --ignore-taints for the n

[2022-04-14 20:18] apatil4 opened #4813 "Cluster Autoscaler ignoring safe to evict annotations on pods running as part of Job"
**Which component are you using?**: Cluster Autoscaler

**What version of the component are you using?**: V1.21.0 (us.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.21.0)

Component version: 1.21.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit

[2022-04-15 03:33] #4583 closed

[2022-04-15 03:41] delulu commented on #4805
So could someone confirm that this issue will be fixed in https://github.com/kubernetes/autoscaler/commit/8f11490c0c85fcab493af2538b4f51b0c6c72489 and resolved in cluster-autoscaler v1.22.0 onwards?

[2022-04-15 04:36] jonaz commented on #4385
/remove-lifecycle stale

[2022-04-15 11:08] daviderli614 opened #4815 "max-autoprovisioned-node-group-count is this parameter not used?"
cluster autoscaler Launch parameters max-autoprovisioned-node-group-count（The maximum number of autoprovisioned groups in the cluster，default 15) not use?

[2022-04-15 11:11] daviderli614 commented on #4815
just give it a default value 15，Because you don't see any use of this parameter in the code

[2022-04-15 19:40] akloss-cibo commented on #3409
This behavior is prone to creating deadlock-like behavior when scale-up limits are reached.  The scenario that just happened is that we hit the spot CPU limit for our account in AWS, which then caused pods to be unschedulable because the cluster couldn't scale up.  However, even when the workload that was using all the CPUs finished, the Pending pods couldn't be scheduled on the existing nodes due

[2022-04-16 11:55] jkl373 commented on #4760
Hi, can someone help take a look at this ? Unable to add new migs to GCP due to this issue as on enabling autoscaler for the migs, autoscaler ends up in restart loops. Appreciate any leads here.

@svenwltr were you able to find anything on your side ?

Thanks in advance

[2022-04-16 15:00] elmiko commented on #2495
/remove-lifecycle rotten

i'm still interested in seeing the ability to get the duplicated messages. i know adding a flag is not an ideal solution, but i would like to propose a solution where the user has the ability to disable de-duplication of messages.

[2022-04-16 23:55] dims opened #4816 "Failure cluster [6e21043c...] autoscaler failures - `timed out waiting for the condition`"
### Failure cluster [6e21043ce416bc985107](https://go.k8s.io/triage#6e21043ce416bc985107)

##### Error text:
[code]
#### Recent failures:
[4/16/2022, 5:08:54 PM ci-kubernetes-e2e-autoscaling-vpa-admission-controller](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-admission-controller/1515437077951418368)
[4/16/2022, 4:52:54 PM ci-kubernetes-e2e-autoscaling-vp

[2022-04-17 10:08] jkl373 commented on #4741
Another instance

`W0417 09:56:17.472161       1 clusterstate.go:447] Failed to find readiness information for https://content.googleapis.com/compute/v1/projects/<<project>>/zones/us-east4-b/instanceGroups/b-es-large-nodes-spot-pg-005-b-us-east4-gcp-reai-io
I0417 09:56:17.668884       1 cache.go:244] Regenerating MIG information for <<project>>/us-east4-b/b-es-large-nodes-pg-005-b-us-east4-gcp-rea

[2022-04-17 10:57] qhh0205 commented on #2016
hi, @koflerm , i have see that you said you send emails when the recommendations strongly differ from the current resource assignment, and i want to know how do you define the differ? Are there any algorithm？thanks!

[2022-04-18 06:44] aawuliliaa opened #4817 "where can i get recommend history value"
i want to get recommend history value,i didnot found any event in vpa

[2022-04-18 07:50] ryan4yin commented on #4005
This is a very useful feature.

[2022-04-18 07:51] ryan4yin commented on #4005
/remove-lifecycle stale

[2022-04-18 22:33] jonmchu commented on #4471
Is there any resolution to this issue? I'm running into a similar problem following the same guide

[2022-04-19 06:28] svenwltr commented on #4760
No, we did not found anything.

Also, the CAS does not go into a restart loop in our cluster, but has a restart now and then which gives us alerts.

[2022-04-19 08:18] jbartosik commented on #4816
I'm tracking this in #4764

[2022-04-19 08:18] #4816 closed

[2022-04-19 08:19] jbartosik commented on #4764
@dims I'm tracking VPA E2E test failures here

[2022-04-19 10:44] dims commented on #4764
@jbartosik thanks!

[2022-04-19 10:56] jbartosik commented on #4764
I managed to reproduce the issue in my cluster and I think I know what's happening.

Test creates the namespace correctly. Default service account also appears in the namespace[1]. But then it waits for creation of the service account [here](https://github.com/kubernetes/autoscaler/blob/f9c15ffb7f13cb0af3f6648c7db8684236cc3b55/vertical-pod-autoscaler/e2e/vendor/k8s.io/kubernetes/test/e2e/framework

[2022-04-19 11:01] jbartosik commented on #4764
As a workaround I think we can run tests with `--e2e-verify-service-account=false` which will skip the check which incorrectly times out waiting for something that has already happened.

[2022-04-19 11:04] AhmadMS1988 opened #4820 "What is the best way to update VPA"
How can I update vpa without the need for ./hack/vpa-down.sh and ./hack/vpa-up.sh
Because this will delete the existing vpa rules.
Thank you

[2022-04-19 12:14] jbartosik commented on #4764
I think I understand what's going on. When tests run with `--e2e-verify-service-account=true` (default) they [call](https://github.com/kubernetes/autoscaler/blob/f9c15ffb7f13cb0af3f6648c7db8684236cc3b55/vertical-pod-autoscaler/e2e/vendor/k8s.io/kubernetes/test/e2e/framework/util.go#L366) `WaitForDefaultServiceAccountInNamespace`. That function actually waits for service account [with secrets](http

[2022-04-19 12:40] jkl373 commented on #4760
ok thanks

[2022-04-19 12:42] jbartosik commented on #4764
Version of `util.go` in k/k waits for service account to appear, doesn't check if it has secrets ([here](https://github.com/kubernetes/kubernetes/blob/b4aa9a189ead272a3f6dd62562f7a355932c57fa/test/e2e/framework/util.go#L311)).

So it looks like my syncing the E2E dependencies didn't pull in [that](https://github.com/kubernetes/kubernetes/commit/b4aa9a189ead272a3f6dd62562f7a355932c57fa) change (fro

[2022-04-19 12:54] jbartosik commented on #4764
My earlier update to e2e deps (#4771) didn't help because I pdated them to `v1.23.5` which [doesn't have the fix yet](https://github.com/kubernetes/kubernetes/blob/v1.23.5/test/e2e/framework/util.go#L299).

[2022-04-19 18:28] jbartosik opened #4822 "Update VPA E2E K8s dependencies and disable workaround"
Clean up workaround for #4764:

- Update K8s deps of E2E tests to [v1.24.0-beta.0](https://github.com/kubernetes/kubernetes/blob/v1.24.0-beta.0/test/e2e/framework/util.go#L311) or newer,
- Clean up workaround,  rollback #4821.

[2022-04-19 18:55] jbartosik commented on #4764
Many tests are passing now. But it looks like updater is broken:

* [vpa-actuation](https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-actuation) tests are failing, pods aren't getting evicted,
* [admission-controller](https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-admission-controller) tests are passing,
* almost all [vpa-full](https://k8s-testgrid.appspot.

[2022-04-19 18:58] jbartosik commented on #4764
I opened another issue to remember to sync & clean up workaround later.

[2022-04-19 19:19] jbartosik commented on #4764
In logs I see message logged [here](https://github.com/kubernetes/autoscaler/blob/6fcf40ed375cf22df97440b7d29192492777d11f/vertical-pod-autoscaler/pkg/updater/logic/updater.go#L116):

[code]

With this problem updater won't do anything.

[2022-04-19 20:30] jbartosik commented on #4764
I think the problem is that we always attempt to create lease with duration of 0s ([here](https://github.com/kubernetes/autoscaler/blob/6fcf40ed375cf22df97440b7d29192492777d11f/vertical-pod-autoscaler/pkg/utils/status/status_object.go#L83)). When I attempt to create lease with duration 0s in 1.24 cluster I get an error like:

[code]

Generally I don't understand how leases are supposed to work in

[2022-04-19 20:33] jbartosik commented on #4764
I get the same error:

[code]

In 1.21 cluster so I don't think that's the problem. I'll take a closer look at this later.

[2022-04-19 21:49] jbartosik commented on #4764
I understand now. Updater checks lease to see if Admission Controller is running. In updater tests Admission Controller is not running, so the test creates the lease object.

[2022-04-20 06:50] jbartosik commented on #4764
Problem was somewhere else. I sent #4824 with a fix for (at least) updater tests. I hope it will fix other tests suites too.

[2022-04-20 13:18] jbartosik commented on #4764
All e2e passed

[2022-04-20 16:02] avorima commented on #4730
@jbartosik I found a related issue https://github.com/kubernetes/kubernetes/issues/72320, which links to https://github.com/kubernetes/kubernetes/pull/105296. From what I gather this has been a topic of debate for quite some time and so far nothing conclusive has been said about it.
The VPA seems perfectly suited to implement this feature as opt-in for users to test it and provide feedback. I thin

[2022-04-20 17:17] PavelSusloparov commented on #4780
Still have this problem in 9.17.2

[2022-04-20 18:06] mhemken-vts commented on #1653
We're seeing this on EKS 1.21.

[2022-04-20 19:20] PavelSusloparov commented on #4780
I did a little bit of digging.
The cluster autoscaller endpoint is not ready.

[code]

I expect the key to be
[code]
instead of
[code]

[2022-04-20 19:43] PavelSusloparov commented on #4780
My suspicion is related to the networking rules restrictions in-between the node group security group and the EKS cluster security group.

[2022-04-21 02:06] ddl-risong-na opened #4825 "Nodes cannot be scaled down when they only have pods that are created by daemonset of vclusters (https:vcluster.com)"
**Which component are you using?**: cluster autoscaler

**What version of the component are you using?**: 1.21

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d87ea4cbb530a7b2ae91e54c0842d8308a", GitTreeState:"clean", BuildDate:"20

[2022-04-21 08:47] RuriRyan commented on #4730
An additional take away from a lot of the discussion seems to be: Changing GA behaviour is much work and if your drain/evict doesn't work, just use delete. So they're kinda putting the responsibility on the client to do the appropriate thing.

[2022-04-22 06:50] ddl-risong-na commented on #4825
It seems the annotation `cluster-autoscaler.kubernetes.io/daemonset-pod` is the solution, as used [here](https://github.com/kubernetes/autoscaler/blob/b848aa325ba46db6aa7c85d20d95c2ea75a25740/cluster-autoscaler/utils/pod/pod.go#L38). Feel free to close this issue if that understanding is correct. I will report back after more testing.

[2022-04-22 13:43] #3044 closed

[2022-04-22 14:43] #4475 closed

[2022-04-22 16:01] apatil4 commented on #4813
I am closing this. Since the autoscaler does look at the safe-to-evict annotation. The part that confused me was it looks at cpu utilization first and its its higher than threshold, it would not even go to output any message about `safe-to-evict` annotation. Once I lowered the threshold, I saw the message in the logs.
Sorry for the opening this one.

[2022-04-22 16:01] #4813 closed

[2022-04-25 06:23] #4790 closed

[2022-04-25 09:16] ZiaUrRehman-GBI commented on #3268
pod didn't trigger scale-up (it wouldn't fit if a new node is added): 6 max cluster memory limit reached

[2022-04-25 09:33] applike-ss commented on #4593
/remove-lifecycle stale

[2022-04-25 10:27] pierluigilenoci commented on #4285
@ipochi @bpineau @x13n @MaciekPytel @jbartosik any news about this?

[2022-04-25 10:28] pierluigilenoci commented on #4285
/remove-lifecycle stale

[2022-04-25 17:04] #4397 closed

[2022-04-26 09:03] jsravn commented on #4165
/remove-lifecycle stale

[2022-04-26 14:54] vikaskoppineedi opened #4829 "Cluster autoscaler failing in EKS v1.22"
**Which component are you using?**:

Chart cluster-autoscaler-9.18.0
App Version 1.23.0

cluster-autoscaler

**What version of the component are you using?**:

1.23.0

Component version:

Chart cluster-autoscaler-9.18.0
App Version 1.23.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

v1.22.6-ek

[2022-04-26 14:56] vikaskoppineedi commented on #4829
Values.yaml

[2022-04-26 14:57] vikaskoppineedi commented on #4829
[code]

[2022-04-27 09:21] jmenan opened #4830 "backport "daemonset-eviction-for-empty-nodes" and "daemonset-eviction-for-occupied-nodes" from 1.22 to 1.21"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

With version 1.22 cluster-autoscaler introduces the possibility to manage the eviction of daemonsets differently :
- Add a flag to control DaemonSet eviction on non-empty nodes (https://github.com/kubernetes/autoscaler/pull/4162).

[2022-04-27 22:48] jklaw90 opened #4833 "Balance Expander"
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

When scaling the cluster up with the `random` expander, our CA sometimes increases the largest autoscaling group multiple times before the smallest ones.

**Describe the solution you'd like.**:

I'd expect them to not differ by th

[2022-04-28 02:05] vikaskoppineedi commented on #4829
Issue can be marked as closed, as Cluster Autoscaler was unable to reach EC2 api, as we have a VPC Interface Endpoint for the EC2 API and was not allowing the Secondary CIDR for the EKS.

[2022-04-28 02:05] #4829 closed

[2022-04-28 08:31] mway-niels opened #4834 "Vertical Pod Autoscaler: Prometheus connection refused"
**Which component are you using?**: Vertical Pod Autoscaler Recommender

**What version of the component are you using?**:

Component version: k8s.gcr.io/autoscaling/vpa-recommender:0.10.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersio

[2022-04-28 18:47] asarenkansah commented on #3216
Ran into this same issue - the update that @gjtempleton is proposing should go through. My issue was fixed when I added the DescribeInstanceTypes

[2022-04-29 02:43] gosoon opened #4838 "VPA Recommender components algorithm document"
I do not find relevant instructions of Recommender Components algorithm in the project. It is still a little complicated to learn from the code. Is there no documentation of the algorithm in the community？

eg:
initialize histogram algorithm and how is it designed.
calculate the recommended value algorithm.

[2022-04-29 08:34] skol101 commented on #4782
@jbartosik any update on the issue?

[2022-04-29 18:16] elmiko commented on #4758
this appears to be a duplicate of https://github.com/kubernetes/autoscaler/issues/3150

/close

[2022-04-29 18:17] #4758 closed

[2022-04-30 05:15] gregth opened #4841 "Allow user to configure maxPodEvictionTime through a flag on the cluster autoscaler"
**Which component are you using?**:
Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
There are cases when the eviction of a pod may take more than the default / hard-coded duration of 2 minutes.

**Describe the solution you'd like.**:
We could expose the `MaxPodEvictionTime` as a flag, with default value `2 minutes`

[2022-04-30 18:51] AverageMarcus commented on #3644
/remove-lifecycle stale

[2022-05-01 00:48] #4433 closed

[2022-05-02 09:31] gosoon commented on #2747
I do not find relevant instructions of Recommender Components algorithm in the project. It is still a little complicated to learn from the code. Is there no documentation of the algorithm in the community？

eg:
initialize histogram algorithm and how is it designed.
calculate the recommended value algorithm.

[2022-05-02 10:51] shafeeqes opened #4844 "VPA-admission-controller doesn't start while using it out-of-cluster"
**Which component are you using?**:
Vertical Pod Autoscaler
vpa-admission-controller
**What version of the component are you using?**:
0.10.0

**What k8s version are you using (`kubectl version`)?**: 1.23
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f

[2022-05-02 23:52] Thiago2436 commented on #4745
/assing

[2022-05-03 02:32] uroy-personal commented on #4745
Hi @x13n ,
I am sorry to hold on to this issue for so long due to few personal issues. I got a big lot of backlogs to clear so I think unassigning it at the moment seems a logical step.
I will follow this wonderful project and hopefully contribute in the future.

[2022-05-03 04:05] ahayschi commented on #4745
I'd like to work on this, if that sounds good?

/assign

[2022-05-03 12:11] peleduri opened #4847 "Permissions / Cluster Autoscaler on Azure"
**Which component are you using?**:
Cluster Autoscaler on Azure

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I'm looking to set least privilege and grant the Cluster Autoscaler on Azure
exactly the permission they need to do the job.

**Describe the solution you'd like.**:

Today, The requested Permissions for Cluster Autoscaler o

[2022-05-03 18:13] muang0 opened #4848 "cluster-autoscaler: zone topology unschedulable pod fails scale-out topologySpread predicate check"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.21.2

**What k8s version are you using (`kubectl version`)?**: 1.21.5

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
v1.21.5-eks-bc4871b (shortened, can't paste from work machine)
</pre></details>

**What environment is this in?**: AWS EKS

**What

[2022-05-04 06:40] x13n commented on #4745
Yup, thanks!

[2022-05-04 06:48] nsspradeep commented on #4664
`emptyDir` volume type is treated as "local storage" because if pod is evicted then the data stored in `emptyDir` volume will be lost. So by evicting the pod using `emptyDir` from an under utilized node you can define annotation `cluster-autoscaler.kubernetes.io/safe-to-evict: "true"`.

Also with GKE 1.22 cluster autoscaler will evict pods using `emptyDir` if the pod is running on an under utilize

[2022-05-04 11:07] fhuaddeterminas opened #4849 "Highest K8s version on AWS is 1.22"
**Which component are you using?**: AWS

 cluster-autoscaler

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.21

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: Amazon Linux

**What did you expect to happen?**:

**What ha

[2022-05-04 12:24] avnerv opened #4850 "Cluster autosclaer helm chart for EKS 1.22"
**Which component are you using?**:
helm chart cluster autosclaer

helm charts

**What version of the component are you using?**:
1.23.0

Component version: 9.16.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
1.22

</pre></details>

**What environment is this in?**:

AWS EKS
**What did you expe

[2022-05-04 12:27] sperahd commented on #3846
/reopen

[2022-05-04 13:15] #4841 closed

[2022-05-04 13:25] fcosta-td opened #4851 "ClusterAutoscaler does not work with mixed instances weight"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.23.0

**What k8s version are you using (`kubectl version`)?**: 1.21.5

**What environment is this in?**: AWS

We have EKS ASG with mixed instances and different weights
[code]

**What did you expect to happen?**:

CA would launch the necessary nodes.

**What happened instead?**:

CA did not

[2022-05-05 05:09] qhh0205 opened #4855 "The vpa recommendation not update for a long time, about 14h"
Hi, guys, i hava create a vpa resource, and give the pod cpu load, so the vpa give the recommendations of cpu as expected, but after the pod restart about 14 hours ago, it seems that the vpa recommendations are no longer updated, although the actual value is far less than the recommended value. So, does the vpa recommender not work? or some bug here?

The following is the vpa recommnedation that n

[2022-05-05 11:57] fvlaicu commented on #3780
/remove-lifecycle stale

[2022-05-05 13:09] gregth opened #4859 "The script to update AWS EC2 instances fails with MissingRegion error"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
The version from latest `master`.

**What environment is this in?**:
AWS

**What did you expect to happen?**:
Running ` run ec2_instance_types/gen.go` without any further flags, shall update the instances for all AWS regions. The code indicates "It will populate list from all regions if region

[2022-05-05 14:05] gregth commented on #4859
Note: I see that the official AWS documentation  https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstanceTypes.html  that the `DescribeInstanceTypes` describes the details of the instance types that are offered **in a location** (only).

[2022-05-05 16:45] gregth commented on #4859
I think this was introduced by @AustinSiu in this PR, https://github.com/kubernetes/autoscaler/issues/4436.

@AustinSiu may you let me know if there is any piece of information I'm missing?

[2022-05-05 17:00] gregth commented on #4849
Is there a typo? There is not any Kubernetes  **1.30** release.

[2022-05-05 17:50] fhuaddeterminas commented on #4849
![image](https://user-images.githubusercontent.com/90910372/166982870-5393f454-4b26-4083-b7e2-a6e9b684a804.png)

My thoughts to actually, but it can be confusing to a noob.

[2022-05-05 22:52] gregth commented on #4849
@fhuaddeterminas it is ok, the requirement is K8s 1.3.0 or greater. If you'd like to get to know more about the k8s versioning scheme, see this resource https://kubernetes.io/releases/version-skew-policy/.

[2022-05-06 03:59] karlroberts commented on #4285
could you not simply supply the v1 version if kubernetes semver >= 1.21  in the same way you do with deployment.apiVersion in _helpers.tpl?
![Screenshot from 2022-05-06 13-57-55](https://user-images.githubusercontent.com/462160/167064633-9b1feedd-602b-4fdc-961c-0fdf9327a5e5.png)

[2022-05-06 09:01] vsevel opened #4861 "Only one container policy used for recommendation"
**Which component are you using?**:

`vertical-pod-autoscaler`

**What version of the component are you using?**:

[code]

**What k8s version are you using (`kubectl version`)?**:

Running on OpenShift `4.8` / Kubernetes `1.21`

[code]

**What environment is this in?**:

On-premise

**What did you expect to happen?**:

I am using this definition:

[code]

I am expecting a recommendation provided f

[2022-05-06 09:20] aogier opened #4862 "understanding Vertical Pod Autoscaler recommendations"
Hello, I'm currently evaluating VPA so I installed version 0.10.0 and I'm using recommender and updater components on an EKS 1.21 w/ metrics server 0.6.1 previously installed.

What I've tried to do is to configure a non-updating VPA against a random deployment:
[code]

recommender seems ok with it, it logs activities and no complaints:
[code]

However I'm not sure about the resulting recommended

[2022-05-06 14:39] gjtempleton commented on #4772
/area provider/aws

Hey @youwalther65, the reason Karpenter is able to handle this nicely whilst the CA doesn't currently is their different operating models, with Karpenter directly creating nodes, whilst the CA manipulates ASGs. This means we're restricted to setting the desired capacity of the ASG and letting the ASG decide which AZ to launch new instances in, so if it's a multi-AZ ASG, that de

[2022-05-08 08:52] Anugrahchaturvedi opened #4866 "CA not working even after giving right name of VMSS in case of aks"
steps i do
- i get client ID
- i get password
- RG name
- Subscription ID
- tenat ID
all these in base 64 format but still new pods for CA are in crashloopbackoff
tell me If am doing wrong

[2022-05-08 11:20] marpada commented on #4850
Bumped into the same situation. I worked around it by using the latest chart (9.18.0) and image.tag="v1.22.2" . No problems so far.

[2022-05-09 06:23] jbg commented on #3458
Having the same issue here, and it doesn't seem it was ever resolved. @bskiba could this be reopened?

[2022-05-09 11:46] aeimer opened #4869 "[vertical-pod-autoscaler] log level are not applied => high volume of logs"
**Which component are you using?**:
vertical-pod-autoscaler => recommender

**What version of the component are you using?**:
k8s.gcr.io/autoscaling/vpa-recommender:0.10.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**Wh

[2022-05-09 13:47] #4745 closed

[2022-05-09 14:15] elmiko commented on #2495
we talked about this issue at the sig meeting today, i am going to propose a patch with a flag to enable de-duplication of messages.

[2022-05-09 17:54] rittneje opened #4872 "cluster autoscaler waits 10 minutes between scaling operations to scale down"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.20.2

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.15", GitCommit:"8f1e5bf0b9729a899b8df86249b5

[2022-05-10 07:22] jbartosik commented on #4782
Hi, I work on VPA. I also label issues to make it easier to find issues I want to check. I think @MaciekPytel is point of contact for CA

[2022-05-10 12:18] MaciekPytel opened #4875 "cloud-provider-azure 1.23.2 CA dependency is broken"
CA has a dependency on cloud-provider-azure 1.23.2, which contains a file with [mismatched quotes](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/v1.23.2/pkg/provider/doc.go#L19) that [breaks CA tests](https://github.com/kubernetes/autoscaler/runs/6367971402?check_suite_focus=true).

Interestingly the file in CA vendor directory doesn't have the same bug. The problematic file was fir

[2022-05-10 12:26] gregth opened #4876 "cluster-autoscaler: Add option to disable scale down for unready nodes"
**Which component are you using?**:
Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
There are cases where a user may not want the unready nodes to be removed from a cluster.

As an example, but not limited to, this might me useful in case a node is unreachable for a period of a time and local data live there, the n

[2022-05-10 12:37] gregth commented on #4876
I have sent a PR to implement this feature, see https://github.com/kubernetes/autoscaler/pull/4877. Any feedback is more than welcome.

[2022-05-10 14:31] x13n opened #4878 "Abandon checked-in vendor directory in Cluster Autoscaler"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Even though go modules are used in cluster-autoscaler repository, we still track vendor/ directory in git source control, which can lead to issues like #4875 , where a bug was fixed directly in vendor, instead of bumping module ve

[2022-05-10 14:32] x13n commented on #4875
I think the long term solution (aka point 3) should be to just stop using vendor, just created https://github.com/kubernetes/autoscaler/issues/4878 for this.

[2022-05-10 14:39] joshross12 opened #4879 "Upgrade the aws/examples/cluster-autoscaler-autodiscover.yaml to the latest release"
**Which component are you using?**:

The cluster-autoscaler-autodiscover.yaml aws example file

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I would like to use the cluster-autoscaler-autodiscover.yaml aws example file but it is not up to date with the latest cluster autoscaler image as seen here: https://github.com/kubernetes/aut

[2022-05-10 16:44] starkers commented on #3984
This is a little silly indeed, using something like vault-sidecar for example will leave these on all of your pods:

[code]

[2022-05-10 17:13] gandhipr commented on #4875
I agree. Point 3 should be stopped. Apologies for #4689
<https://github.com/kubernetes/autoscaler/pull/4689>. I remember creating a
change in cloud-provider-azure.
In my opinion, we should update cloud-provider-azure dependency to a
version with a fix and verify that tests don't fail.

The alternative is to carry the fix in the vendor would be a quick fix but
will cause other issues as mentioned a

[2022-05-10 18:38] marwanad commented on #4875
The cloudprovider version should be bumped to v1.23.11 which contains [this](https://github.com/kubernetes-sigs/cloud-provider-azure/pull/1158) fix.

[2022-05-10 19:24] AustinSiu commented on #4859
@gregth you're right in that my change only supports generating the instance list when a region is specified, compared to prior to my change, when it made [separate requests for all regions](https://github.com/kubernetes/autoscaler/blame/16db9b0b8a7d31fc677318fbdb74ad0412db00e1/cluster-autoscaler/cloudprovider/aws/aws_util.go#L72-L79) if one wasn't provided.

Is this still a case CA wants to suppo

[2022-05-10 19:55] gregth commented on #4859
@AustinSiu we have been relying on this script to generate a complete list of instances for all the AWS regions. This option was very useful. I believe it is worth investigating how we can keep the same functionality while using the AWS SDK.

What I think of is, does the SDK offer a way to list all AWS regions? Then we can fetch the instances for every region.

[2022-05-10 19:56] chrisayoub opened #4880 "cluster-autoscaler fails to reload new AWS instance types automatically"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.21.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.12", GitCommit:"696a9fdd2a58340e61e0d815c5769d266fca0802", GitTre

[2022-05-10 20:01] chrisayoub commented on #4880
Example error messages:
[code]

[2022-05-10 20:08] gregth commented on #4859
I believe that the team maintaining the cluster autoscaler has been using the script to regenerate the static instance list periodically and ensure that everything is up-to-date.

Maybe @gjtempleton who had lately updated the static instances list can further comment on this.

[2022-05-11 12:20] MaciekPytel commented on #4875
Bumping cloudprovider to either 1.23.11 or 1.24 causes compilation error in CA azure cloudprovider. I'm guessing they shouldn't be very hard to fix, but I don't want to make last minute changes in cloudprovider I don't know and have no way of testing.

I'm leaning towards manually fixing this in vendor/, listing the import problem as a know issue and fixing it in a follow-up patch release. Unless

[2022-05-11 13:44] MaciekPytel commented on #4875
I've updated https://github.com/kubernetes/autoscaler/pull/4871 to carry the fix in vendor. If there are no comments against this approach and / or alternative PRs with version update for Azure by tomorrow, I'd like to merge it tomorrow to unblock 1.24.0 release.

[2022-05-11 14:34] gjtempleton commented on #4859
My general view would be that the current code using the AWS APIs is a significant improvement on the previous setup, and that it provides us with the functionality we need given AWS announces where new instances are available on launch, so we can just run the script in that region when refreshing the static list, though we should as Austin says remove the confusing line.

I'd rather not maintain

[2022-05-11 14:34] gjtempleton commented on #4859
/area provider/aws

[2022-05-11 15:25] gandhipr commented on #4875
Okay, sounds good. I'll work on updating the vendor version in parallel.
Thank you.

On Wed, May 11, 2022 at 6:44 AM MaciekPytel ***@***.***>
wrote:

[2022-05-11 19:14] gandhipr commented on #4875
I created this PR: https://github.com/kubernetes/autoscaler/pull/4883
fixing version issue in CA.

On Wed, May 11, 2022 at 8:24 AM Prachi Gandhi ***@***.***>
wrote:

[2022-05-11 19:47] aleksrosz commented on #4862
If I understand well from source code. Lower bound and target is not just simple value from "args" if this value is bigger than estimations than it is used but if not then it looks like this:

podMinMemoryMb       = flag.Float64("pod-recommendation-min-memory-mb", 250, `Minimum memory recommendation for a pod`) //your value from args

func (r *podResourceRecommender) GetRecommendedPodResources(con

[2022-05-11 20:01] aogier commented on #4862
@aleksrosz could we agree you don't know what's the issue here nor the code you cite? Your response, and man, I thank you for that, is unbelievably pointless

[2022-05-12 05:03] gandhipr commented on #4875
cherry-picking above PR to 1.22 and 1.23.
I'll push these changes onto 1.24 after release?

On Wed, May 11, 2022 at 12:14 PM Prachi Gandhi ***@***.***>
wrote:

[2022-05-12 07:59] aogier commented on #4862
given that tools like goldilocks seems to take those values verbatim, what's the correct way of interpreting them, given that the observed pods never reached such usage?

[2022-05-12 12:25] olahouze commented on #3802
Hello

Thank you for the answer

With this information it forces me
- To modify all my helms / pod definition to use a nodeaffinity on the label **nodegroup=nodegroupe-name** (and not eks.amazonaws.com/nodegroup = nodegroupe-name)
- To add on my autoscaller-groups and my instances of manual labels : **nodegroup=nodegroupe-name**

The advantage of using **eks.amazonaws.com/nodegroup** in nodeaffini

[2022-05-12 14:28] PhilipPenquitt commented on #4613
Hi, is there any update on this issue?

[2022-05-13 08:55] jbartosik opened #4886 "All VPA e2e are failing"
Almost all VPA E2E tests are failing: https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#Summary
Only tests in which we expect VPA to not do anything are passing.

[2022-05-13 09:10] jbartosik commented on #4886
I don't think this is caused by a change to VPA:

| Test Suite | Last Successful run start | First failing run start |
|-|-|-|
|[actuation](https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-actuation)| 2022-05-12 06:40 CEST | 2022-05-12 08:42 CEST |
|[admission controller](https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-admission-controller)| 2022-05-12 06:3

[2022-05-13 12:49] jbartosik commented on #4886
I think this is because Cron Job got removed from v1beta1 API, we must switch to v1 API.

I have a branch with a fix. First tests passed so I think this fixes the problem.

[2022-05-13 15:33] stevehipwell commented on #4228
/remove-lifecycle rotten

[2022-05-13 17:12] #3868 closed

[2022-05-13 19:14] #3204 closed

[2022-05-14 08:16] #4122 closed

[2022-05-14 17:16] #4499 closed

[2022-05-14 17:16] #4527 closed

[2022-05-16 07:10] pierluigilenoci commented on #4097
/remove-lifecycle stale

[2022-05-16 08:02] jbartosik opened #4889 "VPA 0.11.0 release"
PR to increasing VPA version number merged: #4881
I built and tested images, PR promoting them is ready: https://github.com/kubernetes/k8s.io/pull/3730

But e2e tests are failing: #4886
I think that's a problem with VPA only on K8s 1.25 and newer and I think I have a PR fixing this: #4887

To be sure I'm not releasing bad images I'll wait for the fix to merge and e2e to pass.

I also consider cher

[2022-05-16 09:44] Shubham82 commented on #4830
If it is valid to do then I would like to work on it.

Hi, @gjtempleton @MaciekPytel @jbartosik your thoughts on this.

[2022-05-16 10:33] #4220 closed

[2022-05-16 17:47] rafaeljesus opened #4891 "targetRef field misbehaviour"
**Which component are you using?**:

VPA in GKE

**What version of the component are you using?**:

Component version: GKE v1.21.10-gke.2000

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.9-dispatcher", GitCommit:"2a8027f41d28b788b001389f3091c2

[2022-05-17 04:33] anannaya opened #4892 "Does CA evict the node if the system-cluster-critical pods are on that Node."
From documentation only kube-system pods are ignored , I just wanted to get confirmed if system-cluster-critical pods are also ignored on other namespaces ?

[2022-05-17 04:45] vkkumarswamy opened #4893 "cluster autoscaler not scaling up the autoscaling group when already downscaled to 0"
This happens when autoscaling group is downscaled to 0.  ie desired capacity is set to 0. Now if I start the cluster autoscaler and start a pod which requires a node from this autoscaling group. Some how autoscaling is not happening.
I have defined node affinity towards this autoscaling group.

Below is the event log from pod describe.
Normal   NotTriggerScaleUp  4m15s (x121 over 24m)  cluster-aut

[2022-05-17 07:25] voelzmo commented on #4515
@jbartosik

Did you end up looking into this at some point? We're also considering this scenario to be a problem that we'd like to avoid. If you have specific ideas/thoughts on this, it would be great to hear them! At least we should maybe /reopen this?

[2022-05-17 08:45] jbartosik commented on #4886
Most tests are green now but [actuation](https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-actuation) tests "Actuation observes pod disruption budget" are still failing.

[2022-05-17 13:12] frittentheke commented on #1317
/remove-lifecycle stale

[2022-05-17 14:55] #4886 closed

[2022-05-17 14:58] jbartosik commented on #4889
E2e tests are passing now.  Since the only problem was with changes in 1.25 I'll release images I've built.

[2022-05-17 20:22] h0jeZvgoxFepBQ2C commented on #1298
/remove-lifecycle rotten

[2022-05-17 20:22] h0jeZvgoxFepBQ2C commented on #1298
Still an important feature request imo

[2022-05-18 06:03] Shubham82 commented on #4879
Hi @joshross12
[ClusterAutoscaler-1.24.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.24.0) is also released so can we change it to the latest one.  I think we have to change all the files under [Example](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws/examples) folder.

[2022-05-18 06:09] Shubham82 commented on #4879
Hi @jbartosik @MaciekPytel @gjtempleton @mwielgus
What do you think about this?

[2022-05-18 06:10] Shubham82 commented on #4830
/assign

[2022-05-18 06:43] sudo-justinwilson commented on #3713
Are you using `aws-node-termination-handler`? If so, check out the previous comment..

[2022-05-18 08:02] #4892 closed

[2022-05-18 08:03] x13n commented on #4285
#4888 fixed the helm charts, but CA is still relying on v1beta1 internally, which has to be fixed before 1.25 release.

/reopen

[2022-05-18 12:42] VladimirBalun opened #4897 "CustomResourceDefinition problem with VPA"
Hello, I have the following problem:

[code]

When I try to run ./hack/vpa-up.sh from tag vertical-pod-autoscaler/v0.9.2

[2022-05-19 12:17] tarun-asthana commented on #3490
@nitrag I faced the same issue. Were you also facing a spot interruption in your fleet?

[2022-05-19 12:19] nitrag commented on #3490
We haven't seen this since 1.19+ and even before then it was rare.

[2022-05-19 12:40] tarun-asthana commented on #3490
@nitrag I am using v1.18.2 on Kubernetes 1.18. It was spot interruption which I confirmed from AWS Support. Shouldn't cluster autoscalar not use an ASG which it has marked unhealthy ? In my case it was still using it.

[2022-05-19 13:09] tarun-asthana opened #4900 "Cluster autoscalar using ASG even after marking it unhealthy"
**Which component are you using?**:
Cluster autoscalar

**What version of the component are you using?**:

Component version:v1.18.2

**What k8s version are you using (`kubectl version`)?**:

$ kubectl version

v1.18.9

**What environment is this in?**:

AWS/kops

**What did you expect to happen?**:

Cluster autoscalar should not use the ASG which it has marked unhealthy

**What happened instead?*

[2022-05-19 13:11] tarun-asthana commented on #3490
Created a separate bug for the same - https://github.com/kubernetes/autoscaler/issues/4900

[2022-05-19 14:09] radnov commented on #2045
Are there any plans for this issue?

_I have an EKS cluster (v1.22) with `cluster-autoscaler` installed, where the most common/important workload is an app that needs to run as a single replica Deployment and has a startup sequence which takes about a minute.
This essentially means that any rebalancing/scaling-down action by CA leads to downtime of the said app (about equal to the Readiness probe

[2022-05-20 01:06] RixTmobilender opened #4901 "[VPA] Support `--recommender-name` initflag"
**Which component are you using?**: Vertical Pod Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**: Running multiple instances of VPA recommender in the same cluster is currently impossible as the default recommender name is hardcoded to "default"

**Describe the solution you'd like.**: an init flag `recommender-name` for the

[2022-05-20 07:25] WebSpider commented on #4893
I'm seeing this too and am a bit puzzled as to the solution

[2022-05-20 07:43] Shubham82 commented on #4879
Hi @joshross12
It is working with AWS EKS, [EKS](https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html) currently has k8s version v1.22.6  as the latest version, so can we bump this to the latest minor version of CA of v1.22 which is [CA v1.22.2](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.22.2). k8s v1.23 for EKS will release in August 2022 as [p

[2022-05-20 08:58] voelzmo commented on #4901
Seems like the expected workflow for creating a custom recommender assumes that you would be making modifications to the code and therefore able/willing to modify that constant. I can see how people might want to use the same codebase but with different configuration options, so this could indeed be helpful for others as well.
One question to the managed VPA on GKE, as I'm not in the details here:

[2022-05-20 10:16] sgran commented on #1658
/remove-lifecycle stale

[2022-05-20 17:01] psimms-r7 opened #4903 "Typo in cluster-autoscaler/cloudprovider/aws/aws_wrapper.go"
**Which component are you using?**:

Typo
"Failed to query launch tempate"

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_wrapper.go#L304

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl v

[2022-05-20 18:21] x13n opened #4904 "Extend ClusterSnapshot implementations to include StorageInfos lister"
**Which component are you using?**:

cluster autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Recent scheduler framework changes will cause Cluster Autoscaler code to stop compiling once we update the dependency on scheduler.

**Describe the solution you'd like.**:

There are 3 objects implementing `SharedFramework` interf

[2022-05-22 22:27] #4460 closed

[2022-05-23 06:28] Shubham82 commented on #4879
Fixed it here: #4905

[2022-05-23 07:08] lawliet89 commented on #1869
/remove-lifecycle stale

[2022-05-23 11:46] voelzmo commented on #4901
Thanks for the detailed follow-up, I highly appreciate it!

[2022-05-23 12:40] #4879 closed

[2022-05-23 14:45] phillebaba commented on #4754
@drmorr0 I discussed this idea with you last week at KubeCon.

I brought it up today at the community meeting, asking if there was interest to implement it as a feature into cluster autoscaler. There did not seem to be too much interest in taking this feature. I did however get some feedback for how one could implement this as a separate application without having to implement cloud specific code.

[2022-05-23 19:24] x13n commented on #4904
/help

[2022-05-24 08:36] gaganso opened #4909 "How to setup a different VPA for each namespace in a single Kubernetes cluster?"
I would like to bring up a different VPA with different parameter values (e.g, one with `cpu-histogram-decay-half-life`=2h and another with `cpu-histogram-decay-half-life`=6h) for each namespace on a single Kubernetes cluster. I followed this [pull request](https://github.com/kubernetes/autoscaler/pull/3227) by @povilasv but couldn't get it working. If anyone could point to a list of steps or docu

[2022-05-24 14:06] apolovov opened #4910 "[vpa] status.recommendation.containerRecomendations isn't sorted"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:

Component version: v0.9.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.11", GitCommit:"38d3c1f3d5306401bcf39a71ba

[2022-05-24 16:04] rittneje commented on #4699
/remove-lifecycle stale

[2022-05-24 20:10] ialidzhikov commented on #4540
/reopen

[2022-05-24 20:10] ialidzhikov commented on #4540
/remove-lifecycle rotten

[2022-05-25 00:39] cw-sakamoto opened #4913 "Setting priority-expander for cluster-autoscaler with chart happened error"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

- chart: 9.18.1
- cluster-autoscaler: 1.22.2

Component version: 1.22.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
 % kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23

[2022-05-25 04:59] ahaysx commented on #4904
/assign

[2022-05-25 09:07] x13n commented on #4878
/help

[2022-05-25 09:37] chenggaw commented on #4757
any  update？

[2022-05-25 09:58] Shubham82 commented on #4830
Fixed it here: #4916

PTAL!

[2022-05-25 11:23] phillebaba commented on #4754
Thanks for the response @drmorr0!

Having the discussion during the SIG meeting was actually useful even if there was no interest in taking the feature. I got some good feedback about how such a feature could be implemented. So I spent a couple of hours Monday night implementing a POC which works really well. It works by running a function at a fixed interval which based on a TTL label selects the

[2022-05-25 11:38] RafaelMoreira1180778 commented on #4662
/close

[2022-05-25 11:38] #4662 closed

[2022-05-25 12:06] #4695 closed

[2022-05-25 18:05] drmorr0 commented on #4754
Yea, that sounds great.  Monday is a holiday in the US so I don't think I'll be at the sig-autoscaling meeting this week, but I can show up the week after (2022-06-06)

[2022-05-25 18:14] azhurbilo commented on #4613
faced with similar unclear issue

we use 1.20.2 and face issue that scale-up is not working:

we have 5 ASG each in different AWS AZ with the same instance type list
[code]

but scheduling of Pod with 3 CPU cores is not working :(

[code]

the same issue for "cpu: 2900m"

Error 🚫

but "cpu: 2800m" request works and triggers scale-up ✅

it's strange

I see that all instances exist here https://gith

[2022-05-25 20:47] meierj-wayscript commented on #4762
Experiencing the same thing.

[2022-05-26 03:15] PaulFurtado opened #4918 "`--ignore-taint` does not work"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.21.1

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.21.12

**What environment is this in?**:
AWS

**What did you expect to happen?**:
When specifying `--ignore-taints`, I expect the cluster autoscaler to never consider those taints relevant to an instance gro

[2022-05-26 03:51] PaulFurtado commented on #4918
Okay, I actually went down the path of fixing this bug myself and dove into the code. The real issue is that we were passing a single comma-separated argument instead of multiple arguments. Sorry for the noise here.

[2022-05-26 03:51] #4918 closed

[2022-05-26 07:44] vmshah-github opened #4919 "Cluster Autoscaler scale down not happening due to annotation scale-down-disabled"
We are facing an issue with Cluster autoscaler version 1.16.x where autoscaler is not scaling down nodes due to following annotation :
cluster-autoscaler.kubernetes.io/scale-down-disabled:true

We noticed that this annotation is added by core algorithm internally in certain situation and remove in very short time.

We are running into situation where for certain nodes this annotation is applied bu

[2022-05-26 08:04] vkkumarswamy commented on #4893
Any updates on this ?. Or any workaround you would suggest ?

[2022-05-26 14:58] #4919 closed

[2022-05-26 14:58] vmshah-github commented on #4919
Closing this issue as one of the internal services was managing this annotation.

[2022-05-26 18:59] azhurbilo commented on #4613
looks that my usecase is resolved: I checked Node Allocatable --> cpu
minus all daemonsets requested cpu and get max CPU request close to my previous message ~2800m

[2022-05-27 14:41] varunpathy opened #4922 "aws_manager.go:259] Failed to regenerate ASG cache: cannot autodiscover ASGs: WebIdentityErr: failed to retrieve credentials"
Hi Team,

I am facing issues with EKS ALB Cluster-Autoscaler. I have succefully deployed the ALB Cluster-Autoscaler for EKS , but its seems to be in un-stable mode right now. Its running few time’s & then goes to “CrashLoopBackOff “ state.

**Below are the error logs**:
E0527 08:22:15.158269       1 aws_manager.go:259] Failed to regenerate ASG cache: cannot autodiscover ASGs: WebIdentityErr: faile

[2022-05-27 15:52] #4562 closed

[2022-05-27 16:25] teqwve commented on #4569
Hi, @ringtail, are there any chances of doing this?

If you don't have time, I will be very happy to provide a patch with taints support myself (but it would differ from internal fork in this case).

[2022-05-27 16:26] teqwve commented on #4569
/remove-lifecycle stale

[2022-05-27 20:29] phillebaba commented on #4754
Sounds good! I ended up building [node-ttl](https://github.com/XenitAB/node-ttl) to both understand the challenges and solve my issues short term. Hopefully my repository can be archived when these features make it into cluster autoscaler :smile:

[2022-05-28 17:52] Prajithp commented on #4757
We had the same issue but we managed to solve this some extent by implementing following workarounds.

1. Cordon the node before its getting deleted from the cluster. You can set --cordon-node-before-terminating=true cli argument in deployment yaml.
2.  Increase the degregistration delay in targetgroup to which ever is needed for in-flight requests to be completed.
3. Enable lifecycle termination

[2022-05-29 00:27] m-barthelemy commented on #4715
According to our Trivy scans, the latest image for **1.24** is also affected.
Would it be possible to make a hotfix release and generate new images?

[2022-05-29 04:29] ahaysx commented on #4904
@x13n there hasn't been a k/k release >  v1.25.0-alpha.0 with https://github.com/kubernetes/kubernetes/pull/109715. Besides implementing `IsPVCUsedByPods`, is it fine for in this change just to set up the snapshots and delegating lister for the eventual vendor update? The update change will just need to add `StorageInfos`.

[code]

[2022-05-30 10:05] NissesSenap opened #4923 "cluster-autoscaler pvc bound to old node, not scaling up."
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: I don't know, the AKS one... I will find out

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitC

[2022-05-30 10:22] tudormi commented on #3592
We found this issue after setting **HttpTokens** to **required** on the EC2 instance for the k8s node.
Suddenly cluster-autoscaler was not running on new nodes with the HttpTokens metadata but it was running on the old ones without that metadata.

We found this note [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas):

[2022-05-30 13:12] voelzmo commented on #4498
We've adjusted the QPS to much higher values and are close to the ~60s cycle time. Thanks for the pointers!

[2022-05-30 13:12] #4498 closed

[2022-05-30 13:59] x13n commented on #4904
Thanks for working on this!

I think everything can be implemented beforehand, including `StorageInfos`. That way the vendor update should be require no extra changes. The function will just be unused until then.

Good point about cache invalidation. Since the caches are only used for listing, maintaining them during add/remove makes sense for `Revert` - they are no longer needed then and can be d

[2022-05-30 13:59] voelzmo commented on #4869
Hey @aeimer,

The VPA uses `klog v2` for writing logs, where a higher number means a higher verbosity. Therefore, running it with `v=4` means all log statements with V-Level 4 and smaller will be written. This produces a huge amount of logs, as you already found out.

You found the correct parameter `v=4`. The helm chart you linked seems to  provide this as `.Values.recommender.extraArgs`, so I gu

[2022-05-30 15:12] aeimer commented on #4869
Hi @voelzmo,
oh I see, I missed the order.
So when using `v=1` or `v=2`, the output is still very verbose:
![grafik](https://user-images.githubusercontent.com/25035182/171020383-fc59226f-7b75-440c-bed5-996f38b957bf.png)
I also wonder about these log outputs to be the lowest loglevel:
![grafik](https://user-images.githubusercontent.com/25035182/171020625-d63e9ccf-2b49-47a2-a0fc-0ffe08eeabb5.png)
Ma

[2022-05-30 15:12] gjtempleton commented on #4922
/area cloudprovider/aws
You're running a version of the CA significantly out of step with the EKS cluster version you're using. We [strongly recommend](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases) matching the minor version of the CA deployed to the cluster minor version.

Can you please try updating your image to the latest 1.19 CA patch release image ( `k8s.g

[2022-05-30 15:25] gjtempleton opened #4924 "Cluster Autoscaler Patch Releases - June 2022"
Hi all,

As discussed at today's SIG meeting, I'm planning on cutting patch releases for the Cluster Autoscaler this Friday (3rd June 2022).

If there are any bugfix cherry-picks you want included, please prepare the PRs and let me know in the comments.

**Note:** I plan on cutting releases as far back as 1.19 up to 1.23 given there's at least [one known issue in the AWS cloud provider](https://gi

[2022-05-30 15:28] gjtempleton commented on #4922
/area provider/aws

[2022-05-31 04:56] krrrr38 commented on #4848
We have a same situation. If we restart cluster-autoscaler pod, it was resolved. w/version 1.21.2

![Pasted_Image_2022_05_31_13_49](https://user-images.githubusercontent.com/915731/171095391-0515617d-1ec3-4347-a653-080361d8d4c3.png)

[2022-05-31 06:25] ringtail commented on #4569
@lrislris Pls follow it up.

[2022-05-31 07:22] varunpathy commented on #4922
Hi Team,

After updating to CA Version to --> " k8s.gcr.io/autoscaling/cluster-autoscaler:v1.19.2 " .... I am still getting same issue's.

![image](https://user-images.githubusercontent.com/36322221/171115137-32f5e88d-6acd-4efe-a2ca-4a857970b1a5.png)

Any suggestion what to do to fix it ??

This link has one of the suggestions for applying the fix - https://github.com/kubernetes/autoscaler/issues/

[2022-05-31 07:32] phillebaba commented on #4754
I got the feeling that a lot of companies had already solved this issue with an internal project as I would hear a lot of people talking about enforcing a Node TTL but could not find an implementation. Thanks for the feedback! I am in the early stages of rolling this out in our clusters so will probably end up finding a bunch of small issues.

I am lucky enough to work at a company which allows me

[2022-05-31 08:11] enxebre opened #4927 "Drop deprecated CAPI variables"
**Which component are you using?**:
CAPI cluster autoscaler

Now CAPI has been v1beta1 for a while we should removed the old deprecated annotations for easier code base sustainability and communicate it appropriately to the community.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_utils.go#L29-L33

[2022-05-31 08:12] enxebre commented on #4927
/area provider/cluster-api

[2022-05-31 08:16] enxebre commented on #4927
This was closed [here](https://github.com/kubernetes/autoscaler/issues/4453) but there's still some work to do.
cc @elmiko

[2022-05-31 08:40] gjtempleton commented on #4922
The expected IAM permissions for running the version of the CA you're using can be seen by navigating to the code at that point in time. You can see the expectations for 1.19.2 [here](https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-1.19.2/cluster-autoscaler/cloudprovider/aws#iam-policy). Adding the above IAM permissions won't resolve the issue you're seeing.

There's one easy opti

[2022-05-31 09:48] #4927 closed

[2022-05-31 12:19] andyzhangx commented on #4923
I think this issue should be fixed with https://github.com/kubernetes/autoscaler/pull/4550 on 1.22 cluster

[2022-05-31 12:23] varunpathy commented on #4922
Hi @gjtempleton ,

Thanks for replying back & helping on the workaround's.

As per your suggestion I have tried updating  " **--aws-use-static-instance-list=true** " value in deployment.apps/cluster-autoscaler , using command " **kubectl -n kube-system logs -f deployment.apps/cluster-autoscaler** " . So its have additional below value's now under container spec
•	**--balance-similar-node-groups**

[2022-05-31 13:15] NissesSenap commented on #4923
Okay thanks @andyzhangx , do you have any eta for when it might be implemented on AKS?
I will be upgrading to 1.22 the next coming weeks.
After doing so do I need to do anything else do get the latest release, or is it just to sit back and wait while the Azure team do it's thing and start rolling out the latest release to their customers?

[2022-05-31 13:46] varunpathy commented on #4922
Below are the Errors I am getting after updating the " --aws-use-static-instance-list=true " value in the CA yaml

----------------------------------------------------------------------------------------------------------

Trace[638043721]: [599.976602ms] [599.976602ms] END
E0531 13:39:55.504052       1 aws_manager.go:265] Failed to regenerate ASG cache: cannot autodiscover ASGs: WebIdentityErr: f

[2022-05-31 15:21] hades1712 commented on #4757
same here, and if the problem is kube-proxy is still receiving traffic when node shut down ,can we change the cluster-mode to ip-mode to send traffic to Pods directly ?

[2022-05-31 15:22] varunpathy commented on #4922
Any Workaround's that I can try ?? Should I get OIDC Connector , EKS Service Account Role checked ?? What with the Network Policies should I get checked ??

Any suggestions , blogs would really help. @gjtempleton ... Thanks !!!

Regards,
Varun Pathy

[2022-05-31 18:36] alculquicondor commented on #3886
/reopen

[2022-05-31 18:40] alculquicondor commented on #3886
/cc @x13n

[2022-05-31 18:51] elmiko commented on #4927
@enxebre apologies, i thought that other PR had gotten all the references. thanks for the cleanup!

[2022-06-01 04:28] hitsub2 commented on #4757
I think even if the kube-proxy is still there, if keep the externaltraffic as default(cluster), as there are no other application pods running on the pod. It should forward the request to other nodes. Have you try to set a prestop for the pod?

[2022-06-01 12:46] #4889 closed

[2022-06-01 17:24] gandhipr commented on #4923
I observer CA 1.21 doesn't have this fix and it is possible to face this issue while using CA 1.21 https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.21/cluster-autoscaler/cloudprovider/azure/azure_template.go
1.22 onwards - we have this change in.

[2022-06-01 21:17] sudermanjr commented on #4464
I just ran into this on 1.19.2 as well.

[2022-06-01 22:11] ashishjullia opened #4933 ""autoDiscovery.clusterName" is always "null""
@roberthbailey @mgoodness @gjtempleton @sc250024

While trying to run the following terraform code using helm provider:
[code]

I'm getting the following error:
[code]

Also, "**autoDiscovery.clusterName**" is always "**null**"

[2022-06-02 12:56] MartinEmrich opened #4934 "AWS Region not needed, but Helm chart defaults to us-east-1"
**Which component are you using?**:
Cluster Autoscaler, installed using Helm chart

**What version of the component are you using?**:
Helm chart 9.19.0, CA 1.22.2 (explicitly configured due to #4850)

**What k8s version are you using (`kubectl version`)?**:
AWS EKS 1.22

**What environment is this in?**:
AWS

**What did you expect to happen?**:
the AWS SDKs (including the ones used in cluster-auto

[2022-06-02 12:59] MartinEmrich commented on #2936
I just had the same issue, and discovered this: #4934

You might double-check the the Deployment generated by the Helm chart. If it renders an env: block with AWS_REGION, it should be the correct one. If no AWS_REGION env var is set, the IAM serviceaccount is used to detect the local region.

[2022-06-02 18:09] Ab-hishek commented on #3615
@BLasan If this is not being worked upon, I would like to give it a shot.

[2022-06-02 20:56] ashishjullia commented on #4933
@gjtempleton In order to reproduce this, you simply need to have an "eks cluster running" and "metrics server" installed.
While I'm passing the following values:
[code]

All of the values are working completely fine but the only the following one is throwing the error mentioned above:
[code]
At the value part, I've tried the following:

-  "${var.eks_cluster_name}"
-  var.eks_cluster_name
-  <clus

[2022-06-02 20:59] gjtempleton commented on #4933
Honestly, this doesn't seem like an issue with the chart itself to me, but a Terraform issue.

I don't use Terraform to manage my clusters or charts personally, so I don't know whether the data you're trying to pass in as the cluster name should exist or not.

[2022-06-02 21:02] ashishjullia commented on #4933
Oh, I see but seriously as far as my understanding goes, this is the problem with the chart itself.

Explanation -> I'm passing a string value and "autoDiscovery.clusterName" expects "string" value but the error is in relation with "bool".
[code]

[2022-06-02 21:24] gjtempleton commented on #4933
OK, if you still think this is a chart error, can you provide minimal steps to reproduce the error?

This is why we include the prompts for details in the template for bug reports which you've stripped out, I'm not familiar with Terraform, so to help you I need a way to reproduce this.

[2022-06-02 21:30] ashishjullia commented on #4933
@gjtempleton You don't need much to reproduce this but a k8s cluster is up and running (In my case I'm using eks) and the rest is to deploy the chart by passing a value to "autoDiscovery.clusterName".

I know this is not much information but apart from this there isn't anything else, I tried with both "terraform helm provider" as well as directly applied the chart via "helm install" by setting the

[2022-06-02 21:50] ashishjullia commented on #4933
@gjtempleton

Chart - nothing other than "values.yaml" is changed
![image](https://user-images.githubusercontent.com/11252951/171743658-155fba49-a618-475a-8327-784db278085b.png)

My "values.yaml" is as follows:

[code]
`helm install my-release autoscaler/charts/cluster-autoscaler/`

Following error occurs:
`Error: unable to build kubernetes objects from release manifest: unable to decode "": json:

[2022-06-02 21:56] gjtempleton commented on #4933
And what version of the chart and helm is this with?

On Thu, Jun 2, 2022 at 10:50 PM Ashish Jullia ***@***.***>
wrote:

[2022-06-02 21:58] ashishjullia commented on #4933
"9.19.0" - latest one

[2022-06-02 22:00] ashishjullia commented on #4933
`version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoVersion:"go1.17.5"}`

[2022-06-02 22:18] gjtempleton commented on #4933
I was running `helm template`, which works fine even with your example values file. I've now spun up a local cluster and reproduced your error, it only appears with `helm install`.

The issue is not the `clusterName`, it only makes the error appear as the deployment isn't created without that variable. If you diff your values.yaml file, against the defaults, you'll see an annotation, trying to use

[2022-06-02 23:27] ashishjullia commented on #4933
@gjtempleton oh okay, one more thing, how to actually replicate [this](https://docs.aws.amazon.com/eks/latest/userguide/autoscaling.html#:~:text=role/%3CAmazonEKSClusterAutoscalerRole%3E-,Patch,-the%20deployment%20to), as this is what I'm trying to achieve here.

[2022-06-02 23:32] gjtempleton commented on #4933
You need to quote the false as a string, as the example shows.

[2022-06-02 23:44] gjtempleton commented on #4933
What exactly did you try, because I tried with exactly the same
values.yaml, only with `"false"` rather than `false`, and didn't get the
error.

On Fri, 3 Jun 2022, 00:42 Ashish Jullia, ***@***.***> wrote:

[2022-06-03 07:34] ashishjullia commented on #4933
@gjtempleton I used the following:
[code]

[2022-06-03 08:44] gjtempleton commented on #4933
The below values file should only differ from the example you gave in having the quotes I suggested on the annotation.
It works for me when running `helm install -v 4 my-release .` in the chart directory.

<details>
<summary>Working Values File</summary>

[code]
</details>

[2022-06-03 10:42] gjtempleton commented on #4903
Hey, thanks for raising, if you want to raise a PR to fix this it would be more than welcome.

[2022-06-03 10:45] ovstuckrad opened #4942 "Scale up does not happen when current node count is smaller than min size"
**Which component are you using?**: Cluster Autoscaler with Cluster API

**What version of the component are you using?**: 1.21.0

**What k8s version are you using (`kubectl version`)?**: 1.21.3

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527

[2022-06-03 13:10] ashishjullia commented on #4933
@gjtempleton You pinpointing `"false"` helped me solve that error but there is still one problem that is affecting the process of "cluster autoscaler" deployment via "helm chart".

When I'm applying the following "yaml" to the cluster, everything is working fine:
[code]

But when trying to replicate the same with the following values in the "values.yaml" from chart:
[code]
I'm getting the followin

[2022-06-03 13:30] #4933 closed

[2022-06-03 13:37] michelzanini commented on #4762
I experienced this problem too with the latest Helm chart version.
I was upgrading from `9.11.0` to `9.19.0` and got the error above as well.

It turned out that the AWS IAM permissions required have changed to require a little more.
In my case I had:

[code]

And there was two more required permissions required:

[code]

Once those were added everything worked fine.

PS: I simplified the permissi

[2022-06-03 13:55] NissesSenap commented on #4923
So I finally had time to verify this after patching my cluster to 1.22 and I now it works as expected.
Thanks alot for your answers @andyzhangx and @gandhipr

[2022-06-03 13:55] #4923 closed

[2022-06-03 15:23] jwalton commented on #4613
Aha!

[code]

It's finding the node groups, but it can't find any configuration for them.  Why?  In my case, because my node groups are in us-west-2, but when I installed autoscaler via helm I didn't add `--set 'awsRegion'='us-west-2'`, so it's defaulting to looking for config info in us-east-1.  -_-

[2022-06-04 02:27] #4833 closed

[2022-06-04 07:51] ashishjullia commented on #4933
@gjtempleton Thanks for all your help, I am able to solve the issue.

[2022-06-04 10:26] #4913 closed

[2022-06-04 17:44] #4516 closed

[2022-06-06 04:32] mtb-xt commented on #2503
Seriously, for everyone who uses K8S autoscaler in AWS - try Karpenter (https://karpenter.sh/)

[2022-06-06 08:17] SnowmanCharles opened #4946 "Hint taints with tags on node group does not work well"
**Which component are you using?**:

Cluster Autoscaler on Azure

**What did you expect to happen?**:

I expect to be able to hint Cluster Autoscaler with all the valid taints I set on this node group(VMSS)

**What happened instead?**:

Azure Cluster Autoscaler Doc suggests tagging the VMSS with something like "k8s.io_cluster-autoscaler_node-template_taint_foo: bar:NoSchedule" to hint the Cluster

[2022-06-06 10:04] Shubham82 commented on #4903
Hi @gjtempleton
If no one is working on this, I'm up for it.

[2022-06-06 13:34] #2495 closed

[2022-06-07 05:47] Shubham82 commented on #4903
/assign

[2022-06-07 07:45] Shubham82 commented on #4903
Fixed it here #4952
PTAL!

[2022-06-07 08:23] voelzmo commented on #4869
@aeimer: good catch! This statement seems to miss a level-guard:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L384

@jbartosik: what do you think we should guard this with? Seems like a pretty verbose piece of information, given that _every_ VPA object creates this every ~60 seconds. The recommender doesn't guard anything with

[2022-06-07 16:32] #4903 closed

[2022-06-08 12:26] aleksrosz commented on #4820
If I'm correct you can edit file before you do ./vpa-down.sh https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/hack/vpa-process-yamls.sh
delete this crd from this file.
ACTION=$1
COMPONENTS="**vpa-v1-crd-gen** vpa-rbac updater-deployment recommender-deployment admission-controller-deployment"
case ${ACTION} in
delete|diff|print) COMPONENTS+=" **vpa-beta2-crd**" ;;
esac

[2022-06-08 14:30] JohnMops commented on #4811
Did you find what the issue was?

[2022-06-09 00:38] sidewinder12s commented on #4052
I saw this same error with one of our pods. The reason seemed to be because the pod had a nodeSelector that I didn't have a tag hint for in my ASG. I never had issues with pod scheduling with this pod if a node without taints was available, only on scale from zero.

[2022-06-09 10:21] #4575 closed

[2022-06-09 10:21] #4576 closed

[2022-06-09 17:43] rocketraman commented on #3984
/reopen

[2022-06-09 21:16] drmorr0 commented on #4900
There is a feature in more recent Kubernetes that will "early-abort" for spot ASGs that are unavailable.  See https://github.com/kubernetes/autoscaler/pull/4489

This isn't available in 1.18 but there is a custom fork of Cluster Autoscaler that includes this feature: https://github.com/airbnb/autoscaler/tree/cluster-autoscaler-release-1.18-airbnb (this is not a supported fork though, so you're on

[2022-06-09 21:26] drmorr0 commented on #4876
(imo) this is a breaking change that could cause somewhat surprising behaviour for cluster operators.  If someone sets `--scale-down-unready-time` to a negative number now, and then they upgrade CA, this could cause them to never scale down nodes again, which is not desirable.

[2022-06-09 21:31] jonathon2nd opened #4957 "Awareness of node hourly billing cycle"
**Which component are you using?**:

Cluster autoscaler.

---

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

When deploying a workload that auto-scales or when hosting a workload which creates jobs as needed, it can be desired to host this in public cloud with managed k8s and node-pool autoscaling.

However, if nodes are added to t

[2022-06-09 21:32] drmorr0 commented on #4851
This is as-designed.  Cluster Autoscaler expects that every node in a node group (an ASG in this case) is identical, so using different weights (or, more fundamentally, different instance types) in a single ASG will not work.

[2022-06-09 21:38] drmorr0 commented on #4793
I think the issue here is that Cluster Autoscaler requires all the nodes in a particular node group to be identical across all possible dimensions that could impact scaling.  In the situation that you describe, if some nodes in an ASG (that is, a node group) have a taint and other nodes do not, even if Cluster Autoscaler scans and stores data for all nodes instead of a single representative, CA _s

[2022-06-10 08:02] SahilKhullar11 opened #4958 "priority expander not working as expected for AWS Spot failure"
We have below configuration for priority expander configmap and set `--max-node-provision-time=5m0s`.
  priorities: |-
    30:
      - .\*
    40:
      - .\*OnDemand0.\*
      - .\*OnDemand1.\*
      - .\*OnDemand2.\*
    50:
      - .\*Spot0.\*
      - .\*Spot1.\*
      - .\*Spot2.\*

CAS tries MediumDevNodeSpot**1**AutoScalingGroup and then marks it is not ready for scale up after 5 minutes.
Th

[2022-06-10 08:24] guilhem commented on #3984
/reopen

[2022-06-10 10:52] Ab-hishek commented on #3615
/assign

[2022-06-10 15:11] nantoniazzi commented on #4957
Thanks for your report and mention, I see that we have the same issue :) . Your workaround based on taints is interresting, I did not think about this option.

I will try to create a cronjob associated with the proper serviceaccount to see if it's doable without too many problems.

We also have monthly/hourly billing issues: https://github.com/ovh/public-cloud-roadmap/issues/67#issuecomment-115243

[2022-06-10 18:00] gregth commented on #4876
@drmorr0  As we have discussed in https://github.com/kubernetes/autoscaler/pull/4877#discussion_r890157350, we will add a separate flag for disabling the scale-down of unready nodes, instead of extending the functionality of the existing flag.
We must -and will- keep this backwards compatible, the default behavior will be that the Cluster Autoscaler removes unready nodes, unless the user explicitl

[2022-06-12 10:50] #4606 closed

[2022-06-12 15:11] guoshimin commented on #4071
/remove-lifecycle

On Sun, Jun 12, 2022, 7:52 AM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-06-12 15:12] guoshimin commented on #4071
/remove-lifecycle stale

On Sun, Jun 12, 2022, 8:11 AM Shimin Guo ***@***.***> wrote:

[2022-06-12 15:53] #4150 closed

[2022-06-12 15:53] #4135 closed

[2022-06-12 20:40] rittneje commented on #3693
/remove-lifecycle stale

[2022-06-13 06:14] yatinsindhi commented on #4958
I am also seeing the same behavior. Please let me know, how we can fix the above issue?.

[2022-06-13 07:22] himanshu-kun commented on #4924
Hi @gjtempleton
Just wanted to confirm timelines of the release ..

[2022-06-13 07:53] pierluigilenoci commented on #4231
/remove-lifecycle stale

[2022-06-13 07:53] pierluigilenoci commented on #4129
/remove-lifecycle stale

[2022-06-13 07:54] pierluigilenoci commented on #4099
/remove-lifecycle stale

[2022-06-13 07:57] #4437 closed

[2022-06-13 08:51] der-eismann commented on #3879
/remove-lifecycle stale

[2022-06-13 11:30] jinleileiking opened #4966 "[AWS-FSX] Pod is hanging at `terminating` when evicting pods for scaling down"
# ENV

- k8s.gcr.io/autoscaling/cluster-autoscaler:v1.21.0
- aws
- eks
- c6a

**What k8s version are you using (`kubectl version`)?**:

[code]

# ARCH

I use argo-rollouts with transworker(my app with `FSX`) + hpa prometheus  + Prometheus adaptor + cluster autoscaler

If my worker is all running,  hpa will scale up the transworker. If no nodes, the pods are pending, ca will scale up the nodes.

If

[2022-06-13 15:50] jonathon2nd commented on #4957
So far the node-annotator chart I have written is working well. I will be fine-tuning it for a bit as I see how it behaves in prod, but so far I am happy with it. If it continue to work well and I get it polished enough I may make it public.

[2022-06-13 23:07] #4279 closed

[2022-06-14 07:07] amal786 opened #4968 "i am facing the same issue as https://github.com/kubernetes/autoscaler/issues/4775"
i am facing same issue as
#4775
https://github.com/kubernetes/autoscaler/issues/3397
https://github.com/kubernetes/autoscaler/issues/2810

the problem is that the master branch does not create vpa-admission-controller pod and it fails on MountVolume.SetUp failed for volume "tls-certs" : secret "vpa-tls-certs" not found

and the branch vpa-release-0.8 does not create crd
unable to recognize "STDIN"

[2022-06-14 08:12] jbartosik commented on #4869
@voelzmo I'd say level 4 like other log statements in this file that log about frequent per-VPA-object events

[2022-06-14 09:42] jbartosik opened #4969 "Deprecate v1beta1 API"
We should deprecate and remove v1beta1 API. Maintaining it is a burden, it's missing some features and we've had v1 for a long time.

I think [this](https://kubernetes.io/docs/reference/using-api/deprecation-policy/) is the relevant policy, I'll talk about it with SIG leads at SIG meeting.

[2022-06-14 09:42] jbartosik commented on #4969
I'd like to start deprecation with the next release.

[2022-06-14 11:58] jbartosik commented on #4515
I didn't have bandwidth to look into the problem. Not sure when I'll be able to

[2022-06-14 12:01] jbartosik commented on #4682
/remove-lifecycle stale

I didn't have time to look into the problem but I think it would be good to do that.

[2022-06-14 12:03] jbartosik commented on #3966
/remove-lifecycle rotten
I didn't have bandwidth to look into this but I think it would be good to do that

[2022-06-14 12:11] jbartosik commented on #4750
I'd rather not maintain an extra image (there's much other work to do).

Also custom images were based on `gcr.io/google-containers/stress:v1` (see [here](https://github.com/kubernetes/autoscaler/pull/4556/files#diff-34dc5aa9e143440d33d4ee7696161dbb6241a52b3bbdbfdf064cb4ef0b43c02b)) so if that image works only for x86_64 then my custom image wouldn't work either.

[2022-06-14 16:39] Michael-Sinz commented on #4051
/remove-lifecycle stale

[2022-06-14 19:37] Telemaco019 opened #4972 "cluster-autoscaler cannot scale to Azure VMSS when running k8s on-prem"
Hi everyone, I am trying to use the cluster-autoscaler for provisioning new nodes on Azure Virtual Machine Scale Sets, starting from a cluster run locally on my PC using [kind](https://kind.sigs.k8s.io/).

Ideally, I would like to install the cluster-autoscaler on an on-premise k8s cluster, so that it could automatically scale to the cloud using VMSS hosted on Azure. Is this use case supported by

[2022-06-15 03:41] m-barthelemy commented on #4715
Hi, is there a chance we could get a new minor release + image generated with the vulnerability fix?

[2022-06-15 03:53] PaulFurtado commented on #4793
I am actually suggesting that the autoscaler should have a mode where it never ever looks at a real node in the cluster. We configure our ASGs to have all of the metadata the cluster autoscaler could ever need to be able to scale up from zero. Using that metadata, it knows exactly what taints to expect from scaling up the ASG. The problem is that it then goes and looks at active nodes in the kube

[2022-06-15 10:12] abymsft opened #4974 "What is the unit measure for configuring "scale-down-utilization-threshold" ?"
Hi Team,

What is the unit measure for configuring "scale-down-utilization-threshold"?

What does a threshold value of 0.7 mean in terms of CPU/memory utilization?
I understand it's "_Node utilization level, defined as sum of requested resources divided by capacity_". But can someone share an example? Also, worth adding in CA's documentation/FAQs.

[2022-06-15 23:30] Timothy-Dougherty opened #4977 "Scale down delay per node group"
**Which component are you using?**:
Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

We have a special nodegroup where we run applications that don't like being interrupted (we disable autoscaling for this node group, but when a new application gets added we manually scale up.)
To not have to manually intervene we'

[2022-06-16 06:40] SahilKhullar11 commented on #4958
Found  [4489](https://github.com/kubernetes/autoscaler/pull/4489). After using the latest image and updating permissions for CAS IAM role, it started working. Closing this

[2022-06-16 06:40] #4958 closed

[2022-06-17 08:10] voelzmo commented on #4869
@jbartosik Thanks for the suggestion, I have adapted the corresponding PR.

[2022-06-17 11:55] jbartosik commented on #4968
Hi,
I think VPA 0.9 and older won't work with K8s 1.22 and newer.

Support for CRD v1beta1 AP was removed in K8s 1.22 ([release note](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122)). [Yaml with definition of VPA CRD using v1 API](https://github.com/kubernetes/autoscaler/blob/6dc7f7a39da7ff3edd571a5d76b73c0337a3bcbf/vertical-pod-autoscaler/deploy/vp

[2022-06-17 12:06] #4869 closed

[2022-06-17 13:53] henrikperssonvermiculus commented on #4680
@kgeipel-retail7 - did you manage to setup Rancher at Hetzner with autoscaler?

Having the same questions.

[2022-06-18 08:52] #4107 closed

[2022-06-18 22:55] #4589 closed

[2022-06-20 07:33] jbartosik commented on #4969
From the doc I linked in the 1st comment:

Since I'm trying to do releases together with K8s and K8s is doing 3 releases / year I guess this means that v1beta1 will stay around for 3 releases /  ~1 year after deprecation.

[2022-06-20 08:08] PhilippeChepy commented on #4782
Hello,

On my view, the deployment provided as an example is missing a proper toleration field. If you are deploying your cluster with `kubeadm`, you probably want to update the Deployment for something like that instead:

[code]

Please note that `node-role.kubernetes.io/control-plane` was `node-role.kubernetes.io/master` in previous releases (before `kubeadm` v1.24.x).

[2022-06-20 15:26] voelzmo opened #4981 "VPA doesn't provide any recommendations when Pod is in OOMKill CrashLoopBackoff right after start"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:

Component version: 0.10.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version --short
Client Version: v1.24.2
Kustomize Version: v4.5.4
Server Version: v1.23.4
</pre></details>

**What envir

[2022-06-20 15:27] voelzmo commented on #4981
ping @jbartosik that's what I was mentioning in today's SIG call

[2022-06-20 15:48] #4129 closed

[2022-06-20 17:22] shahadc commented on #3877
/remove-lifecycle stale
Waiting on SDK update in: https://github.com/kubernetes/autoscaler/pull/4950

[2022-06-20 18:39] liggitt commented on #4285
for multi-server clusters, it actually has to be fixed in the 1.24 timeframe to work properly against a cluster that is upgrading from 1.24 to 1.25, where some of the API servers will not have the beta API available

[2022-06-21 04:39] AnandKrishna44 commented on #2429
Hi , can you please ellaborate how you resolved this?

[2022-06-21 05:36] ialidzhikov commented on #4924
@gjtempleton, https://github.com/kubernetes/k8s.io/pull/3839 is merged. What is the next step? Cutting the github release?

[2022-06-21 08:37] gjtempleton commented on #4924
Hey @ialidzhikov, the merging of that PR's already published the images, so you can use them now, I just need to do the final docs pieces of pushing up tags and release notes which I'll get done today.

[2022-06-21 14:55] atulthummar opened #4984 "ScaledJob - Node Scale down not working"
Hi Team

I have used Service bus -  based scaled job trigger and below are the deployment - It scaled up NODE based on cpu limits as shown below - but once job is finished NODE is not scale down in cluster as there is no workload/message in queue since long.

It scale up smoothly but once no more request in Queue we don't want unnecessary node - It should be scale down.

We have used GPU based Nod

[2022-06-21 17:45] himanshu-kun commented on #4924
Yes having tags would be great.

[2022-06-21 20:41] gjtempleton commented on #4924
Tags and release notes now published, thanks for your patience everyone!

/close

[2022-06-21 20:41] #4924 closed

[2022-06-22 08:24] voelzmo commented on #4545
/remove lifecycle-stale

This is still a thing and causing pain on every update for us ;(

[2022-06-22 08:25] voelzmo commented on #4545
/remove-lifecycle stale

[2022-06-22 08:26] voelzmo commented on #4744
The simple solution we took was to install an additional VPA that scales the VPA. So in the end, its VPAs all the way down ;)

[2022-06-22 10:06] paurosello commented on #4165
At GiantSwarm the main issue we are facing is ignoring custom labels so nodepools are still considered similar.

For example we use the label `giantswarm.io/machine-deployment` to identify a nodepool and this breaks the balancing similar node groups.

Creating a custom provider seems like overkill to just modify the labels to ignore. WDYT?

[2022-06-22 11:28] Shubham82 opened #4986 "VPA Design Proposal give 404 error."
**Which component are you using?**:

vertical-pod-autoscaler

**What did you expect to happen?**:

The hyperlink for the Design proposal of vertical-pod-autoscaler [here](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#related-links) should not give a 404 error. The correct link is:  `https://github.com/kubernetes/design-proposals-archive/blob/main/autoscaling/vertical

[2022-06-22 11:29] Shubham82 commented on #4986
/vertical-pod-autoscaler

[2022-06-22 11:31] Shubham82 commented on #4986
/assgn

[2022-06-22 11:36] voelzmo commented on #4986
Seems like I missed a place in https://github.com/kubernetes/autoscaler/commit/80cdf9fd55e95bc9c24e5b5cb491929adbb583f1
Good catch, thanks!

[2022-06-22 11:53] Shubham82 commented on #4986
thanks!

[2022-06-22 15:10] mikelo commented on #4981
seems like VPA should ignore metrics for all pods having such that:
`for i in $(k get pod -o jsonpath={.items..metadata.name}); do echo $i reason: $(k get pod $i -o jsonpath='{.status.containerStatuses[].lastState.terminated.reason}'); done` returns 'OOMKilled'
should recommend/update resource limits accordingly...

am I missing something obvious?

[2022-06-22 16:26] donofriov commented on #4209
/remove-lifecycle stale

[2022-06-23 06:56] x13n commented on #4285
Ah, good point. We'll need to cherrypick the change to 1.24 branch.

[2022-06-23 09:50] ringtail commented on #4715
@IrisIris ping here.

[2022-06-23 10:42] x13n commented on #4904
/unassign

So we chatted about this with @ahaysx on Slack. He won't be able to follow-up on this, but some conclusions were:
- we can turn `nodeInfoList` into a map to allow updating/deleting entries without invalidating the entire cache.
- it's harder to do the same trick with PVC cache, since we need to iterate over all pods on a node to update this. I thought about benchmarking this, but it is

[2022-06-23 10:44] x13n commented on #4904
/unassign @ahaysx

[2022-06-23 11:26] steven-cherry opened #4988 ""cluster-autoscaler.kubernetes.io/safe-to-evict": "false" doesn't stop a node from being scaled down"
Hi,

I have a hand full of pods that have the annotation cluster-autoscaler.kubernetes.io/safe-to-evict: 'false' set. However this doesn't prevent the autoscaler scaling down nodes where these pods are resident. I'm currently on version v1.22.3 running on AWS EKS 1.22 with managed node groups. The autocscaler flags I have set are

        - '--cloud-provider=aws'
        - '--namespace=kube-system

[2022-06-23 14:58] mikelo commented on #4981
ideally a.TotalSamplesCount++ should only run when OOM is detected...

[2022-06-23 15:50] #4616 closed

[2022-06-23 18:32] jasperkuperus commented on #986
This saved me. Particularly the removal of the old autoscaled node pool. I did already try to just add a new autoscaling node pool, without luck. But removing the old one did the trick. Magically, autoscaler re-initialises itself and everything's up and running again.

The trigger for me was an update of k8s, both the control plane and the node pools. After the upgrade, autoscaling stopped working

[2022-06-23 21:04] Indigenuity commented on #1298
My mind sees this feature as adding a `drainStrategy` or `evictionStrategy` field on a deployment, similar to the `strategy` field, also [on deployments](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/#DeploymentSpec).  The DeploymentStrategy there is described as:

So the new `drainStrategy` section of the spec could be described as:

When draining, the curre

[2022-06-24 11:04] steven-cherry commented on #4988
Discovered that this is probably being caused by 'AWS Availability Zone Rebalancing' for the AWS auto scaling group. See 'AZRebalance' in
[](https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html)

[2022-06-24 11:05] #4988 closed

[2022-06-24 15:42] aschleck opened #4989 "If a pod doesn't specify a CPU or memory request, least-waste treats all ASGs as equal"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
WARNING: This version information is deprecated and will be replaced with the output from kubectl version --short.

[2022-06-25 11:53] kamilzzz commented on #4383
I see you closed this issue right after.
Is this supported?

[2022-06-25 14:15] #4647 closed

[2022-06-26 22:16] thesuperzapper commented on #3947
We should keep tracking this issue. I still believe adding a way to ignore specific volumes (possibly with an annotation like `cluster-autoscaler.kubernetes.io/ignore-volume: my-volume-name`) is important.

/remove-lifecycle stale

[2022-06-27 10:30] #4986 closed

[2022-06-27 12:51] #4285 closed

[2022-06-27 13:46] #4844 closed

[2022-06-27 17:15] mbeaucha commented on #3215
ALCON, note that you can also get this exact same error (despite having OIDC/role/policy setup correctly) if you don't correctly set the awsRegion value, which defaults to us-east-1 (in Helm deployment). When following Amazon's Docs originally and directly applying the config I didn't have an issue (running in GovCloud), but when I changed over to using the Helm deployment this issue bit me.

[2022-06-28 09:41] jbartosik opened #4991 "Switch VPA E2E to use unprivileged pods"
Plan is:

- Merge https://github.com/kubernetes/kubernetes/pull/110779
- Sync VPA E2E to have content of the PR available
- Reduce privileges of all test pods by passing SecurityContext like[1]
- Remove `f.NamespacePodSecurityEnforceLevel = admissionapi.LevelBaseline` from all tests (added in #4983 / https://github.com/kubernetes/autoscaler/pull/4983/commits/f3e2b4f5d99f7edda2dd2a8fb2516594abcf4cc

[2022-06-28 09:52] Andrius521 opened #4992 "CA does not choose another node group after backoff time was set for group"
**Which component are you using?**:

cluster-autoscaler with cherryservers cloud provider

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b175631bec5b5825a", GitTreeState

[2022-06-28 09:58] Andrius521 commented on #4992
cc @deitch

[2022-06-28 15:27] masterphenix opened #4994 "VPA Initial mode does not set memory request according to recommended values"
**Which component are you using?**: vertical-pod-autoscaler

**What version of the component are you using?**: 0.10.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b175631bec5b5825a", GitT

[2022-06-28 16:28] ubikusss opened #4995 "Cluster autoscaler with RKE2 on VMSS"
Hey team,

We are trying to use cluster autoscaler in a more specific/different scenario:
We are installing [RKE2](https://docs.rke2.io/) on a few Azure Virtual Machine Scale Sets (control plane on one VMSS, workers on other VMSSes).
Could we make cluster autoscaler work in this scenario?

I've played with it a bit but it does not properly "sees" nodes (unregistered).

Version: `cluster-autoscaler

[2022-06-28 16:36] mohitreddy1996 commented on #4811
@80kk did you get around this issue? We started seeing this error recently

[2022-06-28 20:46] 80kk commented on #4811
Cluster Autoscaler update has fixed the issue.

[2022-06-28 20:46] #4811 closed

[2022-06-29 12:45] fidsamurai-crelio opened #4997 "Self Managed K8S on ec2 no provider id error"
**Which component are you using?**:
Cluster-Autoscaler on AWS EC2 - NOT EKS

cluster-autoscaler (HELM and Manifests)

**What version of the component are you using?**:
1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
[code]
</pre></details>

**What environment is this in?**:
AWS EC2 **_NOT EKS_**

**What did you expect to happen?**:
After scaling up my deploymen

[2022-06-29 12:55] alejoGT1202 opened #4998 "Autoscaler not scaling from 0 to 1 in AWS"
Hello,

I've a cluster with 3 different node groups. 2 of the node groups the desired and min. capacity set to 0, each node group has also an specific taint. However when I create a job that requires a node from any of this node instances the autoscaler never scales up. What I notice is that in the other node group where the desired size is set to 1, the autoscaler works as expected. I also tried

[2022-06-29 14:36] afirth commented on #4811
I _think_ this happens when the pod requests a PVC on AWS (or others) that is not available in the AZ of the node. The real scheduler sees that this won't work, but the CAS "fake scheduler run" doesn't. After awhile CAS marks the node as underutilized, kills it, and scales up again. Eventually the scale-up node lands in the right AZ, and the pod is scheduled. On other providers which support multi

[2022-06-30 13:09] hintofbasil opened #5000 "Cluster scale-up breaks when a node group fails to scale from zero"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: v1.21.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f847e2054

[2022-06-30 18:43] x13n commented on #4904
/assign @jayantjain93

[2022-07-01 07:26] fidsamurai-crelio commented on #4997
My mistake missed the bit of the Doc where self hosted kubelets need `provider-id` when starting kubelet.

[2022-07-01 07:26] #4997 closed

[2022-07-01 07:34] robinkb commented on #4097
I am blocked by the same issue, and have to fork cluster-autoscaler to remove this special case to get my clusters to work the way I expect them to.

I would _really_ appreciate at least an option to toggle this behavior.

[2022-07-01 09:25] jbartosik commented on #4981
I think I saw this problem some tie ago. When I was implementing [OOM tests for VPA](https://github.com/kubernetes/autoscaler/blob/de59b91dc4e885e4fb926ad63d41f15113fa08b8/vertical-pod-autoscaler/e2e/v1/full_vpa.go#L249).

Test didn't work if memory usage grew too quickly - pods were OOMing but VPA wasn't increasing its recommendation.

My plan is:
- Locally modify the e2e to grow memory usage ver

[2022-07-01 09:25] jbartosik commented on #4981
I think I saw this problem some tie ago. When I was implementing [OOM tests for VPA](https://github.com/kubernetes/autoscaler/blob/de59b91dc4e885e4fb926ad63d41f15113fa08b8/vertical-pod-autoscaler/e2e/v1/full_vpa.go#L249).

Test didn't work if memory usage grew too quickly - pods were OOMing but VPA wasn't increasing its recommendation.

My plan is:
- Locally modify the e2e to grow memory usage ver

[2022-07-01 10:50] pierluigilenoci commented on #4097
@gjtempleton any news about this?

[2022-07-01 13:31] #4655 closed

[2022-07-01 19:30] sarasensible opened #5002 "Cluster Autoscaler for AWS failing to get availability zone for ASG"
**Which component are you using?**:
cluster-autoscaler for aws

**What version of the component are you using?**:
Helm chart version 9.19.2
App/Image version 1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v

[2022-07-01 20:37] #4659 closed

[2022-07-01 21:07] sarasensible commented on #5002
I worked around this issue by opting for autoDiscovery instead of static autoscalingGroups.  However now I am getting a list of all nodes in my cluster with `Node ip-x-x-x-x.us-east-2.compute.internal should not be processed by cluster autoscaler (no node group config)`.  I checked the tags and the policy but I am still not sure why it's not finding the nodes.

[2022-07-01 21:30] sarasensible commented on #5002
Cluster autoscaler status configmap:
[code]

[2022-07-01 22:13] sarasensible commented on #5002
The `(no node group config)` was due to the awsRegion option not being configured correctly.  Once it was actually passed in properly, the nodes were correctly registered.  I'm going to close since autoDiscovery seems to be the recommended way to deploy and this path is working as expected.

[2022-07-01 22:13] #5002 closed

[2022-07-01 23:28] tallclair commented on #4715
/assign @bskiba @MaciekPytel @mwielgus

PTAL

[2022-07-02 12:43] #4573 closed

[2022-07-02 17:28] mohammadkhavari commented on #1726
Are there any updates or new solutions to use multi-dimensional auto-scaling? Would you please share? @mossuchida @kipusoep @aviramha

[2022-07-02 17:57] aviramha commented on #1726
hey @mohammadkhavari, I haven't found a solution but it's not relevant for me anymore. From a bit of Googling I did right now (as it's still interesting) I've found GKE is offering such feature:
https://cloud.google.com/kubernetes-engine/docs/how-to/multidimensional-pod-autoscaling
maybe they'll open source it later on :)

[2022-07-04 09:45] jayantjain93 commented on #4904
I've started looking into this.

[2022-07-04 11:30] x13n commented on #3886
/reopen
/remove-lifecycle rotten

[2022-07-04 11:39] voelzmo commented on #4981
Ah, it's good to hear you already saw something similar!

Add logging to VPA recommender to see if it's getting information about OOMs (I think [here](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go))
If we get information but it doesn't affect recommendation then debug why (I think this is the most likely case),
If we don't get th

[2022-07-04 12:13] #3949 closed

[2022-07-04 15:46] gjtempleton commented on #5000
/area provider/aws

[2022-07-05 10:18] stevehipwell commented on #4529
/remove-lifecycle stale

[2022-07-05 10:40] mikelo commented on #4981
probably not very relevant, the pod in kind cluster with metrics manager is not going OOM with this deployment for some reason...

[2022-07-05 12:43] richardcase commented on #4784
/remove-lifecycle stale

[2022-07-05 17:41] ZTGallagher opened #5006 "Cluster Autoscaler doesn't scale ASG from 0 unless manually scaled first (and afterward works as expected)."
If we have at least once scaled up the ASG while the cluster autoscaler is installed, it can from then one scale the deployment to and from 0.

But if the ASG has never once been scaled up, it won't work.

Here is the IAM role permissions set for the cluster autoscaler.

[code]

Tags on the ASG.

[code]

The tags match the label and gpu the deployment looks for.

I don't know how Cluster Autoscale

[2022-07-05 21:35] g-gaston opened #5007 "Cluster Autoscaler multi cluster support"
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

When using a management + workload clusters topology ([capi reference](https://cluster-api.sigs.k8s.io/user/concepts.html#management-cluster)), I would like to run only one instance of the Cluster Autoscaler in the management clus

[2022-07-06 00:21] sagarhonnungar commented on #4471
The value for `eks.amazonaws.com/role-arn` annotation is incorrect. It is referring to an IAM policy, not an IAM role. You can set it to the correct role ARN using `kubectl annotate serviceaccount cluster-autoscaler   -n kube-system  --overwrite <correct-role-arn>`

[2022-07-06 04:54] always-improving commented on #4775
/remove-lifecycle stale

[2022-07-06 05:08] #2503 closed

[2022-07-06 11:18] atulthummar commented on #4984
Any suggestion would be appreciated

[2022-07-06 11:20] iojas commented on #3795
Any resolution for this ? I am facing the same issue in my infra pipeline.

[2022-07-06 13:28] jayantjain93 opened #5009 "[Azure] Cloud provider internal blocking vendor update to v.1.25.0-alpha.2 in cluster autoscaler"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
master

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.25
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What did you expect to happen?**:
Completion in running update-vendor script : `./hack/updat

[2022-07-06 13:33] jayantjain93 commented on #5009
@gandhipr Do you think you can look into this since you've recently updated the package where the issue is caused.

[2022-07-06 15:07] tomsucho opened #5010 "VPA: Error getting Admission Controller status: leases.coordination.k8s.io "vpa-admission-controller" not found. Skipping eviction loop"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:

Component version:
0.9.0

**What k8s version are you using (`kubectl version`)?**:
1.21
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
EKS 1.21

**What did you expect to happen?**:
No errors

[2022-07-06 15:40] jayantjain93 commented on #5009
You could also explore using an alternative like: `k8s.io/utils/clock`.

[2022-07-06 17:30] rittneje commented on #4872
We are noticing the same issue when cordoning some nodes. The cluster autoscaler recognizes they are unused for 10+ minutes, but if a scale up happens then it neglects to terminate those nodes.

[2022-07-06 17:41] gandhipr commented on #5009
I am working on a fix.
Could you help me resolving following issue:

[code]

I get this error on running  ./hack/update-vendor.sh v1.25.0-alpha.2
@jayantjain93

[2022-07-06 19:11] jayantjain93 commented on #5009
If the script is running sed cmd, it means there weren't any issues with the actual vendor update.

The issue could be related to the shell that you're using. Are you using bash ?

[2022-07-06 20:23] jayantjain93 commented on #5009
I think you can directly raise a PR.

[2022-07-06 20:35] elmiko commented on #3150
PR is currently under review for this, #4840
/remove-lifecycle stale

[2022-07-07 02:29] #5009 closed

[2022-07-07 08:28] x13n commented on #3886
I wonder if using NoExecute taint effect instead of NoSchedule would be sufficient to fix this. Perhaps with some configurable delay between tainting and actually removing the node.

[2022-07-07 14:58] David-Tamrazov commented on #4848
Facing the same issue; a restart of the cluster autoscaler deployment fixed this problem for us as well. This is likely a problem with how we configured autoscaling groups within the cluster; we're using one group across 3 AZs right now but I wonder if we should be using 3 groups, 1 per AZ, with the `--balance-similar-nodegroups` feature.

From the [Azure autoscaler docs](https://github.com/kubern

[2022-07-07 15:10] alculquicondor commented on #3886
What does it currently do? Add NoSchedule taint and manually evict the pods? Does it use the eviction API to do that? Would changing to NoExecute change the behavior WRT disruption budgets?

[2022-07-07 15:11] ZTGallagher commented on #4893
I'm experiencing the same thing. Did you ever find an answer to this?

It can scale up from 0 as expected only _**after**_ I've scaled it up at least once manually while cluster autoscaler is running.

So I assume it caches somehow, somewhere node info and relates it to the ASG. "Ooooh, this node has a gpu! Ok". However, I HAVE the "node-template" label and resource tags I'm "supposed to", for it

[2022-07-07 20:19] #4471 closed

[2022-07-08 09:27] x13n commented on #3886
Today it applies NoSchedule taint, manually evicts pods using eviction API and then deletes the node. In case of empty nodes, it just applies the taint and deletes the node right away. Manual use of eviction API is actually necessary so that CA can manage timeouts on its own, but after all evictions are done, we could change taint effect to NoExecute to clean up any race condition leftover pods. I

[2022-07-08 15:46] alculquicondor commented on #3886
I like that plan: switch to NoExecute once CA thinks it's done cleaning.

[2022-07-08 16:34] #4449 closed

[2022-07-08 17:34] #4450 closed

[2022-07-08 18:34] #4434 closed

[2022-07-09 05:59] matti commented on #4450
/reopen

[2022-07-09 11:45] #4435 closed

[2022-07-10 10:45] liorfranko opened #5014 "Priority Expander choose additional node-group in second cycle"
**Which component are you using?**:
cluster-autoscaler with the Helm Chart

**What version of the component are you using?**:

Component version: v1.20.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6b7464", GitCommit:

[2022-07-10 13:55] liorfranko commented on #5014
Update:
It's not related to the priority expander.
Even when I remove the `--expander=priority` flag, and perform the same test I see the same behaviour:
[code]

[2022-07-10 13:58] #4320 closed

[2022-07-10 18:04] liorfranko commented on #5014
It looks like it's related to https://github.com/kubernetes/autoscaler/issues/4082
Is it possible to add this commit to the next 1.19 version?
https://github.com/kubernetes/autoscaler/pull/3883

[2022-07-11 03:04] liorfranko commented on #5014
I've created a PR to add #3883 to 1.2.x
I've tested it and it works.
https://github.com/kubernetes/autoscaler/pull/5015

[2022-07-11 05:50] kgeipel-retail7 commented on #4680
Hey @henrikperssonvermiculus, no, but to be honest I didn't try it because of the limitations. We wrote now an own go based tool for managing node pools in Rancher. It's currently in a soaking phase and has some minor bugs regarding thresholds, if it's ready for production I'll maybe share it here.

[2022-07-11 11:34] x13n commented on #3886
Ok, I think with that this becomes a fairly well-defined task, let's see if someone would be able to pick it up:
/help-wanted

Hopefully the change can be confined just to https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scaledown/actuation/actuator.go

[2022-07-11 12:10] x13n commented on #3886
/help

[2022-07-12 13:32] n2aws commented on #1070
/remove-lifecycle rotten

[2022-07-12 15:28] matthewstokes01 opened #5019 "hostname topology spread constraint/anti-affinity causes mass overscaling since CA v1.21.1"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:

Component version: cluster-autoscaler v1.21.1 / image: k8s.gcr.io/autoscaling/cluster-autoscaler:v1.21.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1"

[2022-07-12 15:30] matthewstokes01 commented on #5019
cluster-autoscaler logs:
[cluster-autoscaler-overscaling-issue.log](https://github.com/kubernetes/autoscaler/files/9094537/cluster-autoscaler-overscaling-issue.log)

[2022-07-12 15:38] matthewstokes01 commented on #5019
The last number of instances the autoscaler requested before I stopped the deployment was 274 instances, for just 200 pods which had already been scheduled after the first 17 instances were created

[2022-07-13 00:11] mike-stewart commented on #3975
/remove-lifecycle stale

[2022-07-13 05:29] gsweene2 opened #5020 "chore: Document params for VPA recommender & updater (similar to CA's FAQs)"
**Which component are you using?**:

VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Documentation

**Describe the solution you'd like.**:

In the FAQs for VPA, list the Recommender & Updater Parameters.

**Describe any alternative solutions you've considered.**:

N/a

**Additional context.**:

Recently started working with VPA

[2022-07-13 08:06] x13n opened #5022 "Not autoscaled node groups are treated as deleted"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: running from current HEAD

**What k8s version are you using (`kubectl version`)?**: 1.24

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: GKE

**What did you expect to happen?**

[2022-07-13 09:39] x13n commented on #5022
Chatted with @MaciekPytel about this. It should be sufficient to detect not autoscaled node groups (and stop marking them as deleted) in the same way scale down is doing it: by checking if `NodeGroupForNode(node)` is nil: https://github.com/kubernetes/autoscaler/blob/5745044ddf4378c1aae16c47fb173b1abf709c8e/cluster-autoscaler/core/scaledown/legacy/legacy.go#L313-L322

Perhaps worth wrapping this c

[2022-07-13 14:07] keifgwinn commented on #4054
I'm also in need of being able to identify the matching pair of chart to kubernetes version, a simple table somewhere would be helpful

[2022-07-13 17:46] sibucan commented on #5010
This looks like the admission controller is not running. When it's running successfully, it acquires a lease:
[code]

Could you check if the vpa-admission-controller pod is running properly?
[code]

Also the logs for the admission controller would be helpful. Here are mine after a restart:
[code]

[2022-07-13 21:18] #5020 closed

[2022-07-13 21:20] #4782 closed

[2022-07-14 06:32] tomsucho commented on #5010
@sibucan yes vpa-admission-controller is running fine I think. I did restart it to get fresh startup logs and they look like below, nothing obviously wrong for me:

[code]

[2022-07-14 08:08] Shubham82 opened #5026 "Incorrect Hyperlinks for HPA in Vertical pod Autoscaler."
**Which component are you using?**:

vertical-pod-autoscaler

**What did you expect to happen?**:

Under [Known limitations](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#known-limitations) in README of VPA, The hyperlink for **`Horizontal Pod Autoscaler for cpu/memory metrics`** and  **`Horizontal Pod Autoscaler for external and custom metrics`** should redirect to

[2022-07-14 08:09] Shubham82 commented on #5026
/assign

[2022-07-14 08:28] Shubham82 commented on #5026
Fixed it here: https://github.com/kubernetes/autoscaler/pull/5027

[2022-07-14 08:57] voelzmo commented on #4981
Adapted the existin OOMKill test, such that the Pods run more quickly into OOMKills and eventually end in a CrashLoopBackOff: https://github.com/kubernetes/autoscaler/pull/5028

[2022-07-14 12:56] rpbaquing-cloudmade commented on #4782
@PhilippeChepy thank you. I redeployed with the updated toleration. However, the pod deployed in control plane is stuck in pending status.

So I tried the other manifest "cluster-autoscaler.yaml" to deploy it in the worker node but the pod is on crashloopbackoff status.

See pod details:
[code]

See logs below:
[code]

[2022-07-14 13:17] pkit commented on #3802
I'm not sure why it's never mentioned here but the whole thing seems to be fixed by #5002
And yes, it was not fixed before that.

[2022-07-14 14:16] grzesuav commented on #4209
I believe most work will be to migrate to structured logging (like [here](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md)). Maybe it could be started with providing non-disruptive way to migrate package by package first, and then allow to choose format of logging via flag ?

[2022-07-14 15:55] vsevel opened #5029 "Support memory request recommendations for jvm based workloads"
**Which component are you using?**:

`vertical-pod-autoscaler`

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

the [GKE documentation](https://cloud.google.com/kubernetes-engine/docs/concepts/verticalpodautoscaler#limitations) indicates: "Vertical Pod autoscaling is not ready for use with JVM-based workloads due to limited visibilit

[2022-07-14 19:39] com6056 commented on #4598
/reopen

[2022-07-14 20:12] com6056 commented on #4598
Hitting this too, apparently the node groups aren't ever getting into the backoff state because of this which means it just keeps infinitely retrying

[2022-07-14 22:00] ricarhincapie commented on #4811
I had a brand new AWS ASG scaled to 0 and had the same issue at deploy time. It was solved by manually scaling up. Afterwards, the CAS started working as expected.

[2022-07-15 15:14] voelzmo commented on #4994
VPA contains two places where capping happens:
* [The Recommender](https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.10.0/vertical-pod-autoscaler/pkg/recommender/routines/recommender.go#L109) caps according to [`minAllowed` and `maxAllowed`](https://github.com/kubernetes/autoscaler/blob/6d1a1514af4406bb967ae6f50e9589f7d41f9af8/vertical-pod-autoscaler/pkg/utils/vpa/capping.go#

[2022-07-15 19:05] jrouly commented on #789
I am also continuing to see this issue (cluster-autoscaler helm chart version `9.18.0`).

Manually bringing up an instance in the auto scaling group by setting Desired Capacity to one does appear to "teach" the autoscaler about the resources available in the group, but it also appears to "forget" this when the pods are shuffled around.

We are using EKS managed node groups on AWS with Launch Templ

[2022-07-15 19:08] jrouly commented on #2228
@jaypipes your hypothesis matches pretty closely to what I'm observing in production with CA running on EKS with EKS managed node groups.

We can "teach" CA the resource characteristics of an updated LT version by manually scaling the associated auto scaling group up to Desired Capacity of 1. But when the CA pods shuffle around on the cluster and restart, it seems to "forget" what it "learned" and

[2022-07-15 19:59] gsweene2 opened #5031 "`Cannot get cluster history...got result type model.Vector` with Promethus as storage"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

`v0.11.0` (note below I am not seeing this with `v0.10.0`)

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVer

[2022-07-16 19:29] johanneswuerbach commented on #3877
@AustinSiu yes, updated my PR.

[2022-07-17 12:11] ydamni commented on #1366
Facing the same issue here using AWS, autoscaling doesn't trigger when "too many pods" error happens due to IP exhaustion.
Had no other choice but to change the instance type of the node group to a superior one.

For those who wants to know max pods limit based on instance type: https://github.com/awslabs/amazon-eks-ami/blob/master/files/eni-max-pods.txt

[2022-07-17 12:48] ckoliber commented on #4604
I need to target the Load Balancer to scaled nodes, is this possible without custom labels support ?

[2022-07-18 08:49] voelzmo commented on #4515
/reopen

Still an issue we don't have any solution for.

[2022-07-18 12:26] jbartosik commented on #5029
I didn't look into that but from what I recall with talking to others VPA recommendations might explode for JVM workloads.

It will run garbage collection when it thinks it's close to running out of memory. So if you're looking at memory usage you'll see that:

* memory usage is growing slowly (until it hits threshold for garbage collection), then
*  it goes down rapidly (when GC runs), then
* it

[2022-07-18 12:29] jbartosik commented on #5029
This sound like memory usage is not growing anywhere close to the request (which conflict with an assumption in my previous comment). Can you share why?

[2022-07-18 13:36] fsalazarh commented on #4763
Hi!

I have some updates. I think that the issue is with the value of `containerName` parameter.

Since I used Terraform to deploy VPA (and pass the values through it). When I'm execute the command `kubectl get vpa couchdb-couchdb -oyaml` I noted that the value of containerName is `'''*'''` and that's not correct (my error in terraform values).

So, this value in containerName trigger that VPA doe

[2022-07-18 13:57] jbartosik commented on #4763
/remove-lifecycle stale

[2022-07-18 13:58] jbartosik commented on #4733
/remove-lifecycle stale

[2022-07-18 14:05] pavel-z commented on #4697
We have the same issue.
We have spot instances as a primary class and fallback on-demand instances (with significantly lower priority). Sometimes on-demand instances are launched with autoscaler is unable to start spot instances. Such instance keeps running until it's terminated in the scope of the scale-down process, or some manual/external actions are applied.
It would be awesome if the controll

[2022-07-18 14:45] MaciekPytel commented on #5019
Looking at the log, CA initially creates a (correct I assume?) 16 nodes. For a few loops it thinks those 16 nodes are enough:

[code]

Finally a few loops later CA suddenly starts thinking that the pods can only run in one-pod-per-node configuration and triggers a huge scale-up. I don't think there is enough in the log to debug, but what I suspect is that at some point there is a single node where

[2022-07-18 15:11] headyj opened #5032 "2 similar clusters, totally different sizing"
I have 2 similar clusters in term of pods and resources limits/requests:

eks-1
  - 263 pods
  - Memory
    - Request: 83GB
    - Limits: 174GB
  - CPU
    - Request: 26 cores
    - Limits: 78 cores

eks-2
  - 215 pods
  - Memory
    - Requests: 60GB
    - Limits: 154GB
  - CPU:
    - Requests: 26 cores
    - Limits: 78 cores

eks-1 load is a bit higher, but the difference in term of sizing done b

[2022-07-18 20:00] fookenc commented on #5022
Hi @x13n & @MaciekPytel,

From my local testing, I'm not sure that NodeGroupForNode will solve the issue.  I found that after a node is deleted from the cloud provider, the NodeGroupForNode also returns nil.  Unfortunately, this makes deleted nodes and not autoscaled nodes appear the same.

Is there another way to determine not autoscaled nodes?

[2022-07-19 12:20] #4822 closed

[2022-07-19 14:10] vsevel commented on #5029
just to be sure, `${GC threshold}` is the value at which the gc is going to kick in to do a full gc?
actually, the gc is a bit more complex, and it depends on which gc impl we are talking about. there could be different behaviors depending on using `g1` vs `zgc` for instance.
but usually there are zones (e.g. new and old). when created the objects stay in the `new` zone for a while. if they resist

[2022-07-20 01:33] EchoUtopia opened #5034 "i think larger lowerbound value is less secure than smaller lowerbound value"
https://github.com/kubernetes/autoscaler/blob/226784a223a2bc3a5c9edde714bbb6b6cc5094fb/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L115

i think for safety, we should make the range between lowerbound and upperbound broader, so we should make lowerbound smaller by passing `-*safetyMarginFraction`? am i right ?

[2022-07-20 07:21] m-barthelemy commented on #4715
Useless ping, but since this has been opened more than 5 months ago...
I am aware that full testing of the required changes seems to be difficult as it requires validation on a specific cloud provider (Alicloud) which I don't use unfortunately.

[2022-07-20 10:03] garrygerber commented on #4479
/reopen

[2022-07-20 13:53] gjtempleton commented on #4732
A 1.19.3 release has been cut.
/close

[2022-07-20 16:55] jeremyfreudberg commented on #4749
/remove-lifecycle rotten

[2022-07-20 16:55] jeremyfreudberg commented on #4748
/remove-lifecycle rotten

[2022-07-21 07:19] gjtempleton commented on #5032
There's a number of different factors that could be involved here, including what scaling (both up and down) has happened before this point, and whether you're overriding the default `--scale-down-utilization-threshold` value from 0.5 for the CA to consider consolidation of nodes in the cluster.

For the second point the CA should be logging why it isn't considering nodes as candidates for scale-d

[2022-07-21 08:53] #4490 closed

[2022-07-21 08:56] Shubham82 commented on #4897
Hi @VladimirBalun

I tried this one, It is due to the `apiextensions.k8s.io/v1beta1` being deprecated in k8sv1.16 and removed/unavailable in k8sv1.22.
see [CustomResourceDefinition](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122)and [API removals for Kubernetes v1.22](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#:~:text

[2022-07-21 09:00] Shubham82 commented on #4897
In VPA CRD `apiextensions.k8s.io/v1beta1` migrated to v1 in `vertical-pod-autoscaler-0.11.0`
Have a look at this PR: #3606

[2022-07-21 09:11] Shubham82 commented on #4897
@jbartosik can we backport these changes to vertical-pod-autoscaler-0.9 and vertical-pod-autoscaler-0.10? is it valid to do that?
or if not backport so we can mention this thing under README vpa, which version of vpa used with k8s under [compatibility](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#compatibility).
WDYT?

[2022-07-21 11:35] IrisIris commented on #4715
I fixed this issue, but still need some time to do full tests. I'll do my best to PR no later than next Wednesday.

[2022-07-21 23:47] asheldon opened #5038 "Priority expander does not fall back to lower priority node pool in AWS when higher priority node pool has minimum above actual and the instance type is unavailable"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.23.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.10-eks-84b4fe6", GitCommit:"cc6a1b4915a99f4

[2022-07-22 01:01] asheldon commented on #5038
I tested with cluster autoscaler 1.24 and it repros there as well.

[code]

[2022-07-22 07:53] voelzmo opened #5040 "Update to most recent Go 1.17 and cut a new release for VPA, such that we have a release with a supported Go version"
The recent 0.11.0 release uses Go 1.16.10, which was released on 2021-11-04 and is EOL by now. Can we merge #5039 and cut a release with it, so we can have a release with a supported Go version and get rid of a bunch of known CVEs along the way?
Thanks!

[2022-07-22 10:56] zalmarge opened #5043 "CherryServer provider mentioned in the release notes for Cluster Autoscaler 1.24.0, but no actual support in release included"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.24.0

Component version:

**What k8s version are you using (`kubectl version`)?**: v1.24.3

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
WARNING: This version information is deprecated and will be replaced with the output from kubectl version --

[2022-07-22 12:51] headyj commented on #5032
Yes indeed it's logging `Node ip-[....].compute.internal is not suitable for removal - cpu utilization too big (0.822704)` for all of the nodes, but I was wondering how it is possible to have such a difference between both identically configured clusters with similar usages. The first cluster has been running for much longer, so maybe it could be the reason?

I also have a descheduler on both clus

[2022-07-22 15:06] eshicks4 opened #5044 "Modifying AWS autoscalers instead of actual nodegroups"
**Which component are you using?**:

cluster-autoscaler - AWS

**What version of the component are you using?**:

Component version:  1.22.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.9-eks-a64ea69", GitCommit:"540410f9a2

[2022-07-22 16:12] berry2012 commented on #4052
This error could occur when the node has reached the maximum pods it can schedule due to the maximum pods available for the node instance type and you try to deploy a **Daemonset** that is supposed to schedule a pod on that node.

For example t3.medium can schedule a max 17 pods.

From the command below to check pods current nodes can run:
[code]

Check pods running on these nodes:
[code]

The dae

[2022-07-23 02:45] GabeOpo commented on #4220
Hi,  I am facing the same issue with eks kubernetes version 1.21

cluster-autoscaler-5dd6459897-mpqf8   0/1     CrashLoopBackOff   7          13m

this is the log I see, I applied the changed from the memory from 300Mi to 500Mi but still getting the same error, also open id is in the trusted relationships

goroutine 285 [sync.Cond.Wait]:
runtime.goparkunlock(...)
	/usr/local/go/src/runtime/proc.go

[2022-07-23 14:18] #4666 closed

[2022-07-23 14:18] #4668 closed

[2022-07-23 14:18] #4673 closed

[2022-07-23 14:18] #4690 closed

[2022-07-23 14:18] #4696 closed

[2022-07-23 15:18] #4703 closed

[2022-07-24 21:32] #4362 closed

[2022-07-25 06:46] #5040 closed

[2022-07-25 09:33] applike-ss commented on #4593
/remove-lifecycle stale

[2022-07-25 10:53] Shubham82 commented on #5043
Hi @zalmarge
IMO the cloud provider cherry server was added after the CA  v1.24.0 branch cut. not present in the /cluster-autoscaler-release-1.24 branch:
https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-release-1.24/cluster-autoscaler/cloudprovider/builder

It is present in the master branch: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/buil

[2022-07-25 10:55] Shubham82 commented on #5043
Hi @gjtempleton @MaciekPytel
am I going right? WDYT?

Should we remove this thing from [release notes](https://github.com/kubernetes/autoscaler/releases?q=24&expanded=true)

[2022-07-25 12:58] Shubham82 commented on #5043
@zalmarge
you can make an image or build the code (from the master branch) by using [Makefile](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/Makefile). There is a `make-image` rule which builds the image for CA(master).
The following steps are:

1) `make make-image`
it creates the following docker image:

[code]
2) `docker run --rm  staging-k8s.gcr.io/cluster-autoscaler-a

[2022-07-25 13:21] msvticket commented on #4718
/remove-lifecycle rotten

[2022-07-25 13:40] #4712 closed

[2022-07-25 13:51] gjtempleton commented on #5043
Hey Shubham, yep, looks like you're correct and this was mistakenly included in the release notes for 1.24 despite not making it into that release branch, will update the release notes to remove this from 1.24.

[2022-07-25 13:58] jbartosik commented on #4897
@Shubham82 I think mention on compatibility is good. If you want to contribute a change then I'm happy to review it (if not I'll update it but it'll take me some time; please let me know)

I'm not sure about patching to 0.10 and 0.9. I have limited capacity and there are other things I think are more important for VPA (for example building new release when K8s 1.25 is released). If you think cherr

[2022-07-25 14:04] aleksrosz opened #5045 "VPA v.0.11 flag minReplicas stopped working"
**Which component are you using?**:
VPA

**What version of the component are you using?**:

k8s.gcr.io/autoscaling/vpa-updater:0.11.0

**What k8s version are you using (`kubectl version`)?**:

$ kubectl version
Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.9-eks-a64ea69"

**What environment is this in?**:

AWS EKS

**What did you expect to happen?**:
In v0.9 minReplicas wo

[2022-07-25 14:16] Shubham82 commented on #5043
thanks @gjtempleton

[2022-07-25 14:20] Shubham82 commented on #4897
Hi @jbartosik, Thanks for looking at it.

I'm up for it

[2022-07-25 14:28] Shubham82 commented on #4897
Actually, I am thinking of the users who used the k8s latest version with VPA 0.9 and 0.10. but I agree with what you mentioned above (the user could use a newer VPA). so mentioned on the compatibility give more clarity on which version of VPA is used with k8s version.

[2022-07-25 14:28] Shubham82 commented on #4897
will open a PR soon.

[2022-07-25 14:29] Shubham82 commented on #4897
/assign

[2022-07-25 14:33] wangchen615 opened #5046 "Support in-place resource update feature for VPA"
**Which component are you using?**: Vertical Pod Autoscaler

**Is your feature request designed to solve a problem? If so, describe the problem this feature should solve.**:
In Kubernetes 1.25, the in-place resource update feature would be available in alpha. Any pods with this feature enabled would have a field to specify the restarting policies as the following. Pods controlled by VPA with a `No

[2022-07-25 14:34] wangchen615 commented on #5046
/assign @jbartosik

[2022-07-25 15:35] jabdoa2 opened #5048 "Cluster Autoscaler Forgets Nodes Scheduled for Deletion during Restart"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

- 1.20.2
- 1.22.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.15", GitCommit:"8f1e5bf0b9729a899b

[2022-07-26 07:02] Shubham82 commented on #4897
Fixed it here: #5050

[2022-07-26 07:12] InbarRose commented on #4788
I think I am having the exact same issue. Shame to see that you had to give up and not use the helm chart.
If anyone has an idea how to fix this that would be amazing. I am mean while going to try some troubleshooting of my own.

[2022-07-26 07:40] aleksrosz commented on #5045
My mistake.

[2022-07-26 07:40] #5045 closed

[2022-07-26 08:48] InbarRose commented on #4788
not sure if this would fix your issue.
but actually i found a way to make it work.
using `eksctl create iamserviceaccount` with SERVICE_ACCOUNT_NAME to create the service account from the policy: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#iam-policy
then pass:
[code]

[2022-07-26 09:17] aleksrosz commented on #4820
@jbartosik  I checked again, and between vpa-release-0.10 and vpa-release-0.11 I don't see changes in CRD which are in file vpa-v1-crd-gen.yaml so IMHO, it is possible to do modifications like I mentioned above and migrate from 0.10 to 0.11 without losing rules and CPU, mem usage history.

Maybe can I create PR to this readme about this https://github.com/kubernetes/autoscaler/blob/master/vertical

[2022-07-26 17:14] headyj commented on #5032
I don't know how CPU usage is calculated, but it seems to be way off the reality. According the AWS monitoring dashboard, CPU usage is under 10% for an hour, but still the autoscaler is not scaling down this specific node:
`Node ip-172-20-46-252.eu-west-2.compute.internal is not suitable for removal - cpu utilization too big (0.876276)`

[2022-07-26 18:33] gjtempleton commented on #5032
The Cluster Autoscaler operates only on the proportion of resources requested by the pods on the node, it doesn't scale based on the raw CPU usage.

[2022-07-27 07:48] maegul commented on #4788
Thanks @InbarRose .  I’ll keep this in mind next time I loop back on this.

However, it’s important to mention that last I checked, the AWS docs are recommending the us off their custom Cindy file rather than the helm chart (as mentioned in the original post, link to docs: https://docs.aws.amazon.com/eks/latest/userguide/autoscaling.html).

Relying on the AWS config is probably a more reliable app

[2022-07-27 08:01] voelzmo commented on #5046
Just to document a caveat regarding the capping of requests here, so we keep this in mind:
* [The Recommender](https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.10.0/vertical-pod-autoscaler/pkg/recommender/routines/recommender.go#L109) only caps according to [`minAllowed` and `maxAllowed`](https://github.com/kubernetes/autoscaler/blob/6d1a1514af4406bb967ae6f50e9589f7d41f9af8/

[2022-07-27 11:29] riconnon opened #5052 "Version Skew Policy"
During upgrades of kubernetes API server and/or cluster autoscaler upgrade it is inevitable that the autoscaler and other kubernetes components must have a variance in version for at least a period of time.
Looking at the various relevant docs the cluster autoscaler is not included in the overall Kubernetes Version Skew Policy here: https://kubernetes.io/releases/version-skew-policy/

Looking at t

[2022-07-27 11:57] lawliet89 commented on #3845
/remove-lifecycle rotten

[2022-07-27 15:36] rshad commented on #4893
+1

[2022-07-27 19:09] jbartosik commented on #5046
I'm writing this down and I'll send a PR when it's ready.

I was thinking about something a little different:
- Add actuation modes so we have `Recreate` (exists already), `InPlace`, `InPlaceWithFallbackToEvict`
- we might want controls for when to fall back to deleting pods
- we might want to limit how frequently we update in place

I heard that some time ago scaling down in place could cause pro

[2022-07-28 00:23] fookenc commented on #5022
I've submitted a new PR #5054 to reintroduce the code changes that were reverted and address the issue detailed here.  The changes also include new scenarios in the test case for this functionality.  It includes not autoscaled nodes (nodes without a node group) to ensure that they are no longer incorrectly flagged as deleted.

Please review the new changes and notify if there are areas of concern

[2022-07-28 07:17] voelzmo commented on #5046
Can you elaborate a bit on your thinking why we need additional actuation modes? In theory, these settings are already configured on the Pod itself with
[code]

[2022-07-28 07:22] Shubham82 commented on #5052
/cc @gjtempleton

[2022-07-28 08:12] #4652 closed

[2022-07-28 13:59] NoamY8 commented on #1653
we're facing same error with image:cluster-autoscaler:v1.18 on EKS 1.20

[2022-07-28 14:23] kumarpmd commented on #5052
On a similar topic, do we need to ensure cluster-autoscaler image tag values when installing cluster-autoscaler via helm charts in eks clusters?
cluster-autoscaler helm chat v9.19.2 default value for "image.tag" is "v1.23.0".  Can the chart be installed in eks 1.22 cluster?

[2022-07-29 01:58] ChrisChiasson commented on #4763
I have the `VerticalPodAutoscaler` `containerName` specified verbatim the same as the pod's `container` - `name`, and my `minAllowed` - `memory` is not listed when I issue: `kubectl get verticalpodautoscaler caching-server-autoscaler -o yaml`

Combined with this:
https://github.com/giantswarm/roadmap/issues/923
, it seems to be quite difficult to get enough memory.

[2022-07-29 10:12] PatrickGhosn commented on #4803
/remove-lifecycle stale

[2022-07-29 19:24] #4152 closed

[2022-07-30 12:31] phillebaba opened #5063 "Cluster Autoscaler Status in YAML"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Some tools may work in conjunction with cluster autoscaler to extend features. Currently they are for the most part working in the blind. Allowing applications to read the cluster auto scaler status would allow for these applicati

[2022-07-31 09:34] #4719 closed

[2022-07-31 09:34] #4720 closed

[2022-07-31 22:40] #4464 closed

[2022-08-01 04:51] dipen-epi commented on #3780
We're still facing this issue on AWS EKS 1.22 after a cluster-autoscaler pod restart which seems to send the component into a unstable state.

[code]

The workaround of manually scaling up nodes to 1 resets the normal behaviour of the autoscaler but is difficult to maintain in production.
Is there a recommended fix to this?

[2022-08-01 10:36] riconnon commented on #5052
@Shubham82 I understand that recommendation but if, for example, I am going to upgrade my cluster from 1.20 to 1.21 I need to do one of two things:
1) I can ugprade my cluster (API server, kube controller manager, etc) to 1.21 first and have a window during which I have a 1.21 cluster and a 1.20 autoscaler
2) I can upgrade my autoscaler first and have a window during which I have a 1.21 autoscaler

[2022-08-01 12:36] kumarpmd commented on #5052
cluster autoscaler chart for eks 1.22 is covered in issue#[4580](https://github.com/kubernetes/autoscaler/issues/4850)..  I will repost in that issue.. thanks

[2022-08-01 12:41] jbartosik commented on #4820
#5061 is updating Readme?

[2022-08-01 12:56] dniasoff opened #5065 "Magnum heat authorization error on OpenStack"
**Which component are you using?**:
cluster-autoscaler
OpenStack
Magnum

Error is that heat API is not allowing the cluster-autoscaler to query the heat API

So the error is  cluster-autoscaler -> Heat API

**What version of the component are you using?**:
1.23 deployed by magnum on OpenStack yoga

**What k8s version are you using (`kubectl version`)?**:
1.23.8

**What did you expect to happen?**:

[2022-08-01 13:18] jabdoa2 commented on #4667
We have also seen this. When the certificate of the VPA webhook expired (or it becomes nonfunctional otherwise) VPA will start to evict pods constantly. No exponential backoff or anything else. This caused havoc in a few of our clusters. It started to evict cert-manager fast enough that it could not longer finish its leader election and became effectively disabled.

Just ratelimiting (#2326) is no

[2022-08-01 13:25] kumarpmd commented on #4850
Had a similar situation.  Did not find a chart version with default image.tag set to 1.22.x.  Found cluster-autoscaler image.tag 1.22.3 for eks 1.22..

Does latest cluster-autoscaler chart version eg. 9.19.2 support lower k8 versions eg.1.22, 1.21, in addition to the default 1.23?

[2022-08-01 16:40] jan-skarupa commented on #3886
Hi @x13n! I would like to help with this.

I tried to recreate the scenario with the latest versions of related components and got slightly different results, though. I am not sure about the benefit of the `NoExecute` taint.

I used my testing EKS cluster with Kubernetes `v1.22.10` and cluster-autoscaler `v1.23.1`.

**What I did:**

1. scaled down deployment to initiate deletion of 1 (empty) node

[2022-08-01 16:42] jan-skarupa commented on #3886
/assign

[2022-08-02 05:44] Shubham82 commented on #5052
Hi @riconnon
 In FAQ, I found this [How can I update CA dependencies (particularly k8s.io/kubernetes)?](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-update-ca-dependencies-particularly-k8siokubernetes), See if it will answer your question.
There is no upgrade guide mentioned under Cluster Autoscaler.

[2022-08-02 05:45] Shubham82 commented on #5052
Hi, @gjtempleton Could please take a look?

[2022-08-02 07:21] Shubham82 commented on #5043
Hi @zalmarge
JFYI: CherryServer has been removed from Cluster Autoscaler 1.24.0 [release notes](https://github.com/kubernetes/autoscaler/releases?q=24&expanded=true).

[2022-08-02 07:59] Shubham82 opened #5066 "Upgrade the openstackmagnum/cluster-autoscale image to the latest release under cloudprovider/magnum/examples"
**Which component are you using?**:

Cluster Autoscaler/Openstack magnum

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I investigated the CA on magnum and found that the Cluster Autoscaler(openstackmagnum/cluster-autoscale) image used for [cluster-autoscaler-deployment-control-plane.yaml](https://github.com/kubernetes/autoscaler/b