[2022-08-02 08:01] Shubham82 commented on #5066
Hi, @tghartland
What do you think about this?

[2022-08-02 08:03] Shubham82 commented on #5066
If it seems good then I'm up for it. and will open a PR for it.

[2022-08-02 10:00] doryer opened #5067 "Support emit-per-nodegroup-metrics flag in chart values"
**Which component are you using?**:
cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
No

Currently `emit-per-nodegroup-metrics` flag need to be configured in command deployment, but it is not supported in chart so we need to manually add it to the command
**Describe the solution you'd like.**:

I would like that the

[2022-08-02 13:45] pbaranow commented on #3780
If I get this right, the problem comes from the way how AWS EKS tags ASGs under Managed Node Groups. When Managed Node Group is created with labels and taints, this MNG is tagged with helper tags, which are used by Cluster Autoscaler (as described in the [Auto Discovery Setup](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#auto-discovery-setup)

[2022-08-02 15:45] tghartland commented on #5066
It's worth bringing it up to date, I agree. There are two manifest examples and two values file examples that have old tags in.

If you can open a PR that would be great, thanks.

[2022-08-02 16:04] jbartosik commented on #5046
Exception for merging https://github.com/kubernetes/kubernetes/pull/102884 was [rejected](https://groups.google.com/g/kubernetes-sig-node/c/pFua5MFeExY/m/lE45dLNZBQAJ) so I think we will (unfortunately) have much time to discuss this.

[2022-08-03 01:50] xgengsjc2021 commented on #778
Any progress/update on this one? Metrics with node group name will be really helpful.

[2022-08-03 05:34] Shubham82 commented on #5066
Thanks for taking look at this.

Yeah, I will open a PR soon.

[2022-08-03 05:34] Shubham82 commented on #5066
/assign

[2022-08-03 07:07] Shubham82 commented on #5066
Fixed it here: #5068
PTAL!

[2022-08-03 10:17] #4897 closed

[2022-08-03 11:12] jbartosik commented on #5034
Do we have examples of current lower bound calculation doing something undesirable?

Lowering the bound will slow down scaledowns

[2022-08-03 12:22] RobHooper opened #5069 "TLS Version Control"
**Which component are you using?**: Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
On the 28 June 2023 AWS will remove TLS support for anything older than 1.2 on all of their api endpoints.
If the Cluster Autoscaler isn't using TLS 1.2 (or newer) requests to the AWS API will fail (for example AssumeRoleWithWebIden

[2022-08-03 13:56] #4694 closed

[2022-08-03 14:00] jbartosik commented on #5034
Yes, you're right

[2022-08-03 14:14] DesmondH0 commented on #4893
We are also experiencing the same issue, and I did dig a little bit

1. So we have a NodeGroup with 0 node as a start with taint, and we deploy the cluster-autoscaler
2. We deploy a pod which calling that NodeGroup with toloration
3. We found this log from cluster-autoscaler:
[code]
  3.1, so it did try to calculate with the NodeGroup which it should be triggering scale up
4. From the code, it see

[2022-08-04 01:21] #5034 closed

[2022-08-04 02:37] #5066 closed

[2022-08-04 07:55] rshad commented on #4893
The official documentation already covers this. As we are scaling up from capacity 0, this is not possible by default in the Cluster Autoscaler, and to do so, they indicated in the [official documentation](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0) that we need to manually add a tag with the corresponding `node-group` label use

[2022-08-04 08:39] ZTGallagher commented on #4893
@rshad

I appreciate the response and recognize you're right. In my case, however, we _**are**_ tagging the ASGs and they're still not coming up properly.

```0/1 nodes are available: 1 Insufficient nvidia.com/gpu```

The ASGs _**are**_ then tagged with `k8s.io/cluster-autoscaler/node-template/resources/nvidia.com/gpu=1`

I'm not sure what, then can be the problem.

[2022-08-04 09:30] teqwve commented on #4569
Hi! I see you might not have sufficient resources, I'll try to provide a PR for changing this myself. Is that ok?

[2022-08-04 10:57] rshad commented on #4893
@ZTGallagher

What is the label in your case? I see that you want to use a non-label tag as a label for the node-selector. As they indicate, the tag should be `label` not `resource`. So, your tag should be:
[code]
And the label should be as:
[code]

[2022-08-04 11:15] matthyx commented on #4786
/remove-lifecycle rotten

[2022-08-04 16:44] grosser commented on #3615
this is done and should be closed

[2022-08-04 16:47] grosser opened #5072 "cluster-autoscaler: Balancing scale up between different node groups does not account for node size difference"
for BalancingNodeGroupSetProcessor BalanceScaleUpBetweenGroups in cluster-autoscaler/processors/nodegroupset/balancing_processor.go

Given 3 azs with the nodes [[1x, 1x], [4x], [4x]] it will always chose the last 2 groups even though they have the highest capacity.
It should instead take the capacity into account.

I think a workable approach would be:
pass in nodeInfos, map nodes to asg via eithe

[2022-08-04 17:17] tghartland commented on #5066
Thanks, @Shubham82!

[2022-08-05 02:29] ringtail commented on #4569
sure, thanks man.

[2022-08-05 04:08] Shubham82 commented on #5066
Welcome! @tghartland

[2022-08-05 17:37] grosser opened #5075 "cluster-autoscaler go build error "sf.IsExported undefined" on go 1.16"
[code]

as per https://github.com/kubernetes-sigs/controller-tools/issues/643 we should update to >= 1.17 to avoid this

[2022-08-05 17:41] grosser commented on #5072
/cc @jsravn @bpineau @artificial-aidan @syscod3 @jaypipes since I hope you also have this issue or can help review this

[2022-08-07 17:07] vsevel commented on #4861
/remove-lifecycle stale

[2022-08-08 14:44] #3877 closed

[2022-08-09 13:49] x13n opened #5079 "Parallel drain in Cluster Autoscaler"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Scale down of non-empty nodes taking very long time in large clusters.

**Describe the solution you'd like.**:

Parallel drain

**Describe any alternative solutions you've considered.**:

None really, the main factor contributing

[2022-08-09 15:20] x13n commented on #3886
Hi @jan-skarupa, thanks for looking into this!

Interesting, so it looks like VM deletion is just causing OS to send SIGTERM to kubelet, which then [initiates graceful shutdown in 1.21+ clusters](https://kubernetes.io/docs/concepts/architecture/nodes/#graceful-node-shutdown). This issue was originally filed for 1.18, which didn't have this feature. I agree in that case the only reason to introduce

[2022-08-09 19:34] AlexandreBrown commented on #3780
Just had this bug occurred to me today.
We had my-nodegroup-1, deleted it, recreated it with a different `maxSize` and the autoscaler wouldn't scale from 0 for this newly created managed nodegroup.

@pbaranow Is right about the tag, by default the tags applied to the managed node group are not automatically applied to the **autoscaling group**.
In our case this wasn't the issue tho since we have a

[2022-08-09 22:22] xiazhan opened #5080 "E2E test broken on 1.24.0"
**Which component are you using?**:
kubernetes/autoscaler

vertical-pod-autoscaler
**What version of the component are you using?**:
0.10.0 and 0.11.0

Component version:
0.10.0 and 0.11.0

**What k8s version are you using (`kubectl version`)?**:
1.24.0
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
1.22.0
</pre></details>

**What environment is this in?

[2022-08-10 02:19] dniasoff commented on #5065
This issue was due to the user deploying the cluster having the heat_stack_user OpenStack role which breaks heat API permissions. It seems that if you add roles to the user, and these roles do not have access to the heat stack then the heat API will deny the request even though your other roles grant access

[2022-08-10 02:19] #5065 closed

[2022-08-10 07:45] andrewkwok2022 opened #5081 "Fargate node failed to be autoscaled by VPA"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:
v0.11.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.22

**What environment is this in?**:
AWS EKS fargate

**What did you expect to happen?**:
the node of the fargate can be autoscaled from 0.25vCPU to 0.5vCPU or higher

**What happened instead?**:
Noth

[2022-08-10 11:20] #4910 closed

[2022-08-10 17:11] PaulFurtado commented on #4880
/remove-lifecycle stale

[2022-08-10 22:15] #4479 closed

[2022-08-11 02:40] feiskyer commented on #4875
this should be fixed already
/close

[2022-08-11 02:40] #4875 closed

[2022-08-11 04:02] andrewkwok2022 commented on #5081
finally solved it by increasing the replicas from 1 to 2......

[2022-08-11 04:02] #5081 closed

[2022-08-11 13:36] martin-fiedler opened #5082 "cluster-autoscaler is slow in deciding to scale up"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.22.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.8", GitCommit:"4a3b558c52eb6995b3c5c1db5e54111b

[2022-08-11 16:29] eptiger commented on #4479
Good news @garrygerber  - a PR was just accepted a few days ago for supporting Instance Requirements: https://github.com/kubernetes/autoscaler/commit/fed54b5715c33a12c1f76cc3cc8a3e5b2fa6a73b

[2022-08-11 16:55] stevehipwell commented on #4228
/remove-lifecycle rotten

[2022-08-12 13:14] Noksa opened #5085 "oci provider is not included in k8s.gcr.io/autoscaling/cluster-autoscaler:v1.23.1 image"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.23.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
[code]
</pre></details>

**What environment is this in?**:
OCI self-managed k8s 1.24

**What did you expect to happen

[2022-08-12 15:15] vgauzzi opened #5086 "cluster-autoscaler pod crashing without clear message after obtaining the lease"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.20.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.3", GitCommit:"aef86a93758dc3cb2c658dd9657ab4ad4afc21cb", GitTreeSt

[2022-08-12 17:01] Noksa opened #5087 "Does OCI provider support taints/tolerations?"
I read this page https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/oci/README.md
But there is no information about taints/tolerations.

I tried to create an instance-pool with taints and when a pod is in 'Pending' state it looks like the autoscaler is not going to create an instance from a pool where we use kubelet flag `--registrer-with-taints`.

Is it possible

[2022-08-12 20:08] Noksa commented on #5087
Nvm, I found that code doesn't contain something like that.
I'll implement it myself

[2022-08-13 20:35] #4598 closed

[2022-08-15 05:07] FeLvi-zzz opened #5089 "Release tags are wrong 1.21.3, 1.22.3, 1.23.1"
**Which component are you using?**:
cluster autoscaler

**What version of the component are you using?**:
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.21.3
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.22.3
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.23.1

**What k8s version are you using (`kubectl version`)?

[2022-08-15 20:27] frittentheke commented on #1317
/remove-lifecycle stale

[2022-08-16 00:23] FeLvi-zzz commented on #5085
It's probably same problem.
https://github.com/kubernetes/autoscaler/issues/5089

Which commit did you use to build your image? `v1.23.1` tag is cut to https://github.com/kubernetes/autoscaler/commit/8037b0f9f5485e7b0d7c8b93cdabe3251aaf4fcb, but `k8s.gcr.io/autoscaling/cluster-autoscaler:v1.23.1` may be from https://github.com/kubernetes/autoscaler/commit/df8acc3555f646bf8d377a8a9a4471c372c14333.

[2022-08-16 03:28] Noksa commented on #5085
@FeLvi-zzz I just rebuilt it from master

[2022-08-16 11:47] laxmanvallandas opened #5093 "nodegroup has no accessible CSIStorageCapacity with enough capacity for PVC"
Which component are you using?:
CA (cluster-autoscaler)

What version of the component are you using?:
v1.22.11

k8s.gcr.io/autoscaling/cluster-autoscaler:v1.22.3

Component version:

What k8s version are you using (kubectl version)?:

v1.22.11

What environment is this in?:

AWS

What did you expect to happen?
Cluster autoscaler should scale the node from specified node group.

Ephemeral storage

[2022-08-16 12:17] buettner123 opened #5094 "Helm install on EKS ends in CrashLoopBackOff without clear error message"
**Which component are you using?**:
cluster-autoscaler installed with helm chart

**What version of the component are you using?**:
- cluster-autoscaler 1.23.0
- helm chart version 9.19.3 (also tried with 9.18.1)

│   aws-cluster-autoscaler:

[2022-08-16 14:03] jeromeinsf commented on #4005
/remove-lifecycle rotten

[2022-08-16 21:09] grosser opened #5096 "Balanced scale down"
**Which component are you using?**:

clusterautoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

when using `--balance-similar-node-groups=true` scale down should be balanced across nodegroups

basically as mentioned in the [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#im-running-cluster-

[2022-08-17 08:09] amirschw commented on #4051
Looks like scaling activity is no longer blocked by deletion of unregistered nodes since #4810.

[2022-08-17 08:53] buettner123 commented on #5094
Turns out it was a permission problem. After adding the audience `....:aud": "sts.amazonaws.com"` to the trust relationship I got an error message that was more descriptive and complained about a missing permission.

After adding `"autoscaling:DescribeTags"` permission to the policy the autoscaler works as expected.

For me this sounds like something that should be added to the documentation in ht

[2022-08-17 10:59] laxmanvallandas commented on #5093
Seems like the issue is related to https://github.com/kubernetes/autoscaler/pull/3887. Wondering if there is any workaround for this until cluster autoscaler is stable to track and scale the nodes based on storage capacity on the nodes. Have verified this suggestion https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1472-storage-capacity-tracking/README.md#generic-autoscaler-s

[2022-08-17 13:07] #4515 closed

[2022-08-17 14:08] #4697 closed

[2022-08-17 19:59] L1ghtman2k commented on #3458
This is likely related to this PR never getting finished https://github.com/kubernetes/autoscaler/pull/3462.

I assume a workaround could be a configuration tracking controller like wave, which would restart VPA upon cert renewal

[2022-08-18 00:32] mohitreddy1996 commented on #4958
@SahilKhullar11

Please correct me if I am wrong, but even with #4489 , it still wouldn't try OnDemand ASGs since their priority is lower? AFAIU, with priority expander, only the node groups matching the highest priority are used always - https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/expander/priority/readme.md#configuration (`The priority should be a positive value. The

[2022-08-18 09:38] #3150 closed

[2022-08-18 11:22] #4342 closed

[2022-08-18 11:47] mwielgus opened #5104 "SIGSEGV in aws-sdk-go tests"
**Which component are you using?**:

Cluster Autoscaler

**What version of the component are you using?**:

Head (master)

**What did you expect to happen?**:

Tests pass OK

**What happened instead?**:

[code]

[2022-08-18 14:25] jdheyburn opened #5106 "Cluster autoscaler to support custom schedulers' Filter logic"
**Which component are you using?**:
Cluster autoscaler (CA)

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

When a Pod is being scheduled with a custom scheduler (i.e. non default-scheduler) that uses the Filter API, it can be marked as Unschedulable. When CA polls for unschedulable pods, it uses a different Filter API (I believe th

[2022-08-18 17:01] grosser opened #5107 "cluster-autoscaler: aws errrors should say what api call was attempted"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

aws error messages should say what api call failed so I can add missing permissions

[code]
but it does not say "when trying ec2:GetInstanceTypesFromInstanceRequirements" or something similar so I have to dig into the code to find

[2022-08-18 17:30] buettner123 commented on #5086
Just saw that this looks similar to my issue. Maybe it has the same cause, see https://github.com/kubernetes/autoscaler/issues/5094#issuecomment-1217706040

[2022-08-18 18:56] MarcPow opened #5109 "Support explicitly tagging a node for safe eviction and removal"
**Which component are you using?**:
cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Periodically, we encounter nodes in our Kubernetes clusters that have become non-functional for some reason specific to the cloud provider.   Our typical solution to that problem is to replace the node, usually by marking it unusab

[2022-08-18 19:50] MarcPow commented on #5109
/label cluster-autoscaler

[2022-08-19 00:30] ctml91 commented on #4817
You can use Prometheus to collect metrics from the VPA to see the recommendations over time.

[2022-08-19 12:56] x13n commented on #3886
To actually avoid the race condition at all, we would have to separate tainting from drain&deletion. That would require changes to ScaleDown interface so that Actuator would have two separate methods for this and Planner would have to be aware of the taints to decide when to taint and when to actually drain&delete.

[2022-08-19 12:57] x13n commented on #3886
@jan-skarupa are you up for this? It is definitely a bigger change than just adding `NoExecute` taint.

[2022-08-19 14:39] #4746 closed

[2022-08-19 14:39] #4751 closed

[2022-08-19 14:39] #4752 closed

[2022-08-19 19:41] com6056 opened #5113 "Expanders don't seem to scale up a NodeGroup from 0"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c20da

[2022-08-19 20:33] #5113 closed

[2022-08-19 20:34] com6056 commented on #5113
For anyone else running into this with cluster-api, just found this: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/README.md#scale-from-zero-support

[2022-08-20 11:19] sgran commented on #1658
/remove-lifecycle stale

[2022-08-20 15:53] #4756 closed

[2022-08-21 03:57] #4862 closed

[2022-08-21 10:01] #4744 closed

[2022-08-21 10:31] scravy commented on #3802
@pkit How does #5002 fix anything? I am running a cluster autoscaler with auto config enabled and I am experiencing exactly the issues described here in this ticket. #5002 does not give a workaround which fixes this, does not patch this, does not reference a pull request... ?

[2022-08-21 14:05] #4729 closed

[2022-08-22 04:56] lawliet89 commented on #1869
/remove-lifecycle stale

This is such an old issue that arose from a GCP support ticket I opened years ago. Not sure if it will ever be looked at.

[2022-08-22 09:23] jan-skarupa commented on #3886
I see. That makes sense.

Yeah, I will do it. I need to read through the code some more. I will then outline the solution to check we are on the same page. I should get to it by the end of this week.

[2022-08-22 17:22] rittneje commented on #4699
/remove-lifecycle stale

[2022-08-22 22:02] karvind007 commented on #2377
It's been observed that, even if taints are defined, system workloads are still trying to run on the custom node pool. Does anyone come across a similar case with GKE?

[2022-08-23 07:14] EHJ-52n commented on #4490
/remove-lifecycle rotten

[2022-08-23 07:15] EHJ-52n commented on #4490
/reopen

[2022-08-23 07:15] EHJ-52n commented on #4490
@adamnovak Is this issue solved for you?

[2022-08-23 08:56] alfredkrohmer opened #5117 "cluster-autoscaler: empty node deletion is blocked by other, in-progress non-empty node deletion"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.20.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.15", GitCommit:"8f1e5bf0b9729a899b8df86249b56e2

[2022-08-23 11:16] davidroth commented on #4762
@michelzanini Thanks for the hint regarding the new permissions required. This fixed it for me after I upgraded to `9.19.3`.

It seems the documation on the AWS page is outdated: https://docs.aws.amazon.com/eks/latest/userguide/autoscaling.html#cluster-autoscaler

`"ec2:DescribeInstanceTypes", "eks:DescribeNodegroup" is not listed there.

[2022-08-23 11:36] Shubham82 commented on #4830
/close
with reference to https://github.com/kubernetes/autoscaler/pull/4916

[2022-08-23 11:37] #4830 closed

[2022-08-23 11:50] x13n commented on #4878
/priority important-longterm
/remove-lifecycle stale

[2022-08-23 12:19] DawidWozniak-TomTom opened #5119 "Image scanning has detected CVE-2022-1996"
**Which component are you using?**:
cluster-autoscaler helm chart

**What version of the component are you using?**:

Component version:

helm chart version: 9.19.4
docker image tag: v1.23.0

**What did you expect to happen?**:

No critical vulnerabilities

**What happened instead?**:

1 critical vulnerability

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2022-08-23 14:43] adamnovak commented on #4490
I've been employing the workaround of always setting the tags to propagate, and I'm not likely to find time to try and reproduce this again on our live system any time soon.

As for documenting that setting the tags to propagate is necessary, it looks like @acalm found where in the docs that would belong, so I think you could look there in the current mainline to see if it has been documented yet.

[2022-08-23 20:29] evandam opened #5121 "Cannot filter ASGs by tag value"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Docker image v1.23.0

Helm version 9.19.4

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCom

[2022-08-23 20:34] scalp42 commented on #5121
I looked at `v1.22`/`v1.23`/`v1.24`, none of those versions have the commit in so it seems that values are disregarded 🤔

[2022-08-23 20:56] steven-esser commented on #4450
/reopen

[2022-08-24 08:08] #4904 closed

[2022-08-24 14:05] x13n commented on #1869
Actually I just enabled & tested support for ephemeral storage on local SSD in GKE recently, this should work as soon as cluster versions higer than 1.24.3-gke.2200 become available.

[2022-08-24 14:12] x13n commented on #1869
/assign

I will close this once that version is actually publicly available.

[2022-08-24 15:09] zachBridges opened #5122 "`skipped_scale_events_count` not working as expected (metric never emits)"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
app version: 9.19.4
image version: 1.23.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>
[code]

**What environment is this in?**:
AWS + EKS (v1.20)

**W

[2022-08-24 16:22] zachBridges commented on #5122
@elmiko :wave: Tagging you in this since my issue relates to a feature you recently added.

[2022-08-24 20:23] elmiko commented on #5122
good find @zachBridges , i think this is just an oversight on how that metric works currently. currently, it will only register skipped events when the memory or cpu limits are reached. it would be great to add another clause for increasing the metric when the cluster reaches it maximum or minimum size.

i can probably take a look at adding cluster size to the skipped metric sometime next week, bu

[2022-08-25 03:02] zachBridges commented on #5122
@elmiko
Thanks for your reply!

Do you imagine something along the lines of the following?
[code]

and then emitting that metric within the condition,

[code]

[2022-08-25 10:33] Rohithzr opened #5125 "AWS EKS: Unable to scale NodeGroups based on tags and labels in nodeAffinity"
**Which component are you using?**:
`cluster-autoscaler`

**What version of the component are you using?**:
Component version:
`helm.sh/chart: cluster-autoscaler-9.19.4`
`cluster-autoscaler:v1.23.0`

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
[code]
</pre></details>

**What environment is this

[2022-08-25 13:32] mattaltberg opened #5128 "Latest Helm Chart (9.20.0) breaking for AWS"
**Which component are you using?**: Autoscaler Helm Chart

**What version of the component are you using?**: 9.20.0

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.22

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.6", GitCommit:"f59f5c2fda36e4036b49ec02

[2022-08-25 13:52] BastienM commented on #5128
#5105 introduces the following change that is breaking the Chart due to a default value:
[code]

[2022-08-25 14:23] rlister commented on #5128
Workaround is to set value `cloudConfigPath=false`.

[2022-08-25 15:10] ymatsiuk commented on #5128
There might be a risk of breaking `gce` implementation in this case

[2022-08-25 15:14] mattaltberg commented on #5128
But then the current default breaks all other other implementations.

[2022-08-25 15:31] BastienM commented on #5128
Moving to a map for `cloudConfigPath` and have the template do a lookup on it with `cloudProvider` value could be the most generic approach IMO.

[code]

[2022-08-25 15:47] mattaltberg commented on #5128
Here's the strange part though... `cloudConfigPath` is only used when `cloudProvider` is `aws` or `magnum`

[code]

so it's not like gce is even currently using the config path...

[2022-08-25 15:54] BastienM commented on #5128
It being used here [charts/cluster-autoscaler/templates/podsecuritypolicy.yaml](https://github.com/kubernetes/autoscaler/blob/2542e8c884a8e25634d3b8f43243fa8706007f30/charts/cluster-autoscaler/templates/podsecuritypolicy.yaml):
[code]

[2022-08-25 16:12] mattaltberg commented on #5128
Building on your idea for a map, what about this in deployment.yaml:

[code]

[2022-08-25 18:46] laupow commented on #5128
Confirmed on EKS 1.21.

Rolling back the cluster-autoscaler chart to 9.19.4 is also a valid mitigation.

[2022-08-25 19:26] elmiko commented on #5122
yeah, that looks pretty close to what i was thinking =)

[2022-08-26 09:03] aslafy-z commented on #4385
Can you try setting `metric-for-pod-labels` configuration value to `kube_pod_labels{job="kube-state-metrics"}[8d]`?

[2022-08-26 09:03] aslafy-z commented on #5031
Can you try setting `metric-for-pod-labels` configuration value to `kube_pod_labels{job="kube-state-metrics"}[8d]`?

[2022-08-26 10:33] grzesuav commented on #5113
/reopen

[2022-08-26 10:36] grzesuav commented on #5113
@com6056 could you reopen this issue ? Not everyone are using CAPI along with CA

[2022-08-26 11:21] x13n commented on #5117
This is a limitation of current scale down implementation. However, it is currently undergoing major changes to allow parallel drain. This is tracked in https://github.com/kubernetes/autoscaler/issues/5079. Once the changes are implemented, this will no longer be happening.

[2022-08-26 11:26] x13n opened #5134 "kamatera cloud provider unit tests are flaky"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

HEAD commit from master

Component version:

**What k8s version are you using (`kubectl version`)?**:

n/a

**What environment is this in?**:

unit tests

**What did you expect to happen?**:

Tests should pass.

**What happened instead?**:

[code]

**How to reproduce it (as minimally and pre

[2022-08-26 11:28] x13n commented on #5134
Looks like I cannot assign the issue. However, @OriHoch - can you fix the tests?

[2022-08-26 13:50] #4762 closed

[2022-08-26 15:31] dschunack commented on #3802
Hi,

we fixed our issues as follows and the cluster autoscaler is now able to start new Instances based on node selectors.
In our use case, we used self managed ASG instead of Node Groups. That give us more flexibility to manage our Nodes.

We set the following tags on the ASGs. In this case with a Taint.

| Tags  | Value | Tag new instances |
| ------------- | ------------- |------------- |
| k8s

[2022-08-26 17:37] carterbury commented on #5128
For me it was 5hrs before I finally figured it out by rolling back to 9.19.4 then finding this post when I was going to open the issue.

[2022-08-26 19:57] muratso commented on #5128
Confirmed on EKS 1.22
.
Rolled back to 9.14.4 and it's working like a charm. :(

[2022-08-27 08:23] OriHoch commented on #5134
thanks, fixed in #5137

[2022-08-27 15:32] jbg commented on #3780
@aandrushchenko this:

[code]

is wrong - it should be `k8s.io/cluster-autoscaler/node-template/label/app`.

No need for `propagate_at_launch` to be `true` either — the tags need to be on the ASGs but don't need to be on the instances.

Scaling up from 0 is working fine for us, on many node groups, even after restarting CA.

I suspect that there is a configuration problem like the above in each ca

[2022-08-28 13:08] foroozf001 opened #5139 "Cluster-Autoscaler 9.20.0 stuck in CrashLoopBackOff"
**Which component are you using?**:

The bug I'm experiencing is in **cluster-autoscaler-chart-9.20.0**

**What version of the component are you using?**:

**cluster-autoscaler-chart-9.20.0**

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1"

[2022-08-28 13:10] foroozf001 commented on #5139
The way I come to face this problem is during an upgrade from **cluster-autoscaler-chart-9.10.8** to **9.20.0**. I recently implemented VPC Endpoints in our infrastructure and version 9.10.8 was having issues with that and that's why I'm wanting to upgrade the autoscaler version.

[2022-08-28 13:20] #5139 closed

[2022-08-28 13:21] foroozf001 commented on #5139
Duplicate issue

[2022-08-28 13:44] foroozf001 commented on #4922
Is there any progress on this? I'm facing the same issue. I'm running EKS 1.22 in a private setup using VPC endpoints.

[2022-08-29 00:51] bennysp opened #5140 "Cannot deploy cluster-autoscaler with Rancher RKE2"
**Which component are you using?**:
cluster-autoscaler / cluster-autoscaler-chart

**What version of the component are you using?**:

Component version:
[cluster-autoscaler1.23.1](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.23.1) / [cluster-autoscaler-chart-9.20.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-9.20.0)

**What k8s vers

[2022-08-29 08:18] #5134 closed

[2022-08-29 15:25] steven-esser commented on #4450
This is still an issue.

[2022-08-29 15:31] foroozf001 opened #5142 "cluster-autoscaler-chart-9.19.4 CrashLoopBackOff - fail to retrieve credentials!"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

9.19.4

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.6", GitCommit:"ad3338546da947756e8a88aa6822e9

[2022-08-30 02:41] bennysp commented on #5140
@ctrox Do you have any ideas from the above?

[2022-08-30 02:56] hernandev opened #5143 "helm chart installation adds --cloud-config=/etc/gce.conf automatically, which fails."
**Which component are you using?**:
Helm Chart.

**What version of the component are you using?**:
9.20.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.3", GitCommit:"aef86a93758dc3cb2c658dd9657ab4ad4afc21cb", GitTreeState:"cl

[2022-08-30 03:40] com6056 commented on #5113
It wasn't actually an issue, just was a feature that wasn't actually implemented yet. I think scale from 0 support should be supported in other cases already, but happy to re-open if you still think it is needed.

[2022-08-30 06:29] ctrox commented on #5140
From your message in the logs the autoscaler does not have permissions to get nodes, so I'm assuming it is missing some permissions (on the downstream cluster). If the autoscaler is running on the downstream cluster, you need to make sure the service account you set in the deployment has [these permissions](https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler/templates/cl

[2022-08-30 08:17] matthyx opened #5146 "Saving VPA checkpoints for DRP"
**Which component are you using?**:
VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
We use gitops to manage all our deployments.
We are using VPA to reduce CPU and memory requests based on real usage.
It means that VPA recommendations are almost always lower than resource requests in git.
In case of DRP, all historical data of VP

[2022-08-30 08:24] matthyx commented on #5146
/cc @jbartosik

[2022-08-30 08:59] #5128 closed

[2022-08-30 09:03] teksuo commented on #4133
/remove-lifecycle stale

[2022-08-30 09:07] teksuo commented on #4133
/reopen

[2022-08-30 09:35] piotrwielgolaski-tomtom commented on #5089
it is really misleading, I spend few hours trying to use feature https://github.com/kubernetes/autoscaler/commit/b4cadfb4e25b6660c41dbe2b73e66e9a2f3a2cc9
that is not part of 1.23.1 but github shows it as included in tag because of tag misconfiguration.

[2022-08-30 17:10] foroozf001 commented on #5142
The solution was to have the primary cluster security group id attached to the STS VPC endpoint.

[2022-08-30 17:10] #5142 closed

[2022-08-31 12:58] voelzmo commented on #5146
I think a commonly described 'good practice' is to regularly write back the current VPA recommendations to the actual requests in your Pod-owners (i.e. Deployments, StatefulSets, etc). This also helps in the cases where your VPA might be down for some reason.

If you feel you need to recover the VPACheckpoints explicitly: How are you doing backup/restore of other resources/configuration for your c

[2022-08-31 15:21] pavel-z commented on #4754
@phillebaba the process is described in this section: https://github.com/DataDog/draino#draino----

[2022-08-31 16:30] maxres-ch commented on #5143
We are also having this issue too.

[2022-08-31 16:31] hernandev commented on #5143
for the moment, making the value into an empty string:

[code]

allows moving on

[2022-08-31 17:46] lallydd opened #5153 "Ways for VPA recommender to support other sources of data."
**Which component are you using?**:
`vertical-pod-autoscaler/pkg/recommender`

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
We collect our own metrics separately.  `metrics-server` is redundant.

**Describe the solution you'd like.**:
Enable some way:
* via RPC to another metrics client system
* some plugin mechanism
* (or somethin

[2022-08-31 18:59] dbonfigli commented on #3644
https://github.com/kubernetes/autoscaler/pull/4654 has been merged and now the cluster autoscaler has a gRPC based plugin system, probably this issue can be closed.

[2022-08-31 19:10] matthyx commented on #5146
Agreed this is the ideal case, however this is evolving over time and not all dev teams have enough time to check all their workloads on all clusters.

We don't backup as everything is already in git... except for the VPACheckpoints. Ideally we would rely on Prometheus instead of them, but in case of DRP we also lost metrics as they were stored inside the cluster.

This is why I suggested this ide

[2022-08-31 19:26] bennysp commented on #5140
Thanks @ctrox . I was wondering about that 1.23.1. I will double check the service account.

[2022-09-01 07:52] phillebaba commented on #4754
Yeah sure I have read all that too, but could you link the code that actually implements the behavior. Looking through the code base I can't find any reference to such a feature.

[2022-09-01 09:08] MartinEmrich commented on #4934
/remove-lifecycle stale

[2022-09-01 10:08] cebidhem commented on #4850
That's an issue for a long time, and it's kind of a headache to double check the appVersion within the chart matches the ones that we want to deploy.

The issue I guess we're all facing is the impossibility to know beforehand if the latest chart version contains properties/instructions that are specifically done for the latest cluster-autoscaler versions, thus making it unusable for cluster-autosc

[2022-09-01 10:51] #4773 closed

[2022-09-01 10:51] #4776 closed

[2022-09-01 10:51] #4777 closed

[2022-09-01 10:51] #4779 closed

[2022-09-01 12:33] tomsucho commented on #5010
so I finally got back to this and it would seem the vpa-updater wants this lease to be in kube-system namespace, however this was deployed to another namespace including vpa-admission-controller and so the lease is created but in that other namespace.

<html>
<body>

kind | Event
-- | --
level | Metadata
objectRef.apiGroup | coordination.k8s.io
objectRef.apiVersion | v1
objectRef.name | vpa-admiss

[2022-09-01 19:11] elmiko opened #5158 "Cluster API provider should ignore labels for Alibaba Cloud, IBM Cloud, GKE, and Azure"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

the experience for balancing similar nodes on the various infrastructures requires the user to know about the labels and invoke the ignore label flag for each.

**Describe the solution you'd like.**:

adding known labels to the cl

[2022-09-01 20:44] gjacquet commented on #5067
While there is no explicit flag in the chart's value, you can use the chart's `extraArgs` to pass in arbitrary command line parameter: https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.11.0/charts/cluster-autoscaler/values.yaml#L165

In your case, something like this would do the trick:
[code]

[2022-09-02 08:38] jbartosik commented on #5153
Can you come to SIG meeting to talk about this?

- I think it makes sense to allow getting data from different sources.
- I won't have capacity to design or implement this but I can help (discuss, review, make suggestions).
- I'm worried about testing and maintenance:
  - Can we have automated e2e tests to make sure this keeps working?
  - I don't have any experience with Datadog so what happens i

[2022-09-02 09:12] jbartosik commented on #5146
What does DRP stand for here?

From what you wrote is sounds like something happens and you loose all data that was in the cluster.

I'm not sure how much storing just recommendations would help. VPA will relatively quickly have enough data to feel confident in its recommendation and overwrite whatever you applied when recreating the cluster. For example [full-vpa end to end tests](https://github.

[2022-09-02 09:35] matthyx commented on #5146
Yes lost everything and redeploy via gitops.

Interesting... it never happened because VPA in this cluster were set on "initial". Maybe I should conduct a test with "automatic" and be confident enough the killing will only happen when there is too much difference between the actual and recommended values.

Yes, initial tests prove that. I was afraid restoring VPACheckpoints would fail because data

[2022-09-02 09:46] gygitlab commented on #5052
I'm also trying to reconcile this with the charts. It's not clear to me what approach is best to ensure compatibility. Best I can tell there's two potential approaches:

- Use the latest charts version to ensure we get any potential compatibility or security fixes and pin the specific Autoscaler version image to match the cluster as recommended.
- Find the last charts version that matches the auto

[2022-09-02 10:29] richardcase commented on #4784
/remove-lifecycle rotten

[2022-09-02 11:50] Rohithzr commented on #5125
I was able to configure this using the un-managed nodegroups.

[2022-09-02 16:46] #3644 closed

[2022-09-02 18:01] #4785 closed

[2022-09-02 18:53] Gabisonfire commented on #4789
We're having the same issue here, did you find a solution/cause @psharik1 ?

[2022-09-02 21:59] mickare opened #5162 "Increment min-servers does not scale up the cloudProviderTarget (Hetzner provider)"
**Which component are you using?**:

cluster-autoscaler with Hetzner provider

**What version of the component are you using?**:

Tested two latest commits:
- master ([5e85a7d](https://github.com/kubernetes/autoscaler/commit/5e85a7d0ff2279a83d5ed57af7b0383d867fbb54))
- Latest PR to Hetzner provider ([23088ae](https://github.com/kubernetes/autoscaler/commit/23088ae3be8081ba35b3dd89fef871f8805a5345)

[2022-09-05 08:48] voelzmo commented on #4515
I'd still be interested in solving this somehow.

@jbartosik do you think your initial idea points in the right direction?

Are you suggesting that VPA could get information about the maximum allocatable resources from CA somehow? In the end, thats what we would need to do: limiting Pod resources to the allocatable, such that they don't become un-schedulable, right?

[2022-09-05 10:02] tombokombo opened #5164 "Extended resources provided by ASG via tags is not working"
**Which component are you using?**:
autoscaler

**What version of the component are you using?**:
 1.25.0-alpha.0 AND 1.23.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.9", GitCommit:"6df4433e288edc9c40c2e344eb336f63fad45cd2

[2022-09-05 13:07] tomsucho commented on #5010
I can't really tell what's wrong but seem when installing via the scripts from official repo, and changing namespace in install scripts results in this problem, possibly there is a place somewhere in some file in that repo that I haven't changed, but instead of diving deep into bash, I actually found this Helm VPA chart: https://charts.fairwinds.com/stable, that works out of the box for installati

[2022-09-05 13:07] #5010 closed

[2022-09-06 09:59] bogdando commented on #4464
In my case, the cluster-autoscaler pod fails accessing the public AWS sts service endpoint via its public IP:
[code]
My EKS is a private cluster, with a private VPC sts interface endpoint configured, like this:
[code]

[2022-09-06 15:10] fsalazarh opened #5169 "[VPA] Limit Pod eviction across Availability Zones"
Is there a way that I can limit the eviction of Pods across Availability Zones?

In my case, I have a database deployed as a StatefulSet, where using `topologySpreadConstraints` we have the pods evenly distributed among the different availability zones. However, when VPA decides to evict Pods, it is zone agnostic and that doesn't allow me to control high availability well. I understand that I can

[2022-09-06 15:19] asm582 opened #5170 "Cluster autoscaler improvements for AI workloads"
**Which component are you using?**:
Cluster autoscaler component which scales Kubernetes cluster

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

We see that the current cluster autoscaler (CA) reacts to pending pods, this may not work well for AI/HPC workloads, we outline the scenarios below:

- CA reacts to pending pods, When a lar

[2022-09-06 15:27] kerthcet commented on #5170
/cc

[2022-09-06 15:38] tomsucho opened #5171 "[cluster-autoscaler v.1.23.0] calls /apis/storage.k8s.io/v1beta1/csistoragecapacities"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
v1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
EKS 1.21 and doing readiness checks for 1.22 upgrade

**What di

[2022-09-06 19:53] grosser opened #5172 "cluster-autoscaler: "Cluster is not ready for autoscaling" needs to print reasons"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Atm logs only show "Cluster is not ready for autoscaling" and nothing else.

**Describe the solution you'd like.**:

Say what is going on / why the cluster is not ready.
"3 out of 10 nodes had a taint" or something like that

[2022-09-06 20:52] ZimmSebas commented on #5164
We're seeing the same result in our end, but for labels `k8s.io/cluster-autoscaler/node-template/labels/<labels-name>`.
During an upgrade from 1.22 to 1.23 on EKS, and our Cluster Autoscaler 1.23 has the same results, but on 1.22 we didn't had this problem

The only thing that I see that changed here, may be PR #4238 that plays around with labels? I never checked this code in depth before, but the

[2022-09-07 01:09] Dingshujie commented on #5170
/cc

[2022-09-07 11:51] Rohlik commented on #4703
We have exactly the same issue on AWS EKS. Any clues?

[2022-09-07 15:00] WillerWasTaken commented on #5006
We're using eks_managed_node_groups and we got it working by setting the scaling options like this

[code]

The important bit is that we have the initial desired_size at 1 instead of 0. It allows the side effect to occur to make the node group eligible by the autoscaler.
After this it all works fine and the autoscaler can properly scale in at 0 and back again at 1 whenever it's necessary.

It's mo

[2022-09-07 15:49] TekTimmy opened #5173 "[cluster-autoscaler v.1.23.1] unable to find instance type within launch template"
**Which component are you using?**:
Autoscaler on AWS EKS

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Until today we are using three different node groups in our EKS on AWS: small, medium and large. The groups have different CPU and memory using different ec2 spot instances. The number of groups will grow in the future and  due t

[2022-09-07 17:41] Gabisonfire commented on #4789
/remove-lifecycle rotten

[2022-09-07 17:52] nandorKollar commented on #5173
Maybe [this](https://github.com/kubernetes/autoscaler/commit/6328195795d1bc7e84c0051f5975e8ddafce1b4d) is the new feature you're looking for? The commit seems pretty new, next release from 1.24 might support this scenario.

[2022-09-07 19:13] lallydd commented on #5153
Hi! Form the SIG meeting, this is my recollection (please correct me when I've remembered incorrectly) of the discussion:

- The VPA recommender can follow the cluster-autoscaler model, where different metrics sources provide different implementations of an interface
- 3rd parties (like us at Datadog) may provide alternative implementations of the interface
- The implementations must (a) compile a

[2022-09-07 19:17] innovate-invent commented on #3916
/remove-lifecycle stale

[2022-09-07 19:30] lallydd commented on #5153
RE: the automated tests, I've used a recorded result from the Datadog API as an offline test.

[2022-09-07 21:32] tombokombo commented on #5164
@ZimmSebas sound similar but its kind of different bug, yours could be related to https://github.com/kubernetes/autoscaler/pull/4238

Bug that I'm describing is more complex.
If you put eg `custom-resouce: 2` to pods requests/limits, scaling up end up here
https://github.com/kubernetes/autoscaler/blob/c38cc7460426b80ad60e63b7647f2c973a4e3878/cluster-autoscaler/core/scale_up.go#L463
as inside `comp

[2022-09-08 06:06] oliverpark999 opened #5174 "AutoScaler ScaleDown will not work."
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

**Describe the solution you'd like.**:

EKS successfully applied Cluster Autoscaler.
Worker Node is automatically scaleout. as Pod resource usage increases.
However, if the resource usage decreases or the pod is deleted, the resou

[2022-09-08 14:15] jonathanmeier5 opened #5179 "Tags Point To Same Commit"
Hey all, thanks for the work you do. The community really appreciates it!

I was poking around today and noticed that three release tags all point to the same commit:
[code]

Is this intentional? It felt a little funky, so I wanted to flag.

[2022-09-08 14:51] jonathanmeier5 opened #5180 "Installing Git Dependencies Fails on cluster-autoscaler-1.24.0"
Hey all, ran into an issue when attempting to install the dependencies from tag `cluster-autoscaler-1.24.0`.

**Which component are you using?**:
cluster-autoscaler

**What did you run?**
[code]

**What did you expect to happen?**:

I expected the dependencies to install.

**What happened instead?**:
The dependencies failed to install due to a bad hash.

**How to reproduce it (as minimally and pre

[2022-09-08 15:48] sebradloff commented on #5122
@elmiko @zachBridges would love both of your input/feedback on #5175 😄
I implemented what y'all were suggesting above and a little more.

[2022-09-08 18:16] elmiko commented on #5122
that's awesome, thanks @sebradloff !

[2022-09-08 20:33] drmorr0 commented on #4741
/remove-lifecycle rotten

[2022-09-08 20:33] drmorr0 commented on #4741
We've also observed this same behaviour on 1.19.2, running on AWS.

[2022-09-08 20:46] damirda commented on #3916
@innovate-invent I tried to keep this PR smaller as it is my first contribution to `autoscaler` but once it gets merged, I might implement the second half as well.

[2022-09-08 21:32] drmorr0 commented on #4741
Aha.  This issue was resolved in https://github.com/kubernetes/autoscaler/pull/4926, which is present in 1.21.3

[2022-09-08 21:32] drmorr0 commented on #4741
/close

[2022-09-08 21:32] #4741 closed

[2022-09-08 22:19] FeLvi-zzz commented on #5179
It's duplicate
https://github.com/kubernetes/autoscaler/issues/5089

[2022-09-09 06:23] #4680 closed

[2022-09-09 09:24] bogdando commented on #4922
I believe the solution is a) ensure a private VPC interface endpoint for STS (maybe also for autoscaler? See [private EKS blueprints](https://aws-ia.github.io/terraform-aws-eks-blueprints/advanced/private-clusters/)); b) follow https://github.com/kubernetes/autoscaler/issues/2829 and define AWS_STS_REGIONAL_ENDPOINTS, AWS_REGION; c) use cluster autoscaler >=1.17.3

I'm hitting the same issue in my

[2022-09-09 19:23] #5179 closed

[2022-09-10 00:02] munjalpatel opened #5184 "Cluster Autoscaler take very long time to remove unreachable nodes"
**Which component are you using?**:

Component: `cluster-autoscaler`

**What version of the component are you using?**:

Component version: `1.23.1`

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641c

[2022-09-10 18:24] stevehipwell commented on #4228
/remove-lifecycle rotten

[2022-09-11 01:09] rittneje commented on #3693
/remove-lifecycle stale

[2022-09-11 13:05] lawliet89 commented on #3879
/remove-lifecycle stale

[2022-09-11 19:43] timowevel1 opened #5185 "Hetzner Failed to get node infos for groups"
**Which component are you using?**:
Rancher with K3S 1.24
Autoscaler v1.25.0
Hetzner Cloud

cluster-autoscaler

**What version of the component are you using?**:
1.25.0

**What did you expect to happen?**:
Not sure, it doesnt throw errors on initial bootup? Not sure whats the issue there

`root@Rancher1:~# kubectl logs cluster-autoscaler-6bbc7d777-65pmm --namespace=kube-system
I0911 19:39:20.18084

[2022-09-12 05:56] #4805 closed

[2022-09-12 06:13] decipher27 commented on #4811
What version did the fix?
Could not get a CSINode object for the node "ip-10.xxx.x.xx..ap-south-1.compute.internal": csinode.storage.k8s.io "ip-10-xxx.xx-ap-south-1.compute.internal" not found

[2022-09-12 11:27] pierluigilenoci commented on #4231
/remove-lifecycle stale

[2022-09-12 11:27] pierluigilenoci commented on #4099
/remove-lifecycle stale

[2022-09-12 16:19] jeremyfreudberg commented on #4750
/remove-lifecycle stale

[2022-09-12 17:05] abhijit-dev82 opened #5186 "Error string for making a POD unschedulable is not printed"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:
1.23

What version of the relevant component are you using? Either the image tag or helm chart version.
"k8s.gcr.io/autoscaling/cluster-autoscaler-amd64:v1.23.1"

Component version:

**What k8s version are you using (`kubectl version`)?**:
kubectl version
Client Version: version.Info{Major:"1

[2022-09-12 17:28] elmiko commented on #2942
i am still working towards this, although it does have a glacial pace ;)

/remove-lifecycle stale

[2022-09-12 18:15] vsevel commented on #4861
/remove-lifecycle stale

[2022-09-12 18:17] vsevel commented on #5029
have you been able to give it some thoughts?
cc @matthyx

[2022-09-12 18:17] vsevel commented on #4861
any news on this?
cc @matthyx

[2022-09-12 18:18] vsevel commented on #4293
any news on this?

[2022-09-12 19:52] jclangst commented on #4099
I believe this was resolved by https://github.com/kubernetes/autoscaler/pull/4970

[2022-09-13 01:34] philomory commented on #4664
Is this functionality specific to GKE, or is it true of CA on k8s 1.22+ in general?

[2022-09-13 04:38] liuxintong commented on #5109
Hi Marc, I agreed this is a good idea to have the safe node eviction feature in the native cluster autoscaler, so I just go ahead and implement it in #5187.

However, there are some minor changes in my implementation.
* Instead of using a new label, I inclined to use the annotation, which is being used in other scenarios, like `scale-down-disabled`, `safe-to-evict`, etc.
* I didn’t add the gracefu

[2022-09-13 14:23] pierluigilenoci commented on #4099
@jclangst if you confirm that the problem is solved, this issue can be closed.

[2022-09-14 08:03] hernandev commented on #5143
Thank you very mich @maxres-ch

[2022-09-14 08:03] #5143 closed

[2022-09-14 08:29] mtavaresmedeiros opened #5188 "Use environment varibles in the Cluster Autoscaler"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
Cluster Autoscaler: 1.21.1
Helm Chart Version: 9.13.1

Component version:
v1.21.14-eks-6d3986b

<details><summary><code>kubectl version</code> Output</summary><br><pre>
 kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.12", GitCommit:"696a9fdd2a58340e61e0d8

[2022-09-14 11:07] andrewhibbert opened #5189 "Using VPA with Prometheus"
I'm looking to use VPA and store in prometheus, I want to check which metrics it uses as we have quite a few blocked for different namespaces

I'm talking about these rules in the helm chart:
https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L970

[2022-09-14 17:48] elmiko commented on #5158
the cluster-api community has agreed that we will direct our users to utilize the `--balancing-ignore-label` flag to accomplish ignoring the specific platform labels.

we will remove all the labels from our custom nodegroupset processor as we believe the maintenance burden is greater than the work of educating our user base on how to deploy the autoscaler in these scenarios.

i am closing this iss

[2022-09-14 17:48] #5158 closed

[2022-09-14 18:46] jclangst commented on #4099
I can confirm there are new options that at least enable those running into this issue the ability to choose a desired solution.

[2022-09-14 18:46] #4099 closed

[2022-09-15 07:53] timowevel1 commented on #5162
I can confirm it doesnt work at all

[2022-09-16 05:41] matthyx commented on #5146
Real "at scale" test will be next Thursday...

[2022-09-16 09:33] #4815 closed

[2022-09-16 14:36] #4760 closed

[2022-09-16 14:39] juanitomint opened #5194 "Autoscaler doesnt support r6a instances"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
v1.23.0

v1.23.0
Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75c

[2022-09-17 21:52] #4780 closed

[2022-09-18 00:53] #4817 closed

[2022-09-18 17:03] msvticket commented on #2045
/remove-lifecycle rotten

[2022-09-19 07:16] Shubham82 commented on #5119
Hi @DawidWozniak-TomTom
This issue is resolved I guess, current used version for `github.com/emicklei/go-restful` is v3(v3.8.0). check [this](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/go.mod#L84). I also checked this in CA v1.24 and CA v1.25 by trivy this issue doesn't exist:

[code]

[code]

[2022-09-19 07:40] Shubham82 commented on #4969
/remove-lifecycle stale

[2022-09-19 07:44] Shubham82 commented on #4969
lifecycle/frozen

[2022-09-19 07:46] Shubham82 commented on #4969
/lifecycle frozen

[2022-09-19 08:23] DebakelOrakel opened #5197 "Please add a proper release tag for vpa 0.12"
**Which component are you using?**: vertical-pod-autoscaler

**What version of the component are you using?**: 0.11

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**What did you expect to happen?**: A proper release tag for

[2022-09-19 09:12] #4825 closed

[2022-09-19 10:26] yurissouza commented on #4695
Hello @sedflix , have you manage to deploy the admissionController using another port?
What flags (port numbers) have you used to do so?

[2022-09-19 18:34] jcstanaway opened #5199 "Can't unit test with fake VPA client"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

Component version: 0.12.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c2

[2022-09-20 08:38] TekTimmy commented on #5173
@nandorKollar Yes that looks promising, thank you!

[2022-09-20 08:38] #5173 closed

[2022-09-20 14:22] jsravn commented on #4165
It's been merged.

[2022-09-20 14:49] jaypipes commented on #5072
@grosser apologies for the long delay in response. Are you suggesting that the node group selection algorithm choose the node group with the *least* capacity (in aggregate across all nodes in the group)?

[2022-09-20 14:54] grosser commented on #5072
yes, it should balance by capacity
so for example `10,5,2 + 16 new nodes` -> 11,11,11

[2022-09-20 19:25] decipher27 commented on #3845
Hi Folks! Facing the same issue:
CA Version: v1.21.1

Cluster-autosacler logs:
[code]
Our pods are in pending state due to volume node affinity conflict.

[2022-09-20 21:21] thockin opened #5201 "Doc request: CA scale-down and taint "ToBeDeletedByClusterAutoscaler""
**Which component are you using?**:

Cluster Autoscaler

**Describe the solution you'd like.**:

A clear doc.

I am trying to comprehend the meaning of the ToBeDeletedByClusterAutoscaler taint with regards to services with load-balancers.
 I know of https://github.com/kubernetes/kubernetes/pull/105946 which made this taint influence the configuration of which nodes are chosen to serve as dataplane

[2022-09-20 21:21] thockin commented on #5201
cc @alexanderConstantinescu FYI

[2022-09-20 22:43] thockin commented on #5201
Based on https://github.com/kubernetes/autoscaler/blob/8dcd3b3eb2d1d28b7ba05a3af48a171cb40547b9/cluster-autoscaler/core/scaledown/actuation/actuator.go#L92-L94 I suspect this taint is set "eagerly" (before draining) which says to me that we should NOT respect it as a trigger to remove a node from the LB set.

That said, I can't find where the k8s node is deleted (??), and I am afraid that what wil

[2022-09-21 08:16] JBOClara commented on #3845
Hi @decipher27 ,

Could you show us the label on you AWS ASG `aws autoscaling describe-auto-scaling-groups` ?

My understanding of this issue is that you need the topology tags:
[code]

I've also added
[code]

[2022-09-21 08:19] Shubham82 opened #5204 "Update golang version to v1.19"
GitHub [workflow](https://github.com/kubernetes/autoscaler/blob/master/.github/workflows/ci.yaml) currently using the `v1.18.1` version for golang.  can we update it to v1.19? to sync it with the version of golang we are using in code.
As [Dockerfile](https://github.com/kubernetes/autoscaler/blob/master/builder/Dockerfile) use golang v1.19 to build autoscaling-related binaries. vendor to k8s v1.26

[2022-09-21 08:21] Shubham82 commented on #5204
if this seems reasonable and valid to do then I'm up for it.
/assign

[2022-09-21 08:21] Shubham82 commented on #5204
/kind bug

[2022-09-21 08:26] Shubham82 commented on #5204
Hi @jayantjain93, @mwielgus
could you please take a look?

[2022-09-21 08:31] jayantjain93 commented on #5204
This makes sense.
Since we have released 1.25 which uses `go1.19`, and so does the vpa builder.
We should update the workflow.

[2022-09-21 08:33] Shubham82 commented on #5204
Yeah, I will update it soon.
Thanks, @jayantjain93

[2022-09-21 09:45] Shubham82 commented on #5204
Fixed it here #5205

[2022-09-21 10:48] gregth commented on #5089
This is indeed misleading and took me quite some time to understand what was going on. Are there any plans to fix the tags?

[2022-09-21 21:47] h0jeZvgoxFepBQ2C commented on #1298
/remove-lifecycle stale

[2022-09-22 09:43] binlialfie commented on #1653
same issue here using k8s.gcr.io/autoscaling/cluster-autoscaler:v1.25.0 in eks 1.22

[2022-09-22 19:49] bitva77 commented on #3592
We just ran into this option after disabling IMDSv1 but we've had to set `HttpPutResponseHopLimit` to `3` for whatever reason.

[2022-09-23 14:29] matthyx commented on #5146
For the record restoring VPACheckpoints works, but you need to ensure VPA pods are stopped when you perform the restore.

[2022-09-23 14:29] #5146 closed

[2022-09-25 08:40] #4788 closed

[2022-09-25 15:02] aslafy-z commented on #4385
Could someone reopen this issue please ?

[2022-09-25 21:02] jonaz commented on #4385
/reopen

[2022-09-25 21:03] jonaz commented on #4385
😕

[2022-09-25 21:03] jonaz commented on #4385
@spewu can reopen it

[2022-09-26 06:09] spewu commented on #4385
/reopen

[2022-09-26 13:19] dbenque opened #5212 "VPA - The ratio between CPU and memory should be maintained"
**Which component are you using?**: vertical-pod-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
On applications using garbage collected memory, the increase of CPU could be the consequence of an intensive activity of the GC. This happens in Go and Java when using some memory primitive and settings like [SetMemoryLimit](ht

[2022-09-26 13:21] #4786 closed

[2022-09-26 14:53] #4796 closed

[2022-09-26 15:59] Eraac commented on #3947
I think the issue is still relevant and must be stay open

/remove-lifecycle stale

[2022-09-26 21:09] gigipl commented on #5185
Same here.

[2022-09-27 02:46] feiskyer commented on #5180
/assign @gandhipr

[2022-09-27 09:21] x13n commented on #3886
I talked offline about this with @MaciekPytel. The conclusion we came up with was that it should be both simpler and less risky if Actuator treat empty node becoming non-empty as an error. Triggering drain on the node would be problematic because it is possible the node being deleted is the only place the new pod can run. If we trigger drain without re-running scale down simulation, we may prevent

[2022-09-27 16:25] xeivieni opened #5216 "Scaling different arch nodegroups"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.23.0

Component version:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.14-eks-18ef993", GitCommit:"ac73613dfd25370c18cbbbc6bfc65449397b35c7", GitTreeState:"clean", BuildDate:

[2022-09-27 21:24] jbartosik commented on #5153
Hi,
I took a look. I think I need to look some more. I'm still thinking / asking around. I'm not very confident in what I think but I thought I should let you know:

1. I'm not sure about using `PodMetricsesGetter`:
  a. We don't control the interface. If we need to update the dependency and the interface changes we'll need to update all metric providers
  b. It might be bigger than we need, [Metr

[2022-09-28 09:09] maartenvanderhoef commented on #4715
This CVE is the only one as all others have been fixed, it would be great if this one can be crossed of the list.

[2022-09-28 12:29] AllenZMC opened #5217 "The vpa updater modifies the limit resources of the container, resulting in a very large cpu and memory. What is this based on? It is a bit unreasonable?"
**Which component are you using?**:

vertical-pod-autoscaler
**What version of the component are you using?**:
0.9.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
openshift 4.10

**What did you expect to happen?**:

**What

[2022-09-28 12:48] jbartosik commented on #5197
There are  [vertical-pod-autoscaler-0.12.0](https://github.com/kubernetes/autoscaler/tree/vertical-pod-autoscaler-0.12.0) and [vertical-pod-autoscaler/v0.12.0 ](https://github.com/kubernetes/autoscaler/tree/vertical-pod-autoscaler/v0.12.0) tags. VPA 0.11.0 had similar tags.

Should there be another one?

[2022-09-28 18:23] jbartosik commented on #5197
Looking at timestamps I think that you opened this issue before I created [VPA 0.12.0 release](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.12.0) and before I created tags associated with it.

I cut the branch some time ago but then I had to delay actually creating VPA release for a while because I noticed that we should update dependencies some more and needed t

[2022-09-28 18:23] #5197 closed

[2022-09-28 18:38] jbartosik commented on #5217
VPA will set resource request based on its recommendation. If pod has limit set it will also change the limit so that ratio (limit / request) is the same after it applies its changes as it was before.

For example if VPA sees a pod that has:

- 100m CPU request
- 200m CPU limit (so incoming (limit/request) ratio is 2)
- 500m CPU target recommendation
- there are no restrictions that affect what CP

[2022-09-29 02:22] AllenZMC commented on #5217
@jbartosik   Can the (limit/request) ratio be customized?

[2022-09-29 03:38] shreyas-kb opened #5218 "Critical CVE-2021-3538 - github.com/satori/go.uuid"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.25.0

**What k8s version are you using (`kubectl version`)?**: 1.22

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.11", GitCommit:"5824e3251d294d324320db85bf63a53eb0767af2", Gi

[2022-09-29 05:51] Shubham82 commented on #5180
Closing this issue, as the issue is resolved by this PR #5215
/close

[2022-09-29 05:51] #5180 closed

[2022-09-29 07:30] AllenZMC opened #5219 "When will the vpa recommender set the recommended value for the vpa's status？"
**Which component are you using?**:
vertical-pod-autoscaler

**What version of the component are you using?**:
0.9.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**What did you expect to happen?**:

**What happened instea

[2022-09-29 07:46] jbartosik commented on #5212
I'd like to make sure if I understand the issue correctly.

The goal here is to support Java / Golang applications (or at least some of their configurations). And keeping constant memory / CPU ratio is idea for how to reach that goal?

I think we did some thinking on support for Java applications already. If that's what you need I'll look up older discussions about supporting Java.

[2022-09-29 08:18] jbartosik commented on #5217
Yes. The ratio will be the same after VPA modifies the pod as it was before the modification. So you control the ratio when you create pod and set it limit and request.

For example if you create a pod:

- If it has 100m CPU limit and 100m CPU request the ratio is 1:1. When VPA sets CPU request the limit will be equal to the limit.
- If it has 2Gi memory limit and 1 Gi memory request then the rati

[2022-09-29 08:41] jbartosik commented on #5219
VPA will set recommendation after it calculates it. If everything is configured correctly (VPA is pointing to an existing controller, there are pods running in the controller, pods are reporting metrics, VPA can get metrics) first recommendation should appear after a few minutes (~1 minute for sample to appear, some time for VPA to get the metric, calculate recommendation and write it).

If this d

[2022-09-29 11:04] jbartosik commented on #4750
I think I currently don't have capacity to look into this in more detail.

I'm happy to review if you know how to fix this issue

[2022-09-29 11:42] jbartosik commented on #3966
/remove-lifecycle stale

I took a look I think that @hjkatz was right in [this comment](https://github.com/kubernetes/autoscaler/issues/3966#issuecomment-804209585) the function should use [`getContainer`](https://github.com/kubernetes/autoscaler/blob/ca6ed150671afa0eadb78510ae740d8b93a5b1de/vertical-pod-autoscaler/pkg/utils/vpa/capping.go#L271) function instead of relying on indexes matching (als

[2022-09-29 12:10] dbenque commented on #5212
This could help for any language that allow the developper to put constraints on memory usage (not only java).

Also we wanted to make that feature generic enough to work with other resource than CPU and Memory. We (at datadog) are looking at making reservation for other resources like network and storage. I am anticipating maybe a bit, but I think we will have the need for some processes to grow

[2022-09-29 12:27] iksaif commented on #5212
A very common pattern for applications is to have a worker pool sized in relation to the number of available CPUs (for example a thread pool that has CPU * N threads). Then memory (or sotrage) usually act as working space for those workers. Usually those applications have back-pressure mechanisms that make sure you don't have too many requests queued per worker, this effectively cap the memory per

[2022-09-29 13:31] stevehipwell commented on #4097
/remove-lifecycle stale

[2022-09-29 14:27] alculquicondor commented on #5170
/cc

[2022-09-29 14:51] x13n commented on #5089
Looks like this is a problem with a known solution: https://stackoverflow.com/q/24849362

[2022-09-29 15:13] x13n opened #5221 "Integrate Cluster Autoscaler release with GitHub releases API"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Prevent https://github.com/kubernetes/autoscaler/issues/5089 from happening again.

**Describe the solution you'd like.**:

Use a script talking to [GitHub Releases API](https://docs.github.com/en/rest/releases/releases#create-a-r

[2022-09-29 17:17] jbartosik commented on #3966
I'm working on a PR to fix this. It'll take some more time:

- I want to add some more (unit) tests
- [this line](https://github.com/kubernetes/autoscaler/blob/ca6ed150671afa0eadb78510ae740d8b93a5b1de/vertical-pod-autoscaler/pkg/utils/vpa/capping.go#L397) looks weird to me; we're taking value of recommendation (and we're recommending requests not limits) and then using it as a limit

[2022-09-29 17:53] decipher27 commented on #3845
Hey, Found the issue was with the scheduler. we are using a custom scheduler..
Vendors have made some tweaks and it's fixed. Thank you @JBOClara

[2022-09-29 17:58] decipher27 commented on #3845
Also, from your comment, what do you mean by `When your ASG is at 0`? You mean if I set the desired count to be '0'?
---

[2022-09-29 20:04] miadabrin commented on #3241
/remove-lifecycle rotten

[2022-09-30 00:13] dan-tw opened #5224 "CA Should cross-reference availability zone with instance type before attempting scale up"
**Which component are you using?**:

Cluster Autoscaler on AWS

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Currently the CA will attempt to scale up an instance in an availability zone it is not available in without first checking.

 For example, if I create:

A managed node group with:
Instance type: `g5.xlarge`
Region: `eu-wes

[2022-09-30 02:33] AllenZMC commented on #5219
@jbartosik   `Cannot get ContainerMetricsSnapshot from MetricsClient. Reason: Get "https://172.30.0.1:443/apis/metrics.k8s.io/v1beta1/pods": stream error: stream ID 97; INTERNAL_ERROR`

[2022-09-30 07:53] kisieland commented on #5170
/cc

[2022-09-30 08:51] vishalanarase opened #5225 "[Civo] Cleanup example spec"
Cleanup example spec, Remove unused secret, and point to the correct secret name.

[2022-09-30 11:49] JBOClara commented on #3845
Exactly, when an ASG desired value is set to 0 (for instance,  after a downscale of all replicas with [kube-downscaler](https://codeberg.org/hjacobs/kube-downscaler), except those from CA itself). CA will not be able to read node labels, because there is no node.

[2022-10-03 10:00] matthyx commented on #4293
solved by https://github.com/kubernetes/autoscaler/pull/4799
/close

[2022-10-03 10:00] #4293 closed

[2022-10-03 13:10] #5204 closed

[2022-10-03 13:12] jbartosik commented on #3966
There's [a test](https://github.com/kubernetes/autoscaler/blob/538c055e083dc24e6cebaf1698faa8918ef1e2e8/vertical-pod-autoscaler/pkg/admission-controller/resource/pod/recommendation/recommendation_provider_test.go#L174) that expects no error when there is no matching recommendation for a container; I'll check why is that and if I can fix the way I intended to

[2022-10-03 16:04] #4772 closed

[2022-10-03 19:55] BillKalaitzisXentral commented on #5006
We're also having the exact same issue.
The autoscaler is unable to scale a nodegroup from `0`, unless we've manually scaled it up previously.

[2022-10-04 08:11] #5119 closed

[2022-10-04 14:21] ralbon commented on #4829
I had same error but it was due to aws_region environment variable not set correctly

[2022-10-04 15:08] jbartosik commented on #3966
For now I sent PR with e2e that reproduce the problem and which I plan to use later to make sure my fix fixes the problem and doesn't break things.

[2022-10-04 18:04] lallydd commented on #5153
So, roughly, does this mean using this interface https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/metrics/interfaces.go#L40-L57 inside the `recommender`?

I see the appeal, and it seeems reasonable.    My only concern is the user configuration for the metric.  Generally we only want the measurement of each resource that corresponds to its recommendation (e.g., RSS

[2022-10-04 18:09] rittneje commented on #4872
/remove-lifecycle stale

[2022-10-06 10:35] #4855 closed

[2022-10-06 10:35] #4866 closed

[2022-10-06 10:35] #4838 closed

[2022-10-06 10:35] #4847 closed

[2022-10-06 10:35] #4834 closed

[2022-10-06 12:04] jbartosik commented on #5153
Yes, VPA recommender would use `MetricsClient` interface to get metrics.

I'm not sure I understand your question about misconfiguration.

Are you considering which of two approaches:

1. Allow users to configure which metrics to use on per-VPA-object level
2. Allow configuring VPA recommender which metrics to use (for all VPA objects it generates recommendations for)

?

[2022-10-06 12:05] jbartosik commented on #5219
Looks like a log indicating some problem with getting metrics

I can't say anything more just from that, pleas provide some more details.

[2022-10-06 13:44] lallydd commented on #5153
For configuration, different measurement systems (e.g., `metrics-server`, Datadog, others) will likely have different names for container CPU / Memory usage.  So we'll have to configure that somehow.

As for the two approaches, I think (2) is likely necessary - we shouldn't require each `VerticalPodAutoscaler` to have more configuration when it's all the same for every instance in a cluster.  As f

[2022-10-07 12:17] prathavich commented on #4829
how did you solve that issue ?

[2022-10-07 13:36] lallydd commented on #5153
Clarifying: when calling
[code]

The `metricName` arg needs a value, and we have to call it twice, once for CPU metrics, once for RAM.

So, if the `recommender` took three more command-line args:
[code]

This could configure the `recommender` to both call the external metrics provider and use the right values for the `metricName` parameter of `GetExternalMetric`.  I used the appropriate Datadog me

[2022-10-07 15:25] ralbon commented on #4829
In helm chart you can specify aws region

Le ven. 7 oct. 2022 à 14:17, prathavich ***@***.***> a écrit :

--
*Romain ALBON*
Ingénieur DevOps - SRE  *|* +33 6 13 56 96 96 <+33+6+13+56+96+96>

[2022-10-07 16:03] dbenque opened #5236 "VPA - Support of Static CPU Allocation"
**Which component are you using?**:

Vertical-Pod-Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Feature: as a user of the [Static CPU allocation](https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy) I would like VPA to ensure that CPU value is set as an integer. As a user I should

[2022-10-07 17:11] rmoreira commented on #4662
@RafaelMoreira1180778 were you able to resolve this issue?

[2022-10-07 18:39] x13n commented on #5089
/assign @gjtempleton @MaciekPytel

Can one of you fix this? Looks relatively simple, but I don't have the permissions.

[2022-10-07 18:56] dbenque opened #5237 "VPA - Ensure that CPU recommendation is a multiple of N"
**Which component are you using?**:

Vertical-Pod-Autoscaler/recommender

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Some of our applications size their internal worker pools as a factor of the number of vCPUs, and require these numbers of workers to be a multiple of 2/4/8 for easier load-balancing / re-sharding

So it is import

[2022-10-07 19:27] jbreed opened #5238 "Cluster autoscaling w/ podAffinity rules"
**Which component are you using?**:

helm chart - cluster autoscaler

**What version of the component are you using?**:

helm chart cluster-autoscaler-9.21.0 APP VERSION 1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

1.22

</pre></details>

**What environment is this in?**:

EKS

**What did you expect to happen?**:

I have a pod that gets deployed that has a

[2022-10-07 19:30] x13n commented on #5170
Thanks for creating this issue, I believe this is an important use case Cluster Autoscaler should support. Some of the pain points you're raising require fundamental changes to how CA operates, but some should already work properly with the right setup. Let me go through them one by one:

Why does CA wait for tens of minutes in this scenario? CA runs iterations of the main loop using a fixed inter

[2022-10-07 19:34] jbreed commented on #5238
I added annotations for safe-to-evict to true, but this didn't resolve this issue or moving pods to other nodes that need to be grouped together.

[2022-10-07 21:05] gavintg commented on #2556
Why does it keep crashing using EKS v1.22? I really do not get why this issue is closed.

[2022-10-07 21:23] jdn5126 opened #5240 "Behavior change in daemonset pod eviction"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
v1.21.3

Component version: v1.21.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23+", GitVersion:"v1.23.7-eks-4721010", GitCommit:"b77d9473a0

[2022-10-08 04:02] kerthcet commented on #5170
Some supplements:

We just proposed a KEP https://github.com/kubernetes/enhancements/issues/3521 to make scheduling switchable, I think it also helps.

This also looks like the capacity of gang-scheduling, we have the coscheduling plugin, and further, a new pod group api is on design, see https://github.com/kubernetes/enhancements/pull/3371 .

And yes, k-sigs/kueue is also helpful in job queueing

[2022-10-08 15:58] #4859 closed

[2022-10-08 18:59] drmorr0 commented on #5238
I understand the problem here, but I am not sure that cluster autoscaler is the right place to solve it.  The only time cluster autoscaler will evict pods is during scaledown, if it detects that the pods running on a node can be moved somewhere else and the node can be terminated.  I think it would be a significant change in responsibilities (and a lot of work!) if cluster autoscaler were to start

[2022-10-08 19:40] drmorr0 commented on #5224
AFAICT this information is not currently exposed by AWS; the availability is only specified at a per-region level, not a per-AZ level.

As an aside, cluster autoscaler expects that every instance in a node group is identical, _including_ the AZ.  In your example, if you have three AZs specified in your node group, and AWS is unable to fulfill capacity in a single AZ, cluster autoscaler will mark t

[2022-10-09 01:22] chrisayoub commented on #4793
/remove-lifecycle stale

[2022-10-09 20:43] always-improving commented on #4775
/remove-lifecycle stale

[2022-10-10 08:15] jbartosik commented on #5046
@voelzmo

The main reason I think we should have a new enum value for the new behaviour is that some uses may want to configure their VPAs to keep that behavior (even if VPA changes what `Auto` means in the future). Similarly to how currently VPA has `Auto` and `Recreate` modes which currently do the same thing. But we're discussing changing what `Auto` does (and some workloads might want `Recreat

[2022-10-10 11:08] superset1 opened #5242 "Vertical Pod autoscaling doesn't scale less than 255 Mi"
**Which component are you using?**: vertical-pod-autoscaler

**What version of the component are you using?**:
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler

apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration

Component version:
**What k8s version are you using (`kubectl version`)?**:
<details><summary><code>kubectl version</code> Output</summary><br><pr

[2022-10-10 12:22] jbartosik commented on #5242
Yes. Minimum resources VPA will recommend are controlled by [flags](https://github.com/kubernetes/autoscaler/blob/4ff4903f6839882550d05b6b2a8eae7f813c9fdc/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L28) `pod-recommendation-min-cpu-millicores` (default 25 mCPU) and `pod-recommendation-min-memory-mb` (default 250 MiB memory).

Also VPA tries hard to avoid setting memory too low (be

[2022-10-10 12:22] #5242 closed

[2022-10-10 12:59] jbartosik commented on #5236
If we implemented #5237 then you could set N=1 and you would get this behavior. Or is there a difference I missed?

[2022-10-10 13:04] #5217 closed

[2022-10-10 13:29] jbartosik commented on #5153
Sounds good to me. We could look at HPAs e2e tests [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling/custom_metrics_stackdriver_autoscaling.go) ([dashboard](https://k8s-testgrid.appspot.com/sig-autoscaling-hpa#gci-gce-autoscaling-hpa-cm)) and have similar tests to ensure we notice if the feature breaks.

[2022-10-10 13:34] vaibhav-ak opened #5243 "Error from cluster autoscaler v1.22.3 on AWS EKS 1.22 - Couldn't open cloud provider configuration /etc/gce.conf:"
Any help on this one. `Cluster autoscaler version is 1.22.3`. We are passing aws region and most other variables. Can't understand why it's trying to look for `/etc/gce.conf`

[code]

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go#L370

[code]

[2022-10-10 13:42] superset1 commented on #5242
Thank you

[2022-10-10 14:02] #5243 closed

[2022-10-10 14:02] vaibhav-ak commented on #5243
Using latest chart works - https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler/9.21.0

[2022-10-10 14:14] jbreed commented on #5238
@drmorr0

Thanks. Yeah, I would prefer to not have to write my own scheduler; however, seems it may be the only option at this time.

For affinity rules, it appears requiredduringexecution is not currently implemented. Once this is implemented, it may handle the use-case I am mentioning.

[2022-10-10 14:52] WebSpider commented on #1070
/remove-lifecycle stale

[2022-10-10 17:43] jbreed commented on #5238
@drmorr0

I think given the scheduler currently doesn't have a way for keeping affinity during execution implemented, I may have a work around that will possibly work although not resource efficient.

I am thinking of testing using pod anti-affinity rules for the main pods that have other pods linked via pod affinity rules. If these all schedule onto separate nodes, then the follow-on nodes will h

[2022-10-11 00:25] jlamillan commented on #5087
@Noksa we'd appreciate a pull request.

[2022-10-11 08:51] jbartosik commented on #5217
One more thing. You can tell VPA that it should only change requests of containers and leave limits as they are by setting [`ResourcePolicy VerticalPodAutoscaler.Spec.ContainerPolicies [].ControlledValues`](https://github.com/kubernetes/autoscaler/blob/e206ae2a29606a1ea25d7c4b45b753d2a48c73c1/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L184) to [`RequestsOnly `](https://github.

[2022-10-11 08:59] jbartosik opened #5245 "Consider not marking Recreate / Auto VPA modes as experimental"
**Which component are you using?**:

VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
VPA `Recreate` and `Auto` modes are marked as experimental in the [documentation](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#quick-start). They've been around for a while so we should consider not saying they're

[2022-10-11 13:32] jbartosik commented on #5169
I don't recall anything that would have that effect and didn't find anything when I looked for it.

It sounds like an useful feature. Currently I don't have capacity to work on this. Please let me know if you're interested in contributing

[2022-10-11 14:48] MaciekPytel commented on #5089
I fixed this, the tags should point to the right commits now. Sorry for the confusion.

[2022-10-11 14:48] #5089 closed

[2022-10-12 09:25] jbartosik commented on #4981
/remove-lifecycle stale

[2022-10-12 11:26] TekTimmy commented on #5224
You can have many ASGs, so you can create a single node group for the according AZ with the desired instance type.

[2022-10-12 11:30] TekTimmy commented on #5188
this can't be a bug of the autoscaler from my perspective..
For me it works! We inject the configmap into the environment like this:
[code]

[2022-10-12 11:33] TekTimmy commented on #5171
We are on EKS v1.23.x and use the according autoscaler 1.23.1 and have no problems. Did you check if autoscaler version 1.23.1 fixes the problem ?

[2022-10-12 12:07] tomsucho commented on #5171
@TekTimmy I guess it is no issue then, if it works fine on 1.23.x then definitely this API call is not necessary and if it fails the auto-scaler controller must be running okay still. Thanks for confirmation this can be closed I guess as it doesn't cause any harm, tho calling obsolete APIs is still not perfect and will produce API server errors I guess.

[2022-10-12 23:10] dan-tw commented on #5224
It is definitely available

**AWS CLI Tool**

`aws ec2 describe-instance-type-offerings --filters "Name=location,Values=eu-west-2a" --location-type availability-zone --region eu-west-2`

**GO AWS SDK**

[code]

Seems to me like a lot of unnecessary work for something that the CA can handle on it's own

[2022-10-13 01:51] #4664 closed

[2022-10-13 09:28] mikelo commented on #5245
I may be missing something obvious, but I simply deployed the hamster example and the VPA mode seems to be set to Auto by default without ever specifying it:
[code]
how can a mode be default **AND** experimental at the same time? should the NOTE just get removed from the docs?

[2022-10-13 17:23] #3966 closed

[2022-10-14 06:27] #5186 closed

[2022-10-14 06:28] abhijit-dev82 commented on #5186
Stale issue

[2022-10-14 08:01] x13n commented on #4456
/reopen

[2022-10-14 08:06] x13n commented on #1869
This is available in GKE 1.24.5-gke.600+.

/close

[2022-10-14 08:45] jbartosik commented on #5245
I think that `Auto`:

- has been around for a long time,
- has been the default for years,
- I think has been used by a lot of people.

So I think we should stop saying it's experimental. But I want to make sure I'm not missing anything important.

I'm looking for why we say it's experiments. I found that https://github.com/kubernetes/autoscaler/pull/1509 added the README note back in 2018-12, I a

[2022-10-14 08:58] jbartosik commented on #4682
/remove-lifecycle rotten

[2022-10-14 13:13] #4891 closed

[2022-10-14 14:01] mikelo commented on #5245
[here](https://github.com/kubernetes/autoscaler/blob/b553a7a300fd2a7e0f728612f97c5669f94ab8d5/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L126) it states that Auto is Recreate in reality, is not possible to hot add resources to pods (without the need to restart them)?

and the v1 package (and not v1beta) seems to suggest something non-experimental about them...

[2022-10-16 05:58] msyhu commented on #5007
hi @g-gaston ! May I know where is the documentation that recommends deploying cluster autoscaler on the management cluster as many as the number of clusters? thanks.

[2022-10-16 09:32] #4400 closed

[2022-10-16 15:06] nsu700 opened #5250 "Is there any metrics for the max number of MachineAutoscaler?"
**Which component are you using?**:
MachineAutoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Sometimes we found the autoscaler not work because it already hit the max number of nodes, so we expect there is a way for us to proactively know the max limitation will be hit

**Describe the solution you'd like.**:
We expect there

[2022-10-16 17:20] WebSpider commented on #4400
/reopen

[2022-10-16 17:20] WebSpider commented on #4400
/remove-lifecycle rotten

[2022-10-17 03:15] Luke-Smartnews commented on #5170
We had the same issue, in our case our users are deploying more than 2k spark pods on k8s at the same time which costs CA about 20m to scale out.
I think the issue is [here](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.25/cluster-autoscaler/core/equivalence_groups.go#L65), CA is only using ownerReference UID to group pods. in our case the spark pods don't have the sam

[2022-10-17 05:00] hterik opened #5251 "Documentation for ignore-taint"
**Which component are you using?**:
Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I would like to understand how to best use ignore-taint.
Both the command-line argument `--ignore-taint`, and the annotation prefix `ignore-taint.cluster-autoscaler.kubernetes.io/`.
See below for exact use case.

**Describe the solu

[2022-10-17 07:48] MartinEmrich commented on #4850
I am just about to introduce helm here, and am thinking hard on a policy regarding this... And I am more or less set on keeping them always identical. That discussion convinced me: https://github.com/helm/helm/issues/8194#issuecomment-633465800

tl;dr: appVersion was introduced for "I don't care about version, just fetch me the helm chart for the application version XYZ", but it never caught on.

[2022-10-17 11:29] #3886 closed

[2022-10-17 13:35] ddelange commented on #3276
fixed as of [cluster-autoscaler-1.24.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.24.0) in https://github.com/kubernetes/autoscaler/pull/4489

[2022-10-17 13:36] MartinEmrich commented on #4129
I just tried topologySpreadConstraints again, and it still happens for me.

I then found out that the latest CA version for EKS 1.22 ist indeed 1.22.1 (which I used) from 2021, so the fix cannot be in there.
As far as I can tell, the only release containing the fix is 1.25 so far.

What options are there if one is stuck with Kubernetes 1.22 or 1.23 (e.g. AWS EKS)? The docs clearly state that the v

[2022-10-17 16:30] drmorr0 commented on #5164
I spent a little while trying to track this down and couldn't figure out how to repro.  I know we are using `k8s.io/cluster-autoscaler/node-template/resources/ephemeral-storage` on our clusters and it is working as expected.  We're also on a slightly older version of cluster autoscaler.  Is this a regression in behaviour, or has this always been broken?  I'm not sure.

[2022-10-18 00:56] FeLvi-zzz opened #5253 "How often are Cluster Autoscaler Patch Releases cut?"
**Which component are you using?**:

Cluster Autoscaler

I merged cherry-pick PRs into the v1.21 ~ v1.23 release branches 2 months ago, but patch releases haven't been cut yet.

I'd like someone to release patches, however I have no idea how often are they cut and who should I ask.

FYI
previous release was in June.
https://github.com/kubernetes/autoscaler/issues/5253

[2022-10-18 12:07] rblaine95 commented on #1658
A potential short-term solution could be to add a `--ignore-predicates` flag to the Autoscaler.

For example: `--ignore-predicates VolumeBind,NodeAffinity` will make the Autoscaler ignore the `VolumeBind` and `NodeAffinity` predicates when making scaling decisions.

[2022-10-18 15:37] zhouke1991 opened #5255 "Are there any plans to fix the CVE-2021-25741 in the version 1.21.x"
The autoscaler image on version 1.21.0 contains high vulnerabilities [CVE-2021-25741](https://avd.aquasec.com/nvd/2021/cve-2021-25741/). The kubernetes community fixed it after 1.21.4 ([changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1214)). There are no fixed versions of 1.21.x in the autoscaler.
Are there any plans to fix it?
If not, c

[2022-10-18 18:57] jeremyfreudberg commented on #4748
/remove-lifecycle stale

[2022-10-18 18:58] jeremyfreudberg commented on #4749
/remove-lifecycle stale

[2022-10-19 00:30] msau42 commented on #1658
I think this was tried in the past but may have caused a lot of nodes to be unnecessarily created.

[2022-10-19 03:42] jdumars commented on #5255
Hi @mwielgus! Could you help us with this question, or direct us to someone who can?  Thanks

[2022-10-19 04:15] YanzhaoLi commented on #5255
I just have a look at how kubernetes fixes this CVE: https://github.com/kubernetes/kubernetes/pull/104253.
Thus, I think it's because autoscaler import the [k8s.io/mount-utils](http://k8s.io/mount-utils) 1.21.1-rc0 library:https://github.com/kubernetes/autoscaler/blob/c95c261d130c9c1c468da89536f6d2f5c21341fc/cluster-autoscaler/go.mod#L91 that brings this cve alert.
So the fix should be upgrading t

[2022-10-19 04:19] YanzhaoLi commented on #5255
Or can experts like @mwielgus  help confirm whether autoscaler really uses the `k8s.io/mount-utils` library ? If not, I think don't need worry about this CVE.

[2022-10-19 05:05] Bryce-Soghigian commented on #5255
https://github.com/kubernetes/autoscaler/pull/5257 This Is a quick pull request updating the versions so we don't have the version with the CVE. Will touch up a bit.

[2022-10-19 07:03] h326370 opened #5258 "Autoscaler version"
Hi
It is mandatory for Cluster Autoscaler version to matches the Kubernetes major and minor version of eks cluster . Or we can also run Autoscaler with higher version .

Thanks
Himanshu

[2022-10-19 08:06] JBOClara commented on #3845
@debu99
Look at:

[2022-10-19 08:15] jbg commented on #3845
Yes, but when the ASG is at 0, there are no nodes. cluster-autoscaler needs the labels tagged on the ASG to know what labels the node would have if it would scale up the ASG from 0.

[2022-10-19 08:56] x13n commented on #5218
As far as I can tell, this is used only in alicloud, kamatera and magnum cloud providers.

@ringtail @OriHoch @tghartland - can you drop the dependency on this package?

[2022-10-19 10:57] rblaine95 commented on #1658
Yeah, after some additional thought, I can see the risk of unintentional consequences is quite high.

[2022-10-19 11:53] OriHoch commented on #5218
yes, shouldn't be a problem, do you know of a better alternative for generating uuid?

[2022-10-19 12:03] alexanderConstantinescu commented on #5201
I +1 the idea @thockin had above, i.e: the CA can continue using `ToBeDeletedByClusterAutoscaler` and setting it in t3. If we however agree that the CA can set `node.kubernetes.io/exclude-from-external-load-balancers: "true"` at t5.5, then we'd simplify the service controller's logic and allow connection draining.

What concerns me with changing this sequence of events, is: the importance of possi

[2022-10-19 12:06] Shubham82 commented on #5258
yes, It is strongly recommended to use Cluster Autoscaler minor release branch that matches the k8s minor version.
for example Use CA v1.23.x with k8s 1.23.x

[2022-10-19 12:22] OriHoch commented on #5218
I changed to use google/uuid, you can see the change [here](https://github.com/kubernetes/autoscaler/pull/5260)

[2022-10-19 12:34] OriHoch commented on #5218
I fixed it, but just FYI - for my use case of this library, I don't think it's a critical vulnerability, as we use the uuids only to generate server names which are not sensitive and I don't see any attack vector where predicting the generated server names is a vulnerability.

[2022-10-19 12:51] tghartland commented on #5218
I have created a PR for magnum cloud provider, #5261.

I switched to gofrs/uuid as it is a fork of the satori package and minimised the changes I needed to make.

[2022-10-19 13:57] x13n commented on #5218
Thanks! I just lgtmed both PRs. Looks like they still require approval though.

[2022-10-19 18:02] thockin commented on #5201
My concern is that this annotation is VERY SPECIFIC and if there should ever be something else that needs to wake up at that point in the sequence, it would not make a lot of sense to look for this signal.

[2022-10-19 23:38] sanposhiho opened #5262 "Is VPA `UpdateModeAuto` still an experimental feature"
/kind documentation

The default value of PodUpdatePolicy.UpdateMode is “Auto”.
https://github.com/kubernetes/autoscaler/blob/0a46483c07b9422db58168893bc3a6dfb634cd44/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L111

It's a bit confusing because the [README](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#quick-start) says “NOTE: This feature of VPA

[2022-10-20 08:36] ifeulner opened #5263 "Hetzner Autoscaler does not allow subnets for HCLOUD_NETWORK"
**Which component are you using?**:
Horizontal autoscaler

The hetzner implementation , see https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/hetzner

**What version of the component are you using?**:
1.25.0

Component version: 1.25.0
**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre

[2022-10-20 10:50] devops1319 opened #5264 "NodeCreationFailure: Couldn't proceed with upgrade process as new nodes are not joining node group managed-node-group"
Got this error while upgrade

https://github.com/kubernetes/autoscaler/issues/5264#tasklist-block-4bc393d7-f855-4cc5-b810-d3f6c606de67

[2022-10-20 12:25] Shubham82 commented on #5262
Duplicate of #5245
There is already a discussion going on this issue, PTAL!

[2022-10-20 12:32] sanposhiho commented on #5262
Thanks for letting me know.
/close

[2022-10-20 12:32] #5262 closed

[2022-10-20 12:48] sanposhiho commented on #5245
In kubernetes, it's impossible. (and there is no such discussion AFAIK)
I'd say the point is why it is marked as an experimental feature and is the problem resolved now (or can we regard the problem as accepted) as @jbartosik said.

I'm completely not familiar with the implementation detail of VPA, but I believe we cannot make 100% sure a new Pod to replace a old evicted Pod gets scheduled and sta

[2022-10-20 14:10] rozcietrzewiacz commented on #5121
+1
I just lost over a day of work due to this bug 😞

[2022-10-20 15:06] rozcietrzewiacz commented on #4606
/reopen

This! Autoscaler is a real nightmare to debug. This apparently translates to an overwhelming number of issues being created, where people are getting frustrated by not being able to get autoscaler to work as expected.

[2022-10-20 15:28] richardFontaine commented on #4450
For anyone else who sees this, it was fixed in 9.18.1 https://github.com/kubernetes/autoscaler/commit/b57d917632e048bbe15e47d8a6084b8fd8a5919c

[2022-10-21 10:03] IrisIris commented on #5218
In alicloud, the dependcy is only used in alicloud sdk package. I'll update the package to new version which dropped the dependcy.

[2022-10-21 13:51] lokeshgahlot commented on #4777
@yourmoonlight
Did you find any solution/workaround? I am facing similar issue.

[2022-10-21 14:57] MaxFedotov opened #5267 "cluster-autoscaler CAPI scale up when current number of nodes is less than minSize"
**Which component are you using?**: Cluster Autoscaler with Cluster API

**What version of the component are you using?**:

Component version: v1.25.0

**What k8s version are you using (`kubectl version`)?**: 1.23.7

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.7", GitCommit:"42c05a5

[2022-10-21 21:15] #4540 closed

[2022-10-22 21:34] Bryce-Soghigian commented on #5251
/label good-first-issue

[2022-10-24 06:48] applike-ss commented on #4593
/remove-lifecycle stale

[2022-10-24 09:47] max-rocket-internet commented on #4850
Yes! I've always thought this with the `cluster-autoscaler` and its chart. It's a pain.

I always have to go to the [history of Chart.yaml](https://github.com/JoshVee/autoscaler/commits/master/charts/cluster-autoscaler/Chart.yaml), examine every change and then copy the `version` used for the `appVersion` that we want. And in this case, with version `1.22`, there isn't a chart version for this `ap

[2022-10-24 22:38] grosser opened #5269 "cluster-autoscaler \w balancing: Constant "No info about pods passing predicates found""
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.25

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.24

**What did you expect to happen?**:
Not showing this error

**What happened instead?**:

Shows the error and refuses to scale asgs randomly

**How to reproduce it (as minimally and precisely as possible)

[2022-10-25 08:51] jbartosik commented on #4730
/remove-lifecycle stale

[2022-10-25 08:57] jbartosik commented on #5245
Currently it's not possible but there's ongoing work to make that possible (https://github.com/kubernetes/kubernetes/pull/102884) and to follow up by using that ability in VPA (https://github.com/kubernetes/autoscaler/issues/5046)

VPAs README says so ([here](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#known-limitations)

[2022-10-25 14:36] sanposhiho commented on #5245
Cool, I didn't know that.

[2022-10-25 18:44] MaxFedotov commented on #5267
@elmiko, can I please ask you to take a look, as one of the CAPI cluster-autoscaler maintainers

[2022-10-26 06:46] imageschool commented on #3068
Still no confirmation..?!

[2022-10-26 06:59] #4385 closed

[2022-10-26 08:46] aslafy-z commented on #4385
@spewu can you reopen the issue please ?

[2022-10-26 08:46] aslafy-z commented on #4385
/remove-lifecycle rotten

[2022-10-26 09:19] tiwisag opened #5273 "2 Pods with graceful Termination over 2 mins and PDB prevent scale-down of underutilized node"
**Which component are you using?**:
Cluster-Autoscaler

**What version of the component are you using?**:
v1.22.1

**What k8s version are you using (`kubectl version`)?**:
1.23

**What environment is this in?**:
AWS

**What did you expect to happen?**:
I have two Pods from a single StatefulSet with a graceful Termination of over 2 mins(10 min in my case) on an underutilized node (~5%).  There is a

[2022-10-26 11:22] x13n commented on #5022
/remove-lifecycle stale

[2022-10-26 13:56] elmiko commented on #5267
@MaxFedotov apologies for the delay, i am traveling at kubecon this week.

i have a couple thoughts about this:
1. this is know behavior in the autoscaler, if your node group is below the minimum, or above the maximum, the autoscaler will not attempt to reach the minimum or maximum, respectively.
2. there is currently some strange interactions between the ClusterClass and autoscaler with regards t

[2022-10-26 20:51] tombokombo commented on #5164
@drmorr0 which version and which cloudprovider?

[2022-10-26 23:08] dan-tw commented on #5224
If I were to split my ASG into one for each AZ, how do I prevent extra scaling?

Right now, for example, I have 1 ASG with 3 AZ's and if I have the maximum limit of instances set to 5 for example, that one ASG will scale up to 5. If I have 3 ASG's, one for each AZ,  all set to maximum 5 instances .. that is a potential 15 maximum nodes that we can scale out to (more than the 5 that was desired).

[2022-10-27 04:51] yourmoonlight commented on #4777
The workaround: you can monitor the CA pod's recreate, then run the scale cmd to trigger it .

[2022-10-27 08:59] MaxFedotov commented on #5267
@elmiko Thanks a lot for the explanations!

The thing is that in this case I won't be able in future to use autoscaler with this nodegroup :(

My initial intention was to offload all nodegroup size management to cluster-autoscaler, but seems like it is impossible for now, because I need to perform the initial nodegroup scale-up, so it reaches a specific start size.

[2022-10-27 09:41] EyalZafrani opened #5277 "lock is held by gke**** cluster-autoscaler on GCP"
**Which component are you using?**:
cluster-autoscaler

Which autoscaling component hosted in this repository (cluster-autoscaler, vertical-pod-autoscaler, addon-resizer, helm charts) is the bug in?
cluster-autoscaler

**What version of the component are you using?**:
appVersion: 1.21.0

chart version 9.10.7

**What k8s version are you using (`kubectl version`)?**:
1.21

**What environment is this

[2022-10-27 14:49] elmiko commented on #5267
yeah, true =(

it sounds like it won't work for you case currently, imo we need solve the issue in the cluster-api community around how this works with ClusterClasses.

[2022-10-28 07:49] x13n commented on #5277
Right, when GKE autoscaling is disabled, it should be possible to run OSS Cluster Autoscaler instead. One workaround would be to use `--namespace` flag and run CA in any namespace other than `kube-system`, so the leader election resource lock is not conflicting with GKE CA.

[2022-10-28 07:50] VitaliiBabii opened #5278 "Scaling from 0 doesn't work for GPU nodes. Reasons: Insufficient nvidia.com/gpu"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.22.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
[code]

</pre></details>

**What environment is this in?**:
We are using AWS EC2 instances to run kubernetes

For GPU

[2022-10-28 08:16] x13n opened #5279 "Pod scheduling readiness support in Cluster Autoscaler"
Per the suggestion on last SIG meeting, opening an issue to start a discussion.

**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

This isn't exactly a specific feature I have in mind, I want to start a discussion on what to do in CA about Pod Scheduling Readiness KEP (https://gi

[2022-10-28 12:51] decipher27 commented on #1653
Seeing the below logs on cluster-autoscaler
Autoscaler Version: 1.21.1
Version:

[code]

[2022-10-28 12:54] #5218 closed

[2022-10-28 22:38] ahg-g commented on #5279
By design we wanted pods with schedulingGates set to not trigger autoscaling. The idea is that such pods still need to go through some validation logic (like if those pods have quota to schedule) before deciding if/when to consider them for placement.

So I strongly support option 1, otherwise this negates some of this feature's purpose.

[2022-10-28 22:46] ahg-g commented on #5279
We will add the condition PodScheduled=false to those pods, but with a different `reason` than the one the scheduler sets when it actually fails to find a node, so one thing we need to do on the CA side is to ignore pods with this new reason value.

Otherwise, we can use PodScheduled=unknown, which means no changes at all on CA. But I prefer the first approach.

[2022-10-28 23:35] caraways opened #5280 "cluster autoscaler v1.21.3"
There is a branch and tag for cluster-autoscaler:v1.21.3, but no release notes found for 1.21.3 (date: 10/28/2022)

Is this v1.21.3 ready to use?

Running kubernetes 1.21, should cluster autoscaler v1.21.2 be used instead ?

Release notes v1.21.2: https://github.com/kubernetes/autoscaler/releases?q=1.21.2&expanded=true

Comparison: https://github.com/kubernetes/autoscaler/compare/cluster-autoscale

[2022-10-29 05:24] #4757 closed

[2022-10-30 08:21] sanposhiho commented on #5245
When recreated Pod can not come back, we can expect users to want either of the following:
1. recreate Pods anyway (the current behavior), and make CA create a new Node to run recreated Pod.
2. stop recreating in that case.

To deal with (2), how about running precheck if recreated Pods can be scheduled like descheduler.
https://github.com/kubernetes-sigs/descheduler#node-fit-filtering
I know we c

[2022-10-31 08:02] Shubham82 commented on #5043
CherryServer is now available in Cluster Autoscaler from version v1.25.
Please see the [release notes](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.25.0)  for CA v1.25

[2022-10-31 08:02] Shubham82 commented on #5043
Closing this issue as it is resolved.
/close

[2022-10-31 08:02] #5043 closed

[2022-10-31 10:44] voelzmo commented on #5245
We have been using the VPA with `Recreate` ever since we introduced VPA – no need to keep it as 'experimental' in my opinion. Especially now that that `Auto`/`In-place` will come soon and most likely *this* will get the notion of 'experimental' in the beginning. So when comparing these two modes, `Recreate` is definitely more mature and this should also reflect in the docs.

[2022-10-31 12:40] jabdoa2 commented on #5048
Issue still exists.

/remove-lifecycle stale

[2022-10-31 12:57] x13n commented on #5279
Thanks, that makes sense to me. I guess the only thing to do would be to verify CA works as expected when such pods are ready.

As far as I can tell without actually testing, CA already filters by `reason`, so no changes should be required:

https://github.com/kubernetes/autoscaler/blob/c127763a4529d7d07961102856afe0ba8781f8ee/cluster-autoscaler/utils/kubernetes/listers.go#L170-L172

[2022-10-31 15:55] kennydgreat commented on #2810
For anyone who comes across this same error this is caused by POSIX-to-Windows path conversion on GitBash. It converts command-line options starting with a slash to paths so on [gencerts.sh](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh) line 44 the openssl -subj option `"/CN=${CN_BASE}_ca"` becomes  `"C:/Program Files/Git/CN=vpa_

[2022-10-31 16:49] #4613 closed

[2022-10-31 17:02] vukor commented on #5278
The same issue was fixed by recreating cluster-autoscaler pod. CA image:
[code]

[2022-10-31 19:11] rcjsuen commented on #5117
@x13n Hello, there are no known workarounds/configuration changes we can do for this at the moment, correct? We will just have to wait patiently for the parallel drain to be implemented I presume?

Thanks for the info!

[2022-10-31 21:00] thockin commented on #5201
@mwielgus This is the one I mentioned at kubecon

[2022-11-01 08:10] sanposhiho commented on #5245
To clarify my opinion, I don't mean to be against keeping to mark it as experimental. Rather I agree with not keeping it as experimental.
I mean that if we still need to be concerned about the possibility that recreated Pods won't come back, [it](https://github.com/kubernetes/autoscaler/issues/5245#issuecomment-1296163696) is one of the ideas to deal with that.

[2022-11-02 08:42] mikelo commented on #5245
will `Auto/In-place` be the default mode to be used (unless the user specifies otherwise) but at the same time it will be marked as 'experimental'?

[2022-11-02 11:00] stevehipwell commented on #4529
/remove-lifecycle rotten

[2022-11-02 12:10] jbartosik commented on #5245
@sanposhiho thanks for the suggestion. I don't think I have capacity to work on that in the near future but it's good to have it in case we can work on the problem.

@mikelo

That's the situation now. Our documentation says that Auto/Recreate is experimental. But it's also the default.

I want to change this. Auto will still be the default but we will no longer say that it's experimental.

[2022-11-02 12:14] mars1024 opened #5286 "Why cluster-autoscaler does not have some CRDs?"
**Which component are you using?**:
Cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Introduce some CRDs to cluster-autoscaler for
1. Updating configurations without restarting
2. Setting different strategies for different nodes
3. Maybe something more

**Describe the solution you'd like.**:
New CRDs!

**Describe a

[2022-11-02 12:28] x13n commented on #5117
Yes, unfortunately. Current scale down implementation simply aborts when there is any ongoing drain:

https://github.com/kubernetes/autoscaler/blob/d7caed33d4960da7afb2be27e3eaf78a88752889/cluster-autoscaler/core/scaledown/legacy/legacy.go#L258-L261

[2022-11-02 15:34] chacond opened #5288 "vpa-recommender v0.11 - error adding metric sample for container"
We are using vertical-pod-autoscaler v0.11. We use prometheus as history data provider. We are receiving spam of following" "Error adding metric sample for container"

This is very similar to the following issues:
https://github.com/kubernetes/autoscaler/issues/2010
https://github.com/kubernetes/autoscaler/issues/2512

A fix was implemented with this PR:
https://github.com/kubernetes/autoscaler/pu

[2022-11-03 10:00] jbartosik commented on #5046
One more reason to have this as a separate enum value is that since `Auto` is the default value it shouldn't be experimental / alpha feature.

[2022-11-03 12:49] voelzmo commented on #5046
Thanks @jbartosik for clarifying your thoughts on adding new actuation modes! I took me a while to understand the semantics of `resizePolicy` for a container correctly: The point is that users can mark in-place resizing for their specific workload as *safe* or *unsafe*, but clients can still opt for resizing with evicting. Adding `InPlace` as new mode makes sense to me.

 I'm not sure if we also n

[2022-11-03 13:07] #4942 closed

[2022-11-03 13:07] #5162 closed

[2022-11-04 08:11] eyltl commented on #5277
thank you, seems to solve the issue.
i also had to update the role and the rolebinding to the same namespace specified in the "--namespace" so the serviceaccount will have permission to get and update the configmap

[2022-11-06 03:46] andyzheung opened #5295 "why k8s cluster autoscaler can't support vmware vsphere?"
If I have a vmware vsphere cluster, how can I use the autoscaler capbility.

[2022-11-06 22:08] mohang6770 commented on #3060
same error as above
Status:
  Conditions:
    Last Transition Time:  2022-11-06T22:04:41Z
    Message:               Cannot read targetRef. Reason: Deployment kube-system/my-app does not exist
    Status:                True
    Type:                  ConfigUnsupported
    Last Transition Time:  2022-11-06T22:04:41Z
    Message:               No pods match this VPA object
    Reason:

[2022-11-06 22:46] mohang6770 opened #5296 "error whe using VPA 0.12.0"
**Which component are you using?**:
Vertical pod autoscale 0.12.0 for k8s 1.25.3

vertical pod autoscaler
**What version of the component are you using?**:
0.12.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.25.3
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
1.25.3
</pre></details>

**What environment is this in?**:
k8

[2022-11-06 22:46] mohang6770 commented on #5296
Status:
  Conditions:
    Last Transition Time:  2022-11-06T22:30:41Z
    Message:               Cannot read targetRef. Reason: Deployment kube-system/my-app does not exist
    Status:                True
    Type:                  ConfigUnsupported
    Last Transition Time:  2022-11-06T22:30:41Z
    Message:               No pods match this VPA object
    Reason:                NoPodsMatched

[2022-11-06 22:59] #4900 closed

[2022-11-06 22:59] #4851 closed

[2022-11-06 23:43] adammw opened #5297 "Provide alternate mechanism for specifying node-template without polluting AWS Tags"
**Which component are you using?**: Cluster Autoscaler (AWS)

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

This proposal aims to solve the issue of unbounded AWS tag requirements from the existing `k8s.io/cluster-autoscaler/node-template/*` tags which are required to allow Cluster Autoscaler to scale from zero. AWS enforces a maxi

[2022-11-07 07:20] nugzarg commented on #5140
The same issue here. cluster-autoscaler version 1.25.0, installed via helm. rancher version 2.6.9, rke2 version 1.24.4+rke2r1. Cluster type Amazon EC2.
Autoscaler cmd:
./cluster-autoscaler --cloud-provider=rancher --namespace=kube-system --nodes=3:5:cpu-worker --cloud-config=/config/cloud-config --logtostderr=true --stderrthreshold=info --v=4

Please see cluster-autoscaler log in attached file.

[

[2022-11-07 08:31] voelzmo commented on #5296
The message means that the Deployment referenced by the VPA resource doesn't exist. Is there a `Deployment` called `my-app` in the namespace `kube-system`? Does it have available Pods?

[2022-11-07 11:43] jbartosik opened #5298 "VPA e2e tests are failing"
https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-updater

All tests started failing on 2022-11-02. I think cause is changes in K8s 1.26

[2022-11-07 12:20] mohang6770 commented on #5296
yes the deployment exists but pod does not..

apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: my-app
 namespace: kube-system
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind:       Deployment
    name:       my-app
  updatePolicy:
    updateMode: "Auto"

[2022-11-07 13:53] jbartosik commented on #5298
I think this is caused by #5268. With that change service accounts are now created in namespace `openshift-vertical-pod-autoscaler` instead of `kube-system`

As a result script setting up VPA components fails. Example logs from [this run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-updater/1589555369170964480):

[code]

[2022-11-07 13:54] jbartosik commented on #5298
@joelsmith FYI

[2022-11-07 14:05] mohang6770 commented on #5296
if you have sometime i can share my screen and show you exactly the issue

[2022-11-07 14:15] ctrox commented on #5140
Can you try without the `--nodes` flag? The node groups are discovered dynamically (using the [annotations](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/rancher#enabling-autoscaling) on the `machinePool`) so this flag should not be needed.

Also can you tell me the `ProviderID` of one of the nodes in the pool `cpu-worker`?

[code]

I just verified here that

[2022-11-07 14:44] #5298 closed

[2022-11-07 17:43] nugzarg commented on #5140
Hello @ctrox ,

Without --nodes flag the result is the same. Here the snipper ftom cluster-autoscaler log:

I1107 17:39:19.455773      37 klogx.go:86] Pod ci-test/node-example-main-657d4bb7f4-fqwvn is unschedulable
I1107 17:39:19.455810      37 scale_up.go:375] Upcoming 3 nodes
W1107 17:39:19.455830      37 clusterstate.go:376] Failed to find readiness information for cpu-worker
W1107 17:39:19.455

[2022-11-07 18:44] joelsmith commented on #5298
Sorry about that! It crept in via my copy/paste from a downstream fork. Thanks for fixing it.

[2022-11-07 19:08] jppitout opened #5300 "Namespaces in vpa-rbac.yaml seem to be incorrect"
Service accounts are being created in the `openshift-vertical-pod-autoscaler` namespace which won't exist on vanilla Kubernetes

See commit for reference: https://github.com/kubernetes/autoscaler/commit/bc586f87f8fe5d74bd95802344e3b5675bb5957f

[2022-11-07 19:09] #4876 closed

[2022-11-08 08:38] mohang6770 opened #5302 "when using 0.8.0"
resource mapping not found for name: "verticalpodautoscalers.autoscaling.k8s.io" namespace: "" from "STDIN": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"
ensure CRDs are installed first
resource mapping not found for name: "verticalpodautoscalercheckpoints.autoscaling.k8s.io" namespace: "" from "STDIN": no matches for kind "CustomResourceDefinition" in v

[2022-11-08 09:01] jbartosik commented on #5300
Yes. The fix #5299 already merged

[2022-11-08 09:01] #5300 closed

[2022-11-08 09:04] jbartosik commented on #5302
On what K8s version this is?

`apiextensions.k8s.io/v1beta1` was removed in 1.22 (see [API removals for Kubernetes v1.22](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes)).

[2022-11-08 12:04] #5245 closed

[2022-11-08 13:24] just1900 commented on #4739
Same for this, the pv of ebs contains the following nodeSelectorTerms

[code]

[2022-11-08 15:59] mohang6770 commented on #5302
Thanks..

[2022-11-08 15:59] #5302 closed

[2022-11-08 16:04] ctrox commented on #5140
Aha, it makes sense now why it does not work with your EC2 backed cluster. This is a bit weird, looks like I (wrongly) assumed rancher would always set the `ProviderID` in a consistent way, no matter which backend node driver is used.

Just to be sure, you created your cluster with EC2 using RKE2 like so?

![image](https://user-images.githubusercontent.com/2719925/200614211-b32ed77d-f5dc-4636-b450

[2022-11-08 17:57] mohang6770 opened #5304 "what is causing this?"
this is the log of vpa-recommender...could you please help..

│ E1108 17:50:42.438615       1 reflector.go:126] k8s.io/autoscaler/vertical-pod-autoscaler/pkg/recommender/input/controller_fetcher/controller_fetcher.go:109: Failed to list *v1.StatefulSet: Get https://xx.xx.x.x:443/apis/apps/v1/statefulsets?limit=500&resourceVersion=0: dial tcp xx.xx.x.x:443: i/o timeout

[2022-11-09 05:52] nugzarg commented on #5140
Hello @ctrox ,

Yes cluster type is definitively RKE2 on EC2. Please see screenshot.
![Screenshot_20221109_093347](https://user-images.githubusercontent.com/21188822/200748815-e9a60860-b950-44f6-9a82-ec5471206ac6.png)

Also please see node manifest yaml file in attached file. The file has txt extension, because attaching of yaml is not supported. Simple shange txt extension to yml if you want
[nod

[2022-11-09 08:49] ctrox commented on #5140
I have not tested it but I think it should work with the helm chart. You just need to a few values like `cloudProvider: rancher` and `cloudConfigPath` respectively.

Thanks @nugzarg, I can think of a possible fix but I'm not yet sure when I will have time for that. I will look into it more on friday.

[2022-11-09 11:27] vkannemacher opened #5305 "cluster_autoscaler_max_nodes_count is always equal to 0"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Helm chart version: 9.21.0
Application version: 1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v

[2022-11-09 13:58] nugzarg commented on #5140
Thanks @ctrox .
Maybe this information is also relevant. If let rancher to show the node in API (In older 2.5 version of rancher UI, which is hidden but still present),   nodePoolId key is empty and there is no nodePoolname key.
![Screenshot_20221109_175454](https://user-images.githubusercontent.com/21188822/200849270-176ea102-eb57-43e0-b9f2-34aa72acf754.png)

[2022-11-09 14:32] Shubham82 opened #5307 "Missing RBAC permissions for Azure"
During my investigation of the Cluster Autoscaler on Azure, I found in the [examples](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure/examples) mentioned under Azure cloud provider that it has missing RBAC permissions for `csidrivers` and `csistoragecapacities`.  The same thing is mentioned under the [template for clusterrole](https://github.com/kubernet

[2022-11-09 14:34] Shubham82 commented on #5307
If it seems valid then I'm up for it
/assign

[2022-11-09 20:44] mohang6770 commented on #5296
fixed...

[2022-11-09 20:44] #5296 closed

[2022-11-09 21:54] MarcPow commented on #5109
@liuxintong I suspect consumers of this feature may want to specify a per-node drain interval that might conflict with the more conservative global.  I certainly think that's true in my case...

[2022-11-10 11:01] mohang6770 opened #5308 "500 limit on number of pods??"
Hi
i am trying to deploy VPA on to a cluster with 4000 pods, But after installing the vpa to cluster (./vpa-up.sh) when checking the logs for recommender pod i am seeing this error. Is it because the VPA Supports only 500 pods. or the 500 limit is for the pods deployed with kind:VerticalPodAutoscaler

E1110 10:17:42.628931       1 reflector.go:156] k8s.io/autoscaler/vertical-pod-autoscaler/pkg/rec

[2022-11-10 17:18] gandhipr commented on #5307
LGTM.
Waiting on @feiskyer review

[2022-11-10 22:43] nandorKollar commented on #5304
The communication between the pod and Kubernetes API server looks broken, either because of some network issue, or API server request throttling. Maybe API server logs can tell more if this is a throttling problem, and look for errors in CNI logs for network problems.

[2022-11-11 11:52] Shubham82 commented on #5307
Thanks, @gandhipr, I will wait for @feiskyer comments.

[2022-11-11 12:38] #5304 closed

[2022-11-11 16:18] ctrox commented on #5140
I'm using a custom node driver which is not built-in. My guess is that just the ones that don't have a `Cloud Provider` in Rancher get a `ProviderID` `rke2://`. Anyways, it's clear to me that the autoscaler should not rely on the `ProviderID` anymore. I'm close to finishing up a PR, it will probably be done sometime next week.

[2022-11-11 17:37] #5308 closed

[2022-11-12 08:56] gaurav34065 opened #5311 "AWS me-central-1 region not supported in cluster-autoscaler-1.25.0"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.22.2

Component version: 1.22.2

**What k8s version are you using (`kubectl version`)?**: 1.22

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.15", GitCommit:"1d79bc3bcccfba7466c

[2022-11-14 01:47] 2fst4u opened #5312 "The quickstart instructions are incorrect"
**Which component are you using?**:

 vertical-pod-autoscaler

**What version of the component are you using?**:

Trying to install 0.12

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version 1.25

</pre></details>

**What environment is this in?**:

on prem k3s

**What did you expect

[2022-11-14 07:21] varkey commented on #4456
/remove-lifecycle rotten
/reopen

[2022-11-14 08:22] #4974 closed

[2022-11-14 08:22] #4972 closed

[2022-11-14 09:17] Shubham82 commented on #5307
Hi @feiskyer
Could you please take a look into this issue?

[2022-11-14 09:21] Shubham82 commented on #5312
Hi @2fst4u
It is present under the hack directory. Below is the link for it.
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/hack/vpa-up.sh

[2022-11-14 10:49] frittentheke commented on #1317
/remove-lifecycle stale

[2022-11-14 10:52] frittentheke commented on #1317
@losipiuk  @aleksandra-malinowska @MaciekPytel do you see any chance this feature could be discussed again and how this could be implemented without cluttering the already configuration with more and more settings.

[2022-11-14 12:58] brsolomon-deloitte opened #5314 "Howto: specify additional security groups for cluster-autoscaler"
**Which component are you using?**: `cluster-autoscaler` (Helm chart, chart version 9.x)

**Describe the solution you'd like.**: how can we specify in `values.yaml` that additional AWS EKS worker nodes provisioned using `cluster-autoscaler` should use a set of additional security groups?

My understanding is this needs done through an AWS Launch Configuration, but it is unclear through places such

[2022-11-14 13:26] #4968 closed

[2022-11-14 13:26] #4966 closed

[2022-11-14 13:26] #4946 closed

[2022-11-14 13:52] WebSpider commented on #4604
/remove-lifecycle rotten

[2022-11-14 18:08] nandorKollar commented on #5311
It appears that this region is missing from [Go SDK for AWS v1.38.49](https://github.com/aws/aws-sdk-go/blob/v1.38.49/aws/endpoints/defaults.go). Master also is on this version, might be good to update to a [more recent](https://github.com/aws/aws-sdk-go/blob/v1.44.136/aws/endpoints/defaults.go) SDK version.

[2022-11-15 00:33] PardisTV opened #5316 "MountVolume.SetUp failed for volume "tls-certs" : secret "vpa-tls-certs" not found"
i am having the same issue as #4775 but couldn't find the solution.

$ ./hack/vpa-up.sh
[code]
![image](https://user-images.githubusercontent.com/106784078/201821525-385a9d96-7de3-42d0-b5b6-50d8ddf7f9af.png)

$ kubectl describe pod vpa-admission-controller-6cd97b96bd-jk8nm -n kube-system
[code]

[code]

[2022-11-15 02:16] 2fst4u commented on #5312
The command `git clone https://github.com/kubernetes/autoscaler.git` doesn't clone this script. The directory is differently named tot he instructions too.

[2022-11-15 02:59] PardisTV commented on #5316
i have also ran the vpa-release-0.8:
 $ ./hack/vpa-up.sh
[code]
![image](https://user-images.githubusercontent.com/106784078/201815760-7f735a71-f476-4113-ade0-8fb4268eb008.png)

C:\> kubectl describe pod vpa-admission-controller-cbd858f66-5svdh -n kube-system
[code]

[2022-11-15 03:59] PardisTV commented on #5316
the issue has been resolved by adding one more '/' gencerts.sh line 44
![image](https://user-images.githubusercontent.com/106784078/201823081-f3c70bfa-482e-4804-aee0-1ec4aad31323.png)
 and then run it from wsl terminal instead of git bash.

[2022-11-15 03:59] #5316 closed

[2022-11-15 05:00] Shubham82 commented on #5312
you are looking at the wrong directory, For VPA it should be` autoscaler/vertical-pod-autoscaler/hack/` instead of ` autoscaler/hack/`.

[2022-11-15 08:03] Shubham82 commented on #5307
Hi @gjtempleton and @MaciekPytel
your thoughts on this issue?

[2022-11-15 19:32] x13n commented on #5079
/remove-lifecycle stale

There are a few more changes that need adding, but hopefully initial implementation will land before 1.26 is cut.

[2022-11-15 19:58] jdn5126 commented on #5240
Any thoughts on this?

[2022-11-15 21:08] 2fst4u commented on #5312
Thank you that makes sense. That was confusing.

[2022-11-15 21:08] #5312 closed

[2022-11-16 08:02] youwalther65 opened #5318 "VPA admission controller should be able to use a standard cert-manager certificates"
**Which component are you using?**:
VPA admission webhook

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Currently VPA admission controller uses the [gencerts.sh ](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh) script for creating the vpa-tls-certs secret. This TLS

[2022-11-16 09:24] zone31 commented on #4813
Hey @apatil4 ! We are also experiencing pods getting deleted in argo workflows, when they are using a low amount of cpu. What did you do to get around this?

[2022-11-16 16:43] mohang6770 commented on #1551
where about do you set these values..could anyone give an example yaml file

[2022-11-17 11:49] tomasnorre commented on #5185
I'm facing the same problem.

[2022-11-17 13:04] runningman commented on #3871
For anyone else landing here, it was fixed in eks 1.21
https://aws.amazon.com/blogs/containers/amazon-eks-1-21-released/#:~:text=Cluster%20Autoscaler%20priority%20expander%20for%20managed%20node%20groups

[2022-11-18 13:47] paulcarlton-ww opened #5319 "AutoScaler not scheduling a pod on node group"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c20da9b98005b92e", GitT

[2022-11-18 16:26] bjd2385 opened #5321 "Autoscaler libvirt interface"
**Which component are you using?**: cluster autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**: Autoscaling with [libvirt](https://libvirt.org/)'s API. I could see wide adoption by on-premise folks who are "running it themselves," instead of using proprietary autoscaling controllers only available in the cloud or expensive pai

[2022-11-19 10:17] #4545 closed

[2022-11-19 17:23] #4957 closed

[2022-11-20 17:00] ialidzhikov commented on #4545
I think this was meanwhile somehow resolved. In our `go.mod` files we don't have anymore

[code]

but

[code]

Maybe we had some legacy transitive dependencies that were still pulling `k8s.io/autoscaler` and not `k8s.io/autoscaler/vertical-pod-autoscaler`.

[2022-11-20 18:36] rittneje commented on #4699
/remove-lifecycle stale

[2022-11-21 15:45] #5321 closed

[2022-11-21 18:51] sdickhoven commented on #4789
i am seeing the same problem.

my setup is very similar to @psharik1's setup:

cluster-autoscaler v1.23.1

[code]

aws eks cluster v1.23 w/ managed node group.

`$ kubectl version -o yaml`:
[code]

i only have a single managed node group (with a single instance type) so there are no complications around _which_ asg cluster-autoscaler should be scaling up/down.

this node group is spread across thr

[2022-11-22 02:02] magicmatteo commented on #5319
Im also having this issue on AKS

[2022-11-22 06:18] Shubham82 commented on #5307
Thanks, @gjtempleton for taking look at it.

Yeah, you are right.
So for this issue, I will raise a PR for the Azure cloud provider, and after that, I will look into the other cloudproviders examples folder.

[2022-11-22 06:51] Shubham82 commented on #5307
Fixed it here: #5323

[2022-11-22 10:16] miroljub1995 opened #5324 "Make use of Capabilities.KubeVersion so we do not need to override image.tag in helm"
**Which component are you using?**:
cluster-autoscaler (helm)

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
no

**Describe the solution you'd like.**:
It would be great if image tag could be inferred based on  Capabilities.KubeVersion so that we do not need to override image.tag in Chart Values. Right now default tag is v1.23.0, bu

[2022-11-22 13:20] jdheyburn commented on #5106
/remove-lifecycle stale

[2022-11-22 14:05] jbartosik commented on #5318
Thank you for the idea. I don't expect to have capacity to work on this myself in the near future but I'm happy to review PRs

[2022-11-23 15:05] jeromeinsf commented on #4005
/remove-lifecycle stale

[2022-11-23 15:26] aabababb opened #5327 "how can I use hpa for all Deployment?"
[code]

can not use the lable?

[2022-11-23 16:25] #4775 closed

[2022-11-24 15:12] #4989 closed

[2022-11-25 07:09] jbartosik commented on #5327
Hi,
HPA lives in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/podautoscaler) repo, please open feature requests there.

[CrossVersionObjectReference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#crossversionobjectreference-v2-autoscaling) currently doesn't have any fields that would allow what you're asking for.

[2022-11-25 07:09] #5327 closed

[2022-11-25 08:14] Shubham82 commented on #5258
Hi @h326370,
Closing this issue, as your query is answered. Please open it again if you will have any doubts.

/close

[2022-11-25 08:14] #5258 closed

[2022-11-25 11:22] #4991 closed

[2022-11-25 11:38] nc-gcz commented on #1551
@mohang6770, I think it's here (taken from Fairwinds VPA Helm chart): https://artifacthub.io/packages/helm/fairwinds-stable/vpa#utilize-prometheus-for-history

[code]

Adjust the addess to match your Prometheus instance.

[2022-11-25 12:35] pat-s commented on #4988
This might also be the root of my current issue - I see evictions of pods which actually have `cluster-autoscaler.kubernetes.io/safe-to-evict: false` set.

[2022-11-25 16:34] mohang6770 commented on #1551
Hi

Is there anyway we can do that extraargs on a yaml manifest..

Thanks

On Fri, Nov 25, 2022 at 11:39 AM Grzegorz Czarnocki <
***@***.***> wrote:

[2022-11-25 16:37] mohang6770 commented on #1551
Hi

Is there anyway we can do that extraargs on a yaml manifest..

On Fri, Nov 25, 2022 at 11:39 AM Grzegorz Czarnocki <
***@***.***> wrote:

[2022-11-25 17:52] andre-lx commented on #3780
I can confirm that after setting the right tags to the ASG's everything works perfectly even if the autoscaler restarts.

[2022-11-26 04:55] zestysoft opened #5331 "TLS cert issues?"
**Which component are you using?**:
vertical-pod-autoscalar

**What version of the component are you using?**:
master branch
k8s.gcr.io/autoscaling/vpa-admission-controller:0.12.0
k8s.gcr.io/autoscaling/vpa-recommender:0.12.0
k8s.gcr.io/autoscaling/vpa-updater:0.12.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output

[2022-11-26 08:29] #4992 closed

[2022-11-26 08:29] #4995 closed

[2022-11-27 23:28] OndroNR commented on #4803
/remove-lifecycle rotten

[2022-11-28 06:45] liuxintong commented on #5109
@MarcPow That sounds reasonable. Fine-grained graceful termination control sounds like a nice feature. I'll try to make it in the next week.

[2022-11-28 09:01] VitaliiBabii commented on #5278
For us recreating pods fixes issue only for several hours . It looks like some CA cache bug.

[2022-11-28 09:33] jbartosik commented on #5046
Sadly ([source](https://github.com/kubernetes/kubernetes/pull/102884/#issuecomment-1324175261)):

[2022-11-28 12:00] Shubham82 opened #5332 "Link for cloud-controller-manager is not working."
**Problem:**

The Link for `cloud-controller-manager` under [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-cluster-autoscaler-remove-nodes) is not working. It redirects to k8s v1.19 docs, which are not supported now by k8s. and this cloud-controller-manager reference page is removed in k8s v1.20. There is no reference page for it in k8s docs.
There is

[2022-11-28 12:03] Shubham82 commented on #5332
Hi @gjtempleton @mwielgus
PTAL!

[2022-11-28 12:04] Shubham82 commented on #5332
/kind bug
/kind documentation

[2022-11-28 17:10] voelzmo commented on #5331
You should be able to generate certs with different means and put them into the secret `vpa-tls-certs`, for example with cert-manager
[code]

Just make sure the adjust the startup args of the admission-controller to fit the certificate names in the mounted secret, like described here: https://github.com/kubernetes/autoscaler/issues/5318#issuecomment-1329445376

[2022-11-28 22:41] manishsat opened #5334 "Add support for VMSS flex in Azure cluster autoscaler"
**Which component are you using?**:
cluster-autoscaler

**Which component hosted in this repository is this a feature for?**
Azure

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Azure cluster autoscaler currently supports Virtual Machine Scale Set with Uniform orchestration. Cloud-Provider-Azure has already added support for Virtua

[2022-11-29 07:02] zhengbingxian commented on #4750
gcr.io/google-containers/stress:v1   also unsupport arm64 。 This is Kubernetes project,  It's so bad and pity that this project  don't do more test for other arch.

[2022-11-29 14:44] McGon-Fid commented on #5332
I will work on this and open a PR shortly. Thanks

[2022-11-29 14:52] jabdoa2 commented on #4667
Waiting did not fix it.

/remove-lifecycle stale

[2022-11-29 17:37] ArchiFleKs commented on #1869
I have the same issue on EKS 1.23 which might be related to this. Pods can be schedule once the nodes are manually scaled but at 0 I get an `Insufficient ephemeral-storage`

[2022-11-29 20:41] fifthpostulate opened #5337 "CA Does not Scale Down Empty Node"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
v1.23.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.22

**What environment is this in?**:
AWS

**What did you expect to happen?**:
CA should scaled down empty node.

**What happened instead?**:
CA does not scale down empty node:
```###.compute.internal is no

[2022-11-29 23:01] maximrub opened #5338 "Support AliCloud RRSA auth"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

1. ACK clusters in AliCloud do not allow to use a pre existing RAM role, only the RAM role created with cluster
2. Allows to give the needed roles to the autoscaler pod only

**Describe the solution you'd like.**:

Allow use of [R

[2022-11-29 23:09] #5338 closed

[2022-11-29 23:09] maximrub opened #5339 "Support RRSA auth in AliCloud"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

1. ACK clusters in AliCloud do not allow to use a pre existing RAM role, only the RAM role created with cluster
2. Allows to give the needed roles to the autoscaler pod only

**Describe the solution you'd like.**:

Allow use of [R

[2022-11-30 01:05] marianafranco opened #5341 "Configure Dependabot security updates?"
[Dependabot](https://docs.github.com/en/code-security/dependabot) can notify of insecure or old library versions, helping to keep dependencies up-to-date.

I have a private fork of 1.21.3 in which dependabot is complaining of some old dependencies.

**Why?**

Pros:

- Notifies of newer library versions (https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-depe

[2022-11-30 11:06] Shubham82 commented on #5332
Hi @McGon-Fid
It is better if maintainers will give their views on this, so let's wait for @gjtempleton @mwielgus response. After confirmation, you can raise the PR.

[2022-11-30 11:06] Shubham82 commented on #5332
/assign @McGon-Fid

[2022-11-30 14:41] zhouke1991 opened #5343 "cluster-autoscaler binary contains high and critical vulnerabilities"
There are lots of high and critical vulnerabilities that were scanned by [trivy](https://github.com/aquasecurity/trivy).
The scanning result of cluster-autoscaler:v1.23.0 is as follows, v1.22.0 and v1.24.0 are the same with it.

Vulnerability | Severity | Score | Image | Binary | Dependency |
-- | -- | -- | -- | -- | --
CVE-2022-1996 | critical | 9.1 | cluster-autoscaler:v1.23.0 | cluster-autoscal

[2022-11-30 15:21] jensjeflensje commented on #5185
Hi, I ran into the same issue and fixed it by using the 1.24 autoscaler. I'm also running k3s 1.24 and matching that version with the autoscaler version, it works. You just have to check out the `cluster-autoscaler-release-1.24` version of autoscaler, and build and use that image.