[2020-10-05 09:06] MaciekPytel commented on #3204
Sorry, I missed this earlier. We're happy to accept more provider integrations, but we (core developers) are unable to even support existing ones anymore. Instead each provider has its own owners who maintain it. So a prerequisite to accepting a new provider would be to have someone willing to take responsibility for it.

/remove-lifecycle rotten

[2020-10-05 18:40] abudavis commented on #3539
Tried to use the Operator version of the VPA, same error when application is a 'Deployment', see permission error below:
It however does work when application is in a 'StatefulSet'

`# oc describe pod vpa-recommender-default-68766dfb49-xrrhd
Name:                 vpa-recommender-default-68766dfb49-xrrhd
Namespace:            apic
Priority:             2000000000
Priority Class Name:  system-cluste

[2020-10-05 21:08] unixfox commented on #3569
That's a very good idea because this would allow to deploy autoscaling on cheaper (managed) kubernetes solution like OVH, linode, vultr and more that don't support autoscaler yet.

[2020-10-06 15:40] Unichron commented on #3554
If you really added the "cluster-autoscaler.kubernetes.io/scale-down-disabled": "true" annotation to the node correctly (please double check) then it's probably not a CA problem. If the node in question is part of an autoscaling group, it could be caused by an AZ Rebalance event, which can be disabled in the aws console.

[2020-10-06 16:24] dharmab commented on #3130
We haven't seen this since upgrading to 1.18. I'll close this issue for now.

[2020-10-06 16:24] #3130 closed

[2020-10-06 22:21] marwanad opened #3583 "Nodegroup Interface for per-nodegroup configuration"
Forking this off a thread in Slack.

Motivation behind this is to have some of the CA parameters operate on the nodegroup level. For example, have a different `scale-down-utilization-threshold` for every nodegroup instead of a cluster-wide setting.

From @marwanad:

From @MaciekPytel:

[2020-10-07 08:55] dhouhamaa commented on #2045
Hi everyone ,
Is there any update regarding this issue ?  running at least 2 replicas didn't solve the problem , I often have my app not available when CA is scaling up or down!

[2020-10-07 09:05] MaciekPytel commented on #2045
@dhouhamaa This can happen if your both pods happen to be scheduled on the same node. You can define a PodDisruptionBudget to only allow one of your 2 pods to be down at any given time - CA will respect PDB and never restart both at the same time.

[2020-10-07 09:12] dhouhamaa commented on #2045
@maciaszczykm But the idea of replicas is not so optimal in my case , because I have more than one app running in each namespace and thus multiple pods already , setting 2 replicas for each is not the best way I guess. I was looking if there was another workaround to avoid downtime without the need for the replicas.

[2020-10-07 09:31] dbenque commented on #3407
@marwanad @elmiko , since you commented on the issue, any chances you help me in getting the PR #3545 reviewed ?
@elmiko : I added the flag to opt-in for the new feature
@marwanad : I used the pod termination grace period, but also added and extended period

Thanks.

[2020-10-07 09:37] MaciekPytel commented on #2045
There is no workaround I can think of and I don't think there will be anytime soon - you can't possibly remove a node without stopping the pods running on it. So your options are really either prevent scale-down of nodes that run single pods (using PDB, annotation, etc) which will hurt utilization or you can run multiple replicas of each app (along with PDB) to allow scale-down without disruption.

[2020-10-07 12:52] elmiko commented on #3407
@dbenque happy to help review

[2020-10-07 13:39] bskiba commented on #3574
Thanks a lot for reporting.
Is there a Kubernetes version in which this will stop working in the current form?
If we want to change this, we need to do it carefully, possibly avoiding issues with reading the old objects after upgrade.

[2020-10-07 13:40] bskiba commented on #3567
Thanks for reporting.
Is this only a problem with seccomp annotation or is it all annotations?
Would you be interested in contributing a fix?

[2020-10-07 13:47] bskiba commented on #3553
I doubt this is a problem specific to VPA, could you report the issue to GKE? I'm not entirely familiar with terraform, it would be good to understand what it executes during these 28 minutes. Is it just calling the GKE API to modify the VPA enabled setting?

I'll close this issue as it's unlikely to be a problem within VPA itself, but please do report with GKE if you can.

[2020-10-07 13:47] bskiba commented on #3553
/close

[2020-10-07 13:48] #3553 closed

[2020-10-07 14:04] bskiba commented on #3539
For the following error:

Please make sure VPA can access scale subresource:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/deploy/vpa-rbac.yaml#L162

I still don't know which VPA version this is, can you take a look at vpa-recommender logs, it should print the version number there.

[2020-10-07 14:13] bskiba commented on #3508
If you're interested, we welcome contributions :) Let me know if you need help.

[2020-10-07 14:18] jmcmeek commented on #3567
It would help if I had remember to include this:

`seccomp` graduated to GA in Kubernetes 1.19.  In 1.19 you should be able to create pods using the seccompProfile field in the securityContext as described in https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#seccomp-graduates-to-general-availability

I suspect what is happening is that the Kubernetes go client used b

[2020-10-07 14:19] bskiba commented on #3495
Closing in favour of #3497
/close

[2020-10-07 14:19] #3495 closed

[2020-10-07 14:20] bskiba commented on #3468
I'm not sure I understand, what kind of pollInterval are you talking about? What are we making to many requests to? Is it the API server?

[2020-10-07 14:22] bskiba commented on #3466
I'll close this issue, please reopen if there is more to be done.
/close

[2020-10-07 14:22] #3466 closed

[2020-10-07 16:14] grosser commented on #3468
yes, the api server.
seeing ~300 rpm

[2020-10-07 20:14] eatwithforks commented on #3537
I'm using 0.8.0@sha256:87ab478afdfb31700aa58c848c2fa83b07e9cd9e0261bf447f8b510f03b86a44 and my setup is copied from https://github.com/kubernetes/autoscaler/tree/vertical-pod-autoscaler-0.8.0/vertical-pod-autoscaler/deploy. I'm using the recommender-deployment to only get recommendations only at the moment.

[2020-10-07 22:38] #3533 closed

[2020-10-08 08:12] bskiba commented on #3468
You can try tweaking two parameters:
- [metricsFetcherInterval](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/main.go#L37) - determines how often the vpa-recommender calculates recommendations, you can go above the 1 minute period
- [kubeApiQps and kubeApiBurst](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommend

[2020-10-08 10:21] viggyr commented on #3541
Facing the same issue here. Any update to this?

[2020-10-08 15:10] grosser commented on #3468
thx for the pointers!
we have 100+ vpa objects (one for each deployment)
it would be great if vpa could do some batch requests (stats for all
deployments) instead of doing 1 request per vpa,
but idk how hard that would be to implement.

On Thu, Oct 8, 2020 at 1:12 AM Beata Lach (Skiba) <notifications@github.com>
wrote:

[2020-10-08 15:12] kewynakshlley opened #3591 "vpa object should record info about pod resizing on its events property"
I am working on a benchmark between VPA and HPA using Kubernetes and to do that I am basing myself in metrics like time of events, application and resources usage in the node. So, one of my goals is to identify when a pod is recreated with more resources when using VPA, and I thought this information would be stored in the events property when describing my VPA object, but it doesn't happen, this

[2020-10-08 15:16] bskiba commented on #3468
It does only 1 query for the metrics. Most calls come from modifying the VPA object status (can't be done in bulk, at most one request per VPA object) and saving checkpoint objects (can't be done in bulk, one request per VPA object) which is needed for recommendations to stay unchanged if vpa-recommender restarts. There's also a bunch of calls from informers, but those are relatively low volume li

[2020-10-08 15:20] grosser commented on #3468
thx again, great info!

[2020-10-08 15:31] bskiba commented on #3468
/close

[2020-10-08 15:31] #3468 closed

[2020-10-08 16:36] ryaneorth commented on #3568
thanks @towca @marwanad for finding/fixing this issue! any idea when/if this will make it into a patch release for versions 1.16.x/1.17.x?

[2020-10-08 17:09] #2806 closed

[2020-10-08 17:48] Jeffwan commented on #1869
@boostrack

It is supported on EKS. please check doc here https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#auto-discovery-setup. You need to tag ASG to let autoscaler know the template

[2020-10-08 18:47] nitingadekar commented on #3503
This label is present, and node-selector does uses same selector to schedule. Problem is CA ignores this label and does not mark the node as schedulable.

[2020-10-08 19:56] hans72118 opened #3592 "CA does not work properly while using AWS EC2 IMDSv2 only in EKS"
Recently AWS EKS supports EC2 Instance Metadata Service v2.
 - https://aws.amazon.com/about-aws/whats-new/2020/08/amazon-eks-supports-ec2-instance-metadata-service-v2/

In my testing environment, I create a worker node with IMDSv2 only and it requires to use token-backed sessions to access IMDS.
 - https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html

Howe

[2020-10-08 22:52] tamalsaha commented on #3574
I think it will affect from k8s 1.16 and later versions if users want to use CRD openapi validation.

[2020-10-09 00:27] binman-docker commented on #3515
Thanks again for those edits. It seems like the `balancing-ignore-label` flag isn't working as expected. The cluster-autoscaler logs show the groups were considered not similar because of some labels, even though they are in the list.

See first comment for the configuration. Confirmed from the logs:
[code]

Group similarity rejected thanks to the `topology.ebs.csi.aws.com/zone` label:

[code]

An

[2020-10-09 14:06] TBBle commented on #3515
Okay, from that clue, I now know what's going on. It turns out `balancing-ignore-label` and `node-group-auto-discovery` is a false-equivalence.

[code]
is a _single_ string-value option `asg:tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/mycluster`, which is carried through to [`parseASGAutoDiscoverySpec`](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.19.0/clu

[2020-10-09 16:42] binman-docker commented on #3515
Yeah that bracketed list being quoted seemed off to me, which is why I tried to double-check with a similar flag.

Let me confirm it works with the hopefully correct formatting, and then I'll open a PR to update the docs.

[2020-10-09 18:24] ryaneorth commented on #3568
@MaciekPytel - maybe you know the answer to the above question?

[2020-10-09 18:29] marwanad commented on #3568
@ryaneorth we can prepare the cherry-pick PRs. I'm guessing we'll have one set of patch releases before K8s 1.20 and another around 1.20.

[2020-10-09 18:48] binman-docker commented on #3515
Yep that's better:

[code]

Ideally I would have liked to see it split across all three groups, but I assume it's trying to scale evenly (2 and 2) rather than unevenly (1 and 1 and 2), and that would be a separate issue.

I'll open a PR today to update the docs. Thank you to everyone who helped diagnose!

[2020-10-09 18:58] ryaneorth commented on #3568
Sounds great, thanks @marwanad . I'm happy to perform the cherry-picks if you'd like - let me know!

[2020-10-09 19:17] marwanad commented on #3568
@ryaneorth that would be great, thanks!

[2020-10-10 18:57] #3007 closed

[2020-10-11 20:47] abudavis commented on #3539
@bskiba : That was it, works now, Thank you !

[2020-10-12 15:22] pierluigilenoci opened #3605 "cluster-autoscaler-chart chart 1.0.5 and 1.1.0 releases are missing"
Ref:
`wget https://kubernetes.github.io/autoscaler/index.yaml`

[2020-10-12 15:23] pierluigilenoci commented on #3605
@bskiba could you please take a look?

[2020-10-12 15:29] Kydybets commented on #3605
same for me

[2020-10-12 15:33] ygrosu commented on #3605
same here

[2020-10-13 00:26] cabrinha commented on #3454
Yes, I've tested on EKS with roles and it appears to be fine.

[2020-10-13 00:29] gjtempleton commented on #3454
Thanks for confirming!
/close

[2020-10-13 00:30] #3454 closed

[2020-10-13 00:33] cabrinha commented on #3571
This should be a simple process and will help adoption and migration from the deprectated chart.

[2020-10-13 07:52] es1o commented on #3309
@tmatias I use default, random.

[2020-10-13 08:32] #3515 closed

[2020-10-13 18:56] cabrinha commented on #3571
@gjtempleton if you could open the PR to get this chart added to chartcenter, it'd be a big help.

I might be able to open the PR myself and just get an owner here to approve it.

[2020-10-13 20:25] gjtempleton commented on #3571
@cabrinha I'd rather resolve the renaming of the chart from `cluster-autoscaler-chart` to `cluster-autoscaler` (i.e. get it back to the previous name) before raising the PR to get it included. I should have some time to look at achieving that again tomorrow.

Once that's done I'm happy to raise the PR.

[2020-10-13 20:26] gjtempleton commented on #3571
/assign gjtempleton

[2020-10-13 23:21] brenwhyte commented on #3592
Got hit with this too, EKS 1.17

[2020-10-14 05:16] infa-ddeore commented on #3044
any updates on this? `1.15.7` CA is getting killed by k8 due to high memory usage.
CA reached to 1.3G memory utilisation with cluster of ~80 nodes but was killed by k8

so the option we tried is `--aws-use-static-instance-list=true` and now the memory utilisation dropped down to ~250MB

there is no issue with 1.14 CA

[2020-10-14 09:02] MaciekPytel commented on #3044
@Jeffwan @jaypipes Based on comments above this seems like it may be a memory leak in AWS provider.

[2020-10-14 12:59] hprotzek commented on #3531
@bskiba After upgrading GKE to 1.18.9-gke.801 the vpa config for the Prometheus Operator resources are working as expected. Thank you for helping :-)

[2020-10-14 12:59] #3531 closed

[2020-10-14 13:01] bskiba commented on #3531
Thanks for confirming! Glad it helped.

[2020-10-14 13:04] benmoss opened #3611 "Cluster autoscaler patch releases"
With the latest CAPI changes that have landed in the cluster autoscaler, can we have a set of patch releases for 1.17, 1.18, and 1.19?

`<copy-pasta from #3317>`
Tagging all cloudprovider owners for visibility:
cc: @ringtail @Jeffwan @jaypipes @feiskyer @marwanad @nilo19 @hello2mao @frobware @enxebre @elmiko @hardikdr @detiber @ncdc @andrewsykim @MorrisLaw @tghartland @mwielgus @gjtempleton @Macie

[2020-10-14 14:17] #3399 closed

[2020-10-14 14:34] pierluigilenoci commented on #3605
@tghartland @displague @Ladicle could you please help?

[2020-10-14 14:35] pierluigilenoci commented on #3605
@mwielgus or @maciekpytel maybe you?

[2020-10-14 18:29] abudavis commented on #3539
I deployed a different application and this time, got the same error back, any ideas?

[code]
I tried an oc describe and found this :

[code]

[2020-10-14 19:31] prios-peter-olivo commented on #3605
I am having this issue as well :(

[2020-10-14 20:42] scsinke opened #3614 "Local cluster scaling based on Wake-on-Lan"
Besides cluster scaling by cloud providers, maybe people like to see a way to run this locally?

[2020-10-15 05:22] ajcann commented on #3071
@therc Did you ever get traction on this or find a workaround / different understanding?

[2020-10-15 05:29] ajcann commented on #3409
Hi @MaciekPytel - I believe we're running into this as well and my understanding is this is a CA bug. In our case we had a pod pending with a toleration only a specific ASG/nodegroup could provide (The ASG is tagged with taint so I'm fairly sure CA is aware of it), this ASG could not scale up due to lack of instance availability. During this time our cluster scaled out a few other node groups (a f

[2020-10-15 05:46] nomis-rzp commented on #3409
@ajcann My issue was different. We had another custom scheduler running in the cluster and that was preventing one of our pod from scheduling. Once we fixed that, CA started to scale down nodes..

[2020-10-15 06:03] tsunny opened #3615 "Provide option to balance label based on the given labels"
It would be nice to have a flag that could be passed to the autoscaler to chose the flags to compare the nodes if they are same.

This request would be the opposite of [https://github.com/kubernetes/autoscaler/pull/2493](url).

At the moment, in our project we are passing a lot of labels to this flag to be ignored. This can be simplified by passing in the opt-in labels vs exclude labels using a di

[2020-10-15 07:19] infa-vmannam opened #3616 "VPA failed to deploy 0.9.0 with Exception"
The latest VPA 0.9.0 seem to have a bug as it is failed to install on the cluster and throws the below exception,

`F1015 04:54:18.048175       1 config.go:115] the server could not find the requested resource`

Steps to Reproduce:
* take a new cluster/ remove the existing VPA
* run ./hack/vpa-up.sh with all default values
* You can observer pod/vpa-admission-controller* is in CrashLoopBackOff
* c

[2020-10-15 07:58] gjtempleton commented on #3605
For future reference, I'm currently the best person to tag on any issues with the CA's Chart as per the [Chart directory's OWNERS file.](https://github.com/kubernetes/autoscaler/blob/master/charts/OWNERS)

I've just raised the PR to add these as #3617 -  due to the branch protection enforced on this repo the automated push to the gh-pages branch method used by the Helm chart releaser action fails

[2020-10-15 08:25] Ladicle commented on #3616
It works well on my cluster. Did you successfully apply CRDs?

[code]

[2020-10-15 08:28] infa-vmannam commented on #3616
@Ladicle  Yes, I see all the CRDs applied successfully. One difference I see here is the Kubernetes version. I'm using 1.15

[2020-10-15 08:37] Ladicle commented on #3616
hmm... I tried deploying it to a v1.15 cluster, but it also works well.

[code]

[2020-10-15 14:30] nitrag commented on #3044
I tried @infa-ddeore suggestion of static instance list. On my two clusters with minimal load I get average around 250mb before/after. On my production cluster memory was ~650-750mb past few days but after enabling static instance list it jumped to 950mb.

[2020-10-15 14:32] nitrag commented on #3044
Well now after reverting it starts at 500mb and within 15 seconds it climbs to 950mb before k8s kills it for exceeding memory requests. HELP!

[2020-10-15 15:06] abudavis commented on #3539
This has been told to be a problem with the Operator, closing the issue.

[2020-10-15 15:06] #3539 closed

[2020-10-15 18:51] tomkerkhove commented on #3182
Thanks for the thorough answer and sorry for not responding.

I'll look at the fake pod route. The only argument for the API would be to make this transparent to users by not having random pods show up to trigger the scaling which would make the user experience better, but that might not be enough for the effort to implement it.

[2020-10-15 20:56] #2936 closed

[2020-10-16 08:26] gjtempleton commented on #3605
Closing as #3617 has been merged and validated fetching both `1.0.5` and `1.1.0` locally.

/close

[2020-10-16 08:26] #3605 closed

[2020-10-16 09:26] alisachen commented on #3507
@KR411-prog How to enable the metrics for cluster autoscaler?

[2020-10-16 13:37] ahmad-hamade opened #3623 "Can't find latest cluster-autoscaler-chart release"

[2020-10-16 13:39] #3623 closed

[2020-10-16 14:24] MaciekPytel commented on #3507
I think they should be on by default, with Prometheus endpoint available on localhost:8085/metrics (you can change port with flags).

[2020-10-16 15:30] bskiba commented on #3537
In that setup what vpa action is undesirable? VPA should only fetch custom resources if a VPA object is configured to point at one.

[2020-10-16 15:33] bskiba commented on #3591
Currently the event is recorded on the pod object (as in the code snippet you included). Do I understand correctly that in addition to/instead of recording event on the pod, you would like to record the event on the VPA object?

[2020-10-16 15:37] bskiba commented on #3574
I'm not seeing any errors in 1.16, is CRD openapiv3 validation with structural schema an opt-in feature? If yes, how do you turn it on?

[2020-10-16 15:42] bskiba commented on #3616
I'm just testing this on 1.15, but worked fine for me as well. Could you paste some more logs from admission-controller? Does a 0.8 VPA version work ok on the cluster?

[2020-10-16 15:56] kewynakshlley commented on #3591
@bskiba Yes. I think that would be better because, in the context of VPA, the Pod itself can be destroyed/replaced and the information about events can be lost/hard to track.  Pods resized vertically don't save information about events of previous pods.

[2020-10-16 16:11] jaypipes commented on #3044
I'm going to have to bisect to see what changed between the 1.14 and 1.15 CAS w/AWS release. At this point, I'm just not sure; I didn't think there were many changes actually to the AWS-specific code between 1.14 and 1.15.

[2020-10-16 16:46] bskiba commented on #3591
That sounds reasonable, would you be interested in contributing?

[2020-10-16 17:02] eatwithforks commented on #3537
I haven't created a VPA object for the custom resources, only for known resources ["Deployment", "DaemonSet", "Job", "StatefulSet", "CronJob"]. The error I saw coming from the vpa-recommender was
[code]

This went away after adding the extra rbac rules for this specific /scale subresource. Does this info help?

[2020-10-16 21:16] kewynakshlley commented on #3591
Yes, of course. But I need to say that It would be my first time ever contributing to an open source project of this magnitude. But I think I can handle it.

[2020-10-17 03:12] KR411-prog commented on #3507
We are installing cluster autoscaler using helm chart
https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler-chart/values.yaml#L19

And servicemonitor is enabled in the values.yaml file.
[code]

[2020-10-17 20:42] #2783 closed

[2020-10-17 20:42] #3143 closed

[2020-10-18 07:04] neha-viswanathan commented on #3529
/close

[2020-10-18 12:58] #2858 closed

[2020-10-18 16:32] tamalsaha commented on #3574
From https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema

`With apiextensions.k8s.io/v1 the definition of a structural schema is mandatory for CustomResourceDefinitions. In the beta version of CustomResourceDefinition, the structural schema was optional.`

[2020-10-18 17:35] miguescri commented on #3204
Understood. And about this?

[2020-10-18 17:41] miguescri commented on #3614
Apparently adding new providers is difficult right now due to lack of maintainers. See #3204

[2020-10-18 17:44] miguescri commented on #3569
+1

[2020-10-18 23:17] llamahunter commented on #3475
What's the status on renaming the chart not to have '-chart' in the name?

[2020-10-19 05:12] frittentheke commented on #1317
/remove-lifecycle stale

[2020-10-19 06:25] kamsz commented on #3033
/remove-lifecycle rotten

[2020-10-19 06:25] kamsz commented on #3033
This is still an issue.

[2020-10-19 06:44] stevehipwell commented on #3475
@llamahunter I'd assume the blocker is still helm/chart-releaser-action#37 as the issues hasn't been closed and there hasn't been a release.

[2020-10-19 10:09] pierluigilenoci commented on #3605
Thank you!

[2020-10-19 13:48] dvianello commented on #1658
I'm not sure closing this is the right thing to do :-) @MaciekPytel ?

[2020-10-19 15:38] MaciekPytel commented on #3583
I've put some more thoughts on why I prefer cloudprovider-based implementation over configmap: https://github.com/kubernetes/autoscaler/pull/2989#issuecomment-712245350.

[2020-10-19 16:31] hhamalai commented on #3506
Experienced the same OOM issue when disabling IMDSv1 and switching purely to use IRSA, but the deployment was missing AWS_REGION environment variable, which leads Cluster Autoscaler to query the pricing information for all available regions. With these JSON document sizes, OOMKills are likely to happen. With AWS_REGION specified, only matching pricing data will be retrieved https://github.com/kube

[2020-10-19 16:43] ryaneorth commented on #3568
All of the above cherry-picks are complete. @MaciekPytel - do you have any information as to when the next patches will be released?

[2020-10-19 16:46] marwanad commented on #3568
@ryaneorth keep an 👀  on https://github.com/kubernetes/autoscaler/issues/3611

[2020-10-20 05:38] infa-ssaurabh commented on #3529
@neha-viswanathan more over  the link https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases just say about the k8 version and ca version mapping. I couldn't find a guide which I can refer for 1.15 or 1.16 version installation.

[2020-10-20 06:02] infa-vmannam commented on #3616
@bskiba  @Ladicle that's interesting, yes 0.8 installed fine on the 1.5 version cluster. let me try this version again and share the logs

[2020-10-20 08:30] infa-vmannam commented on #3616
@bskiba @Ladicle Still fails on 1.15 cluster below are the logs from admission-controller

[code]

[2020-10-20 08:39] bskiba commented on #3616
0.9.0 uses admissionregistration/v1 API which actually seems to be enabled since k8s 1.16 according to docs (https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#prerequisites).
I'm going to recheck my setup on 1.15 to see why it worked for me and I'll add the required version to the docs. Thanks a lot for reporting.

[2020-10-20 08:44] bskiba commented on #3616
I'm seeing the crashes as well on 1.15, I was too quick with my previous check, apologies.

[2020-10-20 10:20] infa-vmannam commented on #3616
@bskiba no worries, glad it helped

[2020-10-20 10:24] tehleet opened #3633 "Add custom labels"
https://github.com/kubernetes/autoscaler/blob/d054bb248f9689eef39be21f796fafd236437073/charts/cluster-autoscaler-chart/templates/_helpers.tpl#L42-L49

at the moment labels helper doesn't allow to add "custom" labels, would be great to enable this, etc

[code]

and following change to values.yaml file
[code]

[2020-10-20 10:42] infa-vmannam opened #3634 "REGISTRY variable supported for VPA doesn't honour private registries"
exporting REGISTRY variable for vpa-up.sh doesn't really solve downloading images from private ones. I checked deployment definitions for the components, and pullSecrets is missing. Strongly believe if the REGISTRY is exported there must be some way to pass pull secrets as well.

expected change:
* if Registry is set, please also take docker secrets name to render pull secret in deployment definit

[2020-10-20 16:19] ericandrewmeadows commented on #2947
@MaciekPytel Is this available somewhere?  It is driving me up a wall that it goes so slow!

[2020-10-20 16:55] MaciekPytel commented on #2947
@ericandrewmeadows Not sure what you're asking about? Some sort of custom resource based solution? If so it is not and I don't think anyone is working on that (and, frankly, it seems more like a DIY/fork type of solution given that it would require a custom controller to manage the resource in the first place).

For 1 pod per node case hostport hack is still probably the easiest way to do this. Po

[2020-10-21 08:37] sudip-moengage commented on #2337
@shray-chadha How did you overcome the problem? I'm facing same.

[2020-10-21 11:48] yashbhutwala commented on #2747
/remove-lifecycle stale

[2020-10-21 13:16] OctavioCore commented on #2333
/remove-lifecycle stale
If this isn't resolved yet, i'll bump it up - this would be very, very helpful.
Our CA is configured like this:
`  logtostderr: true`
 ` stderrthreshold: ERROR`
 ` v: 4`
and we're getting ~100k logs per day.

[2020-10-21 20:50] varunpalekar commented on #3044
We are also getting a similar issue, in starting memory will go high around 1 GB but after 5 min it's 100 MB only.

cluster autoscaler image: tried both `1.15.6` and `1.15.7`
k8s version: `v1.15.10`
cloud-provider: `aws`
Cluster Size: `approx 40 nodes`

[2020-10-22 11:55] #3151 closed

[2020-10-22 13:19] mattfarina opened #3638 "Add chart repo to Artifact Hub"
The [Artifact Hub](https://artifacthub.io) is a place discover cloud native artifact (Helm charts, operators, etc). This is a request to add the autoscaler chart repo you are running to it. Specifically, https://kubernetes.github.io/autoscaler.

Currently, when people search the Artifact Hub they will discover the cluster autoscaler as presented by banzaicloud with an out of date version. It would

[2020-10-22 23:24] adamnovak opened #3639 "Cluster Autoscaler on AWS does not remove deleted nodes' Node objects from the cluster when scaling down"
I have set up the cluster autoscaler on AWS. I have the AWS cloud provider set up for both the leader and the workers. It seems to work overall: I can launch jobs, and the autoscaler will scale up my AWS autoscaling group to get more nodes, and then scale it down again after the jobs finish.

However, the autoscaler's decision to delete a node, and its eventual successful destruction of it, doesn'

[2020-10-22 23:42] #1653 closed

[2020-10-23 06:59] Jeffwan commented on #3639
/assign @jaypipes @ellistarn

[2020-10-23 09:49] Fgruntjes commented on #2054
We started an implementation for the Hetzner Cloud in #3640

[2020-10-23 14:44] MaciekPytel commented on #3639
Cluster Autoscaler is not responsible for adding or removing Kubernetes Node objects. All it does is add or delete VMs to ASG - NodeController and Kubelet are responsible for Node object lifecycle. So it seems that CA is working fine and the problem may be with k8s NodeController.

[2020-10-23 16:26] adamnovak commented on #3639
If the Cluster Autoscaler isn't responsible for removing the Node objects, how does it communicate to the NodeController or whatever is responsible that the node became unresponsive on purpose and should go away, instead of sticking around until its machine comes back? Is the NodeController supposed to read and understand the taints that the autoscaler applies? If so, is there some configuration t

[2020-10-23 16:32] adamnovak commented on #3639
Neither `ToBeDeletedByClusterAutoscaler` nor `DeletionCandidateOfClusterAutoscaler` appears in the Kubernetes source code, as far as I can tell. So if that's not how the NodeController and the autoscaler are communicating, how are they supposed to do it?

[2020-10-23 16:39] MaciekPytel commented on #3639
CA doesn't communicate with NodeController in any way. There is no difference in handling CA scaling-down and user resizing ASG manually or VM going down for any other reason. It's expected that Node objects will remain in unready state for a short time after the VM is removed, but they definitely should not stay like that indefinitely (regardless of whether they were removed by CA or manual ASG r

[2020-10-24 00:54] TBBle commented on #3008
I just noticed that the Helm chart does not have the `hostPath` volume shown in the ticket description. It's in many (perhaps all?) of the per-cloudprovider examples, and mentioned in the [AWS README](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas), but it's not mentioned _why_ this is needed, it appears to have been in

[2020-10-24 12:58] kavicse87 commented on #3490
Any status on this ? I'm facing the same issue.

[2020-10-24 14:20] #3159 closed

[2020-10-24 21:30] Jeffwan commented on #3029
/assign @jaypipes @ellistarn

[2020-10-25 15:02] PQMISSCMP opened #3643 "What is the difference between these two metrics? (VerticalPodAutoscaler)"
### VerticalPodAutoscaler

Hello, I am a newbie in this and I have this question with the recommendations that VPA gives me. In the memory metrics the values are expressed in k (kilobytes ??) but in the UpperBound section there is only a number that I don't know what it means ...
Someone can tell me?
greetings and thanks

![image](https://user-images.githubusercontent.com/24899851/97110785-11f34c0

[2020-10-25 22:18] azhurbilo commented on #3092
/remove-lifecycle stale

[2020-10-26 14:07] #3121 closed

[2020-10-26 14:14] MaciekPytel commented on #3611
Sorry for the delay. I'm planning to build Cluster Autoscaler patch releases for all active branches on Monday 2020-11-02.
If you have any other bugfix cherry-pick PRs you want included, please leave a comment here.

Tagging all cloudprovider owners for visibility (the list seems to have grown since #3317):
cc: @ringtail @Jeffwan @jaypipes @feiskyer @marwanad @nilo19 @hello2mao @frobware @enxebre

[2020-10-26 15:51] Bessonov opened #3644 "Generic API based cluster autoscaler"
There is a high demand to allow custom cloud autoscaler provider:
- https://github.com/kubernetes/autoscaler/issues/191
- https://github.com/kubernetes/autoscaler/issues/984
- https://github.com/kubernetes/autoscaler/issues/1050
- https://github.com/kubernetes/autoscaler/issues/2053

Well, I'm not able to reopen any of them. This request goes beyond the hard coding every possible provider into aut

[2020-10-26 16:03] Bessonov commented on #3644
Found another two use cases:
- https://github.com/kubernetes/autoscaler/issues/3614
- https://github.com/kubernetes/autoscaler/issues/3204

And a relevant [quote](https://github.com/kubernetes/autoscaler/issues/3204#issuecomment-703503904) from @MaciekPytel  about scaling development:

I think it shows how an generic interface could help.

[2020-10-26 16:09] Bessonov commented on #3644
Found a proposal for generic (gRPC) API: https://github.com/kubernetes/autoscaler/pull/3140 .

[2020-10-26 16:34] Bessonov commented on #3204
Hey @miguescri I would like to invite you to collaborate on https://github.com/kubernetes/autoscaler/pull/3140 .

[2020-10-26 18:07] suket22 opened #3645 "AWS examples : set pod priority in podSpec"
I ran into a situation where my ClusterAutoscaler pods were stuck in `Pending` on an EKS cluster, because my existing nodes were full and didn't have any space to take on any more pods.

[EKS documentation](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html) refers to the [examples here](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws

[2020-10-26 19:12] #3168 closed

[2020-10-26 19:38] jederfreitas commented on #2805
Any news about it?

[2020-10-26 19:42] jederfreitas commented on #1270
Is there any workaround ?

[2020-10-26 20:13] #3169 closed

[2020-10-27 03:27] pablokbs commented on #3556
@timoreimann Any news on this one?

[2020-10-27 06:02] korjek commented on #3503
Do you mean you set for all nodes `kubernetes.io/hostname=bar-common` (ie `kubernetes.io/hostname` has a value `bar-common` for ALL nodes)?

[2020-10-27 09:24] Unichron commented on #3008
For reference I've been running the CA on EKS Fargate for months just fine. If the image contains a not too old ca-bundle everything should just work I think.

[2020-10-27 14:45] PQMISSCMP commented on #3643
bytes
https://docs.openshift.com/container-platform/3.11/dev_guide/builds/advanced_build_operations.html

[2020-10-27 14:45] #3643 closed

[2020-10-27 15:46] ribbybibby commented on #3251
/remove-lifecycle rotte

[2020-10-27 15:47] ribbybibby commented on #3251
/remove-lifecycle rotten

[2020-10-27 19:25] ajcann opened #3647 "Nodegroup not scaling down while other nodegroups are scaling up"
I have a cluster configured with about 30 different node groups (representing different instance types in spot or on demand configuration).

Node group expansion is based on a priority via configmap programmatically generated to be ranked by instance type price (essentially). When the cluster is busy we might have around a thousand nodes active.

The problem is, node groups which are no longer nee

[2020-10-28 05:23] atulaggarwal opened #3648 "[AWS] Cordon node before downscaling nodes"
This issue is same as Issue #2868,  Opening another issue to submit the PR to review again
Currently during downscaling, inflight requests fails causing large number of 5xx errors during downscaling.

The current aim is to mark the node as unschedulable so that ALB controller can remove the node from healthy list.

[2020-10-28 05:56] 4pits commented on #3490
Well for me it worked.

See Sample logs

`I1028 05:44:57.187621       1 static_autoscaler.go:303] Filtering out schedulables
I1028 05:44:57.187676       1 static_autoscaler.go:320] No schedulable pods
I1028 05:44:57.187691       1 scale_up.go:263] Pod default/monte-carlo-pi-service-75b6457d79-gx6wf is unschedulable
I1028 05:44:57.187727       1 scale_up.go:300] Upcoming 0 nodes`

`I1028 05:45:07.3

[2020-10-28 08:25] atulaggarwal commented on #1907
We were also facing similar issue and we came across a PR in autoscaler which marks the node as cordon so that ALB can remove it from healthy list.
We tried it with following changes and we could avoid 5xx error due to autoscaling fully. (This is tested in our staging env as of now and we would we pushing the change to prod env in next week).
Steps
1. Cordon the node along with taint to be done in

[2020-10-28 10:02] timoreimann commented on #3556
@pablokbs apologies, I got side-tracked by other tasks. This is still on my agenda though. I expect to carve out some time within the next 2 weeks.

[2020-10-28 10:04] timoreimann commented on #3556
@jadelafuente

Are you asking for CA support in Terraform across cloud providers like DO, AWS, GCE, and so on? That's probably beyond the scope of this ticket which is very much focused on CA integration in DOKS only. But let me know if you think I'm misunderstanding.

[2020-10-28 13:21] nitrag commented on #3490
@4pits what version of EKS and cluster-autoscaler are you using?

How did you get scaleup backoff to be 5 minutes? I believe it is 15 minutes by default. Did you change `max-node-provision-time`?

[2020-10-29 01:23] darrenfurr opened #3650 "Cluster Autoscaler: v1.18.1 - unknown EC2 instance type "c5a.2xlarge""
I'm attempting to use the cluster autoscaler with the latest helm chart (8.0.0) & image v1.18.1 using the c5a.2xlarge EC2 nodes in our ASG, however the autoscaler pod is returning:
`
static_autoscaler.go:268] Failed to get node infos for groups: ASG "eks-12020082019553778640000000a" uses the unknown EC2 instance type "c5a.2xlarge"
`

Oddly enough, this works in 2 other AWS accounts - with the same

[2020-10-29 14:28] MaciekPytel commented on #3490
Scale-up backoff always starts at 5 minutes and grows exponentially up to 30 minutes [1].

Regarding i-placeholder instances - CA operates on individual nodes, not number of nodes. When it scales-up it tracks the status and timeouts individually for each node and placeholder instances are needed to allow that. You can find more details in discussions on https://github.com/kubernetes/autoscaler/pul

[2020-10-29 15:28] nitrag commented on #3490
@MaciekPytel

I don't see any configuration variables that would allow us to customize these variables. [Here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/clusterstate/clusterstate.go#L44-L57)

How would I accomplish this: I have two priority groups. The first priority fails to scale up within 5 minutes, give up on it, mark it as failed, replace it with the next highest

[2020-10-29 15:32] MaciekPytel commented on #3490
I think so, as you say those values are consts and can't currently be changed via flags.

[2020-10-29 17:32] jadelafuente commented on #3556
Thanks for your reply Timo, I've opened a generic ticket with the scope you mention #3569

[2020-10-29 19:11] harshmanvar commented on #3163
what should be way ? on the whole node, there is a **metrics server** and **heapster-gke** running.

Should i set deployment replicas to **2** instead of **1** and set **PDB** so CA starts working as expected?

[2020-10-29 23:37] llamahunter commented on #3475
So is everyone just suffering through the chart rename of all the resources?  Should I create a PR for https://github.com/kubernetes/autoscaler/issues/3475#issuecomment-683928136 in the meantime to work around the naming issue?

[2020-10-30 19:25] detiber commented on #3611
Backport PRs for the Packet (Metal Equinix) Provider: https://github.com/kubernetes/autoscaler/pull/3654, https://github.com/kubernetes/autoscaler/pull/3655, https://github.com/kubernetes/autoscaler/pull/3656

[2020-10-30 19:26] 4pits commented on #3490
Yes @nitrag
I used *Kubernetes* version *1.17* and *eks version 0.30*
`--max-node-provision-time=5m0s`

[2020-11-01 09:38] hadifarnoud commented on #2054
I cannot contain my excitement. can't wait

[2020-11-02 09:14] kpiyush17 opened #3659 "Not delete node with specific pod during scale down"
Hi,

I wanted to know if there is a way in autoscaler to not delete the node if there is a particular pod running on that node during the scaled-down event.
Or, is there a way to do that outside of the autoscaler tool, maybe change something in the deployment yaml file?

Thanks

[2020-11-02 09:29] stevehipwell commented on #3475
@llamahunter I'd suggest following up on helm/chart-releaser-action#37 as this would allow the chart to be named correctly.

[2020-11-02 10:47] #3199 closed

[2020-11-02 15:58] MaciekPytel commented on #3659
The usual ways would be to either create a PodDisruptionBudget that doesn't allow any disruptions or use CA's [safe-to-evict annotation](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node).

[2020-11-02 18:01] MaciekPytel commented on #3611
I've released 1.19.1. I'll continue with other releases tomorrow. Please let me know if I missed something or got something wrong in release notes and I'll fix it.

[2020-11-03 15:24] bskiba commented on #3634
The vpa-up.sh script is mostly there to deploy the released version of VPA, which is in a pubic registry. If pulling from a private registry is part of your workflow, we may accept contributions that enable it, but as sig-autoscaling we don't plan to work on this.

[2020-11-03 15:37] bskiba commented on #3574
I see, so does #3606 sort of mitigate the issue? Changing the histogram type at this point might cause data loss for some users if we're not very careful.

[2020-11-03 15:48] bskiba commented on #3537
I see. So 0.8 is indeed missing the rbac permissions for scale subresource that are present in 0.9, we should probably cherry-pick that change into 0.8 branch as well.
https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.9.0/vertical-pod-autoscaler/deploy/vpa-rbac.yaml#L161

As I mentioned before, we don't currently have an easy way to fully ignore custom resources and unfortuna

[2020-11-03 16:03] bskiba commented on #3616
/close

[2020-11-03 16:03] #3616 closed

[2020-11-03 17:16] eatwithforks commented on #3537
Understand, thanks for looking into it! I'll upgrade to 0.9.0 and also update any changes to my existing rbac rules to match 0.9.0's as well.

[2020-11-03 17:16] #3537 closed

[2020-11-03 17:26] MaciekPytel commented on #3611
Released 1.16.7, 1.17.4, 1.18.3 and 1.19.1. Once again - please let me know if there are any corrections required in release notes.

[2020-11-03 17:26] #3611 closed

[2020-11-03 17:55] thockin opened #3666 "old (beta) topology labels are going away"
Hello.

The labels failure-domain.beta.kubernetes.io/zone and failure-domain.beta.kubernetes.io/region have been deprecated for almost a year now and are scheduled to be removed from kubernetes/kubernetes after 1.20 (Q1'21).

In prep for that I scanned all our repos looking for places that reference the old names and not the new ones. There are a couple such places in this repo. Without knowing ex

[2020-11-03 22:59] tamalsaha commented on #3574
I replied in the pr .

[2020-11-04 06:22] zufardhiyaulhaq commented on #257
@MaciekPytel what do you mean `self-pod-antiaffinity` in
`a deployment with self-pod-antiaffinity causes nodes to be added one by one.`?

It is a soft AntiAffinity (preferredDuringSchedulingIgnoredDuringExecution)?

[2020-11-04 07:50] TBBle commented on #257
It's a hard Pod AntiAffinity (`requiredDuringSchedulingIgnoredDuringExecution`) against a Pod's own labels, e.g., [spreading kube-dns load across nodes](https://github.com/kubernetes/kubernetes/pull/57683).

[2020-11-04 08:48] jumping commented on #3276
Is there any scheduler to merge the fix into some release ?

[2020-11-04 09:02] MaciekPytel commented on #257
Cluster Autoscaler completely ignores "soft" scheduler requirements (aka scores). preferredDuringScheduling don't impact CA's decisions or performance in any way.

[2020-11-04 10:30] zufardhiyaulhaq commented on #257
Thanks, so it is safe to use soft Anti Affinity since it completely ignores. Thanks

[2020-11-04 13:52] gillbee commented on #2556
Would like to see this fixed.  Also seeing issues with EKS.

[2020-11-04 17:12] roy-tonal opened #3668 "Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list"
Hi,

I'm facing the below problem with CA, I have deployed CA with proper ASG tags for auto-discovery. I have used `nodeSelector` to deploy CA in my dedicated nodes, but its not able to fetch the instances list, i'm getting below error.
`aws_util.go:71] Error fetching https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json skipping...
Failed to generate AWS E

[2020-11-04 17:53] Jamstah opened #3669 "Add aggregation taget to clusterroles for custom resources"
It would be useful to add an `aggregationRule` to the `ClusterRole`s so that operators with custom resources that support the scale subresource can add read permissions for their CRs to the VPA operator without the user needing to manually do it.

For example, adding this to the rbac:

[code]

https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles

[2020-11-05 04:58] mikeccuk2005 opened #3670 "[AliCloud] [Cluster Autoscaler] Your Scaling Group not Exist"
The approach used is by creating Programic User that provide access-key-id and access-key-secret
Created custom Policy Permission
[code]
Added Permission to the User.

[code]

[2020-11-05 05:20] mikeccuk2005 commented on #3670
Despite adding `AliyunESSFullAccess`  to the User, I am still getting the same error.

[2020-11-05 05:53] mikeccuk2005 commented on #3670
I seem to find the issue. It is when I create the secret, the values were created with `echo "somekeystring" |  base64 `
I tried using the https://www.base64encode.org/
It is now working.

[2020-11-05 05:53] #3670 closed

[2020-11-05 09:25] max-rocket-internet commented on #2556
/remove-lifecycle stale

[2020-11-05 17:03] #3208 closed

[2020-11-06 07:17] nitingadekar commented on #3503
Yes, this label is present by default when the node is added in the cluster.

[2020-11-06 13:53] MattiasPernhult commented on #3592
We worked around this issue by injecting the `AWS_REGION` environment variable to the cluster-autoscaler container. Obviously is not an ideal solution, which would be to add support for it, but it works.

[2020-11-06 16:26] #3212 closed

[2020-11-07 08:32] shekhar-rajak commented on #2747
Hi, Can I work on this? I think there is enough information added in the comment: https://github.com/kubernetes/autoscaler/issues/2747#issuecomment-616037197 and https://github.com/kubernetes/autoscaler/issues/2747#issuecomment-622252843 .

I can rephrase it and add in the FAQ: https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/FAQ.md

[2020-11-07 13:39] zahid0 commented on #2045
It is possible to isolate pods from ReplicaSet by changing labels. ReplicaSet adds a label `pod-template-hash` to all the pods controlled by it. On removing this label, ReplicaSet will create pods to maintain the number of replicas. This provides an easy workaround to proactively add the replacement pods before deleting the node. The sequence of steps at scale down can be:

1. Cordon node.
2. Isol

[2020-11-07 13:58] dictcp commented on #1907
https://github.com/kubernetes/kubernetes/issues/65013

https://github.com/kubernetes/kubernetes/issues/65013#issuecomment-624924857

https://github.com/kubernetes/kubernetes/pull/90823

so after this PR, we may consider to set Unschedulable (aka cordon) earlier

[2020-11-07 15:49] #2775 closed

[2020-11-07 17:14] sbuzonas opened #3673 "Helm chart limits setting balancing-ignore-label flag to a single label"
The snippet in the chart to set extra arguments is in the format of key=value pairs.  For arguments that can be passed multiple times, this limits you to only setting one value.

[code]

Switching it from a hash to an array would solve the problem, but would break backwards compatibility and complexity to the existing configuration.  I think accepting a separate block of multi use arguments would

[2020-11-08 02:16] senpot opened #3674 "Failed to command kubectl exec cluster-autoscaler-xxxxxx-xxxxx"
##### SUMMARY
Following command is failed. Because cluster-autoscaler image changed to distroless from debian.
[code]

This command is noted in [this page](https://github.com/kubernetes/autoscaler/blob/ef0497e31f60f489c879a4aa34d9134ff30ea55e/cluster-autoscaler/cloudprovider/aws/CA_with_AWS_IAM_OIDC.md).

[2020-11-08 22:19] #2781 closed

[2020-11-09 10:31] #3220 closed

[2020-11-09 10:49] stevehipwell commented on #3475
@gjtempleton I've opened a PR at https://github.com/kubernetes-sigs/descheduler/pull/436 to rename the _descheduler_ chart using the latest [helm/chart-releaser-action@v1.1.0](https://github.com/helm/chart-releaser-action/releases/tag/v1.1.0) release which should be of interest.

@llamahunter I think this is the way to go.

[2020-11-09 22:59] gjtempleton commented on #3475
Thanks for the heads up @stevehipwell, much appreciated.

@llamahunter does #3679 look like it'll achieve what you're looking for?

[2020-11-09 23:38] gjtempleton commented on #3673
Hi @sbuzonas,

Thanks for raising this issue and proposing a solution for it.

What you're proposing sounds like a reasonable approach to me, keeping the complexity of the arrays only where they're needed. If you want to raise a PR to add this functionality I'd be more than happy to give it a review.

[2020-11-10 00:14] llamahunter commented on #3475
Yes... commented in PR. Thx!

[2020-11-10 00:16] leosunmo commented on #1658
I am running in to this issue as well, when using the https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner project to create PVCs from AWS ephemeral instance NVMe disks.

The pods can't get scheduled because there's no nodes, and the CA won't scale up because there's no disks there for the pods to attach.

[2020-11-10 00:25] domino-blake opened #3680 "Add support for p4d.24xlarge instances for aws"
p4d.24xlarge instances were launched recently. https://aws.amazon.com/ec2/instance-types/p4/

[2020-11-10 01:03] #3680 closed

[2020-11-10 02:02] jcsferraz commented on #3668
Hi!

in my case it was the deployment of 'core-dns' generating the behavior you showed here. I needed to ping the URL that you entered through the nodegroup and then tried to 'ping' the container (pod) the same URL, so when I realized that it was not recovering I installed coredns again at: https://docs.aws.amazon.com /eks/latest/userguide/coredns.html

[2020-11-10 02:30] burdzwastaken commented on #3029
/remove-lifecycle stale

[2020-11-10 11:13] lilic opened #3683 "[VPA] Bump klog to klog/v2"
Hello, we use this project as a dependency in[ kube-state-metrics](https://github.com/kubernetes/kube-state-metrics/) and since this project still uses klog v1 but we switched to klog/v2, we now have mixed klog versions which cause potential problems.

I am proposing that klog is bumped to klog/v2, I am happy to do the changes, just wanted to make sure this is okay? If it's okay I would also like

[2020-11-10 15:24] hrzbrg commented on #3342
Hey @zagr0,

did you find any solution for this so far? I'm experiencing the same behavior in our ASGs at the moment and by now suspended the `Termination` process on the ASG as mentioned in #2787.

cluster-autoscaler:v1.17.2
kubernetes v1.17.9

[2020-11-10 19:35] eatwithforks opened #3684 "vpa-recommender: configurable options to lower weights for low CPU usages on the weekends to not cause a dip in the recommendation."
UseCase:

I have an app with low CPU usages over the weekends and the VPA CPU recommendation dips respectively. However, is it possible to configure the recommender in a way to not be influenced by the two day dip? I'd like to keep the recommendation the same as during regular usage days.

Here is a chart of my CPU usage / VPA CPU recommendation:
CPU usage - solid line
VPA CPU recommendation - dot

[2020-11-11 06:26] zagr0 commented on #3342
Hi, yes, we applied a workaround. You will not face the issue if enable scale-in protection on ASG and instances

[2020-11-11 12:35] mweibel opened #3686 "GCE: autoscaler stuck in initializing status when virtual node is present"
See similar issues #2698 #2236

`GceCloudProvider.NodeGroupForNode()` does not handle empty `Spec.Node.ProviderID` and `GceRefFromProviderId` returns an error when given ProviderID is empty:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go#L94

Similar to [`AzureCloudProvider.NodeGroupForNode()`](https://github.com/kubernetes/autoscale

[2020-11-11 22:07] roy-tonal commented on #3668
Thanks for the reply @jcsferraz
It resolved on its own, I don't know what caused this, as the API was working fine, my cluster was also working fine. I did tried after a day or two on multiple clusters and didn't face any issue. Will close this now.

[2020-11-11 22:08] #3668 closed

[2020-11-11 23:29] mgarstecki commented on #3633
I've submitted a PR for that: https://github.com/kubernetes/autoscaler/pull/3687

[2020-11-12 23:44] zopanix commented on #3422
Hey, if you are using the AWS AMI's, you need to change the mount path of the root CA's.

Example: https://scm.dazzlingwrench.fxinnovation.com/fxinnovation-public/terraform-module-kubernetes-cluster-autoscaler

[2020-11-13 00:58] ameliatqy opened #3688 "Cluster Autoscaler is not running (i.e. log is empty) - Setting up AutoScaler in AWS EKS"
Hello guys,

It seems that I have a problem getting Cluster Autoscaler to start functioning. These are the steps I took:

1. Create EKS using config file below. Note that the node group is unmanaged group.
[code]

2. Check that the IAM policy is set for my nodeGroup
<img width="1328" alt="Screen Shot 2020-11-12 at 4 57 59 PM" src="https://user-images.githubusercontent.com/33330101/99014774-4014c08

[2020-11-13 07:30] mweibel commented on #3686
feature request on google's issuetracker: https://issuetracker.google.com/issues/173130901

[2020-11-13 13:06] #3115 closed

[2020-11-14 16:36] rittneje opened #3693 "cluster autoscaler should consider availability zone balancing during scaledown"
We are running a cluster in AWS EKS that uses nodes from auto-scaling groups. We have noticed that whenever the autoscaler terminates a node during scaledown, the auto-scaling group triggers an availability zone rebalancing shortly thereafter. This in turn leads to a spike in errors. It would be preferable if the cluster autoscaler properly considered availability zones during scaledown, shuffling

[2020-11-15 20:23] gjtempleton commented on #3688
Are you certain that a cluster-autoscaler pod is successfully being scheduled and starting to run?

I'd be very surprised if it was and you were seeing no logs, as the CA should log quite a bit on startup at that verbosity level.

What do you see if you run

`kubectl get pods -n kube-system -l app=cluster-autoscaler`?

[2020-11-16 09:54] autarchprinceps commented on #3419
This should be made available as a multi arch image, otherwise it randomly fails either way if run in a mixed cluster.

[2020-11-16 15:19] #3233 closed

[2020-11-16 17:58] eatwithforks opened #3698 "Set "--cpu-histogram-decay-half-life" to be "72h" by default"
UseCase:

I have an app that receives less traffic on the weekends so with the "24h" default decay setting, the cpu recommendation looks like:

![Screen Shot 2020-11-16 at 9 52 50 AM](https://user-images.githubusercontent.com/4632428/99289325-a2fca500-27f1-11eb-9015-d7f5aa44751e.png)

There is a drastic dip in the recommendation starting from Saturday over to Monday due to the lowered CPU usage.
B

[2020-11-16 19:39] jonesbr17 opened #3699 "Upgrade tzdata package in addon-resizer image"
[DLA-2424-1](https://www.tenable.com/plugins/nessus/142169) is a vulnerability impacting the addon-resizer image. The tzdata package will need to be upgraded to resolve.

[2020-11-16 19:54] n2aws commented on #1070
/remove-lifecycle stale

On Mon, Nov 16, 2020 at 2:23 PM fejta-bot <notifications@github.com> wrote:

--
Jeff Palmer
Palmer IT Consulting, LLC.
https://PalmerIT.net

[2020-11-17 07:06] mblaschke commented on #3433
/remove-lifecycle stale

[2020-11-17 13:10] llnformer opened #3703 "ASG per Subnet for multiple NAT gateways in one AZ"
hi, Autoscaler contributors,
running AWS EKS version 1.17.9 and install Autoscaler Helm Chart 1.1.0 app version 1.17.4.
I try to achieve bigger NAT throughput for my k8s cluster so I create NAT gateway per Subnet
so 2 ASG in us-east-1a and 2 ASG in us-east-1b and each ASG gets exclusive subnet with NAT Gateway.
when I try to scale an example app from 1 to 20 pods I get an uneven distribution of
(1

[2020-11-17 21:41] palmerabollo commented on #1869
Also happening on Azure (AKS).

[2020-11-17 22:00] yurrriq commented on #3224
This can be closed now, yeah?

[2020-11-18 01:55] ameliatqy commented on #3688
Looking at `kubectl get pods -n kube-system -l app=cluster-autoscaler`, it said that there were not enough nodes to run the deployment on. I was trying to scale from 0 nodes in the cluster at the beginning, leaving no nodes to run the cluster-autoscaler pod on. When I spun up a node and deployed it, it worked. So, thank you - my problem has been resolved :)

[2020-11-18 01:55] #3688 closed

[2020-11-18 07:16] zahid0 commented on #2045
@MaciekPytel, any thoughts on this?

[2020-11-18 10:57] MaciekPytel commented on #3224
Correct. Sorry, I forgot to close it.

[2020-11-18 10:57] #3224 closed

[2020-11-18 11:09] infa-ssaurabh opened #3705 "Run cluster-autoscaler container with non-root user"
To comply with CIS benchmarking, can we run cluster autoscaler container as non-root user?
We can create cluster-autoscaler image by mentioning below in Dockerfile:
`USER username`

[2020-11-18 17:23] hjkatz commented on #3427
/close

[2020-11-18 17:23] #3427 closed

[2020-11-18 18:31] Jeffwan commented on #1869
@palmerabollo It replies on vendor implementation. @feiskyer

[2020-11-18 20:17] nitrag commented on #3044
`--aws-use-static-instance-list=true`
Didn't help us.

Holy crap. `Container aws-cluster-autoscaler was using 1149444Ki, which exceeds its request of 900Mi.`
@jaypipes I'm going to reach out to you via email so we can troubleshoot this 1:1.

[2020-11-18 21:18] nitrag commented on #3044
I upgraded cluster-autoscaler to 1.16.7 (from 1.15.7) and the memory 1min after boot is 375MiB. Will continue to monitor.

Simultaneously I was removing 55k completed Batch Jobs (cronjobs) that were just lingering on the API server as complete. Anyone else with this issue have similar latent storage? `kubectl get jobs --all-namespaces`

[2020-11-18 21:31] andsens commented on #3142
/remove-lifecycle stale

[2020-11-19 02:12] ahg-g commented on #3527
is this done?

[2020-11-19 04:48] feiskyer commented on #1869
@palmerabollo do you still it doesn't work on AKS? I think @marwanad has already fixed the issue on AKS.

[2020-11-19 08:54] george-angel commented on #3348
/remove-lifecycle stale

[2020-11-19 11:07] omnibs commented on #1298
/remove-lifecycle stale

The logic I describe above is also useful for binpacking. Binpacking happens a lot in the ramp down of traffic, and it's more likely that it will catch workloads at low Pod count.

Terminating a Pod to reschedule it for binpacking when we have 2 pods means we lose 50% compute capacity for a period of time will cause degradation for workloads running at anything close to or

[2020-11-19 14:32] jkaniuk commented on #3527
/assign  @MaciekPytel

Maciek, could you triage this?

[2020-11-19 14:35] MaciekPytel commented on #3527
I believe it's already implemented in Cluster Autoscaler in https://github.com/kubernetes/autoscaler/pull/3526.

[2020-11-19 14:43] jkaniuk commented on #3527
What you have linked was done before scheduler changes were backported.

Was #3526 included in releases for 1.18/1.19?

[2020-11-19 14:53] MaciekPytel commented on #3683
This repo has multiple independent projects with different sets of maintainers, not sure which one you're referring to? From my side I've already migrated cluster autoscaler to klog/v2 a few months back.

[2020-11-19 21:46] justgotthis opened #3709 "Packet Autoscaler Example fixes"
- cloudinit needs to be changed as the kubeadm command was wrong:
kubeadm join --discovery-token-unsafe-skip-ca-verification --token {{.BootstrapTokenID}}.{{.BootstrapTokenSecret}} {{.APIServerEndpoint}}

- nodeSelector for the Cluster Autoscaler pod needed to be changed to this:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: In

[2020-11-19 21:50] justgotthis opened #3710 "Packet Autoscaler Scale up error"
Scaled up my deployment and eventually received this error for some pods:

  Warning  Failed     11m (x5 over 14m)     kubelet, ca-k8s-worker01  Failed to pull image "nginx": rpc error: code = Unknown desc = Error response from daemon: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit
  War

[2020-11-20 08:35] dprateek1991 commented on #1431
I have a setup with Multiple ASGs with ap-southeast-1a and ap-southeast-1b AZ attached to all the ASGs.

In my case, we have an EC2 running in ap-southeast-1a zone and thus Persistant Volume gets attached to the node perfectly fine since the EBS volume is in ap-southeast-1a itself.

However, I have another EBS Volume in ap-southeast-1b zone and in this case Cluster Autoscaler is not scaling to add

[2020-11-20 11:47] runaroy1209 opened #3711 "Cluster Autoscaler Priority expander does not scale-up the AWS Asgs"
I have 2 nodegroups one for spot and one for on-demand. The version of the clsuter-autoscaler is  **1.15.0** and version of EKS cluster is **1.15** . The spot nodegroup is called "eks-node-group-{Cluster_name}\_**spot**-pX4VZdxNWE4Z" and the on-demand is called "eks-node-group-{Cluster_name}\_**ondemand**-P0kRUl7OZQox". The cluster autoscaler pod is running in the namespace "cluster-autoscaler" an

[2020-11-20 14:23] runaroy1209 commented on #3711
This is solved now. The docs dont mention the --namespace Flag, it assumes that the pod is running in kube-system ns where as ours was running in cluster-autoscaler ns

[2020-11-20 14:23] #3711 closed

[2020-11-20 14:56] jesher commented on #3215
@pysiekytel  how did you solve it? I have the same problem

[2020-11-20 22:00] #3100 closed

[2020-11-20 22:03] paranoidsp opened #3712 "safe-to-evict annotation prevents autoscaler from calculating unneeded nodes"
Setup:
A few pods with safe-to-evict: "false" spread across several nodes, mixed in with other pods that are safe to evict.

Expected behaviour:
* Autoscaler will note the unsafe pods and mark those nodes as needed, and calculate if pods from other nodes can be moved into these nodes.

What actually happens:
* Autoscaler notes the unsafe pods, marks them as needed, and completely ignores their uti

[2020-11-20 22:06] paranoidsp commented on #3710
This does not seem to be a scale up error, this is because you seem to have hit rate limits on dockerhub for pulling your docker image.

[2020-11-20 22:46] justgotthis commented on #3710
Thanks for getting back to me. Just to clarify, i scaled up my deployment
and since the scaling took 10 minutes, i suppose it kept trying to pull the
image repeatedly which caused this error? Is there any best practice for
this besides just upscaling more in a piecemeal fashion? Shouldn't the pods
that don't have a home stay pending and not try to download the image
repeatedly?

On Fri, Nov 20, 20

[2020-11-21 08:28] es1o commented on #3309
/remove-lifecycle rotten

[2020-11-21 10:12] #3237 closed

[2020-11-22 03:23] larrymapacket commented on #3709
Hi Luis, for the "toleration" comment above, what if the cluster is setup with the controller node not being tainted?

[2020-11-22 10:36] #3238 closed

[2020-11-22 12:22] justgotthis commented on #3709
Hello Larry, if the controller node is not tainted then there would be no
need for the toleration. Maybe we can still have the toleration code but
commented out just to not assume that the controller is tainted with an
explanation in the example.

On Sat, Nov 21, 2020, 10:24 PM larrymapacket <notifications@github.com>
wrote:

[2020-11-22 16:42] #3243 closed

[2020-11-23 04:13] larrymapacket commented on #3709
that's a good idea!

[2020-11-23 06:57] sudo-justinwilson opened #3713 "Worker nodes have status of Ready,SchedulingDisabled"
**What happened**:
Nodes are being marked as deletion candidates, but then the deletion candidate taints are released, but the nodes still have a `SchedulingDisabled` status after the node is no longer considered for deletion. This prevents pods from getting scheduled to the node and wastes operational costs.

[code]

Here are the cluster-autoscaler logs related to the node where we can see the no

[2020-11-23 13:03] palmerabollo commented on #1869
@feiskyer I can confirm that it works creating the nodepools with an initial node_count=1 and min_count=0. That's what I currently use as a dirty workarund. That somehow makes the cluster fully aware of its node pools. I have to check if it also works with initial node_count=0, as it should.

[2020-11-23 13:09] surajssd commented on #3398
This is fixed now.

[2020-11-23 13:16] gjtempleton commented on #3398
Thanks for confirming.

/close

[2020-11-23 13:16] #3398 closed

[2020-11-23 13:17] lilic commented on #3683
Hey @MaciekPytel thanks for reply, sorry for not clarifying the issue is in the VPA. https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/go.mod#L18

[2020-11-23 14:16] MaciekPytel commented on #3683
cc: @bskiba

[2020-11-23 15:37] r3d00 opened #3715 "Using VPA version 0.9 autoincrements k8s.io/client-go to v0.18.3"
This shouldn't be the case since in the README.md, compatibility of version 0.9 is with Kubernetes 1.16+.

If you build code with existing dependencies with for example k8s.io/client-go 0.17.5, it automatically changes the version in go.mod to 0.18.5

In commit https://github.com/kubernetes/autoscaler/commit/221b2ab362a084adfa038a9a81a5adf206072a5f , only the version 0.18.5 is in required modules,

[2020-11-23 16:24] gjtempleton commented on #3475
/reopen

Won't be fully resolved until #3716 is merged as this will publish it to this repo's `index.yaml`

[2020-11-23 16:36] rraraujo commented on #3135
Hi @nilo19, thank you for your message. I am facing the same throttling problem but with AWS. My k8s is 1.17. Do you mean that 1.18 does not have this error anymore?

[2020-11-23 16:38] dharmab commented on #3135
We saw the problem dramatically reduce in 1.18 due to caching features
introduced into the azure cloud provider. Of you are seeing a problem in
AWS that is probably a different issue.

On Mon, Nov 23, 2020 at 09:36 rraraujo <notifications@github.com> wrote:

--
--
Dharma Bellamkonda

[2020-11-23 17:17] MaciekPytel commented on #3712
The threshold is not some average utilization CA tries to achieve. On scale-up CA always packs nodes as tightly as possible regardless of threshold. Instead the semantic of threshold is literally "do not consider deleting any node with utilization above the threshold". Given the above, it seem that behavior you describe is WAI. You should be able to achieve the behavior you want just by increasing

[2020-11-23 23:00] knkarthik commented on #3693
We've also seen this even after removing `--balance-similar-node-groups` suggested in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas

[2020-11-24 00:46] sudo-justinwilson commented on #3713
We can see that some nodes have the `SchedulingDisabled` for up to 6 hours:

![image](https://user-images.githubusercontent.com/20146242/100031790-8e03bf80-2e4a-11eb-997b-accde8e290c6.png)

[2020-11-24 02:16] nilo19 commented on #3135
Could we close this?

[2020-11-24 02:42] dharmab commented on #3135
/close

On Mon, Nov 23, 2020 at 19:16 Qi Ni <notifications@github.com> wrote:

--
--
Dharma Bellamkonda

[2020-11-24 02:42] #3135 closed

[2020-11-24 10:25] gjtempleton commented on #3475
#3716 has been merged, I've validated locally, but will keep this issue open until you've confirmed this has unblocked you @llamahunter

[2020-11-24 11:43] stevehipwell commented on #3475
@gjtempleton the chart is showing up correctly for me.

It would be useful if you could add the autoscaler repo into https://artifacthub.io/.

[2020-11-24 12:39] gjtempleton commented on #3475
Yeah, going to grab some time this evening and resolve #3638 and #3571

[2020-11-24 15:11] bskiba commented on #3683
Bumping to klog/v2 sounds fine, thanks for checking.

For client-go, I'm not sure bumping to latest is the best idea, however, we might consider bumping to 1.19

[2020-11-24 15:17] bskiba commented on #3699
Can you let me know which addon-resizer image we are talking about?
I think we migrated addon-resizer to distroless so I wouldn't expect this issue to come up.

[2020-11-24 15:27] bskiba commented on #3684
I see that you found a solution to fine-tune the half life decay: https://github.com/kubernetes/autoscaler/issues/3698

There is also a not very pretty solution to set MinAllowed CPU for the VPA object - recommendation will not go lower than that value.

The problem with fine tuning is that we run all tests with the default settings, and that's the config that we can reason about with confidence.

[2020-11-24 15:28] bskiba commented on #3698
The reaction to any spike that is higher than the spikes seen before will be slower with the longer halflife.

Nothing else comes to mind immediately, but all the testing we've done was with the default as it is now, 24 hours so it's all speculative.

[2020-11-24 15:40] bskiba commented on #3715
I have just tried out BPA 0.9 version with Kubernetes 1.16 and it works for me.
The [compatibilty matrix fro client-go](https://github.com/kubernetes/client-go#compatibility-matrix) doesn't say that 1.18 is incompatible with 1.16. Only that there may be differences in capabilities. AFAIK, we are not using any capabilities not present in 1.16.

Are you experiencing issues?

[2020-11-24 20:54] detiber commented on #3710
and since the scaling took 10 minutes, i suppose it kept trying to pull the
image repeatedly which caused this error? Is there any best practice for
this besides just upscaling more in a piecemeal fashion? Shouldn't the pods
that don't have a home stay pending and not try to download the image
repeatedly?

The only pods that would be attempting to download the image are ones that are already sched

[2020-11-24 21:04] detiber commented on #3709
I have addressed the toleration and scheduling for the deployment should be addressed (albeit in a slightly different way) in https://github.com/kubernetes/autoscaler/pull/3483

As far as I can tell the `kubeadm join` command in the base64 encoded cloud-init configuration is the same as you have above, though I could very well be overlooking the difference

[2020-11-24 22:59] gjtempleton commented on #3571
Hi @cabrinha, @Eddman and others,

I'm revisiting this now that we've successfully renamed the chart back to the original name.

There seems to be a move by the community, particularly with the helm stable registry redirecting there towards https://artifacthub.io/ as the new solution for a hub going forward rather than chartcenter.io. Do you still think we should also be ensuring we get included i

[2020-11-25 01:09] gjtempleton commented on #3475
@stevehipwell with a helping hand this is now published on Artifact Hub, however, you may want to be aware of the reason I've had to raise https://github.com/kubernetes/autoscaler/pull/3719 as I notice the descheduler repo is preparing to switch over the naming as well, hopefully you can avoid the need to go back and mark the old release as deprecated as I've had to do here.

[2020-11-25 01:12] gjtempleton commented on #3638
Hi, thanks for raising this!

Thanks to a helping hand from @scottrigby there's now an initial publish of it at https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler

Unfortunately, as I hadn't fully anticipated the way Artifact Hub would perform indexing I've had to go back and raise a PR to mark the intermediate chart we published `cluster-autoscaler-chart` as deprecated und

[2020-11-25 12:04] Eddman commented on #3571
Hi @gjtempleton,

I'm not saying one or the other is better, but https://artifacthub.io/ is Beta project. JFrog's https://chartcenter.io/ has some security related features like chat and image scanning. And has nice integration with JFrog's Artifactory used in many enterprise environments.

I'd say it is worth to have it integrated with both tools. AFAIK enlisting repo in  chartcenter.io is as sim

[2020-11-25 15:52] williamlord opened #3721 "CA estimator and PodTopologySpread"
I just wanted to confirm that this is expected behaviour.

I have an overprovisioning deployment of let's say 200m with 1 core per replica, giving roughly 20% overprovisioning. If I use an 8 core node I'm going to get 8 pods per node. This overprovisioning deployment also has pod topology contraints of max skew 1 across zones.

These overprovisioning pods in one zone then become unscheduable, and

[2020-11-25 16:14] detiber commented on #3710
Ah, I think I understand the scale up issue a bit more now after seeing https://github.com/kubernetes/autoscaler/pull/3720, it appears that pods that are currently in backoff from a previous scale up event will prevent additional scale up events from happening, it looks like this is currently by design in cluster-autoscaler core currently.

[2020-11-25 17:14] MaciekPytel commented on #3721
Can you specify which CA version you're using and what k8s version is running in the cluster? The behavior is likely to differ between version for this case. Also just to confirm - by pod topology spreading you mean using whenUnsatisfiable: DoNotSchedule (ScheduleAnyway constraints should be completely ignored by CA)?

Assuming it's 1.19 - I wouldn't expect your use-case to work, but I'd expect it

[2020-11-25 18:00] williamlord commented on #3721
Sorry yes it's Kubernetes v1.18.8 (EKS) and CA v1.18.2. Yes whenUnsatisfiable: DoNotSchedule. Currently I have both the stable and beta topology labels on the nodes, it does correctly pick the zone ASG.

Yeah this makes sense, 1 zone ASG at a time to adhere to the constraint.

I'll update to v1.18.3 CA for a start, thought I was actually on the latest with https://github.com/kubernetes/autoscaler/

[2020-11-25 20:33] justgotthis commented on #3710
Thanks for the explanation. It's still confusing how the pods still
received the image pull error.

These were my steps:

- Spun up 1 master/1 worker Kubernetes cluster
- Scaled my deployment from 5 replicas to 500 replicas
- Cluster scaled 2 additional nodes but I noticed some pods had the image
pull error (reached docker limit)

My question is, I'm assuming that the pods that were in Pending sta

[2020-11-26 02:31] foriequal0 opened #3724 "Cluster Autoscaler examples and helm chart is different"
I wanted to deploy cloud-autoscaler using Helm Chart to ease the maintance.
So I've tweaked helm values to match with the AWS Cloud Autoscaler manual ([here](https://docs.aws.amazon.com/ko_kr/eks/latest/userguide/cluster-autoscaler.html)) and the example ([here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml))

[2020-11-26 09:08] #3194 closed

[2020-11-26 11:42] Kafei59 opened #3726 "NodeGroup specific resource limiter"
Hello the cluster-autoscaler team,
I am benchmarking and testing your solution to autoscale nodes for a cloud provider solution.

I had no issue implementing our provider to your code, although, I found something quite strange and I'd rather talk to one of you before trying to code something up :)

I did not find any way to specity to a NodeGroup its own resource limit.
In a way, I would like to s

[2020-11-26 17:52] MaciekPytel commented on #3726
There is some general discussion about being able to configure various options per-nodegroup in  https://github.com/kubernetes/autoscaler/issues/3583. This is a fairly popular request and I'd like to get on it very soon.

It's not entirely clear to me what you mean by "resource limits" though? Do you mean `--scale-down-utilization-threshold`? If so this is already very much in scope of #3583.

If

[2020-11-27 08:56] Kafei59 commented on #3726
Hello @MaciekPytel , thanks for you answer.
Indeed, `--scale-down-utilization-threshold` per NodeGroup is exactly what we need.

What I was trying to explain was if there would be a way to have also something like `--scale-up-threshold` per NodeGroup ?
In fact, we are exposing cpu mim/max and mem min/max per node group API objects on our side and I just wanted to know if there will be usable.

If

[2020-11-27 09:13] surajnarwade commented on #3319
Hello @jbartosik @bskiba,

I am facing the same issue again with latest VPA version `0.9.0`

pods are failed to schedule because of the following error:

[code]

In my VPA configuration, I've given:

[code]

and my limit range looks like this:

[code]

it's probably the same issue as @rhysemmas pointed out but the issue seems to be not fixed

[2020-11-27 09:59] Kafei59 commented on #3726
I created a pull-request to show what could be useful to do and add comments for the proposal above #3728

[2020-11-27 10:01] bskiba commented on #3319
@jbartosik Can you take a look?

[2020-11-27 10:44] jbartosik commented on #3319
1. This doesn't look like a problem with rounding. `237420533722` B is more than `221` GiB, way more than the limit of `115`GiB. With rounding we could be ~1B/pod above the limit.
2. This looks really weird. Sum of target recommendations is ~`7.3` Gi (`1303507665` B + `6434836068` B + `50` Mi + `50` Mi = `7851786432` B). This is much, much lower than the limit.

@surajnarwade can you give me some

[2020-11-27 10:59] surajnarwade commented on #3319
@jbartosik `updateMode` is set to `Initial` so pod was not scheduled. after some time, it scheduled the pod with following requests/limits,

[code]

[2020-11-27 11:09] MaciekPytel commented on #3726
Yeah, the interface in the PR is roughly what I have in mind in #3583. The list of fields I have in mind is slightly different and I'd like to wrap it in an interface, but the general idea is exactly the same. My plan is to implement this in December.

I have no idea what you mean by --scale-up-threshold though. I don't think there is any such concept in CA (scale-up is based purely on binpacking

[2020-11-27 12:49] Kafei59 commented on #3726
Thanks for your answers @MaciekPytel, I'm thrilled to see what you will implement then !
I tag this issue and the linked PR as closed since you got all covered ;)

[2020-11-27 12:50] #3726 closed

[2020-11-28 15:01] #2967 closed

[2020-11-29 14:22] robinbraemer opened #3731 "fix comment on cloudprovider ErrAlreadyExist"
https://github.com/kubernetes/autoscaler/blob/4b76aadea15eecfdd5cf2143d702193acc53d252/cluster-autoscaler/cloudprovider/cloud_provider.go#L104

[2020-11-30 00:34] #3273 closed

[2020-11-30 07:27] Unichron commented on #3541
Same issue, for me setting the value to null solves the issue. Although it would be nice to remove the clusterip configuration altogether from here https://github.com/kubernetes/autoscaler/blob/4b76aadea15eecfdd5cf2143d702193acc53d252/charts/cluster-autoscaler/templates/service.yaml#L16-L18

I think this was left out from https://github.com/helm/charts/pull/17433 by mistake.

[2020-11-30 12:22] muvaf commented on #3614
I can take a shot at this if it's something maintainers would want to merge upstream. I am not familiar with the codebase so what I have in mind could be very off.

I'm thinking of using a `ConfigMap` in `kube-system` as data store that has the information to issue Wake-on-LAN signals like MAC and broadcast mask. Shutdown could be implemented by issuing a `shutdown` command to the machine assuming

[2020-11-30 17:28] #3684 closed

[2020-11-30 21:09] detiber commented on #3710
@justgotthis I don't believe the error is caused by yet to be scheduled pods, but by pods that were already scheduled and in ImagePullBackOff. Depending on the number of layers in the image and the pull policy on the pods I wouldn't be surprised if it was relatively easy to hit the docker api limits pretty quickly during large scale up events

[2020-11-30 21:21] bryankaraffa commented on #3592
I was not able to workaround this issue by injecting `AWS_REGION` or `AWS_DEFAULT_REGION` into the `aws-cluster-autoscaler` container.  With v1 metadata service [token optional] cluster-autoscaler does not error and has no issues.

Error log / behavior with IMDSv2 [token required]:
[code]

Here's our cluster-autoscaler helm release [chart v9.1.0 setting `awsRegion` and `autoDiscovery.clusterName`]

[2020-12-01 00:42] #3419 closed

[2020-12-01 09:23] surajnarwade commented on #3319
Hello, @jbartosik I am seeing this issue again, I thought it should respect limit range limits and assign accordingly, right?

here's my error:

[code]

here's the limitrange:

[code]
here's VPA definition:

[code]

here's the VPA recommendation:

[code]

[2020-12-01 10:50] surajnarwade opened #3732 "[VPA] provides recommendation for nonexistent containers in given pod"
I have statefulset pod for which there were 4 containers and VPA was providing a recommendation for them, let's say they are A, B, C & D

Now I updated the pod manifests and now there are 3 containers in a pod, A, B, E (we have removed C & D)

but if we look at VPA recommendation, it gives a recommendation based on A, B, C, D & E resulting in errors like:

[code]

is it a known issue?  I think ide

[2020-12-01 14:20] autarchprinceps opened #3733 "False node selector limitation"
Cluster autoscaler says, it won't trigger a resize, because supposedly it cannot schedule my pod on it. Looking at the logs, it thinks so, because of mismatching node selector. The only node selector my pod has is kubernetes.io/os: linux, which is present on the node as well. Indeed, if I change the desired value on the autoscaling group myself the pod does schedule onto that very node. Sometimes

[2020-12-01 16:07] MaciekPytel commented on #3733
Is it scale-up from 0 nodes that is failing? When at least 1 node is present in a given nodegroup CA will assume that the new node will look the same as the existing node. When scaling from 0 it has no node to use as example and so it tries to guess how a new node will look like. I suspect the problem would be that scale-from-0 logic doesn't include kubernetes.io/os label and so CA is not aware th

[2020-12-01 16:33] autarchprinceps commented on #3733
Yes, scale up from 0 and on AWS. I'll try to remove the node selector, as it isn't providing any additional benefit. I'll just have to see how, as Jenkins is the one starting these instances, so I don't have immediate kubernetes yaml access.
Thanks a lot for the details.

[2020-12-01 18:08] justgotthis commented on #3710
Makes sense, maybe I scaled up too fast which made me hit the limit. Thanks!

On Mon, Nov 30, 2020, 4:10 PM Jason DeTiberus <notifications@github.com>
wrote:

[2020-12-01 19:55] cabrinha commented on #3571
Yes, I think chartcenter is still worth while.

[2020-12-01 19:59] detiber commented on #3710
@justgotthis I'm going to close out this issue for now, feel free to re-open if there are additional issues related to this.
/close

[2020-12-01 20:00] #3710 closed

[2020-12-01 21:37] kxesd opened #3735 "Priority expander: {node-group} not found in priority expander configuration"
While using `cluster-autoscaler:v1.18.3` with kubernetes 1.18.10 we are seeing in the logs that it cannot find some node groups

priority-expander configMap:
[code]

cluster-autoscaler container arguments:
[code]

We see these messages in the logs:
[code]

Originally we did not have the wildcard regex at priority 10 however after reading the suggestion [HERE](https://github.com/kubernetes/autoscal

[2020-12-01 22:59] nairb774 opened #3736 "[VPA] Updater deployment missing NAMESPACE env var"
The updater looks in a particular namespace to see if the admission controller is happy and healthy. The current admission controller sets the `NAMESPACE` environment variable correctly: https://github.com/kubernetes/autoscaler/blob/7a0731b51eec6396ee4a07ecec9a1aeb8472d50f/vertical-pod-autoscaler/deploy/admission-controller-deployment.yaml#L25-L29 but the updater doesn't have a similar value being

[2020-12-02 07:56] kostiukolex commented on #2333
According to cluster-autoscaler usage help:

`--stderrthreshold severity: logs at or above this threshold go to stderr (default 2)`
`--v Level: number for the log level verbosity`

So, try to use this (for example):
`--logtostderr=true`
`--stderrthreshold=2`
`--v=2`

[2020-12-02 08:00] startappdevops commented on #2418
@jvaibhav123
Same story here
Setting to zero initially doesn't scale up
Setting to one and then manually reducing to zero works
After reducing to zero pods trigger scale up

[2020-12-02 09:05] surajnarwade commented on #3732
more details on this issue:

here's the VPA recommendation:

[code]

total memory request = 23574998+19266383159+11500k+9616998332+11500k ~= 28929956489 bytes (28.92 Gi)

whereas limitrange for namespace is set to `115Gi`

whereas I am seeing the following error:

[code]

[2020-12-02 11:00] autarchprinceps commented on #3733
@MaciekPytel Jenkins doesn't easily support removing the nodeSelector. Can I do something to enable the cluster autoscaler to better spot the valid nodegroups? I can add a tag to the autoscaling group, if that helps. How does the AWS provider make the determination that it is or isn't linux? The ami in use should tell it that definitively, so the fact that it has to scale-from-0 shouldn't impede i

[2020-12-02 11:13] MaciekPytel commented on #3733
Adding AWS provider owners to comment.

cc: @Jeffwan @jaypipes

[2020-12-02 13:46] autarchprinceps commented on #3733
In the Jenkins Kubernete Plugin, I can replace the nodeSelector with a preferred affinity. I assume not being able to fulfil (or check fulfilment of) a preferred affinity won't prevent the autoscaler from using a certain nodegroup, right?

[2020-12-02 14:43] detiber commented on #3461
/remove-lifecycle stale

[2020-12-02 16:15] bskiba commented on #3736
Thanks Brian, would you be OK with contributing this fix?

[2020-12-02 16:25] bskiba commented on #3732
Could you paste your deployment request and limit values as well? VPA sets limit proportional to request according to the proportion from the deployment so it would help with pinpointing the issue and reconciling the numbers.

@jbartosik I think part of the issue is proportional limit calculation in presence of containers that were removed. Could you take a look at the code to see what happends if

[2020-12-03 11:30] dudicoco opened #3739 "[VPA] Prometheus query to get VPA recommendation"
Hi,

Is there a Prometheus query which could fetch the VPA recommendations so that they could be used in Grafana/alerting?
I've looked into the code and it doesn't seem that the VPA exposes such metrics. Perhaps we need to use the metrics exposed by kube-state-metrics?
Even better, is there a way to calculate the recommendation in a Prometheus query without using the VPA, just according to the his

[2020-12-03 19:44] stockhausenj opened #3740 "Read Desired 0 ASG Tags When Node Selectors Are Used"
*Not using EKS. Just EC2 resources.*

When having a AWS ASG with a min of 0 the AWS cluster autoscaler should be able to scale out when a Kubernetes resource has a node selector value that matches a tag on the ASG. For testing I use `requiredDuringSchedulingIgnoredDuringExecution` for a pod. The pod wont get scheduled unless I bump the ASG to a min of > 0. When in fact all the EC2 instances in the

[2020-12-03 20:53] unixfox commented on #3150
Hello,

Sorry for the noise but I just wanted to say that I'm also interested into this issue for mostly deploying temporary workloads like Minecraft servers, coding environments (like GitHub codespaces) and more.

This would also close the gap even further for the features available between self-hosted autoscaler and autoscaler from managed Kubernetes solutions like DigitalOcean.
For instance tha

[2020-12-03 21:08] elmiko commented on #3150
@unixfox just by means of an update, i have been working on a proof of concept for scaling from zero with capi. it's been going slower than i expected, but i feel we have good consensus about the initial implementation and with any luck :four_leaf_clover: i should have something to show in early january.

[2020-12-04 03:28] jichenjc opened #3741 "[Question][VPA][Cluster autoscale] do we plan/already support scale underlying node?"
A use case for us is we need increase the pod's cpu/memory on the fly due to workload increase
but the scale up of the container might in the end require a scale up of a node
has this been enabled or some links can be provided if there is restrictions on such scenario?

[2020-12-04 09:50] koenvo opened #3742 "Add EC2 m5zn instance types"
The new m5zn instance types are missing in `ec2_instance_types.go` which results in `uses the unknown EC2 instance type "m5zn.3xlarge"` messages.

AWS article: https://aws.amazon.com/about-aws/whats-new/2020/12/introducing-amazon-ec2-m5zn-instances/

I'll try to create a pull request for it.

[2020-12-04 16:27] elmiko commented on #2942
this issue is going to take time to properly address. we have some good discussions at the sig autoscaler and sig testing meetings and i believe we have a plan to move forward. i am still working on a KEP to describe the overall action, and @benmoss has proposed #3651 , which adds the framework we will use for e2e testing.
there are still some details to finalize in terms of how and where the test

[2020-12-05 12:49] rtheis commented on #3699
@jonesbr17  is referring to https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.11

[2020-12-06 15:15] #3494 closed

[2020-12-07 06:02] seamusabshere commented on #3506
I am seeing this error even with 6Gi of memory limits... something is wrong.

[2020-12-07 11:51] #3461 closed

[2020-12-07 15:35] mcristina422 commented on #3506
We've seen similar issues with our AWS autoscaler. We didn't have 1.18 to take a pprof but it was taking > 5GB of ram. Maybe we should default to the static list? I don't think it's been updated recently

[2020-12-08 06:36] RayBB commented on #1778
I would also really like to be able to set the VPA based on labels.

@naseemkullah how does the VPA work when you add one per deployment?
Are all of your 900 pods using roughly the same resources and then the VPA sees that when new pods are created and allocates accordingly?
Or is it the case that you attach the VPA to a pod and then the VPA changes the pod based on what it sees that specific pod

[2020-12-08 17:19] mjtv commented on #3475
I work with llamahunter. This unblocks us. Thanks so much!

[2020-12-08 17:35] gjtempleton commented on #3475
Thanks for confirming!

/close

[2020-12-08 17:35] #3475 closed

[2020-12-08 23:50] RayBB commented on #1778
It seems label selectors were deprecated in [0.5.0](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.5.0).
As far as I can tell, there is no workaround.
GKE has some docs [here](https://cloud.google.com/kubernetes-engine/docs/how-to/vertical-pod-autoscaling-migration#introducing_v1beta2_api) about the migration with no resolution.

[2020-12-09 00:27] edijsdrezovs commented on #1431
@dprateek1991

If you’re using Persistent Volumes, your deployment needs to run in the same AZ as where the EBS volume is, otherwise the pod scheduling could fail if it is scheduled in a different AZ and cannot find the EBS volume. To overcome this, either use a single AZ ASG for this use case, or an ASG-per-AZ while enabling --balance-similar-node-groups.

On creation time, the ASG will have the

[2020-12-09 01:29] RayBB opened #3752 "Cannot use a Service as a targetRef for the VPA (Vertical Pod Autoscaler)?"
I am trying use a [Service](https://kubernetes.io/docs/concepts/services-networking/service/) as the targetRef (target reference) for a [VPA](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler).

When I try to do this I get the error below.
I have checked that the VPA,Pod,Service are all in the same namespace.

Any ideas why this isn't working?
All the contributors here h

[2020-12-09 01:29] #3508 closed

[2020-12-09 08:56] abaskakau opened #3753 "Cluster Autoscaler doesn't delete unneeded nodes with no errors"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.20.0

Component version:

Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean", BuildDate:"2020-10-20T22:18:07Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

**Wh

[2020-12-09 09:33] MaciekPytel commented on #3753
The answer would be in `scaleDownForbidden=true` part of the log. That value usually means that there are pending pods present in cluster. CA will not scale-down until all the pending pods have been scheduled. You can find more details on technical reasons for blocking scale-down in the discussion https://github.com/kubernetes/autoscaler/pull/3547#discussion_r496803677.

[2020-12-09 09:37] abaskakau commented on #3753
Thanks for the rapid answer. I'll check this in an hour

[2020-12-09 09:56] abaskakau commented on #3753
Yep, there was a pod in Pending state that affected cluster-autoscaler. Thanks for your help

[2020-12-09 09:56] #3753 closed

[2020-12-09 10:11] abaskakau commented on #3753
BTW, I see the mention from #3547
We have node limits set in AWS that helps us not to cross the cost line. And yeah, right now we are at our node capacity.
Behaviour on scaling down when there are some pending pods looks absolutely reasonable to me. We use HPA for scaling workloads, and hitting max nodes (costs line) is breaking scaling down which means that costs are not falling back on low capac

[2020-12-09 14:45] seamusabshere commented on #3044
[code]

this does not fix it.

[code]

[2020-12-09 18:51] bpinske opened #3756 "Bug: Disagreement between real scheduler and CA's simulation on whether a pod is schedulable"
**Which component are you using?**:
Cluster Autoscaler

**What version of the component are you using?**:

v1.17.1 CA

v1.18.6 K8s

Component version:

**What k8s version are you using (`kubectl version`)?**:

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-13T18:06:54Z", GoVers

[2020-12-09 21:18] RayBB commented on #3752
Here is the response I got in Slack:

This makes sense since Service doesn't implement [ScaleStatus](https://v1-16.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#scalestatus-v1-autoscaling), which is [needed](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L65) for VPA.

[2020-12-09 21:18] #3752 closed

[2020-12-10 03:52] yiyan-wish commented on #1860
same issue
`E1210 03:15:12.303121       1 aws_manager.go:265] Failed to regenerate ASG cache: cannot autodiscover ASGs: RequestError: send request failed
caused by: Post "https://autoscaling.cn-northwest-1.amazonaws.com.cn/": dial tcp 52.82.209.176:443: i/o timeout`
and the cluster-autoscaler pod's dnsPolicy is `ClusterFirst`

[2020-12-10 06:46] RayBB commented on #1778
For reference, I was trying to address this using a service but that doesn't seem possible.
#3752

[2020-12-11 08:54] umialpha commented on #3735
It may not be a bug. it looks more like a **misleading log.**
When **the priority of certain node group is below max priority currently found** or **the regex pattern is not matched**, the node group is skipped. So I think it's because CA found a better group, e.g spot, ssd.

Code Ref: 	[https://github.com/kubernetes/autoscaler/blob/2ff1f55689abbbd230bd3f43c634a0d972b17e84/cluster-autoscaler/expan

[2020-12-11 14:13] MaciekPytel commented on #3583
I'd like to pick this up and implement it for 1.21. Here is my proposal for how to implement this:

1. We would split AutoscalingOptions into two structs: NodeGroupAutoscalingOptions and AutoscalingOptions. The options that make sense on NodeGroup level (tentative list below) would be moved to NodeGroupAutoscalingOptions. AutoscalingOptions would contain NodeGroupAutoscalingOptions that will be se

[2020-12-11 17:41] svaranasi-traderev opened #3760 "Missing Docs: Passing multiple taints to CA Auto-Discovery"
**Component**
cluster-autoscaler/cloudprovider/aws

**Issue**
Our AWS EKS clusters run with three separate unmanaged worker-node groups. Each worker-node group is within its own ASG. The nodes within these ASGs are tainted with a 'tier' taint. The tag-key for this 'tier' taint is different for each node-group.
Example:
`isSharedServices`: `true`
`isSomethingElse`: `true`

Now, reading through the

[2020-12-12 21:07] PhilThurston commented on #2936
@Jeffwan this is still an issue and I see it was assigned to you.

[2020-12-13 04:36] mtb-xt commented on #2503
/remove-lifecycle stale

[2020-12-13 11:49] #3322 closed

[2020-12-13 21:35] leosunmo commented on #1658
/remove-lifecycle rotten

I presume this is still considered an issue, even if we're not all going to drop everything and fix it right away!

[2020-12-13 21:36] leosunmo commented on #1658
/reopen

[2020-12-14 05:18] sudo-justinwilson commented on #3713
It turns out that the `aws-node-termination-handler` is responsible for giving the nodes an `unschedulable` status when a `REBALANCE_RECOMMENDATION` occurs.

[2020-12-14 05:18] #3713 closed

[2020-12-14 06:04] umialpha commented on #3756
I've checked the code and compare CA 17.1 with K8s v17.3, CA uses **scheduler logic** to predict. So there shouldn't be any disagreement.  I think it is due to other problems.

[2020-12-14 06:06] bpinske commented on #3756
This is mentioned in the OP, but its somewhat hard to read so I'll clarify it.

I am running K8s v1.18.6 and CA 1.17.1

[2020-12-14 06:18] sanjeevpandey19 commented on #3650
@darrenfurr got any solution of this issue ? i'm also experiencing the same behavior

[2020-12-14 09:07] dvianello commented on #1658
/reopen

/remove-lifecycle rotten

[2020-12-14 09:38] umialpha commented on #3756
I think k8s v1.18 has breaking change in scheduler part( it moves all the logic into schedulerframework plugins). CA1.17 still uses k8s v1.17 scheduler logic. So there is mismatch between them. I suggests you to upgrade CA to v1.18 to see whether the problem still occurs.

[2020-12-14 12:57] MaciekPytel commented on #3756
We only support running "matching" CA and kubernetes versions (ie. CA 1.16 on 1.16 cluster, CA 1.17 on 1.17 cluster, etc), because CA is specifically using the scheduler code from a matching version. Scheduler code happens over time and the behavior in different minor version can differ, leading to exactly this type of issues.

To be honest, most of the time running different versions actually wor

[2020-12-14 14:14] elmiko commented on #3583
this generally makes sense to me, i think the processor interface and split between the autoscaling options and per-node group options seems reasonable.

the main question i am left with is how will users be able to associate a set of options with a specific node group?

[2020-12-14 14:16] darrenfurr commented on #3650
@sanjeevpandey19 - Unfortunately no. I have one AWS account the c5a works fine. Another account, which happens to be Prod, it does not. 👎

[2020-12-14 15:40] MaciekPytel commented on #3583
The idea is to leave this part up to each cloudprovider. This proposal is basically just a framework that will allow providers to expose the feature to users in whatever way makes most sense for the given provider.

The rationale is that the way in which you configure CA is already very provider specific:
- Since deploying CA across different providers already requires completely different way of

[2020-12-14 17:19] elmiko commented on #3583
thanks @MaciekPytel , that makes good sense to me. i am wondering how users will interact with these mechanism too, would each provider be responsible for exposing flags or were you thinking about storing the configuration in some other way?

[2020-12-14 17:46] MaciekPytel commented on #3583
Each provider would be responsible for exposing a way to configure the feature to users and implementing NodeGroup.GetOptions() (or a completely different implementation of processor if needed). All the default implementation will do is poll NodeGroup.GetOptions() each loop and apply any provided overrides.

For a given provider doing nothing will result in no change in behavior - all NodeGroups w

[2020-12-14 17:54] koef opened #3764 "Scale-up a cluster with a new node group"
Hello.

Let's assume that I have a cluster with node group "one". I want to keep the group "one" unchanged and scale the cluster by non-existed groups in the cluster, which include servers with another configuration.

As I can see, before scale-up, Cluster-Autoscaler checks is [bestOption.NodeGroup exists](https://github.com/kubernetes/autoscaler/blob/0fb897b83992787fd75f262499c71b8ff3bfd14c/clust

[2020-12-14 18:09] elmiko commented on #3583
i think it would be useful if we could have a standard methodology for providers to reference their configuration data, for example a command line flag to a yaml file or something. just to help contain the possible matrix of options that providers could choose. but aside from that, i don't have an objection to what you are describing. thanks for the extra detail =)

[2020-12-14 18:48] MaciekPytel commented on #3764
There isn't. The code you mentioned is a leftover from when GKE did a PoC of feature like this. You can find more details in https://github.com/kubernetes/autoscaler/issues/1916#issuecomment-484923391, but tl;dr is that the PoC only covered GKE. After it turned out to not be portable to other providers and require an ever growing number of GKE-specific changes to core autoscaler logic the PoC in t

[2020-12-15 00:04] RayBB opened #3766 "Support using the VPA for batch jobs (specifically Airflow)"
**Which component are you using?**: Vertical Pod Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

- There currently is no way to use the VPA for pods launched by Airflow while utilizing the history of past pods because the pods are launched without a controller.
- The VPA [used](https://github.com/kubernetes/autoscaler/blo

[2020-12-15 01:14] seamusabshere commented on #3506
I cross-commented on this related issue: https://github.com/kubernetes/autoscaler/issues/3044#issuecomment-741817868

[2020-12-15 02:15] Bessonov commented on #1619
/reopen

[2020-12-15 02:17] Bessonov commented on #1619
I think it make sense to reopen this issue until a such documentation exists.

[2020-12-15 07:29] n3o-Bhushan opened #3767 "CA autoscaling wrong ASG (GPU) after hitting max size of one of the ASG (CPU)"
**Which component are you using?**:

Cluster Autoscaler

**What version of the component are you using?**:

v1.17.2

**What k8s version are you using (`kubectl version`)?**:

Client Version: v1.18.0
Server Version: v1.17.12-eks-7684af

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0",

[2020-12-15 11:01] koef commented on #3764
Thanks for the answer.

[2020-12-15 11:01] #3764 closed

[2020-12-16 02:53] lawliet89 commented on #2434
/remove-lifecycle rotten

[2020-12-16 03:24] lawliet89 commented on #2434
Landed here after observing the same issue. According to [`eksctl` docs](https://eksctl.io/usage/autoscaling/#scaling-up-from-0)`, you need to add the `Effect` to the tag value too.

[code]

[2020-12-16 18:34] sanjeevpandey19 commented on #3650
having exactly same issue, working in 2 accounts but does't work another one

[2020-12-17 11:22] #3268 closed

[2020-12-17 17:19] bskiba commented on #3766
Raymond thanks a lot for a detailed writeup.

We still very much support the reasons for migrating away from label selectors. The most important reason being that the use of selectors is prone to misconfigurations - e.g. VPA objects targeting all pods, overlapping VPA objects. We've seen a lot of unhappy cases of that.
Another problem with pods not backed by a controller is that VPA relies on the

[2020-12-17 17:28] bskiba commented on #3741
This is not currently supported in the open source VPA. Since the feature is very provider dependent as it needs support from underlying infrastructure, you can try to find it in the specific providers.
As an example, GKE provides integration with cluster autoscaler to provide different shape of node if VPA resize makes it necessary: https://cloud.google.com/kubernetes-engine/docs/concepts/vertica

[2020-12-17 17:33] bskiba commented on #3739
In general we avoid exposing metrics that can be labeled with arbitrary strings (in the case of recommendation it would be vpa-name as a label). Reason being that it's not scalable and causes issues in presence of more objects.

kube-state-metrics indeed exposes these metrics, so it seems like a good fit - https://github.com/kubernetes/kube-state-metrics/blob/master/docs/verticalpodautoscaler-metr

[2020-12-18 01:33] jichenjc commented on #3741
@bskiba thanks :) , I will take a look~

[2020-12-18 07:10] umialpha commented on #3767
Is it expected? CA tries to find best node group to scale. what would you expect? Do you want GPU node group only be scaled up when GPU required?

[2020-12-18 07:13] umialpha commented on #3766
Hi @bskiba , do you have any related threads which I can follow up? I am also interested in this.

[2020-12-18 19:42] n3o-Bhushan commented on #3767
Hey @umialpha thanks for the response. Yes, I expect GPU node group to be scaled only when GPU is required. I do have appropriate taints and labels set up for that.

I am scaling all node groups from 0 and seeing similar line very often in logs
```Could not get a CSINode object for the node "template-node-for-cluster-1-eks-gpu-worker-p2.xlarge-2037444365075013849-0": csinode.storage.k8s.io "templa

[2020-12-18 20:27] cep21 commented on #3241
Super important!
/remove-lifecycle stale

[2020-12-19 00:27] moustafab opened #3775 "chart typo with additionalLabels"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
cluster-autoscaler-9.3.0

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.18.X (N/A)

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
aws

**What did you expect to hap

[2020-12-19 00:59] #3316 closed

[2020-12-19 13:38] eddycharly opened #3776 "Helm chart : expanderPriorities in values are object but string expected in template"
In `values.yaml` it looks like `expanderPriorities` should be passed as an `object`

https://github.com/kubernetes/autoscaler/blob/04b2ae823cf3369d9ba4b98b3be52450a0a7bead/charts/cluster-autoscaler/values.yaml#L126

But the template expects it to be a string

https://github.com/kubernetes/autoscaler/blob/04b2ae823cf3369d9ba4b98b3be52450a0a7bead/charts/cluster-autoscaler/templates/priority-expander

[2020-12-19 18:16] #2809 closed

[2020-12-21 04:48] umialpha commented on #3767
Could you provide your config. e.g. how did you set up your taints and labels.

[2020-12-21 14:44] klebediev commented on #3241
Looking at AWS API, it seems like there is no reliable way to find out that scaling out for particular `SetDesiredCapacity` call has failed. If `SetDesiredCapacity` returned `ActivityId` for scaling activity, that would work.
Otherwise - personally I can't come up with nothing better than parsing autoscaling activities "younger" than my`SetDesiderCapacity` API call. Don't feel like this way is pro

[2020-12-21 18:51] loreleimccollum-work opened #3779 "Support enable/disable of the Pod Disruption Budget"
**Which component are you using?**: cluster-autoscaler helm chart

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

**Describe the solution you'd like.**:
We are using terraform and helm to roll out cluster autoscaler, and finding that we do not want the PDB that comes by default with the cluster autoscaler. We would rather define our

[2020-12-21 20:06] n3o-Bhushan commented on #3767
@umialpha I have setup taints and labels using terraform using `kubelet_extra_args = --node-labels=abc, --register-with-taints=xyz`.

Has anything changed in CA (since version 1.14) when it scales from 0 ?

[2020-12-21 20:20] marwan116 opened #3780 "Cluster Autoscaler scaling from 0 on AWS EKS stops working after CA pod is restarted"
**Which component are you using?**:  cluster-autoscaler

**What version of the component are you using?**:

Component version: `1.18.3`

**What k8s version are you using (`kubectl version`)?**: 1.18

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
[code]

**What did you expect to happen?**: I have a `cl

[2020-12-22 01:27] bubba commented on #3008
For anyone else trying to set up cluster-autoscaler on a fargate node, I had to:

1. Remove the `ssl-certs` volume: it doesn't seem to have an effect?
2. Set the `AWS_REGION` env var in the deployment since I think the function that infers the region is dependent on some EC2 instance API calls
3. Add the [permissions specified here](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscal

[2020-12-22 04:41] umialpha commented on #3767
IIUC CA uses scheduler pkg to predict. So CA(in fact, scheduler) should respect taints. I run some unit tests and it did respect taints.

Could you please copy and paste your node yaml with command "kubectl get node <gpu node name> -o yaml"

[2020-12-22 16:46] cep21 commented on #3241
I wouldn't expect anything that ties back to a single `SetDesiredCapacity` since it's async and there could be multiple calls.

Maybe look at the last activity (rather than them all), if it's recent (for some definition of recent), then assume the capacity isn't able to change right now and quick fallover any scaling operation.

[2020-12-22 18:05] TBBle commented on #3230
/remove-lifecycle stale

[2020-12-23 08:27] mortyre commented on #3243
I have same problem. How fix it?

[2020-12-23 08:57] dignajar commented on #3243
I had a problem with the labels and the autoscaling, for some reason the autoscaling groups were not assigning labels to the instances, I'm using AWS and Kops to deploy the cluster.

[2020-12-23 13:03] svaranasi-traderev commented on #3760
Opened a PR based on my understanding of the code: https://github.com/kubernetes/autoscaler/pull/3781

[2020-12-23 13:45] chris-vest commented on #3376
I'm getting the same issue, EKS 1.18 - I've checked the queries that VPA runs against Prometheus and they should all return data. Also the VPAs are not being populated with recommendations and the `status` is `"false"`

[2020-12-23 17:51] balleon commented on #1619
@immarvin
Did you found a way to autoscale on-premise Kubernetes cluster using cluster-autoscaler?
I have a similar case with an on-premise OpenStack cluster.

[2020-12-24 01:56] n3o-Bhushan commented on #3767
Hi @umialpha it does respect taints in general. The only unexpected behavior happens when scaling from 0 for the first time and when ASG hits the limit. What particular part you want to look from `kubectl get node <gpu node name> -o yaml`

[2020-12-24 03:35] umialpha commented on #3767
But from the logs you offered, "waste.go" checks "cluster-1-eks-gpu-worker-p2.8xlarge". However it shouldn't because gpu node should not be a option for scaling up. ScaleUp logic runs as follows,
1. Choose options of node groups to scale up.
2. Choose best option of one node group to scale up. (where "waste.go" takes place)
3. If "BalanceSimilarNodeGroups", find similar node groups.

IIUC gpu node

[2020-12-24 13:34] chris-vest opened #3784 "[vpa] Documentation for configuration options"
**Which component are you using?**:

VPA recommender.

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Better user experience and easier debugging.

**Describe the solution you'd like.**:

Documentation for these VPA recommender configuration options:
[code]

Granted, some of these are pretty self-explanatory, but some of not obvious

[2020-12-24 14:22] balleon commented on #953
@aleksandra-malinowska
I am looking to use Autoscaler with private cloud like OpenStack (not OpenStack Magnum).
Is node groups concept mandatory with custom provider?

[2020-12-25 02:22] immarvin commented on #1619
nope

[2020-12-25 17:37] #3368 closed

[2020-12-26 17:00] #3375 closed

[2020-12-28 00:31] #3383 closed

[2020-12-28 15:48] timoreimann commented on #3469
I think it's okay to close this one since #3556 will track the work necessary to bring back tag-based configuration management. If anyone thinks differently, please post here.

/close

[2020-12-28 15:48] #3469 closed

[2020-12-29 09:15] zyjiaobj commented on #3477
/remove-lifecycle rotten

[2020-12-29 09:51] zhaocheng173 opened #3785 "Does Prometheus be supported? Can I look up the historical data after changes to VPA limit?"

[2020-12-29 09:54] zhaocheng173 opened #3786 "The maximum limit and the value recommended by request, how is vPA calculated"

[2020-12-29 11:19] huang-jy commented on #3645
FWIW, I had a similar situation. The autoscaler pods were booted off when I had to upsize the nodes in my EKS cluster and they couldn't reschedule because they were considered "normal" workload and not cluster critical. I believe PodPriority should fix this too.

[2020-12-29 12:23] huang-jy commented on #3645
Quick hack if you want to use it:

[code]

[2020-12-29 16:34] MaciekPytel commented on #3538
For future reference - we don't officially support any version skew in terms of minor version. Usually 1 minor is unlikely to cause any issues (but we don't promise anything). However, 1.18 had a major refactor in how scheduler and autoscaler work together and mixing pre-1.18 with post-1.18 is very likely to cause all sorts of problems.

[2020-12-29 16:43] MaciekPytel commented on #3583
Specifically for cluster api - wouldn't something like an annotation on MD or MS be the most convenient way of configuring those settings? I'm not saying it's the right way to do it, I'm just looking for your opinion.

Anyway, the 'framework' changes above are completely independent from any mechanism for actually setting the values, so I think it's safe to implement the mechanics first and later

[2020-12-29 17:37] nmarus commented on #3639
Im running into this same question. CA works great, scales up/down but scaled down nodes persist in a UnReady state when looking at `kubectl get nodes`. Sorry  if this is off-topic, but based on the above, I understand this is not the responsibility of CA, but can someone shed some light on best practices here? What should clean this up? I would guess many that are running a self managed K8S clust

[2020-12-30 18:26] MaciekPytel commented on #3583
I've opened https://github.com/kubernetes/autoscaler/pull/3789 with the implementation.

[2020-12-30 19:09] spanky-medal commented on #2045
Pardon any naivete on my part, but it seems this is the correct cause of the issue:

[code]

Shouldn't the solution be to switch to the Drain API?

[2020-12-30 21:06] pc-rshetty opened #3791 "Cluster downsizing not working due to cluster proportional autoscaler dummy pod consuming more than 50%"
**Which component are you using?**:

Cluster Proportioanal autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
As per the documents
`The sum of cpu and memory requests of all pods running on this node is smaller than 50% of the node's allocatable. (Before 1.1.0, node capacity was used instead of allocatable.)`

Cluster downsiz

[2020-12-30 21:34] elmiko commented on #3583
yeah, adding an annotation to MD or MS would be a very straightforward way to do this from the capi perspective and it would give users an easy way to interact as well.

agreed, makes sense to me!

[2021-01-01 14:18] #2020 closed

[2021-01-02 13:26] imyousuf commented on #3502
I am facing the same issue in EKS -

Versions:

[code]

Images running -

[code]

[code]

[2021-01-02 16:44] #3082 closed

[2021-01-02 17:47] cep21 commented on #2646
/remove-lifecycle stale

[2021-01-03 05:32] Chili-Man commented on #3779
I would like to see this supported in the Helm chart as well;

[2021-01-04 08:32] donovanmuller commented on #3215
@jesher if you want to use IRSA and you get this error see https://github.com/terraform-aws-modules/terraform-aws-eks/issues/965#issuecomment-694750904 this solved it for me. I am using Terraform, so the below is all I needed to add:

[code]

[2021-01-04 14:30] #2552 closed

[2021-01-04 19:32] matti commented on #2936
@PhilThurston what exactly is an issue?

For example this comment in this thread "solved" this for me:

This cluster autoscaler is just kinda hard to get running right with these kind of shitty error messages

[2021-01-04 21:11] PhilThurston commented on #2936
@matti I'm unsure what exactly fixed it for us but I can give you a rundown.

We are using eksctl to deploy the cluster. We installed the autoscaler and it would only recognize a single node-group of our three total as something that could be scaled. We would get the exact same errors as above. I couldn't resolve the issue so I took a shot in the dark and recreated each node-group with just differ

[2021-01-05 06:39] mataneja commented on #3779
@loreleimccollum-work For my and other's benefit, would love to understand your use case requiring a custom PDB... What would you like to set it to instead?

[2021-01-05 07:49] tehleet commented on #3633
Solved in PR #3687

[2021-01-05 07:49] #3633 closed

[2021-01-05 12:38] franklinoa commented on #2936
In the case that you use EC2 Auto Scaling groups, you will need to add the following tags (replace example-cluster-name with the name of the cluster):

k8s.io/cluster-autoscaler/example-cluster-name owned Yes
k8s.io/cluster-autoscaler/enabled true Yes
![image](https://user-images.githubusercontent.com/48762803/103647250-48630800-4f5b-11eb-87ec-61cbe57f07aa.png)

If you use terraform add this to yo

[2021-01-05 14:30] loreleimccollum-work commented on #3779
@mataneja  the current helm chart hardcodes maxUnavailable on by default. We would rather use minAvailable option to configure out PDB, but since Terraform helm release merges your values you want to set ( we set the minAvailable) with the existing values which has the other one, the helm release fails because per policy of PDB, you are not allowed to have both set

[2021-01-05 14:56] rtheis commented on #3567
/remove-lifecycle stale

[2021-01-05 15:25] Capstan commented on #3486
/remove-lifecycle stale

[2021-01-05 15:44] MaciekPytel commented on #953
It is. All that CA is doing to scale-up is pick the best node group to scale-up and change its desired size. It expects the node group will be able to start the VM and configure it so that the VM will be able to join the cluster (ie. all CA does is make the decision to increase cluster size, it doesn't actually create nodes).

[2021-01-05 16:45] gabegorelick commented on #1653
Is disabling leader election really recommended? All of the official examples I'm aware of [specify `replicas: 1`](https://github.com/kubernetes/autoscaler/search?q=replicas) but [keep the default value for `leader-elect`](https://github.com/kubernetes/autoscaler/search?q=leader).

Even when running `replicas: 1`, wouldn't leader election be necessary during rolling updates of the CA deployment? O

[2021-01-05 18:22] Bessonov commented on #1619
@balleon @immarvin

I'm on the same way, but for custom provisioning of VMs. It's not easy (especially for no-go folks), but it's not to hard. Although I'm not done yet - just PoC.

First thing first: until https://github.com/kubernetes/autoscaler/issues/3644 or https://github.com/kubernetes/autoscaler/pull/3140 are done/implemented I don't see any way to avoid go. Because of that I learn go and a

[2021-01-06 05:06] ychanaa opened #3795 "Failed to scale up: AadProfile.ClientAppID value can not be null"
**Which component are you using?**:
Cluster-autoscaler

**What version of the component are you using?**:
Image:v1.18.1, helm chart:1.18.1

Component version:

**What k8s version are you using (`kubectl version`)?**:
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47

[2021-01-06 11:49] sowhatim commented on #3780
do you follow all the things as mentioned here - [How can I scale a node group to 0?](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0)

[2021-01-06 18:30] sftim opened #3796 "Update documentation to use “control plane” term"
**Which component are you using?**:

`cluster-autoscaler`

**What version of the component are you using?**:

_not applicable_ (issue is about primary GitHub branch)

**Component version**:

_not applicable_

**What environment is this in?**:

_not applicable_

**What did you expect to happen?**:

Documentation talks about “control plane”

**What happened instead?**:

Documentation talks about a “

[2021-01-06 18:31] sftim commented on #3796
https://github.com/kubernetes/autoscaler/tree/a346d772a3a872faee149ce244e95806b73b9aba/cluster-autoscaler#readme

[2021-01-06 21:43] Type1J commented on #1620
`unknown flag: --namespace other_namespace`

[2021-01-06 21:43] Type1J commented on #1620
/reopen

[2021-01-07 02:48] marwan116 commented on #3780
@sowhatim thank you for responding, I was using multiple ASG (auto-scaling group)s that span multiple AZ(availability zone)s - I fixed it so that all ASGs only span the same AZ ... so will report back if I stop encountering this issue within the next month to close this issue

[2021-01-07 11:37] #3183 closed

[2021-01-07 21:37] jatin-pathangi opened #3798 "Cluster Autoscaler Deployment link in README for GCE is wrong?"
**Which component are you using?**:
Cluster Autoscaler

**What version of the component are you using?**:
1.16.x

Component version:

**What k8s version are you using (`kubectl version`)?**:
1.16
<details><summary><code>kubectl version</code> Output</summary><br><pre>

</pre></details>

**What environment is this in?**:
GCE

**What did you expect to happen?**:

**What happened instead?**:

**How t

[2021-01-08 05:39] umialpha commented on #3791
AFAIK, [Cluster Proportioanal Autoscaler](https://github.com/kubernetes-sigs/cluster-proportional-autoscaler) is another autoscaler which does not belong to this repo.

[2021-01-08 07:33] focaaby commented on #3592
I was not able to workaround this issue by injecting `AWS_REGION` or `AWS_DEFAULT_REGION` environment into the aws-cluster-autoscaler either.

Also, there are other issues #3276 #3216 related to the load the Instance Type list from pricing API. Thus, I upgraded to the latest version 1.20, and added `--aws-use-static-instance-list=true` flag. However, it still keeps `Terminated` with 255 exit code

[2021-01-08 08:28] thowan commented on #3698
How do you set the --cpu-histogram-decay-half-life flag in the first place? Could someone tell me? Thanks!

[2021-01-08 10:01] MaciekPytel commented on #3791
You can change the 50% utilization threshold using `--scale-down-utilization-threshold` flag. There is no mechanism to ignore utilization of a single pod (safe-to-evict annotation bypasses other checks, such as checks if pod is owned by controller, but it doesn't impact utilization calculation).

[2021-01-08 11:07] herrbpl opened #3799 "Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list"
**Which component are you using?**:

cluster-autoscaler
**What version of the component are you using?**:

us.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.18.1

Component version: Cluster Autoscaler 1.18.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{

[2021-01-08 11:28] herrbpl commented on #3799
Never mind. I cannot spell. Region is supposed to be **eu-central-1** no **eu-center-1**

Only thing I wish here, is that error message could inform about non-existing region.

[2021-01-08 11:28] #3799 closed

[2021-01-08 14:43] samgiles opened #3800 "[VPA] `controlledResources` field dropped from `containerPolicy`"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

Component version: 0.9.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb29122

[2021-01-08 18:06] #3417 closed

[2021-01-08 23:20] pc-rshetty commented on #3791
@umialpha i know that :) . Think of it as any other pod. What i had to do is add the annotation then it let that pod evict.

@MaciekPytel yes so right now there is a  way at pod level is to mark this annotation and it works
[code]

[2021-01-10 07:43] #3342 closed

[2021-01-11 11:27] unixfox commented on #1125
/reopen

I'm also interested into this feature.

[2021-01-11 11:34] unixfox commented on #3255
/remove-lifecycle stale

[2021-01-11 14:08] svaranasi-traderev commented on #1653
We're seeing the same issue on our EKS cluster with 40+ nodes, running 1.16.5.

[code]

/reopen
/remove-lifecycle rotten

[2021-01-11 14:51] MaciekPytel commented on #3791
As per my previous comment - safe-to-evict annotation bypasses some checks that would otherwise prevent a pod from being restarted, but the pod with the annotation counts normally for the purposes of utilization check.

[2021-01-11 15:55] dschunack opened #3802 "Cluster Autoscaler does not start new nodes when Taints and NodeSelector are used in EKS"
Hi,

we use EKS with kubernetes 1.18 and the Cluster Autoscaler. With kubernetes 1.17 the "beta.kubernetes.io/Instance-type" is [deprecated](https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/). We use instead the new "node.kubernetes.io/instance-type" as NodeSelector. This is working for autoscaling groups without taints. For the autoscaling groups with taints is the ne

[2021-01-11 22:44] gjtempleton commented on #3796
Thanks for raising this!

I've raised #3803 to capture all of our doc references to the old terminology.

[2021-01-12 01:24] #3422 closed

[2021-01-12 06:54] hidekazuna opened #3804 "Insufficient privilege in Cluster Autoscaler on Cluster API sample manifest"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.19.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.9", GitCommit:"94f372e501c973a7fa9eb40ec9ebd2

[2021-01-12 06:55] hidekazuna commented on #3804
/assign @hidekazuna

[2021-01-12 15:41] bskiba commented on #3800
I'm working on reproducing this on 1.19 with VPA 0.9.0.

Couple additional questions:
1. Do you get recommendation for this VPA object and if yes, can you share it?
2. The minikube version is v1.14.2, does it translate to Kubernetes 1.14?
3. When you say that the `controlledResources property disappears from the VPA resource at some point`, do you know when that happens? Is it right after creation

[2021-01-12 15:48] #3804 closed

[2021-01-12 15:52] bskiba commented on #3800
Actually I reproduced this, and it seems the controlledResources disappear right at the beginning.

However, if you checkout tag vertical-pod-autoscaler-0.9.0 in this repo and run `TAG=0.9.0 ./hack/vpa-up.sh`, the controlled resources field works correctly. I suspect recent changes to the CRD definition changed something. Investiagting.

[2021-01-12 16:32] bskiba commented on #3800
I think the problem is that the current storage version is v1beta2, which did not have the controlledResources field, and we don't preserve unknown fields. So when we save a v1 version object, all fields that were not present in v1beta2 are dropped.

[2021-01-12 16:58] bskiba commented on #3698
This [FAQ entry](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/FAQ.md#how-can-i-use-prometheus-as-a-history-provider-for-the-vpa-recommender) shows how to modify the arguments for recommender. You can pass  the --cpu-histogram-decay-half-life value the same way by modifying the [recommender manifest](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-a

[2021-01-12 16:58] #3698 closed

[2021-01-12 17:00] bskiba commented on #3786
What do you mean by maximum limit?
There is some information on the current recommendation algorithm here: https://github.com/kubernetes/autoscaler/issues/2747

[2021-01-12 17:01] bskiba commented on #3785
What do you mean by VPA limit?

[2021-01-12 17:14] bskiba commented on #3784
We do not have up to date documentation of the parameters (I suppose it would get out of date very quickly, bt you can run the binary with the --help option to get the flag description.
`docker run -it k8s.gcr.io/autoscaling/vpa-recommender:0.9.0 ./vpa-recommender --help`

[2021-01-12 17:16] bskiba commented on #3376
If the VPAs are not populated, that is a different issue, after vpa-recommender is working or some time you should see recommendations for running pods, even if fetching history failed.

If you observe no recommendations after 15 minutes, please file a new issue with the details.

[2021-01-12 19:09] tom-hadlaw-hs commented on #3376
I'm getting similar issues, seems like the problem is that prometheus is pulling in metrics too broadly. It would be nice if you could add additional label selectors to narrow down the search space.

Something like: `--prometheus-extra-labels=foo=bar`

[2021-01-13 05:45] danielyaa5 opened #3813 "What does no.scale.down.node.no.place.to.move.pods mean and how can I debug it?"
Hello, Im having trouble understanding why my nodes aren't scaling down. When I look at the autoscaling logs I see

[code]

I looked at the docs and don't really see any helpful debugging information with regards to this scale down reason. Theres some info here https://justin.palpant.us/tuning-cluster-autoscaler-on-gke/ but I don't really understand the explanation.

[2021-01-13 07:08] grosser commented on #3615
/lifecycle frozen

[2021-01-13 09:07] MaciekPytel commented on #3615
If anyone wants to give this a go, I think it could be implemented fairly easily as a new comparator for [BalancingNodeGroupSetProcessor](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/processors/nodegroupset/balancing_processor.go#L31).

[2021-01-13 09:30] jichenjc opened #3814 "Define clusterapi cloud provider in common place"
**Which component are you using?**:
cluster auto scaler

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_provider.go#L40

better define this cloud provider (clusterapi) in cloud_provider.go just like other cloud provider

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

**Des

[2021-01-13 09:30] jichenjc commented on #3814
/assign

[2021-01-13 09:30] umialpha commented on #3802
Hi, could you provide the labels on your node? I thought the label on your node may be "beta.kubernetes.io/instance-type"

[2021-01-13 09:58] dschunack commented on #3802
Since 1.17 both labels are present on the nodes.

`
kubectl get nodes --show-labels -l node.kubernetes.io/instance-type=c5a.4xlarge
NAME                                             STATUS   ROLES    AGE    VERSION              LABELS
ip-10-194-24-148.eu-central-1.compute.internal   Ready    <none>   3h1m   v1.18.9-eks-d1db3c   beta.kubernetes.io/arch=amd64,beta.kubernetes.io/instance-type=c5a.4xla

[2021-01-13 12:01] MaciekPytel commented on #3409
Sorry for late reply, but addressing comment by @ajcann - ongoing scale-up in any nodegroup will completely block scale-down of the entire cluster. A pending pod which can't trigger scale-up (ie. one for which NoTriggerScaleUp events are emitted) will not block scale-down.

In case of lack of instance availability the impact will likely depend on specific cloudprovider - if a particular provider i

[2021-01-13 13:22] umialpha commented on #3802
thanks for feedback, TBH I am not familiar with aws. Could you please check the tag "node.kubernetes.io/instance-type" is set in  your ASG tags. From my perspective, if you scale from 0, when creating a node template for predicting, the node tags are copied from the asg.

[2021-01-13 14:13] dschunack commented on #3802
The scaling with node.kubernetes.io/instance-type is working without taints and also scale from 0.
But, if you add a taint on the ASG the cluster autoscaler doesn't scale up.
Only if we switch back to the old beta.kubernetes.io/instance-type label.
I think it's not a problem of the tags on the ASG. We don't set any tag like "beta.kubernetes.io" or "node.kubernetes.io", this is not needed.

[2021-01-13 14:45] samgiles commented on #3800
Fantastic! Thanks for looking into that! 🙌🏼

[2021-01-13 15:39] rtnpro commented on #3615
I am working to implement this feature.

[2021-01-13 16:21] brennerm commented on #3776
For anyone encountering this. A simple workaround is to use a YAML literal:
[code]

[2021-01-13 16:57] MaciekPytel commented on #3813
Disclaimer: This log event is specific to GKE fork of Cluster Autoscaler and not part of codebase in this repo, so this is probably not the best place for this question. However, the logic behind this reason applies to CA in general.

CA will only remove a node if it believes all pods running on this node will be able to schedule on other nodes in the cluster. To check if node N can be removed CA

[2021-01-13 17:25] danielyaa5 commented on #3813
@MaciekPytel Thanks for the explanation, tbh it was really well worded but Im still having trouble really understanding beyond, scheduler doesn't think it can fit all other pods on other nodes. For my case this also bewilders me because there is plenty of room on the other node running. How would you go about debugging this.

[2021-01-13 20:22] jaypipes commented on #3506
I actually don't believe the issues #3044 and this one are due to the same problem. This one is pretty clearly the result of the instance type dynamic generation pulling down 100+MB JSON files on startup. In #3004, however, yourself and another poster point out that using the static instance type list does not solve memory leak issues. I believe the root cause of these issues is different.

[2021-01-13 20:26] jqmichael commented on #3506
If adding `AWS_REGION` to container could fix pulling down huge instance type file, it was added to the latest https://github.com/aws/amazon-eks-pod-identity-webhook and also enabled in 1.18 EKS cluster.

[2021-01-13 23:01] seamusabshere commented on #3506
[ @jaypipes means #3044 not #3004 above ]

[2021-01-14 00:02] eatwithforks opened #3816 "vpa-admission-controller: generate tls certs automatically"
https://github.com/open-policy-agent/gatekeeper

Deploys the mutatingwebhook manually which allows end users to configure all the settings they want and automatically handles cert creation. Can we get that here too?

Problem is having to manually run gen_certs.sh and having to run that command against all clusters doesn't work with our gitops approach.

[2021-01-14 09:12] bskiba commented on #3816
Sounds like a nice improvement, would you be interested in contributing?

[2021-01-14 14:19] jaypipes commented on #3506
doh, yep, sorry about that! fixed :)

[2021-01-14 14:41] eldondevat commented on #2943
/remove-lifecycle rotten

[2021-01-14 15:44] dudicoco commented on #3739
Thanks @bskiba!

[2021-01-14 15:44] #3739 closed

[2021-01-14 17:01] knkarthik commented on #3780
I'm experience the same issue with one of my spot nodegroups with scale to 0 enabled and was working until yesterday. Manually scaling up as @marwan116 suggested using `eksctl` makes it visible to autscaler again. I'm on `v1.18.3`. My nodegroups span multiple AZs and I didn't have any issues until today morning.

[2021-01-14 17:06] knkarthik commented on #3535
I'm having the same issue. https://github.com/kubernetes/autoscaler/issues/3780#issuecomment-760328601

[2021-01-14 23:58] marwan116 commented on #3780
A quick update -  I am still experiencing the same issue even after making sure all ASGs only span the same AZ ...
I am using a config template based on https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml

[2021-01-15 06:02] hectorj2f commented on #3507
@KR411-prog Once you have the service monitor enabled, it is a matter of configuring prometheus to scrape those using that monitor. I recommend this link https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/troubleshooting.md.

[2021-01-15 07:55] barrydobson opened #3819 "Chart releases no longer working"
Helm Chart for Cluster Auto Scaler

Helm Chart

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

Helm uses latest release

Pulling latest version

Latest available chart version is 9.3.0

The GitHub action failed releasing 9.3

[2021-01-15 12:44] #3423 closed

[2021-01-15 15:39] MaciekPytel commented on #3813
Space (cpu/memory) is just one dimension. The pod may not be able to schedule due to constraints such as nodeSelector/nodeAffinity not matching pod labels, taints, pod(Anti)Affinity, various storage-related constraints, pods per node limit and so on.

If you can make changes to your env (or you have a test env where you can replicate) you could debug by either:
 * Creating one more copy of the pod

[2021-01-16 13:08] #3217 closed

[2021-01-16 13:27] unixfox commented on #1125
Can someone reopen this issue?

[2021-01-16 18:27] unixfox commented on #3569
/remove-lifecycle stale

[2021-01-17 18:37] #3323 closed

[2021-01-17 18:37] #3438 closed

[2021-01-17 18:37] #3439 closed

[2021-01-17 18:37] #2543 closed

[2021-01-18 10:31] MaciekPytel commented on #1317
This is partly implemented by https://github.com/kubernetes/autoscaler/pull/3789. What will remain after it is merged will be adding integration for cloud providers.

[2021-01-18 10:53] #3266 closed

[2021-01-18 11:52] frittentheke commented on #1317
/remove-lifecycle stale

[2021-01-18 15:17] gjtempleton opened #3825 "Travis-ci.org Shutdown - Migration to Travis-ci.com"
**Which component are you using?**:
N/A

**What version of the component are you using?**:

N/A

**What k8s version are you using (`kubectl version`)?**:

N/A

**What environment is this in?**:

N/A

**What did you expect to happen?**:

Travis CI builds should be processed through https://travis-ci.com

**What happened instead?**:

The deprecated https://travis-ci.org is still used, potentially br

[2021-01-19 08:59] gjtempleton commented on #3825
cc: @MaciekPytel

[2021-01-19 09:31] gjtempleton commented on #3819
Hey, thanks for raising this.

It's actually a known issue with the chart releasing action we use, as it attempts an automated push to the `gh-pages` branch and we have branch protection enforced on all branches.

This means we have to rely on a manual PR creation process post merging to add the new charts to the `index.yaml`

I've just raised #3826 to push out the 9.3.1 and 9.3.2 releases.

[2021-01-19 09:48] barrydobson commented on #3819
Great, thanks. I needed a fix that was in 9.3.1. I'll close the issue.

[2021-01-19 09:48] #3819 closed

[2021-01-19 10:31] MaciekPytel commented on #3825
I tried to click through migration process and it seems that it requires activating "Github Apps Integration". This involves approving github permissions for travis as Kubernetes organization (it seems there is an option to only give travis permissions for kubernetes/autoscaler, though I have no idea if that will actually work or not).
I have no idea what process would be involved to grant those.

[2021-01-19 14:26] kakarotbyte opened #3830 "Cluster autoscaler dosent work in AWS region eu-south-1 (Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list)"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

 Tested
k8s.gcr.io/autoscaling/cluster-autoscaler:v1.18.3",
"eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.18.1",
"gcr.io/google-containers/cluster-autoscaler:v1.18.0"
k8s.gcr.io/autoscaling/cluster-autoscaler:v1.17.3
and "k8s.gcr.io/autoscaling/cluster-autoscaler:v1.16.7

C

[2021-01-19 16:04] mwielgus commented on #3825
As not that many Kubernetes subprojects seems to be using travis, we may take this opportunity and migrate to some more popular option. I'm checking the options right now.

[2021-01-19 16:55] gagvirk commented on #3592
Hi Contributors @mwielgus @losipiuk @aleksandra-malinowska @bskiba. As this is causing eks cluster not be upgraded to IMDSv2 support, Can this issue be prioritized, I suspect CA does not use token-backed sessions to access IMDS. CA pod, it keeps OOMed and results in CrashLoopBackOff. Thank you.

[2021-01-20 00:18] Jeffwan commented on #2503
/unassign @Jeffwan
/assign @jaypipes @ellistarn

[2021-01-20 15:46] SimonDreher opened #3834 "Publish images under tags without patch level (e.g. :v1.18)"
**Which component are you using?**: cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

In the [docs](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/README.md#releases) you mention that you should always use the tag matching major and minor of the kubernetes version, whereas patch level will p

[2021-01-21 01:13] moustafab commented on #3775
Addressed in #3782

[2021-01-21 01:13] #3775 closed

[2021-01-21 03:49] nshekhar221 opened #3835 "Scale up delayed by Cluster Autoscaler for large request"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.18.2

Component version:

**What k8s version are you using (`kubectl version`)?**:

1.18.6

**What environment is this in?**:

AWS

**What did you expect to happen?**:

Cluster Autoscaler to scale the nodes on the cluster when unschedulable pods are found on the cluster.

**What happened i

[2021-01-21 07:39] jichenjc opened #3836 "[clusterapi] weird behavior when decresae workload"
**Which component are you using?**:

**What version of the component are you using?**:

clusterapi provider with openstack ,have 2 VMs
cluster.k8s.io/cluster-api-autoscaler-node-group-max-size=2
cluster.k8s.io/cluster-api-autoscaler-node-group-min-size=1
[code]

create pods and one is pending
[code]

auto scale done , that's good
[code]

delete the 2 pods (the deployment) and wait for auto scale t

[2021-01-21 07:40] jichenjc commented on #3836
/assign

[2021-01-21 08:46] jichenjc commented on #3836
turn out to be the ID is inconsistent ... need check why /// and // exists

[code]

[2021-01-21 13:05] alexcristi commented on #3835
Hi! I'd like to add some more logs here. So this is what we've noticed:
- scaled out a deployment from 1 replica to 2000
- the cluster-autoscaler attempted to scale-out all ASGs in batches (important: we use single-az ASGs with `balance-similar-node-groups` flag enabled):
[code]
- after that nothing happens, the CA is just "freezing", while there are plenty of Pending pods:
[code]
[code]

[2021-01-21 16:09] alexcristi commented on #3835
Here is a screenshot of the `cluster_autoscaler_last_activity` metric; as you can notice, there is no activity for hours
![image](https://user-images.githubusercontent.com/2542264/105377462-81fe6900-5c13-11eb-8f25-3ffb38d315c7.png)

[2021-01-21 16:50] MaciekPytel commented on #3835
Interesting. First of all, CA exposes health check endpoint based on last activity - I recommend configuring livenessProbe so that CA is automatically restarted if it gets stuck.

That being said - this looks like scale-up logic getting stuck calculating different options for scale-up, which is a fairly typical performance problem for CA. Can you share some more details about your config? The rele

[2021-01-22 01:29] ellistarn commented on #3506
I'm trying to reproduce. How big of a cluster are you trying out? I'm running 1.18.2 on EKS 1.18. 100 node cluster with around 300mb of memory.

[2021-01-22 02:48] seamusabshere commented on #3506
@ellistarn we are under NDA with AWS - contact me at seamus.abshere@faraday.io if you want to see a repro

[2021-01-22 04:10] jichenjc commented on #3836
turn out
https://github.com/kubernetes-sigs/cluster-api-provider-openstack/issues/726
might be the root caseu

anyway, add some logs will be helpful in finding the root cause

[2021-01-22 04:16] jichenjc opened #3841 "Seeing error in cluster-autoscale pod when using cloudprovider clusterapi"
**Which component are you using?**:

follow cluster-autoscaler clusterapi cloud provider guide and find this error in logs:
guess some RBAC not enabled in the guide...
[code]

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</p

[2021-01-22 04:16] jichenjc commented on #3841
/assign

[2021-01-22 13:57] alexcristi commented on #3835
Thank you @MaciekPytel!
- These are the flags we start the CA with:
[code]
- We have 15 different ASGs (5 groups * 3 AZs):
[code]
- for the deployment that we massively scaled out we did not use any of the affinity settings, and there were not that many other deployments on the cluster (this is out of a reproduction/exercise cluster). But in production, we do use pod topology spread constraints.
-

[2021-01-22 14:17] #3796 closed

[2021-01-22 14:21] #3800 closed

[2021-01-22 14:23] #3841 closed

[2021-01-22 15:07] alexcristi commented on #3835
Also, I don't think the liveness probe will help here as restarting the CA does not recover it from the "freeze" state. Hare are the logs after restart:
[code]

[2021-01-22 15:53] MaciekPytel commented on #3835
This looks very much like CA stuck in binpacking simulation. Binpacking itself doesn't write any logs and the ~15m delay between evaluating 2 ASGs visible in logs fits well with this theory. I'm now almost sure #3429 should help a lot.

Regarding timeline - it was included in 1.20 release. Would you mind you retrying your test using CA 1.20.0? If it performs better I think it will be a good justif

[2021-01-22 16:01] alexcristi commented on #3835
Thank you @MaciekPytel! This is very helpful! I will test with CA 1.20.0 and will get back with some results.

[2021-01-23 13:52] #3458 closed

[2021-01-24 15:17] #3372 closed

[2021-01-24 17:51] Bessonov commented on #3204
/remove-lifecycle stale

[2021-01-24 17:52] Bessonov commented on #3644
/remove-lifecycle stale

[2021-01-24 18:39] dsaydon90 opened #3843 "prevent from k8s resource (deployment/statefulset) to perform node scale-up"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

my problem is related to a scenario which I have a scale group with `zero` nodes, those nodes will be scaled up only when a specific `Deployment` called `foo` are applied which will deploy `pods` with the relevant `nodeSelector`.

[2021-01-24 22:24] #3724 closed

[2021-01-25 08:26] nshekhar221 commented on #3835
CA 1.20.0 seems to have helped.

I scaled out a deployment from 1 replica to 1000 with CA image v1.20.0

[code]

Observed CA scale up logs:

[code]

No pending pods:
[code]

[2021-01-25 08:54] nshekhar221 commented on #3835
Also, with respect to v1.20.0, I came across one of the comment https://github.com/kubernetes/autoscaler/issues/3721#issuecomment-733838393.

When I try to scale app (with defined zone based DoNotSchedule topology constraint) from  1 to 1000 replicas  the cluster scale up does not happen one node at a time as mentioned in the https://github.com/kubernetes/autoscaler/issues/3721#issuecomment-733838

[2021-01-25 10:54] Xyaren opened #3845 "Scale up from 0 does not work with existing AWS EBS CSI PersistentVolume"
**Which component are you using?**:
- cluster-autoscaler

**What version of the component are you using?**:
- v1.18.3 ( also happened with v1.18.2)
<details><summary>Cluster-Autoscaler Deployment YAML</summary><br><pre>
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-addon: cluster-autoscaler.addons.k8s.io
    k8s-app: cluster-autoscaler
  annotations:
    eks.amazonaws.com/rol

[2021-01-25 11:38] #3464 closed

[2021-01-25 12:38] #3467 closed

[2021-01-25 17:22] nitrag opened #3846 "Cluster Autoscaler stuck waiting on a node that doesn't even exist"
k8s.gcr.io/autoscaling/cluster-autoscaler:v1.16.7
AWS EKS v1.17.9

**What did you expect to happen?**:

Cluster Autoscaler should be checking that a node (which a pod is scheduled on) still exists.

**What happened instead?**:

First, I don't know what this pre-emption would have been needed for. Secondly the node in question doesn't exist.

`Pod job-consumer-job-2gzjh-l2gjh will be scheduled afte

[2021-01-25 17:50] eatwithforks opened #3847 "VPA: Dockerfile do not run image as root"
Prefer to run image as non-root by default to avoid issues where hey assumed the user is root and then things blow up

[code]

[2021-01-25 18:54] dschunack commented on #3802
Any news?

[2021-01-25 18:56] dschunack commented on #3133
/reopen

[2021-01-25 18:59] dschunack commented on #3133
Hi,

Problem is still exist on EKS 1.17 and 1.18. Problem is not solved yet.
We see that same behavior on our EKS, described here.

[2021-01-25 18:59] dschunack commented on #3133
Please reopen the issue.

/reopen

[2021-01-25 19:54] mariuskiessling commented on #3502
You have to make sure that you are running the binary for your respective CPU architecture. In your case that is arm64. By default, cluster-autoscaler does not publish their images using mutli-arch images. Thus, you will have to select the correct image which for you would be `k8s.gcr.io/autoscaling/cluster-autoscaler-arm64:{version}`. If I see it correctly, there is only a pre-built ARM image ava

[2021-01-25 21:46] ellistarn commented on #3506
Update after deep diving this. @seamusabshere's OOM was due to listwatch caches filling up on startup due to a large number of Job objects in the API Server.

@timothyb89, is there any chance your cluster is suffering similar fate?

[2021-01-26 03:02] seamusabshere commented on #3506
[code]

😆

i thought i was safe because we were using `ttlSecondsAfterFinished`... but that's an alpha feature and per @ellistarn "[EKS runs] feature gates that are in Beta."

So, I had thousands of months-old jobs.

[2021-01-26 08:16] ribbybibby commented on #3251
/remove-lifecycle stale

[2021-01-26 10:44] alexcristi commented on #3835
Thank you @nshekhar221 for validating it!
@MaciekPytel, as proved by Nishant, the v1.20.0 seems to produce a real improvement to our situation. Without trying to be pushy here, is there a chance for the fix to be cherry-picked for v1.18 and v1.19, please?

[2021-01-26 16:09] MaciekPytel commented on #3843
Can you explain why creating DS is a waste of resources? It seems like a DS with nodeSelector would behave exactly the way you want deployment bar to behave?

Alternatively setting podPriority below --expendable-pods-priority-cutoff may be another way to achieve what you want. This will make the deployment ~invisible to CA - it will not trigger scale-up and it will not block scale-down.

I see add

[2021-01-26 16:52] chmielas commented on #3133
/reopen

[2021-01-26 16:53] chmielas commented on #3133
@dschunack Issue has been reopened

[2021-01-26 18:57] timothyb89 commented on #3506
Our largest cluster has 250 job objects at the moment, which I'd hope isn't nearly large enough to cause any trouble.

For what it's worth we been using `--aws-use-static-instance-list=true` since September and have not seen any unexpected restarts.

[2021-01-26 22:04] dsaydon90 commented on #3843
Hi @MaciekPytel ,

Because I need 1 replica of that service. For instance, 4 nodes that contains 1 pod with dind (docker in docker) and 6 jenkins agent pods . DS in this case will create 4 dind pods instead of 1.

It will try to test your solution with the  --expendable-pods-priority-cutoff.
It will be awesome if you have any link to some docs that explains how to achieve that

[2021-01-27 06:30] atulaggarwal commented on #3648
PR has been merged #3649 . Closing the issue.

[2021-01-27 06:30] #3648 closed

[2021-01-27 07:35] mwielgus opened #3849 "Linode Cloud Provider is breaking the CA build"
cc: @dbonfigli

From https://travis-ci.org/github/kubernetes/autoscaler/jobs/756329057
[code]

Please fix the build ASAP or we will have to roll back #3790.

[2021-01-27 07:36] dbonfigli commented on #3849
I'll look into it now

[2021-01-27 08:00] dbonfigli commented on #3849
this #3850 fixes it.

[2021-01-27 11:13] unixfox commented on #3798
I'm also trying to deploy autoscaler on GCE (not GKE) and I just don't find any documentation for that.

Did you manage to install it anyway?

[2021-01-27 13:58] jichenjc commented on #3814
code merged

[2021-01-27 13:58] #3814 closed

[2021-01-27 15:08] JESWINKNINAN commented on #3816
@bskiba Can you please assign this task to me?

[2021-01-27 18:01] dbonfigli commented on #3849
Basically what happened is that the travis build for PR #3790 was done at the time of the latest commit for the feature branch, shortly after commit a8ee048 introduced the new NodeGroup method GetOptions and implemented it on that commit for any provider except the linode one because it was not yet merged.

[2021-01-27 18:16] mwielgus commented on #3849
Hopefully fixed now.

[2021-01-27 18:16] #3849 closed

[2021-01-27 18:55] timoreimann commented on #3556
/remove-lifecycle stale

[2021-01-27 18:56] unixfox commented on #3556
/remove-lifecycle stale

[2021-01-27 23:48] sidprak opened #3851 "Cluster autoscaler not terminating unneeded nodes"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.18.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5

[2021-01-28 00:36] innovate-invent opened #3852 "Cluster autoscaler custom resource evaluation"
Currently the autoscaler evaluates only memory and cpu requests. I propose that a configuration option be added that accepts a mapping of [extended resource names](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#node-level-extended-resources) to denominator values to be included in the scoring equation:
https://github.com/kubernetes/autoscaler/blob/b470c62bfa6269ed18

[2021-01-28 10:44] MaciekPytel commented on #3852
Cluster autoscaler actually takes into account all resource requests. Binpacking iterator doesn't calculate (in the sense of using formula) how many nodes are needed, it implements a greedy binpacking algorithm that uses embedded scheduler code to check if a pod would fit on a node. That way it automatically takes into account anything the real scheduler would look at (*).

The "score" you linked

[2021-01-28 14:51] #3478 closed

[2021-01-28 14:51] #3479 closed

[2021-01-28 15:01] pre commented on #3802
I'm having the same issue, cluster-autoscaler fails to start a new node when requesting an instance type which is not yet online.

For example, when cluster does not have a large instance type `c5.24xlarge`, cluster-autoscaler fails to start a new node with a pod launched with node selector `node.kubernetes.io/instance-type: c5.4xlarge`, even though we have this exact instance type defined in the

[2021-01-28 15:30] pre commented on #3650
Maybe you have different version of the cluster-autoscaler running in each cluster?

[2021-01-28 15:45] recollir commented on #1658
@leosunmo We ran today into the same problem. Have you found any workarounds? Have you switched to other storage? We are using the storage-local-static-provisioner to create pv on NVMe disks to be consumed by Elastic pods controlled via the ECK operator.

[2021-01-28 18:45] innovate-invent commented on #3852
Ah, I suppose I do not fully understand how the autoscaler works. Just to confirm, it does actually consider extended resources in its calculation? If so I am concerned that setting a time resource will prevent long running tasks from being assigned to any node. Is it possible to set as a soft request?

Sorry, the scheduler is a bit of a black box to me, I would appreciate any help.

[2021-01-29 04:22] Static-Flow opened #3854 "Linode cluster-autoscaler error: Provider cannot convert ProviderID"
**Which component are you using?**: cluster-autoscaler for linode

cluster-autoscaler for linode

**What version of the component are you using?**:

Component version: built from master branch using these instructions https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/linode#development
Image is here: https://hub.docker.com/repository/docker/staticflow2280/scaler

[2021-01-29 06:51] dbonfigli commented on #3854
Hi @Static-Flow, this is interesting, it means that one of your node has no Spec.ProviderID value, can you report the output of
`kubectl get node -o yaml` and what region you are using?

[2021-01-29 08:43] pre opened #3856 "Cluster Autoscaler fails to scale up AWS Managed Node Group which has multiple instance_types"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.20.0 (installed via helm-chart 9.4.0)

[code]

**What k8s version are you using (`kubectl version`)?**: EKS 1.18

**What environment is this in?**: EKS 1.18

**What did you expect to happen?**:

We have multiple Managed Node Groups which have different instance types in each of them.

For e

[2021-01-29 08:52] pre commented on #3856
To be precise, the cluster-autoscaler does scale up different instance_types from a Managed Node Group. However, the instance type cannot be directed with `nodeSelector`.

For example: Scaling up 50 pods which eg. `requests.cpu: 1` will scale up eg. `c5.12xlarge` instance(s).

What fails is that when an explicit node is requested, cluster-autoscaler fails to bring it up.

This is most easily repli

[2021-01-29 09:13] mvz27 commented on #1793
Reproduced on EKS 1.17:
Pod <podname> can't be scheduled on <asg-NodeGroup-name>, predicate failed: GeneralPredicates predicate mismatch, reason: node(s) didn't match node selector

Root cause :
My Cluster autoscaler (version 1.17.4) needs after every (re-)start a manual desired=1 in aws console. ONCE !
After that CA can downscale to zero and upscale from zero.
Why does it need a MANUAL upscale ON

[2021-01-29 09:41] mvz27 commented on #3780
For me same issue occurs after CA pod has restarted.
kubectl describe pod  clusterscaler-aws-cluster shows restart 3 days ago.
Since then autoscale from zero does not work, get errors:
predicate failed: GeneralPredicates predicate mismatch, reason: node(s) didn't match node selector,

manually setting "desired = 1" in ASG group fixes this; after this autoscaling to and from zero works for months.

[2021-01-29 09:48] hectorj2f commented on #3507
@kovalyukm From our usage, I would recommend to set alerts related SLO such as scaling above thresholds, and measuring the scaling up/down response times to be under certain boundaries.

[2021-01-29 10:32] MaciekPytel commented on #3852
Yes, autoscaler will consider all resources listed under pod's request. On the implementation side resources are really just a map string->quantity. Pod can schedule on a node iff for each key in its request the node has >= free allocatable.
One autoscaler specific limitation is that the node must start with all the resources already set. You can't add your extended resource after the node starts,

[2021-01-29 10:56] TBBle commented on #3856
From the [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-key-best-practices-for-running-cluster-autoscaler):

Also from the [AWS docs](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#Using-Mixed-Instances-Policies-and-Spot-Instances)

So this seems to be a pretty core expectation of Cluster Autosc

[2021-01-29 11:55] pre commented on #3856
I understand that AWS Managed Node Groups with heterogenous instance types is a fairly new feature and cluster-autoscaler was designed for homogenous node groups.

However, even the [official AWS documentation](https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html) recommends using multiple instance types per Managed Node Group.

As of today, this means that cluster-autoscaler

[2021-01-29 12:01] Legion2 commented on #3856
@pre it is documented in the section "Considerations for selecting a capacity type"

[2021-01-30 13:15] matthiassb opened #3857 "Multi NodeGroups/ASG"
I have a sizeable EKS cluster with deployments targeting specific node groups via labels.

Is CAS capable of scaling a subset of node groups that is used by a particular deployment? Or does CAS autoscale all node groups located via the autodiscovery feature?

[2021-01-30 17:09] Static-Flow commented on #3854
So I am using the Dallas region, and sadly I've taken down the cluster so I can't get you that output. It only seems to happen when I try to scale out to a lot of nodes. This might be a misunderstanding of how best to use k8s. My workload I am trying to do is a batch process split amongst 250 shards. So I create 250 job yaml files and apply them. The jobs are setup to request an amount of resource

[2021-01-30 17:51] dbonfigli commented on #3854
Do you confirm than that at least for < 100 nodes the cluster-autoscaler works and only with high numbers the problem arise?

I know from a contact in Linode that 126 nodes is the limit in LKE, but I have never hit it nor this limit is reported in the Linode documentation so I don't know what happen then, it seems for what you are saying that using g6-standard-2 that provides 4 GB of memory and su

[2021-01-30 20:07] Static-Flow commented on #3854
Hmm the limit is interesting, I did not know about that. The autoscaler works perfectly fine in low node configurations. When I stand up my cluster I use the autoscaler to scale out my elasticsearch instance to 4 nodes successfully. Would this limit happen if I rolled my own k8s cluster instead of using LKE?

[2021-01-30 20:20] dbonfigli commented on #3854
The cluster-autoscaler linode cloud provider works only with LKE, so if you build your own cluster it will not work, you could explore the cluster API implementation.

I cannot confirm the limit on nodes myself, please ask the official linode support.

The way forward here is reproducing the problem and confirm the hypothesis (check if a node has not the spec.providerID value), and if so get in to

[2021-01-31 11:08] reggie-k opened #3858 "HPA and VPA combo in mode "off""
I see that if using  VPA auto-update combo with HPA is not supported, and it is clear why.
We intend to use VPA in recommendation mode only. In that case, can it be combined with HPA? Will the recommendations provided be correct?

[2021-01-31 22:09] #2390 closed

[2021-02-01 08:41] mwielgus opened #3861 "Azure unit test TestGetSubscriptionIdFromInstanceMetadata is failing with nil pointer"
Logs are below:

[code]

[2021-02-01 08:43] mwielgus commented on #3861
cc:
@feiskyer
@nilo19
@marwanad

[2021-02-01 18:29] #3091 closed

[2021-02-01 20:07] eddycharly commented on #3776
@brennerm why not change the template to:
[code]
instead ?

[2021-02-01 20:35] brennerm commented on #3776
@eddycharly Cause the chart expects the value to be a string. Try passing the YAML object and it'll fail.

[2021-02-01 20:42] eddycharly commented on #3776
@brennerm yeah sure, i meant changing the template (not the values).

That is, changing https://github.com/kubernetes/autoscaler/blob/04b2ae823cf3369d9ba4b98b3be52450a0a7bead/charts/cluster-autoscaler/templates/priority-expander-configmap.yaml#L11 with:
[code]

And then use an object in the values instead of a string literal:
[code]

I feel like an object would be more natural than a string litera

[2021-02-01 20:51] brennerm commented on #3776
Ahh, yeah that would fix it but would introduce a breaking change. :+1:

[2021-02-01 21:02] eddycharly commented on #3776
Unfortunately yes.
Not sure if it is possible to check if the value is a string in the template and then adapt to support both string or map.
It would allow to change the template while preserving backward compatibility.
Will check that tomorrow.

[2021-02-01 21:48] thockin commented on #3666
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2021-02-01 23:07] leosunmo commented on #1658
@recollir I think we ended up simply manually scaling up the node group (AWS Autoscaling group. Set desired nodes == Elasticsearch cluster size) and then applying the statefulset manifest/[ECK](https://github.com/elastic/cloud-on-k8s). Since they're tainted nodes to only accept Elasticsearch workloads anyway, it works. As long as you don't wait too long, or the Cluster Autoscaler will scale the ex

[2021-02-02 04:05] KR411-prog opened #3865 "Enabling Pod Security policy causing Autodiscovery errors"
I have enabled PSP in Cluster autoscaler ,
[code]

This was working well before enabling psp. But after enabling it, I am getting below errors,
[code]
I am not sure what has caused this issue..The pod is in crashlooping status.

It created the PSP. But pod is in error..Please let me know how to fix this.
[code]

Kubernetes platform: EKS
Version: 1.16
Cluster autoscaler chart version: 1.1.1

[2021-02-02 05:08] #3861 closed

[2021-02-02 09:54] GerryWilko commented on #1298
This would be particularly useful for us. We have a similar issue with a RAM heavy app. Running replicas at prod is fine but its wasteful in Dev/Test as we dont need the availability.

I wish you could specify with a PDB that during drain use a similar strategy to RollingUpdate in deployment. Old pod isnt removed until a new one is created and ready.

https://github.com/kubernetes/kubernetes/issue

[2021-02-02 15:40] rdelgaizo opened #3867 "Cluster-autoscaler and Kube-scheduler differ with each other"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**:

Component version: v1.18.1 (installed with helm chart 9.4.0)

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommi

[2021-02-02 16:44] waiariki-koia opened #3868 "[VPA] Pod scheduled with memory limit above limit but doesn't match VPA requests"
Hello,

We're seeing an issue with pods that have more than one container which VPA recommends and updates memory requests/limits for. The pods are being scheduled with memory limits that are above the pod memory limit configured in the namespace's limitrange, although the memory limits don't actually match VPAs recommendations.

When I looked at the statefulset when the pod fails to schedule, the

[2021-02-02 17:47] #2646 closed

[2021-02-02 18:06] nshekhar221 commented on #3835
@MaciekPytel Gentle enquiry on the possibility of getting the fix cherry-picked for v1.18 and v1.19 ?

[2021-02-02 18:41] jonesbr17 commented on #3699
Update: the change to fix the vulnerability has been merged: https://github.com/kubernetes/kubernetes/pull/98401
I do not see new images published yet however, will keep an eye out for that.

[2021-02-02 21:03] cep21 commented on #2646
Hi, any update on why this was closed?

[2021-02-02 21:24] #3825 closed

[2021-02-02 22:10] rdelgaizo commented on #3867
I have now also seen this come up when autoscaler should not think it can be scheduled by a lot. The pod in question is requesting 101m CPU.

[code]

**kubectl describe node ip-10-10-10-99.ec2.internal**:
[code]

[2021-02-03 09:00] dignajar opened #3869 "CA and GPU instances is not scaling up (it wouldn't fit if a new node is added)"
**Which component are you using?**:
```CA```

**What version of the component are you using?**:
``` v1.18.3```

Component version:

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:
[code]

**What did you expect to happen?**:
[code]

**What happened instead?**:
[code]

[code]

**How to reproduce it (as minimally and precisely as possible)**:

My ex

[2021-02-03 09:15] Jamstah commented on #3669
/remove-lifecycle stale

[2021-02-03 10:51] techdragon commented on #3068
/remove-lifecycle rotten

[2021-02-03 14:03] Static-Flow commented on #3854
The issue appears to be the linode cap on LKE clusters at 126. Closing this issue.

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2021-02-03 14:03] #3854 closed

[2021-02-03 17:56] balusarakesh commented on #3735
we use AWS EKS node groups, CA seems to use the AWS auto-scaling group instead of node group names
expander config:
[code]

logs:
[code]

`eks-40bbb26b-8679-eb64-d33a-4ba475413529` is actually an auto-scaling group and NOT a node group. Node groups are named something like `app-standard-spot-a-qa-5bkjmt`

[2021-02-03 18:17] enxebre opened #3870 "Cluster autoscaler CAPI support to watch specific namespaces"
**Which component are you using?**:

cluster autoscaler CAPI Provider

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Cluster autoscaler in multi tenancy environments

**Describe the solution you'd like.**:

Ability for CAPI provider to watch a particular namespace.

For multi tenancy environments where CAPI scalable resources and so

[2021-02-03 18:18] enxebre commented on #3870
/area provider/cluster-api

[2021-02-03 18:18] balusarakesh opened #3871 "Expander priority uses AWS auto-scaling groups instead of node group names"
**Which component are you using?**:
Expander
cluster-autoscaler

chart version: 9.4.0
image tag: v1.18.1

Component version:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-14T04:25:00Z",

[2021-02-03 18:19] enxebre commented on #3870
cc @JoelSpeed @elmiko

[2021-02-03 23:54] cabrinha commented on #2646
I went ahead and opened this issue on Dec 14, 2019 -- I just went through and cleaned up my open issues.

Based on this comment: https://github.com/kubernetes/autoscaler/issues/2646#issuecomment-702014967 I don't think this will get picked up anytime soon.

[2021-02-04 04:00] NickBenthem commented on #3503
@nitingadekar - not sure if this is your issue, but you may have to add your labels in the tags in ec2 console -  https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html

[code]

You may also need to use the  --kubelet-extra-args '--node-labels=key=value'  in your User data in your ec2 launch configuration.

[2021-02-04 12:15] JoelSpeed commented on #3870
Does the [Autodiscovery](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi#configuring-node-group-auto-discovery) selection solve this use case?

Can we use this option plus RBAC to limit the autoscaler to only be able to get scalable resources from a single namespace/cluster?

[2021-02-04 12:27] enxebre commented on #3870
Yeh autodiscovery could be leveraged for that though I think having the ability to lock down the controller to  watch a particular ns would be sensible

[2021-02-04 17:38] clamoriniere opened #3873 "Add support for other kinds of Daemonset Kube Resource (CRD)"
**component: cluster-autoscaler**

## Issue description

The cluster-autoscaler uses the Daemonsets spec to simulate the resources needed for the Daemonset’s pods on a new node.
We are looking  to extend the capability of the cluster-autoscaler in terms of watching for other resources that implement an equivalent of a Daemonset (one Pod deployed on each Node).

We have the following established op

[2021-02-04 19:32] westernspion commented on #3845
I have the same problem, but in a different context (stateful set that scales as oppose to a cron task), with the exception that it works sometimes after the PV has been provisioned and other times, it does not. Usually, I can get the autoscaler to scale once and a resulting reassignment of the PV, afterwards the autoscaler starts complaining it won't scale another node due to a volume affinity co

[2021-02-04 19:41] #1619 closed

[2021-02-04 19:45] westernspion commented on #3230
Bump.

This is rather inconvenient, but my workaround is to manually provision the first node of an ASG thats set to 0

[2021-02-04 20:15] westernspion commented on #3230
` That would save having to add the label by-hand to the per-AZ ASGs needed when using EBS`
Does this mean there is a way to manually label an ASG for the cluster-autoscaler to consider? I'm not using eks node groups (to get around 1 node minimum)

[2021-02-04 23:03] Patricol commented on #3869
I'm also suddenly running into this issue.

With both spot and non-spot g4dn.xlarge asgs; which have previously worked with the same configuration.

[2021-02-04 23:08] artpik commented on #3869
I have the same issue.
CA version: 1.18.1 (helm chart 9.4.0)
Trying to scale g4dn.xlarge

Warning  FailedScheduling   52s (x2 over 52s)  jhub-user-scheduler  0/2 nodes are available: 2 Insufficient nvidia.com/gpu.
  Normal   NotTriggerScaleUp  21s                cluster-autoscaler   pod didn't trigger scale-up (it wouldn't fit if a new node is added): 2 Insufficient nvidia.com/gpu, 1 max node grou

[2021-02-05 00:10] TBBle commented on #3230
@westernspion Yes, that's #2493 that I mentioned in the original request.

From Autoscaler 1.19, there is a `--balancing-ignore-label` parameter, you can see an example of its use (for precisely this issue) at https://github.com/kubernetes/autoscaler/issues/3515#issuecomment-706203119, and the equivalent of this ticket is
[code]

If you're using this for multiple labels, and deploying with Helm, I

[2021-02-05 10:07] jichenjc opened #3874 "cluster-autoscaler: Scale up failed keep scale"
**Which component are you using?**:

when 1-> 2, we are good
[code]

after scale more up, it start to report error (cloud reason)
[code]

but then it keep deploy VM and keep failing:

[code]

is it expected behavior (keep deploy VM even though previous failed? )
**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details

[2021-02-05 13:59] #2751 closed

[2021-02-05 14:21] MaciekPytel commented on #2751
With #3789 CA now has a mechanism to set scale-down-uneeded-time and thresholds for each nodegroup. However, to actually use it requires a provider-specific implementation of how the values are configured (since the best way to do it is likely to differ between providers).

[2021-02-05 15:21] JoelSpeed commented on #3870
In particular, to add some detail to this, you can't currently restrict the autoscaler to a particular namespace using RBAC because the informer watches all namespaces

https://github.com/kubernetes/autoscaler/blob/3690aaa2e31016ea00793266295f81dae6247276/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go#L322

If we can parse the autodiscovery spec and then set up the informer t

[2021-02-05 15:57] raravena80 commented on #1907
/remove-lifecycle stale.

[2021-02-05 18:19] nzoueidi opened #3875 "cluster-autoscaler fails/restart when you scale up a deployment to a huge replicas number"
**Which component are you using?**:
- Cluster Autoscaler

**What version of the component are you using?**:
- v1.18.1 and tried with v1.18.3
- Installed through helm chart: autoscaler/cluster-autoscaler, version: 9.3.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Ma

[2021-02-05 18:21] westernspion commented on #3230
`--balancing-ignore-label=topology.ebs.csi.aws.com/zone` solves a different problem I believe.

I've tested the ignore label with v1.19.x and v1.20.0 of the controller and it has no effect on the scheduling (still getting volume affinity errors for my statefulset after it's ASG reduces to 0 and I scale up again). I reviewed the source this makes sense, as this controls which labels should be ignor

[2021-02-05 19:04] westernspion commented on #3230
`k8s.io/cluster-autoscaler/node-template/label/topology.ebs.csi.aws.com/zone` works like a charm for my needs.

It would be nice to have this label automatically generated from the asg zone lst.

[2021-02-05 19:05] westernspion commented on #3845
`k8s.io/cluster-autoscaler/node-template/label/topology.ebs.csi.aws.com/zone` is the approach I am taking and it works like charm.

I can do some footwork in terraform to get the tags setup. Not sure what you're using to provision your cluster.

Though, it would be nice to have the labels generated from the list of ASGs assigned to an ASG

[2021-02-05 22:07] #3235 closed

[2021-02-05 23:06] CecileRobertMichon commented on #3870
I don't think that's true. There's no requirement in CAPI for each cluster to belong to a different namespace.

[2021-02-06 03:09] TBBle commented on #3230
@westernspion Oh, I'm sorry. I totally misread your original question, and also had forgotten the `buildGenericLabels` part of my original request. >_<

The documentation for the scale-from-zero ASG Tags -> Node Labels mapping is in [the AWS-specific documentation](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#auto-discovery-setup), and is also

[2021-02-06 11:39] atulaggarwal commented on #1907
Updates
1. ALB Load Balancer [PR](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1688) has been merged into main branch (for aws load balancer v2). It has been released into v2.1.1 release. It ensures that nodes tained with ToBeDeletedByClusterAutoscaler taint will be removed from healthy nodes. So that current version of cluster autoscaler (without UnScheduler taint) also wo

[2021-02-06 12:21] #3496 closed

[2021-02-07 18:30] shahadc opened #3877 "[AWS] AutoScaling API throttling from DescribeTags calls when using Cluster Autoscaler"
**Which component are you using?**:
AWS Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
On medium/large environments, the default recommended settings (using auto-discovery; 2 tags, one for "enabled" and one for "cluster-id") causes large amounts of API throttling (and thus slower pod scaling) when making calls to

[2021-02-08 03:25] ahg-g commented on #3527
/close

[2021-02-08 03:25] #3527 closed

[2021-02-08 13:51] omeroner commented on #2250
hi, what's the solution? can you help me?

Feb 8 12:25:16 cluster-autoscaler-67d9f9bc88-lwpjt cluster-autoscaler warn W0208 09:25:16.427264       1 clusterstate.go:437] Failed to find acceptable ranges for eks-3abafa64-7d72-4351-305e-d82901a3e09b
Feb 8 12:25:16 cluster-autoscaler-67d9f9bc88-lwpjt cluster-autoscaler warn W0208 09:25:16.427277       1 clusterstate.go:437] Failed to find acceptable r

[2021-02-08 17:21] jonesbr17 commented on #3699
@bskiba New base images are available. Publishing a new release at this point should resolve the vulnerabilities.

[2021-02-08 20:16] #3504 closed

[2021-02-09 03:18] #3836 closed

[2021-02-09 13:53] JoelSpeed commented on #3870
While there's no explicit requirement, I think there is a recommendation coming from the multi-tenancy work that the namespace is the security boundary for clusters.

As I see it, in a multi-tenant environment, we need to be able to support multiple clusters from the same tenant in the same namespace, but assume that another namespace is owned by a separate tenant and as such, there should be no c

[2021-02-09 14:09] elmiko commented on #3870
just reviewing these comments again. i agree with Joel about adjusting to watch singular namespaces, it seems like the informer would need to be restricted in what it watches for.

as for the cluster identifier part, ideally we can use the cluster label[0] with the node autodiscovery filtering to help confine the machine[set|deployment] lists.

[0] https://github.com/kubernetes/autoscaler/blob/mas

[2021-02-10 19:28] Ramyak opened #3879 "cluster-autoscaler : KubeSchedulerConfiguration plugin configuration PodTopologySpread"
**Which component are you using?**:

component: cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Scheduler now supports [PodTopologySpread - Cluster-level default constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#cluster-level-default-constraints) from kubernetes relea

[2021-02-10 23:29] ryan-a-baker opened #3881 "rbac.create is ignored in the deployment in helm chart"
**Which component are you using?**:

The Helm Chart for deploying the cluster auto-scaler.

**What version of the component are you using?**:

Helm Chart version 9.4.0

Component version:

n/a (Effects all K8S versions)

**What environment is this in?**:

n/a (Effects any k8s deployment)

**What did you expect to happen?**:

Deploying the chart with rbac.create set to false should not create rbac

[2021-02-10 23:50] ryan-a-baker commented on #3881
Sorry - I jumped the gun here.  Missed that the rbac.ServiceAcountName had moved to rbac.ServiceAccount.Name.

[2021-02-10 23:50] #3881 closed

[2021-02-11 08:15] mweibel commented on #3686
/remove-lifecycle stale

[2021-02-11 16:22] #3497 closed

[2021-02-11 18:51] infa-ddeore commented on #1907
@atulaggarwal is this change available for k8 `1.15` and `1.16` versions?

[2021-02-11 19:25] #3376 closed

[2021-02-11 19:25] #3511 closed

[2021-02-12 15:20] dschunack commented on #3802
Hi,

We tested it today again and it looks that the autoscaler is not working correct with "node.kubernetes.io/instance-type".
Sometimes it works, sometimes not.

Today we started a POD with nginx image to test the autoscaling. Only the NodeSelector is different.
"beta.kubernetes.io" is working and "node.kubernetes.io" not.
The POD with nodeSelector "node.kubernetes.io" was started first.

Doesn't

[2021-02-12 20:59] #3182 closed

[2021-02-13 03:57] #3514 closed

[2021-02-13 03:59] mig4 commented on #3199
We've just encountered this as well, I'm reopening to get some feedback cause something doesn't seem right and I'd like to find out if we should be doing something differently.

We're orchestrating deployments of multiple Prometheus servers each one monitoring a different cluster, and we're using VPA to manage requests/limits because each of those clusters is different in terms of metrics is expos

[2021-02-13 08:01] #3493 closed

[2021-02-13 12:05] #3516 closed

[2021-02-14 07:54] jystephan opened #3886 "Race condition leading to undesired scale nodes of non-empty nodes (without pod eviction)"
**Which component are you using?**: Cluster-autoscaler

**What version of the component are you using?**: 1.18.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.11-dispatcher", GitCommit:"2e298c7e992f83f47af60cf4830b11c7370f666

[2021-02-14 17:14] hbceylan commented on #3215
If you are using [EKS terraform module](https://github.com/terraform-aws-modules/terraform-aws-eks) you just need to enable irsa by adding the following;

`enable enable_irsa=true`

[2021-02-14 17:53] reggie-k commented on #3858
Any news on this?

[2021-02-15 09:18] fliphess commented on #1070
/remove-lifecycle stale

[2021-02-15 13:07] e-nalepa commented on #3506
I reproduce the issue, even if contrary to the initial ticket, the default limit it now not set at 250 Mi but at [300 Mi](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml#L144-L149).

Sometime, the `cluster-autoscaler` pod needs a lot more, like bellow (572 Mi):
[code]

Increasing this limit accordingly solves t

[2021-02-16 11:23] atulaggarwal commented on #1907
@infa-ddeore - The change should work in previous versions of k8s also as it is relying on UnSchedulable taint. As per the documentation, this taint exists from 1.10 k8s version [link](https://v1-16.docs.kubernetes.io/docs/concepts/configuration/taint-and-toleration/)

[2021-02-16 18:57] spanky-medal commented on #2045
Checking back in on this persistent issue.

[2021-02-17 07:33] jayantjain93 commented on #1869
This issue has now been fixed in Cluster Autoscaler.

Nodepools can now scale up from 0 nodes for pods which require ephemeral storage for GCE cloud-provider and specific GKE 1.19 and 1.18 versions.

[2021-02-17 09:40] george-angel commented on #3348
/remove-lifecycle stale

[2021-02-17 14:29] burdzwastaken commented on #3029
/remove-lifecycle stale

[2021-02-17 21:44] burkel24 commented on #3871
I am also experiencing this issue. Happy to provide any additional diagnostic info as needed.

[2021-02-18 02:20] Dingshujie opened #3889 "Cloud Controller Manager remove taints slow may case autoscaler scale more node than needed"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.17.2

**What k8s version are you using (`kubectl version`)?**: 1.17.11

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: HuaweiCloud

**What did you expect to happen?**: Add nod

[2021-02-18 14:24] qbasicer commented on #3215
This isn't working for me.  IRSA is already enabled and still seeing errors.

[2021-02-18 18:40] msau42 commented on #1658
Sorry I think there is some misunderstanding of how the VolumeBinding predicate works. For dynamic provisioning an EBS volume with WaitForFirstConsumer, it should work, and if it doesn't, then there is a bug somewhere in the predicate. How the predicate works is:

1. It first checks if there are any available PVs that satisfy the PVC:
https://github.com/kubernetes/kubernetes/blob/473af0b8d1951b5c3

[2021-02-18 22:12] #3530 closed

[2021-02-18 23:25] danthegoodman1 opened #3890 "Priority Expander selecting random node pools."
**Which component are you using?**: Cluster Autoscaler with Priority Exapnder

**What version of the component are you using?**: 1.20.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ v1.18.9-eks-d1db3c
</pre></details>

**What environment is this in?**: AWS EKS

**What did you expect to happen?**:

Cluster Autos

[2021-02-19 00:24] msau42 commented on #1658
I just tested this on a GKE 1.17 cluster with gce-pd (This is the GCP equivalent of EBS). I started with a 3 node cluster, each node in a different zone. Then I created a Statefulset with 4 replicas and pod anti-affinity on hostname. The autoscaler was able to properly scale up one more node to handle the 4th replica. Here's my StorageClass and StatefulSet specs if anyone wants to compare: https:/

[2021-02-19 02:30] chrishenzie commented on #1658
I just tested what @msau42 did in AWS using 3 nodes, each in us-west-2a / us-west-2b / us-west-2c, and observed the cluster autoscaler provision a new node to schedule the 4th replica. Similarly, [here's my output](https://gist.github.com/chrishenzie/2597940b241395edcc63f775086c656d) should you want to check it out.

[2021-02-19 03:55] danthegoodman1 opened #3891 "Cluster autoscaler crashing with AWS self managed nodes and node group autodiscovery"
**Which component are you using?**: Cluster Autoscaler

**What version of the component are you using?**: 1.20.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ v1.18.9-eks-d1db3c
</pre></details>

**What environment is this in?**: AWS EKS

**What did you expect to happen?**:

Cluster autoscaler will identify sel

[2021-02-19 15:49] marcincuber opened #3892 "Cluster Autoscaler crashing in EKS China region cn-north-1- version 1.19.1"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:
[code]

**What environment is this in?**:

EKS China cn-north-1

**What did you expect to happen?**:

**What happened instead?**:

crashes with the following:

[code]

**Anything else we need to know?**:

I tried pr

[2021-02-19 16:11] marcincuber commented on #3892
I just built a cluster-autoscaler image by running `make make-image` from master branch. Good news is that whatever is on master actually works in china and there are no issues with autoscaler. So I guess we are just missing a release.

[2021-02-20 07:15] es1o commented on #3309
/remove-lifecycle stale

[2021-02-20 10:27] rtnpro commented on #3591
It seems that there has not been any progress to solve this issue. I will try to fix it and come up with a pull request.

[2021-02-20 16:38] danthegoodman1 commented on #3890
Closing. Turns out you needed to use the ASG name, not the Node Group name! I've also spoken with AWS support and they will update their docs

[2021-02-20 16:38] #3890 closed

[2021-02-20 19:19] mblaschke commented on #3433
/remove-lifecycle stale

[2021-02-21 13:17] aliusmiles commented on #3780
Same issue on EKS 1.19, CA 1.19.1

[2021-02-21 17:25] bpineau commented on #3891
Hi, it's unfortunate [that error details](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_util.go#L78) aren't included in the log call, but it looks like your autoscaler pod can't reach that public endpoint (`https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-east-1/index.json`) for some reason: it might be possible to verify

[2021-02-21 17:56] danthegoodman1 commented on #3891
@bpineau In doing so I found out that endpoint has an enormous response (about 111MB) for the configured 300MB of RAM requested for the pod, so that could contribute. It seems like, with a few adjustments, the pod is running more reliably. At least it restarts and keeps trying until it gets a response.

[2021-02-21 19:25] rmb938 commented on #3458
Did this ever get worked on? If not we should re-open this issue.

[2021-02-21 19:25] rmb938 commented on #3458
/reopen
/remove-lifecycle rotten

[2021-02-21 23:37] rittneje commented on #3693
/remove-lifecycle stale

[2021-02-22 15:04] dschunack commented on #3133
any news?

[2021-02-22 22:13] MoSheikh commented on #3798
I'm experiencing difficulties with the same issue as well. It would be extremely helpful having some documentation for GCE since all other major cloud providers do. Thank you!

[2021-02-23 11:53] gdziwoki commented on #3780
We are having a similar issue, but only for pods that have PVs attached.
I tried adding tags to ASGs that describe affinities of the PVC, but that did not help.

[2021-02-23 20:16] eddycharly opened #3899 "What is the correct chart version ?"
I see releases vith version 2.0.0 (https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-2.0.0) and the same release with version 9.5.0 (https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-9.5.0).

Which one should i use ? What is the difference ?

[2021-02-24 09:20] #3542 closed

[2021-02-25 05:27] SatoruItaya opened #3901 "cluster-autoscaler: Helm Chart Release for 1.19 doesn't exist"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Helm Chart Release for 1.19 doesn't exist.
[9.5.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-9.5.0) is for 1.20, and [9.4.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autosc

[2021-02-25 06:12] Ladicle opened #3902 "[VPA] Pod creation fails if VPA has only one controlledResources"
**Which component are you using?**: Vertical Pod Autoscaler

**What version of the component are you using?**:

Component version: 0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a

[2021-02-25 07:43] lokeshkumar380 commented on #3060
facing this error
Status:
  Conditions:
    Last Transition Time:  2021-02-25T05:04:24Z
    Message:               Cannot read targetRef. Reason: Unhandled targetRef argoproj.io/v1alpha1 / Workflow / test, last error the server could not find the requested resource (get workflows test)
    Status:                True
    Type:                  ConfigUnsupported
    Last Transition Time:  2021-02-2

[2021-02-25 09:44] #3543 closed

[2021-02-26 00:37] damscott commented on #3899
There is an explanation in [the chart's readme](https://github.com/kubernetes/autoscaler/tree/master/charts/cluster-autoscaler#previous-helm-chart), but I'm even more confused after reading it.

The explanation reads as if it went from legacy 9.x versioning, to 1.x versioning, then back to 9.x versioning. Now there's also a 2.x release that's not mentioned in that explanation. At the time of writi

[2021-02-26 09:46] smling opened #3908 "Auto scaling with network connection"
Currently using K8S Aautoscaler to scale REST API service with CPU and RAM.

Found that even network connection increase but CPU / RAM still in low process and it resulted request timeout.

Therefore, I would like to have a feature which can get pod's network loading (e.g. incoming / outgoing / current connection count) as auto scaling criteria by default.

[2021-02-26 23:14] brettplarson commented on #3869
I think we may be having this same issue - manually setting a desired instance for the associated node group in AWS unblocked us temporarily and the pods were able to schedule as expected. I am happy to provide more any more information that could be useful.

[2021-02-27 17:39] #3538 closed

[2021-03-01 03:00] wangchen615 opened #3913 "Need support for customized recommender in Vertical Pod Autoscaler (VPA)"
**Which component are you using?**:
Vertical Pod Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Today, the current VPA recommends CPU/Mem requests and limits based on one recommender,
which recommends the future requests/limits based on the historical usage observed in a
rolling time window. As there is no universal recom

[2021-03-01 08:51] eddycharly commented on #3899
Ping @gjtempleton can you help us understanding the current versioning scheme ?

[2021-03-01 09:23] gjtempleton commented on #3899
Hey,

I guess we need to clear that wording up if it's confusing people.

The chart was migrated from its previous home under the stable Helm org where it had reached a 8.X release, at the time of migration it had to be renamed due to limitations with the helm chart releaser Github action we use from `cluster-autoscaler` to `cluster-autoscaler-chart` and had its versioning reset to `1.X`. Once the

[2021-03-01 13:28] eddycharly commented on #3899
Thanks for clearing it up !
If I understand correctly, the recommendation should be to use the `cluster-autoscaler` chart with `9.X` version.

This is fine, maybe adding those infos somewhere in the `README` of the repository will help others too.

[2021-03-01 15:11] bskiba commented on #3591
/remove-lifecycle rotten

[2021-03-01 15:53] bskiba commented on #2747
/remove-lifecycle stale

[2021-03-02 19:25] sulixu opened #3916 "ratelimit on cluster scale-up"
**Which component are you using?**: cluster autoscaler 1.16.7

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I would like have a sort of ratelimit mechanism on cluster scale-up, for example if cluster autoscaler decides to scale up 500 nodes at a time because of a submission from 1 batch workload, we don't want to scale up 500 nodes

[2021-03-03 07:02] bobmacks commented on #3901
+1 - looking to upgrade to EKS 1.19 but can't find an autoscaler chart version to support this cluster rev...

[2021-03-03 08:31] Ladicle opened #3917 "[VPA] Support AdditionalPrintColumns for VPA & VPACheckpoint CRs"
**Which component are you using?**: vertical-pod-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Currently, `kubectl get` only shows vpa & vpacheckpoint resource name and age. However, I would like to check other information such as whether the recommended value has been provided.

[code]

**Describe the solution you'd li