[2017-04-19 11:48] mwielgus opened #6 "Increase unit test coverage for cluster-autoscaler/simulator"
Current test level is 69. Our target should be above 80% as the code is quite testable.

[2017-04-19 11:52] mwielgus commented on #6
Ref: kubernetes/contrib#2191

[2017-04-19 11:55] mwielgus opened #7 "Increase unit test coverage for cluster-autoscaler/core"
Current coverage is 50%. We should reach 75% here.

[2017-04-19 11:55] mwielgus commented on #7
Ref: kubernetes/contrib#2191

[2017-04-19 11:56] mwielgus opened #9 "Increase unit test coverage for cluster-autoscaler/cloud-provider/gce."
The current coverage is 10%. Should be way higher.

[2017-04-19 11:56] mwielgus commented on #9
Ref: kubernetes/contrib#2191

[2017-04-19 12:36] MaciekPytel commented on #6
I'm trying to learn about how simulator works anyway, so I may as well add some tests.

[2017-04-20 09:21] MaciekPytel commented on #6
Closing after merging #12. The current coverage is 79.4%, which I think is reasonably close to 80% and there aren't any testable, uncovered functions left in simulator.

[2017-04-20 09:21] #6 closed

[2017-04-21 10:40] gbergere opened #16 "cluster-autoscaler with AWS detect all nodes as unregister and delete them all..."
As you can see below in the cluster-autoscaler logs it keep retrying to kill my node because it detects it as unregistered...

[code]

So after a few research everywhere and finally in the code I've found this :

Kubernetes repo : `kubernetes/pkg/kubelet/kubelet.go` (l 2096)
[code]

They build ProviderID like `aws:////INSTANC_ID`

`autoscaler/cluster-autoscaler/cloudprovider/aws/aws_manager.go` (l

[2017-04-24 15:39] MaciekPytel opened #22 "Add CA e2e using volumes"
https://github.com/kubernetes/autoscaler/pull/19 was not covered by existing tests and we should add an e2e to make sure something similar won't happen again.

[2017-04-25 21:11] andrewsykim commented on #16
The `updateCloudProviderFromMachineInfo` function you mentioned is only called when you don't pass in a cloud provider flag. You should check your apiserver/controller-manager flags for --cloud-provider=aws https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L292-L299

[2017-04-28 07:54] fgrzadkowski opened #26 "Create "concept" documentation to explain autoscaling"
We should have overall description of autoscaling and more detailed docs for HPA, VPA and cluster autoscaling.

[2017-04-28 07:54] fgrzadkowski commented on #26
https://kubernetes.io/docs/concepts/

[2017-04-28 07:56] fgrzadkowski commented on #26
We should also provide "task" for "How to autoscale my application" that would combine using both cluster autoscaler and HPA. Something like the blogpost we published some time ago.

[2017-04-28 08:09] fgrzadkowski commented on #26
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

[2017-04-28 15:05] francobellagamba opened #27 "Question: Should nodes be deleted from kube after scale down?"
I'm writing a "cloud_provider" for Racspace, and while everything seems to be working _okay_, after a node is deleted it keeps in Kuebernetes as NotReady.

Is there anything my cloud provider should be doing to fire that node deletion?

Thanks!

[2017-04-28 16:10] mwielgus opened #29 "Create e2e test for PVCs in Cluster Autoscaler scale up."

[2017-04-28 16:10] mwielgus opened #30 "Create e2e test for PodAntiAffinity in Cluster Autoscaler Scaler Up"

[2017-04-28 16:11] mwielgus commented on #29
Duplicate of #22, closing.

[2017-04-28 16:11] #29 closed

[2017-04-28 16:17] mwielgus commented on #27
@francobellagamba  Cool, happy to see a new cloud provider onboard.

Cluster Autoscaler doesn't delete a node from K8S after it is deleted from cloud provider. It is the responsibility of K8S node controller. As the node is expected to report its status on regular basis, just after the node is removed from the cloud provider it gets to unready state and after a minute or so it should be completely

[2017-04-28 16:32] francobellagamba commented on #27
Hey, @mwielgus! Thanks for getting back :)
I am not part of Rackspace (just a user), and so, I have a minimal k8s installation, set up using kubeadm,
The thing is that when the node goes down, it gets flagged as NotReady, but it never disappears from K8s...

Maybe there is something wrong with my k8s installation, if that's not a AS responsibility, perhaps I should look on that side?

Again
Thanks

[2017-04-28 16:45] francobellagamba commented on #27
Now that you pointed me to the node controller I'm seeing this there:
`Error determining if node kube-iad-minions-as1f265138 exists in cloud: Failed to find object`
So, I'll take a look over there!

Once I get this working I'm more than happy to contribute it back :)

[2017-04-29 00:27] davidopp commented on #30
@bsalamat can suggest a good scenario to test

[2017-04-29 01:12] bsalamat commented on #30
I haven't looked at the Cluster Autoscaler (CA) yet, but given an issue we have seen recently, I wonder if CA handles the following scenario correctly:
1. There are N pending pods in the cluster.
2. CA determines that the N pods need a total of X amount of resources and M additional nodes will provide the X amount of resources. (M < N)
3. CA simulates the addition of M nodes and finds out that the

[2017-04-30 19:56] mwielgus commented on #30
We use binpacking to estimate the number of needed nodes. We sort the pods by decreasing amount of requested resources and try to put the pods on by one to the "new" nodes. If none of the nodes is able to accommodate the pod then a new node is added. We use the full set of predicates that the scheduler has.

[2017-04-30 20:17] bsalamat commented on #30
Based on this statement and IIUC, the autoscaler should never give up growing the cluster for anti-affinity on the hostname, because it should keep adding new nodes until anti-affinity on the hostname is satisfied. In the worst case scenario, this happens when as many nodes as the pending pods are added to the cluster. So, the test scenario that I described earlier should always pass.

[2017-04-30 20:44] mwielgus commented on #30
Yes, if all pods are in the same anti-affinity domain then the number of new nodes will equal to the number of pods.

[2017-05-01 15:34] DirectXMan12 commented on #26
I'm not certain combining those two is the best idea -- cluster autoscaler is an admin tool, HPA is a user tool.  We don't want users thinking the need/should try the cluster autoscaler on clusters that they don't own.

[2017-05-01 15:41] DirectXMan12 commented on #26
I can totally see a VPA/HPA combo doc, though

[2017-05-02 15:29] rsmitty opened #31 "Feature Question/Request: Support other metrics when determining "scale-up""
Hello,

I wasn't sure where the best place to ask this question would be, as I am not sure what Slack channel the cluster-autoscaler tool falls under. Hope this works.

I was wondering if there could be any other metrics used to determine when a cluster is scaled up. Specifically, I was hoping to see something along the lines of "okay, let's scale up when the average utilization across the cluster

[2017-05-03 14:10] yawboateng opened #32 "Failed to drain node - pods remaining after timeout"
Is it possible to increase the node drain timeout?

seeing this in logs:
`Failed to scale down: Failed to delete ip-10-100-6-220.ec2.internal: Failed to drain node /ip-10-100-6-220.ec2.internal: pods remaining after timeout`

[2017-05-04 09:19] emielvanlankveld opened #33 "StatefulSet with AntiAffinity prevents cluster-autoscaler from working"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):** Bug report

**Kubernetes version (use kubectl version):**
[code]
**Environment:**
- **Cloud provider or hardware configuration:** gke (machine type n1-highcpu-4)
- **OS (e.g. from /etc/os-release):** Alpine Linux v3.5
- **Kernel (e.g. uname -a):** Linux cc332daac761 4.9.13-moby SMP Sat Mar 25 02:48:44 UTC 2017 x86_64 Linux

**What happened

[2017-05-04 09:26] MaciekPytel commented on #32
When draining the node cluster-autoscaler sets grace termination period on all evictions for 1 minute and later waits the same 1 minute, before giving up and logging the message you observed. You can change 1 minute to a different value by using `--max-grateful-termination-sec` flag (this is copy pasted from code, the typo is really there :( ).

However, the fact that CA failed to drain the node m

[2017-05-04 11:45] fgrzadkowski commented on #26
I'm not convinced. I think that even for large organizations, cluster
admins will have to understand how those different types of autoscaling are
working together and what are the options and how to completely solve the
problem of resource management. That way user will see that they don't need
to think about resources anymore.

I imagine this more as an example with link to more detailed pages ab

[2017-05-04 14:04] yawboateng commented on #32
yea its retrying in a loop, and scale down is not working. i noticed my pods were being deleted in a constant loop but the cluster auto-scaler doesnt delete the node, so I set the --max-grateful-termination-sec to 5800, and its still reporting the same error above.

Few things:
1, As soon as CA starts draining, it should mark the node as unschedulable (but I dont see it doing that)
2, pods go into

[2017-05-04 14:10] MaciekPytel commented on #32
What CA and kubernetes version are you using? 0.5.x CA puts a taint on the node to make it unschedulable during drain.

[2017-05-04 14:22] yawboateng commented on #32
CA `gcr.io/google_containers/cluster-autoscaler:v0.5.2`

Kubernetes:
[code]

[2017-05-04 15:13] MaciekPytel commented on #32
This is a known issue with running CA 0.5 on k8s 1.5 (https://github.com/kubernetes/contrib/issues/2491#issuecomment-288896371). Generally speaking k8s 1.5 / CA 0.5 is not fully supported and it's recommended to use 0.4 CA with 1.5 k8s.

[2017-05-04 17:25] yawboateng commented on #32
ok, thanks for letting me know. I will downgrade to 0.4, is there any plans for a fix?

[2017-05-04 17:47] yawboateng commented on #32
also, after downgrading, im seeing multiple log lines of:

[code]

is that expected? or does 0.4.0 require some other parameters?

[2017-05-05 08:43] MaciekPytel commented on #32
`No candidate for scale down` line means that CA didn't find any nodes to remove in it's main loop. This is expected to show up in logs roughly every ~10s.
BTW the same is true in 0.5 CA.

[2017-05-05 10:51] andrewsykim commented on #32
@MaciekPytel @yawboateng I had a similar problem where node draining would timeout. I found that it was because CA is setting the termination grace period for every pod to whatever value `--max-grateful-termination-sec` is. If you have pods running on that node that will accept `SIGTERM` and then relies on the kubelet to send a `SIGKILL` after `terminationGracePeriod` then draining nodes will alwa

[2017-05-05 10:55] andrewsykim commented on #32
I found for the most part that CA 0.5 does work with k8s 1.5, the only caveat being the NoSchedule taint doesn't work, but this generally isn't a problem as long as a new pod isn't scheduled while the node is being drained (and if it were it would retry eventually). It would be nice if we can use annotations alongside taints to support both k8s 1.5 and 1.6 going forward.

[2017-05-05 11:23] MaciekPytel commented on #32
@andrewsykim Regarding kubernetes/contrib#2494 - what if pod has a grace period of >1m defined in it's spec? Currently we only respect it up to 1m, but with this change it may need to wait forever (leading to similar issue to this one). Perhaps a better solution would be to just wait on drain for grace period + some epsilon?

cc: @mwielgus

[2017-05-05 11:52] mwielgus commented on #33
Thank you for the bug report. This has been fixed in CA 0.5.3 and will be included in the next 1.6 K8S release. We hope the new version of Kubernetes will be available in GKE late next week or, if unlucky, a couple days later.

[2017-05-05 11:52] #33 closed

[2017-05-05 11:53] mwielgus commented on #33
Ref: https://github.com/kubernetes/autoscaler/pull/28

[2017-05-05 11:54] mwielgus commented on #27
Closing the issue. Please open a new one if you have any more problems/questions.

[2017-05-05 11:54] #27 closed

[2017-05-05 14:45] andrewsykim commented on #32
In my opinion, I think forcing the `terminationGracePeriod` on every pod on a node is bad practice to begin with, even if the node is to be terminated. There are many cases where users set their grace periods longer than 1 min and no one expects CA to override that. Grace period + epsilon is better than the current implementation, but I think the better approach is to set the `--max-grat(c)eful-te

[2017-05-05 22:10] mwielgus commented on #32
The problem with accepting higher graceful termination is that we stop CA operations until the node is deleted. If gt was 10 min then CA would stop for 10 min and during this time no scale up operations would be executed. This is probably not what the users would want.

So if we want to have graceful termination significantly bigger than 1 min then we need to go asynchronous with the deletes, whic

[2017-05-08 03:24] mumoshu opened #38 "cluster-autoscaler: Adding ca-certificates package to the docker image"
Extracted from https://github.com/kubernetes/autoscaler/pull/11#discussion_r113835912

[2017-05-08 06:17] mumoshu commented on #31
Hi @rsmitty,
I believe if you'd just like CA to scale nodes out "faster", [adding some slack/buffer in resources](https://github.com/kubernetes/contrib/issues/2251) is the way to go for now.
Does it seem to solve your issue?
Would you mind sharing us more about use-case if it actually requires custom metrics for scaling decisions?

[2017-05-08 09:58] MaciekPytel opened #39 "Fix typo in graceful termination flag in CA"
To do before next major release. Also includes fixing all the typos in related variables in code.

[2017-05-08 19:25] mwielgus opened #43 "Allow scaling node group to/from 0."
This is an umbrella bug for allowing scaling some node groups to/from 0.

cc: @MaciekPytel @fgrzadkowski

[2017-05-09 03:06] mumoshu opened #45 "cluster-autoscaler: Excessive calls to DescribeAutoScalingGroup"
a.k.a https://github.com/kubernetes/contrib/issues/2541.
I'm recreating the issue here so that we can better track it from the corresponding and upcoming PR.

[2017-05-09 03:26] mumoshu opened #47 "cluster-autoscaler: A simple mechanism to grow node groups simultaneously"
a.k.a https://github.com/kubernetes/contrib/issues/2352
I'm recreating the issue here so that we can better track it from the corresponding and upcoming PR.

[2017-05-09 21:52] #38 closed

[2017-05-10 00:57] mumoshu commented on #47
As @mwielgus kindly described [there](https://github.com/kubernetes/autoscaler/pull/49#issuecomment-300136877), we would need a more sophisticated solution in the future.
Anyway, the PR #49 implements a native/simple solution that work well for not all but specific use-cases.

[2017-05-11 12:18] MaciekPytel opened #59 "Add metrics endpoint to allow monitoring cluster-autoscaler"
Design doc PR: https://github.com/kubernetes/autoscaler/pull/50

[2017-05-11 12:46] mwielgus opened #60 "Update scale to 0 proposal with allocatable estimation"
Follow up on: https://github.com/kubernetes/autoscaler/pull/57.

cc: @MaciekPytel @fgrzadkowski

[2017-05-11 19:52] adamrp opened #64 "scaling-down nodes that are running only system pods"
I'm using:
[code]

What I did:
- I created a one-node GKE cluster, cluster autoscaling disabled
- At the time of creation, all kube-system pods were running on the one node
- I subsequently enabled cluster autoscaling with a minimum cluster size of 1 and a maximum of 5
- All kube-system pods continued to run on the one original node
- I ran a Job that taxed the system to the extent that CA added a

[2017-05-12 21:44] rsmitty commented on #31
Sorry for the delayed response! Some combination of kubelet flags and the slack/buffer of resource creation might get us where we're wanting to go. Let me take a closer look. I'll close for now and reopen if needed.

[2017-05-12 21:44] #31 closed

[2017-05-15 16:08] yawboateng commented on #32
ok so after switching to v0.4, scaling up is not working, im now seeing multiple lines:
@mwielgus does that pr fix the original issue? i'm I able to now switch back to v0.5.2?
[code]

[2017-05-15 21:57] mwielgus commented on #64
Thank you for the report. We are aware of this and we thinking about the best approach to solve it.

cc: @MaciekPytel @fgrzadkowski

[2017-05-17 12:47] MaciekPytel opened #76 "Cluster Autoscaler does a list of pods for nodegroup instead of using informer"
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/nodes.go#L36

This is called for by BuildNodeInfoForNode, which is called for each node by GetNodeInfosForGroups. We should change it to informer.

cc: @mwielgus

[2017-05-19 01:15] mwielgus commented on #76
This is not entirely true. We do it once per node group and only if there is a pending pod.

[2017-05-19 09:26] MaciekPytel commented on #76
Right, you're correct. Which makes this much less of a priority, but we should still change it to informer at some point.

[2017-05-22 21:49] mwielgus opened #82 "Cost & preferred_node expander"
This is an umbrella bug for an effort to provide a decent expander function for CA. The function
will :
* Include cost of nodes and how well the money are spent
* Promote small nodes in small clusters and larger in large clusters
* Balance the two above based on the number of pending pods and/or requested capacity.

[2017-05-25 07:27] mumoshu opened #85 "Scale down never occur when the node group auto-discovery feature is enabled"
This was originally [reported in the kube-aws repo](https://github.com/kubernetes-incubator/kube-aws/issues/677).

In nutshell, PollingAutoscaler, which is used only when the auto-discovery feature is enabled, is resetting `lastScaleDownFailedTrial` to the current time before each iteration of CA.
`lastScaleDownFailedTrial` must be maintained properly among different instances of StaticAutoscaler

[2017-05-25 14:03] MaciekPytel opened #89 "e2e test "should correctly scale down after a node is not needed and one node is broken" is flaky"
cc: @mwielgus

[2017-05-31 09:21] aleksandra-malinowska opened #98 "Node drain simulator disregards PodDistributionBudget namespace"
CA is matching pods to PDBs by label only, without considering namespace. So if there's a PDB in different namespace than the pod, but matches its labels and has allowed-disruptions=0, the pod will be considered impossible to evict (and block node drain attempt), even if it's not actually the case.

[2017-06-01 01:30] mwielgus commented on #98
Fixed with #99

[2017-06-01 01:30] #98 closed

[2017-06-01 18:34] Shimi commented on #43
@mwielgus I was wondering if there is a special reason why this is enabled only for GCE and not for AWS or Azure?

[2017-06-02 04:33] mwielgus commented on #43
@Shimi
The reason is quite simple. I'm a Google engineer and, for various reasons, I have limited access to AWS and Azure so I cannot write and test the scale-to-0 support on these cloud providers.

However I will happily accept the contributions from the community. It is just a matter of implementing:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_c

[2017-06-02 04:39] mwielgus commented on #43
cc: @mumoshu @andrewsykim

[2017-06-02 04:43] mumoshu commented on #43
Thanks for informing me :)
I'm running production clusters on AWS and am interested in this feature.
I can submit a PR containing a POC but, as always, I need someone to help testing/reviewing/merging it.

[2017-06-02 15:36] MaciekPytel commented on #16
@gbergere Can we close this issue?

[2017-06-05 20:15] MaciekPytel opened #106 "Failing to write status configmap discards the original error message"
The only thing logged is "Failed to write status configmap", without the original error message. Obviously that is not particularly helpful for debugging.

[2017-06-06 08:21] #16 closed

[2017-06-06 17:49] MaciekPytel commented on #47
This feature is implemented and merged and I'd like to close this issue. @mumoshu are you ok with that?

[2017-06-06 18:01] MaciekPytel commented on #59
This is now done, closing the issue

[2017-06-06 18:01] #59 closed

[2017-06-06 18:15] MaciekPytel commented on #85
@mumoshu can you take a look at that? We can't introduce new feature (auto-discovery) in 0.6 if we know using it basically breaks CA.

[2017-06-06 18:16] mwielgus commented on #32
Should be fixed in 0.5.4.

[2017-06-06 18:16] #32 closed

[2017-06-07 00:35] mumoshu commented on #85
@MaciekPytel Thanks for checking in - Sure thing! I'll submit a PR today

[2017-06-07 16:57] mtcode opened #108 "cluster-autoscaler-status ConfigMap should support other namespaces besides kube-system"
CA can run in multiple namespaces, and supports the `namespace` command line argument.  This should propagate to the `cluster-autoscaler-status` ConfigMap so that it exists in the same namespace as the CA.  Currently it is a constant, `kube-system`, in `clusterstate/utils/status.go`.

[2017-06-08 17:47] tomfotherby opened #109 "Node deleted but still streaming DeletingNode events"
I installed a Kubernetes cluster on AWS and CoreOS hosts with [Tack](https://github.com/kz8s/tack) and the cluster-autoscaler is included as a add-on. This is the yaml they use: https://github.com/kz8s/tack/blob/master/addons/autoscaler/cluster-autoscaler.yml (uses v0.5.2)

After a bit of time with a successful but empty cluster, the autoscaler kicked in and killed 1 or the 3 workers.

The node is

[2017-06-09 07:36] tomfotherby commented on #109
I'm not 100% sure but I think my problem is fixed in PR https://github.com/kubernetes/kubernetes/pull/45923 :

Which I found from the Kuberbetes v1.7.0-beta.1 [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#downloads-for-v170-beta1). So hopefully coming soon...

[2017-06-09 07:36] #109 closed

[2017-06-09 13:15] chapati23 opened #110 "What to apply AWS Policy to?"
Excuse the stupid question please but I'm confused about the README a bit.
What do I need to apply the suggested IAM policy to?

I've set this up with helm and it's not working. No error messages but nodes are not scaling up when running against capacity limit and i suspect the policy might be the culprit:

[code]

With this `autoscaling.template.yml`:

[code]

For further debugging purposes, here

[2017-06-09 17:58] mtcode commented on #110
The policy should be added to the IAM role belonging to the node that the cluster-autoscaler is running in.  The CA will use that policy to adjust the desired value of the ASG that it is configured to control.

You can see the CA logs with `kubectl logs loping-armadillo-aws-cluster-autoscaler-3021239351-mwxgp`.  If you see access errors that CA can't adjust the size of the ASG, then this is the is

[2017-06-09 20:08] MaciekPytel commented on #108
I'll fix that along with #106, hopefully in time for 0.6 release.

[2017-06-09 20:10] mtcode commented on #108
Great, thanks!

[2017-06-09 23:24] pluttrell opened #113 "AWS Cluster Autoscaler Permissions"
Using v0.5.4 of the aws-cluster-autoscaler, we're getting this error:

[code]

It sure looks like a permission problem... But per the instructions, I have the following policy on my instance role named `nodes.dev.clusters.mydomain.io`:

[code]

Without this addition, I get a different error:
[code]
So we're thinking that we have the necessary permissions.

For reference here's our execution config

[2017-06-12 15:30] zaa commented on #113
Judging by the code from https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L114 it looks like you've passed an incorrect group name.

[2017-06-14 12:19] MaciekPytel commented on #106
Fixed (will be included in CA 0.6), closing.

[2017-06-14 12:19] #106 closed

[2017-06-14 12:54] MaciekPytel commented on #39
Fixed for CA 0.6, closing.

[2017-06-14 12:54] #39 closed

[2017-06-14 19:03] mwielgus commented on #110
cc: @mumoshu @andrewsykim

[2017-06-14 19:53] mwielgus commented on #108
Fixed with #119

[2017-06-14 19:53] #108 closed

[2017-06-14 19:57] mwielgus commented on #113
@pluttrell Was it a problem with the group name?

[2017-06-14 19:58] #47 closed

[2017-06-14 23:27] mumoshu commented on #110
@chapati23 Hi, thanks for trying CA on AWS 👍

As @mtcode suggested, you should create and attach [the minimum policy described in README](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#permissions) to your instance profile/IAM role for k8s node(s)=EC2 instances on which CA is scheduled.

Suppose CA is being scheduled on one of worker nodes(which

[2017-06-15 19:46] 7chenko commented on #43
@mumoshu We're interested in this feature on AWS, so would be glad to test it on our deployment.

[2017-06-16 00:19] pluttrell commented on #113
Nope, the group names were identical to what was in AWS.

We do however have the aws-cluster-autoscaler working perfectly with just using the kubernetes resource files directly without helm, so we've gone with that option for now.

[2017-06-16 00:50] mwielgus commented on #113
Great :). Closing the bug.

[2017-06-16 00:50] #113 closed

[2017-06-17 16:22] chapati23 commented on #110
thanks @mtcode @mumoshu, for other people struggling with this: here's the section of my setup script i ended up writing in the end

[code]

[2017-06-17 16:22] #110 closed

[2017-06-20 02:05] mwielgus commented on #89
Looks like the problems are gone. Thanks for fixing!

[2017-06-20 02:05] #89 closed

[2017-06-20 02:17] mumoshu commented on #47
@MaciekPytel Your implementation looks super nice to me 👍 Thank you very much for the effort!

[2017-06-20 02:19] mwielgus opened #127 "Don't calculate utilization for nodes that don't belong to autoscaled node groups."
Currently we do some initial scanning for them wasting cpu cycles.

[2017-06-20 15:18] #127 closed

[2017-06-20 16:50] mwielgus commented on #82
Closing the issue - the feature is delivered for GCE. Creating issues for other cloud providers.

[2017-06-20 16:50] #82 closed

[2017-06-20 16:51] mwielgus opened #131 "Provide PricingModel for AWS"
Follow up of #82

cc: @mumoshu

[2017-06-20 16:53] mwielgus opened #132 "Allow scaling to/from 0 on AWS"
Follow up of #43 on AWS.

cc: @mumoshu @7chenko

[2017-06-20 16:55] mwielgus commented on #43
Closing in favor of #132.

[2017-06-20 16:55] #43 closed

[2017-06-20 17:06] mwielgus opened #133 "Review Azure cloud provider"
Mirror issue in kubernetes/kubernetes : https://github.com/kubernetes/kubernetes/issues/47511

[2017-06-20 17:10] mwielgus commented on #64
@adamrp It will be possible in the new version. However you will have to create a PodDisruptionBudget for all of your system pods like dns, dashboard, heapster (evertyhin other than daemonset/kube-proxy/etc).

[2017-06-20 17:10] #64 closed

[2017-06-22 12:19] ryanwalls commented on #132
I would be interested in implementing this... but not sure how we would get over the technical hurdle that AWS doesn't provide an API for describing instances.  So not sure how we would know which ASG to scale up unless we had the user pass in the specs for the instances.  Thoughts or ideas @mwielgus?

[2017-06-22 21:58] mwielgus commented on #132
What about launchconfig (http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-as-launchconfig.html)?

Please check https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/min_at_zero_gcp.md for a description on how we do it on GCP (and https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go#L2

[2017-06-23 06:19] mumoshu commented on #132
@ryanwalls Hi, thanks for your interest on implementing this 👍

Please also see https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/gce/gce_manager.go#L308-L324.

Probably we need to have a map whose keys are EC2 instance types and values are pairs of num cpu cores + memory size so that it can be used to create a template node info from the instance type specified

[2017-06-23 06:36] mumoshu commented on #132
If you'd like to automate the generation of such map, I'd suggest utilizing [AWS Price List API](https://aws.amazon.com/jp/blogs/aws/new-aws-price-list-api/).

One of the lists produced by the API is the list of ec2 instance type info composed of num vcpus(cores in k8s), memory size, instance type name, etc.

http://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/price-changes.html#download-t

[2017-06-23 09:31] #85 closed

[2017-06-23 09:58] #45 closed

[2017-06-23 16:37] mwielgus commented on #30
Done with https://github.com/kubernetes/kubernetes/issues/47854

[2017-06-23 16:37] #30 closed

[2017-06-28 06:39] sharpevo opened #144 "Scale down bug on AWS"
There's 3 nodes in an Autoscaling Group of AWS:
- Node-A, utilization: 0.3, kube-system pods present, "Protect From Scale In".
- Node-B, utilization: 0.0, may be removed
- Node-C, utilization: 0.8

Cluster Autoscaler reports that the `Node-B` will be removed in a given `scale-down-delay`, but AWS removes `Node-A` due to the desired capacity shrinking request by user, rather than the `Node-B`.

[co

[2017-06-28 15:39] mwielgus commented on #144
While sending a request to AWS we explicitly specify which node should be taken down.
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L139

https://docs.aws.amazon.com/sdk-for-go/api/service/autoscaling/#TerminateInstanceInAutoScalingGroupInput Suggests that it should work as expected. Maybe something wrong went on the AWS side? We had no pr

[2017-06-28 15:50] mumoshu commented on #144
@mwielgus Thanks for checking in but unfortunately I'm not sure for now.

@sharpevo Does the issue consistently reproduce? Also, would you mind trying to reproduce it with older versions of CA?

[2017-06-29 13:04] sharpevo commented on #144
@mwielgus @mumoshu ,

Previously, I've run the test twice, and always the other node been killed, with the same version of Kubernetes and CA. Running the test one more time today, I realized that the `Node-A` is probaly terminated by CA, for the reason of unregistered node.

CA try to remove node `i-045d079434eeca204` for the reason of unregistered:

[code]

The [UnregisteredNode](https://github.c

[2017-06-29 21:37] vendrov opened #147 "Allow pod's graceful termination to override CA GracefulTermination"
In a scenario when a PreStop duration is longer than 1 min (CA current default GracefulTermination time),
the pod will be killed in the middle of a "graceful shutdown". It might harm the user experience.
For example let's say that we would like to drain web-sockets connection and we decide that 20 min is enough time for the user to finish his task/action, we expect that setting the pod's graceful

[2017-06-29 22:01] mwielgus commented on #147
Than you for this report. We are aware of this issue and we are planning to fix it in K8S 1.8/CA 0.7.

[2017-06-29 22:02] mwielgus commented on #147
cc: @MaciekPytel @aleksandra-malinowska

[2017-06-29 22:11] mwielgus commented on #144
Please attach `kubectl get nodes -o yaml` of the unregistered node. There must be some discrepancies between provider id on the AWS side and in K8S.

[2017-06-29 22:46] yuvipanda opened #148 "Allow setting 'minimum headroom' for autoscaling"
I want to be able to say 'if the cluster is more than X% full, scale up until it is not'. This is important in super dynamic clusters that are very spiky - we run a Kubernetes cluster for a University, and a large spike of pods start up when classes start. If we waited for them to fail Scheduling before adding more nodes, this provides them with a suboptimal experience (since it might take several

[2017-06-29 22:48] davidopp commented on #148
We also got this request from a GKE customer recently. So there are at least two people who want it. :)

[2017-06-29 23:18] yuvipanda commented on #148
I also want this on GKE :D

[2017-06-30 00:20] mwielgus commented on #148
We are working on this https://github.com/kubernetes/autoscaler/pull/77.

[2017-06-30 00:27] sharpevo commented on #144
@mwielgus Thank you!

Yes, there's not `ProviderId` in the node yaml, so that all the nodes are unregistered, according to https://github.com/kubernetes/autoscaler/blob/670b5b4b780c408296b2505fa3aa87f74887e83d/cluster-autoscaler/clusterstate/clusterstate.go#L725

I start the cluster manually, and am I missing the `--cloud-config` and `--cloud-provider` options in the `kube-apiserver`? Laterly, I a

[2017-06-30 00:57] sharpevo commented on #144
The reason may be the missing region or zone.

From the node yaml, the `ProviderID` looks like `aws:////i-045d079434eeca204`, then CA inserts the it into `registered` at https://github.com/kubernetes/autoscaler/blob/44e0897fa7e03a9ec4320d895bdd165fdb8b0609/cluster-autoscaler/clusterstate/clusterstate.go#L725
[code]

While executing `removeOldUnregisteredNodes`, the node name is `aws:///cn-north-1a

[2017-06-30 01:22] sharpevo commented on #144
@mwielgus  @mumoshu

The reason may be the missing `*instance.AvailabilityZone`.

From the node yaml, the `ProviderID` looks like `aws:////i-045d079434eeca204`, then CA inserts the it into `registered` map at https://github.com/kubernetes/autoscaler/blob/44e0897fa7e03a9ec4320d895bdd165fdb8b0609/cluster-autoscaler/clusterstate/clusterstate.go#L725
[code]

While executing `getNotRegisteredNodes`, th

[2017-06-30 01:51] yuvipanda commented on #148
oooo, awesome! Is it being planned to coincide with 1.8? Or later?

On Thu, Jun 29, 2017 at 5:20 PM, Marcin Wielgus <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-06-30 12:55] sorenmat opened #153 "Cluster autoscaler fails to start"
After removing the the pod I get the following error.
[code]
Tried to remove everything related to CA from the cluster, but it seems to be keep failing

[2017-06-30 13:05] MaciekPytel commented on #153
Hi,
This looks like you still have a pod `cluster-autoscaler-37505376-64n1p` holding leader election lock (the lock should expire after ~15s after killing the pod as per defaults in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/client/leaderelection/leaderelection.go#L69).

Can you provide more detail on how you run CA? Also can you provide ou

[2017-06-30 13:06] mwielgus commented on #153
Leader election is implemented on top of endpoints. Something weird is going on there.
Please attach `kubectl get endpoints --namespace=kube-system cluster-autoscaler -o yaml` output.
The most probable fix would be to just delete the forementioned

[2017-07-01 10:46] sorenmat commented on #153
It's working now, I'm pretty sure it was because another pod was running in another namespace. Did take quite sometime to get the lock after deleting that pod though. Closing the issues.
Thanks for the quick response, awesome job !

[2017-07-01 10:46] #153 closed

[2017-07-04 13:01] MaciekPytel opened #164 "Support "opt-out of autoscaling" annotation on nodes"
We had some user requests to allow node to "opt-out" of being scaled down. We could support that by not scaling down nodes that have a specific annotation. This has an additional benefit of making e2e test behavior more predictable by preventing unexpected scale-down during test setup, etc.

WDYT @mwielgus?

[2017-07-04 13:07] mwielgus commented on #164
Sure, go ahead.

[2017-07-04 15:38] MaciekPytel commented on #132
I have discussed with @sethpollack on slack and he said he's working on this issue. Removing 'help wanted' label.

[2017-07-04 16:03] ryanwalls commented on #132
@sethpollack let me know if you need any help.  Happy to implement subsections, review, or just be a 2nd pair of eyes on design.

[2017-07-04 16:53] sethpollack commented on #132
Thanks will do.

I can pull the cpu/mem from the price list, but I don't think there is a way to pull the node labels and taints. One option would be to add the node labels as tags on the ASG and then pull them from there.

[2017-07-05 00:50] mumoshu commented on #144
@sharpevo AFAIK, kubelet seems to collect the provider id and push it to apiserver. Perhaps you're missing something in your kubelet setup - for example, are you sure you're providing `--cloud-provider=aws` not only apiserver but kubelet?

Relevant code in kubelet: https://github.com/kubernetes/kubernetes/blob/18e8bedb2bd7780ce9f1fd6ae9a427c0824b0d32/pkg/kubelet/kubelet_node_status.go#L270-L272

[2017-07-05 12:31] #22 closed

[2017-07-05 14:39] MaciekPytel opened #168 "Add taints to GCE node template"
https://github.com/kubernetes/kubernetes/pull/47632 have added support for automatically adding taints on newly created nodes. We should include that in template node used to scale-from-0, similar to how we handle labels https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/gce/gce_manager.go#L329.

[2017-07-06 13:45] #164 closed

[2017-07-07 01:20] sharpevo commented on #144
@mumoshu Thanks!

I missed the kubelet configs indeed! Addtionally, I found that a new action `ec2:DescribeInstances` should be added to the IAM policy, to avoid the error `error listing AWS instances: UnauthorizedOperation: You are not authorized to perform this operation.`

[2017-07-07 01:21] #144 closed

[2017-07-07 12:26] mumoshu commented on #144
@sharpevo Great 👍 Thanks for reporting!

[2017-07-07 12:28] mumoshu commented on #144
@sharpevo Regarding the `ec2:DescribeInstances` permission, do you have any insight on why it is needed? AFAIK, it isn't called explicitly in CA. Anyway, if it is needed, we would want to add the fact to [the doc](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#permissions)

[2017-07-08 18:39] davidopp opened #171 "Think about how to handle dedicated node groups"
The way we implement dedicated node groups in Kubernetes is
1) attach a taint to one or more nodes (like `dedicated=foo`); pods that are *allowed* to use those nodes tolerate that taint
2) attach a label to the same set of nodes (like `dedicated=foo`; the key/value space of taints is separate from the key/value space of labels); pods that *must* use those nodes have node affinity or nodeSelector f

[2017-07-11 05:46] davidopp commented on #148
A nice complement to this feature would be a way to pre-pull images to the headroom nodes so that a pending pod pays neither the node creation overhead (headroom feature) nor the image pull overhead (pre-pull feature) and can start running right away. We'd need to figure out a way the cluster admin or user specify which images should be pre-pulled where.

[2017-07-11 11:39] #132 closed

[2017-07-11 12:24] MaciekPytel commented on #171
I'm not sure if I understand your issue correctly. Do you mean CA should put the taint on the new node that is added in scale-up? CA doesn't create new node, it just resizes the underlying node group (MIG, ASG, ...) and assumes that when the node group is resized a new node will show up and it will look like all the other nodes in a given node group. On GCP you can create your dedicated node group

[2017-07-11 21:02] paolomainardi commented on #43
I don't understand if this feature can be activated also on GKE, if i try to set the minimn size to 0 i have the following error:

[code]

[2017-07-12 12:00] MaciekPytel commented on #43
This should work on GKE clusters using kubernetes 1.7. I don't think 1.7 clusters are available right now, but they should be very soon.

[2017-07-13 21:23] paolomainardi commented on #43
Ok just tried now, master and pool upgraded to 1.7.0:

[code]

[2017-07-13 21:23] paolomainardi commented on #43
Kubectl version

[code]

[2017-07-13 21:39] paolomainardi commented on #43
Thread: https://groups.google.com/forum/#!topic/kubernetes-sig-apps/Npq2FDim43I

[2017-07-14 13:02] lwolf opened #176 "autodiscovery with several tags does not work"
I'm trying to setup autoscaler for 2 clusters in a single aws zone like described [here](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#auto-discovery-setup):
having any single tag out of two works fine (`k8s.io/cluster-autoscaler/enabled` or `kubernetes.io/cluster/production`)
but as soon as I set 2 tags container starts to crush
[code]

[code]

clusters

[2017-07-17 12:54] MaciekPytel commented on #168
Closing as this has been done by @aleksandra-malinowska's PR.

[2017-07-17 12:54] #168 closed

[2017-07-18 11:45] mwielgus commented on #171
The core requirement in CA is that all nodes inside a single node group (MIG, ASG, whatever) look more-or-less the same. Thus CA will not attach any extra, permanent labels or taints to the nodes. If the users want to put a pod on a particular node group they should configure taints/labels during the node group creation and again put the appropriate configuration inside of the pod. With the scale

[2017-07-18 11:47] mwielgus commented on #176
cc: @mumoshu

Please try CA 0.6. There were some issues around autodiscovery in 0.5.4.

[2017-07-18 11:58] mumoshu commented on #176
@lwolf Hi, a kube-aws maintainer here!

Probably you're using kube-aws v0.9.7 final which uses a forked version of CA 0.5.4 built by me, and yes, as @mwielgus it had several issues and more importantly, it doesn't support passing multiple tags concatenated with comma like `k8s.io/cluster-autoscaler/enabled,kubernetes.io/cluster/production` yet.

Modifying sub-settings of `clusterAutoscalerImage` t

[2017-07-18 13:00] lwolf commented on #176
Thanks for the help, will try newer version

[2017-07-18 13:00] #176 closed

[2017-07-24 12:30] mwielgus opened #185 "Correctly handle zone failures and stock-outs in CA"
Currently we might end up retrying the same zone over and over. After we notice that a particular zone (or node group in general) is not providing the requested nodes in reasonable time we should block it for XX minutes and allow the pending pods to go somewhere else.

cc: @MaciekPytel @aleksandra-malinowska @bskiba

[2017-07-24 13:17] mwielgus opened #187 "[CA performance] Pod condition reseting takes too much time."
With lots of pending pods we try to reset all of their unschedulable pod conditions every time a new node is added. That leads to performance problems (updates are synchronous) and large api server traffic.

cc: @aleksandra-malinowska @bskiba @MaciekPytel

[2017-07-25 19:06] djsly opened #188 "[addon-resizer] deployment update drops existing toleration fields"
Probably due to the version of the k8s go client used by the addon-resizer

[code]

Go client version
[code]

[2017-07-25 19:06] djsly commented on #188
@piosz @wojtek-t @Q-Lee

[2017-07-25 19:08] djsly commented on #188
@x13n @MaciekPytel  since you guys seems to be the new owner :)

[2017-07-26 07:44] x13n commented on #188
PodSpec used by pod_nanny (via DeploymentInterface -> Deployment -> DeploymentSpec -> PodTemplateSpec) doesn't have Tolarations field defined, looks like it's using an older definition of Pod. Old godeps?

[2017-07-26 15:07] djsly commented on #188
looks like it indeed, from my understanding it is using an old k8s go client. version `v1.3.0-alpha.5-165-g7476d97`

[2017-07-26 15:42] MaciekPytel commented on #187
tl;dr I've run some test and went through code and I think it's safe to just completely remove this logic. I'll create a PR tomorrow after I run all e2e tests.

===

Currently logic related to PodScheduled status condition filters out the pods that have been unschedulable before a new node was added and haven't been looked at by scheduler since it was added. It prevents us from triggering scale-up

[2017-07-26 18:01] djsly commented on #188
I will try to find time for this as well, I had a question, how can I know the version of GO used by all of the different k8s projects? when I started to look at fixing, I got stuck at `which version of GO do I need` :)

[2017-07-27 10:29] MaciekPytel commented on #187
Noticed one more difference introduced by #189: after a new node is added, but scheduler haven't managed to put previously unschedulable pods on it we will now set schedulablePodsPresent to true, blocking scale-down until the scheduler deals with pending pods. I think this is actually an improvement - previous approach was inconsistent.

[2017-07-27 23:18] mwielgus commented on #187
@MaciekPytel On vacation, will respond on Monday.

[2017-07-28 16:06] VioletRainbows opened #191 "Custom/external cloud provider?"
Hello,

Would you be interested in an external cloud provider? This would allow the creation of new machines with specific requirements.

**Implementation**
https://github.com/VioletRainbows/autoscaler/blob/external/cluster-autoscaler/cloudprovider/external/external_cloud_provider.go
Please note that it is a work in progress.

**Implementation details**
New cloud provider that calls (http) an exte

[2017-07-31 08:00] piosz commented on #188
@djsly there is something in godeps https://github.com/kubernetes/autoscaler/blob/master/addon-resizer/Godeps/Godeps.json#L3, though there is not guarantee it was built with this version.

[2017-07-31 15:28] mwielgus commented on #191
The idea is nice, however:
 * we want to have the full CloudProvider interface externalized,
 * we are expecting couple changes/addition to this interface in the near future,
 * we don't have a capacity to design the proper/stable api in this (K8S 1.8) release cycle.

So we would rather wait post-1.8 with designing/committing to any external api/interface.

[2017-07-31 15:32] mwielgus commented on #188
@piosz - kubernetes/autoscaler contains the new version that has not been fully release yet. The old one lived in kubernetes/contrib.

[2017-07-31 15:40] mwielgus commented on #187
Main thing - ok.
Extra stuff:
1. No. It will add yet another level of complexity.
2. Ok, if there is some other feature that would also benefit from this (like slack)

[2017-07-31 15:42] #171 closed

[2017-08-03 02:24] sharpevo commented on #144
@mumoshu Sorry for taking a while to reply, I'm working on another project and not pay more attention on CA, because it works so well! Thank you for the great job :-)

About `ec2:DescribeInstances`, I've taken another test this morning, and find that it should be necesarry for the instances in ASG, or they can not connect with the master node, with the following errors from kubelet:
[code]

As a r

[2017-08-04 07:00] mumoshu commented on #144
@sharpevo Thanks for the information! It does make sense to me.

As far as I can say, `--max-total-unready-percentage=100` sounds like something we'd like to avoid, because otherwise CA will perhaps keep scaling down nodes even when there are considerable number of unready(=unfunctional for some reason) nodes.

Probably you would rather want to try automatically triggering `kubectl drain` on the t

[2017-08-04 13:54] mashayev opened #197 "Autoscaler not scale instance when only 1 pod is unschedulable"
Hi All,

K8S version is: `v1.6.1`
Autoscaler version is: `v0.5.4` the same happened in `v0.5.1`
Provider: `AWS`

Not sure it's a bug or maybe configuration problem. Autoscaler not scaling another instance in case only 1 pod is unschedulable I saw it happens when 1 is unschedulable maybe the same goes for more.

I'm able to fix this only if I will create another pod and then the `scale_up.go` will

[2017-08-04 14:13] MaciekPytel commented on #197
Hi @mashayev,
The critical line in the first log is

`I0804 13:23:44.620660       1 scale_up.go:62] Upcoming 1 nodes`

That means that cluster-autoscaler believes there is one node that is already starting up. In that case it checks if all pending pods will fit on this node once it starts up. It only triggers scale-up if some pods won't fit on this upcoming node, so my guess is adding another pod

[2017-08-04 14:38] mashayev commented on #197
@MaciekPytel Thanks for the clarification.
The thing is it's not happening every time, I'm trying to reproduce this issue and the majority of the time the autoscaler is working fine. Some times it is not scaling and I'm able to see `Upcoming 1 nodes` for a long time.

Is it a  know issue? IS there any way to fix it? Maybe it's related to K8S v1.6.1?

[2017-08-04 14:50] mashayev commented on #197
@MaciekPytel I could reproduce this issue again, look like the CA failed to register the Node and it's still unregistered..

Can I reduce the 15m for less ?

[code]

[2017-08-04 15:05] MaciekPytel commented on #197
You can change the 15 minute timeout by setting `--max-node-provision-time` and `--unregistered-node-removal-time` flags (I recommend setting both to the same value). That is, however, tackling the symptoms and not the root cause of the problem.

In k8s nodes are registered by kubelet running on them (ie. node registers itself). The only thing CA does is change the size of ASG (or MIG on GCP, or S

[2017-08-07 09:05] sharpevo commented on #144
@mumoshu I'm launching the cluster on bare metal, with the help of "systemd" to manage k8s components in master and minions. IMO, there're always some NotReady nodes in the cluster after  scaling up and down. If I understand CA correctly, the cluster will be "not ready for scaling" when the amount of NotReady nodes over the the `--ok-total-unready-count` or `--max-total-unready-percentage`. In ord

[2017-08-07 09:56] MaciekPytel commented on #197
Based on discussion above it looks like cluster-autoscaler worked as expected and the problem was on the node side, so I'm closing this issue. Please re-open if required.

[2017-08-07 09:56] #197 closed

[2017-08-07 15:37] jonastl commented on #148
This together with making the scaling a parallel operation would solve our problem.
Waiting for 50-100 new machines to boot and install the backplane software takes _forever_, since scaling up is a serial operation (takes 160 seconds per node exactly on GKE)

[2017-08-07 16:22] MaciekPytel commented on #148
@jonastl Which version of CA are you using? Scaling up shouldn't be serial - CA estimates how many nodes are required and adds them in a single request. And it only waits for request to come back, not for nodes to actually start.

[2017-08-07 16:23] MaciekPytel commented on #148
Sorry, just realised you mentioned GKE - in this case I mean what cluster version are you using (as CA is bundled with cluster version on GKE).

[2017-08-07 19:10] nicksardo opened #201 "GCE: Allow unknown key-value pairs in /etc/gce.conf"
Hello,

I'm requesting that the vendored GCE cloudprovider be updated so the autoscaler will have https://github.com/kubernetes/kubernetes/pull/49594 which allows config readers of `/etc/gce.conf` to ignore unknown key-value pairs. The latest GCE Ingress Controller (v0.9.6) was updated to have this change and has been cherry picked into K8s 1.7.4.

Thanks

cc @bowei @freehan @MrHohn

[2017-08-08 11:02] jonastl commented on #148
@MaciekPytel Version 1.6.7

[2017-08-08 12:45] MaciekPytel commented on #148
@jonastl In that case it definitely shouldn't be serial. That being said your comment https://github.com/kubernetes/autoscaler/pull/77#pullrequestreview-54688096 suggest you're using a very unusual setup, so perhaps there is a bug somewhere that only manifests for your setup.

It may be worth creating a new issue for that with some information about your setup (cluster version, cluster size, numbe

[2017-08-08 15:35] mwielgus opened #204 "cluster-autoscaler works improperly with several kubernetes clusters in the same region"
Moved from: https://github.com/kubernetes/contrib/issues/2711
Author: @it-svit

I have two clusters in two different VPCs.
But single cluster autoscaler is trying to affect both clusters.
[code]

[2017-08-08 15:38] mwielgus commented on #204
@it-svit - Which K8S/CA version are you using?
cc: @mumoshu

[2017-08-09 12:32] JoelSpeed opened #209 "AWS AutoDiscovery ASG Limits"
I'm running Kubernetes V1.6.4, CA V0.6.0 with autodiscovery of ASGs on AWS. If I change the maximum or minimum number of nodes in the AWS console, these changes are not reflected in the AutoScaler's config.

I chose to use the autodiscovery as I thought it would enable me to keep a single source of truth for ASG limits.

If I decrease the maximum number of nodes in AWS, CA can try to scale up but

[2017-08-09 13:57] MaciekPytel commented on #209
cc: @mumoshu

[2017-08-10 00:39] mumoshu commented on #209
Hi @JoelSpeed, thanks for the report 👍

Yes, this is the intended use-case of the auto-discovery feature.

Yes, changes in an ASG's min/max size should be read from and synced to CA when the auto-discovery feature is configured correctly.

---

Would you mind helping me to clarify several things came up in my mind?

* How did you provision your k8s cluster?
* How may k8s clusters in your AWS accou

[2017-08-10 01:43] mumoshu commented on #204
Hi @it-svit, thanks for trying the auto-discovery feature!
You should use CA 0.6 or later plus you should also tell the tag to identify the targeted cluster to CA.

#176 would also help understanding what was going on.

Also, FYI, in kube-aws we provide CA:

[code]

The tag `kubernetes.io/cluster/{{.ClusterName}}` is used to filter ASGs inside the cluster, and the tag `k8s.io/cluster-autoscaler/en

[2017-08-10 06:43] mumoshu commented on #144
@sharpevo Thank you very much for the detailed explanation 👍

Yes, I think so too.

Ah, I guess I now understand your intention! So, for example, you'd like CA to just add more nodes when there are insufficiency in cluster resource due to nodes that were once healthy but became unready afterwards, so that you can preserve enough healthy nodes even when there were extra unhealthy nodes. That makes

[2017-08-10 09:53] JoelSpeed commented on #209
Hi @mumoshu :)

Thanks for your reply, to answer your questions:

Custom EC2 instances (CoreOS + cloud-config) deployed via terraform

3 presently, but there could be more

`---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cluster-autoscaler
  namespace: kube-system
  labels:
    app: cluster-autoscaler
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cluster-autosc

[2017-08-10 17:39] JoelSpeed commented on #209
I've had another look through the codebase and found

https://github.com/kubernetes/autoscaler/blob/44e0897fa7e03a9ec4320d895bdd165fdb8b0609/cluster-autoscaler/core/polling_autoscaler.go#L91-L92

I think this is wrong, I think the ASG should be considered changed when the min/max values change.

It seems the only way to update the values is by recreating the autoscaler so should some logic be adde

[2017-08-11 16:07] mwielgus opened #215 "Re-enable stateful sets test for drain."

[2017-08-11 19:48] mwielgus commented on #201
Godeps updated for HEAD.

[2017-08-11 20:38] nicksardo commented on #201
Could we record which CA version (and K8s version) will have this change?

Thanks!

[2017-08-11 21:13] mwielgus commented on #201
Depends. The change has not yet been cherry-picked to CA release shipped with 1.7

[2017-08-12 05:41] bhack commented on #60
For aws is documented as 0.6.1 but it will never be a 0.6.1 release?

[2017-08-15 00:40] crimsonfaith91 opened #220 "Autoscaler should not use CreatedByAnnotation"
Based on this [announcement](https://groups.google.com/forum/#!msg/kubernetes-dev/juMOsdaCml0/FwVNJA9uBAAJ), `CreatedByAnnotation` will be deprecated in 1.8 in favor of `ControllerRef`. However, the annotation is still used in this repo:
(1) [drain.go](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/drain/drain.go#L212)
(2) [test_utils.go](https://github.com/kubernete

[2017-08-15 22:47] crimsonfaith91 commented on #220
/sig autoscaling

[2017-08-15 22:49] crimsonfaith91 commented on #220
@kubernetes/sig-autoscaling-bugs

[2017-08-16 01:53] crimsonfaith91 commented on #220
@mwielgus @DirectXMan12 It will be great if someone from sig-autoscaling can have a look at this. Thanks!

[2017-08-16 11:32] drinktee opened #223 "Cluster Autoscaler should suppurt using a kubeconfig file to create kube-client"
I run ca out of cluster and I think it is more convenient to use a kubeconfig file to create kube-client.

[2017-08-17 00:58] mwielgus opened #225 "Node Auto-provisioning in GKE"
This is an umbrella bug for the Node Auto-Provisioning effort for GKE.
Design doc: #208

cc: @MaciekPytel @aleksandra-malinowska @bskiba

[2017-08-17 15:01] ryanwalls opened #227 "cluster-autoscaler not scaling down unready nodes if utilization is over threshold"
Not sure if this is expected...

I have a node that has been unready for over 20 mins, and is therefore eligible for scale-in, but it isn't getting scaled in because the last reported utilization (before the kubelet stopped sending updates) was 60%.

Would it make sense to have an unready node ignore utilization when determining if it can scale in?

[2017-08-17 15:39] MaciekPytel commented on #227
AFAIK CA calculates utilization based on sum of requests of all pods running on a node and it has nothing to do with the utilization reported by kubelet. When a node becomes unready the pods will eventually be moved to other nodes, at which point the utilization of the node in CA should drop and the node will be able to scale down. I don't remember exactly how long it takes before the pods are mov

[2017-08-17 16:12] ryanwalls commented on #227
@MaciekPytel Makes sense, except I didn't see the the pods "moved" to other nodes.  New pods were spun up on other nodes, but the existing pods were not stopped on the unready node.  So even after waiting an hour, the node was never eligible for scale down.

[2017-08-17 16:33] MaciekPytel commented on #227
The pods should be evicted from unready node by node controller. Not sure why it wouldn't happen in your case, but my knowledge of node controller is very limited.

[2017-08-17 20:43] praseodym opened #230 "Implement OpenStack cloud provider"
To support cluster autoscaling for Kubernetes clusters hosted on OpenStack, a new cloud provider should be added.

[Previous work was done on this in kubernetes/contrib](https://github.com/kubernetes/contrib/pull/1980) leveraging OpenStack Heat and the [Gophercloud](https://github.com/gophercloud/gophercloud/) library.

[2017-08-17 22:30] mwielgus commented on #230
@praseodym Would you be interested in contributing this support?

[2017-08-18 02:50] drinktee commented on #223
@ @

[2017-08-18 06:30] Parag08 opened #233 "cluster able to autoscale [spawn new aws instance] but fails to add it to k8s-cluster"
I created a asg group and its profile using terraform then I created a kubernetes cluster using kargo. When i try to autoscale it successfully start the instances in aws but never adds it to kubernetes cluster. Can anyone point me to code where how exactly a node is added to kubernetes cluster is.

[2017-08-18 06:52] simnalamburt opened #234 "Update documentation: AWS now supports ARNs for autoscaling groups"
In the past, AWS did not support ARNs for autoscaling groups.

Now, however, AWS seems to have started supporting ARNs for the Autoscale group.

Documentation of this repository is also likely to require updates. Shall we?

[2017-08-18 07:19] Parag08 commented on #233
logs:-

 static_autoscaler.go:145] 1 unregistered nodes present
I0818 07:14:47.461642       1 static_autoscaler.go:213] Filtering out schedulables
I0818 07:14:47.461714       1 static_autoscaler.go:221] No schedulable pods
I0818 07:14:47.461728       1 scale_up.go:50] Pod default/cassandra-2 is unschedulable
I0818 07:14:47.477624       1 scale_up.go:71] Upcoming 1 nodes
I0818 07:14:47.500840

[2017-08-18 07:42] praseodym commented on #230
Sure! If @taimir is not in a position to update his previous PR I'll be willing to pick this up.

[2017-08-18 07:43] MaciekPytel commented on #233
In kubernetes nodes register themselves in cluster. The only thing Cluster-Autoscaler does is start a new instance.

So in your case CA worked as expected, but for some reason kubelet failed to register the node. Most likely cause would be some problem with connectivity to master, but really it could be anything. I would start by looking into kubelet log on the node that failed to register - usual

[2017-08-18 07:49] MaciekPytel commented on #234
If the docs are outdated and you want to fix it than by all means go for it. Probably @mumoshu would be the best person to review, as both me and @mwielgus use only GCP and don't know much details on how AWS works.

[2017-08-18 07:54] Parag08 commented on #233
In newly started nodes kube is not installed. Its a stock Ubuntu image. About connectivity there is no issue as i have created a 3 node cluster previously without any issues on the same subnet and vpc

[2017-08-18 07:57] taimir commented on #230
@praseodym feel free to take over this topic, I doubt I will have the time for that during the next few months. If you want to reuse something from the stale PR, I can give you access to the fork.

[2017-08-18 08:14] MaciekPytel commented on #233
As I said CA only adds new instances. You need instances to come up with kubelet and all necessary configuration to register themselves in cluster if you want to use CA.

I don't know much about kargo, but I think kops or kube-aws create ASGs for you so that any new instance is already kubernetes ready (I only use GCP myself, so don't quote me on this).

[2017-08-18 08:23] Parag08 commented on #233
okay got it I thought CA also make other configuration's on instances that come up. You may close the issue.

[2017-08-18 08:26] #233 closed

[2017-08-18 09:49] drinktee commented on #223
@mwielgus @DirectXMan12  It will be great if someone from sig-autoscaling can have a look at this. Thanks!

[2017-08-18 10:31] mwielgus commented on #230
Great! Let me know if you have any problems or questions.

[2017-08-18 14:54] mwielgus commented on #227
How much "unready" the node was? Do you have any logs/status?

[2017-08-18 14:55] mwielgus commented on #201
Shipped with 1.7.4

[2017-08-18 14:55] #201 closed

[2017-08-18 14:55] #185 closed

[2017-08-18 14:55] mwielgus commented on #185
Fixed.

[2017-08-18 14:59] mwielgus commented on #187
Fixed with #189

[2017-08-18 15:00] #187 closed

[2017-08-18 16:35] ryanwalls commented on #227
@mwielgus Not sure I understand your question.  Unfortunately, don't have any logs/status but the node was unready for a little over 60 minutes when I manually terminated it.

[2017-08-18 20:29] mwielgus commented on #227
@ryanwalls as @MaciekPytel wrote the node controller should remove pods from nodes that are broken. Moreover if your cluster size was above min, CA should remove the broken node.
Any logs or output from kubectl get nodes -o yaml would shed some light why it didn't work as expected. Right now we are a bit clueless. We can double check if the code works on gce/gke but we may broke the node in a diff

[2017-08-18 21:24] ryanwalls commented on #227
@mwielgus Roger.  I'll try to watch for another occurrence of this and will capture more logs.  In my case the kubelet stopped responding and reporting status.  So if the node controller tries to remove pods by talking to the kubelet, that could explain why it didn't work.

[2017-08-21 15:46] MaciekPytel commented on #223
Hi @drinktee,
It sounds like a reasonable feature, we could have a new flag (`--kubeconfig` or similar) that can be passed instead of `--kubernetes`.
If you want to contribute such feature I'm happy to review. Otherwise we can add it to our todo list. However, we're currently focusing on getting all the features we're already committed to for 1.8 (mostly optimizing CA, so it can be used on larger

[2017-08-21 23:22] mwielgus opened #245 "Temporarily blacklist under-utilised nodes whose pods cannot be moved elsewhere"
There is no point of trying to move pods that failed to be moved just after 10 seconds. It is heavily unlikely that the situation improved during that 10 seconds. We can skip them for minute or two. Thanks to that we won't have to do super-expensive pod migration attempt that is unlikely to succeed. This should significantly improve scale down performance.

cc: @MaciekPytel @bskiba @aleksandra-mal

[2017-08-21 23:28] mwielgus opened #246 "Keep only N non-empty candidates for scale down"
As CA deletes only 1 non-empty candidate every 1 min or so there is no reason to monitor more than, lets say 30-50 non-empty candidates at the same time. If we have more of them then we can temporarily skip them. Once the current candidates are deleted or they stop being eligible for deletion we will get back to the other potentially removeable nodes.

cc: @MaciekPytel @bskiba @aleksandra-malinows

[2017-08-21 23:47] mwielgus opened #247 "Check only K new possible candidates for scale-down per iteration"
Works with combination with #245 and #246. With this, every iteration we will :

* Check if all N previously removeable, non-empty (RNE) nodes are still removeable.  N is lower or equal 30 (see #246).

* If N  < 30 (removeable nodes set can be expanded) then CA check K non-blacklisted underutilized nodes are removeable. If a node is unremoveble it will be blacklisted (#245) and retried after 2 min

[2017-08-22 09:52] it-svit commented on #204
@mwielgus
K8S version
[code]
CA version:
[code]

@mumoshu
Sadly, but `https://quay.io/repository/kube-aws/cluster-autoscaler` has no human-friendly tags.
![1501004498013](https://user-images.githubusercontent.com/14011775/29559063-b2fa782e-8736-11e7-860e-43fa15a5a76c.jpg)
I think, tags according to release version would be great!

I managed to find `8b7d410fc5b9dbc9b7c707994259770f15613676` mentio

[2017-08-22 09:54] MaciekPytel commented on #245
+1, that sounds like an obvious optimization of scale-down. I'll start the implementation.

[2017-08-22 12:03] ryanwalls commented on #227
@mwielgus @MaciekPytel I've got another node that has the same problem.  It became unready about 8 hrs ago.  I'll keep it up until we can diagnose.  Let me know what logs/details you want to see.

Here is the output of the node details as yaml:
[code]

[2017-08-22 12:09] ryanwalls commented on #227
And here is the output from describing the `newmechanicssolver-361--1503349413550135293-hgrmh` pod.

[code]

It looks like k8s is trying to terminate the pod, but can't because the node is unresponsive.

[2017-08-22 12:18] mwielgus commented on #227
Looks like a problem in node controller + rancher + aws combination. We will ask one of our colleagues who did some changes to node controller in the past but most likely you will have to file a bug in the main kubernetes repo.

[2017-08-22 12:30] ryanwalls commented on #227
@mwielgus Thanks.  What is the expected behavior?  Just so I can describe what I expect to see when I file issues in the main repo and with Rancher.

Another weird thing is that the pod described above is using more than its `15Gi` memory limit.  Looking at the exported metrics from `kube-state-metrics` it says the pod was allowed to use just over 16 GB.  So it seems like the Pod wasn't constraine

[2017-08-22 12:45] jkamenik opened #248 "Pod not deleted preventing scaling down on all nodes"
Platform: AWS
Kube Version: 1.7.0

I have two nodes that are can be scheduled for delete: 142 and 167.  One of those nodes has a pod which is failing to terminate in a reasonable amount of time; [which is a separate issue](https://github.com/kubernetes/helm/issues/2772). The issue with the autoscaler is that the pod is scheduled on 167, but it preventing 142 from scaling down.

Based on the logs i

[2017-08-22 12:54] ryanwalls commented on #227
Update:  Got on the node and inspected the running docker container and the HostConfig.Memory is set to `16106127360`.  Is that what `15Gi` would translate to?

[2017-08-22 13:30] ryanwalls commented on #227
@MaciekPytel @mwielgus I believe I've figured out the issue!  Long story short, Rancher keeps tracks of nodes and runs a node controller.  When a node becomes unresponsive, it usually also stops reporting back status to Rancher.  We had an automated script that cleaned up these "disconnected" nodes from Rancher every 15 mins or so.

I believe the problem arises when we delete the node from Rancher

[2017-08-22 13:30] #227 closed

[2017-08-22 13:49] MaciekPytel commented on #248
According to cluster-autoscaler log the pod was, at the time on 142. Note the `Not deleted yet` line that prints the whole pod object. It includes `NodeName` field which points to node 142.
Also on the list of pods `datanode-2` has only been running on 167 for 2 minutes, so my guess would be the list of pods was taken about 2 minutes after the log.

[2017-08-22 16:28] ryanwalls opened #251 "Feature request: Incorporate nearest billing hour into scale down algorithm"
AWS bills instances by the hour, so if we scale down an instance after it has been up for 15 minutes, we still get billed for 60 minutes.  Ideally, the cluster autoscaler could take into account when the next billing hour is.  E.g. have a `scale-down-minutes-before-billing-hour` parameter that when set to a non-negative number, only makes the node eligible to scale down when it is within `x` mins

[2017-08-22 19:18] jkamenik commented on #248
I guess there is an interesting edge case when you have two nodes that can be scaled down and a pod that takes longer then the grace period to terminate.  Seem like the pod jumps indefinitely between the two preventing either from being scaled down.

Is there a good way to break that stalemate?  It seems to happen to me every night as the ETL scales back down.

[2017-08-23 00:33] mwielgus commented on #251
It can be assumed, with high probability, that an instance was "bought" couple minutes before node CreateTime. However `scale-down-minutes-before-billing-hour` will work only on small clusters - it can take a minute (or two) to delete a not-completely-empty node and during that time we will not do other delete operations (empty nodes are deleted in bulk). So if you have 30 unneeded nodes that are

[2017-08-23 00:50] kylegato opened #252 "AWS DescribeAutoScalingGroups requests too aggressive - API limits reached"
Our cluster-autoscaler pods are dying frequently due to the fact that AWS is rate limiting the API calls.

In a 5 minute period, we logged over 1,509 calls in CloudTrail for "DescribeAutoScalingGroups"

Here's the error that causes cluster-autoscaler to crash: https://gist.github.com/kylegato/9e2a183eca549572ce0e0082c4381dab

This also prevents us from loading the ASG page on the console.
[code]

[2017-08-23 08:36] MaciekPytel commented on #252
My initial guess would be that it may be related to using node-group-auto-discovery feature. @kylegato can you try running without using it (configuring your node groups statically with --nodes)?

@mumoshu I suspect the PollingAutoscaler is probably doing a DescribeAutoScalingGroup API call for each node group on each loop (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/co

[2017-08-23 09:13] mwielgus commented on #248
How long does it take to really delete the pod? CA waits 1 min (graceful termination override) + 20 sec.

[2017-08-23 15:27] jkamenik commented on #248
It shouldn't be more then that, but it is.  I don't set a terminationGracePeriodSecond on the pod so it should be 30s.  But it continually takes 2 to 5 minutes for the pods to actually be removed.

The pod should get a `SIGKILL` after 30s if it hasn't already stopped, but i guess docker clean up takes longer then the autoscaler is waiting.

The `datanode` is a statefulset.  The pod is a hadoop dat

[2017-08-23 16:47] klausenbusk opened #254 "Implement DigitalOcean cloud provider"
I'm not exactly sure how to implement this, but I think the easiest way would be creating droplet from a snapshot already configured to join the existing cluster.

[2017-08-23 17:01] ryanwalls commented on #251
@mwielgus Yeah, I figured it might not be useful for some cases, so I would think we would set `scale-down-minutes-before-billing-hour` to `-1` by default, which would indicate to ignore the parameter.

It would just give us one more lever to try and fine tune the optimal scaling solution.

Currently we are running a small cluster with low/sporadic volume, so this could potentially save us 20-30%

[2017-08-23 20:24] johanneswuerbach commented on #251
I think prioritising the instance to be deleted based on the distance to the next billing hour could already be quite helpful.

AWS ASGs have a similar concept called Termination Policy `ClosestToNextInstanceHour`
http://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-termination.html#custom-termination-policy

Sounds a bit like all of those could be provided as different termination

[2017-08-23 21:53] kylegato commented on #252
@MaciekPytel Confirmed that using static node group definitions seems to work, I'm no longer hitting the limits and my container is not crashing.

I'll keep an eye on this issue to determine when/if it's safe to switch back to auto discovery.

Thanks!

[2017-08-24 01:07] mumoshu commented on #252
@MaciekPytel Thanks for your support.

Hmm, it wasn't an expected behavior at least but basically I guess you're correct.
Probably we'd need to retain a part of the whole CA state - cache of ASGs - across CA loops.

---

Just to start by syncing it up with you, CA with the automatic discovery is expected to work like:

1. Detect target ASGs for each scan interval.
   * This is done by [calling `De

[2017-08-24 01:57] mumoshu commented on #204
@it-svit Thanks for the feedback 👍

Which tool's release version you would like the image in the quay.io repo to have? CA's or kube-aws's? Anyway, the quay.io repo is used solely for testing purpose. So, basically, I'd recommend you to use CA images from the CA official, gcr.io repo.

I may be not following what you meant by "autodiscover current cluster name", but the setup explained in my prev c

[2017-08-24 02:13] mumoshu commented on #252
Btw, increasing `--scan-interval` will also alleviate the issue.

[2017-08-24 08:47] MaciekPytel commented on #252
@mumoshu I may be missing something, but it seems to me that the PollingAutoscaler only replaces the existing autoscaler if the config has changed. So we'd only do all the extra calls due to lost cache if the config actually changed (which should be very rare, so we probably don't care too much). I don't think the autoscaler was actually replaced recently in @kylegato's log, as there are nodes tha

[2017-08-24 12:48] MaciekPytel opened #257 "Figure out and implement custom handling for MatchInterPodAffinity predicate"
As part of working on CA performance we run a large scale-up test with some additional logging including call count and total duration spent in each predicate. The results are as follows:
[code]

It turns out that MatchInterPodAffinity predicate is **3 orders of magnitude** slower compared to other predicates. This is likely because contrary to scheduler we don't do any precomputation for it and w

[2017-08-24 12:50] MaciekPytel commented on #257
This will not be easy to deal with and it looks like we can work around the performance problem with #253, so I think this is best left to 1.9 timeframe.

[2017-08-24 13:12] mwielgus commented on #257
@davidopp @bsalamat Do you have any recommendations?

[2017-08-24 13:12] mwielgus commented on #257
cc: @shyamjvs @porridge @gmarek @wojtek-t

[2017-08-24 17:55] shyamjvs commented on #257
@wojtek-t I remember discussing with you sometime ago about not precomputing stuff in scheduler. It changed in the meanwhile? :)

[2017-08-25 00:19] crimsonfaith91 commented on #220
@mwielgus @DirectXMan12 Any update?

[2017-08-25 08:06] wojtek-t commented on #257
I don't understand. Can you clarify?

[2017-08-25 10:53] shyamjvs commented on #257
Sorry - When we were discussing about for e.g zone-level soft inter-pod anti-affinity, fwiu the scheduler was doing computation of O(nodes*pods) when scheduling a new pod. Though it seemed to be doable in O(pods + nodes) with precomputation. And from the comment it seemed like it's precomputing now. But I think I misunderstood as soft anti-affinity uses priorities instead of hard anti-affinity whi

[2017-08-25 11:12] wojtek-t commented on #257
Yes - we were discussing some potential optimizations in scheduler. And those are still not done. But we do some caching in scheduler, and we don't do anything in cluster autoscaler.

[2017-08-25 11:43] mumoshu commented on #252
@kylegato Btw, in case you're using kube-aws 0.9.7 with CA updated to 0.6 by hand while enabling the node draining feature, I'd recommend upgrading to 0.9.8-rc.1.
There is an improvement in the node draining feature which reduces the number of `DescribeAutoScalingGroups` calls.

Please see https://github.com/kubernetes-incubator/kube-aws/issues/782 for more information if that's the case.

[2017-08-25 12:01] mumoshu commented on #252
@MaciekPytel

Yes, and that's done by the step 1 described in [my prev comment](https://github.com/kubernetes/autoscaler/issues/252#issuecomment-324504029).
The step 1 happens before a replace actually happens, to detect changes in ASGs.
So, I believe it is still 1 `DescribeAutoScalingGroups` call per interval in a normal case.

Although I'm still not sure where the cause could be, I agree to your

[2017-08-25 12:04] mumoshu commented on #252
@kylegato Btw, would you be sure that a considerable portion of 1,509 calls is made by CA?
I'm still wondering if most of these calls are made by the node draining feature of kube-aws by any chance as in [my prev comment](https://github.com/kubernetes/autoscaler/issues/252#issuecomment-324895244).

[2017-08-25 12:06] mumoshu commented on #252
@MaciekPytel Regarding the `--scan-interval`, I agree with you. Shortening it should be done if and only if it is a last resort.

[2017-08-25 15:54] #245 closed

[2017-08-25 18:39] mwielgus commented on #254
cc: @andrewsykim

[2017-08-25 18:55] andrewsykim commented on #254
/assign andrewsykim

[2017-08-25 18:59] andrewsykim commented on #254
@mwielgus thanks for the ping

@klausenbusk feel free to start work on this issue! Here are some ideas I have so far:

* create a CRD (custom resource definition) that contains node info that you can use as a template
* get node info off of existing droplets

Both these solutions should have ways to reference snapshots

[2017-08-25 20:01] kylegato commented on #252
I'm running kube-aws GIT (from master) version 65cb8efbf769aa3c5fc9459f4ed37fefa11e354a

I'm assuming the calls are CA because I don't really have much else going on in this AWS account, I can look into it in a bit and report back, I'll need to pull my logs and parse them from S3.

[2017-08-25 20:20] jonastl commented on #148
@MaciekPytel, it turned out that when we enabled resource constraints (CPU and memory) to a degree that filled a node group member, then scaling speed was much improved, so my remark above about serial scaling can be scratched with this new insight.

The solution was non-obvious to us, but now that we've found out about the scalers behavior with the expected (undocumented) knobs turned, we're happ

[2017-08-25 21:32] mtcode commented on #252
I've also seen quota limits exceeded on API calls on the AWS web console, especially during periods of rapid scaling.  This is _without_ auto-discovery enabled, but the scan interval is set to 15 seconds.

[2017-08-27 23:06] davidopp commented on #257
If I'm understanding your statement correctly, @bsalamat ran into almost exactly the same problem in the preemption work (need to run scheduler predicates against cluster state minus preempted pods on some node). He wrote a function FilteredList() that is like List() but subtracts out the pods that match a filter provided as an argument. You might be able to do the opposite, define a function that

[2017-08-28 14:09] #147 closed

[2017-08-29 10:03] AndreaGiardini opened #269 "'No candidates for scale down' fills the logs"
The message:

[code]

Is repeated several time in our logs and gives no valuable information. Is it possible to exclude it from logging? If not, should we introduce a verbosity level for it?

[2017-08-29 12:42] MaciekPytel commented on #269
This particular message is only logged once per loop (so assuming default configuration once / 10s), so it's not very spammy. And it means that scale-down logic decided there are no nodes that can be removed and it returns immediately, without executing a few hundred LOC worth of logic, which is a reasonably useful information when debugging. We can add a V() to this log, but it would end up being

[2017-08-29 14:05] MaciekPytel commented on #257
@bskiba ran some follow-up performance tests and I've spent time experimenting with predicates. Below are results of those investigations:
1. Fixing this is by far the most important performance problem we have. The longest simulation in performance test took 2m36, out of which 2m31 was spent inside MatchInterPodAffinity (in a cluster without a single pod using affinity or antiaffinity).
2. We alr

[2017-08-30 00:36] mwielgus commented on #220
Fixed with #271

[2017-08-30 00:36] #220 closed

[2017-08-30 00:37] mwielgus commented on #223
Fixed with #268

[2017-08-30 00:37] #223 closed

[2017-08-30 06:17] jurgenweber opened #277 "unable to connect to metrics endpoint"
Hi, I have tried on v0.6.1 and v0.7.0-alpha1.

[code]

I can install telnet and nettools in the container:

[code]

[code]

from my prometheus container using a service:

[code]

why can I not connect and see it? I see nothing in the options and I am taking the default. It works for me.

also config options:

[code]

[2017-08-30 06:27] jurgenweber commented on #277
bah, ignore me. I must of gone corssed eyed and mad. Wrong port. 8500 vs 8085.. Sorry.

[2017-08-30 06:27] #277 closed

[2017-08-30 09:14] JoelSpeed opened #278 "Autodiscovery chooses all clusters if no match for multiple tags"
Yesterday, we wanted to turn off the autoscaling from ASGs in one of our clusters. We currently use two tags for Autodiscovery, `cluster-autoscaler/enabled` and `cluster/<CLUSTER_NAME>`.

To disable the autoscaling, we changed the tag `cluster-autoscaler/enabled` to `cluster-autoscaler/disabled` (Helps us know what's going on). Then CA regenerates it's config as it has detected changes, as it shou

[2017-08-30 09:54] JoelSpeed commented on #278
I'm working on a fix for this today and will open a PR once I am happy that it solves the issue

[2017-08-30 11:13] MaciekPytel commented on #278
cc: @mumoshu

[2017-08-30 11:27] mwielgus opened #279 "Create node pool asynchronously in NAP"
Synchronous call was introduced in #275.

[2017-08-30 11:53] mumoshu commented on #278
@JoelSpeed You're a genius! I really appreciate your efforts.

I have received an issue in kube-aws+cluster-autoscaler setup from 2 individuals as in https://github.com/kubernetes-incubator/kube-aws/issues/800, which definitely seems to be explained by this.

I fully agree with your analysis and the proposed fix. Please go ahead :+1:

[2017-08-30 17:26] #278 closed

[2017-08-30 20:11] smarterclayton opened #283 "Support for stop / start as opposed to node deletion?"
Has there been discussion (could not find it in issues or docs) about supporting alternate scaler mode that can stop/start nodes rather than created delete them?  We'd like to start using the autoscaler and help support it, but node creation is still fairly complicated (because of security requirements) and not suitable for autoscaling?

I'd be happy to get warm bodies around it.

[2017-08-30 20:49] mwielgus commented on #283
@smarterclayton So far nobody has requested any support for starting/stopping instances. Moreover, it seems that, for example, GKE is not particularly compatible with stopping instances. After I stopped an instance it got back to life after couple minutes :).

So my question would be: what is the exact use case? In which environment do you want to run Cluster Autoscaler? How are the stopped machin

[2017-08-30 21:19] mwielgus commented on #251
cc: @mumoshu @MaciekPytel @aleksandra-malinowska @bskiba

Ideally we would like to have some kind of interface that:
* gets a list of nodes that are OK-ish to be deleted
* removes the nodes that are not so OK to to be deleted
* sorts the remaining nodes according to some criteria so that the nodes at the front should be removed first, if possible.

As we are just couple days to feature freeze we w

[2017-08-31 03:53] smarterclayton commented on #283
If you have a managed instance group, then yes, stopping the instance will result in

a) the instance being deleted and recreated (from a fresh boot dir)
b) the instance starting

If you run an unmanaged instance group, then this won't happen.

The use case is that the cluster autoscaler deals only with clusters where nodes are totally recreateable from images or launch config.  That's not the onl

[2017-08-31 05:24] mhausenblas commented on #283
Let's discuss in today's meeting, yes.

[2017-08-31 05:42] davidopp commented on #283
Seems somewhat related to https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/ibVxgdLkeiM/TLhykRj8BgAJ (at least the idea of supporting different types of underlying node management models)

[2017-08-31 16:00] smarterclayton commented on #283
Just to capture discussion from sig-autoscaling meeting:

1. In the long term, having autoscaler call out to another API is desirable
  1. APIs can be difficult to implement in all environments - we may want to use a similar extension to let shell scripts to be invoked (instead of an API)
2. I'll prototype something using the existing cloud provider abstraction with an eye for how it would may to

[2017-09-01 11:12] #269 closed

[2017-09-01 13:10] MaciekPytel opened #289 "Improve scale-down simulation logs"
Currently scale-down simulation ("findUnneeded") logs every time it checks if a pod could be moved to other machine (examples: `cluster.go:224] Looking for place for <pod_name>`, `cluster.go:196] Evaluation for -> result`). On one hand those are pretty useful in debugging and understanding autoscaling decisions on small clusters, on the other they easily log 10k+ lines per loop on very large clust

[2017-09-01 17:23] jrnt30 commented on #248
Is there a pod disruption budget for the `datanode` SS that would be unsatisfied if you removed that pod?

I am actually running into a similar issue with the Kops rolling-upgrade process and pod disruption budgets and had come to the autoscaler to see if it was "smart" enough to deal with this somewhat edge case.

[2017-09-02 19:31] vendrov commented on #147
@mwielgus This fix is temporary, since it doesn't consider the pod's graceful_terminatnion attribute. What if the container needs to be running more than 10min before termination?

[2017-09-06 10:23] genz10 opened #309 "New EC2 instance isn't joining the cluster, ends up by cluster-master got terminated"
[code]
PS : Some redundant logs was deleted due too much lines.

## Deployment yml

[code]

## Scenario

I deploy a Deployment that won't fit on current available nodes, and then autoscaler detect that ASG should add new **desired** instance, by increasing desired intance into 4 (before was 3), instance spawned and then instance status checks was 2/2, and for arround 10 minutes those new instance

[2017-09-06 13:41] mwielgus commented on #309
cc: @mumoshu

[2017-09-06 13:49] darkstarmv opened #312 "Cluster Autoscaler in GCE marks instance group unhealthy if kubelet uses cgroup to limit allocated system resources"
Cluster Autoscaler compares GCE instance type capacity to allocatable capacity returned from Kubernetes API.
If kubelet and docker configured to use cgroup, CA marks Instance group unhealthy and stops managing all Instance groups in the cluster, even if they are healthy.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/gce/templates.go#L98-L107
[code]

[2017-09-06 14:03] mumoshu commented on #309
@genz10 Hi!

What CA does for a scale-up is to increase DesiredCapacity of the ASG. So, it should work as long as your launch configuration of the ASG is able to reliably provision an EC2 instance which reliably joins the cluster.

AFAICS,

This does nothing with CA. This indicates your node provisioning setup isn't working very well. launch configuration, userdata, unstable k8sapiserver, missing

[2017-09-06 14:39] genz10 commented on #309
@mumoshu Hello, thanks for your reply.

Ah seems i've missed some parts in joining nodes, but why CA killed my cluster-master ? is it expected ?

[2017-09-06 14:51] mumoshu commented on #309
@genz10 I guess that is expected.

According to my experience, the nature of CA is to terminate EC2 instances under an ASG but not recognized by the k8s cluster(hence "unregistered" as you can see in the log) for a while, so that CA can retry scaling-up without resulting the ASG to reach its MaxSize by containg a lot of broken nodes.

@mwielgus Is my understanding correct?

[2017-09-06 15:15] mwielgus commented on #312
The code that you are referring to has nothing to do with cgroups or marking the instance unhealthy. This particular snippet helps to estimate the node capacity if there are no live instances from a particular managed instance group/node pool.

[2017-09-06 15:19] genz10 commented on #309
@mumoshu Does AWS EC2 need some kind of special "tags" to be registered as k8s cluster ? because couple days ago 2/4 of my nodes detached from the cluster with logs
`event: Deleting Node ip-xxx-xxx-xxx-xxx because it's not present according to cloud provider`

[2017-09-06 16:17] darkstarmv commented on #312
Hello Marcin, thank you for responding.
Sorry, i did not look very closely at the code.
Here is the example of the cluster with the Instance group **k8s-ig--us-east1-test-v008**  that has nodes with cgroup config enabled

[code]
Node information:
[code]
If we remove instance group with cgroup configuration CA works fine.

[2017-09-06 19:20] mwielgus commented on #312
[code]
This seems to indicate that the nodes from this group didn't manage to start properly. Did you see them in `kubectl get nodes`?

[2017-09-06 20:15] darkstarmv commented on #312
yes, i can see nodes and nodes are working just fine. i see pods running on these nodes with no issue.

[2017-09-06 20:54] mwielgus commented on #312
@darkstarmv Could you please copy-paste `kubectl get node [name] -o yaml`?

[2017-09-06 21:05] mwielgus commented on #309
CA works only on ASG for which you enabled it. It should not touch nodes that don't belong to these masters. In particular it should not kill your master unless you terribly misconfigured your cluster (and put master on ASG).

[2017-09-06 22:12] mwielgus opened #313 "Scale down fails if a pod that was about to be evicted is gone."
Recommended fix: error check or pod lookup in

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scale_down.go#L569

[2017-09-07 04:11] genz10 commented on #309
@mwielgus my bad, I put my master on ASG. Thanks!

[2017-09-07 04:11] #309 closed

[2017-09-07 09:15] mwielgus commented on #247
Done.

[2017-09-07 09:15] #247 closed

[2017-09-07 09:30] mwielgus opened #314 "Pass empty nodes as candidates regardless of quota"
After the performance improvements were made we reduced the number of candidates to 30. However this number includes both empty and non-empty nodes. Deletion of empty nodes (that don't have any user pods, only kubeproxy, fluentd, etc) should have a priority over deletion of non-empty nodes.

[2017-09-07 09:43] mwielgus opened #315 "unremovableNodes may contain nodes that are not there anymore"
Non-existing nodes are never removed.

[2017-09-07 13:20] darkstarmv commented on #312
I don't have environment nodes running with cgroup config enabled right now, but i have output from my testing 2 weeks ago. Note, that **Capacity Available** is not equal to **Capacity Allocatable** as I have posted above.

[code]

[2017-09-07 14:40] aleksandra-malinowska commented on #312
If you have CA log (master machine, /var/log/cluster-autoscaler.log), can you check it for messages like "Failed to get nodegroup for" coming from `clusterstate.go`? Looks like there's no readiness information at all for the second node group

[2017-09-07 15:23] darkstarmv commented on #312
I don't have the log - it will take me some time to stand up environment with the cgroup config.

[2017-09-08 03:30] 7chenko commented on #113
Getting a similar error, with kops 1.7.0, kubernetes 1.7.5, cluster-autoscaler 0.6.1, **but only when trying to scale from 0 nodes.** According to [this](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws), as of CA 0.6.1 I should be able to scale to/from 0. I'm getting errors like this:

[code]

Using a deployment similar to [this one](https://github.com/kub

[2017-09-08 05:09] 7chenko commented on #113
Figured this out, it was the fact that a kube-dns pod was not running on the master node. To run it, had to add the master toleration to the kube-dns deployment (same as with cluster-autoscaler deployment above). Once kube-dns was running on the master, autoscaler was able to use it to get ASG info from AWS and scale up from 0 nodes.

[2017-09-08 10:27] alok87 opened #317 "Mark nodes on scale up"
**What?**

CA should taint/label nodes on scale up.

**Use case**
We have a use case in which we have written a custom node monitor. Node monitor gets the list of nodes, perform custom checks on the node and send alerts on finding issues.

When CA scales up nodes. A new node that comes up might take some time before `weave-net` comes up, and in that time node monitor sends false alerts.

We want t

[2017-09-09 03:39] 7chenko opened #321 "Scaling up from 0 nodes on AWS, CA not aware of custom resources"
When **scaling up from 0 nodes** on AWS, how can I make cluster-autoscaler aware of custom resources on the nodes, such as "alpha.kubernetes.io/nvidia-gpu"?

Using kops 1.7.0, kubernetes 1.7.5, cluster-autoscaler 0.6.1, when I have 0 nodes running, starting a job with "resources: limits: alpha.kubernetes.io/nvidia-gpu: 1" results in CA inaction due to (note "Insufficient alpha.kubernetes.io/nvidia

[2017-09-09 04:09] 7chenko commented on #321
Is the only way to do this to use labels and nodeSelectors?

[2017-09-10 15:18] mwielgus commented on #321
GPU information is not extracted.
Please expand:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L182

and

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L226

cc: @sethpollack

[2017-09-10 15:36] sethpollack commented on #321
Any idea how to pull that info from the ASG?

[2017-09-10 15:44] sethpollack commented on #321
Actually you can add that info to the `asgTemplate` here

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go

[2017-09-10 16:22] sethpollack commented on #321
I can push up a fix soon @7chenko would you be able to test it?

[2017-09-10 17:01] 7chenko commented on #321
Yup, I will test!

[2017-09-10 17:02] sethpollack commented on #321
Thanks!

[2017-09-11 09:40] mwielgus commented on #313
Fixed by @aleksandra-malinowska in #324.

[2017-09-11 09:40] #313 closed

[2017-09-11 09:43] arashadahamad opened #325 "Getting error while running `make build` cluster autoscaler code"
Following are the steps which I followed

1- Get k8s.io/kubernetes and k8s.io/autoscaler source code via `go get`
2- Ran `godep restore` for k8s.io/kubernetes
3- Deleted `Godeps` and `vendor` dir from k8s.io/autoscaler/cluster-autoscaler
4- ran `fix-gopath.sh`
5- Ran `godep save ./...` in k8s.io/autoscaler/cluster-autoscaler
6- Then I ran `make build`

I am getting following error, 2-3 days before

[2017-09-11 12:16] mwielgus commented on #314
Fixed by @bskiba  in #318

[2017-09-11 12:16] #314 closed

[2017-09-11 13:25] mwielgus opened #326 "Update Allocatable logic for scale from 0"
cc: @bskiba @aleksandra-malinowska

[2017-09-12 08:13] #315 closed

[2017-09-12 10:15] 7chenko commented on #321
Confirmed this works, scaling up from 0 triggered. Thanks!

[2017-09-12 10:47] #321 closed

[2017-09-12 11:16] mwielgus commented on #325
I updated the godeps last Thursday. I didn't run into any issues.
BTW, what system are you compiling your stuff on?

[2017-09-12 11:52] bskiba commented on #326
This affects both scale up from 0 and node autoprovisioning.

[2017-09-12 14:00] arashadahamad commented on #325
I am compiling on MAC Darwin Kernel Version 16.7.0

[2017-09-12 14:14] mwielgus commented on #325
Then please run make build-in-docker. Some packages CA transitively depends on are linux only and can be compiled only on linux. GOOS=linux is not enough.

[2017-09-12 16:20] arashadahamad commented on #325
Thanks @mwielgus  for your help, I tried the same but getting following build error
1st I build the `autoscaling-builder` image and then build in container(which is same as make build-in-docker). am I missing any steps ?

docker run -v `pwd`:/gopath/src/k8s.io/autoscaler/cluster-autoscaler/ autoscaling-builder:latest bash -c 'cd /gopath/src/k8s.io/autoscaler/cluster-autoscaler && make build-binary

[2017-09-12 21:25] 7chenko commented on #321
Weirdly, this works when the nodes are g2.2xlarge instances, but not when they are p2.xlarge instances. Same error as before:

`
scale_up.go:141] Scale-up predicate failed: PodFitsResources predicate mismatch, cannot put default/ba6e66e1-d5c0-31b7-7af1-a9d18401a823-wx6w5 on template-node-for-nodes.uswest2.metamoto.net-7466275748196809522, reason: Insufficient alpha.kubernetes.io/nvidia-gpu`

[2017-09-12 22:42] sethpollack commented on #321
Yes, we pull that data from https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L444

Which is generated by https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go

For some reason that info is not getting parsed correctly.

[2017-09-12 22:55] sethpollack commented on #321
Ok, so it is parsing correctly, AWS just isn't providing the gpu data for the `p2.xlarge`s.

https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json

[2017-09-13 00:31] 7chenko commented on #321
Gotcha, thanks for that. Will contact AWS with that info.

[2017-09-13 00:31] sethpollack commented on #321
Ok thanks

[2017-09-13 18:04] davidopp commented on #148
Is there an ETA on this?

[2017-09-13 18:08] mwielgus commented on #148
Next K8S release (1.9). In 1.8 we were busy improving the performance of the current functionality and this feature makes all the computations much more complex.

[2017-09-13 18:28] ryanwalls opened #340 "Feature request: Add skip-nodes-with-jobs flag"
We are running many long running jobs on our infrastructure.  If utilization drops below the threshold, the node gets scaled down and the jobs get restarted.  Would be nice to have a `skip-nodes-with-jobs` flag to avoid this issue.

[2017-09-13 18:31] mwielgus commented on #340
Please specify a restrictive pod disruption budget for your long-running jobs. Should do the trick.

[2017-09-13 18:56] ryanwalls commented on #340
After reading up on it, I think I can get what I want with PodDisruptionBudget.  Will close.  Thanks!

[2017-09-13 18:56] #340 closed

[2017-09-14 13:24] bskiba commented on #326
Since the Node Autoprovisioning case is different technically and significantly less urgent, I will file a separate issue for it.

[2017-09-14 13:28] bskiba opened #344 "Update Allocatable logic for Node Autoprovisioning"
This is different from #326 in that in Node Autoprovisioning we cannot read kube-reserved from kubelet args.

[2017-09-14 20:28] klausenbusk commented on #254
So what we need for creating a new droplet is:
* region
* snapshot ID
* droplet size
* ssh keys
* ipv6/private network enabled/disabled (??)

That should be durable with a CRD, we then just need some nodeGroup -> CRD mapping logic. Every nodeGroup should have it own config, although it could inherit some default from a default CRD (like ssh keys and droplet size, even snapshot ID (snapshot name sh

[2017-09-14 21:17] innovia opened #346 "CA0.6.1 AWS - able to scale down to 0 but back up"
Hi

Im using kops on AWS with CA 0.6.1

I am able to scale down to zero but not back up from zero

also not the format of "No pod can fit to %sgpu-nodes.server.com" the %s is printed - i think its only on the logs...

[code]

my command on CA pod is
[code]
my node config

[code]

Would appreciate help in resolving this as this will help us a lot.
Thanks

Ami

[2017-09-14 21:21] mwielgus commented on #346
Can you share the pending pod definition (`kubectl get pod <name> -o yaml`) and a sample node (`kubectl get node <name> -o yaml`) from ASG that you expected to grow from 0.

[2017-09-14 21:48] mwielgus commented on #246
Done.

[2017-09-14 21:48] #246 closed

[2017-09-14 22:06] markine opened #347 "Correctly taint empty nodes (bring PR #333 to 0.6.x release)"
@mwielgus Please cherrypick/port https://github.com/kubernetes/autoscaler/pull/333 to the 0.6.x release branch. I'm debugging v0.6.0 for a race between an empty node being terminated and the k8s scheduler placing new pods on the node as it is going down. The empty vs non-empty node drain code paths are distinct. The lack of a taint on the empty node during that process causes unexpected loss of on

[2017-09-15 16:00] bskiba commented on #344
Current work in progress is here: https://github.com/bskiba/autoscaler/tree/nap-allocatable

[2017-09-15 17:05] rhenretta opened #350 "No candidates for scale down"
I just deployed node-autoscaler into our kubernetes cluster (1.7.6).  However, it can't scale down from the current 4 nodes:

[code]

I don't know what non-pdb-assigned means, but all of these are controlled via a replicaset and are mirrored with 2 pods each.

For example:
[code]

[2017-09-15 19:20] innovia commented on #346
@mwielgus

I'm not sure if editing the auto scale group either via kops or via AWS Console confuse the cluster autosacaler.

The issue is that I am able to scale down to zero and scale up from 1 node but not from zero

here's what happens when I attempted to launch another pod (insufficient resource) when there's already 1 node up to begin with.

also after deleting the 2 jobs and pods the CA says

[2017-09-15 19:25] innovia commented on #350
pdb stands for Pod Disruption Budget
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

Try to create the pdb - this will re-assign the pods to another node if the node is not needed

[2017-09-15 21:27] mwielgus commented on #346
Thanks for the dumps. It wasn't obvious enough that your pods required GPUs.

CA in version 0.6.1 does is not aware of GPUs in AWS. However every time CA sees a pending pod it needs to create an internal "template" node to tell whether the scale-up make sense or not. It is simpler when there is at least one node present for each of the ASG. If there is no, then CA has to guess what the node would

[2017-09-15 21:32] felipejfc opened #351 "Make it optional if user wants cluster autoscaler to delete nodes despite of it having not replicated pods"
I have an use case where I need to deploy a lot of pods without any replication controller, cluster autoscaler detects that some nodes are under used but refuses to scale them down because they contains this pods that are not under any replication controller... can we make this optional? I'ld be very nice to have a flag for this.

Regards

[2017-09-15 23:23] mwielgus commented on #351
What is the goal of having pods that you can loose at any time?

[2017-09-15 23:45] felipejfc commented on #351
I cant loose them at any time, I can kill them if its gracefull. The reason is that I replicate them on my own.

[2017-09-16 02:13] andrewsykim commented on #254
You'll probably want user data too, but in general that seems like the right direction to me. I would even consider having a separate CRD for droplet and droplet groups, but that's an implementation detail to address later.

[2017-09-16 06:56] innovia commented on #346
Thanks ill try to build it myslef

So let me try and understand exactly how it works

CA is fed with the name of the ASG but it has to understand how a pod is belong to that group?

[2017-09-16 07:37] innovia commented on #346
@mwielgus can you also provide instructions no how to build?

[2017-09-16 08:33] mwielgus commented on #346
Please check https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/Makefile.

You need to specify `TAG` and `REGISTRY` env variables.
Modify  https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/Makefile#L30.
to match your registry.
Then `make release`.

[2017-09-16 08:35] mwielgus commented on #346
As of why we need node templates please take a look at:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-scale-up-work

[2017-09-16 13:06] innovia commented on #346
Looks like p2 instances are configured in that PR as 0 gpu...

[2017-09-16 13:46] mwielgus commented on #346
@innovia Please check https://github.com/kubernetes/autoscaler/issues/321#issuecomment-329007142

[2017-09-16 18:35] innovia commented on #346
thanks for all the help!

Built using  master and made a manual fix for the p2.xlarge

gen.go line 147
[code]

then running go generate ./cloudprovider/aws followed by make release with env var for REPOSITORY and TAG

[2017-09-16 18:35] #346 closed

[2017-09-16 20:27] mwielgus commented on #351
I would rather have a special annotation on a pod (saying that it is OK to delete this particular pod) instead of a global switch - in a single cluster you might have both pods that you can delete and others that cannot be deleted.

[2017-09-18 20:32] bismarck commented on #252
@mumoshu @MaciekPytel  I'm also seeing this issue with automatic discovery enabled.

Here's what I'm seeing in my CloudTrail logs for DescribeAutoscalingGroups requests in a 24 hour period:

![describeautoscalinggroups](https://user-images.githubusercontent.com/1072760/30562964-3e7ef4f8-9c8e-11e7-82cf-fb632cf692b1.png)

During the same period here are the number "Regenerating ASG information for"

[2017-09-18 21:12] mtcode commented on #252
Commit https://github.com/kubernetes/autoscaler/commit/f04113d746e45e22b3c8eea067b0774321a3e83a has definitely helped in this, but there is still some throttling on API calls from AWS.

[2017-09-19 06:05] Anson2048 opened #355 "Why the kubernetes node has not been deleted"
From autoscale log

[code]

From kubectl event

[code]

Node list

[code]

You can see that the node has not been deleted and no node events recorded

[2017-09-19 06:06] Anson2048 commented on #355
I used Cluster Autoscaler 0.6.2

[2017-09-19 23:54] 7chenko commented on #346
@innovia This fix didn't work for me, still getting "pod didn't trigger scale-up (it wouldn't fit if a new node is added)" for p2.xlarge instances, not sure why.

I do have a support case open with AWS for them to fix their json file.

[2017-09-20 19:36] mwielgus commented on #355
What is your cloud provider?

[2017-09-20 20:40] moos3 opened #358 "Odd memory issue with cluster-autoscaler."
I'm trying to get the autoscaler working with a cluster that was created with KOPS. I'm seeing this error when the pod comes up.

[code]

[2017-09-20 20:57] mwielgus commented on #358
What ClusterAutoscaler/Kubernetes version do you have?

cc: @mumoshu

[2017-09-20 21:22] moos3 commented on #358
Ca 0.6.2
Kube 1.7.5
On Wed, Sep 20, 2017 at 16:57 Marcin Wielgus <notifications@github.com>
wrote:

[2017-09-21 09:38] Anson2048 commented on #355
@mwielgus https://github.com/Anson2048/autoscaler/commit/bd23d4d7aeb250bff7b2eb453f002729eae4e719

[2017-09-21 09:45] MaciekPytel commented on #355
@Anson2048 your cloudprovider has an empty implementation of DeleteNodes, so it doesn't delete anything...

All CA does is perform operations on underlying NodeGroup, it doesn't create or remove k8s Node objects. Registering and removing node is responsibility of kubelet and NodeController.

[2017-09-21 09:46] #355 closed

[2017-09-21 15:06] innovia commented on #346
Make sure you bump the version of both the cluster autoscaler as well as the docker you build

Try runing make clean before

[2017-09-21 15:58] 7chenko commented on #346
I even changed some text in the code to make sure the changes were getting picked up. No dice, still not scaling up.

[2017-09-21 18:52] innovia commented on #346
@7chenko
1) are you sure you pulled from master and have my if added
2) make sure you run make clean
3) run `go generate ./cloudprovider/aws`
4) do you see if the gpu at 1 on the ec2 instances file?
5) what is your output saying

[2017-09-21 19:07] 7chenko commented on #346
Oh I missed the 'go generate' part! Thanks.

[2017-09-21 23:15] 7chenko commented on #346
Workaround works for me, thanks! Still waiting on AWS support issue to fix permanently.

[2017-09-22 16:40] moos3 commented on #358
any updates on this? This happens on 0.6.0, 0.6.1 and 0.6.2.

[2017-09-22 17:10] MaciekPytel commented on #358
@moos3 PollingAutoscaler (the logic behing `--node-group-auto-discovery` flag), which seems to be the source of the issue, is maintained by @mumoshu. Not sure how busy he is right now.

In the meantime you can consider using static ASG configuration (using `--nodes` instead of `--node-group-auto-discovery`) as a workaround.

[2017-09-22 18:08] moos3 commented on #358
So this error happens when you dont set a cloud provider.

[2017-09-22 18:08] #358 closed

[2017-09-22 18:15] ryanwalls commented on #251
Overtaken by events.  https://aws.amazon.com/blogs/aws/new-per-second-billing-for-ec2-instances-and-ebs-volumes

[2017-09-22 18:15] #251 closed

[2017-09-25 12:17] sttts opened #368 "Cut off k8s.io/kubernetes dependencies"
This repo has quite a number of k8s.io/kubernetes dependencies which probably should not exist. E.g. the `schedulercache.NodeInfo` is an internal of the scheduler and should not leak into other repos.

Hence, I suggest to proactively cut off these dependencies, either by copying them here or by promoting the relevant k8s.io/kubernetes code to k8s.io/client-go or k8s.io/api.

[2017-09-25 13:27] MaciekPytel commented on #368
Cluster Autoscaler works by simulating how would scheduler behave if we added or removed some nodes from the cluster. In other words we directly run scheduler predicates (but not priorities) against internally simulated nodes, which involves plenty of creating, copying and modifying of schedulercache.NodeInfo.

We don't want to copy scheduler code over to this repo, because our goal is to accurate

[2017-09-25 13:51] aleksandra-malinowska opened #369 "Unregistered node can't be removed when min size of group is reached"
In [this](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntustable1-k8sdev-autoscaling/1144) failed test run, we encountered an edge case where a broken node couldn't be removed from the cluster due to node group minimum size restriction. This causes CA to fall into a loop attempting to remove this node. The impact of this bug is significantly reduced by

[2017-09-25 17:36] mwielgus commented on #369
After discussions and fix attempt it was agreed that exact conditions to trigger this are rare enough to not make it a release blocker. Will be fixed in a patch release.

[2017-09-26 09:30] aleksandra-malinowska commented on #312
cc @MaciekPytel

[2017-09-28 13:01] #369 closed

[2017-10-03 10:22] shyamjvs opened #383 "Create a well-defined RBAC role for cluster-autoscaler"
FWIU currently cluster-autoscaler runs as part of the master node's hostNetwork talking to the apiserver over localhost, bypassing auth. It has cluster-admin powers.
It should instead use a least privilege role (with corresponding binding), just like other control-plane components and addons.

cc @MaciekPytel @bskiba @aleksandra-malinowska @mwielgus

[2017-10-03 11:10] mwielgus commented on #383
We can think about restricting CA privileges in apisever. However, please remember that CA, by design, has more than enough privileges to ruin your cluster completely (for example - delete arbitrary nodes and pods).

[2017-10-03 11:27] shyamjvs commented on #383
There are other control-plane components which are also privileged enough to ruin the cluster. For e.g scheduler can handicap the whole cluster if it stops scheduling, node-controller can mark all the nodes unschedulable or delete node objects, route-controller (which also talks to cloud-provider) can handicap pod-to-pod communication. But we still have roles defined for them (ref https://github.c

[2017-10-03 11:30] mwielgus commented on #383
I understand, just saying why it not our top priority at this moment. However, we will try to do it for 1.9.

[2017-10-03 11:33] shyamjvs commented on #383
Sure.. Just noticed while reviewing @bskiba 's PR on kubemark CA.

[2017-10-03 22:50] mwielgus commented on #326
Fixed in #343

[2017-10-03 22:50] #326 closed

[2017-10-03 22:51] mwielgus commented on #344
Fixed in #377

[2017-10-03 22:51] #344 closed

[2017-10-10 16:27] bskiba opened #388 "VPA Initializer refactoring"
Folowup to #143

Need to:
1. Add RBACs needed for Initializer to work with new Kubernetes versions
2. Restructure code to be more like a regular controller
3. Add configmap to keep initializer config (see [kubernetes initializer tutorial](https://github.com/kelseyhightower/kubernetes-initializer-tutorial) and [initializers best practices](https://github.com/kelseyhightower/kubernetes-initializer-t

[2017-10-11 18:57] saravanakumar-periyasamy commented on #230
@taimir - where is the stale PR? I like to take a look into it.

[2017-10-11 18:57] saravanakumar-periyasamy commented on #230
nvm, found it here - https://github.com/kubernetes/contrib/pull/1980

[2017-10-12 14:42] komljen opened #389 "Replace large node with a smaller one when using least-waste"
I would like for autoscaler to be able to replace the larger node with a smaller one. For example, I have one pod running on m3.large and another one on m3.medium. Those nodes are two IGs in the same zone. Both can scale up to 5 nodes (0->5).

It should probably start another node in m3.medium IG, move pod to it and terminate the larger instance.

AC 0.6.2 with Kubernetes 1.6.6.

[2017-10-13 15:34] orkhanM opened #391 "Autoscaler scales down AWS ASGs unrelated to cluster."
Noticed kube-autoscaler was scaling ASGs unrelated to the cluster. I spun up a cluster with kube-aws with kube-autoscaler enabled in an existing VPC and subnet. Noticed Autoscaling groups being scaled by kube-autoscaler that shouldn't have been.

[2017-10-13 15:57] MaciekPytel commented on #391
@orkhanM Can you provide your Cluster Autoscaler configuration and Cluster Autoscaler logs with the scale-up that shouldn't have happened?

[2017-10-13 16:00] MaciekPytel commented on #389
Hi @komljen,
Ideally this is something we would like CA to do, but we're still far away from being able to do this sort of cluster optimization. I don't think we're likely to get there in 1.9 or 1.10 timeframe.

[2017-10-13 17:43] orkhanM commented on #391
@MaciekPytel Unfortunately I no longer have any logs tied to this event, I'll try reproducing the issue in a staging environment and open another ticket with clearer definition. My apologies, i'm going to close this issue out.

[2017-10-13 17:43] #391 closed

[2017-10-13 23:20] vishh opened #392 "Handle autoscaling of GPUs in GKE"
Instance templates have accelerators included in them. The resource type expected to be used for GKE clusters to access GPUs is `nvidia.com/gpus`. Autoscalar should add to and remove from node-pools that have `nvidia-tesla-[k80|p100]` accelerator type included in them.

If the node pool containing GPUs is not the only node pool it is preferrable to scale all the way down to zero.
Output from gclou

[2017-10-14 19:28] mattdornfeld opened #393 "Does the use of cluster autoscaler require cloud provider to be specified for the whole cluster or just for the autoscaler deployment?"
I don't see this anywhere in the docs. Maybe this could be made a little clearer? Thanks!

[2017-10-16 09:10] komljen commented on #389
I understand. As a workaround, I added https://github.com/cristim/autospotting in the mix. It seems to work nicely for now. Basically, it replaces on-demand instances with spot when available.

[2017-10-17 14:47] MaciekPytel opened #400 "PollingAutoscaler leaking memory and goroutines?"
In AWS cloudprovider newAutoScalingGroups is creating a goroutine for regenerating ASG cache, which is never stopped. After cursory glance at PollingAutoscaler and surrounding code it looks as if a new such goroutine is created in every loop (as part of creating AWS cloudprovider). If that's the case we're probably leaking a goroutine + autoScalingGroups data structure every loop.
@mumoshu am I mi

[2017-10-18 09:31] bskiba commented on #392
Fixed with #401

[2017-10-18 09:31] #392 closed

[2017-10-18 09:59] MaciekPytel commented on #393
Not sure I understand your question @mattdornfeld. Cluster Autoscaler has a flag --cloud-provider that needs to be set for CA binary (so in CA deployment or manifest file, depending on how you run CA). You may need to set other flags for other components to get kubernetes to work in the first place, but CA only cares about its own flags.

[2017-10-18 15:30] bismarck commented on #400
This is the same thing I am seeing in #252

[2017-10-18 15:39] MaciekPytel commented on #400
You're right @bismarck. I'll close this issue as it duplicates #252.

[2017-10-18 15:39] #400 closed

[2017-10-18 15:49] MaciekPytel commented on #252
I've closed #400 after @bismarck pointed out it's duplicate of this. I'm reasonably confident that leaking cache refresh goroutines by PollingAutoscaler is the root cause here. It explains the gradual buildup of API calls observed by @bismarck very well and reading the code seems to confirm it.

@mumoshu Do you want to take a shot at fixing this?

[2017-10-18 17:48] orkhanM opened #406 "Autoscaler modifies ASG resources that it shouldn't"
On a kube-aws ( version v0.9.8 ) cluster with cluster autoscaler addon enabled I noticed the autoscaler was scaling down ASG's unrelated to the cluster.

The autoscaler manifest looks like:

[code]

An excerpt from the cluster-autoscaler logs:

[code]

All ASGs referenced in the above log with the prefix `production-k8s-02-Controlplane` are the ASG's I expected to be effected and they provision th

[2017-10-19 08:48] MaciekPytel commented on #406
@mumoshu Can you take a look?

@orkhanM This looks like a problem with node group autodiscovery. There is also another open bug related to it: #252. My suggestion would be to use static node group configuration (specifying each group you want CA to manage explicitly with `--nodes` flag as described in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.

[2017-10-19 15:43] chhibber opened #408 "CA 1.0 - Unable to scale p2.xlarge or p2.8xlarge from 0"
Running into the exact same issue documented here: https://github.com/kubernetes/autoscaler/issues/346

The AWS json file being pulled down still has missing data regarding GPUs.  The p2.16xlarge has the GPU enumerated and scales up, the rest do not.

Logs...
[code]

I applied the the fix described in issue 346,  though I added info explicitly for all p2 instance types as I am not sure if this a g

[2017-10-19 17:15] chhibber commented on #408
I can submit a PR if you are ok to pin these values for the moment?

[2017-10-19 18:00] geezyx commented on #406
Hey there, I _just_ reproduced this issue last night and actually found that CA scaled down some master ASGs from a different cluster in the same region!  I was using v0.6.2 and also began seeing API rate limit exceeded errors from AWS.  Very odd...  I was using the `--node-group-auto-discovery` as well.  Let me know if you want me to try reproducing any further, I'm using k8s 1.6.7 and have multi

[2017-10-19 18:04] bismarck commented on #406
We ran into this issue also.  We modified our IAM policy for the CA to protect against this:

[code]

[2017-10-20 10:16] mumoshu commented on #406
Hi, sorry for the trouble.

@geezy Are you sure you're using CA 0.6.2? The fix for the problem on CA side is https://github.com/kubernetes/autoscaler/pull/280, but it seems like the only release including it is CA 1.0.0 as of today.

@geezy @orkhanM As @bismarck has kindly suggested, you can prevent the problem that unintended node being killed by modifying the IAM policy like https://github.com/k

[2017-10-20 10:32] mumoshu commented on #252
@MaciekPytel Thanks for reaching me out but I'm afraid I can't work on it shortly. However, please assign me if you're also out of time. I'll try to manage it.

[2017-10-20 11:50] MaciekPytel commented on #252
I don't use aws at all, so I can't fix it. I can review and provide any other help if someone else wants to take a shot at this.

[2017-10-20 21:35] mmerrill3 commented on #252
Looking at this with @bismarck, and noted that the autoscaler (including the aws manager, and auto_scaling_groups with the go routine) is being recreated every poll method.  This results in a go routine (that runs forever) being created every 10 seconds, since our scan interval is 10 seconds.  The go routine is there to refresh the k8s cache for ASGs every hour.
I think the function of the go rout

[2017-10-21 01:53] drinktee commented on #289
Can we set a higher  log level for ("Looking for place for %s/%s", pod.Namespace, pod.Name) ?

[2017-10-23 09:28] MaciekPytel commented on #289
@drinktee My problem with that is that this log is inside large loop and in very large clusters it becomes extremely spammy. It can easily go into thousands lines per loop on 1k node clusters, which we now officially support. I think ideally it should be V(4) - on by default, but easy to turn off. However, we use V(4) for many more important, once-per-main-loop log lines right now. I'm thinking to

[2017-10-23 09:44] MaciekPytel commented on #252
The cache itself is an implementation detail of a given cloudprovider and I'd rather not have static_autoscaler know about it. However, I'm thinking about adding some sort of a general purpose refresh method to CloudProvider that would be called once per loop. The implementation of such method could maintain some internal counter and refresh the cache every N loops or after M minutes have elapsed

[2017-10-24 20:33] saada commented on #133
I don't mind working on this with some guidance from the experts.

[2017-10-25 08:31] MaciekPytel commented on #133
@agolomoodysaada also mentioned being interested on kubernetes/kubernetes#47511. You may want to sync up to avoid doing the same work twice.

[2017-10-25 08:56] drinktee opened #419 "Shall we add some trace log for core pkg?"
In k8s there are trace logs such as
[code]
I think it's useful to add some similar trace log for methods in core pkg...
If it's helpful and I will do this.

[2017-10-28 22:05] 7chenko commented on #321
Confirmed that AWS has now fixed the gpu data for p2.xxx:

https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json

[2017-10-28 22:06] 7chenko commented on #346
Confirmed that AWS has now fixed the gpu data for p2.xxx:

https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json

[2017-10-28 22:06] 7chenko commented on #408
Confirmed that AWS has now fixed the gpu data for p2.xxx:

https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json

[2017-10-29 01:51] sethpollack commented on #321
Thanks! I'll push an update.

[2017-10-29 08:57] innovia commented on #346
@7chenko thanks!

[2017-10-30 18:54] geezyx commented on #406
Thanks @bismarck !

@mumoshu sorry for the delayed response!  For now, we removed the `--node-group-auto-discovery` flag and are defining node groups manually.  We decided against the IAM policy changes because we were also running into #252.  These are not kube-aws deployed clusters, they are tectonic clusters.  If a 0.6.x release comes out that takes care of this and #252 we'll give it another g

[2017-10-31 01:49] ntfrnzn commented on #325
Is there a resolution here?  I see a different set of errors when running `build-in-docker` from a mac,
[code]

[2017-10-31 16:51] masroorhasan commented on #133
+1 I'm willing to help out here as well :)

[2017-10-31 17:32] djsly commented on #133
+1 We will be starting soon to work on this as well, with a vanilla k8s cluster in mind (not deployed using ACS)

[2017-10-31 17:45] MaciekPytel opened #438 "Make ResourceLimiter memory representation consistent"
Our API accepts memory limits in gigabytes, kubernetes keeps memory in bytes and we store it internally in megabytes. We should decide on one approach (bytes I think?) and update the code accordingly.

This issue is a follow up after discussion with @mwielgus on #429.

cc: @aleksandra-malinowska @krzysztof-jastrzebski

[2017-10-31 23:21] mumoshu commented on #252
In case you missed it, the fix in ongoing at #422 by @mmerrill3!

[2017-11-01 17:45] MrHohn commented on #113
Curious does cluster-autoscaler depend on in-cluster DNS service? Probably not?

Instead of putting kube-dns on master, what about setting `dnsPolicy: Default` for cluster-autoscaler so that the name resolution does not go through kube-dns?

Using `dnsPolicy: ClusterFirst` on pods that run on master node might not work unless kube-proxy pod also runs on master (for Service VIP -> backend Pods rout

[2017-11-01 18:28] etsangsplk opened #443 "[minor] misspelling "overriden" is a misspelling of "overridden""
/kind bug
k8s.io/autoscaler/addon-resizer/nanny
nanny/nanny_lib.go:55:44:warning: "overriden" is a misspelling of "overridden" (misspell)

[2017-11-02 13:51] VolkerKozlowski commented on #191
Hi,
have there been started any efforts to define an external interface an external Cloud Provider has to implement in order to provide autoscaling infrastructure? We are just started working on an external cloud provider for azure and would be happy to contribute. Later on we would like to have solutions for Open Telekom Cloud and vmWare as well. Hopefully only one interface for all :-) I like th

[2017-11-02 23:48] ashish-amarnath opened #446 "Cluster autoscaler views all nodes in the cluster as empty and beings bulk deleting them"
This caused a cluster meltdown for us and unfortunately, we don't have enough data to exactly know what happened at that point. This was seen in the v0.5.4 release.

Also after we upgraded to 0.6.2, we saw log messages like
[code]
This happened for ~5s and then non-zero the utilization numbers started to show up.

Were there any other reports of such behaviour from the cluster-autoscaler. If so, w

[2017-11-02 23:54] ashish-amarnath commented on #446
From looking at the available flags, the following may be useful.
`max-graceful-termination-sec`, `max-empty-bulk-delete` and `scale-down-unneeded-time`
However, if the CA sees the nodes as empty then I don't think these flags can rescue the cluster nodes.

[2017-11-03 09:19] mwielgus commented on #446
In the 0.6 scenario that you describe CA probably failed to fully sync the list of pod in time and started the first iteration with an empty list which got synced just afterwards. As the requirement for node deletion is 10 min of being under-utilised there is nothing to worry about.

As of 0.5 meltdown - without any logs or detailed description I'm unable to tell what happened.

[2017-11-03 09:19] mwielgus commented on #443
Fixed.

[2017-11-03 09:19] #443 closed

[2017-11-03 09:21] mwielgus commented on #408
Fixed in https://github.com/kubernetes/autoscaler/pull/439

[2017-11-03 09:21] #408 closed

[2017-11-03 09:21] mwielgus commented on #393
Closing. No further comments/questions.

[2017-11-03 09:21] #393 closed

[2017-11-03 09:23] mwielgus commented on #368
Closing as not-fixable.

[2017-11-03 09:23] #368 closed

[2017-11-03 09:24] mwielgus commented on #350
Closing. No more comments/questions/concers.

[2017-11-03 09:24] #350 closed

[2017-11-03 09:24] mwielgus commented on #347
Fixed in #348

[2017-11-03 09:24] #347 closed

[2017-11-03 10:05] mwielgus commented on #312
No comments/updates or clear problem definition. Closing.

[2017-11-03 10:05] #312 closed

[2017-11-03 10:07] mwielgus commented on #252
Fixed in #422 and cherrypicked to 1.0.x in #445. Closing.

[2017-11-03 10:07] #252 closed

[2017-11-03 10:08] mwielgus commented on #225
The code is there. NAP should be available in 1.0.2.

[2017-11-03 10:08] #225 closed

[2017-11-03 10:09] aleksandra-malinowska commented on #347
@mwielgus I thought we didn't intend to merge that PR after all?

[2017-11-03 10:09] mwielgus commented on #60
Allocatable estimation added to scale-from-0 in GKE code.

[2017-11-03 10:09] #60 closed

[2017-11-03 10:10] mwielgus commented on #9
Done by @krzysztof-jastrzebski

[2017-11-03 10:10] #9 closed

[2017-11-03 10:10] mwielgus commented on #7
done by @krzysztof-jastrzebski

[2017-11-03 10:10] #7 closed

[2017-11-03 10:12] #325 closed

[2017-11-03 15:33] ashish-amarnath commented on #446
The 0.6 scenario isn't that big a cause of concern after looking at the code-the difference in how empty nodes and underutilized nodes are handled.
On the 0.5 incident, I see this in the 0.6.1 release notes. Looking at the commit with this change for this would be awesome. Could you please point me to that commit?
![ca-0 6 1-release-note](https://user-images.githubusercontent.com/22872138/32381847

[2017-11-03 15:47] MaciekPytel commented on #446
I think this part of release notes is referring to https://github.com/kubernetes/autoscaler/pull/202, which doesn't seem related to your problem (it fixes the problem with CA deleting empty nodes slower than intended).

AFAIK we haven't had any similar reports regarding CA and without a log or at least the list of nodes and pods at the time of 0.5.4 incident we don't even know if the CA was the so

[2017-11-03 19:31] etsangsplk opened #447 "possible to upgrade aws-sdk-go tp v1.8x?"
Looks like we are stil using v.1.6.10.... possible to update to v1.8.x?

[2017-11-03 22:27] etsangsplk commented on #447
Never mind.
There is another issue on main k8s:
https://github.com/kubernetes/kubernetes/issues/54032
with Pr alreay merged to k8s
https://github.com/kubernetes/kubernetes/commit/e93b049be07c8c3a5ad6b11e79c6979e2ebab2d6

[2017-11-06 05:26] feiskyer opened #449 "Add Azure support"
https://github.com/kubernetes/autoscaler/pull/229 removed Azure support temporarily, we should add Azure support back.

TODOs:

- [x] Bring azure cloud provider back #454
- [x] Add VMSS support
- [x] Add Availability Set ( standard VM type) support #514
- [x] Multiple node groups #542
- ~~TemplateNodeInfo not supported~~
- [x] Reduce API calls and avoid touching Azure rate limits #552
- [ ] Add AK

[2017-11-06 08:43] mwielgus commented on #447
We will update all deps with the 1.9 release. CA deps are driven by K8S.

[2017-11-06 08:43] #447 closed

[2017-11-06 10:39] MaciekPytel commented on #449
This is already discussed at #133 and https://github.com/kubernetes/kubernetes/issues/47511 and some volunteers have posted there. Since none of regular CA maintainers works on Azure, or has any knowledge of it, we fully depend on community for this.

[2017-11-06 11:44] feiskyer commented on #449
@MaciekPytel Yep, I'd like to add this back. This will be depending on VMSS feature on Azure.

[2017-11-06 11:44] feiskyer commented on #449
/assign

[2017-11-06 18:52] ashish-amarnath commented on #446
Closing this issue.

[2017-11-06 18:52] #446 closed

[2017-11-07 01:34] feiskyer commented on #449
/label azure

[2017-11-07 10:05] mrcrgl commented on #131
We're interested in this feature. Are contributions welcome?

[2017-11-07 10:32] mwielgus commented on #131
@mrcrgl Absolutely, please send us a PR.

[2017-11-13 14:22] aleksandra-malinowska opened #464 "Use node's allocatable resources for computing utilization"
Currently, we're considering node's allocatable resources during scale-up, but capacity when considering whether the node should be removed. We should probably use allocatable value there as well.

[2017-11-14 14:05] aleksandra-malinowska opened #466 "Use a single flag for dealing with unregistered nodes"
Currently there are two flags, --max-node-provisioning-time and --unregistered-node-removal-time, which we implicitly expect to be set to the same value. These are closely coupled as they both determine whether we consider an unregistered node as not-yet-ready or broken. We should merge them and use one flag instead of two for those parameters.

cc @MaciekPytel

[2017-11-15 07:59] saada commented on #133
How about [Azure Kubernetes Service (AKS)](https://azure.microsoft.com/en-us/blog/introducing-azure-container-service-aks-managed-kubernetes-and-azure-container-registry-geo-replication/)?
Does this change the scope of the work here?

[2017-11-15 13:51] kawych opened #470 "Use ComponentConfig in version 2 of addon resizer"
Commits from #387 need to be applied on master.

[2017-11-15 18:30] JackQuincy opened #472 "Need expander that understands the difference between linux/windows workloads and nodes"
I'm running clusters that have both windows and linux workloads. As far as I can see the expanders don't understand which NodeGroup to expand if only a subset of the NodeGroups can handle the unscheduled workloads is that correct? Or am I missing something here?

I also can see a future where some work loads need a GPU vs not and not all nodes have GPUs available, so this could be something more g

[2017-11-15 18:32] JackQuincy commented on #472
found the code never mind

[2017-11-15 18:32] #472 closed

[2017-11-15 20:49] johanneswuerbach commented on #252
We are running v1.0.2 and are still seeing various autoscaler failures and crashes due to `Throttling: Rate exceeded status code: 400`.

[2017-11-16 08:41] mumoshu commented on #252
@johanneswuerbach Would you mind sharing us:

(1) Number of ASGs you have in your cluster
(2) Number of ASGs in your AWS account
(3) In which timing does CA seem to crash more? scaling up, down, etc
(4) Does number of API calls still increase gradually like we've seen before?

At this point, for me, problematic parts left in code-base seems to be:

- The fact that [we are not batching DescribeAuto

[2017-11-16 09:04] johanneswuerbach commented on #252
We currently have 5 clusters with 6 ASGs each (3 for HA masters, 3 for nodes in each AZ) so 30 Auto Scaling Groups in total.

Each of those clusters is running an autoscaler instance.

This is the smaller of our two accounts (we see crashes in both) and it generally doesn't have any scaling activity (its our staging env).

Crashes seem to mostly encounter in https://github.com/kubernetes/autoscale

[2017-11-16 09:26] mrcrgl commented on #131
@mwielgus Ok. I'll start on it. Is it fine for you guys to evaluate the spot prices on demand via the spot price history api? I also tend to load the price list on demand as well (with caching).

[2017-11-16 12:07] #466 closed

[2017-11-16 21:59] bismarck commented on #252
I just checked CA 1.0.2 on our cluster (which is in a similar setup as @johanneswuerbach) and we haven't seen a crash yet.  Here are the number of "Regenerating ASG information for" messages in CA log for 24 hour period:

![regeneratingasg-102](https://user-images.githubusercontent.com/1072760/32918102-396dba14-caef-11e7-8a82-a3891aed3e5d.png)

Looks like what was expected after the fix.  Need to

[2017-11-19 13:25] mumoshu commented on #252
@johanneswuerbach Thanks for sharing the details! Seems like I'm unable to figure out anything right now.

Would you mind sharing me the full error message and what's you are passing to `--node-group-auto-discovery`?

At least in theory, the describe-tags calls should't be that many to trigger a rate limit. So I suspect there's any pattern or combination of tags to trigger that.

[2017-11-20 07:21] johanneswuerbach commented on #252
@mumoshu I'm passing `--node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,kubernetes.io/cluster/<name>` and full command:
[code]

I'm seeing the following two kind of stack traces:
[code]
and followed by a crash:
[code]

Could it be the `k8s.io/cluster-autoscaler/enabled` tag, which is shared by all clusters?

[2017-11-21 16:29] kylegato commented on #131
@mrcrgl It looks like some of the work for the on-demand pricing was started here:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types/gen.go

Because pricing can be dependent on your region and account features, this seems to cover some of that, but it needs to be fixed to work with the current API response formats.

Support for detecting

[2017-11-22 14:28] #133 closed

[2017-11-22 21:47] mrcrgl commented on #131
I've worked on it. I'll test these feature within the next few days on one of our clusters.
Does this change work for you guys?

[2017-12-01 07:57] mrcrgl commented on #131
@mwielgus PTAL https://github.com/kubernetes/autoscaler/pull/486

[2017-12-04 00:12] yuvipanda commented on #148
Is someone working on this for 1.9?

[2017-12-04 02:16] yuvipanda commented on #148
After some thinking, I've come up with a scheme (for GKE) involving two nodepools that'll satisfy our use cases, and have written it up at https://github.com/berkeley-dsep-infra/data8xhub/issues/7. If anyone with more knowledge of the autoscaler can take a look at that and lmk how terrible the idea is, I would highly appreciate it.

[2017-12-05 14:22] aleksandra-malinowska commented on #351
Fixed in #418

[2017-12-05 14:22] #351 closed

[2017-12-06 06:27] utsav2307 opened #494 "Mechanism for moving the pods to another node?"
I understand that CA moves the pods to another nodes before deleting a node, but does it do a rolling deploy of pods ensuring no downtime when moving the pods or does it just delete the pod first and then wait for a new pod to come up on another node?

[2017-12-06 10:44] MaciekPytel commented on #494
CA only evicts pods from node, it doesn't do a rolling deploy or anything of the sort. If you want to avoid disruptions to your service you should define a PodDisruptionBudget for your deployment. If you set minimum unavailable to 1 on your PDB, CA will respect that and only kill a pod if all the others are running.

Similarly if you set minimum unavailable to 0 CA will never touch your pods (whic

[2017-12-06 21:00] negz opened #496 "Support whitelisting labels to ignore when balancing similar node groups"
Running the Cluster Autoscaler with `--balance-similar-node-groups` attempts to keep the size of identical node groups balanced when scaling up.

https://github.com/kubernetes/autoscaler/blob/d43029c/cluster-autoscaler/utils/nodegroupset/compare_nodegroups.go#L57

Per `IsNodeInfoSimilar` node groups are considered similar when a sample node from each node group has approximately the same resource

[2017-12-07 16:33] MaciekPytel commented on #496
I'm curious what is your use-case for having those labels? I'm generally not opposed to adding something like that, just not sure how useful it would be. `--balance-similar-node-groups` only works if your nodes are similar and the same subset of pending pods can go to each "similar" node pool. So it won't necessarily work well if you'll try to use this custom label for things like nodeSelector or

[2017-12-12 03:29] negz commented on #496
To be honest it's mostly historical and worth thinking through. We don't use the labels for node selection or affinity - I'm fairly sure they only exist so that humans can easily tie a node back to the pool it belongs to.

[2017-12-12 16:03] jakexks opened #501 "Deploying StatefulSet doesn't trigger scale up (AWS with node group auto discovery)"
I've been testing AWS Auto Scaling groups that start at 0 replicas, so Kubernetes should spin up worker nodes on demand. With most deployments, this works fine, but StatefulSets seem to fail scale up predicates.

My set-up: "master" nodes with a NoSchedule taint, and cluster autoscaler deployed with a toleration
Worker nodes in an ASG that starts at 0 desired.

It seems the NoVolumeZoneConflict pr

[2017-12-13 10:14] bhack commented on #346
@mwielgus Are 0.6.3 or 0.7 released?

[2017-12-13 10:25] mwielgus commented on #346
We decided to rename 0.7 as 1.0. It was released, we are also approaching 1.1.

[2017-12-13 10:28] bhack commented on #346
@mwielgus Can we deploy 1.0.x with K8 1.7.x?

[2017-12-13 22:03] mwielgus opened #502 "Wait another iteration if the oldest pending pod is just 1-2 seconds old"
Autoscaling / NAP will give better results if it sees the whole picture - for example all pods created by the newly-created deployment, not just the initial fraction.

[2017-12-14 10:32] aleksandra-malinowska opened #503 "Don't start metrics endpoint when not on leading master"
Currently, Cluster Autoscaler running on non-leading master will do nothing except publish metrics indicating cluster is unhealthy.

cc @MaciekPytel

[2017-12-14 10:36] aleksandra-malinowska commented on #501
cc @mumoshu

[2017-12-15 17:23] MaciekPytel commented on #503
Closing after merging PR. Thanks for fixing that.

[2017-12-15 17:23] #503 closed

[2017-12-18 19:51] negz commented on #496
Upon reflection we decided the use case for the label isn't worth adding this functionality to the CA - we'll just remove the label instead. Thanks for the perspective!

[2017-12-18 19:51] #496 closed

[2017-12-19 09:29] suker200 opened #506 "[CA] Pod pending with Custom Scheduler request for scaling node"
I have written a custom-scheduler in scheduling pod based on node workload.

[Repo reference](https://github.com/suker200/kube_scheduler_extender)

The "--verify-unschedulable-pods=false" option was removed in #189 , which lead to CA will not scale up with custom-scheduler

[IMG reference](https://imgur.com/a/IDLZI)

Do we have any way to trigger CA (api, etc..)?

[2017-12-19 13:49] MaciekPytel commented on #506
Currently CA doesn't support custom schedulers, scheduler extenders, or any other custom way of scheduling that is not done via scheduler predicates in main kubernetes repository. Setting `--verify-unschedulable-pods=false` (back when the flag existed) did not make it work for custom schedulers. All it would achieve was to make CA add a completely random node (or a few), with no guarantee whatsoev

[2017-12-19 14:22] jkamenik commented on #248
After many month of period debugging found the issue to be signal handling.  Installed https://github.com/Yelp/dumb-init in all the pods and the issue as cleared.  I am closing this.

[2017-12-19 14:22] #248 closed

[2017-12-20 03:15] suker200 commented on #506
Hi, Thank for you comment. I will give it a try.

Do we have any plan for supporting custom-scheduler feature?

[2017-12-20 12:40] MaciekPytel commented on #506
Not really, at least in the nearest future. There are 2 main issues we would have to solve:
1. The scheduler works in real cluster. You don't pass the state of the cluster to it, it just takes it from informer (more generally: apiserver). That's not true for our use-case - we need to know what it would do in a simulated cluster, with some nodes added or removed and some pods shuffled around. And w

[2017-12-21 04:26] suker200 commented on #506
Thank, I will close this issue and try your suggestion. I will update back if there has news.

[2017-12-21 04:26] #506 closed

[2017-12-22 08:07] vainu-arto opened #510 "Add annotation to stop the autoscaler from moving a specific pod"
There is an annotation to stop specific nodes from being removed, but not one for marking pods as "do not touch". The "cluster-autoscaler.kubernetes.io/safe-to-evict": "true" annotation only seems to work one way (you can use it to mark a pod as safe to move, not to mark a pod as unsafe to move).

[2017-12-22 17:20] brianwallace opened #511 "CA v0.6.2 on AWS: Unable to scale up from zero nodes"
This is likely not a bug report, but more of a request for help.

I am running `cluster-autoscaler` v0.6.2 in a 1.6.x k8s environment on AWS.  I used kops to setup this environment.  (I realize that there are newer CA versions out there, but I am trying to use one that is compatible with k8s 1.6.x.)

Scale down appears to work, but I am unable to scale up nodes from zero.  This seems very similar

[2017-12-28 03:27] riywo opened #513 "Update documentation for CA on AWS about IAM policy"
Hi,

In the document below says "Unfortunately AWS does not support ARNs for autoscaling groups yet so you must use "*" as the resource."
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#permissions

AWS have launched the feature in May 2017, so the document can now say "You can control fine-grained resource level permission using `Resource`".
https://aws.a

[2017-12-28 09:51] MaciekPytel commented on #510
You can achieve this with PodDisruptionBudget. Just set maxUnavailable to 0 and CA will never touch those pods.

[2017-12-28 09:58] MaciekPytel commented on #511
Based on discussion on slack I understand you already managed to fix your problem. Do you mind if I close the issue?

For future reference: template node is a part of CA simulating what would happen if cluster looked differently. It doesn't actually exist (other than as a struct in CA memory), so you can't really do anything with it.

[2017-12-28 12:29] vainu-arto commented on #510
That works, but affects a lot of other things as well (such as draining nodes with this pod on them). I'd prefer having a specific method for affecting just the cluster autoscaler.

[2017-12-28 14:49] #464 closed

[2017-12-28 15:19] mwielgus opened #516 "Flake in AWS cloud provider tests"
[code]

[2017-12-28 15:19] mwielgus commented on #516
cc: @negz

[2017-12-28 16:22] #502 closed

[2017-12-28 19:31] whereisaaron opened #518 "Crashes with cluster-autoscaler 1.0.3 and AWS during cluster start-up"
During cluster start-up the `cluster-autoscaler` may have difficulty auto-discovering AWS ASGs. In these cases, rather than retry, the `cluster-autoscaler` can crash.

I'm launching an cluster-autoscaler pod running on controller/master nodes early during cluster creation and I noticed it crashes a couple of times before settling down. Checking the logs it starts up fine and establishes all its cl

[2017-12-28 20:03] whereisaaron opened #519 "Implement cluster autoscaling on AWS by manipulating spot fleet target?"
These days you can increase and decrease an AWS spot fleet's target size without re-creating the whole fleet. (As long as the launch specifications stay the same.) This enables the cluster-autoscaler to smoothly increase or decrease a node group's capacity, whilst benefiting from using instance type diversity, and AWS's automatic price-based selection, to keep the total price low.

For basic suppo

[2017-12-31 17:58] brianwallace commented on #511
After getting some help in Slack in #sig-autoscaling, I got it working!  I am going to close this issue.

As I figured, I made a couple configuration errors.  Here are the changes I made:

1) Grant the right permissions per the [docs](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#scaling-a-node-group-to-0):

    I was missing the following perm

[2017-12-31 17:58] #511 closed

[2018-01-03 06:50] vainu-arto commented on #209
/remove-lifecycle stale

This is an actual bug in the code that needs a fix.

[2018-01-03 13:27] rlees85 commented on #501
also watching this - seems it doesn't trigger a scale up with a manually specified node group either...

[code]

Its a small pod that would fit fine on a new node.

[2018-01-03 21:14] Stono opened #525 "Advice as to why my cluster may not be scaling down"
I appreciate you're probably getting sick of these sorts of questions, but I can't work out from the logs available to me why the cluster is not scaling down:

Pods:
[code]

No restrictive pdbs:
[code]

Nodes:
[code]

Autoscaler logs:
[code]

Autoscaler configmap:
[code]

[2018-01-04 09:33] MaciekPytel commented on #525
kube-dns-autoscaler is a different thing, unrelated to cluster-autoscaler. From your list of pods it looks like you're not running CA at all. On the other hand the configmap is coming from CA. Perhaps CA was only started after you run `kubectl get pods`? Either way it's hard to tell anything for sure without actual cluster-autoscaler logs.

That being said my guess would be you have kube-system po

[2018-01-04 09:37] Stono commented on #525
@maciaszczykm Apologies for some of the errors in my post, it was at the end of a long day.
I blindly looked at the kubedns autoscaller.

I'm running on GKE, it seems like the autoscaler in use is hidden from me as cluster-autoscaler is updating the ConfigMap, but I can't see it (presumably running on the master which i'm abstracted from).

[2018-01-06 02:42] #317 closed

[2018-01-07 19:49] Stono opened #530 "Failed to scale up node pool from 0"
Hi,
I've just observed some strange behaviour.  I have a cluster with three node pools, tagged with a `purpose` label, in the following ways

- default
- hot
- warm

Default was running 2 nodes, whilst hot and warm were at 0 (as nothing was deployed).

I then deployed a pod which had a nodeSelector of `purpose=hot`, but observed the following:

[code]

I had to go and manually increase the pool si

[2018-01-08 10:03] MaciekPytel commented on #530
Hi @Stono,
What cloudprovider are you using (GCE, GKE, AWS, Azure)? Code from scale-from-0 is largely platform specific, so this is a critical piece of information for this issue.

[2018-01-08 10:41] Stono commented on #530
Apologies @MaciekPytel - I am on Google Container Engine (GKE)

[2018-01-08 17:35] bskiba commented on #388
/close
This will most probably be rewritten as an external admission webhook.

[2018-01-08 17:35] #388 closed

[2018-01-10 21:02] dmlemos opened #533 "Azure fails to initialise - Invalid API URL"
After deploying on Azure I am getting these errors:
[code]

The URL in the API calls looks to be mixed up with the hex code for newline.

Using `vmType: standard`

**Kubernetes versions:** `1.7`, `1.8`
**Cluster auto-scaler version:** `1.1.0`

## Questions

1. It tries to create a ScaleSet even when not using it? Is this behaviour normal?
2. What exactly is the NodeGroup secret? It's not clear by

[2018-01-10 22:39] mwielgus opened #534 "Rewrite Initializer as External Admission Plugin"
Initialisers won't be graduated to beta anytime soon.

[2018-01-11 01:58] feiskyer commented on #533
@dmlemos Thanks of trying. Seems you are using cluster-autoscaler v1.1.0, which doesn't include node pools support. However, you could you try VMAS with master branch, e.g. build your own image by running

[code]

For your question:

1. As said above, v1.1.0 only supports VMSS, and VMAS support is only included in master branch now
2. For the meaning of secrets, see document [here](https://github.

[2018-01-11 12:44] MaciekPytel commented on #530
How do you set up `purpose` label on your nodes? Is it set on node-pool using `--node-labels` gcloud flag? If you set it up any other way CA will not be able to predict that a new node in node-pool scaled to 0 will have a given label, so it will assume the node with nodeSelector won't be able to schedule there.

If it's set with `--node-labels`, than any other data you can provide will help figure

[2018-01-11 15:07] #533 closed

[2018-01-11 17:04] dmlemos commented on #533
@feiskyer Thanks for the fix.
I am getting errors building either locally or with docker, using `build-in-docker` target.

Do you have a date for the next release?

[2018-01-11 23:08] DerrickMartinez commented on #510
+1 Having this would be awesome. Having an annotation not to touch it would be nice

[2018-01-11 23:16] feiskyer commented on #533
@dmlemos  What errors are you got? Both locally and in-docker build are working for me.

I'm not sure when will be the next release. @mwielgus Do you have such plans?

[2018-01-11 23:18] feiskyer commented on #533
@dmlemos And note that VMAS support does not feature complete yet, and there may still have bugs, so please do not use it in production now.

[2018-01-12 12:21] vovkanaz opened #539 "Is it issue with Kubernetes 1.9?"
Our Cluster based on Kubernetes 1.9, seted up via kubeadmin
We are also create a role, gave it needed permissions, and attach it with  a working nodes(in AWS console).
When we try to run our pod, we've see always something like that!
`
 kubectl logs cluster-autoscaler-55797ff9db-r8qps
I0112 12:08:07.299859       1 main.go:225] Cluster Autoscaler 0.6.0
F0112 12:08:07.402421       1 main.go:257] Fai

[2018-01-15 09:46] aleksandra-malinowska commented on #539
cc @mumoshu

[2018-01-15 10:13] mumoshu commented on #539
Hi @vovkanaz! I guess you would need to assign a more permissive serviceaccount which allows listing nodes against k8s apiserve(and more).
Just for clarification, the error itself doesn't seem to relate aws cloudprovider to me.

[2018-01-15 18:53] mwielgus opened #546 "Add extra eventing/doc for long unregistered nodes causing cluster autoscaler to consider cluster as broken"

[2018-01-15 18:53] mwielgus opened #547 "Fix situation when scale up overshot 33% broken nodes while hitting qouta"

[2018-01-15 19:29] bskiba commented on #546
We should include manual steps that can be performed to fix the situation.

[2018-01-16 14:11] klausenbusk commented on #254
Instead of using snapshot, we could let the autoscaler create the droplet and then let a external script initialize the droplet. I think it could make sense, as their is a "million ways" to setup k8s (bootkube, kubeadm to name a few)..

Autoscaler -> IncreaseSize -> Create Droplet -> HTTP POST (ip, ssh key) to another pod..

[2018-01-18 12:16] aleksandra-malinowska opened #555 "Add support for dealing with empty clusters in ClusterStateRegistry"
Currently, ClusterStateRegistry isn't updated when cluster has no ready nodes, or no nodes at all. This means that tracking of unready and unregistered nodes is also stopped. Node count metric for all types of nodes is artificially set to 0, even if there are non-ready nodes which would otherwise be detected and reported. For clusters in such state, all Cluster Autoscaler operations are stopped -

[2018-01-18 12:17] aleksandra-malinowska commented on #546
Fixed in #551. Opened #555 to track further improvement.

[2018-01-19 19:55] adimarco commented on #501
I'm seeing exactly the same issue.  I've worked around it for now by manually scaling up the underlying ASG.  Once the hardware is available in the node pool, the pods in the StatefulSet actually do get schedule.  But it will not scale up on its own.  Logs look pretty much identical to the ones pasted above.

The cluster-autoscaler spits out:
[code]
And the pod events include:
[code]
The new pods

[2018-01-22 09:39] MaciekPytel commented on #289
/remove-lifecycle stale

[2018-01-23 08:36] stijndehaes commented on #501
Hi all I am having the exact same problem.
Also deploying a StatefulSet that does not add an extra node. Are you guys also using volumes with you StatefulSets?

[2018-01-23 09:33] zegl opened #567 "Typo in relase notes for v1.1.0"
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.1.0

The image URL is incorrect and pointing to the wrong version: `Image: gcr.io/google_containers/cluster-autoscaler:v1.0.3`

[2018-01-23 10:41] MaciekPytel commented on #567
Fixed. Thanks for pointing it out.

[2018-01-23 10:41] #567 closed

[2018-01-24 10:04] MaciekPytel commented on #257
We should look more deeply into https://github.com/kubernetes/kubernetes/issues/54189 and see how it impacts CA. We will get those changes with godeps update for 1.2.0 anyway, but we should spend some time to understand them. In particular we should make sure that:
1. The changes will play nice with our handling of MatchInterPodAffinity predicate.
2. Will they improve our performance out of the bo

[2018-01-24 10:04] MaciekPytel commented on #257
@mwielgus ^

[2018-01-25 10:23] MaciekPytel opened #577 "Disable InterPodAffinity predicate if only soft affinity is used by pods"
As described in #281 we disable affinity predicate (for efficiency) if no pod in the cluster is using affinity. Looking at the code it looks like we don't distinguish between soft (preferedDuringScheduling) and hard (requiredDuringScheduling) affinity. CA completely ignores soft affinity anyway, so we should only enable the predicate if at least a single pod uses hard affinity.

cc: @mwielgus @ale

[2018-01-26 13:10] dmlemos commented on #533
@feiskyer Sorry for the delay. I managed to build master branch locally. Had to do some digging about go (as it has a very opinionated way of doing things).

Still can't build in docker. Here's the log for reference:
[code]

[2018-01-26 14:52] DaveTaddei-CR opened #581 "Aggressive scale down followed by scale up"
Since upgrading to kubernetes 1.8 we also upgraded the autoscaler to 1.1.0.  We have noticed an odd behaviour where the autoscaler appears to try and scale to the minimum number of nodes and then immediately scale up again.

To reproduce:
* start with a single node and increase the number of replicas of a pod one at a time, continue until there are three nodes
* decrease the number of replicas gra

[2018-01-26 14:56] DaveTaddei-CR opened #582 "Autoscaler unable to reallocate itself or contact DNS after scale down"
The autoscaler occasionally triggers a scale down which involves reallocating itself and kube-dns pods.  This has resulted in a deadlock situation whereby the remaining nodes are over-requested but a new node cannot start because no autoscaler is running.  A similar problem exists with kube-dns pods whereby the autoscaler is unable to communicate with AWS ASGs while the kube-dns is down, again res

[2018-01-26 15:04] johanneswuerbach commented on #582
We worked around this issue by running the autoscaler on masters nodes:
[code]

and with host dns & network to not rely on kube-dns

[code]

[2018-01-26 15:09] MaciekPytel commented on #582
It doesn't look like a problem that can be solved by CA in any way. By default CA will not scale-down nodes with system pods, which includes kube-dns (and I assume CA as well? it really depends how you run it - the official way is to do it on master). If you add a PDB to kube-dns, which allows 0 replicas this is you explicitly allowing CA to move it around even if it's killing the last replica. I'

[2018-01-26 15:26] DaveTaddei-CR commented on #582
From 1.0 onwards the docs state it will reallocate kube-system pods by default and honour any defined PDBs (I admit the documentation contradicts this in several places).  In any case we also tried adding PDBs to the kube-system pods required (tried minAvailable:1 and maxUnavailable: 0) but these were not being honoured.  We are attempting the workaround suggested by @johanneswuerbach to ease the

[2018-01-26 16:00] DaveTaddei-CR commented on #582
ok, the workaround seems to be effective.  There is still an underlying issue surrounding honouring of PDBs however.  #581 is also an issue observed which may be related.

[2018-01-26 16:00] MaciekPytel commented on #582
Can you point out where in docs it says it will reallocate kube-system pods by default? That's clearly wrong and I'd like to fix it. Regarding PDBs - we do have e2e tests for CA + PDB (https://k8s-testgrid.appspot.com/sig-autoscaling#gci-gce-autoscaling&include-filter-by-regex=pdb) and they've been passing for months now.
If you have a case where it's not honored can you open an issue, including y

[2018-01-26 16:14] DaveTaddei-CR opened #583 "Autoscaler not honouring PDB"
The CA has been observed to not honour PodDisruptionBudgets.  In this case when the cluster is scaled from 1 to 4 nodes and then scaled back down to 1 the pods which should be protected by the PodDisruptionBudget are often removed.

dns-pdb.yml
[code]

CA configuration
[code]

I will endeavour to capture logs when an event occurs however it is intermittent.

===
edit: Changed the formating to make

[2018-01-26 16:58] MaciekPytel commented on #582
One thing that strikes me in this issue and the other issues you reported is CA consistently scaling to 1 node. Usually it can't go below 3 or so, because scheduler spreads out kube-system pods which CA refuses to touch.

In particular, based on the config you posted in https://github.com/kubernetes/autoscaler/issues/583 I guess you were running CA in kube-system namespace? If so it shouldn't be a

[2018-01-27 05:09] dineshsckloud9 opened #584 "Showing scaling up in MIG but not scaling in GCE - Even when creation it not launching more than 3 nodes across zones"
Multizone scaling with MIG per zone seems working but could not launch more than 3 instances.. MIG showing 1 -> 2 but its not launching in gce... What could be the problem?

I0127 04:52:37.565409 5 scale_up.go:110] Skipping node group https://content.googleapis.com/compute/v1/projects/global-snow-193212/zones/europe-west1-b/instanceGroups/kubernetes-minion-group - max size reached
W0127 04:52:37.5

[2018-01-27 13:23] feiskyer commented on #533
@dmlemos Could you have a try running following command?

[code]

[2018-01-27 16:00] dmlemos commented on #533
That's what I did to build from master. Works fine once I got the proper folder structure.

[2018-01-28 03:06] feiskyer commented on #533
@dmlemos And did you put the folders to GOPATH same way when building in docker?

[2018-01-28 18:59] alexanderkjeldaas opened #586 "cluster-autoscaler release for kubernetes 1.9.x missing"
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases does not list a kubernetes 1.9.x release.

[2018-01-28 19:00] alexanderkjeldaas commented on #586
Or 1.10.x which is incoming.

[2018-01-29 08:04] bskiba commented on #584
My first guess would be that you hit some quota. But  AFAIK this should be visible as errors in the UI.

Can you also check cluster autoscaler configmap?
kubectl get -o yaml configmap cluster-autoscaler-status -n kube-system

[2018-01-29 08:59] DaveTaddei-CR commented on #581
The scale down and scale up has been observed.  The logs do not completely reflect this however.  They identify a node could be scaled down using the fast-evaluation.  Lack of space to re-schedule a pod causes the scale down to abort.  In practice the scale down is occurring anyway.  A short time later a scale up is observed.

A summarised sequence of events is as follows:
08:31:26.335664 - unsche

[2018-01-29 09:11] DaveTaddei-CR commented on #582
We set the minimum number of nodes for this particular cluster to 1 but nothing else strikes me as particularly odd in the setup.  I think I misread the docs regarding the PDB.  The first time it appeared as though "prior to CA 0.6 nodes running kube-system pods would not be touched" and I took that to mean that now it would.  I guess the actual meaning is "from CA 0.6 onwards nodes running kube-s

[2018-01-29 10:56] MaciekPytel commented on #584
If it's a quota issue (I agree with @bskiba that's most likely) you can diagnose it easily in UI by going "Compute Engine" -> "Instance Groups" -> click on your MIG. You will see all instances, if you hit a quota some of them will not exist and have a warning saying which quota you hit.

[2018-01-29 12:14] bskiba commented on #501
If this only happens when scaling up from 0 (as I understand from the comments here) then this seems to be an issue with the node group template for AWS.

[2018-01-29 12:37] MaciekPytel commented on #581
There was no scale-down performed by CA during the time covered by your log. 'Fast evaluation' only means that the second condition (possibility to move pods) will be checked at all. A node will actually be deleted only if it can be removed for 10 consecutive minutes. If there was a scale-down there would be logs signifying it coming from a lot of different places (simulator saying the node could

[2018-01-29 12:42] MaciekPytel commented on #582
Even if you have a minimum of 1, CA will generally not go below 3 or so because statistically 'unmovable' system pods will usually be spread on scheduler over 3 or 4 different nodes. Unless you create a PDB that _allows_ 0 replicas of those you will not go to 1 node ever. As I wrote on your other issue - it looks like you have something else deleting nodes, likely a different autoscaler.

[2018-01-30 08:28] DaveTaddei-CR commented on #582
We only have a single autoscaler.  We frequently run with 2 nodes or less in our cluster.  We have no PDBs for kube-system pods.

[2018-01-30 21:10] pjama opened #593 "Node Readiness not found + Unregistered Node in Group"
Hello,

I am trying to add a second nodePool to my k8s cluster in AWS. For reference, the there are two nodePools: `default` and `bigger`.

It seems that the `bigger` node instance _is_ being created successfully in AWS, but it is not available in the nodePool.

**Component Versions**

**K8s:** 1.7.4
**Kube-AWS:** 0.9.8
**CA:** 0.6

I have also tried upgrading CA to v0.6.1, and added `autoscaling:

[2018-01-31 01:16] patrickshan commented on #144
@mumoshu @sharpevo sorry about replying this closed issue. But just want to mention a similar issue we found with kube v1.8.6 and cluster-autoscaler v1.0.0. We already have cloud provider set for both apiserver and kubelet. It seems that the issue was caused by AWS ASG "Instance Protection" setting which by default doesn't have "Protect From Scale In" turned on. so two activities inside the ASG ha

[2018-01-31 13:33] aleksandra-malinowska commented on #593
Looks like the new node didn't register in Kubernetes. Log at `clusterstate.go:397` suggests it was probably a scale up from 0. Can you confirm this was the first node to be added to this group? If this was the case, I'd verify first that scaling this group manually works as expected and the node registers correctly. Otherwise, it could be related to AWS cloud provider.

Based on this part:

[code

[2018-01-31 18:54] ericln opened #595 "Scaling does not take nodeAffinity into account"
We have a few node groups running in our cluster and based on `taints` and `nodeAffinity` to ensure pods can only be scheduled onto certain group of the node. In the configuration of the cluster autoscaler deployment we specified all the AWS ASGs we have in the cluster, however as the pods scale, the one that has `tolerations` and `nodeAffinity` assgined, they do not seem to trigger the ASG to sca

[2018-01-31 20:41] aleksandra-malinowska commented on #595
Check events for the pod - if it's unschedulable, there should be either a TriggeredScaleUp or NotTriggeredScaleUp event. You can also search Cluster Autoscaler logs for any mention of the pod. This and other suggestions for debugging [can be found in Cluster Autoscaler FAQ](https://github.com/kubernetes/autoscaler/blob/acd172bbe6b3dc7d9c62efebc9ae69f2bf8e90fb/cluster-autoscaler/FAQ.md#how-can-i-c

[2018-02-01 03:58] pjama commented on #593
Hi Aleksandra, thanks for your response.

I had seen #369, but thought it was included in `v0.6.1` ([Scale to 0 enabled on AWS](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-0.6.1)).

After upgrading CA to 0.6.1, it does scale 0 -> 1 (creating a `bigger` node instance).

However, still seeing a failure in the autoscaler pod's logs:

[code]
apiVersion: v1
data:
  status:

[2018-02-01 10:35] aleksandra-malinowska commented on #593
When Cluster Autoscaler requests a new node, this node doesn't appear immediately. On GCE, it usually takes 3-4 minutes before it is registered and ready. I'm not sure how long it takes on AWS, but I'd expect something similar. During this time, Cluster Autoscaler is aware this node should exist based on node group's cloudProviderTarget (=1 in your case), but it doesn't receive information about i

[2018-02-01 14:56] bskiba commented on #547
I've experimented a bit and I think it should be enough to perform removing old unregistered nodes before checking cluster health.

This way, when we want to scale up a node group more than 3x over quota we will have a failed scale up after 15 minutes (this is when we decide that the nodes will not register themselves), the node group will back off scale up, but the cluster will stay healthy and a

[2018-02-01 15:52] MaciekPytel commented on #547
I'm not convinced this solves all the problems. Aren't we going to be stuck in broken state for 15 minutes after a failed scale-up? Maybe we shouldn't count longUnregistered nodes towards cluster being unready for autoscaling? I'm not sure just wondering if there is any good reason for doing it? I added it myself when I added tracking longUnregistered nodes, but I'm not convinced it should be that

[2018-02-01 16:13] bskiba commented on #547
Re "Aren't we going to be stuck in broken state for 15 minutes after a failed scale-up": the cluster never actually goes into Unhealthy state. After a failed scale up, we remove the unregistered nodes almost immediately (that's what I observed), nodes are upcoming for 15 minutes and this counts towards the node provisioning time (counted from the moment the node is first seen), which is also by de

[2018-02-01 16:21] MaciekPytel commented on #547
Right, I forgot both timeouts are the same. Let's go with your solution as a fix for this, so we can include it in next patch release. And let's revisit the general case afterwards.

[2018-02-01 17:27] pjama commented on #593
I've bumped the CA version to 0.6.2, and increased the ASG size to min: 0, max: 2.

I confirm that the `bigger` AWS instance does finish initialization (and 2/2 Status Checks), however the logs produce the same pattern,

[code]

Furthermore, you are correct that eventually CA attempts (and fails) to remove the `bigger` node,

[code]

Perhaps I'm missing something? I expect the ASG to create and ut

[2018-02-02 01:51] rongshen opened #604 "Failed to scale up: failed to build node infos for node groups: Wrong id: expected format aws:///&lt;zone&gt;/&lt;name&gt;, got"
Hello,

I'm looking for some help for CA. Forgive me if I did not post it at the right place.
My set up is the following:
1. Existing k8s clusters are all running on bare metal
2. Cluster is managed by kubeadm
3. kubeadm/kubectl/kubelet version: 1.9

What I want to achieve is an elastic k8s cluster with auto scale up and down on AWS ec2 instances.
I have done the following:
1. created an AMI with

[2018-02-02 09:55] aleksandra-malinowska commented on #593
This is also what I suspect - node never registers in Kubernetes master. This would point to the issues with this group's template/configuration. You can try to SSH to such node and look for Kubelet errors.

[2018-02-02 09:56] aleksandra-malinowska commented on #604
cc @mumoshu

[2018-02-02 09:56] MaciekPytel commented on #582
I'm confident that CA did not remove any nodes during the time covered by log you posted on https://github.com/kubernetes/autoscaler/issues/581. The issues you describe are completely disjoint from our experience, tests and reports of our other users.
1. A common complaint is that CA is slow to scale-down. A node cannot run any kube-system pods and must be unneeded for at least 10 consecutive minu

[2018-02-02 12:30] #547 closed

[2018-02-02 14:26] bskiba opened #608 "Cluster Autoscaler AWS cloudprovider tests are failing"
I believe this is a flake (example: https://travis-ci.org/kubernetes/autoscaler/jobs/336570454)
k8s.io/autoscaler/cluster-autoscaler/cloudprovider/aws tests are sometimes failing. Logs from the failed test below

[code]

[2018-02-06 09:29] johanneswuerbach opened #618 "Release Cluster Autoscaler 1.2 rc"
Looks like there have been big changes to the AWS provider (e.g. https://github.com/kubernetes/autoscaler/pull/462) and I would like to check whether the new code resolves https://github.com/kubernetes/autoscaler/issues/252#issuecomment-345611287

Would there be a chance to release a 1.2 RC including those changes?

//cc @mwielgus

[2018-02-06 14:43] bskiba commented on #608
I think this happens in tests added by https://github.com/kubernetes/autoscaler/pull/462. @negz would you mind taking a look?

[2018-02-06 17:09] pjama commented on #593
@aleksandra-malinowska Your suggestion to SSH into the node and check logs helped me resolve the issue.

It turned out that the instance in question lacked permissions to access an storage bucket in S3. The logs contained the following:

[code]

[2018-02-06 17:09] #593 closed

[2018-02-06 19:29] negz commented on #608
@bskiba Sure! This week is a little busy, but I will try find some time.

[2018-02-06 19:37] aleksandra-malinowska commented on #593
No problem. Glad to know it works for you now!

[2018-02-07 12:59] bskiba commented on #586
Seems like we need release notes for 1.1.x

[2018-02-07 13:16] bskiba commented on #546
This can be closed then?

[2018-02-07 13:17] bskiba commented on #534
@tkulczynski Done, right?

[2018-02-07 14:20] tkulczynski commented on #534
Yes, feel free to close, thanks!

[2018-02-07 14:51] #534 closed

[2018-02-07 15:27] andyxning opened #631 "Update deployment group from extensions to apps"
Since deployment has been move to apps group since Kubernetes 1.8 and has been reached `v1` in Kubernetes 1.9. Maybe we can bump deployment group from extensions to apps.

/cc @bskiba @mwielgus

[2018-02-07 16:23] andyxning commented on #631
ping @Q-Lee @piosz @wojtek-t

[2018-02-07 16:36] #586 closed

[2018-02-08 09:57] xfu8309 opened #634 "typo of cloudprovider aws README.md"
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#auto-discovery-setup

Command for "Auto-Discovery Setup" is
`kubectl apply -f examples/cluster-autoscaler-run-on-master.yaml `
but should is
`kubectl apply -f examples/cluster-autoscaler-autodiscover.yaml `

[2018-02-09 05:24] simnalamburt commented on #234
Excuse me the corresponding PR has been submitted https://github.com/kubernetes/autoscaler/pull/527 and waiting to be merged.

[2018-02-09 07:01] dineshsckloud9 commented on #584
Yes! It was a quota issue.. Thanks guys

[2018-02-09 07:11] dineshsckloud9 opened #638 "Will cluster-autoscaler work for openshift cluster created in GCE"
We have a openshift cluster setup with instance group in GCE. We could not achieve node autoscaling for openshift nodes.

Can we run this cluster-autoscaler as a pod in openshift master instance to make autoscaling work?

Will it work? Suggest me any other way if cluster-autoscaler does not work.

Note: We have taken cluster-autoscaler v0.6.1 pod config from kubernetes and have modified the yaml f

[2018-02-09 08:45] #234 closed

[2018-02-09 14:11] aermakov-zalando commented on #209
Any updates on this? @fejta

[2018-02-09 14:31] MaciekPytel commented on #257
@aleksandra-malinowska pointed out to me that a deployment with self-pod-antiaffinity causes nodes to be added one by one. This is because the problem with affinity predicate taking data from informers mentioned in the description of this issue is still not fixed.

Other optimizations were easier to implement and got us to where we met our performance target and we actually never started using pre

[2018-02-09 16:37] gmagniez opened #642 "Support for extension parameters on Azure"
We use a custom extension (to be precise, a preprovision extension) which needs a parameter, but when trying to scale we face the following error:
[code]
It seems that the generated ARM deployment is missing the parameter 'register-dnsParameters' which is defined in our acs-engine cluster definition:
[code]

[2018-02-10 06:37] mfaizanse opened #643 "Is the Cluster-AutoScaler restarts/manages if any node in the cluster dies or crashes? [AWS]"
Is the Cluster-AutoScaler restarts/manages the node if any node in the cluster dies or crashes? I can see that it can scale up or scale down but what if a node dies? Does it maintains the desired number of nodes in the cluster?

AWS

[2018-02-10 13:32] bhack commented on #525
Is kuber-proxy created by a daemonset? See https://github.com/openai/kubernetes-ec2-autoscaler/issues/23. It could be useful to integrated https://github.com/allenai/kubernetes-ec2-autoscaler/pull/7 upstream

[2018-02-12 10:55] aleksandra-malinowska commented on #604
Can you check node spec of your nodes for ProviderId? You can get it by running `kubectl describe node <node>`. These errors look as if this field is missing. I think kubelet is supposed to set it, so if it's missing, I'd look at kubelet logs of affected nodes.

[2018-02-12 13:00] feiskyer commented on #642
@gmagniez Does the extension use securestring parameters? Have you tried `ace-engine scale` command?

[2018-02-12 14:00] aleksandra-malinowska commented on #525
@bhack Those issues are related to a completely different component, unrelated to Cluster Autoscaler. CA ignores kube-proxy (along with other pods that run on every node) in scale-down.

[2018-02-12 14:07] bhack commented on #525
@aleksandra-malinowska Is this valid also for kube-system pod without a daemonset or replica controller? Cause you cannot set a valid PDB on kube-proxy in this deployment case.

[2018-02-12 14:48] aleksandra-malinowska commented on #525
I'm not sure what deployment case you mean? By default kube-proxy runs as DaemonSet. If you have a kube-system pod that isn't part of any Deployment/ReplicaSet/other controller, it won't be removed because Cluster Autoscaler doesn't evict such pods (whether kube-system or not). You can add a safe-to-evict annotation to a pod like this to override this behavior. This is described [in CA FAQ](https:

[2018-02-12 14:54] bhack commented on #525
@aleksandra-malinowska I was exactly referring to https://github.com/openai/kubernetes-ec2-autoscaler/issues/23#issuecomment-284370307 that is the default Kops deployment and used by many users to deply kk8 clusters related [to this CA behaviour](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#i-have-a-couple-of-nodes-with-low-utilization-but-they-are-not-scaled-down

[2018-02-12 14:56] aleksandra-malinowska commented on #643
Not really. Cluster Autoscaler respects minimum and maximum limits when adding/removing nodes, but it doesn't change the cluster size only to fit those constraints.

It only ever adds nodes if there are unschedulable pods in the cluster. If a node crashes/dies unexpectedly, the pods that were running on it will be rescheduled elsewhere. If there's not enough space for them in the cluster, they bec

[2018-02-12 15:34] gmagniez commented on #642
Hello,
I don't think that the extension is using securestrings, It is juste declared like that:
[code]

Scaling with 'acs-engine scale' works perfectly.

[2018-02-12 15:46] aleksandra-malinowska commented on #638
cc @DirectXMan12

[2018-02-12 15:50] aleksandra-malinowska commented on #525
@bhack https://github.com/openai/kubernetes-ec2-autoscaler looks like a completely different, unrelated autoscaler. If you have questions regarding it, can you please ask it in this component's repo?

[2018-02-12 16:47] bhack commented on #525
@aleksandra-malinowska Was just a reference but the problem is the same in this CA cause kube-proxy will not be shut down also in this CA implementation. I've tested this scenario with PDB, this CA and a standard Kops deployment (that is quite frequent to have).

If we don't want to handle a workaround here probably we need to change the Kops kube-proxy deployment.

I've opened an issue at https:/

[2018-02-12 18:44] alexquintero opened #644 "Azure based acs-engine autoscaler failing with standard vm type (availability set)"
**Issue**:
Cluster-autoscaler appears to be requesting a scaleset from Azure despite the vmtype being set to **standard**.

**Log Output**:
[code]

**Versions**:
Kubernetes version 1.9.2
ACS-Engine version 0.12.5
cluster-autoscaler version v1.1.1

**Additional Details**:

My deployment is based entirely on the azure cloudprovider readme's [cluster-autoscaler-standard-master.yaml](https://github.co

[2018-02-12 19:03] shyamjvs commented on #383
/remove-lifecycle stale

On Mon, Feb 12, 2018 at 3:27 PM fejta-bot <notifications@github.com> wrote:

[2018-02-13 01:56] feiskyer commented on #642
@gmagniez Thanks, I will check how to make this work.

[2018-02-13 01:56] feiskyer commented on #642
/assign

[2018-02-13 05:37] rongshen commented on #604
@aleksandra-malinowska There is no ProviderId in my k8s nodes. I'm wondering if it is because my existing cluster is made of bare metal. Could you tell me more on how to examine kubelet logs? Thank you!

[2018-02-13 05:41] feiskyer commented on #644
@alexquintero  Thanks of trying autoscaler. The image `v1.1.1` still doesn't support vmas yet (only vmss is included). Could you try build an image on master branch? e.g.

[code]

or use the image I have already built `feisky/cluster-autoscaler:dev`.

Please let me know if you still have problems.

[2018-02-13 10:29] aleksandra-malinowska commented on #525
Can you please provide relevant CA logs? There should be a reason for every scale-up and scale-down decision there, including why a node wasn't removed.

And if kube-proxy isn't running as a DaemonSet in your setup, can you please include your kube-proxy spec and PDB?

By standard, do you mean [this](https://github.com/kubernetes/kops/blob/8629f60d22c230828ce185c154364c825637e09e/nodeup/pkg/model/

[2018-02-13 10:35] aleksandra-malinowska commented on #618
Looks like the situation is similar with Azure changes #644

[2018-02-13 11:43] bhack commented on #525
The PDB on kube-proxy off course gives  `Warning  No Controllers found no controllers for pod` and yes the default deployment is [this](https://github.com/kubernetes/kops/blob/8629f60d22c230828ce185c154364c825637e09e/nodeup/pkg/model/kube_proxy.go#L44).

In the [CA FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-p

[2018-02-13 12:40] bhack commented on #525
Yes but by the Kops [Manifest] kube-proxy (https://github.com/kubernetes/kops/blob/8629f60d22c230828ce185c154364c825637e09e/nodeup/pkg/model/kube_proxy.go#L44) is not a Daemonset.
I have any specific entry in the CA log but what is the expected CA behavior if we agree that:

-  kube-proxy is not a Daemonset in K8 clusters create with Kubernetes/Kops
- PDB on kube-proxy cannot work cause it doesn't

[2018-02-13 14:33] aleksandra-malinowska commented on #525
OK, disregard what I said before, it seems it doesn't always run as DaemonSet by default yet.

In my test cluster, kube-proxy has `kubernetes.io/config.mirror` annotation. This makes Cluster Autoscaler ignore it when considering nodes for scale-down. Can you run `kubectl describe pod <one-of-kube-proxy-pods> -n kube-system" and see what annotations it has?

[2018-02-13 14:58] bhack commented on #525
Yes I have the kubernetes.io/config.mirror annotation for the kube-proxy pods.
So we need to just update the FAQ?

[2018-02-13 15:05] aleksandra-malinowska commented on #525
Cool. So this doesn't explain why CA wasn't able to remove nodes in your test?

I don't mind mentioning it in FAQ as long as it's explicitly stated that for manually marking the pod as safe to evict, using `cluster-autoscaler.kubernetes.io/safe-to-evict` is preferred.

[2018-02-13 15:16] TimJones opened #647 "Min & max not set for AWS ASG"
I have a small K8S v1.8.6 cluster deployed using kops with `--node-count 2`. This sets up an ASG with Min\Max instances both set to 2.

I then install an autoscaler Deployment with `--nodes=1:3:<asg-name>` but listing the ASG still shows Min\Max both set to 2.

I have to run `kops edit instancegroup nodes` to set the min\max to match before autoscaler can work.

I would expect autoscaler to set th

[2018-02-13 15:17] bhack commented on #525
Yes but I think that `kubernetes.io/config.mirror` is not exactly the same as `cluster-autoscaler.kubernetes.io/safe-to-evict` and FAQ still tell you to create PDB for every pod in kube-system namespace.
My scale down test was related to verify low utilization of the node but seems that Autoscaler ignored that specific node.

[2018-02-13 15:27] alexquintero commented on #644
@feiskyer I'll give it a go today and let you know.

[2018-02-13 16:52] alexquintero commented on #644
@feiskyer Well turns out my VMs have useInstanceMetadata set to true. Is that an acs-engine setting that must be set prior to cluster creation or is that something I can resolve on an existing cluster?

[2018-02-13 16:58] aleksandra-malinowska commented on #647
This feature (instance groups having built-in min/max limits which prevent resize requests) is AWS-specific. So it isn't part of Cluster Autoscaler's logic, the only change to override those settings would have to be in [cloud provider code](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws). Contributions are welcome :)

If you'd like to implement this, but

[2018-02-13 17:10] TimJones commented on #647
I'd be happy to contribute when I have a few space cycles!

[2018-02-13 17:13] aleksandra-malinowska commented on #581
@DaveTaddei-CR any update on this? If this has been resolved, can you please close the issue?

[2018-02-13 23:48] bobhenkel opened #649 "Error opening stream to...(Trouble Hitting K8s API EndPoint from Pod)"
Seeing this message about 5 mins after deploying this to my cluster(Cluster is stood up with kops1.8.0):
[code]
Other than that log message the container has no logs in it.

Kubernetes Version:
[code]

- Installed autoscaler with helm chart from [https://github.com/kubernetes/charts/tree/master/stable/cluster-autoscaler](https://github.com/kubernetes/charts/tree/master/stable/cluster-autoscaler)

[2018-02-14 03:54] feiskyer commented on #644
@alexquintero It can be set when creating the cluster, or change `/etc/kubernetes/azure.json` after that. But please notice that new VMs created with autoscaler are still setting useInstanceMetadata to false for the later way. So it's better set useInstanceMetadata to false when creating the cluster.

And after https://github.com/kubernetes/kubernetes/pull/59603, useInstanceMetadata could be set t

[2018-02-14 03:55] feiskyer commented on #618
+1 for a new rc release.

[2018-02-14 10:54] aleksandra-malinowska commented on #649
If I understand correctly, it looks more like an issue with cluster configuration rather than Cluster Autoscaler specifically. Leaving it open in case someone comes along who can advise, but maybe you can get better help at [kubernetes/kops](https://github.com/kubernetes/kops/)?

[2018-02-14 15:36] vovkanaz commented on #539
Yes! Thanks a lot!

[2018-02-14 16:10] aleksandra-malinowska commented on #577
Fixed by #640

[2018-02-14 16:10] #577 closed

[2018-02-15 00:32] rvkubiak opened #655 "cluster-autoscaler tests broken by missing dependency"
I've been working on build automation for the cluster-autoscaler, so I believe this was broken fairly recently.  I have a build result from 2 days ago where the tests passed as expected.

Today, if I try to run 'make test-in-docker' for cluster-autoscaler it fails.  It seems like this is probably related to the recent change away from ubuntu-slim.
https://github.com/kubernetes/autoscaler/commit/80

[2018-02-15 10:35] aleksandra-malinowska commented on #655
Oops, it was indeed broken by that change. Thanks for catching it so quickly! #656 should fix it.

Perhaps we could include running unit tests in Docker in our presubmit to avoid it happening in the future. @mwieglus WDYT?

[2018-02-15 23:48] mwielgus commented on #655
#661 Fixes the issue.

[2018-02-15 23:48] #655 closed

[2018-02-16 10:38] aleksandra-malinowska opened #666 "Clean up node pool creation in tests"
This is to track progress for investigating and cleaning up issues discussed in kubernetes/kubernetes#59913 :
- possibly redundant waits after synchronous node-pool create
- possibly redundant functions for getting node-pool's size

[2018-02-16 16:04] StevenACoffman commented on #209
/remove-lifecycle rotten

[2018-02-16 16:05] StevenACoffman commented on #209
This appears related to #647

[2018-02-17 01:49] pradeeppandeyy opened #667 "Getting x509: certificate signed by unknown authority after deploying autoscaler."
Getting below after deploying autoscaler.

E0217 01:43:51.183076       5 static_autoscaler.go:135] Failed to update node registry: Get https://www.googleapis.com/compute/v1/projects/kubernetesforwebsite/zones/us-east1-b/instanceGroupManagers/openshift-node?alt=json: x509: certificate signed by unknown authority
I0217 01:43:52.820515       5 leaderelection.go:199] successfully renewed lease kube-sy

[2018-02-17 02:50] pradeeppandeyy opened #668 "getting error: Failed to get nodes from apiserver"
getting below error,

0217 02:44:16.958401       5 main.go:320] Failed to get nodes from apiserver: Get https://openshift-master-1:8443/api/v1/nodes: x509: failed to load system roots and no roots provided
I0217 02:44:39.824677       5 flags.go:52] FLAG: --address=":8085"
I0217 02:44:39.824813       5 flags.go:52] FLAG: --alsologtostderr="false"

[2018-02-17 19:37] pradeeppandeyy opened #669 "Couldn't read config: warning: Failed to create GCE Manager"
I0217 19:37:05.849940       5 reflector.go:236] Listing and watching *v1.Pod from k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:144
I0217 19:37:05.850063       5 reflector.go:236] Listing and watching *v1.Pod from k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:169
I0217 19:37:05.850162       5 reflector.go:236] Listing and watching *v1.Node from k8s.io/autoscal

[2018-02-19 09:46] MaciekPytel commented on #669
I've seen something like that a few months back (around 1.7 release I think?). It was a problem in underlying library, which would fail if it noticed an unexpected field and when a new field was added to config older CA versions started to crash.

Can you share your kubernetes / CA version? My intuition would be that updating to newer CA version will likely solve the issue.

[2018-02-19 18:37] pradeeppandeyy commented on #669
I was previously using gce.conf, now I have removed it and working fine. thanks

[2018-02-19 18:37] #669 closed

[2018-02-19 18:39] pradeeppandeyy commented on #668
I have updated ca authorities and now it is working fine.thanks.

[2018-02-19 18:39] #668 closed

[2018-02-19 18:39] pradeeppandeyy commented on #667
I have updated the ca authorities and now it is working fine. Thanks

[2018-02-19 18:39] #667 closed

[2018-02-20 20:34] bhack commented on #530
I'am also interested in this with AWS and ASG tag cause [this section](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#scaling-a-node-group-to-0) of Docs is not very clear. Do you need to use `k8s.io/cluster-autoscaler/node-template/label/` in the nodeselector?

[2018-02-21 13:11] Globegitter commented on #501
Running into a very similar issue, I have the node group specified manually, and it is one group having instances spread over 3 AZs. There are PVCs/EBS volumes mounted in two AZs for statefulsets. Cluster autoscaler scaled down my cluster to two nodes as I expected, with one node in each AZ with a PVC. Then I did some cluster maintenance and the two nodes got restarted, but one of them in the AZ w

[2018-02-21 14:47] aleksandra-malinowska commented on #501
That would explain it. Cluster Autoscaler expects all nodes in one node group to be identical. This assumption is necessary for scale-up - it's the only source of information about what a node added to the group will look like, and whether adding it makes any sense. In this case, nodes weren't identical - they were in different zones, with different PVC availability. If another node such as the on

[2018-02-21 22:53] alexquintero commented on #644
@feiskyer I finally got around to giving this a go and ran into a different issue, but hey, that's progress.

[code]
I imagine if `etcdPeerPrivateKey0` is required then so would `etcdPeerPrivateKey1` and `etcdPeerPrivateKey2`. I did try supplying those values through an environment variable but got the same error so I imagine the container isn't looking for that environment variable.

[2018-02-22 01:09] #26 closed

[2018-02-22 01:28] feiskyer commented on #644
@alexquintero Yep, those parameters are not handled yet, need an update to support them.

[2018-02-22 10:25] bhack commented on #595
@aleksandra-malinowska It is working for me, I have a problem only when the ASG is at 0. See also https://github.com/kubernetes/autoscaler/issues/530

[2018-02-22 18:11] choldgraf commented on #148
Any movement on this? It would be quite useful for ensuring we don't hit ceiling effects before new nodes are requested!

[2018-02-22 18:26] #76 closed

[2018-02-23 01:54] bhack commented on #530
For aws I've solved replicating nodelabel and cloudlabel key/value. Probably it could be better document  in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#scaling-a-node-group-to-0

[2018-02-26 12:18] #644 closed

[2018-02-27 22:40] negz commented on #618
Agreed - we've been running a build of 1.1.0 that includes https://github.com/kubernetes/autoscaler/pull/462 for months in production. I'd love to be running something more like an official release.

[2018-02-28 00:58] resouer opened #687 "Scaled up twice due to pods become RUNNING need some time."
Here's a issue when I using with cluster-autoscaler.

[code]
**My understanding is:**
It seems that cluster-autoscaler will report scale up success when the node is ready. But in this issue, it actually took some time for my Pending pods become Running, and this triggered another scale up.
If it's the case, we should give a "cool down" time for recently scaled up cluster, or use pod status change

[2018-02-28 16:40] MaciekPytel commented on #687
Instead of having cooldown period CA predicts which pods could be scheduled on existing or booting up nodes and accounts for it in its scale-up calculations. There are 2 separate pieces of logic:
 - Nodes that are booting up are taken into account during binpacking part of CA algorithm. Immediately after scale-up you should see `Upcoming X nodes` lines in log, where X is the number of nodes bootin

[2018-02-28 18:45] resouer commented on #687
@MaciekPytel Thanks for detailed explanation! `Upcoming 0 nodes` should be the problem in my case as all nodes are identical in the node group. I will take a quick look at my implementation and feedback here.

[2018-03-01 21:51] resouer commented on #687
@MaciekPytel Thanks! The issue is fixed by return targetSize as you suggested.

I can see the `Upcoming 1 nodes` now:
[code]
And followed by  Schedulable pods present later:
[code]

Thank you!

[2018-03-01 22:06] #687 closed

[2018-03-02 03:27] feiskyer commented on #642
Fixed in #682

[2018-03-02 03:27] feiskyer commented on #642
/close

[2018-03-02 03:27] #642 closed

[2018-03-03 08:16] aleksandra-malinowska commented on #546
Right, it was left open by mistake.

[2018-03-03 08:16] #546 closed

[2018-03-05 17:47] aleksandra-malinowska commented on #438
/remove-lifecycle-stale

[2018-03-05 17:48] aleksandra-malinowska commented on #438
@mwielgus can you PTAL at #495?

[2018-03-07 09:48] nlamirault opened #699 "Which version for ARM ?"
According to the GCR website, addon-resizer-arm tag is [2.1](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/addon-resizer-arm?gcrImageListsize=50)

On the README, it is written :
```Currently recommended version is 1.8, on addon-resizer-release-1.8 branch.```

Where does come from the v2.1 release ? We can't use the 1.8 release on ARM ?

Thanks.

[2018-03-08 11:55] fulder opened #700 "Old GPU resource name for AWS"
It looks like the GPU resource name is still the old alpha one (`v1.resourceNvidiaGPU`=`alpha.kubernetes.io/nvidia-gpu`) instead of the new: `nvidia.com/gpu` for AWS.

The master branch got this updated here:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L408

But it is not present in any of the autoscaler releases. This makes it impossibl

[2018-03-08 20:15] pradeeppandeyy opened #701 "how to compile cluster-autoscaler binary"
how to compile cluster-autoscaler binary

[2018-03-09 01:46] feiskyer commented on #701
Clone the autoscaler codes to `$GOPATH/src/k8s.io/autoscaler`, then run
[code]

[2018-03-09 23:23] #215 closed

[2018-03-10 16:54] jayanthpurushothaman opened #703 "Scale up operation logs DeploymentFailed error for Azure VMAS-based Kubernetes 1.9.3 Cluster"
When attempting to scale up a K8S v1.9.3 Cluster (1 Master, 2 Nodes) with Azure Managed Disks _(K8S Cluster was deployed and upgraded using ACS Engine v0.13.0)_, the **cluster autoscaler** _(Docker image built from the **master** branch of the current code base as per [https://github.com/kubernetes/autoscaler/issues/533](url) and [https://github.com/kubernetes/autoscaler/issues/644](url))_ logs th

[2018-03-10 17:41] #279 closed

[2018-03-10 18:42] #204 closed

[2018-03-10 19:43] #283 closed

[2018-03-11 22:31] mwielgus commented on #703
cc: @feiskyer

[2018-03-12 08:17] feiskyer commented on #703
@jayanthpurushothaman Have you changed data disk options after deployments?

[2018-03-12 17:16] jayanthpurushothaman commented on #703
@feiskyer Not that I am aware of. The ACS cluster was deployed as 1.8.2 and upgraded to 1.9.3 using standard ACS Engine commands. In fact, we don't use additional disks at all, apart from whatever disks the ACS Engine deploys from our standard Cluster JSON definition.

[2018-03-12 22:33] #230 closed

[2018-03-13 06:12] jamespinkerton opened #706 "Decrease Size of Cluster Question"
Hi. I have a quick question. If I launch a pod to kubernetes and it increases the size of the cluster and then completes, how long does it take for the cluster to shrink again? Is this configurable?

Thanks!
James

[2018-03-13 07:01] feiskyer commented on #703
@jayanthpurushothaman The problem may be caused by upgrading. Azure ARM templates changed after upgrading.

Let me see how to solve this problem.

/assign

[2018-03-13 09:02] bskiba commented on #706
Depending on some factors, it takes between 10 and 20 minutes. There are a couple of mechanisms that delay scale down. For example we wait 10 minutes after a scale up before we even start checking if scale down can happen. Also, we measure the time that the node is unneeded (underutilized) and only delete it after it has been in that state for a significant amount of time (by default 10 minutes fo

[2018-03-13 14:22] jayanthpurushothaman commented on #703
@feiskyer Ok. Thanks a lot.

By the way, would ACS Engine **v0.13.0** allow direct deployments of Kubernetes v1.9.x? The reason why we deployed a v1.8.2 first was because the `acs-engine generate` command was throwing errors when we specify anything above v1.8.2 for `orchestratorVersion` parameter in the JSON file.

[2018-03-13 18:46] WeiCheng1992 opened #709 "Autoscaler is unable to scale up when a node is isolated and ASG is in its minimum size"
Currently, I am running into this issue:

I set the autoscaler with min:max = 30:50. When the group size is 30.
At this moment, if a node is isolated, k8s master cannot talk to this node and even cannot allocate pod into this node. Then the cpu and memory will be 0%.
Then autoscaler try to terminate this machine, but the group  size reaches its minimum. Therefore the scale-down will fail.
Finally