[2019-01-30 12:12] aleksandra-malinowska commented on #1627
Can you provide the yaml of such pod (of course without any user data you don't want to share)? `$ kubectl get pod <pod-name> -o yaml`

The fact that CA is no longer even considering those pods makes me wonder if they're invisible to it for some reason (e.g. don't have condition unschedulable set). Also, are you running HA setup (multiple masters)?

This shouldn't happen. CA will keep considering

[2019-01-30 12:14] aleksandra-malinowska commented on #1627
To clarify: do you increase the same MIG that you expect CA to scale up, or work around this by adding node to a different one?

[2019-01-30 12:36] hello2mao commented on #1615
@BenBlaisdell hi, you are use CA v1.3.2-beta.2 not v1.13.1.
The problem is fixed in this pr #1425 . Suggest using the fixed version or the latest version.

[2019-01-30 13:30] wyb1 opened #1631 "Add Metrics to VPA Recommender"
Hello,
we would like to use the vertical pod autoscaler and it would help if we could monitor the recommendations that the VPA recommender gives with prometheus. Would it be possible to expose these metrics in the VPA recommender?

I'm hoping that the metric could look something like this:

`vpa_recommender_recommendation{container="<container>",job="vpa",pod="<pod>",recommendation_type="lower_bou

[2019-01-30 13:48] bskiba commented on #1631
I assume container and vpa_name is a label? In that case I am afraid that this is against the label best practices in Kubernetes - we want to avoid metrics with huge cardinality and this means that all possible label values should ideally be known beforehand and not too many: https://github.com/kubernetes/community/blob/b3349d5b1354df814b67bbdee6890477f3c250cb/contributors/devel/instrumentation.md

[2019-01-30 13:56] MaciekPytel commented on #1619
For the case of bare metal I think it's worth to explicitly mention that CA is based around a concept of NodeGroup - a resizable set of identical machines. Core CA logic scales up by setting a desired size of NodeGroup, it doesn't create individual VMs. This comes from various implementations of such groups in cloud (ASG on AWS, MIG on GCP, VMSS on Azure, etc).
In bare metal world you may need to

[2019-01-30 14:43] MaciekPytel commented on #1627
It's hard to say much without logs. When the pods are pending, but CA is no longer adding nodes I'd look for the following:
- Are all pending pods marked by scheduler as unschedulable (from your post I understand you already took care of that).
- Are there any log lines in CA saying that "pod <name> marked as unschedulable can be scheduled on <node name>. Ignoring in scale up.". Those mean CA beli

[2019-01-30 17:13] mossuchida commented on #1624
Sorry, It was my mistake. Closing.

[2019-01-30 17:13] #1624 closed

[2019-01-31 07:48] losipiuk commented on #1620
The reason for picking `kube-system` namespace is that it somewhat matches `cluster-autoscaler` purpose (itself being a system component). Other autoscaling controllers (like HPA which is part of controller-manager) are deployed in kube-system namespace.

On the other hand I do not see any strict reasons why it would be not recommended to run CA in other name-space if it is more convenient to some

[2019-01-31 10:48] aleksandra-malinowska commented on #1620
One reason is that kube-system namespace is the only thing preventing CA from trying to evict itself. This would be undesirable as it'd then stop running and not complete deletion of the node until it was restarted somewhere else and node was tracked as unneeded again. Any race condition preventing it from being restarted on another node would completely disable autoscaling.

[2019-01-31 22:48] brycecarman commented on #1547
Verify the rules on the security groups you use for the cluster control plane and for the worker nodes. In particular, verify that the control plane security group allows egress to the worker node security group on port `8000` and the worker nodes allow ingress on `8000` from the control plane.

The default node group template allows port `8000` by default.

[2019-02-01 02:27] khteh opened #1640 "AWS EKS CloudFormation NodeAutoScalingGroupMinSize NodeAutoScalingGroupMaxSize"
Hi, I deploy k8s on AWS EKS using cloud formation which lets me speficy NodeAutoScalingGroupMinSize and NodeAutoScalingGroupMaxSize. How does the aws cluster auto-scaler wok with these 2 parameters? Which one takes precedence? Thanks.

[2019-02-01 05:17] feiskyer commented on #1608
@suker200 Thanks for reporting the issue. This should be fixed within CA. Would file a PR to fix it.

[2019-02-01 06:58] feiskyer commented on #1597
@netiperher Thanks for reporting the issue. Could you share the logs of cluster-autoscaler ?

[2019-02-01 08:03] netiperher commented on #1597
Here are relevant part of logs during scale down, I've also attached a picture of the `cluster_autoscaler_nodes_count` metric, which illustrates the problem of nodes appearing during scale down. My interpretation of the problem (which I tried to explain above) can be seen by these lines from the log:

[code]

[autoscaler-azure-cluster-autoscaler-7b5c8c79bf-gmgtw.log](https://github.com/kubernetes/

[2019-02-01 08:19] feiskyer commented on #1593
/assign

[2019-02-01 08:35] Jeffwan commented on #1640
If you use EKS, by default it's using amazon-linux, you probably want to follow this instruction and update yaml.

Common Notes and Gotchas:
The /etc/ssl/certs/ca-certificates.crt should exist by default on your ec2 instance. If you use Amazon Linux 2, use /etc/ssl/certs/ca-bundle.crt instead.

[2019-02-01 08:59] khteh commented on #1640
Now I get this error:
[code]

[2019-02-01 09:01] feiskyer commented on #1597
Oh, I see. It removes the node one by one sequentially. We should change that to concurrently deletion. Great thanks for reporting the issue.

[2019-02-01 10:46] Deepak1100 commented on #1049
@aleksandra-malinowska  do you guys know the exact problem. if yes can you please let me know.
I may able to raise PR as this issue is giving us lots of problems when we scale all services at the same time.
i had pods in pending state with nominated node coloumn but there were lots of those pods. and i didn't tried to deleted them as i have scaled up manually as it was urgent.

i'll try to reprodu

[2019-02-01 11:42] aleksandra-malinowska commented on #1049
I strongly suspect this fix solves the issue w/ nominatedNodeName: https://github.com/kubernetes/kubernetes/pull/72895

1.13.3 should include it.

[2019-02-01 12:20] #1593 closed

[2019-02-01 12:47] carlosedp opened #1645 "addon-resizer changed parameter, examples still with "threshold""
Since commit https://github.com/kubernetes/autoscaler/commit/93942efb7530a7d266dd7d7a0c83b0417b049471, addon-resizer changed the --threshold parameter to --acceptance-offset but the documentation wasn't updated.

[2019-02-01 13:52] khteh opened #1646 "AWS latest source code cluster-autoscaler-autodiscover.yaml error"
[code]

[2019-02-01 14:57] mlarrousse commented on #1049
I'm also on 1.11.6 and seeing this issue with GKE, without nominatedNodeName. 1.11.7 seems to have a lot of related fixes, just waiting for it to be released on GKE.

[2019-02-01 16:12] bskiba commented on #1574
I've released 0.3.1 that contains the fix. LMK if it didn't solve the issue.

[2019-02-01 16:12] #1574 closed

[2019-02-01 16:15] bskiba commented on #1351
I'm closing this as a sad WAI, hoping the time will come when someone solves this mess.

[2019-02-01 16:15] #1351 closed

[2019-02-01 16:16] bskiba commented on #1182
It seems not very urgent, and the problem reported by @davidquarles has been fixed. Closing.

[2019-02-01 16:16] #1182 closed

[2019-02-02 00:18] Jeffwan commented on #1640
@khteh  #1553 you can look at this issue. If it's still not working, let me know.

[2019-02-02 04:07] koooge opened #1647 "cluster-autoscaler/aws: Unable to get instance type"
Hi there ✋
I tried to set new ASG's launch template option to "Combine purchase options and instances". But it failed to scale up due to the missing instance type. Isn't this option supported yet?

[code]

https://aws.amazon.com/about-aws/whats-new/2018/11/scale-instances-across-purchase-options-in-a-single-ASG/?nc1=h_ls

[2019-02-02 07:36] #778 closed

[2019-02-02 08:40] dnutels commented on #1620
Right. That is a pretty important reason.

PR for docs: https://github.com/kubernetes/autoscaler/pull/1648

Keep in mind that this required me to sign Linux CLA... which I do not intend to do. Your call.

[2019-02-03 02:50] khteh commented on #1640
I don't see anything there.

[2019-02-03 03:50] ElanHasson commented on #734
@ricolin, Thanks for working on this.

Wouldn't Nova be pretty straightforward to implement? If imagine some value would need to be passed to enable joining the cluster perhaps via kubeadm...via cloudinit and new node metadata?

Can you please provide more details of the implementation?

[2019-02-03 06:56] khteh commented on #1640
Doesn't help:
[code]
[code]

[2019-02-03 15:07] #877 closed

[2019-02-03 22:16] Jeffwan commented on #1646
/assign @Jeffwan

[2019-02-03 22:40] Jeffwan commented on #1647
/assgin @Jeffwan

[2019-02-03 22:45] Jeffwan commented on #1647
This is not supported yet. We need to consider price model for long time at this moment since the way fleet abstract is different from the nodegroup abstract in the past.

Fleet support OnDemand/ Spot and different node flavors in one node group. Currenctly, ca use node group to differentiate node flavors.

Please track status on issue and probably just close this one. Thanks!
https://github.com/a

[2019-02-03 22:47] Jeffwan commented on #1647
/assign @Jeffwan

[2019-02-04 00:04] Jeffwan commented on #1640
Looks like you didn't follow right example yaml.  The one you get is from `master` branch which doesn't have any Environment variables.

Can you add AWS_REGION to your yaml file? v1.2.x is old version and master has latest changes.
https://github.com/kubernetes/autoscaler/blob/e258d5e57764fbcbf3bb293f085c4e6f337878fb/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml#L14

[2019-02-04 00:10] Jeffwan commented on #1640
If you like to use nodegroup auto discovery, make sure your ASG has tags. Please follow instruction here. https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws

[2019-02-04 00:11] Jeffwan commented on #1646
This is reported in #1640 You are using latest example yaml with v1.2.x container image. Please consistently use right combination.

[2019-02-04 03:16] khteh commented on #1640
`tag=k8s.io/cluster-autoscaler/enabled,k8s.io/cluster-autoscaler/<YOUR CLUSTER NAME>`
What's the key and value?

[2019-02-04 03:19] khteh commented on #1640
Got it: `It does not matter what value the tags have.`

[2019-02-04 03:55] #1640 closed

[2019-02-04 03:56] #1646 closed

[2019-02-04 07:43] bskiba commented on #1647
Closing in favour of the issues mentioned by @Jeffwan. Thanks!
/close

[2019-02-04 07:43] #1647 closed

[2019-02-04 08:18] bskiba commented on #1645
Thank you for reporting, we will be happy to accept contributions on this one!

[2019-02-04 09:10] khteh opened #1649 "AWS EKS autodiscover autoscaling Pod scheduling failed"
Failed scheduling pod. Any advice and insight is appreciated.
[code]

[2019-02-04 09:58] khteh commented on #1649
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml

which pod? My cluster is multi-zone.

[code]

[2019-02-04 10:06] aleksandra-malinowska commented on #1649
This line suggests you may have multi-zone ASG. If a pod is requesting a volume in zone A, but CA uses as template node from zone B in the same group, this predicate fails.

Basically, multi-zone instance groups are incompatible with the basic assumption that all nodes in a node group will be identical. It's also not simply a matter of working around this assumption - if the Cluster Autoscaler can

[2019-02-04 10:42] khteh commented on #1649
" if the Cluster Autoscaler can't control in which zone the new instance will be created" - what prevents the CA from controlling it then? My cluster has 3 availability zones. Do you have anything that works with multi-zone? After all, this is required for high availability.

[2019-02-04 10:45] aleksandra-malinowska commented on #1649
Do you have (1) a _single_ ASG that spans multiple zones, or (2) multiple ASGs, each in one of the zones? Cluster Autoscaler supports high availability setup via (2). If you have (1), only ASG controls where it starts a new instance. As far as I understand, there's no API that would allow the user to choose a zone for a new instance in this case.

[2019-02-04 11:11] khteh commented on #1649
I have (1). Does it mean that I cannot use the CA in this case? Thanks.

[2019-02-04 11:17] Jeffwan commented on #1640
@khteh Glad you figure it out. normally, we can do
[code]

[2019-02-04 12:17] khteh commented on #1649
"there's no API that would allow the user to choose a zone for a new instance in this case." - which cloud provider does the cluster autoscaler work seemlessly now with "multi-zone"?

[2019-02-04 12:24] aleksandra-malinowska commented on #1649
That depends what you call "seamless"; for example, on GKE the multi-zonal node-pool is implemented as multiple single-zone instance groups, which are treated as independent node groups. This is essentially the same setup as (2).

You're not the first person questioning this setup, it comes up every couple of months at least since https://github.com/kubernetes/contrib/pull/1552#discussion_r7553294

[2019-02-04 12:35] khteh commented on #1649
Is it something that we can do to enroll the cloud providers to provide this APIs?

[2019-02-04 15:16] khteh commented on #1649
Is it possible to achieve (2) on AWS EKS?

[2019-02-04 16:15] aleksandra-malinowska commented on #1649
There are definitely users with this setup on AWS. I'm not sure how EKS provisions multi-zone node groups, so I can't answer here. cc @Jeffwan

[2019-02-04 19:11] Jeffwan commented on #1649
@khteh Not sure how did you provision your EKS cluster?

If you use [eksctl](https://github.com/weaveworks/eksctl),
1. You can easily add `--node-zones` to make ASG only bring up nodes in one single region.

eksctl create cluster --name=sample-cluster --nodes=2 --node-type=m4.xlarge --ssh-access --region=us-west-2 --node-zones=us-west-2a

2. If you need more ASG, check [here](https://github.com/we

[2019-02-04 21:33] Jeffwan commented on #1208
This has been supported in v1.3.x and later released. Should be safe to close.

[2019-02-04 21:33] Jeffwan commented on #1208
/close

[2019-02-04 21:33] #1208 closed

[2019-02-05 06:33] Jeffwan commented on #1649
Hi @khteh, Then you need to make changes in CloudFormation. Use single AZ before you create node group.

![image](https://user-images.githubusercontent.com/4739316/52256756-da27ed80-28cc-11e9-8a09-b76ac3e20eb3.png)

[2019-02-05 06:40] khteh commented on #1649
I have deleted my cluster and created it using eksctl. How to create a new AWG with different availability zone?

[2019-02-05 06:42] khteh commented on #1649
And how to get details of which AZ each ASG runs? `eksctl get nodegroup --clustername=<foo>` does not give much information.

[2019-02-05 06:43] Jeffwan commented on #1649
@khteh Can you follow instruction I attached? It has all the information you need.

To get AZ info for reach ASG, I would recommend you to go to AWS portal.

[2019-02-05 06:46] khteh commented on #1649
I correct my question: "How to create a new ASG in a  specific availability zone?" eksctl does not have this AZ command-line option.

[2019-02-05 07:11] Jeffwan commented on #1649
@khteh

I think this is what you want, just add `--node-zones` option.

[code]

[2019-02-05 07:46] Globegitter commented on #1629
@johanneswuerbach yes we use this flag and it is set to 0.5, but the point is if we have e.g. 10 nodes at 0.6 utilization this will not kick in even though we could easily scale down a couple of nodes.

[2019-02-05 08:46] johanneswuerbach commented on #1629
Correct, because you specified that only nodes below 50% utilization should be included (the 0.5 flag setting) if you set it to >0.6, the nodes would be included and CA would try to increase density further.

The flag basically specifies the maximum allowed overprovisioning of resources and that is 50% per default and your cluster is above that on all its nodes.

[2019-02-05 08:59] nielsole opened #1650 "Cluster Autoscaler unaware of ephemeral storage of ASGs without nodes"
When an ASG has 0 nodes, the cluster autoscaler does not scale up the nodes for pods which have `ephemeral-storage` requests with the error message: `reason: Insufficient ephemeral-storage`

When a node of the same ASG already exist, the scaling works fine.

This seems to be similar to the issue with taints and labels of nodes, which can be set via tags on the ASG. I could not find a similar funct

[2019-02-05 08:59] khteh commented on #1649
It works now. Thanks!

[2019-02-05 08:59] #1649 closed

[2019-02-05 13:31] carlosedp commented on #1645
Created #1651 for this.

[2019-02-05 18:45] 97turbotalon commented on #1458
If anyone else comes across this post, this is how I got around having to maintain my own docker image.
I also found that way more memory was being allocated to pods then was necessary.

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: vpa-recommender
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      annotations:
      labels:
        app: vpa-recommende

[2019-02-05 18:58] aleksandra-malinowska commented on #1650
Agreed. That being said, predicting what a node will look like in scale from 0 is usually tricky. Ideally, this should be possible to deduce from ASG's template/image/whatever it has that serves as blueprint for new instances.

[2019-02-05 20:16] nielsole commented on #1650
Guesstimating could always be wrong because of the AMI and user_data
that installs stuff on the first boot.To get started, a manual possibility via ASG Tags to configure it would
suffice at least for our use case.This could be held generic enough to support other resource types that
face the same issue.What do you think?

On Tue, Feb 5, 2019, at 7:59 PM, Aleksandra Malinowska wrote:

Links:

  1.

[2019-02-05 20:41] aleksandra-malinowska commented on #1650
I don't really mind either way, like @bskiba stated above, it's cloud provider specific part of code. Tags alone without fallback to some guesstimate will put extra configuration burden on the users, but perhaps this is acceptable.

And yeah, guessing game is exactly what I meant by tricky - same problem with estimating kernel memory reservation, which can be different for each OS/version/instance

[2019-02-05 22:30] aerostitch opened #1652 "Cluster-autoscaler minimum number for nodes"
Hi,

We're using the cluster-autoscaler 1.3.5 with k8s 1.11.6 on latest coreos in AWS.
During the night we have some jobs that do sudden spikes of cpu usage, which we handled in the past by setting the minimum size of the autoscaling group via the nodes flag: `--nodes=40:120:services-k8s-worker` as we are fine keeping some provisioning overhead.
We are on AWS and have been running k8s way before E

[2019-02-05 22:47] aleksandra-malinowska commented on #1652
Node group size limits are only applied to scale-up/scale-down. Cluster Autoscaler won't add or remove any nodes just to bring the value within range (it never did). So if the group went to 30 back when that was a minimum limit, it's WAI.

There was a bug some months back when due to race condition limits on AWS could be violated under some conditions, but 1.3.5 should have the fix for this.

Rega

[2019-02-06 01:00] aerostitch commented on #1652
Right, that makes sense, there was a manual scale down recently right before we started to see some issues with the short burst.
Thanks for the reminder! :)

[2019-02-06 01:00] #1652 closed

[2019-02-06 01:22] suneeta-mall opened #1653 "failed to renew lease kube-system/cluster-autoscaler: failed to tryAcquireOrRenew"
I am running on Kubernetes 12.5 with etcd3 with cluster-autoscaler `v1.2.2` (on AWS) and my cluster is running healthy with everything operation. After some scaling activity. cluster autoscaler goes into crash loop with error as following:

[code]

Everything in cluster seem to work perfectly find and masters, cluster and etcd are all healthy.
Is there a way any way to resurrect/resolve this issue

[2019-02-06 08:33] yuriwoof commented on #1612
@feiskyer
Sorry for late reply.
Actually I do not have cluster-autoscaler log. I have extracting from Azure platform side.
If possible, can I share the information though internal email.

[2019-02-06 09:18] MaciekPytel commented on #1653
This suggests either CA has a problem reaching apiserver or apiserver is unhealthy. Can you check if the same happens to other system components (ex. kube-controller-manager?). They use the same
generic Kubernetes leader election library that CA uses. Usually when I see this problem it's because of an overloaded apiserver and it impacts multiple controllers.

[2019-02-06 18:58] suneeta-mall commented on #1653
@MaciekPytel  Thats what I thought but rest of the cluster, including all kube-system component works fine. None of them has restarted.

[2019-02-06 21:57] rbankole commented on #1602
your solution really doesn't make any sense to me. free account solves the issue???

[2019-02-07 05:23] anoopl commented on #1602
@rbankole  On our company's account some one is running a policy/script which removes the tags from VMs. To test this i created a free account and ClusterAutoscaler worked there perfectly.

BTW now Cluster Autoscaling is a feature of AKS as preview. Read the last part of this to see how to enable this:
https://medium.com/@anoopl/cluster-autoscaler-on-aks-d3028a89313a?source=user_profile---------2-

[2019-02-07 12:00] aleksandra-malinowska commented on #1653
To rule out version skew as the cause (Kubernetes 1.12.5 and Cluster Autoscaler 1.2.2), can you please try using newer version of autoscaler? We've Recommended versions:
- Kubernetes 1.10.* with CA 1.2.*
- Kubernetes 1.11.* with CA 1.3.*
- Kubernetes 1.12.* with CA 1.12.* (we've changed versioning scheme to match Kubernetes' minor version)

[2019-02-07 14:47] bskiba commented on #1295
Both 0.3.0 and 0.3.1 are available and should be free of this issue.
/close

[2019-02-07 14:47] #1295 closed

[2019-02-07 15:24] mattnworb commented on #1295
@bskiba thanks for the update

[2019-02-07 22:18] #1195 closed

[2019-02-08 05:59] suneeta-mall commented on #1653
Ah ok .. WIll try 1.12 ..thanks for letting me know @aleksandra-malinowska

[2019-02-08 12:48] dvianello opened #1658 "Cluster-autoscaler and WaitForFirstConsumer binding mode"
Hello all,

we're running a multi-AZ k8s cluster in AWS (kops-)configured with the recommended 1 ags/per AZ setup to avoid imbalances and issues with PVs.

Unfortunately, some of the instance types are _not_ available in all AZs, so while the rest of the nodes are across 3 AZs (`eu-west-1{a,b,c}`), the "special" nodes are only configured with ASGs in two of them (`eu-west-1{b,c}`). However, this b

[2019-02-08 13:01] aleksandra-malinowska commented on #1658
It's probably due to a very common configuration issue with AWS setup. Doesn't work: single ASG spanning multiple zones. Works: multiple ASGs, each in a single zone. TL;DR there's no way to ask multi-zone ASG to create instance in a particular zone, so it results in random behavior.

[2019-02-08 13:22] MaciekPytel commented on #1658
It's not so much an expected behavior as it is a longstanding known issue. CA has problem with multi-zonal clusters and PVs. More generally there are problems with any feature that relies on using informers inside scheduling predicates (ex. anything with zones and storage, pod affinity/antiaffinity)

Technical details: CA works by predicting 'what would scheduler do if I added a node of given type

[2019-02-08 13:59] dvianello commented on #1658
Hi @MaciekPytel,

thanks for that! Always good to know the technical details :-)

If the scheduler is using the same predicates that CA is using, wouldn't that imply that the scheduler itself won't be able to "see" the PV backed by a `storageclass` with `WaitForFirstConsumer` enabled and thus fail to schedule? They must have injected some magic somewhere to get this to work - can't the same magic

[2019-02-08 14:01] aleksandra-malinowska commented on #1658
Just looked into scheduler and it seems the PVC should be created even with WaitForFirstCustomer before scheduling, but only after the pod is created. Is this accurate? If yes, perhaps allowed topologies can be set to ensure it is provisioned in one of the target zones: https://kubernetes.io/docs/concepts/storage/storage-classes/#allowed-topologies

[2019-02-08 14:09] dvianello commented on #1658
Yes, that is my understanding as well.

Just tried again with our modified storage class, and a PVC gets creates but it stays in a Pending state:
[code]

[2019-02-08 14:18] wyb1 commented on #1631
Any update here? I asked in the slack channel and haven't gotten a response yet.
However, I believe that the metrics are reasonable to add. I assume that in most cases VPAs are stable and do not get created/deleted very often unlike pods. Each VPA would have one set of the proposed metrics. So the amount of metrics go up and down based on the number of VPAs in the cluster. With the aforementioned

[2019-02-08 14:45] aleksandra-malinowska commented on #1658
So it seems volume controller will wait for scheduler to give it a hint (put node name in annotation) before provisioning anything: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/pv_controller.go#L289

And it kind of makes sense - in a fixed size cluster, there's no point provisioning a volume if there's no suitable node, and if there's a node, we want

[2019-02-08 15:06] bskiba commented on #1631
In general, I am still against putting this into core VPA. The biggest problem is that the set of label values is not known up-front and can be arbitrarily big, this is exactly what we want to avoid in core metrics. VPAs can be created for all the deployments in a cluster, in big clusters this can get very problematic.

It shouldn't however be too hard to implement your own controller scraping thi

[2019-02-08 15:07] bskiba commented on #1631
I'll close this one, unless I get clear signal from sig-instrumentation that this would be somehow ok, I'm against.
/close

[2019-02-08 15:07] #1631 closed

[2019-02-08 15:09] dvianello opened #1659 "Cluster autoscaler scaling too much with GPU nodes"
Hello there,

playing with GPU instances & autoscaler on AWS, we're seeing something strange.

We've added the ` cloud.google.com/gke-accelerator` label to the GPU nodes to help autoscaler recognizing that we're bringing up a GPU node,  and we do see
[code]
popping around in the logs.

Sometimes (I suspect race condition here) everything works fine and only _one_ node gets provisioned.  In other c

[2019-02-08 15:29] dvianello commented on #1658
Is this something CA plans to support at some point? It would solve the multi-zone ASG issue, doesn't it?

Uhm, you mean limiting the zones where the storageclass can create PVs? Yes, can do. We were trying to avoid having special storageclasses and only fly with a default "smart" one, so that if we don't need the special nodes we can take advantage of all the AZs.

[2019-02-08 15:36] MaciekPytel commented on #1658
Ideally yes, but as I wrote above it's not likely to happen in the next 6 months.

[2019-02-08 15:48] MaciekPytel commented on #1659
The gke-accelerator thing is very much a hack and it works by internally pretending the node hasn't started up yet. It specifically relies on difference between node creation time and LastTransitionTimestamp of NodeReady condition to game the rest of CA logic, so the fact that it flips breaks the whole hack.

You can try changing the const https://github.com/kubernetes/autoscaler/blob/master/clust

[2019-02-08 16:33] dvianello commented on #1659
Fair enough - we'll try to avoid that restart on our side.

Thanks for the help!

[2019-02-08 16:33] #1659 closed

[2019-02-09 09:01] jayanthpurushothaman opened #1660 "Cluster Autoscaler 1.3.5 doesn't remove additional disks when scaling down nodes"
**Cluster Autoscaler version: 1.3.5
Kubernetes: 1.11.6
OS: Ubuntu 16.04 LTS
Disk Type: Premium SSD (Managed)
VM Type: Standard E8s V3
Cloud: Microsoft Azure**

When Cluster Autoscaler scales down the Kubernetes Cluster, it removes only the OS disk attached to the VMs but ignores all other additional Managed disks. We have to manually clean up afterwards. Can this bug be looked at and fixed? Logs b

[2019-02-09 10:43] netiperher opened #1661 "Azure AKS cluster autoscaler hangs during up scaling"
CloudProvider: Azure AKS
Kubernetes version: 1.11.5
Cluster Autoscaler version: 1.3.5
ACS-Engine version: v0.26.3-aks

In our setup we run an Azure AKS cluster with multiple nodes that each run a single pod requiring all resources on the node. The pods are part of a statefulset that we scale quite aggressively from 2 to 20 and then back to 2 replicas at regular intervals.

Sometimes (<10%) when sc

[2019-02-09 10:56] #1167 closed

[2019-02-09 10:56] #1112 closed

[2019-02-09 10:56] #1161 closed

[2019-02-11 01:27] feiskyer commented on #1661
@netiperher Thanks for reporting the issue.

Have you noticed why autoscaler pod is crashing? e.g. what errors are reporting then?

[2019-02-11 07:35] netiperher commented on #1661
When this happens (also in this example) the autoscaler is killed by the liveness probe. We use the default values of 3 failed probe at 10 second interval.

[2019-02-11 11:26] suhas184 opened #1665 "vpa "auto" mode does not work with replicas: 1"
The vpa hamster example in the git repo does not work if the replica count is decreased to 1 .

The deployment object definition is as below:
_apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: hamster
spec:
  replicas: **2**_

if we  change the replicas to , it doesn't evict the pod and creare a new one with recommended cpu and memory. The recommendation is provided but it does not

[2019-02-11 14:55] c3mb0 opened #1666 "Allow honoring AWS ASG cooldown"
EKS does not allow direct interaction with `kube-controller-manager`, hence it is impossible to set the `--horizontal-pod-autoscaler-upscale-delay` flag, which leads to [thrashing](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-cooldown-delay). One way to tackle this situation could be to tell `cluster-autoscaler` to honor ASG cooldowns. Right now, it is a h

[2019-02-11 15:22] netiperher commented on #1661
So maybe there are two problems in this issue. One is that the autoscaler was killed, possibly due to deleting the VM took longer than normal.
The other issue that is also more relevant for us is why the autoscaler was stalled for 25 minutes between ~16:50 and 17:15. Somehow it failed during scale up from 16 to 20 nodes. But then after 15 minutes the machines are finally up, but then the autoscale

[2019-02-11 16:18] aleksandra-malinowska commented on #1666
I'm not sure if this would actually help much with this, but feel free to send a PR if you verify it works. cc @Jeffwan

[2019-02-11 19:23] #1650 closed

[2019-02-11 23:57] mabushey opened #1669 "cluster-autoscaler-run-on-master.yaml: error converting YAML to JSON"
[code]

[2019-02-12 00:07] mabushey commented on #1669
apparently you have to manually replace the config in the yaml file lines `- --nodes={{ node_asg_min }}:{{ node_asg_max }}:{{ name }}` and `value: {{ region }}` with the proper settings.

[2019-02-12 05:52] Jeffwan commented on #1669
@mabushey I will add comments in the doc to remind replacing params.

[2019-02-12 05:52] Jeffwan commented on #1669
/assign @Jeffwan

[2019-02-12 06:14] Jeffwan commented on #1666
@c3mb0 I can help on this issue and let us know if you want to take it or not.

[2019-02-12 08:33] c3mb0 commented on #1666
@Jeffwan Yeah I'll take it, any ideas on the naming of the flag? Do other cloud providers have such honoring system, or should it be AWS specific? How does `--honor-aws-asg-cooldown` sound? Or something more generic such as `--honor-node-group-cooldown`?

[2019-02-12 09:09] c3mb0 commented on #1666
I just noticed the proper flag to control the situation actually came with [1.13.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.13.0). Would it make more sense to backport it for 1.3.x since EKS is running 1.11.5?

[2019-02-12 09:40] immarvin commented on #1619
hi @aleksandra-malinowska , I mean `CA modifying Terraform config of the cluster to change number of nodes`

[2019-02-12 09:43] Jeffwan commented on #1666
I prefer generic one. Looks like GCP instance group has concept [cool_down_period] (https://cloud.google.com/sdk/gcloud/reference/compute/instance-groups/managed/set-autoscaling#--cool-down-period).

I am not sure which flag you are talking here?

If we think that's feature request but not a bug fix, it's better to against master and cherry-pick feature into 1.3.x.

BTW, as Aleksandra@ said, it ma

[2019-02-12 09:56] immarvin commented on #1619
hi @MaciekPytel , I go through the Doc of ASG@AWS, VMSS@Azure and Heat@Openstack, I think I get the NodeGroup concept in Cloud autoscaling.

Seems most Public Cloud Providers provide their own implementation of Autoscaling feature, the workflow looks similar, like
#1. define and create resource node group
#2. define the autoscaling policy
#3. enable LoadBalance on the node group
#4. enable the aut

[2019-02-12 10:04] aleksandra-malinowska commented on #1619
It just uses create/delete and in some cases templates provided by groups. It's strongly recommended to disable all cloud autoscaling functionality, the reason being that two autoscalers manipulating the same resources tend to chaotically break things.

The feature scope is duplicated, but the underlying algorithm has no overlap with typical VM autoscalers, which are usually not well suited for au

[2019-02-12 10:12] aleksandra-malinowska commented on #1666
Which flag do you mean?

This only applies if MIG autoscaler is used, not when using CA.

[2019-02-12 11:50] danmassie opened #1674 "[Azure AKS] 403s received from Azure when listing VMSS instances"
aks-engine 0.27.0
kubernetes 1.13.1
cluster autoscaler v1.13.1

The cluster autoscaler periodically receives 403s from Azure which results in the pod restarting where it resumes normal behaviour until receiving a further 403.

`E0208 08:54:43.057787       1 azure_scale_set.go:199] VirtualMachineScaleSetVMsClient.List failed for k8s-agentpool1-39472669-vmss: compute.VirtualMachineScaleSetVMsClient#

[2019-02-12 12:14] c3mb0 commented on #1666
`--new-pod-scale-up-delay`

I now believe the proper solution to the trashing problem is to cherry-pick relevant commits from master into 1.3.x instead of stalling the scale up process through errors thrown via honoring. Should I close the issue?

[2019-02-12 12:15] khteh opened #1675 "Scale-out latency?"
Hi, I am using AWS EKS with multi-ASG in multi-zones and I have deployed the autodiscover autoscaler. Is there any measured data regarding node scale-out latency? What measures does the autoscaler take to prevent production downtime due to the node scale-out latency when there is a sudden surge of load? Thanks.

[2019-02-12 16:36] leonsodhi-lf opened #1676 "AWS EKS cluster autoscaler only using ASGs that have at least one node"
CloudProvider: AWS EKS
Kubernetes version: 1.11.5
Cluster Autoscaler version: 1.3.6

With the autoscaler options shown below and multiple identical ASGs (other than AZ), new nodes always end up being created using an ASG that has at least 1 node. Looking at the logs, autoscaler considers these ASGs to have the least memory wastage:

[code]

If I manually set the desired count on the `m5_large_az2`

[2019-02-12 16:43] leonsodhi-lf commented on #1675
@khteh you've probably already seen it, but the FAQ has a [Q/A](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-service-level-objectives-for-cluster-autoscaler) related to latency.

[2019-02-12 17:17] aleksandra-malinowska commented on #1676
That's probably because actual node's memory is slightly different from predicted memory based on machine type (due to kernel reservation, specific to a given OS/machine combination). It follows that least waste expander prefers existing groups as it believes they have less memory. #1643 will somehow improve the prediction by caching node templates, but it's not a complete solution: if there was a

[2019-02-12 18:07] MaciekPytel commented on #1675
Note that all CA does is request a node from cloudprovider. As such the only thing we can control is how long it takes CA to make an autoscaling decision. How long it takes to spin a VM and register it in Kubernetes is up to cloud provider.

[2019-02-12 19:00] leonsodhi-lf commented on #1676
Thanks @aleksandra-malinowska. Focusing on (1), running another test with a pod that requests most of a node's memory resources seems to produce a larger difference between actual vs. predicted:

[code]
The rest of the suggested options sound promising, though. I'll think on it.

[2019-02-12 21:16] Jeffwan commented on #1666
@c3mb0

This flag is used to give CA extra time for pending pod to be scheduled.. [PR](https://github.com/kubernetes/autoscaler/pull/1245/files)

Even CA doesn't have any cross version testing, I think maybe you can test this feature using closest CA version with this feature since we are not sure if this will help on your case?

Once you confirmed, we can help cherry-pick the feature to 1.3.x.

S

[2019-02-12 21:33] jfoy commented on #1431
@frederiksf Not sure about the scale-from-zero case, but per https://github.com/kubernetes/contrib/pull/1552#discussion_r75532949 , CA asks the cloudprovider for a sample Node from the NodePool, and asserts that any capacity it adds in that NodePool will have exactly the same characteristics as the sample Node.

[2019-02-13 00:59] khteh commented on #1675
Thanks!

[2019-02-13 00:59] #1675 closed

[2019-02-13 01:04] Jeffwan commented on #1666
/assign @Jeffwan

[2019-02-13 11:37] c3mb0 commented on #1666
I will try 1.13.0 and open another issue regarding cherry-picking after some observation, thank you @Jeffwan.

[2019-02-13 11:38] #1666 closed

[2019-02-13 13:53] drewhemm commented on #1658
I just ran into this issue too; what's the current workaround? Is it to pre-provision volumes in each AZ so that when an instance is started, it will have a pool to select from regardless of its placement?

@aleksandra-malinowska I didn't quite understand your comment about `allowedTopologies`. Would that mean one would need to have multiple storage classes (one per AZ) and then specify that class

[2019-02-13 14:23] MoJo2600 opened #1681 "[AWS] Autoscaling not working with podAntiAffinity and topologyKey failure-domain.beta.kubernetes.io/zone"
Hello,

I'm not sure if this is an issue or I am using the autoscaler wrong. So any advice is highly appreciated. I have a cluster set up with kops which is currently running in 1 AZ, but the Autoscaling Group is set up to use multiple AZs. On pod is already running on this node. The second node has the following podAntiAffinity configured:

[code]
This pod is now all the time in Pending state. Th

[2019-02-13 14:29] MaciekPytel commented on #1681
Autoscaler assumes every node in a NodeGroup (ie. Autoscaling Group) is exactly identical, including running in the same zone. Multi-AZ groups are not supported - instead we suggest using a separate ASG in each zone.

[2019-02-13 14:42] MoJo2600 commented on #1681
Ok, thank you for this explanation. That makes perfectly sense and I know how to change my setup to get it running!

[2019-02-13 14:43] #1681 closed

[2019-02-14 09:27] jkaniuk commented on #1503
This FAQ entry could be of help:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler

[2019-02-14 10:37] immarvin commented on #1619
hi @aleksandra-malinowska , your explanation and the methods in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go make me much clear.

thanks a lot.

I noticed that besides `cloud_provider.go`,  there are files like `node_group_discovery_options.go`, what are these `discovery` functions for?

[2019-02-14 10:54] #923 closed

[2019-02-14 11:08] aleksandra-malinowska commented on #1619
It can be impractical to have to restart autoscaler and change its flags every time a node group is added or removed to a cluster, so some cloud providers support automated discovery of node groups via e.g. matching instance group name or tags.

[2019-02-15 07:22] khteh opened #1694 "Multi-AZ Multi-ASG on AWS EKS does not scale down?"
I use auto-discover autoscaler on AWS EKS with multi-az and multi-asg with nodes-min=1, ndoes-max=5 on every ASG. Somehow it has scaled up to 5 nodes but `kubectl top nodes` does not show such high resource demands and it doesn't scale down. This worries as costs concerns. Any advice and insight is appreciated!
All my statefulsets resources specs:
[code]
[code]
[code]

[2019-02-15 07:43] Jeffwan commented on #1694
/assign @Jeffwan
There're many reason that CA won't scale down your nodes. Please check if your case meet one of them https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#i-have-a-couple-of-nodes-with-low-utilization-but-they-are-not-scaled-down-why.

For further investigation, could you share CA logs?

[2019-02-15 07:43] Jeffwan commented on #1694
/assign @Jeffwan

[2019-02-15 07:46] khteh commented on #1694
The logs is huge. How to retrieve your required logs?

[2019-02-15 07:52] khteh commented on #1694
[code]

[2019-02-15 07:53] Jeffwan commented on #1694
By default, CA runs scale up/down logic every 10s. `kubectl logs --tail=100 your-ca-pod` will fetch latest 100 lines.

[2019-02-15 07:54] khteh commented on #1694
[code]

[2019-02-15 07:57] Jeffwan commented on #1694
[code]

1. skipping 2 node because the min ASG of them is equal to desired nodes of ASG.
2. the other 3 utilization is over 50% which can not be scaled down.

[2019-02-15 08:00] khteh commented on #1694
I don't understand (1). Can you please provide more details?

Wouldn't the other 3 which has utilization over 50% fulfill desired nodes of --node-min=1 for all 3 ASGs and therefore shutdown the 2 nodes in (1)?

Thanks.

[2019-02-15 08:06] feiskyer commented on #1612
Checked offline. The cluster has been deleted now.

/close

[2019-02-15 08:06] #1612 closed

[2019-02-15 08:34] Jeffwan commented on #1694
They are in the different ASG. CA will make decision for each ASG.

Let's say ip-192-168-74-168.ap-southeast-1.compute.internal and ip-192-168-1-88.ap-southeast-1.compute.internal are in different ASG with min = 1, max=10.

CA will check ASG one by one, since desired = min, CA will skip resource calculation of that node. If you set ASG/min to 0, this node could be considered as scale down candidat

[2019-02-15 09:03] khteh commented on #1694
I have 3 ASG and --node-min=1 and --node-max=5 each. I don't mind running 3 nodes which is more than enough but five is overkill and over-cost. How to achieve that?

I use --node-min=1 so that I could have the nodes spread out to all AZs for HA purpose. Would --node-min=0 prevent the nodes to spread out to different AZs?

[2019-02-15 09:30] losipiuk commented on #894
This is fixed with #1407

[2019-02-15 09:30] #894 closed

[2019-02-15 10:16] aleksandra-malinowska commented on #1694
No. If you care about spreading load at such small cluster size, minimum size of 1 in at least one ASG in each zone makes sense. If you really want to scale-down aggressively to the minimum with it, you can do it with the following combination:
- --utilization-threshold=0.9 (or sth high like this)
- PDBs for kube-system pods with minUnavailable=1 or higher - this will allow kube-dns, heapster, met

[2019-02-15 10:26] khteh commented on #1694
Sorry, what's PDBs?

[2019-02-15 10:29] khteh commented on #1694
Where do I specify `--utilization-threshold`?

[2019-02-15 10:32] aleksandra-malinowska commented on #1694
[Pod Disruption Budgets](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work), which allow you to control voluntary eviction of pods. Cluster Autoscaler respects them for all pods for which they're set up. However, if there's no PDB covering a given pod, default behaviour differs based on namespace - kube-system pods aren't moved, while replicated pods from

[2019-02-15 10:43] khteh commented on #1694
I don't find the flag:
[code]
Neither do I find it in the readme. Please advise. Thanks.

[2019-02-15 12:39] tcolgate commented on #1049
Has anyone tested 1.11.7 yet? We are seeing this since our 1.11 upgrade (we think).

[2019-02-15 12:57] aleksandra-malinowska commented on #1694
Sorry, it's actually `--scale-down-utilization-threshold`, forgot the exact name:/ Code: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/main.go#L96, FAQ: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca

[code]

That's probably because you're not overriding the default now. You can add it to arguments list.

[2019-02-15 13:20] khteh commented on #1694
Looking at the following output, I am really not sure if lifting that cutoff line would help as the utilizations are quite low:
[code]

[2019-02-15 13:43] khteh commented on #1694
I set the parameter to 0.8 and manage to scale it down to 4:
[code]

[2019-02-15 13:43] #1694 closed

[2019-02-16 03:02] mfilotto commented on #1665
This is the expected comportment.
The updater is by default configure to change only with a min of 2 replicas

https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/main.go#L42

Till now I think we cannot change default parameters, an issue is open about that concern
https://github.com/kubernetes/autoscaler/pull/1664

[2019-02-16 12:43] #740 closed

[2019-02-17 04:00] suneeta-mall commented on #1653
@aleksandra-malinowska That did not help .. observerd same behaviour of crash in loop. It was interesting to note that the problem surfaced only when the number of nodes autoscaler managed was about 200 or more ...  Every time, I brought down number of nodes anywhere  1k-200 range to 150 or less the autoscaler recovered and functioned properly. Rest of the kube-system component remained functional

[2019-02-17 10:05] miry commented on #1653
@suneeta-mall can you provide logs with strace for  * CA 1.12.*. It would be easy to find the place. Also can you provide deployment script. It would help to understand what options were enabled and do you have memory limits and etc.

[2019-02-17 22:02] suneeta-mall commented on #1653
@miry Yeah sure .. I will work on getting the logs .. heres the deployment script:
[code]
Is there any instructions on getting logs with strace  when issue results into crash ? I assume you mean wrapping the autoscaler command with strace and sending the logs .. is that enough or any more specific details you are after?

As for possible problems, yes agree its certainly possible that api-server is

[2019-02-18 04:21] feiskyer commented on #1674
From the logs, the client '6053ad54-5340-4d95-8842-9f2ac12c4566' hasn't been authorized to VMSS APIs. Could you configure the AAD for it?

[2019-02-18 10:37] bskiba commented on #1665
@mfilotto is right, by default VPA will not evict pods if there are less than 2 replicas. Closing as configuring this will be possible once #1664 is addressed.
/close

[2019-02-18 10:37] #1665 closed

[2019-02-18 10:38] bskiba commented on #1645
fixed by #1651

[2019-02-18 10:38] bskiba commented on #1645
/close

[2019-02-18 10:38] #1645 closed

[2019-02-18 10:39] danmassie commented on #1674
@feiskyer yes, that's the point. The client has permission and the autoscaler works, then it loses permission (perhaps during token refresh?) and the autoscaler restarts. This occurs very frequently.

[2019-02-19 06:59] feiskyer commented on #1674
@danmassie What period have you observed for the issue? Actually, the token refresh is doing automatically whenever it's expired. I'm wondering whether there're other potential issues.

[2019-02-19 09:05] feiskyer commented on #1661
There's something wrong in error message handling, just filed a PR #1703 to fix it.

[2019-02-19 11:52] tcolgate commented on #1049
I'll need a few days to get confident, but 1.11.7 seems to resolve this for us.

[2019-02-20 02:47] feiskyer commented on #1661
@netiperher When digging the root causes, the error message of `Code="" Message=""` is actually because  CA is using old Azure SDK versions. While it would need sometime for picking new changes, could you check the errors from Azure portal (e.g. from activity log)?

[2019-02-20 07:22] netiperher commented on #1661
@feiskyer thanks for the update, I'll check in the Azure portal the next time it happens (it has been 7 days now since the last time). If you have a new version with improved logging I'm willing to test that as well.

[2019-02-20 09:17] feiskyer commented on #1661
@netiperher sure, but it's not easy because the dependent packages (in new version) are actually conflicting with current packages in vendor (in old version). Would need to verify whether it works with overriding vendors for each CA releases.

[2019-02-21 04:10] mbach04 opened #1707 "Allow custom AWS region overrides"
Unique regional endpoints exist in disconnected AWS environments. Currently the aws-go-sdk that is utilized heavily in k8s hard codes these regions in json [1] and doesn't appear to expose an easy method to override that would flow down to a repo like the k8s/autoscaler. A similar issue [2] with a merged PR  [3] was filed against the k8s repo.

The previous solution was to read a file that specifi

[2019-02-21 08:50] garo opened #1709 "Ability to tag priorities to different ASG's for preferring particular array."
I wish there would be a way to set priorities to different autoscaling groups so that the cluster-autoscaler would prefer to scale one group instead of another based on a pod's nodeSelector.

My use case is that I'm running batch loads which can use any worker node, but I want to mainly use cheap AWS Spot instances. The spot instances have a taint set so that only suitable workloads (pods that can

[2019-02-21 10:45] aleksandra-malinowska opened #1710 "Update Godeps on cluster-autoscaler-release-1.14"
We'll need to sync them to Kubernetes release-1.14 closer to the release.

[2019-02-21 11:08] netiperher commented on #1661
@feiskyer can you re-open this until we found the issue?
Do you have any plans to backport #1703 to 1.3 branch? Otherwise we'll just check for errors in the Azure portal as you recommended.

[2019-02-21 11:08] aleksandra-malinowska commented on #1709
Sounds like a use-case for pricing expander (select the cheapest scale-up option). Right now it's only available for GCP, but there's a PR adding support for AWS that's been open for >year: #486. I'm not sure if it's being actively worked on.

[2019-02-21 11:27] aleksandra-malinowska commented on #1707
Anywhere in `cluster-autoscaler/cloudprovider/aws/` is fair game, I suppose. If you meant it more specifically (i.e. where in that module), I'm not sure.

[2019-02-21 12:19] feiskyer commented on #1661
Yep, this should be kept open until cherry-picked.

/reopen

[2019-02-21 12:22] feiskyer commented on #1661
@netiperher Have you got the error messages from activity log?

[2019-02-21 16:40] cuppett commented on #1707
cc @jottofar

[2019-02-22 00:16] sanyu commented on #1515
When using taints as node conditions, wouldn't the node still be **_Ready_** (at least for things like disk pressure, memory pressure...)?
Adding these taints doesn't doesn't change the status of the node and the user is allowed to ignore some of the Node's problems by adding the appropriate tolerations.

I added a random taint to a node in an ASG, this node was used as a template by the autoscale

[2019-02-22 03:19] feiskyer commented on #1454
This should already be resolved now.

@spinus Please open an issue in k/k repo if you still have problems, as it actually issues of cloud provider.

/close

[2019-02-22 03:19] #1454 closed

[2019-02-22 07:30] netiperher commented on #1661
@feiskyer this is the deployment error that I see in the portal, in this instance (Feb 7) I see the following error repeated for each of the 4 machines that failed to scale up (i.e. 16 to 20)
[code]

[2019-02-22 08:24] feiskyer commented on #1661
Not sure what's this error `Unknown network allocation error` means. Is the error still existing? If so, please file a support ticket.

[2019-02-22 08:33] netiperher commented on #1661
Sure, I will file an Azure support ticket if it happens again, but is there anything that can be done in the cluster autoscaler so that it doesn't stop the up-scaling for 30 minutes when there are Azure issues?

[2019-02-22 09:02] feiskyer commented on #1661
I'm afraid it's not easy to catch all exceptions. e.g. we have met a few cases that some network interfaces and SLB are in error states. CA couldn't catch those, it requires the admin to fix them manually.

[2019-02-22 09:28] spinus commented on #1454
@feiskyer what was the solution if you could highlight?

[2019-02-22 10:02] #1271 closed

[2019-02-22 12:03] feiskyer commented on #1454
Upgrade kubelet to its latest patch version. Do you still have this issue?

[2019-02-22 15:02] fog1985 opened #1714 "Add scale up threshold instead of scaling up only when new pods already can't be run. For upfront scaling."
It seems to me a little bit illogical scaling up only when there are no resources for starting containers at all.
I didn't find any parameters for making this value E.G. 70% as for scaling down which is 50% by default.
Please correct me if I am wrong and we can tell `CA` to scale upfront and not only when there are no more resources. Which would be very useful for highly loaded production systems.

[2019-02-22 15:19] damienwebdev commented on #1348
/remove-lifecycle rotten

cc: @feiskyer @aleksandra-malinowska

[2019-02-22 16:14] aleksandra-malinowska commented on #1714
What logic would you propose? If there are no pending pods, new nodes would be completely empty (literally; there's no load spreading in this case). Should autoscaler add them only to remove them after --scale-down-unneeded-time? Or should it stop removing empty nodes even if there's nothing running on them?

In other words, autoscaling _cluster_ is completely different from autoscaling _workload_

[2019-02-22 16:37] forkbomber commented on #1535
Slightly related to this issue:

Is it possible to locate docker images build off PRs branches and/or master branch somewhere?
Official repository contains only release branch:
[code]

and I wasn't able to locate scripts pushing release images anywhere.

[2019-02-22 21:30] anoora17 opened #1715 "AWS Autodiscovery"
I have problem applying Autoscaler https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml I got the error below:

I am using EKS with  Kubernetes version 1.11, changed the tags as the documentation recommended
to k8s.io/cluster-autoscaler/enabled and   added this tag k8s.io/cluster-autoscaler/my_eks =1

 command:

[2019-02-22 23:12] openstacker opened #1716 "Prevent Cluster Autoscaler from scaling down a particular node by label"
Hi @mwielgus @MaciekPytel , Is it possible to use lable instead annotation to prevent CA scaling down a particular node? Thanks.

[2019-02-23 17:26] jottofar commented on #1707
@mbach04 I've been working on this change as well. See my code changes in https://github.com/kubernetes/autoscaler/pull/1717. I have not tested them but wanted to get them out here for review.

[2019-02-24 04:51] mbach04 commented on #1707
@jottofar Awesome, do we want to close this RFE then? Also, I should be able to test this coming Monday / Tuesday.

[2019-02-24 23:22] #893 closed

[2019-02-25 10:48] radityasurya commented on #1715
you need to add env aws_region

[code]

like this

[2019-02-25 12:05] aleksandra-malinowska commented on #1716
Not really. Labels are somehow different from annotations - we expect all nodes in a node group to have the same set of labels, they can be used to control scheduling etc. Is there any reason you can't use an annotation?

[2019-02-25 19:47] openstacker commented on #1716
I get that. But our scenario is a little bit different. In our case, we're also running kubelet on master nodes to host some daemonset or some pod we want them running on master nodes. At this case, we'd like to 'tag' the master when doing bootstrap. With label, I can use --node-labels for kubelet arguments, but seems there is no argument for annotation.

[2019-02-26 00:01] mossuchida opened #1726 "HPA & VPA are not compatible by design"
Objective:
- Autoscale both vertically & horizontally to achieve the best resource utilization for kubernetes cluster by using HPA & VPA

Issue:
- Default Scheduler uses "resource request" to determine which pod to be deployed on which node, however, hardcoded "resource request" value might be wrong. VPA is capable of changing the "resource request" dynamically so that each pods will be routed to

[2019-02-26 06:58] feiskyer commented on #1710
Thanks to this. Please keep override updates  [b3cd5516a1b767a21d58c460f4850d0f5650e3b2](https://github.com/kubernetes/autoscaler/pull/1708/commits/b3cd5516a1b767a21d58c460f4850d0f5650e3b2) also included when do the final sync.

[2019-02-26 12:03] nielsole opened #1728 "Continue operation if parsing some ASG fails"
One of our ASGs uses mixed instance types and has 0 instances.

Expected Behaviour:
Autoscaler behaves like described in: https://github.com/kubernetes/autoscaler/issues/1647.
The autoscaler fails to parse the mixed ASG with
`Unable to build proper template node for {{ASG_NAME}}: Unable to get instance type from launch config or launch template`
 and continues with the existing others.

Actual Beh

[2019-02-26 15:43] Huang-Wei commented on #1726
/sig cluster-autoscaler

[2019-02-26 20:22] fog1985 commented on #1714
Thank you @aleksandra-malinowska for the prompt reply.
Actually, I went with the overprovisioning approach. To have some dummy podes with a lower priority so that they could be evicted when needed.
I have got 1 more question about `CA` downscaling. If you happen to know.
I have just had a cluster upscaling. Once load stabilized `CA` says that nodes utilization is 0.9+. Hence no nodes to scale down

[2019-02-27 02:26] stefansedich commented on #1263
@johanneswuerbach did you ever get anywhere with your spike?

[2019-02-27 06:44] hongli-my opened #1734 "vpa recommendation only have containerName, can not distinguish which pod?"
if  two pod  have same label and also have same container name,  like :`my-rec-container3`;
can not find  which pod's container will use vpa recommendation.

[code]

[2019-02-27 06:55] johanneswuerbach commented on #1263
Not really, feel free to take it over @stefansedich

The main problem is that events are async and not really easily correlatable with actions on an ASG. Also currently there seems to be no way to mark ASGs unhealthy outside calls to the provider interface. My idea was to add another field to the instance groups, which allows the provider to mark groups as unhealthy during the sync loop

[2019-02-27 07:18] stefansedich commented on #1263
Yup @johanneswuerbach digging around I am running into the same, was your idea to just check the last event during the loop and if it was a failure to just mark the ASG as being unhealthy?

[2019-02-27 08:20] hongli-my commented on #1734
vpa will use which container info ?
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/cluster.go#L280

[code]
and aggregateStateKey do not have pod info:
[code]
[code]

https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/vpa.go#L115:17

[2019-02-27 08:36] bskiba commented on #1734
The idea is that pods that have the same label selectors are "the same". If you define the VPA on certain label selector, all pods that match it get the same recommendation.

As a side note I recommend using the v1beta2 api and pointing VPA at a deployment. In that case all pods in the deployment get the same recommendation.

[2019-02-27 10:03] #1734 closed

[2019-02-27 10:22] MaciekPytel commented on #1714
Cluster Autoscaler doesn't care about real resource usage. It's operates on pods' resource requests. The utilization in this case is `sum(requested_resources) / available_resources`.

The reason for that is because that's how kubernetes scheduling works - CA's primary job is making sure every pod can schedule and actual resource usage doesn't matter for scheduling. To autoscale based on real usage

[2019-02-27 10:45] johanneswuerbach commented on #1263
Yes and ideally also mark the ASG size increase as failed so the autoscaler tries to create a new node in a different AZ and doesn't wait the full node not coming only timeout.

[2019-02-27 12:09] fog1985 commented on #1714
Hm. So if I have let's say `requested resources` = `50% from resources of the instance` and `still available resources on the instance` = `50%` after pods have been provisioned, I will get `utilization = 1` (E.G. Fully utilized)? Even though I have half of the instance resources available and idle?
Please correct me if I am wrong in my assumptions.

[2019-02-27 12:42] aleksandra-malinowska commented on #1714
There may be some confusion regarding what "request" and "utilization" means in this context. Both Cluster Autoscaler and scheduler use values from container's `requests` field in pod `Spec` to make decisions. On the other hand, `kubectl top` will tell you how many resources are actually used, regardless of specified requests. In this case, you may be overprovisioning by putting a larger value in

[2019-02-27 13:30] tecnobrat commented on #789
I was trying to find out if there is a way to do something where when and ASG it updated to a new launch template that the cluster autoscaler noticed that the LT has changed, and has new instance types on it, or simply just a new AMI.  Then autoscaler is responsible for decommissioning and terminating instances one by one in a rolling fashion.

The idea is that autoscaler is responsible for my nod

[2019-02-27 13:42] nielsole commented on #1728
This happens not only when there are 0 instances in an ASG but also if all nodes are cordoned in that ASG :/

[2019-02-27 16:23] terowz commented on #1049
@tcolgate can you confirm if it's fixed for you in 1.11.7?

[2019-02-27 17:22] mossuchida commented on #1726
I found another solution, closing this issue.

[2019-02-27 17:22] #1726 closed

[2019-02-28 08:06] piontec commented on #1547
Yes, we have checked our security groups, it seems you have to use port 443, as @safanaj mentioned above.

[2019-02-28 08:07] #1551 closed

[2019-02-28 16:33] mlarrousse commented on #1049
We have confirmed that 1.11.7 works for us.

On Wed, Feb 27, 2019, 8:23 AM Joe Lodato <notifications@github.com> wrote:

[2019-02-28 20:33] gemoya commented on #1620
Did you use the argument ```--namespace``` to run the pod?

[2019-02-28 22:27] stefansedich commented on #1263
@johanneswuerbach I have put together a super raw POC using the described strategy which appears in my first test to do what I want (us-east-2c has no P2 instances available, it will try scale-up in that ASG, fail and then successfully create the node in another AZ with capacity).

https://github.com/kubernetes/autoscaler/compare/master...stefansedich:aws-unhealthy-asg

I originally tried to use t

[2019-03-01 02:19] khteh opened #1741 "It does NOT scale in"
Here is my HPA definition:
[code]
`kubectl top pods`:
[code]
`kubectl get hpa`:
[code]
I expect it to have only 2 replicas (minReplicas) since the metrics suggest that the CPU and RAM utilization are well below the water marks.

[2019-03-01 10:17] aleksandra-malinowska commented on #1741
Can you share pod spec (in particular, resource requests)?

[2019-03-01 12:50] khteh commented on #1741
Main container:
[code]
Sidecar:
[code]

[2019-03-01 12:59] aleksandra-malinowska commented on #1741
Correct me if I'm wrong, but isn't the memory usage close to 50% of pod's total request (2*512MB)? In this case, HPA chooses to scale based on metric that would result in the higher number of replicas, i.e. prefer that some metrics are below target than that any of them is above target.

[2019-03-01 13:07] khteh commented on #1741
I don't quite understand your figures. Each pod's main container requests 512Mi of RAM and as can be seen in `kubectl top pod` output, the pod's main container uses less than that. `kubectl get hpa` also shows that RAM is 0% and CPU is 46% which is less than 50%. So what do I miss?

[2019-03-01 13:34] aleksandra-malinowska commented on #1741
I'm probably missing something then - I was assuming 499Mi in `kubectl top pods` output refers to memory usage by the myapp-0 pod, which would be pretty close to 50% of its request (1024Mi for both containers).

 `kubectl get hpa` output doesn't have headers, but it seems like average CPU utilization is close to 0% and average memory utilization 46% (= (499+454+469)/(6*512))?

[2019-03-01 13:39] khteh commented on #1741
[code]
I am not sure which is RAM and which is CPU in the TARGETS column. Any idea? Even if 46% is RAM, it is still well below the request limit and therefore scaling in?

[2019-03-01 13:47] aleksandra-malinowska commented on #1741
I would say 46% is pretty close to 50% as far as autoscaling logic is concerned.

HPA doesn't scale based on pure actual vs target comparison. Otherwise, it would cause flapping behavior - 46% is below target, lets decrease the replicas, oh now it's 52%, that's above target, let's increase the replicas, 46% again, let's decrease replicas and so on.

Instead, it tries to calculate the number of rep

[2019-03-01 13:56] #1741 closed

[2019-03-01 14:02] MaciekPytel commented on #1741
Perhaps the confusing part is the desired number of replicas is calculated separately for memory and cpu and the larger value is used. So if you have 0% CPU and 46% memory HPA completely ignores the 0% part and sees - 'usage is 46%, pretty close to desired 50%, nothing to do here'.

More specifically the formula is roughly `desired_replicas = sum(usage) / target`. This assumes that if you have 2 p

[2019-03-01 14:10] khteh commented on #1741
You are right. It does not make sense at all to scale out when the CPU utilization is close to 0%.

[2019-03-01 17:01] cablespaghetti opened #1744 "AWS AZ Rebalancing Unexpectedly Terminates Nodes"
Not strictly speaking an autoscaler issue, but I will raise a PR to at least mention this in the docs if nothing else.

We couldn't work out why some of our nodes were getting _surprise_ terminated without being drained first. Our apps need to get a nice SIGTERM and shutdown nicely or things get a bit wobbly.

I've now traced it to a feature of AWS Autoscaling Groups, which is designed to keep an

[2019-03-04 08:16] spinus commented on #1452
For anybody looking at this.

The workaround is to prepare images for each "labelset" you plan with labels set in kubelet configuration and have different scaling sets with different images.

[2019-03-04 08:55] #890 closed

[2019-03-04 10:08] bskiba commented on #1744
Hi there. Is this connected with the open source Cluster Autoscaler in any way or is it only a problem with AWS Autoscaling Groups?

[2019-03-04 10:10] bskiba commented on #1716
Would it be possible to annotate the node as part of bootstrap?

[2019-03-04 10:54] cablespaghetti commented on #1744
In my eyes it should be in the documentation for this project, so the information is easily discoverable. I spent a while trying to work out why the K8S autoscaler was behaving oddly and not draining my nodes when actually it was a side effect of the cluster autoscaler making my cluster "unbalanced" as it scaled now and AWS trying to rectify that.

[2019-03-04 10:57] bskiba commented on #1744
Makes sense. Looks like this could go here as an AWS specific gotcha: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#common-notes-and-gotchas
Would you be interested in contributing?

[2019-03-04 11:04] cablespaghetti commented on #1744
I agree. I'll make a PR shortly.

On Mon, 4 Mar 2019 at 10:57, Beata Skiba <notifications@github.com> wrote:

[2019-03-04 18:03] Jeffwan commented on #1728
Yeah. As you know, Mixed instance type in one ASG are not supported. Maybe we can change to skip invalid ASG instead to prevent CA stop working. What do you think?

[2019-03-04 18:08] Jeffwan commented on #1715
@anoora17 The CA version you are using and example doesn't match. Please choose right Github branch for examples. As @radityasurya suggests, you can also add environments instead. Env was removed in the https://github.com/kubernetes/autoscaler/pull/1288 and read from config instead. Examples were also updated in the corresponding branch.

[2019-03-04 23:07] openstacker commented on #1716
That's what I want to figure out as well, but seems kubelet doesn't support that. Now I have to run kubelet to get the master and then annotate them one by one.

[2019-03-05 08:51] sylr opened #1747 "Autoscaler scales down even if there is no more nodes to schedule removed pods"
Here's my config,

[code]

In a newly created k8s cluster where not much workload has been deployed the cluster autoscaler scales down all the VMSS to 0 even if there are a few pods that needs to be schedules.

[code]

After this all the VMSS where at 0 so it triggered a scale up right after.

[2019-03-05 09:46] sylr opened #1748 "Azure: implement tainted VMSS"
In the event a VMSS can be scaled to 0 the cluster autoscaler might become unaware a VMSS spawns tainted nodes so it would be nice to implement a way for the cluster autoscaler to discover the taints a VMSS applies to the nodes it spawns.

AWS implemetation does this by reading ASG (equivalent of Azure VMSS ?) tags: https://github.com/kubernetes/autoscaler/blob/d9ad9f438a42afe7a7abf9a3ea4db1d603b9

[2019-03-05 10:14] losipiuk commented on #1747
This is unexpected. CA should have checked if removed pods would fit on remaining nodes. Two questions.
* Are there other nodes in the cluster - not  coming from autoscaled node groups?
* Was some extra pod created while node was being deleted?

[2019-03-05 10:24] sylr commented on #1747
Except for the masters every nodes belong to the VMSS handled  by the cluster autoscaler

I don't think so

[2019-03-05 10:30] sylr commented on #1747
Haaa my bad @losipiuk, after a more thorough investigation it turns out it's Kured who drained the remaining node just after the cluster autoscaler removed this node.

[2019-03-05 10:30] #1747 closed

[2019-03-05 11:18] Rajat-0 commented on #1561
/close

[2019-03-05 13:41] feiskyer commented on #1748
@sylr Thanks. This is a reasonable feature request, we should definitely support it.

[2019-03-05 14:38] krishpavan opened #1749 "k8s in azure autoscaler with vmss"
I have built k8s with kubeadm with vmss and autocaler. The autoscaler work with job submission and add worker nodes join k8s. I have two ASG groups  vmss1, vmss0 with low priority vms.
The issue is vm are not registered with ASG group and make the cluster unhealthy.  Attached the logs.

Regards
Krish

azureuser@kubevanmaster:~$ kubectl get nodes --show-labels
NAME              STATUS   ROLES    AG

[2019-03-05 14:45] bskiba commented on #1749
Not sure what the reasons could be for the newly added nodes to fail to register after scale up. @feiskyer would you be able to help?

[2019-03-05 14:50] #1744 closed

[2019-03-05 16:01] mattnworb opened #1750 "'vertical-pod-autoscaler-0.4.0' tag points to 0.3.1 images"
For example:

https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler-0.4.0/vertical-pod-autoscaler/deploy/recommender-deployment.yaml#L23

https://github.com/kubernetes/autoscaler/blob/7f77136aeea401ca5199292c4e5eb17eb1597e55/vertical-pod-autoscaler/deploy/recommender-deployment.yaml#L23

[2019-03-05 23:14] mfilotto opened #1751 "Add ephemeral storage requests recommendation and update to vpa"
It would be nice if vpa could also take care of ephemeral storage usage and set request accordinngly

[2019-03-06 04:02] feiskyer commented on #1749
@krishpavan There's possible cases that VMSS node's providerID is in different cases compared to cloud provider. So CA won't be able to recognize the node (see https://github.com/kubernetes/kubernetes/issues/71994).  Could you check the providerID for each node, and check whether they are in same cases format?

[2019-03-06 08:05] bskiba commented on #1751
@kgolab I think you were looking into this. Are there usage metrics for ephemeral storage available form Metric Server?

[2019-03-06 08:08] bskiba commented on #1750
This is maybe not so much by design but the expected result of current release process.
The tag is exactly at the place when the binaries were built. We create the release first, test and verify this and then update the config to use the verified release.

We could first update configs and build release later, but I don't like having config pointing at the untested (or yet nonexistent) release.

[2019-03-06 11:18] mattnworb commented on #1750
Makes sense, thanks for clarifying!

[2019-03-06 11:18] #1750 closed

[2019-03-06 12:24] feiskyer commented on #1029
Already resolved.

/close

[2019-03-06 12:24] #1029 closed

[2019-03-06 13:23] lcasassa opened #1754 "AWS: Failed to look for node info on ASG Launch Template"
I have several ASG with current size 0. All of the ASG are created with ￼Launch Template. I'm using gcr.io/google-containers/cluster-autoscaler:v1.3.7 with the command:

        - ./cluster-autoscaler
        - --cloud-provider=aws
        - --namespace=kube-system
        - --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,kubernetes.io/cluster/eks-tf-mi-playground-1-cluster-0

[2019-03-06 17:31] krishpavan commented on #1749
Thanks . VMSS report RG as CAP , while provider  report in small.
I have changed cloud provider RG in CAPS  with kubelet config, seemed fixed the issue

[2019-03-06 18:10] bskiba commented on #1749
/close

[2019-03-06 18:10] #1749 closed

[2019-03-06 22:18] Jeffwan commented on #1715
/assign @Jeffwan  for tracking purpose.

[2019-03-06 22:26] Jeffwan commented on #1754
/assign @Jeffwan

[2019-03-06 23:09] Jeffwan commented on #1754
@lcasassa  Seems this PR #1053 did not merged into 1.3.x branch. In v1.12, LaunchTemplate is supported, so I would suggest you to use newer image. This change will be hard to cherry-pick now. Since you use Kubernetes is v1.11.x, should be fine to run with CA v1.12. However, it's always get into some situation not expect. If you meet any problems on eks, just let me know.

https://github.com/kubern

[2019-03-06 23:09] Jeffwan commented on #1754
/aws

[2019-03-07 04:50] lcasassa commented on #1754
Thanks Jiaxin.

Looks like CA v1.12.2 (14 Jan) does not include the fix for
https://github.com/kubernetes/autoscaler/issues/1650 that was merged on 11
Feb in https://github.com/kubernetes/autoscaler/pull/1656 . I upgraded
because I am hitting this issue.

On Wed, Mar 6, 2019 at 11:10 PM Jiaxin Shan <notifications@github.com>
wrote:

--
Linus Casassa
+44 7393 771 568

[2019-03-07 07:33] Jeffwan commented on #1754
@lcasassa  Sure. If something is missing and you want to cherry-pick. Feel free to submit PR or letting us know, we can also help on that.

[2019-03-07 08:15] lcasassa commented on #1754
Cool, I will give it a try

On Thu, Mar 7, 2019, 7:33 AM Jiaxin Shan <notifications@github.com> wrote:

[2019-03-07 09:13] Jeffwan commented on #1754
/sig aws

[2019-03-07 09:14] Jeffwan commented on #1669
/sig aws

[2019-03-08 04:43] feiskyer commented on #849
The issue is fixed now in AKS API. No timeout would happen now on scaling.

[2019-03-08 04:43] #849 closed

[2019-03-08 10:56] kgolab commented on #1751
@bskiba , at the moment Metric Server only serves metrics for CPU & memory usage.
But, since:
- the ephemeral storage usage is also available via Kubelet summary API, scraped by Metric Server to obtain all the information,
- and ephemeral storage is part of Pod resource request,
- and it's been also mentioned in [comments to in-place update KEP proposal](https://github.com/kubernetes/enhancements/

[2019-03-08 11:34] feiskyer commented on #1661
All cherry picks have been merged now.

@netiperher Feel free to re-open it if you still have issues.

/close

[2019-03-08 11:34] #1661 closed

[2019-03-08 13:55] viggeh commented on #1133
Circling back to @aermakov-zalando's point. Does it not make sense to skip upcoming nodes from unhealthy groups? We should be able to assume that the node is no longer upcoming and not increment `upcomingNodes`. That would make cluster-autoscaler fall back on a different ASG for the pod that cannot be unscheduled.

[2019-03-08 14:09] hareku commented on #1133
I have a simple solution.

When spot request returns some error (e.g `capacity-not-available`), CA should scale out another ASG that is on-demand or spot.

[2019-03-08 14:42] viggeh opened #1772 "[Feature Idea] A simple expander based on static precedence"
This is similar to https://github.com/kubernetes/autoscaler/issues/1709

When using cluster-autoscaler there is no expander available for `price`. There seems to have been some effort put into implementing one but it looks like it has stalled https://github.com/kubernetes/autoscaler/pull/486

There is no simple mechanism currently to have multiple ASGs with different lifecycle types. For instance

[2019-03-08 15:02] MaciekPytel commented on #1772
Sounds like a reasonable idea - I'm happy to review and merge if someone comes up with implementation.

[2019-03-09 06:09] ringtail commented on #1772
@MaciekPytel @viggeh I agree and would like to provide the implementation for alibaba cloud.

[2019-03-09 15:44] naseemkullah opened #1774 "QQ: Using VPA in Auto mode, whats the relationship with controller's (deployment's) requests/limits?"
when we assign a VPA in Auto mode to a controller, whats the point of having requests/limits defined in the controller and what should they even be?

I notice the VPA edits the pods resources directly but leaves the controller's resources in tact.

TIA

[2019-03-09 20:17] mfilotto commented on #1751
@kgolab I use vpa to set requests automatically. This way kubelets and scheduler will have a more precise intel of what's going on on each node. So my goal is to reduce evictions as much as possible. vpa help well for memory and cpu but ephemeral storage are left unset and keep triggering evictions.
If vpa could also set ephemeral storage it would be awesome and this way vpa would help to reduce a

[2019-03-10 15:04] kgolab commented on #1774
Hi @naseemkullah ,

the requests you set will be used from the very beginning, before there is enough data for VPA to provide and actuate a recommendation. I'd recommend setting them to a safe (over-provisioned) value if only possible and letting VPA come up with a more precise request. You can also start with a low request and let VPA increase it as needed but it'll most likely be a more disrupti

[2019-03-10 17:05] naseemkullah commented on #1774
Thanks for the explanation @kgolab!

[2019-03-10 17:05] #1774 closed

[2019-03-10 18:05] naseemkullah opened #1775 "QQ: How to override MinAllowed ?"
I notice many pods getting
[code]

But they actually require less. I would like to override the MinAllowed...

TIA

[2019-03-10 19:39] benishak commented on #1754
@jeffwan
I have an ASG with Launch Template. because I want to use spot instances and diversify instance types I had to configure instance types in the ASG itself not in the Launch Template otherwise it won't work.
Now from reading the source code I expect CA won't work with my setup. Right?

Just FYI I use 4 instance types but they have same count of CPU cores but not memory. I use the following

[2019-03-10 21:48] Jeffwan commented on #1754
You don't have to limit to 1.3.x. Even thought compatibility test is not done for higher CA version, based on my experience, v1.12 shoud also work for Kubernetes v1.11.x

Without instance type information, CA doesn't know right number of nodes to bring up.

You want to use diversity instance types in one ASG or single instance type per ASG?
mix instance types in one ASG and spot instance are not s

[2019-03-11 02:45] nhooyr opened #1776 "how does the cluster autoscaler move pods?"
Does it start the new pod first and then shutdown the old one?

Or shutdown the old one and then start the new one?

Would be good for the FAQ.

[2019-03-11 02:48] nhooyr commented on #1776
Reason I ask is if its the second, then I cannot ensure that at least one replica is active because maybe all my deployment's pods are on a single node. Whereas with the first I can.

[2019-03-11 03:13] lsytj0413 commented on #1776
when CA decide to remove one node, it will evict all the pod on the node first, and it won't care about whether the pod is running on another node.

Note CA won't remove a node if there is a independent pod is running.

[2019-03-11 08:40] kgolab commented on #1775
There are two flags: pod-recommendation-min-cpu-millicores and pod-recommendation-min-memory-mb - but it looks like you're already overriding them since the defaults are 25 mCPU and 250 MiB.

Looking at the HistogramOptions used you can get to as low as 10 mCPU and 10 MiB plus safety factor (15% by default).

@naseemkullah , which value would like to lower: CPU, memory or both?

[2019-03-11 10:48] aleksandra-malinowska commented on #1776
You can set PodDisruptionBudget for your workload. With maxUnavailable: 1 (or an equivalent configuration using minAvailable), pods should be evicted one after another.

[2019-03-11 11:57] naseemkullah commented on #1775
Thanks @kgolab , I'm confused as to how I am overriding the defaults already - in my case, each controller sets a request of `10 mCPU` and `128 MiB`.  But I am not explicitly overriding them with the flags you've mentioned.

I just realized that `131072k` corresponds to `128 MiB`.
As for cpu I guess `10m` becomes `12m` with the 15% safety factor.

Does the controller request act as `pod-recommenda

[2019-03-11 12:00] naseemkullah opened #1778 "QQ: Can targetref value be a label?"
Hi,
I am dealing with ~900 single pod deployments, as the example used the deployment name for value of targetRef, i am creating 1 vpa per deployment. However all ~900 of these deployments share a common label, which makes me wonder if a single vpa can recommend/adjust resources for all of their pods by targeting with this label.
TIA

[2019-03-11 14:54] #1776 closed

[2019-03-11 16:18] mtsr commented on #1744
Has anyone tried whether ASG Notifications work normally for Rebalancing? Because it's relatively easy to setup a SNS notification and Lambda to trigger draining for ECS and I imagine the same should be doable for K8s.

See this blog post: https://aws.amazon.com/de/blogs/compute/how-to-automate-container-instance-draining-in-amazon-ecs/

[2019-03-11 21:20] #1597 closed

[2019-03-11 23:15] njfix6 commented on #1410
Which config file do I set that config in? the kops config or the cluster auto scaler config?

[2019-03-12 02:10] hongli-my commented on #1775
@naseemkullah  https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L62
minCpu is 25m for one pod,   if two container in one pod?

[2019-03-12 02:19] naseemkullah commented on #1775
Thanks @hongli-my , it's true there are actually 2 containers in each pod.

I would like to reduce `minCpu` for the entire pod to be `10m` and `minMemory` to be `128Mi`

[2019-03-12 08:47] nielsole commented on #1728
sounds good.

[2019-03-12 08:56] mmingorance-dh commented on #1410
@njfix6 in the Kops cluster config directly.

[2019-03-12 13:31] bysnupy opened #1784 "When a host is scaling down how can unregister license attached on the host ?"
Some license is subscribed on the each running host, and counting the number through internet.
If the cluster is scaling out, we can attach the license using `user data` (`cloud-init`),
but how can we unregister the license while the host is scaling down ? `cluster-autoscaler` have any feature to resolve ?

Thanks.

[2019-03-12 15:36] aleksandra-malinowska commented on #1784
I'd try to add a VM shutdown hook, if your cloud provider supports it. Failing that, it should be relatively straightforward to create a component that watches nodes and performs cleanup actions whenever they disappear. If you really only want to handle the case of autoscaler deleting the node (not if it disappears due to machine failure, or if a user deletes it manually), you can listen for scale

[2019-03-12 20:02] BenTheElder opened #1786 "spurious error in logs due to using glog before parsing flags"
This:
https://github.com/kubernetes/autoscaler/blob/9733fe0f0fb50e4efa2c620f5584dd44e6ba356c/addon-resizer/nanny/main/pod_nanny.go#L61-L66

seems to cause spurious errors in the logs like `ERROR: logging before flag.Parse: I0312 19:30:31.381957 1 pod_nanny.go:109] `

xref: https://github.com/kubernetes/test-infra/issues/11739

[2019-03-12 20:02] BenTheElder commented on #1786
/assign

[2019-03-12 22:16] BenTheElder commented on #1786
Impressively this bug appears to be at least 3 years old now:
https://github.com/kubernetes/autoscaler/commit/c9f9eddd62a74f1e2eec3898d1f4ac896915d095#diff-91da66c44f2bd55ae12a309285ca2eb8R55

[2019-03-12 22:18] BenTheElder commented on #1786
/kind bug

[2019-03-12 23:02] njfix6 commented on #1410
Ok cool sounds good. Is there a plan to enable this by default in 1.12 or 1.13? It would be really nice.

[2019-03-12 23:08] mmingorance-dh commented on #1410
It's already enabled by default as a beta feature on Kubernetes 1.12

[2019-03-12 23:09] njfix6 commented on #1410
Ok awesome! Thanks for the help!

On Tue, Mar 12, 2019 at 4:08 PM Miguel Mingorance <notifications@github.com>
wrote:

[2019-03-12 23:09] njfix6 commented on #1410
Ok awesome! Thanks for the help!

[2019-03-12 23:16] mmingorance-dh commented on #1410
You're welcome.
There is Helm chart available to overprovision the cluster and create a default priority class here: https://github.com/helm/charts/tree/master/stable/cluster-overprovisioner

Give it a try!

[2019-03-12 23:28] yuwenma opened #1787 "Rebase the image to distroless"
We are currently working on rebasing k8s base images to distroless. Distroless image has several good features (smaller in size, fewer components requiring CVE patching, etc) but also doesn't have some dependencies autoscaler uses (shell). To use distroless as the base image, the following AIs needs to be done:
Step 1. Sync up with current k8s head.
Reason: oss kubernetes no longer uses glog which

[2019-03-12 23:34] #1707 closed

[2019-03-13 01:40] bysnupy commented on #1784
Thank you for your information, as my first approach I will try your suggestions. By the way it seems cluster-autoscaler does not provide the related feature now. @aleksandra-malinowska answer my question, I will close this issue.

[2019-03-13 01:40] #1784 closed

[2019-03-13 09:10] ismailyenigul opened #1788 "Cluster Autoscaler 1.13.2 AWS example yaml ships with 1.2.2 image version"
Hi,

I just deployed  Cluster Autoscaler 1.13.2 on AWS but I got `Failed to create AWS Manager: cannot autodiscover ASGs: MissingRegion: could not find region configuration`

I fixed the problem by updating image version from 1.2.2 to 1.13.2 in cluster-autoscaler-autodiscover.yaml
Please update docker image version in the  1.13 release.
Thanks

[2019-03-13 10:00] estahn opened #1790 "VPA for CronJob"
Would be great to have the VPA update CronJob resources.

[2019-03-13 10:17] bskiba commented on #1790
Seems reasonable, we need to find a consistent way to fetch a labelSelector from a CronJob. (CronJob does not support scale subresource).
@schylek @kgolab FYI

[2019-03-13 15:03] bskiba commented on #1790
This should not be very difficult to support. The parts to fix are:
- give VPA recommender permissions to read CronJobs
- add code to return JobSpec.LabelSelector for CronJobs in this switch: https://github.com/kubernetes/autoscaler/blob/e79fbeee44f6474cd80029ded60ef092d6a4c602/vertical-pod-autoscaler/pkg/target/fetcher.go#L153

Marking this as help-wanted if anyone wants to pick it up. Will be ha

[2019-03-13 18:21] bskiba commented on #1086
There's some test bu we still desperately need more coverage.
/remove-lifecycle stale

[2019-03-14 00:39] estahn commented on #1790
@bskiba Thanks for your input. I will make it my Friday project and report back.

[2019-03-14 01:58] frankgu968 opened #1793 "EKS CA doesn't see nodeSelector labels"
Hi,
I am currently using the following:
EKS 1.11
Cluster-Autoscaler: 1.13.2 (also tried 1.3.8 and 1.12.0)

When I try to schedule new pod with a node selector, it doesn't trigger scale-up and claims that the ASG's GeneralPredicates predicate mismatch. This happens when I try to use my custom defined label with the pods (ie. app=web). However, if I use a system node selector like "beta.kubernetes.i

[2019-03-14 02:44] frankgu968 commented on #1793
I think I fixed the issue since my cluster now scales properly. Not sure if this is expected behavior:

I created an ASG with initial "desired running = 0" to avoid ASGs from spawning a machine every time I run my build scripts. CA doesn't scale up when I try to use custom nodeSelector labels.

I manually scale the ASG to >=1 instance, or begin with desired running = 1, and the node gets registere

[2019-03-14 05:03] schylek commented on #1790
One small addition: CronJob has to be added to the list of observed controllers as it is already happening for Job. https://github.com/kubernetes/autoscaler/blob/e79fbeee44f6474cd80029ded60ef092d6a4c602/vertical-pod-autoscaler/pkg/target/fetcher.go#L86

[2019-03-14 08:28] #1786 closed

[2019-03-14 10:03] aleksandra-malinowska commented on #1793
cc @Jeffwan

[2019-03-14 10:37] aleksandra-malinowska commented on #1784
To the best of my knowledge, there's no way to make autoscaler execute arbitrary actions, short of building your own release. ;)

[2019-03-14 14:06] sc250024 opened #1795 "AWS Ondemand not scaled up if Spot requests remain "Open""
Greetings,

I'm running cluster-autoscaler v1.3.8 in a Kubernetes v1.11.8 cluster in AWS created using Kops. I'm not sure if this falls under feature request, a bug, or a misconfiguration on my part, so apologies in advance if it's a misconfiguration. Basically, for our pre-production cluster, I want to run spot instances as much as possible. I have the following node groups (and thus, ASGs), and

[2019-03-14 14:30] SleepyBrett commented on #1515
related: https://github.com/kubernetes/autoscaler/issues/1350

[2019-03-14 14:35] SleepyBrett commented on #1350
I have a thought I'd like to propose. Could there be a way that users could, optionally, provide a description of what a node that belongs to a specific autoscaling group. If that description is not present the autoscaler should fall back to it's current behavior (looking at the latest(?) live node in that pool and assuming the next will look like that). I propose that that description should be i

[2019-03-14 15:34] aermakov-zalando commented on #1515
@sanyu Good point! We run a fork that handles the templates more predictably, which is why we haven't noticed.

[2019-03-14 16:05] jomar83 commented on #1795
Second that.

We're facing the same issue, but we're running spot instances only. Same taints multiple different instance groups in 3 azs. We expected failover to the next asg if a spot request couldn't be fulfilled.

[2019-03-14 17:31] Jeffwan commented on #1793
/assign @Jeffwan

[2019-03-14 17:42] Jeffwan commented on #1793
@frankgu968
If you run EKS cluster and set desired running = 0, CA pod will be evicted.. Users need to manage node groups by themselves and scale down to 0 is not supported on EKS.

For the customize tag,  because first time node labels was created by your provision tools (no matter
eksctl, awscli. etc). CA has no control on it.  If you like to get ride of `mismatch` issue, you can consider to add

[2019-03-14 17:43] Jeffwan commented on #1788
#1789 Merged. This issue can be closed

[2019-03-14 18:12] frankgu968 commented on #1793
@Jeffwan ah! I should clarify my configurations:
I have 2 ASGs:
ASG 1: always has machine running and runs the CA pods
ASG 2: this is the one with min:0 max:8

When I created ASG 2, I also created the appropriate ASG tags with the "k8s.io/cluster_autoscaler/node_template/label/app". However, these don't seem to be picked up by the CA until 1 node from this ASG has run at least once.

[2019-03-14 20:10] Jeffwan commented on #1793
@frankgu968 I see. This is a scale up from 0 case. Is the right permission like `DescribeLaunchTemplate` or `DescribeLaunchConfiguration` given for

Please also share scale up logs and I can help reproduce the issue later today.

[2019-03-14 22:20] frankgu968 commented on #1793
Yep I have all the proper IAMs. I dont have the logs right now but can upload them tomorrow. They basically loop through all the node groups, and then claims that General Predicate failed. The scale up proceeds to fail with the message "pod didn't trigger scale up"

[2019-03-15 10:24] kordianbruck commented on #525
@ProProgrammer maybe this might be the issue for you: https://github.com/kubernetes/kubernetes/issues/69696

[2019-03-15 18:18] Jeffwan commented on #1795
AWS spot instance in CA is not supported and I have not tested multiple node groups with onDemand and spot together. The behavior is unpredicted. I can help check.

[2019-03-15 20:18] jyipks opened #1798 "on premise scaling to aws"
How do i provide credentials to the aws cloudprovider so i can run from on premise bare metal and scale out to aws when it there are not enough resources on the node? I believe the aws cloudprovider is grabbing creds to create the new aws nodes.

[2019-03-17 05:17] AndresPineros commented on #838
I think we should be able to simulate a behavior from projects like Spotinst. For me the main requirement is to be able to use Spot instances BUT fallback to On-Demand whenever there are no spot instances available.

The current support of EC2 Fleets in the ASGs doesn't consider this (I think, please correct if I'm wrong... and I hope I am). They just give you a base % for On-Demand and the rest f

[2019-03-17 22:16] jstangroome opened #1799 "[addon-resizer] deployment update drops existing nodeAffinity fields"
Seems to be a repeat of issue #188.

Using addon-resizer Docker image: `gcr.io/google-containers/addon-resizer-amd64:2.1`

Original deployment yaml contains:
[code]

And after addon-resizer logs "Resources are not within the expected limits, updating the deployment", the `apiVersion` has regressed to `extensions/v1beta1` and both the `tolerations` and `affinity` members have been removed.

[2019-03-18 07:28] ccic opened #1800 "Autoscaler was frequently killed for liveness proble failed"
Why the liveness probe fails so frequently?
Liveness probe failed: HTTP probe failed with statuscode: 500

![image](https://user-images.githubusercontent.com/19297121/54513402-4ef14b80-4992-11e9-8b11-95a592402c3c.png)

[2019-03-18 09:44] aleksandra-malinowska commented on #1800
1) Can you share your CA deployment (yaml with pod spec)?
2) Can you check if CA logs anything before it's killed?

[2019-03-18 10:05] Vlaaaaaaad commented on #838
I'd really like seeing native support for this in `cluster-autoscaler` too.

As a sidenote, there is also [k8s-spot-rescheduler](https://github.com/pusher/k8s-spot-rescheduler) which might be of interest to the discussion.

[2019-03-19 07:09] vivekgarg20 opened #1803 "[CA] RefreshInterval is too low for auto discovering ASG for AWS"
As of now refreshInteval configuration is 10 seconds to discover ASG for AWS.
It is causing AWS apis to be throttled. We are running 10's of clusters.
I found same configuration for GCE is 1 minute.
Shouldn't 1 minute is sensible default. I would recommend to make it configurable.

[2019-03-19 21:09] mnothic opened #1807 "AKS CA doesn't work can't communicate with apiserver"
**Error:**
[code]
**Configuration:**
[code]
**pod log:**
[code]

[2019-03-20 01:45] feiskyer commented on #860
this is still happening today

/reopen

[2019-03-20 17:02] ezalejski commented on #1772
I think many of us using 'spot' instances on AWS would love that feature.

[2019-03-20 17:25] paulgmiller commented on #1807
Are you sure the api server was up? We have actually seen some flakiness from aks that looks like that but usually it's back pretty quickly

[2019-03-20 19:30] stephbu opened #1808 "Addon-Resizer Resist daily Hi/Lo swings in utilization"
The systems we operate run a regular daily rollercoast of usage with very large daily variation in nodes/pods off-peak vs. at-peak hours.  We're running into an interesting issue where regular up/down resource resizing of our prometheus-metrics aggregators causes duplicate metrics during the existential overlap between current-sized and future-sized metrics pods. This looks on aggregated charts as

[2019-03-20 20:48] Bwvolleyball commented on #1298
I think this is most useful in a non-prod environment.  As @blandman noted, his use case for wanting this feature is for a dev environment where it might be too costly to run multiple replicas of an app, coupled with the need for for autoscaling the cluster.

Our use case is similar.  We have a non-prod kubernetes cluster in AWS, complete with the cluster autoscaler.  We want the cluster autoscale

[2019-03-21 13:31] mnothic commented on #1807
Yes our AKS clusters are working with http routing plugins disable and custom ingress and externalDNS working perfect.
[code]
NOTE: I won't worry about omsagnet that shit it's always crashing :D

[2019-03-21 21:06] Skull0ne opened #1809 "vertical-pod-autoscaler recommender is OOM when using prometheus as storage"
Hi

I read in another issue (https://github.com/kubernetes/autoscaler/issues/1551#issuecomment-451115856) that you have to define --storage=prometheus when you define --prometheus-url .

However when I do so, the recommender pod is always crashing by OOM without printing any log (even with --v=10).

I tried to increase the resources (a lot) and it seems to work :
[code]

Do you have any recommenda

[2019-03-22 00:35] left4taco commented on #1577
@AmitDaniel-wsc By ` k8s-app`, did you mean ` k8s-heapster`?

[2019-03-22 05:01] hongli-my opened #1810 "Vertical Pod Autoscaler: load cpu usage from prometheus is bug?"
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go#L193

container_cpu_usage_seconds_total type is  counter,  use it as  container cpu usage is right?

[2019-03-22 06:37] feiskyer opened #1811 "Long running operations may fail because of Azure go-autorest bugs"
According to Azure/go-autorest#357, the timeout set in context doesn't take effect and 15min is always used for long running operations.

We should upgrade the version of go-autorest >= 11.3.2 or a patch version 11.1.2.

Depending on https://github.com/kubernetes/kubernetes/issues/75579.

/kind bug

[2019-03-22 07:48] safanaj commented on #1810
Hi, prometheus is used to collect history real usage, do you think that to use `sum(rate(container_cpu_usage_seconds_total[]))` would be more appropriate ?

[2019-03-22 07:52] hongli-my commented on #1810
I debug  this code: sample get from prometheus very large compare to the sample from metrics-server.

[2019-03-22 08:40] bskiba commented on #1501
/remove-lifecycle stale

[2019-03-22 08:41] bskiba commented on #1501
/lifecycle frozen

[2019-03-22 08:42] bskiba commented on #1810
Hi there. This is duplicate of #1501. We'll gladly see contributions from someone who can test this with prometheus.

[2019-03-22 08:42] #1810 closed

[2019-03-22 08:45] bskiba commented on #1809
How big is the cluster in which you are running?
Do you create pods frequently?
Do you have any frequent CronJobs?
Are you seeing any errors when running with higher requests/limits?

[2019-03-22 09:04] safanaj commented on #1810
@bskiba I tested this and yes we should use `rate()` or `irate()` to get values close to what metrics-server is providing.
I can take this and prepare a PR soon

[2019-03-22 09:12] safanaj opened #1812 "Admission controller should set limit in case of LimitRange with max ratio"
In case VPA is setting requests to lower values and there is deployed a LimitRange with MaxLimitRequestRatio the pod could be not scheduled because it is not respecting the limts/requests ratio for some resource.

Admission controller should be aware of limit ranges and if needed explicitly decrease limits to respect the max ratio.

[2019-03-22 09:20] bskiba commented on #1810
That would be great, thanks!

[2019-03-22 09:26] bskiba commented on #1812
Thank you for filing this. I agree this would be a good thing for VPA to check.
One thing I would modify is I think with the current implementation, where VPA doesn't change limits at all, we would want to modify the request to not violate MaxLimitRequestRatio instead of the limit.

@kgolab This is relevant to discussion on VPA controlling limits, Kubernetes offers a way to express the maximum des

[2019-03-22 09:37] safanaj commented on #1812
I think that in VPA objects the user can set minAllowed to keep the ratio respected, but in scenario where some pods are really wasting requests VPA should be able to take care of limits (optionally).

I think a scenatio where k8s is offered as PaaS and who manage the cluster have no control over the workloads definition deployed, when using LimitRanger with ratio,default request and limits we can

[2019-03-22 10:14] kgolab commented on #1812
Looking at LimitRange spec I think we need one more change in VPA: LimitRange min & max should be treated similar to VPA minAllowed & maxAllowed - the question is whether it should be recommender or admission controller which takes care of it. Personally I'd go for the latter so we keep recommender unconstrained by configuration outside of VPA objects.

OTOH, being used to Unix and its "small util

[2019-03-22 10:19] bskiba commented on #1812
LimitRange is also an admission webhook, so it could be configured to run after the VPA one, but it is currently only a validating webhook - it doesn't change the spec to match constraints, just rejects it if incorrect.

[2019-03-22 10:29] kgolab commented on #1812
What I meant (and what I think @safanaj wrote) was that there would have to be a new mutating webhook for applying LimitRange before it gets enforced. And I actually like the idea of having it instead of adding functionality to VPA's admission controller (not necessarily prefer it).

[2019-03-22 12:54] Skull0ne commented on #1809
At the moment it's almost empty :
- 1 master node only running cluster-autoscaler
- 4 nodes running kube-dns, ingress-controller, cadvisor, kube-state-metrics, metrics-server, prometheus-adapter, prometheus, vpa and a test pod (hello-world)

[code]

I"m running kubernetes 1.13.2

[2019-03-22 15:14] ezalejski commented on #1772
I think this PR - #1801 can help us a lot.

[2019-03-23 10:23] consideRatio commented on #1157
There is now...

So, I'm happy to close this.

[2019-03-23 10:23] #1157 closed

[2019-03-24 07:42] #209 closed

[2019-03-25 11:04] #1401 closed

[2019-03-25 12:28] wyb1 opened #1820 "Mutating Webhook timeout on Private GKE Cluster"
The mutating webhook will always timeout when the VPA is deployed in a private GKE cluster (using the `vpa-up.sh` script). This means pod creation will always take more than 30s.

After debugging the issue I found that there are some firewall rules created that block the API Server from reaching the webhook backend on port 8000. The firewall only allows traffic from the API Server to the cluster o

[2019-03-25 13:19] drewhemm opened #1821 "More expensive instance type given priority"
Running version 1.3.7 on AWS EKS, I have multiple node groups and two in particular are i3.2xlarge and r5.2xlarge. Although they are identical in CPU cores and memory, the latter are cheaper to run and I am wondering why CA always seems to spawn i3.2xlarge instead.

What is the determining factor here and can I influence it in any way?

I am using spot instances, but not sure that is relevant.

If

[2019-03-25 13:30] bskiba commented on #1809
Was there any more activity happening in the cluster in the last week? Since we are talking about loading history.
Are you seeing any errors when running with higher requests/limits?

[2019-03-25 13:34] Skull0ne commented on #1809
No it's a fresh new cluster and the VPA was deployed like 5-10min after the cluster was up&running

[2019-03-25 13:42] bskiba commented on #1809
Thanks!
@wyb1, @mgoodness I think you have been both successful with setting up VPA with Prometheus as history storage. Have you encountered similar issues?

[2019-03-25 13:53] bskiba commented on #1809
(Question is, did you have to raise the default limits for VPA when running with Prometheus)

[2019-03-25 13:58] Skull0ne commented on #1809
yes :
[code]

[2019-03-25 14:17] bskiba commented on #1820
Thank you for filing, this is indeed a bug (and an issue with Kubernetes that the webhook timeout is not configurable in any way).

We are currently in the process of cutting the new release that will have the needed flags available for configuration, ETA this week.
However, note that the new release stops support for v1beta1 API, so if you are using it please make sure to migrate your VPA objects

[2019-03-25 14:41] Skull0ne commented on #1809
I just did the test and the OOM happens when it tried to load history from prometheus. I cleaned prometheus data and redeployed the VPA with the default resources and it works now.

[2019-03-25 14:52] bskiba commented on #1809
Glad it did! Just for the record, do you know what size of prometheus history caused this to happen?

[2019-03-25 14:58] Skull0ne commented on #1809
2 weeks of data (I don't have the amount sry...) but this is a test cluster with no activity so it shouldn't be really big

I can try to let it run for several days and then delete the pod to check if it happens again.

In my case it could be an issue because with the cluster autoscaler, if the recommender pod is moved on another node it will happen again (excepted with a huge amount of resources

[2019-03-25 15:45] bskiba commented on #1809
Sounds reasonable. I'll close this issue, please let us know if you run into anything else.
For cluster autoscaler you can consider marking VPA recommender as safe-to-evict:false or setting a strict Pod Disruption Budget on it. See [CA FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node) for more info.

[2019-03-25 15:45] #1809 closed

[2019-03-25 15:45] wyb1 commented on #1820
Thanks @bskiba! We've already migrated over to v1beta2.

Hopefully this issue will help other people if they run into a similar problem.

[2019-03-25 16:21] Skull0ne commented on #1775
@naseemkullah I think something like that should work :
[code]

[2019-03-25 18:40] safanaj opened #1828 "VPA Updater minReplicas overridable in VPA objects"
Would be great if the VPA objects could specify a minimum number of replicas to allow the updater to evict their pods, this would be used only if set and greater than zero, if that would be missing or 0 the updater would still to respect the `--min-replicas` param.

This feature would require an minor API change adding an integer under updatePolicy in VPA Spec.

[2019-03-26 01:21] rnsv commented on #1454
I am running Kubelet v1.13.4 and still see this issue.

[2019-03-26 02:32] feiskyer commented on #1454
@rnsv Could you share the logs of Kubelet?

[2019-03-26 02:35] rnsv commented on #1454
@feiskyer - I was able to resolve it by adding "vmType": vmss.
Sorry for the inconvenience.

[2019-03-26 02:40] feiskyer commented on #1454
@rnsv Cool. Glad to see it's been resolved.

[2019-03-26 03:15] spinus commented on #1454
@rnsv where did you add this?
Worth to put into docs for this particular solution/issue?

[2019-03-26 03:19] feiskyer commented on #1454
The cloud provider options are documented [here](https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md).

[2019-03-26 03:20] rnsv commented on #1454
@spinus - The info is buried in this doc [https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md](url)
vmType is set to standard by default

[2019-03-26 03:22] spinus commented on #1454
Thank you!

[2019-03-26 04:32] rnsv commented on #1454
@feiskyer - Is there a way to specify an existing storage account for dynamic-pvc/storageclass instead of azure-file provisioner creating a new storage account?

[2019-03-26 09:06] bskiba commented on #1828
Updater respects Pod Disruption Budgets that should allow you to express these constraints for each deployment: https://kubernetes.io/docs/tasks/run-application/configure-pdb/

[2019-03-26 12:27] dkuida commented on #1366
@okgolove did you manage to solve that ? when I increase --max-pod the ips cannot be assigned, but my machine is clearly under utilized

[2019-03-26 12:36] okgolove commented on #1366
@dkuida hi! I didn't.
I've decided to ignore it and just use kops in production :)

But you can subscribe to an issue about CNI https://github.com/aws/amazon-vpc-cni-k8s/issues/214
I hope, we will have an ability to choose CNI plugin.

[2019-03-26 13:19] MaciekPytel commented on #1821
The function that chooses which NodeGroup (ASG) to scale-up is called expander. You can set which expander you want to use with a flag and the available options are documented here https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders. Note that 'priority' is currently in development and not included in any released version.

What you're requesting is wh

[2019-03-26 22:34] petr-k commented on #1548
@bskiba I'd like to work on this one, but I'm not convinced that there is need to have a flag for this. I believe users do not really expect the VPA to give good recommendations immediately after turning it on.
Plus, the current behavior (i.e. wasteful memory consumption) seems to me to be much worse.

[2019-03-27 14:18] tweeks024 opened #1836 "cluster-autoscaler scales down to point pods go into pending"
We are running kubernetes v1.13.3 and cluster-autoscaler v1.13.2 (seems to be the latest on 1.13).  The primary constraint in this cluster is memory.

When all deployments are created a number of pods go into Pending.  The CA adds nodes as expected and the pods are scheduled.  However, after the scale-down timers expire the nodes are scaled back down and pods  go into pending.

CA is also not remo

[2019-03-27 15:34] MaciekPytel commented on #1836
Cluster Autoscaler completely backs off if it considers the whole cluster to be unhealthy (meaning a large percentage of nodes is unready). The idea is to avoid causing even more damage in case of a fatal infrastructure failure.
Events you pasted ('ClusterUnhealthy' event) imply that CA was not doing anything in previous 44 hours. My guess would be that your nodes are crashing for unrelated reason

[2019-03-27 17:00] tweeks024 commented on #1836
@MaciekPytel unfortunately I do not believe this is the case, this happens over and over again.  If I clean up the nodes it will go through the same cycle again.  I can see the CA scaling down the nodes.

One interesting thing I just realized is that both nodes scale down very close to each other, I'm assuming because I'm using multiple ASGs for Multi-AZ.  Is there a way to have it go through the

[2019-03-27 18:24] MaciekPytel commented on #1836
Oh, so this is not a normal scale-down logic, it's clean up logic for VMs that failed to register as nodes in Kubernetes. My guess would be CA is unable to match AWS VM with Kubernetes node. I'm not all that familiar with details of AWS cloudprovider implementation, but CA generally uses ProviderId field on the node - I'd make sure this is properly set for your nodes.

[2019-03-27 18:42] tweeks024 commented on #1836
Thanks, I do see an error regarding that in the logs.  How does that get set and or is it something I need my process to assign?

[code]

[2019-03-28 10:43] MaciekPytel commented on #1836
It should be assigned automatically, but it all depends on how exactly your cluster is set up. And I've never set up a cluster on AWS, so I don't really know. One thing that we learned from past issues is that ProviderId is not set on AWS clusters if you don't set cloudprovider flag in kube-controller-manager.

[2019-03-28 13:13] hmeerlo opened #1838 "Assymetric nodepools and downscaling"
The docs state the following:

But I currently am in a situation where I have 1 small node (1vCPU, 3.75GB mem) which has 70% allocated CPU requests. Besides this I have 3 large nodes (8 vCPU, 30GB mem) with max 10% CPU and mem allocated. All pods on the small node are eligible to be moved, but according to the above rule this small node will never be deleted even though there is plenty of room for

[2019-03-28 13:26] tweeks024 commented on #1836
@MaciekPytel thank you for all your help.  I have tested this by adding the providerID manually using ```kubectl edit node``` and it is working as expected.  Closing this and will figure out what I missed regarding these getting added automatically.

[2019-03-28 13:26] #1836 closed

[2019-03-28 14:04] losipiuk commented on #1838
Yes. With default settings the node will not be removed as more than 70% of allocatable is in use. You can change the 50% to different threshold via `--scale-down-utilization-threshold` command line argument.

[2019-03-28 14:11] MaciekPytel commented on #1836
If you figure it out please comment here for the benefit of anyone else who runs into the same issue.

[2019-03-28 14:11] hmeerlo commented on #1838
Ok, but it doesn't make sense to me. It makes some sense when you have a single nodepool, but not in the case of mixed nodepools. Resources can be distributed more efficiently in this case. Why is there even a utilisation threshold? Shouldn't all nodes be considered for deletion regardless of their utilisation? Just let the algorithm decide whether there is room for the resources in the rest of th

[2019-03-28 15:30] losipiuk commented on #1838
Originally the flag was introduced to limit the amount of disruptions - due to node scaledown. I agree this is somewhat controversial if we should have it or if the default value is correct. Especially for the cases like yours.

[2019-03-28 16:27] tcolgate commented on #1049
Defintiely haven't seen any problems on 1.11.7

[2019-03-28 16:35] andrewsykim commented on #254
cc @timoreimann

[2019-03-28 16:48] terowz commented on #1049
yea same for us. Been running for about 2-3 weeks now. Thanks

[2019-03-28 18:25] davidquarles opened #1839 "[feature request] Optionally allow VPA to manage pod limits"
I remember seeing this in the codebase in v0.2 IIRC and I couldn't find any real explanation for why it was removed.  If anyone can speak to that or what the long-term roadmap looks like here, I'm very curious.

The use case I would love to see supported is fairly narrow – I want VPA-managed pods with guaranteed QoS.  We *do* also use `LimitRange`s to enforce default limits, so ideally this would

[2019-03-28 20:02] tweeks024 commented on #1836
@MaciekPytel sure I found an easy solution that meets my needs using ```kubectl patch```.  During my provisioning process for the new nodes I had it drop the required info a new yaml file and then merge it into the node config once the node is online.  There are some other reasons it looks worthwhile to setup the cloud-provider properly, if I get that working will comment back as well.

```kubectl

[2019-03-28 21:57] davidquarles commented on #1133
@viggeh Are you still planning on tackling this in a follow-up PR?  We're hitting this and could take a stab at the recommended implementation, if that's helpful.

[2019-03-28 23:34] Jeffwan commented on #1803
/assign @Jeffwan

[2019-03-28 23:34] Jeffwan commented on #1803
This is reasonable and should be an easy improvement. I will submit a PR today.

[2019-03-29 07:18] Jeffwan commented on #1803
@vivekgarg20 Azure, GCE, AWS both have this setting. I notice there're similar setting like machineRefreshInternal.
If we make it configurable per cloud provider, that will bring too many options and we also don't like to bring cloud provider specific configuration to options.

I think I will just update to 1minute for AWS. I didn't see any downside to make this change. The only thing affect is no

[2019-03-29 10:31] losipiuk opened #1842 "NoVolumeZoneConflictPred predicate checking for different node groups may race with provisioning PV to the cluster"
NoVolumeZoneConflictPred predicate checking for different node groups may race with provisioning PV to the cluster. The predicate is reading PVs in the cluster internally via informers. It is possible that  PV is not available when one node group is being considered for expansion and appears only when some other is. As a result a suboptimal (cost-wise) node-group can be chosen.

Note that similar

[2019-03-29 11:55] vivekgarg20 commented on #1803
@Jeffwan Thanks for update.  I would have loved to have configuration nonetheless 1 minutes works as it is consistent with other (GCP) implementation as well.

[2019-03-29 11:55] #1803 closed

[2019-03-29 12:03] bskiba commented on #1839
This is reasonable feature requests.

The initial support was very limited and did not cover your use case (it set limits a bit above request, which made the pods burstable not guaranteed). We removed it mostly as it significantly worsened the time-to-converge on a good request for memory when starting with unset request. Pods were getting multiple Out of Memory errors and taking a lot of time to

[2019-03-29 12:03] bskiba commented on #1828
I'll close as I think the PDB should be able to cover this usecase. If this is not the case, please reopen.
/close

[2019-03-29 12:03] #1828 closed

[2019-03-29 12:04] bskiba commented on #1820
That's great to hear! I'm finishing up the work on 0.5 release sorry for the delay.

[2019-03-29 12:06] bskiba commented on #1775
I think this one is answered, (thanks for all who helped!) let me know if there is something missing.
/close

[2019-03-29 12:06] #1775 closed

[2019-03-29 12:34] naseemkullah commented on #1775
Thanks @SkullOne and everybody

[2019-03-29 13:00] losipiuk commented on #1838
@hmeerlo do you believe there are any action items related to this issue? Or can we close this?

[2019-03-29 13:01] fog1985 commented on #1714
Got it. Thank you @aleksandra-malinowska for the clarification on this.

[2019-03-29 13:01] #1714 closed

[2019-03-29 13:06] dezmodue opened #1844 "Made the lock name configurable - run multiple CA in the same namespace"
At the moment the name of the lock is hardcoded to "cluster-autoscaler" which makes it impossible to run multiple instances of the CA in the same namespace as they all end up fighting for the same lock.

Running multiple instances of the autoscaler is already possible by deploying them to separate namespaces but this requires extra steps as explained here https://github.com/kubernetes/autoscaler/p

[2019-03-29 14:48] hmeerlo commented on #1838
Well I am not yet convinced that the current algorithm is the right algorithm. I try to discuss this on the slack channel as well, but nobody gives their opinion. Maybe what I would like the autoscaler to do is just too complex?

[2019-03-29 19:49] deweysasser opened #1845 "cluster-autoscaler 1.2.2 panics on scale-up with zero size ASGs on AWS"
# Summary
cluster-autoscaler 1.2.2, when a scale-up event triggers and an ASG in the set has min_size=0 and desired_size=0 panics

# Details

## Configuration

* Kubernetes running via EKS in AWS us-east-2
* [kube2iam](https://github.com/jtblin/kube2iam) in use for role assignments
* all instance types involved are t3.2xlarge
* 3 nodes exist in a different ASG with a taint to keep the workload des

[2019-03-31 05:37] ruidiama commented on #1795
#1133 describes this problem

[2019-03-31 07:38] Jeffwan commented on #1845
@deweysasser Thanks reporting this issue. Have you tried CA v1.2.5? Since you use v1.2.2, I assume you still use EKS v1.10 cluster?  I recently setup similar env with kubernetes v1.11 and CA v1.3.8. But I  didn't put large load and have not meet this issue. I can help look at this issue if it can always be reproduced.

[2019-04-01 15:20] CAR6807 commented on #1754
I'm seeing this issue on K8 1.12 and 1.14 clusters with CA version 1.12.x and 1.14.x respectively.
Is there a stable version that has this fix?

[2019-04-01 16:25] Jeffwan commented on #1754
Let me have a test on these versions and have a patch. @CAR6807  Thanks for reporting.

[2019-04-02 07:23] viggeh commented on #1133
@davidquarles Sorry for the late reply. I've not had the time to take a proper look at this and don't expect to do so in the next couple of weeks. If you can take the problem on that would be awesome!

[2019-04-02 11:44] Deepak1100 commented on #1049
Yes its fix for us as well

[2019-04-02 11:50] bskiba commented on #1049
Marking as fixed then. Thanks!
/close

[2019-04-02 11:50] #1049 closed

[2019-04-02 11:58] bskiba commented on #1548
@petr-k Cool! I'm wondering how to approach this. The new thing is we have changed the VPA in 0.5.0 to work on controllers (Deployments, CronJobs etc.) instead of labelsets. However, we haven't touched the implementation - the usage samples are still aggregated per label set, which is not necessary with the new API.
I think just switching to aggregating per controller would be a huge win. WDYT?

[2019-04-02 13:15] Shnatsel opened #1849 "Behavior wrt min/max limits is not publicly documented"
[Cluster autoscaler FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md) does not describe how CA handles min/max limits.

People often expect min/max to be enforced by CA, and that changing the minimum number of nodes alone will trigger a scale-up ([example](https://b.corp.google.com/issues/129746085)). The actual behavior is that CA does not enforce these limits,

[2019-04-02 13:51] MaciekPytel commented on #1849
You're 100% right, this should be documented. Do you want to take a shot at writing it up?

[2019-04-02 13:56] Shnatsel commented on #1849
Sure. I'll open a PR to get the ball rolling, and check "allow edits from maintainers" so that you can correct anything I got wrong.

[2019-04-02 16:29] mo-saeed commented on #860
@feiskyer any updates here, do you have any workaround ?

[2019-04-02 17:10] Jeffwan commented on #1849
I have an issue related here. https://github.com/kubernetes/autoscaler/issues/1559

Auto-Discovery is preferred and min/max does brings confusion. I didn't come up good solutions on code side, documentation will be helpful.

[2019-04-02 17:33] Jeffwan commented on #1798
/aws

[2019-04-02 17:35] Jeffwan commented on #1798
/assign @Jeffwan

[2019-04-02 18:09] Jeffwan commented on #1798
/aws

[2019-04-02 18:10] Jeffwan commented on #1798
/sig-aws

[2019-04-02 18:13] Jeffwan commented on #1798
@jyipks
You're right, IAM roles has been attached to node group. client can be able to grab credentials.

In you case,  you can do this way,  add following env into your cluster-autoscaler deployment.

[code]

I will file a PR to add documentation and samples.

[2019-04-02 18:14] Jeffwan commented on #1715
/assign @Jeffwan

[2019-04-02 18:15] Jeffwan commented on #1798
/sig aws

[2019-04-02 18:16] Jeffwan commented on #1728
/sig aws

[2019-04-02 18:18] Jeffwan commented on #1368
/sig aws

[2019-04-02 23:14] mmingorance-dh opened #1852 "Annotation cluster-autoscaler.kubernetes.io/safe-to-evict=false not working"
I recently added the following annotation in some of my critical pods to avoid cluster-autoscaler to remove the nodes where these pods are running in. `cluster-autoscaler.kubernetes.io/safe-to-evict=false`
According to what I read in the documentation: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node This should p

[2019-04-02 23:33] mmingorance-dh commented on #1852
I think it might be related to this: https://github.com/kubernetes/autoscaler/pull/1054/files#diff-923217ef419d47bcff68eeeca564a78dR255
This annotation only is searched only in ReplicationControllers and Jobs. In my case and adding this annotation in pods created by deployments.

Is there any chance to include deployments when searching for this annotation?

[2019-04-02 23:56] mmingorance-dh commented on #1852
I think it the meantime, a workaround could be adding the following annotation to those pods: `scheduler.alpha.kubernetes.io/critical-pod: ""`
However this annotation is deprecated in Kubernetes 1.13 and deleted in 1.14
I still think would be great to have `cluster-autoscaler.kubernetes.io/safe-to-evict=false` working for pods managed by deployments in multiple namespaces.

[2019-04-03 02:20] feiskyer commented on #860
@mo-saeed not yet, this is still a known issue. It's recommended not to run aks-engine upgrade for CA running clusters. See https://github.com/Azure/aks-engine/issues/401 and https://github.com/Azure/aks-engine/issues/400.

[2019-04-03 04:09] Jeffwan commented on #1852
/assign @Jeffwan

[2019-04-03 04:13] Jeffwan commented on #1852
@mmingorance-dh  Could I know if you annotate your deployment or containers?

You need to make sure you annotate right objects.

[code]

[2019-04-03 04:15] Jeffwan commented on #1852
[code]

[2019-04-03 04:39] zedtux opened #1853 "[vertical-pod-autoscaler] The README is hard to read/understand"
Please move all the migration instructions in a Wiki page or a `MIGRATE.md` file or something like that keeping [the `README.md` file](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/README.md) cleaner so that new comers (like me) aren't spammed, therefore lost, with useless information.

[2019-04-03 05:52] Jeffwan commented on #1793
Hi @frankgu968 , your label is incorrect.. Hyphen should be used instead of underline..

[2019-04-03 06:50] Rajat-0 commented on #1853
I can do this if Leads agree.

[2019-04-03 07:14] Jeffwan commented on #1754
@CAR6807. The PR for Launch Template support has been merged from v1.12 and later versions. Could you share more details about your setups?  Attaching error messages would be super helpful

[2019-04-03 07:29] #1798 closed

[2019-04-03 07:45] mmingorance-dh commented on #1852
@Jeffwan this is the definition of my deployment:
[code]

This deployment is running in kube-system namespace.

Also I can see the annotation in the pod:
[code]

Thanks for your help!

[2019-04-03 08:22] bskiba commented on #1853
Sounds good, thanks @zedtux and @Rajat-0

[2019-04-03 09:16] MartinEmrich opened #1854 "Not discovering ASGs on AWS"
Hello!

I am trying to get autoscaler to work, I use v 1.3.7 (which should match with AWS's K8s 1.11).

I have 3 ASGs (one for each AZ), all tagged:

[code]

Here's my startup parameters:
[code]

But I get this message if I try to create more pods to trigger a scale-up:

[code]

In the autoscaler logs, I see just this:
[code]
I would assume that if autoscaler would detect my ASGs, they would appea

[2019-04-03 12:04] frankgu968 commented on #1793
@Jeffwan got it! Has this changed from previous releases? I had copied the label directly from the documentation before... For now I have gotten around the label propagation problem by specifying it directly in the ASG kubelet arguments.

[2019-04-03 12:35] mmingorance-dh commented on #1852
@Jeffwan I've just found out a log from cluster-autoscaler with the right value:
`Fast evaluation: node $NODE-NAME cannot be removed: pod annotated as not safe to evict present: coredns-ddcd48977-thsxm`

It appeared after a I redeployed cluster-autoscaler with `--skip-nodes-with-system-pods=true`
Has this flag something to do in this case?

[2019-04-03 12:37] MartinEmrich commented on #1854
Additional info: I see no API calls for Autoscaling Groups in AWS CloudTrail, so either they fail or are not made at all.

[2019-04-03 17:38] Jeffwan commented on #1793
@frankgu968 That would work. Great you figure it out. If you use EKS, you can pass to bootStrapArguments.

[code]

[2019-04-03 17:49] cjbradfield commented on #1350
+1 on the general issue at hand (cluster-autoscaler not playing well with taints). I also work with clusters that have a workflow that apply taints to nodes after they enter the cluster.

@SleepyBrett Although having template nodes in a ConfigMap would work, it seems to me that all that is really missing is a way to identify the taints that are attached to the node at cluster join and maybe the la

[2019-04-03 17:55] Jeffwan commented on #1852
Actually, your logs comes from "cluster-autoscaler.kubernetes.io/safe-to-evict=false".
The logic for `--skip-nodes-with-system-pods=true` is in front of checking safe to evict annotation.

Here's the logic.
https://github.com/kubernetes/autoscaler/blob/40cf6e43c032815350c07cd3e7eb36a992fd785b/cluster-autoscaler/utils/drain/drain.go#L187-L201

Since your coredns pod is in kube-system namespace. Tec

[2019-04-03 18:05] Jeffwan commented on #1854
@MartinEmrich  Change to this and have a another try,

[code]

BTW, I would suggest you to also include cluster tag. Otherwise, your ASG maybe detected by different clusters if you create multiple cluster in your aws account.
[code]

I do think samples has been edited and cause this issue. I will submit a PR to fix this.

[2019-04-03 20:40] Jeffwan commented on #1559
As documentation change was merged, I feel good at this moment and I will just close this issue.

[2019-04-03 20:40] #1559 closed

[2019-04-03 20:41] mmingorance-dh commented on #1852
Yes, the coreDNS deployments comes already deployed in EKS by default and I'm patching this deployment to add the annotation.
I'm testing 2 different scenarios in my clusters right now. In my production clusters I have this flag `--skip-nodes-with-system-pods=true` together with `cluster-autoscaler.kubernetes.io/safe-to-evict=false`. And then in my staging and QA clusters I have `--skip-nodes-with

[2019-04-03 20:59] audrey2424 commented on #1854
That’s because someone created a amazon account before I ever did. My credentials were being used

[2019-04-03 21:30] Jeffwan commented on #1854
@audrey2424 ???

[2019-04-04 07:09] Rajat-0 commented on #1853
/assign @Rajat-0

[2019-04-04 08:34] mmingorance-dh commented on #1852
Ok, after testing during last night, it seems that the annotation is found and the cluster doesn't scale the node down.
I just redeployed cluster-autoscaler with `--skip-nodes-with-system-pods=false` in all my environments and I'll keep watching the logs during low traffic time when the cluster is supposed to shrink.

So what I saw and I think it was the problem is that cluster-autoscaler didn't i

[2019-04-04 09:17] MartinEmrich commented on #1854
@Jeffwan the first change did work:

[code]

All it changed was really the YAML formatting (with the `>-` thingy), which apparently was not YAML, but just a typo in the example?... Diff:

[code]

I'm unsure about "_I would suggest you to also include cluster tag._". Isn't `k8s.io/cluster-autoscaler/awsref` my cluster tag already? What is "benchmark-0403"?

[2019-04-04 10:13] MartinEmrich commented on #1854
FYI: I just did some tests (adding a ***load of pods, and later removing them), cluster-autoscaler works great! 👍

[2019-04-04 10:32] #1849 closed

[2019-04-04 12:10] michaa76 commented on #1854
@MartinEmrich would you please close the issue, if it works for you?!

[2019-04-04 12:38] piontec opened #1858 "addon-resizer modifies different attributes than request/limit only"
We're running addon-resizer with https://github.com/kubernetes/kube-state-metrics, which is the default deployment. Unfortunately, addon-resizer changes other properties than limits/requests on the managed pod:
[code]

SInce the code seems to not update them anywhere, it must be a bug in underlying libs.

[2019-04-04 14:02] mmingorance-dh commented on #1852
Again 17m ago the same happened.
A node was removed by cluster-autoscaler without respecting the annotation in my coreDNS pod.
I don't know how to troubleshoot this.

[2019-04-04 14:04] AESwrite opened #1860 "Failed to create AWS Manager: RequestError: send request failed ( i/o timeout)"
Hello,
I'm currently using kubernetes v1.12.5 and CA v1.12.3
Cluster was created with kubespray v.2.8.3 (kubeadm enabled).
Provider: AWS

I'm using the standart example of cluster-autoscaler-one-asg.yaml, I've modified only this lines:

        _- image: k8s.gcr.io/cluster-autoscaler:v1.12.3_

            - name: AWS_REGION
              value: us-east-2_

        - name: ssl-certs
          hostP

[2019-04-04 14:13] mmingorance-dh commented on #1852
I can't understand how cluster-autoscaler in my QA cluster recognised the annotation and not in my production and staging clusters.
All of them are running kubernetes 1.11 and cluster-autoscaler 1.3.7

[2019-04-04 14:20] #1854 closed

[2019-04-04 16:25] frobware opened #1862 "fix_gopath.sh is broken since the addition of quotes"
Since #1837 no globbing will take place.

For example:

[code]

Whereas if you revert PR #1837

[code]

[2019-04-04 16:28] frobware commented on #1862
/cc @achinthagunasekara

[2019-04-04 16:31] Jeffwan commented on #1854
No, that's not. If you look at the documentation here.
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#auto-discovery-setup

You know what I mean. Sorry `benchmark-0403` is my cluster name, you need to replace with your cluster name to limit CA scope. You don't like CA to fetch other cluster's ASGs.

[2019-04-04 16:35] Jeffwan commented on #1852
Em. Interesting, which means it was working at the beginning in your production environment and then stopped working and coredns node was removed..

If you can fetch logs that the node coredns scaled down, that would be super helpful. I will also run a test to take a look. I will keep CA running a while.

[2019-04-04 16:36] mjstevens777 commented on #1615
I think this is a combination of the PR you mentioned and issue #1754, which is fixed in version 1.12.

[2019-04-04 17:08] mmingorance-dh commented on #1852
Actually I never saw this message `cannot be removed: pod annotated as not safe to evict present:` in my production clusters, only on QA which is changing the size more often.
But configuration was the same in all of the clusters.

[2019-04-04 17:35] Jeffwan commented on #1135
We have a PR merged and every cloud provider could implement their own GPULabel() and GetAvailableGPUTypes(). Let me if there's anything I missed.

[2019-04-04 18:34] Jeffwan commented on #1852
Actually, `--skip-nodes-with-system-pods=true` is default option. Users sometimes like to kill pods under `kube-system` and then they override `--skip-nodes-with-system-pods=false`.

`cluster-autoscaler.kubernetes.io/safe-to-evict=false` was not designed for system level pods. It's commonly used for other uninterrupted pods.

If coredns is the pod you to want protect, you don't need extra setting.

[2019-04-04 20:14] #1377 closed

[2019-04-04 20:55] Jeffwan commented on #1852
I had one test with `cluster-autoscaler.kubernetes.io/safe-to-evict=false` and `--skip-nodes-with-system-pods=false`

3 coredns across on 3 nodes in two node groups. None of them get removed in past two hrs. They just regularly be recognized as unremovable every 5 mins.

[code]

Here's the pod setting.

[code]

[2019-04-04 22:13] Jeffwan commented on #1860
/assign

[2019-04-05 00:12] mmingorance-dh commented on #1852
That's interesting because in my QA cluster I can see the logs as expected:
[code]

[2019-04-05 00:45] Jeffwan commented on #1852
Could you list your CA configuration in three environments?  are they same?

[2019-04-05 00:52] Jeffwan commented on #1860
Can you run `kubectl get pods ${your_ca_pod} -o yaml` and check what's the value of `dnsPolicy`?

Is you cluster running in `us-east-2`? AWS_REGION is not required in v1.12.

From last week, samples has some clean up but I didn't see any problems there.

[2019-04-05 00:54] Jeffwan commented on #1715
@annora17

EKS release support with kubernetes v1.12. I also update examples in https://github.com/kubernetes/autoscaler/pull/1864. It becomes easier now.

[2019-04-05 00:57] KJTsanaktsidis commented on #1578
I just noticed this too on Google's GKE. We have a consul agent daemonset on every node, and have "leave_on_terminate: true" set in the Consul config to gracefully leave the consul mesh when the Consul agent is stopped. I wasn't seeing any graceful leaving happening however, and it turns out it seems that there's no SIGTERM of the Daemonset container before the cluster autoscaler deletes the node.

[2019-04-05 01:08] Jeffwan commented on #1709
I am curious what's scale of on demand nodes?

Let's assume if you have 3 node with utilization rate above 50% which can not be scaled down. You want your new created resource pack those 3 nodes first but scale up spot node group rather than on demand.

The resource you save is up to 50% * number of nodes. Have you considered to improve your scale-down-utilization-threshold may be to 90% and make

[2019-04-05 01:11] Jeffwan commented on #1709
I think improving threshold may not be very helpful.
Utilization rate in CA comes from Math.max(cpu, memory). Which means the other resource maybe underutilized.

[2019-04-05 05:50] Jeffwan commented on #1615
/assign

[2019-04-05 05:51] Jeffwan commented on #1615
/sig aws

[2019-04-05 05:52] Jeffwan commented on #1615
Please move to v1.12.x.  v1.3.2 doesn't have LaunchTemplate support.

[2019-04-05 09:09] AESwrite commented on #1860
**dnsPolicy: ClusterFirst**

Yes, cluster is running in us-east-2.
I discovered that pod somehow uses default resolv.conf file

`; generated by /usr/sbin/dhclient-script
search us-east-2.compute.internal
nameserver 10.0.0.2
`

And when i added `nameserver 8.8.8.8` to it on master and worker, the CA started to work. I'm not sure if it's a solution or just a workaround (i don't think CA should use t

[2019-04-05 10:08] MartinEmrich commented on #1854
@Jeffwan

The docs say:

as "awsref" is my cluster name, that should be the cluster tag? I am confused.

[2019-04-05 10:13] ringtail commented on #1135
@Jeffwan That's really cool. I'll check the GPU types.

[2019-04-05 13:25] bskiba commented on #1820
0.5 is out
/close

[2019-04-05 13:25] #1820 closed

[2019-04-05 13:47] mmingorance-dh commented on #1852
Deployment:
[code]
Values file for Prod:
[code]
Values file QA:
[code]

I just realized that CA versions are different in my prod and qa environment. But the production's versions is higher one...

[2019-04-05 14:23] mmingorance-dh commented on #1852
I just saw how in my production cluster I lost another node running coreDNS even though I have the `--skip-nodes-with-system-pods=true` set.
Also, I can see in the logs of CA that some other pod is being recognised:
`Fast evaluation: node $NODE_NAME cannot be removed: non-daemonset, non-mirrored, non-pdb-assigned kube-system pod present: coredns-54f4cff84d-brdjb`

So it looks like this if: https:/

[2019-04-05 16:57] Jeffwan commented on #1854
@MartinEmrich I see. My careless. Did not notice that's a cluster name. It should be fine. If you solve the problem, we can close issue. :D

[2019-04-05 17:03] MaciekPytel commented on #1852
CA doesn't look for all the reasons why it can't delete the node - as soon as one pod can't be moved it won't bother checking the other pods (since the node can't be deleted anyway). So there are multiple system pods on a single node only one of them will be logged and the other ones will likely never show up in log. So the fact that the logs are missing by itself is not an issue.

Similarly `--sk

[2019-04-05 20:14] jyipks commented on #1798
@Jeffwan i am able to have the cluster-autoscaler pod communicate to aws and launch a node in the ASG, however the node is not being provisioned as a kubernetes worker. I am using Canonical, Ubuntu, 18.04 LTS, amd64 bionic image build on 2019-02-12 AMI, is the cluster-autoscaler pod suppose to provision the node like what Kops or Kubespray does? Or do I somehow need an AMI with kubernetes pre-inst

[2019-04-05 21:32] Jeffwan commented on #1798
@jyipks You probably need to a node group defined, and then scale that ASG. node group can be created by kops or kubespray. Honestly I am not familiar with federated or hybrid architecture mixing with on prem and cloudprovider. You can probably ask this question in  Kops or Kubespray? Like how to create a nodegroup join as workers in on prem cluster?

[2019-04-08 11:17] mmingorance-dh commented on #1852
@MaciekPytel Thanks for the info.
In fact I could see in the logs of cluster-autoscaler how the specific node running the coreDNS pod was removed by cluster-autoscaler due to low utilization.
I'll check what else could be affecting this, but it looks weird to me that cluster-autoscaler decided by itself to remove that node when running a pod from kube-system and `--skip-nodes-with-system-pods=true

[2019-04-08 12:26] Shnatsel opened #1869 "CA will not scale up from 0 if unschedulable pods require ephemeral storage"
Once a node pool is scaled down to 0, Kubernetes Cluster Autoscaler will not be able to scale it back up in response to an unschedulable pod if the pod requests ephemeral storage.

Messages similar to the following will show up in master logs: `pod didn't trigger scale-up (it wouldn't fit if a new node is added): 6 Insufficient ephemeral-storage`

The issue manifests if _all_ of the following cond

[2019-04-08 12:30] Shnatsel commented on #1869
Doing any of the following should be sufficient to work around the issue:

1. Manually set the size of node pools to at least 1 and set the minimum size setting for autoscaling to at least 1.
1. Drop the ephemeral storage request from the pods and use a PersistentVolumeClaim to dynamically provision a persistent disk for each pod. The persistent disk will be deleted as soon as the pod is deleted,

[2019-04-08 14:58] tghartland opened #1870 "Magnum cloud provider includes master node in node group"
The assumption for the single node group in the magnum autoscaler was that it covers the entire cluster. But since the master node is also registered in kubernetes the cloud provider was including it as a member of the node group as well.

This is the cause of the issue discussed in #1690 where having a single cordoned minion node in the cluster does not allow a scale up. The autoscaler sees that

[2019-04-08 19:29] AESwrite commented on #1860
The problem is still relevant.
Sometimes it works (in 10% of cases), but most of the time it crashes with timeout error.
DNS settings and services look ok, and working on other pods perfectly.

[2019-04-09 03:13] openstacker commented on #1870
@tghartland Thanks for working on this. Really appreciate it. Cheers.

[2019-04-09 08:07] openstacker commented on #1870
@tghartland When I testing the auto scaling feature, sometimes I saw the master node is being rebuilt (delete and recreate) accidentally, though the annotation `cluster-autoscaler.kubernetes.io/scale-down-disabled=true` has been set for those master nodes. Do you think the fix you mentioned in this issue could also fix that? Thanks.

[2019-04-09 09:27] tghartland commented on #1870
@openstacker Diogo had the same issue with the master node disappearing and being rebuilt during scaling, but we think it was just a glitch due to the heavy load in devstack.

@strigazi suggests checking the event logs and creating an issue for magnum to track this, instead of here
[code]

[2019-04-09 09:56] openstacker commented on #1870
No useful information from those two commands. And I think it's mostly like an issue on AutoScaler side though I'm OK to track it on Magnum side. Could you please login #openstack-containers so that we can have a quick catch up? Thanks.

[2019-04-09 14:13] #1853 closed

[2019-04-09 20:44] davidquarles commented on #1133
@MaciekPytel @mwielgus @viggeh I'm no AWS expert, but AFAICT instances aren't added to the ASG when spot requests are made.  With an open, unfulfillable spot request triggered by an ASG, I see that the ASG's desired number of instances has been incremented, and the spot request shows up as an associated scaling *activity*, but there are no new instances under the ASG.  Is [the aforementioned strat

[2019-04-10 04:15] zedtux commented on #1853
Thank you @Rajat-0 👍

[2019-04-10 05:50] Tzrlk commented on #1800
I'm having the same issue, but I suspect it's because I haven't supplied it the required AWS permissions yet. Here's my deploy spec:
[code]
My logs:
[code]

I assumed that the service would just retry until it was able to perform the needed operation, as the service would still be "live", just not "ready".

[2019-04-11 16:17] mvisonneau commented on #1133
I'll add that this is also valid for any failing reason other than spot requests not being fulfilled, eg: corrupted LC or LT config - AMI not found, missing subnet or SG, etc..

[2019-04-11 18:14] #1870 closed

[2019-04-12 21:41] left4taco commented on #1452
@spinus Hi. Could you be more specific on the solution? I also ran into this problem and cannot figure out how to scale up from 0.
(Scaling down to 0, or scale up from 1 to n works well though)

[2019-04-13 08:50] spinus commented on #1452
@left4taco my issue was not scaling above 1. I just wanted hosts to be labeled. In my case I just used few autoscaler configurations, each for different "type" of the machine I wanted instead of having them in 1 pool (because the labels can be provided in kubelet, I prepared few vm images with kubelet and different set of node labels for each machine type/scaling group I wanted).

[2019-04-14 12:21] hitesh1907nayyar opened #1898 "scale down time manipulation"
Hi,

Can somebody please tell me how to reduce the scale down time in cluster-autoscaler-containerservice.yaml(azure).

Manly i will like to manipulate the scale down waiting time before nodes scaling actually start.

Also what is the present time before it starts to scale down ?

[2019-04-15 12:32] mariojacobo opened #1899 "Autoscaler version"
The documentation states the following :"Starting from Kubernetes 1.12, versioning scheme was changed to match Kubernetes minor releases exactly."

However, I cannot find all the releases that should be in place for every minor.  The releases page (https://github.com/kubernetes/autoscaler/releases) only has, for example 1.12.3 and skipping straight to 1.13.2.  There are quite a lot of minor releas

[2019-04-15 13:06] MaciekPytel commented on #1899
Minor release is 1.12, 1.13, etc. The last digit is a patch release - those do not track Kubernetes releases. You should generally use CA 1.12.<latest> when working with Kubernetes 1.12.X, regardless of the value of X.

[2019-04-15 13:08] mariojacobo commented on #1899
@MaciekPytel  Ok, that makes more sense now. thanks

[2019-04-15 13:08] #1899 closed

[2019-04-15 13:35] mariojacobo opened #1900 "Azure AKS service principal permissions"
We have updated the CA image version from v1.2.2 to v1.12.3 and are seeing the following issue when trying to scale up/down:

Normal   ScaledUpGroup         30s   cluster-autoscaler  Scale-up: setting group agentpool size to 2
  Warning  FailedToScaleUpGroup  29s   cluster-autoscaler  Scale-up failed for group agentpool: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending reques

[2019-04-15 23:36] left4taco opened #1901 "Possible to stop the instance instead of delete it?"
A little background. We are using AWS Kubernetes cluster as our CI platform and Gitlab runner as CI worker. A new pod will be created when there is a new job in the queue.

The ideal situation is, there's no nodes(instances) running when there's no jobs. Once a new job comes in, CA will start a new node. But the problem is, it takes 5 minutes to initialize the node, pull the docker image of the po

[2019-04-16 10:01] MaciekPytel commented on #1901
Currently it's not supported, though we're of course open for contributions. The idea was discussed before and it seems stopping the node would be very simple. It's restarting it later on that's difficult - there is no mechanism in CA for keeping track of suspended instances and bringing them up later, currently CA is only able to request new nodes.

[2019-04-16 15:25] #1548 closed

[2019-04-16 16:15] stuartnelson3 commented on #775
I'm experiencing this same problem running on AWS, using kubernetes 1.12. The autoscaler brings up instances, then after a short time, removes them since they are unregistered:

[code]

the nodes are present in kubernetes and have pods scheduled to them.

From reading, this PR sticks out: https://github.com/openshift/kubernetes-autoscaler/pull/14

Particularly:

Looking at the [kubelet documentati

[2019-04-16 16:38] left4taco opened #1906 "To scale up from 0, CA has to be started when there's 1 node at present"
This is my finding while moving our CI to Kubernetes. The idea is to have a build node group, which has minimal node number of 0 so that we don't pay for the machine when there's no jobs.

Scaling down to 0 always works. But It was weird that sometimes CA is able to scale up from 0, but some times not. The error message is like "The node doesn't match the node selector" while the node group is abs

[2019-04-16 16:51] aleksandra-malinowska commented on #775
Yes. TL;DR ProviderId is the only way for Cluster Autoscaler to connect a VM to a Kubernetes Node object. If you'd like to do it differently, you can try to add an alternative implementation to GetInstanceId() in cloudprovider module.

[2019-04-16 19:37] nithu0115 opened #1907 "cluster-autoscaler [AWS] isn't aware of LoadBalancer inflight requests causing 502s when external traffic policy is set to Cluster"
I have two deployments behind a service of type Load Balancer and External Traffic Policy set to Cluster. Deployment (say A) behind a service of type Load Balancer(A) and deployment (say B) also behind a service of type Load Balancer(B). I am also using cluster-autoscaler to scaling my worker node.
Deployment App A is my app server, Deployment B is my web-server which would forward all the request

[2019-04-17 03:34] ringtail commented on #1135
@Jeffwan @aleksandra-malinowska @MaciekPytel Cloud I close this issue.

[2019-04-17 03:35] ringtail commented on #1135
I have already updated the GPU types. Thanks !

[2019-04-17 03:43] ringtail commented on #1906
What does `CA has to be created when there's at least one node running in the group` mean? CA can use describe instance meta from node-group without nodes.

[2019-04-17 08:52] stuartnelson3 commented on #775
Cool, I didn't see a section in the documentation so I was wondering why my nodes were being brought up and then killed.

Is it written anywhere? If not, I would be happy to add an "If you're deploying this to a self-managed cluster" or something

[2019-04-17 09:02] sd2k commented on #1798
@jyipks Did you manage to get this working? I'm struggling with the same issue as you...

[2019-04-17 09:02] legal90 commented on #1317
/remove-lifecycle stale

[2019-04-17 09:13] MaciekPytel commented on #775
I don't think it's explicitly documented anywhere. If you want to take a shot at documenting it, we'll be very happy to accept your contribution.

[2019-04-17 11:54] bskiba commented on #1181
/remove-lifecycle stale
/assign @bskiba

[2019-04-17 12:50] jyipks commented on #1798
@sd2k have not found anything to make this work yet unfortunately. i think possibly, we might have to configure a "providerID" to trick it.. there are logs saying my on prem nodes dont have one.. my aws nodes has something like this .. "ProviderID:                  aws:///us-east-2c/i-xxxxxxxxxxxxxx" i'm not a programmer.. but possibly someone could write something to skip that particular check/se

[2019-04-17 13:07] sd2k commented on #1798
I'm pretty sure you need to set the - -provider-id flag in the kubelet
which should handle that. I couldn't get to a point where my AWS nodes even
displayed a provider ID, they all just displayed as unregistered. I haven't
used kubespray to set up the AWS nodes though...

On Wed, 17 Apr 2019, 13:50 jyipks, <notifications@github.com> wrote:

[2019-04-17 13:14] jyipks commented on #1798
my on prem nodes are kubespray configured, and aws i just setup up the autoscaling group and made sure its tagged with the required names. (the providerID bit was something I noticed when i used kops to directly create nodes in aws)

[2019-04-17 14:20] max-rocket-internet commented on #1133
I don't see this behaviour. In my test the ASG is just left at the new value even though the new instance didn't get provisioned.

[2019-04-17 14:36] max-rocket-internet commented on #1133
Just to add my test results to this issue, if it helps any...

I have 3x ASGs (2 spot, 1 normal) I have unschedulable pods, CA triggers scale up:

[code]

But spot price is not fulfilled so instance is not created. Then `max-node-provision-time` passes:

[code]

Now at this point I would expect CA to immediately choose 1 of the other 2 available ASGs but it does not:

[code]

And pods are left uns

[2019-04-17 16:26] #1135 closed

[2019-04-17 16:26] MaciekPytel commented on #1135
You're right, no reason to keep it open.

[2019-04-17 16:38] left4taco commented on #1906
@ringtail Yes a label on the node group can help indicate the label of the node within. But in the case where such label doesn't exist, you must have a running node when CA is started.

[2019-04-17 18:08] alexeldeib opened #1916 "Node auto provisioning implementation code?"
Hi,

I would like to implement NAP for a provider. I'm aware GKE and supposedly AWS have Node Auto Provisioning. According to [this proposal doc](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/node_autoprovisioning.md), the code should implement an interface including `NewNodeGroup()`, `Exists()`, etc. However, [the associated code](https://github.com/mwielgus/au

[2019-04-17 20:43] JasonCarter80 commented on #1754
@Jeffwan  - Is this on the backlog anywhere?

[2019-04-17 22:16] alexeldeib commented on #1916
I found https://github.com/kubernetes/autoscaler/pull/900 which says (emphasis mine):
<pre>
At some point we added a whole bunch of GKE-specific code to core. This is the first part of cleaning that mess up.

<b>No change in actual logic.</b>
</pre>

GKE and GCE clients were refactored in https://github.com/kubernetes/autoscaler/pull/1110 and https://github.com/kubernetes/autoscaler/pull/1116 whic

[2019-04-17 22:22] Jeffwan commented on #1754
@JasonCarter80 Not yet. This is against current CA single instance type per node group structure. We are still evaluating mix instance type support and make sure we can better fit into CA.

Do you have any use cases? I'd love to hear more requirements which will give enough datapoints for next iteration

[2019-04-18 02:20] JasonCarter80 commented on #1754
@Jeffwan

I'm attempting to run my nodes as spot ready as possible, but occasionally instances types get terminated and are out of spot capacity, thus using multiple instance types would make this more reliable, currently I am running multiple ASG per AZ to cover this behavior.

[2019-04-18 03:25] ringtail commented on #1906
I don't get it. Why the label is not on the node group?

[2019-04-18 03:28] ringtail commented on #1135
OK

[2019-04-18 16:55] Jeffwan commented on #1754
@JasonCarter80
I see, so currently your major pain point is spot capacity could run out for single instance. You want to increase similar instances types (with same CPU and Memory) to fulfill your requests.

[2019-04-19 06:16] #1591 closed

[2019-04-19 15:03] mwielgus commented on #1916
@alexeldeib

The autoprovisioning code previously present in this repository was the GKE-specific initial Proof-Of-Concept. Even this POC required GKE-specific changes to Cluster Autoscaler core. As we continued to work on the feature we found that the core autoprovisioning implementation required more and more assumptions specific to how GKE and  it’s nodepools work. Ultimately we realized that b

[2019-04-19 15:19] alexeldeib commented on #1916
@mwielgus #1145 in particular was where I got confused. The GCE provider *did* split out the implementation? Was this never fully functional/didn't intend to stay in the CA repo to begin with?

[2019-04-19 15:44] alexeldeib commented on #1916
My real question is: is it safe to implement NAP using the existing spec? Or should I not bother, and go write my own controller?

[2019-04-21 12:39] casidiablo opened #1936 "Support for AWS r5ad. instances"
They are just like `r5a.` instances, but use NVMe SSD instead of EBS.

Right now the autoscaler is crashing because of lack of support for them:

[code]

The error message could also be improved

[2019-04-21 16:36] #1402 closed

[2019-04-21 18:38] #1358 closed

[2019-04-21 18:38] #1338 closed

[2019-04-21 18:38] #1345 closed

[2019-04-21 23:22] Jeffwan commented on #1367
@ringtail I think we can close this issue? Now we have a threshold and corresponding logic to handle the case.

[2019-04-22 16:04] philipakash commented on #1807
having same problem with EKS

[2019-04-23 01:25] Tzrlk opened #1943 "[cluster-autoscaler] Unable to build proper template node for cluster"
My logs are currently full of this:
[code]

Cloudformation permissions:
[code]

Cloudformation worker ASG:
[code]

Cloudformation worker Launch Template:
[code]

`kubectl version`:
[code]

autoscaler container spec:
[code]

I've looked through the code a bit, and it's not really much clearer as to what exactly is failing, and why the permissions supplied in the setup documentation aren't enough.

[2019-04-23 01:42] Tzrlk commented on #1943
Looking into the CloudWatch logs, it appears that the issue is with the "DescribeLaunchTemplateVersions" operation. Will add required permissions until these kinds of errors stop, and list all that are required so the documentation can be updated.

[2019-04-23 02:27] ringtail commented on #1367
@Jeffwan Cool!

[2019-04-23 02:27] #1367 closed

[2019-04-23 03:05] Tzrlk commented on #1943
I haven't had any errors since adding `ec2:DescribeLaunchTemplateVersions` to the policy, but if additional cases where permissions are missing are found, I'll add them here.

[2019-04-23 05:26] Jeffwan commented on #1907
/assign

[2019-04-23 05:28] Jeffwan commented on #1936
What CA version are you using? @casidiablo Looks like r5a. family has been added to list.

[2019-04-23 05:33] Jeffwan commented on #1943
Thanks for your report! I will file a PR to add policy.

[2019-04-23 05:33] Jeffwan commented on #1943
/assign

[2019-04-23 05:35] Jeffwan commented on #1860
Hi @AESwrite, sorry for late response. Anything special to your VPC settings?  If you can consistently reproduce this issue, that probably a bug somewhere. I'd like to try to reproduce and fix it.

[2019-04-23 09:50] MaciekPytel commented on #1916
GCE and GKE cloudprovider used to live in the same directory, but they were 2 separate implementations that happened to share some code. Cloudprovider would run in ModeGCP, ModeGKE or ModeGKENAP ([code][1]), each of those worked completely differently. ModeGKENAP was the only one that implemented NAP and trying to run it on non-GKE cluster would immediately crash CA as it would try to [call][2] no

[2019-04-23 12:35] losipiuk opened #1945 "Remove extra non-k8s dependencies of Magnum cloud provider"
See the comment: https://github.com/kubernetes/autoscaler/pull/1911/files#r277652727

[2019-04-23 12:36] losipiuk commented on #1945
/assign @tghartland

[2019-04-23 14:51] Moofasax opened #1946 "Cluster Autoscaler can get stuck in pending if HPA scales too many pods and CA restarts"
This is not an issue of CA code functionality so i apologize if this is the wrong place for posting this issue.

## Problem:
We have noticed when running through the [HPA example](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/) on our AWS clusters, that HPA will scale out the number of pods as expected until pods are stuck in, "Pending", however, if the CA p

[2019-04-23 15:03] MaciekPytel commented on #1946
We actually recommend running CA on master (at least that's how we do it in GCE). If you want to run it in cluster you can give CA pod a sufficiently high [pod priority][1] to guarantee it will have space to run.

[1]: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

[2019-04-23 15:21] Moofasax commented on #1946
Understood, we will explore pod priority but most likely end up scheduling it on the master.
Thanks for the help, I will close!

[2019-04-23 15:21] #1946 closed

[2019-04-23 16:15] aleksandra-malinowska commented on #1916
#1145 merely cleaned up unused code left by the earlier changes. The total refactoring effort was way too large to expect anyone to review it, so it was done gradually.

Being a hosted service, GKE provides an API call to create a new node pool. A self-hosted cluster running on GCE could have been deployed in a number of ways. Replicating this unknown way to create a new node group compatible with

[2019-04-23 20:47] stefansedich opened #1949 "Scale in of GPU node group sometimes results in 2 nodes being created"
I am experiencing some odd behaviour running on EKS when scaling out my GPU node groups which results in 2 nodes being created, I think it is related to the nvidia-device-plugin having a delay in setting the available GPU after a node comes up, the following seems to happen:

1. Schedule pod with GPU taint and GPU resource request with no GPU nodes in cluster
2. CA picks up that a node needs to be

[2019-04-24 04:00] casidiablo commented on #1936
Yes, the `r5a` family is the list. This request is for the `r5ad` family.

[2019-04-24 04:22] Jeffwan commented on #1936
@casidiablo I can regenerate instance list, which CA version are your running?

[2019-04-24 04:26] Jeffwan commented on #1949
Yes. You need to create GPU label to your node groups.
I added GPU Label for aws in https://github.com/kubernetes/autoscaler/pull/1584. But this has not been cherry-picked back to older version. Instead, you can add following label when you create new node groups.

You can use other strings to replace `nvidia-tesla-k80`

[code]

[2019-04-24 04:26] Jeffwan commented on #1949
/assign

[2019-04-24 04:27] Jeffwan commented on #1936
/assign

[2019-04-24 04:53] alexeldeib commented on #1916
Thanks for the details, I guess this can be closed. I didn’t realize there was no intention of the proposal for the NAP API to extend to other cloud providers. If I want something similar elsewhere, I’ll have to do the legwork to implement it myself outside of CA (I think?).

[2019-04-24 04:53] #1916 closed

[2019-04-24 05:14] stefansedich commented on #1949
Thanks @Jeffwan!

Looking at it does it matter what the gpu type string even is? digging through the code I cannot see the how it is use, using a g3s this is a Tesla m60 but this is not in the supported GPUs list, what is the imporance of the supported GPU list and what is the intended future purpose of this value?

Thanks!

[2019-04-24 05:38] vikaschoudhary16 commented on #1949
+1 @stefansedich !!
IIUC, CA triggers to scale out if pods are in pending state and since scheduler will schedule pods only if GPUs are reported in node status by device plugins and not based on node labels and thus this extra node will still be created.

One possible solution could be to use labelSelector as well in the pod spec. Then `--node-labels` will help.

[2019-04-24 05:48] Jeffwan commented on #1949
GPU type doesn't matter in this case, `value` is reserved for other purpose. Make sure you have key `cloud.google.com/gke-accelerator`. There's a method to check if node is GPU node which relies on this label.

[2019-04-24 05:50] stefansedich commented on #1949
Thanks @Jeffwan will give this a go, can you share any info on what the future use of the value might be for my own interests?

[2019-04-24 06:39] stefansedich commented on #1949
Thanks @Jeffwan this appears to be working, closing this issue off.

[2019-04-24 06:39] #1949 closed

[2019-04-24 06:58] Jeffwan commented on #1949
@stefansedich

Right now, AFAIK,  none of cloud provider use this type now. It could be used for scale up strategy or something else. If you have any use cases or requirements, please let me know. Thanks!

[2019-04-24 10:02] #1945 closed

[2019-04-24 15:19] mnothic commented on #1807
It was the CNI I must to change from kubelet to azure and works fine now.

[2019-04-24 20:26] ceelion opened #1962 "Add a configuration to CA that limits the number of nodes added per scale up."
Cluster autoscaler does not limit the number of nodes added per scale up. We have a use case where we want to scale up in batches and limit the number of nodes added per scale up cycle.

[2019-04-26 03:40] casidiablo commented on #1936
Sorry for the delay. We are running 1.11

[2019-04-26 08:37] aleksandra-malinowska commented on #1962
At first sight, I don't see a problem with it as long as it stays unlimited by default.

By the way, can you share a bit more about your setup and the problem you want to solve with this?

[2019-04-26 11:19] MaciekPytel commented on #1962
The problem is the definition of a 'scale-up cycle'. You could easily add a parameter to cap it at whatever number of nodes, but it won't really do anything. CA doesn't have any sort of cooldown - it will trigger new scale-up every loop (so every 10-20s) until it thinks there is enough nodes.

What you're trying to do sounds more like something you'd do in utilization-based autoscaler, where you c

[2019-04-26 12:17] ringtail commented on #1962
I think it might be the limit of cloud provider. In some providers. You can only scale up nodes less than a fix number.

[2019-04-26 13:53] MaciekPytel commented on #1962
I see. But is it fixed number of nodes per request or per second/minute/some other unit of time? If it's the former it feels like cloudprovider implementation could split the scale-up into multiple requests (controlled by internal flag). If it's the latter adding a simple cutoff to size of single scale-up won't solve it, because we'd likely trigger another scale-up too soon.

[2019-04-26 15:11] aleksandra-malinowska commented on #1962
I don't think there's a specific implementation to discuss yet. Adding it in cloudprovider modules sounds good, but depending on what exactly are the limitations of the given cloud, it could also break the feature - e.g. if the limitation is per node group, but multiple node groups can be resized at once without hitting this limit, splitting scale-ups alone would be sufficient, while throttling in

[2019-04-26 18:42] left4taco commented on #1901
If I understand correctly, CA jsut set the desired machine type to 0 in AWS auto scaling group. Looks like there no much CA can to to stop the machine. Closing the ticket now. Thanks

[2019-04-26 18:42] #1901 closed

[2019-04-26 21:44] ceelion commented on #1962
Thanks for all the comments. The use-case that we had was to avoid aggressive scale up caused by a single user's application. Thought more about it and seems that this approach is not going to solve it, so closing the issue.

[2019-04-26 21:44] #1962 closed

[2019-04-28 06:09] justaugustus commented on #1329
/remove-lifecycle rotten

[2019-04-28 06:10] justaugustus commented on #1500
/remove-lifecycle rotten

[2019-04-28 06:11] justaugustus commented on #1452
/remove-lifecycle rotten

[2019-04-28 06:12] justaugustus commented on #860
/remove-lifecycle rotten

[2019-04-28 13:17] #1459 closed

[2019-04-28 14:18] #789 closed

[2019-04-28 22:12] DerekV commented on #1321
Just leaving this here for others who might be searching for this error.
I had the same thing, but in my case, it was self-inflicted.
I had enabled HTTP_PROXY environment variables, but forgot to include `169.254.169.254` in NO_PROXY.

[2019-04-29 05:10] Jeffwan commented on #1936
https://github.com/kubernetes/autoscaler/pull/1970 Sorry for late response. @casidiablo
I would suggest you to upgrade to v1.12.  I will cherry-pick back to 1.11-1.14 later But seems community doesn't release v1.11 upgrade anymore. I can help confirm that. If we determine not to maintain 1.11. Please use corresponding version for v1.12

[2019-04-29 05:29] Jeffwan commented on #1943
@Tzrlk To double confirm, is this scale up from 0 case or general scale up case? Seems `ec2:DescribeLaunchTemplateVersions` is only used by scale up from 0?

[2019-04-29 05:31] Jeffwan commented on #1943
I notice we have a section to talk about permission for this case.
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#scaling-a-node-group-to-0

If your case is same as this one, I don't need to update doc. :D

[2019-04-29 07:04] Jeffwan commented on #1907
I think instead of adding grace period between node drain and node delete. Can we try to use `preStop` hook to delay few seconds to give EndpointController enough time to delete the pod from service?  At that time, even eviction request are send, pod can still serve traffic until it's removed from endpoint lists.

[code]

[2019-04-29 08:31] der-eismann opened #1972 "Do not run as root by default in Docker"
IMHO it is accepted as best practice to not run [processes in containers as root](https://medium.com/@mccode/processes-in-containers-should-not-run-as-root-2feae3f0df3b). I'm not sure if this was discussed before or if root permissions are in fact needed for the scalers to work, but it would be nice if we could change this.

[2019-04-29 08:55] aleksandra-malinowska commented on #1972
Sounds reasonable, I don't think they're needed for anything. @bskbia @MaciekPytel - are you OK with this?

[2019-04-29 08:58] bskiba commented on #1972
SGTM

[2019-04-29 10:06] MaciekPytel commented on #1962
@ceelion Kubernetes has mechanisms for controlling how much resources a single user can request (https://kubernetes.io/docs/concepts/policy/resource-quotas/) and those are probably the best way to tackle your issue. Autoscaler assumes that all the control happens at the time of pod admission control and if a pod requests a given amount of resources it has the right to do so.

[2019-04-29 11:29] bskiba commented on #1900
@feiskyer Would you be able to help

[2019-04-29 11:33] mariojacobo commented on #1900
I actually figured out the issue. The service principal needs to be "log analytics reader" on the workspace resources, not at the resource group level.  So, this change was introduced rather recently, as we had the autoscaler working just fine for the last 6-7 months.  What's even more puzzling is the fact that before we could autoscale while the NSG had a read only lock on it. Now, we have remove

[2019-04-29 11:38] bskiba commented on #1900
Glad you managed to work this out. Closing then.
/close

[2019-04-29 11:38] #1900 closed

[2019-04-29 19:05] elutsky opened #1975 "When Azure subscription quota is going to be exceeded during new node scale-out for Azure VMSS, the cluster is crushing"
Unfortunately, have no logs / ,,, to provide - it happened us several months ago.
When we got close to the quota of Azure subscription CPUs, and CA did try to add additional node (which supposed to exceed the quota) - the cluster crashed.

We just enlarged quota and re-created cluster.

CA is working fine for us - before and after.

Our environment:
K8s: 1.12.1
Cloud: Azure:
Reource: VMSS

[2019-04-29 19:51] alexeldeib commented on #1916
Sorry to bug you one more time -- @aleksandra-malinowska on this:
[code]
I see the issue with this. Isn't it fairly provider specific, though? If some set of generic hooks were enabled, it would at least be available to opt into?

I'm looking at cluster-api + cluster-autoscaler in close relation, and so the MachineSets/MachineDeployments concepts tie in very closely in my mind with NodeGroups. Con

[2019-04-29 21:03] n2aws commented on #1070
/remove-lifecycle stale

[2019-04-30 00:46] achinthagunasekara opened #1976 "Ability to pause the autoscaler based on a tag in the AutoScaling Group"
It would be really nice to have a feature to pause node autoscaler based on a tag in the autoscaling group (AWS) and have the ability to pass in the tag when node autoscaler starts.

E.G `--pause-tags=pause-node-autoscaler`

Then we should be able to add the tag `pause-node-autoscaler` to the ASG and have autoscaler pause any autoscaling activities.

[2019-04-30 10:01] MaciekPytel commented on #1976
Why not just just temporarily disable autoscaling for that ASG? How is this different?

[2019-04-30 10:18] choseh commented on #1133
We're running into the same issues here. I know it's only been like 13 days, but did you happen to find a workaround @max-rocket-internet?

[2019-04-30 10:19] achinthagunasekara commented on #1976
@MaciekPytel
Issue with that is, we'd have to update your Kube deployment for Autoscaler every time we roll the ASG. With this approach, it's all handled by adding/removing a tag to the ASG.

[2019-04-30 10:49] max-rocket-internet commented on #1133
@choseh nope 😐

[2019-04-30 11:17] krzysztof-jastrzebski commented on #1907
We experienced similar issue with Ingress and we are working with networking team to solve it.
The solution is to use annotations and taints so Ingress controller can drain connections before Cluster Autoscaler removes node. Solution:
1. Ingress controller adds/removes "cluster-autoscaler.kubernetes.io/dealy-deleting-node-ingress" annotation to all nodes used by Ingress when node is added to/remov

[2019-04-30 12:29] aleksandra-malinowska commented on #1976
Isn't it already possible when using autodiscovery? From [FAQ](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#auto-discovery-setup):

This sounds like you should be able to enable/disable autoscaler just by changing the tags, without autoscaler restart?

[2019-04-30 12:34] MaciekPytel commented on #1976
There are 2 parallel discussions on this (here and on https://github.com/kubernetes/autoscaler/pull/1977). Let's continue on https://github.com/kubernetes/autoscaler/pull/1977 to avoid duplication.

[2019-04-30 14:07] FayeGibbins opened #1979 "VPA 0.5.1 remote error: tls: bad certificate"
Using VPA 0.5.1 on k8s 1.11.9
The vpa-admission-controller pod is logging:

2019/04/30 14:06:10 http: TLS handshake error from x.x.x.x:48724: remote error: tls: bad certificate

How can I debug this please? The remote is the APi-master.

[2019-04-30 15:08] FayeGibbins commented on #1979
Aha! If you look in https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh
there is both vpa- and vpa_ used in CN's. one for hte CA and one for the cert.
Can they both be consistent please? Either vpa- or vpa_ for bth please?

[2019-05-01 17:27] baxor commented on #1133
Please address this issue.

[2019-05-01 18:01] casidiablo commented on #1936
Sure, that's something we are planning to do soon anyways. Thanks a lot

[2019-05-01 18:01] #1936 closed

[2019-05-02 08:29] mmingorance-dh commented on #1852
We could found out the problem in our case.
After saving all logs from cluster-autoscaler in our logging system, we could do some more in depth investigation about this problem and it turned out to be an issue produced by AZRebalance in EC2 instances.
Sometimes after cluster-autoscaler started to terminate instances, we were running more machines in certain AZ than the others, therefore AWS starte

[2019-05-02 08:29] #1852 closed

[2019-05-02 08:31] bskiba commented on #1975
What do you mean by "the cluster crushed"?

[2019-05-02 08:32] bskiba commented on #1975
/cc @feiskyer

[2019-05-02 08:55] bskiba commented on #1979
Hm, I think that if this was the problem, our e2e tests would fail and they seem to be working fine. Were you able to test successfully with the suggested fix?
Also, contributions are very welcome :)

[2019-05-02 08:58] bskiba commented on #1852
Thanks for the followup!
The behaviour seems to be documented here: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#common-notes-and-gotchas
is this in line with what you experienced?

[2019-05-02 09:03] mmingorance-dh commented on #1852
@bskiba Yes, that was exactly the problem.

[2019-05-02 13:21] feiskyer commented on #1608
/remove-lifecycle stale

[2019-05-02 13:22] feiskyer commented on #1975
@elutsky Same question as bskiba. What do you mean by `the cluster crashed`?

[2019-05-02 15:27] DanyC97 commented on #1125
@Jeffwan  have you made any progress on this  ?

[2019-05-02 18:56] #1368 closed

[2019-05-02 21:45] Jeffwan commented on #1907
That's great! Which ingress controller are you using? Sounds like a customized one. To me, I think only concern is the solution couples tight with cluster autoscaler.  The current solution we want to move forward is adding grace period before node deletion (cover empty node and drain node case).
This is not perfect because CA doesn't know how long to wait since it's not aware of user requests. I t

[2019-05-03 14:37] palmerabollo opened #1984 "bulk scale-up in azure creates only one node per iteration sometimes"
I think that cluster-autoscaler (CA) 1.3.x in Azure has problems dealing with affinity rules.

I use the following deployment to deploy a "pause" pod with two rules:
- affinity: They must use a node in the agentpool named "genmlow"
- podAntiAffinity: pods must not be deployed in the same node

[code]

The agentpool "genmlow" uses Standard_DS2_v2 machines (8GB) in a virtual machine scale set.

When

[2019-05-05 21:46] palmerabollo commented on #1898
@hitesh1907nayyar take a look at the --scale-down-xyz parameters. You can tune them to fit your needs.

[code]

You can get the whole list with:
[code]

[2019-05-06 09:22] alantang888 opened #1985 "Autoscaler wrong calculate wasted resource on AWS"
I just faced a problem with 3 kops instance groups. Each on single AZ. Only the subnet and name is different. Others are identical.
But autoscaler calculated zone A have less memory wasted. That make autoscaler always scale up node on zone A. (Now changed `expander` to random to avoid it.)

Autoscaler log is:
[code]

kops instance group config:
[code]

[2019-05-06 13:37] MaciekPytel commented on #1984
It's a known issue with pod affinity / antiaffinity: https://github.com/kubernetes/autoscaler/issues/257#issuecomment-364449232. The details are on the issue I linked, but in general pod affinity and  (especially) antiaffinity don't work well with CA. It can cause CA to only add nodes one by one as you observe and it completely breaks CA performance on large clusters.
It's not easy to fix, because

[2019-05-06 13:49] bskiba commented on #1181
This has been fixed by #1915

[2019-05-06 13:50] #1181 closed

[2019-05-06 15:31] palmerabollo commented on #1984
Thanks @MaciekPytel. What I don't understand is why it work well on AWS. Shouldn't that logic be shared among all cloud implementations?

[2019-05-06 15:49] MaciekPytel commented on #1907
Grace period only helps if ingress controller is already removing the nodes from LB. How would it know to start doing so? I don't think it reacts to just draining pods (and why would it?). Seems like there needs to be some custom logic on ingress side to start draining connections from node once it notices the CA wants to remove the node (point 2 in @krzysztof-jastrzebski idea).

[2019-05-07 01:54] hitesh1907nayyar commented on #1898
Thanks @palmerabollo . Can you please also let me know how to run this command ? I am not able to find any autoscaler pod in google kubernetes cluster.

[2019-05-07 13:06] palmerabollo commented on #1898
I am not familiar with Google Kubernetes Engine. The cluster-autoscaler is often in the kube-system namespace, try with `kubectl get pods -n kube-system | grep autoscaler`.

[2019-05-07 13:37] piontec opened #1996 "cluster autoscaler failed to scale up when AWS couldn't start a new instance"
We're using recent `cluster-autoscaler`, built from the `master` branch. It's used with AWS EKS and k8s 1.12.7. We're using it to run a cluster based on AWS spot instances.

Recently we had a situation, where CAS failed to scale up the cluster. During scale-up, 2 ASGs were selected to increase the capacity, but AWS had no spot capacity in them, so no new instances were really started (they were st

[2019-05-07 16:44] MaciekPytel commented on #1996
First of all - most CA flags were added in early development stage for CA developer testing or as a safety mechanism for disabling new features. Basically they exist ONLY because of historical reasons. No one tests or maintains them, so changing them may break things in all sorts of unexpected ways. Changing `--max-node-provision-time` is probably particularly unsafe - there is a const MaxNodeStar

[2019-05-08 01:19] davidquarles commented on #1754
@Jeffwan Is there _any_ way to do this today, perhaps via #1656 ?  Our use case is the same as @JasonCarter80.  When using spot instances, an unfulfilled request for an ASG with zero nodes never times out and blocks cluster autoscale for all other ASGs.  We want to use the new mixed ASGs, because they do actually timeout gracefully.  AFAICT they require at least two instance types to be specified,

[2019-05-08 05:05] Tzrlk commented on #1943
Nope, I had the autoscaling groups set to a minimum of 1. Seemed to require the permission before it actually attempted to do any scaling. So far with the addition of the permission, the scaling has worked just fine.

[2019-05-08 08:40] piontec commented on #1996
Thanks for the update, we'll switch back to 15min `max-node-provision-time` just in case.
About the logs: the problem is we got nothing like that in logs. Everything looks pretty normal, the only important stuff I missed above is:

[code]
which is only possible if Estimator computed that no new nodes are needed...

Also, we're starting CAS with the following set of flags - are some other unsafe to

[2019-05-08 09:46] MaciekPytel commented on #1996
The other flags should be fine - those are commonly used options (I guess your expander is not widely used yet :) ).

I think I figured it out though and it's not the flags. The handling of unregistered nodes assumes some representation of non-registered instances is returned by NodeGroup.Nodes(). If it's not the nodes will never come up as LongUnregistered, because that's tracked individually for

[2019-05-08 09:59] piontec commented on #1996
Thanks! Your assumption, that `LongNotStarted`/`LongUnregistered` is always `0` fits my logs - in that case, the number of upcoming nodes will be always equal to 'Wanted' size of ASG, even if nothing is coming up.
The problem is that this case is hard to reproduce, I would have to mock AWS API... anyway, I'll try to play with this.
Thanks!

[2019-05-08 10:29] mvisonneau commented on #1996
@piontec whilst I was looking into that, I managed to reproduce the behaviour by configuring launch templates with $0.01 capped spot requests.

[2019-05-08 10:47] piontec commented on #1996
Aaah, that hint is gold, thanks!

[2019-05-09 07:43] lovebaby979 opened #2001 "vertiacal-pod-autoscaler: how to configure for integration with prometheus(by custom.metrics.k8s.io,not metricsserver)"
I read other issues(#1551,#1809),the issues explains how to config VPA for integration with prometheus, the prometheus work with metricsserver.
My prometheus work with custom.metrics.k8s.io.
I want to know: how to configure for integration with prometheus(by custom.metrics.k8s.io)

environment:
  kubernetes version:1.12
  get k8s monitoring data by custom.metrics.k8s.io.
  prometheus-adapter:v0.4.

[2019-05-09 08:49] piontec commented on #1996
@MaciekPytel I need one more hint. I was able to reproduce the bug and it seems you're right. In general, artificial node IDs for spots can solve this, but there's one problem: when CAS is trying to delete such "non-existing" node (I call them placeholders), I need to remove the placeholder from the asg struct, but also I have to mark the asg as "unhealthy", so CAS won't use it anymore on the next

[2019-05-09 12:15] bskiba commented on #2001
VPA does not work with custom metrics atm, it works on resource metrics (CPU, memory). To use prometheus you need to have the resource metrics api (metrics.k8s.io) backed by prometheus.
You can try the [#sig-instrumentation](https://kubernetes.slack.com/messages/C20HH14P7/convo/C09R1LV8S-1556579721.042300/) for help on setting that up.

[2019-05-09 14:16] MaciekPytel commented on #1996
It should do exactly what you want out of the box. Except the NodeGroup won't be listed as 'unhealthy', it will be 'backed off'.

More specifically - CA should automatically backoff from scaling-up a given NodeGroup after failed scale-up. The node group won't be considered 'unhealthy', but it will go on exponential backoff for scale-up. You can find this in logs by looking for `Disabling scale-up

[2019-05-09 14:16] fiws opened #2004 "Undocumented minimum resource requests for VPA?"
I have a simple VPA on GKE that looks like this:

[code]

It results in scaled down cpu requirements for heapster but the Memory Requests jump to "87381333" for every container. Resulting in unneeded high memory requests for this pod.
I noticed the same behavior for other VPAs (eg. one for kube-dns).

Is there an undocumented minimum resource request and if yes, can it be changed?

[2019-05-09 14:54] kgolab commented on #2004
There is a pod-recommendation-min-memory-mb flag which defaults to 250 MiB. This is a minimum recommendation for the whole Pod so if it has multiple containers, it will be split between these.

[2019-05-09 15:15] fiws commented on #2004
aw :( we are trying to lower resource reservation for our small dev cluster. And this was the only way I found to lower it for system deployments like heapster or kube-dns.

Can you recommend any workaround for this? Or will it be possible to adjust that default in the future? It seems quite high for small clusters.

[2019-05-09 21:32] losipiuk commented on #1565
/remove-lifecycle rotten

*From: *fejta-bot <notifications@github.com>
*Date: *Thu, May 9, 2019, 20:41
*To: *kubernetes/autoscaler
*Cc: *Łukasz Osipiuk, Author

Stale issues rot after 30d of inactivity.

[2019-05-10 01:36] lovebaby979 commented on #2001
Thank you @bskiba

[2019-05-10 01:55] #2001 closed

[2019-05-10 06:05] Jeffwan commented on #1907
kubectl drain will change node.Spec.NoSchedulable to true. Service Controller will periodically fetch node information and ensure Load Balancer.

https://github.com/kubernetes/kubernetes/blob/32b37f5a85e8f2987f8367e611147cd4d4dfa4f9/pkg/controller/service/service_controller.go#L588-L594
(I am confused why it's still using fetch rather than watch..There's a 100s nodeSyncPeriod)

Logic here will mak

[2019-05-10 06:29] krzysztof-jastrzebski commented on #1907
We use taint(ToBeDeletedByClusterAutoscaler) instead of unschedulable because sometimes we are not able to finish drain. There might be PodDesruptionBudget which prevents drain from succeeding within 10 minutes. In such case we only remove taint. Unschedulable is used by other things. Due to that we wouldn't know if we can change unschedualable back to false after drain fails as it could be set to

[2019-05-10 09:10] dictvm opened #2007 "CA doesn't check minSize before attempting scale down"
We have discovered a strange issue with Cluster Autoscaler where it starts to drain a node and killing all pods on it, just to then notice that shutting down the node would violate the `minSize`.

Should the autoscaler not check first if it is allowed to scale down before attempting to do so?

These are the relevant parts from the logs:

[code]

[2019-05-10 09:15] dictvm commented on #2007
Uh, sorry, this is our fault. We had set differing minSize/maxSize in our kops Instance Group and the CA parameters.

[2019-05-10 09:15] #2007 closed

[2019-05-10 09:48] piontec commented on #1996
OK, patch is ready, I manually tested that against "low bid ASG" and it worked fine. Please review, @MaciekPytel

[2019-05-10 17:28] Jeffwan commented on #1907
That's true. I agree. Do you know does GKE have same problem for core v1.service? Looks like this is a common issue?

[2019-05-10 23:09] #1497 closed

[2019-05-11 06:18] qist opened #2010 "recommender Error adding metric sample for container"
{"log":"W0511 06:07:10.273944       6 cluster_feeder.go:386] Error adding metric sample for container {{default my-rec-deployment-55c8bd8657-j5fmp} POD}: KeyError: {{default my-rec-deployment-55c8bd8657-j5fmp} POD}\n","stream":"stderr","time":"2019-05-11T06:07:10.276302417Z"}

[2019-05-12 14:47] #1496 closed

[2019-05-12 18:06] openstacker opened #2011 "[cluster-autoscaler][magnum] Support /resize API"
Now Magnum has a /resize API which can accept the list of nodes to be removed and a target node count after the resize. That's a better option than the current way by calling Heat to remove the node and then calling Magnum to update the correct node count.

[2019-05-12 18:08] openstacker commented on #2011
@losipiuk Could you please help assign this issue to me? Thanks.

[2019-05-13 06:59] krmayankk commented on #944
/remove-lifecycle rotten

Doesnt look like auto scaler is using the new Lease api as per this https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/main.go#L410 Seems like a very simple change to implement

[2019-05-13 06:59] krmayankk commented on #944
/help

[2019-05-13 07:00] krmayankk commented on #944
/reopen

[2019-05-13 07:00] krmayankk commented on #944
/assign

[2019-05-13 09:08] bskiba commented on #2010
Does it cause any visible issues? This is expected if we get a sample for a pod that stopped to exist in the meantime.

[2019-05-13 12:12] losipiuk commented on #2011
/assign @openstacker

[2019-05-14 01:05] qist commented on #2010
kube-apiserver --version
Kubernetes v1.14.0
docker images
k8s.gcr.io/vpa-recommender:0.5.1

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: vpa-recommender
  namespace: kube-system
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: vpa-recommender
  namespace: kube-system
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: vpa-recommender
    spec:

[2019-05-14 08:05] bskiba commented on #2010
@qist Sorry, but I do not understand what problem you are facing. Is the VPA misbehaving in any way or is it just the warning message worrying you?

[2019-05-14 12:30] krzysztof-jastrzebski commented on #1907
AFAIK GKE L4 load balancer doesn't have this problem but I don't know how does it work. You probably can ask sig-networking.

[2019-05-14 16:37] Jeffwan commented on #1985
@alantang888  Seems your have different pods in ZoneA?  Can you double check pods on different zones?  Waste use following formula to calculate resources. I can try to reproduce on my end too.

[code]

[2019-05-15 03:02] alantang888 commented on #1985
The scale up was triggered by one pending pod. No other pending pod at that moment. And the node selector just have "dedicated: application-dynamic".
I just checked all daemon set. They will deploy to all of those zone.
I manually scale up node on Zone A and B. Those daemon set are same. Allocated resources also are same on both zone.

I'll try to change expander to `least-waste` to test again.

[2019-05-15 03:57] alantang888 commented on #1985
Really weird... i can't reproduce... now every waste value are same on different zone...

[2019-05-15 03:57] #1985 closed

[2019-05-15 07:06] Jeffwan commented on #1985
Ok, no problem. Feel free to reopen the issue if you meet this problem again someday.

[2019-05-15 07:07] Jeffwan commented on #1985
/sig aws

[2019-05-15 07:20] Jeffwan commented on #1976
/sig aws

[2019-05-15 07:20] Jeffwan commented on #1976
We have two PRs to help reduce API calls. #1935 #1841  Please check if you still have throttling issue or not using  autodiscovery

[2019-05-15 07:23] koflerm opened #2016 "Performance issues when using VPA resource recommendations"
We are using the Vertical Pod Autoscaler in Update Mode "off" or rather said only for the recommendations in the VPA resources. When customers apply the resource recommendations they face performance issues and OOM events even though we set the lower bound for CPU recommendations to 150m. We thought a possible solution would be to decrease the metrics server resolution time because it is currently

[2019-05-15 07:50] kgolab commented on #2016
Hi there,

could you please let us know a little bit more about the problem? Things that are of interest include:
* how long the workload lives before a problematic recommendation is provided?
* how long the VPA object lives before the recommendation is provided?
* how stable (vs spiky) resource usage of your workload is?
* what kind of workload is it (stateless vs stateful; what kind of programmi

[2019-05-15 08:21] bskiba commented on #2016
Additional question, which version of VPA are you using?

[2019-05-15 09:18] #1350 closed

[2019-05-15 10:05] koflerm commented on #2016
We are using Vertical Pod Autoscaler Version 0.5.0 hosted in our OpenShift cluster. The following routine is used for our resource recommendations: a cronjob is executed every hour which creates VPA objects for every scalable resource in the customer projects. Our "reporter" sends an email to the customers including their resource recommendations on wednesday. These emails are only send if the rec

[2019-05-15 10:49] danmcnulty opened #2020 "Uneven scale-up of AWS ASG's"
Hi,
I'm testing the cluster autoscaler on our AWS EKS 1.12 cluster.
I created 3 identical ASG's in zones a/b/c, and created a test deployment using a basic nginx pod, which I scale up with commands like
`kubectl -n playground scale --replicas=4 deployment nginx-scaleout`
I've sized the pods so that 2 will fit on each node.

I started with 3 nodes, one per AZ, and began scaling up the deployment. I

[2019-05-15 17:52] mboersma commented on #1862
@frobware was this closed by #1865?

[2019-05-15 17:54] xinxingliu90 opened #2024 "Does expander=priority work for AWS ?"
My goal is that cluster autoscaler can select the cheapest instance to scale up. Unfortunately the expander=price only works for GKE and GCE for now. Therefore I am looking into priority expander, and plan to set 1-GPU EC2 instance to have the higher priority than 4-GPU instances.

But I am looking into the following doc and found out that the expander=priority is not one of the options :
https://

[2019-05-15 18:13] xinxingliu90 commented on #2024
A follow-up question IF expander=priority work for AWS:

I have a group of labels for nodes on different node groups, for instance:

node-group-1  nodes have label "label_A"
node-group-2  nodes have label "label_B"
node-group-3  nodes have label "label_A"

My jobs have label_selector to run **ONLY** on group of nodes with "**label_A**".

If I config the priority config map like:
##################

[2019-05-15 18:36] dhawal55 commented on #1555
We got bitten by this too (CA will not scale up ASG from 0). I feel this needs to be documented clearly. We use auto-discovery and had a pool which got scaled down to zero but will never scale back up. Is there any workaround for this? I would like a solution other than running an idle node all the time (minSize:1)

[2019-05-15 19:01] frobware commented on #1862
Yes, although I never tested it as I reverted the commit at the time I was
trying to use it.

On Wed, May 15, 2019 at 6:52 PM Matt Boersma <notifications@github.com>
wrote:

[2019-05-15 19:47] kgolab commented on #2016
Assuming that the cronjob creates VPA objects only for new resources (ones that don't have VPA object yet), I don't see anything fundamentally wrong with this scenario - manual actuation based on dry-run is a valid use-case.

Few additional questions, building on top of the initial set:
* is the problem with too-low a recommendation a common one or rather a sporadic issue?
* how many containers do

[2019-05-15 19:57] xinxingliu90 commented on #2024
Kindly ping @mwielgus because I read through your answer in a similar request: https://github.com/kubernetes/autoscaler/issues/771

[2019-05-15 21:27] mwielgus commented on #2024
@xinxingliu90 Please check with @Jeffwan (AWS maintainer). As a Google employee I may lack some context specific to AWS.

[2019-05-15 22:23] Jeffwan commented on #2024
@xinxingliu90
Price model interface has not been implemented yet. Priority Expander is added to CA recently it's not specific to cloud providers. You can use it on AWS.

For your follow up question, you are right.

1. Predicate checks will run first and filer out qualifies groups
2. expander will choose right one based on the strategy.

`node-group-2-label-B` will never be picked since it fails la

[2019-05-15 22:29] xinxingliu90 commented on #2024
@Jeffwan
Thanks for your confirmation!

[2019-05-15 22:31] Jeffwan commented on #2024
@xinxingliu90 BTW, do you have a slack name? I am trying to get some GPU users and I have some proposal want to share with you later.  My slack name is Jiaxin Shan. you can ping me there.

[2019-05-15 22:31] Jeffwan commented on #2020
/assign

[2019-05-15 22:37] xinxingliu90 commented on #2024
@Jeffwan That will be great since you can ping me with your proposal! Our slack is internal only. You can reach me via xinxing_liu@apple.com. Thank you!

[2019-05-16 00:41] #2024 closed

[2019-05-16 00:50] xinxingliu90 opened #2027 ""safe-to-evict:false" label does not prevent node from scaling down ?"
My purpose is to prevent a node from scaling down when there are running pods on them.

Based on this doc: -https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node,

I label all my pods with: **cluster-autoscaler.kubernetes.io/safe-to-evict: false**

But still, I noticed some nodes scale down and my running pods on them

[2019-05-16 00:51] xinxingliu90 commented on #2027
Kindly ping @Jeffwan because you resolved my previous autoscaling issue so well :)

[2019-05-16 01:03] Jeffwan commented on #2027
@xinxingliu90  Can you also check this issue? https://github.com/kubernetes/autoscaler/issues/1852

If you can attach CA logs, that would be helpful for us to debug the issue. @xinxingliu90 BTW, do you get my email?

[2019-05-16 01:05] Jeffwan commented on #2027
Probably same issue here. https://github.com/kubernetes/autoscaler/issues/1852#issuecomment-488590142

[2019-05-16 01:13] xinxingliu90 commented on #2027
Oops:
[code]

[2019-05-16 01:14] xinxingliu90 commented on #2027
Thank you ! I did receive your email and I will look into both of your pull request.

[2019-05-16 02:23] Jeffwan commented on #2027
Priority changes has been merged into master recently, even 1.14 doesn't have this feature now. Could you test this feature separately?