[2020-02-26 11:55] bskiba commented on #2859
Thanks for reporting! Which Kubernetes version are you observing the error on?

[2020-02-26 12:06] MaciekPytel commented on #2857
Nothing :)
I'm not aware of any formal reasons stopping anyone from adding a provider to CA (assuming they sign Kubernetes CLA, etc). It's just a lot of work to add (and maintain) cloud provider integration (though amount of work depends on how many features you want to support, what are your scalability requirements, etc).
There are only so many core CA developers and we're no longer actively inv

[2020-02-26 13:48] pranaypratyush commented on #2857
Ah, I see.
Not to take your time even further, is there a guide or something to help
me get started on implementing OCI provider?
(Can't promise anything, I am new to kubernetes, 95% odds I won't be able
to do this)

On Wed, 26 Feb, 2020, 5:36 pm MaciekPytel, <notifications@github.com> wrote:

[2020-02-26 13:54] sebastien-prudhomme commented on #2859
@bskiba Kubernetes v1.15.3

[2020-02-26 14:01] MaciekPytel commented on #2857
There is no documentation unfortunately (if you end up implementing OCI provider and you feel like writing down some notes that would be very appreciated).

In general what you need to do is implement the interfaces in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go. Probably the best way is using one of existing providers as a reference. I'd

[2020-02-26 14:51] brtknr commented on #2802
Sorry for the slow reply. Are you planning to use the cluster resize API for Magnum rather than going via Heat? It would make things a lot more reliable than they are now. I am happy to work together on this.

[2020-02-26 15:13] tghartland commented on #2802
Yes, the resize API is used to make scaling requests. It is definitely more reliable than using heat.

The one thing that heat is still necessary for is to be able to track the progress of a resize after it has been requested. The autoscaler uses this information to know when nodes have failed to be created and react to that.

The downside as I mentioned is that heat can only really do one thing a

[2020-02-26 16:23] brtknr commented on #2802
Can we not track the progress by using gophercloud nodegroups API? you can retrieve status of a nodegroup there right?

Slightly out of scope of this discussion, I was wondering if you can shed a light on what is happening here as I am not 100% sure about how the cluster-autoscaler behaves: http://paste.openstack.org/show/790032/. It looks like the autoscaler waits for the pod to complete and when

[2020-02-26 18:10] otterley commented on #2781
Hi @stk0vrfl0w and @sodul ! Can you please provide some steps to reproduce the problem?

[2020-02-26 18:53] cidmin commented on #1658
I just ran into this error as well.
So if there are 4 AZs, it's best to start a node group with 4 nodes? Seems very unintuitive.

[2020-02-26 21:56] tbarrella commented on #2809
Note on the priority: Because of this, for an unschedulable pod, CA might scale up a node from zero whose capacity fits the pod but not its allocatable resources, causing the pod to remain unschedulable. Depending on the expander, CA might never scale up the right node for the pod

[2020-02-26 22:21] davewongillies commented on #2592
/remove-lifecycle stale

[2020-02-27 01:40] tbarrella commented on #2564
/remove-lifecycle stale

[2020-02-27 09:41] tghartland commented on #2802
With the node group API it is possible to check the overall state of a scale operation (basically `IN_PROGRESS` or `COMPLETE`), but the cloud provider should implement a `Nodes()` method which will return a full list of instances belonging to a particular node group (including `IN_PROGRESS` ones which have not yet been registered in the cluster), and the individual state of each instance. This inf

[2020-02-27 10:08] max-rocket-internet commented on #2556
/remove-lifecycle stale

[2020-02-27 16:24] fradee opened #2868 "Add, please, cordon functionality before downscaling nodes to cluster-autoscaler [AWS]"
For avoiding 5xx errors on LB during downscaling and resolve stability issues to support 99.9% availability. For it needs cordon functionality (set *.spec.unschedulable = true*) for nodes in CA, for example - additional parameters like:
**--cordon-before-terminate = (bool)**  and **--cordon-wait-time = (seconds)** to control the use.

There are 2 approximately variants for node lifecycle:
1) “norm

[2020-02-27 16:25] fradee commented on #1907
https://github.com/kubernetes/autoscaler/issues/2868#issue-572196425

[2020-02-27 16:26] fradee commented on #1907
#2868

[2020-02-27 16:28] fradee commented on #2868
There is long upstream about this headache ^^^^

[2020-02-27 17:17] edmondsw opened #2869 "missing addon-resizer 2.3 images for non-amd64 architectures"
https://github.com/kubernetes/autoscaler/commit/069fa4d917b5ec9a7b5787bf6f036fc37636ec4f added multi-arch support for addon-resizer, but so far the only release for which images have been published to k8s.gcr.io/addon-resizer (as viewable at https://console.cloud.google.com/gcr/images/google-containers/GLOBAL) for other architectures has been version 2.1. There is a newer version 2.3 that was only

[2020-02-27 17:20] edmondsw opened #2870 "multi-arch support with addon-resizer 1.8"
The latest addon-resizer README states that 1.8 is the recommended version: https://github.com/kubernetes/autoscaler/blob/7ecf51e4bfab24b6d9c6520d8a851052e5a447fb/addon-resizer/README.md . If that's going to remain true for a while, could multi-arch support (added by https://github.com/kubernetes/autoscaler/commit/069fa4d917b5ec9a7b5787bf6f036fc37636ec4f) be backported to the 1.8.x stream and then

[2020-02-28 02:59] stk0vrfl0w commented on #2781
Hi @otterley.  I don't have a test case that can consistently reproduce this issue.  That said, I can walk you through the steps the Ops team more recently followed for an EKS upgrade & deployment; a little after which we'd experienced the bug.

- Update the EKS control plane from the web console
- Upgrade all core components  as necessary (i.e. coredns, CNI & kube-proxy)
- Change the ASG's associ

[2020-02-28 08:29] lsytj0413 commented on #2858
By the way, I notice that kubernetes remove the ScheduleAlgorithm.Snapshot function in this [Support multiple scheduling profiles in a single scheduler](https://github.com/kubernetes/kubernetes/commit/c0488584712fe37372f35236d2d6dd0e9f630e26#diff-c237cdd9e4cb201118ca380732d7f361L117) commit，from tag v1.18.0-beta.0 to v1.18.0-beta.1 change. Is autoscaler will remove the Snapshot function usage？

[2020-02-28 11:54] brtknr commented on #2802
Thanks @tghartland. Is there any reason why we shouldn't implement `Nodes()` method upstream? Looks like it would be a fairly small change to update the code on magnum side as we already extract INSTANCE_NAME.

[2020-02-28 12:35] karolinepauls commented on #2434
@Jeffwan

So to be 100% clear, are we expecting that if an autoscaling group is tagged (e.g. `"Key": "k8s.io/cluster-autoscaler/node-template/taint/spot", "Value": "true:NoSchedule", "PropagateAtLaunch": true}`),  cluster-autoscaler will understand that spinning a new instance in that group will result in it being tainted with the same key/value and will not do that when needing to fit a pod that

[2020-02-28 14:25] MaciekPytel commented on #2858
Yes, in 1.18 we're migrating to scheduler framework, which completely changes how CA interacts with scheduler code. As part of it we have implemented our own snapshot implementation and we're no longer going to use Snapshot() function.

[2020-02-28 14:49] seh commented on #2434
Yes, @karolinepauls, your understanding is correct: The cluster autoscaler does not establish or change taints on Kubernetes _Node_ objects. The resource tags on the EC2 autoscaling groups are there to tell the autoscaler which taints you as the cluster operator intend to apply to the _Nodes_ for the EC2 instances that these ASGs will create. How you apply those taints is up to you, but yes, setti

[2020-02-28 16:49] vickyvikas7988 commented on #2823
There is no permission issue on CA

[2020-02-29 00:34] lsytj0413 commented on #2858
How about CA release-1.17？

[2020-02-29 11:27] #2411 closed

[2020-02-29 15:31] #2417 closed

[2020-03-01 22:11] StianOvrevage commented on #2607
Thanks @ircnelson . We're aware that we can request higher quotas, but that has to go through corporate channels so is not done in a jiffy :)

[2020-03-02 03:53] oscar60310 commented on #2434
@seh, @karolinepauls thank you, it's now more clear. I also think we should add some description on FAQ about the node-template tags.

BTW, @d-baranowski if you need to add labels/taints on node when it bootstrap with amazon-eks-node AMI, you can try adding args using [--kubelet-extra-args](https://aws.amazon.com/blogs/opensource/improvements-eks-worker-node-provisioning/).

[2020-03-02 04:52] mkumatag commented on #2869
can someone please help us pushing these images for non-amd64 architectures? @aleksandra-malinowska , @listx, @ixdy
steps:

[code]

[2020-03-02 05:19] leoskyrocker commented on #2508
Does anyone know what the impact of this issue is? It seems that recommendation is still generated regardless of this error. However, it is unclear how, is it based on Prometheus or checkpoints when this error happens?

[2020-03-02 11:44] chusAlvarez commented on #1653
After v1.17.0, some permissions need to be added to rbac ClusterRole:
[code]

[2020-03-02 16:39] BobasB commented on #2823
Faced with the same issue. I used `k8s.gcr.io/cluster-autoscaler:v1.14.7`. When Autoscaler pods restarts it doesn't know node labels and mark new pod as unschedulable with error:

[code]
But node group / pods affinity has correct labels and after manually launching nodes it starts working correctly. I suggest this is a bug.

[2020-03-02 19:41] gyuho commented on #2781
Can you share how ASG settings were adjusted?

[2020-03-02 22:34] stk0vrfl0w commented on #2781
Sure @gyuho.  Per the upgrade & deployment mentioned above, the team used the aws command line:

[code]

[2020-03-02 23:26] #2425 closed

[2020-03-03 10:00] bskiba commented on #2762
Sorry for the long response time, I missed this issue :(

Is it currently possible to change the timeout for admission controllers? I agree 30 seconds is too long, but last time I looked it was not configurable.

[2020-03-03 12:44] bskiba commented on #2542
/close

[2020-03-03 12:44] #2542 closed

[2020-03-03 15:09] Sheepux commented on #2333
👍

Also, log format would be nice to enable logs parsers (like datadog) to understand warning levels etc...

[2020-03-03 15:16] sgoggins commented on #2802
Upstream integration seems like a good idea to me.

[2020-03-03 15:30] bskiba opened #2886 "Fix flaky admission controller unit test"
I've seen multiple instances of this on unrelated PRs:

?   	k8s.io/autoscaler/vertical-pod-autoscaler/common	[no test files]
?   	k8s.io/autoscaler/vertical-pod-autoscaler/pkg/admission-controller	[no test files]
--- FAIL: TestGetPatchesForResourceRequest_TwoReplacementResources (0.00s)
    server_test.go:396:
        	Error Trace:	server_test.go:396
        	Error:      	Should be true

[2020-03-03 15:31] bskiba commented on #2886
/assign @jbartosik

[2020-03-03 20:46] dharmab commented on #2762
I believe the AC is created by vpa-admission-controller after launch- it doesn't seem to be in the manifest.

[2020-03-03 22:27] arukaen opened #2887 "cluster-autoscaler logging another pod's env-vars."
Hello,

I am running K8S v1.16.3 and `k8s.gcr.io/cluster-autoscaler:v1.16.3 ` and I've noticed in Loggly that cluster-autoscaler will randomly dump all the environment variables of another pod to logs. Is anyone else experiencing this?

[2020-03-04 06:21] mkumatag commented on #2869
@bskiba can you or someone can help us pushing these images?

[2020-03-04 07:18] bskiba commented on #2869
Yup, I'm on it.

[2020-03-04 07:23] bskiba commented on #2762
Yes, that's true, the vpa-admission-controller self-registers after startup. What I mean is do you know if the Admissionregistration Kubernetes API allows for specifying a custom timeout when registering a webhook (30 seconds is the default).

[2020-03-04 08:34] mkumatag commented on #2869
I'm wondering if we can have some job which does take care of this automatically whenever there is a new release.

[2020-03-04 08:37] sppwf opened #2888 "Scale up windows nodegroups from 0 with AWS EKS Cluster"
Hi Guys,

I am using a Kubernetes cluster using AWS EKS Service.
Cluster version 1.14, latest AWS offers
I am using Windows nodegroup with AWS supported vpc controller and webhook that adds required requests/limits to pods specs
I try to scale up windows ASG from 0 to 2. The idea is that it works for a couple of days and after that, it does not.
the Workaround to get it working again is to change

[2020-03-04 08:54] bskiba commented on #2869
We will move to the new k8s image staging/release process soon which should help with that: https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io#creating-staging-repos

[2020-03-04 10:09] mkumatag commented on #2869
cool.

[2020-03-04 10:30] MaciekPytel commented on #2887
Can you provide a specific logline you're seeing (minus any confidential data, etc). It's certainly possible that CA accidentally logs a Pod object somewhere, but it would be much easier to find with more data.

[2020-03-04 15:16] JulienBalestra opened #2891 "TemplateNodeInfo has an extra kube-proxy"
Regarding the current codebase, when building a node template we inject a kube-proxy with a cpu request [here in gcp for example](https://github.com/kubernetes/autoscaler/blob/1c17cb3eae6f6681605acafbbbd3e75065f5d625/cluster-autoscaler/cloudprovider/gce/gce_cloud_provider.go#L336).

In our setups, we have cluster with a kube-proxy as daemonset instead of a static pod, in some others we use cilium

[2020-03-04 15:22] arukaen commented on #2887
@MaciekPytel Heres an example (I shorted it because its pretty long):
[code]

[2020-03-04 15:40] bskiba commented on #2869
Images should be available now. Let me know if there issues.
/close

[2020-03-04 15:40] #2869 closed

[2020-03-04 15:41] JulienBalestra opened #2892 "Imbalance with balance similar node groups"
In the current AWS implementation, for example, the comparaison of node templates vs real world nodes produce imbalance scale ups when using the option `--balance-similar-node-groups`.

For example, when having 3 ASGs (1 per zone) with one ASG sets to 0, the autoscaler is always going  to scale the ASG with real world nodes instead of balancing the under provisioned ASG (the one at 0).

I suppose

[2020-03-04 16:23] MaciekPytel commented on #2891
Because, AFAIK, static pod remains a default way of running kube-proxy. TemplateNodeInfo is really based on a ton of guesswork and it's generally not very precise. There is no way (that I know of) to predict if static pod kube-proxy will be running on a node or not.
Feel free to add a flag to skip adding the kube-proxy to node template (though it will have to be a per-provider flag). Unless you ha

[2020-03-04 22:02] ddseapy opened #2894 "Scales up nodes unnecessarily as soon as node becomes available"
We are running autoscaler 1.16.3.

When an unschedulable pod gets created an ASG correctly gets it's size increased.  However as soon as the node is ready, the cluster autoscaler will scale out additional ASGs (it seems to be the number of ASGs we have - so 3 AZ/ASG spins up 2 unnecessary nodes, 2 AZ/ASG spins up 1 unnecessary nodes, and 1 AZ/ASG spins up 0 unnecessary nodes.

The logs seem to ind

[2020-03-04 22:08] ddseapy commented on #2894
tried both with and without `balance-similar-node-groups` but doesn't seem to matter.

maybe there is some setting to wait a bit after a node is available to check for unschedulable pods again?  Haven't tried increasing `scan-interval`, but that doesn't seem like the correct solution, even if it works.

[2020-03-04 22:19] Jeffwan commented on #2888
/assign @Jeffwan

[2020-03-04 22:27] Jeffwan commented on #2888
em.. this should be a bug on 1.14. Let me file a PR to address this issue. It didn't consider windows resources probably.

[2020-03-05 07:07] sppwf commented on #2888
Thank you @Jeffwan
It will help me a lot

[2020-03-05 09:59] bskiba commented on #2886
Seen this again on #2895

[2020-03-05 20:16] ddseapy commented on #2894
turns out not related to ASG size.  gjtempleton  in slack said it may be a lag in labelling.  so far increasing `scan-interval` to 1 min has solved the problem.

I'm not sure if there is a better work-around though:
* up-to a 1 min delay in spinning up GPUs isn't ideal for some of our workfloads that care more about latency
* not yet sure if this simply decreases the likelyhood of it happening or

[2020-03-05 21:05] ddseapy commented on #2894
Seems to still happen quite regularly :(

[2020-03-06 06:47] feiskyer opened #2898 "Switch to Azure clients from Azure cloud provider"
Azure cloud provider has added new clients, which has fixed issues inlcuding throttling, backoff retries and rate limiting. Cluster Autoscaler Azure should switch to those clients to address the throttling issues.

/area provider/azure
/milestone v1.18
/assign @nilo19

[2020-03-06 13:35] MaciekPytel commented on #2892
At a glance, this basically always uses TemplateNodeInfo, right? This was discussed at length in https://github.com/kubernetes/autoscaler/pull/1021.

tl;dr TemplateNodeInfo is always wrong. Even in controlled and uniform env like GKE it's impossible to get it 100% right (and, believe me, I tried). If you ever have a pod that barely fits or barely doesn't fit on a node (within the margin of error o

[2020-03-06 13:39] MaciekPytel commented on #2887
This looks like logging a pod object, but the log looks trimmed. Do you have a full log line (including file+line number or any part of original formatting string?).

[2020-03-06 14:11] tghartland commented on #2802
Having a way to directly query the list of nodes belonging to a node group in Magnum is something I discussed with Theodoros when he was finishing up node groups, but we decided it wasn't a priority. In the end it would just be another way for the autoscaler to access (some of) the information that is already available from Heat.

On the other hand it could be useful to expand this as a user facin

[2020-03-06 15:35] jbartosik commented on #2886
This flake happens very rarely when I try to reproduce it locally. I'm runing

[code]

but saw the flake only once so far.

[2020-03-06 18:09] dharmab commented on #2762
Yes, you can (and should) specify a shorter timeout: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#configure-admission-webhooks-on-the-fly

[2020-03-08 11:48] chiefzor commented on #2630
/remove-lifecycle stale

[2020-03-08 17:15] dharmab commented on #2762
@bskiba My team has hit this issue three times this weekend. Our workaround is to restart vpa-admission-controller when it happens, and we still haven't determined exactly _why_ it times out, but reducing the timeout would certainly help as a mitigation.

I'm also curious why the webhook is hardcoded in vpa-admission-controller and not a separate object in the manifest YAML. We had a similar issue

[2020-03-08 22:45] marwanad commented on #2821
@Starblade42 just wanted to follow-up, are you still seeing issues with the latest CAS and K8s minor releases? The changes should be available in 1.15+.

[2020-03-09 02:14] Starblade42 commented on #2821
I believe that things have improved greatly. Thanks!

[2020-03-09 05:33] shimajiro1111 opened #2903 "increase memory limit for CA"
I use autoscaler in production env.
Thank you for giving great product & information.

Problem
cluster autoscaler is increasing memory usage.

cloud provider: AWS EKS
version:v1.13.7
confirmation: Datadog

Please help . Thank you.

[2020-03-09 05:34] shimajiro1111 commented on #2903
![cluster-sutoscaler-leak](https://user-images.githubusercontent.com/38030876/76185597-00783500-6213-11ea-90cc-1a0783935c74.png)

[2020-03-09 07:55] #2445 closed

[2020-03-09 11:49] jbartosik commented on #2886
In #2905 I just saw a failure with new [logs](https://travis-ci.org/kubernetes/autoscaler/jobs/660079355?utm_medium=notification&utm_source=github_status):

[code]

[2020-03-09 12:43] #2886 closed

[2020-03-09 13:09] krzysied commented on #2886
This bug is fixed, but I would like to add additional context for why it happened:
This problem is caused by https://github.com/kubernetes/autoscaler/blob/4317838e1971d7c7cda6649f96c68c5a1720f160/vertical-pod-autoscaler/pkg/admission-controller/logic/server.go#L168
Golang assumes that map can be iterated in any order. This makes our test result non-deterministic.
This was a problem regarding our t

[2020-03-09 19:10] hjkatz commented on #2738
We were also affected by something similar to #2633 and #2715. Our solution was to restart the admission controller pod and then the recommendation targets seemed to be applied correctly. When will these merged changes be cut into a new release?

[2020-03-09 20:32] wchrisjohnson opened #2907 "Request for new release of cluster-autoscaler for 1.14"
There are several CVEs that have been fixed that affect cluster-autoscaler 1.14.7. Could we get a new release cut please?

[code]

[2020-03-09 23:01] Jeffwan commented on #2781
/assign @Jeffwan

[2020-03-10 05:16] kellyhyomin opened #2913 "AWS: How to add log level in log of cluster-autoscaler"
There is no level marking in the logs of the cluster-autoscaler on AWS EKS.
![image](https://user-images.githubusercontent.com/29850624/76281616-f3257e00-62d8-11ea-8984-fe5701d4bf7c.png)
I want to mark log level like INFO, ERROR in log of cluster-autoscaler on AWS. Is there a way?

[2020-03-10 07:43] ajohnstone commented on #2829
This has been updates in master, but no release. Any idea when a new release would be cut?

[2020-03-10 19:59] krzysied commented on #2738
@bskiba Do we have any estimation for a new release?

[2020-03-11 03:52] johnjeffers opened #2920 "cluster-autoscaler 1.15.5 does not work with IAM Roles for Service Accounts"
Just upgraded my EKS cluster to 1.15, and upgraded cluster-autoscaler along with it.

It appears that 1.15.5 has the same problem that we used to have with 1.14. It does not work with IAM Roles for Service Accounts.

Getting the following error:

```E0311 03:36:42.052777       1 aws_manager.go:259] Failed to regenerate ASG cache: cannot autodiscover ASGs: AccessDenied: User: arn:aws:sts::<my-accou

[2020-03-11 06:48] onesolpark commented on #2859
fixed by #2904
/close

[2020-03-11 07:30] #2859 closed

[2020-03-11 07:30] sebastien-prudhomme commented on #2859
Thanks for the commit.

[2020-03-11 07:39] sppwf commented on #2888
Hi @Jeffwan,

Do you think you can give an estimation when you can put the PR?

Thank

[2020-03-11 07:51] lawliet89 commented on #1869
/remove-lifecycle stale.

[2020-03-11 07:51] lawliet89 commented on #1869
/remove-lifecycle stale

[2020-03-11 10:57] MaciekPytel commented on #1869
cc: @towca FYI

[2020-03-11 14:16] bskiba commented on #2400
I've just released VPA 0.7.0 with support for cronjobs. (https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.7.0)
I apologize sincerely for the delay!

Please let me know if you still encounter issues with CronJobs.

[2020-03-11 14:16] #2400 closed

[2020-03-11 18:02] Jeffwan commented on #2888
I will make it by end of week. @sppwf Please help on the test later

[2020-03-11 22:52] Jeffwan commented on #2781
@stk0vrfl0w

Do you cordon node by your self?  Basically, if you want CA to manage lifecycle, any manual settings may make CA come into an undesired state.  Like manual cordon/drain the node, adjust size of ASG. This results in a different state compares to the CA cache and CA need to wait for a period to refresh those changes. Decision before that may be inaccurate.

Could you share use case why

[2020-03-11 23:44] #2898 closed

[2020-03-12 04:38] stk0vrfl0w commented on #2781
Hi @Jeffwan , thanks for looking into this!  As to your questions:

On occasion, nodes are cordoned for various reasons (node flapping between Ready/NotReady state, preparation of upgrade, etc.).  That said, I'm curious to understand how that would affect the EKS upgrade & deployment scenario listed above -- CA was disabled/terminated by setting its replica count to 0 and the `cluster-autoscaler-s

[2020-03-12 14:28] rochacon commented on #2920
I hit the same issue, downgrading to 1.14.7 seems to work fine. I believe we need to cherry-pick #2323 (or a more recent AWS SDK update).

[2020-03-12 17:43] #2642 closed

[2020-03-12 21:38] Jeffwan commented on #2920
/assign @Jeffwan

[2020-03-12 21:38] Jeffwan commented on #2920
I will go fix this issue. I remember I did the cherry-pick. Need to double check.

[2020-03-12 21:43] johnjeffers commented on #2920
@Jeffwan Thank you!!

[2020-03-12 21:51] xinxingliu90 opened #2927 "Deployment of a new daemonset cause CA "scale-from-zero" behavior unstable."
## Problem
Some ASGs are not able to scale from zero. Pods pending forever.

## Change
A device-plugin is deployed to cluster as K8s daemonset. Therefore for each pod, a new request is added to config:

[code]

## CA Logs
I0312 21:38:06.717094       6 utils.go:208] Pod `<some-pod> `can't be scheduled on `<some-asg>` predicate failed: PodFitsResources predicate mismatch, reason: Insufficient `<some

[2020-03-12 22:18] Jeffwan commented on #2927
/assign @Jeffwan

[2020-03-12 23:03] Jeffwan commented on #2920
@losipiuk @aleksandra-malinowska Trying to cherry-pick a change to v1.15.  that branch doesn't have `./hack/update-vendor.sh` and  `k8s/kubernetes` dependencies points to `/tmp/abc/kubernetes`.

Another thing is I notice

[code]

How can I manage dependencies in this case?

[2020-03-12 23:11] Jeffwan commented on #2809
/assign @Jeffwan

[2020-03-12 23:11] Jeffwan commented on #1869
/assign @Jeffwan

[2020-03-12 23:26] Jeffwan commented on #2927
Hi @xinxingliu90 We have the custom feature support for template node. Check here
https://github.com/kubernetes/autoscaler/pull/1656/files and https://github.com/kubernetes/autoscaler/issues/1650

To use it, tag ASG node group like this
[code]

[2020-03-12 23:27] Jeffwan commented on #2927
BTW, does GPU pods need this resource?

[code]

[2020-03-12 23:28] xinxingliu90 commented on #2927
@Jeffwan , yes, both GPU and CPU pods has the "fuse" resource in request.

[2020-03-12 23:39] Jeffwan commented on #2888
@sppwf Please check if you can follow the guidance and resolve your issue.

[2020-03-12 23:42] Jeffwan commented on #2927
For you CPU pod, why do you have this resource request?

[code]

[2020-03-12 23:47] Jeffwan commented on #2913
You can set log level here.

https://github.com/kubernetes/autoscaler/blob/a469c854ccf005e72cd2d9ed1bcc50fe39491ec0/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml#L151-L152

Which CA version are you using? Latest version uses klog and support log level

[2020-03-12 23:49] Jeffwan commented on #2836
Can you share the logs?

[2020-03-12 23:50] Jeffwan commented on #2903
You'd better adjust your title to more descriptive words.. I thought you are asking to increase memory limit for CA

Can you share some logs for us to debug? I would be great to know your cluster size (No. of Nodes, Pods) If your pod size is growing as well.

[2020-03-12 23:51] Jeffwan commented on #2829
/assign

[2020-03-12 23:57] Jeffwan commented on #2829
Thanks. I can help resolve this issue and request newer release. I think what we can help is bump the SDK version and then user can mount env AWS_STS_REGIONAL_ENDPOINTS=regional. SDK client will pick up env and resolve right endpoint

[2020-03-12 23:59] Jeffwan commented on #2823
Have you tagged your ASG with the label? Read the docs for scale from 0 case. https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#scaling-a-node-group-to-0

[2020-03-13 00:11] Jeffwan commented on #1650
For feature users, minimum CA version supports this feature is 1.14.x.

[2020-03-13 00:14] ajohnstone commented on #2829
That is correct, It's resolved in the version that is already in master.
[code]
See go.mod in master here.
https://github.com/kubernetes/autoscaler/commit/af6f3258d6a1ebf7bf939ad2fc65de4cf8e2a9cb#diff-5b1211f36242f6afe85bdb0062369dc3R16

The upstream fix was here https://github.com/aws/aws-sdk-go/pull/2779/files
Resolved in aws-sdk-go "Release v1.25.18 (2019-10-23)"
https://github.com/aws/aws-sdk-

[2020-03-13 00:17] Jeffwan commented on #2809
@tbarrella Yes.

Agree. Originally in that PR,  we plan to override it but later on we concentrate on ephemeral-storage issue. I think what we can have two options.

1. override `cpu` and `memory` directly and set this value as `node.Status.Capacity`

2. provide new label like `k8s.io/cluster-autoscaler/node-template/reserved` , user can use `system` or `kube` as suffix of Tag Key, use value they

[2020-03-13 00:28] uthark opened #2930 "Bad node stuck in termination blocked CA to scale up."
We had the following scenario:

* Node went bad (SystemOOM) and was lost.
* CA found the node and tried to terminate it:
[code]

* CA tried to terminate it and it made ~265 calls to `TerminateInstanceInAutoscalingGroup`. After 1h  AWS Autoscaling forcefully terminated the node via `TerminateInstances` call.
* CA recovered and started to scale up.

During this hour CA didn't scale up and we had a l

[2020-03-13 00:40] xinxingliu90 commented on #2927
@Jeffwan That comes from our existing logic when creating a pod. CA used to work with this config.

[2020-03-13 00:42] ajohnstone commented on #2920
Bumping version should solve #2829 with sts private endpoints too

[2020-03-13 00:47] uthark commented on #2930
This is similar to https://github.com/kubernetes/autoscaler/pull/2110 but in our case we didn't get any errors from the cloud.

[2020-03-13 00:59] BEvgeniyS commented on #2823
@Jeffwan Thanks for the lead, I'll check that out and let you know

[2020-03-13 00:59] ajohnstone commented on #2829
Fixes #2532

[2020-03-13 01:17] Jeffwan commented on #2829
@ajohnstone  Thanks. I plan to have a few cherry-pick recently, I will make the change and include this in the new release.

[2020-03-13 01:20] Jeffwan commented on #2930
/area aws

[2020-03-13 01:24] Jeffwan commented on #2907
Please hold it and I have a few cherry-picks as well

[2020-03-13 05:41] kellyhyomin commented on #2913
@Jeffwan
Than you for your help.
The CA version I am using is 1.14.7.
Can I add log level if I change the number of v in the source you gave me?
When I changed it to 5, nothing changed.

[2020-03-13 07:54] maust commented on #2532
There is now a VPC enpoint for autoscaling available. So autoscaling.eu-central-1.amazonaws.com can be made available within the VPC without any need for a proxy. So this could be closed as I would see.

[2020-03-13 08:42] Jeffwan commented on #2927
Please check above PR. Once it's merged, I will cherry-pick to 1.14. In case you want to test it now, I build one and you can try it `seedjeffwan/cluster-autoscaler:1.14.8-dev`

[2020-03-13 08:43] Jeffwan commented on #2888
@sppwf I file the PR and please help review them. It takes some time to get merged to backport to 1.14. I build one test image for 1.14 with the patch, if you like to have a try `seedjeffwan/cluster-autoscaler:1.14.8-dev`

[2020-03-13 10:00] enxebre opened #2932 "Let the CAPI group be overridden and discover the preferred version"
We are currently hardcoding the CAPI groups/version supported by the provider https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_controller.go#L41

We should make the group overridable via env variable and let the version be discovered via discovery client.

[2020-03-13 10:01] enxebre commented on #2932
/assign

[2020-03-13 10:05] enxebre commented on #2932
@MaciekPytel would you please create a label for `area/provider/capi`, I don't have perms for that.

[2020-03-13 10:26] enxebre opened #2933 "Create readme for CAPI provider"
We should have a readme for CAPI provider https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi
similar to other providers https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws

We should include at minimum:
- How to use it.
- Limitations.
- Support level.
- Overall design.
- Roadmap.

[2020-03-13 10:26] enxebre commented on #2933
/cc @elmiko

[2020-03-13 11:42] brtknr commented on #2802
Hi Thomas, the reason that Magnum does have have info on nodes that still in progress is because in the current implementation, the detailed query only takes place once a Stack becomes "COMPLETE". I believe this behavior was implemented in order to limit the number of regular queries to the Heat API.

[2020-03-13 11:45] sppwf commented on #2888
Hi,

I can test the image, give me couple of hours.

Thanks
Sergiu Plotnicu

[2020-03-13 18:02] Jeffwan commented on #1869
@Shnatsel

https://github.com/kubernetes/autoscaler/pull/1656  should fix the issue. it's available on 1.14.x and later versions. Make sure you tag resource correctly, especially the value.

I have a follow up PR to support arbitrary custom resources from tags. Please have a check here https://github.com/kubernetes/autoscaler/pull/2931

[2020-03-13 18:04] Jeffwan commented on #1869
/unassgin

[2020-03-14 04:04] xinxingliu90 commented on #2927
CA works perfect with this image you provided. Thank you @Jeffwan !

[2020-03-16 05:45] marwanad commented on #2821
Glad to hear that!

/close

[2020-03-16 05:45] #2821 closed

[2020-03-16 08:48] shaharon opened #2935 "safe-to-evict ca logs"
Should i see any CA logs for POD set to safe-to-evict annotation ? it seems like CA removing nodes without taking into account "safe-to-evict" PODs.

CA: v1.13.9

`./cluster-autoscaler
--v=4
--stderrthreshold=info
--cloud-provider=aws
--skip-nodes-with-local-storage=false
--skip-nodes-with-system-pods=false
--node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled
--scale-down-unneeded

[2020-03-16 10:05] autarchprinceps opened #2936 "Autoscaler doesn't recognize instances as part of a node group"
We are using the cluster autoscaler on AWS. It worked once, but right now, it doesn't seem to recognize our nodes as part of any node group and is skipping them. Logs look like this:
[code]
And the same for all other nodes as well.
As I said, it worked with the same configuration for us, but for context. We have cluster autoscaler deployed via helm, currently in chart version 6.2.0, which installs

[2020-03-16 10:12] autarchprinceps commented on #2936
Just verified, we have the same issue in one of our clusters still on Kubernetes 1.14, so its not tied to EKS just adding support for Kubernetes 1.15

[2020-03-16 11:22] autarchprinceps commented on #2936
What may be relevant, is we have a nodegroup for each AZ, but as I said, it did use to work, and with the same settings as well.

[2020-03-16 12:10] autarchprinceps commented on #2936
Tried updating to newest Helm Chart 7.1.0 as well as balance-similar-node-groups: true, but problem persists.

[2020-03-16 14:05] tghartland commented on #2802
The defaults in the autoscaler are to request information on running nodes every 2 minutes when idle, and after scaling up it will change to make the request on every main loop (every 10 seconds by default) until all new nodes are running.

If this is too much for heat we can adjust the `--scan-interval` that Magnum installs the autoscaler with, to reduce how often the main loop is run. But that w

[2020-03-16 14:08] brtknr commented on #2802
Yep the detailed request is made here: https://github.com/openstack/magnum/blob/c8cc8f0aef6eb606d52f5db1fdfca4a614302fa9/magnum/drivers/heat/driver.py#L512

[2020-03-16 14:24] brtknr commented on #2802
@tghartland I wonder if the autoscaler can assume that the requested number of nodes are being added while the status is _IN_PROGRESS?

[2020-03-16 15:17] MaciekPytel commented on #2932
I created area/provider/cluster-api. Is that ok? I can rename if you prefer, but I think it's more clear compared to capi.

[2020-03-16 15:24] enxebre commented on #2932
thanks @MaciekPytel sgtm. I don't seem to have perms to add a label manually via GH UX. Is there any automation we can use for this? e.g:
/area provider/cluster-api

[2020-03-16 15:24] enxebre commented on #2933
/area provider/cluster-api

[2020-03-16 15:26] MaciekPytel commented on #2932
Apparently yes :)
Looking at bot code it seems to just match anything starting with "area/".

[2020-03-16 15:58] #2932 closed

[2020-03-16 18:51] #2927 closed

[2020-03-17 09:13] shimajiro1111 commented on #2903
@Jeffwan
Thank you!

4-6 node(EC2:c5.2xlarge)
6 api-server(mcpu:5000 memory:7000)

[2020-03-17 09:31] sppwf commented on #2888
Hi @Jeffwan ,

It works much better now.
Also, do you think in the future the fix will be applied to 1.15 Kubernetes compatible CA versions? i plan to move the EKS to 1.15.10 in the next months.

I have another issue - with resource check on windows nodes, i will open another issue on that.
CA thinks about an empty node that it has 0.87 utilization (87%) even no pods on it. I might that windows ho

[2020-03-17 14:34] autarchprinceps commented on #2936
Tried updating to newest Helm Chart 7.1.0 as well as balance-similar-node-groups: true, but problem persists.

[2020-03-17 22:17] Jeffwan commented on #2888
I am not sure what does this mean? you mean every scale down reconcile loop? Empty node get 87% which is too high and can not be marked as a scale down candidate? feel free to open a new issue for this case and share logs and node status.

[2020-03-17 22:18] Jeffwan commented on #2903
@shimajiro1111  How can you have 6 apiservers? I am actually confused here. By default we only provide 2 api-server instance. What's number of your pods?

[2020-03-18 08:10] aviramha commented on #1726
I'd love to know too!

[2020-03-18 08:14] aviramha opened #2939 "HPA & VPA compatibility"
Reopening #1726 - Author closed issue and unfortunately didn't share how he solved it.

Autoscale both vertically & horizontally to achieve the best resource utilization for kubernetes cluster by using HPA & VPA
Issue:
Default Scheduler uses "resource request" to determine which pod to be deployed on which node, however, hardcoded "resource request" value might be wrong. VPA is capable of changing

[2020-03-18 14:48] enxebre opened #2941 "Use scale client to Patch subresource when setting scalable resource size"
We are currently updating the whole scalable resource object to set a new size
https://github.com/kubernetes/autoscaler/blob/150bf34748496eb0ae70a2951e540f1556e81650/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_machineset.go#L83

We should rather reduce the surface by relying on a scale client to .Patch the scale subresource
https://github.com/kubernetes/client-go/tree/master/scale
/area

[2020-03-18 14:58] enxebre opened #2942 "spike: e2e smoke test over a CAPI ephemeral cluster"
As a dev I'd like to have some smoke tests to run on PR to validate I'm not breaking e2e expectations.
/area provider/cluster-api

[2020-03-18 17:31] mossuchida commented on #1726
I used safe-scheduler instead : https://github.com/IBM/kube-safe-scheduler. It will monitor current resource util & create pod to proper node.  I am not using VPA any more as it evicts pods every time & causes app downtime.

[2020-03-19 05:13] eldondevat opened #2943 "Gather last scale up and last scale down time from alternate data sources upon start"
Based on my logs (and running an admittedly older version of kubernetes on this specific cluster), it appears that the last scale up and scale down time are reset every time the cluster autoscaler restarts. It might be possible to use events from the autoscaling group event log (in AWS) or other information to more accurately set these values on process start.

[2020-03-19 08:12] #2749 closed

[2020-03-19 11:21] anikafuchs commented on #2465
Hello, is there any update on how to avoid the condition to become NoPodsMatched status?
I am facing the same issues:

`Status:
  Conditions:
    Last Transition Time:  2020-03-19T10:12:48Z
    Message:               No pods match this VPA object
    Reason:                NoPodsMatched
    Status:                True
    Type:                  NoPodsMatched
    Last Transition Time:  2020-03-19T1

[2020-03-19 11:25] anikafuchs commented on #2465
Hello, is there any update on how to avoid the condition to become NoPodsMatched status?
I am facing the same issues:

[code]

[2020-03-19 11:25] byazrail opened #2945 "How to DigitalOcean ClusterAutoScaler Integration"
Hi;

https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/digitalocean

I installed according to the procedures here.
I created an image for myself via the docker hub.
I made rbac authorization with deployment.

Pod log output;

I0319 11:14:38.376706       1 main.go:372] Cluster Autoscaler 1.18.0
I0319 11:14:38.410215       1 leaderelection.go:242] attempting to ac

[2020-03-20 03:23] wilsonjackson opened #2946 "Can't downscale a node if it contains a pod with a mounted secret"
I'm running cluster autoscaler v1.15.5 on Kubernetes 1.15 on AWS (kops) with autodiscovery enabled. I'm running into an issue where nodes are not being downscaled for the following reason:

[code]

The cluster in question is running Istio, and the Istio proxy mounts secrets as volumes to make certs available. According to [this snippet](https://github.com/kubernetes/autoscaler/blob/master/cluster-

[2020-03-20 04:22] wilsonjackson commented on #2946
D'oh, nevermind, I read that code entirely backwards. Turns out our issue is, in fact, `emptyDir` volumes.

[2020-03-20 04:22] #2946 closed

[2020-03-20 08:33] ytcisme opened #2947 "cluster-autoscaler: cluster expansion slow"
The version of cluster-autoscaler I used is 1.15.4.
If there are some pods configured podAntiAffinity, the cluster can only expand one node at a time. That is too slow for me. Is there any way to change it?
Thanks.

[2020-03-20 12:21] MarcelTon commented on #2333
We're having the same issue resulting in an overload of logging on **stderr** such as:
[code]

[2020-03-20 15:39] canhnt opened #2951 "cluster-autoscaler v1.15.5 does not support AWS IAM Roles for Service Accounts"
The latest `cluster-autoscaler` image supporting k8s-v1.15.x is [v1.15.5](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.5). It uses the `aws-sdk-go v1.16.26`

https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.15.5/cluster-autoscaler/go.mod#L13

According to https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/,

[2020-03-20 18:20] Jeffwan commented on #2951
https://github.com/kubernetes/autoscaler/issues/2920

Let's track in this issue.

[2020-03-20 20:41] canhnt commented on #2951
Close as duplicated with #2920

[2020-03-20 20:41] #2951 closed

[2020-03-20 22:23] mkorbi commented on #2210
/close

[2020-03-20 22:23] #2210 closed

[2020-03-21 06:35] #2387 closed

[2020-03-21 14:17] #2945 closed

[2020-03-21 15:21] DragonBanana opened #2953 "VPA - Can not solve Recommender "selector not found""
Hello everybody!
We were investigating VPA technology. But we have encountered some issues while trying to test it. During our test the VPA was not working as we hoped. We also tried *examples/hamster.yaml* and it was working, so we were wondering why our custom deployment file can not scale and get recommendations correctly.
Our Kubernetes cluster is installed 'bare-metal'.

This is my service.ya

[2020-03-22 20:54] Nyefan commented on #2285
We have run into a problem which is similar to this and [#790](https://github.com/kubernetes/autoscaler/issues/790).  When scaling up while hitting the spot instance limit for that region, and a bunch of metadata for placeholder nodes got created and never attached to an instance.  These entries couldn't get cleaned up because the cluster-autoscaler kept erroring out, saying

[code]

Eventually, w

[2020-03-22 21:35] gjtempleton commented on #2285
@Nyefan what version of the CA are you running with?

[2020-03-22 23:21] marwanad commented on #2495
@vivekbagade any updates on this issue? It seems that since 1.16, scale up failures are also not logged on the configmap properly. Reverting this change seems to make things work as normal though.

[2020-03-22 23:22] marwanad commented on #2495
/remove-lifecycle rotten

[2020-03-22 23:44] m0rganic commented on #2285
I'm on @Nyefan 's team we're currently running `k8s.gcr.io/cluster-autoscaler:v1.14.5`

[2020-03-23 00:02] gjtempleton commented on #2285
Have a look here: https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.14.5/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go and here: https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.14.6/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go

As you can see, the fix I made to that placeholder instance validation that @jaypipes mentioned above didn't

[2020-03-23 04:18] feiskyer opened #2958 "LoadBalancer backend address pools may be lost on VMSS after scaling"
When using LoadBalancer together with VMSS on Azure, although VMSS and VMSS instances have been added to LB backend address pools, the backend address pools may still be lost if VMSS on CA hasn't been refreshed.

CA should only submit capacity change instead of the whole VMSS model, e.g.

[code]

/kind bug
/area provider/azure

[2020-03-23 04:20] feiskyer commented on #2958
/assign

[2020-03-23 04:42] #2958 closed

[2020-03-23 05:18] onesolpark commented on #2953
what version of kubernetes and vpa are you using?
I think it has to do with k8s removing v1beta1 selectors from 1.17
Trying using vpa 0.7.0 and above

[2020-03-23 08:59] bskiba commented on #2953
This error log is a red herring (logging issue is gone in 0.7.0 as @onesolpark mentions). If you have recommendation generated for the VPA object (and your VPA describe shows that you have) then this is working fine.
Are you experiencing any other issues?

[2020-03-23 10:04] shimajiro1111 commented on #2903
@Jefftree

CA server is 1 pod. Sorry, I thought that api-server is my application server(scala).

But I update ca version v1.13.7 -> v1.14.7, this memory leak is stoped.
so this issue close.

Thank you for helping.

[2020-03-23 10:10] #2903 closed

[2020-03-23 14:32] mvz27 opened #2967 "pods scheduled during taint DeletionCandidateOfClusterAutoscaler crash when node deleted"
Gitlb-runner (kubernetes executer) with pod annotation safe-to-evict: false,
are STARTED on nodes after these nodes are marked for scale down  (during 10 minutes graceful period).
When nodes is actual deleted (after 10 minutes) these pods (gitlab-runner jobs) crash (are deleted).
Reproduced on AWS,EKS 1.14, cluster-autoscaler 1.14.5

[2020-03-23 15:17] biswarup1290dass commented on #1860
@Jeffwan From the above discussion I was not able to conclude what was the solution to this issue. Would it be possible for you to help me for a similar issue mentioned below:
`I0323 14:22:09.443369       1 reflector.go:161] Listing and watching *v1.ReplicaSet from k8s.io/client-go/informers/factory.go:132
E0323 14:24:10.335006       1 aws_manager.go:259] Failed to regenerate ASG cache: RequestErr

[2020-03-23 15:50] MaciekPytel commented on #2967
Before draining the node CA marks it with a taint to prevent any new workload from being scheduled on that node (ie. prevent the exact problem you're describing). Is it possible that your pod have either toleration for CA taint or some wildcard toleration that allows it to schedule on those nodes?

[2020-03-23 16:19] mvz27 commented on #2967
pod is created via gitlab-runner helm chart using tolerations: []
i do however use a node selector.

kubectl describe pod shows :
[code]

[2020-03-23 17:32] cji commented on #2907
Hello - is there an expected timeline for releasing an updated docker image please?

[2020-03-23 18:13] karolinepauls commented on #2434
I have 3 OnDemand ASGs and 3 Spot ASGs. OnDemand ASGs are tainted with `CriticalAddonsOnly=true:NoSchedule`. This should prevent the cluster-autoscaler from scaling up the ondemand instanes to allocate pods that don't tolerate the taint.

[code]

[code]

[code]

However, when trying to allocate space for a new pod managed by a statefulset, wit unallocated storage, cluster-autoscaler seems to be a

[2020-03-24 07:51] waterdrops commented on #113
I met the same error on EKS 1.13, you helped me a lot, Thank you very much @gazal-k

[2020-03-24 08:47] canhnt commented on #2920
@Jeffwan: go.mod in  the branch `cluster-autoscaler-release-1.15` does not define specific versions of modules in k8s.io. That makes updating dependencies with `go mod` difficult. One possibility is to assume all k8s.io modules are on branch of k8s-v1.15.x, then run the test after upgrading aws-sdk-go. But then we need to checkout all modules' version an mount `k8s.io` to `/tmp/abc/kubernetes` pat

[2020-03-24 09:24] mvz27 commented on #2967
I "described" the node which was scaling down.
 First it is tainted with:
[code]
According to kubernetes documentation i can understand why pods get scheduled during the first couple of minutes (No other nodes available).

Is there a way to let gitlab-runner generate pods which do NOT run on nodes tainted with PreferNoSchedule ?

[2020-03-24 09:47] mvz27 commented on #2967
Or better:

Is their a possibility to start a graceful period from moment of NoSchedule - taint  ?
My short CI-jobs will get time to finish that way.

[2020-03-24 09:55] MaciekPytel commented on #2967
Pod's gracefulTerminationSeconds only starts counting after pod is evicted (which happens after NoSchedule taint is added). By default gracefulTerminationSeconds only works for up to 10 minutes, but you can change it with --max-graceful-termination-sec flag.

That being said - PreferNoSchedule taint only means CA is considering deleting node, but it haven't decided yet. If a pod with safe-to-evict

[2020-03-24 10:22] mvz27 commented on #2967
I doubt if this is the case.  Alsmost sure count starts from PrefereNoschedule !, But i will re-check.

Yes i am sure.
Set this in the gitlab-runner helm chart and checked via describe pod.

[2020-03-24 10:45] mvz27 commented on #2967
09:04:58     1 delete.go:102] Successfully added DeletionCandidateTaint on node ...
09:15:00     1 delete.go:102] Successfully added ToBeDeletedTaint on node ...
09:00:01     AWS EKS Auto-scalegroup history shows node-scale down

I am missing something.  I used --max-graceful-termination-sec=1500
Still i see 10 minutes from moment of DeletionCandidateTaint (PreferShedule) !?

[2020-03-24 11:03] MaciekPytel commented on #2967
Those are 2 different things, that just happen to have the same default value:
 - CA only deletes node if it continuously matches criteria for deletion over some period (default: 10 minutes, controlled by --scale-down-unneeded-time).
 - Pod's gracefulTermination is the delay between sending SIGTERM and SIGKILL to the process (pod can use that time to clean up). This is set individually in each pod

[2020-03-24 11:42] mvz27 commented on #2967
my gitlab-runner helmchart has terminationGracePeriodSeconds: 3600
I do not see anything in the pod's spec.  Looking at the chart, i think this is written to the Deployment's spec.
Maybe Kubernetes only checks the Pod's spec and if missing terminationGracePeriodSeconds there, it defaults to 30 seconds.

[2020-03-24 11:49] mvz27 commented on #2967
Gitlab runner helm chart has terminationGracePeriodSeconds: 3600.

But appearantly the deployed jobs by this runner have terminationGracePeriodSeconds : 0

I think this is the cause !

[2020-03-24 14:17] mvz27 commented on #2967
Fixed this via adding env var in helm chart:
[code]
Now build pods are annotated, so hope this fixes my problems.
(Although only question still is why annotation "cluster-autoscaler.kubernetes.io/safe-to-evict": "false" does not work)

[2020-03-24 18:50] blankenshipz opened #2976 "VPA: Adding limits to existing deployments"
I'm working with some pods running in a GKE cluster with VPA setup; I'm trying to add resource limits to the deployments - it turns out that the VPA recommended requests are not actually large enough for the pods to start - so adding the limit is causing the pods to crash. Is there a way to reset the recommendations as I'm adding these new limit constraints?

[2020-03-24 19:09] DragonBanana commented on #2953
Solved.
Moving to VPA 0.7 solved the problems.
Thank you very much @onesolpark @bskiba

[2020-03-24 19:09] #2953 closed

[2020-03-24 21:45] pdbogen opened #2977 ""Pod … marked as unschedulable can be scheduled on existing node" ignores Affinity"
CA is reporting that a pod is schedulable on any of several nodes, but none of these nodes satisfy the pod's PodAntiAffinity. As a result, the pod is stuck in Pending.

It seems like in this case CA should realize that none of the nodes satisfy the pod's affinities, and provision a new node.

We're currently using CA 1.17.0-alpha.1. I'll start the process of upgrading to 1.17.1, if that seems like

[2020-03-24 22:21] Jeffwan commented on #2920
@canhnt I sync with release team. We backport `./hack/update-vendor.sh` from later branch and update base for those changes.. I update to v1.28.14 and problem should be resolved. Thanks for the feeback!

[2020-03-24 23:02] Jeffwan commented on #2920
For folks who can not wait for upstream release, please either build `cluster-autoscaler-release-1.15` by yourself or use my image `seedjeffwan/cluster-autoscaler:1.15-dev` to mitigate the problem for short term.

[2020-03-24 23:05] Jeffwan commented on #2829
Just make changes on 1.15. I will make the changes for rest of the version

[2020-03-25 06:50] nwohlgemuth opened #2980 "When a lot of nodes need to be added, autoscaler seems to misbehave"
Autoscaler Version: 1.15.3

When we have a large increase in the number of pending pods in the cluster and the autoscaler needs to add a lot of nodes (relative to the existing size of the cluster), the autoscaler will start emitting the following error:

E0325 06:29:29.475686      24 azure_scale_set.go:213] virtualMachineScaleSetsClient.CreateOrUpdate for scale set "k8s-agentpool1-38858572-vmss" f

[2020-03-25 10:02] MaciekPytel commented on #2977
IIRC there were indeed some last minute problems we found in 1.17 integration with scheduler. Those should be fixed in stable release.

CA relies on directly importing scheduler internals and as scheduler code changes it sometimes break CA. The purpose of -alpha and -beta builds of CA is mostly to test for this kind of issues and we fairly often find those issues in them. I would very much recomme

[2020-03-25 17:18] pdbogen commented on #2977
Understood.

Is it the case that we should be matching CA major/minor (e.g., 1.13) with kube version? (Which we _weren't_ doing, but which I implemented on our UAT clusters yesterday.)

[2020-03-25 17:32] MaciekPytel commented on #2977
Probably yes. CA works by importing scheduler code to check if scheduler would be able to schedule pending pods if more nodes were added. If scheduler code embedded in CA ever disagrees with scheduler running in cluster, you'll get incorrect autoscaling decisions.
Each CA version uses scheduler code from corresponding k8s version (so 1.13 CA imports 1.13 scheduler, 1.14 CA imports 1.14 scheduler,

[2020-03-25 18:11] mrPsycho commented on #2749
@machao23  what was the issue?

[2020-03-25 18:12] mrPsycho commented on #2783
@amitsehgal  have you found solution?

[2020-03-25 19:18] rimaulana commented on #2888
Hi @Jeffwan

I have also tested the image with the patch **seedjeffwan/cluster-autoscaler:1.14.8-dev** and it works on my use-case

The use-case I have was when the node has less allocateable resources due to flag --kube-reserved and --system-reserved. I found this problematic when the ASG can scale to 0 with least-waste expander. In which CA will scale-out ASG but the node will have less allocate

[2020-03-25 23:53] marwanad commented on #2980
The errors you're seeing are most likely failures coming from the VMSS side. If I had to guess, those are either allocation error or VM extension provisioning errors. I'd advice against changing `max-node-provision-time` because I've seen some hardcoded references to the `15 minutes` in the core autoscaler logic so it might lead to unwanted effects/weird behaviour. https://github.com/kubernetes/au

[2020-03-26 00:13] machao23 commented on #2749
The configuration of node group was not correct.

[2020-03-26 00:19] marwanad commented on #2980
For the context deadline exceeded, I think there's a bug with the version of `go-autorest` we're using where it doesn't respect contexts without timeouts.

cc @feiskyer since you've looked at something similar in the past.

[2020-03-26 00:48] Jeffwan commented on #2888
@rimaulana  Check my comments in https://github.com/kubernetes/autoscaler/issues/2809#issuecomment-598487660

Please vote on the solution you like

[2020-03-26 04:05] Jeffwan commented on #1860
@biswarup1290dass  Em... Can you share dnsPolicy of your pod and if your coreDNS pod is running well (check logs probably)

[2020-03-26 13:05] rimaulana commented on #2809
Hi @Jeffwan

Options number 1 would be easier but implementing it on an infrastructure as code (IAC) would be a little bit difficult as the IAC needs to be able to calculate the resources based on the instance type to get the base capacity (CPU and Memory) then subtracts it with the value that will be passed in **--system-reserved** and/or **--kube-reserved**.

While option 2 we can offload the ca

[2020-03-26 13:22] jaypipes commented on #2809
But we wouldn't have a `Node` object yet in the case of scale-from-zero, which I believe is the source of this bug, right?

@rimaulana is correct that, for EKS at least, determining `--kube-reserved` would be problematic due to the dynamic calculation of this (based on the underlying instance type) in the bootstrap script for the EKS AMI. We would need to copy or emulate this logic within the AWS

[2020-03-26 15:01] Jeffwan commented on #2809
Yes. We don't have a real node for simulation in scale-from-zero case and we have to build a node template from ASG. As we have resources spec for all available instances. From capacity wide, this is accurate.

I think there're two requests.
1. Provide override option for `k8s.io/cluster-autoscaler/node-template/reserved` like what we did for other resources. Calculate node allocatable resources b

[2020-03-26 19:51] dharmab commented on #2762
This can be fixed by https://github.com/kubernetes/autoscaler/pull/2949, which allows operators to create and manage the webhook manually instead of using the hardcoded hook.

[2020-03-26 21:29] pdbogen commented on #2977
Thanks; I'll check in again if we encounter this issue using supported versions of CA.

[2020-03-26 21:29] #2977 closed

[2020-03-27 03:52] #2215 closed

[2020-03-27 08:24] onesolpark commented on #2933
I'm trying to test cluster autoscaler with cluster-api provider and it would be really nice have a readme on installation and etc.

[2020-03-27 08:24] onesolpark commented on #2933
@enxebre before the readme comes out is there a sample or a guide on how to use autoscaler with CAPI?

[2020-03-27 08:57] enxebre commented on #2933
Hey @onesolpark We'll include some docs with a quickstart guide so people can start to test this out and we can all collaborate here effectively. We plan to have something during the next week.

Meanwhile you can find me on kubernetes slack I'd be happy to help.

[2020-03-27 08:58] ydye opened #2987 "In CA's code, AKS node's gpu label may be wrong."
I found in the [source code](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go#L33) the GPU label of azure is ```"cloud.google.com/gke-accelerator"```. However in aks cluster, the label of node with GPU resource is  ```accelerator=nvidia```.

[2020-03-27 10:13] towca opened #2988 "Cluster Autoscaler releases 1.18.1, 1.17.2, 1.16.5, 1.15.6, 1.14.8"
We plan to prepare a new set of Cluster Autoscaler patch releases on Monday, 2020-03-30. If you have any bugfix cherry-pick PRs you want included, please leave a comment here.

cc: @feiskyer, @Jeffwan, @ringtail, @hello2mao, @tghartland

[2020-03-27 10:22] towca commented on #2907
We'll be releasing on Monday: #2988.

[2020-03-27 10:23] towca commented on #2920
FYI: We'll be doing new patch releases on Monday: #2988.

[2020-03-27 10:37] MaciekPytel commented on #2513
Sorry, I missed this before. most-pods expander picks up a scale-up that will help the largest number of pending pods in one go. It doesn't optimize for efficient packing.

[2020-03-27 12:31] elmiko commented on #2933
hi @onesolpark i am working on a readme, should have a pr up early next week. i am also on kubernetes slack, happy to help =)

[2020-03-27 12:32] feiskyer commented on #2988
@towca could you have a look at #2981?

[2020-03-27 13:10] feiskyer commented on #2980
@nwohlgemuth what do you mean by "stuck"?

@marwanad it's a known issue and we should actually add timeouts in our context in case the requests are stuck there forever.

[2020-03-27 13:21] 2ZZ commented on #2988
Hi @towca, please consider #2851

[2020-03-27 16:15] marwanad commented on #2980
@feiskyer we're hitting this https://github.com/Azure/go-autorest/issues/357, no?

[2020-03-27 16:17] marwanad commented on #2988
@towca, can we get this in 1.14: https://github.com/kubernetes/autoscaler/pull/2957

[2020-03-27 23:27] Jeffwan commented on #2988
AWS backport list and I will also upgrade SDK version to support regional sts. Feel free to add more PRs. I will finish PR by Monday.

#2462
#2249
#2737
#2851
#2929

[2020-03-28 02:05] mbarrien commented on #2920
Note that a similar patch will be required in the cluster-autoscaler 1.16 branch (since 1.16 is using aws-sdk-go 1.23.12, and IRSA support was introduced in 1.23.13). Not an immediate issue, but will be once AWS release EKS with 1.16; if you're already doing a PR for 1.15, might as well do the same thing for 1.16.

[2020-03-28 06:20] Jeffwan commented on #2920
@mbarrien Thanks for reminder, yes. I will update to 1.28.x to support regional STS endpoint as well

[2020-03-28 17:38] Jeffwan commented on #2988
BTW, I would suggest to share release plan easier next time. If we will have a new release on Monday, and it's hard to find someone to approve PRs during the weekend

[2020-03-28 18:38] towca commented on #2988
#2981, #2851 and #2957 are merged and will be included.

@Jeffwan noted, sorry for that. Don't worry, we can push the release to Tuesday/Wednesday so you don't have to rush the approvals on the weekend.

[2020-03-29 15:51] #1561 closed

[2020-03-29 15:51] #2488 closed

[2020-03-30 06:15] bskiba commented on #1561
Fixed by #2949

[2020-03-30 09:24] evnsio opened #2996 "Eviction Rate Limiter on latest VPA releases"
A colleague of mine contributed an eviction rate limiter back in October (#2326), and I've noticed while upgrading our VPA components that it's not in the latest 0.7 branch release.  Is there a plan to add this at some point?  We can continue running on a fork, but it'd be nice to be using the main releases if possible.

Original PR: https://github.com/kubernetes/autoscaler/pull/2326/files

Thanks

[2020-03-30 11:56] towca commented on #2988
Since it appears everything mentioned is already approved and merged, I'm going forward with cutting the release today.

[2020-03-30 15:25] arukaen commented on #2887
@MaciekPytel  This is the full entry I get in Loggly.

[code]

[2020-03-30 16:10] MaciekPytel commented on #2887
This is clearly a part of pod object being printed. It can't possibly be the whole line emitted by CA - the start of the log line is obviously a tail of one of environment variables. I guess something in your logging pipeline trims lines that are too long (it's a shame it keeps tail rather than head though).

I tried to grep for log statements that may be printing pod, but I didn't find anything.

[2020-03-30 17:40] Jeffwan commented on #2988
@towca Can you check these two as well?

It help to address #2829

https://github.com/kubernetes/autoscaler/pull/3002
https://github.com/kubernetes/autoscaler/pull/3003

[2020-03-30 18:58] ekelson-bcove opened #3004 "Daemon-set addon-resizer support"
Hey, trying to do addon-resizer on a Daemon pod set and it looks like the use of explicit Daemon-sets as an option is not available in the addon-resizer option set.  Is there a work around present for it?  If not, can I humbly request that be added as a future feature for the addon-resizer...because it would be cool to scale daemon pods based on the diverse needs of the various nodes.

[2020-03-30 20:10] arukaen commented on #2887
@MaciekPytel :

[code]

[2020-03-31 16:38] MaciekPytel commented on #2887
That helps a lot, thanks. Turns out I wasn't able to find it with my grepping, because it was already fixed in https://github.com/kubernetes/autoscaler/pull/2476. Unfortunately this fix is currently only available in 1.17+.

[2020-03-31 16:49] towca commented on #2988
The releases are out, thanks for the contributions!

* https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.8
* https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.6
* https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.16.5
* https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.17.2
* https://github.co

[2020-03-31 16:49] #2988 closed

[2020-03-31 18:00] Jeffwan commented on #2920
Please use this version https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.6

[2020-03-31 18:01] Jeffwan commented on #2920
/close

[2020-03-31 18:01] #2920 closed

[2020-03-31 18:02] Jeffwan commented on #2920
A PR has been filed to address 1.16 issues for EKS IRSA
https://github.com/kubernetes/autoscaler/pull/3003

It will be included in next version

[2020-03-31 18:02] Jeffwan commented on #2907
https://github.com/kubernetes/autoscaler/issues/2988

This can be closed

/close

[2020-03-31 18:02] johnjeffers commented on #2920
Thank you @Jeffwan !!!

[2020-03-31 18:03] Jeffwan commented on #2888
Please try following version with fixed.  This can be closed

- https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.8
- https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.6

[2020-03-31 18:03] Jeffwan commented on #2888
/close

[2020-03-31 18:03] #2888 closed

[2020-03-31 18:06] Jeffwan commented on #2755
newer versions have been releases. Check detail here. https://github.com/kubernetes/autoscaler/issues/2988 This can be closed

[2020-03-31 18:06] Jeffwan commented on #2755
/close

[2020-03-31 18:06] #2755 closed

[2020-03-31 18:09] Jeffwan commented on #2829
em.. Sorry we only have following versions to support this case.

https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.6
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.18.1

1.14, 1.16 and 1.17 changes is not included in this release. Change will be merged and you can build one image for short term. If you need any help, let me know

[2020-03-31 18:11] Jeffwan commented on #2775
@paranoidsp Yes, user need to manage ASG tags to make it.  Do you have any suggestion on better support from EKS managed node groups?

[2020-03-31 18:12] Jeffwan commented on #2637
https://github.com/kubernetes/autoscaler/issues/2988 All newer versions have this change

[2020-03-31 18:12] Jeffwan commented on #2637
/close

[2020-03-31 18:12] #2637 closed

[2020-03-31 18:14] Jeffwan commented on #2927
@xinxingliu90

https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.8
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.6

Try official releases.

[2020-03-31 18:35] arukaen commented on #2887
@MaciekPytel Any chance that this can be back ported to a 1.16 release? As mentioned earlier, my clusters are running k8s 1.16.3

[2020-03-31 18:41] drewhemm opened #3006 "Backport new instance types to 1.14 releases"
Hi, would it be possible to backport the commit introducing the new instance types to 1.14? It's only one version away from the newest in AWS EKS.

https://github.com/kubernetes/autoscaler/blob/1f801e8e02766722ead1c6ff2fe430c7a65851f6/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L1591

[code]

[2020-03-31 18:41] drewhemm opened #3007 "Backport new instance types to 1.14 releases"
Hi, would it be possible to backport the commit introducing the new instance types to 1.14? It's only one version away from the newest in AWS EKS.

https://github.com/kubernetes/autoscaler/blob/1f801e8e02766722ead1c6ff2fe430c7a65851f6/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L1591

[code]

[2020-03-31 18:57] drewhemm opened #3008 "Having a volume makes CA incompatible with EKS Fargate"
Hi,

What would be the expected impact if one were to deploy CA without this volume:

https://github.com/kubernetes/autoscaler/blob/b3a95a82debe214e9d85728218ea2af6c8558ea8/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml#L164

Fargate on EKS doesn't support running pods with volumes, but I was hoping to run CA there in order to guarantee it can run independent of

[2020-03-31 20:09] cji commented on #2907
@Jeffwan it looks like the `libcomerr2` package did not get updated in this release. Is there a reason it was held back?

[2020-03-31 21:05] Jeffwan commented on #2907
@towca Can you help check @cji 's request? Have release team update container image?

[2020-03-31 21:05] Jeffwan commented on #2907
/reopen

[2020-03-31 21:41] marwanad commented on #2987
hey @ydye good catch, the GPU label should be "accelerator" - would you like to open a PR for it?

[2020-04-01 03:56] povilasv opened #3010 "VPA: Limit Prometheus queries to a custom namespaces"
I would like to run VPA for a single namespace. Right now I can do this with custom Webhook configuration.
[code]

What would be also useful is a way to limit Prometheus queries to a custom namespaces.

What do you think? I can do a PR ;)

[2020-04-01 07:55] enxebre opened #3011 "CAPI: Automation for deepcopy and audit internal types"
Currently the deepcopy code for the internal CAPI types i.e machineSet and machineDeployment is harcoded here https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/zz_generated.deepcopy.go.
We need to:
-Provide automation to generate the script.

-Auditing. For this there are two options:
1- Mirror the CAPI types into our internal types and fuzzy test rou

[2020-04-01 07:55] enxebre commented on #3011
/area provider/cluster-api

[2020-04-01 07:56] enxebre commented on #3011
cc @JoelSpeed @elmiko

[2020-04-01 12:14] boostrack commented on #1869
Hello I am on GKE and Facing this issue
version ```1.15.9-gke.22```
https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler
seems not mention an issue with this

Node pool is set to 0
Autoscaling is enabled and allows from 0-1000 nodes

I deploy nginx with 1 replica... and also tried scaling to 10 replicas
[code]
Node pool stays always at 0

I am new to kubernetes  .. is this n

[2020-04-01 13:20] MaciekPytel commented on #1869
Scale-from-0 logic is provider specific, so what is supported will differ by provider. I can confirm that none of currently available GKE versions support scale-from-0 for pods requesting ephemeral-storage. I'll follow-up on updating documentation accordingly. Sorry about this.

[2020-04-01 13:52] boostrack commented on #1869
Thanks for letting me know. So will this be available in EKS ?

[2020-04-01 15:15] towca commented on #2907
Just checked - unfortunately the base image wasn't changed on branches before 1.16.

[2020-04-01 17:03] ucabsdp opened #3013 "HPA on GKE uses aggregated node CPU utilisation and not pods in targeted deployment"
Following the example here <https://cloud.google.com/kubernetes-engine/docs/how-to/horizontal-pod-autoscaling>,

and many other test as explained in my query here <https://stackoverflow.com/questions/60872188/gke-hpa-only-targeting-node-cpu-utilisation-rather-than-targeted-deployments/60876287?noredirect=1#comment107727882_60876287>

It appears that for deployments with a hpa defined as below the

[2020-04-01 18:16] cji commented on #2907
thanks @towca - it did look like the libssl and openssl packages were updated (at least from the Trivy results) so it was strange that it looked like only one package was held back.

[2020-04-02 05:57] wccsama commented on #2513
Got it，Thanks~

[2020-04-02 05:57] wccsama commented on #2513
Got it，Thanks~

[2020-04-02 05:58] #2513 closed

[2020-04-02 09:43] shubhambadkur opened #3015 "VPA : Resize each pod in a deployment"
I am trying to deploy vpa to act on each replica of the deployment not scale up and down the complete deployment.

`apiVersion: autoscaling.k8s.io/v1beta2
kind: VerticalPodAutoscaler
metadata:
  name: {{ template "App.fullname" . }}-vpa
  namespace: {{ .Release.Namespace }}
  labels:
    {{ template "common.labels" . }}
  annotations:
    {{ template "common.annotations" . }}
spec:
  targetRef:

[2020-04-02 10:01] bskiba commented on #3015
I'm not sure I understand the issue.

VPA recommends one value for the whole deployment, but does not modify the deployment itself, it modifies actual request of replicas (pods).

Can you tell us more on what you observed vs what you expected to happen?
Do you want each replica to have a separate recommendation?

[2020-04-02 10:05] shubhambadkur commented on #3015
@bskiba yes we want to have each replica to have separate recommendation as per our usecase.

[2020-04-02 11:45] bskiba commented on #3015
This is not a use case VPA currently supports. It is configured on a controller (e.g deployment) and recommends a common recommendation for the whole controller on the assumption that pods under one controller are "same" or at least very similar. This is in line with the fact that the deployment has a common template for pods it controls. If you specify resource requests there, they are applied to

[2020-04-02 12:18] bskiba commented on #3010
I think this is reasonable.

When you mention Prometheus queries, do you mean querying Prometheus for historical usage, or are you using Prometheus to provide k8s metrics API as well? (the default is Metrics Server)

An observation on the side: Your config has "failurePolicy: Ignore". Admission controller does some important validation that if missed, may break VPA. If your admission controller is

[2020-04-02 12:21] bskiba commented on #2996
I've been inconsistent with the VPA releases over the last year, I apologise. I'll prepare a release in the next two weeks.

[2020-04-02 12:42] shubhambadkur commented on #3015
@bskiba our usecase is that we have essentially kafka consumers running in pods. One deployment is consuming from one topic . We try to keep the throughput across partition same but we want to scale the pod in sync with the load of the partition it is attached to.

[2020-04-02 12:59] povilasv commented on #3010
Thanks for observation, will fix admission controller :) I meant querying Prometheus for historical usage.

I'll make a PR :)

[2020-04-02 18:15] JoaquinScript commented on #2936
Same here with EKS 1.15 and chart v 7.2.0

[2020-04-02 19:21] #3013 closed

[2020-04-02 22:00] JoaquinScript commented on #2936
it was my bad, I mistakenly add k8s labels instead of EC2 tags to the nodes.

[2020-04-03 07:57] evnsio commented on #2996
Thank you 🙏

[2020-04-03 08:43] feiskyer opened #3018 "CA should check the VMSS provisioning state before scaling up"
Because of various reasons, the VM provisioning may need a long period and hence VMSS scaling requests would time out.

On such cases, the following scaling requests should check the provisioning state and only continue to scale after it has been finished. If the VMSS is still under updating, then CA should log an error.

/kind bug
/area provider/azure

[2020-04-03 09:27] ydye commented on #2987
Hi @marwanad , I have opened a PR to fix it. https://github.com/kubernetes/autoscaler/pull/3019

[2020-04-03 17:23] blankenshipz commented on #2976
It turns out you can add a `resourcePolicy` to your VPA that specifies minimum request limits - don't try using a `LimitRange` instead because the VPA will override it.

[code]

[2020-04-03 17:23] #2976 closed

[2020-04-03 21:25] piroszhog commented on #2215
/reopen

[2020-04-03 21:30] piroszhog commented on #2215
@ringtail decided to not implement it?

[2020-04-04 12:16] feiskyer commented on #2987
Thanks for reporting the issues.

/kind bug
/area provider/azure

[2020-04-04 18:36] marwanad commented on #3018
If VMSS receives another scale request to the same resource, the VMSS goal resolvers will resolve the request to a new goal state and the older request will be pre-empted. If we block those requests, then it would take subsequently longer to scale to the right target size.

Is this referring to the `context deadline exceeded` errors? I think the reason the context timeouts is because of a bug in a

[2020-04-05 01:34] feiskyer commented on #3018
@marwanad No, it's not related with context daedline exceeded issue. VMSS goal state won't be preempted if the previous operation has been finished yet, hence we need to ensure no more requests are sent to VMSS if it is still under scaling. In this case, longer time for scaling is expected.

[2020-04-05 01:34] feiskyer commented on #3018
/assign

[2020-04-05 02:04] marwanad commented on #3018
@feiskyer It would either get pre-empted or a different goal state would be detected and it would move towards - in the majority of cases, its the latter. I guess that would depend on if an update operation has been sent to the fabric or not.

I don't think we should add another one of those "log the error and continue" . It's still a registered scale up request in CA and CA will be expecting some

[2020-04-05 13:17] #3018 closed

[2020-04-06 16:02] lukczarnota opened #3026 "CA is ignoring priority expander configuration"
Hi,

we have ocp cluster configured with autoscaler v1.15.5 and Kubernetes Version: v1.11.0+d4cacc0.

Our current config:

apiVersion: v1
data:
  priorities: |-
    50:
      - .*Spot.*
kind: ConfigMap

Troubleshooting:

- Scalling down all compute instances and autoscaler pods.

- Scale up autoscaler pods

- Check logs and new nodes

Our intention is to have only spot instances running.

Some log

[2020-04-06 16:29] MaciekPytel commented on #3026
The problem is the line "Splitting scale-up between 6 similar node groups" - this is the balancing logic that happens after the expander is run. Basically expander picks a node group, but after that the scale-up is split between this group and all other 'similar' groups. This is intended to keep the number of nodes in different zones identical, but in your case it doesn't distinguish between spot/

[2020-04-06 17:32] cliles commented on #3026
I also have a similar issue where it is perceived that the priority expander is ignored.

I would be curious to understand how other spot adopters are handling priority. In my use I would like to leverage the priority expander to provide "backup" on-demand node groups for spot instance based node groups. Since all groups share the same set of tags, the cluster-autoscaler considers them similar for

[2020-04-06 21:05] AkiraBow opened #3027 "Cannot make the cluster run, I think the document is too general to understand"
I've read through https://hub.helm.sh/charts/stable/cluster-autoscaler and also the readme. But cannot troubleshoot my problems, it seems a lot of unknowns are there. I have several questions for now:
1. I checked yaml examples in aws section, I kind of understand what it is doing but it's not quite clear what the rules section is doing. https://github.com/kubernetes/autoscaler/blob/master/cluster

[2020-04-06 23:13] burdzwastaken opened #3029 "[cluster-autoscaler] AWS: failed to create provider with shared configuration when access to the EC2 Metadata service is restricted"
**Versions**
- Kubernetes version: `v1.17.4`
- cluster-autoscaler version: `v1.17.2`
- platform: `AWS`

**Description**
Due to the types applications running on our platform along with the want to increase our security posture; we have recently begun blocking access to the AWS EC2 Metadata service on the pod's network using an iptables rule similar to the following:
[code]

Unfortunately, without

[2020-04-07 14:00] albertocsm commented on #2913
same here
setting up `stderrthreshold` to `error` does not seem to produce the expected result
[code]

[2020-04-07 21:30] marwanad commented on #2495
@vivekbagade @MaciekPytel gentle ping on this issue. It seems that the events are restricted to one per nodegroup.

[2020-04-07 23:26] marwanad opened #3031 "Deletion requests and stale cache can cause scale set to go below configured minimum"
In some cases, where there's two deletion candidates ready for deletion in close proximity to one another, and there's a deletion request in flight, the `getVMSSInfo` would return a stale VMSS size and a deletion request would still happen for the second.

We should forceRefresh the caches after sending a delete request so as to block further requests that could possibly go below the min size.

/a

[2020-04-08 14:33] stafot opened #3033 "Cluster Autoscaler Version 1.15.6 doesn't respect log level"
Platform: `AWS EKS`
Kubernetes version: `1.15.10`
The issue is the following.

**How to reproduce:**

I used to have `cluster-autoscaler:v1.13.1`.
I increased the log level from `info` to `error`. _Worked as expected._

Updated to `cluster-autoscaler:v1.15.6`.   _Stopped respecting the log level change._
My setup is the following.
[code]
Is something changed on flags so  `stderrthreshold` is not w

[2020-04-08 15:00] paurosello commented on #2806
Were could we start working on this? Kubernetes 1.16 with autoscaler 1.16.4

On the pod we get:
[code]

On the autoscaler:
[code]

We have tried setting up the env KUBE_MAX_PD_VOLS in the scheduler but the featuregate AttachVolumeLimit might be overriding it

[2020-04-08 15:49] cliles commented on #2806
For kube 1.11 with CAS 1.15.x - KUBE_MAX_PD_VOLS seems to just work. It must also be set as environment var for CAS.

[2020-04-08 15:55] MaciekPytel commented on #2806
Cluster Autoscaler doesn't interact with scheduler binary running in cluster, it imports some of scheduler code and runs that. So any config change must be applied to CA and not scheduler. If the embedded code happens to look at this env var than setting it as per @cliles comment may work.
Note that if it works its only due to luck and we give no guarantees on it whatsoever. It may stop working in

[2020-04-08 16:22] hobti01 commented on #2806
Yes, the environment variable has been applied to CAS and it is read with `os.Getenv(KubeMaxPDVols)` imported from
https://github.com/kubernetes/kubernetes/blob/v1.16.4/pkg/scheduler/algorithm/predicates/predicates.go#L401

But the problem happens just after the environment variable is read when the enabled feature gate overwrites the value https://github.com/kubernetes/kubernetes/blob/v1.16.4/pkg

[2020-04-08 16:28] MaciekPytel commented on #2806
Not that I know of. You may get lucky with some other env variable or similar, but there is no explicit mechanism. CA generally only supports default scheduler configuration.

[2020-04-08 20:48] JacobHenner commented on #1676
/remove-lifecycle stale

[2020-04-08 20:53] JacobHenner commented on #2020
/remove-lifecycle stale

See https://github.com/kubernetes/autoscaler/issues/1676#issuecomment-568189444 for list of some of the reasons this might be happening.

[2020-04-09 19:33] marwanad commented on #3031
/assign

[2020-04-09 19:42] kkapoor1987 opened #3035 "CA not publishing metrics starting with cluster_autoscaler_"
Hi, I am using CA 1.14.7 image version and it looks like CA is not publishing all the metrics

I deployed it using helm chart from stable repo.
https://github.com/helm/charts/tree/master/stable/cluster-autoscaler

I am only seeing following metrics
[notes.txt](https://github.com/kubernetes/autoscaler/files/4458285/notes.txt)

I am looking for metrics with prefix cluster_autoscaler_ published in th

[2020-04-09 20:33] kkapoor1987 commented on #3035
I was looking for

[2020-04-09 20:33] #3035 closed

[2020-04-10 07:18] bmcstdio commented on #2947
We're using CA 1.14.6 and we are also observing this behaviour while using EKS. We need to scale from, say, 3 nodes to 24 nodes and back to 3 nodes based on a schedule, and to achieve that we use a `Deployment` with pod anti-affinity rules which we scale up and down. However, when scaling up, CA only creates one node at a time, which makes the process very slow. Is there a way to make it launch mo

[2020-04-10 10:52] MaciekPytel commented on #2947
It's a longstanding known issue (details: https://github.com/kubernetes/autoscaler/issues/257). It should be fixed/mitigated with scheduler and autoscaler migrating to scheduler framework in 1.18. Note that SF migration was a complete rewrite of large part of autoscaler internals and so there is no way to port it to older versions.

My main recommendation is: don't use anti-affinity unless there i

[2020-04-10 12:40] bmcstdio commented on #2947
@MaciekPytel thank you very much for the explanation, as well as for the recommendation. Using a host port (which in our case is fine I guess as we don't actually listen on said port) worked like a charm. 🎉

[2020-04-12 08:13] #2532 closed

[2020-04-12 15:59] Rajesh-Ayaldasani commented on #2564
I am looking for a similar feature set. I am using a cluster autoscaler running with `priority expander` so it's first tries to launch pod on spot asg ( if not spot available ) it fallbacks to on-demnad and i also want the pods to schedule on the correct host type so that the nodes should not be left under-utilized in terms of cpu and memory.
@Jeffwan Anything i can use with cluster autoscaler `pr

[2020-04-13 06:13] paramacharya opened #3041 "after upgrading my EKS cluster from 14 to 15 version cluster is not scaling the nodes when load increase.."
after upgrading my EKS cluster from 14 to 15 version cluster is not scaling the nodes when load increase..

I0413 06:11:47.507386       1 static_autoscaler.go:412] Starting scale down
I0413 06:11:47.507426       1 scale_down.go:706] No candidates for scale down
I0413 06:11:57.520472       1 static_autoscaler.go:147] Starting main loop
I0413 06:11:57.603999       1 auto_scaling_groups.go:354] Regen

[2020-04-13 07:36] yogeshkk opened #3042 "CA can not scale other IG group if spot unavailable"
Hello Team,

I am trying to fix CA in our environment. We have multiple Spot and on-demand IG in our environment. I am trying failover to on-demand or rest spot when there is no capacity in one IG.

I am running the 1.12.8 on KOPS in AWS.

We have 3 spot-large.k8s.example.com running in the environment so I have changed min price to .01 so no new spot should be created but an instant of a spinning

[2020-04-13 08:37] #3031 closed

[2020-04-13 15:25] paramacharya opened #3043 "after upgrading my EKS cluster from 14 to 15 I got this problem"
after upgrading my EKS cluster from 14 to 15 I got this problem
I gave this command
kubectl -n kube-system set image deployment.apps/cluster-autoscaler cluster-autoscaler=k8s.gcr.io/cluster-autoscaler:v1.15.6

Name:               cluster-autoscaler-65b54d4975-g7w6w
Namespace:          kube-system
Priority:           0
PriorityClassName:  <none>
Node:               ip-192-168-87-254.us-east-2.compu

[2020-04-13 21:53] bradleyd opened #3044 "Memory leak?"
We are running CA 1.15.5 with k8s 1.15.7. We are seeing memory gradually grow over time. We have the limits set to 1G but it will eventually reach that in about a day then get oom'd.

<img width="2546" alt="Screen Shot 2020-04-13 at 2 07 10 PM" src="https://user-images.githubusercontent.com/151280/79164624-aaad2480-7d9e-11ea-85ce-173362fc62fd.png">

Here is our config in the deployment

[code]

An

[2020-04-13 22:08] marwanad commented on #3044
curious about the workload you're running? How many pods are running and the number of pending pods you see during those spikes?

[2020-04-13 22:25] bradleyd commented on #3044
@marwanad thanks for responding. Those spikes take about a day to manifest. We have a pretty steady workflow so about 700+ pods up to 1900 if you count cron jobs.

[2020-04-14 07:07] hochuenw-dd commented on #2747
@bskiba any updates on this?

[2020-04-14 10:34] MaciekPytel commented on #3043
1.15.6 is currently not available via k8s.gcr.io. This is because of Kubernetes-wide image repo migration (https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md). New versions of all Kubernetes components are already hosted from new gcr, however, k8s.gcr.io was not flipped yet. Eventually it will be flipped to new repo and k8s.gcr.io/cluster-autoscaler:v1.15.6 will star

[2020-04-14 13:53] maust commented on #2829
We are just migrating to 1.15, thanks a lot. If I can find time I will extend the AWS documentation.

[2020-04-14 16:07] marwanad commented on #3044
@bradleyd interesting, I've hit weird memory behaviour with the increasing number of unschedulable pods (as logged inCA). In most cases, around 3k pods or so would hit anywhere between 500-700Mi. Haven't got to running pprof yet.

From what @MaciekPytel mentioned on Slack, it seems like this is not unexpected given that watches cache all nodes and pods in memory.

[2020-04-14 16:18] MaciekPytel commented on #3044
I would definitely expect CA memory to grow with cluster size (#pods, #nodes and especially #ASGs), but the number of pods mentioned is not that large, this seems like more memory than I'd expect. Note that I only run clusters in GCP/GKE, so my intuition may be way off for memory use of AWS provider.

[2020-04-14 16:47] maust commented on #2829
Successful tested with 1.15.6, thanks again.

I opened https://github.com/kubernetes/autoscaler/pull/3052

From my side this could be closed, not sure if you want to keep it open until the other versions support it.

[2020-04-14 16:54] Jeffwan commented on #2829
I will leave it open to track changes in other branches. @maust Thanks for the contribution. I will review the doc change

[2020-04-14 19:17] bradleyd commented on #3044
@MaciekPytel that was my thoughts too. I get that memory will grow in proportion to the cluster size, but this seems like a lot &trade;

[2020-04-15 00:10] lmgnid commented on #2333
Any updates? BTW, tried all these in 1.15.6 and didn't see differences:
[code]

[2020-04-15 00:39] marwanad commented on #3044
@bradleyd do you have pods using affinity/anti-affinity rules by any chance? I ran a quick pprof and it seems that `MatchInterPodAffinity` predicate has some heavy footprint.

[2020-04-15 01:29] yashbhutwala commented on #2508
ping, can we please get one of the MR's reviewed/merged? 😃

[2020-04-15 07:43] bskiba commented on #2508
Yeah, I have some time set aside today to take a look, sorry for the delay.

[2020-04-15 15:08] bskiba commented on #3015
I see. Do I understand correctly that there can be only one consumer per partition?

Unfortunately the only solution that I can see now is to use a separate deployment for each partition and modify the min-replicas flag of updater to 0 so that deployments with 1 replica can be updated.
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/main.go#L44

[2020-04-15 16:54] anupash147 opened #3058 "Need some advice on aws autoscaler to select different machine types"
Hello Everyone greetings,

I am here reaching out to the community to solve a problem that i am unable to address.
So what i have done so far.
- I have an EKS cluster version 1.15 with stable/cluster-autoscaler 7.1.0 cloudprovider=aws and autodiscover mode for ASG, I have this working and autoscaling also works good.
- my ASG group has 10% on demand base and 90% spot. The ASG is a mixed mode insta

[2020-04-16 06:06] Jeffwan commented on #3058
/assign @Jeffwan

[2020-04-16 06:08] Jeffwan commented on #3029
/assign @Jeffwan

[2020-04-16 06:11] Jeffwan commented on #3041
/assign @Jeffwan

[code]

[2020-04-16 12:40] lgg42 commented on #2646
Oh yes please! we just found out that all of cluster-autoscaler logs are displayed in datadog as ERROR logs, whey they are in fact INFO. +1 to this feature.
Maybe adding an Env var to the deployment for switching the output into json format?

[2020-04-16 12:42] svgreatest opened #3060 "Using VPA with custom controllers"
In my project, I have a Kubernetes custom resource with a custom controller. I was trying to use VPA with the custom controller. I'm basically following this: https://github.com/kubernetes/autoscaler/pull/2195/commits/8ff3b4fd47bcba514c9e904b6bee481ff0f3703e to add my custom resource. I need a separate clientset for my custom resource. I couldn't find any good way to hook that code into existing V

[2020-04-16 15:08] bradleyd commented on #3044
<img width="2923" alt="image" src="https://user-images.githubusercontent.com/151280/79472891-a0b73b80-7fc1-11ea-8e53-f159a322aee8.png">

Here is the change (after an oom). Two days went 400MB to over 900MB. This seems a lot like bloat or a leak to me.

[2020-04-16 17:26] hendrikhalkow commented on #2936
When you combine CA 1.17.1 with EKS 1.15, I don't even get until that issue because the CSINode API group changed: `Failed to list *v1.CSINode: the server could not find the requested resource`

The documentation states that you need to use the same autoscaler minor version as your Kubernetes, means you need to run cluster autoscaler v1.15.6. However, I still get this issue using the latest chart

[2020-04-16 17:58] srspnda commented on #3044
I'm seeing the same issue on a 6 node cluster, Amazon EKS v1.15, k8s.gcr.io/cluster-autoscaler:v1.15.5. CA runs into the memory limit, runs out of memory, and is then restarted. Looks like this behavior is on a ~7d schedule.

[2020-04-17 02:40] yashbhutwala opened #3062 "allow vpa recommender to be run as namespace scoped"
I would like to deploy the recommender per namespace, this should be configurable.

some things seem to be configured to be expecting clusterScoped privileges: https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L170

[2020-04-17 03:29] yashbhutwala commented on #3062
I see PR #3049 !! thanks @povilasv 😄

[2020-04-17 08:48] bskiba commented on #3060
In addition to supporting most common controllers, VPA can target custom resources without changes to code. However, your custom resource needs to support scale subresource so that VPA can find out which pods it controlls:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource

Let me know if this works for you.

[2020-04-17 11:43] bskiba commented on #2996
I've started working on the release, currently testing it, will publish after that's finished

[2020-04-17 16:29] bskiba commented on #2996
https://github.com/kubernetes/k8s.io/pull/760 will promote images.

[2020-04-17 16:52] damscott commented on #2920
@Jeffwan The image for the 1.15 version isn't in the registry:
[code]

[2020-04-17 16:58] mbarrien commented on #2920
Use one of the official registry URLs listed at the bottom of the release notes. There was a reorganization of the registry locations.

[2020-04-17 17:04] damscott commented on #2920
Thanks, that worked. I'll put in a PR on the cluster-autoscaler helm chart, which [is still pointing at the old URL](https://github.com/helm/charts/blob/master/stable/cluster-autoscaler/values.yaml#L55).

[2020-04-17 21:18] marwanad commented on #2987
/close

[2020-04-17 21:18] #2987 closed

[2020-04-17 21:23] stefansedich commented on #3044
We just upgraded to 1.15.6 from 1.14.x and CA was OOMing on startup based on our requests and limits we had previously set, had to significantly increase these to get CA to start up.

Has anything changed to greatly increase the memory footprint?

[2020-04-18 03:38] yashbhutwala commented on #2747
This would be awesome!!  How can I help?

[2020-04-18 03:43] yashbhutwala commented on #1501
I think this is fixed via #1824 and then fixed further by #3009 🔨

[2020-04-18 12:19] losipiuk commented on #2645
This is done already :)

[2020-04-18 12:19] #2645 closed

[2020-04-18 16:45] krishna-birla opened #3066 "[Need Help] Priority expander behavior when used alongside ASG tags in EKS"
Consider an AWS EKS cluster running K8 1.14.x with cluster autoscaler 1.14.7, consisting of four auto scaling groups as follows:

- spot-nodes
k8s.io/cluster-autoscaler/node-template/label/usage=main
- on-demand-nodes
k8s.io/cluster-autoscaler/node-template/label/usage=fallback
- spot-gpu-nodes (has GPUs)
k8s.io/cluster-autoscaler/node-template/label/usage=main-gpu
- on-demand-gpu-nodes (has GPUs)

[2020-04-19 05:20] yashbhutwala commented on #2747
I've been digging around the code for a bit, this is what I understand so far, please correct me where I'm wrong 😃

To answer this:

recommendations are calculated using [decaying histogram](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/util/decaying_histogram.go#L43) of weighted samples from the metrics server, where the newer samples are assigned hi

[2020-04-19 12:15] etwillbefine commented on #2324
I run into this issue by running autoscaler `1.17.x` on kubernetes `1.16.x`.

[2020-04-19 14:20] svgreatest commented on #3060
I'm trying this in GKE:

bash-4.2$ ./vpa-up.sh
customresourcedefinition.apiextensions.k8s.io/verticalpodautoscalers.autoscaling.k8s.io created
customresourcedefinition.apiextensions.k8s.io/verticalpodautoscalercheckpoints.autoscaling.k8s.io created
clusterrole.rbac.authorization.k8s.io/system:metrics-reader created
clusterrole.rbac.authorization.k8s.io/system:vpa-actor created
clusterrole.rbac.aut

[2020-04-19 16:20] techdragon opened #3068 "VPA Helm Chart"
It would be very useful to have a Helm Chart for deploying the Vertical Pod Autoscaler. At the moment its one of the few parts I cant deploy in any kind of idempotent/config management toolchain ( other than using shell execution of course 😄)

If there is a recommended one it should be documented somewhere, if not, could someone more familiar with the install scripting look at if there are any blo

[2020-04-19 19:46] frittentheke commented on #1317
/remove-lifecycle stale

[2020-04-19 19:47] frittentheke commented on #1317
@aleksandra-malinowska may I kindly ask if you see this feature to be added?
If not by yourself - would you accept a PR then?

[2020-04-20 06:59] bskiba commented on #1501
/close

[2020-04-20 07:00] #1501 closed

[2020-04-20 14:55] joelsmith opened #3069 "vpa and vpacheckpoint CRDs have KubernetesAPIApprovalPolicyConformant condition from MissingAnnotation"
The CRDs for `vpa` and `vpacheckpoint` are missing annotations referring to their API review, which is causing the CRDs to have the condition `KubernetesAPIApprovalPolicyConformant` set to `false` with a reason of `MissingAnnotation`.

[code]

You'll get similar output from `kubectl get crd verticalpodautoscalercheckpoints.autoscaling.k8s.io`

According to https://github.com/kubernetes/enhancement

[2020-04-20 14:55] joelsmith commented on #3069
/assign @bskiba

[2020-04-20 15:50] bskiba commented on #2996
Release created: https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.8.0
I am in progress of merging PRs to make sure deployment works as expected (see #3070)

/close

[2020-04-20 15:51] #2996 closed

[2020-04-20 16:13] MaciekPytel commented on #3066
Cluster Autoscaler will only ever scale-up a NodeGroup (ASG) if pending pods can schedule on resulting nodes. Expander is only used to decide which of the ASGs that match all pod requirements will be used.
In other words nodeSelector, GPU availability, etc will always take precedence over any expander.

[2020-04-20 18:55] therc opened #3071 "Should --scale-down-delay-after-add be per-nodepool?"
I just saw some nodes getting removed in our cluster after a whole 24m, rather than the expected default of 10m. This was because of two different scale up events that occurred, one before and one after the 10m mark. The autoscaler didn't reuse the empty nodes because, both times, they had no GPUs. This is on AWS, but it should apply everywhere.

So... would it make sense to make the cooldown appl

[2020-04-20 20:01] lcaballero opened #3072 "CA annotates with ToBeDeleted but then doesn't scale-up"
Version: 1.16
K8s: 1.16.3

I've seen it happen that the CA will mark nodes ToBeDeleted way before it triggers a Scale-Down.  This makes the nodes Unschedulable.  Then new PODs need to come up and there are less available locations due to the taint, and therefor forcing the POD to be unschedulable.  Yet this then does not trigger a scale-up.  Why does it add ToBeDelete before triggering?  Why won't

[2020-04-20 22:38] mtb-xt commented on #2503
/remove-lifecycle stale

[2020-04-21 09:23] povilasv opened #3074 "VPA: different architecture support"
It would be amazing if we could add `amd64`, `arm`, `arm64`, `ppc64le`, `s390x` support.

Multiple kubernetes projects has started adding that support. For example `metrics-server`:

https://github.com/kubernetes-sigs/metrics-server/commit/d0bc9eb4b869a7db280a1cde6066cda4245ac58a

Roughly we could add:
[code]

Work plan change make files:

- https://github.com/kubernetes/autoscaler/blob/master/ver

[2020-04-21 10:52] krishna-birla commented on #3066
Thanks for the quick response, that answers it. Thanks!

[2020-04-21 10:52] #3066 closed

[2020-04-21 14:09] fradee opened #3076 "Cluster Autoscaler 1.15.6 AWS has problem with start in region cn-northwest-1"
After update version to 1.15.6 on clusters in China region cn-northwest-1 (is present change **Load AWS EC2 Instance Types dynamically**)
I've got error:

But after set parameter **aws-use-static-instance-list** in _true_ CA start in normal state

[2020-04-21 15:09] fradee commented on #3076
It seems in China is not present pricing service, so the link does not work
`https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/{offer_code}/current/index.{format}`
@Jeffwan ^^^^

[2020-04-21 17:02] ccampo133 commented on #2936
I'm also running into this same issue on Amazon EKS (k8s 1.14.9 and auto scaler version 1.14.6):

[code]

[2020-04-21 17:05] hendrikhalkow commented on #2936
I just solved it for me: I forgot to set the AWS region. With the awsRegion parameter in my Helm values the combination above works fine.

[2020-04-21 20:35] ccampo133 commented on #2936
Looking into this a big more, it appears that `fetchAutoAsgNames` in `auto_scaling_groups.go` may not be returning any values, which is strange. This would indicate to me that there's either an issue with the AWS API (e.g. IAM permissions), the autoscale tag is somehow misconfigured on the nodes themselves, or the AWS SDK is somehow returning empty results when filtering by tag key, somewhere in t

[2020-04-21 21:05] Jeffwan commented on #3076
@fradee Thanks for reporting the issue. Em. That could be a problem. Let me run some tests and see how to improve for this case

[2020-04-21 21:08] Jeffwan commented on #3076
/assign @Jeffwan

[2020-04-21 21:15] ccampo133 commented on #3041
@paramacharya ensure that the tags specified in the `--node-group-auto-discovery` match the actual tags on the ASG(s) in question.

[2020-04-22 03:36] shubhambadkur opened #3077 "[VPA] Scale up and down paused"
Hi folks,

We started using vertical pod autoscalers so that our pods can scale up and down during peak and off peak hours. But looks like VPA is not scaling down the pods attaching the CPU and memory usage of pods in last 24 hours. We have metrics showing usage, request and limit in last 24 hours.
![image](https://user-images.githubusercontent.com/42832137/79937727-415b9e80-848d-11ea-8520-afe0165

[2020-04-22 04:01] shubhambadkur commented on #3077
We are using EKS version 1.12 for our cluster and VPA version **0.70**

[2020-04-22 04:26] shubhambadkur commented on #3077
As of 22/04/2020 12:25 PM GMT +8. I dont see any new recommendation coming.
![image](https://user-images.githubusercontent.com/42832137/79940488-76b7ba80-8494-11ea-9707-6f16c6b14e0f.png)

[2020-04-22 09:32] krzysied opened #3078 "[VPA] Incorrect OOM handling"
It often happens that OOM memory values are not recorder.
In logs there are many entries like:

W0421 16:47:20.131118       1 cluster_feeder.go:406] Failed to record OOM {Timestamp:2020-04-21 16:46:24 +0000 UTC Memory:476450463 ContainerID:{PodID:{Namespace:vertical-pod-autoscaling-4228 PodName:hamster-6ddf9fb54d-wzzzd} ContainerName:hamster}}. Reason: error while recording OOM for {{vertical-pod-

[2020-04-22 09:32] krzysied commented on #3078
/cc @bskiba @jbartosik
/assign

[2020-04-22 09:39] krzysied commented on #3078
Based on extensive debugging and deep code analysis I found following logic assumptions:
- OOM are treated as metric samples
https://github.com/kubernetes/autoscaler/blob/40d5205c1035bde49f7761bd30196e8bcbddb1df/vertical-pod-autoscaler/pkg/recommender/model/container.go#L206
- If sample is older that the newest processed one, the sample skipped
https://github.com/kubernetes/autoscaler/blob/40d5205

[2020-04-22 09:45] krzysied commented on #3078
The problematic scenario looks like:
- There is OOM at 00:00:44
- We have metric sample from 00:00:00 till 00:00:45
- Metrics are not as precise as OOM values.

Recommender will process metrics, setting lastMemorySampleStart to 00:00:45. It will process OOM after metrics. OOM sample will be skipped due to its measurement time being before lastMemorySampleStart.

This results with lower memory valu

[2020-04-22 12:03] bskiba commented on #3069
Thanks Joel
FTR - I think currently you can use following annotation to suppress the working.
[code]

I will proceed on getting the approval, since we have performed review of this API quite some time ago.

[2020-04-22 13:10] #1615 closed

[2020-04-22 13:20] bskiba commented on #3069
The relevant pr with API review is here: https://github.com/kubernetes/kubernetes/pull/63797
There was also extensive discussion on the initial design proposal: https://github.com/kubernetes/community/pull/338

[2020-04-22 15:56] bskiba commented on #3077
VPA in its current implementation is targeted more towards improving reliability than cost saving. It provisions for memory peak, so scale downs for memory may take days to happen. For CPU it roughly targets a request that will be higher than usage for 85 percent of time (it's a bit of a simplification but I think it's good enough to describe what VPA does).
VPA tries more to detect trends (hence

[2020-04-22 19:33] dbirks commented on #3068
I've noticed a chart by @sebastien-prudhomme that he may want to contribute:
https://github.com/cowboysysop/charts/tree/master/charts/vertical-pod-autoscaler

[2020-04-23 05:35] xhanin commented on #2377
@aaaaahaaaaa Did you get a chance to sort this out? I have the same problem, an autoscaling node pool which doesn't scale to 0 whilst scale down conditions should be met.

[2020-04-23 08:39] #3078 closed

[2020-04-23 08:58] MaciekPytel commented on #2377
@xhanin There may be any number of reasons for this, but system pods or pods using local storage are the most common reason (other reasons are in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node).

One option to consider is to put a taint on the nodepool that you want to be able to scale to 0. That way system pods

[2020-04-23 09:14] yogeshkk commented on #3042
Hi,

I just wanted some input it is a bug or misconfiguration. One can easily reproduce it. If you require any more information please let me know.

[2020-04-23 09:39] nilo19 commented on #2582
/close because the original issue has been closed.

[2020-04-23 09:40] nilo19 commented on #2582
/close

The original error has been closed.

[2020-04-23 09:40] #2582 closed

[2020-04-23 10:06] aashishgoyal246 opened #3081 "Do I have to use image - k8s.gcr.io/cluster-autoscaler:v1.15.n (where n is release version) all the time for deployment?"
Hi there,

I am using cluster-autoscaler in AWS to autoscale my node groups and I am using the file `cluster-autoscaler-autodiscover.yaml` for deploying it. I have a doubt in this file that in container section an image - `k8s.gcr.io/cluster-autoscaler:v1.14.7` is used with certain commands, so my question is that if I only want to use an `nginx` image for deployment than do I always have to inclu

[2020-04-23 15:08] avedpathak opened #3082 "[AWS][Cluster Autoscale] Cluster Autoscaler is randomly adding and deleting nodes in the node groups, results in uneven node distribution across different zones"
Although I have the same labels for all ASGs, the same instance size and also enabled `balance-similar-node-groups`, cluster auto-scaler does not balance or evenly distribute instances.

We have 4 ASGs, one ASG per AZ.
There are 6 instances in ASG-A, 2 in ASG-B, 1 in ASG-C, 1 in ASG-D

1. Cloud provider: AWS
2. EKS version is 1.15.6
3. The current app version is k8s.gcr.io/cluster-autoscaler:v1.14

[2020-04-23 17:08] gjtempleton commented on #3081
Hi,

Is this the file you're referring to? https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml

I'm not clear on what you're asking - if you want to scale your cluster dynamically you should be using a cluster-autoscaler image (though adjust the minor release branch to match your k8s version). The cluster-autoscale

[2020-04-23 18:10] chaitushiva commented on #3081
The original question might be that , is this format works all the time
inside deployment file

I.e., spec.template.spec.containers.image :
k8s.gcr.io/cluster-autoscaler:v1.15.n

Standard repository k8s.gcr.io?

On Thu, Apr 23, 2020 at 1:08 PM Guy Templeton <notifications@github.com>
wrote:

[2020-04-23 19:43] brycecarman commented on #3081
From your original question, it sounds like you want to be able to automatically increase or decrease the number of nginx pods in your cluster. For that, check out Horizontal Pod Autoscaler. https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/.

Cluster Autoscaler is for increasing/decreasing the number of worker nodes in response to how many pods are running. If you are aski

[2020-04-23 20:32] chaitushiva commented on #3081
Am not the original requestor! I just tired guess their intention

On Thu, Apr 23, 2020 at 3:43 PM Bryce Carman <notifications@github.com>
wrote:

[2020-04-23 23:43] #2529 closed

[2020-04-24 02:05] aashishgoyal246 commented on #3081
@gjtempleton thanks for replying to my question. I have searched about my doubt and I got my answer is that - We deploy the node groups on eks cluster then I applied the file `cluster-autoscaler-autodiscover.yaml` into my cluster, this enables the cluster to perform autoscaling and then I created a deployment file only for `nginx` image and it starts scaling up or down according to load on the nod

[2020-04-24 02:56] DasyDong opened #3085 "[CA][ALI] Failed to list *v1.DaemonSet: daemonsets.extensions is forbidden"
As title described， the error occurs in kubenetes 1.17

Failed to list *v1.DaemonSet: daemonsets.extensions is forbidden: User "system:serviceaccount:kube-system:cluster-autoscaler" cannot list resource "daemonsets" in API group "extensions" at the cluster scope

[2020-04-24 03:00] DasyDong commented on #3085
Fix this by adding missing the daemonsets and replicasets resource under the apps apiGroups .

[code]

[2020-04-24 03:02] #3085 closed

[2020-04-24 07:51] #2559 closed

[2020-04-24 10:07] krzysied commented on #3078
Quick update on the impact of the change:
- We are not loosing OOM memory samples. This allows VPA to achieve correct memory recommendation a few cycles (minutes) faster.
- VPA has more deterministic behavior. Previously there was some chance to record a sample, so test duration varied. This often resulted with tests timing out.

Test duration consistently keeps below 5 minutes.

[2020-04-24 13:57] #2498 closed

[2020-04-24 16:18] gjtempleton commented on #3076
Looks related to the existing issue #2696 which I have (still) failed to do the required work to move away to the `DescribeInstanceTypes` API.

[2020-04-24 16:30] gjtempleton commented on #3042
Hi @yogeshkk

It looks like you're running into this version of the CA not handling spot instances well. How long did you wait after the spot requests being created before manually making the changes to ASG desired count? It'll wait for the length of `max-node-provision-time` of the placeholder instances being in progress and not turning into real nodes before it scales the ASG they're in back dow

[2020-04-24 16:36] gjtempleton commented on #2285
Assuming this is safe to close
/assign @gjtempleton
/close

[2020-04-24 16:36] #2285 closed

[2020-04-24 16:38] gjtempleton commented on #3081
/assign

[2020-04-24 16:39] gjtempleton commented on #3081
Good to hear @aashishgoyal246
In that case are you fine with me closing this issue as it sounds like you've found the answer to your query?

[2020-04-24 16:47] dharmab opened #3091 "General discussion: Limit scaling and performance throttling"
I'd like to share some experiences my team and organization had with the upgrade from VPA 0.4.0 to newer versions which implement proportional limit scaling.

We were on VPA 0.4.0 for about a year, and had a lengthy transition period to allow teams to switch to the new API version. When testing a newer version of VPA, we saw severe performance degradation for some applications compared to VPA 0.4.

[2020-04-24 17:10] azhurbilo opened #3092 "balance-similar-node-groups and beta.kubernetes.io/instance-type node TAG"
We have setup separate ASG per AWS AZ to prevent rebalancing.
According  https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#im-running-cluster-with-nodes-in-multiple-zones-for-ha-purposes-is-that-supported-by-cluster-autoscaler each NODE labels should match each other 100%
"beta.kubernetes.io/instance-type" also should match and only first item should be used as common

[2020-04-24 20:29] rehevkor5 commented on #3081
For some unexpected reason which is not clear to me, v1.15.6 is not available in the same repo as other versions for example gcr.io/google-containers/cluster-autoscaler:v1.15.5

Instead it's on:
eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.15.6
us.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.15.6
asia.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.15.6

[2020-04-24 20:42] gjtempleton opened #3093 "Latest Cluster-Autoscaler & VPA Releases Currently unavailable from k8s.gcr.io"
The latest release of Cluster-Autoscaler and VPA (see list of images below) are currently unavailable from the usual `k8s.gcr.io` vanity domain pending the completion of the domain flip work discussed here: https://groups.google.com/forum/#!topic/kubernetes-dev/MkXnkTSJ_vs

As per the above thread this domain flip is currently expected to complete in May, currently the images can be retrieved as p

[2020-04-24 20:44] gjtempleton commented on #3081
Hey @rehevkor5 that's an unrelated issue due to a known ongoing piece of work that's unfortunately taken longer than initially expected due to dependencies discovered during the work, but I've raised #3093 to track this issue.

[2020-04-25 02:30] aashishgoyal246 commented on #3081
@gjtempleton I am OK if you close this issue and I got my answer.

[2020-04-25 03:17] RobertLucian opened #3095 "Support AWS Inferentia chips"
It appears that even though Inferentia instances have been added to [cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L655-L678](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.18/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L655-L678), they still don't have support for the actual Inferentia chips.

This is what I'm getting when I try to scale:
`1

[2020-04-25 05:36] xhanin commented on #2377
@MaciekPytel Thank you so much for your help! The page documenting how to get visibility events is very helpful, this is exactly what I was looking for.

And the pattern of mutating webhook is very interesting.

I'll further investigate in that direction, thank you again!

[2020-04-25 07:12] gjtempleton commented on #3081
/close

[2020-04-25 07:12] #3081 closed

[2020-04-25 15:22] #2573 closed

[2020-04-25 19:21] gjtempleton commented on #3095
Could you tell us which version of k8s and the CA you're running?

Also, are there any Inf1 instances running at the point the CA produces this message? If so could you provide the output (appropriately obfuscated) of describing one of those nodes?

[2020-04-25 21:48] RobertLucian commented on #3095
@gjtempleton Thanks for coming back with a reply. The version of k8s is 1.15.11 (the highest possible on EKS) and that of the CA is 1.18.1.

No, no Inf1 instances are running at that point. The node(s) are not up because the CA can't find any nodes matching the requested resources and so, no node can be spun up. I can force one to scale-up though and then copy-paste the output.

[2020-04-27 04:51] RobertLucian commented on #3095
@gjtempleton I've done a bit more testing on this matter and here's what I've found:

1. On the current version of EKS (1.15) and CA (1.18.1), the auto-scaling mechanisms work just fine on `inf1.xlarge` instances. So, whether the cluster already starts with a node or not, the auto-scaling thing works. That's good. Mind you, when I deploy a pod, I either ask for non-inf resource or inf resources.
1

[2020-04-27 14:22] gjtempleton commented on #3093
Discussed at SIG Autoscaling meeting today and decided no action to be taken, will be resolved once vanity domain flip completes: https://docs.google.com/document/d/1RvhQAEIrVLHbyNnuaT99-6u9ZUMp7BfkPupT2LAZK7w

[2020-04-27 14:29] shubhambadkur commented on #3077
@bskiba understood though 85% of CPU is creating some problems for us. Whenever we deploy application to kubernetes the app upstart sometimes takes more resources then app usually takes during regular functioning. Since our applications are written in golang and usually upstart involves init of lot of sdks and modules hence the pods seems to be very slow even stuck in crashloop during upstart. Now

[2020-04-27 15:01] #3069 closed

[2020-04-27 15:21] MaciekPytel commented on #3042
My guess is with enough spot ASGs it can never scale-up. It will try one spot, wait for `max-node-provision-time`, backoff that ASG and retry scale-up in a different one. If there are enough spot ASGs the first one will go off backoff before the scale-up in the last one times out. Or am I missing something here?

I guess a FR here would be to have AWS provider poll infrastructure and update status

[2020-04-27 15:52] mcristina422 opened #3097 "Update generated clients to 1.18.2"
Update the generated clients to be generated by 1.18.2

[2020-04-28 04:54] yogeshkk commented on #3042
@gjtempleton,

I was using the old version so I have a bump to the latest available for 1.12 which is 1.12.8.  I think max-node-provision-time is 15 min. I have waited around the half-hour and then gave up/

From logs, you can see it marking ASG as unhealthy still it does not try to scale from other ASG and use this same.

`W0413 07:00:57.786923       1 scale_up.go:320] Node group spot-large.k8s.e

[2020-04-28 07:09] gjtempleton commented on #3042
Unfortunately it looks like you've run into [this bug](https://github.com/kubernetes/autoscaler/issue/2378) due to the naming of your ASGs.

The fix for this was only cherry-picked back as far as release branch 1.13 so didn't make it into 1.12 despite the new placeholder instance creation logic making it into 1.12. This means the CA can never successfully "delete" your placeholder instances and sc

[2020-04-28 07:31] nandeeshb09 opened #3100 "In eks-1.13 cluster auto scale down is not working"
Hi Team,

Here we are using cluster auto scaler in EKS cluster , the issue is  scale up of node is happening but scale down is not happening.

Is there any extra flags we have to set in cluster autoscaler deployment?

Please guide us here ,below are the annotations details and version of CA.

 containers:
      - command:
        - ./cluster-autoscaler
        - --v=4
        - --stderrthreshold=i

[2020-04-28 08:43] yogeshkk commented on #3042
Thanks a lot, @gjtempleton for pointing out the bug and helping on the issue.

Just curious by any chance, you are planning to cherry-pick for 1.12?  otherwise, we have to go a similar path as you did for your 1.12 cluster.

[2020-04-28 12:43] mvisonneau commented on #1125
spot blocks can now be defined through launch templates. I believe it should be easier to implement 👍

[2020-04-28 14:31] gjtempleton commented on #3100
The cluster autoscaler at that verbosity level should be telling you which nodes it is considering for scale down, and why it doesn't think it should scale them down.

E.g. Utilization too high, violating a deployment's pod disruption budget etc.

[2020-04-28 14:42] #2933 closed

[2020-04-29 05:27] jvaibhav123 commented on #2418
Hi,

I have CA version 1.15.6 running my kubeadm cluster. The ASG is tagged correctly like below
[code]
CA is configured with autodiscover ASG.

I have sample deployment like below
[code]

However CA doesnt scale up the ASG from 0. The pod always remain in pending status with below message.
[code]

The CA logs show below

[code]
Toleration exists in deployment and taints are applied at ASG . I am

[2020-04-29 06:15] shubhambadkur commented on #3077
Also @bskiba can I keep this value as 75% or configure it at our end. Our load across all the replicaset of the deployment is not balanced hence we would like to keep 70-75% as the avg cpu utilisation

[2020-04-29 08:31] gjtempleton commented on #3042
At the time I raised the issue and PR/Cherry-Picks 1.12 had fallen far enough out of support as 1.16 had been recently been released that I decided not to cherry-pick it back, given that would be 2 minor versions back from the oldest supported k8s version.

Given that 1.18 has now been released 1.12 is now 4 releases back from the oldest supported k8s version I'm not sure how valuable it would be

[2020-04-29 09:43] jvaibhav123 opened #3101 "CA 1.15.6 not able to scale from ASG with min=0"
Hi,

I have CA version 1.15.6 running my kubeadm cluster. The ASG is tagged correctly like below
[code]
CA is configured with autodiscover ASG.

I have sample deployment like below
[code]

However CA doesnt scale up the ASG from 0. The pod always remain in pending status with below message.
[code]

The CA logs show below

[code]
Toleration exists in deployment and taints are applied at ASG . I am

[2020-04-29 12:07] jvaibhav123 commented on #3101
This was tested against k8s version 1.15.10. We also did testing against 1.12.10 k8s (despite version mismatch between k8s and ca) and found same issue

[2020-04-29 12:31] yogeshkk commented on #3042
Fair enough we are not fast at adoption newer version so this is on us. No issues

Btw many thanks @gjtempleton atleast we have idea how to move ahead.
I will be closed the issue.

[2020-04-29 12:31] #3042 closed

[2020-04-29 15:42] Jeffwan commented on #2418
@jvaibhav123

`node-role.kubernetes.io/nodeclass` this is your label key but seems you tag ASG use key `nodeclas`. Can you change that and try again?

[2020-04-29 15:44] Jeffwan commented on #1125
/reopen

We still want to have this feature.

[2020-04-29 15:56] ari-becker commented on #2786
/remove-lifecycle stale

@drewhemm 's comment answered my question, but I see the issue as a call to improve the documentation in line with his comment.

[2020-04-29 17:44] jvaibhav123 commented on #2418
Hi @Jeffwan Thanks for your response. I did try this however got similar results.
[code]

[2020-04-29 18:32] jvaibhav123 commented on #2418
@Jeffwan This has been testing against 1.15.10 k8s version. We also tried with older version of k8s and got similar issue. The observation is once i keep minsize 1 then it did find the correct node and deploy. Latar on if i reduced minsize 0, it works as expected. However our problem is we do not find to keep minsize as 1 initially. Could you please help us here.

[2020-04-30 07:53] Jeffwan commented on #2418
@jvaibhav123 Do you any any other restrictions on the pod? Does it request other resources?

[2020-04-30 07:54] Jeffwan commented on #2936
/assign @Jeffwan

[2020-04-30 08:07] jvaibhav123 commented on #2418
@Jeffwan No there are no other restrictions. The example which has given above the actual use case except the image was different related to our application. Rest of the parameters are same.

[2020-04-30 14:53] afirth commented on #972
I know this is stale, but logs are in stackdriver now.
[code]
should get you started

[2020-04-30 15:28] enxebre opened #3104 "capi: Replicas can go stale in nodeGroup causing erratic behaviour"
DeleteNodes() is sometimes called in subroutines https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scale_down.go#L1067-L1090

But our implementation does not account for that properly https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/clusterapi/clusterapi_nodegroup.go#L84-L149. And subroutines might compete to call setSize() with diffe

[2020-04-30 15:34] enxebre commented on #3104
cc @elmiko

[2020-04-30 15:41] elmiko commented on #3104
++, thanks Alberto!

[2020-04-30 21:25] #2517 closed

[2020-04-30 22:16] djjayeeta commented on #2747
@yashbhutwala Great Summary!!

I am getting a huge upper bound for my recommendation at the startup and trying to understand the behavior.

Below is the VPA object.

`Name:         xxx-vpa
Namespace:   xxxx
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"autoscaling.k8s.io/v1beta2","kind":"VerticalPodAutoscaler","metadata":{"annot

[2020-05-01 05:17] yashbhutwala commented on #2747
@djjayeeta good questions!!  I'm not an expert here, but as far as I understand it, the most important value for you to look at is **Target**.  This is the recommendation given for you to set the **_requests_** to.  **_There is no limit recommendation given by VPA currently_**.

**Lower and Upper bound** are meant to only be used by the **VPA updater** to allow pod to be running if the requests ar

[2020-05-01 05:37] yashbhutwala commented on #2552
/remove-lifecycle stale

[2020-05-01 05:37] yashbhutwala commented on #2552
can we use the VPA checkpoint object for this and collect metrics for it in kube-state-metrics?

[2020-05-03 20:38] gjtempleton commented on #3095
I have an inkling on the 1.15.6 issue you've seen, but need to double check this in a cluster before I can say for sure.

In terms of the main issue though, can I ask what tags you have on the ASG when you're trying to scale from zero? Are there any tags on the ASG itself at the AWS level along the lines of

[code]
?

[2020-05-03 22:30] groodt commented on #1658
Is there a known workaround or solution to this? It seems like it isn't possible to scale to/from 0 using CA and AWS EBS Volumes.

[2020-05-03 22:37] #2622 closed

[2020-05-04 10:59] MaciekPytel commented on #1658
I don't think there is a good workaround. I'm actively looking into how this can be fixed, but it will require at least some changes in volume scheduling in Kubernetes and a huge change in autoscaler (comparable to scheduler framework migration which consisted of >100 commits and took us months to complete).
At this point I can't give any guarantees regarding timeline. It certainly won't be ready

[2020-05-04 11:03] drewhemm commented on #1658
Correct me if I am wrong, but using EBS with CA seems rather counterproductive. I use CA with EFS because the latter is multi-AZ, meaning workloads can come and go in any AZ and resume with their persistent storage. There are some workloads that have issues with EFS (and NFS in general), but I think it is better to move them onto alternative multi-AZ storage system such as GlusterFS rather than ti

[2020-05-04 12:07] gjtempleton opened #3109 "[Bug] - CA AWS Dynamic InstanceTypes Generation Ignored"
* #2249 introduced functionality for the generation of EC2 instance type knowledge at runtime - however this functionality is currently ignored when running the CA - this means we incur the cost of calling the pricing service API and parsing the large (10s of megs+) returned JSON, but then throw the result away, using the hardcoded list

* Affects all versions with this dynamic functionality:
  *

[2020-05-04 12:46] MaciekPytel commented on #972
Note that those are not raw CA logs, but an aggregated summary. It's documented in: https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-autoscaler-visibility

[2020-05-04 15:27] LobsterMan commented on #2721
@ddseapy  Did you find a solution to this?

[2020-05-04 15:48] ddseapy commented on #2721
Without doing anything on our side, this hasn't occurred in the last couple months.  I'll close as it's not happening anymore.  Will re-open if happens again.

[2020-05-04 15:48] #2721 closed

[2020-05-04 20:28] RobertLucian commented on #3095
@gjtempleton I have something along the lines of
[code]

I see there was a bug regarding the dynamically generated instance types in https://github.com/kubernetes/autoscaler/issues/3109. This may make my issue go away since I could revert back to `1.15.x`. That's really great!

Is there a timeline of when this could make it in as patch for `1.15.7`? Or do you think it would be better to build my o

[2020-05-05 00:16] groodt commented on #1658
Thanks @MaciekPytel I can appreciate it's a very complex problem at the moment. I was mostly trying to understand if I was missing some obvious workaround and getting clarity around if I can ever expect a solution. Sounds like a "possible solution" is in the "thinking about it" phase, but won't be ready (if ever) for a long time, possible 1.20+. Thanks for the update!

You're not wrong @drewhemm I

[2020-05-05 15:43] ndon55555 commented on #1778
@naseemkullah Did you ever find an answer to your question? I would like to know this as well

[2020-05-05 15:45] naseemkullah commented on #1778
Hi @ndon55555 I did not, today I am using 1 VPA : 1 deployment ratio. I have not recently investigated though and perhaps there has been advancements I am unaware of, keep me posted if you find anything!

[2020-05-06 09:58] drewhemm commented on #1658
@groodt I am indeed using CA and scaling to and from 0. I am using the EFS Dynamic Provisioner, so one EFS for the whole cluster:

https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs

EFS may be more expensive per GB than EBS, but you only pay for the capacity you use, unlike EBS where a majority of what is paid for is often not utilised (no-one wants to run out of space o

[2020-05-06 14:41] hasakura12 opened #3115 "Cluster Autoscaler not scaling up with "not ready for scaleup - backoff" & "backoff after failed scale-up""
I've already spent days debugging this issue.

Refs:
- https://github.com/kubernetes/autoscaler/issues/1184
- https://github.com/kubernetes/autoscaler/issues/1218
- https://github.com/kubernetes/autoscaler/issues/2434
- https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#scaling-a-node-group-to-0

[code]

### The problem:

1. Created EKS cluster usin

[2020-05-06 19:20] Naterd opened #3116 "Nodes when launched with autoscaler applying restricted node labels preventing it from joining cluster"
I am running into a strange issue with the autoscaler when recently upgrading from kubernetes 1.15 to 1.16

Autoscaler: 1.16.4
Kubernetes version: 1.16.9

Nodes when launched with the autoscaler are applying node labels at launch that are no longer allowed by the kubelet.
[code]
This is happening because of

[code]
However I can not track down where these labels are coming from.  This cluster was

[2020-05-07 00:22] groodt commented on #1658
@drewhemm I'm glad it is working for your use-cases, but I think there is still a caveat with the EFS approach that means it won't be ideal for many ephemeral use-cases.

Please correct me if I'm wrong. :)

The nodes might scale up and down to 0, but the storage does not. What I mean by this, is that an EFS file-system needs to be created ahead of time. Creating the filesystem itself ahead of time

[2020-05-07 03:50] hieu29791 opened #3117 "Failed to create AWS Manager: NoCredentialProviders: no valid providers in chain. Deprecated."
My cluster has 2 node groups, I following this [guide](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html). It works fine if my cluster doesn't have **kube2iam**. When my cluster had already install **kube2iam**, error happen: `Failed to create AWS Manager: cannot autodiscover ASGs: NoCredentialProviders: no valid providers in chain. Deprecated.`
I try to figure it out by rem

[2020-05-07 04:13] drewhemm commented on #1658
@groodt You're right that unless the PVC is deleted, then the space in EFS is not released; however, I believe this is also the case for dynamically provisioned EBS volumes?

For truly ephemeral workloads, where what you want is effectively a scratch disk, there is a third option: instances with local SSDs, i.e. m5ad, c5d, r5dn etc. These offer higher performance than EBS or EFS and combined with

[2020-05-07 04:28] groodt commented on #1658
Not with `reclaimPolicy: "Delete",` which is what we use at the moment. It works really well, but not from the scale-to-zero case that this original GH issue pertains to.

Yes, using this with emptyDir would work too, but I'm talking even larger data than this in some cases.

Yes, absolutely. I think this is what @MaciekPytel is working on. I don't think it will come soon, but I do hope it comes s

[2020-05-07 04:39] yogeshkk commented on #3042
Just in case anyone facing the same issue. I have creaked fork of repo https://github.com/yogeshkk/autoscaler which contains all steps and the docker image is yogeshkunjir/clusterautoscaler:v1.12.8.patch-fix for handy.

I have checked the image is working as expected so you can use my image. I do recommend creating your own images as using steps provided in Github repo.

[2020-05-07 05:28] drewhemm commented on #1658
EFS also supports `reclaimPolicy: "Delete"`, so in that sense thay are the same. See the example just below here:

https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs#parameters

[2020-05-07 06:57] groodt commented on #1658
So are you saying if I have a single EFS filesystem that is referenced by a single StorageClass (reclaimPolicy: "Delete"), I would be able to create numerous different PVC (different names) that reference this StorageClass and when the various PVCs are deleted, their data will be cleaned from the single EFS filesystem?

[2020-05-07 09:00] drewhemm commented on #1658
That's correct. I mounted the root of one of our EFS to verify and there are only directories for currently-existing PVCs. You can test this by creating a PVC and then deleting it and verifying that it is no longer present in EFS:

https://docs.aws.amazon.com/efs/latest/ug/mounting-fs.html#mounting-fs-install-amazon-efs-utils

- SSH onto an EC2 instance
- Install the efs package `sudo yum install

[2020-05-07 10:28] groodt commented on #1658
That's really interesting. TIL. Thank you! I'll give it a try.

I imagine for some EFS won't be suitable and hopefully it eventually does become possible to use EBS, but for now, EFS may be a good substitute.

[2020-05-07 10:35] drewhemm commented on #1658
Yeah, EFS has become my default for AWS, and I fall back to EBS only for workloads that are not suitable, such as those that need to create large numbers of file locks:

https://docs.amazonaws.cn/en_us/efs/latest/ug/limits.html#limits-fs-specific

For everything else, there are sufficient tuning options in EFS to ensure the right level of performance at reasonable price points. The elimination of

[2020-05-07 14:01] bskiba commented on #3091
Thanks for the detailed description.

#3028 should address turning off limit scaling for pods, which would address your immediate problem.
For improved limit scaling - this is certainly an interesting problem and a great potential feature. Do you have any suggestions on what kind of algorithm would work for your use case? For example if currently CPU recommendation is set to target 85th percentile

[2020-05-07 14:25] dharmab commented on #3091
Hi @bskiba,

Glad to hear that limit scaling will be a configurable option.

I'd have to check with our metrics and engineers, but I believe some of our apps might spend only 200-300ms at a time CPU pinned- but because they're part of a latency sensitive flow, that particular app does in fact need as much CPU as possible during that very small time window. On the other hand, there are other apps t

[2020-05-07 14:31] #2762 closed

[2020-05-07 16:23] alberto commented on #3093
This hit us this week while upgrading our cluster. Unfortunately, this means helm chart can't find the latest version (which we need because of a bug fix)

[2020-05-07 17:17] shahar-lev opened #3121 "No scale down of nodes with Succeeded Pods"
CA 1.14 refuses to scale down said nodes although they only have Succeeded Pods and Active kube-system pods (I have PDBs in place for the latter).
Checking the logs reveal messages of this kind:

After deleting the Succeeded Pods, CA scaled down the relevant nodes.
It seems that CA also takes Succeeded Pods into account when calculating utilization. Why is that?

[2020-05-08 09:08] bskiba commented on #3077
We are aware of the issue with hot startup, but we don't have a good answer for it as of now unfortunately. It's especially difficult as we don't have in-place pod resizes in Kubernetes - to cover the initialisation phase we would have to recommend a cpu request big enough to cover initialisation, which will be wasteful later.

If your issue is with not enough resources at startup, why would you w

[2020-05-08 09:11] bskiba commented on #3074
If there is need for multi-arch support, then we'll gladly accept pull requests.
I think there should not be issues with google container registry for this.

For Cluster Autoscaler @MaciekPytel can let you know if they'd like support for multiple architectures there as well.

[2020-05-08 09:17] bskiba commented on #3060
Might be permission issues. Can you try modifying vpa-rbac.yaml to enable VPA recommender to get and watch your custom resource?

[2020-05-08 09:24] bskiba commented on #2508
/fixed
by #3009, thanks @povilasv

[2020-05-08 09:24] #2508 closed

[2020-05-08 09:28] bskiba commented on #2747
@yashbhutwala, thanks for taking time to answer here, your answer is very precise. 👍
If you would like, could you add this answer to the [FAQ](/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/FAQ.md)? I think it would prove very useful to other users

[2020-05-08 09:33] bskiba commented on #2390
Since we don't really have experience with kustomize here, we'd gladly accept contributions on this one if anyone is interested.

[2020-05-08 23:06] RobertLucian commented on #3095
@gjtempleton applying https://github.com/kubernetes/autoscaler/pull/3110 to version `1.16.5` and then adding the `k8s.io/cluster-autoscaler/node-template/resources/` tags to ASGs seemed to have fixed my problem. I transitioned to EKS 1.16 anyway, so that's why I didn't use 1.15 anymore.

I'm still testing, so I might be back with some more feedback. Until then, I wouldn't close the ticket.

[2020-05-11 09:59] MaciekPytel commented on #2751
/remove-lifecycle stale

[2020-05-11 12:32] hobti01 commented on #2806
I'm going to try again :)

CA is coded to only support the default scheduler or is there any mechanism for modifying the configuration?

Could anyone identify the code section(s) that are determining this?

We'd really like to resolve this even if it means a PR or fork but are having a difficult time finding the right sections.

[2020-05-11 13:40] janavenkat opened #3126 "No image tag for release 1.14.8"
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.8

Am not able to get the docker image because it's not available

```docker pull http://k8s.gcr.io/cluster-autoscaler:v1.14.8```

[2020-05-11 13:48] lpszBar commented on #3126
AFAIK there is a tempory problem with repo domain

try this instead

`docker pull eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler`

using {asia,eu,us} depending on your location

More info: https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md

[2020-05-11 15:39] MaciekPytel commented on #2806
I don't think there is any section in CA that determines or modifies any scheduler config. Or any other logic related in any way to feature gates. CA just creates scheduler framework (in scheduler_based_predicates_checker.go linked above) and relies that whatever happens behind the scenes will yield a working framework with default settings.

PredicateChecker is really the single integration point

[2020-05-11 16:44] JoelSpeed commented on #2020
I was looking into this issue last week and came up with this PR which you may all be interest in #3124

In my debugging, I was seeing a difference of 172032Ki across availability zones of m5.xlarge instances in us-east-2. I will add I was using the cluster-api provider rather than the AWS provider so this bug affects multiple providers.

My finding was that the value of `MaxMemoryDifferenceInKilo

[2020-05-11 17:42] Naterd commented on #3116
This turned out to be an issue with the kops controller, closing.

[2020-05-11 17:42] #3116 closed

[2020-05-12 04:30] Jeffwan commented on #3095
inf1 has not been officially supported on EKS, it will be ready pretty soon (next week). Thanks for reporting issues here.

[2020-05-12 13:58] Disgruntled opened #3128 "High CVE's in cluster autoscaler"
Specifically versions 1.15.5 and 1.15.6 tested

A container image vulnerability scan by such tools as Jfrog Artefactory Xray and AWS ECR show that there are several "High" and even more low/informational CVE's in the cluster-autoscaler container. While these CVE's are not linked to cluster autoscaler itself, it's making a bit of pain for security teams and certainly introduces some risk at some le

[2020-05-12 14:19] JoelSpeed commented on #2020
I've been doing some more testing of this today and have come up with some more results.

Managed to find differences on the following instance types:
- m5.xlarge - Biggest diff around 168Mi
- r5.4xlarge - Biggest diff 16Ki
- t3.large - Biggest diff 16Ki
- m5.16xlarge - Biggest diff around 2688Mi
- m4.2xlarge - Biggest diff 200Ki
- c5.4xlarge - Biggest diff around 224Mi

The large differences have

[2020-05-12 17:18] MaciekPytel commented on #3128
Those come from the base image we use. It is fixed in 1.16+ which migrated to distroless base image. Unfortunately this required significant changes (including to our dependencies) and I don't think we can backport it to 1.15. Also - technically speaking - as per Kubernetes policy [1] 1.15 is no longer officially supported. We're more relaxed about this policy than the rest of k8s and we will be r

[2020-05-12 17:41] Disgruntled commented on #3128
Yeah once 1.15.7 is published I'll put it through the scans again.

And thanks, I am sincerely appreciative for your quick response.

Noted on the  1.15 support. I work for a large enterprise and it takes us more than a moment to increment the k8s version. We'll get upgraded eventually, but if we can tackle this issue immediately it would still be vastly beneficial.

Thank you again

[2020-05-12 20:37] Disgruntled commented on #3128
Actually, I got a little out of my own way and pushed the v1.0.1 base image to ECR for scanning. Only one CVE was remediated , still shows 6 high (was 7 in cluster-autoscaler:v1.15.6).

Thus I would say it is safe to stand down on this issue and at least for my own purposes there's no need to increment the base image and re-release.

Though I would like to really thank you again for your reply. Yo

[2020-05-12 20:37] #3128 closed

[2020-05-13 13:32] #2457 closed

[2020-05-13 14:40] anupash147 commented on #3058
@Jeffwan : any thoughts?

[2020-05-13 16:50] Jeffwan commented on #3058
Do you need manually work here?

I don't quite understand this, you are supposed to have multiple groups right?

Can you explain more details on the real world cases for `query based on memory / cpu and get the most desired instances` Does current expander work for you or not?

[2020-05-13 17:27] carlosjgp commented on #3007
duplicated #3006

[2020-05-13 19:09] dharmab opened #3130 "cluster_autoscaler_last_activity metrics stops updating"
Sometimes, the `cluster_autoscaler_last_activity` metric stops updating even though the cluster autoscaler is still logging activity.

![Screen Shot 2020-05-13 at 1 06 05 PM](https://user-images.githubusercontent.com/4450708/81854239-ddbc1280-951a-11ea-804a-3da3ab6a8110.png)

[2020-05-13 19:12] dharmab commented on #3130
Kubernetes: 1.16.9
Cloud: Azure (haven't seen this on AWS)
CA: 1.16.5

[2020-05-14 05:11] tkbrex commented on #1653
I have the same problem:

[code]

I am running auto scaler version 1.15.6

[2020-05-14 08:42] #2270 closed

[2020-05-14 09:30] afirth opened #3131 "[Regression] Infinite scale-up with statefulsets, gke 1.15 and 1.16 (not 1.14)"
Hello, we are observing a nasty change in behavior of autoscaler.

## Updates
@afirth 2020-05-19
- can reproduce on 1.16 as well
- can reproduce with a statefulset spec with _no_ resource requests or limits
- since Saturday ~2020-05-16T0230Z affects clusters with a single node pools as well, including the default pool, meaning we have no workaround besides completely disabling autoscaling or runni

[2020-05-14 09:40] MaciekPytel commented on #3130
The metric is updated by CA main loop. All the logs on the screen are coming from Azure provider implementation. My guess would be either some provider call has blocked for a really long time or the main goroutine is stuck and some helper gorutine inside provider is logging. Either way it doesn't look like main CA logic is really running.

cc: @feiskyer
/area provider/azure

[2020-05-14 13:02] chmielas opened #3133 "Scale up windows on AWS EKS cluster"
Hi,
I`m using Kubernetes based on EKS 1.15 with windows node group, vpc controller and webhook
and cluster autoscaler
cluster-autoscaler cluster-autoscaler v1.15.6

The problem that I have is similar to https://github.com/kubernetes/autoscaler/issues/2888
When ASG need to be scaled from 0 to 2 instances after couple days of inactivity autoscaler don`t trigger scale up.

The workaround is to set th

[2020-05-14 13:56] alexanderkjeldaas commented on #2054
The [digital ocean](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/digitalocean) autoscaler implementation looks like its less than 500 loc, mostly boilerplate.

[2020-05-14 14:45] MaciekPytel commented on #2054
Yeah, DO is much simpler than all previously existing implementations.
A lot of complexity comes from supporting scale-from-0 and optimizing for very large clusters (thousands of nodes in multiple nodepools), but if you don't care about this and just want basic support, DO is by far the best example to follow.

[2020-05-14 16:22] TwinProduction opened #3134 "CA 1.14: Missing AWS instance types"
CA 1.14.8 is missing several instance types, which master already has.

I'm fine with taking care of it myself, but just to clarify, should I just execute
[code]
and create a PR to merge the newly generated file into the `cluster-autoscaler-release-1.14` branch, or should I look for the last commit that generated the ec2 instance types and create a PR to cherry pick it into `cluster-autoscaler-rel

[2020-05-14 16:23] MaciekPytel commented on #3131
I tried reproducing based on your description, but the issue didn't happen to me. Can you provide more detailed reproduction steps? Alternatively can you create a case with GKE support?

I can't think of any particular change in CA between 1.14 and 1.15 that seems related and without either a reproduction or logs it's impossible to tell what may be happening.

Some general comments:

Your theory t

[2020-05-14 17:45] dharmab opened #3135 "Azure: CA doesn't wait long enough before next refresh when throttled"
CA appears to hardcode a 5 minute refresh interval:

https://github.com/kubernetes/autoscaler/blob/7b7d704f3106d84a9abe474029577e97b3ba3bec/cluster-autoscaler/cloudprovider/azure/azure_scale_set.go#L45-L49

When CA is throttled by the Azure API, it tries again after that hardcoded interval:

https://github.com/kubernetes/autoscaler/blob/7b7d704f3106d84a9abe474029577e97b3ba3bec/cluster-autoscaler/c

[2020-05-14 17:48] dharmab commented on #3135
/area provider/azure

[2020-05-14 19:19] dharmab commented on #3135
@feiskyer: What are your thoughts on inverting `lastSizeRefresh` and `lastRefresh` to be `nextSizeRefresh` and `nextRefresh` instead? On a successful update, they could be extended by the default interval. On a throttle, the throttle response could be logged and the next refresh could be set to some point after the `endTime` in the HTTP 429 response.

[2020-05-14 19:56] hamburgerbun opened #3137 "Azure CA 1.17.2 - problems authenticating with aadClientId+aadClientSecret when passing id+secret as env vars using secret"
Issue:

when using 1.17.2 cluster-autoscaler in azure on a custom k8s cluster not using AKS, where my client id and client secret are set as secrets used in environment like suggested in the README, authorizations with the following message
E0514 19:40:46.228528       1 azure_manager.go:312] Failed to fetch ASGs: cannot autodiscover ASGs: compute.VirtualMachineScaleSetsClient#List: Failure respond

[2020-05-14 20:03] marwanad commented on #3130
@dharmab unregistered node deletions happens synchronously and sometime this takes a long time. so this blocks the main routine.

Right before, the stall do you see any logs along "removing unregistered node"?

[2020-05-14 20:11] marwanad commented on #3130
@MaciekPytel on that note, is there a reason why the `removeOldUnregisteredNodes` doesn't happen asynchronously? Empty node deletions happen in bulk so I'm wondering if unregistered nodes should be treated similarly. Also, the `removedAny` flag to skip the iteration if those are deleted.

[2020-05-14 20:17] marwanad commented on #3137
The service principal you're using doesn't seem to have the appropriate permissions. Try assigning it contributor role over the subscription and restart the CA pod.

[code]

/area provider/azure

[2020-05-14 20:27] hamburgerbun commented on #3137
the app registration in question is Contributor actually, so it does work if i explicitly set the environment variables myself using name:value pairs in the yml; using secrets to set the environment variables seems to be causing a problem for me though, and that's what's suggested in both clusteer-autoscaler azure docs and in the azure quickstart template i linked https://github.com/Azure/azure-qu

[2020-05-14 20:42] marwanad commented on #3137
I'd guess that the the base64 encoded secret might be malformed, extra spaces, etc - how are you encoding those?

[2020-05-14 20:49] hamburgerbun commented on #3137
the script has a big ol EOL section the generates a cluster-autoscale yaml, and this is in it
---
apiVersion: v1
data:
  ClientID: '$(echo $CLIENT_ID | base64)'
  ClientSecret: '$(echo $CLIENT_SECRET | base64)'
  ResourceGroup: '$(echo $RESOURCE_GROUP | base64)'
  SubscriptionID: '$(echo $SUB | base64)'
  TenantID: '$(echo $TENANT | base64)'
  VMType: '$(echo $VMTYPE | base64)'
kind: Secret
metada

[2020-05-14 20:58] marwanad commented on #3137
oh can you try with `echo -n` to make sure its not printing the trailing line character?

[2020-05-14 22:03] hamburgerbun commented on #3137
ok now i added -n to the echos, verified my base64 outputs actually changed so the new-line char does matter, but i still get the error. output from /proc/pid/environ actually matches the "good" case now, no new lines.

i guess it's not the newlines then, hmmm. i now have three versions of the yaml, secrets w/ new lines, secrets w/o newlines, and just direct environment name/value pairs, and only

[2020-05-14 22:50] anupash147 commented on #3058
@Jeffwan : Thanks for taking a look. Right now am using different autoscaling for different memory group but it is turning out to be a nightmare. The possibilities and requests are getting multiplied.

So to give you a real life example is using GPU machines, Some training take 1-4 GPU so i call in a autoscaling group of 4 GPU but only see 1 getting used but since user tolerated it autoscaling giv

[2020-05-15 00:43] Jeffwan commented on #3058
@anupash147

Em.. We do suggest this way, That's the most cost efficient way to use GPU node groups.

Do you mean from one ASG or multiple? One ASG only support Mixed Instance Group but there's no guarantee what nodes comes out, this is a known problem. That's why we alway put instances with same specs (cpu, memory) in one goup. GPU doesn't work well in this case.

If you mean multiple ASGs, I thi

[2020-05-15 08:46] frobware commented on #2020
When I first noticed this, the differences I observed were way, way (way!) smaller than 128KiB. Sometimes just 8Kb. I just scaled this up as a first pass in absence of any hard numbers and also not to dramatically perturb the existing behaviour.

[2020-05-15 08:54] bskiba commented on #3060
There is a PR in review that might fix this.

[2020-05-15 09:09] JoelSpeed commented on #2020
That makes sense! Thanks for chipping in. Do you happen to remember if you ever tested with 5th generation instances?

I've just had an update from an AWS contact who suggested it may be due to having different CPUs supporting various instance types. EG you may get two instances from the same type but one may run a Skylake and the other a Cascade lake. Perhaps there are also subtle difference in m

[2020-05-15 09:28] frobware commented on #2020
My guess at the time was "video memory". And I think I concluded on that for the m4 instance types we were using by looking at the dmesg output. I'm sure BIOS revisions could also play a part here. But dmesg should help show what's what.

[2020-05-15 12:02] MaciekPytel commented on #3130
The expectation is that deleting node from cloudprovider is non-blocking so there shouldn't between doing it sequentially and in parallel. Given that removeOldUnregisteredNodes is error handling logic that isn't expected to happen super often there isn't much incentive to optimize it.
For scale-down empty the throughput is critical as we expect to delete hundreds of empty nodes in rapid succession

[2020-05-15 18:00] hamburgerbun commented on #3137
i'm gonna chalk it up to a messed up copy paste job that had also given me trouble in a different auth bug, i had some unicode chars that i spent hours uncovering with my previous setup, i'm going to assume i dealt with all of that because my secrets seem to work now.

[2020-05-15 18:00] #3137 closed

[2020-05-15 18:09] hamburgerbun commented on #3137
ugh. i guess as a final note, i have it working with secrets in a custom built cluster autoscaler image from the cluster-autoscaler-1.17.2 tag, but i just do an image swap with the us.gcr.io 1.17.2 pre-built and everything falls apart. i don't know what's going on there.

[2020-05-16 08:36] abdennour commented on #3117
Upgrade to autoscaler 7.0.0 namely with the latest EKS (1.16)

[2020-05-16 15:02] afirth commented on #3131
Thanks for looking into this @MaciekPytel

Reproduce with `./repro-1.15-cluster.sh` after cloning https://github.com/afirth/repro-cluster-autoscaler-3131. Sorry about the spaghetti

1. seems doesn't happen if the _same_ statefulset is created and deleted, so PVCs make sense to me too.
1. My favorite finding so far. Breaks the 1.15 control plane (master unreachable, status reconciling, console said

[2020-05-16 17:38] #1996 closed

[2020-05-18 02:44] hieu29791 commented on #3117
I resolved the problem. Problem is I installed kube2iam, so I need to create CA's role and define it in the deployment of the CA.

[2020-05-18 02:44] #3117 closed

[2020-05-18 02:51] feiskyer commented on #2980
@marwanad you're right. The fixes from go-autorest are included since Kubernetes v1.16.x and autoscaler v1.16.x.

@nwohlgemuth are you able to upgrade the cluster to v1.16 or above?

[2020-05-18 12:32] MaciekPytel commented on #3131
I'll try to reproduce sometime this week. Regarding your point #2 - this is expected, GKE resizes master as cluster size changes. You can use regional clusters (which upgrade of masters one-by-one) to avoid control plane going down. I am 100% sure this is the case in both 1.14 and 1.15 (but using a new cluster vs preexisting could make a difference).

[1] https://cloud.google.com/kubernetes-engine

[2020-05-18 15:58] mlushpenko commented on #2967
We have exactly the same issue (I think):

[code]

The only difference, that for the crashing pods, they seem to be started just before the node deletion. Taint is supposedly respected, but not always (based on pods getting crashed sometimes):

[code]

I don't understand how node is skipped for a long time and the next second it is just deleted. Compared with some other nodes and on other nodes I

[2020-05-18 16:06] afirth commented on #3131
As of saturday around 2am UTC we are seeing similar behavior with _one_ node pool. One cluster is pegged at it's limit of 10, up from usual 3-4. Another sitting around 20-23 (limit 30), also up from 3-4. That number correlates pretty well with the number of statefulsets of the same type running, but no pod or node affinity is configured. We did not make any changes at this time. These are clusters

[2020-05-18 19:11] skadem07 commented on #2936
I'm running into the same issue, My autoscaler has those tags, should my nodes (ec2-instances) also should have the tag?

[2020-05-18 19:13] ccampo133 commented on #2936
@skadem07 try assigning them to the nodes, but ensure that the config on the k8s side matches the tags EXACTLY. Ensure the tags on the AWS side don't have any whitespace, etc.

[2020-05-18 19:13] anupash147 commented on #3058
I am satisfied with your answer, just wanted to confirm if my observations and learning are same
seems like there is no better answer as we cannot get mixed cpu / memory instances

[2020-05-18 19:13] #3058 closed

[2020-05-18 19:49] Jeffwan commented on #3058
@anupash147 Thanks for sharing your observations and it's helpful for us to understand your use case. As we don't have control on the instance type ASG bring to us, currently, there's no perfect solution on MixedInstacnePolicy support in one ASG.

Please let us know if you meet other GPU problems and I'd love to help.

[2020-05-20 00:56] #2228 closed

[2020-05-20 10:41] andsens opened #3142 "vpa-recommender: getUrlWithQuery does not account for basePath in prom address"
When passing an arg like `--prometheus-address=http://prometheus-operated.metrics:9090/prometheus` to the recommender, `getUrlWithQuery`:
https://github.com/kubernetes/autoscaler/blob/0255c1152773ecfcc532fe6ca494414351a946df/vertical-pod-autoscaler/pkg/recommender/input/history/prometheus_client.go#L54-L64

Does not take the path component of the original adress into account. I'm not a go expert,

[2020-05-20 14:51] afirth commented on #3131
Update:
Can reproduce on the default pool too (no second pool added) on 1.15 and 1.16 as well, sometimes.

Minimum yaml (must mutate the name each time you create and delete, so that a new volume is bound)
[code]

Observations in limited testing:
1. Without the env vars, which cause the pod to not CrashLoopBackoff, no new nodes are created.
1. Adding a second pool of n1-highmem-8 nodes and removin

[2020-05-20 17:59] n2aws commented on #1070
/remove-lifecycle rotten

[2020-05-20 18:23] mfriedman1-chwy commented on #2783
any updates?

[2020-05-20 18:49] djjayeeta opened #3143 "Statefulset addon resizer support"
Hey, trying to do addon-resizer on a Statefulset pod set and it looks like the use of explicit Statefulset as an option is not available in the addon-resizer option set. Is there a work around present for it? If not, I would like to request that be added as a future feature for the addon-resizer...because it would be cool to scale statefulset pods based on the diverse needs of the various nodes.

[2020-05-20 22:45] tariq1890 opened #3144 "VPA: V1beta2 version no longer existent in k8s <= 1.17 ?"
Hello. I am a maintainer of the `kube-state-metrics` project and it has come to our notice that the `autoscaling/v1beta2` is no longer supported from k8s `1.17.x`.

Can anyone confirm this? There was no deprecation notice for this either. If we were to remove this apiVersion support, shouldn't this have been removed in `k8s.io/api@v.0.17.x` as well?

@kubernetes/autoscaler-admins @kubernetes/api-r

[2020-05-20 22:54] tariq1890 commented on #3144
I don't see any info on this from the release notes either: https://v1-17.docs.kubernetes.io/docs/setup/release/notes/

When I check for the supported apiVersions in the k8s 1.17 server, i get this

[code]

cc @bskiba

[2020-05-20 23:01] liggitt commented on #3144
VPA types are not built into the kubernetes API server and have never been included in k8s.io/api. They are defined as custom resources under the autoscaling.k8s.io API group at various versions and must be installed into a kubernetes API server. See the installation instructions at https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler

[2020-05-20 23:02] liggitt commented on #3144
/close

[2020-05-20 23:02] #3144 closed

[2020-05-20 23:09] tariq1890 commented on #3144
Why close the issue so soon?

There still is no declaration that `v1beta2` is no longer around. At the very least, the [migration doc](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/MIGRATE.md) should mention that we need to migrate out of `v1beta2`.

[2020-05-20 23:13] liggitt commented on #3144
`autoscaling.k8s.io/v1beta2` is still defined in the VPA CRD (see https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/deploy/vpa-beta2-crd.yaml)

[2020-05-20 23:44] jurgenweber opened #3145 "a question about how hard affinity is handled in AWS/CA."
The scenario, this is just a theoretical question. I have not tried to prove it yet.

I have an ASG, LT + MixedInstance types, I have lots of instance types defined so I can tap into many SpotInst pools. A pod comes up to be scheduled and it has a hard affinity to the instance-type=mysuperfuninstancetypeX. The scheduler can not schedule it because there are non available so CA goes and scales one?

[2020-05-21 00:32] BEvgeniyS commented on #2823
Sorry for the delay. Adding `k8s.io/cluster-autoscaler/node-template/label` and `k8s.io/cluster-autoscaler/node-template/taint/dedicated` fixed my issue.

[2020-05-21 03:34] Dingshujie opened #3146 "cluster autoscaler can not build when enable go mod"
i have two questions:
- when enabled go mod, cluster autoscaler build failed, it seems go.mod is faked go mod file
- another question is cluster autoscaler update vendor using kubernetes master, for example, cluster-autoscaler 1.17.2 using github.com:kubernetes/kubernetes.git:master (711790af23a231ade04c6c39d6bc5dcf1a996f73), this commit not contained by any kubernetes release tags. so should we u

[2020-05-21 03:50] lsytj0413 commented on #3146
Please see https://github.com/kubernetes/autoscaler/issues/2858#issuecomment-591372524

[2020-05-21 05:35] APAC-DevOps opened #3147 "cluster-autoscaler helm chart doesn’t work when podAnnotations is specified"
Helm Chart Version: cluster-autoscaler/1.17.1
I tried to add a pod annotations with the helm command as below when creates my cluster-autoscaler, how it fails with error message

#####begin error message#####
**Error: Deployment in version "v1" cannot be handled as a Deployment: v1.Deployment.Spec: v1.DeploymentSpec.Template: v1.PodTemplateSpec.ObjectMeta: v1.ObjectMeta.Annotations: ReadString: ex

[2020-05-21 05:57] Dingshujie commented on #3146
thank you for your reply

[2020-05-21 11:43] MaciekPytel commented on #3145
It's random. CA is designed with the assumption that all nodes in NodeGroup (CA abstraction for ASG) are identical for scheduling purposes. It just picks a random existing node from the group and assumes any new node will look exactly identical. If the pod would be able to schedule on this randomly chosen node, CA will resize nodegroup.
MixedInstance is not supported, though it should work as long

[2020-05-21 13:38] xtroncode commented on #1081
@cabrinoob  Were you able to fix this ?

[2020-05-21 19:07] elmiko opened #3150 "Cluster Autoscaler CAPI provider should support scaling to and from zero nodes"
As a user I would like the ability to have my MachineSets and MachineDeployments scale to and from zero replicas. I should be able to set a minimum size of `0` for a Machine[Set|Deployment] and have the autoscaler take the appropriate actions.

This issue is CAPI provider specific, and will require some modifications to the individual CAPI providers before it could be merged in the autoscaler code

[2020-05-21 19:07] elmiko commented on #3150
/area provider/cluster-api

[2020-05-21 20:16] Jeffwan commented on #2823
/close

[2020-05-21 20:17] #2823 closed

[2020-05-21 20:17] Jeffwan commented on #2823
/assign @Jeffwan

[2020-05-22 23:21] deliahu commented on #3109
@gjtempleton I was wondering if you have plans on addressing this bug in an upcoming release? We are building off of our own fork of the CA for now (which includes https://github.com/kubernetes/autoscaler/pull/3110), but we'd like to switch back to the official images. Thanks!

[2020-05-24 16:59] knight42 opened #3151 "cluster autoscaler may not scale up the cluster if virtual kublet is deployed"
Root cause:

The virtual node created by virtual kubelet usually has a lots of cpu cores and memory bytes, and may exceed the cpu cores limit and memory limit passed to the cluster autoscaler, therefore cluster autoscaler fails to scale up the cluster automatically.

Possible solution:
Exclude the virtual node when calculating total cores and memory of `nodesFromNotAutoscaledGroups` based on label

[2020-05-24 23:32] jurgenweber commented on #3145
Thank you

[2020-05-24 23:32] #3145 closed

[2020-05-25 00:32] resnikb commented on #3147
It looks like you are trying to set an annotation to a boolean value, while it is expecting a string. Try using `--set-string podAnnotations.'cluster-autoscaler.kubernetes.io/safe-to-evict'=false` in your helm command line.

[2020-05-25 01:56] APAC-DevOps commented on #3147
Thank you, @resnikb

you are right. I escaped the double quote around the word \"false\", and it worked.

[2020-05-25 01:56] #3147 closed

[2020-05-25 06:04] frittentheke commented on #1298
/remove-lifecycle stale

[2020-05-25 11:57] marians commented on #3076
This looks like what we encounter in `cn-north-1` with cluster-autoscaler v1.16.5:

[code]

[2020-05-25 13:21] jkbschmid commented on #3068
Any update on this issue? Is a Helm chart or support for any other deploy tool planned or generally desired?

[2020-05-25 20:43] chaitushiva commented on #1653
I have also seen most people are running on replica of CA and forgetting to check the default value for leader-elect=true according to the FAQs
![image](https://user-images.githubusercontent.com/32284393/82842223-b49a6b00-9ea6-11ea-8295-aadfd3fb065d.png)

leader-elect | Start a leader election client and gain leadership before executing the main loop.Enable this when running replicated components

[2020-05-25 21:06] marians commented on #3134
Duplicate of https://github.com/kubernetes/autoscaler/issues/3006 ?

[2020-05-26 00:54] TwinProduction commented on #3134
Good call @marians, I searched for it before I created an issue, but apparently I didn't search hard enough.

[2020-05-26 00:54] #3134 closed

[2020-05-26 08:54] rmgpinto opened #3154 "Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list"
I'm having an issue with `v1.16.5` on EKS `1.16`:
CA output:

[code]

**If I boot up a pod inside the cluster and `curl` that url it works fine.**

If I add `--aws-use-static-instance-list=true`:

[code]

CA info
[code]

[2020-05-26 11:28] #2011 closed

[2020-05-26 11:36] sebastien-prudhomme commented on #3068
@jkbschmid i'm the author of the above chart.

If you look at the cluster-autoscaler Helm chart, it's maintained by the Helm community not the Kubernetes organization.

My feeling is that Kubernetes developpers don't want to take care of application packaging. They just provide raw YAML the same way some open source products just provide source code without DEB or RPM package.

I can understand it

[2020-05-26 12:07] rmgpinto commented on #3154
Apparently the `aws-auth` was changed on our cluster and it caused this.
It's fixed now.

[2020-05-26 12:07] #3154 closed

[2020-05-27 02:37] iamjaekim opened #3158 "kubectl drain suppose to bring up a new instance?"
Hi,

I am using AWS EKS 1.14.9 with helm chart 7.0.0.

I've been trying to do node cycle via `kubectl drain --ignore-daemonset --force ...` for ami update etc.
I was under the impression previously, when I issue the command, autoscaler would detect that it needs a new node, and spin it up using autoscaler and handle the cycling process.

My setup is
3 ASGs in 3 AZ. (one in each) Min 1, Max 5. I kn

[2020-05-27 02:37] iamjaekim commented on #3158
triage/support

[2020-05-27 12:04] roquesao opened #3159 "CA - Disk full is not scaling"
Hi is there anyway to the CA shoot new nodes when a disk is full and EKS is not able to allocate new pods?

[2020-05-27 18:53] seh commented on #3150
How will the autoscaler determine which labels and taints to expect on nodes for its scheduling simulation? I see the taints may be available [in the _kubeadm_ `NodeRegistrationOptions` type](https://github.com/kubernetes-sigs/cluster-api/blob/a8fac5cf90606e530f1ccf2e0129d357f3b16430/bootstrap/kubeadm/types/v1beta2/types.go#L203-L206).

[2020-05-28 07:40] bskiba commented on #3060
#3139 should fix this. Please reopen if you still see issues

[2020-05-28 07:40] bskiba commented on #3060
/close

[2020-05-28 07:40] #3060 closed

[2020-05-28 13:40] elmiko commented on #3150
@seh, if i understand your question correctly this is information is handled through the labels and taints on the MachineSets and MachineDeployments. when these resources are set to a minimum size of 0 and the autoscaler has removed all the Machines and Nodes, the MachineSets and MachineDeployments contain labels and taints which are used during the scale up process. the labels and taints will be

[2020-05-28 14:17] seh commented on #3150
Before asking that question, when I went looking at [the newest `MachineSet` type definition](https://github.com/kubernetes-sigs/cluster-api/blob/e3a4ed7977b6789e03cb9e4d6e5ca201e43a726e/api/v1alpha3/machineset_types.go#L30-L62), I didn't see anything there about taints. Drilling down further into [`MachineSpec`](https://github.com/kubernetes-sigs/cluster-api/blob/e3a4ed7977b6789e03cb9e4d6e5ca201e

[2020-05-28 14:29] skadem07 commented on #2920
@johnjeffers Hi, i'm facing the same issue, can you pls share me your yaml file, I'm not able to figure out where i'm wrong. Thanks!

[2020-05-28 14:33] elmiko commented on #3150
no, i don't think you missed something, i think i may have missed something ;)

i have been working from a branch of the cluster-api code to test this behavior locally and with openshift. to make this work in our branch, we have the Taints persisted through at the MachineSpec level. i think there will need to be some work done in the cluster-api project to expose this functionality, or at least a

[2020-05-28 14:37] seh commented on #3150
For the machine resources, I figured that we'd do something like dive down to figure out the cloud provider and machine/instance type, and then consult the catalogs available elsewhere within the cluster autoscaler. I'm most familiar with AWS, and for that provider there used to be a static (generated) catalog, but now we fetch it dynamically via the AWS API when the program starts. With that cata

[2020-05-28 14:43] elmiko commented on #3150
for the machine/instance resources, the solution i am working from currently is that the individual providers on the CAPI side will populate annotations in the Machine[Set|Deployment] that instruct on the cpu, memory, gpu, etc.

the method i am currently using has lookup tables for each provider (contained within the provider code) to assist in creating the resource requirements. i think having th

[2020-05-28 14:52] seh commented on #3150
Understood. So long as it's all accurate and not too hard to maintain, that sounds fine.

What we ran into with the AWS provider for the autoscaler was that the catalog would fall out of step, which required generating fresh code, releasing a new autoscaler version, and then deploying that new container image version into clusters. AWS was coming out with new instance types often enough that that

[2020-05-28 14:57] elmiko commented on #3150
that's an excellent point about the catalog falling out of step. if i understand the provider implementations though CAPI properly, and i might not ;) , we are using values for cpu, memory, etc, that the individual providers then turn into actual instance information at the provider layer. so, in theory, this could be a call to the actual provider at creation time, eg. "give me an instance that ha

[2020-05-28 19:29] vivekbagade commented on #3121
Ack. I'm investigating this.

[2020-05-28 20:00] spanktar commented on #2045
/remove-lifecycle stale

[2020-05-29 01:41] danielyaa5 opened #3163 "CA doesn't scale down because of metrics-server"
Logs indicate cluster refuses to scale down because of metrics-server, readme suggests not adding a PDB for metrics-server but without a PDB on metrics-server how do I get scale-down working...? Very frustrating

[2020-05-29 02:00] vishalbollu opened #3164 "Unnecessary scale up events during scale up"
The cluster autoscaler performs unnecessary scale up events as nodes start being added to cluster during a scale up.

CA 1.16.5
k8s: 1.16
eksctl: 0.19.0

I started with an EKS cluster with 1 GPU node running. I submitted a deployment of 3 replicas, each replica requiring 1 GPU. 1 pod was scheduled onto the existing node. The cluster autoscaler decided to provision 2 new nodes for the 2 remaining p

[2020-05-29 09:54] MaciekPytel commented on #3164
This is a long-standing known issue. It happens because GPU capacity is only reflected on node object after GPU drivers are installed. In the meantime CA notices the node has no GPU and it thinks the pending pods won't be able to run there.
The fix is to add a 'gpu label' to all the nodes with GPUs. Upon seeing this label CA will assume the GPU will be added later. The label is different for each

[2020-05-29 10:11] MaciekPytel commented on #3163
Restarting metrics-server will break all HPAs in your cluster for a few minutes. There is no way to scale-down a node running MS without causing this disruption.
It's a tradeoff between availability and efficiency - if you're ok with HPA periodically going down you can set PDB for MS. If you're not CA will not be able to scale-down this node. The default settings and recommendations in FAQ strongl

[2020-05-29 10:23] vivekbagade commented on #3121
I tried reproducing this and the scale down wasn't blocked on Succeded pods which makes sense looking at the code at https://github.com/kubernetes/autoscaler/blob/972e30a5d9eece175a54fa5dfc0ed902b34f02b1/cluster-autoscaler/simulator/cluster.go#L253.

We get the allocatable from the node and node allocatable already accounts for Completed pods.

[2020-05-29 10:24] vivekbagade commented on #3121
I'm closing this issue for now. Please feel free to reopen if you have more info or reproduction steps.

[2020-05-29 15:42] vishalbollu commented on #3164
Thanks for the response. I just tested it by adding a "gpu label" and it no longer scales up unnecessarily.

On AWS there are a few GPUs such as the NVIDIA T4 GPUs and NVIDIA Tesla M60 GPUs which are available to use but are not populated in [availableGPUTypes](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.16.5/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go#L41).

[2020-05-29 15:58] mscrivo opened #3167 "Anyway to force vpa to work with rc with only 1 pod"
Trying out VPA in our cluster and it's working great with RC's that have more than 1 replica, but for those that only have one, discovered that it's doing anything. Looking at the logs, it appears these messages explain why:

`1 pods_eviction_restriction.go:209] too few replicas for ReplicationController`

Was wondering if there was a way to override that behaviour and allow it to apply updates wh

[2020-05-29 16:10] danielyaa5 commented on #3163
Thanks for the info, what exactly will break when you scale down a node with metrics-server? Looking at the metrics-server readme, I'm thinking I might not even need it.
[code]

My HPA is autoscaling off pubsub unacked messages

[2020-05-29 16:22] danielyaa5 opened #3168 "Event-exporter pod prevents scale-down, is it safe to evict event-exporter pod?"
Will there be any disruptions when moving the event-exported pod. Even with PDB the event-exporter will not be evicted because it has local storage. Is it safe to add the annotation "cluster-autoscaler.kubernetes.io/safe-to-evict": "true"?

[2020-05-29 16:43] #1125 closed

[2020-05-29 17:31] danielyaa5 commented on #3163
Cool, thanks, I think we can close this issue, I got all the info I needed, but it would be nice if someone added more detail to the readme in the why wont scale down work section.

[2020-05-29 17:31] #3163 closed

[2020-05-29 17:47] cyplenochek opened #3169 "Pod kube-system/kube-proxy-*** has NodeName "ip-AAAA.ec2.internal" but node is not found"
Unnecessary errors in cluster-autoscaler logs
cluster-autoscaler version: k8s.gcr.io/cluster-autoscaler:v1.15.5
env: aws eks
kubernetes version: 1.15
logger.name: predicates.go

Actual behaviour:
1. Autoscaler marks node ip-AAAA.ec2.internal for removal
2. Autoscaler removes node ip-AAAA.ec2.internal
3. Autoscaler writes errors in logs that all daemonsets from the removed node cant be scheduled as

[2020-05-30 15:28] huang-jy opened #3170 "EKS K8s -- Hamster VPA example doesn't update?"
I'm testing the VPA on an EKS cluster running 1.15.

I'm following Amazon's own guide here: https://docs.aws.amazon.com/eks/latest/userguide/vertical-pod-autoscaler.html

I've added the metric-server using

`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.6/components.yaml`

Then checked out the repo and used `./hack/vpa-up.sh` to install the vpa resources

[2020-05-30 16:12] iamjaekim commented on #3158
issue solve. it turned out to be the aws ebs driver that i was using and old storage driver wasn't detecting the changes

[2020-05-30 16:12] #3158 closed

[2020-06-01 16:40] #3101 closed

[2020-06-01 16:41] jvaibhav123 commented on #3101
As CA recommends to match k8s and CA version, we tried this on 1.15 k8s version and it did work

[2020-06-01 18:42] vishalbollu commented on #3164
@MaciekPytel I was wondering if you got a chance to look at my post above. Thanks again.

[2020-06-02 08:37] bskiba commented on #3167
You can modify [minreplicas flag of updater](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/main.go#L44) to 1.
We would be very grateful if you found time to add this to our [FAQ](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/FAQ.md).

[2020-06-02 08:38] bskiba commented on #3167
/close

[2020-06-02 08:38] #3167 closed

[2020-06-02 16:23] mscrivo opened #3174 "VPA 0.8 may not work with Kubernetes 1.11?"
I tried deploying VPA to our cluster using the `vpa-up.sh` script and it completed successfully, but it was not providing any recommendations. Upon closer inspection, the admission controller logs are filled with this:

We're using Kubernetes 1.11.6 and I tried using the 0.6.3 release of VPA and it that one works perfectly fine.

[2020-06-02 17:32] andredurao commented on #2324
Unfortunately I couldn't find a `v1.16.5` version as commented.

BTW If you want to check the tags by yourself, this is what I've did:

[code]

[code]

[2020-06-03 07:31] tomkerkhove opened #3182 "Question - Can we extend Cluster Autoscaler and trigger scaling actions?"
Is there a way where other processes can trigger scaling actions on the Cluster Autoscaler for scenarios that are not covered out-of-the-box?

We are currently checking with [KEDA](https://keda.sh) if we can extend cluster autoscaler to eventually see if they can be proposed to Cluster Autoscaler, but I am checking if we can integrate and trigger the actions from outside the CA.

Relates to https:

[2020-06-03 07:40] #3104 closed

[2020-06-03 09:32] cdlliuy opened #3183 "The `safe-to-evict` annotation prevent worker-nodes scale-down continously"
First of all,  I used `safe-to-evict` annotation to prevent my existing pod be broken by scale down .  But with this annotation,  cluster autoscaler simply jump to evaluate the worker node , and then NEW workloads with `safe-to-evict`  come to that worker node again,  so the worker node can't be removed at all ...

Below is the detail experiments:
=====
First of all,  I added  a LARGE workload to

[2020-06-03 09:37] MaciekPytel commented on #3182
CA model is that it looks at all pods in the cluster and provides enough (and ideally just enough) nodes so they can all schedule. There isn't really any notion of trigger or action. I guess you could think about it as a sort of reconciling controller, where the desired state is the number of nodes needed to schedule all the pods.
I guess you could technically expose CAs cloudprovider integration

[2020-06-03 09:43] MaciekPytel commented on #3183
I think what you describe is WAI - the annotation is preventing scale-down as expected. I don't think it should automatically block scheduling of other pods as soon as one pod with safe-to-evict: false is scheduled - there are plenty of cases where running multiple pods with safe-to-evict: false on a single node is desired.

If you have multiple non-evictable pods with different resource requireme

[2020-06-03 13:13] afirth commented on #3131
Any update on this @MaciekPytel ?

[2020-06-03 14:22] MaciekPytel commented on #3131
@towca I think you reproduced this or similar issue - can you comment?

[2020-06-03 20:18] xmik commented on #2139
This occurred again, e.g. in this file: https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.16.5/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml

[2020-06-04 02:24] cdlliuy commented on #3183
@MaciekPytel  ,  Not `automatically block scheduling` ..
Just block unscheduling if the resource utilization is lower and there are still `safe-to-evict: false` running on it ..

Even to assign the `safe-to-evict: false`  workloads to a separate nodeGroups, then  I think this specific node group can't be scale-down at all  if there is continuously `safe-to-evict: false` going on.

[2020-06-04 05:59] haofeif commented on #2829
Hi @Jeffwan  any plan to fix them in other version (1.16.x -> 1.17.x)?
thanks.

[2020-06-04 08:51] dignajar opened #3194 "AWS Multi-zone cluster and Nodeselector"
Hi, I have a cluster in AWS and the nodes are running in different availability zones, also I have for each AZ and autoscaling-group for the nodes.

I followed the documentation to configure the `autoscaler` but produce an strange behavior, the cluster-autoscaler deletes the current nodes and recreates them in the same AZ and then is not scaling-up more and the pods are in pending.

Let me show yo

[2020-06-04 12:31] lxnch commented on #3130
No, `Info` log line containing`removing unregistered node` is not seen before this behavior.

[2020-06-04 13:22] dharmab commented on #3130
@lxnch and I saw this happen again this morning and captured logs in the 15 minute period leading up to and including the point at which the metric stopped updating.

![Screen Shot 2020-06-04 at 7 18 37 AM](https://user-images.githubusercontent.com/4450708/83761513-a92c0a00-a633-11ea-93ea-2c74de261782.png)

In this screenshot, the `main` and `autoscaling` activities go to zero between 1142 and 114

[2020-06-04 15:43] elmiko opened #3196 "Cluster Autoscaler CAPI provider only supports merged clusters"
The CAPI project defines multiple ways to deploy the controllers and resources that define its behavior. The primary method described in the [quickstart documentation](https://cluster-api.sigs.k8s.io/user/quick-start.html) involves creating a kubernetes management cluster which hosts the CAPI resources, and then using that management cluster to create workload clusters (these are separate kubernet

[2020-06-04 16:41] dharmab commented on #3130
@marwanad Unfortunately it's kind of intermittent, seems to happen at infrequent random times across our fleet of clusters.

[2020-06-05 06:46] soorya79 opened #3199 "Pods are not getting recreated in AUTO mode"
i have created a deployment with VPA mode as "AUTO" im trying to check whether the pods are getting recreated .But its only happening for the first recommendation . Later the pods are not getting recreated even after the recommendation is changing.

[2020-06-05 07:28] bskiba commented on #3199
You can take a look at vpa-updater logs to see why the pods are not getting updated. Can you share what your recommendations is and what requests the pods have? Updater is quite conservative with updating pods, since it requires a restart and not every change of recommendation will cause a recreate.

[2020-06-05 07:40] soorya79 commented on #3199
Okay... i'll attach a screenshot of the updater logs...
<img width="960" alt="VPA" src="https://user-images.githubusercontent.com/40618507/83849889-bc230500-a72d-11ea-879b-8aef84a651e0.PNG">

[2020-06-05 07:43] soorya79 commented on #3199
i was trying out this example which i found online ...https://livewyer.io/blog/2019/06/24/vertical-pod-autoscaling/

And so i'am generating load to the pods ... i'am getting recommendation as the load gets increased but its not evicting the pods inorder to create pods with the new recommendation.

[2020-06-05 07:48] bskiba commented on #3199
The "not updating short-lived pod ... request within recommended range" indicate what is going on.

VPA generates three numbers as part of recommendation: Target, Upper bound and Lower Bound. Target is the actual recommendation. Upper bound and lower bound are sort of indicators of confidence of the recommendation. The more usage samples VPA gathers, the closer upper bound and lower bound will be

[2020-06-05 08:07] soorya79 commented on #3199
but the upper limit seems to be the maximum capacity of my node in which the pod is running ...

[2020-06-05 08:14] bskiba commented on #3199
It might be even bigger. As I said, the upper bound it's going to slowly grow lower towards the target, it might take hours. How old is the pod?

[2020-06-05 08:16] soorya79 commented on #3199
it's just 2 hours...

[2020-06-05 08:29] soorya79 commented on #3199
Can you please tell me how the target value is being created?
So i have created a deployment and ran it for a while the vpa had suggested me the recommendations... i deleted that deployment and recreated it again .

[2020-06-05 08:40] soorya79 commented on #3199
can you please explain how the recommendation target is being generated?
Because , firstly i created a deployment with a vpa ... the pods got reacreated for the first recommendation later the recommendation changed and i had waited for the pods to take up the new recommendation ... as it didnt happen i deleted the deployment along with vpa and deployed both of them again ... the first recommendati

[2020-06-05 12:22] #1842 closed

[2020-06-05 14:34] towca commented on #3131
I actually wasn't able to reproduce this behavior using StatefulSets, but instead I would create a PVC and then after a specific delay add a Pod using this PVC. Using `0.5s` as the delay I managed to reproduce this behavior consistently.

If you're interested in _why_ this is happening, the explanation is below. If not, feel free to skip to the **Workaround** section.

### Technical details
Let's

[2020-06-05 15:20] afirth commented on #3131
Amazing @towca , thank you. We will try this out soon.
Any idea why it doesn't happen on 1.14? Is it just that the scheduler loop was faster? I'm also really curious what [changed on GKE](https://github.com/kubernetes/autoscaler/issues/3131#issuecomment-630282388) at ~2020-05-16T02:00Z, if anything.

[2020-06-05 16:03] voxmaster commented on #3033
Same problem with cluster-autoscaler:**v1.14.6**

[2020-06-06 11:44] #2156 closed

[2020-06-06 15:26] miguescri opened #3204 "CA MAAS provider proposition"
I miss a simple baremetal provider for Cluster Autoscaler and I'm thinking about coding a provider for Canonical's [MAAS](https://maas.io/) to spin up physical servers in your datacenter.

- Would this be interesting enough to be merged and maintained?
- Is there someone interested in providing me mentoring and guidance to build a MVP?
- In order to connect to the MAAS server, I intended to use th

[2020-06-08 07:38] towca commented on #3131
I'm not aware of any changes in this behavior between 1.14 and 1.15, so it's probably a case of timing changing slightly. As for the GKE change of behavior - something might've changed in the way PVs are provisioned, again changing timining slightly? But that's only a guess.

[2020-06-08 11:33] yashbhutwala commented on #2543
/remove-lifecycle rotten

[2020-06-08 14:39] heroku-miraheze opened #3208 "Add vSphere support"
vSphere is not supported in Cluster Autoscaler and i need to use vSphere as a provider to autoscale clusters, with Tanzu Kubernetes Grid.

[2020-06-08 14:52] detiber commented on #3208
@heroku-miraheze you could use the [clusterapi provider](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/clusterapi) for cluster-autoscaler, you will likely need https://github.com/kubernetes/autoscaler/pull/3203 in order to support providing separate kubeconfigs for the management and workload cluster, though.

Happy to help if you run into any issues, I'm cu

[2020-06-09 08:56] dignajar opened #3212 "CA - Shows master nodes when are not tagged"
I noticed in Prometheus metrics `cluster_autoscaler_nodes_count` is equal to the total of nodes of the cluster (masters + workers), looks stupid my assumption but why the CA is aware of the master nodes when I didn't tag them.

I have 3 ASG for master nodes:
[code]

I have 1 ASG for worker nodes which is tagged with the labels `k8s.io/cluster-autoscaler/mysupercluster` and `k8s.io/cluster-autoscal

[2020-06-09 09:12] mattyev87 opened #3213 "Question - add burst capacity"
is it possible to add burst capacity to the autoscaler, or change that scaling sensitivity (similar to how a standard auto scaling rule allows you too target an average CPU%)?

I'd like to over provision the cluster to allow for burst in traffic.
which mean either constantly having a couple of extra nodes in the k8s cluster, or some how leaving a percentage of each node unused.
is either of these

[2020-06-09 09:38] MaciekPytel commented on #3213
We recommend using scheduler priority and preemption feature for this use-case: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler.

The feature was discussed many times in the past, but the conclusion was that it's very hard to define what something like "20% overprovisioning" means in a cluster with many nod

[2020-06-09 09:41] mattyev87 commented on #3213
cheers.
that answers my question 👍

[2020-06-09 09:46] MaciekPytel commented on #3212
Cluster Autoscaler gets all nodes from Kubernetes API. It only autoscales the tagged ASGs, but its logic needs to take into account all nodes.
For example you may have autoscaled and non-autoscaled worker nodes in the cluster. If there is a pending pod CA needs to check if it can be scheduled on existing nodes before triggering scale-up. Maybe a pod can be scheduled on one of existing non-autoscal

[2020-06-09 09:48] #3213 closed

[2020-06-09 10:30] dmitris commented on #2156
/remove-lifecycle stale

[2020-06-09 12:05] dignajar commented on #3212
Who decided to which node goes the pods is the Kubernetes scheduler and not the CA.

The CA is only for scale-down (when the nodes are idle) and scale-up (when the pods don't fits in any of the current nodes).

Or I have the wrong idea about the CA ?

[2020-06-09 12:15] pysiekytel opened #3215 "CA cannot authenticate"
I installed `autoscaler` using latest `helm chart` (https://github.com/helm/charts/tree/master/stable/cluster-autoscaler).

My config looks like:

[code]

Container exits with error:
[code]

I don't have any OpenIDConnect provider configured in AWS. I want to authenticate with IAM role.
How can I achieve this?

[2020-06-09 14:00] MaciekPytel commented on #3212
Correct on what CA does. But the way CA works is by embedding scheduler code and predicting what would scheduler do in a given scenario. It can take scheduler time to schedule pod and in order to avoid races CA checks if a pod is schedulable on some of existing nodes.
And the criteria for scale-down is whether all the pods can be rescheduled on other node in the cluster. Checking that requires ful

[2020-06-09 18:55] caslurjf commented on #2400
I'm getting "ConfigUnsupported" error message. My VPA setting is:

[code]

Some idea in what I'm doing wrong ?

[2020-06-09 19:32] mrichman opened #3216 "Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list"
I'm not sure if my worker node role is missing a permission:

`aws_cloud_provider.go:363] Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list`

I currently have the following applied:

- AmazonEKSWorkerNodePolicy
- AmazonEC2ContainerRegistryReadOnly
- AmazonEKS_CNI_Policy

and this inline policy:

[code]

[2020-06-09 22:55] deliahu commented on #3164
@MaciekPytel I was also wondering the same thing; `k8s.amazonaws.com/accelerator: true` seems to work for all GPU types I tested, but I wanted to confirm that I'm not missing something and that specifying the actual GPU type (instead of `true`) is necessary!

[2020-06-10 01:32] seh commented on #3150
Are there any open CAPI issues about this gap? Do you know if anyone is working on exposing the node taints and labels there? (Perhaps we can already get the labels.)

[2020-06-10 16:53] otterley opened #3217 "AWS Cluster Autoscaler: Multiple options for estimating size of Mixed Instance ASGs"
When encountering an EC2 Auto Scaling Group that contains a Mixed Instances Policy, the AWS controller for Cluster Autoscaler uses the first instance type in the policy for determining the size of the instance that the Auto Scaler will deliver when scaling out. In #2057 it was pointed out that if the estimation is too large, and the actual instance provisioned is smaller in some dimension than the

[2020-06-11 00:41] sozercan opened #3218 "missing release and tag for addon resizer 1.8.10"
release is cut https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/addon-resizer@sha256:0f3211a5a72030291f06d56b3c2bd10a942f54e4752ba6ba710dfafd5d44a9f3/details?tab=info

but

https://github.com/kubernetes/autoscaler/tree/addon-resizer-1.8.10 and https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.10 is missing

[2020-06-11 17:17] tariq1890 opened #3219 "VerticalPodAutoscaler not compatible with k8s 1.18.x libraries"
We are trying to vendor in the latest Kubernetes client-libraries. We are blocked from doing so as we also depend on VPA as a library

[2020-06-11 20:47] xmik commented on #2139
I meant that I tested that particular file and I saw such error:
[code]

After replacing:
[code]
with
[code]
the error was gone.

[2020-06-11 20:47] Jeffwan commented on #2781
/remove-lifecycle stale

[2020-06-11 21:52] Jeffwan commented on #2139
@xmik besides volumeMounts, can you share your volumes as well?

[2020-06-11 22:26] Jeffwan commented on #3076
@marians

Please use this in cn region. https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#use-static-instance-list

Seems pricing API is not available there. We probably can have some improvement on fall back.

[2020-06-12 03:18] mcristina422 commented on #3219
Duplicate of https://github.com/kubernetes/autoscaler/issues/3097
I updated them here https://github.com/kubernetes/autoscaler/pull/3098

[2020-06-12 07:35] marians commented on #3076
@Jeffwan Yep, that's what we are doing.

[2020-06-12 09:01] yangwang888 opened #3220 "CA delete all old nodes on on premise k8s cluster Ignoring autoscaling rules and instance protection"
Hello folks, I used kubeadm on aws to create a k8s 1.15.3 cluster, using CA1.15.3 combined with aws autoscaling for node scaling, I found that no matter how I configure autoscaling for delete node rules, CA will always remove all old Nodes which means that I don't have any nodes available. But I want to set reduced node protection to keep the old nodes. Why does autoscaling delete node rules and n

[2020-06-12 09:25] ari-becker commented on #3217
Prior discussion on documenting alternatives for Mixed Instances ASGs that work well with the autoscaler: https://github.com/kubernetes/autoscaler/issues/2786

[2020-06-12 16:19] otterley commented on #2786
@ari-becker I'd love your feedback on #3198.

[2020-06-12 18:40] xmik commented on #2139
This is the only thing I changed. I deployed AutoScaler on a fresh, test k8s cluster (on AWS). The whole file which worked:
[code]

[2020-06-15 07:39] gjtempleton commented on #3109
Resolved by #3185

[2020-06-15 07:39] #3109 closed

[2020-06-15 08:34] gjtempleton commented on #3216
The code path that currently fails is actually using the AWS Pricing API over HTTP, here (that's on master as you've not mentioned which version of the CA you're using):
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_util.go#L55:1

[2020-06-15 10:01] aermakov-zalando opened #3224 "cluster-autoscaler: vendored scheduler dependency must be updated ASAP"
In https://github.com/kubernetes/kubernetes/pull/89222, the scheduler algorithm was slightly tweaked to consider init containers when calculating how many resources a pod takes on a node. This went into [at least 1.17.6](https://github.com/kubernetes/kubernetes/pull/90414) (which we currently run) and I guess the corresponding 1.18.x/1.19.x versions. CA has the scheduler as a vendored dependency a