[2021-03-03 08:37] bskiba commented on #3917
I'd love to see this for VPA objects, not very keen about checkpoints as they are really meant as an internal object for vpa-recommender with no promises on the contents.

[2021-03-03 10:03] awh opened #3919 "Cloud provider instance-type tags break --balance-similar-node-groups behaviour"
Kubelet cloud providers [add](https://kubernetes.io/docs/reference/labels-annotations-taints/#nodekubernetesioinstance-type) a `node.kubernetes.io/instance-type` label (formerly `beta.kubernetes.io/instance-type`) which, as far as I can tell, is not ignored by the comparator used by the cluster autoscaler to find similar node groups (see [here](https://github.com/kubernetes/autoscaler/blob/19f97f7

[2021-03-03 10:09] Ladicle commented on #3917
@bskiba Thank you for your feedback. Certainly vpa checkpoints shouldn't show much content. How about displaying only the time when the sample was last taken and the age of the resource?

[2021-03-03 10:13] bskiba commented on #3917
That sounds good, thanks!

[2021-03-03 11:21] alx13 commented on #3666
Already hit this issue, I tried to use `topology.kubernetes.io/zone` for a `nodeSelector` on EKS 1.18

If autoscaling group have no instances at the moment and you are deploying a pod with this selector, cluster-autoscaler will not scale ASG from 0, because it's not aware of the new labels.

https://github.com/kubernetes/api/blob/v0.20.4/core/v1/well_known_labels.go#L24

https://github.com/kuberne

[2021-03-03 21:34] unixfox commented on #3150
/remove-lifecycle stale

[2021-03-03 21:54] elmiko commented on #3150
thanks @unixfox , i am still working on a PoC for this. i have made good progress though, hopefully have a demo soon.

[2021-03-04 07:39] indreek commented on #3901
+1

[2021-03-04 14:42] robinbraemer commented on #3731
fixed by #3745

[2021-03-04 14:42] #3731 closed

[2021-03-04 16:46] elmiko commented on #2942
i am still interested in seeing this happen, the work has been slow going.
/remove-lifecycle stale

[2021-03-05 06:59] harshal-shah commented on #3867
I can confirm a similar problem in our setup as well.
We have multiple node groups and we use priority expander with a higher precedence given to spot-instance node groups.
In our case, some spot instances were interrupted and we saw the message

[code]

Autoscaler should have scaled up other ASG's but it just ignored scale up till the 4x16 spot nodes got added back to our cluster

![image](https:

[2021-03-05 11:12] lomluca commented on #3830
I’ve noticed this bug has been fixed in CA v1.20. Is it possible to cherrypick backwards?

[2021-03-05 15:51] Eddman commented on #3571
Closing as https://jfrog.com/center-sunset/

[2021-03-05 15:52] #3571 closed

[2021-03-05 18:01] #3554 closed

[2021-03-06 15:22] #3407 closed

[2021-03-07 17:18] sylr opened #3927 "AWS: use ASG Launch Templates Tags"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

AWS API for creating EKS clusters creates the ASG object for node groups automatically and **does not let us define the tags associated with the ASG objets.**

This means that we can't use Infra as Code tools like terraform to man

[2021-03-07 18:29] sylr commented on #3927
Related to https://github.com/aws/containers-roadmap/issues/608

[2021-03-08 09:07] brtknr opened #3928 "[magnum] Cluster autoscaler breaks when the minimum node count is 0"
**Which component are you using?**:

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**What did you expect to happen?**:

**What happened instead?**:

**How to reproduce it (

[2021-03-08 09:07] brtknr commented on #3928
@tghartland

[2021-03-08 13:06] tghartland commented on #3928
It's disabled here:
https://github.com/kubernetes/autoscaler/blob/31e2b4313ad4ff8a00d329e52c84ca541af982fb/cluster-autoscaler/cloudprovider/magnum/magnum_util.go#L27

Can you try it with this image that has it flipped to true?
[code]

[2021-03-08 18:01] eatwithforks opened #3930 "VPA: admission-controller's memory limit value adjustment is much higher than the pod's memory usage"
I have vpa object's recommend mode turned to "Auto" and my pod's memory usage is ~3-4 gb but my pod's limits set by the admission-controller is 30 gb. Can anyone take a look and see if there's a bug or my configuration is incorrect.

cc @bskiba

`kubectl get pod <my_pod>`

[code]

`kubectl get statefulset <foo> -o yaml`

[code]

VPA
[code]

admission-controller yaml:
[code]

[2021-03-08 18:24] eatwithforks opened #3931 "VPA: option to opt-out of CPU/MEM limit change"
we prefer to set our own cpu and memory limits to have a strict ceiling for each app.
with vpa recommend mode enabled to be auto mode, vpa modifies both the cpu/mem requests and limits.

Is there a way to only let vpa modify the requests? the request values are visible in the vpa object itself but we have no eyes into the values for the limits.

due to the issue filed in https://github.com/kuberne

[2021-03-08 22:25] gjtempleton commented on #3908
Hey, this functionality should already be possible using [custom metrics autoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics).

You'd just need to ensure you were exposing the relevant metric under the custom metrics API, either on a per pod or per object (e.g. load balancer) basis via whichever implementation of the custom metrics API

[2021-03-08 22:29] gjtempleton commented on #3901
Hi there,

What functionality do you think is missing from the chart to prevent you achieving what you want by overriding the default image tag value to a 1.19 release of the cluster autoscaler, e.g. passing a values file with:

[code]

As far as I'm aware there should be nothing preventing you from overriding this to the version you desire.

[2021-03-09 00:36] SatoruItaya commented on #3901
@gjtempleton
Thanks for your response.
I will try the way you taught us on the chart for 1.18.

[2021-03-09 07:56] bskiba commented on #3930
We set limit proportional to request: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#keeping-limit-proportional-to-request

Can you check your deployment settings?

[2021-03-09 07:59] bskiba commented on #3931
You can use [controlledValues] (https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L165) to choose to only modify requests. However, this causes VPA to be unable to scale up your containers above the limit even if your pods need it.

Also, I responded in #3930 how we calculate limits. If the calculated value is incorrect, we'd love

[2021-03-09 07:59] bskiba commented on #3931
/close

[2021-03-09 07:59] #3931 closed

[2021-03-09 10:53] #3899 closed

[2021-03-09 17:14] eatwithforks commented on #3930
Right, I understand the theoretical 2:1 ratio for limits to requests but let's look at the behavior in actual for my pod.

My deployment has:
[code]

VPA request recommendations are:
[code]

My pod after it's been evicted and recreated by the admission-controller has:
[code]

That's not a 2:1 ratio of limits to requests, right?

The full manifest details are in the initial ticket description

[2021-03-09 17:21] bskiba commented on #3930
Apologies, I totally missed that the info was already there.

We are not sticking to 2:1 ratio but rather take the ratio from the deployment.

If the config is
[code]

That is 8:1 ratio, so if target recommendation is ~4Gi, limit will be set to ~32Gi which seems to be aligned.

[2021-03-09 17:25] eatwithforks commented on #3930
ahh i see now. that's good to know! i'll tune the deployment limit/request to be 2:1 ratio

[2021-03-09 17:33] bskiba commented on #3930
/close

[2021-03-09 17:33] #3930 closed

[2021-03-09 18:17] requiem31 opened #3934 "VPA EKS non stop pod restarting and failure to set requests"
VPA version : 0.8
kubernetes:
[code]

followed deployment docs here: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler
there are no error logs in any of the 3 components and they are running.

looking at `kubectl describe vpa`:
[code]

its making the correct recommendation but every ~3 minutes it keeps restarting the example hamster pod and not setting any new requests/l

[2021-03-09 19:29] jmcdonagh opened #3935 "Setting for a minimum aggregate node count across all IGs"
**Which component are you using?**:

Cluster Autoscaler in AWS on a kops cluster

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I would like a minimum aggregate node count across all node IGs. For instance let's say you have 3 IGs with a minimum of 1 node each then for whatever reason one of those node groups can't be filled, then

[2021-03-10 00:06] lawliet89 commented on #3044
/remove-lifecycle stale

[2021-03-10 08:19] bskiba commented on #3934
Have you tried following https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/FAQ.md#vpa-restarts-my-pods-but-does-not-modify-cpu-or-memory-settings ?

Also, istio-proxy is an injected sidecar which might be problematic - if the sidecar is injected after VPA looked at the pod, there is no way VPA can modify the sidecar's requests. The mitigation there is to turn autoscaling

[2021-03-10 11:33] kamilzzz opened #3936 "AKS: scale down behavior (does it delete specific node or just scales down VMSS)"
What is the scale down behaviour of CA?

When there is an unneeded node, does CA issues a request to cloud provider to delete this specific node or it just issues a request to scale down VMSS?

I am having a VMSS spanning 3 availability zones and if it is CA who decides which node should be deleted then there is a higher chance than availability zones will be unbalanced. If CA just issues a reques

[2021-03-10 15:07] requiem31 commented on #3934
hey @bskiba, AWS support has been able to replicate the problem and its an EKS issue. They have elevated the ticket and their internal teams are aware. Im closing the issue for now as I do not think theres anything that can be done from this side. Thank-you

[2021-03-10 15:07] #3934 closed

[2021-03-10 17:43] elmiko commented on #3150
for those following this issue, i have created this PR https://github.com/kubernetes-sigs/cluster-api/pull/4283 based on a proof of concept i am working on.

[2021-03-11 11:02] timoreimann commented on #3556
I'm struggling right now to find the time to work on this feature. If anyone is interested to talk through the design and implement the change, please ping here.

/unassign

[2021-03-11 11:02] #3735 closed

[2021-03-11 12:22] TimJones opened #3938 "Cluster autopscaler chart 9.8.0 not released on helm repo"
**Which component are you using?**: Cluster Autoscaler Chart

**What version of the component are you using?**: 9.8.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f

[2021-03-12 15:34] cablespaghetti commented on #3871
I've also got this issue and as the cluster autoscaler has no knowledge of managed node groups, and the priority expander always works on the name of the node group (in this case autoscaling group name) for all cloud providers, I don't think it's likely to be implemented in the autoscaler itself.

The conclusion I've come to is that I need to write a little application to generate the priority exp

[2021-03-12 19:43] shelby-moore commented on #3871
Just ran in to this as well, I opened an issue on the AWS containers roadmap to be able to set the name or at least the prefix for the name of the underlying ASGs for Managed Node Groups.

https://github.com/aws/containers-roadmap/issues/1304

[2021-03-13 12:38] JESWINKNINAN commented on #3816
@bskiba Can you please share development guide of VPA, I have the non-tested code which requires best approach to test the functionality.

[2021-03-13 18:40] marwanad commented on #3936
CA deletes a particular node because it needs to identify nodes that are "unneeded" based on utilization and attempt to reschedule pods (if needed) to satisfy the scheduler constraints. The recommendation is to use 1 VMSS per zone and enable `--balance-similar-node-groups` via the autoscaler profile.

[2021-03-14 13:29] #3409 closed

[2021-03-15 17:57] #3535 closed

[2021-03-16 02:31] iusergii opened #3943 "Cluster-autoscaler doesn't scale nodes for pods with RuntimeClass."
**Which component are you using?**:
Cluster-autoscaler.

**What version of the component are you using?**:
v.1.19.1, v.1.20.0.

**What environment is this in?**:
Cluster v.1.19.8 is deployed with kops in AWS.

**What did you expect to happen?**:
I want to add ARM64 Instances (instance groups) to my cluster and manage the scheduling/scalling of Pods with RuntimeClass.
[code]
Pods which has this run

[2021-03-16 14:15] shinebayar-g commented on #2936
Is that helm chart specific thing? I don't see that env is mentioned anywhere in [docs](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html#ca-deploy).

Our ec2 instances have correct tags

[code]

Still seeing exact same error.

[code]

[2021-03-16 17:53] carlosjgp commented on #3506
Is there any chance we could grab this list from the local filesystem and in combination with using an `initContainer` or a static `configmap` we could contain the "controller" memory limits closer to the requests?

We have to configure `requests: 96Mi` and `limits: 512Mi`... I bet that list is going to keep growing and eventually crash the PODs :sweat:

[2021-03-16 21:06] gaurav1086 opened #3946 "Documentation for behavior when deployment is unhealthy"
Documentation is unclear what happens if we have a deployment has "not ready" pods. Does it still delete pods ? For example I have a deployment with 3 replicas and 1 is unhealthy. Will it kill another running pod or not ?

[2021-03-16 23:52] #3902 closed

[2021-03-16 23:52] #3917 closed

[2021-03-17 00:16] gjtempleton commented on #3938
Hey, sorry for the delay, this should now be resolved as #3942 has been merged.

[2021-03-17 01:27] ldemailly opened #3947 "Ability to ignore some containers (sidecars) when evaluating if a pod is evictable or not"
Right now if you have a sidecar like istio's (https://github.com/istio/istio/issues/19395) with an EmptyDir and the main service without it; the pod is excluded

A work around is to set the annotation
[code]
but that applies at the whole pod level and one would need to duplicate the logic checking for volumes to decide true/false

Can we instead have an annotation like
[code]
(or maybe a pattern,

[2021-03-17 06:57] VijayRod opened #3948 "[AKS] [cluster-autoscaler] Allow vmTypeAKS for autodiscovery"
**Which component are you using?**: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**: I want to use autodiscovery, for an AKS cluster, as it has more flexibility for scaling.

**Describe the solution you'd like.**: Allow vmTypeAKS for autodiscov

[2021-03-17 07:29] umialpha commented on #3802
Hi, I think I found the root cause. When scaling from 0, aws_cloud_provide will generate nodeinfo from template(not real node). When generating, it forgot to add "node.kubernetes.io/instance-type" to the label. Check the code here [https://github.com/kubernetes/autoscaler/blob/a8ae4070abb4e5b7ac307e267ad769b8bbb3381c/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L396](url)

[2021-03-17 08:22] bskiba commented on #3946
Which autoscaler are we talking about?

[2021-03-17 09:39] dschunack commented on #3802
Hi, yes we have the same feeling that the autoscaler forget the "node.kubernetes.io" labels, but not immediately.
Some minutes after the shutdown of the last node in the ASG it's also working with "node.kubernetes.io" but not after some hours.

[2021-03-17 10:42] dschunack commented on #3802
Hi again,

found some new code lines to support also ARM64 with the stable API tags [#3848](https://github.com/kubernetes/autoscaler/pull/3848/files) and also for [AZURE](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_template.go#L48).

I think the some of the stable APIs are missing in the AWS manager:

[LableArchStable](https://github.com/kubern

[2021-03-17 11:07] nshekhar221 commented on #3835
@MaciekPytel  Can you please confirm if there is a possibility to cherry-pick the fix for v1.18 and v1.19 ?

[2021-03-17 12:57] alfredkrohmer opened #3949 "Node groups get "stuck" during node deletion"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.17.4

Component version: 1.17.4

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b

[2021-03-17 15:04] gaurav1086 commented on #3946
@bskiba vertical pod autoscaler.

[2021-03-17 17:02] marwanad commented on #3948
This is by design. `vmType` AKS is also there for availability set support. If you'd like to use autodiscovery, then you should just use VMSS as the type and set up the necessary tags on the AKS-backing scale sets.

/close

[2021-03-17 17:03] #3948 closed

[2021-03-18 08:58] #3033 closed

[2021-03-18 11:48] cablespaghetti commented on #3871
Built a tool to work around this issue: https://github.com/cablespaghetti/priority-expander-eks-managed-nodegroup-configurer

It's very much an MVP at the moment and could use some more testing/error handling. However it works!

[2021-03-18 11:48] MiguelLucas opened #3953 "Cluster autoscaler creates new instances, but new nodes are not joining the cluster"
**Which component are you using?**:

Cluster-autoscaler

**What version of the component are you using?**:

1.14.8

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153

[2021-03-18 13:33] #3936 closed

[2021-03-18 22:22] RayBB commented on #3766
/remove-lifecycle stale

[2021-03-19 07:20] #3529 closed

[2021-03-19 09:35] Fodoj opened #3955 "Impossible to use AWS managed node groups by name tag"
When AWS EKS creates and ASG for managed node group, it sets a tag in a form "eks:nodegroup", with a value being the name of the node group - this tag would be perfect to use inside autoscaler, because AWS managed node groups don't allow any other kind of tags propagation.

Unfortunately, cluster autoscaler (up till current master branch state) won't work with this tag, due to the way parsing of a

[2021-03-19 10:50] rohith-gittest commented on #2210
Issue Summary:
EKS worker nodes has limitations  for running number of pod based on the instance type. In our case we use instance type-c5.2xlarge which allows 58 pods per instance. If the pods are scheduled more than that number on the same instance, then those pods are getting stuck in ContainerCreating status.
Describing the pods gives us following errors:  " Failed to create pod sandbox: rpc e

[2021-03-19 11:28] MiguelLucas commented on #2936
I'm seeing the exact same error as shinebayar-g, and the tags are set correctly, but can't figure out why this happens

[2021-03-19 11:54] cablespaghetti opened #3956 "Priority Expander sometimes picks all groups as equal"
**Which component are you using?**:
cluster-autoscaler with the Helm Chart

**What version of the component are you using?**:

Component version: v1.19.1

**What k8s version are you using (`kubectl version`)?**: v1.19.6-eks-49a6c0

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.6-eks-

[2021-03-19 12:16] cablespaghetti commented on #3956
I think I have traced this to https://github.com/kubernetes/autoscaler/pull/3308 not being fixed on the 1.19 branch due to https://github.com/kubernetes/autoscaler/pull/3582 being merged to master not the 1.19 branch.

I will raise an additional PR.

[2021-03-19 14:15] DavidDarville opened #3959 "The wrong instance was shut down"
In a setup consisting of cluster-autoscaler v1.18.1 on Kubernetes v1.16.15 running on AWS (not EKS), we have observed shutting down the wrong instance.

Looking at the following log entries:

I0311 06:19:47.138776 1 scale_down.go:790] ip-10-1-83-104.eu-west-1.compute.internal was unneeded for 20.030976721s
I0311 06:19:47.138794 1 scale_down.go:1053] Scale-down: removing empty node ip-10-1-83-104.e

[2021-03-19 18:30] #2947 closed

[2021-03-19 21:51] gaurav1086 opened #3961 "VPA : memory recommedation is lower than the usage"
**Which component are you using?**:
Vertical Pod Scaler

**What version of the component are you using?**:
v0.9.2

Component version:
v0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b339dc52336b55d8ec

[2021-03-20 13:52] cablespaghetti commented on #3956
For anyone reading this. It seems to only be an issue if an ASG/Nodegroup name matches two priorities. From my configuration getting rid of the `.*` works around it if you don't want to compile your own autoscaler.

[2021-03-22 04:51] TBBle commented on #3008
/remove-lifecycle stale

It'd be good to follow through some or all of @bubba's changes into the source, so we can close this ticket out.

[2021-03-22 08:49] VijayRod opened #3963 "[AKS] [cluster-autoscaler] Allow node-group-auto-discovery without hard-coded VMSS name(s)"
**Which component are you using?**: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**: I want to use autodiscovery, for an AKS (VirtualMachineScaleSets-based) cluster, as it has more flexibility for scaling.

**Describe the solution you'd like.**

[2021-03-22 15:45] gaurav1086 opened #3965 "VPA: invalid memory recommedation unit"
**Which component are you using?**:
vertical pod scaler

**What version of the component are you using?**:
v0.9.2

Component version: v0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b339dc52336b55d8ec

[2021-03-22 16:22] hjkatz opened #3966 "[BUG] VPA updater: index out of range durring vpa.applyPodLimitRange()"
**Which component are you using?**: vpa

**What version of the component are you using?**: v0.9.2

**What k8s version are you using (`kubectl version`)?**: 1.17.9

**What environment is this in?**: on-prem

**What did you expect to happen?**: No panic

**What happened instead?**:

[code]

**How to reproduce it (as minimally and precisely as possible)**: unclear, I'll begin looking into it

[2021-03-22 16:25] hjkatz commented on #3966
Line of code where the panic occurs: https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/utils/vpa/capping.go#L397

[2021-03-22 16:27] bskiba commented on #3966
/assign @jbartosik
Joachim, can you take a look?

[2021-03-22 16:31] hjkatz commented on #3966
It feels like a case of the recommendations have X number of containers and the admitted Pod having Y number of containers, therefore there's a mismatch between containers. I think a safe approach would be either double looping through by `Pod.spec.containers` _and_ `resources` at the same time while comparing container names, or some other method to ensure the containers match.

We use a sidecar

[2021-03-22 17:09] marwanad commented on #3963
did you add the appropriate tags on the VMSS?
![image](https://user-images.githubusercontent.com/7871596/112029571-a03ef300-8af6-11eb-83e5-d42165e87e00.png)

[2021-03-22 18:22] cep21 commented on #3241
Super important!
/remove-lifecycle stale

[2021-03-22 22:05] gjtempleton commented on #3953
Hi,

Thanks for raising the issue. The cluster autoscaler is only responsible for scaling the node groups it discovers and manages up and down, it isn't responsible for the behaviour and registration to the cluster of the new nodes it creates. More details on its behaviour on scaling up and down can be found here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-d

[2021-03-22 22:12] gjtempleton commented on #3938
Closing as confirmed as resolved:

[code]

/close

[2021-03-22 22:12] #3938 closed

[2021-03-22 22:25] ellistarn commented on #3592
It appears there are multiple symptoms here.
1. OOMKill
2. CrashLoop `NoCredentialProviders: no valid providers in chain.`

My guess is that (1) is a spurious error, it's difficult to tell. @hans72118, can you follow up with your memory settings? I'll take a look at how IMDSv2 works and what the path forward is here to make sure CAS can use these tokens.

[2021-03-22 22:31] ellistarn commented on #3592
It looks like there's some custom imds logic here https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_util.go#L77. It's not clear why we don't rely on https://docs.aws.amazon.com/sdk-for-go/api/aws/ec2metadata/#EC2Metadata.GetMetadata

[2021-03-22 22:35] ellistarn commented on #3592
It should be possible to skip this logic by using `--aws-use-static-instance-list=true` https://github.com/kubernetes/autoscaler/blob/43ab0309697271e6b2ad82dd4fc3a28132456399/cluster-autoscaler/main.go#L175.

@focaaby, it's not clear from your logs or describe pods that this wasn't working for you. Looks like the CA started up normally and populated all listers/watchers?

[2021-03-22 22:36] psoares commented on #3735
I'm not sure this is due to a misleading log. Actually, in EKS (at least in v1.15, the logs are like this:
[code]

The reason is that when creating a node group, no matter what its name is, the corresponding autoscaling group is always "eks-" followed by some random id. Obviously, this never matches the regex configured in the autoscaler node priorities. Can we reopen this if my assessment makes s

[2021-03-23 03:21] umialpha commented on #3735
Hi @psoares , could you confirm the version? thanks.

[2021-03-23 05:29] crechandan commented on #3891
Hello

Is there any solution for this error.

Can someone guide me - how to use --aws-use-static-instance-list flag if I am deploying Cluster Autoscaler 1.20 via helm chart https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler/9.9.0

BR,
Chandan

[2021-03-23 06:13] MyannaHarris opened #3967 "Circumvent 50 tag ASG limit for EKS ManagedNodegroups"
This feature request is for the proposal to have the Cluster Autoscaler AWS cloud provider call the AWS EKS DescribeNodegroup API to get information like labels and taints for an EKS ManagedNodegroup. More information in the proposal.

[2021-03-23 06:24] #3967 closed

[2021-03-23 06:25] MyannaHarris commented on #3967
Looks like this isn't needed for this repo.

[2021-03-23 07:13] VijayRod commented on #3963
Below command in [cluster-autoscaler-vmss.yaml](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss.yaml):

[code]

Added below using Tags in VMSS resource menu. Now _node-group-auto-discovery scales as expected i.e. without nodes parameter_.

[code]

[2021-03-23 07:13] #3963 closed

[2021-03-23 14:50] Vitorspk opened #3970 "Daemonset annotation cluster-autoscaler.kubernetes.io/safe-to-evict = true"
Hello,

- I have a doubt referent to the annotation: ` "cluster-autoscaler.kubernetes.io/safe-to-evict": "true"`

- I have a node with 3 pods and one of them is sidecar and this pod has the annotation configured in the daemonset:

[code]

- Pods are from the kube-system but I spent the annotation to ignore the kube-system in the autoscaler according to the documentation:

[code]

- I don't have an

[2021-03-23 15:27] psoares commented on #3735
Here are the versions I use:
# kubectl
[code]
# Cluster Autoscaler
image: `k8s.gcr.io/autoscaling/cluster-autoscaler:v1.15.7`

[2021-03-23 17:22] jbartosik commented on #3732
/remove-lifecycle stale

I want to work on this

[2021-03-23 17:22] jbartosik commented on #3732
/assign @jbartosik

[2021-03-23 21:56] joe-carpenter commented on #3372
i am also seeing this in `af-south-1`, and can confirm that the flag: `--aws-use-static-instance-list=true` gets autoscaler to start, but seems the static instance list is pretty old..

[code]

[2021-03-24 16:54] dschunack commented on #3133
/reopen

[2021-03-24 16:55] dschunack commented on #3133
Problem still exist, please reopen the issue

[2021-03-24 17:51] jaimehrubiks commented on #3133
I commented in June and can confirm that when you scale down to zero, and wait some time (not sure how much time), then it stops working again. Only solution is either setting the min to 1 or scaling manually from zero every time

[2021-03-24 18:34] dschunack commented on #3133
This is not really a solution, but I think a solution could be to add the stable APIs as described in my other issues #3802 here.
The new stable APIs are missing in the aws manager.

[2021-03-25 00:33] #3092 closed

[2021-03-25 08:43] gjtempleton commented on #3638
Resolved and [available on artifact hub](https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler), with the [previous chart naming deprecated](https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler-chart).

/close

[2021-03-25 08:43] #3638 closed

[2021-03-25 12:28] fkorotkov commented on #1869
A few additions to @jayantjain93's comment ^^ for future researchers.

Here is the [corresponding GKE release notes](https://cloud.google.com/kubernetes-engine/docs/release-notes#February_05_2021) which states:

The SSD part is a bummer for us since we started using it for our CI cluster which can scale to 0 on the weekends. It gave quite a performance boost!

[2021-03-25 15:31] mohamedalsherif commented on #1270
Is there any work around? Is autoscaler usable in azure currently?

[2021-03-25 17:56] rdubya16 opened #3975 "VPA not producing reasonable recommendations on memory for Cronjobs"
**Which component are you using?**: VPA Recommender
**What version of the component are you using?**: 0.8.1
**What k8s version are you using (`kubectl version`)?**:

➜  vpa kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T18:43:01Z", GoVersion:"go1.15.2", Compi

[2021-03-26 05:47] umialpha commented on #3735
Hi @psoares, maybe your eks version is outdated, could you please update your eks?

[2021-03-26 16:56] chmielas commented on #3133
/reopen

[2021-03-26 16:57] chmielas commented on #3133
@dschunack issue has been reopened

[2021-03-26 21:17] #3502 closed

[2021-03-26 21:17] #3647 closed

[2021-03-29 03:26] umialpha commented on #3966
Hi @hjkatz, could you show the pod spec into in detail? e.g, `kubectl get pod XXX -o yaml`

[2021-03-29 10:16] sohrabkhan opened #3978 "Cluster Autoscaler on EKS during scale-down ignores pod annotation & node annotations"
**Which component are you using?**:
I'm using Cluster Autoscaler on EKS with 2 managed nodegroups. One per Az

Cluster Autoscaler

**What version of the component are you using?**:
v1.18.3
v1.19.2

Component version: 1.18.3

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Environment 1 (Non-prod)
C

[2021-03-29 11:01] TBBle commented on #3230
Good news. Per https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/729#issuecomment-809054212, the AWS EBS CSI driver 0.10 release will include changes that fix this use-case, along with the use of `--balancing-ignore-label=topology.ebs.csi.aws.com/zone`.

Basically, the CSI driver will prefer the well-known zone label to the above specific label, and ensure both are applied identically i

[2021-03-29 14:31] hjkatz commented on #3966
@umialpha Which Pod spec are you interested in? We were unable to determine precisely which Pod or workload was causing the `vpa-updater` to crash (we have some ~4000 Pods in our cluster). I turned up the debugging level to `--v=10` sometime last week, but since then we haven't seen the `vpa-updater` Pod crash again... so we haven't gotten any new information. Perhaps you would have ideas about wh

[2021-03-29 21:28] #3490 closed

[2021-03-30 06:58] mborsz opened #3979 "Addon-resizer uses 'etcd_object_counts' metric which is deprecated starting from k8s 1.22"
**Which component are you using?**:
addon-resizer

**What version of the component are you using?**:
1.8.12

Component version:

**What k8s version are you using (`kubectl version`)?**:

1.22
**What environment is this in?**:
all

**What did you expect to happen?**:

addon-resizer uses a metric that exists.

**What happened instead?**:

addon-resizer uses a metric that is no longer available:
http

[2021-03-30 08:02] vincent-pli opened #3980 "How VPA select pod for recreate"
In `auto` mode, vpa will evict/recreate pod, and it required at least 2 replicas, seems it will recreate pod one by one.
My question is how vpa select the pod as the first one to recreate, random?

[2021-03-30 09:33] bcbrockway opened #3981 "Priority Expander not respecting .* in the ConfigMap"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.19.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.9", GitCommit:"9dd794e454ac32d97cde41ae10be801ae98f75df", GitTree

[2021-03-30 10:12] dschunack commented on #3802
Hi,

Some PRs added to integrate stable API and this is very nice, thanks.
Is it possible to add also the LabelArchStable and LabelOSStable for the aws_manager?
This is missing at the moment for the aws_manager.

[2021-03-30 10:41] #3507 closed

[2021-03-30 13:00] QuentinBisson opened #3982 "Use flag to override vpa updater namespace"
**Which component are you using?**:

Vertical pod autoscaler

**Describe the solution you'd like.**:

Right now, only the namespace for the updater is using the env variables why all the others are not. Using a flag would be better

[2021-03-30 20:13] shysank commented on #3870
/assign

[2021-03-30 20:30] adziura-ledger commented on #3735
@umialpha
"The reason is that when creating a node group, no matter what its name is, the corresponding autoscaling group is always "eks-" followed by some random id. Obviously, this never matches the regex configured in the autoscaler node priorities. "
It sounds reasonable and I have the same issue

[2021-03-30 20:31] andridzi commented on #3735
@umialpha
"The reason is that when creating a node group, no matter what its name is, the corresponding autoscaling group is always "eks-" followed by some random id. Obviously, this never matches the regex configured in the autoscaler node priorities. "
It sounds reasonable and I have the same issue

[2021-03-31 01:45] vincent-pli commented on #3980
Get the answer, seems

https://github.com/kubernetes/autoscaler/blob/6dcda9d580fe011cf963cf9194ed60cb123b2dad/vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go#L212-L223

[2021-03-31 15:59] MadhavJivrajani commented on #3142
Hey @andsens!

According to the docs for `net/url`, the [`URL`](https://golang.org/pkg/net/url/#URL) type has an attribute `Path`. When a call to `Query()` is made, the `RawPath` of the parsed `url` (which contains the original address as well) is [used](https://golang.org/src/net/url/url.go?s=31036:31064#L1099) internally.

This might help further: https://play.golang.org/p/MtBl4PP8sQV

[2021-03-31 16:29] 0x0badc0de opened #3984 "emptyDir/Memory volume shouldn't prevent pod from eviction"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: Cannot find out. It's on GKE 1.18.15-gke.1501

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitC

[2021-03-31 19:34] #3970 closed

[2021-03-31 22:06] andreaspoldi commented on #3780
Same issue on EKS 1.18 and CA 1.18.1 via helm, I also had a restart on cluster-autoscaler-controller pod

[2021-04-01 17:33] #3659 closed

[2021-04-01 19:10] adamnovak commented on #1869
I managed to trigger something like this on AWS with Cluster Autoscaler 1.19: cluster sitting with no instances in an AWS ASG that ought to have enough ephemeral storage, scaler complaining that there wouldn't be enough ephemeral storage. When I restarted the autoscaler, it would go through and create one of each node that ought to fit my pod, before tearing them down again, because the pod didn't

[2021-04-01 21:42] wcurry opened #3985 "Tainting node using ignored taint causes node groups to become unhealthy"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.18.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

v1.18.16

**What environment is this in?**:

AWS

**What did you expect to happen?**:

We taint all of our nodes with `recycle=True:NoSchedule`. A node recycling service proceeds to drain these nodes and t

[2021-04-01 22:07] wcurry commented on #3985
Tainting just one node earlier in the day didn't reproduce the unhealthy state. We may try progressively larger sets of tainted nodes to see where it breaks down.

[2021-04-02 08:39] MaciekPytel commented on #3985
This is actually expected, unfortunately `--ignore-taint` isn't really doing what the name implies. The _only_ use-case supported by ignore-taint is one where a node requires additional custom initialization (ex. installing drivers, starting some DS) before it can accept pods. In this case node can be started with ignore-taint and the taint can be removed once the initialization is done.

As long

[2021-04-02 13:22] 0x0badc0de opened #3986 "VPA configuration to evict pods"
**Which component are you using?**: vertical pod autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

At the moment VPA can assign resources for pods during start up only. And it doesn't restart pods with single replica. There is a configuration option `--min-replicas` but it's not always available (e.g. on GKE). It would be n

[2021-04-02 16:56] #3634 closed

[2021-04-03 01:04] #3574 closed

[2021-04-03 11:14] #3276 closed

[2021-04-04 11:38] #2556 closed

[2021-04-05 07:22] jayantjain93 commented on #1869
There are talks to make an effort of supporting scale from 0 with local SSDs for GCE, however there is no confirmation on it.
@fkorotkov I'll update this thread, if we do end up making the effort.

[2021-04-05 16:04] wcurry commented on #3985
Thank you for the clarification. Are you aware of any workarounds for this pattern of node recycling? Immediately I was thinking of setting the `--ok-total-unready-count` to somewhere around 30 and batching the recycling taint on the oldest ~24 nodes (less to avoid zone imbalances marking a group offline).

[2021-04-05 21:29] rtheis commented on #3567
/remove-lifecycle stale

[2021-04-06 05:19] ThaSami commented on #2552
it would be great to see this as I am building a machine learning model on top of VPA...

[2021-04-06 12:24] prashanth26 opened #3987 "Custer autoscaler removed node with pod that couldn't be scheduled elsewhere"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
We are using a forked version of cluster autoscaler in the [gardener project here](https://github.com/gardener/autoscaler/tree/machine-controller-manager-provider/cluster-autoscaler). Although we have forked and customized a new cloud provider - gardener/MCM, the core logic for cluster autosca

[2021-04-06 14:23] diranged opened #3988 "VPA against Prometheus with TLS in front of it?"
**Which component are you using?**:

Vertical Pod Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

We operate all of our services with TLS in front of them - even Prometheus. It seems though that it is not possible to configure the VPA to connect and trust the TLS certificate for the prometheus service. We should be able t

[2021-04-06 17:44] cboyle-vmware commented on #3891
Hit this issue and tracked it down to the pod not having enough resources. We had memory request and limit set to 300m, bumped up 500m and the pods were able to process the instance type list.

Adding `--aws-use-static-instance-list` also worked without increasing pod resources.

[2021-04-06 19:15] tomkerkhove opened #3991 "Provide new/old count for ScaleDown event"
**Which component are you using?**:
cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Have a consistent experience for `ScaleDown` to include new/old node count, following `ScaledUp` based on https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-events-are-emitted-by-ca

**Describe the

[2021-04-06 19:24] brtknr commented on #3928
Yes it works thanks, would you like to propose this change?

[2021-04-07 02:34] mohanrao opened #3992 "AWS private cluster without internet gateway loop of restart"
**Which component are you using?**:
autoscaling/cluster-autoscaler

**What version of the component are you using?**:

Component version:
v1.19.1
**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e8

[2021-04-07 04:40] #3674 closed

[2021-04-07 10:20] ghost opened #3993 "Intel RSD integration"
Greetings, I was going through this suse caas integration [whitepaper ](https://www.intel.com/content/dam/www/public/us/en/documents/guides/dynamic-container-scaling-guide.pdf) and was wondering if kubernetes cluster autoscaler has any plans to support Intel RSD in future or if anything like this is in pipeline ? I couldn't find any mention of this either in the "supported platforms" or the "issue

[2021-04-07 22:40] danielyaa5 commented on #966
Not sure why this is closed, I guess google doesn't prioritize features that save people money

[2021-04-08 02:31] chaitushiva commented on #3780
Thank you for the tip

[2021-04-08 02:38] alexmnyc opened #3996 "CA does not scale up on EKS 1.19 with Helm chart 1.19.1"
Running `kubectl create deployment nginx-1 --image=nginx  -o yaml --replicas 100` yields no auto-scaling action, it just keeps printing "No schedulable pods"

[code]

[code]

[code]

Service account is wired correctly with OIDC on EKS

[code]

[2021-04-08 03:55] sonowz commented on #3916
I second this

[2021-04-08 12:22] MaciekPytel commented on #3916
For anyone looking to implement this - I think it could probably be implemented fairly easily as a NodeGroupSetProcessor (one that rate limits scale-up rather than just splitting it across zones).

[2021-04-08 17:41] MiguelLucas commented on #3953
Thanks for answering!

We eventually followed that solution you described, and things seem to work for now.

Cheers!

[2021-04-08 19:44] dharmab opened #4001 "Provide observability for unregistered nodes"
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

The metric `cluster_autoscaler_nodes_count` can be used to track if VMs created by the Cluster Autoscaler are not joining the clusters as Nodes in a timely manner. However, the metric and logs only report the number of unregistere

[2021-04-08 22:04] chaitushiva opened #4002 "Observed that node.kubernetes.io/instance-type is not respected while scaling from 0"
**Which component are you using?**: v1.19.1 on EKS 1.19.1

cluster-autoscaler
**What version of the component are you using?**: v1.19.1

Component version: v1.19.1

**What k8s version are you using (`kubectl version`)?**: N/A

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: Production

**What did you ex

[2021-04-08 22:23] chaitushiva commented on #4002
Also though the scaling triggered by updating the nodeselector to beta.kubernetes.io/instance-type: r4.8xlarge, we still see the below message from the CA

Pod busybox-deployment-6dfd578f5d-mkg7b can't be scheduled on xxxxxxxxxxxxxx-r4.8xlarge-verified-insect20210408043840503400000008, predicate checking error: node(s) didn't match node selector; predicateName=NodeAffinity; reasons: node(s) didn't

[2021-04-08 22:44] gjtempleton commented on #3953
Glad to hear it!

/close

[2021-04-08 22:45] #3953 closed

[2021-04-08 22:55] chaitushiva commented on #4002
Please find the fix [https://github.com/kubernetes/autoscaler/pull/3977/files](url) .

Yet to be tested

[2021-04-09 02:05] monaka commented on #3795
same here. AKS. recently enabled managed AAD.

[code]

[2021-04-09 15:38] djsly commented on #3835
Also got it by this on 1.18, would love to see this cherry picked to at least 1.19!

[2021-04-09 18:24] #3985 closed

[2021-04-09 18:30] mariadb-JeffBachtel opened #4005 "AWS ASG warm pool support"
**Which component are you using?**: cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**: Scaling up AWS EC2 instances can take some time, with ASG operations

**Describe the solution you'd like.**: I'd like cluster-autoscaler to be aware of AWS warm pools, a new feature briefly described in https://aws.amazon.com/about-

[2021-04-09 23:22] gaurav1086 opened #4006 "Vertical pod autoScaler: doesn't update the pod's request memory values despite having a different recommendation"
**Which component are you using?**:
Vertical pod auto-scaler

**What version of the component are you using?**:
latest

latest

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b339dc52336b

[2021-04-11 13:13] tomkerkhove opened #4007 "Provide new/old count for ScaledUpGroup event"
**Which component are you using?**:
cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Have a consistent experience for `ScaleDown` to include new/old node count, following `ScaledUp` based on https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-events-are-emitted-by-ca

**Describe the

[2021-04-11 14:16] gris-gris opened #4008 "Cloudprovider Hetzner firewall feature"
**Which component are you using?**:

cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

cluster-autoscaler for Hetzner currently doesn't provide firewall support for node-pools.

**Describe the solution you'd like.**:

cluster-autoscaler for Hetzner cloudprovider should have environment variable with Firewall ID, tha

[2021-04-12 07:44] Snehil03 commented on #2345
Hello,
I am again facing issue with liveness probe while using image k8s.gcr.io/autoscaling/cluster-autoscaler:v1.16.7
Thanks for checking it again ,

Events:
  Type     Reason     Age                   From               Message
  ----     ------     ----                  ----               -------
  Normal   Scheduled  22m                   default-scheduler  Successfully assigned aws/cluster-au

[2021-04-12 13:12] alexmnyc commented on #4002
I have a similar problem where I manually label my ASG's nodes with "instance-type: m5.large" and when scheduling pods with nodeSelector: instance-type: m5.large" i get that message "node(s) didn't match node selector"

[2021-04-12 13:19] alexmnyc opened #4010 "CA fails to schedule nodes onto spot ASG's with zero instances producing "node(s) didn't match node selector" on EKS"
My nodes:
[code]
My ASG of instance=m5.xlarge
[code]
Scheduling this deployment:
[code]

CA logs:

[code]

Related to https://github.com/kubernetes/autoscaler/issues/4002 ?

[2021-04-12 16:45] ErwinSteffens commented on #2054
Hi there, is this something the should work at the moment? We are trying it out but without any luck yet.

Running the master version on a 1.20 cluster results in this error. I will check what was changed there. Is it possible to get a 1.20 compatible version somehow? I see it is not in the 1.20 release branch.

[code]

[2021-04-13 12:21] trunet commented on #3996
Not sure if related, but --cluster-name is not being set when cloudprovider is AWS.

Looks like there's a bug on this if clause:
https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler/templates/deployment.yaml#L65-L72

[2021-04-13 23:36] kakarotbyte commented on #3830
@lomluca
Yes! it has beed resolved in latest images. Thank you for confirming.

 [endpoints/defaults.go. ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go#L19)

[2021-04-13 23:36] #3830 closed

[2021-04-14 10:22] ivishalvarshney opened #4013 "How to use this library in python"
Hello Team,
Please let us know the way to use this library in python, so that we can integrate it in our project.
Like we have [kubernetes-client](https://github.com/kubernetes-client/python/tree/master/kubernetes) library, which provide many functions or REST API's to use kubernetes capabilities in our applications.

[2021-04-14 13:56] #3870 closed

[2021-04-14 14:20] sslavic commented on #2184
Thanks both! Just small correction, for any by-passer, valid annotation value is a quoted string i.e. `"cluster-autoscaler.kubernetes.io/safe-to-evict": "true"` (see related [docs](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node))

[2021-04-15 01:31] obenziane2 commented on #2936
Sucks! No one knows how to fix this.

[2021-04-15 12:46] noBlubb opened #4016 "Restart-free update of pod requests"
Hey everyone,

as I gather the VPA currently cannot update pods without recreating them:

and neither can the GKE vertical scaler:

Unfortunately, I was unable to learn the specific limitation from this (other than the mere absence of any such feature?) nor timeline for this to appear in VPA or how to contribute on this if possible. Could you please outline what is missing in VPA for this to be im

[2021-04-15 13:46] shinebayar-g commented on #2936
To future readers here are some tips if you're on AWS. I'm using [cluster-autoscaler-autodiscover.yaml](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml) template.

1. Make sure your IAM role has correct permissions.
2. Make sure your EC2 **AutoScalingGroup** has necessary tags like `k8s.io/cluster-autoscaler/en

[2021-04-16 15:31] #3703 closed

[2021-04-16 16:50] gjtempleton commented on #4001
Hey, thanks for raising this as a feature request!

I'd be worried about adding metrics with node names/identities as labels given the potential for high cardinality in large clusters. To me using logs seems like the sensible way to go instead to provide this functionality.

You're welcome to raise a PR adding this functionality if you want to.

[2021-04-16 18:44] unixfox commented on #3569
/remove-lifecycle stal

[2021-04-17 08:12] bcouetil commented on #3322
@seeruk can you share the exact process please ? thanks ! 🙏

[2021-04-17 12:39] #3705 closed

[2021-04-17 18:49] seeruk commented on #3322
Aah this was a good while ago now I'm afraid haha. It wasn't too dissimilar to how it worked on GCE, but it didn't work out well for us in the end, we had quite a few weird issues caused by it. In the end I did make a mutating admission controller that basically flips the default of "nothing is safe to evict" to "everything is safe to evict" unless otherwise specified. This solutions has been work

[2021-04-17 19:05] bcouetil commented on #3322
Thank you for your quick response.

Understood. So for now I will set every deployment's pod templates of kube-system to safe-to-evict :

[code]

[2021-04-19 08:10] bpineau commented on #4010
Hi,
Is cluster-autoscaler launched with `--scale-up-from-zero`?
Does the ASG have a matching label (ie. `k8s.io/cluster-autoscaler/node-template/label/instance: m5a.large` (per pod's nodeSelector, or `m5.xlarge` per kubelet args above))?

[2021-04-19 15:09] Snehil03 commented on #3215
enable_irsa=true will create OIDC connect for you.

[2021-04-20 06:15] mtb-xt commented on #2503
/remove-lifecycle stale

[2021-04-20 13:33] yashwanthkalva commented on #3949
+1

It is now a recurring issue. Looking for a resolution.

[2021-04-20 15:07] AndyMender opened #4021 "Autoscaler removes nodes not marked for deletion"
**Which component are you using?**:
The Cluster Autoscaler image `k8s.gcr.io/autoscaling/cluster-autoscaler:v1.17.3` in a AWS Kubernetes cluster (EKS) with 2 node groups:
- a maintenance group with regular CPU nodes (instance type: `t3.small`)
- a workload group with GPU nodes (instance type: `p3.2xlarge`), scalable to/from 0 nodes

The Autoscaler deployment is the same as provided in this reposit

[2021-04-20 15:24] dignajar commented on #3869
Hello, anyone found a workaround?

[2021-04-21 14:05] alexmnyc commented on #4010
@bpineau I tried adding these labels to the ASG yesterday as you mentioned,  and to the kubelet extra args --node-labels i.e. "--node-labels=node.kubernetes.io/lifecycle=spot,group-name=spot,instance=m5a.large"

![image](https://user-images.githubusercontent.com/1847565/115565091-13b75a00-a287-11eb-8447-d7b94b3e1eda.png)

I did a deployment with both selectors and still the same results

[code]

[2021-04-21 14:12] alexmnyc commented on #3802
I had an issue with zero instance ASG's and nodeselector not targeting correct node labels https://github.com/kubernetes/autoscaler/issues/4010 also on EKS

[2021-04-21 15:34] alexmnyc commented on #4010
I0421 15:32:06.329470       1 flags.go:52] FLAG: --add-dir-header="false"
I0421 15:32:06.329537       1 flags.go:52] FLAG: --address=":8085"
I0421 15:32:06.329545       1 flags.go:52] FLAG: --alsologtostderr="false"
I0421 15:32:06.329550       1 flags.go:52] FLAG: --aws-use-static-instance-list="false"
I0421 15:32:06.329561       1 flags.go:52] FLAG: --balance-similar-node-groups="true"
I0421 15:3

[2021-04-21 16:51] zvazquez opened #4024 "Autoscaling based on memory utilization"
Which component are you using?**:
cluster-autoscaler

What version of the component are you using?**:
cluster-autoscaler:v1.17.3

What version of the relevant component are you using? Either the image tag or helm chart version.
k8s.gcr.io/autoscaling/cluster-autoscaler:v1.17.3

What k8s version are you using (`kubectl version`)?**:

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v

[2021-04-21 18:22] frittentheke commented on #1317
/remove-lifecycle stale

[2021-04-21 20:29] gavinvandermerwe opened #4025 "Tagging annotation for AWS autoscaler ASG's"
**Which component are you using?**:

AWS Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I am looking into creating "disposable" EKS kubernete's environments in AWS. I use terraform for as much as I can but I find that ASG's are created using this. It would be super useful if I could propogate tags via annotations on thes

[2021-04-21 21:36] bpineau commented on #4010
The `k8s.io/cluster-autoscaler/node-template/label/instance: m5a.large` is an ASG label telling the autoscaler this ASG will provide nodes labeled `instance: m5a.large` and therefore can provide nodes able to satisfy a `nodeSelector: instance:...` constraint asked by your pods (but do not place the `k8s.io/...` in nodeSelector, that's meant for the ASG).
More details in https://github.com/kubernet

[2021-04-22 02:32] marwanad commented on #3835
Opened #4026 and #4027.

[2021-04-22 08:43] bskiba commented on #3913
Shouldn't we keep open for implementation? Or do you want to track separately?

[2021-04-22 13:56] wangchen615 commented on #3913
Yes, let's keep it open until the implementation is merged.

[2021-04-22 17:35] andre-lx commented on #3780
Same issue on EKS 1.16 and CA 1.16.7.

It stop working after a while.

As @mvz27 point it out, setting manually the desired to 1, the autoscaler starts working to and from zero, since the AC then sets the desired to zero again.

But, again, after some days, it stops working.

Since this affects a lot of versions, it looks like that is something with the ASG ...

[2021-04-22 17:57] lrouquette opened #4029 "Ungraceful node shutdown during scale in"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.20.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507

[2021-04-22 18:19] #3712 closed

[2021-04-22 19:13] adrienjt commented on #2564
The most-pods, least-waste and priority expanders already have a `fallbackStrategy expander.Strategy` field, but it is hardcoded to be the random expander. Why not configure expanders as a chain, e.g., `--expander=priority,least-waste`, and make the fallbackStrategy a constructor parameter (with random as the default value).

https://github.com/kubernetes/autoscaler/blob/2542e8c884a8e25634d3b8f432

[2021-04-22 19:14] adrienjt commented on #2564
/reopen

[2021-04-23 08:35] sohrabkhan commented on #3978
It's been 25 days since I opened this issue.  There hasn't been any comments yet. If the details is too much then here is the issue in few words:

The issue is that I don't want nodes that contain Statefulset pods which I've annotated as `"cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` to be removed. The new nodes that were launched to deal with the load should be the ones that should b

[2021-04-23 08:59] dignajar commented on #3869
I found this comment and looks like this solved my issue.
https://github.com/kubernetes/autoscaler/issues/3448#issuecomment-685288139

Here my Tags for the autoscaling group that start from 0.
[code]

[2021-04-23 16:02] Scoppio opened #4032 "Cluster autoscaler not scaling up or down my cluster"
**Which component are you using?**: Cluster autoscaler

**What version of the component are you using?**:

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
[code]
</pre></details>

**What environment is this in?**:
AWS EKS

**What did you expect to happen?**:
I expected the CA cycle to run all the

[2021-04-23 16:32] #3683 closed

[2021-04-23 17:32] #3715 closed

[2021-04-23 22:32] #3709 closed

[2021-04-24 13:38] kaykhancheckpoint opened #4033 "[cluster-autoscaler] - When installing mongodb it fails to schedule pods"
**Which component are you using?**:

cluster-autoscaler helm chart https://github.com/kubernetes/autoscaler/tree/master/charts/cluster-autoscaler

**What version of the component are you using?**:

`version.BuildInfo{Version:"v3.5.4", GitCommit:"1b5edb69df3d3a08df77c9902dc17af864ff05d1", GitTreeState:"clean", GoVersion:"go1.15.11"}`

Component version:

**What k8s version are you using (`kubectl v

[2021-04-24 18:44] unixfox commented on #3644
/remove-lifecycle stale

[2021-04-24 19:33] #3721 closed

[2021-04-25 00:30] mboutet commented on #3204
/remove-lifecycle stale

[2021-04-25 14:02] #4033 closed

[2021-04-25 17:38] #3133 closed

[2021-04-26 09:58] blueblau1979 opened #4035 "Cluster Autoscaler 1.19.x is not working with EKS 1.19(China Region cn-north-1)"
**Which component are you using?**: Cluster Autoscaler

**What version of the component are you using?**:Cluster Autoscaler v1.19.0, and also tried Cluster Autoscaler v1.19.1

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.19

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19"

[2021-04-26 10:38] #4035 closed

[2021-04-26 10:38] blueblau1979 commented on #4035
1.20.0 fixed this issue.

[2021-04-26 16:11] dignajar commented on #3869
I closed the topic, I create a post in my blog about how I have configured the instance group in my cluster.
https://varlogdiego.com/kubernetes-and-gpu-nodes-on-aws

[2021-04-26 16:11] #3869 closed

[2021-04-26 16:20] fitchtech commented on #3372
/reopen

1 aws_util.go:79] Error fetching https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json skipping...
aws_cloud_provider.go:358] Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list

Using AWS autodiscovery enabled. Autoscaler image tag v1.20.0

[2021-04-26 16:32] fitchtech opened #4036 "Crash loop: Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list"
I0426 16:22:12.584855       1 flags.go:52] FLAG: --add-dir-header="false"
I0426 16:22:12.584904       1 flags.go:52] FLAG: --address=":8085"
I0426 16:22:12.584910       1 flags.go:52] FLAG: --alsologtostderr="false"
I0426 16:22:12.584915       1 flags.go:52] FLAG: --aws-use-static-instance-list="false"
I0426 16:22:12.584919       1 flags.go:52] FLAG: --balance-similar-node-groups="false"
I0426 16:

[2021-04-26 20:25] sergeyshevch commented on #4008
I also interested in this feature. Maybe i will try to work on it later

[2021-04-26 20:56] sergeyshevch opened #4037 "Bug: Unknown cloud provider when hetzner was specified"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: v1.17.4 / v.1.20.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f

[2021-04-26 21:21] sergeyshevch commented on #4037
Do I need to build a custom image?

[2021-04-27 08:46] kaviarasan-ex2 opened #4038 "Pods are pending for such a longtime when HPA scales"
Hi there,
  Seeking experts advise here and below are the details.

Configuration:
1. CA with priority expander strategy
2. Max node provision time set to 5m0s
3. AWS cloud & kops cluster
4.  2 node groups are configured as part of the CA. node group A (min 2 & max 7 instances), node group B (min 0 & max 7 instances)
5. When node group A couldn't provision an instance in the given period of time i

[2021-04-27 12:47] devkid commented on #3949
Looking at the code the problem seems to be that here:
https://github.com/kubernetes/autoscaler/blob/8dc1afb9a2fd188374620ee0d42358243e087655/cluster-autoscaler/clusterstate/clusterstate.go#L915
`readiness.Deleted` is not considered. However, just adding this to the equation will most likely only solve half of the problem. The other half of the problem is that the `ToBeDeleted` taint is not remove

[2021-04-27 13:19] Duske commented on #2747
Hi @yashbhutwala, is it still the case that the VPA does not recommend the resource limits and only the requests?

[2021-04-27 13:24] yashbhutwala commented on #2747
@Duske yes.

[2021-04-27 13:43] MaciekPytel commented on #3949
Cluster Autoscaler is expected to remove all ToBeDeletedByClusterAutoscaler taints when starting up: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/static_autoscaler.go#L174. The new CA leader should execute this logic on its first autoscaling loop.
My initial guess is that what likely happened is node lister not being initialized quickly enough leading to CA failing

[2021-04-28 05:01] kaviarasan-ex2 commented on #4038
Any update on this please ?

[2021-04-28 08:23] morganchristiansson commented on #4016
Would be nice with more details on the status feature. I would guess it's limitation in Kubernetes or from a lower level like containerd or kernel?

[2021-04-28 08:33] bskiba commented on #4016
At this moment this is a Kubernetes limitation (kernel and container runtime already supports resizing containers). There is work needed in scheduler, kubelet, core API so a pretty cross-cutting problem. Also a lot of systems assumed pod sized are immutable for a long time so there is need to untangle those as well.

There is ongoing work in Kubernetes to provide in-place pod resizes (Example: htt

[2021-04-28 11:41] MaciekPytel commented on #4038
Cluster Autoscaler does reactive scaling, it doesn't have any predictive capability. If the time it takes to boot up instances is too long for your case, you need to have those instances ready before the scale-up is needed.

If you can predict the spike before it happens, you can build a bunch of different solutions. The common patterns I've seen are:
 * Create a custom metric that will go up when

[2021-04-28 12:18] kaviarasan-ex2 commented on #4038
Thanks for your response!

[2021-04-28 13:54] devkid commented on #3949
@MaciekPytel I cannot find this error message:
[code]
that should have been logged if this would have happened in any of the logs, so I suppose failing at this stage wouldn't help much. Is it possible that the lister this didn't fail but the lister just returned an empty list because the cache wasn't populated yet?

[2021-04-28 15:51] sylr opened #4045 "Misleading logs in the cluster-autoscaler"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: master

In the logs of the cluster autoscaler for the AWS provider we can see those lines:

[code]

It is my understanding that the cluster-autoscaler has no means to select an Availability Zone when scaling so I don't understand the meaning of this log (the `using eu-west

[2021-04-28 23:50] adamnovak commented on #3639
It seems like getting rid of the nodes isn't really the CA's job, and that Kubernetes is supposed to clean them up exactly the same regardless of whether they were supposed to go away or not.

That's not really the behavior I seem to observe (we had a node go offline for quite a while in our manually-provisioned cluster without the control plane forgetting about it), but maybe it wasn't as offline

[2021-04-28 23:50] #3639 closed

[2021-04-29 00:25] adamnovak opened #4048 "Pathological behavior when scaling down makes sets of `Job`s take much longer than they should to run, with lots of restarting"
**Which component are you using?**:

Cluster Autoscaler

**What version of the component are you using?**:

Component version: 1.19.0

**What k8s version are you using (`kubectl version`)?**:

This is in a whole class of automatically provisioned clusters, all of which are currently de-provisioned, but I install Kubernetes v1.19.3.

**What environment is this in?**:

AWS, but not EKS

**What did y

[2021-04-29 08:59] #3541 closed

[2021-04-29 09:30] MaciekPytel commented on #4048
That. Once autoscaler starts to drain node it will not delete any other nodes until it is done, so long max-graceful-termination-sec is very much not recommended.

My recommendation for your case would be to switch scheduler from NodeResourcesLeastAllocated to NodeResourcesMostAllocated. That way scheduler will aim to schedule new pods on nodes that are already highly utilized and not spread them

[2021-04-29 09:49] guyguy333 opened #4049 "Hetzner: Missing route cleaning with autoscaler on scale down ?"
**Which component are you using?**: Autoscaler with Hetzner as cloud provider

**What version of the component are you using?**: Only available on master, no Docker image include Hetzner yet.

Component version: 8dc1afb

**What k8s version are you using (`kubectl version`)?**: 1.20 with k3s

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
v1.20.6+k3s1
</p

[2021-04-29 11:17] lsowen commented on #3802
I'm seeing something similar, but I'm not using any `node.kubernetes.io` labels.   When cluster-autoscaler (`v1.20.0`) is first launched, it successfully scales up from zero when needed by creating `template-node-for-...` template nodes.   For a while, it works without issue, scaling up and down (even to and from 0).  However, within 24 hours it stops being able to find a match for any ASG which h

[2021-04-29 12:05] unixfox commented on #3852
/remove-lifecycle stale

[2021-04-29 12:16] nshekhar221 commented on #3721
@MaciekPytel We have encountered a use-case that might have been related to this. Is the fix https://github.com/kubernetes/autoscaler/pull/3883 going to be  available with any release of v1.20 ?

[2021-04-29 14:02] #3614 closed

[2021-04-29 16:40] gavinvandermerwe commented on #4025
This is no longer needed! :roll_eyes:

[2021-04-29 16:40] #4025 closed

[2021-04-30 11:39] Michael-Sinz opened #4051 "Do not block scaling up due to pending/not yet complete node deletion"
**Which component are you using?**: Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
When the autoscaler deletes instances in Azure VMSS, it will not scale in instances until thoses delete operations are seen to have completed.  There are times when deletes have taken over an hour but during that time many nodes of

[2021-04-30 16:13] #3142 closed

[2021-04-30 22:33] imriss opened #4052 "predicate checking error: node(s) didn't match Pod's node affinity; predicateName=NodeAffinity; reasons: node(s) didn't match Pod's node affinity; debugInfo="
**Which component are you using?**:

`cluster-autoscaler`

**What version of the component are you using?**:

Component version: `9.9.2` (via `Helm` chart)

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code>
</summary><br><pre>
</pre></details>

[code]

**What environment is this in?**:

Cluster: `EKS` (`k8s` 1.19)
original ASG's node type: `r5

[2021-05-01 09:15] morganchristiansson commented on #2646
It would be really nice to query logs for pods have blocked scaledown.

I found a blog post which details support for `--loging-format` support in k8s 1.19 https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/

And a guide to migrating https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/migration-to-structured-logging.md

Quote

H

[2021-05-01 10:18] #2333 closed

[2021-05-01 14:56] jmcmeek commented on #3567
The [1.19 Kubernetes changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#seccomp-graduates-to-general-availability) said the support for seccomp.security.alpha.kubernetes.io/pod and container.seccomp.security.alpha.kubernetes.io/... annotations are deprecated, and will be removed in Kubernetes v1.22.0.

v1.22 is fast approaching.  Any chance this can be addr

[2021-05-01 16:22] #3733 closed

[2021-05-01 18:22] #3736 closed

[2021-05-02 21:28] #3740 closed

[2021-05-03 05:44] Jeffwan commented on #3913
@wangchen615 What's the status of this VPA KEP? Is there a PR going on?

[2021-05-03 06:08] prashanth26 commented on #3987
Never mind. It was a bug on our side where our provider cache was taking too long to fetch details from the provider.

[2021-05-03 06:08] #3987 closed

[2021-05-03 11:29] #3742 closed

[2021-05-03 12:51] frittentheke commented on #1298
/remove-lifecycle stale

[2021-05-03 14:04] wangchen615 commented on #3913
@Jeffwan , I am still working on the implementation. Will create the PR soon, in 2 weeks.

[2021-05-03 14:12] itssimon commented on #3241
This is important for us too, same use case as OP.

[2021-05-03 19:00] #3928 closed

[2021-05-03 21:58] voidlily commented on #3779
/remove-lifecycle stale

[2021-05-03 22:11] voidlily commented on #3779
I was able to work around this with the following

[code]

[2021-05-04 02:29] lawliet89 commented on #3044
/remove-lifecycle rotten

[2021-05-04 05:41] waiariki-koia commented on #3868
/remove-lifecycle

[2021-05-04 05:41] waiariki-koia commented on #3868
/remove-lifecycle stale

[2021-05-04 16:28] cebidhem opened #4054 "What's the chart version for cluster-autoscaler-1.19.1 ?"
Hi community,

So far we are using forked chart from yours, and we would like to use upstream directly for consistency across our platform.
Our clusters are running EKS 1.19, so we are running `cluster-autoscaler-1.19.1`.

Now I was looking at the chart, and I found that there is no chart meant specifically for 1.19.1. Indeed, `cluster-autoscaler-chart-9.4.0` has `appVersion: 1.18.1` (https://gith

[2021-05-05 05:09] techdragon commented on #3068
/remove-lifecycle stale

[2021-05-05 11:37] sergeyshevch commented on #4037
Fixed. It was incorrect configuration on my side

[2021-05-05 11:37] #4037 closed

[2021-05-05 11:37] sergeyshevch commented on #4008
/assign

[2021-05-05 14:40] rmb938 opened #4057 "VPA Updator not evicting pods"
**Which component are you using?**: vertical-pod-autoscaler,

**What version of the component are you using?**: v0.9.2

Component version: v0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d

[2021-05-05 17:03] anson627 commented on #3916
Hi @MaciekPytel , can you elaborate on how to use NodeGroupSetProcessor to implement rate limits scale-up? Also I'm exploring ways to circuit break scale up when cluster reaching certain size (in terms of # of pods and # of nodes)

[2021-05-05 18:51] Capstan commented on #3486
/remove-lifecycle rotten

[2021-05-05 19:09] dlaidlaw commented on #3230
In my not-so-humble opinion, both the eks.amazonaws.com/sourceLaunchTemplateId and topology.ebs.csi.aws.com/zone should always be ignored by the [AWS CloudProvider portion of the cluster-autoscaler code](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/processors/nodegroupset/aws_nodegroups.go#L27).  The solution of using an addition CLI arg  not ideal since it requires addi

[2021-05-05 19:49] dharmab commented on #4029
Other examples:

- kube2iam/AAD Pod Identity Pods being terminating early resulting in application Pods on that Node losing their ability to authenticate to public cloud APIs
- node local DNS pods being terminated, interrupting DNS requests in flight from application pods

[2021-05-05 22:26] TBBle commented on #3230
Just so I understand, your suggestion is that instead of having a list of labels to ignore when considering nodegroups for balancing (as we have now, a combination of [generic](https://github.com/kubernetes/autoscaler/blob/200415e990f77bc766e77d1331a9ebe18c601a88/cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go#L39-L50) and [AWS-specific](https://github.com/kubernetes/autoscaler/bl

[2021-05-05 23:25] isugimpy commented on #1907
Looks like there hasn't been a cluster-autoscaler release since December, and this hasn't been ported to any of the earlier versions.  Is it possible to get a release which includes it for all supported minor versions of cluster-autoscaler?

[2021-05-06 01:45] atulaggarwal commented on #1907
I have raised PR for merging it for merging the change to [release-1.20](https://github.com/kubernetes/autoscaler/pull/4044) and [release-1.19](https://github.com/kubernetes/autoscaler/pull/4043) also. We can raise port the fix to earlier verions also if required.

[2021-05-06 03:50] infa-ddeore commented on #1907
making it available to previous versions would be very helpful.

[2021-05-06 04:03] mshivaramie22 commented on #3044
/remove-lifecycle rotten

[2021-05-06 05:15] atulaggarwal commented on #1907
@infa-ddeore - Which version are you looking for? I can create PR for them over this weekend once above PR gets approved. I am not sure if anything else needs to be done apart from creating PR for previous versions of autoscaler.

[2021-05-06 05:28] infa-ddeore commented on #1907
thx a lot for the reply, having support for 1.16, 1.17 and 1.18 would be great

[2021-05-06 07:05] pommelinho opened #4062 "Recommendation Interval for Vertical Pod Autoscaler"
Hey!

I am using VerticalPodAutoscaler with `updateMode: "Off"`.
Describing my VertivalPodAutoscaler shows me the recommendations:
[code]
However i am wondering how often the recommendations are updated resp how I can configure the update interval?

[2021-05-06 07:12] hobti01 commented on #1658
@msau42 does this statement mean that Cluster Autoscaler does not check that the maximum number of volumes are attached to a node (because the drivers never check this)?

We are observing that when there are no topology or affinity constraints and the maximum number of volumes are attached to nodes that scale-up does not occur.  Despite sufficient CPU/Memory on the nodes, no more volumes are allow

[2021-05-06 12:17] dlaidlaw commented on #3230
Yes, that is it exactly. Sorry about the `topology.kubernetes.io/zone` in the list, you are correct that that one should not be in a whitelist of labels. I will edit my list above to keep that clear.

What this approach is designed to do is to keep the cluster-autoscaler working even as new labels are added to nodes. The new labels may be added manually, or via controllers, operators, or deploymen

[2021-05-06 14:24] TBBle commented on #3230
It's an interesting idea. I don't expect it'll see much traction here, so might be worth opening as a feature request/change suggestion if you want to pursue it further.

[2021-05-06 14:57] DannyKR opened #4063 "Autoscaler deployment is not created by helm flux operator"
Hello,

I am trying to create the cluster-autoscaler with flux, but the deployment is not created.
Only the cluster-autoscaler service is created, but not the deployment?

This is my HelmRelease file:

[code]
Thanks in advance

[2021-05-06 15:14] azhurbilo opened #4064 "NewestInstance termination policy support for cluster autoscaler"
**Which component are you using?**:
- AWS EKS

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
- some workload (java services e.g. https://github.com/prestodb/presto) works better after sometime. And it's better during scale down leave "warm nodes" and terminate new one

**Describe the solution you'd like.**:

Have ability to set term

[2021-05-06 15:18] #4064 closed

[2021-05-06 15:34] darrenfurr commented on #3650
/remove-lifecycle stale

[2021-05-06 16:40] VladMasarik opened #4065 "Mention in documentation that CA does not automatically register nodes into the cluster."
**Documentation suggestion**

**Describe the solution you'd like.**:
Could you mention on the main `cluster-autoscaler` README, and scaling up FAQ, that CA is meant to scale the VMs, but it is not responsible for registering the nodes into the cluster?

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I don't think this information is

[2021-05-06 17:21] g1bl3t opened #4066 "Request for new tagged release"
Not sure where else to ask this, but it looks like the last tag release was [v1.20.0](https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-1.20.0), which was cut on Dec. 2, 2020. Is is possible to have a new tagged release cut with an image pushed to the gcr repo that includes more recent changes? Specifically I'm looking for inclusion of the [Linode provider](https://github.com/kubern

[2021-05-06 23:32] msau42 commented on #1658
For maximum number of attachments to a node, my understanding is that the autoscaler will copy the Node object from a similar existing Node, so it will use the same limits.

For CSI drivers, the volume limit is stored in the CSINode object and we consider a missing CSINode object to have an [infinite limit](https://github.com/kubernetes/kubernetes/blob/1f3fd1cb80fa37bdaa1fd1ee30d35f84681cdd54/pkg/

[2021-05-07 20:12] dharmab commented on #4062
See the `--recommender-interval` flag for vpa-recommender; the default is 1 minute.

https://github.com/kubernetes/autoscaler/blob/vertical-pod-autoscaler/v0.9.2/vertical-pod-autoscaler/pkg/recommender/main.go#L37

https://github.com/kubernetes/autoscaler/blob/47080466bea2b330c947450f14e0d42128aa9d83/vertical-pod-autoscaler/pkg/recommender/main.go#L115-L119

[2021-05-07 20:15] dharmab commented on #4051
One mitigation we use is to have multiple VMSSes with identical nodes. This helps constrain VMSS-scoped issues to a subset of the cluster and gives CA an alternative to scale out. This had a large impact on Azure API usage in older versions of Kubernetes, but 1.18+ reduced the impact considerably.

[2021-05-07 20:19] dharmab commented on #4024
Cluster autoscaling does not monitor Node CPU/memory usage to know when to scale. It only scales when it sees Pending Pods in the scheduling queue

See https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/ to configure how the Kubelet reacts to high memory utilization. You can configure the Kubelet to automatically evict Pods using high amounts of memory, which can then cause replac

[2021-05-07 20:22] Michael-Sinz commented on #4051
We have done that but at our scale that still ends up with problems.  When we tried that it tended to introduce other problems with scaling.

(We get into azure "rate limit" jail during scale down in the evenings since many of those are 1 VM at a time.  Scale up is many times 50 to 100 VMs at once but work trickles off the nodes a bit slower.)

[2021-05-07 20:52] marwanad opened #4068 "Addressing CVE-2021-3538 with satori/go.uuid"
There's an unresolved CVE that impacts the satori/go.uuid library. I noticed the two providers using the library.

Should probably switch to a maintained UUID library like https://github.com/google/uuid or something.

Tagging owners @ringtail @avorima @schegi

[2021-05-08 00:49] nzoueidi commented on #3875
/remove-lifecycle stale

[2021-05-09 00:12] RealHarshThakur commented on #3852
Hey @MaciekPytel , I am looking to scale up nodes based on disk capacity on each node. Ideally, I would like to point cluster-autoscaler to the external metric(size of disks on particular node)  to start scaling from.

* Would it be possible for cluster-autoscaler to take in custom metrics like that?
or
* Are the components from the project re-usable to enable such a use-case?

[2021-05-10 05:35] pommelinho commented on #4062
Thank you very much!

[2021-05-10 06:18] yongzhang commented on #3892
You can build an image from branch `cluster-autoscaler-release-1.19`, see https://github.com/kubernetes/autoscaler/pull/3697/files,  is wasn't merged into 1.19.1 release.

[2021-05-10 08:07] bskiba commented on #3567
#4004 should fix this, I'll work on merging/releasing in the next 2 weeks.

[2021-05-10 08:22] bskiba commented on #4062
/close

[2021-05-10 09:26] krzysied commented on #4057
Sure. I will take a look.

[2021-05-10 09:51] AndyMender commented on #4021
Just a quick update on this - it looks like we were not using the `"cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` annotation in our `Job`/`Pod` definitions, as recommended here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

I will close the ticket accordingly if the solution works.

[2021-05-10 10:12] krzysied commented on #4057
It means that there is a problem with admission controller not updating the status

Updater checks is if status was updated during last minute. Admission controller should be updating status every 10s. It means that Admission controller has 5-6 attempts of updating status before it is considered not valid.

[2021-05-10 10:15] krzysied commented on #4057
@rmb938 You can look at the admission controller logs. There should be logs like `Status update by %s failed` if the status updates are failing.

[2021-05-10 13:10] #4065 closed

[2021-05-11 07:51] guoshimin opened #4071 "cluster-autoscaler prematurely scales up when ASGs lose nodes"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**: 1.16.5

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.18

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: AWS

**What did you expect to happen?**:
We use ASGs that a

[2021-05-11 12:31] jadelafuente commented on #3569
/remove-lifecycle stale

[2021-05-11 12:42] jadelafuente opened #4072 "Trending based usage Cluster Autoscaling feature"
**Which component are you using?**:
Cluster autoscaler

Cluster Autoscaler
**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Existing cluster autoscaler behaviour is reactive to an event when trying to schedule a new pod and a problem happens. In very elastic workloads this reactive behaviour wouldn't prevent of issues to happen.
**Des

[2021-05-11 12:48] unixfox commented on #3255
/remove-lifecycle rotten

[2021-05-11 16:33] #4066 closed

[2021-05-11 16:51] dharmab commented on #4072
This is based on the FAQ answer here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler

[2021-05-11 19:28] eatwithforks commented on #3961
I'm also noticing this behavior. See screenshot of memory usage vs. memory target recommendation.

The **yellow** line is the memory usage of the container and the **dotted purple line** is the vpa memory target recommendation.
The recommendation is consistently lower than the usage with several spikes but coming back down for
![Screen Shot 2021-05-11 at 12 26 52 PM](https://user-images.githubuser

[2021-05-11 20:35] Ramyak commented on #3879
/remove-lifecycle stale

[2021-05-12 01:37] innovate-invent commented on #3916
I am looking for very similar functionality, but I wasn't happy with the idea of an global scale up rate limit.

I was thinking it would be better to allow tagging resources with a "max-age-before-scaling" tag. The autoscaler would look at the tag value, compare it to the resource creation time, and only include it in the scaling decision if the max age has been exceeded.
Another tag "max-scale-ca

[2021-05-12 07:35] myvelmurugan opened #4074 "EKS Cluster Autoscaler - WebIdentityErr: failed to retrieve credentials - caused by: InvalidIdentityToken: Incorrect token audience"
i installed eks through terraform and enabled the OIDC connector as per the document https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html

I have gone throught the steps in the cluster-autoscaler and added the proper role and mapped the service account to the aws role.
ASG group has proper tagging.

Getting the below error from the cluster-autoscaler pod and not sure what I am

[2021-05-12 08:13] bskiba commented on #3961
Is the number of pods in the autoscaled collection changing over time?

[2021-05-12 13:32] ivanov-aleksander opened #4075 "controlledValues: RequestsOnly dosn't works"
**Which component are you using?**:

vertical-pod-autoscaler,

**What version of the component are you using?**:

Component version: 0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5

[2021-05-12 14:25] avorima opened #4076 "gobizflycloud go.mod breaks go mod vendor"
The bizflycloud provider (#4009) introduced an SDK with a `go.mod` that's not vendored which causes failures.

[code]

My current local solution is to remove the `go.mod` that's causing problems.

I couldn't find the OWNERS of said cloudprovider, but pinging @lmq1999 since they contributed the code.

[2021-05-12 15:59] towca commented on #4076
Thanks for catching this, I was just going to create the same issue. It's also preventing us from updating vendor in the repository. I'm going to delete the `go.mod` file for now. @lmq1999 - I think ultimately leaving just the go source files makes the most sense, but I'll leave it up to you.

[2021-05-12 16:41] eatwithforks commented on #3961
I discovered the pod in question is short-lived with a lifespan of ~4 hours (internal pod logic) before it self evicts and a new pod gets created to take its place.

That explains the lowered memory recommendation because the frequent self-evictions registers as 0 usage and therefore brings the average memory usage calculation down.

For pods that behave in this manner, what can I tune to make sur

[2021-05-12 20:13] avorima commented on #4076
@towca Thanks!

[2021-05-12 20:13] #4076 closed

[2021-05-13 07:12] LucaLanziani commented on #1350
Hello, first of all thanks for adding this functionality.

I've noticed that the flag is not part of the list present here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca

Is that in purpose?
Adding the flag there will help a lot of people to discover it and to understand the intended use of it, I myself before reading this other issue

[2021-05-13 14:27] #3756 closed

[2021-05-13 17:37] MattyKuzyk opened #4078 "Cluster Autoscaler seeing taints on non existent nodes"
**Which component are you using?**: Cluster Autoscaler

**What version of the component are you using?**: App Version: `1.18.1`

**What k8s version are you using (`kubectl version`)?**: `1.18.9`

**What environment is this in?**: AWS Autoscaling Groups (self-managed)

**What did you expect to happen?**: overprovisioner pending pod triggers a scale up on the `blue-worker-nodes` ASG

**What happened

[2021-05-13 22:30] #4001 closed

[2021-05-13 22:36] #4068 closed

[2021-05-14 12:00] rtheis commented on #3699
/remove-lifecycle stale

[2021-05-14 14:25] vickyvikas7988 opened #4080 "Does Autoscaler supports OKE (Oracle Kubernetes Engine)?"
Hi team,

Does autoscaler support Oracle Kubernetes Engine (OKE) Oracle Cloud?

If yes, thanks a lot.

If no, can you please let us no ETA?

[2021-05-15 04:38] #2434 closed

[2021-05-15 11:18] jystephan commented on #3886
/remove-lifecycle stale

[2021-05-15 15:12] hypnoce commented on #4074
I have the same experience. I've done all the steps on the management console.

[2021-05-16 12:29] fliphess commented on #1070
/remove-lifecycle stale

[2021-05-17 02:55] #3741 closed

[2021-05-17 06:13] mweibel commented on #3686
/remove-lifecycle stale

[2021-05-17 06:31] Cyb-Shubham commented on #1607
If you are using AWS EKS and getting the same error "pod didn't trigger scale-up (it wouldn't fit if a new node is added):"
Please make sure you have the following two steps applied
1. Apply these tags on your EKS Cluster

    k8s.io/cluster-autoscaler/<cluster-name> : owned
    k8s.io/cluster-autoscaler/enabled : TRUE

2.  Make changes in the following file by running the command
   `kubectl -n k

[2021-05-17 13:43] towca commented on #4080
Hi! I'm assuming you mean Cluster Autoscaler. You can find the supported cloud providers [here](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider) (keep in mind that the level of support varies). The core Cluster Autoscaler team is only maintaining the GCE provider and there are no plans to change that (though we welcome community contributions for other provide

[2021-05-17 13:43] #4080 closed

[2021-05-17 13:50] ankitm123 commented on #3780
Running into the same issue with eks 1.19 (latest version offered by aws as of May 17, 2021) running cluster autoscaler helm chart 9.4.0 with self managed worker nodes (gpu and non-GPU). As mentioned in previous posts, the issues happen when the CA pod is restarted, and setting the desired count to 1 fixes it until the next restart.

[2021-05-17 13:51] jfoechsler opened #4082 "Cluster-autoscaler unnessecary scale up with pod anti-affinity"
**Which component are you using?**: cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.19.1

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.6-eks-49a6c0", GitCommit:"49a6c0bf091506e7bafc

[2021-05-17 14:04] anandnilkal commented on #3780
cluster-autoscaler documentation for AWS at - https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md suggests adding labels and taints as tags for ASG for additional hints for cluster-autoscaler.

I am able to scale up my AWS EKS deployment with managed node-group from 0 only by adding tags.
referred - https://github.com/kubernetes/autoscaler/issues/243

[2021-05-18 02:15] rmb938 commented on #4057
@krzysied There are no such logs. Watching the lease object does show it is getting updated every 10 seconds correctly. However the causes a race I explained in the main issue because if when the updater checks it just so happens to be within that 1 minute period the updater thinks the lease will expire when it isn't.

[2021-05-18 03:02] lawliet89 commented on #3845
/remove-lifecycle stale

[2021-05-18 03:28] keyingliu opened #4086 "VPA drawbacks and node level vertical autoscaling"
**Which component are you using?**:
VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

VPA is designed for vertical pod scaling, it calculates the resource utilizations and adjusts pod resource request accordingly. For now, it requires pod eviction, later pod in-place update may be used to adjust pod resource without pod eviction o

[2021-05-18 10:23] george-angel commented on #3348
/remove-lifecycle stale

[2021-05-18 11:11] Unichron commented on #4054
Would be also nice if the compatibility between the chart and the app versions were mentioned somewhere in the docs (even if it is trivial like 'all chart versions can be used with any autoscaler version', although I doubt it's that simple).

[2021-05-18 12:55] abudavis opened #4087 "Upgrading VPA"
We had installed the VPA on Openshift few months ago from the master branch. We now wish to upgrade to take advantage of the bug fixes that may have been delivered into the master branch.

How do we perform an upgrade without having to uninstall the current version first?

[2021-05-18 15:32] brett-elliott opened #4088 "revendoring CA results in azure module errors"
[code]

Running go mod vendor reproduces this.

[2021-05-18 19:24] nitrag commented on #3044
I'd like to point out an observation. We just upgraded the last of our production clusters last Friday (-4 days) and I noticed something:

EKS Upgrade to 1.18.
Cluster-Autoscaler to 1.17.4.

Memory usage for the entire weekend, pod reboots, different nodes, latest AMI, etc....`aws-cluster-autoscaler` and 30 seconds it would scale up to **1.6GB MEM USAGE via `docker stats`.**

Looking at our logs w

[2021-05-19 07:34] yongzhang commented on #1653
I have the same issue on EKS 1.19.

[2021-05-19 07:55] zweizhang commented on #3276
I got the same issue with the spinnaker version is 1.23.7.
And follow gjtempleton advice, I add the aws-use-static-instance-list to vaule file, and fix the CN Pricing issue.
Hoping it can help others.
[code]

[2021-05-19 20:06] jmcmeek commented on #3567
@bskiba It looks like that PR requires a RBAC change as well: Add the verb "patch" to an appropriate role.  I assume that would be the `system:metrics-server` clusterrole in Kubernetes (whenever that addon gets to 1.8.13+) or the example default:pod-nanny.

`ERROR: logging before flag.Parse: E0519 19:33:36.949283       1 nanny_lib.go:162] deployments.apps "metrics-server" is forbidden: User "syste

[2021-05-20 01:18] marwanad commented on #4088
https://github.com/kubernetes/autoscaler/pull/4090 should fix the issue

[2021-05-20 08:03] bskiba commented on #3567
Glad it worked!

I do still need to update the example addon-resizer deployment with the additional permission and I should probably add that to the description of the release.

[2021-05-20 09:02] hifibikes commented on #1607
please check the autoscaling grop max size

[2021-05-20 14:52] hendrikhalkow opened #4093 "Feature request: Scaling step width for Horizontal Pod Autoscaler"
Consider the following case: I have a load balancer service with `externalTrafficPolicy: Local` to preserve source IPs. The service targets _p_ pods, wich are distributed across _n_ nodes. However, because of the external traffic policy, the traffic is distributed equally across the nodes, not pods. To achieve that the traffic is also equally distributed, _p_ must be an integer multiple of _n_. My

[2021-05-21 09:06] brett-elliott commented on #4088
Thanks

[2021-05-21 09:07] #4088 closed

[2021-05-21 12:19] f-ld opened #4095 "[cluster-autoscaler][AWS] Repeated deletion every 10s of same node takes AWS ASG down to min size killing multiple running pods"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
1.14.1 (but investigations show it could be the same with newer versions)

**What environment is this in?**:
Running on kops managed cluster on AWS

**What did you expect to happen?**:
I would not expect to see all nodes of a node group to be stopped while some pods are to be executed on them.

[2021-05-21 19:44] ankurchoubeymsft opened #4096 "Emit logs for nodegroup size/instance count in the autoscaler cache and in the cloud provider after each cache refresh or scale up/down operations"
**Which component are you using?**: Cluster Autoscaler 1.20.0

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Recently we had an outage in our production environment. Cluster autoscaler scaled down a VMSS size to a very small number - ~350 -> 30 with nodegroup min set as 10.  This deleted almost all nodes in that VMSS. All these nod

[2021-05-22 14:37] #3760 closed

[2021-05-23 00:04] rittneje commented on #3693
/remove-lifecycle stale

[2021-05-23 02:19] marwanad commented on #4096
Yeah we could log the number of nodes, before each operation. I suspect you might be hit by https://github.com/kubernetes-sigs/cloud-provider-azure/issues/635 though.

Did you see a log line indicating `Final scale-up plan: [{nodegroup 350->30 (max: 1000)}]`? In other words, did CA trigger a `PUT` to downscale you? If not, then I'd suspect it's that cloudprovider bug above.

[2021-05-23 02:30] jclangst opened #4097 "[cluster-autoscaler] CriticalAddonsOnly taint ignored"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

1.20.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

1.20.5

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.6", GitCommit:"8a62859e515889f07e3e3b

[2021-05-23 13:43] #3767 closed

[2021-05-23 19:51] lsowen commented on #3802
I have continued to experience this issue.  And have tracked down part of the issue.

In the loop where it is checking the nodeGroups, it looks for a cached definition in the `nodeInfoCache`:
https://github.com/kubernetes/autoscaler/blob/79a43dfe19545b5351db5dad28bbe27f6dea7574/cluster-autoscaler/core/utils/utils.go#L103-L110

For the groups which _do_ have issues, the results are being returned f

[2021-05-23 20:31] DanielAmmar opened #4098 "priority expander should have mutually exclusive node group"
Our EKS cluster have 4 node groups: 2 for gpu instances and 2 for general work instances.
Within each, we have a node group for spot instances and another node group for on-demand instances (as fallback)

After reading [this](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/expander/priority/readme.md):
`If there are multiple node groups matching any of the regular expressio

[2021-05-24 01:25] jclangst opened #4099 "[cluster-autoscaler] Extreme overprovisioning when using pod interpendency constraints"
**Which component are you using?**:

cluster-autoscalers

**What version of the component are you using?**:

1.19.1, 1.20.0, 1.21.0

**What k8s version are you using (`kubectl version`)?**:

1.20.5

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.6", GitCommit:"8a62859e515889f07e3e3be6a

[2021-05-24 10:18] MaciekPytel commented on #4099
Hi, can you confirm this was tested in a version that contains #3883? Your description seems to match that issue pretty well. In that issue the symptoms were huge over-scale-up when using antiaffinity or topology spreading with hostname topology (which is what your example uses).

Replying to the issues mentioned:

The workload you linked uses podTopologySpreading with hostname topology, meaning o

[2021-05-24 14:07] jclangst commented on #4082
I think this is fixed by https://github.com/kubernetes/autoscaler/pull/3883 (fixed after 1.19.1) and is related to #4099.

[2021-05-24 16:58] #3567 closed

[2021-05-24 21:19] jfoechsler commented on #4082
@jclangst Sounds promising. That commit does not appear to be in 1.20 either (and 1.20 also reproduces the same problem). Unless bugfix comes along, I will see how 1.21 works once clusters are upgraded to (hopefully) compatible Kubernetes 1.20.

[2021-05-25 00:06] jclangst commented on #4082
You are right. I mispoke. Only available in 1.21.0 and later.

I have run CA 1.21 on on k8s 1.20 and it worked alright. Slight mismatch on some of the resource versions which will cause a few non-crashing errors but it could be "functional" depending on your use case. YMMV.

Ideally I'd like to see these fixes ported to CA 1.20, but I don't know what the procedure for that is.

[2021-05-25 14:13] ialidzhikov opened #4100 "vertical-pod-autoscaler@v0.9.2 release is marked as `pre-release`"
**Which component are you using?**:
vertical-pod-autoscaler

**What did you expect to happen?**:

Currently the vertical-pod-autoscaler/README.md states the following:

When I go to the corresponding release page, I see that vertical-pod-autoscaler@v0.9.2 release is marked as `pre-release` which means that the release is non-production ready. See https://github.com/kubernetes/autoscaler/releases/t

[2021-05-25 14:14] ialidzhikov commented on #4100
@bskiba, is the v0.9.2 release production ready?

[2021-05-25 15:31] bskiba commented on #4100
Recommendation generation and API are GA quality.
Updater and Admission Controller (automatic application of recommendations) is Beta quality.

So this is kind of blocking us from marking the entire release as GA.

[2021-05-25 15:36] ialidzhikov commented on #4100
I noticed that `vertical-pod-autoscaler@v0.9.0` is marked as pre-release as well - ref https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.9.0. So I assume we can update from 0.9.0 to 0.9.2 right?

So these statements apply not particularly for 0.9.2 but for all vertical-pod-autoscaler versions, right?

[2021-05-25 15:43] bskiba commented on #4100
Yes, you're correct.

[2021-05-25 15:44] ialidzhikov commented on #4100
Ok, thanks for clarifying. I will then close this issue.

/close

[2021-05-25 15:45] #4100 closed

[2021-05-25 20:58] #3892 closed

[2021-05-26 11:27] ivanov-aleksander commented on #4075
@johanneswuerbach could you help with this bug?

[2021-05-26 11:28] es1o commented on #3309
/remove-lifecycle stale

[2021-05-26 12:38] johanneswuerbach commented on #4075
The config seems wrong, could you try to configure it like?

[code]

[2021-05-27 00:43] cabrinha commented on #4074
I was affected by this same issue until I looked closely at the OIDC provider for the EKS cluster.

Running in cn-north-1, OIDC provider Audience is set to `sts.amazonaws.com.cn`, you need to manually add `sts.amazonaws.com` to the audience list.

[2021-05-27 09:31] krzysied commented on #4057
@rmb938  I still don't understand the explanation regarding the race. Could you explain it by describing a specific case?

IIUC you are saying that lease is updated correctly (it is expected to be at most 10s old then). Based on that [the status check](https://github.com/kubernetes/autoscaler/blob/2542e8c884a8e25634d3b8f43243fa8706007f30/vertical-pod-autoscaler/pkg/utils/status/status_object.go#L1

[2021-05-27 12:17] tarapon commented on #4036
I have the same issue.

It looks like while fetching pricing file (in my case it's https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-west-2/index.json) it gets OOM error.

Currently file size is around 130Mb.  As a workaround I increased memory limit for autoscaler deployment to 1Gi

[2021-05-27 17:04] #3843 closed

[2021-05-28 10:13] #3477 closed

[2021-05-28 14:16] #3645 closed

[2021-05-28 16:42] devkid commented on #3949
I think I have finally figured out the mechanisms of action for this bug:
* This only happens during binpacking operations where nodes are scaled down to move pods to other nodes. Only in this scenario it can happen that node drain / deletion is initiated while there are still pods running on the node.
* The node draining during binpacking can take a long time if pods have a long terminationGraceP

[2021-05-28 22:33] vladimirtiukhtin opened #4107 "Set node group pool1 size from 0 to 0, expected delta 0"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

v1.21.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

[code]

**What environment is this in?**:

Hetzner Cloud

**Commandline**
[code]
**What did you expect to happen?**:

Node scaling to work

**What happened instead?**:

[code]

**How to reproduce it (as mi

[2021-05-30 16:15] sibucan commented on #3965
I've been doing some experimentation, and I think this happens when the ratio between the original memory requests/limits on the Deployment is a floating point number, instead of an integer. The admission controller is supposed to take the recommendation from the VPA, and calculate the limit based on the aforementioned ratio. That calculation is performed here:
https://github.com/kubernetes/autosc

[2021-05-31 13:37] kalamba commented on #4107
Hi!
I think when you run some app, cluster-autoscaler will trigger up starting new node.
In my case,  cluster-autoscaler triggered up  a new node only after I deployed an application.

[2021-05-31 16:11] marwan116 commented on #3780
@anandnilkal - can you provide an update that tainting and tagging the nodegroup is still working with scaling from 0 ? (the reason I ask is this issue doesn't immediately present itself so it is hard to debug ...)

When I was trying this out, I didn't have any taints on the node group so I didn't think I need to add any tags - maybe it is this edge case of untainted/untagged nodegroups that fails

[2021-05-31 16:44] marwan116 commented on #3780
@anandnilkal - I just tried a tainted/tagged nodegroup. Scaling from 0 worked then I forced a restart of the cluster-autoscaler pod (by deleting the pod) and scaling from 0 stopped working - so the same issue remains.

[2021-05-31 18:11] anandnilkal commented on #3780
@marwan116 i will test this scenario and update in here.

[2021-06-01 10:42] vladimirtiukhtin commented on #4107
Hi @kalamba. Thanks for the tip. The scaler does indeed only react on pending pods regardless of min node count being set explicitly. Not an obvious behaviour

[2021-06-02 08:18] Vaproc commented on #3902
I do have the same issue with v0.9.2. I've seen your PR. When will this be released?

[2021-06-02 08:54] HHK1 opened #4110 "preemptionPolicy: Never conflicts with over-provisioning"
The solution described in the FAQ (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler) to use pause pods with a priority of -1 to force the over-provisioning does not work when the scheduled pods use a PriorityClass with a `preemptionPolicy` set to `Never` (new in Kubernetes 1.18).

It's not linked to a specif

[2021-06-02 08:58] HHK1 opened #4111 "preemptionPolicy: Never conflicts with over-provisioning"
The solution described in the FAQ (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler) to use pause pods with a priority of -1 to force the over-provisioning does not work when the scheduled pods use a PriorityClass with a `preemptionPolicy` set to `Never` (new in Kubernetes 1.18).

It's not linked to a specif

[2021-06-02 08:58] #4111 closed, assigned to nobody

[2021-06-02 17:10] elmiko commented on #2942
i have been continuing to hack on this locally. recently there has been some interesting movement in the cluster-api project around using kubemark for testing in e2e (see https://github.com/kubernetes-sigs/cluster-api/pull/4566).

my current progress is around building a capi cluster with the hollow nodes and then attempting to run e2e tests for the autoscaler on top of that. i think the kubemark

[2021-06-02 17:20] ZhaoNeil commented on #2810
Hi, when I tried `./hack/vpa-up.sh`, it shows:
[code]
and if I run `sudo ./gencerts.sh`, it shows:
[code]
Would you be able to give me any suggestions?

[2021-06-02 21:05] lsowen commented on #3802
I think I have confirmed that my hypothesis in https://github.com/kubernetes/autoscaler/issues/3802#issuecomment-846615442 is correct.

I've deployed a patched version with a workaround (_not_ a fix), which has prevented the issue from re-occurring.

https://github.com/kubernetes/autoscaler/compare/cluster-autoscaler-1.21.0...lsowen:autoscaler-failure-workaround?expand=1

Basically, wait 5 minutes

[2021-06-03 09:32] phenixdotnet opened #4114 "Autoscaler chart is missing some rules"
**Which component are you using?**:
Cluster Autoscaler Helm chart

**What version of the component are you using?**:
Latest

**What k8s version are you using (`kubectl version`)?**:
v1.20.4-eks-6b7464 & v1.19.6-eks-49a6c0

**What environment is this in?**:
EKS on AWS

**What did you expect to happen?**:
Autoscaler can access to all required resource in the cluster or doesn't try to access to unnee

[2021-06-03 10:07] alesavin opened #4115 "Make cluster autoscaler stateful"
**Which component are you using?**:
cluster-autoscaler (CA)

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
CA has leader election mechanism. Leader collects statistics for nodes and could scale down nodes those are marked as unneeded for 10min (default). In case of reschedule CA selects another leader and starts collection of statis

[2021-06-03 14:56] mattyev87 commented on #1907
so whats the resolution here?
We are using the CA, and have an application behind the nginx ingress controller using `externalTrafficPolicy: Cluster` and an internal NLB
We have also activated `cordon-node-before-terminating` on the CA, set the  Deregistration delay to 300 and set up the Lifecycle hook on our ASG to continue after a heart beat timeout of 180 seconds, and we are still getting 5XX w

[2021-06-03 17:26] rdelgaizo commented on #3867
/remove-lifecycle stale

[2021-06-04 10:18] QuentinBisson commented on #3078
@krzysied would it make sense to make a release for this fix? VPA has not been released since January

[2021-06-06 05:33] munjalpatel opened #4117 "Autoscaler in AWS does not scale up"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
k8s.gcr.io/autoscaling/cluster-autoscaler-amd64:v1.20.0

**What k8s version are you using (`kubectl version`)?**:
[code]

**What environment is this in?**:
AWS EKS

**What did you expect to happen?**:
I have 3 `managed` ASGs with 1 instance each. They have a limit on how many pods they can hos

[2021-06-06 11:33] liwandaniel commented on #4114
Any solutions to solve this problem？I get this error today either

[2021-06-06 11:37] munjalpatel commented on #4117
NVM. I had incorrect tags on my ASG.

[2021-06-06 11:37] #4117 closed

[2021-06-06 12:04] phenixdotnet commented on #4114
@liwandaniel : You can "just" edit the cluster role used by autoscaler to add the missing rules.

[2021-06-07 04:30] amrragab8080 opened #4120 "Scale down node based on node label"
Is it possible to simply just mark a node for terminates in the autoscaler based on setting a node label?
The use-case here is when the CA is used in a [NPD](https://github.com/kubernetes/node-problem-detector)-[Draino](https://github.com/planetlabs/draino) deployment. If NPD has identified an underlying HW problem and draino has cordon off/drained pods.

The cluster autoscaler may not terminate t

[2021-06-07 09:42] krzysied commented on #3078
@QuentinBisson The fix was picked up in the newer versions of VPA. It's definitely available in VPA 0.8.1 and VPA 0.9.x. \
I assume most people use k8s that has version above 1.13, so VPA 0.8.1 can be used -https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#compatibility. \
IMHO I don't feel a strong need  for new 0.7 release.

[2021-06-07 10:17] krzysied opened #4121 "[VPA][E2E] "Actuation does not act on injected sidecars" test is failing"
The VPA E2E test are failing https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-actuation.

The failing test is "Actuation does not act on injected sidecars".

It fails since 2021-05-14 03:20:16 +0000 UTC

First bad run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-actuation/1393043435660775424
Last good run: https://prow.k8s.io/view/gs/ku

[2021-06-07 10:18] QuentinBisson commented on #3078
Oh I'm sorry you are right. I did not notice this was from 2020 🤦🏻

[2021-06-07 12:56] grumpper opened #4122 "Helm Chart Changelog Missing"
**Which component are you using?**:
https://artifacthub.io/packages/helm/cluster-autoscaler/cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I don't see changelog for the helm chart. So there's no way for me to actually learn what are the changes between let's say helm chart version 9.5.0 and 9.9.2. The changelog bu

[2021-06-07 14:36] MattyKuzyk commented on #4078
Any idea as to what's going on here? Is this a common issue with taints?

[2021-06-07 20:34] elmiko commented on #3873
this feature seems reasonable to me

i like that option 1 uses labels to help further refine the search, i would be ok with something that could look at _any resource_ with a `PodTemplate` in its spec, provided that the "anything" has a label or annotation which marks it as such.

i guess that means i like parts of both implementations presented. maybe this is another alternative, eg any object wi

[2021-06-08 02:37] #3795 closed

[2021-06-08 11:01] krzysied commented on #4121
Based on the logs:

[code]
It seems there is a problem with the webhook setup. This may be releated to v1beta being not supported in k8s 1.22 - https://github.com/kubernetes/kubernetes/issues/82021

[2021-06-08 12:41] jppitout commented on #3784
Please could we get more complete documentation on setting up Prometheus as a history provider for the VPA recommender component? For example how to customize it and verify that it is indeed working? Also including whether CPU and memory queries are customizable or not?

It would be nice if the documentation could include which jobs get queried e.g. is it the "kubernetes-nodes-cadvisor" and "kuber

[2021-06-08 13:23] jppitout commented on #3784
Here is another instance where this could have helped: https://github.com/kubernetes/autoscaler/issues/1551

[2021-06-08 17:32] jppitout commented on #3784
/remove-lifecycle rotten

[2021-06-08 18:46] unixfox commented on #3150
/remove-lifecycle stale

[2021-06-08 19:54] elmiko commented on #3150
thanks for the bump @unixfox , i continue to hack away on this. the design has changed slightly since the first round of work on the enhancement. i need to update the enhancement and would like to give a demo at an upcoming cluster-api meeting.

[2021-06-08 23:29] zenbones opened #4125 "[cluster-autoscaler][AWS][EKS] Autoscaler removes node despite pods having no room on any other node, causing constant down/up node cycling"
version 1.20.0

After upgrading our AWS EKS cluster autoscaler to the latest version, we've noticed that it removes underutilized nodes despite the fact that the pod running there can not be successfully moved to another node. Having shut down the node the pod becomes pending because no other node has capacity. The autoscaler notices this, starts up a new node and schedules the pod. 10 minutes lat

[2021-06-09 06:30] zhujik commented on #4122
The helm charts are a mess currently:

* there are 3 different charts available for autoscaler, and that is without the aws/azure etc specific charts
* there is no way for me to know which version of cluster autoscaler can be used for which helm chart version.
* if I want to update to a newer version, I don't know if my values from the previous version still run with the new version.

listing all

[2021-06-09 06:41] zhujik commented on #4122
btw the AWS doc for updating the cluster version just says to disregard the helm charts for cluster-autoscaler and to set the image version directly, which is quite ironic: https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html

[2021-06-09 08:29] #4121 closed

[2021-06-09 09:15] stevehipwell commented on #3776
Either the docs or the template needs updating so this is consistent.

[2021-06-09 09:20] stevehipwell commented on #3776
/remove-lifecycle rotten

[2021-06-09 09:49] mimmus opened #4128 "Autoscaler fails to scale up nodes with pending pods"
**Which component are you using?**:
We are running D2iq Konvoy cluster with Kubernetes 1.19.8 and its 'integrated' cluster-autoscaler addon.

**What version of the component are you using?**:

<pre>
NAME                    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                           APP VERSION
auto-provisioning       konvoy          63

[2021-06-09 12:56] alexcristi opened #4129 "[cluster-autoscaler][AWS] Massive scale-out when using composed topologySpreadConstraints"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version:
1.20.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c4

[2021-06-09 14:09] jadelafuente commented on #3569
/remove-lifecycle stale

[2021-06-09 16:22] zenbones commented on #4125
In case it's helpful...

 - name: cluster-autoscaler
    version: 9.9.2
    repository: https://kubernetes.github.io/autoscaler

---
cluster-autoscaler:
  cloudProvider: aws
  awsRegion: us-east-1
  autoDiscovery:
    clusterName: epicenter-19-a
  nodeSelector:
    kubernetes.io/os: linux
    silo: production
  extraArgs:
    logtostderr: true
    stderrthreshold: info
    v: 4
    balance-similar

[2021-06-09 18:41] zenbones commented on #4125
And here are the logs for, as much as I can tell, one full cycle of scale down due to low cpu usage, scale up due to the pod that was running on the scaled down node being schedulable on the remaining nodes, scale up to place the  pod, and scale down again due to low cpu usage...

[code]

[2021-06-09 21:51] timoreimann commented on #3556
/remove-lifecycle stale

[2021-06-09 23:50] vainkop commented on #2920
I'm using `k8s.gcr.io/autoscaling/cluster-autoscaler:v1.20.0` on EKS 1.20 & have the same problem as @johnjeffers had in the very beginning:
[code]

Here's how I deploy the cluster-autoscaler:

$ cat cluster-autoscaler-iam.json
[code]
$ cat template-trust.json
[code]
$ cat ServiceAccount.yml
[code]

[code]

[2021-06-10 15:08] kalamba opened #4133 "cluster-autoscaler with cloudprovider hetzner utilizes all available api.hetzner.cloud requests limits"
**Which component are you using?**:

cluster-autoscaler (cloud provider hetzner)

**What version of the component are you using?**:

Component version: 1.21

**What k8s version are you using (`kubectl version`)?**: v1.20.5

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"

[2021-06-10 16:53] #3791 closed

[2021-06-10 17:31] jmcdonagh commented on #3935
/remove-lifecycle stale

[2021-06-10 21:25] zenbones commented on #4125
Upon further investigation this problem has nothing to do with the second ASG. Given only the one ASG (we deleted the other one), the autoscaler removes a node in use due to under utilization, then can't find a place to put the Pod it made homeless, so it scales up, rinse and repeat every 10 minutes. Not a particularly useful behavior. Is this expected?

[2021-06-11 00:47] Jeffwan opened #4135 "Support custom metrics in Vertical Pod Autoscaler"
We have a brief chat in this week's sig-autoscaling meeting. We think it's hard to find relationship between metrics and desired pod resources.  This issue is created to track story and attract people has similar requirements.

**Which component are you using?**:
VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Some domains like

[2021-06-11 09:36] vladimirtiukhtin opened #4136 "Add firewall support to Hetzner cloud"
**Which component are you using?**:

hetzner autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Currently nodes created by the sclaler has no firewall. I have to configure local iptables which is not very convenient

**Describe the solution you'd like.**:
I would like to have an environment variable where I can put firewall I

[2021-06-11 18:56] #3786 closed

[2021-06-11 18:56] #3785 closed

[2021-06-11 22:27] Dmitry1987 opened #4138 "[cluster-autoscaler] Azure VMSS mode, looks for raw short k8s host names in Azure API"
**Which component are you using?**:
cluster-autoscaler  v1.20.0

**What version of the component are you using?**:
v1.20.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:
Azure , vmss mode (not AKS)

**What did you expect to

[2021-06-12 17:33] ruckc opened #4139 "AWS IAM Policy"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.21.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6b7464", GitCommit:"6b746440c04cb81db44

[2021-06-13 16:07] #2943 closed

[2021-06-14 13:37] saeid93 commented on #4013
Hi, I'm having the same problem, were you able to figure out a way?

[2021-06-14 13:42] saeid93 opened #4140 "Is there a way to access VPA from Python code?"
Hello everyone, Is there a way to use the [kubernetes python client](https://github.com/kubernetes-client/python/) api to access the vertical pod autoscaling functionalities through Python code? In the [documentation](https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md), I can only see API endpoints for [horizontal pod autoscaler](https://github.com/kubernetes-client/pytho

[2021-06-14 14:41] pgier opened #4141 "CPUThrottlingHigh alert for metrics-server-nanny (addon-resizer:1.8.11-gke.0)"
**Which component are you using?**: addon-resizer and metrics-server

**What version of the component are you using?**: 1.8.11-gke.0

Component version: 1.8.11-gke.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:

[2021-06-14 16:57] spkane opened #4142 "CA priority expander should fallback to lower priority node groups when a cloud quota has been hit"
**Which component are you using?**:

cluster-autoscaler w/ the priority expander in AWS

**What version of the component are you using?**:

- cluster-autoscaler:v1.18.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

Server Version: version.Info{Major:"1", Minor:"18+", GitVers

[2021-06-14 17:12] #3813 closed

[2021-06-15 01:41] lawliet89 commented on #3506
/remove-lifecycle stale

[2021-06-15 23:12] technicianted commented on #3644
What's the status of [plugable-provider-grpc.md](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/plugable-provider-grpc.md)? Seems to be the most promising.

@hectorj2f

[2021-06-15 23:33] Niksko opened #4148 "[VPA] Constantly updating recommendations lead to constant pod eviction"
**Which component are you using?**:

VPA

**What version of the component are you using?**:

k8s.gcr.io/autoscaling/vpa-admission-controller:0.9.0

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit

[2021-06-17 06:43] Jeffwan commented on #4140
VPA is a CRD and you will need to use custom resource api and put Group Kind information.
Check this for an example

https://github.com/kubernetes-client/python/blob/master/examples/namespaced_custom_object.py

[2021-06-17 06:45] Jeffwan commented on #4148
em.. I remember the sync period is 1min by default. What's your setting. Could you sharing VPA logs?

[2021-06-17 09:11] thesuperzapper commented on #3947
I think this feature is important.

Not sure If I have permission to remove stale, but here goes:
/remove-lifecycle stale

[2021-06-17 12:02] saeid93 commented on #4140
Thanks! That solved my problem.

[2021-06-17 16:44] spanktar commented on #2045
/remove-lifecycle rotten

[2021-06-17 19:41] rdzimmer opened #4150 "Concern over use of container_memory_working_set_bytes for memory calculations"
**Which component are you using?**: VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
I must admit I am new to using VPA's, however as I look at the implementation I have a question/concern, and potential idea.
In https://github.com/kubernetes/autoscaler/pull/2266, a switch was made from `container_memory_usage_bytes` (total usage

[2021-06-18 13:56] tx-kstav opened #4152 "[VPA] issues with OOM events"
**Which component are you using?**:
VPA

**What version of the component are you using?**:

Component version: 0.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTr

[2021-06-18 14:44] bskiba commented on #4152
@krzysied I know you fixed a similar issue with incorrectly discarded OOMs, but the version mentioned here is pretty recent (0.9.2). Can you take a look if it could be related?

[2021-06-18 23:17] Jeffwan commented on #4135
/assign @Jeffwan

[2021-06-19 16:47] #3834 closed

[2021-06-21 12:35] saeid93 opened #4155 "what is the use of vertical pod autoscaler “auto” mode"
As far as I understand from the VPA documentation the vertical pod autoscaler stop/restart the pod based-on the predicted request/limit's lower/upper bounds and target. In the "auto" mode it says that the pod will be stopped and restarted, however, I don't get the point of doing a prediction and restarting the pod while it is still working because although we know that it might go out of resource

[2021-06-21 13:53] MartinEmrich commented on #4129
I can confirm it with a single topologySpreadConstraint:

[code]
After scaling up deployment just 2 to 30 replicas (should have fit easily on a few nodes), CA started to scale up all node groups to the maximum within a few seconds.

(CA 1.20.0, EKS 1.20, 1 ASG per AZ)

Might be related to https://github.com/kubernetes/autoscaler/issues/4099 ?

[2021-06-21 19:27] mparikhcloudbeds commented on #3845
How to resolve this issue for statefulset deployments attached custom storage classes on EKS?

[2021-06-22 07:08] umialpha commented on #3766
/remove-lifecycle stale

[2021-06-22 07:13] umialpha commented on #3766
We face the same problem. Our workaround is adding a dummy controller and vpa support in our forked branch.

[2021-06-22 11:12] sergeyshevch commented on #4136
I guess that it's duplicate of #4008

[2021-06-22 11:22] sergeyshevch commented on #4008
Sorry for delay. I will work on it on this week

[2021-06-22 11:22] marvinpinto commented on #4008
I believe it might already be possible to do what you need. When you supply a nodegroup argument such as `--nodes=1:10:CPX11:FSN1:my-node-group-1`, the autoscaler attaches a label like `hcloud/node-group=my-node-group-1` to each server it brings up. You can use this as a label selector to automatically assign these nodes to the firewall (see applying resources by labels).

[2021-06-22 13:34] LucasRouckhout commented on #4141
We are seeing the same issue on GKE. > 90% CPU throttling on the metric server pod and same logs as you have posted. Will let you know if I discover anything. This sounds familiar to a known issue surrounding CFS quotas.

https://github.com/kubernetes/kubernetes/issues/67577
https://bugzilla.kernel.org/show_bug.cgi?id=198197

[2021-06-22 16:14] jtcarnes commented on #4114
@MarcusNoble didnt see your MR, created the exact same one myself, #4159

[2021-06-22 22:04] vladimirtiukhtin commented on #4136
@sergeyshevch indeed, sorry. I voted for it there

[2021-06-22 22:04] #4136 closed

[2021-06-23 01:56] sergeyshevch commented on #4008
Yeah. This is anothernoption how to do it. But i guees it will be better if we can specify firewall ID on cluster autoscaler.

I also guees that we need a way how to define taints that will be used by nodegroup on This level

[2021-06-23 13:34] metasim commented on #4036
Anyone know if there's an option to disable reading of the pricing file when the `price` auto-expander is *not* being used?

[2021-06-23 23:01] ahg-g opened #4160 "[Action Required] Scheduler moved default plugins to Component Config."
Scheduler made a recent change where the default set of plugins is now set in component config defaulting path. This means to get the default set of plugins, one need to start with a versioned component config type, pass that through the defaulting logic and convert it to the internal type to get the default plugins (default filters).

so the call to [algorithmprovider.GetDefaultConfig()]( https:/

[2021-06-23 23:04] ahg-g commented on #4160
Perhaps CA should have a flag to pass in the scheduler's component config file.

[2021-06-23 23:38] ahg-g commented on #4160
I created https://github.com/kubernetes/kubernetes/pull/103130 to host this function in the scheduler pkg, lets see if the community accepts this.

[2021-06-24 18:31] #3846 closed

[2021-06-24 19:31] #3847 closed

[2021-06-25 06:09] weichuliu commented on #1578
@KJTsanaktsidis We face exactly the same issue -- Consul didn't cleanly exit on nodes CA killed and stale information (services/checks) are left in the cluster until we do a `force-leave`.

May I ask how you solved the issue? Is it by using `DaemonSetEvictionForEmptyNodes`?

[2021-06-25 06:43] KJTsanaktsidis commented on #1578
Took a bit of a look back through how our consul was set up - actually I just decided to live with the fact that the consul agents won't cleanly leave. They get marked as unhealthy (so their service registrations are therefore booted out of rotation) and after 72 hours the consul servers reap them I think.

[2021-06-25 09:22] jsravn commented on #2503
It seems like a fundamental bug with CA, the templated node infos never match the actual node infos as far as I can tell. https://github.com/kubernetes/autoscaler/issues/1676#issuecomment-568189444 describes all the reasons why. To me, it seems the main problem is capacity/allocatable fields. I think this could be fixed by ignoring capacity fields that don't exist when comparing two node groups.

[2021-06-25 09:39] #3251 closed

[2021-06-25 09:58] DavidDarville commented on #3959
I have not observed this issue, after upgrading CA 1.20 - so the bug must be fixed.

[2021-06-25 09:58] #3959 closed

[2021-06-25 12:57] jsravn commented on #2503
^ More than that, the actual memory capacities are way off the templates for the AWS provider. I see there was a PR to tolerate up to 1.5%, but in my testing the variance can be much greater. For instance, spawning an m5.4xlarge in eu-west-1 with amazon linux 2 gives 62Gi of memory - 2Gi off of what the template value provides, which is more than 1.5% (~3%). For an m5.large, I saw around a 6% dive

[2021-06-25 13:29] jsravn opened #4165 "Redesign balance-similar-node-groups logic"
**Which component are you using?**:
cluster-autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Fix --balance-similar-node-groups to work by default for most people.

**Describe the solution you'd like.**:

There are dozens of issues in this repo about how `balance-similar-node-groups` doesn't work correctly. As of now, it se

[2021-06-25 13:43] jsravn commented on #4165
I suppose another approach would be to favor non-scaled node pools when doing least waste (within a threshold, 10% or so...). Or maybe the AWS cloudprovider should reduce the template memory it returns to below that of real nodes, since it always seems to be greater than actual memory available.

[2021-06-27 00:48] #3851 closed

[2021-06-27 11:21] Shaked commented on #894
Is this possible somehow?

[2021-06-28 09:04] rimusz opened #4168 "Add support for AWS Osaka region"
**Which component are you using?**:

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

**Describe the solution you'd like.**:

**Describe any alternative solutions you've considered.**:

**Additional context.**:

[2021-06-28 18:49] apoliakovhere opened #4171 "Cluster Autoscale doesn't scale up from 0->n for a custom resource type"
**Which component are you using?**:

Cluster Autoscaler

**What version of the component are you using?**:
cluster-autoscaler:v1.18.3

Component version:

**What k8s version are you using (`kubectl version`)?**:
<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15", GitCommit:"73dd5c84066

[2021-06-29 15:03] #3857 closed

[2021-06-29 15:53] rramadoss4 commented on #1653
We have the same issue in EKS 1.17

[2021-06-30 02:33] weichuliu commented on #1578
@metral  Thank you! good to know about that.

[2021-07-01 08:37] #4168 closed

[2021-07-01 09:24] alexcristi commented on #4099
Hi @MaciekPytel! We've been experiencing the same behavior as @jclangst described when using the `topology.kubernetes.io/zone` spread constraint. Have you considered addressing this issue, too?

[2021-07-01 13:37] 0x0badc0de commented on #3984
/remove-lifecycle stale

[2021-07-01 13:38] 0x0badc0de commented on #3986
/remove-lifecycle stale

[2021-07-01 18:09] zenbones commented on #4125
Important to use image.tag value to get the correct version for the version of kubernetes. By explicitly setting to 1.19.1 we get the correct behavior.

[2021-07-01 18:09] #4125 closed

[2021-07-01 19:34] tmjd opened #4177 "Cluster Autoscaler: When scaling down I don't want a specific auto scaled deployment to block scaling down"
**Which component are you using?**:

Cluster Autoscaler

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

I have a deployment that is auto-scaled based on the number of nodes in the cluster but a minimum number of pods for the deployment are deployed if nodes are available. For example if there are 1-3 nodes available then the same nu

[2021-07-02 05:31] #3865 closed

[2021-07-02 08:21] kolesnevg commented on #3992
The same problem :(

[2021-07-02 10:00] ccc-56 commented on #3978
I have met the same problem using aws EKS v1.19. Anyone know the problem ?
I am also do the configuration according to: https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html.

When add load to my eks cluster, it add nodes and it's ok, but when scaling down there is problem, no matter I set the: kubectl annotate node <nodename> cluster-autoscaler.kubernetes.io/scale-down-disabled

[2021-07-03 09:18] tanvp112 opened #4178 "Cannot pull latest addon_resizer 1.8.13, image not found"
image: k8s.gcr.io/addon-resizer:1.8.11 can be pulled but this version is one year ago.

Trying the latest version resulted to image pull error.

`image: k8s.gcr.io/addon-resizer:1.8.13`

What is the image uri for the latest addon_resizer?

[2021-07-04 05:51] #3503 closed

[2021-07-04 21:42] fernandonogueira commented on #3780
Same here.
Manually setting "desired = 1" in ASG group fixes this until next CA pod restart.

[2021-07-05 00:37] lawliet89 commented on #1869
/remove-lifecycle stale

[2021-07-05 08:32] Noksa commented on #4005
Hello.
Any updates?

[2021-07-05 08:35] palmerabollo commented on #1869
/remove-lifecycle stale

[2021-07-05 11:58] #3874 closed

[2021-07-05 14:15] mkjmkumar commented on #1653
I am facing same error with image:cluster-autoscaler:v1.19.1 on EKS 1.19
After applying the suggestion below
- --leader-elect=false
but after that CrashLoopBackOff and OOM

/reopen
/remove-lifecycle rotten

[2021-07-05 17:18] guyromb commented on #4139
Same on 1.20.4 (EKS)

[2021-07-06 01:42] #4086 closed

[2021-07-07 11:02] mkjmkumar commented on #1653
Somehow below worked for me

- --leader-elect=false
..
..
image: k8s.gcr.io/autoscaling/cluster-autoscaler:v1.19.0
..
..
        resources:
          limits:
            cpu: 100m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 500Mi

[2021-07-07 13:20] MiguelLucas commented on #3798
Would also appreciate if some kind of documentation was provided, as there is tons of information on deploying the cluster autoscaler on GKE but not on GCE only. Thank you

[2021-07-07 13:29] swamat opened #4181 "pod didn't trigger scale-up (it wouldn't fit if a new node is added): 2 Insufficient nvidia.com/gpu"
**Which component are you using?**:kubernetes

clusterautoscaler

**What version of the component are you using?**:1.18.1

Component version:

**What k8s version are you using (`kubectl version`)?**:1.18

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc137

[2021-07-07 23:29] technicianted opened #4182 "[CA] kubemark tag builds faulty: panic: ./cluster-autoscaler-amd64 flag redefined: log_dir"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: cluster-autoscaler-release-1.21 and master

**What k8s version are you using (`kubectl version`)?**:

n/a

**What environment is this in?**:

linux

**What did you expect to happen?**:

Binaries built with `kubemark` tag should work.

**What happened instead?**:

[code]

*

[2021-07-08 08:36] #4114 closed

[2021-07-08 14:47] gboor commented on #4141
I just ran into this as well. For now I've disabled the alert, but it would be nice to get some sort of fix. Strangely this suddenly started happening on a cluster that is over a year old. 8 hours ago the metrics-server restarted (same version) and these alerts started popping up... no idea why it didn't happen before.

[2021-07-08 18:29] sergeyshevch commented on #4133
@kalamba Reproduced on my hetzner cloud deployment. That look realy bad because it can prevent cluster from scaling in some cases

[code]

[2021-07-08 19:24] sergeyshevch commented on #4008
I added PR that will add support for hcloud firewall

[2021-07-08 19:37] sergeyshevch commented on #4107
I'm sure with both opinions. As i red in code other providers will create node only if there are pending pods, but i'm also will like if CA create nodes regarding min node count.

[2021-07-08 20:24] robert-heinzmann-logmein opened #4186 "Introduce special error type for retryable Errors ("retryableCloudProviderError")"
**Which component are you using?**:

Cluster Autoscaler on EKS

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

In larger accounts with a lot of ASG's, you may hit an error with the API Rate Limit.

[code]

Currently the metrics exposed (see https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/metrics.md)

[2021-07-09 08:31] PrakashTrove commented on #3556
By following this issue #3469, finally, I guess I am in the right place.

I'm adding my request as well.

DOKS's default Cluster-Autoscaler(CA) supports node scaling down after 10 minutes.
However, I intended to adjust the parameter values to one minute.
[Parameters](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca) —delay-after-add and —

[2021-07-09 08:47] marcbachmann commented on #3556
I think the focus at the moment is to implement the cluster api with https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean. That could replace the specific autoscaler implementation in this repo.

[2021-07-09 10:49] swamat commented on #4181
After adding the tags as per https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html . Its working fine.

[2021-07-09 10:49] #4181 closed

[2021-07-09 12:55] pierluigilenoci opened #4188 "ArtifactHub not updated with the latest releases of the chart"
**Which component are you using?**:

helm-chart

**What version of the component are you using?**:

Component version: 9.9.2

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> not relevant</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

not relevant

**What did you expect to happen?**:

I expect to se

[2021-07-09 13:21] MarcusNoble commented on #4188
@pierluigilenoci It's currently waiting on this PR being merged: https://github.com/kubernetes/autoscaler/pull/4180

[2021-07-09 13:23] pierluigilenoci commented on #4188
Thank you!

[2021-07-09 13:23] #4188 closed

[2021-07-09 14:44] v1nc3nt27 commented on #3780
Got the same problem...so the only real solution (except for manually setting the desired capacity after each CA pod restart)  is to leave desired at least at 1...?

[2021-07-09 15:16] stevehipwell opened #4189 "[ca] AWS docs don't have the taint value in the ASG tag"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
n/a

**What k8s version are you using (`kubectl version`)?**:
n/a

**What environment is this in?**:
n/a

**What did you expect to happen?**:
I expected the documents for tagging taints in AWS to reference the taint value but they don't, when looking at the tests it appears that the value shou

[2021-07-10 10:09] migueleliasweb commented on #3614
I'm after a solution for this as well. I have a home lab that I would love to add this kind of functionality. I reckon once
https://github.com/kubernetes/autoscaler/issues/3644 is merged it becomes a matter of time (not much for a simple-ish autoscaler) to get this working.

[2021-07-12 04:51] tomkerkhove commented on #3991
/remove-lifecycle stale

[2021-07-12 04:51] tomkerkhove commented on #4007
/remove-lifecycle stale.

[2021-07-12 06:25] Slach commented on #4036
`--aws-use-static-instance-list=true` could be added to `command` in `spec.containers` for your `kind: Deployment` cluster autoscaler, look to  https://github.com/kubernetes/autoscaler/issues/3095 , for details
thanks a lot for @shyiko for explain details

[2021-07-12 08:22] gjtempleton commented on #4178
The community Docker registry paths have changed since the infrastructure was migrated from Google to the community. You can [read more about that here](https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/Vanity-Domain-Flip.md).

The image you're looking for can be found as `k8s.gcr.io/autoscaling/addon-resizer:1.8.13`, and the old images have also been migrated to these new paths, so you ca

[2021-07-12 09:18] elenz97 opened #4190 "Chart release for cluster-autoscaler-chart in version 9.10.2 missing"
**Which component are you using?**:

Helm chart `cluster-autoscaler-chart`

**What version of the component are you using?**:

[`cluster-autoscaler-chart`](https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-chart-9.10.2) in version `9.10.2`

**What did you expect to happen?**:

Installation of the `9.10.2` helm chart should succeed.

**What happened instead?**:

Chart installation fa

[2021-07-12 17:50] jfoechsler commented on #3780
I seem to hit similar issue when using EBS CSI driver, while stateless deployments can scale fine from 0 also after restarting CA.
So I don't know what we are doing differently in regards to that part.
Using CA 1.20.0.

Here is working scale up (before restarting CA):
[code]

And after CA restart:
[code]

[2021-07-12 21:32] obataku commented on #4141
I came across this a couple months ago and I believe the problem should be resolved by https://github.com/kubernetes/autoscaler/pull/4112 (which hasn't landed in a versioned release yet); if you manage your own `metrics-server` deployment then you can opt to downgrade and/or use a prerelease build of addon-resizer for `metrics-server-nanny` but those using GKE will need to wait

[2021-07-13 08:21] bskiba commented on #4141
Release 1.8.14 has just come out that contains the fix for both  #3833 and #4112: https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.14

Could you verify if this fixes the issue with CPU?

[2021-07-13 09:21] Yapcheekian opened #4192 "Linode cluster-autoscaler not working as expected"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:
v1.21.0

**What k8s version are you using (`kubectl version`)?**:
[code]

Cloud Provider: Linode

**What did you expect to happen?**:
I have pods that are in pending state.
[code]
this is the log of cluster-autoscaler:
[code]
I'm expecting LKE node pools to be added to my node groups, but this

[2021-07-13 09:28] haines commented on #4190
This will be fixed in https://github.com/kubernetes/autoscaler/pull/4180.

[2021-07-13 09:30] #4192 closed

[2021-07-13 16:57] mattxwang opened #4194 "docs/ci: resolving Travis CI -> GitHub Actions artifacts"
Hello! I noticed that there are two remaining artifacts in the transition from Travis CI to GitHub Actions:

1. the README badge still references the Travis workflow, instead of the new Actions workflows
2. the required check for each PR is still the Travis workflow instead of the new `pr` Action; in turn, this means that every open PR won't pass all required checks, as the Travis workflow is disa

[2021-07-13 22:38] tanvp112 commented on #4178
Thanks a lot for the pointer. I got the broken link from [addon-resizer readme.md](https://github.com/kubernetes/autoscaler/tree/master/addon-resizer#addon-resizer).

[2021-07-13 22:38] #4178 closed

[2021-07-14 19:44] #3858 closed

[2021-07-14 20:44] mattxwang commented on #4194
/kind cleanup

[2021-07-15 13:50] MattJeanes opened #4198 "VPA getting 504 errors from API Server when trying to get a list of cronjobs"
**Which component are you using?**:

vertical-pod-autoscaler

**What version of the component are you using?**:

Component version: https://artifacthub.io/packages/helm/fairwinds-stable/vpa (0.3.4)

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21",

[2021-07-15 14:34] bskiba commented on #4198
Couple clarifications.
1. Can you provide some VPA logs around the issue?
2. Can you check the VPA version reported in the logs? I'm not sure the version you're using is based on this repository - there was no 0.3.4 version of VPA released.

The resource version parameter most probably comes from informer code (we don't list CronJobs directly in VPA code).

[2021-07-15 15:19] MattJeanes commented on #4198
We are currently not experiencing the issue at this time (as it is an intermittent issue), so I will wait for it to re-appear and collect logs for you, assuming of course that it does re-appear.

The Helm chart version does not directly map to the VPA version, so the VPA images of the pods are:
- us.gcr.io/k8s-artifacts-prod/autoscaling/vpa-recommender:0.9.2
- us.gcr.io/k8s-artifacts-prod/autoscal

[2021-07-15 17:42] richerve commented on #778
I'm also interested on this and the information is already collected by cluster-autoscaler so can't understand why not publishing it. Having them behind a feature flag is fair enough I think.

My use case is having min, max and current values per "scaling group" (NodeGroup) to help in building prometheus queries and dashboards around that. Another way would be instrumenting an external service to

[2021-07-15 18:03] tsunamishaun commented on #4052
seems related to [#3802](https://github.com/kubernetes/autoscaler/issues/3802#issuecomment-853382182) ?

[2021-07-15 20:39] mattxwang opened #4201 "feat(CA): more verbose logs for scale-down blocking PDB"
**Which component are you using?**:

The Cluster Autoscaler (CA).

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

Currently at @adobe I'm working with the CA, investigating reasons why it might not scale-in a node properly and resolving them when possible. In my manual investigation, I've been relying on log messages generated from

[2021-07-16 19:41] aandrushchenko commented on #3780
absolutely same symptoms. after restart of autoscaler pod it won't see ASGs at 0 desired capacity. We have to manually push minimum to 1 and then change to 0. Does anyone have an idea of fix?

[2021-07-16 20:23] marwan116 commented on #3780
So I think I figured out the issue in my case and it was due to using what I think is referred to as a predicate as a node affinity label to match on
i.e. I was using this:
[code]
and then I changed to use a custom node label and now the autoscaler is robust to scaling from 0
[code]

the update cluster config file now looks like
[code]

Hope this helps

[2021-07-16 20:35] aandrushchenko commented on #3780
in our case, we don't use `nodeAffinity`, we have `nodeSelector` and `tolerations` set.  worker groups are provisioned with terraform as:
[code]
and the pods will have respective `nodeSelector` and `toleration`

[2021-07-17 00:42] RoesWibowo opened #4202 "EKS v1.17 Auto-scaler Pod CrashLoopBackOff "Failed to get AWS Region""
Hello! I created a new EKS cluster k8s with version v1.17. The pod status is CrashLoopBackOff with restarts:
`cluster-autoscaler-xxx-xxx   0/1     CrashLoopBackOff   7          11m`.

The log shows that the auto-scaler pod is cannot fetch instance metadata:

[code]

I also follow the documentation in [here](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html). Thanks anyway.

[2021-07-18 02:52] ryanfakir opened #4203 "Failed to scale up EKS(1.20) cluster due to "failed to assign an IP address to container""
**Which component are you using?**:

cluster-autoscaler installed by helm. Version: 1.20.

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState

[2021-07-18 04:15] #3889 closed

[2021-07-18 12:11] dpeer6 opened #4204 "feat(CA): EKS private cluster - update instance types"
Hi,

I'm using AWS EKS 1.18 with managed node group and CA 1.18.3 (aka the container image version/tag)

I'm using the cluster autoscaler, deployed by the manifest.

I would like to start and schedule pods on p4d.24xlarge instance types and I get the error:
static_autoscaler.go:268] Failed to get node infos for groups: ASG "eksctl-xxx-NodeGroup-xxxx" uses the unknown EC2 instance type "p4d.24xlarg

[2021-07-18 18:45] adonig commented on #4128
In my case I had to delete my node groups and recreate them with different names.

[2021-07-19 12:32] umialpha opened #4205 "[VPA] Recommender recommends `request` > `limit`"
**Which component are you using?**:
VPA
**What version of the component are you using?**:
0.9.2

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
Client Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.10-BCS.patch.v3", GitCommit:"47a5f679b379dc6962fc0967069f4deb445093d2", GitTreeSt

[2021-07-19 13:07] bskiba commented on #4205
By default, limit is kept proportional to the request (see [limits control section of readme](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#limits-control))

If this behavior doesn't work for you and you want the limit to stay unchanged and for it to be a maximum for recommended request, you can set [ControlledValues](https://github.com/kubernetes/autoscaler/blob/d74

[2021-07-19 16:43] ryanmcnamara opened #4206 "[cluster-autoscaler] Additional expander options"
Users are able to specify the `expander` [option](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) to change which nodegroup (e.g. ASG) is selected when there are multiple that satisfy the scheduling requirements for a pod. The feature request is to allow selecting an additional expanders in the event that the chosen expander *still* arbitrarily ti

[2021-07-20 09:56] cslinuxfr commented on #4139
try this policy:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "autoscaling:DescribeAutoScalingGroups",
                "autoscaling:DescribeAutoScalingInstances",
                "autoscaling:DescribeLaunchConfigurations",
                "autoscaling:DescribeTags",
                "autoscaling:SetDesiredCapacity",
                "autoscalin

[2021-07-20 09:56] aloisiobilck opened #4209 "Logs in json format."
**Which component are you using?**:

cluster-autoscaler-autodiscover.yaml

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

It would be to show the logs in json format. With this it will be possible to analyze the events in a log centralizer such as Graylog.

**Describe the solution you'd like.**:

**Describe any alternative solutions

[2021-07-20 10:19] TBBle commented on #3008
/remove-lifecycle rotten

It'd still be good to follow through some or all of @bubba's changes into the source, so we can have easy Fargate-hosting support for CA.

[2021-07-20 10:37] stevehipwell commented on #4189
/bump

[2021-07-20 10:39] stevehipwell commented on #4097
We've just discovered this issue, are there any plans to resolve or document it?

[2021-07-20 13:27] x13n commented on #4206
`mostpods` and `waste` expanders, similarly to `priority`, have a notion of fallback strategy. Option 1 is much cleaner from API point of view, and also fairly easy to implement - we'd just need to update expander factory to allow chaining (and return an error if there's an expander configured after a one that doesn't need fallback).

[2021-07-20 17:51] rdubya16 commented on #3975
/remove-lifecycle stale

[2021-07-20 20:35] #3433 closed

[2021-07-21 03:07] umialpha commented on #4205
@bskiba  thanks for your reply.
`for it to be a maximum for recommended request`
It is the problem, e.g. we have computer nodes with maximum of 30 cores. Users set `requests == limits == 30`, and p90 usage is 29 cores. The recommender will set `target == 29 * 1.15`  which is larger than 30. It causes the pod stuck in pending.

[2021-07-21 05:13] frittentheke commented on #1317
/remove-lifecycle stale

[2021-07-21 07:23] bskiba commented on #4205
In that case, please set the ControlledValues to RequestOnly as mentioned. In this mode VPA shouldn't recommend more than the limit.
Alternatively you can use [MaxAllowed](https://github.com/kubernetes/autoscaler/blob/d74c8e3b11b3476d509aaae9fbd591eb6dd98960/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L155) to control the maximum value of recommendation.

[2021-07-21 15:08] rimusz opened #4212 "How to pass GCP service account the cluster autoscaler pod"
Is there a way to pass and use GCP service account to Cluster Autoscaler helm chart?
I do not want to update VMs Cloud API scope, but use pass that from the application level.
Thanks

[2021-07-21 15:20] dpeer6 commented on #4204
Can someone help me and change the label to feature request?

[2021-07-21 15:45] rimusz commented on #4212
never mind found it myself :)
Create a secret with GCP service account:
[code]

And add it to the override-values.yaml:
[code]

And install it with:
[code]

[2021-07-21 15:45] #4212 closed

[2021-07-22 06:39] umialpha commented on #4205
Indeed, I set ControlledValues to RequestOnly as you mentioned. So I doubt it is a bug.

[2021-07-22 11:16] stevehipwell commented on #4071
This looks to also be happening with capacity rebalancing.

[2021-07-22 12:13] edgan commented on #3044
I just saw this with `Cluster Autoscaler 1.20.0`. It is a jenkins/kube master running in AWS with an ASG. Two pods, jenkins slave agents, run jenkins jobs every half hour. So 2 jobs * 24 hours * 2(half hour) = 96 jobs daily. The instance in the ASG is fairly static given the frequency of the jenkins jobs.

The cluster-autoscaler is installed via helm, and had been running for about 15 days.

The p

[2021-07-22 12:43] #3592 closed

[2021-07-22 15:41] ryanmcnamara commented on #4206
Thanks @x13n
I'll probably take a shot at this over the next several days and push something else. Would you like to review or know who I should get for a review?

[2021-07-22 16:50] chmodrs opened #4217 "Scale down for any pod without configure pdb"
Hi,

I'm using CA (v1.17.3) in EKS (1.20) cluster and all of my applications (legacy cluster) can be deleted by autoscaler, i really want that if a node is unneeded, CA will remove independently of what pod is running.

I setup this configuration for CA:

[code]

But CA can't scale down any nodes, the most of my nodes are using 10/12% of memory and 5% of cpu and CA still keeps nodes running.

I ge

[2021-07-22 17:14] tculp opened #4218 "Documentation on does-ca-respect-node-affinity-when-selecting-node-groups-to-scale-up is lacking"
CA documentation (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#does-ca-respect-node-affinity-when-selecting-node-groups-to-scale-up) states

"CA respects nodeSelector and requiredDuringSchedulingIgnoredDuringExecution in nodeAffinity given that you have labelled your node groups accordingly."

However, no information is provided as to what "labelled your node grou

[2021-07-22 22:24] tculp commented on #4218
I found the method to do this in:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0

by using a tag like:

"k8s.io/cluster-autoscaler/node-template/label/"

[2021-07-22 22:24] #4218 closed

[2021-07-22 23:50] hryamzik opened #4219 "Scaling down with shared volume and safe-to-evict="true""
**Which component are you using?**:

`cluster-autoscaler`

**What version of the component are you using?**:

Helm version is `9.4.0`

_UPDATE: upgraded to 9.9.2, no difference._

Component version:

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21",

[2021-07-23 00:35] hryamzik commented on #4219
Looks like there's difference between `Annotations:  cluster-autoscaler.kubernetes.io/safe-to-evict: true` and `Annotations:  cluster-autoscaler.kubernetes.io/safe-to-evict: "true"`. First one is not that trivial to set via helm cli, I didn't manage to make it,

[2021-07-23 02:31] ibata opened #4220 "My pod is in the CrashLoopBackOff state after configuring cluster-autoscaler"
**Which component are you using?**:
 cluster-autoscaler

**What version of the component are you using?**:
v1.17.3

Component version:

**What k8s version are you using (`kubectl version`)?**:

kubectl -n kube-system version --short
Client Version: v1.21.1
Server Version: v1.17.17-eks-c5067d
WARNING: version difference between client (1.21) and server (1.17) exceeds the supported minor version ske

[2021-07-23 12:42] x13n commented on #4206
I'm happy to review the change, but you'll still need a repo owner to approve.

[2021-07-23 13:59] wingman-chakra opened #4223 "Pods getting scheduled in node that are being removed"
**Which component are you using?**:

cluster-autoscaler for aws eks

**What version of the component are you using?**:

k8s.gcr.io/autoscaling/cluster-autoscaler:v1.19.1

Component version:

**What k8s version are you using (`kubectl version`)?**:

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTr

[2021-07-23 20:17] kevin-lindsay-1 opened #4224 "[Bug, Cluster Autoscaler] Errors coming from missing permissions for CSI-related API resources"
**Which component are you using?**:

Cluster autoscaler

**What version of the component are you using?**:

Chart version `9.9.2`
Image version `1.21.0`

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7b

[2021-07-23 20:18] kevin-lindsay-1 commented on #4224
It looks like https://github.com/kubernetes/autoscaler/pull/4214 would fix this issue.

[2021-07-26 08:26] stevehipwell commented on #3919
Is this actually an issue?

[2021-07-26 08:42] stevehipwell commented on #3673
Could this issue get re-opened as it's a pretty major defect in the CA chart considering how many labels need to be ignored by CA to make it actually work?

[2021-07-26 08:51] gjtempleton commented on #3673
/reopen

[2021-07-26 08:59] stevehipwell commented on #3673
Thanks @gjtempleton, I'm just writhing a simple PR to solve this.

[2021-07-26 09:11] gjtempleton commented on #3673
No problem, give me a ping once it's ready, and I'll happily review it.

Depending on when you raise it, you may need to cherry-pick [this commit](https://github.com/kubernetes/autoscaler/commit/38e77bec8263aae7ac937cc2562a02461c4b2f0f) in as Github actions not running by default for first-time contributors has bitten us. Looking to move to ensure they always run in the SIG meeting this afternoon.

[2021-07-26 09:38] EKami commented on #4220
Same issue here with version ` v1.20`, everything was working fine 1 week ago until I redeploy a new cluster and cluster-autoscaler starts crashing with no apparent reason (even the logs on the `deployment`/`pod` doesn't give any clue on what's happening)

[2021-07-26 10:06] #3673 closed

[2021-07-26 12:39] bpineau commented on #4219
Note there's a `--skip-nodes-with-local-storage` option, defaulting to `true`:

[2021-07-26 12:49] rubroboletus commented on #4220
Hi. was in same situation, do you use requests / limits settings for cluster-autoscaler? About 2 weeks ago, there was enough limit 300M RAM, now 500M is required. If you use lower number, OOM kills appear.

[2021-07-26 12:51] bpineau commented on #4217
Scale downs might be held for various reasons. Are nogroups `minSize` reached? Have your workloads exceeded their `podDisruptionBudget`? did you account for daemonsets and mirror pods in actual usage (or tried to run with `--ignore-daemonsets-utilization`)?

You might see logs giving hints like that one (though I'm not 100% sure that was already logged by CA 1.17 time):
[code]

[2021-07-26 13:31] EKami commented on #4220
I do use a `300Mi` limit yeah, that's weird it changed just like that since I didn't change the package version, it's exactly the same config as what I had a week prior :thinking: .
I'll try removing the limit, thanks for the pointer :)

[2021-07-26 13:51] bpineau commented on #4204
What issue did you encounter with `gen.go`? Did you provide aws creds, and pass a region name? eg.
[code]

Depending on your constraints (wether that account for internet access or not), a VPC endpoint might be an option?

I personally had no issues running recent cluster-autoscaler on older clusters, but that's not a supported configuration (misbehaviours are unlikely but not impossible); indeed

[2021-07-26 14:01] bpineau commented on #4203
The cluster-autoscaler upscales for non-scheduled pods (when possible); if the pod is already scheduled (ie. has a `spec.nodeName` attribute) the autoscaler won't try to upscale (even if the CNI can't provide an address).

Kubelet can be configured for a maxPods value (so it won't get pods to which it wouldn't be able to provide IP addresses).

[2021-07-26 14:57] gjtempleton commented on #3955
Thanks for raising this. This is definitely an issue we should handle.

/remove-lifecycle rotten

[2021-07-26 18:03] gjtempleton commented on #4190
This should now be resolved, you should be able to fetch and install releases up to `9.10.3`.

As an extra point, I've kicked off [this PR](https://github.com/kubernetes/test-infra/pull/23024), which once merged should prevent this lag between releases being published and the charts being able to be installed happening in the future.

cc: @stevehipwell

[2021-07-26 18:41] EKami commented on #4220
@rubroboletus It worked, thanks! :)

[2021-07-27 06:21] #4190 closed

[2021-07-27 08:48] nshekhar221 commented on #4129
Observing the same behaviour after testing with v1.21 ,

- In the AWS environment with the ASGs split-by-az (1 ASG for each availability zone with
balance-similar-node-groups flag enabled)
- for deployment with `failure-domain.beta.kubernetes.io/zone` topologySpreadConstraints.

[code]

Taking it a bit further, tried with the changes suggested in #4099 (ie. Adding a predicateChecker.CheckPredicate

[2021-07-27 09:08] stevehipwell opened #4228 "[cluster-autoscaler] Missing AWS ignored labels"
**Which component are you using?**:
_cluster-autoscaler_

**What version of the component are you using?**:
`v1.21.0`

**What k8s version are you using (`kubectl version`)?**:
n/a

**What did you expect to happen?**:
Ignore all AWS default labels that shouldn't have any impact on scaling and document those that could be ignored as a preference.

**What happened instead?**:
The [code](https://githu

[2021-07-27 09:21] stevehipwell commented on #4189
The code clearly states that this is the case so I'll go ahead and open a PR to correct this.

https://github.com/kubernetes/autoscaler/blob/b6a5cdc8002346d3825fe3dff89bfa746ad37d0d/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L452

[2021-07-27 13:45] dpeer6 commented on #4204
I could not get the docker image build, when I fetched the branch for 1.18.3 release.
I might be missing something but could not find to right docs/procedure to follow. can you guide me here?
I tried building it and failed (i'm not a go expert but build before go projects).

I do like to report that CA version 1.21.0 does the work for us for now, scaling up and down as expected, with the p4d.24xla

[2021-07-27 16:53] kevin-lindsay-1 commented on #4224
Yep, looks like it's fixed.

[2021-07-27 16:53] #4224 closed

[2021-07-28 07:14] james-callahan commented on #4114
This is still missing from e.g. https://github.com/kubernetes/autoscaler/blob/23fdf63bfc7a1129e9cf0cbc512dc30f56420af3/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml

[2021-07-28 08:03] prithulagta commented on #4005
Hi team, it will be really handy to have this feature as it will reduce  the time for Pending pods to get scheduled via cluster autoscaler.

[2021-07-28 11:14] guyguy333 commented on #4049
/remove-lifecycle stale

[2021-07-28 12:14] mercuriete commented on #4220
Confirmed
changing from 300MiB to 500MiB fixes the problem.

I am running an 1.20 cluster with a node group using the 22-07-2021 AMI linux.
Starting to fail this Monday after a node group update.

thanks.

[2021-07-28 12:42] krzysztof-bronk commented on #4098
Which version of CA are you using? This sounds like the bug fixed in 1.20.0+, where if a group matched 2 priorities, it could pick the lower one randomly rather than the highest one. While this fix was backported to 1.19.1, there was no release with this fix.

I think there is another problem with the "on-demand fallback" I see described on blog posts and in the official docs - those examples only

[2021-07-28 13:47] QuentinBisson commented on #3982
/remove-lifecycle rotten

[2021-07-29 03:24] Niksko opened #4230 "[VPA] Ability to control amount of acceptable throttling"
**Which component are you using?**:
VPA

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
We have a number of workloads (cluster-autoscaler) being a good example, where we have to constantly tweak the request:limit ratio in order to avoid the workload being throttled. This work is toil, and we would like an automated way of handling th

[2021-07-29 10:25] anemptyair opened #4231 "Cluster autoscaler ignore node taints?"
**Which component are you using?**:
k8s.gcr.io/autoscaling/cluster-autoscaler:v1.16.6

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:
Cluster auto scale ignore node taints

We have added some taints for cluster nodes. Auto scale will failed when node are enough but with taints that pods can not be schedule into them.
Can cluster auto

[2021-07-29 10:36] infa-ddeore commented on #3673
any chance it will be available in next ~5-10 days?

[2021-07-29 10:38] stevehipwell commented on #3673
@infa-ddeore this has already been merged and released.

[2021-07-29 10:38] gjtempleton commented on #3673
The fix was implemented by [this PR.](https://github.com/kubernetes/autoscaler/pull/4226) It should be available as of the release of version `9.10.3` 3 days ago, have you tried that version?

[2021-07-29 10:56] infa-ddeore commented on #3673
didnt see github `merged` message, will try the chart, thx

[2021-07-29 11:07] infa-ddeore commented on #3673
it adds `_1` and `_2` to `--balancing-ignore-label` arguments, will it work with cluster-autoscaler?

[code]

[2021-07-29 11:22] stevehipwell commented on #3673
@infa-ddeore the chart values explains how this works and the deployment template has the implementation in it. Basically the `extraArgs` chart value is a map type meaning that a key can only appear once which would not work for an argument called multiple times; so the workaround is for you to suffix the argument with an underscore and anything else to make it unique which will be removed in the

[2021-07-29 11:56] infa-ddeore commented on #3673
my bad, i found the problem, my command was using `https://charts.helm.sh/stable` repo which  doesnt have `9.10.3` chart, however helm didnt error out with chart not found message because my current working dir had `cluster-autoscaler` folder with old version of chart so helm was using that.

this now looks fine:
[code]

which helm repo should we use moving forward, https://charts.helm.sh/stable o

[2021-07-29 12:01] stevehipwell commented on #3673
https://charts.helm.sh/stable is [deprecated](https://helm.sh/blog/charts-repo-deprecation/).

[2021-07-29 16:50] adamnovak commented on #4048
It looks like `NodeResourcesMostAllocated` and `safe-to-evict:false` were the right way to explain to Kubernetes that scaling down the nodes as soon as a large fraction of their jobs finish is a Bad Idea. When I adopted those the problem went away.

I would still suggest changing the defaults, but I suspect that's unlikely to happen.

[2021-07-29 16:50] #4048 closed

[2021-07-29 16:58] #3591 closed

[2021-07-30 03:56] RiddlerKnight opened #4232 "Chart from "https://kubernetes.github.io/autoscaler" version 9.10.3 is not properly config."
This is chart version 9.10.2
![2021-07-30_10-51-43](https://user-images.githubusercontent.com/15905772/127597800-5569c11f-e43b-40a9-9091-bb82014417c3.jpg)

but chart version 9.10.3, there are no files inside.
![2021-07-30_09-44-55](https://user-images.githubusercontent.com/15905772/127597857-db70506d-effb-487d-8e91-920e0d66f1df.jpg)

[2021-07-30 14:21] ekamdz commented on #2920
@Jeffwan , Is it available for 1.18 Cluster autoscaler?

I am using image **_k8s.gcr.io/autoscaling/cluster-autoscaler:v1.18.3_**

Getting this error:-
[code]

[2021-07-30 14:28] ekamdz commented on #4074
@hypnoce @cabrinha , any update on this ? I am facing the same.
My OIDC provider Audience is set to **sts.amazonaws.com**

[2021-07-30 16:55] hypnoce commented on #4074
@ekamdz yes we had a typo in the audience name `amzonaws.com` instead of `amazonaws.com`. Maybe you have another issue in your config.

[2021-07-30 17:15] burdzwastaken commented on #3029
/reopen
/remove-lifecycle rotten

[2021-07-30 17:40] mattxwang commented on #4194
Looks like this is resolved now, closing!

[2021-07-30 17:40] #4194 closed

[2021-08-01 13:38] MattJeanes commented on #1298
/remove-lifecycle stale

[2021-08-01 18:57] azhurbilo commented on #3241
/remove-lifecycle stale

[2021-08-02 03:39] Jeffwan commented on #3913
/remove-lifecycle stale

We are still working on this

[2021-08-02 07:31] waiariki-koia commented on #3868
/remove-lifecycle stale

[2021-08-02 16:42] hryamzik commented on #4219
This pod annotation should work:

[2021-08-03 08:15] bpineau commented on #4231
If those taints names are known in advance, there's a `--ignore-taint` flag to that effect.

[2021-08-03 10:50] amitbitcse commented on #4036
@Slach I am using KOPS and was trying to install cluster autoscaler as KOPS Addon. Refer https://kops.sigs.k8s.io/addons/#cluster-autoscaler
I don't see an option to pass extra args while installing CA as KOPS Addon. Do you happen to know any workaround for this.

[2021-08-03 12:09] Slach commented on #4036
@amitbitcse I don't use kops, according to kops source https://github.com/kubernetes/kops/blob/master/addons/cluster-autoscaler/v1.8.0.yaml#L217-L223
You should try to customize deployment parameters to pass advanced parameters into kops auto-scaler addon to use static instance list, feel free to make pull request

[2021-08-04 05:45] orsher commented on #3241
Any updates regarding this? It's super important for us and I'm sure for many others.
Also, where this magic number "15 min" is set? Is it configurable?

[2021-08-04 08:02] nshekhar221 commented on #4129
@MaciekPytel Does the changes https://github.com/kubernetes/autoscaler/compare/cluster-autoscaler-release-1.21...nshekhar221:cluster-autoscaler-1.21.0-with-fix looks like something that can be solution for this issue?

Initial testing logs (shared above) suggests that it help with the massive scale out using  failure-domain.beta.kubernetes.io/zone topologySpreadConstraints.

Also kindly let us kno

[2021-08-04 20:57] #3927 closed

[2021-08-04 23:35] TBBle commented on #3230
/remove-lifecycle stale

[2021-08-05 07:49] x13n opened #4240 "Release Cluster Autoscaler 1.22"
Now that Kubernetes 1.22 [was released](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md), we should cut a new Cluster Autoscaler version.

[2021-08-05 14:09] x13n commented on #4240
Release branch was created: https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-release-1.22

[2021-08-05 14:17] bpineau commented on #4240
Let's remember [cluster-autoscaler/version/version.go](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/version/version.go#L20) update (missed the 1.21 release)

[2021-08-05 14:26] x13n commented on #4240
Yeah, I'll bump it on the release branch after fixing the deps, I wonder if it should be something like "head" on the master branch though.

[2021-08-05 19:19] gjtempleton commented on #4232
Hey, thanks for raising this issue.

Do you have any data on when this was (I assume) synced to whatever tool you're using? I suspect it may have performed a sync in a period where the link to the file for the 9.10.3 release was incorrect and would have resulted in the `versionUrls` you see in the second screenshot above. This should have been resolved by the merging of #4227, so if you're able to

[2021-08-05 19:23] #4045 closed

[2021-08-05 21:05] skorati opened #4242 "cluster-autoscaler pod gets stuck in initializing state"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.19, 1.20

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**:

**What did you expect to happen?**:
I expected that cluster

[2021-08-05 23:14] #3908 closed

[2021-08-06 05:39] RiddlerKnight commented on #4232
I added this chart to rancher since 11 jul 2021 as helm3 chart. I have re-add the chart again now it work properly.

Thanks.

[2021-08-06 05:45] #4232 closed

[2021-08-06 06:15] #3901 closed

[2021-08-06 11:40] carpenterbees commented on #3978
I also faced this issue:
cluster-autoscaler:v1.16.5

pods are annotated as `cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` anyway nodes under these pods were removed without any traces in cluster-autoscaler log that node is hosting "not safe to evict" pod.

Can soembody confirm that this annotation is recognised by cluster-autoscaler and is working as described in docs?

[2021-08-06 14:16] #3798 closed

[2021-08-07 03:53] innovate-invent commented on #3852
/remove-lifecycle stale

[2021-08-08 21:10] damirda commented on #3916
@innovate-invent: I like the idea of setting `max-age-before-scaling` per pod, and it should be easy to implement, but what do you mean by "tagging pods"? You mean by using annotations?

[2021-08-08 21:33] innovate-invent commented on #3916
yes, annotations. I need a way to specify these per pod.

[2021-08-08 21:34] innovate-invent commented on #3852
Closing in place of #3916

[2021-08-08 21:34] #3852 closed

[2021-08-09 05:26] jolestar commented on #3506
Fixed by increment the memory limit to 800Mi

[2021-08-09 11:14] mindw commented on #3506
That option was mentioned and referenced above several times. https://github.com/kubernetes/autoscaler/issues/3506#issuecomment-779212533 Idea of having the list provided as input is IMHO one of the better options.

[2021-08-09 11:21] towca commented on #4240
I think on master it should be bumped to whatever k8s version we're updating the vendor to (e.g. `1.23.0-alpha.0`). We could do that automatically in the update-vendor script, WDYT?

[2021-08-09 12:57] x13n commented on #4240
Yup, that's exactly why I sent https://github.com/kubernetes/autoscaler/pull/4245 :) Can you review it?

[2021-08-09 13:09] x13n commented on #3916
Making this a per-pod setting complicates the logic. Can you describe the problem you're trying to solve by making it per-pod rather than a global flag?

Unless I'm missing something, `max-age-before-scaling` annotation doesn't solve the problem of overloading kube-apiserver. If a 500-replica batch job is created, it will still do a single huge scale up, except it will happen `max-age-before-scali

[2021-08-09 14:56] darrenfurr commented on #3650
/remove-lifecycle stale

[2021-08-09 14:59] sanjeevpandey19 commented on #3650
@darrenfurr is it still not solved for you ?

[2021-08-09 14:59] sanjeevpandey19 commented on #3650
I updated the cluster autoscaler and it started working in my environment

[2021-08-09 18:09] innovate-invent commented on #3916
I didn't have batch jobs in mind when describing this, but I think it would still work.
Lets say we submit a 500 replica batch job with annotations `max-age-before-scaling: 20s`, `max-scale-candidates: 10`, and `parallelism: 50`.
The scaler collects a complete list of all unassigned pods. The list is sorted ascending on `max-age-before-scaling` (with a default of 0 if unspecified) and pods are ass

[2021-08-09 19:44] elmiko opened #4249 "cluster autoscaler OVHcloud provider uses sha1 module which produces warnings in security linters"
in the module [`ovh.go@L355`](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/ovhcloud/sdk/ovh.go#L355), the provider uses a SHA1 value. this usage produces warnings with security linters like [Coverity](https://scan.coverity.com/).

although this usage is not problematic by itself, it would be nice to have a comment that signals the owner's acknowledgement of

[2021-08-10 05:20] techdragon commented on #3068
/remove-lifecycle stale

[2021-08-10 12:06] towca opened #4251 "Cluster Autoscaler patch releases"
Hi! I want to cut new Cluster Autoscaler patch releases for 1.19, 1.20 and 1.21 (if needed) early next week. If there are any bugfix cherry-picks you want included, please prepare the PRs and let me know in the comments.

Tagging cloud provider owners for visibility:
@ringtail @Jeffwan @jaypipes @gjtempleton @feiskyer @nilo19 @marwanad @hello2mao @davidjumani @enxebre @elmiko @hardikdr @detiber @a

[2021-08-10 12:29] zerthimon commented on #3506
Having the same issue with 1.21.0, downgrading to 1.20.0 fixes the problem.

[2021-08-10 13:16] gjtempleton commented on #4251
Thanks, there are a few on the AWS side that I'll get raised this week.

[2021-08-10 13:44] #3816 closed

[2021-08-10 22:15] Zauxst commented on #3506
I am suffering from this problem as well.. It started with 1.19.1; I've upgraded to 1.20.0 and now I'm looking at upgrading the memory.

We have default configurations.

[2021-08-11 03:28] jawabuu commented on #4133
Ping @LKaemmerling @kalamba Is there a workaround for this?

[2021-08-11 03:51] feiskyer commented on #4251
@marwanad could you cherry-pick the fix #4130 to these branches?

[2021-08-11 04:59] tomkerkhove commented on #4007
/remove-lifecycle rotten

[2021-08-11 07:49] x13n commented on #4240
GitHub release created: https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.22.0

[2021-08-11 07:58] sbellan opened #4252 "Cluster Autoscaler not balancing"
cluster-autoscaler 1.19.1

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020-12-08T17:59:43Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1

[2021-08-11 10:20] #4240 closed

[2021-08-11 10:44] dany74q commented on #3802
I've been experiencing similar symptoms to what's described here.

@lsowen - I think the race is a tad bit more specific - from what I see at least, it seems like
the cache is populated (and existing entries overridden) from the k8s api server on every autoscaling attempt;

I believe the flow is the following:
- We take all relevant nodes from the k8s api server - this uses a `ListWatcher` behind

[2021-08-11 11:47] kklimonda opened #4254 "[magnum] Scaling down nodegroups to 0 requires microversion bump"
**Which component are you using?**: autoscaler with magnum

**What version of the component are you using?**: v1.22.0

Component version:

**What k8s version are you using (`kubectl version`)?**: 1.21.1

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version

</pre></details>

**What environment is this in?**: testing with magnum from wallaby openstack release

[2021-08-11 13:10] lsowen commented on #3802
@dany74q I agree that the issue arises when a node group is scaled down to 0 and cannot scale back up, caused by a corruption in the cache of labels that autoscaler is using.

However, at least in my case, the cache that autoscaler holds is populated by the first node in the group as it boots up, not as it is terminating.  The issue is that not all labels are applied on the node before it is marke

[2021-08-11 13:45] sealneaward opened #4255 "Missing cluster-autoscaler-1.19.* releases"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

cluster-autoscaler-1.19.*

**What k8s version are you using (`kubectl version`)?**:

1.19

**What environment is this in?**:

AWS

**What did you expect to happen?**:

I espected the 1.19 release to still exist on this repository, using this api call: https://api.github.com/repos/kubernetes/

[2021-08-11 13:45] Tenzer opened #4256 "Missing namespaces RBAC permission for cluster-autoscaler"
**Which component are you using?**:

cluster-autoscaler

**What version of the component are you using?**:

Component version: 1.22.0

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
~ % kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.0", GitCommit:"c2b5237ccd9c0f1d600d3072634ca

[2021-08-11 13:47] #4255 closed

[2021-08-11 13:48] hjkatz commented on #3966
/remove-lifecycle stale

[2021-08-11 15:09] lsowen commented on #3802
@dany74q I believe it is because `added` is only true once, when the node is initially not found in the cache:  https://github.com/lsowen/autoscaler/blob/5f5e0be76c99504cd20b7019c7e3694cfc5ec79d/cluster-autoscaler/core/utils/utils.go#L64-L75

[2021-08-11 15:10] dany74q commented on #3802
@lsowen - I thought that might be the case, but the cache is not probed at that point at all, the `result` there is purely local to the function and is being re-calculated on every call, correct me if I'm wrong ofc.

Thanks !

[2021-08-11 15:44] j2udevelopment commented on #3780
We are also experiencing this issue and are not using affinities and antiaffinities, but rather just taints and tolerations (node groups set up with terraform).
We attempted to add a few additional replicas of the CA.  Checking the logs of each shows that there is is a leader election process.  Our hope was that when the leader CA pod went down, it would relinquish its state lock and a new leader

[2021-08-11 17:09] sbellan commented on #4252
ok, I get it now, misunderstood the following statement from the documentation,

`Currently the balancing is only done at scale-up. Cluster Autoscaler will still scale down underutilized nodes regardless of the relative sizes of underlying node groups. We plan to take balancing into account in scale-down in the future.`

So the next time extra capacity is needed it will bring up the node in the ot

[2021-08-11 18:52] sbellan commented on #4252
Ok, confirmed that with zone based topologySpreadConstraint, new node was brought up in both the AZ's... Thanks for your help,

[code]

[2021-08-11 18:52] #4252 closed

[2021-08-11 20:48] tayritenour commented on #1996
This is still an issue, even in the latest version of the cluster autoscaler, v1.21.0

[2021-08-12 00:01] jamesdehart commented on #4256
I saw this same error and I'm running the same version as you. Just before that error I also see:

[code]

To help here is the method that is sending the error [newPodListerByNamespace](https://github.com/kubernetes/autoscaler/blob/master/addon-resizer/nanny/kubernetes_client.go#L138)

I hope this helps.

[2021-08-12 10:06] x13n commented on #3916
Note that CA cannot guarantee which pods will get scheduled on the newly-provisioned nodes. So, in this scenario, a large, but low priority batch job can eat up the resources even though it was another job with higher scaling priority that triggered the scale up.

[2021-08-12 12:54] rtheis commented on #3699
/remove-lifecycle stale

[2021-08-12 13:38] tulanian commented on #4010
Havng the same problem. ASGs labeled with  `k8s.io/cluster-autoscaler/node-template/label/size: large` and pod nodeselector of `size: large` but the autoscaler doesn't spin up a node.

[2021-08-12 15:54] innovate-invent commented on #3916
Right, that is too easy to conflate. My description still (somewhat) holds when evaluating scaling priority, what actually happens between the CA intervals is up to the scheduler. If a higher priority job has a bunch of tasks that age out in that time, then it would potentially scale up a larger amount on the next interval (given a permissive `max-scale-candidates`).

This all could interplay with

[2021-08-12 19:17] darrenfurr commented on #3650
@sanjeevpandey19 - We're running EKS 1.18 & Cluster Autoscaler 1.18.1 in each environment. Are you saying we can upgrade to 1.22 of the Autoscaler on EKS 1.18?

[2021-08-13 04:09] #3943 closed

[2021-08-13 09:38] AndyMender commented on #4021
/close

[2021-08-13 09:39] #4021 closed

[2021-08-13 11:42] tghartland commented on #4254
Thanks for reporting.

You're correct that microversion 1.10 was added for node groups of size 0, but when it was added, using that microversion wasn't required for the node group resize operation.
I missed updating the microversion that the autoscaler uses when I enabled scale to zero, which is why it fails now.

I've created a pull request to change it to always use the latest microversion.

[2021-08-13 12:04] tghartland commented on #4251
Hello, is it possible to make a release for 1.22.1 this soon after the .0 release?
I enabled scale to zero for magnum in 1.22, but I missed a requirement on using a newer magnum API microversion.
It fails only for scaling to 0, any other scaling still works so it isn't incredibly urgent.

PR for the fix on master branch: #4261

[2021-08-13 12:33] x13n commented on #3916
Right, combining CA settings with scheduler settings should then allow the behavior you want (although the exact config might get a bit complicated).

What I'm not clear on though is **why** you want this in the first place. The concern in the original post was around helping to keep the control plane stable. Global setting is enough to achieve this. What are you trying to achieve by having certai

[2021-08-13 12:55] unni-kr commented on #4202
@jmjava Hey I'm facing the same issue? were you able to resolve it somehow? the logs doesn't indicate any reason for the pod failure. I'm on eks 1.18

[2021-08-13 13:19] unni-kr commented on #4202
Increasing the men limit of cluster-autoscaler pod to 512Mi helped me

[2021-08-13 15:40] jmjava commented on #4202
Yes I changed the memory in my manifest and it fixed the issue.
 [image: image.png]

On Fri, Aug 13, 2021 at 9:19 AM Krishnanunni Menon ***@***.***>
wrote:

[2021-08-13 17:35] innovate-invent commented on #3916
The load to kube api server isn't so much my concern than the fact that a burst of jobs will scale the cluster to the max when that specific bunch of jobs could have been computed by a single node in the time it took to scale up. I need to be able to describe to the autoscaler the 'weight' of the job so that five hundred tiny jobs cause maybe a single node to be provisioned, vs five hundred massiv

[2021-08-13 17:38] sergeyshevch commented on #4133
@jawabuu IDK but in my current setup it doesn't prevent CA from work. So i still use it. But it can be only my case because my cluster doesn't scale very frequently

[2021-08-13 17:49] jawabuu commented on #4133
@sergeyshevch CA does work but it exhausts your available limits.
So if you need to make other API calls, e.g. with Terraform they will fail.
Also depending on the size of your cluster/nodes and how soon you need scale-up events to occur, autoscaling will be affected.

[2021-08-14 14:11] WebSpider commented on #1070
/remove-lifecycle stale

[2021-08-14 14:25] #3961 closed

[2021-08-14 14:26] #4006 closed

[2021-08-14 14:26] #3946 closed

[2021-08-14 14:27] #3965 closed

[2021-08-14 16:05] grosser commented on #3965
This is till an issue afaik, just @gaurav1086 no longer cares about it ... so can reopen.

[2021-08-16 09:41] rjanovski commented on #4220
Thanks for the fix!

BTW 1.17.3-4 also fail on this.

[2021-08-16 10:47] george-angel commented on #3348
/remove-lifecycle stale

[2021-08-16 11:23] #4254 closed

[2021-08-16 13:34] #3871 closed

[2021-08-16 14:49] DavidSpek commented on #3947
This indeed is an important feature that should be added.

[2021-08-16 15:29] gjtempleton commented on #4251
One thing this has thrown up is that we should also cherry-pick the Github actions switch back to the 1.19 and 1.20 release branches.

As you can see from the above cherry-pick PRs from me, if the actions aren't in the branches being merged to, they won't be triggered.

[2021-08-16 20:19] jclangst commented on #4099
@MaciekPytel Just wanted to follow up to see if you are the one who we should be corresponding with?

[2021-08-17 02:07] darrenfurr commented on #3650
@sanjeevpandey19 - We updated to the latest cluster autoscaler (1.22.0) & are no longer having this issue. We did have to remove & re-create the LaunchConfig & ASG with c5a, but it is now working.

[2021-08-17 02:07] #3650 closed

[2021-08-17 15:39] #3956 closed

[2021-08-17 16:33] gaubej opened #4272 "Incorrect Role when using custom configMap name"
**Which component are you using?**:

cluster-autoscaler helm charts

**Is your feature request designed to solve a problem? If so describe the problem this feature should solve.**:

When I use "extraArgs.status-config-map-name" I have to manually patch role created, that still refers to resource "cluster-autoscaler-status"

**Describe the solution you'd like.**:

Add status-config-map-name as valu

[2021-08-17 17:31] ahg-g commented on #257
This seems to be doable now that the autoscaler can pass in the whole snapshot and is able to run PreFilters directly.

[2021-08-17 20:25] prashilgupta commented on #4177
This issue is also blocking us to upgrade the managed node group when calico is installed. Is there a workaround @tmjd

[2021-08-18 02:25] tmjd commented on #4177
When upgrading a node group you could scale the operator to zero then do the upgrade and then scale back to 1. That would prevent the operator from scaling up the number of typha instances because of the temporary increase in nodes being available.

[2021-08-18 07:15] varkey commented on #3835
/remove-lifecycle stale

[2021-08-18 07:42] skorati commented on #4242
Hi Team,
Any update on this issue, do I need to provide further information?

[2021-08-18 10:27] MaciekPytel commented on #4177
There are some side-effects to this solution that may not be desirable, but maybe setting pod priority below CA [priority cutoff](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-does-cluster-autoscaler-work-with-pod-priority-and-preemption) could be a solution? This will make CA completely ignore those pods, meaning they will not block scale-down and also not tri

[2021-08-18 13:43] darrenfurr commented on #4256
I'm getting the same error, v1.22.0 on EKS 1.18.

[2021-08-18 15:47] tmjd commented on #4177
I believe that "not triggering scale-up" would be a reasonable expectation too for this feature.

[2021-08-18 15:53] tmjd commented on #4177
I just looked at the priority cutoff and that would not be appropriate for what I'm trying to achieve.
Like I mentioned the deployment is an infrastructure service, by that I mean K8s nodes would not be functional if it was not allowed to be scheduled. So if nodes exist then the deployment needs to be deployed (should have high priority) but scales with the number of nodes.

[2021-08-18 18:32] Carles-Figuerola opened #4275 "chart does not provide permissions for `leader-elect-resource-lock: configmaps`"
**Which component are you using?**:
cluster-autoscaler

**What version of the component are you using?**:

Component version:
latest / chart: 9.10.4

**What k8s version are you using (`kubectl version`)?**:

<details><summary><code>kubectl version</code> Output</summary><br><pre>
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3f

[2021-08-18 19:23] watkinsmike commented on #3506
This is also affecting me, although for some reason only on a single cluster, even using the exact same configuration and limits. Upping the mem limits to 500 has been the workaround I used successully

[2021-08-20 18:08] detiber commented on #4251
If the releases haven't been cut yet, then it would be nice to get cherry-picks for https://github.com/kubernetes/autoscaler/pull/4274 in as well.

/cc @ipochi

[2021-08-20 19:19] #3732 closed

[2021-08-21 00:25] rittneje commented on #3693
/remove-lifecycle stale

[2021-08-21 22:56] filintod commented on #4256
I was hit with the same error. Needed to manually add namespaces to the clusterrole

[2021-08-23 09:59] CappuccinoCup opened #4279 "[VPA] Recommender cannot detect OOM if container restart policy is 'Never'"
I created a pod like this to try "OOM" event capture feature.
[code]
It is OOMKilled after a while as expected. But the recommendation remains unchanged. I check the logs and find that no OOM event is detected. Perhaps it's because of these codes:
[Check restart count > 0 in Observer](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go