[2019-10-08 08:37] dmitris commented on #2156
/remove-lifecycle stale

[2019-10-08 08:46] bskiba commented on #2334
Fixed.

[2019-10-08 08:46] #2334 closed

[2019-10-08 11:47] losipiuk opened #2431 "Cluster Autoscaler patch release - request for cherry-picks"
We plan to prepare a set of Cluster Autoscaler patch releases beginning next week. Please issue cherry-picks if you want something in. Just a friendly reminder that as a rule of thumb only bugfixes are cherry-pickable.

cc: @feiskyer, @Jeffwan, @ringtail, @hello2mao, @tghartland

[2019-10-08 14:34] feiskyer commented on #2431
@losipiuk thanks for reminding. No cherry-picks from me.

[2019-10-08 19:19] siwyd commented on #2250
I'm seeing this as well in the logs. What does this actually mean?

[2019-10-08 21:19] Jeffwan commented on #2429
@xinxingliu90
Need your CA version to double check. It's mostly because of credential issue. you need to make sure either your node group has IAM roles with right policies or CA has AWS environment variables.

[2019-10-08 21:45] Jeffwan commented on #2250
/assign @Jeffwan

@siwyd AcceptableRange contains information about acceptable size of a node group. It's used in the cluster state registry. I will debug and figure it out.

[2019-10-08 22:14] sulixu commented on #2020
I have 3 ASGs with c5.9xlarge spread across 3 AZs, however when CA tries to make a decision on splitting scale-up nodes between the node groups, most of the times it split among 2 AZs. Why do we want to check the 5% free resources? Aren't labels, capacity and allocatable sufficient enough to compare the node group similarity?

[2019-10-08 22:26] Jeffwan commented on #2418
@mgalgs Can you share eksctl cluster config? I can help reproduce the issue on our side.
I assume you have one OnDemand instance group to host your CA? You'd like to scale up spot instance group? Did you use node affinity or node selector in your tests?

[2019-10-08 22:28] Jeffwan commented on #2399
Let's close this one since static file has been updated and g4dn is available.

/close

[2019-10-08 22:28] #2399 closed

[2019-10-08 22:29] Jeffwan commented on #2391
@xrl Please provides CA version and it would be helpful for us to debug the issue

[2019-10-08 22:34] Jeffwan commented on #2431
I will finish cherry-pick by this Thursday.
Candidates:
https://github.com/kubernetes/autoscaler/pull/2428 to all branches with IAM pods support

[2019-10-08 23:19] mgalgs commented on #2418
Sure, here's my config:

<details>
  <summary>cluster.yml</summary>

[code]
</details>

I have three OnDemand instance groups, each with a handful of instances inside, and yes, CA is hosted there.

Yes

I tainted the spot nodes and added tolerations to workloads that can run on spots.  It's all working as expected (spot-tolerant workloads are scheduled on spot nodes, non-spot-tolerant workloads av

[2019-10-08 23:52] xinxingliu90 commented on #2429
@Jeffwan You are right it is my ip rules prevents the deployment from getting credentials. Thanks for the answer!

[2019-10-09 03:07] ringtail commented on #2431
@losipiuk thanks for reminding. No cherry-picks from Alibaba Cloud.

[2019-10-09 09:27] devkid commented on #2431
Would it be possible to include the AWS SDK updates that enable IAM roles for service accounts? There is already a PR to merge the update into 1.14: https://github.com/kubernetes/autoscaler/pull/2358 I can confirm that this works and together with my PR #2428 also without the workaround.

[2019-10-09 16:22] dcherniv opened #2434 "Autoscaler not respecting the taint tag in AWS"
It seems that cluster autoscaler is ignoring the taints in some cases and tries to spin up a node pool that is tainted to schedule a pod with no toleration for the taint.

Example pod spec:
[code]
autoscaler logs from the time. Strangely it rememberd that gpu-4 had a taint. But exact gpu-0 from the another ASG in a different AZ it happily spun up.
[code]
here's the setting for the node pool in aws

[2019-10-09 17:55] Jeffwan commented on #2429
As you figure it out, I will close this issue

/close

[2019-10-09 17:55] #2429 closed

[2019-10-09 23:18] Jeffwan commented on #2434
/assign @Jeffwan

[2019-10-09 23:53] faheem-cliqz commented on #2418
I get a similar error with kops provisioning mixed instance groups. I am scaling from zero.

Cluster-autoscaler: v1.14.5
kops: 1.14.0

Error:
```Unable to build proper template node for <masked_asg_name>: Unable to get instance type from launch config or launch template```

Kops instance group config:
[code]

IAM role policy attached to cluster autoscaler:
[code]

[2019-10-10 00:58] Jeffwan commented on #2250
Looks like https://github.com/kubernetes/autoscaler/blob/a258103f8ec9c24a333338468fa51262df0ef24a/cluster-autoscaler/clusterstate/clusterstate.go#L436-L439
has been visited before acceptableRange is ready.

https://github.com/kubernetes/autoscaler/blob/a258103f8ec9c24a333338468fa51262df0ef24a/cluster-autoscaler/clusterstate/clusterstate.go#L307

https://github.com/kubernetes/autoscaler/blob/a25810

[2019-10-10 01:04] Jeffwan commented on #2250
@siwyd check pr here. #2436

[2019-10-10 10:57] bskiba commented on #1839
This is fixed

[2019-10-10 10:57] #1839 closed

[2019-10-10 11:40] mariojacobo opened #2438 "CA minSize has no effect"
We run CA inside AKS and have noticed some strange behavior (unless I'm misunderstanding the default one).

If I change the minSize of the CA deployment to be greater than the cloudProviderTarget size, nothing happens.  The logs just show "node group min size reached".

[code]

If I change the minSize of CA deployment to be lower than the cloudProviderTarget size, then it will try to scale down, b

[2019-10-10 13:22] thanasisk commented on #2324
Hello, the following link might be of help.
https://kubernetes-csi.github.io/docs/csi-node-object.html
If you are on a version before 1.14, follow the instructions in the link to enable the relevant feature flag and create the relevant CRD

[2019-10-10 16:14] xrl commented on #2391
I just built master and deployed it. I'm running an EKS 1.13 but running master... hopefully that isn't too problematic!

I'm going to close this ticket while I wait for another failure situation in our eu-central-1 region.

[2019-10-10 16:14] #2391 closed

[2019-10-10 23:13] Jeffwan commented on #2431
@losipiuk Totally understand the policy, this one is all about godeps changes just for aws SDK.
We will appreciate if this can be merged to 1.14. otherwise, our pod IAM feature can not run on any EKS cluster (AWS supports 1.11-1.14)

#2428 is in the cherry-pick list, I will do that. Thanks a lot!

[2019-10-10 23:31] Jeffwan commented on #2431
Here's the cherry-pick changes. Thanks!  @losipiuk

#2443 #2442 #2441 #2440

[2019-10-10 23:33] Jeffwan commented on #2431
Looks like there're two related to priority expander.
https://github.com/kubernetes/autoscaler/pull/2435 #1920
Do we have plans to backport to older version?

[2019-10-10 23:52] mfilotto opened #2444 "[feature request] Allow to set limit/request ratio for vpa"
Hi,
It's a very good new feature to have also limits updated.
It would be even better if we could set a limit/request ratio.

[2019-10-11 00:16] Jeffwan commented on #2418
@mgalgs
I did one test and it can scale up from 0 with your cluster spec. I use on ASG with onDemand and the other one with Spot.

Checking your logs, did you use any node selectors? Seems it fails on GeneralPredicates.
If you use node selector, you need to tag your ASG to let CA know the node labels since there's 0 node available to be used as template

[code]

[2019-10-11 00:19] Jeffwan commented on #2418
@faheem-cliqz I probably already fix the issue you meet. Please check this https://github.com/kubernetes/autoscaler/commit/58f3f23fc63c6f26b4651820bb3b8f812ed7803b#diff-ade7b95627ea0dd6b6f4deee7f24fa7eR323-R331

We will have a release next week

[2019-10-11 00:28] Jeffwan commented on #2434
It uses predicates to check if pod can be scheduled on the candidate node groups template.

It caches for every run. ~10s

Did you scale up from 0? Can you describe node if there's one and I'd like to know if you just tag ASG or do taint the node? ASG tag is used for scale from 0 case.

If there's node group qualified, it won't trigger scaling up.

[2019-10-11 00:29] Jeffwan commented on #2434
/area aws

[2019-10-11 00:29] Jeffwan commented on #2434
platform/aws

[2019-10-11 00:30] Jeffwan commented on #2434
/platform aws

[2019-10-11 00:30] Jeffwan commented on #2418
/assign @Jeffwan

[2019-10-11 00:31] Jeffwan commented on #2376
/assign @Jeffwan

[2019-10-11 00:31] Jeffwan commented on #2368
/assign @Jeffwan

[2019-10-11 00:36] Jeffwan commented on #2434
/area provider/aws

[2019-10-11 00:36] Jeffwan commented on #2418
/area provider/aws

[2019-10-11 00:36] Jeffwan commented on #2285
/area provider/aws

[2019-10-11 00:37] Jeffwan commented on #2285
/assign @Jeffwan

[2019-10-11 00:38] Jeffwan commented on #2165
/area provider/aws

[2019-10-11 00:41] Jeffwan commented on #1754
@choseh  Do you use node selector in this case? Does your ASG has tags?

[2019-10-11 00:44] Jeffwan commented on #1754
https://github.com/kubernetes/autoscaler/pull/2248
this PR should address some of the issues users reported here..

We cherry-pick to version 1.14+ and will release it next week

[2019-10-11 01:01] Jeffwan commented on #2368
/area provider/aws

[2019-10-11 01:03] Jeffwan commented on #2075
If user looks for fall back options, here's one example I think can be used to move workloads back to Spot once it's available.

https://github.com/pusher/k8s-spot-rescheduler

[2019-10-11 02:16] johnjeffers commented on #2301
Also waiting on this. Fingers crossed it's in 1.14.6 since that is the version we need for EKS. 🤞

[2019-10-11 05:53] wjl120 opened #2445 "Use multiple expender options"
Can we support below scenario?
    --set extraArgs.expander=least-waste, random

[2019-10-11 14:11] Luke035 opened #2446 "Autoscaling GPU based node on AWS doubled"
Hi all,

I have 2 ASGs configured in an EKS cluster, one with p3.xlarge machine and one with g4dn.xlarge machine.

In order to differentiate between the two the only solution I found was to discriminate the number of required CPUs in order to trigger g4dn or p3 machines (with CPU less than 4vCPUs g4dn ASG will be triggered given a higher priority on the autoscale configuration.

Here you can find

[2019-10-11 15:49] tariq1890 opened #2447 "VerticalPodAutoscaler not compatible with k8s 1.16.x libraries"
We, in kube-state-metrics use the VPA and K8s client libaries as dependencies. We seem to be blocked on updating to K8s 1.16.x libraries as the VPA dependencies fail to compile when importing the latest K8s deps.

As seen on this thread: https://github.com/kubernetes/kube-state-metrics/pull/945#issuecomment-540711969

[2019-10-11 17:13] Jeffwan commented on #2301
We backport #2428 and #2358 to to 1.14. Next release team will publish new versions.

[2019-10-11 18:29] Jeffwan commented on #2446
hey @Luke035, it takes time for GPU to become ready. During that time, if your pod can not be fit on that G4 instance node, CA will consider G4 node group is not able to schedule your pod, it will go to p3 to bring up nodes. I solve this problem in https://github.com/kubernetes/autoscaler/pull/1584

In order for CA to wait GPU ready on G4, you need to label node. Check PR for details and let me kn

[2019-10-11 18:29] Jeffwan commented on #2446
/area provider/aws

[2019-10-11 18:30] Jeffwan commented on #2431
All AWS changes are done. Thanks! @losipiuk

[2019-10-11 23:13] mgalgs commented on #2418
@Jeffwan
Hmm, if it was a nodeSelector problem why does it work fine if I put a minSize of 1 on the groups?  Wouldn't it still refuse to schedule on that group if it was a nodeSelector problem?

Regarding the logs:

This one is expected since I had a nodeSelector on this pod to force it onto a node from the spot group (and this isn't the spot group).

This one is strange because that nodeGroup sho

[2019-10-12 09:33] faheem-cliqz commented on #2418
Cool will get back to you with updates once you guys releases :)

[2019-10-12 10:40] chrissound commented on #2368
@Jeffwan I don't think it had that policy no

[2019-10-12 20:58] #1862 closed

[2019-10-12 23:34] Jeffwan commented on #2418
@mgalgs
The difference between two is
1. scale from 0 - CA build template from ASG LaunchTemplate or LaunchConfiguration, it won't know some of the kubernetes node labels. In order to properly build it, we need to add ASG tags and CA will convert tags to labels to construct the node template.
2. scale from 1 - Since node is already there, CA will use real node as a template.

Do you have tag in yo

[2019-10-12 23:39] Jeffwan commented on #2368
@chrissound Then it's better to add right policies on the terraform side. It's an integration problem. But seems teraraform frequently updates the support for CA. It's a little surprise if this is missing

[2019-10-13 17:13] ahg-g opened #2449 "Action required: Move to scheduler.New to instantiate a scheduler"
Scheduler "factory" package will be deprecated in k8s 1.17. To instantiate a scheduler in the [simulator](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/predicates.go#L129-L160), please use [scheduler.New()](https://github.com/kubernetes/kubernetes/blob/f0e1d394f13560cd6094722ec0b3969b05830fd0/pkg/scheduler/scheduler.go#L250) instead.

Please let me know if you h

[2019-10-13 17:21] ahg-g commented on #2449
/assign @MaciekPytel

[2019-10-14 11:24] MaciekPytel commented on #2449
I'm not sure if this works for us - scheduler.New() seems to do a whole lot more than just initialize informers. We explicitly don't use [scheduler cache](https://github.com/kubernetes/kubernetes/blob/f0e1d394f13560cd6094722ec0b3969b05830fd0/pkg/scheduler/scheduler.go#L263) and I'm pretty sure we don't want any [event handlers](https://github.com/kubernetes/kubernetes/blob/f0e1d394f13560cd6094722e

[2019-10-14 12:11] ahg-g commented on #2449
May be I am missing something, but the current version of CA instantiates schedulerCache indirectly when it calls [NewConfigFactory](https://github.com/kubernetes/autoscaler/blob/6485f9c9fc3a749cd5bfe3d82140a9cdf0e75b58/cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/scheduler/factory/factory.go#L223), how is that different from scheduler.New()?

The link you put returns 404, but I [see here](http

[2019-10-14 20:55] davidquarles commented on #2389
@bskiba I just wanted to verify my understanding here – the decayed weights are discretely bucketed by age in *days*, right?  I'm hoping to put a bunch of our async workloads (MQ consumers) behind VPA, but I'm a little worried about the implications of doing so with highly bursty queues (e.g. those that idle for ~24h before receiving a nondeterministic amount of jobs to process).  Once we get to 1

[2019-10-15 05:36] qibobo opened #2451 "Is there a way to query the scaling histories of cluster autoscaler?"

[2019-10-15 05:45] bhargavkeshav commented on #890
Issue still exists
`E1014 20:05:28.980584       1 aws_manager.go:148] Failed to regenerate ASG cache: cannot autodiscover ASGs: NoCredentialProviders: no valid providers in chain. Deprecated.
	For verbose messaging see aws.Config.CredentialsChainVerboseErrors
F1014 20:05:28.980605       1 aws_cloud_provider.go:330] Failed to create AWS Manager: cannot autodiscover ASGs: NoCredentialProviders: no v

[2019-10-15 05:46] bhargavkeshav commented on #890
Please reopen this issue?

[2019-10-15 06:14] losipiuk commented on #2451
Nope. Best you can do is to grep logs. Try looking for sth like "Final scale-up plan"

[2019-10-15 06:18] larsschumachenko opened #2452 "Autoscaler error due to lack of EC2 capacity"
We have a similar issue like this one: #2285
However, as the behaviour is different, I've created a new issue. Feel free to merge those two if they have the same root cause.

We're on Kubernetes 1.14 and use the autoscaler version: v1.14.5
Once a scale up attempt failed due to lack of capacity the autoscaler can't adjust the size of the ASG anymore.

The observed logs when the autoscaler tries to

[2019-10-15 06:20] siwyd commented on #2250
@Jeffwan Thanks!

[2019-10-15 07:06] qibobo commented on #2451
@losipiuk  thank you.

[2019-10-15 07:06] #2451 closed

[2019-10-15 09:33] clamoriniere opened #2453 "Support `custom Daemonset` Pods"
The Daemonset pod detection is currently done in the code by looking at the `OwnerRef.Kind` that reference ether a Daemonset, ReplicaSet, StatefulSet.

Internally at Datadog, we implemented thanks to CRD a custom Daemonset that aims to fix several issues that we have with the current Daemonset implementation.
Like the official Daemonset controller, our CustomDaemonset controller is creating and as

[2019-10-15 10:42] losipiuk commented on #2431
Just heads up that I am kinda overwhelmed with other stuff so the patch release my slip a bit. Still I want to do that this week.

[2019-10-15 13:37] Luke035 commented on #2446
Hi @Jeffwan  thanks a lot for you support. Can you please indicate me some documentation regarding node labeling? I'm struggling in understanding how to label nodes if they're not created yet.

[2019-10-15 20:56] Jeffwan commented on #2446
@Luke035

Can you check this section?
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#scaling-a-node-group-to-0

1. Make sure your cluster has some label like this
--kubelet-extra-args --node-labels=k8s.amazonaws.com/accelerator=nvidia-tesla-v100

2. Make sure your ASG has tag
"Key": "k8s.io/cluster-autoscaler/node-template/label/k8s.amazonaws.com/accelera

[2019-10-15 21:03] Jeffwan commented on #2126
@Luke035 Did you figure it out? If not, please provide more details

[2019-10-16 02:41] mfilotto commented on #2444
In my use case, I use vpa to set all the requests.
These request are all set to a default value.
But in the mean time we set limit resource.
the ratio in my case is not relevant, worse it will set bad values

[2019-10-16 05:44] Jeffwan commented on #2452
/area provider/aws

[2019-10-16 05:45] Jeffwan commented on #2452
Probably it's fixed by this PR. Can you check the change?
https://github.com/kubernetes/autoscaler/pull/2379/files

[2019-10-16 07:55] larsschumachenko commented on #2452
We tested the change on our development cluster and I can confirm: Our issue is fixed.
Thanks for the quick reply.

[2019-10-16 08:26] qibobo opened #2457 "Want to know some concepts of node group?"
I am new to the cluster autocaler. When I read the code I found that there are "node group" related things in the code. But I do not find a place what does these mean?
NodeGroup
NodeGroup MinSize
NodeGroup MaxSize
When doing scale down, func "getPotentiallyUnneededNodes" was called. The nodes "in groups with size > min size" are selected. What does the "node size" mean and how to calculate it?

[2019-10-16 08:38] #2452 closed

[2019-10-16 08:59] Luke035 commented on #2126
Hi, @Jeffwan sorry for not reaching back. I figured it out: it was a problem with the AMI the EKSCTL provided (upgrading EKSCTL was enough for that purpose) and with the IAM policy attached to the ASG role.

Closing the issue

[2019-10-16 08:59] #2126 closed

[2019-10-16 10:24] mohag commented on #1366
@dkuida When using the EKS default AWS-VPC-CNI, the max-pods are set to the max IPs that is [available for assignment to pods on that instance type](https://github.com/awslabs/amazon-eks-ami/blob/master/files/eni-max-pods.txt)

Increasing max-pods without changing the CNI to something else won't work. ([Changing the CNI is possible](https://github.com/aws/containers-roadmap/issues/71), but possibl

[2019-10-16 15:54] jgrahn-papajohns commented on #2444
I'd like to second this request. We have a large non-production cluster containing many services controlled by many teams. Most of these services are idle, and are requesting more resources than they need. We are experimenting with adding VPAs to these services to optimally scale their resource requests. This used to work fine -- the cpu and memory requests would be adjusted to reasonable values.

[2019-10-16 18:50] Luke035 commented on #2446
Hi @Jeffwan
thanks for the support.

1- Is `node-labels` a parameter that should be added to kubelet? If so is it possible to add it through eksctl without having to restart the whole cluster?

2- OK

[2019-10-18 00:13] kam1kaze opened #2465 "VPA: NoPodsMatched"
HI,

For some reason VPA shows NoPodsMatched status for running POD. Also it correctly calculates Recommendation for such POD.

[code]

For example:
[code]

I see such error in vpa-admission-controller logs
[code]

and at the same time vpa-recommender uses currect selector and calculates correct data
[code]

Deployment:
[code]

[2019-10-18 05:30] qibobo opened #2466 "How many nodes will be added in a scale-up action? Can it be customized?"

[2019-10-18 06:34] hongli-my opened #2467 "can not work with vertical-pod-autoscaler"
in this case,  can not get pod resource recommendation
step1.    create deployment, and pod label:  `app1:  xxx`
step2.   after some minutes, create vpa,   and this vpa's label : `app1: xxx` , so pod can matches vpa
in that case above,  recommender can not calculate  pod resource.
because  https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/cluster.go

[2019-10-18 06:34] hongli-my commented on #2467
/vertical-pod-autoscaler

[2019-10-18 12:35] losipiuk commented on #2431
Released:
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.13.8
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.6
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.3
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.16.2

[2019-10-18 12:35] #2431 closed

[2019-10-18 18:11] Jeffwan commented on #2446
@Luke035 you can definitely add to eksctl setups. For existing cluster, you need to change ASG user data to make sure argument is added there. Otherwise, even you label existing nodes, new node created by ASG won't have the label

[2019-10-19 07:15] jenningsloy318 commented on #2430
Finally found that our cloud platform don’t have magnum service .

[2019-10-19 07:15] #2430 closed

[2019-10-19 07:15] jenningsloy318 commented on #2430
Finally found that our cloud platform don’t have magnum service .

[2019-10-19 09:53] pedrogimenez opened #2469 "Priority expander not supported on AWS"
Hey,

We're trying to use `expander=priority` on AWS in order to use spot nodes whenever possible instead of using on-demand nodes. However, it doesn't seem to be supported on AWS. We've seen a few issues that suggest that it is, but we can't make it work.

**Version**: k8s.gcr.io/cluster-autoscaler:v1.13.8
**Logs**:

[code]

Is there any way to make this work? CA neither supports `preferredDuring

[2019-10-20 07:22] frittentheke commented on #1317
/remove-lifecycle stale

[2019-10-20 10:26] MaciekPytel commented on #2469
Priority expander should work with any cloudprovider, but it was only added in 1.15.

[2019-10-20 11:33] pedrogimenez commented on #2469
I didn't see the release in https://github.com/kubernetes/autoscaler/releases. I got it working using taints anyway. Thank you!

[2019-10-21 00:00] gazal-k commented on #113
Setting `dnsPolicy: Default` worked for me too on EKS 1.13

[2019-10-21 14:22] losipiuk commented on #2453
It seems to me that approach 2) is less invasive and I do not see any hard reasons not to implement it. @MaciekPytel WDYT?
If we go for that it would be nice to clean up the `getRequiredPodsForNode` code. How it uses `drain.GetPodsForDeletionOnNodeDrain` under the hood is pretty disgusting.

[2019-10-21 17:20] JthenG9 commented on #2320
@bspradling what version was that? I'm currently hitting this but not on EKS.

[2019-10-21 18:14] Jeffwan commented on #2469
Here's the recent release for 1.15 https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.3. You're using 1.13.

/close

[2019-10-21 18:14] #2469 closed

[2019-10-21 21:09] seh commented on #2453
I wouldn't mind solution 2 if the autoscaler could retain its current ability to detect _DaemonSet_-managed pods. The reason is that some daemons we run come from upstream manifests that we'd have to patch—perhaps using _kustomize_—in order to place such an annotation on those pods.

[2019-10-21 21:12] MaciekPytel commented on #2453
Option 2 SGTM. As mentioned there is precedent for using annotations in similar way in CA and I don't really see any downsides to adding it.

[2019-10-21 22:22] MaciekPytel commented on #2466
CA will calculate how many nodes are needed to make all pending pods schedulable (using binpacking algorithm) and add that many nodes. This may be capped if the number of nodes would go over max nodegroup size, but otherwise is not configurable.

[2019-10-22 03:27] qibobo commented on #2466
@MaciekPytel thank you.

[2019-10-22 03:27] #2466 closed

[2019-10-22 05:36] khteh commented on #2324
How to enable the `--feature-gates=CSINodeInfo=true` on AWS EKS?

[2019-10-22 10:56] bskiba commented on #2467
Which VPA version and API are we talking about?
Would you mind sharing your VPA object and deployment yaml?

[2019-10-22 11:14] hongli-my commented on #2467
I think it doesn't matter to the config.
vpa:  latest
[code]

deployment.yml
[code]

[2019-10-22 11:22] bskiba commented on #2467
Thanks! One comment, you might try the v1beta2 API that will be graduated to v1, you can then set the VPA on the deployment directly instead of using the selector.
I'll try to reproduce and get back to you.

[2019-10-22 12:13] losipiuk commented on #2453
Yeah - that is the idea. To add to what we have right now.  Not replace current logic.

[2019-10-22 13:11] bskiba commented on #2444
In general, we don't advise setting limit on CPU, except maybe in some corner cases. Since CPU is compressible, there is no value from throttling the workloads to the limit, if you allow them to burst over their request, they will be simply throttled if there is shortage of CPU on the node.
If you feel like you have a compelling use case for CPU limits, please let me know.

That being said, can yo

[2019-10-22 13:24] bskiba commented on #2465
There is some combination of events that causes the condition to be set uncorrectly, and I have not yet identified what it is. (Most of the times it seems to work correctly).
Do you have more than one VPA object defined? Have you observed it multiple times or just one instance?

[2019-10-22 13:36] bskiba commented on #2389
@Avanpourm 6 hours sounds possible. While not ideal, the VPA is not suite for fast reaction time, this is what the Horizontal Pod Autoscaling will achieve for you. You will see faster VPA reactions for scaling up memory, which is way more crucial as the non-compressible resource. CPU is less crucial and is also more problematic in a way as we don't currently detect CPU throttling. If you find that

[2019-10-22 14:01] losipiuk commented on #2324
@Jeffwan ?

[2019-10-22 14:03] losipiuk commented on #2324
@khteh I suggest you ask on #sig-autoscaling on k8s slack. That is a good place to ask questions.

[2019-10-22 15:01] clamoriniere commented on #2453
Thanks all for your feedback,
I will start implementing "Option 2" soon, since everyone is agree with it.

[2019-10-22 16:17] drewboswell opened #2473 "Use apps/v1 in stead of post 1.16.x deprecated apis (extensions/v1beta1)"
TLDR; "extensions/v1beta1" bad, "apps/v1" good.

There are references to extensions/v1beta1 everywhere in this repository including in the go code.
These will not work for 1.16.x + k8s clusters.

using "apps/v1" allows for compatibility for clusters 1.9.x+.

[2019-10-22 20:40] Jeffwan commented on #2324
@khteh

CSINodeInfo=true is alpha feature on 1.11-1.13. EKS doesn't only enable beta feature gate, so alpha features are not available. If you upgrade to 1.14. You can use it by default. 1.14 is also the latest version EKS supports.

[2019-10-23 03:03] calixwu commented on #2465
Same issue. Actually I found this happens very oftenly.

[2019-10-23 04:43] Avanpourm commented on #2387
@bskiba
I hope that the utilization of the request is close to the actual usage (for example, the utilization of the request is 100%). Because kube-schedule is based on the request to calculate the scheduling priority. So the request close to the actual usage can make the cluster node scheduling more accurate. Ensure that some Nodes are not over-utilized due to schedule estimation errors during th

[2019-10-23 06:52] bskiba commented on #2465
Thank! Then it should be easy to reproduce, I'll try to get to this next week

[2019-10-23 15:06] nielsole commented on #1650
I would just think that this was not backported to 1.12?

[2019-10-24 00:06] mgalgs commented on #2418
I see...  So node labels and taints need to be applied to the ASGs themselves as well.  Looking at my `aws autoscaling describe-tags` output it appears that my ASGs were _not_ tagged with corresponding tags for labels and taints.  If anything it sounds like this might be a bug in eks.  I'll file an issue over there.

[2019-10-24 00:06] #2418 closed

[2019-10-24 00:08] mgalgs commented on #2418
doh... This has [already been raised over there with a solution proposed](https://github.com/weaveworks/eksctl/issues/1066).

Thank you for your help!

[2019-10-24 21:44] lindenle opened #2481 "Cluster not scaling down."
We are running CA v1.13.5 in AWS using k8s v1.13.5 and the cluster minimum is set to 1. We are using auto discovery for the ASG. Here are the CA details.
[code]

The tags exist on the ASG:
[code]

The logs of the autoscaler show this:
[code]

[2019-10-24 23:29] jaypipes commented on #2368
@Jeffwan @chrissound OK to close this issue out, then?

[2019-10-24 23:35] jaypipes commented on #2285
@xrl we were wondering if this only occurs when your ASG lists instance types that either don't exist or have no capacity for the region you are using. Could you let us know? Thanks!

[2019-10-24 23:38] jaypipes commented on #2246
@Jeffwan @mmingorance-dh I believe this issue can be closed out, yes?

[2019-10-25 09:24] mmingorance-dh commented on #2246
@jaypipes from my side, yes.
We decided not to use launch-template-mixed until we upgrade to Kubernetes 1.14 and therefore use the feature available in CA 1.14

Thanks!

[2019-10-25 10:53] #2065 closed

[2019-10-25 13:09] #2178 closed

[2019-10-25 13:29] bjethwan commented on #1658
I ran into this chicken & egg problem too.

@MaciekPytel
Does it require some design changes or is it too big a code change?
Can someone new to this codebase do this in a week or so?

[2019-10-25 16:57] lindenle commented on #2481
Rolled a few nodes in the ASG and this started working. Not sure if it was because the CA pod got relocated during the roll (which did happen). I will close this for now.

[2019-10-25 16:57] #2481 closed

[2019-10-25 22:08] Jeffwan opened #2487 "Add documentation to setup CA with AWS IAM OIDC provider"
As CA already supports CA with AWS IAM oidc provider. We also like to add some instructions for EKS setup.
https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

[2019-10-25 22:09] Jeffwan commented on #2487
/assign @anamika-avinash

[2019-10-27 15:22] arahamad opened #2488 "extending node similarity check to cluster autoscaler provider"
as of now cluster autoscaler is checking node similarity on the basis of node labels and its static check in the core ca. Although provider can register comparator but that also need to be part of core ca i.e in main.go file which does not looks good. it would be good if we can extend node similarity functionality to provider so that let provider decide node similarity.

although kubernets also pr

[2019-10-28 07:41] wccsama commented on #2396
I think this may caused by request restrictions. Version difference may also be the reason. I will continue to work on it.

[2019-10-28 16:27] bpinske opened #2491 "CA 1.15.3 frequent SIGSEGV on cluster state refresh after scaling event"
Issue occurs commonly after an ASG scaling event, both up and down.

[code]

Flags

[code]

[2019-10-28 22:37] frobware commented on #2491
I believe this is fixed by https://github.com/kubernetes/autoscaler/pull/2096

[2019-10-28 22:45] bpinske commented on #2491
I would agree that is the same issue. It mustn't have been backported yet.

[2019-10-28 22:45] #2491 closed

[2019-10-29 02:22] ringtail commented on #2215
/remove-lifecycle stale

[2019-10-29 19:35] #2053 closed

[2019-10-30 09:30] enxebre opened #2495 "Missing events on status config map"
Even though `Scale-up: group` events (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scale_up.go#L715) should have been triggered as well for the status configMap as shows the log:

[code]
I can always only see/receive one single `Scale-up: setting` (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scale_up.go#L701) event:

[code]

Not sure

[2019-10-30 10:31] enxebre commented on #2495
If I revert https://github.com/kubernetes/autoscaler/commit/6601bf0598140884ed06d37123da6d1c310a45fa I see all the events coming through.

[2019-10-30 10:32] MaciekPytel commented on #2495
@vivekbagade Can you take a look?

[2019-10-30 13:25] vivekbagade commented on #2495
@MaciekPytel Sure

[2019-10-30 16:03] vivekbagade commented on #2495
Hi @enxebre. The PR you mentioned aggregates events so that CA for scalability reason where we don't want to send a lot of similar events which might happen if we have too many unschedulable pods.

We'll fix this by having a different config for the logrecoder. Expect the fix some time next week

[2019-10-31 00:02] alfonso-presa opened #2498 "Nodes are not getting any taints even if use is low"
We have an aws eks deployment where all of our nodes are used for the same type of pod (browsers of a selenium grid). Pods are not behind and specific service or deployment, they are bootstrapped just to be registered on the grid and eventually resolve user tasks (browser tests). We don't want them to be evicted by CA as they might be performing tests (we cannot use PDBs), but we only leave them l

[2019-10-31 00:07] alfonso-presa commented on #2498
Just to be more specific, this is the taint we were expecting to appear in our nodes eventually (and did not): https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/deletetaint/delete.go#L37

[2019-10-31 10:19] MaciekPytel commented on #2498
CA deletes nodes that continuously match a certain set of criteria for a predefined amount of time (by default 10 minutes). It will only taint a node that already matches the criteria, just not for long enough (ie. one that CA thinks is safe to delete right now, but it hasn't yet built enough confidence to delete it).
If a node is running a pod that can't be evicted it won't get tainted, because C

[2019-10-31 10:31] lkoniecz opened #2503 "AWS - CA does not tolerate balance-similar-node-groups when ASG min and desired capacity is 0"
There are 3 autoscaling groups tagged with `k8s.io/cluster-autoscaler/SandboxEksCluster` and `k8s.io/cluster-autoscaler/enabled`. `SandboxEksCluster` is my the name of my cluster.

![Screenshot from 2019-10-31 10-33-09](https://user-images.githubusercontent.com/25812913/67935390-fe99c780-fbc9-11e9-8ac5-8c4b99773542.png)

Autoscaler is started up with the balance flag
`I1031 08:41:01.352107       1

[2019-10-31 12:35] #2447 closed

[2019-10-31 13:24] bskiba commented on #1561
/remove-lifecycle rotten

[2019-10-31 13:58] MaciekPytel commented on #2488
A more generic solution would be to allow cloudproviders to register their own processors. Maybe pass AutoscalingProcessors to cloudprovider builder and allow the builder to mutate it?

[2019-10-31 13:59] MaciekPytel commented on #2488
cc: @losipiuk I think you mentioned something similar on one of the previous issues about customizing NodeGroupSetProcessor?

[2019-10-31 19:32] mboersma opened #2505 "Should cordon and drain before deleting Azure VMSS node"
We've noticed scenarios where Azure VMSS nodes in a certain state may become stuck in such a way that can pin stateful workloads to them after cluster-autoscaler requests them to be deleted.

A more robust approach would be to cordon and drain the VMSS node before CA deletes it, so that a stuck node cannot drag a stateful workload down with it.

[2019-10-31 21:15] fproulx-eoscanada commented on #2159
Any chance this will be resolved soon ?

We have our own custom CRD (metacontroller-based) maintaining many Statefulset per namespace and we have the same error.

[2019-10-31 23:25] #1844 closed

[2019-11-01 00:52] ujjwalsfix opened #2506 "Not triggering gpu scale up on AWS/EKS"
Seeing the following error -

```event.go:209] Event(v1.ObjectReference{Kind:"Pod", Namespace:"default", Name:"gpu3-5vrjp", UID:"cf6affef-fc40-11e9-ab2d-12c6abee5b20", APIVersion:"v1", ResourceVersion:"180529", FieldPath:""}): type: 'Normal' reason: 'NotTriggerScaleUp' pod didn't trigger scale-up (it wouldn't fit if a new node is added): 6 Insufficient nvidia.com/gpu```

[code]

Is there a nodeSel

[2019-11-01 10:01] WebSpider commented on #2011
/remove-lifecycle rotten

[2019-11-01 10:23] wozniakjan opened #2507 "VPA: go modules reference local files"
https://github.com/kubernetes/autoscaler/pull/2486 has added support for go modules but the modules file references locally checked out repositories that may not be present on other machines

https://github.com/kubernetes/autoscaler/blob/086999e99674db5b92240356846bd6dcfab30e2f/vertical-pod-autoscaler/go.mod#L297-L325

The recommended hack scripts to update dependencies also seem to be missing fro

[2019-11-02 08:41] mlewiarz commented on #2045
Hi, so is there easy solution to prevent from downtime?
I have 1 replica deployment and during scale down it's not waiting for other new replica to be ready.

[2019-11-02 12:01] #1772 closed

[2019-11-02 15:04] #1629 closed

[2019-11-04 04:29] edwardj9 opened #2508 "VPA recommender prometheus history provider - cannot get timeseries for cpu: invalid response status: success or type: vector"
Prometheus history provider isn't working on VPA 0.6.0+ because the prometheus client expects a matrix for the cpu data but it's a vector as the cpu query now uses rate() as introduced in #1824.

`E1104 04:23:55.334996       1 cluster_feeder.go:213] Cannot get cluster history: cannot get usage history: cannot get timeseries for cpu: invalid response status: success or type: vector
`

[2019-11-04 10:50] bskiba commented on #2508
Thanks for reporting!
Should we revert the mentioned PR or do you have an idea for a fix?

[2019-11-04 11:26] bskiba commented on #2507
#2486 Does not unfortunately fully add support for go modules. TL;DR: we use go mod only to construct the vendor directory, based on kubernetes/kubernetes dependencies.

Long version:
VPA (and Cluster Autoscaler as well) has an issue where we depend on both kubernetes/kubernetes repo and a bunch of stuff that is synced from kubernetes/staging repo to other repos. This makes managing dependencies r

[2019-11-04 13:23] MaciekPytel commented on #2045
Unfortunately the solution is to either always run at least 2 replicas or disable scale-down that would restart this pod (using PDB or safe-to-evict annotation). CA is not migrating the pod, it's really only killing it and relying on Kubernetes to restart it. This mechanism can't be easily extended to create-before-delete.

[2019-11-04 19:11] nitrag opened #2510 "NoExecuteTaintManager incorrectly deleting pods"
I am receiving NoExecuteTaintManager events that are deleting my pod but I can't figure out why. The node is healthy and the Pod has the appropriate tolerations.

This is actually causing infinite scale up because my Pod is setup so that it uses 3 out of 4 CPUs and has a Toleration Grace Period > 0. This is to enforce a 1:1 Node to Pod ratio and causes a new node to spin up after a Pod terminates.

[2019-11-05 09:02] wozniakjan commented on #2507
wondering if we can reuse any ideas from https://github.com/kubernetes/kubernetes/issues/79384 or in the worst case create a staging dir here as well to move the absolute paths `/usr/local/google/home/bskiba` from go.mod to relative so others can collaborate and update the dependencies?

I quite like and prefer the script mentioned in https://github.com/kubernetes/kubernetes/issues/79384#issuecomm

[2019-11-05 13:09] NeilW commented on #2465
I've probably hit the same issue. The recommender seems to pick up the selector properly, but the admission controller says no pods matched and the updater doesn't then apply the recommendation.

The fault arises with the standard hamster yaml file if you keep removing and re-creating the VPA. If you then remove the deployment and redeploy the VPA picks the pods up again.

[2019-11-05 14:46] PatricioDanos commented on #2465
Same as @NeilW I've gotten to the same issue. I had a deployment, and then I created my VPA, and even though it created the recommendation, it didn't find any Pods. However, I deleted and recreated the deployment, and it worked just fine using the exact same specs.

In my case, I was using the Microsoft AKS example [https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-application]

[2019-11-05 16:06] NeilW opened #2512 "VPA: Handle init containers"
While running

`I1105 11:12:57.914012       1 main.go:58] Vertical Pod Autoscaler 0.6.3 Recommender`

I'm getting errors logged from the calico containers

[code]

This is with Calico 3.10 as the CNI provider on a kubeadm created cluster v1.16.2

[2019-11-05 17:04] reubenavery commented on #2469
EKS only goes up to Kubernetes 1.14.. any chance of this being backported to CA 1.14.x?

[2019-11-06 00:22] #2506 closed

[2019-11-06 07:49] bskiba commented on #2512
Hi Neil, did this happen once or does it keep happening? Do you have VPA object defined for those containers and if yes does it have a recommendation present?

[2019-11-06 08:27] NeilW commented on #2512
Yes it's constant with every sample cycle.

I don't have a VPA object defined for these containers. I get the problem with a clean start recommender and just the example hamster VPA

[2019-11-06 09:30] wccsama opened #2513 "Is the expander named most-pods really working during scaling up?"
1、build two group
   group1: min 0 max 5 cpu 1 MEM 1, currentSize 4, left 1 quota
   group2: min 0 max 5 cpu 4 MEM 4

2、create a pod request 0.7 cpu , try to trigger scaling up

3、set expander=“most-pods”

4、CA may scale up using either group1 or group2

I have saw the code like following:

[code]

I think there may be something wrong with the code.

CA version:1.15.0

[2019-11-06 10:07] losipiuk commented on #1515
Fixed with #1963. Cherry-picked to 1.14 and 1.13

[2019-11-06 10:07] #1515 closed

[2019-11-06 10:19] losipiuk commented on #1842
/remove-lifecycle rotten

[2019-11-06 16:45] #2453 closed

[2019-11-07 05:30] wccsama commented on #2396
I have already find the reason. It have relationship with adding node time.

[2019-11-07 05:31] #2396 closed

[2019-11-07 09:49] estahn commented on #2400
@bskiba Is there anything you need help with?

[2019-11-07 10:58] bskiba commented on #2512
Worrying. This means that the recommender doesn't know that those containers exist for some reason...
This should not affect recommendations for other deployments however, do you have any issues with your VPA objects?
Are those all calico pods and all of the containers that run inside them? How are the calico pods run? I must admit I don't know much about it.
Does the problem persist if the recomm

[2019-11-07 11:21] NeilW commented on #2512
I have the usual issues with other VPA objects of them not finding the selector for some random reason. There's another ticket about that though so I don't think it is connected to the Calico containers.

The problem persists if the recommender is restarted.

Calico is run by deploying the manifests here

https://docs.projectcalico.org/v3.10/manifests/calico.yaml

The containers listed with the 'k

[2019-11-07 11:57] #1751 closed

[2019-11-07 12:12] bskiba commented on #2465
@PatricioDanos I believe that the logic itself is correct (VPA sees the pods and calculates the right recommendation for you) but it sets the NoPodsMatched condition incorrectly. (I don't know the root cause yet)

@NeilW Can you describe in more detail what you observe? Ideally can you paste your VPA object status when the issue is there? Is the recommendation present? Are pods getting new resourc

[2019-11-07 12:14] bskiba commented on #2507
The script looks really handy. Would you be willing to have a go at another PR that incorporates the script into the deps management, so that we can pin our dependencies to some k8s version? Moving to go mod should be fine, as long as we keep the vendor directory.

[2019-11-07 13:00] bskiba commented on #2467
Actually, I think your VPA object might be incorrect.

The available update modes are "Auto", "Initial" and "Off". Can you try changing this to of them?

[2019-11-07 13:10] wozniakjan commented on #2507
sure thing, happy to help (probably will find either late Friday or this weekend) :)

[2019-11-07 13:12] bskiba commented on #2507
Perfect, thank you! Let me know if you need any help.

[2019-11-07 15:05] ahg-g commented on #2449
/assign @losipiuk

Łukasz can you please confirm that this will work for CA now? the freeze for 1.17 is next week.

[2019-11-07 15:09] NeilW commented on #2465
I get it by deploying the standard hamster example VPA on a clean cluster

[code]

It looks like pods are still getting recommendations, and that they get assigned over time.

[2019-11-07 18:54] Jeffwan commented on #2503
/area provider/aws

[2019-11-07 19:14] ahg-g commented on #2402
/close

https://github.com/kubernetes/autoscaler/issues/2449

[2019-11-07 19:14] #2402 closed

[2019-11-07 19:43] bazzargh commented on #2020
We're hitting this same issue; we can see from the logs that k8s decided only 2 of our 3 nodegroups were similar (by looking at the "Splitting..." log messages), despite all non-ignored labels being identical. These were m5s, so it's possible our problem is fixed by #2462, but in general it would be very nice to have some logging in the comparator that says _why_ it decided 2 nodegroups were dissi

[2019-11-08 08:33] bskiba commented on #2465
Yeah, so I believe this is a reporting problem not a problem with a logic per-se. I'll try to root cause it and if I can't in a reasonable time, I'll consider removing the condition since it mostly confuses people, while the idea was exactly the opposite :(

[2019-11-08 14:44] losipiuk commented on #2449
Yeah - thanks for reminder. Looks good with linked PR. I manually tested CA and seems fine.

[2019-11-08 15:58] VincentPloquien opened #2516 "AWS: Node selector not being used"
I added a new ASG with labels tags and currently have a pod in `Pending` state, waiting for a new node from the ASG to be created.
Since I use autodiscovery and it works I can confirm CA does see the ASG's tags.
I triple checked the pod tags are the same as in the ASG.

But CA's predicate is failing because of `node(s) didn't match node selector`

[code]

[2019-11-08 17:29] Pluies commented on #1653
We're running into similar issues on a very "scaly" EKS cluster here (quite a bit of up-and-down activity during the day); our other, more stable clusters do not seem to run into the issue.
I've also noticed that this pod sometimes gets OOMKilled, so I'll try to add more memory first and will report back if it helped 👍

[2019-11-08 17:36] sudip-moengage opened #2517 "AWS has per node Pod IP restrictions, pods are stuck at ContainerCreating state"
As we all know, AWS has per node Pod IP restriction and kubernetes doesn't care this while scheduling, pods get scheduled in nodes where no pod IPs can be allocated and pods get stuck at ContainerCreating state as following:

    Normal   Scheduled               114s                 default-scheduler                        Successfully assigned default/whoami-deployment-9f9c86c4f-r4flx to ip-192-1

[2019-11-09 03:23] Sytten commented on #1653
/remove-lifecycle stale

[2019-11-10 01:58] #2075 closed

[2019-11-10 11:19] reddog335 opened #2519 "CA in Azure Does Not Propagate Node Labels to New Nodes"
I added a tag named ‘**k8s.io_cluster-autoscaler_node-template_label_nodesize**’ with a value of ‘**large**’ to the VMSS pool.  When I triggered another cluster autoscaler event, the newly provisioned node (aks-nodepool1-26580627-vmss00001m) did not have the nodesize label (labels from aks-nodepool1-26580627-vmss00001m below).

Name:          aks-nodepool1-26580627-vmss00001m
Roles:           agen

[2019-11-11 06:54] sidheshdivekar29 commented on #1726
@mossuchida Do you mind sharing the solution.

[2019-11-11 08:44] wozniakjan commented on #2507
To keep you informed, over the weekend there has been some discussion about go modules and common practices when using kubernetes as modules - https://github.com/kubernetes/kube-state-metrics/pull/949#discussion_r344429628

Feel free to chime in, we are trying to identify requirements and potential paths about how to move forward.

[2019-11-11 11:52] adityabhatia02 commented on #2508
I am interested in contributing a fix for this; just not sure what the best way to fix it would be

[2019-11-11 15:53] fiunchinho commented on #2051
Can this be closed now after merging https://github.com/kubernetes/autoscaler/pull/2121?

[2019-11-11 17:10] devinburnette commented on #1907
Hi, just ran into this ourselves. Surfacing as 500s in our applications. Would be great to have some clarity around what the autoscaling team is thinking around potential solutions for this or confirmation that this is indeed a bug in how the CA scales down nodes. Let me know if I can be a resource in any way.

[2019-11-11 20:34] buddyledungarees commented on #2444
Since the request/limit ratio is already preserved, can we request a feature to have a flag to exclude setting the limit on pods?

The use case is that a lot of k8s deployments set requests == limits to follow an old "guaranteed" scheduling goal. With the fixed 1:1 ratio, the pods no longer become ready in time due to startup cpu costs being higher than the VPA target.

Startup costs being factore

[2019-11-11 21:25] feiskyer commented on #2519
@reddog335  CA won't propagate node labels to new nodes, it only uses the label to build the node template when there're no nodes in the nodepool.

[2019-11-12 00:47] feiskyer commented on #2051
/close

[2019-11-12 00:47] #2051 closed

[2019-11-12 05:24] achinthagunasekara commented on #1976
/close

[2019-11-12 05:24] #1976 closed

[2019-11-12 15:04] mikkeloscar opened #2522 "vpa: Misconfigured CRD can cause VPA to target ALL pods of a namespace."
/kind bug

If you try to create a VPA for a CRD which has an incorrect/missing scale configuration as defined in: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource then you can end up with a VPA which targets ALL pods in a namespace.
This issue specifically happens if you misconfigure the `labelSelectorPath:` or simply provide an

[2019-11-12 16:38] jorihardman commented on #1907
@Jeffwan - Would you mind weighing in from the AWS side on this issue please? Based off this thread and my own experiences, cluster-autoscaler is currently incompatible with the LoadBalancer service. Our EKS nodes are constantly scaling up and down to accommodate backend queue load, and this issue causes constant disruption to requests to application server pods running on the cluster. Whenever cl

[2019-11-12 19:28] feiskyer commented on #2325
@losipiuk  any plans of next set of patch releases?

[2019-11-12 19:31] joekohlsdorf commented on #2503
What expander do you have configured?

[2019-11-12 19:59] andrewsykim commented on #2325
cc @timoreimann

[2019-11-12 22:51] reddog335 commented on #2519
@feiskyer   Is it possible to make this functionality a feature request?

[2019-11-12 23:03] echoboomer opened #2529 "AWS: Sample AWS IAM role should contain a condition for region."
This is purely opinion. Referencing the doc located [here](https://github.com/kubernetes/autoscaler/blob/3da8964ead179c471f6a2d17dde9b35b935df2ab/cluster-autoscaler/cloudprovider/aws/README.md).

Adding in a block to specify region in the minimum IAM policy sample may be helpful:
[code]

A sample of this in use can be found [here](https://aws.amazon.com/blogs/security/easier-way-to-control-access-

[2019-11-13 06:46] feiskyer commented on #2519
@reddog335 I don't think this is a supported scenario as CA won't make changes to the nodes after scaling. Could you run a daemonset and update the labels when new nodes presents?

[2019-11-13 08:05] VincentPloquien commented on #2516
Ok, I finally figured it out, my problem was using the `least-waste` expander.
Switched to `most-pods` and it works now!

[2019-11-13 08:05] #2516 closed

[2019-11-13 11:00] dignajar opened #2532 "Set up HTTP Proxy"
Hi,
my Kubernetes cluster is in a subnet without internet access so I need to go through a HTTP proxy.

I'm using VPC Endpoints to avoid connect to the internet and reach the AWS services but the endpoint `autoscaling.eu-central-1.amazonaws.com` is not possible to set up in VPC endpoints so need to go through the HTTP proxy.

[code]

It's possible to set up HTTP proxy?

Regards

[2019-11-13 12:31] reddog335 commented on #2519
@feiskyer That's a great suggestion, I'll explore that.  I'm closing the issue, thanks for your time.

[2019-11-13 12:31] #2519 closed

[2019-11-13 13:06] losipiuk commented on #2325
We are planning to do those in week of 25th

[2019-11-13 13:07] losipiuk commented on #2325
Closing this issue. Will open new one couple days before we will be doing releases.

[2019-11-13 13:07] #2325 closed

[2019-11-13 13:33] jdbermeol commented on #2333
👍

[2019-11-13 15:07] ranshn commented on #2024
@Luke035 you can let the EC2 Auto Scaling group choose the lowest-priced instance type for you, instead of relying on the price expander which doesn't work. just specify those different instance types in an ASG with Mixed instance policy, 100% Spot Instances, and lowest-price allocation strategy, and point CA to it.

[2019-11-13 16:59] HardBrainer commented on #2335
We are currently trying to use the 1.16.2 image inside our EKS cluster and did not notice any issues. It does work fine with our iam to ServiceAccount integration. Are there any "Known Errors" when using a higher version on a 1.14 Cluster ?

[2019-11-13 23:14] Jeffwan commented on #2240
/close this has been implemented

[2019-11-13 23:14] #2240 closed

[2019-11-13 23:14] Jeffwan commented on #2376
/close

PR is out and we also enable to load instance dynamically in latest ca version

[2019-11-13 23:14] #2376 closed

[2019-11-14 11:16] lkoniecz commented on #2503
@joekohlsdorf least-waste

[2019-11-14 14:25] joekohlsdorf commented on #2503
We had the same problem, changing the expander to `random` solved it.
That might not be what you want but at least it's a starting point.

[2019-11-14 22:42] bkosaraju commented on #1747
if some one come from AWS, please ensure that you have had exact tag names created in autoscale groups.

[code]

[code]

[2019-11-15 09:40] bskiba commented on #2522
Thanks for reporting!
I would argue that the validation should happen on the side of CRD, but [according to the docs](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource) the field is optional so that is out of the question since an empty selector here is correct from the CRD definition point of view.
Seems that the Horizontal Pod

[2019-11-15 09:43] mikkeloscar commented on #2522
What do you mean by this? Should we NOT set an error condition?
If we should NOT set an error, how should we handle the empty selector as the code right now would want to use the selector to find the relevant pods.

[2019-11-15 10:09] bskiba commented on #2522
Sorry for being unclear. I meant:
- check that the selector is not empty
- if the selector is empty, set error condition on VPA and not try to process it.

[2019-11-15 10:26] drewhemm commented on #1996
Hi,

Do we know if #2235 also handles on-demand instance launch failures due to lack of capacity?

`Launching a new EC2 instance. Status Reason: We currently do not have sufficient c5n.18xlarge capacity in the Availability Zone you requested (us-west-2b). Our system will be working on provisioning additional capacity. You can currently get c5n.18xlarge capacity by not specifying an Availability Zo

[2019-11-15 11:43] leandrocostam commented on #2335
I have just performed some tests using the new release `gcr.io/google-containers/cluster-autoscaler:v1.14.6` and it's working fine. The new release includes the updated SDK to use IAM service accounts.

Release notes:
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.6

[2019-11-15 14:33] #2507 closed

[2019-11-15 21:54] feiskyer commented on #2153
I'm closing the issue since it couldn't be reproduced. Feel free to reopen it if you still see the issues.

/close

[2019-11-15 21:54] #2153 closed

[2019-11-15 21:55] feiskyer commented on #2154
/remove-lifecycle rotten
/area provider/azure
/kind bug

[2019-11-15 21:55] feiskyer commented on #2213
/remove-lifecycle stale

[2019-11-15 21:56] feiskyer commented on #2213
/area provider/azure

[2019-11-15 21:58] feiskyer commented on #2505
@mboersma CA already drain the node before deleting the VM. Do you have CA and k8s logs that we could have a look?

/area provider/azure

[2019-11-15 22:00] feiskyer commented on #2438
NO, this is working as expected. See the [FAQ ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md) for details.
/area provider/azure
/close

[2019-11-15 22:00] #2438 closed

[2019-11-16 00:35] feiskyer commented on #2314
new nodes should join the cluster on node provisioning. I'm not sure how Kuberspray provisioning nodes, but if there're additional steps outside of the VM, then you should run the same steps.

[2019-11-16 00:35] feiskyer commented on #2314
/area provider/azure

[2019-11-16 00:36] feiskyer commented on #2327
/kind bug
/area provider/azure

[2019-11-16 00:37] feiskyer commented on #2181
I'm closing the issue since there're no updates recently. Feel free reopen it if there're still issues.

/close

[2019-11-16 00:37] #2181 closed

[2019-11-16 00:38] feiskyer commented on #1500
/close

[2019-11-16 00:38] #1500 closed

[2019-11-16 00:52] feiskyer opened #2538 "Cluster Autoscaler on Azure suddenly stopped working"
After being working as expected for some time, it suddenly stopped working. It is not adding new nodes despite having Pending pods or removing nodes when they are underutilized.

This is the cluster autoscaler log message that we get every 10 minutes:

[code]

It looks like autoscaler thinks the nodes in the cluster doesn't match the nodes in the vmss, but this is not the case.
VMSS has 7 instance

[2019-11-18 06:30] Jeffwan commented on #2335
Thanks. Yeah, it has been supported. Thanks for the details and I will close the issue.
/close

[2019-11-18 06:30] #2335 closed

[2019-11-18 06:32] Jeffwan commented on #2301
This is done and I will close the issue.

/close

[2019-11-18 06:33] #2301 closed

[2019-11-18 06:39] Jeffwan commented on #2503
/assign @Jeffwan

[2019-11-18 06:43] Jeffwan commented on #1907
Let me double check this issue after kubecon week. Due to the implementation of service controller and draining logic of CA, I am not sure if there's a simple solution. Thanks for keep raising this issue up.

[2019-11-18 06:45] Jeffwan commented on #2469
@reubenavery This is a large feature we normally won't back port to 1.14 and previous versions. You can wait to late Jan or Feb for 1.15.

[2019-11-18 06:51] Jeffwan commented on #2246
Original request has been supported in #2248. We can close this issue and feel free to reopen it.

/close

[2019-11-18 06:51] #2246 closed

[2019-11-18 06:53] Jeffwan commented on #2368
Yeah, it's pretty clear that teraform lack of the right permission to perform `autoscaling:DescribeAutoScalingGroups`. We can close this issue

/close

[2019-11-18 06:53] #2368 closed

[2019-11-18 07:17] Jeffwan commented on #2024
@ranshan If you use one ASG with different instance types, that's true. We talked about the problem here and it brings the challenge to simulation because the number of the node CA brings up depends on the spec of template node.

If you create multiple ASGs with single spot instance type. Price expander is still needed to make the decision. `lowest-price` for different instance may vary.

[2019-11-18 09:12] #2132 closed

[2019-11-18 16:15] Jeffwan commented on #1795
As Jay mentioned, #2235 addressed this issue. Please find the right release version with this improvement. (All releases after Sept has this change from 1.12.x).

[2019-11-18 16:15] Jeffwan commented on #1795
/close

[2019-11-18 16:15] #1795 closed

[2019-11-18 16:55] milesbxf commented on #2508
👋 we're having the same problem. The issue is actually that we're sending a query which only returns a set of timeseries with a single sample each, which for `/api/v1/query` defaults to the current timestamp). This is a "Vector" in Prometheus terminology. On the other hand, the history provider implementation expects a set of samples over time (a Matrix).

The simple fix here is to use the `/api/v

[2019-11-18 18:28] ranshn commented on #2024
@Jeffwan agreed, but if we look at the OP's use-case here:

they want to use the cheaper GPU instance type. So I believe that an ASG with Mixed instances policy that contains the different GPU instance possibilities (i.e p3.2xlarge, p3.8xlarge) and Spot allocation strategy of lowest-price (=1) should do the trick in this use-case, even if the Launch Template will only contain p3.2xlarge, when CA c

[2019-11-18 21:41] elfhack commented on #2389
@bskiba Sorry to hijack the thread, but could you explain in a bit how does vpa actually relate to metrics gotten from metrics-server to the buckets in a VerticalPodAutoscalerCheckpoint? I'm trying to follow the code in histogram.go but I don't understand how buckets are calculated and scaled.

[2019-11-19 11:28] bskiba commented on #2512
So the issue is we don't support init containers. When saving information about containers we [only look at regular ones](https://github.com/kubernetes/autoscaler/blob/249aeab201bc97a8307f2f87d7e74ed16bfd15f7/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L369).

We should either
a) ignore metrics for init containers (to get rid of those warnings)
b) add support for init container

[2019-11-19 12:12] elfhack opened #2542 "Explain how buckets are calculated in VerticalPodAutoscalerCheckpoint"
We would like to know how exactly buckets in VerticalPodAutoscalerCheckpoint are mapped to cpu/memory usage. As in, how do various usages of cpu/memory are placed in which bucket, and does one calculate it from the checkpoint?

[code]

[2019-11-19 12:59] milesbxf opened #2543 "vpa-recommender: Prometheus history provider doesn't work with large Prometheus/Kubernetes deployments"
Whilst working on a fix for #2508 I ran into another issue whilst testing the VPA recommender with the Prometheus history provider. On startup the history provider queries Prometheus for historical container CPU usage over 8 days. We run a fairly large cluster and this results in a non trivial amount of cardinality and large amount of data, which Prometheus sensibly rejects due to the query return

[2019-11-19 13:07] milesbxf commented on #2543
An easier alternative I've just thought of is to make the step resolution time configurable, e.g. going from 30s resolution to 1h resolution. This will impact the accuracy of the history, but be a lot cheaper to run

[2019-11-19 13:16] bskiba commented on #2543
Definitely support the idea to use Prometheus client libtrary.

For the cluster history being to big.
Sharding queries seems to be a reasonable idea.
Downsampling seems a bit risky, especially with memory but I guess downsampled data is better than no data at all.
You might also consider shortening the history horizon instead of downsampling - this will be better for jobs that have daily patterns.

[2019-11-19 14:31] milesbxf commented on #2508
@bskiba : https://github.com/kubernetes/autoscaler/pull/2544

[2019-11-19 14:36] milesbxf commented on #2543
Yeah, you're definitely right about that 😅 didn't know about the "memory saver mode", that's a neat idea.

For now, I'll start working on something that sticks to loading all data on startup, but splits queries up and uses the Prometheus library. We can refactor later to support dynamically loading history.

[2019-11-20 00:33] alecbrick commented on #2400
I'm also interested in VPA for cronjobs. Do you have an estimate for when this will be released? Thanks!

[2019-11-20 12:18] losipiuk opened #2547 "Cluster Autoscaler patch release - request for cherry-picks"
The time has come!

We plan to prepare a set of Cluster Autoscaler patch releases beginning next week. Please issue cherry-picks if you want something in. Just a friendly reminder that as a rule of thumb only bugfixes are cherry-pickable.

cc: @feiskyer, @Jeffwan, @ringtail, @hello2mao, @tghartland

[2019-11-20 13:44] tghartland commented on #2547
No bug fixes for magnum, I'm just working on the big upgrade to support magnum's node groups (I'll open an issue).

[2019-11-20 14:00] tghartland opened #2548 "Support magnum node groups"
With the magnum "train" release node groups are added. Old clusters will be migrated to the new system with two default node groups ("default-master" and "default-worker"), and the autoscaler will continue to work for existing clusters if no extra node groups are added to the cluster.

I have finished writing the gophercloud API for node groups, and reviewing has started https://github.com/gopherc

[2019-11-20 15:37] nitrag commented on #2510
Closing this, however no concrete solution was found. I had to implement a software workaround. Theory is, it might be fixed in K8s > 1.13.

[2019-11-20 15:37] #2510 closed

[2019-11-20 15:48] milesbxf commented on #2543
This gave me a better idea, which is sharding by time. E.g. instead of doing a single 8 day query, it's much more efficient to do eight 1-day queries. This fits very well with how Prometheus actually stores and indexes data too.

[2019-11-21 17:59] milesbxf opened #2552 "vpa-recommender: no way to easily debug issues with cluster state"
Whilst testing my changes to improve the Prometheus history provider, it's been very difficult to verify that the right samples are being added and introspect how these samples are being linked to running pods.

I think it'd be really useful to be able to inspect the vpa-recommender's internal state. Initially a simple HTTP endpoint that returns a blob of JSON would be good, but we could potential

[2019-11-22 13:29] #2449 closed

[2019-11-22 16:01] MMeent commented on #1615
Seeing the same with cluster-autoscaler v1.15.3

[2019-11-23 05:04] #2140 closed

[2019-11-23 05:05] yan234280533 commented on #2141
/reopen

[2019-11-23 19:49] elutsky commented on #1653
Happened for us as well:
Cluster: "v1.15.4"
Cloud: Azure
Autoscaler version: 1.15.2

I1123 18:51:25.870541       1 scale_down.go:771] No candidates for scale down
I1123 18:51:47.848093       1 leaderelection.go:281] **failed to renew lease kube-system/cluster-autoscaler: failed to tryAcquireOrRenew context deadline exceeded
F1123 18:51:47.848126       1 main.go:406] lost master**
goroutine 1 [runn

[2019-11-24 08:36] Jeffwan commented on #2024
@ranshn If you use two override instance types in one LauchTemplate. There's no guarantee which instance will be up. price strategy is CA level concept and it doesn't have any control on ASG.

[2019-11-24 08:37] Jeffwan commented on #2547
Thanks. I will check any cherry-pick candidates.

[2019-11-24 08:39] Jeffwan commented on #1615
@WebSpider @MMeent
Need more info on your side, do you have use basic LaunchTemplate or MixedInstancePolicy in LT?

[2019-11-24 11:08] MMeent commented on #1615
I am using kops 1.15.0 to provision the ASGs, with only one instance type per ASG. As far as I can see, this configures as a LaunchConfiguration.

I use the following cluster-autoscaler command in my pod:

[code]

[2019-11-24 12:12] nitrogear opened #2554 "Autoscale to 0 isn't working on EKS"
I use 1.14.6 on EKS-1.14 and downscale works only to 1, but the minimum size in ASG is 0
[code]
Here is what I see in logs:
[code]
EC2 instances have permisions to work in autoscaling groups (Launch Configuration was used for ASG):
[code]

[2019-11-24 12:42] ranshn commented on #2024
exactly, it's not a guarantee because this is Spot capacity after all and I'm not asking CA to be aware of the lowest-priced instance type decision that ASG is going to make. However, since ASG will be configured with `SpotAllocationStrategy` = `lowest-price` and `SpotInstancePools`=1 then this should achieve what @xinxingliu90 is trying to achieve.

[2019-11-24 12:43] nitrogear commented on #2554
It seems that the minimum value for ASG should be set in parameters of CA pod:
[code]
Thought this value is picked up from ASG configuration

[2019-11-24 12:43] #2554 closed

[2019-11-25 11:56] max-rocket-internet opened #2556 "cluster-autoscaler: crashes when k8s API is updated"
We are using AWS EKS and when AWS periodically updates the EKS service, we see metrics-service crash. For example, last week the service was updated from v1.13.11 to 1.13.12 and this caused the pod to crash. Here's the last state of the pod:

[code]

There's nothing really interesting in the logs at this time, just this:

[code]

The metrics-server also crashed at the same time so perhaps an issue

[2019-11-25 11:56] max-rocket-internet commented on #2556
Version: `k8s.gcr.io/cluster-autoscaler:v1.13.1`

[2019-11-25 11:56] max-rocket-internet commented on #2556
Related: https://github.com/kubernetes-sigs/metrics-server/issues/372

[2019-11-25 12:46] losipiuk commented on #2556
Hi @max-rocket-internet ,

It is intentional exit in case when we are not yet running (during initialization) if we cannot reach API server.
https://github.com/kubernetes/autoscaler/blob/3413247e67d746acd7ff0ea945c0a5bb51a40e16/cluster-autoscaler/main.go#L390
Why do you see it as a problem? The kubelet (if CA is deployed as static pod) or deployment controller (otherwise) will be restarting CA on

[2019-11-25 13:21] max-rocket-internet commented on #2556
It's definitely a problem. It's an error, check the reason and exit code. Cluster updates are happening every month or so and nothing else crashes in this process. We have monitoring and alerts for these events.

The CA should recover from this without exiting with non-zero status IMO 🙂

Why? We don't see any restarts of the pod outside of crashes and updates?

[2019-11-25 15:16] losipiuk commented on #2556
I agree it would be cleaner. I was just pointing that crash is not end of the world as the CA pod will be restarted after crash anyway.
And it would not work without access to API server anyway.

Actually crashing on fatal error in main() like we do (e.g. on lost leader election token) is common for other k8s controllers.
E.g. here: https://github.com/kubernetes/kubernetes/blob/46a29a0cc30c0e601fe

[2019-11-25 15:43] #2213 closed

[2019-11-25 16:18] mrgleeco opened #2557 "preemption triggers 'scale up disabled' in GCE"
In GCE using cluster-autoscaler v1.13.8 have seen a worker pool triggering a message 'Disabling scale up'.

This is a pool of GCE MIG with preempt-able instances. This pool was at zero, and correctly tried to add a node. Within first two minutes the node was reaped and thereafter the pool is unavailable / unusable.

[code]

Is this is a known pathology? Is there a way to reconcile?

[2019-11-25 17:02] max-rocket-internet commented on #2556
Cool 😃

Agreed. We just have a low tolerance for misbehaving containers.

Yes but it could perhaps retry in a loop for a while before exiting with error?

AWS EKS. It's a service. No masters we can see.

On the standard cluster nodes

OK but we have in our cluster many other apps that are using the k8s API that do not crash at this time 🙂 e.g. ingress-controllers, datadog, kube-proxy, external-dns

[2019-11-25 22:13] Jeffwan commented on #2529
@echoboomer Thanks for the suggestion. The condition needs to be added into policy but I think someone may prefer region neutral configuration. Do you think this is a change you can make on helm chart side?

[2019-11-25 22:14] Jeffwan commented on #2517
/area /provider/aws

[2019-11-25 22:15] Jeffwan commented on #2529
/area /provider/aws

[2019-11-26 05:44] dilyevsky opened #2559 "[cluster-autoscaler] Balanced groups expander"
Opening as more of a question to gauge if project maintainers would be open to accepting this change (if needed). I'd like a "balanced" expander option for cluster-autoscaler that would pick instance groups evenly (following lexicographical ordering when `total nodes` % `number of groups` != 0). Currently I see no option like that and random expander seems to produce very uneven spread for some re

[2019-11-26 07:50] Jeffwan commented on #2547
@losipiuk We don't have bug fixes need to be back-ported besides this one. https://github.com/kubernetes/autoscaler/pull/2435

EKS right now support kubernetes cluster 1.11-1.14. It will take around 2-3 months to support 1.15. Right now, we don't have a version with priority expander support which is critical to our users, especially for spot instance use case. Could we backport this feature?  I h

[2019-11-26 10:08] d-baranowski commented on #2434
I'm having the same issue on v1.13.8 :(

[2019-11-26 11:42] alfonso-presa commented on #2498
@MaciekPytel . Sorry for the delay, and thanks for the tips. We finally decided to deploy our own scheduler to use cost effective scheduling policy for the pods, so they tend to fill the nodes instead of spread around them. I still think that the feature of optionally tainting nodes even if pods cannot be evicted would be nice to have. I'll leave the issue opened just in case is something doable i

[2019-11-26 13:21] jaypipes opened #2560 "`git restore` command only in git 2.23+"
The `git restore` command debuted in git version 2.23.0, which was released on Aug 16, 2019:

https://github.com/git/git/releases/tag/v2.23.0

When running the `cluster-autoscaler/hack/update-vendor.sh` script on machines without such a modern Git, such as the latest Ubuntu distribution 19.10 which has git 2.20.1 as of Nov 26, 2019, the script fails with:

[code]

Recommend replacing the use of `g

[2019-11-26 15:38] d-baranowski commented on #2418
I can't get this working in k8s.gcr.io/cluster-autoscaler :(

[2019-11-26 18:29] Jeffwan commented on #2434
em.. @d-baranowski Thanks for reporting. I will have a check.

[2019-11-26 18:35] Jeffwan opened #2564 "[cluster-autoscaler] secondary expander option"
User can specify node group expanders by setting `--expander`. By default. it's `random`.
If we get multiple qualified node groups, CA will use `random` strategy to pick one of them.

We get some feedbacks and sometimes users want to have more control on the selection. For example, users use `priority expander` first and then chose `least waste`. This is something CA doesn't support it now.

I am

[2019-11-27 10:42] d-baranowski commented on #2434
I built a custom autoscaler container based off v1.13.8 branch and deployed it to our cluster. I added a bunch a print statements trying to make sense of the behaviour. You can find the logs and ASG definition in the following gist https://gist.github.com/d-baranowski/0f727f1426df438f69e8c906adacc060

[2019-11-27 10:56] losipiuk commented on #2547
I will merge this as it is opt in - and therefore low risk

[2019-11-27 10:59] losipiuk commented on #2547
O wait - I cannot merge #2435 because bot is complaining about "commit missing GitHub user". Can you guys fix that? I can wait with building 1.14 release till tomorrow. And merge the PR if you fix it and test today. SG?

[2019-11-27 13:40] esierrapena opened #2573 "[cluster-autoscaler] CA doesnt update when Size in vmss is changed"
We have resized the vmss from DS2_v2 to DS3_v2 then edit a deployment and change its request to 10Gi but the pods can be scheduled beacuse CA seems not to notice that update even restarting the CA pod.

I1127 13:21:42.709708       1 utils.go:208] Pod elasticsearch-0 can't be scheduled on k8s-common-12927170-vmss, predicate failed: PodFitsResources predicate mismatch, reason: Insufficient memory
I1

[2019-11-27 18:57] Jeffwan commented on #2547
@losipiuk Cool. Thank you. I will resolve this issue and run some tests.

[2019-11-27 22:12] bshelton229 commented on #1907
We've been able to solve for this by making some minor adjustments to our existing node draining daemonset/controller rig we've had running, as well as making sure our ELBs created by services had connection draining enabled.

All of our AWS autoscaling groups (ASGs) have termination lifecycle hooks. There are lots of different rigs out there (and new EKS node groups look to have this built in), b

[2019-11-27 22:46] Jeffwan commented on #2547
We close #2435 and create a new PR with username correction https://github.com/kubernetes/autoscaler/pull/2578.  @losipiuk  Please have a check

[2019-11-28 01:31] feiskyer commented on #2547
A few cherry picks #2570 #2571 #2572 #2567

[2019-11-28 06:58] nilo19 opened #2581 "Add etags check for CA API calls"
Add ETag-based optimistic concurrency to Cluster Autoscaler’s Azure VMSS capacity update path: capture the VMSS ETag when reading VMSS state and provide it on capacity-changing VMSS PUT/resize requests. On ETag conflict/precondition failure, refresh VMSS state/cache and retry or re-evaluate the scaling decision against the latest state.

[2019-11-28 07:30] nilo19 opened #2582 "InvalidApiVersionParameter when using Cluster autoscaler and managed identity"
Cluster autoscaler (deployed with helm chart) throws an `InvalidApiVersionParameter` error.

Ref: https://github.com/Azure/AKS/issues/1318

[2019-11-28 07:38] nilo19 opened #2584 "Remove ACS support"
Remove ACS support including corresponding docs. https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#acs-deployment

 ACS would retire on Jan 31, 2020.

/area provider/azure

[2019-11-28 07:38] nilo19 commented on #2582
/area provider/azure

[2019-11-28 07:38] nilo19 commented on #2584
/kind cleanup

[2019-11-28 07:39] nilo19 commented on #2582
/kind bug

[2019-11-28 07:40] nilo19 opened #2585 "VMAS autoscaling error"
VMAS failures:

[code]

/kind bug
/area provider/azure

[2019-11-28 08:16] nilo19 opened #2586 "Lack of garbage collection of orphaned resources in the cluster auto-scaler."
Customer requested an issue on GitHub to account for the lack of garbage collection of orphaned resources in the cluster auto-scaler. The autoscaler has created something like 3k ip configuration in the loadbalancer causing huge instability in NRP. We should be garbage collecting unused resources. Customer implemented a script to clean up unused NICs/IPconfigurations and it has stabilized the clus

[2019-11-28 08:16] nilo19 commented on #2586
/kind bug
/area provider/azure

[2019-11-28 11:08] #2145 closed

[2019-11-28 12:12] NeilW opened #2592 "Support go 1.13 properly"
k8s master now supports go 1.13, but the autoscaler still seems to be struggling with it.

Now that Go modules is on by default, the compiler will use the go.mod files in the directories, and with cluster-autoscaler that leads to

[code]

Adding `GO111MODULE=off` to `ENVVAR` restores the status quo, but really this needs addressing properly.

[2019-11-28 13:37] djsly opened #2594 "[Cluster AutoScaler] Process stuck in Decreasing State with bad Arithmetic"
[code]

It's the fourth time I reach this state. The only way to fix it would be to restart the AutoSCaler.

My initial guess is that this is related to the VMSS + CA integration in AKS.

/assign @feiskyer

[2019-11-28 13:38] djsly commented on #2594
AKS: 1.14.7
AutoScaler Version: 1.3.0_v0.0.5 (taken from my bet bet: image: aksrepos.azurecr.io/mirror/cluster-proportional-autoscaler-amd64:1.3.0_v0.0.5)

[2019-11-28 13:42] djsly commented on #2594
probably a duplicate of #2538

[2019-11-28 15:18] losipiuk commented on #2560
This is fixed. Right?

[2019-11-28 15:20] losipiuk commented on #2547
Thanks guys!

New released versions:
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.14.7
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.15.4
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.16.3

[2019-11-28 15:20] #2547 closed

[2019-11-28 16:37] losipiuk commented on #2556
Makes sense. Happy to accept a PR :)

[2019-11-28 17:15] 44past4 opened #2597 "[addon-resizer] Add support for scale up/down delay"
In case of fast changes in the cluster size it might be a good idea to delay resizing of the addon until the size of the cluster is stabilized. Therefore it would be good to have an option to specify a delay for both scale up and scale down operations.

[2019-11-28 17:16] 44past4 commented on #2597
/cc bskiba

[2019-11-28 17:21] 44past4 commented on #2597
/cc @bskiba

[2019-11-28 19:49] manlinl opened #2600 "Extension point to support per namespace node group"
We have some special setup. Each namespace has its own AWS ASG node group.  So when a Pod cannot be scheduled, we want to use CA to scale out the node group of the pod's namespace.

AFAIK, CA doesn't support this functionality. So we want to extend CA for our purpose. But we need some insight about where the best extension point is for our purpose.

Thanks!

[2019-11-29 05:30] Alien2150 commented on #2517
Hey,

To add my 2 cents to that topic; So I think we faced the same issue yesterday. We were running autoscaler on a 5 nodes m5.large instance cluster. We also seen pods unable to start. Just wondering; did you also see „context deadline exceeded“ messages there @sudip-moengage? We solved the issue temporary by adding a sixth node and disabled auto scaling downscaling. Guess it can also be done in

[2019-11-29 07:05] losipiuk commented on #2517
@sudip-moengage CA determines shape of new node by copying existing one. So if existing one is tainted the added candidate also will. You can work around that by using new --ignore-taint flag. It was added to CA 1.14.7 and any 1.15.

[2019-11-29 07:09] losipiuk commented on #2517
Hmm. On the other hand I am not sure if using that flag would not make CA also think Pod should be schedulable on existing nodes. Then it would not work. I will check it later and get back to you

[2019-11-29 08:56] feiskyer commented on #2594
/area provider/azure

[2019-11-29 12:52] #2560 closed

[2019-11-29 19:03] jaypipes commented on #2560
Yup, fixed.

[2019-11-30 09:54] #2157 closed

[2019-12-02 19:52] sudip-moengage commented on #2517
@Alien2150 I don't remember anymore if log contained `context deadline exceeded`. To ignore the issue for now we have decided to follow following convention:
- Setting resource requests and limits always, so by the time we reach max IP[0], resources won't be available (though it is not a good convention, one can't rely on it ;))
- larger worker nodes

Since we started following above constraints I

[2019-12-03 10:47] StianOvrevage opened #2607 "CA / Azure - Failed to scale up - CPU Quota limit"
Cluster autoscaler installed on an `aks-engine` cluster fails to scale up because it tries to go immediately from 2 to 10 nodes resulting in a rejection:

`
E1203 10:35:27.111510       1 azure_scale_set.go:256] virtualMachineScaleSetsClient.CreateOrUpdate for scale set "k8s-workers-x-vmss" failed: compute.VirtualMachineScaleSetsClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Origin

[2019-12-03 12:23] krzysied opened #2608 "autoscaling-vpa-full tests are failing"
autoscaling-vpa-full test  is failing.
The problem involves "invalid workload kind for resource consumer"

It consistently fails since 11/29/2019 02:06 PST.
Testgrid link: https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-full

[2019-12-03 12:24] krzysied commented on #2608
/kind bug
/vertical-pod-autoscaler

[2019-12-03 12:24] krzysied commented on #2608
/assign

[2019-12-03 12:32] krzysied commented on #2608
/cc @bskiba

[2019-12-03 12:48] krzysied commented on #2608
IIUC correctly:
- full vpa tests uses KindDeployment from vendored package to create deployment:
https://github.com/kubernetes/autoscaler/blob/90bec62d19e46035d11e24567fa73ba1e2899f85/vertical-pod-autoscaler/e2e/v1/full_vpa.go#L65
which uses https://github.com/kubernetes/autoscaler/blob/90bec62d19e46035d11e24567fa73ba1e2899f85/vertical-pod-autoscaler/e2e/vendor/k8s.io/kubernetes/test/e2e/common/au

[2019-12-03 12:54] krzysied commented on #2608
IMHO The bug stater with https://github.com/kubernetes/autoscaler/pull/2575 being merged, however the true culprit is using constants for one thing from two different packages.

[2019-12-03 13:30] #2608 closed

[2019-12-04 11:11] icy commented on #903
I'm using autoscaler 1.14.6 (`k8s.gcr.io/cluster-autoscaler:v1.14.6`), and I get this issue: The autoscaler doesn't scale out when there isn't any node in the group.

[2019-12-04 12:37] bskiba commented on #2542
Please note that the VPA algorithm might change in the future, so this is not guaranteed to stay the same.

The checkpoint contains a summary of observed usage and is compressed to be as small as possible, to not take up space in the etcd.  The clue to understanding the histogram is the [decaying histogram](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommende

[2019-12-04 12:58] jaypipes commented on #2228
/remove-lifecycle-frozen

[2019-12-04 12:59] jaypipes commented on #2228
/remove-lifecycle rotten

[2019-12-04 13:32] MaciekPytel commented on #903
@icy When scaling from 0 nodes CA guesses how a new node would look like and checks if the pending pods would be able to run on this node. In your case the node predicted by CA doesn't have the label requested by pod using nodeSelector or nodeAffinity.
The logic of guessing what labels the first node in a given node group would have is specific to a given cloudprovider and (unless you're using hos

[2019-12-04 15:14] stefanolczak commented on #2547
@losipiuk why there are no 1.13 release ? Are you planning to release it anytime soon? There are few fixes already merged and we are really waiting for one of them - #2509

[2019-12-04 17:22] losipiuk commented on #2547
Actually I did not plan to do so. As k8s 1.13 is EOL. If you need that I will do the release by the end of this week.

[2019-12-04 17:58] stefanolczak commented on #2547
Yes please - it will be very helpful for us. Thank you

[2019-12-04 18:12] jorihardman commented on #1907
@bshelton229 Thanks for the update. I've actually replaced our cloudformation nodegroups with the new eks managed nodegroups and still experience the same issue - this is with a 30s drain enabled. I have a feeling that there's some sort of race condition between deregistering the node from the load balancer the drain removing kube-proxy. I haven't had time to investigate it, but suffice it to say

[2019-12-04 20:07] mollerdaniel commented on #1907
@jorihardman I'm running stable critical production workloads with no 502s or 504s using aws-alb-ingreess-controller during scale-in.

My plan is to deprecate all Services of Type Loadbalancer and replace all with aws-alb-ingress-controller.

My setup uses aws-alb-ingress-controller -> haproxy-ingress but instead of haproxy-ingress, it could be any app.

All environments has a http timeout, in my

[2019-12-04 20:24] eightlimbed opened #2616 "Unable to get instance type from launch config or launch template - AWS g4dn instance types"
I am using `eksctl` to bring up a cluster with three nodegroups. Everything is fine with the nodegroup, except for the one that I want to use the `g4dn.xlarge` instance type.

Here are some logs:
[code]

I've also seen this at times:
[code]

I don't understand why the autoscaler doesn't recognize this instance type. Perhaps it's because it uses a GPU?

[2019-12-05 00:42] #2109 closed

[2019-12-05 00:57] eightlimbed commented on #2418
What autoscaler version are you using, and what eksctl version?

[2019-12-05 03:03] bshelton229 commented on #1907
## Node Draining Solution

@jorihardman I can now confirm that the fix I put in place in our node draining has solved this particular problem for us. This chart shows the k8s node count in the autoscaling pool against ELB 5xx errors for our nginx ingress serviceType LoadBalancer. We haven't seen any direct ELB 5xx since our draining fix.

<img width="605" alt="Screenshot 2019-12-04 17 38 00" src="

[2019-12-05 10:47] d-baranowski commented on #2418
Autoscaler  v1.13.8. We don't use eksctl. We've manage all the infra using Terraform.
Info from eks console: Kubernetes version 1.13 Platform version eks.6.

Let me know if there is any additional info I can provide to help

[2019-12-05 13:52] arjunrn opened #2618 "Quick OOM detection prevents resource updates"
It looks like the quick oom detection evicts the pods before the **recommender** can record an `OOMKill` has occurred. The logs from the updater:

[code]

In the recommender:
[code]
Currently when the quick oom occurs the pod is simply evicted even if the VPA recommendation has not changed. The quick oom eviction should happen when the current resources varies from the recommendation by the same t

[2019-12-05 14:52] bskiba commented on #2618
This does seem possible and maybe we should address it, but I don't think the logs you pasted are showing this case.

The priority is > 0 which means there was actually a difference between pod resources and the recommendation.

[2019-12-05 14:57] eightlimbed commented on #2418
You may want to try to upgrade CA to 1.15

[2019-12-05 15:42] reubenavery opened #2619 "Feature request: CA emitting proper Events on scale up/downs"
It would be very useful to hear from cluster-autoscaler when scaling events occur.  I am aware of these events being recorded within the cluster-autoscaler-status configmap but it would be much more useful (imho) to have also proper Events created and emitted so that these could be collected along with the rest of our clusters' Events (eg `kubectl get events -n kube-system`).

We stream our cluste

[2019-12-05 16:59] #2310 closed

[2019-12-05 17:00] mariojacobo commented on #2310
switched to AKS VMSS autoscaler, much more reliable and much faster. I'd suggesting anyone using Kube on any Cloud provider to use their native autoscaling, this CA has too many issues.

[2019-12-05 17:19] Starblade42 opened #2620 "v1.15.1 Azure: Cluster Autoscaler gets stuck in an error loop after scale in, and can't make progress without being restarted"
# Cluster autoscaler stops making progress after certain scale in events. It ceases to do any work until the CA is restarted.

## Expected behavior:
After the scale in, the cluster autoscaler should resume normal operations of evaluating the cluster to see if it needs to be scaled in or out.

## Actual behavior:
The CA stops evaluating cluster status at all, and gets stuck looking at the size of a

[2019-12-05 17:32] Starblade42 commented on #2620
Duplicate of #2538 and #2594 it appears. Cool. I should have checked the issues first!

Could be fixed by #2613

[2019-12-05 18:20] arjunrn commented on #2618
It's hard to recreate this example. But here you go. From the updater:
[code]

From the recommender:
[code]

The conditions to recreate this are somewhat contrived. I had to set the max recommended and the updater keeps evicting the pods even when it cannot possibly receive higher recommendations. But this could happen even without that condition.

[2019-12-05 18:38] Starblade42 commented on #2620
/area provider/azure

[2019-12-05 18:38] Starblade42 commented on #2620
/kind bug

[2019-12-05 20:07] Starblade42 commented on #2594
Isn't this where the issue is? https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/static_autoscaler.go#L500 It keeps saying that the Expected and Current node size is the same in the function `DecreaseTargetSize`, which refreshes the VMSS size/cache when appropriate:
`Decreasing size of vmss-agent-worker-11prodva7-ieoin, expected=15 current=14 delta=-1`

But `DecreaseTarg

[2019-12-05 20:09] tmessinis opened #2621 "aws autoscaler will launch a node with deployments dependent on an EBS volume in a different zone."
I know this issue is listed under the "Common Notes and Gotchas" section in the README, but the workaround mentioned in that note is not a viable solution if the goal is to maintain an eks cluster with HA. Is this something that's going to be addressed in the foreseeable future?

[2019-12-05 20:57] MMeent opened #2622 "Cluster-Autoscaler: add autodiscovery warning when no groups discovered"
When you use --node-group-auto-discovery and you have a spelling mistake in any of the tag filters, the auto-discovery will not work and silently fail. Please update the behaviour of "no node groups found" to throw at least a warning in such case.

This bit me just today, and took quite some time to debug.

[2019-12-05 21:00] dharmab opened #2623 "Cluster autoscaler does not attempt to autoscale if a resource is reported Failed"
Cluster autoscaler may not attempt to autoscale if certain resources are in the Failed state:

[code]

However, in our experience the Azure API often reports resources are Failed for spurious reasons even if they are otherwise working as expected. Furthermore, it can be very difficult to clear the Failed state without deleting the resource. Deleting network resources may not be possible in many ca

[2019-12-05 21:40] dharmab commented on #2623
In this case I had to resolve the issue by deleting the etcd NIC, which required me to also delete the etcd VM and managed disk, then redeploy those resources in reverse order.

A failure of a single etcd node should not cause worker autoscaling to fail.

[2019-12-06 01:07] #2288 closed

[2019-12-06 01:32] sshukun opened #2624 "Add multiple clusters support to CA"
Some of our customers are running multiple clusters on bare metal. Each cluster has different purpose (e.g. one for production, one for test) with different configuration (k8s version, physical network, etc.). As in a bare metal environment, physical servers keep running at all time, scaling up a cluster when necessary cannot be easily done by adding a new node. Instead we need to first scale down

[2019-12-06 06:06] feiskyer opened #2625 "CA panic when customer sets a wrong VMSS name"
CA would panic when customer starts it with a wrong VMSS name. We should log an error instead of panic.

[code]

Related code:

https://github.com/kubernetes/autoscaler/blob/17536d5bb0037842a77c71b7d7784b7c39603ade/cluster-autoscaler/cloudprovider/azure/azure_scale_set.go#L196

/kind bug
/area provider/azure

[2019-12-06 06:07] kkmsft commented on #2625
/assign

[2019-12-06 06:59] FingerLiu commented on #1501
/remove-lifecycle stale

[2019-12-06 07:55] nilo19 commented on #2620
Are you using AKS or manually-created k8s cluster through aks-engine? @Starblade42

[2019-12-06 08:00] nilo19 commented on #2620
You mean you run into the trouble during `scale up`, doesn't it? So is the `scale down` free from problem?

[2019-12-06 08:42] nilo19 commented on #2620
I can build up a private ca image with some extra logs for you to gain insight into the issue if it is convenient to you. @Starblade42

[2019-12-06 10:03] krzysied opened #2626 "Updater evicts pods in a CronJob test is failing"
Testgrid link: https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-updater
Test fails since 12/05/2019 07:20 PST

Looks like https://github.com/kubernetes/autoscaler/pull/2537 introduced the problem.

[2019-12-06 10:03] krzysied commented on #2626
/cc @piotrnosek

[2019-12-06 14:36] MaciekPytel commented on #2624
Currently CA treats scale-up and scale-down as independent problems. Not only that, it treats scale-down of each node as a separate problem.
What you're asking for makes sense as a use-case, but it seems like it would require solving a problem that is significantly harder than what CA currently does (and, most likely, rewriting a lot of current CA). So, unless someone shows a concrete, simple way

[2019-12-06 14:49] losipiuk commented on #2547
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.13.9 :)

[2019-12-06 16:16] dharmab commented on #2623
After examining this condition, I don't think there's much that can be done within cluster autoscaler to work around this. The condition appears to be within the Azure Management API, and the only resolution appears to be to delete and redeploy the failed resources.

Hopefully this issue is useful to anyone who googles this error in the future.

[2019-12-06 16:16] #2623 closed

[2019-12-06 17:10] patoarvizu commented on #2285
@jaypipes I am seeing a similar issue (K8s 1.12.7, kops 1.12.2, CA 1.12.8, AWS). I purposefully scaled up a `Deployment` replication to a very high number, and I hit a point where AWS couldn't scale up. There were two variations of of AWS not scaling up, 1) The ASG was trying to request instances of a type that wasn't available in a given AZ, or 2) I hit my account-wide limit.

In any case, after

[2019-12-07 03:47] #2600 closed

[2019-12-07 14:42] #2180 closed

[2019-12-08 06:58] #1578 closed

[2019-12-08 09:29] masterkain opened #2628 "Failed to list *v1.CSINode"
I deploy on AWS EKS, kubernetes 1.14.

I upgraded to image `k8s.gcr.io/cluster-autoscaler:v1.17.0` and updated my RBAC to avoid permission errors:

[code]

[code]

However I'm getting spammed by this message:

[code]

[2019-12-08 15:53] matty234 opened #2629 "AWS: Autoscale to 0 doesn't work if the ASG name has a space"
If the ASG name includes a space, CA fails to build a node template for the node group:

`2019-12-08T15:50:32.589802452Z E1208 15:50:32.589732       1 utils.go:308] Unable to build proper template node for Example Autoscaling: Unable to get instance type from launch config or launch template`

The implication being that it will scale to zero and then not be able to scale up again.

I guess the bes

[2019-12-08 15:54] matty234 commented on #2629
/kind bug
/area provider/aws

[2019-12-09 09:49] krzysied commented on #2626
/cc @jbartosik

[2019-12-09 10:37] mkorbi commented on #2210
/remove-lifecycle rotten

[2019-12-09 10:44] chiefzor opened #2630 "Add support for reserved empty nodes"
Usually, it takes ~10 minutes for a node to be provisioned in the cloud provider, sometimes it's a crucial time for an immediate scaling issue.
Please add the feature to support reserved nodes for a peak scaling incident.

[2019-12-10 09:49] #2250 closed

[2019-12-10 12:13] piotrnosek commented on #2626
/assign

[2019-12-10 12:22] krzysied opened #2631 "VPA - admission e2e test race condition"
Current implementation of vpa admission test has a problem with race condition.

The scenario is:
1. VPA object is created.
2. Deployment object is create.
3. VPA watch on deployments is lagging so it takes ~1s to observe new deployment
4. New pods are sent to admission webhook and due to deployment not being observed they don't get the recommendations.
5. Test expects resource recommendations and

[2019-12-10 12:43] krzysied commented on #2631
/assign

[2019-12-10 12:45] krzysied commented on #2631
/kind bug
/vertical-pod-autoscaler

[2019-12-10 12:45] jbartosik commented on #2631
/vertical-pod-autoscaler

[2019-12-10 15:20] wyb1 opened #2633 "VPA - Pods do not get updated requests/limits"
I've noticed that sometimes a cluster gets into a state where the `vpa-updater` is constantly killing pods because the requests/limits are not being updated. According to the logs of the `vpa-admission-controller` the pods should be updated:
[code]
However the pod is not updated with the new requests. Deleting the `vpa-admission-controller` solves the problem presumably because the `vpa-webhook` e

[2019-12-11 01:10] feiskyer commented on #2538
https://github.com/kubernetes/autoscaler/pull/2613 is working on this

[2019-12-11 01:13] feiskyer commented on #2538
/assign @nilo19

[2019-12-11 01:13] feiskyer commented on #2594
/assign @nilo19

https://github.com/kubernetes/autoscaler/pull/2613 is working on the fix for this.

[2019-12-11 08:19] piotrnosek commented on #2626
Solved by https://github.com/kubernetes/autoscaler/pull/2634.

[2019-12-11 09:22] krzysied commented on #2626
Thanks!

[2019-12-11 09:22] #2626 closed

[2019-12-11 13:56] gusampaio opened #2637 "AWS: CA doesn't work with Fargate Nodes in the same EKS cluster."
I have an EKS Cluster 1.14 with platform version eks.5 (which the new Fargate feature is already supported), and every time that I have a Fargate node running under this Cluster, the CA doesn't scale up/down. The first version that I tried for CA was 1.14.6  and with this version, I wasn't able to get any error from CA logs.

After upgrading CA to 1.17.0, the error logs retrieved were following:

[2019-12-11 15:35] sylr opened #2640 "Delete node after drain"
Unless I'm mistaken, after a drain the cluster autoscaler remove the nodes on the cloud provider before removing the "kubernetes nodes".

This flow provokes my monitoring to throw alerts because the ratio daemonset instances ready / daemonset instances desired goes below 100% for a certain amount of time.

So I'm wondering if the CA could delete the node from kubernetes once drained before removin

[2019-12-11 17:22] jaypipes commented on #2285
Thanks for the feedback, @patoarvizu. I think I see what the issue is. I'll push a fix up shortly.

[2019-12-11 18:03] jaypipes commented on #2285
Turns out the code in master and the latest 1.13 release is correct. I added a unit test that proves this in #2641. @xrl and @patoarvizu please verify that you are running CAS with this patch from @gjtempleton:

https://github.com/kubernetes/autoscaler/commit/7d7b6e555fe0ea8a7fa58548c25c0eacffbeab98#diff-34ecd32e36ab8898fff1637bb1b39c2c

[2019-12-11 23:33] xinxingliu90 opened #2642 "CA for aws cannot scale asg from zero node"
We use cluster autoscaler version of 1.13 on aws.  The issue is we are not able to scale asg from zero. The configs are:

1. In node group creation script, we set the node label to be : some_label=true
2. We tag the asg as:
 Key: k8s.io/cluster-autoscaler/node-template/label/some_label
Value: true

It used to work yesterday after this change has been made, the asgs were able to scale from zero. Bu

[2019-12-11 23:47] xinxingliu90 commented on #2642
@Jeffwan

[2019-12-11 23:47] xinxingliu90 commented on #2642
@Jeffwan

[2019-12-12 02:27] lawliet89 commented on #1869
/remove-lifecycle stale

[2019-12-12 05:55] Jeffwan commented on #2642
/assign @Jeffwan

[2019-12-12 06:27] aranair commented on #2004
/remove-lifecycle rotten looking for a way to do this as well.

[2019-12-12 07:36] electron0zero commented on #1869
/remove-lifecycle stale

[2019-12-12 15:52] dggondol commented on #2637
This PR should help https://github.com/kubernetes/autoscaler/pull/2644

[2019-12-12 16:06] ahg-g opened #2645 "Action Required: Run scheduler framework plugins instead of predicates"
As part of [phase 2 of the scheduler migration](https://github.com/kubernetes/kubernetes/issues/85822) to the new scheduler framework, predicates and metadata computations are getting replaced by framework plugins.

As a result, cluster autoscaler will have to be changed to run filter plugins instead of predicates. This can potentially be done by getting the framework handle from the scheduler ins

[2019-12-12 16:07] ahg-g commented on #2645
CA can migrate in the future to create a Framework instead of a full scheduler, but for now I think this is the best next milestone.

[2019-12-12 17:26] patoarvizu commented on #2285
We're running CAS in a production environment with a ~> 1.12 constraint so we can't upgrade to run this (without risk), so we'll have to wait and work around it for now.

[2019-12-12 18:43] #2087 closed

[2019-12-13 00:07] Jeffwan commented on #2642
@xinxingliu90  I would suggest you to give more CA logs and we can diagnose. Here's a configuration I am using to scale from 0.

Deployment.
[code]

You have to label node `k8s.amazonaws.com/accelerator:nvidia-tesla-v100` and also tag ASG

[code]
This is an eksctl node group example, if you use other tools, please apply equivalent changes.

[2019-12-13 14:43] RSA-GitRepo commented on #2085
I am facing challenge, and it looks like automation on vm sizing  with auto scale out and in rules/ condition should resolve it

[2019-12-13 16:42] jorihardman commented on #1907
@bshelton229 really appreciate the thorough write-up. Glad I'm not alone in all this trial-and-error. It looks like I have tentatively worked around this issue by switching to alb-ingress-controller. I don't want to crowd this thread with details on a completely different solution, but you can find my findings here: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/1064.

[2019-12-13 20:07] xinxingliu90 commented on #2642
@Jeffwan, Thanks for the answer, that helps! I have two follow-up questions:

1. Based on the the cluster-autoscaler doc, the label can be a random one like "foo=bar", is the  `cloud.google.com/gke-accelerator` a required label?
2. If all asg has been tagged and all nodes has been labeled, do I still need to add nodeSelectors in pod config?

Currently the only reference tutorial I found is this: h

[2019-12-14 02:17] left4taco commented on #2628
Same error here.

[2019-12-14 02:39] feiskyer commented on #2314
this is out scope of CA.

/close

[2019-12-14 02:39] #2314 closed

[2019-12-15 00:46] cabrinha opened #2646 "Toggle JSON formatting for logs"
It'd be great if we had a way to enable json logging format.

[2019-12-15 02:59] feiskyer commented on #2314
/assign @feiskyer

[2019-12-15 15:25] jwalton commented on #2320
I ran into this last night - in case this helps anyone else, in my case it was because I was trying to launch a process with a 2 cpu request onto an m5.large (which has 2 cpus), but I'd forgotten to take into account that my `kube-proxy` daemonset has a 0.1 cpu request, and my `aws-node` daemonset has a 0.01 cpu request, and 2.11 > 2.  :P

[2019-12-15 21:57] Jeffwan commented on #2642
yes. Otherwise, you may see some problems like inefficient scale up. device info takes time to be passed to APIServer. We need this label to tell CA is a node with GPU is ready or not. Without this, a node with unready GPU may be considered not able to schedule the pod, CA will bring an extra node which is unnecessary. It just take ~30-1min for first node to become ready.

If you think all node gr

[2019-12-15 22:04] amq opened #2647 "maxAllowed not respected"
I'm running 1.14.8-gke.17 and can't get `maxAllowed` to be respected.

Limit Ranges works fine, but is too nongranular.

Example:
[code]

[code]
[code]

Actual pod after scaling to 0 and back:
[code]

Update: seems like `resourcePolicy` doesn't work at all. Tried the following, and both `minAllowed` and `maxAllowed` are not respected. Adding a non-wildcard name and re-creating the VPA didn't help

[2019-12-16 02:10] zhuhesheng commented on #2628
Same error here.

[2019-12-16 07:07] gyliu513 commented on #2270
/remove-lifecycle stale

[2019-12-17 06:06] feiskyer commented on #2620
/assign @nilo19

[2019-12-17 13:30] chinthakagodawita commented on #2503
@joekohlsdorf Cheers for that, we were facing the same issue and setting it to `random` (from `least-waste`) has sorted it out for us.

[2019-12-17 15:47] leeavital opened #2648 "Take terminating pods into account before scaling up"
We are running into an interesting issue with the autoscaler where we have a deployment being binpacked onto a nodegroup. It has the following settings:

[code]

When we create a new rollout for the deployment, this happens:

- 50% of the pods become unavaible
- 50% + 1 new pods get created
- we now have 150% of the original number of pods created (50% each are in pending/running/terminated + 1 mo

[2019-12-17 16:52] krzysied opened #2649 "VPA - Setting up a hamster deployment flake"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-admission-controller/1204452972952555520

Test timeout waiting for a deployment even though the deployment was ready.
[code]

[2019-12-17 16:52] krzysied commented on #2649
/bug

[2019-12-17 17:18] krzysied commented on #2649
/kind bug

[2019-12-17 17:34] krzysied commented on #2649
This line works fine:
https://github.com/kubernetes/autoscaler/blob/30cccb5583aa9f0913c2072c24e9a5744ae68622/vertical-pod-autoscaler/e2e/v1/admission_controller.go#L534-L537
We create deployment and than we wait for it.

The problem seems to be here:
https://github.com/kubernetes/autoscaler/blob/30cccb5583aa9f0913c2072c24e9a5744ae68622/vertical-pod-autoscaler/e2e/v1/admission_controller.go#L558-L5

[2019-12-17 21:22] ilyache opened #2652 "Ignore pods from specific namespace?"
I'm wondering if there's an option to mark a certain namespace as one that cluster-autoscaler should ignore pods from when trying to reschedule pods. While I can mark the pods as not-safe-to-evict, or set a PDB per each one, I'd like to make sure there's no way to just tag an entire namespace as not safe to evict (similar to how `kube-system` is, by default).

[2019-12-18 01:29] #2538 closed

[2019-12-18 01:29] #2594 closed

[2019-12-18 01:29] #2620 closed

[2019-12-18 09:13] amq commented on #2004
A workaround for this could be to set `minAllowed` = `maxAllowed` = desired. For example, setting it to 50 MiB should result in 50 MiB, even though `pod-recommendation-min-memory-mb` is higher.

[2019-12-18 10:41] #2649 closed

[2019-12-18 15:41] piontec commented on #1996
My guess is it should, but I don't have time to mock the whole setup and test it somehow. But for spot instances, the request was never finished and that's the case covered - that's why I think you should be good.

BTW, @MaciekPytel should we close it now?

[2019-12-19 02:43] JacobHenner commented on #2020
With 1.17.0 (which includes the merged PR), I've still observed uneven scale-ups when at least one ASG has active instances and at least one has none. After some additional research, I discovered that this is due to the logic which is used to compare ASGs for similarity.

If a healthy cluster-connected instance exists, its Kubernetes node labels will be considered its labels. If no such instance e

[2019-12-19 02:47] JacobHenner commented on #1676
This might also be due to the issue I mention in https://github.com/kubernetes/autoscaler/issues/2020#issuecomment-567305788

[2019-12-19 03:21] oak13 opened #2666 "Scale-down: Node is terminated before pods are in "Running" state in the other node"
I am working on Kubernetes Cluster (v.1.14.8). I'm using Horizontal Pod Autoscaling and Cluster Autoscaling.

I'm experiencing an issue during scale-down, and I'm not sure whether this is expected behaviour or a bug:

- The cluster has two node pools, the node pool that the application resides, scales from 1 node to 3 nodes (no issues here). (let's call them node1,node2,node3)
- When the load is r

[2019-12-19 06:14] nilo19 commented on #2581
ETAG is not supported in VMSS and VMSS VM now.
/close

[2019-12-19 13:21] janvdvegt commented on #2159
We also use metacontroller with a custom CRD that controls both the deployment and the VPA resource and it doesn't look to be working because of this issue

[2019-12-19 18:38] kcmartin commented on #2552
@milesbxf Not sure if this meets your requirements, but the VPA Recommender metrics are now exposed through kube-state-metrics:

https://github.com/kubernetes/kube-state-metrics/pull/791

[2019-12-19 20:44] posix4e opened #2670 "IBM cloud / Softlayer support"
Curious what it would take to get IBM/Softlayer support going.

[2019-12-19 23:34] marwanad commented on #2625
@kkmsft any updates on this? I can take it up since we're rolling a bunch of fixes and cherry-picks to the provider.

[2019-12-20 00:52] kkmsft commented on #2625
@marwanad - I had assigned it to myself since it came up during one of my runs with CA when the VMSS name was wrong. Yes, please feel free to take it up and fix it.

[2019-12-20 09:49] MaciekPytel commented on #2670
To add a new provider you'd need to implement interfaces in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go. Unfortunately we still don't have any documentation on how to do that, but at least there are plenty of existing providers to use as example.

[2019-12-20 12:29] aleksandra-malinowska commented on #2666
If both nodes have been unused for the same time, then empty node should be removed first. However, if node2 became underutilized before node3, then it'd be drained and deleted first.

Cluster Autoscaler uses eviction API to drain nodes. More precisely:
1. Node is tainted with effect NoSchedule.
2. Eviction is created for each pod on drained node. Kubernetes controller manager performs eviction st

[2019-12-20 16:13] losipiuk commented on #2645
@ahg-g Following our offline discussion I am now taking the framework handle out of created scheduler.

What I would love to do is to make it use my instance of `Snapshot`. Not the one scheduler created internally during initialization.
I would like to migrate out of calling `scheduler.Algorithm.Snapshot()` (and keeping reference to scheduler at all).

Maintaining our own `Snapshot` and updating i

[2019-12-20 21:27] mcandre opened #2672 "Feature: Option to expire old nodes after X days and deploy fresh nodes"

[2019-12-21 02:58] feiskyer commented on #2625
/unassign @kkmsft
/assign marwanad

[2019-12-21 02:59] #2625 closed

[2019-12-21 15:31] JacobHenner commented on #1676
This issue extends beyond detected memory capacity and template-estimated memory capacity. The issues I've found so far which preclude even scale-ups from 0 include:

1. The template-based memory capacity is greater than the kubelet reported memory capacity, and on larger instances, this difference is greater than the toleration for similar amounts of memory. (For example, an m5.4xlarge instance i

[2019-12-23 05:48] #2141 closed

[2019-12-23 07:49] nilo19 commented on #2586
Cannot reproduce the issue.

/close

[2019-12-23 07:49] #2586 closed

[2019-12-23 15:47] ddseapy opened #2684 "Question: Scaling down instances based on how long they have been running"
On AWS "If your instance is billed by the hour, then you're billed for a minimum of one hour each time a new instance is started—that is, when it enters the running state".

Is there a way to configure the cluster autoscaler to shut down instances based on this metric?  If we have paid for an hour but have only been running 30 minutes, it would be good to leave that instance running in case more p

[2019-12-23 21:04] ddseapy commented on #2684
I suppose a daemonset that adds/removes this from the node based on how long it's been up would work?:
"cluster-autoscaler.kubernetes.io/scale-down-disabled": "true"

[2019-12-24 17:05] martinVyoo opened #2689 "GKE: Cluster autoscaler does not scale down if gpus are used"
I have a Pod running on a node pool that is autoscaled **min**:0 **max**:1, another node on another pool is available which has less resources, but enough to run the pod.

Some points:

- The node pool will scale down if the pod is not running on it, so it is not a problem of kube-system pods that are preventing the scale down
- I have made sure the pod can in fact be evicted, according to the [fa

[2019-12-24 17:06] ahg-g commented on #2645
I sent out https://github.com/kubernetes/kubernetes/pull/86591, which should allow you to instantiate a Framework instead of a full scheduler.

Now that you can instantiate a Framework, you can provide your own Snapshot.

[code]

[2019-12-25 01:49] nilo19 commented on #2154
/assign

[2019-12-25 06:42] feiskyer commented on #2327
/assign @nilo19

[2019-12-26 13:06] #2221 closed

[2019-12-26 19:00] gusta095 opened #2691 "Autoscaler Healthy Pod Transfer"
provider: AWS
kubectl: v1.15.0
kops: v1.12.2

we are having the following problem: autoscaler is relocating healthy pods for no apparent reason, it's a very punctual situation, it erases the source pod without ensuring it is healthy in its destination, this occurs when he does the scalerdown.

example log:
"
I1109 00:02:28.138372    1 cluster.go:225] Pod example/api-5555f58707-6g8kl can be moved t

[2019-12-26 21:47] Jeffwan commented on #838
MixedInstancePolicy instance pool already support 1 instance type.  (It was 2 before). From feature perspective, there's no different compare to EC2-Fleet. we can close this issue.

Feel free to reopen if anyone has questions

https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_InstancesDistribution.html

[2019-12-26 21:47] Jeffwan commented on #838
/close

[2019-12-26 21:47] #838 closed

[2019-12-26 21:53] Jeffwan commented on #2418
Scale up from 0 need tags on the ASG for CA the get template node. Could someone with problem share ASG settings?

[2019-12-26 22:10] Jeffwan commented on #2320
@jwalton nice finding! In this case, we would suggest to reserve compute resources for system daemons and allocatable resources would be more accurate.

[2019-12-26 23:11] d-baranowski commented on #2418
![image](https://user-images.githubusercontent.com/2860909/71493226-6886c400-283d-11ea-9614-885c16f4ace1.png)
I presume you're after the tags. Let me know what other settings you'd like to see

[2019-12-27 10:42] MaciekPytel commented on #2691
CA doesn't restart a pod (or validate it was successfully restarted) at scale-down. All it does is pick a node for scale-down, evict pods from that node and remove the node. It assumes the relevant controller (ex. ReplicaSet) will take care of restarting the pod.

So every scale-down temporarily reduces capacity of any deployment (the pods are only recreated after they're deleted). You can control

[2019-12-27 11:15] dzarmola commented on #2125
A noob-y question, but I'm running into the same problem - how can I override this flag?

[2019-12-27 13:52] bskiba commented on #2125
You can override the recommender arguments by specifying an args section in your [recommender deployment file](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/deploy/recommender-deployment.yaml):
[code]
Then you deploy VPA as usual.

[2019-12-27 14:35] bskiba commented on #2647
The maxAllowed influences the maximum recommendation for the resource request, not the resource limit.
The resource limit is calculated from resource request so that the original limit to request ratio is kept. In your case the limit is three times higher than request. Request is recommended as 250Mi (less than 300Mi). Thus the limit is 3*250=750

Incidentally you are also hitting the lowest possi

[2019-12-27 14:41] bskiba commented on #2633
I have not seen this behaviour reported yet, though there is currently no mechanism to guard against repetitive evictions by updater if the admission controller is not applying recommendations.

If the admission controller updates recommendations of pods without reporting errors, but then the created pods have different ones, I would expect that there is another webhook that overrides changes done

[2019-12-27 14:51] bskiba commented on #2618
Thanks a lot for the repro 👍

I agree with the solution you propose:

[2019-12-28 04:41] #2154 closed

[2019-12-28 14:59] #2652 closed

[2019-12-29 22:57] #2684 closed

[2019-12-30 14:38] gjtempleton opened #2696 "CA: AWS Pricing API inaccurate for generating instance type templates"
Ran into this as part of #2550, follow up to #2240

It seems that the pricing API which we are currently using for generating our instance type list in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_util.go#L55 doesn't always return trustworthy data.

This can be seen in the fact that when running the `make generate` step this morning the `c3.8xlarge`

[2019-12-31 21:55] sunilkumarvytla commented on #1218
@mateusz Could you Please let me know the command to get that event..?

[2019-12-31 23:00] marwanad opened #2698 "Autoscaler gets stuck on scale up when virtual node is enabled"
Virtual nodes have no `spec.providerID` set and because we return an error here:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go#L97

An early failure occurs in `(*StaticAutoscaler).RunOnce`, and autoscaler gets stuck with the following log line:

[code]

This should just log the error and return nil

[2019-12-31 23:00] marwanad commented on #2698
/area provider/azure

[2020-01-01 06:01] #2698 closed

[2020-01-01 16:54] skbly7 commented on #2652
@ilyache Did you find solution for the same, given this is now closed?

[2020-01-02 09:58] zxDiscovery opened #2704 "Create service principal failed when I install Cluster Autoscaler on Azure"
The following output is the execution I follow this [step](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#permissions). I can use this subscription id to create kubernetes cluster. I don't know why I can't create a new service principal.
[code]

[2020-01-02 12:27] 44past4 commented on #2597
All required changes have been merged to master and 1.8 branches of addon-resizer.

[2020-01-02 12:27] #2597 closed

[2020-01-02 16:24] sudermanjr commented on #2419
This seems to have been fixed since the issue was filed.

[2020-01-02 16:24] #2419 closed

[2020-01-03 07:10] #2057 closed

[2020-01-03 10:00] #2321 closed

[2020-01-03 12:02] okgolove commented on #1658
I've just gotten the same error.
Only manually resizing can help in this case.

[2020-01-03 23:52] shanhchen commented on #2637
I am seeing the same behavior on my cluster, as soon as I delete the fargate node, the cluster started to auto scale. However, I do not see any error message when fargate node is there. My EKS cluster is 1.14.

[2020-01-04 15:42] #2225 closed

[2020-01-05 05:56] #2242 closed

[2020-01-05 06:17] nilo19 commented on #2585
couldn't repro the bug.

/close

[2020-01-05 06:17] #2585 closed

[2020-01-05 06:20] nilo19 commented on #2505
@mboersma is the issue still there? If so could you help to provide more info for us to gain insight into it?

[2020-01-05 12:00] ilyache commented on #2652
@skbly7 - I went with a PDB for the relevant deployments.

[2020-01-06 17:15] mboersma commented on #2505
I don't have a repro of this issue any longer, and we may have been assuming CA wasn't already draining the node before deleting the VM. I'll close this and we can open if we find a reproducible csae.

[2020-01-06 17:15] #2505 closed

[2020-01-07 00:51] marwanad opened #2713 "Autodiscovery with no max specified fails on Azure"
Parsing the labels fails early if no maximum is specified. This would cause the autoscaler to be in a crashed loop state.

When the azure manager is created, we attempt to parse the labels from the auto discovery tags:
https://github.com/kubernetes/autoscaler/blob/d4dd4298a614623386aa4e961222683e4fd38c1e/cluster-autoscaler/cloudprovider/azure/azure_manager.go#L245

Those labels don't contain the m

[2020-01-07 00:51] marwanad commented on #2713
/area provider/azure

[2020-01-07 08:38] #2327 closed

[2020-01-07 08:40] #2713 closed

[2020-01-07 09:59] wyb1 commented on #2633
I don't believe another webhook interfered because we have many clusters with the same configuration and has only occurred a few times on different clusters. Unfortunately, since this is a rare occurrence I have not been able to reproduce it.

Are there any plans on implementing a safety mechanism to prevent repetitive evictions if the recommendations are not applied?

[2020-01-07 10:23] bskiba commented on #2633
Hm, tricky. When this happens is it a permanent state until you redeploy the admission controller? If you run into this again, it would be really helpful to try and root cause it.

Yeah, implementing the safety mechanism is definitely on the list, though we are not working on it right now. Let me file an issue.

[2020-01-07 10:25] bskiba opened #2715 "Updater should backs off evicting pods if admission controller is not working correctly"
If the admission controller is not applying recommendations for any reason (unavailable, recommendations are getting overridden etc.) the updater will keep evicting pods since it observes recommendation <> request.

We need a mechanism that makes updater back off from evicting pods when the evictions do not result in updating requests.

[2020-01-07 10:26] losipiuk commented on #1842
/remove-lifecycle rotten

[2020-01-07 10:27] bskiba commented on #2715
Would help mitigate #2633 and similar

[2020-01-07 14:18] bskiba commented on #2715
@krzysied

[2020-01-07 16:08] #2159 closed

[2020-01-08 09:34] dmitris commented on #2156
/remove-lifecycle stale

[2020-01-08 18:19] ddseapy opened #2721 "Cluster Autoscaler occasionally requires restarts to scale up ASG"
We recently migrated from 1.13.1 to 1.16.3, and have noticed every few days one of our AWS ASGs stop being used.

They contain nvidia gpus, and the logs say "Pod <pod-name> can't be scheduled on <asg-name>, predicate failed: PodFitsResources predicate mismatch, reason: Insufficient nvidia.com/gpu

Deleting the cluster autoscaler pod fixes the issue for a few days, and then it happens again.

Is so

[2020-01-09 07:38] okgolove commented on #2165
It seems it got fixed.

[2020-01-09 07:38] #2165 closed

[2020-01-09 08:33] #2584 closed

[2020-01-09 09:11] milesbxf commented on #2552
Hey @kcmartin, I actually raised that PR 😁thanks though! The problem we're really having to being able to work out and understand how calculations are being made. For example - how many data points of history do we have? What are the last 10 data points?

[2020-01-09 10:25] morsok commented on #2646
Hello, we would love to have that feature ! We are using Datadog and right now there is no way to differentiate as far as i'm aware between debug, warning error logs etc...

[2020-01-09 14:21] #2618 closed

[2020-01-09 14:26] michaelpporter commented on #1860
I am having the same issue. We have installed CA in 4 different VPCs the three us-east-1 instances all work fine, the one in us-east-2 fails.

[code]

We have used the [helm](https://github.com/helm/charts/tree/master/stable/cluster-autoscaler) version and the [standalone example for multi-asg](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/clust

[2020-01-09 20:03] michaelpporter commented on #1860
Summary:

| account-vpc        | region    | status  |
| -------------- | --------- | ------- |
| data-qa2       | us-east-2 | inconsistent   |
| data-qa1       | us-east-1 | inconsistent   |
| nonprod-qa1   | us-east-1 | success |
| nonprod-test  | us-east-1 | success |
| nonprod-stage | us-east-1 | success |

I will report if we find anything new.

[2020-01-10 10:11] timusri opened #2725 "Kubernetes VPA failed to fetch list of containers. Reason: context deadline exceeded. Last server error: <nil>"
Hi I am trying to deploy a VPA object for one of my deployment but when describing the conditions are failing with error

Status:
 Conditions:
   Last Transition Time:  2020-01-08T13:03:55Z
   Message:               Fetching history failed: Failed to fetch list of containers. Reason: context deadline exceeded. Last server error: <nil>
   Reason:                2020-01-08T13:03:55Z
   Status:

[2020-01-10 12:15] krzysied opened #2726 "VPA - Implementing automatic detection of injected sidecars"
There will be new feature added to VPA dedicated to detecting injected sidecars and omitting them during making pod eviction decision.
This feature assumes that containers handled by Admission Controller will be listed in additional pod annotation. Containers not listed in this annotation will not be taken into account by the Updater.

[2020-01-10 12:16] krzysied commented on #2726
/assign
/cc @bskiba
/cc @kgolab

[2020-01-10 12:18] krzysied commented on #2726
Implementation plan:
- [ ] Adding annotation module.
- [ ] Adding annotation creation to Admission Controller.
- [ ] Adding omitting not listed containers by Updater.

[2020-01-10 13:18] bskiba commented on #2725
The history fetching tries to fetch data from Stackdriver. If you have it disabled, will probably not work. However, it is not strictly necessary for the VPA to work, VPA is able of fetching current metrics from Metrics Server. Do you have a recommendation provided for this VPA object?

[2020-01-10 17:14] Jeffwan commented on #1754
This has been released. Feel free to reopen if there's any issues

/close

[2020-01-10 17:14] #1754 closed

[2020-01-11 03:14] #2253 closed

[2020-01-12 20:44] omerfsen commented on #2320
I also found

` kubectl get nodes --no-headers | awk '{print $1}' | xargs -I {} sh -c 'echo {}; kubectl describe node {} | grep Allocated -A 5 | grep -ve Event -ve Allocated -ve percent -ve -- ; echo'`

from https://jaxenter.com/manage-container-resource-kubernetes-141977.html which produces:
`
ip-172-16-122-95.eu-central-1.compute.internal
  Resource                    Requests      Limits
  cpu

[2020-01-13 07:27] wyb1 commented on #2633
Thanks for opening another issue for the safety mechanism.

Yes, the resources of the pod spec cannot be changed via webhook until the `vpa-admission-controller` is restarted. If this happens again I will try to find the root cause.

[2020-01-13 10:24] tghartland opened #2730 "Cluster autoscaler: Backoff is not persisted after partial scale up failure"
Maybe this is intended, and in any case isn't too much of an issue as far as I can tell.

This will always happen during a scale up operation where some but not all new nodes fail to be created, for example when attempting to add two new nodes but the cloud quota only allows for one.

When the autoscaler sees the failed node (from `NodeGroup.Nodes()`) it will apply a backoff to the node group and

[2020-01-14 08:11] wyb1 commented on #2633
@bskiba the issue came up again on a different cluster and I was able to find the root cause. Somehow the mutating webhook got deleted (presumably by a person). Maybe it would make sense for the admission controller to check if the webhook exists and if it doesn't then it will recreate the webhook.

[2020-01-14 16:06] bskiba commented on #2726
Please add an e2e test as a way of verifying the feature works.

[2020-01-14 18:15] bskiba commented on #2633
Thanks for root-causing this. My gut feeling is that maybe reinstalling webhook every time it is deleted might not be desirable, but I would like to include this case in the safety mechanism. So if this happens the infinite update loop does not happen (i.e. updater stops evicting pods). WDYT?
/cc @krzysied FYI

[2020-01-14 18:16] bskiba commented on #2715
Note: root cause of #2633 is removed Webhook configuration

[2020-01-14 20:06] rapuckett commented on #1081
@cabrinoob  Has there been any progress on this? I'm experiencing the same issue. Labels from my ASG are not being propagated to nodes - in fact, node are being labeled "kops.k8s.io/instancegroup: k80-group" (which is from a completely different ASG). Would love a pointer in the right direction.

<img width="1181" alt="Screen Shot 2020-01-14 at 12 02 47 PM" src="https://user-images.githubuserconte

[2020-01-15 13:44] krzysied opened #2738 "VPA - Admission Controller status"
It can potentially happen that Admission Controller is down. When this happens, we don't want to evict pods (recommendation will not be applied).
Admission Controller should have a status object. This status object should be observed by Updater. If status object has not been updated for a long time, Updater should stop evictions.

[2020-01-15 13:45] krzysied commented on #2738
/assign
/cc @bskiba
/cc @kgolab

[2020-01-15 14:07] krzysied opened #2739 "VPA - Quick OOMs for all containers"
There was a discussion about quick OOMs:
https://github.com/kubernetes/autoscaler/pull/2479

IIUC the agreement was:
- add quick OOM handling for more than 1 containers.
- only containers with scaling policies should be consider for quick OOM.
- quick OOM doesn't apply to injected sidecars.

With [sidecar being currently detected](https://github.com/kubernetes/autoscaler/issues/2726) we are good t

[2020-01-15 14:07] krzysied commented on #2739
/assign
/cc @bskiba
/cc @kgolab

[2020-01-15 14:08] krzysied commented on #2739
Assuming that #2479 looks abandoned, I will create new PR that satisfy those additional requirements.

[2020-01-15 14:23] krzysied commented on #2726
I agree that an e2e test is something nice to have.
Assuming that we need a custom mutating webhook to test this change, I need to do some research about whether to implement a testing webbook or to use an available opensource one...
I will update the issue when I come up with the solution.

[2020-01-16 01:22] rapuckett commented on #2434
Bump. AWS autoscaler (1.15.4) is still not applying node labels & taints to new instances.

[2020-01-16 10:29] timusri commented on #2725
@bskiba  Hey Sorry for the delayed response.
Yes I am getting the recommendation for the first time. Here the full description I got

###
Name:         test-vpa
Namespace:    mynamespace
Labels:       <none>
Annotations:  kubectl.kubernetes.io/last-applied-configuration:
                {"apiVersion":"autoscaling.k8s.io/v1beta2","kind":"VerticalPodAutoscaler","metadata":{"annotations":{},"name":"t

[2020-01-16 12:20] bskiba commented on #2725
Thank you for the details.
The point I would like to stress the most is that the recommendation you get is still valid and you don't have to worry about it's quality, VPA observes what is happening in the cluster and will recommend appropriate values for you.
However, I am looking into reproducing the error that you get, this does seem like an issue with fetching history.

[2020-01-16 12:37] constKutsy commented on #1653
We got the same kind of message and we have a similar config to what @suneeta-mall posted
In the aspect of memory and cpu requests (300mb ram, 100m cpu).
I don't know about the details but my issue got solved by cleaning up all the completed pods from the cluster.
I had about 5k pods when doing.
Back to working correctly.
Also have the same thing as @Pluies
I had 3 clusters with the same config an

[2020-01-16 12:43] bskiba commented on #2725
I can reproduce with a 1.13 cluster. We'll work on fixing this.

[2020-01-16 12:50] pigletfly commented on #2369
/remove-lifecycle stale

[2020-01-16 12:59] pigletfly commented on #2369
yeah,pause pod will help.But could we make overprovisioning a build-in feature, I mean if I want to configure overprovisioning of a cluster, I just have to config some flags of Cluster Autoscaler, perhaps it's `--overprovision-cpu` `--overprovision-memory`, Cluster Autoscaler does all the things underhood.It will simplify the overprovisioning process.

[2020-01-16 13:19] krzysied commented on #2738
Implementation plan:
- [ ] Generic status util. (#2742)
- [ ] Status updating by Admission Controller
- [ ] Status checking by Updater

[2020-01-16 14:08] MaciekPytel commented on #2369
This was discussed on many issues in the past (there were also at least one PR with a proposal). The problem is that there is no single CPU or memory calculation in CA. How would you define the overhead? What if you have nodes with different sets of taints and labels? Is any empty space in the cluster good enough (even if it's on tainted nodes where most pods can't go)? We often recommend having a

[2020-01-16 14:57] krzysied commented on #2726
@aleksandra-malinowska suggest brilliant idea that webhooks should already be tested by k8s e2e tests.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/webhook.go
It looks like there is a pod mutation webhook test. I will try to re-use some of its components/code.

[2020-01-16 22:30] #2268 closed

[2020-01-17 09:29] bskiba commented on #2715
@krzysied this should be handled by #2738

[2020-01-17 09:30] bskiba commented on #2647
Closing the issue, since this is working as intended. Please feel free to reopen if there is something missing.

[2020-01-17 09:30] bskiba commented on #2647
/close

[2020-01-17 09:30] #2647 closed

[2020-01-17 09:31] bskiba commented on #2633
Since the root-cause has been handled, I'd like to close this in favour of #2738
/close

[2020-01-17 09:31] #2633 closed

[2020-01-17 09:32] bskiba commented on #2631
@krzysied What is the current status of this issue? Is it resolved, or are we still missing pieces?

[2020-01-17 09:36] bskiba commented on #2552
Thanks for raising, this looks useful. If anyone is willing to take this up, I'll be happy to review/discuss.

[2020-01-17 09:37] bskiba commented on #2522
@arjunrn I believe this is fixed by #2711?
Please reopen if I misunderstood.
/close

[2020-01-17 09:37] #2522 closed

[2020-01-17 09:39] bskiba commented on #2473
The only references left are the ones in tests for object references, which should be fine.
Closing
/close

[2020-01-17 09:39] #2473 closed

[2020-01-17 09:40] #2004 closed

[2020-01-17 09:41] bskiba commented on #2467
@hongli-my Did you have a change to try the modified VPA object?
The change I suggest is
`
updatePolicy:
  updateMode: "Auto"
`

[2020-01-17 09:41] krzysied commented on #2631
I think we can close it.
Current status:
- Tests will not be flaky.
- Race condition still exists, although it doesn't affect the correctness in normal clusters.

[2020-01-17 09:43] bskiba commented on #2400
Hi all, thank you for your patience!
I am planning to release the CronJob support in the next two weeks. Please pester me if I don't provide updates by that time here.

[2020-01-17 09:44] bskiba commented on #2631
Thanks!
/close

[2020-01-17 09:45] #2631 closed

[2020-01-17 09:51] bskiba opened #2747 "VPA - Document the current recommendation algorithm"
Document
* how recommendations are calculated out of raw samples for CPU and Memory.
* when it is reasonable to expect a stable recommendation for a new workload

Please note that VPA recommendation algorithm is not part of the API and is subject to change without notice

[2020-01-17 09:52] bskiba commented on #2389
Sorry for the long silence here. I've filed #2747 to document the current recommendation algorithm. Please add pieces that you would like documented there.
/close

[2020-01-17 09:52] #2389 closed

[2020-01-17 09:54] bskiba commented on #2359
Closing this in favour of #2387 that seems to be asking for same thing (configure if limits should be modified)

[2020-01-17 09:54] bskiba commented on #2359
/close

[2020-01-17 09:54] #2359 closed

[2020-01-17 09:57] bskiba commented on #2444
Closing in favour of #2387 which asks for the same control (disable scaling limits)
/close

[2020-01-17 09:57] #2444 closed

[2020-01-17 09:58] bskiba commented on #2322
Apologies for no activity. There was a 0.6 release and we are working on 0.7 and 0.8 releases this month
/close

[2020-01-17 09:58] #2322 closed

[2020-01-17 09:59] bskiba commented on #2016
I believe the v1beta1 problem has been fixed since. Please reopen of I am missing something.

[2020-01-17 09:59] bskiba commented on #2016
/close

[2020-01-17 09:59] #2016 closed

[2020-01-17 11:28] kuzm1ch commented on #1607
Same issue as was described.
In my case, it was related to MAX_NODES limit  in autoscaler configuration.
You can check it with this command.
`kubectl get -n kube-system configmap cluster-autoscaler-status -o yaml `
Fixed with a change to cluster-autoscaler deployment, but it will be nice to receive an understandable error message in such a case.
[code]

[2020-01-17 12:45] MaciekPytel commented on #2730
I'm not convinced we should always backoff as soon as at least one node fails to create. I consider a cost of a failed scale-up attempt to be lower than a workload staying pending because CA decided not to scale-up. It's possible that a VM failed to boot or register in Kubernetes for some random reason and retrying the scale-up may still work out just fine. Without any knowledge of error I would e

[2020-01-17 12:54] MaciekPytel commented on #2721
cc: @Jeffwan

This seems specific to AWS provider. Some combination of GPU label workaround not working correctly with caching instance template?

[2020-01-17 12:57] MaciekPytel commented on #2691
Closing the issue as it seems this is WAI. Please re-open if needed.

[2020-01-17 12:57] #2691 closed

[2020-01-17 13:04] MaciekPytel commented on #2689
Sorry for missing this issue earlier. Did you manage to figure it out? If so can you share your solution?

I looked at the data you attached, but I don't see any reason why it wouldn't scale-down. Have you tried opening an issue with GKE support?

[2020-01-17 13:31] MaciekPytel commented on #2672
CA doesn't have any mechanism to replace an existing node with a different node. Scale-up and scale-down are two completely separate pieces of logic that work mostly independently of each other. We'd love to have moving for things like reducing resource fragmentation, but it's much more complex than current CA and unlikely to happen anytime soon.

So, I don't think we're in position to satisfy thi

[2020-01-17 13:33] martinVyoo commented on #2689
I am still having the issue
For now, I am working around the problem by using Jobs instead of Deployments, which makes my pods terminate so that the node can shut down if there are no more pods running on it
This is not ideal since I need a mechanism to launch the jobs (CRONJOB not good enough)

[I have just filled an issue on the google developers platform](https://issuetracker.google.com/issues/

[2020-01-17 13:46] MaciekPytel commented on #2648
It would make sense to filter out pods that are already in terminating state (if CA doesn't already do that, which I suspect it is).

I'd like to avoid making core CA understand deployment's rolling update logic. To be fully correct it would need to predict not only how many pods will be removed by deployment, but also exactly which pods will be deleted. That seems both complex and fragile.
A much

[2020-01-17 13:55] MaciekPytel commented on #2640
CA doesn't remove Node objects at all. It doesn't create them or manage them in any way either. Node object are generally owned by NodeController and kubelet and those components are responsible for removing them once the VM disappears. Even if CA was to delete Node object I suspect it would be recreated anyway.
So, unfortunately, this is WAI.

[2020-01-17 13:55] #2640 closed

[2020-01-17 13:57] MaciekPytel commented on #2628
I've seen the same on GCE.

@losipiuk I think you recently looked into CSINodes? Can you take a look?

[2020-01-17 13:58] MaciekPytel commented on #2624
Closing this as non actionable, please reopen if you have any suggestions on how that could be implemented.

[2020-01-17 13:58] #2624 closed

[2020-01-17 14:06] losipiuk commented on #2628
I am pretty sure that the reason you are seeing those is fact that k8s 1.14 has no `v1.storage.k8s.io.csinode` objects. AFAIK the API was promoted to `v1` from `v1beta1` in k8s 1.17

[2020-01-17 14:07] losipiuk commented on #2628
CA 1.17 is not supposed to be used on k8s 1.14

[2020-01-17 14:08] MaciekPytel commented on #2619
Scale-ups and scale-downs are registered as Events attached to status configmap. They actually do show up if you run `kubectl get events -n kube-system`. Example output from my cluster:

[code]

Closing as I believe this FR is already done. Please re-open if you think there is some more work here.

[2020-01-17 14:08] #2619 closed

[2020-01-17 14:28] pigletfly commented on #2369
thanks for your explanation.ref discussion (https://github.com/kubernetes/autoscaler/issues/735)
/close

[2020-01-17 14:28] #2369 closed

[2020-01-17 15:59] tghartland commented on #2730
All the information is there, but there isn't a direct mapping between a ScaleUpRequest and a ScaleUpFailure to get the failure reason. I agree that identifying scale ups that cause OutOfResources errors is about the only improvement that could be made here.

Regarding simultaneous scale up requests, in the code it looks like these are merged into one scale up request, since the requests are store

[2020-01-17 16:03] MaciekPytel commented on #1607
So far this events show up if a scale-up is not possible due to failing scheduler predicate functions (ie. if adding a node would be possible, but a pod still wouldn't be able to schedule on it). So hitting MAX_NODES wouldn't trigger it.
It's not ideal, but it's not easy to implement something that covers all the reason - there is no one place in autoscaler that understands why a scale-up can't be

[2020-01-17 19:50] #2134 closed

[2020-01-17 21:21] savvys commented on #1607
In the kubectl describe pods

Events:
  Type     Reason             Age                    From                Message
  ----     ------             ----                   ----                -------
  Warning  FailedScheduling   5m12s                  default-scheduler   0/14 nodes are available: 11 node(s) didn't have free ports for the requested pod ports, 13 node(s) didn't match node selector,

[2020-01-19 08:48] machao23 opened #2749 "[AWS EKS] scale-up failure"
CA failed on 'pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 Insufficient CPU.
The work_node_group  has one node and the max node size is 2.
So in that case, will CA automatically add a new node ?
Have I missed a configuration somewhere ?

My configuration is:
[code]

[2020-01-19 19:10] frittentheke commented on #1317
/remove-lifecycle stale

[2020-01-19 21:34] AXington opened #2751 "Question/support or possible feature request: separate configs/settings for separate node groups."
We're running the CA on EKS and we're using a few different applications with different node types and AMIs and due to the nature of some of these applications we need to have alternate settings for these node groups. Primarily, we need to have separate settings for `--scale-down-utilization-threshold`.

We attempted to run multiple autoscalers, but that seems like it's not supported, especially w

[2020-01-19 22:12] AXington commented on #2751
Oh, and the other setting or something really useful would be to have a different wait for terimation/scaleup/etc... so that if the nodes for one app scales down, and another group would trigger a scale down, have those on separate timers...

[2020-01-20 10:30] krzysied commented on #2726
The Agnhost webhook (used by k8s e2e tests) adds initContainer instead of standard container. -_-'
I will try add sidecar injection functionality to Agnhost. https://github.com/kubernetes/kubernetes/issues/87383

[2020-01-20 12:11] #2739 closed

[2020-01-20 17:52] aleksandra-malinowska opened #2755 "Cluster Autoscaler releases 1.17.1, 1.16.4 and 1.15.5"
Scheduled to be build on Thu, 2020-01-23.

If you have any cherry-pick PRs which you believe should be included in those releases, please leave a comment here.

[2020-01-21 01:22] Jeffwan commented on #2434
@rapuckett @d-baranowski autoscaler won't apply labels & taints to node object, it will try to fetch from ASG tags and construct node with taints in CA memory.  Could I know what your ASG tags look like?

[2020-01-21 09:06] techsaau opened #2756 "Failed to pull image cluster-autoscaler:1.14.7"
I'm continuously getting below error while creating cluster-autoscaler in Azure Kubernetes Service:

Failed to pull image "k8s.gcr.io/cluster-autoscaler:1.14.7": rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/cluster-autoscaler:1.14.7 not found: manifest unknown: Failed to fetch "1.14.7" from request "/v2/cluster-autoscaler/manifests/1.14.7".

Even I tried to

[2020-01-21 09:17] kycfeel opened #2757 "How do i pass the Digitalocean Access Token to Cluster-Autoscaler?"
Hi there.

I'm struggling to setup a `cluster-autoscaler` for my Digitalocean managed Kubernetes cluster. My `cluster-autoscaler` is complaining that I didn't pass the DO access token, but I don't see any guide or option to pass the token to it.

`digitalocean_cloud_provider.go:181] Failed to create DigitalOcean manager: access token is not provided`

I believe that the general documents should be

[2020-01-21 12:51] emalihin commented on #1070
/remove-lifecycle rotten

[2020-01-21 14:31] #2756 closed

[2020-01-21 16:54] d-baranowski commented on #2434
`        {
            "ResourceType": "auto-scaling-group",
            "ResourceId": "spl-test-asg-monitoring-az2-cluster",
            "PropagateAtLaunch": true,
            "Value": "monitoring-only",
            "Key": "k8s.io/cluster-autoscaler/node-template/label/restrict"
        },
        {
            "ResourceType": "auto-scaling-group",
            "ResourceId": "spl-test-asg-monitori

[2020-01-21 17:55] marwanad commented on #2755
Is it possible to get a 1.14.8 release as well?

[2020-01-21 18:00] nitrag opened #2760 "No documentation for multiple affinity for Spot/On-Demand"
I can't find any documentation to be able to support multiple autoscaling groups for a single pod with priority. The use case is to attempt scale up with spot instances (Spot ASG) and if that fails (lack of capacity), have a fallback ASG (On-Demand).  I see the work at #2235 but can't conceptualize the relationship to the pod config and how cluster-autoscaler works.

Would having:

Two AWS AutoSca

[2020-01-21 19:11] enkelprifti98 opened #2761 "Packet: Add support for multiple nodepools"
The Packet cluster autoscaler is currently missing multi nodepool support. The packet platform itself does not support nodepools but since the cluster autoscaler currently uses Packet tags to identify instances within a nodepool, it should be an option to specify multiple nodepools with instances appropriately tagged.

[2020-01-21 19:12] enkelprifti98 commented on #2761
@iaguis @d-mo @liggitt @Jarvis-Zhou
Adding you guys here for visibility.

[2020-01-21 20:29] dharmab opened #2762 "Workload controllers may time out possibly due to long timeout on VPA webhook"
I'm investigating an issue where workload controllers like the replicaset controller and daemonset controller time out when attempting to create pods. The issue seems to be accompanied by log messages from kube-apiserver indicating that requests to the VPA mutating webhook are timing out. (I haven't yet determined why the VPA webhook times out in the first place.) Deleting the VPA webhook and then

[2020-01-21 21:42] alexmbird commented on #2503
I've just run into this with our clusters.  Even with the `random` expander, all nodes were placed within a single AZ rather than distributed between ASGs in three.  Setting `asg_min_size` / `asg_desired_capacity` to 1 causes CA to distribute further nodes across the three ASGs correctly, but it means we need to keep a baseline of 3 instances running when at times we could go lower.

[2020-01-22 22:01] nitrag commented on #2760
@piontec any thoughts/help here based upon your work for #2235 ? Or an example how you are handling it?

[2020-01-23 10:33] gs11 opened #2766 "EC2 instance types missing (g4dn.*)"
Autoscaler reports:

This is similar to https://github.com/kubernetes/autoscaler/issues/2179 and I verified that the instance types are missing in the same source file.

[2020-01-23 14:05] #2273 closed

[2020-01-23 17:45] marwanad commented on #2755
@aleksandra-malinowska I am aware that there are no more K8s 1.14 releases but there are some fixes in Azure that would be good to have in a 1.14.8 release.

[2020-01-24 06:48] ilkarataev commented on #2054
What you mean LOC- line of code?

[2020-01-24 09:49] atze234 opened #2768 "Priority Expander doesnt match ASG"
Hi,
im trying to use priority expander on AWS with CA 1.15.4.
Given those ASG Names: `nodes-fallback.redactedfqdn` and `nodes.redactedfqdn` i want to have the fallback group at lower Priority:

[code]
In CA Logs this shows an error:
[code]

When doing this instead:
[code]

everything looks ok:
[code]

I have no idea why it isnt matching the fallback group with the first config map?

My usecase wou

[2020-01-24 10:34] atze234 commented on #2768
I've tested my usecase with my prefered Configuration:
[code]
logs:
[code]

So everything is fine i think. I dont know how the Error Message is generated in Code, but seems misleading/wrong here?

[2020-01-24 12:26] atze234 commented on #2768
The order in expansionOptions is important:
Test1:
nodes.redactedfqdn, maxPrio set to 50
nodes-fallback.redactedfqdn, 40 less than 50, so doing "continue" on all priorities and output the warning
Test2:
nodes.redactedfqdn, maxPrio set to 50
nodes-fallback.redactedfqdn, 60 is greater, so maxPrio set to 60, fallback wins

So indeed the Warning is misleading, but i dont know how to fix this at the mo

[2020-01-24 14:45] ahg-g opened #2769 "Deprecate AlgorithmSource from scheduler ComponentConfig"
AlgorithmSource was meant to be a bridge to allow specifying a Policy file in ComponentConfig. Now that all Policy configuration is available through ComponentConfig directly, AlgorithmSource is not needed. This is the first step towards deprecating scheduler Policy file.

/assign @alculquicondor
/cc @ravisantoshgudimetla @Huang-Wei @damemi

[2020-01-24 14:48] martinVyoo commented on #2689
Google investigated and say they cannot reproduce the error, yet they won't tell me what configuration they used to try to "reproduce" the issue

If anyone ever gets the same issue, I'm listening

[2020-01-24 15:34] alculquicondor commented on #2769
If agreed, we can do this as part of https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20200114-multi-scheduling-profiles.md

#85737

[2020-01-24 15:43] MaciekPytel commented on #2689
Just to clarify - I assume static-pool has an available GPU? If you delete the pod manually is it actually able to schedule on the other node? You can test it by:
1. tainting the node you want to scale down with a NoSchedule taint (so the scheduler can't put the pod back on the node).
2. deleting the pod manually.
3. See if the new pod created by deployment has managed to schedule on the other nod

[2020-01-24 15:44] MaciekPytel commented on #2769
cc: @losipiuk

[2020-01-24 15:58] ahg-g commented on #2769
oh, sorry, that meant to be in the k/k repo :)

[2020-01-24 15:59] #2769 closed

[2020-01-24 16:07] martinVyoo commented on #2689
Yes, static-pool node has a gpu, and is available to be requested by a pod
The node from 'scaleDown' will scale down if the culprit pod is not present on it
the pod will schedule on the `static-pool` when removed from `scaleDown`

I am suspecting CA ignores tolerations for the nvidia.com/gpu taint

[2020-01-24 16:24] ircnelson commented on #2607
@StianOvrevage I found this docs about quotas:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/resource-manager-core-quotas-request

https://docs.microsoft.com/en-us/azure/azure-portal/supportability/classic-deployment-model-quota-increase-requests

[2020-01-24 16:36] MaciekPytel commented on #2689
It wouldn't scale-up for GPU pods either if it ignored that toleration (since it would not think the pods would be able to schedule). I suspect it's something more subtle, but I can't really debug it without any more detailed information about your setup.

[2020-01-24 16:39] martinVyoo commented on #2689
This is pretty much all I can give, I do not have access to the master node since it's the GKE implementation

If I ever get the opportunity, I will try using the pure kubernetes implementation

[2020-01-24 16:47] MaciekPytel commented on #2689
Can you provide some information about your nodepools? ex. gcloud command used to create them (without project name, etc) or a full output of kubectl describe node (and not just the resources part).

[2020-01-24 18:29] Jeffwan commented on #2487
#2639

We already merge the instruction and this can be closed. Thanks @anamika-avinash

/close

[2020-01-24 18:29] #2487 closed

[2020-01-25 23:00] #2284 closed

[2020-01-26 15:27] nilo19 commented on #2704
I would close this since this is nothing to do with the cluster autoscaler.
Maybe this would help
[code]

/close

[2020-01-26 15:27] #2704 closed

[2020-01-27 09:02] gs11 commented on #2766
Doh, didn't check the version of the file in master..

[2020-01-27 09:02] #2766 closed

[2020-01-27 19:05] fardin01 opened #2775 "Unclear documentation on down scaling a node group to 0"
In AWS, I have 2 node groups/ASGs per Availability Zone, and with min number of instances set to 1, it amounts to 6 worker nodes at minimum at all times. During nights/weekends, the cluster can get by with 2 nodes in terms of resources. So I'm trying to have the Autoscaler downscale some of the node groups to 0, but I'm getting confusing information from the documentation.

Under [Auto-Discovery S

[2020-01-28 12:42] krzysied opened #2777 "Merging VPA Updater and Actuation tests into one"
With [Admission Controller status](https://github.com/kubernetes/autoscaler/issues/2738) being added, it makes sens to have only actuation tests where Updater and Admission Controller are required.
Updater e2e tests and Admission Controller e2e test should be merged.

[2020-01-28 12:42] krzysied commented on #2777
/assign

[2020-01-28 12:47] krzysied commented on #2777
/cc @bskiba

[2020-01-29 03:45] stk0vrfl0w opened #2781 "CA adds toBeDeletedTaint before checking AWS ASG settings"
In some clusters, we're noticing that CA is tainting nodes without properly taking into consideration the ASG's minSize and the current desiredSize.  Since the CI/CD systems deploy regularly to these clusters, what is observed is a mass exodus of pods from the chosen node(s) ~ 10 minutes after deployment.

From the logs, it appears that CA reads the ASGs settings when it first starts up and caches

[2020-01-29 12:24] krzysied commented on #2777
The merged tests are passing: https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-actuation.
I'm closing the issue.

[2020-01-29 12:24] #2777 closed

[2020-01-29 18:13] michael-burt commented on #2628
@losipiuk do you know what the latest CAS supported on EKS is? The latest EKS version is 1.14.

[2020-01-29 18:24] hectorj2f commented on #2628
@michael-burt I'd say https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-1.14.7/cluster-autoscaler

[2020-01-29 18:26] michael-burt commented on #2628
Thanks @hectorj2f

I see on the CAS documentation for 1.17 that they list a bunch of notes related to AWS but I guess this is not for EKS.

[2020-01-29 19:19] amitsehgal opened #2783 "Cluster failed to scale-up after adding number of pods"
Error:
I0129 18:57:28.535326       1 reflector.go:370] k8s.io/client-go/informers/factory.go:132: Watch close - *v1.Service total 0 items received
I0129 18:57:35.157353       1 reflector.go:370] k8s.io/autoscaler/cluster-autoscaler/utils/kubernetes/listers.go:319: Watch close - *v1.DaemonSet total 0 items received
I0129 18:57:37.957252       1 static_autoscaler.go:138] Starting main loop
I0129 18:

[2020-01-29 19:29] amitsehgal commented on #2783
CA versoin 6.3.0 kube 1.41 EKS

[2020-01-29 21:00] nitrag commented on #2760
Guess not, wish it would.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#does-ca-respect-node-affinity-when-selecting-node-groups-to-scale-up

[2020-01-29 21:00] #2760 closed

[2020-01-30 10:35] bskiba opened #2784 "Add VPA e2e tests for recommender respecting Min and MaxAllowed"
VPA Spec allows to specify minimum and maximum amount that can be recommended:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L206

We should have a test checking that these constraints are not violated.
@krzysied

[2020-01-30 12:01] ari-becker opened #2786 "Unclear documentation on permissible alternatives for AWS ASG MixedInstancesPolicy"
The [AWS README](https://github.com/kubernetes/autoscaler/blob/f9535479f2ca7316eb062c93918027926223c3fc/cluster-autoscaler/cloudprovider/aws/README.md#using-autoscalinggroup-mixedinstancespolicy) currently advises:

The README also provides an example:

This raises two questions for me:

a) While `r5.2xlarge` has 64 GB of RAM, the `i3.2xlarge` has less: 61 GB of RAM. Wouldn't the 3 fewer GB of RAM

[2020-01-30 12:04] ari-becker commented on #2786
Paging @drewhemm , who wrote that section of the documentation

[2020-01-30 13:27] drewhemm commented on #2786
Hi @ari-becker ,

Perhaps the `i3` family is not the best example, but personally I have not had any issues with them. It depends on the use case in question, particularly around resource requests...

Typically CA will just add more nodes until the current requests are satisfied. However, there is a theoretical edge case where if a request is for 62GB of RAM and CA adds `i3.2xlarge` instances, the

[2020-01-30 22:49] caiohasouza opened #2787 "Unexpected instance terminated"
Hello,

I'm having unexpected terminated instances, on ASG log i have:

On CAS i haven't any log about terminated instance, i have only this:

This behavior is causing cluster problems because the instance are shutdown before the Kubernetes reeschedule the pods and respect the pdb.

The action (instance terminated) is generating by CAS? Or by AWS?

Thank you!

[2020-01-30 23:08] caiohasouza commented on #2045
@Jeffwan i'm having problems with ASG terminating ramdonly ec2 instances, i described on issue https://github.com/kubernetes/autoscaler/issues/2787, if i understand correctly do you said that this behvaior can't happen, it's correct?

[2020-01-31 14:10] GreyOBox opened #2789 "VPA continuously restarting PODs for hamster app"
Kubernetes:
[code]

VPA: Fresh master (0.6.3)

Deployed to Kubernetes as described in docs, all VPA pods are running, service is ok, no errors in logs.
Deployed example from docs `kubectl create -f examples/hamster.yaml`

First few hours `kubectl describe vpa` shows empty Status and Events.
In `vpa-recommender` logs I see only errors like:
[code]
[code]
No errors in other VPA logs.

After few hour

[2020-01-31 14:49] bskiba commented on #2789
The log from recommender seems to indicate unhealthy (overloaded?) API server.

As for continuously updating the pods, this happens if admission controller is not working or not being called by API server.
Do admission-controller logs contain lines saying it's actually updating pod spec?

Is this a hosted Kubernetes or do you have access to the master logs?

[2020-01-31 19:56] briananstett commented on #2637
Any updates on this? Will this be in the next release?

[2020-02-02 10:47] #2628 closed

[2020-02-02 16:00] Sh4d1 commented on #2757
ping @timoreimann :)

[2020-02-02 16:15] timoreimann commented on #2757
(thanks for the ping, @Sh4d1)

👋 @kycfeel

Cluster autoscaler comes pre-installed on DigitalOcean's managed Kubernetes offering, so you normally shouldn't need to pass the token or even install it yourself. (One potential exception being that you want to tune it beyond what DOKS exposes, though I personally haven't heard of such a case yet; let me know though if that's what you're looking for.) We

[2020-02-03 00:17] cep21 commented on #2646
To give some context on this, structured logging is very popular and useful.  It allows users to group and search logs across services.  The most common structured logging format is currently JSON.  There are lots of resources that talk about the usefulness of structured logging, such as [this one](https://engineering.grab.com/structured-logging).  It's understandable by most third party SaaS plat

[2020-02-03 08:47] GreyOBox commented on #2789
But as far as I understand all other requests to API are fine:
[code]

I see just one line related to hamster in logs:
[code]

It's Amazon EKS, I can see many messages like below in logs in CloudWatch for kube-apiserver:
[code]
From POD inside Kube I can send request to this service
[code]

[2020-02-03 08:55] bskiba commented on #2789
Ah right, the failed VPA object update is due to API server being unable to call webhook.

The setup seems fine from my point of view, so there is something EKS specific in play, which I am not familiar with unfortunately. #1547 seems similar, but I understand from your report that the admission controller is already listening on port 443?

[2020-02-03 12:27] fardin01 commented on #2775
@sethpollack Could you please take a look once you get a chance?

[2020-02-03 12:51] sethpollack commented on #2775
@fardin01

1. the asg needs the min to be 0.
2.  normally the autoscaler would pull info like `nodeSelector` labels from the live instances for scale up calculations, in the case of scale to 0, it may not have nodes to get the info from, therefore you need to add that info as tags.

[2020-02-03 13:02] GreyOBox commented on #2789
yes, it's listening and available via service:
[code]

I tried to remove (vpa-down.sh) and install it again with fix from [#1547](https://github.com/kubernetes/autoscaler/issues/1547):
[code]
Сhecked all VPA resources - everything looks fine, service is available. But it's not working with example application still - again hamster PODs restarts and same messages in VPA logs and AWS logs

[2020-02-03 13:09] bskiba commented on #2789
Then I am afraid I am unable to help, this seems to be a problem with setting up a webhook on EKS, not with the VPA itself. Perhaps you can try asking on a forum with some AWS experts?

[2020-02-03 14:58] Shaked commented on #796
Hey, although it's an old thread, I was wondering how can I autoscale down to zero nodes following the attached PR #823?

Couldn't find it anywhere.

Thank you!
Shaked

[2020-02-04 06:25] paranoidsp commented on #2775
@sethpollack I'd like to have some more clarity on this:
* If the asg is at 0, and a pod has a nodeSelector that matches the asg (according to the tags on the asg), will the cluster autoscaler scale up a node and add labels and taints?

[2020-02-04 10:51] krzysied opened #2793 "VPA - Updater logic tests clean-up"
[Updater logic test](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/logic/updater_test.go) should be simplified. Copy-pasted code should be reduced.

[2020-02-04 10:51] krzysied commented on #2793
/assign
/cc @bskiba

[2020-02-04 11:01] krzysied opened #2794 "VPA - Vpa full e2e test flakiness"
Currently vpa full e2e test is flaky due to timeouts.

Testgrid: https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-full

[2020-02-04 11:28] krzysied commented on #2794
I'll be bumping up the timeout for the tests. However it could be worth investigating why there is a ~20 spread on test execution.
/assign

[2020-02-04 12:04] bskiba commented on #2789
I'm closing this since seems we can't do anything here, but please feel free to reopen if there is something VPA-specific that we can help with.
/close

[2020-02-04 12:04] #2789 closed

[2020-02-04 12:46] sethpollack commented on #2775
Adding the labels and taints is not done by the autoscaler.

But it will not scale up without the `k8s.io/cluster-autoscaler/node-template/label` and `k8s.io/cluster-autoscaler/node-template/taint/` tags because it will not be aware that these asgs have those labels/taints.

[2020-02-04 13:57] paranoidsp commented on #2775
Thanks! This is clear now. To clarify it for others reading this:
Adding the labels and taints is the responsibility of the node kubelet bootstrapper, which is part of how the underlying cloud service scales instances.
For anyone using EKS managed nodegroups - this is not supported yet, you'll have to manually edit the Launch templates associated with your AutoScaling Group and add the register-wi

[2020-02-04 14:25] caiohasouza commented on #2787
Hello,

I have news update about this issue, i added to ASG "[Suspended Process](https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html)" the "Terminate" option, with this config the ASG don't terminate instance on Desired changes. After this change the problem not happened anymore, all downscale actions were made by by CAS and i can't saw the error here described.

[2020-02-04 16:52] otterley commented on #2787
Something (possibly not Cluster AutoScaler) is decreasing the Auto Scaling Group's desiredCount value.  That value is the number of EC2 instances that belong to the Group.

If the value is decreased (6 to 5 in this case), and there are more than 5 instances in the Group, EC2 Auto Scaling will choose an instance to terminate, and then terminate it.

But this isn't normally the way Cluster Autoscale

[2020-02-04 18:15] caiohasouza commented on #2787
@otterley thank you.

I understand.I search on cloudtrail with this query:

| filter requestParameters.desiredCapacity=5
| sort eventTime desc

But no result is displayed, very strange...

[2020-02-04 19:53] losipiuk opened #2797 "Scheduler Framework based PredicateChecker - followups"
This is an umbrella issue to list followup items to be addressed after merging in https://github.com/kubernetes/autoscaler/pull/2796

 - [x] Do not return errors from ClusterSnapshot methods for which it does not make sense (Cleare, Revert?, Get*, RemovePod?, RemoveNode?)
 - [x] Pass nodeName to RemovePod to avoid costly iteration over all nodes
 - [x] Refactor errors in basic_cluster_snapshot.go.

[2020-02-04 20:16] sjmiller609 opened #2798 "What does 'optimize utilization' in the GKE autoscaling docs represent in terms of configuring this software?"
Our organization is assessing installing this project into our cluster vs using the GKE-provided autoscaling option. I had previously assumed that this project is the same software used by GKE for autoscaling their users' clusters.

There is a new feature called "optimize utilization" documented by GKE (https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler), but I don't see a

[2020-02-04 20:19] sjmiller609 commented on #2798
GKE docs do link back to this project in a few places. Is it just a configuration for scale down that GKE is abstracting?

[2020-02-05 12:16] GreyOBox commented on #2789
I'll add our solution here if someone will have the same issue
In our case:
* We didn't change port as described in https://github.com/kubernetes/autoscaler/issues/1547
* We use Calico CNI, not AWS CNI
* All traffic between EKS Master and workers allowed
* We just had to move VPA PODs to host network:
[code]

@bskiba thanks for help!

[2020-02-05 12:35] bskiba commented on #2789
I'm glad you managed to solve it!

[2020-02-05 13:20] MaciekPytel commented on #2798
GKE uses a fork of cluster autoscaler, with GKE-specific features and optimizations. As per GKE documentation you linked "optimize utilization" makes autoscaler scale-down more aggressively, but it doesn't directly map to any single feature or configuration of CA.

[2020-02-05 13:58] sjmiller609 commented on #2798
Thanks!

[2020-02-05 13:58] #2798 closed

[2020-02-06 10:08] MaciekPytel commented on #1565
/remove-lifecycle rotten

[2020-02-06 12:35] krzysied commented on #2726
The e2e test pr was merged. I will wait for two green runs of https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-actuation and then I will close the issue.

[2020-02-06 14:34] runningman84 commented on #1366
I think this issue should ne be closed... in my experience if you cannot place a new pod due to the pod limit per node the cluster autoscaler should scale for additional nodes. Right now it says something like this:
[code]

[2020-02-06 17:15] brtknr opened #2802 "Support for NodeGroups in Magnum"
Now that Magnum Train has NodeGroups support, can the cluster-autoscaler work with new nodegroups that are added to a cluster?
https://github.com/kubernetes/autoscaler/blob/1d2f183dc739b3ba03496dee6f458c4c8990a130/cluster-autoscaler/cloudprovider/magnum/examples/cluster-autoscaler-deployment.yaml#L31

[2020-02-06 19:27] rpenugonda opened #2803 "addon-resizer v1.8.4 or v2.1 doesn't work on v1.16.x of kubernetes"
we ran into this issue when we are upgrading a cluster. The issue seems to be deprecation
 of api groups in v1.16.4
do you have a version which works with 1.16.x?
error is
`
I0206 16:31:22.150820       1 nanny_lib.go:118] Resources are not within the expected limits, updating the deployment. Actual: {Limits:map[] Requests:map[]} New: {Limits:map[memory:{i:{value:0 scale:0} d:{Dec:0xc420ca11a0} s:2

[2020-02-06 22:39] irl-segfault opened #2804 "clarify behavior of node affinity in the context of evictable pods"
Hi

It is unclear based on the documentation what happens when a pod with a `preferredDuringSchedulingIgnoredDuringExecution` affinity has a choice between
- evicting a lower priority pod on the preferred node type, and taking its place
- not doing that, and scheduling onto a node that does not match the preferred criteria

I believe the latter is the default behavior.  It would be nice to explici

[2020-02-07 01:59] amadav commented on #1270
Something seems to have changed around this for recent k8s versions. For a node from 1.15.5, the kubectl describe node returns:

bash [kops]$ ktl describe node aks-agentpool-11151811-0 | grep ProviderID
ProviderID:                  azure:///subscriptions/<sub_id>/resourceGroups/**mc**_abhiresourceinfa_testamadavk8s_westus/providers/Microsoft.Compute/virtualMachines/aks-agentpool-11151811-0

This i

[2020-02-07 01:59] amadav commented on #1270
CC: @kkmsft

[2020-02-07 02:01] amadav opened #2805 "[AKS] [Cluster-autoscaler] No node group info found."
K8s version 1.15.5
**Cluster autoscaler version**: gcr.io/google_containers/cluster-autoscaler:v1.2.2

Something seems to have changed around this for recent k8s versions. For a node from 1.15.5, the kubectl describe node returns:

bash [kops]$ **ktl describe node aks-agentpool-11151811-0 | grep ProviderID**
ProviderID: azure:///subscriptions/<sub_id>/resourceGroups/mc_abhiresourceinfa_testamadavk

[2020-02-07 06:22] cliles opened #2806 "[Cluster-autoscaler] Custom max volume count setting possible?"
How does cluster-autoscaler determine node max volume count?

When using a custom volume count limit, via KUBE_MAX_PD_VOLS, seems that scale up is skipped.

[code]

This would be true if a custom volume limit was not active. In such a configuration the pod is not scheduled by the scheduler because all nodes have exhausted their number of volumes.

[2020-02-07 08:32] bskiba commented on #2803
https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.7

[2020-02-07 09:45] krzysied commented on #2726
The test is passing. Nothing more to do here.
I'm closing the issue.

[2020-02-07 09:45] #2726 closed

[2020-02-07 12:31] krzysied commented on #2794
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-full/1225139329743982597/build-log.txt
[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-autoscaling-vpa-full/1225260877695946754/build-log.txt
[code]

It seems that test duration is extended due to some unjustified waiting time between vpa setup and test start.

[2020-02-07 12:42] krzysied commented on #2794
The line `I0206 04:04:09.215] /go/src/k8s.io/autoscaler/vertical-pod-autoscaler/e2e /go/src/k8s.io/autoscaler/kubernetes` should be a result of:
 https://github.com/kubernetes/autoscaler/blob/1d2f183dc739b3ba03496dee6f458c4c8990a130/vertical-pod-autoscaler/hack/run-e2e-tests.sh#L49

The next line is:
https://github.com/kubernetes/autoscaler/blob/1d2f183dc739b3ba03496dee6f458c4c8990a130/vertical-po

[2020-02-07 13:19] krzysied commented on #2794
In vpa we include all k8s tests. Lets remove them: https://github.com/kubernetes/autoscaler/pull/2807

[2020-02-07 14:05] MaciekPytel commented on #2804
This seems to be an issue related to scheduler and not Cluster Autoscaler. As such it should probably be opened in kubernetes/kubernetes repo and tagged to sig-scheduling.

Cluster Autoscaler only cares about making each pod schedulable, it completely ignores scheduler priority functions (ie. it respects requiredDuringScheduling, it doesn't care whatsoever about preferredDuringScheduling).

[2020-02-07 14:05] #2804 closed

[2020-02-07 15:07] krzysied commented on #2794
Looks like #2807 significantly reduced number of unneeded tests
from `2 of 4905 Specs` to `2 of 243 Specs`.
Lets see if it has impact on test start time.

[2020-02-07 15:21] rpenugonda commented on #2803
thank you, my bad i missed it.

[2020-02-07 15:21] #2803 closed

[2020-02-07 16:09] bskiba commented on #2803
No problem, let me know if it doesn't work as expected

[2020-02-07 21:22] tbarrella opened #2809 "Cluster Autoscaler: Specifying allocatable resources with node-template tags"
When scaling up from 0 on AWS, it doesn't appear that CA has any way of knowing about `--kube-reserved` or `--system-reserved` resources. It seems like it would be hard for CA to know about this in general without using tags from the ASG. The `k8s.io/cluster-autoscaler/node-template/label/ephemeral-storage` tag can already be used to specify allocatable ephemeral storage. If there aren't foreseen

[2020-02-08 08:12] #2260 closed

[2020-02-08 20:24] #2311 closed

[2020-02-08 20:24] #1860 closed

[2020-02-09 02:59] feiskyer commented on #1270
@amadav are you using cluster-autoscaler with versions matched with k8s version? (refer matrix [here](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases))

[2020-02-10 01:52] dvohra opened #2810 "vpa-admission-controller- not created"
1. Installed metrics server.

[code]
2. Downloaded autoscaler.
[code]
3. Installed  VPA.

[code]

4. VPA Admission Controller does not get created.

[code]

[2020-02-10 08:40] omerlh opened #2811 "Nodes that are scheduled for removed are marked unreachable"
See kubernetes-monitoring/kubernetes-mixin#300

I noticed that when cluster autoscaler decides to delete a node, it adds a taint "unreachable" to it - which is reserved for indicating a problematic node. It would be better to have a specific taint here instead - something like `cluster-autoscaler-scaledown`.

Thoughts?

[2020-02-10 09:10] rakkhin commented on #1270
Hello there, same problem here, using AKS with VMSS, Kubernetes 1.15.7, cluster-autoscaler 1.15.4 deployed using Helm from stable/cluster-autoscaler.

ProviderID: azure:///subscriptions/<SUBSCRIPTION ID>/resourceGroups/mc_xkom-kube-rg_xkom-kube-ops_westeurope/providers/Microsoft.Compute/virtualMachineScaleSets/aks-agentpool-19524067-vmss/virtualMachines/0
Tag: kubernetes.azure.com/cluster=MC_xkom-

[2020-02-10 09:20] bskiba commented on #2810
Can you paste the result of
`kubectl describe pod -n kube-system vpa-admission-controller-69bf4dd698-hhd9b`

[2020-02-10 09:38] krzysied commented on #2794
Removing all k8s e2e tests from vpa e2e: https://github.com/kubernetes/autoscaler/pull/2812

[2020-02-10 11:58] MaciekPytel commented on #2811
Cluster Autoscaler already uses a [custom taint][1] (which is also mentioned in the issue you linked). And it doesn't set "unreachable" taint.
I think "unreachable" taint popping up is an artifact of the way nodes are cleaned up in Kubernetes. CA doesn't directly manage lifecycle of Node objects (ie. it doesn't create or delete them). All CA does is add or delete VMs on cloudprovider side.
So the

[2020-02-10 14:01] #2793 closed

[2020-02-10 14:08] krzysied commented on #2794
And now it's reduced to `2 of 37 Specs` :)

Hopefully it will reduce the time required by tests to be built.

[2020-02-10 14:16] MaciekPytel commented on #2751
Currently all those are global options, you can't set them per-nodegroup. Running multiple CAs is not officially supported, but I talked with some people who made it work for them. In general you'd need to run CA per-namespace and make it so that every node can only run pods from a single namespace (so that each CA manages a disjoint set of both pods and nodes). Running in different namespaces sho

[2020-02-10 14:20] MaciekPytel commented on #2806
CA basically takes scheduler predicates (or, in 1.18+ filters) and runs them in default configuration to determine what is schedulable and what would be schedulable if more nodes were added. Custom configurations are currently not supported.

[2020-02-10 15:21] krzysied commented on #2784
I assume this is the correct link to what we want to test:
https://github.com/kubernetes/autoscaler/blob/668470fe9d235489227593bb007277341d6512f7/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L142-L149

[2020-02-10 15:22] krzysied commented on #2784
/assign

[2020-02-10 17:30] krzysied commented on #2784
Let's do the cleanup first: #2816

[2020-02-10 17:48] krzysied commented on #2738
Tests seem to work https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-updater.
Closing the issue.

[2020-02-10 17:48] #2738 closed

[2020-02-10 19:44] marwanad commented on #2755
@aleksandra-malinowska @losipiuk ping on the above

[2020-02-10 22:42] dvohra commented on #2810
Is any other configuration needed than discussed at https://docs.aws.amazon.com/eks/latest/userguide/vertical-pod-autoscaler.html?

 Requested output is as follows.

[code]

C:\EKS>

[2020-02-10 22:53] Starblade42 opened #2817 "CA / Azure - Autoscaler fails to respect 429 API Rate limits, and will exhaust API allowed requests"
Cluster Autoscaler in Azure fails to respect the 429's that are returned from the Azure API, and will continue to query across multiple functions, further depleting and extending the exhaustion time for Azure API Rate limits:

In these example logs, the API returns a 429 for all attempts to use the Azure API to get the latest information, and the requests ignore the header to tell them when they c

[2020-02-11 00:02] alexeldeib commented on #2817
Could you share the versions of both Kubernetes and CA you’re using? Is this a managed cluster (AKS) or unmanaged?

@marwanad fyi

[2020-02-11 00:15] marwanad commented on #2817
There's one cache improvement that targets GET calls - still pending official release. A change to respect Retry-After headers is also in the plans.

Could you share your cluster details as well? How many VMSS and how many clusters running autoscaler in your subscription?

[2020-02-11 04:20] icicimov opened #2818 "The examples dir missing"
The deploy guides refer to a directory called `examples` which is missing in the code?

[2020-02-11 04:22] icicimov commented on #2818
Sorry my bad.

[2020-02-11 04:22] #2818 closed

[2020-02-11 06:48] omerlh commented on #2811
Thanks for the detailed answer! May I ask - why does cluster autoscaler not removing the node before deleting the VM?

[2020-02-11 08:36] rakkhin commented on #2805
Copied from: https://github.com/kubernetes/autoscaler/issues/1270#issuecomment-584023737

Hello there, same problem here, using AKS with VMSS, Kubernetes 1.15.7, cluster-autoscaler 1.15.4 deployed using Helm from stable/cluster-autoscaler.

ProviderID: azure:///subscriptions/SUBSCRIPTION ID/resourceGroups/mc_xkom-kube-rg_xkom-kube-ops_westeurope/providers/Microsoft.Compute/virtualMachineScaleSets/

[2020-02-11 09:32] bskiba commented on #2810
This is a question to the author of that documentation, it was not created by SIG Autoscaling

To the original problem. From the logs:

The vpa-tls-certs secret is created by [gencerts.sh](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh) script. You created the VPA by
`kubectl apply -f  autoscaler\vertical-pod-autoscaler\deploy\`

T

[2020-02-11 09:36] bskiba commented on #2810
/close
I'm closing the issue, please reopen if the instruction from previous comment doesn't help

[2020-02-11 09:36] #2810 closed

[2020-02-11 10:01] SYezhkov opened #2819 "Cluster-autoscaller 1.15+ do not work with Magnum"
I deploy cluster-autoscaler from image openstackmagnum/cluster-autoscaler:v1.15.2
Kubernetes version 1.15.7 deployed by Openstack (train release) Magnum 9.1.0

From the log:
I0211 03:00:39.307214       1 scale_down.go:938] Scale-down: removing empty node k8s-nbs-group-wv7cx2k4h24r-node-1
I0211 03:00:49.185156       1 magnum_manager_heat.go:367] Could not resolve node {Name:k8s-nbs-group-wv7cx2k4h2

[2020-02-11 12:49] krzysied commented on #2794
Currently the test execution times are not varying that much.
I'm closing the issue.

[2020-02-11 12:49] #2794 closed

[2020-02-11 13:06] #2784 closed

[2020-02-11 17:34] dvohra commented on #2810
While AWS EKS is very much supported on Windows, the .sh scripts that generate the certs for the VPA don't seem to be favorable to Windows. Installed Git Bash to run the .sh scripts, but still getting :

[code]

[2020-02-11 18:11] Starblade42 commented on #2817
Very happy to hear about the issues you highlighted! 😄

They've been causing us a ton of pain recently. An accompanying bug in the CA (still gathering details) leaves NotReady nodes in the cluster API even after the nodes have been deleted by the CA, and even having 1 NotReady (non-existent) node will exhaust our API allowance because of the current deficiencies in the Azure cloud provider, which

[2020-02-11 18:25] Starblade42 commented on #2817
That does sound like it will resolve our issue with the API specifically. Closing.

[2020-02-11 18:25] #2817 closed

[2020-02-11 18:29] Starblade42 commented on #2755
We're now on Kubernetes 1.16, and we've been waiting for a release that has this fix in it:
https://github.com/kubernetes/autoscaler/pull/2613

We'll probably be on 1.17 within a month or so, but I'd guess the fix would be there too.

[2020-02-12 00:04] Starblade42 opened #2821 "Azure - Cluster Autoscaler - Scale in: CA sometimes fails to delete nodes from kube-API though cloud deletion completes"
We've got ~20 clusters running Kubernetes on non-AKS clusters:

- cluster soft max size of ~200 nodes (most are steady state below this
- kubernetes `v1.16.4`
- cluster-autoscaler `v1.16.3`
- We typically have 5 VMSS for workers in Azure, and they are all multi-AZ enabled.

We've had a problem recently, especially with clusters that scale out and in very often that we end up with a nodes in a `Not

[2020-02-12 00:25] marwanad commented on #2821
Kube-controller manager is the entity responsible for clearing the nodes from etcd as part of node lifecycle controller. Cluster-autoscaler deletes the nodes directly from Azure but leaves the Node object cleanup job to controller-manager.

My guess is because of your API calls being throttled, it's unable to do the cleanup because it needs to do an Azure API call on its side as well. [This](https

[2020-02-12 00:26] marwanad commented on #2821
/area provider/azure

[2020-02-12 01:54] xuyungit commented on #2819
I have the same problem.
It's interesting that we have the same MachineID. And all nodes in my cluster have the same machine ID: 311936e2303b034fe7ef70182235b8cb.
So I doubt that kubelet container running by podman doesn't get the correct machine ID. Maybe we should mount /etc/machine-id into the container.

[2020-02-12 05:27] openstacker commented on #2819
@SYezhkov  @xuyungit  Thank you very much for reporting this issue. Now I'm working on that.

@SYezhkov  Could you please let me know what's the Magnum version you're using and are using podman to bootstrap the k8s? If you're using podman, then I think we probably just need another volume mount at there https://github.com/openstack/magnum/blob/master/magnum/drivers/common/templates/kubernetes/frag

[2020-02-12 05:44] SYezhkov commented on #2819
@openstacker Thank you for reply!  My Magnum version 9.1.0. And yes I use podman. And as wrote @xuyungit I also have the same MachineID for all kubernetes nodes. I check all nodes with command kubectl describe node XXX.

[2020-02-12 06:56] SYezhkov commented on #2819
I locally patch magnum to mount /etc/machine-id to kubelet container and I confirm that this solve the problem

[2020-02-12 06:56] #2819 closed

[2020-02-12 08:52] openstacker commented on #2819
@SYezhkov Fantastic. Thanks for the confirmation. Patch has been submitted https://review.opendev.org/707336

[2020-02-12 09:27] bskiba commented on #2810
This is a very standard script for generating webhook certificates for Kubernetes: https://github.com/kubernetes/apiserver/blob/master/pkg/util/webhook/gencerts.sh

The problem seems to be in this line: https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh#L40

Can you try to change it to:
openssl req -x509 -new -nodes -key ${TMP_DIR}/caK

[2020-02-12 17:45] Starblade42 commented on #2755
@aleksandra-malinowska Thanks so much for this. Do you think a release forthcoming, or should I look at doing a build on our own to limp along?

[2020-02-13 06:06] vickyvikas7988 opened #2823 "AWS node group on EKS cluster does not autoscale from 0."
CA is not scaling when my ASG desired count is 0 and when I increase the count to 1 it scales. Is it due to the  --expander=least-waste?

[code]

    Image ID:      docker-pullable://k8s.gcr.io/cluster-autoscaler@sha256:7ff5a60304b344f2f29c804c7253632bbc818794f6932236a56db107a6a8f5af
Start Time:     Wed, 05 Feb 2020 09:23:37 +0100

[2020-02-13 10:22] MaciekPytel commented on #2457
Sorry, I've missed this before. NodeGroup is a re-sizable set of identical VMs. In most cases it corresponds to some managed instance feature of a given cloud provider (ex. ASG on AWS, MIG on GCE, VMSS on Azure).
You can define min and max number of VMs in each NodeGroup (via --nodes flag or various autodiscovery settings). Those are used for constraining how far CA can scale-up/down a given NodeG

[2020-02-13 10:25] rakkhin commented on #2805
Brand new AKS Cluster

cluster-autoscaler log:
[code]

kubectl describe node:
[code]

[2020-02-13 12:45] tghartland commented on #2802
It's something I'm working on, the main functionality is done but there are some situations that still don't work properly.

For example, to give the autoscaler information about nodes which are being created, the cloudprovider is querying Heat to find the stacks for those nodes. When one of those nodes fails (e.g quota error) the autoscaler tries to remove the node immediately, but the entry in H

[2020-02-13 12:53] tghartland commented on #2802
And regarding your question, the autoscaler will continue to work when Magnum is upgraded to Train, but **not** if extra node groups are added to clusters.

Say you have a cluster with two worker node groups, one node each. The autoscaler only sees the total node count **2**. If it wanted to add one node to the cluster it would make a resize request for **3** nodes, but this would be directed to t

[2020-02-13 12:58] rakkhin commented on #2805
Oh, forgot about autoscaler config:
[code]

[2020-02-13 16:45] maust opened #2829 "Cluster-autoscaler does not work with VPC-Endpoint (AWS/EKS)"
We do have a quite locked-down network in AWS (no internet-connectivity at all). Access to AWS services only via VPC endpoints and on-premise systems via DirectConnect. At the same time we would like to use IAM roles.

Kubernetes: 1.14
Cluster-Autoscaler: 1.14.7

When using cluster-autoscaler it cannot fetch credentials via STS using the IAM role. To my understanding the issue is caused by cluster

[2020-02-13 19:34] hhuuggoo opened #2833 "least-waste expander should not do computations in percentage terms?"
Doesn't it make more sense to compute waste in absolute rather than percentage terms?  We had some pods deployed with 0 requests (yes we can fix that), but that results in a tie between our ASGs (some with 4gigs of ram, and some with 500gigs of ram), and from the autoscaler's perspective, they are both equivalent in this case?

(honest question, not trying to be annoying, and happy to contribute a

[2020-02-14 17:29] devnall commented on #2333
/remove-lifecycle stale

This would be a helpful feature.

I'm assuming OP meant:

[2020-02-15 11:42] Dogstarsuper opened #2834 "Failed to scale up"
Manage  my own k8s , when  start without --provider-id,log shows:
`Failed to scale up: failed to build node infos for node groups: AliCloud: unexpected ProviderID format, providerID=%!!(MISSING)s(MISSING)`

when start with --provider-id,like
`
            - ./cluster-autoscaler
            - --v=4
            - --stderrthreshold=info
            - --cloud-provider=alicloud
            - --nodes=2:

[2020-02-15 20:31] Jeffwan commented on #2446
This issue has been resolved. We can close it. Feel free to reopen if you still have the problem

[2020-02-16 09:27] daganida88 opened #2835 "CA priority expander chooses low priorities although there are higher options"
We have available nodes both on the ASG with the 50 priority and on the ASG with 1 priority,
but from time to time, the CA schedule pods on the low priority ASG.

This is the config map:
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-autoscaler-priority-expander
  namespace: kube-system
data:
  priorities: |-
    1:
      - .*
    50:
      - .*int-cluster-az-c-spot2020021013400150660000

[2020-02-17 13:01] stijndehaes commented on #2637
Making a new 1.14.x release for this would be nice as EKS latest version is 1.14 :)

[2020-02-17 13:33] nilo19 commented on #2821
Seems not an issue of CA, would you take a look at the logs of controller-manager? @Starblade42

[2020-02-17 13:49] #2287 closed

[2020-02-17 17:55] grohan2002 opened #2836 "Kops Cluster on AWS fails to scale down"
Kops Cluster on AWS version  v1.14.8

`kubectl get cm cluster-autoscaler-status -o yaml -n kube-system                                                                                                                                        1 ↵
apiVersion: v1
data:
  status: |+
    Cluster-autoscaler status at 2020-02-17 17:17:40.059509655 +0000 UTC:
    Cluster-wide:
      Health:      Healthy (read

[2020-02-18 09:53] gjtempleton commented on #2797
I've already got a fix for the failing `TestGetRegion` in the closed PR #2750 - will open a separate PR for that now.

[2020-02-18 14:27] tghartland commented on #2548
/remove-lifecycle stale

[2020-02-18 17:55] Starblade42 commented on #2821
Yeah, I'll take a look at our logs from the controller manager during this same window.

[2020-02-18 20:37] Jeffwan commented on #2446
/close

[2020-02-18 20:37] #2446 closed

[2020-02-19 01:48] craiglpeters commented on #2582
@nilo19 is this issue straight forward to fix?

[2020-02-19 01:52] nilo19 commented on #2582
@feiskyer says this is because the MI API was under the preview. I'm not sure what's the status today.

[2020-02-19 15:09] Bwvolleyball commented on #1298
/remove-lifecycle rotten

[2020-02-20 21:06] #2337 closed

[2020-02-21 01:08] sodul commented on #2781
This issue is causing outages for us, any idea on workaround ?

[2020-02-21 04:52] leoskyrocker commented on #1298
/remove-lifecycle stale

[2020-02-21 08:12] leoskyrocker commented on #2390
/remove-lifecycle rotten

[2020-02-21 11:07] hectorj2f commented on #2811
@omerlh that is something that should be done by the providers, however that brings a problem related to awareness when a deletion failed. How would you be able to know that machine is still there even if it was already drained ?

In my opinion it should be done by the providers code, although you can avoid that and wait until the apiserver considers it as gone once the hearbeat timed out ?

[2020-02-23 09:22] daganida88 commented on #2823
Show the cluster autoscaler logs, only that way you will know what the problem is.
It can be permissions issues, or missing tags on your ASG:

k8s.io/cluster-autoscaler/enabled: true

[2020-02-23 09:32] daganida88 commented on #2805
Happend to me also, the problem was the tag on my ASG.
Make sure if you have the following tag:

k8s.io/cluster-autoscaler/disabled: true to change it to k8s.io/cluster-autoscaler/enabled: true

[2020-02-23 19:04] mrgleeco commented on #2557
/remove-lifecycle stale

[2020-02-24 14:03] nilo19 commented on #2582
The issue remains:

[code]

[2020-02-24 14:13] feiskyer commented on #2582
/assign @nilo19

[2020-02-24 22:36] frittentheke commented on #1298
/remove-lifecycle stale

[2020-02-25 02:58] BEvgeniyS commented on #2823
I'm having same issue, it doesn't scale up from 0. If there's already at least one instance, it will launch another one as required. (so permissions are fine).

Command & arguments:
[code]

relevant log:
[code]

It says `No pod using affinity / antiaffinity found in cluster, disabling affinity predicate for this loop`, but my pod actually has the affinity:

[code]

My autoscaling group also has `f

[2020-02-25 08:55] lsytj0413 opened #2856 "import pkg k8s.io/autoscaler and then go mod tidy failed"
I have a project witch import k8s.io/autoscaler pkg，and then go mod tidy failed.

* Go
go version go1.13.6 darwin/amd64

* import
run go get k8s.io/autoscaler@cluster-autoscaler-release-1.17

* go.mod
require k8s.io/autoscaler v0.0.0-20200220022703-fbade1d48794

and then run go mod tidy, failed, output:

[code]

[2020-02-25 13:43] pranaypratyush opened #2857 "Add Oracle Cloud Infrastructure as provider"
Kinda surprised no one asked this already.

[2020-02-26 03:07] lsytj0413 opened #2858 ""k8s.io/kubernetes/pkg/scheduler/core".ScheduleAlgorithm has no field or method Snapshot"
* branch
cluster-autoscaler-release-1.17

* go
go version go1.13.6 darwin/amd64

I have a project import autoscaler, it's version is:

[code]

It failed with:

[code]

I found this function is introduce in https://github.com/kubernetes/autoscaler/commit/b67854e8008ffc1f0ead9cd00dbaa12fb08b5efc#diff-aa62a4a46f434572b43666b621f733ef ，but the **Snapshot** function only available at kubernetes release

[2020-02-26 03:11] lsytj0413 commented on #2858
/cc @maciekpytel @mwielgus @bskiba

[2020-02-26 03:12] lsytj0413 commented on #2856
fix it with:

[code]

but failed on https://github.com/kubernetes/autoscaler/issues/2858

close it.

[2020-02-26 03:12] #2856 closed

[2020-02-26 11:06] MaciekPytel commented on #2857
Support for different cloud providers is generally added by people involved with given platform, not CA developers. We're happy to accept it if Oracle Cloud (or an OSS contributor) wants to contribute one.

[2020-02-26 11:11] MaciekPytel commented on #2858
The reason for this is that with changes in scheduler in 1.17, Cluster Autoscaler could no longer work. Adding the Snapshot function was necessary to fix it. Unfortunately we caught the problem a bit too late in development cycle and the fix in scheduler didn't quite make it before the cut. So we vendored a snapshot of Kubernetes shortly after 1.17 was cut instead (knowing that there was no other

[2020-02-26 11:13] sebastien-prudhomme opened #2859 "verticalpodautoscaler CRD not compliant with openAPIV3"
verticalpodautoscaler v0.6.3 with the patched CRD version from master branch (with some openAPIV3 fixes)

Just notice that there is still that error in the status of the verticalpodautoscaler CRD:

[code]
With this patch, all is ok :

[code]

[2020-02-26 11:29] lsytj0413 commented on #2858
Thanks for your reply. As you mentioned, currently the 1.17 scheduler doesn't have this fix, but there's a plan it will cherry-pick to 1.17？or in my scenario, i must change the kubernetes pkg to 1.18？

[2020-02-26 11:41] pranaypratyush commented on #2857
Sorry, I didn't know about this policy. Correct me if I am wrong, this module basically uses the provider SDK to scale node groups based on Kubernetes cluster state. If so then what's stopping someone from implementing this for OCI?