[2020-06-15 10:13] mrichman commented on #3216
I updated to CA 1.16.5 and added these additional permissions and it's now working:

[code]

[2020-06-15 10:13] #3216 closed

[2020-06-15 11:15] #2715 closed

[2020-06-15 11:15] #2725 closed

[2020-06-15 11:15] #2467 closed

[2020-06-15 12:16] #2512 closed

[2020-06-15 15:19] #2666 closed

[2020-06-15 15:19] #2670 closed

[2020-06-15 15:19] #2672 closed

[2020-06-15 15:19] #2696 closed

[2020-06-15 15:19] #2648 closed

[2020-06-15 15:35] MaciekPytel commented on #3224
Thanks for bringing this up. I'm discussing with sig-scheduling how to handle this.
It's should be a straightforward dependency bump for all versions _except_ 1.17. 1.17 CA relies on a commit that is not on 1.17 branch in k/k, so we can't update dependencies there. We're looking to see if we can cherry-pick the required changes on 1.17 branch in k/k, but that will probably take a while.

[2020-06-15 15:46] aermakov-zalando commented on #3224
We run our own fork (still based on 1.12.2) and we already [fixed it there](https://github.com/zalando-incubator/autoscaler/pull/40) by just patching the vendored dependency, so it's not very relevant for us. You might want consider doing the same in CA until you can update the dependencies properly so it works for other users.

[2020-06-15 16:10] aermakov-zalando commented on #3217
@Jeffwan This is exactly what [we did in our fork](https://github.com/zalando-incubator/autoscaler/blob/zalando-cluster-autoscaler/cluster-autoscaler/ZALANDO_CHANGES.md) (alongside a bunch of other changes to make it work). We'd be glad to have a short sync/knowledge exchange with the EKS team, maybe we wouldn't need to maintain our own fork anymore :).

[2020-06-15 16:11] jrake-revelant commented on #3217
fyi @jaypipes as we had a short exchange with you on this topic last summer.

[2020-06-15 16:20] #2629 closed

[2020-06-15 16:20] #2616 closed

[2020-06-15 16:20] #2621 closed

[2020-06-15 18:22] #2730 closed

[2020-06-15 18:55] bskiba commented on #3218
Fixed, sorry for the delay!
/close

[2020-06-15 18:55] #3218 closed

[2020-06-16 10:33] max-rocket-internet commented on #3115
We are also seeing this issue. It's quite bad I think! Not related to scaling up from 0 though. Logs:

[code]

[2020-06-16 10:52] MaciekPytel commented on #3115
Those log messages mean that cluster autoscaler has recently (within at most last half hour) attempted a scale-up, but was unable to perform it (either it failed to resize ASG or the nodes didn't come up). So those messages can generally be disregarded when debugging - they're the result, not the cause.
I would grep logs for 'Final scale-up plan' (which is when CA actually decides to scale-up) and

[2020-06-16 11:20] max-rocket-internet commented on #3115
OK. There's a lot of logs but here hopefully ones that matter:

[code]

Then this message repeating every loop:

[code]

Maybe this is interesting:

[code]

[2020-06-16 11:27] max-rocket-internet commented on #3115
It's very likely that the problem was in our env somewhere, but hard to debug what is going on with these logs I think?

[2020-06-16 13:49] allamand commented on #3095
Hi, I'm also having thie problem

[code]

I'm using cluster-autoscaler:v1.15.6, do you have recommendation ?

[2020-06-16 17:01] detiber commented on #2942
/remove-lifecycle stale

[2020-06-16 17:54] jaimehrubiks commented on #3133
Can confirm, on eks 1.16

[2020-06-16 22:56] Jeffwan commented on #3217
@aermakov-zalando @jrake-revelant Yeah, I will reach out to you and let's see if we can have a good solution in upstream CA. We do see some other users has requests.

[2020-06-17 12:13] seh commented on #3150
I brought up some of these questions in [the "cluster-api" Slack channel](https://kubernetes.slack.com/archives/C8TSNPY4T/p1592354729089000). See kubernetes-sigs/cluster-api#2461 for an overlapping request.

[2020-06-17 14:28] eldondevat commented on #2943
/remove-lifecycle stale

[2020-06-18 09:35] nemo83 commented on #1907
I'm here for the same issue. Any workaround? Thanks

[2020-06-18 13:04] dignajar commented on #3194
Hello,
I'm still have this issue, is really strange, today all my pods running in the zone A where killed and redeploy to the new nodes.

I found this in the logs

[code]

The autoscaler detects the node is been used `cpu utilization too big (0.878750)` but after the new node appear the autoscaler do this `Removed node "ip-172-16-124-230.eu-west-1.compute.internal" in group "eu-west-1:\x00:eu-west

[2020-06-18 14:09] TBBle commented on #2630
@chiefzor Are you able to achieve this with the [overprovisioning instructions](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler)?

[2020-06-18 14:48] TBBle opened #3230 "Ignore topology.ebs.csi.aws.com/zone label for Balance-Similar-NodeGroups"
The `topology.ebs.csi.aws.com/zone` label is added by the AWS EBS CSI driver as a target for [Persistent Volume Node Affinity](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#node-affinity).

If I understand correctly, a Pod that claims such a volume will only be considered by CA for node groups that have this label, but Pods that do not claim such a volume can be scheduled anywher

[2020-06-19 07:22] bskiba commented on #3174
Since Kubernetes is currently at 1.18 already, that is expected. I will add that information to the README.md

[2020-06-19 08:10] afirth commented on #3131
thanks @towca for the workaround. Confirmed on our side and most appreciated.

sample for anyone coming along later:
[code]

[2020-06-19 12:56] towca commented on #3131
Great, glad to hear it! Feel free to reopen if you have any further questions.

[2020-06-19 12:56] #3131 closed

[2020-06-19 13:29] bhargavim613 opened #3233 "ClusterAutoscaler not scaling up the nodes"
Its taking so long to bring up a new node whenever autoscale is triggered and also whenever scaling nodes down takes place, it takes 10 min to scale down.

My cluster node configuration is 8 cores, 32Gb Memory.

It is faster for 2 core, 8GB like it takes 2 min to spin up a new node

[2020-06-19 20:58] #2761 closed

[2020-06-19 23:13] caiohasouza commented on #2857
+1

[2020-06-21 07:03] chiefzor commented on #2630
Hi @TBBle,
I will try it and I will close the ticket meanwhile.

Thx

[2020-06-21 07:03] #2630 closed

[2020-06-22 14:01] #2768 closed

[2020-06-22 19:05] #2689 closed

[2020-06-23 12:50] caslurjf opened #3235 "Cannot get resource "cronjobs/scale" in API group "batch/v1beta1""
I'm getting "ConfigUnsupported" error message. My VPA setting is:

---
apiVersion: "autoscaling.k8s.io/v1beta2"
kind: VerticalPodAutoscaler
metadata:
  name: my-cronjob-name-vpa
spec:
  targetRef:
    apiVersion: "batch/v1beta1"
    kind: CronJob
    name: my-cronjob-name
  updatePolicy:
    updateMode: "Off"
  resourcePolicy:
    containerPolicies:
      - containerName: '*'
        minAllowed:

[2020-06-23 13:06] bskiba commented on #3235
Which VPA version is it?
CronJob support was introduced in [0.7 release](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.7.0)

[2020-06-23 16:46] ellistarn commented on #3215
There are instructions here for authenticating using OIDC: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/CA_with_AWS_IAM_OIDC.md

Alternatively, IIUC, as long as your pod's IAM role has access to the necessary CA required permissions, it should "just work".

[2020-06-23 20:08] ellistarn commented on #3100
@nandeeshb09 were you able to get this working?

[2020-06-24 07:46] oguzhanaygn opened #3237 "DB Connection problem while scaling down"
Hi, I have EKS Cluster (v 1.16), my application and coredns pods are running as daemonset on cluster. everything seems fine except scaling down. While application nodes are being scaled down, my application is giving "mysqli::__construct(): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution" error. Is my configuration wrong somehow?
Thank you.
My cluster autoscaler

[2020-06-24 10:59] thunder-spb opened #3238 "AWS ASG | Clsuter Autoscaler | Start Instance Refresh implementation?"
Hey guys,

Is there any plans to implement [Instance Refresh](https://aws.amazon.com/blogs/compute/introducing-instance-refresh-for-ec2-auto-scaling/) for ASG?

That would be helpful if I change instance type or launch template, for example, while upgrading AWS EKS cluster to newer version.

[2020-06-24 12:45] mgier opened #3239 "AWS example deployments wrong?"
Hi,

we are upgrading our k8s clusters from 1.15 to 1.17 and therefor want to upgrade the cluster-autoscaler as well. I checked the example deployments for the 1.17 release and found an image tagged with v1.12.3. Is this really the right manifest for the 1.17 release?

https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.17/cluster-autoscaler/cloudprovider/aws/examples/cluste

[2020-06-24 13:21] caslurjf commented on #3235
I'm using [0.8 release](https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.8.0)
![image](https://user-images.githubusercontent.com/45827406/85564261-7e1a5200-b604-11ea-9a82-4631fb46049d.png)

[2020-06-24 13:29] bskiba commented on #3235
Hm, that is unexpected, we actually have e2e tests confirming we provide recommendations for CronJobs:
![image](https://user-images.githubusercontent.com/3731277/85565331-555b8200-b62f-11ea-8ad7-3f6c6e83a9d6.png)

Could you share the status of VPA object and/or vpa-recommender logs?

[2020-06-24 14:49] ArchangelSDY opened #3240 "Azure: cluster autoscaler incorrectly scales down cluster when Azure API calls get throttled"
Recently we had an outage in our production environment. Cluster autoscaler incorrectly scaled down a VMSS size to a very small number which deleted almost all nodes in that VMSS.

# What happend

1. VMSS GET/LIST APIs get throttled.
2. Cluster autoscaler somehow gets restarted.
3. When cluster autoscale starts up again, the default pool size is `-1`: https://github.com/kubernetes/autoscaler/blob/

[2020-06-24 14:52] ArchangelSDY commented on #3240
/kind bug
/area provider/azure

cc @feiskyer

[2020-06-24 15:56] ellistarn commented on #3238
Hi Alexzander,
I'm trying to best understand the feature request here. As I understand it, instance refresh is best used in conjunction with an autoscaler, but not the responsibility of the autoscaler itself. The CA manages the size of your ASGs, but doesn't own the lifecycle of the ASG itself.

Are you using managed nodes for EKS?

[2020-06-24 16:19] caslurjf commented on #3235
![image](https://user-images.githubusercontent.com/45827406/85593374-5be0fe00-b61d-11ea-93a4-6f9f4f91fa7d.png)

[2020-06-24 17:32] thunder-spb commented on #3238
Hi, not sure what managed nodes means here. if Node Group -- then no, we create ASG with Launch Templates. So since CA already controls min/max size of ASG, it can also watch Instance Type change.
Currently to change Instance type of running nodes, I need change it in ASG, then manually `drain` them, and then, if required by resource requests, CA will scale up/down worker nodes. Actually, this fea

[2020-06-24 18:18] ellistarn commented on #3238
What happens if you simply execute an InstanceRefresh on your ASG. Won't it slowly replace the nodes with your latest machinetype/amis? Why does the Cluster Autoscaler need to be involved? I'm new to this space, so I apologize if I'm misunderstanding something.

[2020-06-24 20:04] cep21 opened #3241 "[cluster-autoscaler] More quickly mark spot ASG in AWS as unavailable if InsufficientInstanceCapacity"
I have two ASG: a spot and on-demand ASG.  They are GPU nodes, so frequently spot instances aren't available. AWS tells us very quickly that a spot instance is unavailable: we can see "Could not launch Spot Instances. InsufficientInstanceCapacity - There is no Spot capacity available that matches your request. Launching EC2 instance failed" in the ASG logs.

The current behavior is that autoscaler

[2020-06-25 03:59] nilo19 commented on #3240
/assign

[2020-06-25 07:10] bskiba commented on #3235
Can you try
`
$ kubectl get ClusterRole system:vpa-target-reader -o yaml
`

[2020-06-25 07:15] bskiba commented on #3235
Ah, wait, the Kind is actually Cron**J**ob and your targetRef form VPA object is Cron**j**ob. Can you check if fixing that helps?

[2020-06-25 07:44] dignajar opened #3243 "CA removes nodes with CPU utilization"
I have a strange issue with the CA; the CA adds a new node, spin-up the pod in pending, and after a few minutes remove the node and the pod goes again to pending.

The node CPU utilization is marked as `0.30` so I decrease the `scale-down-utilization-threshold=0.25` to try to avoid this situation, but still happen.

Kubernetes: 1.16.11
CA: 1.16.5 and I tested also 1.18.1

Config
[code]

Logs
[code

[2020-06-25 08:36] thunder-spb commented on #3238
CA remove node with `drain`, ASG InstanceRefresh will just terminate node without any pods migration.

[2020-06-25 10:29] feiskyer commented on #3240
@ArchangelSDY thanks for reporting issue. @nilo19 has opened PR #3242 to fix the bug

[2020-06-25 12:24] #3240 closed

[2020-06-25 13:27] caslurjf commented on #3235
@bskiba looks it worked, but now the message is "No matching VPA found"
![image](https://user-images.githubusercontent.com/45827406/85728356-37912a00-b6ce-11ea-9ed0-6b9f0f1ccc8e.png)

[2020-06-25 13:53] bskiba commented on #3235
Is your updateMode "Off" like in screenshot here: https://github.com/kubernetes/autoscaler/issues/3235#issuecomment-648921752

If you want VPA to apply recommendations you should either set the mode to Initial or Auto. See description of modes here: https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#quick-start

[2020-06-25 15:08] dignajar commented on #3243
I noticed the pod for the CA is deleted also the config map `cluster-autoscaler-status` is deleted.

[2020-06-25 15:10] caslurjf commented on #3235
Changed to updateMode "Auto"
![image](https://user-images.githubusercontent.com/45827406/85746372-cad15c00-b6dc-11ea-89bf-bbd35a1b07df.png)
![image](https://user-images.githubusercontent.com/45827406/85746486-de7cc280-b6dc-11ea-9670-29d2fbe26992.png)

[2020-06-25 15:17] dignajar commented on #2967
@mlushpenko have you figure it out? I feel I have the same issue.

https://github.com/kubernetes/autoscaler/issues/3243

[2020-06-26 11:12] skraga commented on #2181
We're experiencing the same issue on our clusters. When daemonset pod is stuck in Pending state cluster is constantly growing up, the time when we caught this it was ~330 unneeded nodes.
Cloud provider: AWS
CA version: v1.16.5

[2020-06-26 12:56] linecolumn commented on #1410
@mmingorance-dh I tried to install this helm chart on cluster created with kops-1.18.0-beta1, but I didn't put any listed changes in kops configuration file from above.

What is the status of this snippet when latest kops versions are in question, do we need it?

[2020-06-26 13:06] mmingorance-dh commented on #1410
@linecolumn you shouldn't need the snippet configuration anymore. This configuration is only required on Kubernetes clusters with version 1.11 or previous. Priority and preemptions are enabled by default from Kubernetes 1.12. This means the chart should work out of the box.

[2020-06-26 14:04] linecolumn commented on #1410
Something is not okay, when deploying default helm chart, on fresh cluster.

No pods are created. Any ideas how to debug this chart?

[code]

[code]

[2020-06-26 14:11] mmingorance-dh commented on #1410
@linecolumn The `deployments` value is empty:
[code]

[2020-06-26 16:49] caslurjf commented on #3235
Any idea about why the message "No matching VPA found" continues being show ?

[2020-06-28 10:13] lsytj0413 commented on #2858
/close

[2020-06-29 03:56] avedpathak commented on #3194
Probably below labels are causing the problem
**node-role.kubernetes.io/node=
zone=eu-west-1a**

Try to remove the labels and check

[2020-06-29 07:09] dignajar commented on #3194
Hi,
I'm using the label `zone=eu-west-1a` for nodeSelector instead of `failure-domain.beta.kubernetes.io/zone`.
Also, the idea is not to spread the pods between AZ, the idea is to choose in which AZ goes the pods and grow-up the nodes in that zone.

[2020-06-29 08:53] abhassine commented on #3117
Hello @hieu29791

Could you please provide more details by sharing your manifests please ?

Best

[2020-06-29 13:04] krzysied opened #3249 "Full vpa e2e test is flaky"
Full vpa test is flaky.
https://testgrid.k8s.io/sig-autoscaling-vpa#autoscaling-vpa-full

The main contributor is "Pods under VPA have cpu requests growing with usage" (both v1 and v1beta2).
Recommender is epxected to provide recommendation between 500 and 900[mCPU], however it often is above 900.

[2020-06-29 13:06] krzysied commented on #3249
/vertical-pod-autoscaler

[2020-06-29 13:06] krzysied commented on #3249
/assign
/cc @bskiba

[2020-06-29 13:22] linecolumn commented on #1410
@mmingorance-dh thank you! When I put:

[code]

deployment and pod is up:

[code]

But, I fail to understand/configure how this can be utilized b/c  `cluster-autoscaler` is always reporting  _static_autoscaler.go:389] No unschedulable pods_  thus CAS is not creating new nodes.

Should I up number of replicas and/or put some resources so it kick new node creation?

[2020-06-29 13:35] mmingorance-dh commented on #1410
@linecolumn The way you can overprovision a cluster with this chart is taking advantage of the `podPriority` and `Preemptions` features of Kubernetes.
If you check the chart, you'll see it creates 2 `priorityclass` resources. One of them is priority `0` and it becomes the default in the cluster. The other one is `-1` and is the one assigned to the overprovissioner pods.

This way, those pods are r

[2020-06-29 14:41] ribbybibby opened #3251 "Required field in verticalpodautoscalers.autoscaling.k8s.io CRD is identified as diff by ArgoCD"
A diff is continually identified when applying the `verticalpodautoscalers.autoscaling.k8s.io` CRD with ArgoCD. It seems to me that because the `/spec/validation/openAPIV3Schema/properties/spec/required` field is an empty list (`required: []`) it is stripped from the schema when it is applied.

ArgoCD identifies this as a difference between git and the live state (which it technically is).

This o

[2020-06-30 09:06] enxebre commented on #3011
/remove-lifecycle stale

[2020-06-30 09:39] krzysied commented on #3249
There are two things that are causing the flakiness:
- Hamster workload doesn't created perfect resource usage.
  Hamster is expected to use specific amount of resources, however the created resource usage varies. For example for required 600mCPU, hamster can temporarily create 780mCPU.
- VPA is using buckets in histograms.
  VPA doesn't store concrete value of samples; it's placing them in bucket

[2020-06-30 09:44] krzysied commented on #3249
In the test case hamster is producing sample with value ~780mCPU. When calculating 95th percentile algorithm estimates result based on bucket ranges and samples in them. Based on VPA histogram configuration, 800mCPU is returned. This value is still below 900mCPU, however there is one additional factor in target calculation. VPA adds safety margin to the resource request - additional 15%. The final

[2020-06-30 11:01] tomelliff opened #3255 "Cluster autoscaler gets stuck trying to remove expired spot instances"
Currently running cluster autoscaler v1.15.5 (`k8s.gcr.io/cluster-autoscaler:v1.15.5`) on AWS EKS 1.15.

Earlier today we had a couple of spot instances terminated through lack of capacity. After this the cluster autoscaler got caught in a loop trying to terminate these instances and was unable to schedule new instances for pending pods.

Looking at the logs showed:
[code]

while normally we only

[2020-06-30 11:13] tomelliff commented on #3255
I had noticed https://github.com/kubernetes/autoscaler/pull/2235 that was to fix a lack of compute availability when scaling up and didn't think it was related to this specific issue (getting stuck removing already expired spot instances) but I've just noticed the following change:

https://github.com/kubernetes/autoscaler/pull/2235/files#diff-ade7b95627ea0dd6b6f4deee7f24fa7eR280-R284

[code]

Thi

[2020-06-30 12:22] #3249 closed

[2020-06-30 12:35] bskiba commented on #3249
Thanks @krzysied for looking into this

[2020-06-30 12:36] pysiekytel commented on #3215
OK it was my fault, because I was setting `rbac.serviceAccountAnnotations.eks.amazonaws.com/role-arn` in helm chart.
Because of that `cluster autoscaler` tries to authenticate with `OIDC`.

[2020-06-30 12:36] #3215 closed

[2020-06-30 13:41] dschunack opened #3256 "AWS instance types c5a is missing (c5a.*)"
Hey,

I got an error in cluster-autoscaler using an ASG with c5a.8xlarge instances.

Unable to build proper template node for *: ASG "*" uses the unknown EC2 instance type "c5a.8xlarge"

Looking at

autoscaler/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go

I noticed that c5a is missing. Please, add the c5a instances. Thanks

[2020-06-30 19:56] kinghrothgar commented on #2465
Any ETA on this? This makes it hard to have monitoring for mis-reconfigured VPAs

[2020-07-01 01:52] lawliet89 commented on #1869
/remove-lifecycle stale

[2020-07-01 06:59] nilo19 opened #3257 "Unable to update vendor."
There's an error when running `hack/update-vendor.sh` during `go mod tidy -v`, error logs:

[code]
/kind bug

[2020-07-01 07:22] nilo19 commented on #3257
solved by updating against a specific commit id instead of master.

[2020-07-01 07:22] #3257 closed

[2020-07-01 09:09] towca commented on #2907
/close

[2020-07-01 09:09] #2907 closed

[2020-07-01 09:38] hustclf opened #3260 "Does cluster autoscaler support customized cloud provider?"
I want to use CA in private cloud,  can I develop a private cloud provider and specify it for running CA?

[2020-07-01 13:14] mlushpenko commented on #2967
I think @mvz27 fix did it for us.

[2020-07-01 13:53] MaciekPytel commented on #3260
Technically - sure, you need to implement the interfaces in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go. I'd recommend using DigitalOcean provider as an example - I think it's the simplest one we have.

However, I think you will have to develop it in a fork. We're generally happy to accept support for public cloud providers or common priv

[2020-07-01 13:56] hustclf commented on #3260
Thanks for you advice. :)

[2020-07-01 13:56] #3260 closed

[2020-07-01 14:33] povilasv commented on #3010
/remove-lifecycle stale

waiting for review

[2020-07-01 17:09] caslurjf commented on #3235
@bskiba , looks like vpa-recommender is looking for a deployment, not a cronjob. Is it right ?
![image](https://user-images.githubusercontent.com/45827406/86272059-5e56d100-bba4-11ea-81ad-4f21503c4e82.png)

[2020-07-01 18:36] #2757 closed

[2020-07-01 20:28] ltagliamonte-dd commented on #2556
would love to see this fixed as well, this behaviour triggers our alert system during rolling updates of our cluster.

[2020-07-02 02:59] chenchun opened #3266 "vpa-recommender: lots of duplicate scale calls"
All workloads are extended workloads "tapp" in my cluster. Each time vpa-recommender runs a single loop of recommendation, it calls scale api three times for each tapp. I have 2400+ tapp in my cluster, and most time of a loop are spent in [get selector and validate target ref of vpa](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.g

[2020-07-02 09:06] bskiba commented on #3235
It's looking for both, you seem to have a VPA object configured on deployment in the default namespace, and the CronJob one in uat01 namespace.

For the problem of pods not matching the VPA object, could you paste spec of CronJob, Job and a pod in that job? I am interested specifically in labelSelectors and labels of the object.

[2020-07-02 12:56] YYashwanth opened #3268 "pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 max limit reached"
Hello Team,

My cluster autoscaler is throwing up error like

`I0702 12:46:14.945401       1 event.go:209] Event(v1.ObjectReference{Kind:"Pod", Namespace:"default", Name:"hello-world-699d84fcc5-7c4pr", UID:"5c8782a9-0d02-4863-abc1-575ff64de782", APIVersion:"v1", ResourceVersion:"99786677", FieldPath:""}): type: 'Normal' reason: 'NotTriggerScaleUp' pod didn't trigger scale-up (it wouldn't fit if a

[2020-07-02 13:00] YYashwanth commented on #3268
@Jeffwan @exdx Just tagging you as you have responded actively to similar issues. Sorry for tagging you this way.

[2020-07-02 16:08] MaciekPytel commented on #3268
Newer versions of Cluster Autoscaler actually describe the reason why it's not scaling-up. Previously it would just say it can't scale-up, without additional explanaition and there could be any number of very different root causes (including some caused by version mismatch).

In this case the reason is the "1 max limit reached" part. The way to read it is:
- 1 ASG can't be scaled-up because it alr

[2020-07-02 16:23] caslurjf commented on #3235
I deleted VPA from default namespace, now VPA is only in uat01. Below is described job and cronjob, I uploaded the yaml file too if necessary to check further information.
![image](https://user-images.githubusercontent.com/45827406/86384818-ad186f80-bc65-11ea-8f5c-ecdd4a7a5cca.png)
![image](https://user-images.githubusercontent.com/45827406/86385290-66774500-bc66-11ea-96e2-2a46a36dbe87.png)

[rcj-

[2020-07-02 22:51] oguzhanaygn opened #3273 ""scale-down-delay-after-delete" parameter doesn't work properly"
Hi,
I'm using cluster autoscaler on my prod EKS cluster. I'm using the config below. I'm trying to make autoscaler slower. But it doesn't wait for 10 mins to make another scale down. Scaling down is working still based on my scan-interval which is two minutes. I have two questions;
1 - Is there something wrong on my config?
2- Is there a possibility to dictate nodes to scale down one by one?
spec:

[2020-07-03 00:27] holgercn opened #3275 "Cluster Autoscaler 1.14.7 AWS can not start --> connection timeout"
our cluster do not have internet access, so we provide VPC endpoint for autoscaling (com.amazonaws.eu-central-1.autoscaling) for the EC2 instance, while autoscaler starting we get following timeout error.

I0703 00:19:11.804199       1 auto_scaling_groups.go:138] Registering ASG test-ca
I0703 00:19:11.808142       1 auto_scaling_groups.go:354] Regenerating instance to ASG map for ASGs: [test-ca]
E

[2020-07-03 11:24] duweihello opened #3276 "AWS CN Pricing endpoint"
https://github.com/kubernetes/autoscaler/blob/ca6bbc96a2ef40a46043a23425bf242c5273e799/cluster-autoscaler/cloudprovider/aws/aws_util.go#L35
the pricing API is not support AWS CN regions, is there any alternative way to pass it?

[2020-07-03 13:31] Pluies commented on #2835
We're running into the same issue here.

It seems to be related to the `.*` fallback? When switching to using matches that only happen in one of the ASGs, it appears to work properly.

We were setting the following config on the Helm chart:
[code]

And we were seeing in the logs:
[code]

Which is wrong – all ASGs are being selected as "highest available", despite three of them matching the higher-

[2020-07-03 19:29] #3275 closed

[2020-07-03 19:29] holgercn commented on #3275
sorry, my fault, coredns is not running

[2020-07-03 20:24] #2787 closed

[2020-07-03 21:30] abdennour commented on #2324
As per [AWS doc](https://docs.aws.amazon.com/eks/latest/userguide/eks-ug.pdf), the image for EKS must be from this repo :

US: `us.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.n.n`
or
EU: `eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.n.n`
... so on

And for `v1.n.n` replaces it by the output of `kubectl version`..  However, `v1.16.8` is not available. So I used `v1

[2020-07-04 10:00] Mhs-220 opened #3279 "Cannot Scale-up Custom Resource limit"
Hi, I installed Cluster Autoscaler on My Kubernetes Cluster.
Kubernetes Version: 1.17
Cluster Autoscaler Version: 1.17.2
Everything works fine when I set request and limit to `nvidia.com/gpu: n` but I'm using a custom resource limits and it's something like `mygpu.com/gpu-memory: 4096`. If I set request and limit to this value, I see this error:

[code]

Do you have any idea what can I do? I need

[2020-07-05 03:56] wvivek commented on #2894
Has this issue been fixed? Increasing the scanning interval does not look to be the idle solution.

[2020-07-05 12:03] #1565 closed

[2020-07-06 10:12] max-rocket-internet commented on #2556
That's exactly our problem also.

/remove-lifecycle rotten

[2020-07-06 10:13] max-rocket-internet commented on #2556
/remove-lifecycle stale

[2020-07-06 12:10] MaciekPytel commented on #2894
This will happen with nodes that have GPUs unless you add a specific label to them: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws#special-note-on-gpu-instances.

[2020-07-06 13:21] caslurjf commented on #3235
@bskiba Is the latest posted information enough to continue analysis?

[2020-07-06 13:57] bskiba commented on #3235
VPA looks at apiObj.Spec.JobTemplate.Spec.Template.Labels field of the cronjob to determine which pods the cronjob controlls. Is it possible for you to add that to your cronjob definition?

[2020-07-06 16:14] 44past4 opened #3294 "addon-resizer stops working after http/2 connection is closed by the API Server"
addon-resizer in version 1.8.10 stops working after http/2 connection to API server is closed and starts logging:
[code]

On a production cluster this may take hours or days to happen and therefore is hard to notice.

To quickly reproduce this issue API Server can be restarted manually.

With http/2 debug logs enabled (`GODEBUG=http2debug=2`) just before the first error message addon-resizer logs:

[2020-07-06 16:18] 44past4 commented on #3294
/cc @jkaniuk @mm4tt @wojtek-t

[2020-07-06 23:36] Jeffwan commented on #3095
/assign @Jeffwan

[2020-07-07 04:21] Jeffwan commented on #3095
@allamand

Can you use this option? It will load all instance types in runtime

https://github.com/kubernetes/autoscaler/blob/f029a381602baf4a9f375096524c3b67178bfcc9/cluster-autoscaler/main.go#L171

[2020-07-07 04:24] Jeffwan commented on #3256
ec2_instance_types.go is static list.

You can load all instance in runtime by enabling this option.
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#use-static-instance-list

[2020-07-07 04:24] Jeffwan commented on #3095
`aws-use-static-instance-list` is not enabled in some CA versions. We won't patch new instance types in every release

Check here for more details. Feel free to reopen the issue
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#use-static-instance-list

/close

[2020-07-07 04:25] #3095 closed

[2020-07-07 04:25] Jeffwan commented on #3095
/close

[2020-07-07 08:26] woniuzhang opened #3297 "pod can not start"
k8s is on-premise deployed on aws and version is 1.15.12.

here is log:
E0707 07:51:24.813562       1 aws_manager.go:259] Failed to regenerate ASG cache: RequestError: send request failed
caused by: Post https://autoscaling.us-west-2.amazonaws.com/: net/http: invalid header field value "AWS4-HMAC-SHA256 Credential=XXXXXXXXXXXXXXX\n/20200707/us-west-2/autoscaling/aws4_request, SignedHeaders=content

[2020-07-07 10:51] mm4tt commented on #3294
SGTM from SIG Scalability perspective. Going back to 1.12 will most likely increase the memory usage, but I don't think it will be a significant increase. I'll keep an eye on the memory usage in our 5k node tests.
Thanks Pawel for debugging and taking care of this!

[2020-07-07 21:06] Jeffwan commented on #3256
Please reopen the issue if above doesn't work for you case. We will try to generate static list probably for every release. '

/close

[2020-07-07 21:06] #3256 closed

[2020-07-08 10:08] mm4tt commented on #3294
@bskiba  can we please release the change from https://github.com/kubernetes/autoscaler/pull/3298 as 1.8.11? I'm not sure what the process is for that, e.g. I know nothing about GH release that was made for 1.8.10 - https://github.com/kubernetes/autoscaler/releases/tag/addon-resizer-1.8.10

[2020-07-08 10:12] bskiba commented on #3294
Can someone bump the image tag like here: https://github.com/kubernetes/autoscaler/pull/3193
Then I'll tag and create the release

[2020-07-08 11:25] QCU266 opened #3300 "Unable to scale down a node when running custom controller managed pod。"
I define a CRD that has a custom pod controller managers the pod directly. I found cluster-autoscaler are unable  to scale down a node when running the custom controller managed POD。

----
In [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node)
[code]

[2020-07-08 13:49] MaciekPytel commented on #3300
Adding "cluster-autoscaler.kubernetes.io/safe-to-evict": "true" annotation to your pods is the recommended solution to this problem. CA will not perform controller checks for any pods that have this annotation.

[2020-07-08 14:07] bruecktech commented on #3256
We also ran into this problem although we are not using the static list option. It loads the instance types but then still shows an error message

[code]

[2020-07-09 00:23] Jeffwan commented on #3256
I see. @bruecktech  I will mark this as a chery-pick candidate for next release. I will patch 1.16-1.18. Thanks for reporting the issue

[2020-07-09 13:57] es1o opened #3309 "Autoscaler doesn't scale autoscaling group evenly"
I have 3 autoscaling groups:
A, B, C.

Current state:

Cluster autoscaler scales groups:
A from 1 to max
next B to max
last C to max
each group has 5 nodes max.

as result I have e.g. 5 nodes in A, 4 nodes in B and 0 in C.

Desired state:
3 nodes in A, 3 in B and 3 in C.

Is it possible to achieve that? I'd like the same number of nodes in each autoscaling group.

[2020-07-09 15:23] dharmab commented on #3130
A brief update, we've increased log verbosity but haven't seen this happen in a while. I ❤️  heisenbugs!

[2020-07-09 22:48] jamiebuxxx opened #3310 "Missing EC2 instance types"
Hello,

I was trying to use the `c5a.large` instance type for a secondary ASG/Worker group on my K8s cluster. I'm see the following error when the CAS tries to spin up an instance:

[code]

This is similar to #2179. I don't see this instance type listed in config on master either.
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L157-L

[2020-07-09 23:05] marwanad commented on #3130
@dharmab Sorry for the delay, was planning on updating once the PRs merge so I did a few runs with pprof and looked at the goroutine and blocking profile. It took a while to reach a blocking state but basically I did find possible paths that can cause lock contention and block the CA main loop.

One was fixed in 1.18 and above but wasn't cherry-picked in 1.16: https://github.com/kubernetes/autosca

[2020-07-10 12:24] bruecktech commented on #2835
This may be the fix for this issue: https://github.com/kubernetes/autoscaler/pull/3308

[2020-07-10 14:02] nitrag commented on #2835
I just noticed a similar issue just last night!

[code]

On one pass it will do:
[code]

and on the next pass (10 seconds later) it will choose (spot) correctly:
[code]

@bruecktech I'm not understanding how removing `break` in your PR resolves the issue. Maybe I just haven't had enough coffee yet though...

[2020-07-10 14:08] bruecktech commented on #2835
The `break` stops the loop over the priorities for a specific expander option / node group. the map of priorities is unordered. so so if the wildcard matches your node groups pv-platform-master-worker-gpu-accelerated-p2-xlarge and pv-platform-master-worker-accelerated-p2-xlarge-spot both end up in a list of best choices and then there's a random fallback strategy to pick one of this list randomly.

[2020-07-10 15:48] nitrag commented on #2835
I am testing a hot fix version and @bruecktech's fix appears working, no misses to the wrong priority. Thanks!

[2020-07-10 17:03] dharmab commented on #3130
We've actually just started upgrading to 1.17 and will be moving to 1.18 shortly afterwards (there were a lot of Azure fixes in 1.18). So we may just move directly to CA 1.18 as well

[2020-07-10 17:17] marwanad commented on #3130
@dharmab sounds good! The fixes should be in all the latest release branches.

[2020-07-12 20:39] tmatias commented on #3309
@es1o which [expander option](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) are you using?

[2020-07-12 21:56] #2833 closed

[2020-07-12 23:56] QCU266 commented on #3300
@MaciekPytel  thanks，it works.

[2020-07-12 23:56] #3300 closed

[2020-07-13 12:18] dschunack commented on #3310
This was reported with #3256

https://github.com/kubernetes/autoscaler/issues/3256

[2020-07-13 14:05] caslurjf commented on #3235
@bskiba In this case, how should I specify this field inside spec template

  jobTemplate:
    spec:
      activeDeadlineSeconds: 18000
      backoffLimit: 0
      **template:**
        spec:
          containers:
          - name: rcj-homebroker-bolsa
            image: <DOCKER_TAG>
            command: ["/bin/bash"]
            args: ["./processBolsa.sh"]

[2020-07-13 15:35] bskiba commented on #3235
Following should work I think:

jobTemplate:
spec:
activeDeadlineSeconds: 18000
backoffLimit: 0
template:
**metadata:
          labels:
                <label-name>: <label-value>**
spec:
containers:
- name: rcj-homebroker-bolsa
image: <DOCKER_TAG>
command: ["/bin/bash"]
args: ["./processBolsa.sh"]

template:

[2020-07-13 18:14] jamiebuxxx commented on #3256
This is similar to my issue as well. I see the c5a.* instances listed in the CAS logs, but the CAS gives any error when trying to use its for the ASG.

@Jeffwan is it possible to patch 1.15 as well?

[2020-07-13 20:13] elmiko opened #3315 "cluster-autoscaler failing to build with errors about undefined tls variables"
While re-building the autoscaler today i ran into a build failure with an error complaining about 2 variables that are undefined. I tried this on 2 separate machines to verify that the build was failing, i also tried this out with a freshly cloned repository as well.

here is the output i see:

[code]

this is the go version i am using:

[code]

[2020-07-13 20:14] elmiko commented on #3315
/label cluster-autoscaler

[2020-07-13 20:28] adinhodovic commented on #2512
Any workaround for init containers? Gets quite log intensive when using VPA with Prometheus with many pods where most of them has init containers.

[2020-07-13 20:31] elmiko commented on #3315
after a little bisecting through the history, it _appears_ as if this change is breaking the build: https://github.com/kubernetes/autoscaler/commit/bf955edc79bdb760018cf174a8aa67e523096c13

[2020-07-13 21:10] elmiko commented on #3315
i think this is just an issue with my version of the Go language tooling. when i run with go version 1.14 it is able to build.

for reference, `make build-in-docker` worked as a solution to my distro installed go lang.

[2020-07-13 21:10] #3315 closed

[2020-07-13 23:37] milosbackonja opened #3316 "Removing node even if node is not suitable for removal in EKS"
I0713 23:20:01.678658       1 scale_down.go:472] Node ip-10-123-0-10.ec2.internal is not suitable for removal - cpu utilization too big (0.808290)
I0713 23:20:07.481854       1 node_tree.go:113] Removed node "ip-10-123-0-10.ec2.internal" in group "us-east-1:\x00:us-east-1a" from NodeTree

Not sure why this happened, but I believe it happened couple of times in past.
EKS 1.16.8, autoscaler 1.16.5
-

[2020-07-14 06:29] BellonXiao commented on #3276
Same issue here with 1.17.2:
aws_util.go:86] Error unmarshalling https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/cn-north-1/index.json, skip..
aws_cloud_provider.go:363] Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list

[2020-07-14 11:37] MaciekPytel opened #3317 "Cluster Autoscaler patch releases"
I'm planning to build a series of Cluster Autoscaler patch releases on Tuesday 2020-07-21. Patch releases will involve bumping kubernetes dependencies to address https://github.com/kubernetes/autoscaler/issues/3224.
If you have any other bugfix cherry-pick PRs you want included, please leave a comment here.

Tagging all cloudprovider owners for visibility:
cc: @ringtail @Jeffwan @jaypipes @feiskye

[2020-07-14 13:15] sc250024 opened #3318 "Adopt Cluster Autoscaler Helm chart"
# Description

Since the Helm stable channel will be deprecated eventually, I'm wondering if it's possible that this repository can adopt the [`stable/cluster-autoscaler`](https://hub.helm.sh/charts/stable/cluster-autoscaler) Helm chart into this repository?

Other projects are doing the same, notably NGINX Ingress (https://github.com/kubernetes/ingress-nginx) and Kubernetes dashboard (https://git

[2020-07-14 13:34] #2834 closed

[2020-07-14 14:07] devnall commented on #2333
/remove-lifecycle stale

This is still a valid issue IMO

[2020-07-14 17:51] rhysemmas opened #3319 "[VPA] Pod scheduled with memory limit above limitrange"
Hi there,

We're seeing an issue with pods that have more than one container which VPA recommends and updates memory requests/limits for. The pods are being scheduled with memory limits that are above the pod memory limit configured in the namespace's limitrange.

We don't see this issue when a pod only has one container - VPA updates the memory limit to be within the limitrange. The issue only se

[2020-07-15 05:50] Mhs-220 commented on #3279
Done!
WHY I didn't read the code sooner?
You can see [this](https://github.com/kubernetes/autoscaler/blob/ddb8ec8980e16b468d14d7e01a24468cd28d15f3/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L422) function to extract custom resource that a node has and by seeing this I figure it out a solution.

[2020-07-15 05:50] #3279 closed

[2020-07-15 07:45] bskiba commented on #3319
Thanks for reporting!
/assign @jbartosik

@jbartosik could you take a look? I think you have the most context.

@rhysemmas Can you let us know which version of VPA you are using?

[2020-07-15 07:59] bskiba commented on #3174
I'll close this one out since the compatibility matrix is in the documentation now.
/close

[2020-07-15 07:59] #3174 closed

[2020-07-15 08:21] bskiba commented on #2465
/remove-lifecycle stale
I'm hoping that #3156 helps with the issue, but it's not released yet. I am planning a release this month.

[2020-07-15 08:21] bskiba commented on #2465
/lifecycle frozen

[2020-07-15 09:01] rhysemmas commented on #3319
Hey @bskiba @jbartosik thanks for taking a look at this! We're using version 0.8.0

[2020-07-15 16:51] Luke-Vear commented on #966
Would be nice to be able to configure things like skip-nodes-with-system-pods or skip-nodes-with-local-storage, there's tons of [config](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca) that we can't touch.

[2020-07-15 17:16] MaciekPytel commented on #966
You can now choose predefined config for more aggressive scale-down: https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler#autoscaling_profiles (which doesn't help for the flags you listed, but it is what is requested in comments above).

[2020-07-15 21:47] seeruk opened #3322 "CA bails early if taints can't be found in GCE cloud provider"
Due to GKE not making the cluster autoscaler configurable I've spent this evening looking into manually deploying cluster autoscaler into a GKE cluster using the GCE cloud provider. Getting it running was fine, and it was able to scale down my cluster (as I was able to configure it not to skip nodes with system pods or pods with local storage, rather than adding annotations to almost every single

[2020-07-15 22:35] seeruk commented on #966
Yeah, I have actually been using the `optimize-utilization` profile. When using Linkerd, similarly to Istio, it creates
 `emptyDir` volume on every pod that you have a sidecar on. This prevents the cluster autoscaler from scaling down because of pretty much every application we have in the cluster.

The current workaround I've had to resort to is this: https://github.com/kubernetes/autoscaler/issu

[2020-07-16 09:43] MaciekPytel commented on #3322
IIRC this error is actually handled and it doesn't really do anything other than log on error level (the function returns an error, but that error is safely handled 2 or 3 stack frames above). I'm pretty sure those errors in logs can be just safely ignored.
I keep meaning to clean this up, but it's been stuck in my backlog for a long time now. I'm happy to accept contributions, but your link doesn

[2020-07-16 09:57] seeruk commented on #3322
Strange about the link, it works even in incognito mode for me!

Yeah, this makes sense. It does genuinely seem like this error in particular doesn't actually need to be an error. It's logged where the issue is found _and_ returned (handled twice?), and the code following it doesn't seem to depend on it (i.e. from what I can tell, it's fine for taints to be an empty slice).

Appreciate the words o

[2020-07-16 10:08] MaciekPytel commented on #3322
Mutating admission controller is what I usually suggest as a workaround for this issue. Unfortunately I'm not aware of a better one :(
It's a known issue and hopefully we'll have a better solution for it soon-ish.

[2020-07-16 16:14] cep21 commented on #2646
/remove-lifecycle stale

[2020-07-16 21:31] lli-hiya opened #3323 "VPA recommendation status memory unit"
I set up the VPA components (release-0.8) and it mostly works but I find that the recommendation field in the VPA objects shows memory in pure Integer without any unit.

[code]

Is there any way I can change the way Memory is represented here to something like `52Mi`?

[2020-07-17 09:31] bskiba commented on #3323
We don't have any mechanism to change that atm. It could be fixed on the presentation side in kubectl, but since VPA is a custom resource and not part of core Kubernetes, we don't have custom handling for it in kubectl.

[2020-07-17 13:01] morganchristiansson commented on #2646
https://github.com/sirupsen/logrus has example of JSON logging in README

[2020-07-17 16:47] #2548 closed

[2020-07-19 07:25] frittentheke commented on #1317
/remove-lifecycle stale

[2020-07-19 22:49] mtb-xt commented on #2503
/remove-lifecycle stale

[2020-07-20 04:40] santhoshtricon commented on #3268
I too ran into same issue with  aws-eks-1.17
1 event.go:209] Event(v1.ObjectReference{Kind:"Pod", Namespace:"default", Name:"autoscaler-demo-ccd97bd7d-zzsrx", UID:"fc50f103-5cd8-440a-adee-eed129ab4c66", APIVersion:"v1", ResourceVersion:"14553220", FieldPath:""}): type: 'Normal' reason: 'NotTriggerScaleUp' pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 in backoff after fail

[2020-07-20 04:55] santhoshtricon commented on #3268
@MaciekPytel @Jeffwan @exdx Please let me know if you have any solution for this issue

[2020-07-20 08:33] nilo19 commented on #3135
@dharmab actually the client would not send a new request after hitting the throttling state after kubernetes 1.18.

[2020-07-20 09:32] MaciekPytel commented on #3268
@santhoshtricon It's a different issue than the one mentioned originally - "NotTriggeredScaleUp" part is just a catch-all error for any problem that prevents autoscaling. The meaningful part of the message is what comes after the colon. In your case it says a scale-up was attempted recently (withing the last few minutes) and it failed, therefore autoscaler will temporarily avoid scaling up that pa

[2020-07-20 12:54] #2811 closed

[2020-07-20 14:16] r8474 commented on #3082
We are seeing very similar behaviour in multiple clusters. Each cluster has 3 ASGs (3 AZs) with varying maximum and minimum instance numbers.

Some current ASG numbers:
`5,4,0` (min 0, max 5)
`3,2,0` (min 0, max 5)
`3,0,0` (min 0, max 5)
`4,2,1` (min 1, max 5)

1. Cloud provider: AWS
2. EKS version: 1.16
3. CA version: k8s.gcr.io/cluster-autoscaler:v1.16.4
Chart version: cluster-autoscaler-7.2.2
4

[2020-07-20 14:33] gjtempleton commented on #3318
Hi @sc250024 thanks for raising this

We've discussed it at the SIG Autoscaling meeting earlier today and we don't have any objection to adopting the chart going forward as long as there are people willing to maintain it going forward. I'm willing to take this on, but if there are any others who want to contribute to this please let us know.

We'll need to discuss the specifics of how we do this i

[2020-07-20 14:42] sc250024 commented on #3318
@gjtempleton I would be willing to maintain it. I can open a PR for it soon.

I've noticed that the current CI process for the autoscaler is using Travis. Do you mind if the Helm chart uses GitHub actions? The reason is because there are already automated actions which handle this quite well.

- https://github.com/helm/chart-testing-action
- https://github.com/helm/chart-releaser-action

Other not

[2020-07-20 22:06] gjtempleton commented on #3317
From the AWS side, I think we definitely want to ensure that https://github.com/kubernetes/autoscaler/pull/3185 is Cherry-picked as far back as possible as a bug fix (@Jeffwan could you confirm?)

[2020-07-20 22:20] lli-hiya commented on #2010
I am also seeing this issue.

To be more specific, i am using VPA release 0.8, and I have VPAs set up for only a tiny portion of Deployments in our cluster. When the Recommender first starts up and init from Prometheus, it logs is filled with error like

[code]

The error logs seems to come from code: https://github.com/kubernetes/autoscaler/blob/vpa-release-0.8/vertical-pod-autoscaler/pkg/recomme

[2020-07-20 23:29] gjtempleton commented on #3310
This should also be resolved for those using the static instance list by #3259

[2020-07-20 23:36] gjtempleton commented on #3255
Having had a look at where your repeated log line comes from, I can't see why the change you highlight would cause this behaviour, it looks to me like the call to the AWS API `TerminateInstanceInAutoScalingGroup` is not returning an error code, and therefore carrying on.

How long did you see it stuck in this loop before terminating the pod?

[2020-07-21 04:34] marwanad commented on #3317
Can we get this #3326 merged to master before the 1.19 cut? Tests pass but master is in a broken state.

[2020-07-21 10:20] tong-luo1 opened #3329 "Addon-resizer images are not promoted correctly for all architectures."
We have been looking for version `1.8.11` of the `addon-resizer-s390x` image on Google Cloud Registry.  However, we have only found version `2.1` and `2.3` at the following address - https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/addon-resizer-s390x?gcrImageListsize=30

Please let us know where we are supposed to look for the image if weren't looking at the right place.  Othe

[2020-07-21 11:36] bskiba commented on #3329
Kubernetes is switching to a [new registry](https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/addon-resizer-s390x?gcrImageListsize=30) used to host images, as per
https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md

However the images are not there either. I am not sure why, as they should have been promoted there from [autoscaling staging repo](https:

[2020-07-21 11:44] bskiba commented on #3329
Ah, wait, I know what happened.
The images are available here: https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/autoscaling/addon-resizer-s390x?gcrImageListsize=30
(note this points to the US repo, but EU and ASIA are also available)

[2020-07-21 11:44] #3329 closed

[2020-07-21 12:08] MaciekPytel commented on #3317
@gjtempleton @Jeffwan @jaypipes Can you open cherry-picks if you think this is needed? I can wait until tomorrow or Thursday if needed with cutting the release.

@marwanad Merged, sorry for the presubmit issue.

[2020-07-21 12:34] tong-luo1 commented on #3329
Thank you for your help!

[2020-07-21 16:32] MaciekPytel commented on #3317
Status update - I've started to do dependency updates required to fix #3224, however, it has proved problematic for 1.17 (apparently go.mod in kubernetes/kubernetes lists the wrong go version, which breaks our vendoring process). There may be some additional delay, as I fix this issue.

[2020-07-21 17:58] jamiebuxxx commented on #3310
@gjtempleton thanks for the heads up. Will close this issue as #3259 will take care of this once merged.

[2020-07-21 17:58] #3310 closed

[2020-07-21 22:23] gjtempleton commented on #3318
I don't have an objection to Github actions given they're being used elsewhere in the k8s org already, and as you point out those seem to be well supported paths for this.

Best to get input from @MaciekPytel as well.

[2020-07-21 22:27] Jeffwan commented on #3217
@aermakov-zalando @jrake-revelant

From you docs, `The template node used for simulating the scale-up will use the minimum values for all resources.` Seems you use minimum values as well. This brings up extra nodes which some users may not want. Did you see any extra cost there?

I think most proper way might be a strategy there and user can configure to build a template? any opnions?

[2020-07-21 22:53] dimilov commented on #3316
i had similar issue. Looks like CA ignores annotation
cluster-autoscaler.kubernetes.io/safe-to-evict="false"

[2020-07-22 04:03] burdzwastaken commented on #3029
/remove-lifecycle stale

[2020-07-22 09:36] #2802 closed

[2020-07-22 11:59] tsahiduek commented on #2246
Hi @Jeffwan, can you tell why this was removed from the `ScaleUp` to the `RunOnce`?
I found that this is the commit that removed the `getNodeInfosForGroups` from the `ScaleUp` function, but it doesn't explain why --> https://github.com/kubernetes/autoscaler/commit/85a83b62bdd19826b20bf9dbb90bffb3005f8346#diff-bc8c6b18c73f226ec22e18c29d96d94c

How a user should handle updates to the launch template

[2020-07-22 14:42] #2805 closed

[2020-07-22 14:53] MaciekPytel commented on #3318
I don't have any experience with github actions, but based on the comment above I don't see any reason against using them.

[2020-07-22 14:55] sc250024 commented on #3318
@MaciekPytel Cool. I'll open a PR.

[2020-07-22 15:52] #3219 closed

[2020-07-22 16:16] bskiba commented on #3170
Can you check what you get running
[code]
If this is empty, it means Metrics Server is not exposing your pod metrics through the metrics API. VPA relies on metrics api to fetch cpu and memory usage metrics for containers.

For issues with metrics server installation I suggest reaching out to [sig-instrumentation](https://github.com/kubernetes/community/tree/master/sig-instrumentation)

[2020-07-22 16:30] Jeffwan commented on #2809
/remove-lifecycle stale

[2020-07-22 18:18] sc250024 commented on #3318
PR here: https://github.com/kubernetes/autoscaler/pull/3341

[2020-07-22 20:47] #2557 closed

[2020-07-22 21:46] cah-ramindudeshapriya commented on #2829
Hello, is there any info on when this will be released in a 1.16.x or 1.17.x release? Thanks

[2020-07-22 21:47] ramdesh commented on #2829
Hello, is there any info on when this will be released in a 1.16.x or 1.17.x release? Thanks

[2020-07-23 02:16] avmohan commented on #2747
@djjayeeta high upper bound at startup would be due to confidence factor scaling. With more data, it will go closer towards the 95th percentile.
https://github.com/kubernetes/autoscaler/blob/87eae1d207742bef168bf40e842b5a78b0600a26/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L129
https://github.com/kubernetes/autoscaler/blob/87eae1d207742bef168bf40e842b5a78b0600a26/vertical-pod-au

[2020-07-23 07:07] zagr0 commented on #2787
hi, have the same issue

happens regularly once a day during CA scales down the cluster in AWS
from CA logs I see that there is usual scale down, node is evicted and then removing, there is desired count changed 5->4 on ASG
during the node actual removing, somehow desired count changed back 5->4, ASG bring new node to the cluster
in CA logs there is
[code]
after node removing have been finished de

[2020-07-23 08:01] zagr0 opened #3342 "AWS: unexpected ASG node termination during CA scaledown"
hi, we have regular issue happens once a day during CA scales down the cluster in AWS (not every scaledown, ~1 of 10-20)

from CA logs I see that there is usual scale down, node is evicted and then removing, there is desired count changed 5->4 on ASG
during the node actual removing, somehow desired count changed back 4->5, ASG bring new node to the cluster
in CA logs there is

```Jul 21, 2020 @ 22

[2020-07-23 08:04] zagr0 commented on #3342
cluster-autoscaler:v1.15.6
kubernetes v1.15.10

the issue looks very similar to
https://github.com/kubernetes/autoscaler/issues/2787

[2020-07-23 20:42] agconti commented on #2418
@mgalgs thanks for documenting the solution to this. I just ran into this and you saved my day! 💖

[2020-07-24 07:23] povilasv opened #3348 "VPA: Recommender Prometheus memory-save mode"
Currently Prometheus memory-save mode works in a bit non optimal way.

We first get the whole cluster state:

https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L208

and then filter out objects that have VPA.

This will fill memory with quite a lot of metrics and has a huge impact on recommender memory usage.

I suggest we add meth

[2020-07-24 10:39] arfiqbal opened #3349 "Failed to create AWS Manager: cannot autodiscover ASGs: NoCredentialProviders: no valid providers in chain. Deprecated."
Hi

EKS 1.16
Autoscaler : 1.16.5

[code]

[code]

[2020-07-24 11:04] huang-jy commented on #3170
[code]

[2020-07-24 20:12] nigelellis commented on #3317
Can we also please pull in https://github.com/kubernetes/autoscaler/pull/3124?   A cherrypick for 1.16 was already opened as https://github.com/kubernetes/autoscaler/pull/3248.

Thanks.

[2020-07-26 00:00] #2592 closed

[2020-07-26 18:19] #2868 closed

[2020-07-26 20:38] mcristina422 commented on #3097
fixed by https://github.com/kubernetes/autoscaler/pull/3225

[2020-07-26 20:38] #3097 closed

[2020-07-26 21:28] azhurbilo commented on #3092
/remove-lifecycle stale

[2020-07-27 07:31] bskiba commented on #3170
Yup, it's empty. The issue is somewhere in Metrics Server deployment. I suggest reaching out to [sig-instrumentation](https://github.com/kubernetes/community/tree/master/sig-instrumentation)
/close

[2020-07-27 07:32] #3170 closed

[2020-07-27 07:40] johanneswuerbach commented on #3317
Could you also pull in https://github.com/kubernetes/autoscaler/pull/3359? Sadly this isn't easily applicable to 1.17.

[2020-07-27 08:18] bskiba opened #3360 "VPA e2e tests with admission controller fail on k8s 1.20"

[2020-07-27 08:20] #3010 closed

[2020-07-27 15:20] MaciekPytel commented on #3317
@nigelellis @johanneswuerbach Done.

Are there any changes anyone would like to highlight in release notes?
@feiskyer @marwanad - You had a lot of cherry-pick for Azure, do you like to highlight anything?
@frobware @enxebre @elmiko @hardikdr @detiber @ncdc - For Cluster API.
@gjtempleton @Jeffwan - For AWS.

[2020-07-27 16:20] marwanad commented on #3317
@MaciekPytel "bug fixes and improvements" 😆 . I think "Various improvements to scale down scenarios" would capture them all.

[2020-07-27 16:32] MaciekPytel commented on #3317
@marwanad I was wondering about cherry-picks of #3019. I guess that's just a bugfix on AKS, but I wonder if it won't require updating labels in some self-hosted clusters running on Azure. WDYT?

[2020-07-27 16:57] marwanad commented on #3317
@MaciekPytel So this [label](https://github.com/Azure/aks-engine/blob/a1870f9a3ec6668515065df1bd41c6d37bff132b/pkg/api/types.go#L1752-L1754) comes from AKS-Engine (which is what most people use for self-hosted K8s on Azure) and isn't AKS specific. We should definitely call that out in the release, though.

[2020-07-28 05:52] povilasv commented on #3074
Anyone has time to take a look :eyes:  at https://github.com/kubernetes/autoscaler/pull/3123 PR? :bow:

[2020-07-28 12:13] MaciekPytel commented on #3224
1.18.2 and 1.17.3 should have fix for this issue.

[2020-07-28 12:15] MaciekPytel commented on #3317
I released 1.18.2 and 1.17.3. Please let me know if any release notes are missing or need to be corrected and I'll fix it.
I'm planning to do 1.16 release in the next few days, but this is blocked on unittests failing on 1.16 branch. Hopefully it should be fixed in the next few days.

[2020-07-28 13:04] bskiba commented on #3360
Tests are still failing

[2020-07-28 14:53] detiber commented on #2941
This is partially addressed by https://github.com/kubernetes/autoscaler/pull/3312 (using the scale client), work would still need to be done to use Patch vs Update, though.

/lifecycle frozen

[2020-07-28 14:54] CAR6807 opened #3368 "CA panic (NodesHaveSameTopologyKey) in large clusters with high node churn"
**CA Version:** 1.16.5
**Kubernetes Version:** 1.16.13
**Cloud Provider:** AWS

We Recently deployed CA 1.16.5 (upgraded from 1.15.4) to a 1.16.13 cluster
Cluster Autoscaler immediately ran into a panic:
[code]

Panic seems to coincide with known 1.16 Kube-scheduler bug:
https://github.com/kubernetes/kubernetes/issues/89410
and
https://github.com/kubernetes/kubernetes/issues/89006

which is attrib

[2020-07-28 15:12] gjtempleton commented on #3093
Vanity domain flip has now completed and images can be pulled from `k8s.gcr.io/autoscaling/{component}:{tag}`

Closing as resolved.

[2020-07-28 15:12] #3093 closed

[2020-07-28 15:32] MaciekPytel commented on #3368
Thanks for reporting this and testing the fix. I'm already planning to update vendor for 1.16.6 to address #3224, it seems like it should solve this one as well.

[2020-07-28 20:01] cburza opened #3372 "Unable to generate AWS EC2 Instance Types"
I am currently running `k8s.gcr.io/autoscaling/cluster-autoscaler:v1.17.3` in AWS region `af-south-1`. On container startup I get the following error:

[code]

I am not sure if the two are related, but `curl http://169.254.169.254/latest/dynamic/instance-identity/document` produces:

[code]

I suspect it is the AWS CLI that is not aware of the new `af-south-1` region?

[2020-07-28 21:29] nigelellis commented on #3317
Thank you @MaciekPytel, much appreciated!

[2020-07-28 23:43] nigelellis commented on #3317
I deployed the 1.17.3 release and can confirm that https://github.com/kubernetes/autoscaler/pull/3124 has fixed my lopsided AWS auto-scaler issues.   I now see an even spread of nodes provisioned across SPOT compute ASGs in AWS.  Thanks again for the backport and to @joelsmith for the original fix.

[2020-07-29 06:22] nitrag commented on #3044
/remove-lifecycle stale

[2020-07-29 06:31] nitrag commented on #3044
30-40 pods, 10-15 nodes (another 15 terminated nodes). AWS. `cluster-autoscaler` is using 800mb+ of memory.

My other two clusters which have 6-8 nodes use only 200mb.

[2020-07-29 06:42] iusergii commented on #3133
Have the same issue with 1.17.

[2020-07-29 06:44] nitrag commented on #3044
I have another cluster with 100+ pods, 20+ nodes where `cluster-autoscaler` uses <200mb, running 1.14.6.

[2020-07-29 10:27] allamand commented on #2920
Hi,

I have the same problem with eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.18.2 while it works with eu.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.18.1

[2020-07-29 10:31] TBBle commented on #3008
/remove-lifecycle stale

[2020-07-29 10:33] TBBle commented on #3008
Since this volume is just pulling in the node-local CA Certificate list, couldn't we just have one included in the container image instead? Or provided as a ConfigMap, perhaps.

[2020-07-29 11:20] TBBle commented on #2947
I was looking at [Pod Topology Spread Constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/), and I'm not sure it provides a full replacement for pod self-anti-affinity, i.e. the thing for which `hostPort` is a workaround. If I understand correctly, you can only set the maximum _skew_. This means that if there is one instance of the pod on each acceptible

[2020-07-29 11:25] #3360 closed

[2020-07-29 15:10] timsalu opened #3375 "Kubernetes Instances losing front end IP of the LB"
Hello Team,

Having an issue where the VMs behind a LB are losing its front end IP when an update is being ran in the VMSS, the VM instance instead of using NAT IP 52.x.x.x.x, the platform assigns a default SNAT IP 13.66.x.x, sometimes 13.86.x.x (and this is ok and expected since there are no references of an LB in the instance so by design it assigns these IPs), checking VM template for the "good

[2020-07-29 19:03] johnjeffers commented on #2920
@allamand are you running cluster-autoscaler 1.18 in EKS?

[2020-07-29 19:32] allamand commented on #2920
@johnjeffers yes, but after switching several times it seems to also works with the .2 version.. maybe a problem with my IRSA config..

[2020-07-29 19:35] johnjeffers commented on #2920
@allamand If you are on EKS, you should not be using 1.18.2. cluster-autoscaler docs say to use the version that corresponds to your Kubernetes version, and the latest Kubernetes for EKS is 1.17. So, for example, if your EKS is on Kubernetes 1.16, you should use cluster-autoscaler 1.16.x.

[2020-07-30 00:35] #2607 closed

[2020-07-30 04:13] lli-hiya opened #3376 "[BUG] VPA Recommender InitFromHistoryProvider not working and logs filled with "Error adding metric sample" warnings"
I set up all the necessary components of VPA (vpa-release-0.8) and used Prometheus as the history provider. Everything works fine except that when the Recommender first starts up and starts to initialize history samples from Prometheus, it will throw warnings for ALL containers like this (omits some unnecessary logs)

[code]
These warning messages are repeated for every pod/container, but it will

[2020-07-30 08:00] bskiba opened #3377 "VPA e2e tests for injected sidecars fail"
https://k8s-testgrid.appspot.com/sig-autoscaling-vpa#autoscaling-vpa-actuation
/assign @krzysied
Krzysztof, would you mind taking a look?

[2020-07-30 08:02] bskiba opened #3378 "Failed test: [VPA] [admission-controller] [v1beta2] Admission-controller accepts valid and rejects invalid VPA object"
Corresponding V1 test passes.
/assign @bskiba

[2020-07-30 08:14] povilasv commented on #3376
:+1: I've seen these spammy logs too, typically these get logged at the startup, but everythings works as per normal. Just wait a bit and kubectl describe vpa X and see the recommendations.

[2020-07-30 10:35] krzysied commented on #3377
[code]

[2020-07-30 10:39] zhaocheng173 opened #3379 "MountVolume.SetUp failed for volume "tls-certs" : secret "vpa-tls-certs" not found"
I deployed a set of VPas using CENTOS7.6, only to be executed
./hack/vpa-up.sh, what's the reason

[code]

[code]

[2020-07-30 11:37] krzysied commented on #3377
Adding an altName to the certificate will fix the issue.

[2020-07-30 12:04] #3377 closed

[2020-07-30 12:34] bskiba commented on #3379
Did you get any errors during vpa-up.sh? Looks like the admission controller certificate is not uploaded to the cluster correctly

[2020-07-30 15:25] lli-hiya commented on #3376
@povilasv Exactly, the spammy logs were generated when loading Prometheus history data (only once), so that's why it only appeared at the start up time.

[2020-07-30 16:04] vivekbagade opened #3383 "Release notes for patch release"
Hey everyone. I've created the release-1.19 branch for CA and before publishing the release I wanted to check with everyone to collect the release notes specific to cloud providers.

Please comment below with the release notes you want included so I don't miss it.

@ringtail @Jeffwan @jaypipes @feiskyer @marwanad @nilo19 @hello2mao @frobware @enxebre @elmiko @hardikdr @detiber @ncdc @andrewsykim @

[2020-07-30 16:05] vivekbagade commented on #3383
I'm planning to publish the release tomorrow, so early responses would be greatly appreciated :) Sorry for the short notice, but we're already a bit late for the release.

[2020-07-30 16:48] elmiko commented on #3383
i created this doc with the release notes for the CAPI provider, i tried to capture all our changes since the 1.18.2 release.

@detiber ptal

https://gist.github.com/elmiko/436f559278214a8b37cb218c040ec9f7

[2020-07-30 19:43] detiber commented on #3383
@elmiko that changelog looks good to me, thanks for putting it together

[2020-07-30 19:50] dmanchikalapudi opened #3384 "Autoscaler node Crash Loop Backoff - EKS v1.17 - arn:aws:sts::656891419177:assumed-role/<name> is not authorized to perform: autoscaling:DescribeTags **and** autoscaling:SetDesiredCapacity"
**I am using EKS v1.17**

With Both Managed nodegroup (1) and a fargate profile (1). See configuration below:
[code]
**kubectl version**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T23:30:39Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: v

[2020-07-30 20:45] dmanchikalapudi commented on #3384
Here are the permissions on the role that is complaining about authorization issue

![image](https://user-images.githubusercontent.com/6182842/88972754-0a630900-d284-11ea-927f-6cc3eeefb7f5.png)

[2020-07-30 20:57] dmanchikalapudi commented on #3384
Update: Once I manually change the permissions to include the following, the auto-scaler pod seems to be coming up cleanly.  Is there a tag for this example that has the correct IAM setting applied that I can use?

![image](https://user-images.githubusercontent.com/6182842/88973896-c8d35d80-d285-11ea-94a5-b268f88558bc.png)

[2020-07-30 21:23] tghartland commented on #3383
For magnum:

* Update to support Magnum node groups (introduced in Magnum Train).
* Add node group autodiscovery based on the group's role property.
* Cluster Autoscaler v1.19 and onwards will require Magnum Train or a later version.
  * Note on [compatibility](https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-release-1.19/cluster-autoscaler/cloudprovider/magnum#compatibility).

[2020-07-30 21:37] dmanchikalapudi commented on #3384
Once I change the permissions manually, I found another issue. I tried deploying several pods (beyond my min node capacity) and tailed the cluster autoscaler logs. I see these errors. Looks like there are two different types of errors

1) Its trying to pick up fargate for some reason
2) Failed to list *v1beta1.DaemonSet

I0730 21:21:33.121412       1 scale_up.go:263] Pod default/hello-world-77b74d

[2020-07-30 22:11] marwanad commented on #3383
For Azure:

- Fixed the label CA uses to detect nodes with GPUs from to "accelerator" (previously was an incorrect "cloud.google.com/gke-accelerator").
- Various improvements to scale down scenarios.

cc @feiskyer @nilo19 if I missed anything.

[2020-07-31 02:10] zhaocheng173 commented on #3379
There is no the

[code]

[2020-07-31 02:12] zhaocheng173 commented on #3379
This is secret when you're done deploying
[code]

[2020-07-31 02:52] zhaocheng173 commented on #3379
However, vPA-TLS - CERTS were not found when unloading
[code]

[2020-07-31 04:58] dmanchikalapudi commented on #3384
Update:

I noticed that the autoscaler image was not upgraded to 1.17 version, so I changed the image definition above to -->
[code]
This seemed to add some in-line policies but there are still some missing. I had to add all of the following to get the cluster autoscaler to work as expected
[code]

[2020-07-31 06:38] bskiba commented on #3379
The issue is `unknown option -addext`
You should either use a newer version of openssl that supports this option or use the version of hack/vpa-up.sh from [branch 0.8](https://github.com/kubernetes/autoscaler/tree/vpa-release-0.8)
The old hack/vpa-up.sh script will stop working with k8s 1.20

[2020-07-31 06:38] bskiba commented on #3379
/close

[2020-07-31 06:38] #3379 closed

[2020-07-31 09:52] abudavis opened #3388 "unknown option -addext, secret "vpa-tls-certs" not found while installing VPA on Openshift 4.3.22"
Hi

When installing VPA on Openshift cluster 4.3.22, we get the following error. Please help.

[code]
$
$oc describe pod vpa-admission-controller-bbf4f4cc7-cp7tw  -n kube-system

[code]

[2020-07-31 12:10] #2870 closed

[2020-07-31 12:14] bskiba commented on #3388
Please see the linked PR for info (#3389)
/close

[2020-07-31 12:14] #3388 closed

[2020-07-31 14:54] ackerr01 opened #3392 "Unable to get autoscaler to work with VMSS (unregistered nodes present)"
Hi I am running into a issue getting autoscaler to work correctly with vmss. Autoscaler will deploy new instances of the vmss. the new instance launches and runs the rancher import command to join the cluster however autoscaler is never able to detect that they joined the cluster and than deletes them.

I0731 14:52:03.835798       1 static_autoscaler.go:311] 1 unregistered nodes present
I0731 14:5

[2020-07-31 15:58] MaciekPytel commented on #2947
There is no special integration between pod topology spreading and CA and I think your prediction as to what will happen is correct. Unfortunately it turns out pod topology spreading brings other problems too, especially when using zone topologyKey - it can lead to one at a time scale-up similar to pod antiaffinity and, while it guarantees even spread between zones it also prevents fallback from o

[2020-07-31 16:32] marwanad commented on #3392
Not super familiar with the rancher internals but can you paste the node spec here? Particularly, looking at the `providerId` part there.

[2020-07-31 17:02] ackerr01 commented on #3392
it does not appear to have one...

apiVersion: v1
kind: Node
metadata:
  annotations:
    flannel.alpha.coreos.com/backend-data: '{"VtepMAC":"72:a9:a8:ab:79:31"}'
    flannel.alpha.coreos.com/backend-type: vxlan
    flannel.alpha.coreos.com/kube-subnet-manager: "true"
    flannel.alpha.coreos.com/public-ip: 10.216.128.134
    node.alpha.kubernetes.io/ttl: "0"
    projectcalico.org/IPv4IPIPTunnelAd

[2020-07-31 17:16] marwanad commented on #3392
CA expects the `providerId` to be in the format `azure://` and it seems to be empty in this case. Again, not super familiar on the Rancher internals but it seems like a possible misconfiguration.

/area provider/azure

[2020-07-31 17:22] marwanad commented on #2980
Addressed the question above. The flag would control the "unregistered" node calculations in CA but you'll still see those context timeout logs since autorest defaults to 15 min.

/close

[2020-07-31 17:22] #2980 closed

[2020-07-31 17:30] ackerr01 commented on #3392
That's what I needed. Thanks you!!!

So I spun up a  new node & added the providerID before CA had a chance to remove it & it did come up healthy I guess I will script that in for now and look to rancher for an update in the future.

Thanks!

[2020-07-31 17:41] dmanchikalapudi opened #3394 "Cluster Autoscaler (v 1.17.3) does not have all policies attached to cluster-autoscaler role."
**kubectl version:**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T23:30:39Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.6-eks-4e7f64", GitCommit:"4e7f642f9f4cbb3c39a4fc6ee84fe341a8a

[2020-07-31 17:42] #3384 closed

[2020-07-31 17:43] dmanchikalapudi commented on #3384
Closing this issue in favor of https://github.com/kubernetes/autoscaler/issues/3394 . I added all relevant context to a much more narrower issue.

[2020-07-31 18:08] marwanad commented on #3392
Great! Glad that worked.

/close

[2020-07-31 18:08] #3392 closed

[2020-07-31 20:42] morganatwishpond opened #3396 "cluster-autoscaler:1.16.5 NotTriggerScaleUp error when pods with small resource requests would definitely fit"
`cluster-autoscaler` is refusing to spin up new instances with the error given being `'NotTriggerScaleUp' pod didn't trigger scale-up (it wouldn't fit if a new node is added)` when the pods would most definitely fit.

Instance type `c5.xlarge` has 4 cpu and 8gb ram, deployments not being scheduled have resource requests of 0.5 cpu and 300mb so will easily fit on the instance.

If I increase the `m

[2020-08-01 05:09] #3394 closed

[2020-08-01 05:10] dmanchikalapudi commented on #3394
Managed to find the issue. It was not an issue with autoscaler .... it was a missing IAM policy setting on the eks cluster itself. Here is a config that sets up the correct policies against the nodegroup role
[code]

[2020-08-01 06:50] zhaocheng173 opened #3397 "MountVolume.SetUp failed for volume "tls-certs" : secret "vpa-tls-certs" not found"
When I created the VPA, there was no error, I created the VPA-admissions-Controller and found no VPA-TLs-Certs
[code]

[2020-08-01 07:47] TBBle commented on #2947
It might be possible to implement the pod-level antiAffinity beaviour with extended resources instead. It would require a new controller, but it seems like it'd be feasible to have one that recognises a particular extended resource name patter, and then adds a single one to all nodes that match the other constraints (`nodeSelector`, `tolerations`, other resources). This _almost_ makes sense for th

[2020-08-01 10:32] zhaocheng173 commented on #3379
Although the switch to the 0.8 branch comes, the unknown option-addext is still displayed when deploying
[code]

[2020-08-01 10:34] zhaocheng173 commented on #3397
Although the switch to the 0.8 branch comes, the unknown option-addext is still displayed when deploying
[code]

[2020-08-01 13:31] rimaulana commented on #3396
Hi @morganatwishpond

Did you make sure that the ASG has the tags that CA is looking for? Based on your config should be
- k8s.io/cluster-autoscaler/enabled
- k8s.io/cluster-autoscaler/prod.k8s.local

Can you check whether CA is able to recognize the ASG, you can check it from cluster-autoscaler-status configmap

[code]

If CA is able to recognize the ASG, you should see the ASG name under NodeGro

[2020-08-01 17:21] morganatwishpond commented on #3396
[code]

Okay, so we're completely lacking a NodeGroups section so that's a good start.

[code]

So the question becomes how is auto-discovery missing the instance group?

[2020-08-01 18:39] #2891 closed

[2020-08-01 21:36] rimaulana commented on #3396
These labels

[code]
Are something specific to Kubernetes object labeling. Meanwhile, CA is discovering ASG using for EC2 Autoscaling Group tags

https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html

Since you are creating ASG using Kops InstanceGroup, to make Kops create EC2 Autoscaling group tags, you can use cloudLabels

https://github.com/kubernetes/kops/blob/master/d

[2020-08-01 22:51] morganatwishpond commented on #3396
I had no idea and applying the cloudLabels has indeed fixed detection of the autoscaling group.

Thank you!

[2020-08-01 22:51] #3396 closed

[2020-08-02 03:00] abdennour commented on #1431
I have EKS 1.17 and cluster-autoscaler chart v7.0.0 ... Issue still persists.
Any fix deadline ?

[2020-08-02 18:23] debjitk opened #3398 "404 error trying to add repo"
I am getting 404 error for the following

`helm repo add autoscaler https://kubernetes.github.io/autoscaler`

[2020-08-03 07:25] bskiba commented on #3397
This should not happen, the gencerts.sh script does not use -addext option in vpa-release-0.8 branch: https://github.com/kubernetes/autoscaler/blob/vpa-release-0.8/vertical-pod-autoscaler/pkg/admission-controller/gencerts.sh
Can you verify the contents of gencerts.sh in your setup?
`$ cat pkg/admission-controller/gencerts.sh`

[2020-08-03 08:53] aermakov-zalando commented on #3217
@Jeffwan the extra nodes will be very quickly scaled down again, so the cost impact is minimal. Not using a minimal node can be even worse cost-wise because the autoscaler can end up in a loop where it'll continuously keep bringing up nodes that can't fit a pod that's bigger than the minimum node.

[2020-08-03 09:29] tghartland opened #3399 "Support Magnum installation with cluster autoscaler helm chart"
The main change will be to add the autodiscovery configuration for when the magnum provider is selected. Possibly some changes for how the cloud-config file is loaded but I'm not sure about that yet.

[2020-08-03 10:20] gjtempleton commented on #3398
#3393 should resolve this once the pre-requisite actions have been done and it's been merged.

[2020-08-03 10:26] MaciekPytel commented on #2947
The extra resource solution would run into the same problem as GPUs do:
1. A pod is pending which triggers scale-up.
2. A new node becomes ready. It doesn't have the custom resource yet (since the controller haven't reacted yet).
3. The pod is still pending and CA triggers another scale-up, because it doesn't know that custom resource capacity will soon be added to the new node.

With GPUs we solv

[2020-08-03 10:34] gjtempleton commented on #3276
I think the ideal way to resolve this is to move away from the use of the pricing API. Alternatively you should now (as of the latest releases) be able to use the hardcoded list by using the `aws-use-static-instance-list` flag set to true as it'll no longer attempt to call the pricing API.

I'd meant to move away from the pricing APIs to resolve #2696 which includes some of the other issues with t

[2020-08-03 11:11] TBBle commented on #2947
Ah, great. It wasn't clear from the bug report and discussion whether the 1.18 changes had actually solved this problem, or simply allowed the problem to be solved.

[2020-08-03 15:23] #2892 closed

[2020-08-03 15:33] stevehipwell commented on #3318
We've done the same thing on the descheduler project and had the same issue around chart naming and CI (waiting on tide to support the testing action).

https://github.com/kubernetes-sigs/descheduler/issues/248

[2020-08-03 23:31] jurgenweber commented on #3398
I am still getting the problem, considering that has been merged.

[2020-08-04 01:02] Jeffwan commented on #3317
Working on other stuffs and have some delay on this. I will double check cherry-pick candidates for 1.16 and below. i will come back asap.

[2020-08-04 01:09] Jeffwan commented on #2920
We are scoping 1.18 recently and it will be available soon. currently , there's no support.  User has to choose corresponding minor version with largest patch version. CA uses scheduler logic to do simulation. Keep in mind this is important!

[2020-08-04 05:50] gjtempleton commented on #3398
Unfortunately as mentioned in the above PR post merging, we've run into an issue with the official helm chart releaser action that we were hoping to use. It's also affecting other repos trying to adopt charts in the Kubernetes project. See helm/chart-releaser-action#33 for more information.

We're currently trying to set up a temporary workaround to deal with this in #3403

[2020-08-04 12:12] trondhindenes commented on #2020
I don't know if this is relevant here, but spot-enabled auto scaling groups typically have multiple instance types attached to them, and one of them will be selected based on spot market costs (I guess) at the time of creation.

[2020-08-04 12:45] MaciekPytel commented on #3317
I released 1.16.6 and 1.15.7 and so I'm closing this issue.

If I missed anything important in release notes or you otherwise think they need to be corrected please let me know and I'll update them.

[2020-08-04 12:45] #3317 closed

[2020-08-04 21:13] dbenque opened #3407 "ClusterAutoscaler: ignore pods that should be terminated during scaledown simulation"
With [TaintBasedEviction](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions) when a node is failing for an extended period ( [--pod-eviction-timeout default value being 5min](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/) ) the NodeLifecycle manager in the ControllerManager [delete the pods](https://gith

[2020-08-04 22:25] jurgenweber commented on #3398
Ok, Thanks for the explanation. Sounds frustrating.

[2020-08-04 22:37] Jeffwan commented on #3372
em. That could be an issue. In this case, please try static list. I will try best to update static list for every release @cburza

[2020-08-05 00:35] Jeffwan commented on #3317
@MaciekPytel Thanks.

[2020-08-05 00:47] Jeffwan commented on #2829
1.16.6, 1.17.3 have been released. Please download latest version. I will close the issue. Thanks everyone for all your feedbacks

[2020-08-05 00:47] Jeffwan commented on #2829
/close

[2020-08-05 00:47] #2829 closed

[2020-08-05 00:48] Jeffwan commented on #3133
Did you put labels to ASG tags?

[2020-08-05 00:49] Jeffwan commented on #3133
This should be resolved in last release. https://github.com/kubernetes/autoscaler/issues/2888

[2020-08-05 00:49] Jeffwan commented on #3133
/assign @Jeffwan

[2020-08-05 00:53] Jeffwan commented on #2556
em. EKS rolling upgrade will terminate the master. Load balancer has timeout if in-flight requests are not finished. For some extra cases, it's possible that master node is not removed from itself and there's dead backend. My teammate is working on more smooth upgrade improvement.

[2020-08-05 00:54] Jeffwan commented on #3239
EKS version is behind k8s version. We didn't maintain this well in examples. Please check latest https://github.com/kubernetes/autoscaler/releases  and choose the up to date version. Sorry for the confusion and I will make an update to 1.17 in master at least

[2020-08-05 00:55] Jeffwan commented on #3239
/close feel free to reopen if you have further questions

[2020-08-05 00:56] Jeffwan commented on #3239
/close

[2020-08-05 00:56] #3239 closed

[2020-08-05 00:58] Jeffwan commented on #3349
You need either Nodegroup roles or IAM Role for Service Account or Credentials . This errors happens during resolving the credentials.

Feel free to reopen if you have questions

/close

[2020-08-05 00:58] #3349 closed

[2020-08-05 05:42] nomis-rzp opened #3409 "CA setting scaleDownForbidden as true."
CA did find some unneeded nodes to scale down but it's not scaling down because the scaleDownForbidden is getting set to true without much information in logs. There are was no recent scale down activities also.  Its on EKS cluster 1.16 with CA version 1.16.6.

[code]
I enable V1 logs and CA logs it showed "No unschedulable pods" . Below part of the code
[code]

Have any of you experienced this is

[2020-08-05 06:21] iusergii commented on #3133
@Jeffwan yes, it scales up if you already have at least one node up.
external-dns image: **0.7.2-debian-10-r46**
EKS: **1.17.6**

[2020-08-05 07:32] meraymond2 commented on #1793
Hi, we're running into the issue that frankgu968 describes.

We have an cluster running on EKS provisioned using Terraform. We have several ASGs, where the desired size is 0. Terraform/EKS do not allow you to do this directly, but we created them, and then manually changed the desired and min sizes to 0. It was working fine, all of the correct labels and tags are set, and it is able to scale up fr

[2020-08-05 11:11] encron commented on #3256
Do I understand this correctly that if you want CA to work with `c5a` instance types, you need to pass a static list?

I'm using v1.17.3 and [it's not in the code](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.17.3/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go)...

[2020-08-05 13:08] #2894 closed

[2020-08-05 13:33] Woofenator commented on #3397
Just out of curiosity, which openssl version supports the `-addtext` option?

[2020-08-05 13:47] bskiba commented on #3397
1.1.1 seems to have it: https://www.openssl.org/docs/man1.1.1/man1/req.html

[2020-08-05 13:49] bruecktech commented on #3256
@encron with 1.17.3 it seems the dynamic list is fixed. so you can use that and it should include c5a. the static list is actually not yet updated there

[2020-08-05 13:52] Woofenator commented on #3397
Am on 1.1.1g on Mac, still throws error that option doesn't exist

[2020-08-05 14:14] Sanghamitra-BEAGILE opened #3410 "Is Cluster autoscalar supported in VMSS worker nodes of Standard_HC44rs VMs"
Hi Team,

We are using Kubernetes on Azure VMs which has its autoscaler is part of AKS Engine that is developed and supported via  Opensource https://github.com/Azure/aks-engine.

Our K8s version : v1.15.7

1. We tried to deploy VMSS + Clusterautoscalar (Helm version 7.3.2,7.3.3 & 7.3.4) on Standard_HC44rs VMs as worker nodes , we are getting errors in cluster autoscalar logs "Unable to build prop

[2020-08-05 14:48] carlosjgp commented on #3082
Digging a little bit on the CA source code I've seen this
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go#L85
[code]

Meaning, if I understood correctly how CA works, that each ASG is a node group on itself instead of grouping by tags or name pattern or similar...

Once said that the behaviour seen on `k8s.gcr.io/cluster-autoscaler:v1

[2020-08-05 20:31] Jeffwan commented on #3133
@iusergii

Scale from 0 should be working as well. Could you share your ASG tags?

[2020-08-05 20:40] ncdc commented on #2942
I'm interested in seeing this happen - can we brainstorm & enumerate things that would be needed for this to be realized?

- What needs to happen to be able to test this against different cloud providers (AWS, Azure, etc.)?
- What behaviors should we test? How "large" do we want to go when testing scale up? (I assume this will likely be influenced by quota limits in our cloud accounts)
- How long

[2020-08-05 21:19] marwanad commented on #3410
The instance type was added in K8s 1.19. I can help prepare cherry-picks for earlier releases up to 1.16.

I'm not sure if we will be rolling out more patches for K8s 1.15 since it's going out of support soon.

@MaciekPytel Are we going to have more patch release for 1.15 sometime in the future? This is for back-porting https://github.com/kubernetes/autoscaler/pull/3311

Maybe we should evaluate b

[2020-08-06 00:28] kellyhyomin commented on #2913
The issue was resolved after updating to the latest version.

[2020-08-06 00:28] #2913 closed

[2020-08-06 03:39] qqshfox commented on #3241
Having the same issue here.

https://github.com/kubernetes/autoscaler/blob/852ea800914cae101824687a71236f7688ee653d/cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go#L220

`SetDesiredCapacity` will not return any error related to `InsufficientInstanceCapacity` according to its [doc][1]. We might need to check the scaling activities by calling [DescribeScalingActivities][2].

[code]

[1]:

[2020-08-06 07:39] Sanghamitra-BEAGILE commented on #3410
Hi Marwanad,

Thanks for the information.

You mean Standard_HC44rs VMs are added in Kubernetes Version 1.19. or Cluster Autoscalar version 1.19.?

Thanks,
Sanghamitra

[2020-08-06 08:48] zhaocheng173 commented on #3397
How do I verify that? This is my file
[code]

[2020-08-06 09:32] git-heera commented on #3372
I am getting similar issue

W0806 09:25:36.445902       1 a1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/ap-east-1/index.json skipping...ws_util.go:71] Error fetching https://pricing.us-east-
F0806 09:25:36.445941       1 aws_cloud_provider.go:358] Failed to generate AWS EC2 Instance Types: unable to load EC2 Instance Type list

Can you please advise

[2020-08-06 10:23] git-heera commented on #3216
My deployment failing with below error. Any particular reason it is going to pricing.us-east-1.amazonaws.com?

W0806 10:18:39.046022       1 aws_util.go:71] Error fetching https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/ap-east-1/index.json skipping...
F0806 10:18:39.046052       1 aws_cloud_provider.go:358] Failed to generate AWS EC2 Instance Types: unable to load EC2 In

[2020-08-06 10:32] bskiba commented on #3397
This is the master version of the file, not from the vpa-release-0.8 branch

[2020-08-06 10:33] gjtempleton commented on #3216
@git-heera that seems related to #3276 - as this issue's closed you're better moving discussion to there.

(The reason it's using the us-east-1 endpoint is here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_util.go#L35 )

[2020-08-06 11:20] hakman commented on #3318
Hi. Quick question in case I am missing something. Should adding the `autoscaler` repo work?
[code]

[2020-08-06 11:29] gjtempleton commented on #3318
Hey, not yet no, we've run into some issues due to the branch protections etc. with the official chart-publisher action so haven't managed to successfully publish the required `index.yaml` to the `gh-pages` branch.

I'm currently trying to find a workaround in #3403

[2020-08-06 11:31] enxebre commented on #2942
That's great @ncdc, we are planning on doing efforts to make this happen as well.

WRT your points above, I think we need to answer what would it take for us to run this suite https://github.com/kubernetes/kubernetes/tree/master/test/e2e/autoscaling against the capi provider in GCP/AWS/Azure?
TODO: enumerate the technical impediments.
TODO: enumerate cloud infra costs impediments.

If we can overc

[2020-08-06 11:49] hakman commented on #3318
Ah. Thanks for the explanation @gjtempleton :).

[2020-08-06 13:58] searsaw commented on #3318
@gjtempleton is the recommendation to just keep using the previous chart in `stable` then for now until the 404 issue is resolved?

[2020-08-06 14:17] stevehipwell commented on #3318
@gjtempleton I think the maintainers on the descheduler project worked around this to get a release out.

[2020-08-06 14:20] detiber commented on #2942
I don't necessarily think that cost is an impediment wrt cloud infra, but there are likely several other cloud infra related impediments:
- availability of accounts to use for specific accounts (ideally boskos managed)
  - we'd likely need additional aws accounts added to boskos for this purpose to avoid contention with the CAPA jobs for the existing pool of aws accouunts
  - Azure, vsphere, opens

[2020-08-06 14:46] vukomir commented on #1907
I'm also facing the same issue,

managed to reduce 5xx error but in some cases i will still get them,
 aws-alb-ingress-controller is set in IP mode
 ALB set to use deregistration_delay.timeout_seconds=300 same timeout
and Deployment has a lifecycle preStop with 330sec

during application update in some cases i can see 5xx error

[2020-08-06 15:09] elmiko commented on #2942
TODO: enumerate the technical impediments.
TODO: enumerate cloud infra costs impediments.

i've spent several weeks going over these tests and imo i think we need to refactor them to be more provider agnostic. currently they have a heavy reliance on gcp/gke specific infrastructure. i would like to see us take the core of these tests and make the provider implementation more generic.

i think if we

[2020-08-06 15:14] elmiko commented on #2942
i think this is an interesting idea. it shouldn't be too difficult to build a mock which could present the CAPI objects back to the autoscaler. i do wonder about the node and pod detection pieces though.

[2020-08-06 15:25] ncdc commented on #2942
cc @benmoss

[2020-08-06 15:29] mreferre commented on #3397
I have a [script](https://github.com/mreferre/ekstender/blob/master/ekstender.sh) that setup VPA (search for `verticalpodautoscaler()` in the file) that used to work just fine until a few weeks ago and it started to give me a black eye recently with the exact same error.

I am basically just cloning `https://github.com/kubernetes/autoscaler.git` and then running `./autoscaler/vertical-pod-autoscal

[2020-08-06 15:34] gjtempleton commented on #3318
@stevehipwell yeah, as far as I'm aware from having had a brief look, that initial release was done via a manual PR pointing at a file generated and uploaded by the chart-releaser action. I was hoping to find a simple solution to allow an automated workflow, but I'll follow their example and publish manually as a first step as this is seemingly causing people issues.

@searsaw / others I'll genera

[2020-08-06 16:10] marwanad commented on #3410
Cluster Autoscaler 1.19. We can for sure backport the support back until1.16. 1.15 is a maybe.

[2020-08-07 02:50] nilo19 opened #3414 "gophercloud blocks vendor updating"
When I try `update-vendor.sh` against k8s master, the following error blocks it:
[code]
@tghartland

/kind bug

[2020-08-07 05:54] bskiba commented on #3397
I recommend checking out vpa-release-0.8 branch instead of master in that case.

The change in master is needed as otherwise the webhook will not be able to install on k8s 1.20.X clusters.

[2020-08-07 07:32] mreferre commented on #3397
Thanks @bskiba. Out of curiosity, should I want to stick to master, what would I need to do? In other words what's breaking it? is it the openssl version? Thanks.

[2020-08-07 07:34] zhaocheng173 commented on #3397
I tried to use the version 1.1.1 of OpensSL again and found the following problems, but I still did Not find Not found: "TLS-CERts"
[code]

[code]

[2020-08-07 07:42] zhaocheng173 commented on #3397
Okay, I've fixed the problem and just need to upgrade OpensSL to 1.1.1

[code]

[2020-08-07 07:42] bskiba commented on #3397
@mreferre yes, the openssl version you use needs to support -addext argument
@zhaocheng173 Glad that it's working for you

[2020-08-07 07:42] bskiba commented on #3397
/close

[2020-08-07 07:43] #3397 closed

[2020-08-07 10:25] tghartland commented on #3414
Thanks for finding this. The linked PR should fix this issue but because the vendoring process seems to always pull a fresh copy of the autoscaler master, it ignores any local changes so the fix needs to be merged before it can be confirmed to work.

If it doesn't work the plan B will be to just delete the go.mod from the gophercloud copy.

[2020-08-07 11:38] bitfactory-henno-schooljan commented on #3183
There really should be a way to prevent new workloads entering a node at some point, else you can end up with nodes that always have at least one non-evictable workload so it never reaches the point where it gets tainted. Apparently the cluster autoscaler does not taint a node until all workloads preventing scale-down are terminated, which may never happen.

Couldn't it just examine a node group t

[2020-08-07 12:24] #3414 closed

[2020-08-07 12:26] yashbhutwala commented on #2552
still relevant and important.

/remove-lifecycle stale

[2020-08-07 13:03] elmiko commented on #3183
i see that you have the setting `--scale-down-unneeded-time=10m`, wouldn't this prevent the autoscaler from removing an under-used node for 10 minutes?

if so, then during that 10 minute window it would be possible for new pods to be added on that node, iiuc.

mind you, this doesn't address some of the deeper questions, such as:

imo, this seems like something that could be possible a flag. whethe

[2020-08-07 13:35] MaciekPytel commented on #3183
I think it's difficult to have a simple solution that works for general case. In principle CA doesn't know that a pod with safe-to-evict: false will end soon (or at all). It may just as well run for days (ex. if it's a database). In that case simply tainting a node is obviously pretty bad, as it will lead to all that space being inaccessible for other pods, some of which may not even have space to

[2020-08-07 15:14] lukatera commented on #2434
/remove-lifecycle rotten

[2020-08-08 11:43] carpemonf opened #3417 "calico-typha preventing scaling down"
Hi, I have `cluster-autoscaler` (tried v1.16-v.1.18) installed on OpenShift (v4.4.11). Scale up works well but I got the following error at the evaluation stage for scaling down:

[code]

`calico` comes integrated in OpenShift and `calico-typha` is running in each of my worker nodes. `cluster-autoscaler.kubernetes.io/safe-to-evict` annotation is set to `true` and tried with both `--skip-nodes-with

[2020-08-08 14:19] #2797 closed

[2020-08-08 23:33] arashkaffamanesh opened #3419 "cluster-autoscaler for arm64"
how can one build the cluster-autoscaler for arm64?

[2020-08-09 16:45] #2835 closed

[2020-08-09 22:39] xUnholy commented on #3419
Relevant issue worked on here: https://github.com/raspbernetes/multi-arch-images/issues/135

Available ARM64 image here: raspbernetes/cluster-autoscaler:cluster-autoscaler-chart-1.0.1

This would be a great addition to provide upstream support if the maintainers are willing.

[2020-08-10 01:54] #2836 closed

[2020-08-10 05:53] nomis-rzp commented on #3409
Im still not able to figure it out.. Can anyone please help ?

[2020-08-10 07:19] iusergii commented on #3133
@Jeffwan  Here my tags:
[code]
As you can see I also have a Taints on these nodes.

[2020-08-10 09:01] #2930 closed

[2020-08-10 10:45] #3126 closed

[2020-08-10 12:23] surajssd commented on #3398
Yep saw this error today!

[2020-08-10 15:25] Jeffwan commented on #3133
@iusergii

Can you add these tags? CA won't know your node has ENI and IP addresses.

[code]

[2020-08-10 15:51] yashbhutwala commented on #2390
/remove-lifecycle stale

[2020-08-10 23:13] b2jude opened #3422 "Failed to regenerate ASG cache: cannot autodiscover ASGs: RequestError: send request failed caused by: Post https://autoscaling.us-east-1.amazonaws.com/: x509: failed to load system roots and no roots provided; open /etc/ssl/certs/ca-certificates.crt: permission denied"
I'm getting pod container error log  below when I deploy cluster autoscaler  deployment on EKS Cluster using terraform kubernetes provider. All autoscaler pod end with CrashLoopBackOff  status

cluster-autoscaler-7b975f56b9-2d2d9   0/1     CrashLoopBackOff   25         115m
cluster-autoscaler-7b975f56b9-qtbbc   0/1     CrashLoopBackOff   25         115m

Failed to regenerate ASG cache: cannot auto

[2020-08-11 12:14] llnformer opened #3423 "Helm Chart AWS auto discovery labels doesn't work with EKS 1.17.6"
hi autoscaler contributors,
I have tried to follow the guide about AWS auto discovery guide mentioned here : https://github.com/helm/charts/tree/master/stable/cluster-autoscaler#aws
the tag ```k8s.io/cluster-autoscaler/enabled``` and ```node.kubernetes.io/cluster-autoscaler/enabled=true``` doesn't seem to work with EKS version 1.17.6
I have created the worker with the example provided from this te

[2020-08-11 15:51] MaciekPytel commented on #3409
The most likely reason is that CA blocks scale-down if it sees any pods that are pending, but can be scheduled on existing nodes. The reason for that is CA doesn't know where scheduler will place those pods and, rather than risk races, it waits until all the scheduling is done.

The symptoms you see are most likely to happen if CA disagrees with scheduler: CA thinks a pod can be scheduled in the c

[2020-08-11 16:18] MaciekPytel commented on #3417
safe-to-evict: true overrides any checks related to kube-system namespace, so it shouldn't be a problem.

Fundamentally CA's job is to make sure all pods can be scheduled. CA will only ever delete a node if all pods running on this node will be able to schedule on other nodes in the cluster. In case of your calico-typha pods, only one of those can run on each node (due to port conflict). So if you

[2020-08-12 07:32] iusergii commented on #3133
@Jeffwan  didn't help
[code]
After I scaled ASG up manually to one and added more workflows it successfully scales up by autoscaler:
[code]

[2020-08-12 11:20] duritong opened #3425 "cluster-autoscaler expose max-nodes-total as a metric"
Currently it is not easy to include the use `max-nodes-total`cli option within any metrics, except for putting it there manually.

It would be nice if the metrics endpoint also exposes the value passed to `max-nodes-total` as it could then easily be queried in prometheus e.g. to generate alerts if the amount of nodes is coming close to that value?

Why is the manual configuration not enough? `max-

[2020-08-12 13:56] git-heera opened #3426 "Rebuild autoscaler binary"
Hi,

I need to rebuild the autoscaler binary
Need to rebase image with proxy and CA cert in dockerfile

Can you please guide me steps to do the same.

Thanks
Heera

[2020-08-12 14:38] elmiko commented on #3425
although this metric would be static per deployment of the autoscaler, i think having this would also help empower users to create more alerts around this value too. thanks for the suggestion!

[2020-08-12 14:43] elmiko commented on #3426
assuming you are talking about the cluster-autoscaler, there is a Makefile in the cluster-autoscaler directory which can help you to build a binary and image.

the `build` target will create a binary in the local directory, the `build-in-docker` target will use a container to do the binary build (this can help if you don't have the build toolchain installed), and the `make-image` target will creat

[2020-08-12 14:45] elmiko commented on #3425
/kind feature

[2020-08-12 14:45] elmiko commented on #3426
/kind question

[2020-08-12 15:20] hjkatz opened #3427 "[VPA] New release?"
Is there a way to track new releases or fixes for vpa 0.8+ versions? Is there a 0.9 milestone or anything?

I'm seeing some fixes to the VPA post-0.8 for quick OOM cycles and we'd like to try out this new version to see if the vpa recommender will update recommendations faster than every ~10mins for OOM cycles.

[2020-08-12 17:12] MaciekPytel commented on #3425
It should be fairly easy to add this and I'm happy to help review/etc.

[2020-08-12 17:28] git-heera commented on #3426
Thanks Buddy, I completely missed the Makefile. Your answer really helped.

[2020-08-12 17:28] #3426 closed

[2020-08-13 11:13] #2935 closed

[2020-08-13 14:37] alittlec commented on #3419
hi xUnholy - your image didnt' work for me. I've rebuilt one for version 1.15.7 (eks on arm preview version 1.15).

its available here alittlec/cluster-autoscaler:1.15.7

[2020-08-13 14:39] xUnholy commented on #3419
I'm only compiling for the most recent kubernetes version - good work!

[2020-08-13 14:55] hakman commented on #3419
@gjtempleton Any idea if there are any plans for this or if a PR would be accepted?

[2020-08-13 15:08] gjtempleton commented on #3419
There's not any plans to add support from it that I'm aware of currently, though I can't see why we wouldn't accept a PR for it given there's obviously a demand for it.

@MaciekPytel is the best person to confirm though.

[2020-08-13 15:13] hakman commented on #3419
Thanks @gjtempleton. Let's see what @MaciekPytel says also. Should be pretty simple to add this, I guess.

[2020-08-13 17:46] Jeffwan commented on #3133
@iusergii

Did you restart your CA or wait for a while after you apply the tag changes?

[2020-08-13 18:27] yashbhutwala commented on #3015
/remove-lifecycle rotten

[2020-08-13 20:39] eatwithforks opened #3430 "VPA memory metric unit should match kubernetes defaults (K vs k)"
In the recommendations, for memory:

Actual:
[code]

Expected:
[code]
So unit parsing logic can be re-used.

Kubernetes defaults: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-memory
[code]

[2020-08-14 02:28] denniswebb commented on #3398
I'm sure you guys know, but still busted

[2020-08-14 10:33] jrake-revelant commented on #3217
@Jeffwan we are still open to having a dedicated session on this topic

[2020-08-15 09:58] #2939 closed

[2020-08-17 00:27] jurgenweber commented on #3398
Yeah, it has been two weeks now. What do we think functionality will be restored? Thanks

[2020-08-17 07:40] gjtempleton commented on #3398
@jurgenweber Sorry, has this broken existing functionality?

I wasn't aware that was the case, just that this was effectively a new publish/home for the chart (which hasn't yet worked), with the existing home in the helm/charts repo still working?

[2020-08-17 11:01] linki commented on #3217
Another problem with "overshooting" besides additional cost is instability of workloads. We have a customer that brings up several machine learning type jobs at once. They all get scheduled but since CA heavily overshoots a lot of the spun up nodes are subsequently terminated leaving a lot of jobs unfinished. "Undershooting" would be the more desirable strategy for said customer.

As @aermakov-zal

[2020-08-17 12:48] ranshn commented on #3217
What happens if you have multiple ASGs and use the least-waste expander? For example:
c5.large, c5a.large, c5d.large, c5ad.large, c5dn.large, c5n.large, c4.large
c5.xlarge, c5a.xlarge, c5d.xlarge, c5ad.xlarge, c5dn.xlarge, c5n.xlarge, c4.xlarge
c5.2xlarge, c5a.2xlarge, c5d.2xlarge, c5ad.2xlarge, c5dn.2xlarge, c5n.2xlarge, c4.2xlarge

This way, you're diversifying each ASG to tap into more Spot cap

[2020-08-17 13:56] aermakov-zalando commented on #3217
@ranshn Unfortunately as you've said failover doesn't work that well, especially with the AWS cloud provider. It's still somewhat feasible with a small number of node pools (and even then we've had to fix some things in our fork), but if we can avoid it it's definitely the better choice. Additionally, AWS has way more visibility into Spot availability in general, so they can avoid giving out insta

[2020-08-17 15:08] ellistarn commented on #3217
A few thoughts:

@ranshn is absolutely correct in

c5.large, c5a.large, c5d.large, c5ad.large, c5dn.large, c5n.large, c4.large
c5.xlarge, c5a.xlarge, c5d.xlarge, c5ad.xlarge, c5dn.xlarge, c5n.xlarge, c4.xlarge
c5.2xlarge, c5a.2xlarge, c5d.2xlarge, c5ad.2xlarge, c5dn.2xlarge, c5n.2xlarge, c4.2xlarge

It's considered a best practice to separate spot capacity into similarly sized ASGs. This does resu

[2020-08-17 15:27] ellistarn commented on #3423
Were you able to get this working on another EKS version?

As I understand it, if you try to get the kubelet to apply --node-labels, the kubelet fails to come up? Do you have any errors or logs for this kubelet?

I wonder if perhaps --node-labels is being applied from multiple sources in this EKS version, which could lead to a conflict.

[2020-08-18 03:24] ranshn commented on #3217
I think this is really workload dependent. waiting for 10 minutes for ASG to fail in fulfilling capacity before moving to the next one might not work in an e-commerce website where being under provisioned could be wasting money. But, I was replying to a user describing provisioning nodes for machine learning training jobs (AFAIU) and I believe that in many cases, these time insensitive, batch/job

[2020-08-18 06:56] mblaschke opened #3433 "clusterautoscaler: notifications (eg. shoutrrr)"
Would it be possible to implement eg. [shoutrrr](https://github.com/containrrr/shoutrrr) for eg. slack notifcations when scale-up or scale-down is executed? Would you accept a PR for that?

[2020-08-18 09:17] AdamSzendrei commented on #2810
when I start the script vpa-ip.sh I get the following error:
`Generating certs for the VPA Admission Controller in /tmp/vpa-certs.
Generating RSA private key, 2048 bit long modulus
............+++
.......+++
e is 65537 (0x10001)
unknown option -addext
req [options] <infile >outfile`

[2020-08-18 09:19] bskiba commented on #2810
@AdamSzendrei please take a look at
https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#install-command

[2020-08-18 09:35] AdamSzendrei commented on #2810
my openssl is up-to-date and I still have the same issue.

[2020-08-18 09:38] aermakov-zalando commented on #3217
@ranshn According to multiple AWS support articles, for example [this one](https://aws.amazon.com/about-aws/whats-new/2019/08/new-capacity-optimized-allocation-strategy-for-provisioning-amazon-ec2-spot-instances/), capacity-optimized pools will provide instances of instance types with higher availability, and thus the probability of disruption will be lower. It even says that right there: “This wo

[2020-08-18 09:50] ranshn commented on #3217
This is true, but it's not how you described it: "avoid giving out instances that will be immediately taken away 5 minutes later". All I'm saying is, for the sake of accuracy, there's no guaranteed minimum run time, which could have been understood from your comment. I'm merely addressing the way you phrased the capabilities of this feature.
Also, I still don't get why in the context of using capa

[2020-08-18 10:07] aermakov-zalando commented on #3217
Because if you have multiple spot pools, where some are close to unavailable and others aren't, it's possible that CA will always choose the problematic ones, and will continue getting instances that would be immediately terminated. With a single capacity-optimized pool AWS will presumably provide better instances in this case.

[2020-08-18 10:15] llnformer commented on #3423
It was confusion from my end about that I tried to label the nodes with the kubelet node labels argument instead to add tags to the AWS Autoscaling group directly, but I still don't know why the kubelet failed and I didn't have time for setting ssh to get the kubelet log, but I can tell the labels follow the allowed prefixes mentioned here: https://kubernetes.io/docs/reference/access-authn-authz/a

[2020-08-18 10:56] ranshn commented on #3217
I think this is the first time that decreasing Spot interruptions with capacity-optimized is discussed in this thread, and I think we're still not on the same wavelength. let me take a step back and clarify what I mean. when you say that CA chooses problematic pools, I suspect that you're referring to single instance-type ASGs, which is definitely not what I'm suggesting, and I agree that if we po

[2020-08-18 11:21] #3146 closed

[2020-08-18 12:20] habibrosyad commented on #3425
/assign

[2020-08-18 12:51] nalbury-handy opened #3436 "Extra Ignored Labels for --balance-similar-node-groups"
While researching some proposed changes to our kube worker autoscaling groups in AWS, I was looking into using a single ASG/AZ as suggested [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#im-running-cluster-with-nodes-in-multiple-zones-for-ha-purposes-is-that-supported-by-cluster-autoscaler).

We unfortunately have a service running in our cluster, which grabs

[2020-08-18 14:43] caslurjf commented on #3235
@bskiba , here is my updated VPA settings, unfortunately is not working properly I guess. Could you check what I'm doing wrong ?
![image](https://user-images.githubusercontent.com/45827406/90527296-c27b2780-e147-11ea-9cc5-6ad31d06da4e.png)
![image](https://user-images.githubusercontent.com/45827406/90527563-0f5efe00-e148-11ea-9988-b012fc6df137.png)

[2020-08-18 14:58] bskiba commented on #3235
Just to double check, can you share the output of
`kubectl get -n development cronjob`

[2020-08-18 15:00] estahn commented on #3348
The VPA query to fetch CPU metrics is currently bringing down Prometheus due to the massive amount of data being fetched.

I already reduced the history length to 1d, but it still fetches 10-thousands of samples.

[code]

[2020-08-18 15:59] andsens commented on #3142
/remove-lifecycle stale

[2020-08-18 17:14] caslurjf commented on #3235
Sure! Here it is:
![image](https://user-images.githubusercontent.com/45827406/90544057-f6147c80-e15c-11ea-9ac2-da7a73538035.png)

[2020-08-18 18:35] n2aws commented on #1070
/remove-lifecycle stale

Also,   It's insanely frustrating that this bot marks issues as stale.  Is there a flag you can add to stop the "auto-stale" action on a legitimate ticket that simply isn't being worked on currently?

[2020-08-18 21:43] estahn opened #3438 "[VPA] Causes prometheus to become unresponsive"
The VPA query to fetch CPU metrics is currently bringing down Prometheus due to the massive amount of data being fetched.

I already reduced the history length to 1d, but it still fetches 10-thousands of samples.

[code]

The query that is being executed is:

[code]

Possibly related:
* #3348
* #2543

[2020-08-18 22:59] estahn opened #3439 "[VPA] Prometheus labels for cadvisor have changed"
The labels for cadvisor have changed (see https://github.com/kubernetes/kubernetes/pull/69099). I'm starting the VPA as follows:

[code]

The query that is being executed is:

[code]

[2020-08-19 00:22] #2857 closed

[2020-08-19 00:24] estahn commented on #3376
@povilasv Are you sure this is only spammy logs or metrics that get discarded?

I have the same issue with the following config:

[code]

[2020-08-19 09:15] greenu commented on #3276
related issue #3076

[2020-08-19 10:13] MaciekPytel commented on #3436
I think you can just specify extra labels using CA flag: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/main.go#L173.

[2020-08-19 11:38] aermakov-zalando commented on #3217
Yes, it will obviously work better than single-type ASGs. However, because of numerous issues with failover, especially in upstream CA and AWS cloud provider, it's still possible that a shortage of instances will leave the pods in the Pending state for a significant amount of time (half an hour, maybe more, depending on CA configuration and the setup). Since we've already seen severe instance shor

[2020-08-19 11:57] nalbury-handy commented on #3436
Ah didn't see those, thanks!

[2020-08-19 11:57] #3436 closed

[2020-08-19 14:27] #3425 closed

[2020-08-19 14:37] habibrosyad commented on #3425
Exposed via #3435 as `cluster_autoscaler_max_nodes_count`.

[2020-08-19 22:40] yogeek commented on #3093
Hi @gjtempleton

Seems that all tags are not available :
[code]

Is it normal please ?
I have a cluster in 1.17.6 and according to the documentation I have to deploy the exact same version of cluster-autoscaler but I can't find the corresponding image.

[2020-08-20 05:47] tomkerkhove commented on #3182
Thanks for that. Are there plans to be able to provide integration from other components s that CA would be the central point for cluster autoscaling inside the cluster; while being open to other components?

Simple example, if KEDA detects that there is a high spike in work and it will scale the deployments to 1000 instances we could schedule them all and wait for CA to kick in; or we notify the

[2020-08-20 06:12] woniuzhang commented on #3297
It's my fault. The \n   is certainly invalid.

[2020-08-20 06:12] #3297 closed

[2020-08-20 07:52] mwielgus commented on #718
Nothing happened on this issue for the last 2 years. The used fields are still OK.

[2020-08-20 07:52] #718 closed

[2020-08-20 08:23] #3074 closed

[2020-08-20 11:22] zhaocheng173 opened #3442 "I want to know what the recommended values mean, which value is more suitable for me to put into my POD as the average value. In addition, what is the value of this 262144K converted into Mi and how to calculate it"
Here are my vPA recommended values
[code]

[2020-08-20 12:06] dvianello commented on #1658
Not stale.

[2020-08-20 12:52] MaciekPytel commented on #3182
Sorry for just reiterating what I said above during kubecon Q&A. To give you a slightly more detailed answer: CA uses pending pods as a signal and I'm not aware of any plan to fundamentally change that. It would likely require complete refactoring of the current logic.

So the signal needs to somehow fit into the existing algorithm. Also a big issue is how to prevent CA from scaling-down those ext

[2020-08-20 15:31] caslurjf commented on #3235
@bskiba any idea about what I'm doing wrong ?

[2020-08-20 15:48] bskiba commented on #3235
Honestly don't know
@krzysied @kgolab maybe you can spot some issues I am missing?
Can you maybe take a look at vpa-recommender logs to see if it has any permission issues getting the cron jobs?

[2020-08-20 16:11] iusergii commented on #3133
@Jeffwan  yes, I did:
- create IG
- restarted CA
- Redeployed application.
Still have a pod in `Pending` state

[2020-08-20 16:16] bskiba commented on #3442
The values are in bytes. There is room for improvement in presentations.
The recommended value is target:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L221

/close

[2020-08-20 16:16] #3442 closed

[2020-08-20 16:18] bskiba commented on #3430
There is definitely room for improvement in VPA presentation here. Looking for people interested in fixing this.

[2020-08-20 16:18] bskiba commented on #3378
This is fixed
/close

[2020-08-20 16:18] #3378 closed

[2020-08-20 16:19] bskiba commented on #3427
I'd like to release VPA 0.9 in the next two weeks.

[2020-08-20 16:20] bskiba commented on #3376
I think this might mean the metrics get discarded. I think the issue is the prometheus history is fetched before pods are listed for the first time.

[2020-08-20 16:26] bskiba commented on #3430
This is actually duplicate of #3323, so I'll close this one if that's ok

[2020-08-20 16:26] #3430 closed

[2020-08-20 16:32] bskiba commented on #3266
@chenchun Could you summarise your takeaways from the discussions in the PRs/issues around supporting watch and list for subresources? I gather the idea did not go through but I am interested in the reasons behind that.

[2020-08-20 16:34] bskiba commented on #3077
Not a lot of activity, so I'll close the issue, but please reopen if more discussion is needed.

[2020-08-20 16:34] bskiba commented on #3077
/close

[2020-08-20 16:34] #3077 closed

[2020-08-20 16:36] bskiba commented on #3062
Fixed by #3227

[2020-08-20 16:36] #3062 closed

[2020-08-20 16:41] bskiba commented on #3015
I believe this request goes agains the philosophy behind deployments. A Deployment as a k8s concept is "cattle" - all pods should be roughly similar. You would not be able to have different requests for pods if you just used the deployment - the pod template is common. That's why I do not see implementing this feature in the near future as feasible.
/close

[2020-08-20 19:34] momkeller commented on #3276
I am also running into this issue in cn-north-1 using AS 1.15.7.  Is there a workaround or projected fix date?

[2020-08-20 21:54] omnibs commented on #1298
This sort of logic is also useful in real production scenarios. If I have 2 pods close to `targetAverageUtilization` and I start a drain, cutting one off means I'm now close to 50% underprovisioned and will se severe degradation until the HPA kicks in.

One solution is to run a high enough `minReplicas`, but I'd love Kubernetes to help me not spend more money at low traffic / idle.

A more compreh

[2020-08-20 21:57] Jeffwan commented on #3133
@iusergii  One last thing, what's the patch version are you using?

[2020-08-21 00:55] marwanad commented on #3410
I've prepared the backports for all versions up and until 1.16.

I don't think 1.15 is possible since K8s has dropped support for that.

[2020-08-21 00:56] marwanad commented on #3410
/close

[2020-08-21 00:56] #3410 closed

[2020-08-21 00:56] marwanad commented on #3130
@dharmab just checking in to see if you've hit the issue again?

[2020-08-21 08:37] chenchun commented on #3266
Because they think

In my opinion, `GET /apis/apps.tkestack.io/v1/namespaces/default/tapps//scale` represents listing all tapps scale objects or `GET /apis/apps.tkestack.io/v1/watch/namespaces/default/tapps//scale` for watching all tapps scale objects  is indeed not a good idea and I can't think of a better restful uri than this. `//` is valid but don't use it. Refer [Is a URL with // in the path-

[2020-08-21 16:02] magnusja opened #3448 "autoscaling with gpu fails"
Hey there,

this is my yaml config:

[code]

I am always getting this error (GCP):
[code]
It does not really what I put in the yaml file it is pretty much always 8,7 or 9. The pod never gets scheduled even though I have a node pool with 4 gpus and 16 CPUs, 200GB of RAM (machine type is n1-highmem-32).

The UI fails miserably and is splitting nvidia and com/gpu. not sure if only a UI problem or a g

[2020-08-24 08:13] lexsys27 opened #3454 "Helm chart doesn't add service account annotations"
I want to install cluster autoscaler using the latest Helm chart. Here is my `values.yaml`:

[code]

After applying configuration I do `kubectl get sa/autoscaler -o yaml` and see no annotation named `eks.amazonaws.com/role-arn`. That mean CA can't authenticate using OIDC provider and fails to start.

I expect Helm chart to add annotation `eks.amazonaws.com/role-arn: arn:aws:iam::XXX:role/k8s-syste

[2020-08-24 08:23] lexsys27 commented on #3454
Figured out the reason: due to https://github.com/kubernetes/autoscaler/issues/3318 I am using `stable/cluster-autoscaler`.  And it require `serviceAccountAnnotations` instead of `serviceAccount.annotations`.

[2020-08-24 08:27] Sanghamitra-BEAGILE commented on #3410
Hey,

Thanks for the update.

[2020-08-24 12:02] knight42 commented on #3151
/remove-lifecycle stale

[2020-08-24 14:34] gjtempleton commented on #3318
#3413 has now been merged and I've just validated that I can fetch the chart.

It's not ideal but a manual process will work for now, so I think this issue can now be closed.

[2020-08-24 17:25] yashbhutwala commented on #3068
/remove-lifecycle stale

[2020-08-25 08:18] lexsys27 commented on #3318
I confirm the error is solved on my side.

[code]

[2020-08-25 09:56] brouberol commented on #3407
I'm running in an issue where the proposed solution would be of interest: my team is currently hitting what looks like an NVMe controller bug on AWS nodes, resulting in pods being stuck in the `Terminating` state for ever at restart. The only way of recovering is to terminate the instance and have the pod be rescheduled on a replacement one, provisioned by the autoscaler.

We have tooling to detec

[2020-08-25 12:21] iusergii commented on #3133
@Jeffwan sorry, didn't get you.
CA: `k8s.gcr.io/cluster-autoscaler:v1.17.1`
API: `GitVersion:"v1.17.6-eks-4e7f64"`

[2020-08-25 13:20] searsaw commented on #3318
Also, I can confirm it worked for me as well. Thank you, @gjtempleton

[2020-08-25 13:30] hakman commented on #3419
@MaciekPytel any thoughts on this?

[2020-08-25 14:24] surajnarwade opened #3458 "Automatic certificate renewal for VPA"
**Issue:**

I am trying to use cert-manager to manage certificates for VPA. once I update the certs I can see following error logs on `vpa-admission-controller`.

[code]

**Cause**

when we renew the certificate, it updates the secret and mutating webhook configuration. but there are still old certs in memory while VPA admission controller is running

**Resolution/Feature Request**

Adding the fun

[2020-08-25 15:07] jbartosik commented on #3319
I took a look at this. I added a test and in the test I get the following capped memory recommendations for pods (I set up test to have limit ranges and pods like described in this issue):

* `121123184974863m`
* `2357124785136m`

Which adds up to `123480309759999m`, just `1m` below max for Pod. I guess `1m` memory doesn't make sense so those get rounded up to `121123184975000m` and `2357124786000

[2020-08-25 15:21] jbartosik commented on #3319
With minimums we should round up.

[2020-08-25 19:32] benmoss commented on #3011
Can we close this since we meregd https://github.com/kubernetes/autoscaler/pull/3312 ?

[2020-08-25 19:47] elmiko commented on #3011
certainly seems like we can to me.

plus, we can always re-open if need be ;)
/close

[2020-08-25 19:47] #3011 closed

[2020-08-26 02:33] yurrriq commented on #3318
Same. Thanks, everyone! stable/cluster-autoscaler will soon be marked deprecated by https://github.com/helm/charts/pull/23305

[2020-08-26 02:36] zhaocheng173 commented on #3442
Can I change the recommended value K to M

[2020-08-26 07:33] bskiba commented on #3442
Not at the moment: https://github.com/kubernetes/autoscaler/issues/3323

[2020-08-26 08:59] zhaocheng173 commented on #3442
Could you please help me calculate how much Mi is this 262144K? I don't know how to calculate it, thank you

[2020-08-26 10:32] surajnarwade commented on #3458
I would like to work to on this issue :smile_cat:

[2020-08-26 11:41] bskiba commented on #3458
/assign @surajnarwade
Thanks, that's appreciated! Let me know if you need support, otherwise please send PRs our way :)

[2020-08-26 12:19] knrt10 opened #3461 "Autoscaling on packet fails to create nodes in version 1.0.2"
### Steps to reproduce

- Run a Kubernetes cluster on [Lokomotive](github.com/kinvolk/lokomotive)
- Apply [cluster-autoscaler component](https://github.com/kinvolk/lokomotive/pull/859)
- Create an Nginx deployment with a resource request of 32Gb or anything else.

[code]

### Expected

It should autoscale and create nodes on Packet.

### Actual

It panics and crashes the pod

<details><summary>Suc

[2020-08-26 13:21] detiber commented on #3196
Related PRs: https://github.com/kubernetes/autoscaler/pull/3314 https://github.com/kubernetes/autoscaler/pull/3203

With the above PRs, you should be able to deploy a copy of the autoscaler for each workload cluster you have. The simplest deployment method would be to deploy the autoscaler deployments to the management cluster, mounting the kubeconfig secret for the workload cluster, and setting t

[2020-08-26 13:31] elmiko commented on #3407
@dbenque your reasoning makes good sense to me. do you think this behavior should be always on, or should we create a command line flag to enable it?

[2020-08-26 15:44] ddseapy opened #3464 "gpuLabel detected but not used, causing additional node scale-up"
On aws using 1.16.3 CA after adding the gpu label/tag I can see the log indicating it's picking it up:
https://github.com/kubernetes/autoscaler/blob/e93af84596451b0a57be385ab4043cbea7c6274b/cluster-autoscaler/utils/gpu/gpu.go#L65

However it's still scaling up an additional node.

[2020-08-26 15:51] dbenque commented on #3407
@elmiko I would had couple of command line flags to enable/disable and tune the behavior. The sample commit I did is really basic just to validate the concept, but there are couple of things we can tune/pilot with flags.

Just waiting for more community feedback/approval/go-ahead before consolidating all ideas in an PR.

[2020-08-26 16:53] marwanad commented on #3407
+1 or this. I think the tricky part would be figuring the TerminationGracePeriod but that can be hardcoded/provided by config flags for now?

[2020-08-26 19:39] kalid117658 opened #3465 "https://instagram.com/fhjjfdfh828?igshid=12l5t2wcwu25f"

[2020-08-26 21:19] sjentzsch commented on #2010
Yes, same here. Also just stumbled upon it, thinking I got my label parameters wrong.

[2020-08-27 07:59] bskiba commented on #3465
/close

[2020-08-27 07:59] #3465 closed

[2020-08-27 10:55] kubefetch opened #3466 "Is there a case where I deployed type "Initial ", I did not deploy according to VPA and only allocated resource requests when the POD was created, and it did not work properly"
I waited for 5m but didn't rebuild the POD
[code]

[2020-08-27 11:07] bskiba commented on #3466
Initial mode only assign recommended resources on pod creation time. However, it takes some time to generate recommendation. Is there a chance that your pods were created before recommendation was generated by VPA?

Once the pods are created, they will never be updated with new resource requests by VPA. Are you looking for "Auto" mode? Auto mode will restart your pods with recommended requests if

[2020-08-27 13:16] jbrouwers commented on #3372
I had the same issue on the af-south-1 region using the cluster autoscaler v1.17.3
adding --aws-use-static-instance-list=true to the command arguments seems to work fine.

[2020-08-27 15:43] bcbrockway opened #3467 "VPA provides recommendations for containers that don't exist"
Hi all,

Got a bit of a weird bug using GKE's VPA implementation; hopefully it's still relevant here. I've created the following VPA object which has returned some recommendations as follows:

[code]

However if I look at the Deployment `targetRef` is looking for, only one of these containers exists:

[code]

There are no other deployments with the same name on the whole cluster:

[code]

Our kiba

[2020-08-27 16:38] eatwithforks opened #3468 "Vertical Pod Autoscaler: option to change pollInterval"
Is there an option to make pollInterval configurable? If so, are there documents on how to do this? via ENV var or another setting?

Reason being vpa-recommender is making a lot of requests and I want to reduce that by increasing the PollInterval to every minute or so.

[2020-08-27 20:28] caslurjf commented on #3235
@bskiba Any update about this case ?

[2020-08-27 20:49] #3004 closed

[2020-08-27 23:24] nitrag commented on #2835
@bruecktech I'm testing your fix. I thought it was working for a while but getting mixed results now. I added a long line to show the score. Any ideas?

[code]

How is it possible that they both get a score of 10?

[code]

I also added our own test, which is also failing.
[code]

[code]

[2020-08-28 02:31] pablokbs opened #3469 "How to run cluster-autoscaler (vanilla) in DigitalOcean"
Hello, I'm trying to run CA in my DO cluster, but I don't want to use their in-house version as it doesn't allow me to change any flag.

I tried running it myself but I faced a few problems, the first one was that even when having a fixed node-pool, CA seems to be running in the DO side, so the leader election collides with the vanilla one. I fixed this by disabling leader-election. I'm currently

[2020-08-28 06:07] bruecktech commented on #2835
@nitrag which version of CA are you running? it seems this fix is not released in any of the versions yet
your test probably fails because you have test nodes called `zeroscaling...` but your expander config matches `pv-platform-master-worker...`

[2020-08-28 08:38] MaciekPytel commented on #3464
Is it possible that GPU driver initialization takes too long? With default settings CA would timeout scale-up after 15 minutes (ie. 15 minutes until the node is fully ready, this includes both VM creation and GPU driver installation).

[2020-08-28 08:45] ddseapy commented on #3464
That's a good thought.  However, the GPU machines successfully join the cluster and pods start running within 4-6 minutes.  I've never seen them take much longer than that, so I don't think that is the cause.

[2020-08-28 09:00] bskiba commented on #3467
VPA uses the Deployment's selector to figure out which pods to take into account when providing recommendations. My guess is that your deployments label selector selects some pods from other deployments/statefulsets as well.
Selector:
[code]

You can use following kubectl to verify this.
[code]

[2020-08-28 11:20] gjtempleton commented on #3318
/close

[2020-08-28 11:21] #3318 closed

[2020-08-28 11:21] gjtempleton commented on #3454
Given the chart is now installable from here, is this issue OK to close?

[2020-08-28 15:12] nitrag commented on #2835
@bruecktech I've pulled `1.15.7` and manually added your PR on top. You're right about the 😫  typo but I'm still having the error. In the test, the actual is correct. Why is the test choosing the wrong expected?

Please see this gist for the full code changes: https://gist.github.com/nitrag/a381083edbcfef5f45b31198617e32ee

[2020-08-28 15:54] orirawlings opened #3471 "cluster-autoscaler-chart 1.0.2 not published to chart repository?"
I see [a tag](/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-1.0.2) for version 1.0.2 of the cluster-autoscaler-chart, but I don't see the corresponding version published in the chart repository.

[code]

As a result, when I try to install the latest version, I get an error.
[code]

[2020-08-28 16:20] tobiaskohlbau commented on #3469
Hello, to be fair upfront I've never used digital ocean but I was just making myself familiar with the autoscaler and discovered your issue and wanted to try to help.

From looking into the code I observed that you should use _--cloud-config_ as a flag.
https://github.com/kubernetes/autoscaler/blob/d9e8fa3cbba3c3c76adf96e70bbb1277fad60ea7/cluster-autoscaler/main.go#L88
As the code documents it sho

[2020-08-28 17:57] tobiaskohlbau opened #3472 "cluster-autoscaler: go test fails on go 1.15"
Go 1.15 enabled _stringintconv_ as additional `go vet` check. It checks if a int is converted into a string expecting the number as string instead of getting the representing rune.

These check is violated within:

https://github.com/kubernetes/autoscaler/blob/d9e8fa3cbba3c3c76adf96e70bbb1277fad60ea7/cluster-autoscaler/cloudprovider/alicloud/alibaba-cloud-sdk-go/sdk/auth/signers/signer_ecs_ram_rol

[2020-08-28 20:12] #2887 closed

[2020-08-28 20:12] #3006 closed

[2020-08-29 01:08] llamahunter opened #3475 "cluster-autoscaler helm chart has '-chart' in its name"
It seems bad form for a chart to include the word 'chart' in its name. It seems worse to then name every object the chart creates with 'chart' in the name. And it seems especially bad to RENAME the chart when moving it from one repo to another (i.e. the helm/stable chart was called 'cluster-autoscaler', not 'cluster-autoscaler-chart'), causing all existing named k8s objects to need to be destroyed

[2020-08-29 05:16] nitrag commented on #2835
Well after a long day of troubleshooting I've discovered that (quite obviously now that I see it) the priorities become a map and therefore cannot have the same priority values or else be replaced.

[code]

[2020-08-29 10:58] gjtempleton commented on #3471
Hi @orirawlings

Yeah, currently the publish of the tarball is automated on the merge to master, but the update to the `index.yaml` requires a manual action which I hadn't yet found the time to do. The bump from 1.0.1 to 1.0.2 is only corrections to the readme from #3455 but I'll raise the PR to add it to the index.yaml now.

[2020-08-29 11:08] gjtempleton commented on #3475
Hi @llamahunter, thanks for opening the issue.

This is obviously not ideal, however as mentioned in the PR to change the chart name #3393, there are technical reasons for this change having been made as the releases conflicted with existing releases for the cluster autoscaler itself. The chart-releaser action hasn't found a solution for this yet https://github.com/helm/chart-releaser/issues/65. D

[2020-08-29 15:01] llamahunter commented on #3475
I think changing the chart versioning is the source of the problem, no? Why did you go from 8.0.0 to 1.0.2? Why not just continue on with the same name and version scheme, since the chart is almost entirely unchanged? That is what happened with other charts that moved out of helm/stable. No duplicate tags that way.

[2020-08-31 07:37] zyjiaobj opened #3477 "why ephemeral-storage is not counted when making scale down decision"
In the current scale down process, `cpu` and `memory` are calculated when making the scale down decision: https://github.com/kubernetes/autoscaler/blob/d9e8fa3cbba3c3c76adf96e70bbb1277fad60ea7/cluster-autoscaler/simulator/cluster.go#L231-L238

As [`ephemeral-storage`](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage) is one of the container res

[2020-08-31 11:08] #3472 closed

[2020-08-31 11:30] dschmo opened #3478 "[VPA] history provider: pod labels are gone in master"
Using the master code line in the recommender logs there are just such lines:
`Adding pod {default ingress-default-backend-557b856b77-4wqsf} with labels map[]`
There are no labels at all.

Using 0.8.0 it works fine.

[2020-08-31 11:31] gjtempleton commented on #3471
PR now merged
/close

[2020-08-31 11:31] #3471 closed

[2020-08-31 11:38] dschmo commented on #3478
It might be caused by:
https://github.com/kubernetes/autoscaler/commit/846c656bbd1df92e2df173b44970ba6fe259100f

In this line
https://github.com/kubernetes/autoscaler/blob/bbc60b10d7d0887d3c4f782ca4f483438a659049/vertical-pod-autoscaler/pkg/recommender/input/history/history_provider.go#L236
I get the error `expected query to return a matrix; got result type model.Vector`

[2020-08-31 13:03] nucleusv opened #3479 "Does not scale down nodes with pods with HPA"
Autoscaler can not drain nodes, in logs we have this:

[code]

It looks like it relates to HPA as desired replicas, why does not autoscaler dont drain nodes with such apps?

[2020-08-31 13:15] nucleusv commented on #3479
it looks like it relates to **https://github.com/kubernetes/autoscaler/blob/686d0e87a1f3afc30e4630b6d6ee6f2e5e0badbe/cluster-autoscaler/utils/drain/drain.go#L128**

[2020-08-31 15:52] gjtempleton commented on #3475
We also don't want people thinking that a new release of the Cluster Autoscaler itself has been cut when it's only a new cut of the chart.

I have an idea of how to solve this by naming the releases seperately to the helm chart name, but we won't be able to use the current releaser action to achieve that.

[2020-08-31 15:58] llamahunter commented on #3475
If that's the case, why in the former chart location did you go from 7.3.4 to 8.0.0 with NO change in the chart or autoscaler??
https://github.com/helm/charts/commit/6ed964a07209f4614c8cd8a952cec83305a79b7f

[2020-08-31 16:00] llamahunter commented on #3475
In any event, changing the name of _every_ k8s object created by this chart to now include the '-chart' suffix seems like a huge migration headache for users, especially since virtually nothing else has changed.

[2020-08-31 17:06] gjtempleton commented on #3475
I understand the pain point you're pointing out, I'm just trying to make clear the reasons for the change being, and a potential path forward to solve it along with the constraints that has to work within.

If other people want to come up with a solution that works within those constraints, that would be great, I'd be more than happy to review it. Otherwise, as mentioned above, I have an idea of h

[2020-08-31 17:44] llamahunter commented on #3475
I think the code in _helpers.tpl could be changed to strip off the '-chart' suffix from the .Chart.Name, or there could be a new variable introduced called correctedChartName with a default of 'cluster-autoscaler' used with higher priority than .Chart.Name if it is set.,

e.g.

in values.yaml
[code]

in _helpers.tpl

[code]

[2020-08-31 17:49] llamahunter commented on #3475
Like I said earlier, I could set the `nameOverride` and `fullnameOverride` variables to accomplish nearly the same effect, but it would require manually managing the cloudProvider aspect of the name. Better to make this default behavior fully automatic for legacy chart users (which, at this point, I am expecting is 99+% of the userbase).  Also, suffixing every k8s resource with '-chart' just seems

[2020-09-01 08:26] subhrang commented on #1081
Use PropagateAtLaunch = true

[2020-09-01 13:24] stevehipwell commented on #3318
The chart releaser action has been updated so it should now be possible to remove the `-chart` post-fix from the chart name while still having the tags include this.

https://github.com/helm/chart-releaser/pull/74

[2020-09-01 13:27] stevehipwell commented on #3475
The **-chart** post-fix should be able to be removed using the new `--release-template` flag on the _chart-releaser_ command (I'm 99% sure the action allows the pass through) while keeping the tag pattern.

[2020-09-01 13:42] gjtempleton commented on #3475
Brilliant, thanks very much for pointing it out @stevehipwell!

I'll get on trying that out this evening.

[2020-09-01 13:51] stevehipwell commented on #3475
Sorry, this action doesn't have a generic pass through for flags, I just checked and opened an issue to get the action updated.

https://github.com/helm/chart-releaser-action/issues/37

[2020-09-01 14:15] rawkode commented on #3461
Hi @knrt10,

That 503 looks like it is potentially a transient error, could you confirm if this is still a problem?

[2020-09-01 15:45] knrt10 commented on #3461
Thank you for your reply @rawkode. Yes, I just checked, it still occurs

[2020-09-01 19:01] neha-viswanathan opened #3481 "Duplicate arguments in values.yaml"
The `values.yaml` file has duplicate arguments :

- https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler-chart/values.yaml#L119
- https://github.com/kubernetes/autoscaler/blob/master/charts/cluster-autoscaler-chart/values.yaml#L132

[2020-09-01 20:21] spanky-medal commented on #2045
/remove-lifecycle stale

[2020-09-02 04:31] kskewes commented on #3448
1. Are you running [`nvidia-device-plugin`](https://github.com/NVIDIA/k8s-device-plugin) on these nodes so that they advertise they have the `nvidia.com/gpu` resource? (not sure if required on GKE, but is on AWS).
2. Do you have nodes running or have they scaled to 0? If scaled to 0 you will need to add tag `"k8s.io/cluster-autoscaler/node-template/label/nvidia.com/gpu": "true"` to tell CAS that t

[2020-09-02 11:27] MaciekPytel commented on #3448
For GKE you'd indeed need to install drivers as described in https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers. Second suggestion is specific to AWS and is not needed on GKE (all of this is automatically handled by GKE).

The events you pasted are scheduler events that say why scheduler is unable to schedule pods (the 8 in event refers to the number of nodes scheduler

[2020-09-02 11:29] magnusja commented on #3448
Hey there,

sorry for leaving this open. I solved the issue already. Problem was that in the GKE region the cluster is in there were no machines available with 4xT4 GPUs. Unfortunately, I did not see that error right away, it is kind of hidden somewhere in the instance group management.

[2020-09-02 11:29] #3448 closed

[2020-09-02 14:03] invidian commented on #3461
@rawkode the actual error is:
[code]

The point here is: cluster-autoscaler panics when a request returns error, that seems wrong.

The other issue is selecting node type to provision, which seems to be incorrect as well, though I'm not sure if this is not the configuration issue on Lokomotive side.

[2020-09-02 18:13] nitrag commented on #3042
Is this bug patched in EKS 1.15+? I ask because I'm running into this issue. I try and scale up a spot instance and 10 minutes later it is creating a placeholder instance. `(FLAG: --max-node-provision-time="5m0s")` is ignored. Should I create a separate github issue for this?

[code]

Expected behavior: 5 minutes after scale up fails to launch a spot instance, it should fallback to on demand (lowe

[2020-09-03 11:04] bzeitler69 commented on #2789
That worked for me too. Thanks for leaving the solution here!

[2020-09-03 13:55] detiber commented on #3461
I started taking a swing at this in https://github.com/kubernetes/autoscaler/pull/3483/files, but went down a bit of a rabbit hole cleaning up some other bits along the way. Will attempt to revisit it and pull apart some of the changes over the next few days.

[2020-09-03 16:46] Capstan opened #3486 "Request for VPA generated.proto files"
In the Google mono-repo, we have a tool that configures Kubernetes by filling out these proto messages as an intermediate step. https://github.com/kubernetes/api includes a `generated.proto` file for each API version as generated by https://github.com/kubernetes/code-generator, and we'd like autoscaler to provide the same.

/cc @pawelz

[2020-09-03 17:09] Capstan commented on #3486
FWIW, I tried building or running `go-to-protobuf` manually but it's not quite clear how it is intended to be used, or where one comes by the `hack/boilerplate.go.txt` files. If there were some instructions, I could try to contribute it directly.

[2020-09-03 18:39] gkarthiks commented on #3481
corrected in the #3487 PR. So closing this issue.

/close

[2020-09-03 18:39] #3481 closed

[2020-09-03 18:42] gkarthiks commented on #3481
/kind cleanup

[2020-09-03 19:31] #3026 closed

[2020-09-03 19:44] elmiko commented on #3196
that's a good distinction to draw out Ben. imo, it _sounds_ like a large architectural undertaking given that currently the autoscaler is assumed to be in a mostly 1:1 relationship with the cluster it manges (1 autoscaler per cluster). i know folks are able to run multiple autoscalers and that there are ways to label and segment the nodes and pods they watch. changing the autoscaler to have the ab

[2020-09-03 20:00] tyrken commented on #2390
Looks like this has been done in https://github.com/kubernetes/autoscaler/pull/3434 ?

[2020-09-04 03:23] pablokbs commented on #3469
Thanks @tobiaskohlbau ! your comment helped me a lot, I'm pasting below my manifests (there were some issues with extra spaces, I know, yaml, right?)

Now CA runs, but is not actually doing anything, seems like it can't find the node-pool, logs [here](https://gist.github.com/pablokbs/83bb40341a429109c32485a88c1e6f08)

[code]

I'm following this [small doc](https://github.com/kubernetes/autoscaler/

[2020-09-04 03:39] #3027 closed

[2020-09-04 06:53] forsberg opened #3488 "Chart release 1.0.3 not available in Repository"
https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-chart-1.0.3 lists Chart release as 1.0.3, but it's not in the chart repository at https://kubernetes.github.io/autoscaler/index.yaml

Intended, or problem with CI/CD?

[2020-09-04 08:08] tobiaskohlbau commented on #3469
I'm not sure if this is a copying bug. But would like to point out that your deployment contains multiple lines for `./cluster-autoscaler`. Otherwise this is pretty much out of my scope as I never used the CA myself.

[2020-09-04 08:19] gjtempleton commented on #3488
Unfortunately the publishing to the `gh-pages` branch is currently a separate action to the CI triggered publish of the release. I've raised a PR to publish it now as I didn't have time to do so yesterday evening.

[2020-09-04 08:24] gjtempleton commented on #3488
Just been merged and confirmed it can be pulled successfully.

/close

[2020-09-04 08:24] #3488 closed

[2020-09-04 13:34] pablokbs commented on #3469
Thanks for your help anyway 👍  yeah the duplicated lines were a copy pasta error. I just edited my previous message.

[2020-09-04 13:52] nitrag opened #3490 "Max Node Provision Time + Priority Expander + Node Unavailability"
I have an issue where we did not scale up because spot instances were not available.

AWS EKS: `1.15`
Cluster-Autoscaler: `1.15.7`
Expander: `priority`

I have configured `--max-node-provision-time="5m0s"`. The expected behavior would be that after 5 minutes, the node group is marked as unavailable and the next highest priority group is chosen. The logs below shot it's being ignored. IThe default

[2020-09-04 16:42] yashbhutwala commented on #3091
/remove-lifecycle rotten

[2020-09-05 22:21] #1676 closed

[2020-09-07 11:23] Heiko-san opened #3493 "Will there be a rancher provider?"
Hi,

will there be a provider for the [Rancher](https://rancher.com/) Clustermanager in the near future?
Actually Rancher provides a simple API for scaling nodes up and down, but doesn't implement autoscaling itself.

[2020-09-07 11:44] MaciekPytel commented on #3493
That really depends on whether someone will volunteer to create and maintain it. We are happy to accept new providers integrations, but we're no longer able to even maintain existing integrations without the help of community, much less add new ones.

Similar discussion regarding other provider: https://github.com/kubernetes/autoscaler/issues/2857.

[2020-09-07 11:55] Heiko-san commented on #3493
Is there any good Howto out there about how to create a cloud provider for this autoscaler?

[2020-09-07 11:55] Moshem123 opened #3494 "Force scale down after certain amount of time"
I have an autoscaling group that has a very expensive instance type.
I use cluster-autoscaler to create instances if needed, however, I want to know if there's an option to force a scale-down on those instances after a certain amount of time using a label or something similar?
Alternatively, if there's no such option, I wonder if there's a way to trigger cluster-autoscaler to scale down manually i

[2020-09-07 12:07] MaciekPytel commented on #3494
No such features. CA only autoscales based on pods and there are no other triggers for it.

The usual way of dealing with this problem would be to use a combination of nodeSelector/nodeAffinity and taints to only allow pods that really need those expensive nodes to run on them and force other pods go to cheaper nodes. This way, once the pods that need expensive instances are gone those nodes will

[2020-09-07 12:23] MaciekPytel commented on #3493
Unfortunately there isn't one. I'd recommend using digitalocean as an example - I think it's the simplest one we have, certainly less complex than AWS.

In general the complexity of provider heavily depends on what features you want to support (scale-from-0 is where a lot of complexity come from) and what size of clusters you want to support (you need a lot of optimizations/caching if you want to

[2020-09-07 13:12] bskiba commented on #3486
I assume we would need a simplified script similar to
https://github.com/kubernetes/kubernetes/blob/master/hack/update-generated-protobuf-dockerized.sh
with arguments as in
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/hack/update-codegen.sh

Is this what you had in mind?

[2020-09-08 11:30] Capstan commented on #3486
Yes, I believe so. The first definitely looks like the right avenue.

[2020-09-08 12:09] MaciekPytel commented on #2751
/remove-lifecycle rotten

[2020-09-08 19:39] caslurjf commented on #3235
@krzysied @kgolab @jbartosik Can you help me ?

[2020-09-08 19:57] sudermanjr commented on #3068
Found this issue after I created my own chart today. Seems very similar to the other one mentioned here. We will continue to maintain this one for now since it is a component needed by another tool of ours.

https://github.com/FairwindsOps/charts/pull/358

[2020-09-09 04:44] zhaocheng173 opened #3495 "Whether to support the switch after deployment of VPA, similar to sidecar configuration, can globally effect my POD, otherwise I have to add in YAML myself, which seems very troublesome"
Whether to support the switch after deployment of VPA, similar to sidecar configuration, can globally effect my POD, otherwise I have to add in YAML myself, which seems very troublesome

[2020-09-09 10:28] andyjcooperuk opened #3496 "Add Node Selector for Clusters with both Linux & Windows Worker nodes"
Where you have a EKS cluster with a mix of both Linux & Windows worker nodes, the cluster autoscaler will fail to deploy as it try's to deploy onto the Windows nodes.

Would it be possible to add a nodeselector parameter into the yaml file to ensure that only Linux nodes have the autoscaler pods deployed onto them.

nodeSelector:
        kubernetes.io/os: linux

Thanks!

[2020-09-09 10:47] zhaocheng173 opened #3497 "There is no switch for VPA. After I configure it, my POD can take effect globally, just like global parameters in K8S. Otherwise, I have to manually add the CONFIGURATION of VPA in YAML of each POD, which is very troublesome"

[2020-09-09 22:52] nairb774 opened #3501 "VPA ControlledResources doesn't work."
Using a VPA like the following results in the CPU recommendations being produced and applied:

[code]

It looks like in the process of building the [container name to aggregate state map](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/routines/vpa.go#L27) the `ControlledResources` value is not copied from the working state to the per-container aggregat

[2020-09-10 08:10] marians commented on #3076
/remove-lifecycle stale

[2020-09-10 09:19] zhaocheng173 commented on #3497
If vpa cannot take effect globally on my pod, I can only use scripts to export each configuration file, and then add the template, replace the vpa name, and then apply it. This looks very complicated, this is me I wrote a script to export the cluster file and apply it. I want to add the configuration of vpa to my original yaml, and then replace kube-system and name.

Export my cluster's existing d

[2020-09-10 11:08] #2564 closed

[2020-09-10 11:29] nitingadekar commented on #3493
You can create custom rancher nodes and add them in the cluster, and use cluster-autoscaler based on your cloud provider. https://rancher.com/docs/rancher/v2.x/en/cluster-admin/cluster-autoscaler/amazon/

I did this setup, but was able to achieve scaleup in rancher. I have 7 different ASGs and a cluster autoscaler for AWS ASG.
Event always says `  Normal   NotTriggerScaleUp  49s        cluster-aut

[2020-09-10 14:46] evertonevaristo opened #3502 "standard_init_linux.go:211: exec user process caused "exec format error""
I am trying to set up the cluster autoscaler, but unfortunately, I am getting the following error:

`standard_init_linux.go:211: exec user process caused "exec format error"`

All that I got in events logs its:

[code]

The cluster version:

[code]

The image:

`cluster-autoscaler-7b65cf79d5-9s7wg:    us.gcr.io/k8s-artifacts-prod/autoscaling/cluster-autoscaler:v1.15.6,`

I already notice the migra

[2020-09-10 19:01] nitingadekar opened #3503 "Scale down works but scale up gives pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 node(s) didn't match node selector"
I have created custom nodes in Rancher (aws provider) cluster following doc https://rancher.com/docs/rancher/v2.x/en/cluster-admin/cluster-autoscaler/amazon/

### After deploying cluster-autoscaler with nodes auto-discovery and also in single node with below tags and configuration, the scale down works fine, but scaleup gives

[code]
### I have verified the known reasons for the above error :
  1.

[2020-09-10 20:18] lights0123 commented on #3469
It does look like the API call made to DO is specific to their managed Kubernetes service:

https://github.com/kubernetes/autoscaler/blob/63259fb5dd89baeb2a46b5b3b27ba6578066166e/cluster-autoscaler/cloudprovider/digitalocean/digitalocean_node_group.go#L88

It'd be nice if there was some way for this to be made generic.

[2020-09-10 20:46] timoreimann commented on #3469
👋 @lights0123

Timo from the DOKS team here. Unfortunately, the concept of a node pool / template does not exist generically in DigitalOcean yet, which is why we haven't been able to easily provide a solution that works for unmanaged Kubernetes clusters too. Feel free to leave a feature request on https://ideas.digitalocean.com/ if you feel like the DO cloud should support that.

[2020-09-10 20:49] pablokbs commented on #3469
@timoreimann thanks for your response, is there a way to change CA options using the DO solution?

[2020-09-10 21:01] pablokbs commented on #3469
Based on @timoreimann response, I think we should clarify that cluster-autoscaler is not really supported in Digital Ocean.

[2020-09-10 21:14] timoreimann commented on #3469
@pablokbs you should be able run your own instance of cluster-autoscaler in our managed product and tune it to your needs. (In the managed version of the autoscaler, the tuning capabilities are more limited.)

[2020-09-10 21:17] pablokbs commented on #3469
@timoreimann How can I tune the options? I don't see the cluster-autoscaler pod running on the cluster on any namespace

[2020-09-10 21:30] timoreimann commented on #3469
@pablokbs the managed autoscaler runs on the control plane inaccessible to users. We support defining min and max nodes through the DigitalOcean UI and API; if you have bigger customization needs, you'll have to deploy and run a copy of autoscaler inside your cluster on your own.

[2020-09-10 21:36] pablokbs commented on #3469
Right! That's exactly what I want to do, how can I do that? Is there a cluster-autoscaler for DO in some repo I can download and run manually?

[2020-09-10 21:46] timoreimann commented on #3469
@pablokbs we publish autoscaler images under the [digitalocean/autoscaler Dockerhub org](https://hub.docker.com/r/digitalocean/cluster-autoscaler). (See the [tags](https://hub.docker.com/r/digitalocean/cluster-autoscaler/tags) for which version to pick based on your Kubernetes minor version.)

Those images basically match kubernetes/autoscaler except for a few patches that weren't released in upst

[2020-09-11 05:12] zhaocheng173 commented on #3497
Now that I'm scripting the VPA template into all current YAML, how should I replace the field of name Namespace? Who can support to write this script
[code]

[2020-09-11 05:12] zhaocheng173 commented on #3497
Now that I'm scripting the VPA template into all current YAML, how should I replace the field of name Namespace? Who can support to write this script
[code]

[2020-09-11 12:33] #3043 closed

[2020-09-11 18:15] witchbutter opened #3504 "Unable to get Autodiscovery to work with EKS therefore no Deployment"
I have been using autoscaler successfully for quite a while.  I am trying to update using the 1.0.3 Helm chart which is supposed to autodiscover based on cluster name, but no matter what I do no autoscaler deployment gets made.  All of the tags are already in place as well as IAM permissions applied to the worker node roles because, as I said, I have been using the autoscaler successfully already

[2020-09-11 19:29] timothyb89 opened #3506 "Cluster Autoscaler on AWS is OOM killed on startup in GenerateEC2InstanceTypes"
We noticed our cluster autoscaler occasionally getting OOM killed on startup or when elected as leader. The memory usage spike on startup is fairly consistent even when not OOM killed, sitting just below the [default limits](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml#L144-L149) at 250Mi or so. When it does

[2020-09-11 19:49] davidxia commented on #3294
Has 1.8.11 been released yet? I'm using GKE 1.15.12-gke.3 which uses gke.gcr.io/addon-resizer:1.8.8-gke.0 and suffers from this bug.

[2020-09-11 22:17] rmb938 commented on #3501
I just ran into this in one of my clusters. I only want memory controlled but cpu ends up being recommended and applied as well.

[2020-09-11 22:20] Rickyf115 commented on #3501
Ran into the same issue as well, cpu is recommended and applied even though memory is the only controlled resource.

[2020-09-12 13:14] lkoniecz commented on #2503
Hello,

any updates on it?

[2020-09-13 17:55] KR411-prog opened #3507 "Prometheus alert rules for cluster autoscaler metrics"
I want to create a Prometheus alert rules for below scenarios,

- Max capacity reached for the cluster
- Unusual Scaling activity

I think "Max capacity reached for the cluster" can be obtained with combination of following metrics,
1.cluster_autoscaler_unscheulable_pods_count >0
2. sum(cluster_autoscaler_unneeded_nodes_count)==0

And,"Unusual Scaling activity" can be obtained from sum(cluster_aut

[2020-09-13 18:32] nitingadekar commented on #3493
@Heiko-san Let me know if the above suggestion helps you.

[2020-09-14 01:03] javierdompablo commented on #3008
Adding it the list of CAs as configmap, does not allow to connect to the endpoint to obtain the AWS region

`aws_cloud_provider.go:361] Failed to get AWS Region: Error fetching http://169.254.169.254/latest/dynamic/instance-identity/document`

Is this endpoint accessible from fargate?

[2020-09-14 01:49] Ladicle opened #3508 "Upgrade VPA CRD version from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1"
CRD apiextensions.k8s.io/v1beta1 has already been deprecated in v1.16. And now that 3 versions have passed, I'd like to migrate it to v1.

[2020-09-14 11:59] TBBle commented on #3008
That problem will be unrelated to the CA list, because it's using `http`, not `https`. So it won't have any certificates to check. I'm reasonably sure the Instance Identity Documents aren't available on Fargate, based on poking around at Google.

It can get the Availability Zone from the [Task Metadata Endpoint v4](https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-metadata-endpoint-v4-fa

[2020-09-14 13:16] korjek commented on #3503
@nitingadekar
what's your pod specification? could you please provide output of  `kubexctl describe pod YOUR_POD_HERE`.
and also what other pods are running in the cluster? (`kubectl get pods -A`)

[2020-09-14 14:27] bskiba commented on #3497
I've seen people in the community use [Goldilocks](https://github.com/FairwindsOps/goldilocks) which can create VPA objects for all deployments in a given namespace. Would that work for you?

[2020-09-14 17:37] vladh91 opened #3511 "Cluster-autoscaler is scaling only one nodegroup."
Hey all,
We are using cluster-autoscaler in our k8s infrastructure to manage our node scaling. As a cloud we are using AWS.
In our infrastructure we have 4ASG's divided into 2 nodegroups. All those ASG's has the same cloudLabel(application: something) and they have a taint being set to NoSchedule. Our workloads are using nodeSelector to be set to application: something with proper taint. The issue

[2020-09-15 05:56] tommy-sho opened #3513 "Cluster Autoscaler failed to start on Bottlerocket Node"
## environment
- EKS: v1.17
- Cluster Autoscaler: v1.17.3

## description
I made EKS node group by eksctl and cluster.yaml is like below,
[code]

if the cluster autoscaler pod run on Bottlerrocket node, the pod always couldn't start running.
'kubeclt describe' command show below message. It seems an error occurs related rootfs system.
Anyone has same problem or information? Thx

[code]

[2020-09-15 11:32] carpemonf opened #3514 "Cluster autoscaler scale up delay after add"
Hi,

Is there any way for configuring autoscaler for delaying scale up after a node was added?

Thanks.

[2020-09-15 14:49] elmiko commented on #3150
/remove-lifecycle stale

[2020-09-15 16:40] eldondevat commented on #2943
/remove-lifecycle stale

[2020-09-15 20:32] binman-docker opened #3515 "Cluster-autoscaler not balancing similar node groups on AWS"
**Environment configuration:**
* Three ASGs, one in each of three zones in the same region (this is recommended by AWS and Autoscaler)
* Same instance type (m5.xlarge), same AMI
* autoscaler v1.1.9.0
* Configuration options:
[code]
* Example of labels on a node in the cluster:
[code]

**Action:**
Run a deployment with enough replicas and CPU/Mem reservation to require several new nodes.

**Expecte

[2020-09-15 21:40] ellistarn commented on #3515
I'm assuming you're using balance-similar-node-groups since you rely on EBS? Otherwise you can just put multiple AZs in one ASG and let ASG do the balancing. As I understand it https://github.com/kubernetes/autoscaler/pull/3124 should have resolved your issue.

[2020-09-15 22:34] binman-docker commented on #3515
That's correct, we use one group per AZ because we have some deployments that require persistent storage (EBS).

I also thought #3124 would have done the trick but no such luck it seems. For reference, here are memory specs on some nodes in a cluster that isn't balancing properly:

[code]

Which translates to roughly 1.1%, which should be within the new 1.5% limit.

[2020-09-16 02:08] ellistarn commented on #3514
Don't see anything here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-the-parameters-to-ca

[2020-09-16 06:25] Heiko-san commented on #3493
No, since we run Rancher on-premise on a vSphere platform, it doesn't really help, but thanks anyway.

[2020-09-16 06:47] neuqlz commented on #2045
Hi all,

The workarounds mentioned above seem will cause a decrease in the utilization of nodes.

Has this problem been solved now? Will I encounter downtime when the CA triggers the scale-down action?

If not, are there other workarounds to avoid the downtime and not influent the utilization of the nodes?

[2020-09-16 09:37] LozanoMatheus opened #3516 "The Affinity don't support template - helm chart"
Hi there,

I'm trying to set up the affinity and prevent the PODs to run in the same node, but the `templates/deployment.yaml` don't support template.

I'm trying set on `values.yaml`
[code]

The output - It's considering the `"{{ .Release.Name }}"` as a string:
[code]

If I remove the quotes:
[code]

[2020-09-16 11:28] nitingadekar commented on #3503
@korjek Pod description is as below which goes in pending once scaled beyond node capacity.
Renaming service to avoid sharing client data.
[code]
### Other services running in the cluster.
[code]

To give you context, the rancher registers the nodes from ASG as nodes but does not assign any node pool to them. All nodes are registered as independent nodes, irrespective of their autoscaling group.
I

[2020-09-16 16:58] TBBle commented on #3230
/remove-lifecycle stale

[2020-09-16 17:20] TBBle commented on #3515
If I'm reading [the source for 1.19.0 correctly](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.19.0/cluster-autoscaler/processors/nodegroupset/compare_nodegroups.go#L27-L37), the `status.allocatable.*` difference cap is 5%, so 1.1% is well within the range.

It's the `status.capacity.memory` that has the 1.5% difference allowance introduced in #3124.

So perhaps check `status.

[2020-09-16 17:30] binman-docker commented on #3515
Ah right, here's capacity on my test cluster. Also roughly 1.1%:

[code]

Yeah I wasn't able to trace `apiv1.LabelZoneFailureDomain` back to an actual list somewhere; I figured they would be included in that list wherever it was, but also figured it didn't hurt to rule it out.

[2020-09-16 19:14] ellistarn commented on #3515
Can you check values for all 3
[code]

[2020-09-16 20:37] binman-docker commented on #3515
Ok so digging through what "Free" means in this context because it's not a value you can get with the node info (correct me if I'm wrong anywhere, this is my first time really reading through this):

The autoscaler looks to make sure "free" resources on a node are within 5% as part of similarity checks:

https://github.com/kubernetes/autoscaler/blob/67dce2e82416e8d9ffdbc95d5b70f542e591a640/cluster

[2020-09-17 03:31] ellistarn commented on #3515
Nice digging! If true, this sounds like a bug to me.

[2020-09-17 10:47] TBBle commented on #3515
I used the [`k8s.io/api/core/v1` docs](https://godoc.org/k8s.io/api/core/v1#pkg-constants) to turn the constants into text, when verifying the existing basic label list.

[2020-09-17 11:00] TBBle commented on #3515
I had been wondering about the 'Free' check. Under what circumstances is that useful, even if it worked [as-described](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposals/balance_similar.md#similar-node-groups)?

I'd think that if it was trying to detect "Some DaemonSet is only present on some of these nodegroups", then wouldn't there be a label or something that the

[2020-09-17 13:59] ahg-g opened #3527 "Changes to scheduler Snapshot interface in k8s v1.18+"
We are submitting a patch to 1.18 and 1.19 that changes the scheduler Snapshot interface: https://github.com/kubernetes/kubernetes/pull/94805

This is to help the autoscaler perform PreFilter computations faster in cases where clusters have preferred affinity pods (basically eliminate their overhead completely).

/cc @MaciekPytel

[2020-09-17 19:19] binman-docker commented on #3515
Yeah this seems odd to me. If capacity and allocatable are similar, then the node groups are similar. Anything else running on them that would make them different is a concern outside of cluster-autoscaler in my opinion, since it's an infrastructure-level construct and shouldn't be concerned about system/application-level things like pods (other than "I need to make more room for these pods"). For

[2020-09-17 22:02] #3072 closed

[2020-09-18 04:19] pablokbs commented on #3469
Hello @timoreimann, thanks for your help. I tried using the digitalocean image (same config as my previous comment, but with a different path for the `cluster-autoscaler` binary, and using the `digitalocean/cluster-autoscaler:v1.18.3-do.0` image.

The service starts, but I still see the following error: `cluster-autoscaler-645c67c754-kkthm cluster-autoscaler I0918 04:15:21.531475       1 digitaloc

[2020-09-18 06:17] korjek commented on #3503
There is a node selector in your pod specification that refers to node name:
`Node-Selectors:  kubernetes.io/hostname=bar-common`.
I think this might be the reason: CA can't spin up a node with the specific name.
Try to remove this selector or at least try to use another label than `kubernetes.io/hostname=bar-common`.

[2020-09-18 06:23] jordan-huangwei commented on #3076
cn pricing api is https://pricing.cn-north-1.amazonaws.com.cn/offers/v1.0/cn/index.json

[2020-09-18 06:24] jordan-huangwei commented on #3076
https://pricing.cn-north-1.amazonaws.com.cn/offers/v1.0/cn/index.json

[2020-09-18 08:28] infa-ssaurabh opened #3529 "helm chart for Kubernetes version 1.15 and 1.16"
Can some one help on which helm chart should I use in EKS 1.15 and 1.16?

[2020-09-18 12:10] RainbowMango commented on #2858
/reopen

[2020-09-18 12:16] RainbowMango commented on #2858
@MaciekPytel

Is there any plan to improve the vendor thing? I mean, to support go module. And I can help with it.
Kubernetes has released v1.19, Is it a good time to start?

[2020-09-18 17:58] neha-viswanathan commented on #3529
@infa-ssaurabh maybe this can help - https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases

[2020-09-18 18:52] JacobHenner commented on #3241
I think the title of this issue should be amended to include other [holding states](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-request-status.html). For example, I'm running into a similar issue with `price-too-low`. If the maximum spot price for my ASGs is below the current spot prices, cluster-autoscaler waits quite a while before it attempts to use a non-spot ASG.

[2020-09-18 18:59] cep21 commented on #3241
It's not just spot.  Another example is you can hit your account limit on number of instances of a specific instance type: that will also not likely change in the next 15 minutes and it's best to try another ASG.

A general understanding of failure states that are unlikely to change could be very helpful.

[2020-09-18 23:26] #3041 closed

[2020-09-19 21:11] nitingadekar commented on #3503
@korjek Based on the use case, the applications demand different instance types.
In the above example, there are 3 types of nodes, created with 3 ASGs, and the pods are placed in their respective nodes as below.
node type 1 (bar-common): service1, service2, foo, service5
node type 2(memory-asg) : service3
node type 3 (cpu-asg): service4

So basically the foo application should trigger scaleup in t

[2020-09-21 11:57] tanujd11 commented on #3529
Adding to the same point I can't find cluster-autoscaler on a public helm repo. Why is that the case? Can anyone please clear?

[2020-09-21 13:24] bskiba commented on #3294
Yes, you can use k8s.gcr.io/addon-resizer:1.8.11

[2020-09-21 13:24] bskiba commented on #3294
/close

[2020-09-21 13:24] #3294 closed

[2020-09-21 13:33] tweks commented on #3501
Hey! Sorry for late reply, just came back from vacation. This was fixed by [this commit](https://github.com/kubernetes/autoscaler/pull/3118) in May, and will be released as part of VPA 0.9.

Re: recommender vs updater - we decided to filter is as early as possible (i.e. in recommender). The reason is that users would probably have good reason for VPA to control only one resource (eg. the other one

[2020-09-21 14:43] korjek commented on #3503
Try to use another label than `kubernetes.io/hostname=bar-common`.

[2020-09-21 15:22] #3196 closed

[2020-09-21 20:09] jvergara-runbuggy opened #3530 "autoscaler not adding instance name when scaling up in AWS"
Hi all,
  I deployed auto-scaler via Helm 2. Here is the configuration:

[code]
I noticed in AWS, a node was scaled up, but even though the node is part of an AWS Autoscaling group that was discovered correctly by "cluster-autoscaler", the node was created without and Instance Name, everything else is the same as the other nodes created when the cluster was created

Any ideas of how to fix this?

[2020-09-22 04:50] TBBle commented on #2947
/remove-lifecycle rotten

That said, do we consider this fixed by the 1.18 release.

[2020-09-22 05:14] TBBle commented on #3008
A quick look at [the implementation](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-1.18.2/cluster-autoscaler/cloudprovider/aws/aws_util.go#L145-L173) suggests that if the `AWS_REGION` env-var is set for Cluster Autoscaler, it won't try to access IMDS anyway.

The [Cluster Autoscaler 1.0.3 Helm chart](https://github.com/kubernetes/autoscaler/blob/2457ad98911cbf49b4a4e53ed8dbc8dda

[2020-09-22 08:11] hprotzek opened #3531 "VPA 'no pods found'"
We are running a vpa for Prometheus Operator instances on GKE 1.18.6-gke.3504. We thought after the issue #2159  got fixed, this should be working. But we now we get `No recommendation provided from the recommendation engine: No pods found.`

Other vpa configurations, with non operator resources are working as expected. Is this possible again related to the CRDs of the Prometheus Operator?

[code]

[2020-09-22 09:22] #3319 closed

[2020-09-22 11:35] bskiba commented on #3531
@jbartosik can you check if the fix for #2159 is included in GKE 1.18.6-gke.3504?

[2020-09-22 13:02] nitingadekar commented on #3503
Hi Thanks @korjek, Issue is with the topology key kubernetes.io/hostname, this key is ignored as a predicate while scheduling, and this is why the pod was not triggering scaleup. It worked with a custom label.

I have another situation here. While adding the custom nodes using AWS ASG in Rancher cluster, there is a bug in rancher cluster agent, that assigns the custom node labels to only first nod

[2020-09-22 16:46] ahg-g commented on #3527
/cc @jkaniuk

[2020-09-22 19:00] marcheil commented on #3276
So what is the work around here for clusters that do not have internet access? How do we set the aws-use-static-instance-list flag?

[2020-09-22 19:07] abudavis opened #3533 "Openssl version pre-requisite for installing VPA on OCP 4.5"
Hi

Could you please make it clear in the documentation which version of Openssl the latest "master" branch of VPA works with?

[2020-09-23 07:06] jkaniuk commented on #3527
Great!

Patches to [1.18](kubernetes/kubernetes#94805) and [1.19](https://github.com/kubernetes/kubernetes/pull/94804) have already merged.

[2020-09-23 08:09] mkjmkumar commented on #3068
/remove-lifecycle stale

[2020-09-23 09:02] nucleusv opened #3535 "Doesn't scale up ASG from 0 with Mixed Instance Policy"
**Problem:**
Austoscaler doesn't scale up the ASG with metal nodes from 0,
IF desiredCapasity is 0, it means that until autoscaler will see in cluster a running node it can not build node-template on ASG tags annotations. When desiredCapacity is 1, a node is added to cluster when ASG is created and then Autoscaler triggers up properly.

Pods are assigned to those nodes via NodeSelector and tolerat

[2020-09-23 09:56] tweks commented on #3501
FYI, the fix will also be available in VPA 0.8.1: https://github.com/kubernetes/autoscaler/pull/3536.

[2020-09-23 10:20] bcha commented on #3230
Any progress or ETA on this? After some initial troubleshooting I _think_ this is the cause of the balancing issues that we've been seeing in our EKS clusters.

[2020-09-23 12:04] nitingadekar commented on #3503
@korjek Found a wayout for this condition.
Using affinity to operate OR condition for the node selectors has worked in my condition.
Thanks for your help.
Solution for my case:
[code]
The first node selector is considered for triggering scaleup and second is used for node scheduling.  (seems weird but yes)

Still want to make a note here, that Cluster autoscaler for AWS does not consider the node-

[2020-09-23 14:37] kesor commented on #131
@mwielgus @mumoshu can you reopen this? or if this has been implemented, link the issue that has this merged?

[2020-09-23 15:16] dictcp commented on #1907
let say we can the CA set node.Spec.Unschedulable after `drainSuccessful = true`
https://github.com/kubernetes/autoscaler/blob/33bd5fc853f91bdfdc548052ccb453d5fea348c6/cluster-autoscaler/core/scale_down.go#L1140

for the "sleep", i think how long we need to wait, depends on the implementation of the load balancer / service / ingress.
How about the sleep is implemented via annotation `delay-deletio

[2020-09-23 16:03] tomelliff commented on #3255
Sorry for the late reply.

AWS support finally spotted the issue in my setup. We're using termination lifecycle hooks so that we can replace the ASG and have it block on destroying the ASG while there are still pods running on it (using https://github.com/VirtusLab/kubedrainer) so cluster autoscaler keeps calling `TerminateInstanceInAutoScalingGroup` over and over and the AWS API just keeps saying

[2020-09-23 17:40] #3076 closed

[2020-09-23 17:41] Jeffwan commented on #3276
I approve PR https://github.com/kubernetes/autoscaler/pull/3528.
Let's wait for the next release

[2020-09-23 17:41] Jeffwan commented on #3076
I approve PR https://github.com/kubernetes/autoscaler/pull/3528. I will do a cherry-pick for next release

[2020-09-23 22:44] eatwithforks opened #3537 "Option to ignore custom resources"
Is there a configuration available to ignore vpa from fetching custom resources?

I was able to get around the RBAC errors on the custom resources by adding to the clusterrole system:vpa-target-reader.
[code]

But ideally, I want to ignore these resources. Is this possible?

[2020-09-23 23:11] zenbones opened #3538 "Autoscaler on AWS does not scale up"
I have an ASG with min=2, max=4. The group is composed of t3.2XLarge nodes (8 cpu). I have 2 nodes up (the min) and waiting (pending) on a pod requesting 4 cpu. I know there's enough cpu in the group if 1 more node is added, and I know this because atuo-scaling this cluster has worked and everything fits in 3 nodes, and we can get 4. The cluster was not scaling and I made some change (can't rememb

[2020-09-24 06:42] korjek commented on #3503
Do you have this label specified in your ASG configuration?

[2020-09-24 07:48] nitingadekar commented on #3503
I have specified the hostname of the node while registering it in the cluster, which creates the system generated node label kubernetes.io/hostname=bar-common if hostname is "bar-common".
In my ASG, the tags are as below.
[code]

[2020-09-24 08:34] korjek commented on #3503
I mean if you do not have the label `kubernetes.io/hostname=bar-common` in your ASG configuration (honestly I do not think it's a good idea to add label `kubernetes.io/hostname=bar-common` for ASG), then CA doesn't know that bringing an additional node in this ASG with make a pod schedulable.

[2020-09-24 08:41] inge4pres commented on #3538
Hi @zenbones
Reading this message
[code]
it seems that the type of instances you are trying to scale up would not suffice to schedule the workload.
You should revise the deployment/pod limits or use a bigger instance class in your ASG.

[2020-09-24 11:15] nucleusv commented on #3538
@zenbones maybe it is similar issue https://github.com/kubernetes/autoscaler/issues/3535
How do you create your ASG?

[2020-09-24 11:54] daganida88 commented on #3490
I encountered the same issue.
Did you resolve this??

[2020-09-24 11:56] nitrag commented on #3490
@daganida88 No unfortunately. But thanks for confirming it’s not just me. Maybe now this will get some attention.

[2020-09-24 13:18] abudavis opened #3539 "No pods match this VPA object, targetRef controller has a parent but it should point to a topmost well-known or scalable controller"
**Version: Deployed from master branch on 24.9.2020.
Platform: Openshift 4.5.12
"Deployment" is spun by a custom Operator**

Reference case: https://github.com/kubernetes/autoscaler/pull/2275

VPA gives the following error on startup. Any ideas?

`$ oc describe vpa timerapp-is
Name:         timerapp-is
Namespace:    ace
Labels:       <none>
Annotations:  <none>
API Version:  autoscaling.k8s.io/v1

[2020-09-24 16:59] zenbones commented on #3538
In answer to inge4pres, and nice handle btw, the autoscaler is lying. The exact load I am attempting to run, was running in exactly the same ASG, not 20 minutes before this problem began. This is a helm release. I shut down the release (helm delete), made some changes to the code of one of the services running in one of the pods, changes which could have no bearing on the cpu or memory consumed, a

[2020-09-24 17:15] zenbones commented on #3538
To be fair, I lowered the resource requirement of the pending pod to 2 cpu, and the cluster autoscaled... so now I need to figure out the math. I'll have to calculate what's running on each node and see why 4 cpu would not fit where it fit before.

[2020-09-24 17:28] zenbones commented on #3538
Odd, because looking at the 'kubectl describe node <node name>' data for each of the running nodes, which is surprisingly complete (should have done this before), the autoscaler was lying. The new node could as easily have fit the 4 cpu originally requested as it fit the 2 cpu that did autoscale. The 2 other nodes are each running a load equivalent to the 4 cpu (failed) request plus the required d

[2020-09-24 20:37] geofflancaster opened #3540 "Log Level within example files"
Why do example files recommend a log level of `4` via the cli arg `--v=4`?

GLog docs state: `The numbers of severity levels INFO, WARNING, ERROR, and FATAL are 0, 1, 2, and 3, respectively`

What does the `4` mean?

[2020-09-24 20:46] geofflancaster commented on #3540
Just found that autoscaler is using klog, not glog. Log levels can be found here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2020-09-24 20:46] #3540 closed

[2020-09-24 21:43] parente opened #3541 "spec.clusterIP: Invalid value: "": field is immutable: when applying helm chart twice"
It looks like this issue was previously reported and resolved in https://github.com/helm/charts/pull/17433, but I'm hitting it again with:

* helmfile: 0.130.0
* helm version: 3.3.3
* cluster autoscaler chart version: 1.0.3

[code]

[2020-09-25 09:00] ivanfoo commented on #3535
@nucleusv you must use instance types with the same specs when running ASGs with mixed instance policies. Maybe this is why the cluster-autoscaler is not scaling up properly. The documentation is clear about it:: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#using-mixed-instances-policies-and-spot-instances

Can you try it with correct instance

[2020-09-25 09:25] ivanfoo commented on #3538
Hi! We are facing a very similar issue, I think.

We have 3 ASGs that scales from/to 0 and they have been working just fine until Wednesday 23th. We checked the activity of those ASGs and the scaling up events stopped at around 6:00 GMT. It seems the autoscaler is no longer able to describe the instance specs from the ASGs (launch-configuration based). As you said, it works again when you increase

[2020-09-25 12:16] chuong-dao commented on #3513
I have the same error. Looks like /etc/ssl/certs/ca-bundle.crt isn't on bottlerocket linux. I am not sure if we have to change it to something else. I haven't explore this issue further but just wanted to comment to let you know what I am having the same issue.

[2020-09-25 15:03] chuong-dao commented on #3513
Looks like the ca-bundle.crt is in here:  ./x86_64-bottlerocket-linux-gnu/sys-root/usr/share/factory/etc/pki/tls/certs/ca-bundle.crt

[2020-09-25 22:18] zenbones commented on #3538
I'm running 1.17.x with an autoscaler at1.18.1, which is within 1 version which should be ok. In my case lowering the cpu requirement kicked off the autoscaler and it's been fine, but tat should not have been necessary. Maybe I'll try to downgrade to autoscaler 1.17?

[2020-09-27 02:21] tommy-sho commented on #3513
@chuong-dao
thanks for your comment.
I changed the volume mount path of crt file and it works.
I will close this issue.

[2020-09-27 02:24] #3513 closed

[2020-09-27 07:32] QizhouYang opened #3542 "scale_down calculateUtilizationOfResource function,container.Resources.Requests[resourceName] not found"
**Problem**
if resources are not Configuration，container.Resources.Requests[resourceName] is not found，Unable to accurately calculate resource utilization.

[2020-09-28 01:27] geraldoramos opened #3543 "External metric autoscale best practices"
Hi Guys,

I have a `HorizontalPodAutoscaler` (v2beta1) setup to scale based on a custom external metric, which is based on the number of undelivered messages in my pubSub subscription, divided by currently running pods. The idea is to keep running replicas in alignment with the demand, I've been playing with `1-1.3` targets. These tasks are memory/CPU intensive and take anywhere from 5 to 15 minut

[2020-09-28 08:02] bskiba commented on #3543
@josephburnett FYI

[2020-09-28 13:15] bskiba commented on #3501
Released: https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.8.1

[2020-09-28 13:58] gjtempleton commented on #3535
Even with mismatched instance types, the CA should still be able to construct a template for what it thinks the nodes in that ASG will look like.

Have you double-checked that eksctl is correctly tagging the ASG it created with the tags you've specified in your node group spec?

[2020-09-28 21:04] tvvignesh opened #3553 "VPA takes too long for modifications"
Hi. I use GKE Private cluster (1.18.6-gke.4801) and terraform for deploying or modifying my cluster.

Interestingly, when I try to toggle VPA (either enable or disable it), it takes too long for the changes to take effect in the cluster,

**Case 1 (Just Switching VPA off)**

<img width="300" alt="Capture" src="https://user-images.githubusercontent.com/1165845/94485483-9c8f7b00-01fb-11eb-8789-2d787

[2020-09-29 02:20] anjanitsip opened #3554 "How to prevent node from scale down process"
I am using EKS Cluster and following below link to deploy CA..

https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html

I have added cluster-autoscaler.kubernetes.io/safe-to-evict="false" annotation on CA deployment.
--skip-nodes-with-system-pods=true
(Node - single m5.xlarge)

I have statefulsets of postgreSQL with master and slave node. I don't want to reschedule db  pods on ot

[2020-09-29 02:31] lawliet89 commented on #1869
/remove-lifecycle stale

[2020-09-29 08:03] nucleusv commented on #3535
@gjtempleton
yes here there from ASG

k8s.io/cluster-autoscaler/node-template/label/aws.amazon.com/spot	   true	Yes
k8s.io/cluster-autoscaler/node-template/label/lifecycle	                         Ec2Spot	Yes
k8s.io/cluster-autoscaler/node-template/label/node-type	                           metal	Yes
k8s.io/cluster-autoscaler/node-template/resources/cpu	                            96	Yes
k8s.io/cl

[2020-09-29 08:58] timoreimann commented on #3469
@pablokbs dang -- I think support for tags was removed at some point in favor of setting the [configuration parameters directly on the DOKS node pool entity](https://developers.digitalocean.com/documentation/v2/#update-a-node-pool-in-a-kubernetes-cluster). Unfortunately, you doing that now would also enable our built-in autoscaler, and the two would fight over the node pools. Apologies, I didn't h

[2020-09-29 14:38] pablokbs commented on #3469
In which repo? `https://github.com/kubernetes/autoscaler` ? Should I create a new issue?

[2020-09-29 14:40] timoreimann commented on #3469
@pablokbs, new issue in `kubernetes/autoscaler`. That'd be great.

[2020-09-29 14:46] pablokbs opened #3556 "Add native support for autoscaler in Digital Ocean"
Right now is not possible to run CA in Digital Ocean because the tags required for it to work are tied with the DO version of CA, enabling the tags and node pools will enable the built-in DO CA which will collide with the vanilla version.

Pinging @timoreimann. Apologies if this issue is not clear enough, you can find more info [here](https://github.com/kubernetes/autoscaler/issues/3469)

[2020-09-29 14:55] MorrisLaw commented on #3556
/assign @timoreimann

[2020-09-29 14:56] MorrisLaw commented on #3556
/assign @MorrisLaw

Assigning myself this issue. But @timoreimann will be working on it.

[2020-09-29 14:56] timoreimann commented on #3556
I'll tackle this one.

[2020-09-29 14:56] MorrisLaw commented on #3556
/assign @timoreimann

[2020-09-29 15:21] MorrisLaw commented on #3556
/area provider/digitalocean

[2020-09-30 08:14] bskiba commented on #3501
/close

[2020-09-30 08:15] #3501 closed

[2020-09-30 18:54] jmcmeek opened #3567 "addon-resizer does not preserve new seccompProfile field"
I tried using the GA level seccompProfile with Kubernetes v1.19 - removed the alpha annotation and added seccompProfile to the container securityContext for a metrics-server deployment with addon-resizer.

After resizing neither the seccompProfile nor the alpha seccomp annotation appear in the containers.

Kubernetes v1.19.2
addon-resizer:1.8.1​1

[2020-09-30 18:56] jmcmeek commented on #3567
Metrics-server deployment yaml:
[metrics-server.yaml.txt](https://github.com/kubernetes/autoscaler/files/5307681/metrics-server.yaml.txt)

Deployment after initial resize:
[metrics-server-after.yaml.txt](https://github.com/kubernetes/autoscaler/files/5307686/metrics-server-after.yaml.txt)

[2020-09-30 19:12] marwanad opened #3568 "scale-down-delay-after-delete parameter doesn't work properly"
I believe that started around the time the switch to the new scale down processor happened.

The parameter goes into effect and puts scaledown in cooldown mode based on the `lastScaleDownDeleteTime`.

https://github.com/kubernetes/autoscaler/blob/774390efc80625466794131418b95092a5e63741/cluster-autoscaler/core/static_autoscaler.go#L499

However, this is only set when the scale down status result i

[2020-09-30 19:13] marwanad commented on #3568
@MaciekPytel @towca

[2020-09-30 19:15] marwanad commented on #3568
Should we be returning `ScaleDownNodeDeleted` instead of `ScaleDownNodeDeleteStarted` - it seems that the later isn't used around so it seems like the most straightforward fix

[2020-10-01 07:07] shtamura commented on #2787
@caiohasouza @zagr0
We had the same problem and solved it.

We accidentally associated the same ASG of our cluster with the CA of another cluster, causing conflicting requests to  the ASG and causing an unexpected termination.

Specifically, startup parametes of the CA in another cluster was set follows ...
`--node-group-auto-discovery = asg: tag = k8s.io / cluster-autoscaler / enabled, k8s.io / c

[2020-10-01 08:44] jadelafuente opened #3569 "Plans to support Terraform Enterprise as a provider for the cluster autoscaler"
Are there any plans to implement a Terraform cluster autoscaler provider? This would abstract the infrastructure autoscaling capability to be used on any of the cloud providers Terraform is having a provider and would simplify the evolution

[2020-10-01 09:00] dr460neye commented on #2646
Is there any update about this?

[2020-10-01 09:04] towca commented on #3568
Thanks for pointing this out Marwan! Although I'd stick to using `ScaleDownNodeDeleteStarted` since it better conveys what actually happens. I'll send out a fix shortly.

[2020-10-01 09:35] MaciekPytel commented on #2646
I don't believe anyone is working on this. Cluster Autoscaler uses klog for logging and we've recently moved on to klog v2, which has support for structured logging. However, updating all logging in CA would be a large task and so far no one has stepped up to take it.

[2020-10-01 10:05] towca commented on #3568
The bug should be fixed by #3570.

[2020-10-01 10:05] #3568 closed

[2020-10-01 10:32] Eddman opened #3571 "feat: Include Helm chart repo into chartcenter.io"
JFrog is hosting an aggregated central hub for different Helm repositories: [chartcenter.io](https://chartcenter.io). It has multiple advantages, incl. security scanning.

Please include/enlist chart repo to [chartcenter.io](https://chartcenter.io):
https://github.com/jfrog/chartcenter/blob/master/docs/inclusion.md

[2020-10-01 17:00] jadelafuente commented on #3556
Could it be possible to develop CA integration to Terraform Enterprise to abstract from the different cloud providers?

[2020-10-01 23:51] tsunny commented on #3515
@ellistarn - Any update on this? Thanks!

[2020-10-02 13:58] MaciekPytel commented on #3515
Balancing similar nodegroups have 2 distinct checks:
* Whether node groups are similar (ie. what is discussed in this issue).
* Whether the same set of pending pods can go to all those nodegroups. Even if nodegroups are similar for the given definition, some pods may only be able to run on a specific one (most common reasons are when some pods need to run in a specific zone because of storage or z

[2020-10-02 14:45] bskiba commented on #3508
Sounds reasonable.
1. Do you know if we need an upgrade story when we switch? i.e. what will happen with existing objects?
2. Are you interested in contributing? :)

[2020-10-02 14:51] bskiba commented on #3537
There is no way currently to do that. Can you give a bit more context about your setup?
1. Which VPA version do you use?
2. How is your VPA object configured?

[2020-10-02 14:55] bskiba commented on #3539
Could you also provide more information on the deployment and the custom operator?
Can you provide the output of
$ kubectl describe -n kube-system vpa-recommender

[2020-10-02 15:03] tamalsaha opened #3574 "CRD: bad map key type: map keys must be strings"
I tried to use kubebuilder controller-tools to generate CRD YAML for VPA but I am getting the error
`bad map key type: map keys must be strings`.

The problem is VPA uses `map[int]uint32` as seen here:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L355-L356

It seems that this will require an api data type change.

xref: https:

[2020-10-02 15:17] bskiba commented on #3531
I've checked and the mentioned fix will be available starting from version 1.18.6-gke.5600 which means it's not yet available. Would it be possible for you to check back with the newer version when it comes out?

[2020-10-02 17:43] TBBle commented on #3515
Assuming the original bug report was using [this example `nginx-deployment`](https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/#creating-and-exploring-an-nginx-deployment) and not just a coincidental name, they shouldn't have been using EBS (or any PVC in fact), so that shouldn't be a problem here.

Perhaps @binman-docker, you could post the Pod details from you

[2020-10-02 22:02] hprotzek commented on #3531
Thanks @bskiba for checking that. I'll wait until 1.18.6-gke.5600 and will report back.

[2020-10-03 14:14] ari-becker commented on #2786
Should have been closed automatically when #3198 merged

[2020-10-03 14:14] #2786 closed

[2020-10-03 21:38] binman-docker commented on #3515
Yeah there are no EBS volumes used in this test, here's the yaml:

[code]

[2020-10-04 03:53] TBBle commented on #3515
I've gone ahead and created a branch with logging for all 'not-similar' rejection paths (at `--v=4` per the original repro case): https://github.com/TBBle/autoscaler/tree/cluster-autoscaler-1.19.0-noisy-IsCloudProviderNodeInfoSimilar

I've only build-tested this, and it's not intended for submission since it would generate _way_ too much noise on a production cluster.

It should be pretty easy to

[2020-10-04 19:36] binman-docker commented on #3515
Thank you! I will test this week and report back.

[2020-10-05 02:53] Ladicle commented on #3508
CRD v1beta1 will be removed v1.22+, so we need to support v1 before that.
For upgrades, applying the rewritten v1 manifests does not affect an existing object. (at this time `preseveUnknownFields` is true.) This is because of k8s support API conversion. Of course, it's better to keep the v1beta1 manifest for backwards compatibility.

However, `preseveUnknownFields` became false by default at GA, s