[2018-09-28 06:28] Rajat-0 opened #1281 "Add Go tools"
Go format tools like update-gofmt.go and verify-gofmt.go should be in repo

[2018-09-28 09:30] aleksandra-malinowska commented on #1280
Sounds reasonable. Can you build 1.2 with cherry-pick and verify if it works before we merge it? None of the maintainers has access to AWS cluster to test this.

[2018-09-28 16:22] twaugh opened #1287 "autoscaler/addon-resizer/Godeps/Godeps.json has wrong ImportPath"
The ImportPath uses the old name on the master branch:
https://github.com/kubernetes/autoscaler/blob/master/addon-resizer/Godeps/Godeps.json#L2

It seems to be ok on the addon-resizer-release-1.8 branch though:
https://github.com/kubernetes/autoscaler/blob/addon-resizer-release-1.8/addon-resizer/Godeps/Godeps.json#L2

[2018-09-28 17:31] ReillyProcentive commented on #1280
@aleksandra-malinowska I've been running a build with that commit cherry-picked in since yesterday and can confirm that it both builds and works as expected.

[2018-09-28 17:34] aleksandra-malinowska commented on #1280
Great, thanks.

[2018-10-02 11:14] okgolove opened #1291 "[AWS] 'NotTriggerScaleUp' pod didn't trigger scale-up"
Common problem, but I wasn't able to find any solution.
I have ASG, have auto-scaler

I deployed statefulset with application and then I got these errors:

[code]

ASG status:

[code]

[2018-10-02 11:28] MaciekPytel commented on #1291
Hi,
Based on the log you posted (`node(s) didn't match node selector`) the pending pod has a nodeSelector or nodeAffinity. CA believes that the new node will not have the appropriate labels to match pod's requirements and so the pod won't schedule even if the node is added.

CA assumes that every node in a given ASG is exactly identical and that all node labels are added automatically upon node cr

[2018-10-02 11:47] okgolove commented on #1291
@MaciekPytel thank you. Looks like I missed `nodeSelector` in my Helm values.
Sorry for my inattention. I hope this issue will be useful for another people.
Close for now.

[2018-10-02 11:47] #1291 closed

[2018-10-02 15:18] hans-permana commented on #1262
Would be nice to also have the list of possible values for `--cloud-provider` values in the documentation. I myself am wondering what I should put when configuring autoscaler on my cluster (on Open Telekom Cloud infrastructure).

[2018-10-02 22:29] mattnworb opened #1295 "vpa-recommender panicking in model.(*AggregateContainerState).MergeContainerState"
At first glance this looks similar to #1258 but my panic and stacktrace looks different, also note the pod is up and running ok for some time before it panics:

[code]

This is with the image k8s.gcr.io/vpa-recommender:0.2.0

[2018-10-03 08:52] feiskyer commented on #1262
For azure, `--cloud-provider` should be configured as `azure` for all cases, including standard vmas, vmss, aks and acs.

[2018-10-03 20:40] squarell0805 commented on #890
We met same problem with k8s=1.11.3, autoscaler=1.3.3.  But k8s=1.9.6 with autoscaler=1.1.1 succeed.

[2018-10-04 12:59] hans-permana opened #1297 "Installation on cloud provider other than AWS, GCP, or Azure"
Hi guys,

Is cluster autoscaler installation on a cloud platform other than AWS, GCP, or Azure supported? On the documentation it says that I have to set `cloudProvider` and I don't know what to put in my case. I am using Open Telekom Cloud (OTC).

I tried not specifying `cloudProvider` and it defaulted to `aws` (and hence resulted in errors). Could someone give me an enlightenment?

[2018-10-04 17:02] aleksandra-malinowska commented on #1297
Cluster Autoscaler doesn't have any code for interacting with Open Telecom Cloud, so it's not supported out-of-the-box. What you can do is add this by implementing [CloudProvider interface](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go), build your own release with it, and run this in your cluster. In the future, hopefully this will be made

[2018-10-04 18:45] AshMartian opened #1298 "Feature Request: Cluster Autoscaler - scale up Deployment if PCB doesn't meet the scale down/drain requirements"
I'm looking over the cluster-autoscaler source to find where this could be added, not sure I have the go chops to submit a PR, but wanted to share this as a feature request.

I have a very RAM heavy microservice java app (20gb no load), in prod we'll run two of every service for HA. However our dev/test/stage environments it would be too expensive to run more than 1 of each service.

I have each m

[2018-10-05 12:30] hans-permana commented on #1297
OTC uses OpenStack under the hood, so the resolution of this issue https://github.com/kubernetes/autoscaler/issues/734 will solve my problem too. Closing this issue now. Thank you for the info @aleksandra-malinowska!

[2018-10-05 12:30] #1297 closed

[2018-10-06 01:55] #631 closed

[2018-10-06 20:08] johanneswuerbach commented on #1258
@bskiba any idea when a new release is cut including this fix?

[2018-10-08 11:27] bskiba commented on #1258
Will try to release a new version inside the next to weeks

[2018-10-08 11:57] bskiba commented on #1298
If there is an HPA scaling the deployment in question, I think this would mean that cluster autoscaler and Horizontal Pod Autoscaler would have to communicate, as otherwise HPA would possibly scale down the deployment that CA just scaled up to be able to drain the node and not violate the PDB.
@MaciekPytel @aleksandra-malinowska do you think there is another way to accommodate this use case?

[2018-10-08 15:19] bskiba commented on #1295
Yep, this is fixed in head by #1134. We're planning to release 0.3.0 sometime in the next two weeks.

[2018-10-09 10:27] hadr10 opened #1304 "FailedToScaleUpGroup with version 1.3.3"
Hello,

when i tested new version 1.3.3 i got error message during scaling:
Events:
  Type     Reason                Age              From                Message
  ----     ------                ----             ----                -------
  Warning  FailedToScaleUpGroup  1m (x2 over 7m)  cluster-autoscaler  Scale-up failed for group agentpool: containerserv
ice.ManagedClustersClient#CreateOrUpdat

[2018-10-09 10:41] aleksandra-malinowska commented on #1304
cc @feiskyer

[2018-10-11 03:25] gongguan opened #1311 "How to add customized kubernetes predicate"
Autoscaler can't get some predicates which configured in kube-scheduler, such as PodFitsHostPorts, HostName, etc.
It seems that autoscaler only get predicate in priorityPredicates and k8s defaultPredicate(in cluster-autoscaler/simulator/predicates.go). Can predicates be customized?
`var priorityPredicates = []string{"PodFitsResources", "GeneralPredicates", "PodToleratesNodeTaints"}`
`predicateMap,

[2018-10-11 08:13] aleksandra-malinowska commented on #1311
priorityPredicates is just a set of predicates that will be run first, before the rest. All default predicates of scheduler from matching Kubernetes release are used. In particular, we have a couple of end-to-end tests relying on PodFitsHostPorts, which are passing. Same for using node selectors or affinity.

It isn't possible to use a custom set, so if you are extending scheduler with your own pr

[2018-10-11 10:20] gongguan commented on #1311
@aleksandra-malinowska Thank you for your explanation. I didn't know predicates such as PodFitsHostPorts can be done by GeneralPredicates at first. I think this issue can be closed.

[2018-10-11 10:58] aleksandra-malinowska commented on #1311
No problem, glad to help.

[2018-10-11 10:58] #1311 closed

[2018-10-11 13:37] zacharya commented on #1208
It looks like this already exists, no? https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L70

I'm happy to contribute if you can confirm the need still exists and I'm missing something.

[2018-10-14 12:14] #666 closed

[2018-10-15 09:34] frittentheke opened #1317 "Feature Request: Allow individual values of scale-down-utilization-threshold for CPU and memory"
When adjusting scale down limits it's far less risky to go full on Mad Max on the CPU as a resource than it is when talking about memory: When you run out of CPU everything becomes slower, when running out of memory things begin to crash.

Currently the cluster-autoscaler does not allow individual values for CPU and memory, _scale-down-utilization-threshold_ is always affecting both using the one

[2018-10-15 10:39] aleksandra-malinowska commented on #1317
Sounds reasonable to me, with a caveat that we already have too many parameters which are hard to tweak. @MaciekPytel, WDYT?

[2018-10-16 09:49] losipiuk commented on #1317
Sounds reasonable to me.

If you are preparing a PR please just leave old configuration parameter which would serve as default value for the cpu/memory specific ones.

[2018-10-16 19:38] Office-Manager opened #1321 "NoCredentialProviders: no valid providers in chain."
Hi all ,

Running EKS 1.10 so I've been attempting to use the 1.2 release cluster autoscaler

The pod will spin up but looking at the error logs I notice
[code]

I can confirm all the EKS worker nodes have the IAM policy attached to the instance
If there's any additional information I can give please let me know and I'll update this asap

[2018-10-17 01:36] panaji opened #1322 "Cluster autoscaler hang"
CA hang (there are no more logs) right after this message:

I1016 23:27:56.944166       1 scale_up.go:199] Best option to resize: agentpool1
I1016 23:27:56.944199       1 scale_up.go:203] Estimated 1 nodes needed in agentpool1
I1016 23:27:56.944213       1 scale_up.go:292] Final scale-up plan: [{agentpool1 10->11 (max: 40)}]
I1016 23:27:56.944223       1 scale_up.go:344] Scale-up: setting group ag

[2018-10-17 01:42] panaji commented on #1322
There are multiple unready nodes ... It seems to be working again after the unready nodes become ready.

[2018-10-17 01:42] #1322 closed

[2018-10-17 11:26] #1287 closed, assigned to nobody

[2018-10-17 11:37] aleksandra-malinowska commented on #1321
Hi, it seems like a configuration issue specific to environment. None of Cluster Autoscaler's maintainers runs it on AWS, so we don't really know how to debug it. You may have better luck with getting help at #sig-aws slack or via some EKS support channel.

[2018-10-17 13:12] danbondd commented on #1321
I also encountered this same issue today.

`Cloud Provider: AWS`
`Kubernetes Version: 1.10.8`
`Cluster Autoscaler Version: 1.1.0`

[code]

[2018-10-18 08:43] messiahUA commented on #1049
@donalddewulf  I think I'm facing the same issue. Did you manage to find anything?

[2018-10-18 08:49] donalddewulf commented on #1049
@messiahUA eventually we built a new cluster next to our current one, and we switched traffic from one cluster to the other. We tried restarting kube-scheduler I think by ssh'ing into the master node, but there was nothing to be done for us.

[2018-10-18 14:07] heltondd opened #1329 "Azure cluster autoscaler upgrade all virtual machines in vmss"
When image is changed in vmss, cluster autoscaler execute upgrade in all virtual machines in vmss at same time, causing indisponibilty.

**Kubernetes 1.10.5**
**Cluster-autoscaler: 1.2.2**

**luster-autoscaler log:**
....
I1017 16:52:06.296148       1 utils.go:456] No pod using affinity / antiaffinity found in cluster, disabling affinity predicate for this loop
I1017 16:52:06.296471       1 scale_

[2018-10-18 15:37] aleksandra-malinowska commented on #1329
I'm not sure how Azure cloud provider works specifically, but Cluster Autoscaler's logic doesn't perform any upgrades of nodes. If I were to guess what happened, I'd say upgrade was probably performed by some VMSS controller (outside of Cluster Autoscaler) in a way that caused nodes to become temporarily unready (or otherwise unusable), to which Cluster Autoscaler responded by adding more nodes.

[2018-10-18 16:09] heltondd commented on #1329
@aleksandra-malinowska I understanding, but log of VMSS show manual upgrade initiaded by client-id (cli-kubernetes) used per Cluster Autoscaler after added more nodes.

In Azure Portal - Acitivity log of VMSS
Operation Manual Upgrade was the cause of unavailability

| Operation Name | Timestamp | Event initiated by |
| -------------------| -------------| ------------------- |
|Create or Update Vir

[2018-10-19 08:50] feiskyer commented on #1329
@heltondd CA invokes Azure's `VirtualMachineScaleSetsClient.CreateOrUpdate()` API for updating VMSS instance numbers. I think this is why `Create or Update Virtual Machine Scale Set` is shown in the logs.

The other log of `Manual Upgrade Virtual Machine Scale Set` is not from CA, but seems from Kubernetes cloud provider. Kubernetes cloud provider would invoke instance upgrades for adding them to

[2018-10-19 16:18] heltondd commented on #1329
No new services was created or updated.

[2018-10-20 03:49] feiskyer commented on #1329
@heltondd Thanks for the feedback. Could you send the ticket number privately? (e.g. on slack) I need to dig more why this is happening.

[2018-10-20 13:55] feiskyer commented on #860
/remove-lifecycle rotten

[2018-10-21 19:05] #892 closed

[2018-10-22 10:29] Rajat-0 commented on #734
@ricolin  I am also interested in implementing this( As discussed on slack), let me know how I can help.

[2018-10-22 13:47] heltondd commented on #1329
Hi @feiskyer, Ronald Freitas @rofreitas sent you in the slack.

[2018-10-22 19:20] jacobstr commented on #894
Seeing a similar thing. This largely affects our development staging clusters where scale-to-zero is an appealing way to make sure we at least provision the various MIGs that back the different flavors of node groups we use, while ensuring we don't continuously run 16 node clusters with one userland pod.

With smaller nodes e.g. n1-standard-1, our logging and service mesh pods will bring utilizati

[2018-10-22 23:03] anshrma opened #1338 "Question : Autoscaler to add two nodes (instead of 1) when scaling up on AWS"
Looking for guidence/configuration/if feasible currently, for the autoscaler to add two nodes instead of one on AWS ?

[2018-10-23 01:44] kkmsft commented on #1270
@stroon2 : One thing which needs fixing is the name of the agent pool. While the information is collected in the - https://docs.microsoft.com/en-us/azure/aks/autoscaler#gather-information the agent pool name(which is usually nodepool1) needs to be the value of the label.

From the configmap, the node pool name is showing up as **agentpool** instead of **nodepool1**
Can you please fix this (in --no

[2018-10-23 06:04] Rajat-0 commented on #1281
closed  with #1282

[2018-10-23 06:04] #1281 closed

[2018-10-23 07:31] stroon2 commented on #1270
Thanks for your suggestion.

I've just tried to change the --nodes options to --nodes=5:10:nodepool1,  but  got another error.

I use "agentpool" as it is what I found in node labels (this configuration works fine in another cluster).

kubectl get node --show-labels

[2018-10-23 09:52] krzysztof-jastrzebski commented on #1338
/assign @mumoshu @sethpollack

[2018-10-23 09:52] krzysztof-jastrzebski commented on #1338
/assign @mumoshu

[2018-10-24 03:37] rbtcollins opened #1342 "autoscaler 1.1.1 failed to detect changed ASG max size"
We had a situation today where autoscaler 1.1.1 on a 1.9.6 k8s cluster refused to scale up a node group because it was at its limit. This puzzled us as we'd just added 30 nodes to the limit. After a couple of hours of this we restarted the autoscaler and it correctly resized the ASG at that point.

[2018-10-24 08:59] warmchang commented on #1278
hold because of the revert PR https://github.com/kubernetes/kubernetes/pull/64890
wait PR https://github.com/kubernetes/kubernetes/pull/65279

[2018-10-24 09:55] kamushadenes commented on #254
:+1:  would love to use this with my Rancher 2 cluster

[2018-10-24 09:55] kamushadenes commented on #254
/remove-lifecycle rotten

[2018-10-24 12:16] warmchang commented on #1278
@bskiba Well, I understand that the implementation of CRD represents the decoupling of VPA api from kubernetes.
And the [PR #1327](https://github.com/kubernetes/autoscaler/pull/1327) which you submitted has already upgraded the definition of VPA api to beta1. So close the issue.
/close

[2018-10-24 12:16] #1278 closed

[2018-10-24 13:09] andrewsykim opened #1345 "Does cluster-autoscaler need to support "out-of-tree" cloud providers?"
To be consistent with kubernetes/kubernetes, maybe it's time to consider an "out-of-tree" cloud provider model. Or at the very least, have each cloud-provider's implementation of the autoscaler in their respective repos (https://github.com/kubernetes/cloud-provider-gcp for GCE, https://github.com/kubernetes/cloud-provider-aws for AWS, etc) and have this repo import them.

cc @mwielgus

[2018-10-24 13:24] aleksandra-malinowska opened #1346 "AWS unit tests flaking on 1.2 branch"
Failure: https://travis-ci.org/kubernetes/autoscaler/jobs/445110392

Most likely a flake caused by assuming the order of iteration over keys in a map (which is randomized in Go):

[code]

cc @cablespaghetti

[2018-10-24 16:36] paulgmiller commented on #1118
We hit the same thng but confirmed it was fixed in .24.1
k8s-agentpool1-12720191-118   Ready     agent     5m        v1.11.3
k8s-agentpool1-12720191-119   Ready     agent     5m        v1.11.3
k8s-agentpool1-12720191-12    Ready     agent     22h       v1.11.3
k8s-agentpool1-12720191-120   Ready     agent     5m        v1.11.3
k8s-agentpool1-12720191-121   Ready     agent     5m        v1.11.3

[2018-10-24 16:40] khrisrichardson commented on #1278
@warmchang PR #1327 didn't address the subject of this issue, which was to update the README and examples to beta, both of which still reference the alpha version.

[2018-10-24 16:43] bskiba commented on #1278
True. We're working towards releasing the beta version soon, which will include updating examples and readmes. Expect something in the coming weeks.

[2018-10-24 17:43] kkmsft commented on #1270
@stroon2 : Thank you for checking the label and parameter match.

Can you please run the following command and provide with the tags part of the output:

az vm show -n <one of the nodes> -g <the mc resource group> -o json

The tags here  is used to match the nodes which belong to the  AKS cluster.

[2018-10-24 19:28] jstol commented on #1004
I am also having a similar issue with my autoscaling groups completely scaling down past their minimum limits. Furthermore, this is actually happening during a scale-up, meaning first all my nodes are destroyed, and then a larger amount of nodes in each group is spun up to accommodate the load.

[2018-10-25 01:43] warmchang commented on #1278
@khrisrichardson @bskiba Thank your for reply, and I am clear how VPA versions evolved now. :smiley:

[2018-10-25 02:50] damienwebdev opened #1348 "Azure Fails to scale up nodegroup after setting new "Min""
I've updated the "min" on a deployment of cluster autoscaler on AKS from "4" to "6".

Not only did it not immediately start to scale up `2` new nodes to accomodate the request, now, when I try to apply pod cpu pressure to attempt to scale up nodes I get

[code]

It seems that it won't scale up to "min" even if told to. I've tried cluster-autoscaler v1.3.3 and cluster-autoscaler v1.2.2

[2018-10-25 05:41] vainu-arto commented on #209
/remove-lifecycle stale

As far as I understand this bug still exists.

[2018-10-25 09:36] chaosaffe commented on #734
Might be a little revolutionary here, but why not use the logic from [`cluster-api-provider-openstack`](https://github.com/kubernetes-sigs/cluster-api-provider-openstack)(`CAP-OS`) instead of reimplementing? Anything we want to support in `autoscaler` we also want to support in `CAP-OS`, and we can prevent duplication of the logic. Also, the long-term intent is that `cluster-api` would directly be

[2018-10-25 14:23] danbondd commented on #1321
I've done a little more digging into this problem in order to try and get a better understand of what's going on.

The above error is being produced [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/aws_cloud_provider.go#L330), therefore a call to `glog.Fatalf()` _should_ run `os.Exit(255)` according to the [docs](https://godoc.org/github.com/golang/g

[2018-10-25 14:36] danbondd commented on #1321
Unfortunately I don't have the logs to hand, but this has been a regular occurrence over the past week so I'll post them in full next time it happens.

[2018-10-25 14:59] SleepyBrett opened #1350 "[Cluster Autoscaler] --IgnoreTaint=sometaint proposal."
For our clusters we use Immutable nodes and therefore certain changes require us to roll over our node pools. We currently use the following system.

1) We apply the new node config to the cloud provider, assuring that new nodes that appear will have the new configuration.

2) We taint all the existing nodes in the pool with `recycle=true:NoSchedule` assuring that any pods that get drained don't j

[2018-10-25 15:07] aleksandra-malinowska commented on #1350
This is a duplicate of #789, and a different implementation (always looking at node group's template) is in #1021. There are some issues with how it should work exactly, though. @MaciekPytel has more context on this.

[2018-10-25 15:12] SleepyBrett commented on #1350
Yeah the template wouldn't cover this particular case because it's not responsible for tainting the node. It does not solve some of those other cases though.

[2018-10-25 15:33] justinsb opened #1351 "vertical-pod-autoscaler Godeps.json referencing wrong version (?)"
While trying out go modules with vertical-pod-autoscaler, I encountered hundreds (?) of errors like this:

[code]

And indeed, it seems to be a bad revision: https://github.com/kubernetes/apimachinery/commit/bd0b8021277293fc71a2f800f9ec5901cc676269

It's not a k/k revision either, so I'm not entirely sure what's going on...

[2018-10-25 16:03] aleksandra-malinowska commented on #1350
On GCE and GKE template has the taints:) if it doesn't have them, Cluster Autoscaler can't accurately predict what a node would look like and scale up from 0 won't work correctly.

[2018-10-25 16:15] aleksandra-malinowska commented on #1351
If I understand correctly, VPA's Godeps work pretty much the same as Cluster Autoscaler. What's going on there is the following:
- it has to vendor kubernetes/kubernetes (due to dependency on scheduler's code),
- k/k is not well suited to vendoring (staging etc.),
- to avoid issues with it, fake revisions are created based on desired k/k revision: [fix_gopath.sh](https://github.com/kubernetes/auto

[2018-10-26 09:40] MaciekPytel commented on #1321
I've definitely seem Fatalf restart container on GCP. I wonder if the difference in behavior could be because of how the binary is started? I think AWS documentation runs the binary itself, rather than using our run.sh wrapper script (GCP manifest: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/cluster-autoscaler.manifest#L30).

[2018-10-26 12:58] stroon2 commented on #1270
Great! Thank you ! Tags were missing !

Autoscaler works now  :-)

PS: All VM's tags have been deteled by an inappropriate post-install script.
I used the command  "az ressource tag... "  which replaces tags instead of adding to existing ones.

Thanks everyone  for your help.

[2018-10-26 12:58] #1270 closed

[2018-10-26 18:02] #907 closed

[2018-10-26 20:48] chaosaffe commented on #254
If someone is looking to implement this they will likely want to look at leveraging [cluster-api](https://github.com/kubernetes-sigs/cluster-api). There is already a [DigitalOcean provider](https://github.com/kubermatic/cluster-api-provider-digitalocean/) available, and it makes scaling nodes trivial (e.g. you can run the command `kubectl scale machineset <a machineset name> --replicas 5` to scale

[2018-10-27 09:41] rayl15 opened #1358 "Cluster is not scaling down"
Testing the cluster-autoscaler configured as per https://eksworkshop.com/scaling/deploy_ca.files/cluster_autoscaler.yml.

Testing scenario 1:
At first when manually scaled up pods with increase in number of replicas things were good. Cluster's node scaled up and on reducing replica it went down.

Testing scenario 2:
Created ingress controller, service, deployment and configured resource and limits

[2018-10-29 00:09] davidquarles commented on #1182
I'm building/running current master and targeting a prometheus statefulset with no container memory limit and no `resourcePolicy` specified.  The pods were getting oom-killed for awhile before I deployed the vpa, if that's relevant.  Once stabilized, utilization was relatively low:
[code]
but the recommender ended up with _very_ (unschedulably) high values for the memory request:
[code]
I redeploy

[2018-10-29 03:51] ringtail commented on #1345
@andrewsykim agree!

[2018-10-29 04:03] ringtail opened #1359 "Reservation mode in autoscaler."
I try to design the reservation mode in autoscaler to guarantee the speed of scaling up nodes. I think the key words of reservation is how to describe the workloads in the proper way. Maybe I can add a options like `--workloads-reservation` and pass an array such as `["4core8mem1gpu*10" ,"1core2mem0gpu"].  And we will try to simulate the pod to cluster in autoscaler. If the pod is unscheduled then

[2018-10-29 04:05] ringtail commented on #1359
@mwielgus

[2018-10-29 06:05] feiskyer commented on #1118
Already fixed in acs-engine. Let's close the issue.

@MirzaSikander Feel free to reopen it if you still have problems.

/close

[2018-10-29 06:05] #1118 closed

[2018-10-29 11:57] MaciekPytel commented on #254
There is some effort to implement Cluster API support in CA: https://github.com/kubernetes/enhancements/issues/609. The main issue as of now is the fact that CA absolutely needs to be able to delete a specific machine, not just scale down to a given number of replicas. There is an ongoing discussion on how to extend Cluster API to support this.

[2018-10-29 12:12] kgolab commented on #1182
Hi David,

is this scenario easily reproducible?

We'd be very interested in more data, in particular what was the CPU & memory utilization from the very beginning and what were the initial VPA recommendations.
If possible could you please share logs & vpacheckpoint objects?

At the first glance this looks like a wrong recommendation but I'd love to see more so we can trace the issue.

[2018-10-29 12:23] MaciekPytel commented on #1358
For performance reasons CA evaluates each node once every 5 minutes. The log you pasted is from the loop when CA wasn't evaluating any nodes, as illustrated by log:
`I1027 09:28:56.552143       1 scale_down.go:175] Scale-down calculation: ignoring 8 nodes, that were unremovable in the last 5m0s`

There may be multiple reasons why CA is not scaling down your nodes. I'd recommend looking through the

[2018-10-29 12:28] aleksandra-malinowska commented on #1359
What do you mean by "reservation mode"? Something like keeping spare resources in the cluster (overprovisioning)? If so, you can already do it with so-called "balloon" pods - essentially, pause containers with very low priority, which will be preempted to schedule a pod with higher priority. It's described in more details in FAQ: https://github.com/kubernetes/autoscaler/blob/master/cluster-autosca

[2018-10-29 12:33] MaciekPytel commented on #1345
CA does a ton of calls to cloud provider code and I suspect trying to move it out of the binary would require significant amount of work to avoid huge performance regression. I don't know of anyone trying to do it, so I don't think it's very likely to happen anytime soon.

On the pro-side:
* With https://github.com/kubernetes/autoscaler/pull/1319 you can now build CA image with just a single cloud

[2018-10-29 22:36] davidquarles commented on #1182
@kgolab I'm fuzzy on the exact flow here so I'm not entirely sure how reproducible this is.  I started with v0.2.0, alpha CRDs and RBAC on a `1.10.7-gke.6` GKE cluster (heapster 1.5.3, metrics-server 0.2.1, if relevant).  I built/deployed yesterday's master and updated all 3 components.  I added the new CRDs and RBAC.  Then I deleted the alpha VPAs (and checkpoints) and created new, beta VPAs.  Th

[2018-10-30 09:12] kgolab commented on #1182
Hi David,

thanks for the data, it hints heavily at what could've happened. Most likely it was the OOM detection that quickly increased the recommendation out of reason though I'm not yet sure why there are no traces of the process in the checkpoint.

Two more questions / requests, if I may:
1. how fast were the pods crash-looping? any chance of recording 30+ OOMs per minute?
1. if you feel like e

[2018-10-30 09:59] kgolab commented on #1182
And, if you can grep for "OOM detected" in recommender logs, it would be helpful too.

[2018-10-30 11:56] ringtail commented on #1359
@aleksandra-malinowska cool! Thanks bro!

[2018-10-30 11:56] #1359 closed

[2018-10-30 12:38] bskiba commented on #1359
Hi @ringtail, thanks for showing interest with cluster autoscaler. Please be mindful when referring to our contributors as "bro". We do have female core contributors here. Thanks!

[2018-10-31 00:10] davidquarles commented on #1182
grepping around, it appears that there were ~250 OOMs between the two replicas over the course of 18 hours, so about every 4.5 minutes and consistently so.  The recommender had been panicking (see #1295) and thus wasn't actually providing recommendations, which is what inspired my upgrade in the first place, so 250 of these show up in stackdriver pre-upgrade:
[code]

After deleting the alpha VPA +

[2018-10-31 02:14] ringtail commented on #1359
@bskiba Sorry.

[2018-10-31 08:19] kgolab commented on #1182
Glad that resetting the state (aka deleting checkpoints while VPA was off) helped.
Just one more question - which updateMode were you using?

[2018-10-31 11:59] okgolove opened #1366 "EKS IP-addresses limits"
Hello. EKS uses AWS CNI to assign private IP to every pod https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI
So, if you haven't free IPs your pod won't be schedulded.

Can somehow autoscaler implements autoscaling based on IP limits?

[2018-10-31 12:19] aleksandra-malinowska commented on #1366
This is a non-trivial problem, and not just because it works differently for every cloud provider (e.g. on GCE, each nodes is assigned a range of IPs for pods). If I understand correctly, in this case IPs would be a cluster-level resource: it doesn't limit the number of nodes, and no matter how many we add, pods may not be able to run. Currently there's no support for such resources at all. It can

[2018-10-31 12:46] ringtail opened #1367 "GPU node should only calculate gpu utilization"
GPU instance is quite different from other instance. It's much more expansive and not sensitive to cpu or memory. If this instance has GPU,Should we have different utilization formula for it.

[code]
Here is a 2C8G1GPU instance and  nvidia-device-plugin will request at least 1 core so this instance can't scale down forever even no one use this GPU.

[2018-10-31 18:47] SleepyBrett commented on #1350
ok so on one cloud provider the template does. But no other cloud provider seems to.

[2018-10-31 20:17] MaciekPytel commented on #1350
It's up to cloudprovider implementation to provide accurate template (however it does it, I know kops on AWS does it very differently than GCE), but I don't think it matters for this issue anyway.

As I wrote on https://github.com/kubernetes/autoscaler/pull/1021 I generally don't agree with that approach. At the same time I think adding taints in runtime is a valid use-case and we don't support it

[2018-10-31 20:18] davidquarles commented on #1182
@kgolab Me too!  I was using `Auto`.

[2018-11-01 00:15] anshrma opened #1368 "Question : Configuration for Autoscaling in two Availability zones - AWS and EKS"
Here is my scenario (on AWS and on EKS)

Have two ASGs, one creates nodes in us-east-1a and another in us-east-1b.
Here is how i install the cluster autoscaler

helm install --set autoDiscovery.clusterName=${CLUSTER_NAME} --set awsRegion=us-east-1  --set sslCertPath=/etc/kubernetes/pki/ca.crt --set rbac.create=true --set extraArgs.balance-similar-node-groups=false  --set cloud-provider=aws --name

[2018-11-01 07:44] hadr10 opened #1369 "Autoscaling doesn't work with new versions Cluster Autoscaler 1.3.3 and 1.3.4"
Hello,

azure aks doesn't work with new cluster autoscaler 1.3.3 and 1.3.4. With 1.3.1 it works good. https://github.com/kubernetes/autoscaler/releases
Error from autoscaler:
Warning FailedToScaleUpGroup 2m cluster-autoscaler Scale-up failed for group agentpool: containerservice.Managed
ClustersClient#CreateOrUpdate: Invalid input: autorest/validation: validation failed: parameter=parameters.Manag

[2018-11-01 10:16] #911 closed

[2018-11-01 13:44] wmuizelaar commented on #1295
@bskiba any update on the 0.3.0 release?

[2018-11-01 13:52] wmuizelaar commented on #1295
We're seeing a very similar issue on the updater:

[code]

[2018-11-01 14:20] #790 closed

[2018-11-01 15:56] SleepyBrett commented on #1350
Prefixing or maybe a list in a configmap (that get's reloaded from time to time) both seem reasonable.

[2018-11-02 03:32] #647 closed

[2018-11-02 06:23] Rajat-0 opened #1371 "Switch to github.com/pkg/errors"
Currently Autoscaler is using fmt.Errorf both for wrapping errors and for creating new errors, but there is a general consensus on moving toward github.com/pkg/errors.

Ref:
https://github.com/kubernetes/kubeadm/issues/1183#issue-372862070
https://github.com/kubernetes/kubernetes/pull/70271#issue-225967737

If Owner/Approver agrees  to this I would like to work on it.

[2018-11-02 08:55] bskiba commented on #1295
Different issue, but fixed here on the master: https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/priority/update_priority_calculator.go#L148

Sorry for the delay on 0.3.0, I expect to be able to work on it next week.

[2018-11-02 11:05] aleksandra-malinowska commented on #1371
cc @MaciekPytel

[2018-11-02 11:20] MaciekPytel commented on #1369
cc: @feiskyer

[2018-11-02 14:43] #709 closed

[2018-11-02 15:14] MaciekPytel commented on #1371
I agree fmt.Errorf() is pretty bad, which is why we already have our own custom error type: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/errors/errors.go. The wrapping it does is simpler than what pkg/errors seem to do, but we haven't needed more complex wrapping so far. What we do need is to categorize errors into a few high-level types, which doesn't seem to be s

[2018-11-02 16:04] MaciekPytel commented on #1367
+1 sounds like a good improvement. If you're willing to implement I'm happy to review, otherwise I can add it to my backlog, but it will probably take a while before I get to it.

[2018-11-05 17:50] rajatjindal opened #1377 "question: is it possible to run cluster-autoscaler in dry-run mode"
Hi, Its more of a question if we can run cluster-autoscaler in dry-run mode. We want to evaluate when autoscaler would have triggered the scale-down/up actions without actually taking the action (to avoid disruption during the evaluation)

Thanks
Rajat Jindal

[2018-11-06 08:29] feiskyer commented on #1029
/remove-lifecycle rotten

Still not resolved yet.

[2018-11-06 18:14] gwohletz opened #1387 "Please release 1.2.4 with r5 support"
Recently 1.3.4 was released and includes support for a couple new aws instance types (r5, z1), it would be greatly appreciated if a similar release 1.2.4 could be made for those of us that will be still using kubernetes 1.10 for at least another couple months.

[2018-11-07 09:18] zegl opened #1389 "Node is not deleted after scaledown on 1.12"
After upgrading from Kubernetes v1.11 / cluster-autoscaler v1.3 to 1.12, nodes are not correctly deleted from the Kubernetes API when scaling down.

I've extracted the relevant log lines from cluster-autoscaler.

[code]

The EC2 instance is successfully terminated, but the node object is never deleted from the cluster.

Current details from the node, a few hours after the deletion:

[code]

Is thi

[2018-11-07 09:32] zegl commented on #1389
I found this bug https://github.com/kubernetes/kubernetes/issues/69409 in the controller-manager that already has been fixed. Sorry for the noise.

[2018-11-07 09:32] #1389 closed

[2018-11-08 07:32] omerlh opened #1390 "Missing metrics - errors_total"
I installed cluster autoscaler on a cluster running on Azure. I'm now adding some metrics to monitor it, and I noticed `errors_total`. This looks like an important metrics to monitor, but it's not returning from the autoscaler. I looked on the code, and it seems this metrics exist - so maybe I missing something.
Autoscaler version: `k8s.gcr.io/cluster-autoscaler:v1.3.0`.

Metrics returned:

[code]

[2018-11-08 10:52] MaciekPytel commented on #1390
Prometheus only outputs metric once the first value is written (at least in case of metrics with labels like errors_total). The metric should show up once the first error happens, no data means the value is 0.

[2018-11-08 10:54] omerlh commented on #1390
That what I was suspecting but wasn't sure. Thanks!

[2018-11-08 11:02] adsl123gg commented on #734
@ricolin  why support Nova, Heat, Senlin of openstack projects for cluster autoscaler(CA), I think CA is used to adjusts the k8s nodes by using openstack cloud, the initiator is k8s, if k8s need more nodes, it should notify openstack to create more nodes and then the nodes join k8s, also about reduce nodes.

[2018-11-08 12:17] MaciekPytel commented on #734
CA adds VMs on cloudprovider side (for example it resizes GCP MIG or AWS ASG). Basically it needs to be able to ask cloudprovider to either add new node or remove existing one.

[2018-11-08 16:01] ricolin commented on #734
@adsl123gg I guess the reason to add OpenStack will be the same when added AWS, GCP, etc. Which @MaciekPytel just mentioned

[2018-11-08 16:40] chaosaffe commented on #734
@ricolin the Cluster Autoscaler is only responsible for managing compute (i.e. Nova) resources. All other resources are managed by the [Openstack Cloud Provider] (https://github.com/kubernetes/cloud-provider-openstack), where contributions would be greatly appreciated

[2018-11-08 17:00] ricolin commented on #734
@chaosaffe currently we're building a common way (which I will push to git hub soon) to treat all of them the same as libraries which we can move to cloud-provider-openstack later.

Just to clarify
Cluster Autoscaler is managing `cluster` like ASG in AWS which equivalent to ASG in OpenStack Heat, or Cluster in OpenStack Senlin. In that sense, I don't think it's fair to say Nova is what Cluster Aut

[2018-11-08 18:08] #821 closed

[2018-11-09 12:23] #1165 closed, assigned to nobody

[2018-11-09 16:30] #898 closed

[2018-11-09 21:16] gwohletz commented on #1387
If this isn't going to be fixed for a while, it would be super useful to have a release that includes the r5 support.

[2018-11-10 14:52] #958 closed

[2018-11-11 05:45] #1390 closed

[2018-11-11 11:14] adsl123gg commented on #734
@chaosaffe cloud-provider-openstack is based on k8s position, if the service/pod of k8s need LoadBalance/persistentVolume, k8s will ask the cloud provider to create the corresponding resources, k8s is initiator. For Cluster Autoscaler(CA), I think is seem like a component in openstack, the initiator is CA, CA scale k8s nodes according k8s resource utilizing status, do I understand correct @ricolin

[2018-11-12 04:36] Rajat-0 commented on #1371
@MaciekPytel thanks for the explaination.

[2018-11-12 04:36] #1371 closed

[2018-11-12 11:11] aermakov-zalando commented on #1350
I've added a comment in #1021 (sorry, I was busy with other stuff) because I still think that it's worth solving correctly instead of hacking around weird logic with yet another non-intuitive flag. Would you mind having a look?

[2018-11-12 13:46] arjanschaaf commented on #1004
I'm running into this issue as well on Amazon EKS. I've 2 auto scaling groups connected to my EKS cluster, one of those asg's is configured to scale down / up between 1 and 10 nodes by the cluster-autoscaler. The underlying asg is configured to allow between 0 and 20 nodes. This setup work for me like a charm using a Kops based cluster, but is causing headaches after I switched to EKS.

Some loggi

[2018-11-12 18:38] OndrejKu opened #1397 ""autoscaler-aws-cluster-autoscaler" is forbidden: attempt to grant extra privileges"
I'm having troubles with installing autocluster using helm. This is the command I'm using:
[code]
And this was produced:
[code]
[code]
Any idea how kube-system service account can request all these policies?

[2018-11-12 21:18] #1397 closed

[2018-11-13 10:05] djsd123 commented on #1321
Hi @Office-Manager,  [kube2iam](https://github.com/jtblin/kube2iam) maybe??

GKE aside.  Like you, I look after a cluster on AWS. However, I'm not using EKS, rather a cluster provisioned with Kops.
I saw the same behaviour after deploying the cluster-autoscaler.  I tried the stable [chart](https://github.com/helm/charts/tree/master/stable/cluster-autoscaler) and the [example](https://github.com/ku

[2018-11-13 10:08] arjanschaaf opened #1398 "Cluster Autoscaler 1.12.0 doesn't respect explicit minSize for nodegroup as Cluster Autoscaler 1.2.2 did."
I'm using the helm chart to deploy the cluster autoscaler into AWS based (EKS) kubernetes clusters: https://github.com/helm/charts/tree/master/stable/cluster-autoscaler

The previous release of the Helm chart (0.7.0) used this cluster-autoscaler image version: **1.2.2**
The current release of the Helm chart (0.8.0) uses a new version of the cluster-autoscaler image: **1.12.0**

My setup is as foll

[2018-11-13 10:16] MaciekPytel commented on #1398
Can you include slightly more logs from 1.12? Ideally the whole loop when the last node was deleted.

[2018-11-13 10:36] Office-Manager commented on #1321
Hey @djsd123  ,

Yeah I ended up having to use kube2iam. It was the original intention to always use that but I thought as quick POC to just apply the IAM directly on the instance profile.
I never did get it working with the instance profile but it's working fine with Kube2iam

[2018-11-13 10:36] #1321 closed

[2018-11-13 10:59] arjanschaaf commented on #1398
A whole bunch of logs, I hope it helps :-)

First the node is ignored, but mainly because the idle duration is less the 10 minutes:
[code]

Then we get past the 10 minutes and the cluster-autoscaler decides that it is time to clean up the node, although I didn't expect the node to be cleaned up because of the explicit minSize passed to the cluster-autoscaler:
[code]

funny detail: the next loop th

[2018-11-13 11:17] MaciekPytel commented on #1398
There weren't any changes in core logic checking the min size condition in a very long time, so it's probably cloudprovider returning wrong min size.

Would you mind trying with CA image 1.3.4 to try to pinpoint where the regression happened? The refactor that @losipiuk mentioned was first included in 1.3 release. There were some refactors in building cloudprovider in 1.12, though that seems less

[2018-11-13 12:19] arjanschaaf commented on #1398
Experiencing the same problems with 1.3.4 as with 1.12:
[code]

[2018-11-13 14:38] johanneswuerbach commented on #1398
@losipiuk `minSize` and `maxSize` should be explicitly set for manually specified instance groups here https://github.com/kubernetes/autoscaler/commit/0598749d760cc2e5536084a1f9c5dde720c9d428#diff-2e1beabd65b11ed9c39dd0068ba8575dR104, but I just saw that the test is using the same values for the explicit group and auto-discovered group.

[2018-11-13 14:49] johanneswuerbach commented on #1398
I manually did some tests and can't reproduce this behaviour inside the AWS ASG handling code.

[2018-11-13 14:50] johanneswuerbach commented on #1398
Maybe its somehow related to this comment and a different ASG reference being returned in some cases https://github.com/kubernetes/autoscaler/pull/1378/files#r231102937?

[2018-11-13 15:02] arjanschaaf commented on #1398
I do have 2 ASG's configured in my environment

[2018-11-13 16:48] bskiba commented on #1004
@arjanschaaf which node group sis you observe that was scaled down? From the logs I don't see any scale down operation, maybe it happened earlier, since one of the node groups reported reaching minimal size:

[2018-11-13 17:24] gtie opened #1401 "1.12 branch is missing pull/1245"
Looks like 1.12 branch (and 1.12.1 by extension) got cut out *just before* merging https://github.com/kubernetes/autoscaler/pull/1245.

Since that PR is quite useful (and the corresponding capability is in the current docs!), it would be great if we can have another patch release that includes it.

[2018-11-13 18:06] ppruthi opened #1402 "Cluster Autoscalar does not show ASG Scaling Activity History"
version: 1.2.3

### CloudProvider: AWS

### Description

ASG Scaling Activity History failure messages like this one:
[code]

are not surfaced on cluster autoscalar logs to expose why the scale up didn't happen.
Instead the cluster autoscalar logs messages like:

[code]

which does not completely reflect whats wrong with the cloud provider.

[2018-11-13 19:21] arjanschaaf commented on #1004
@bskiba after first responding to this issue (I suspected EKS to be the cause of my problems) I did some further testing & finally created a new issue: https://github.com/kubernetes/autoscaler/issues/1398 Not sure if the situation @josepplaltg reported and my problems are the same. More extensive logs are in the new issue. It looks like a regression problem that started with newer versions that 1.

[2018-11-13 23:59] SleepyBrett commented on #1350
Sorry your pull is laden with jargon that I don't understand.

I will say this. Taints are not something that the aws template is going to expose to you unless you dig into the user data and look at the configuration on the kubelet which may be flags/config .. and then bringing into consideration dynamic kublet config etc etc. This seems very fraught. The scale from 0 scenario seems very complicat

[2018-11-14 00:30] jayanth-sai-v commented on #1049
We had the same issue where a pod was not able to sit on a specific node and autoscaler fails to scale up the nodes.

According to what we understood, the issue was with the node in which the pod was supposed to sit. If we look at the log "Pod ABC marked as unschedulable can be scheduled on ip-1-2-3-4.internal. Ignoring in scale up." is the message which basically says that pod ABC is supposed to

[2018-11-14 01:54] aleksandra-malinowska commented on #1402
This message means Cluster Autoscaler didn't even request a node, so there was no interaction with ASG, so there could be no error message there.

Newer versions should publish event with more information (predicate that failed with number of affected groups).

[2018-11-14 10:02] aermakov-zalando commented on #789
/remove-lifecycle stale

[2018-11-14 12:12] aermakov-zalando commented on #1350
CA already supports configuring taints and labels on the ASG, unfortunately it also has the automagic behaviour that 'helpfully' tries to pick up the data from the existing nodes, leading to issues similar to what you have. Since the same thing affects labels, which cannot be easily ignored due to potential effect on node selectors, I'm arguing for solving this in a cleaner way instead of hacks li

[2018-11-14 14:32] feiskyer commented on #1369
@kkmsft Could you take a look at this?

[2018-11-15 01:54] awprice commented on #894
We are currently seeing this same issue. We have a large amount of nodes that only have daemonsets on them that are persisting in the cluster and are not being terminated by CA. These daemonsets provide metrics and system functionality, and are not user-scheduled pods.

The solution should either be a flag to ignore daemonset pods in the utilisation or an annotation that can placed on daemonset po

[2018-11-15 09:17] bskiba commented on #894
/remove-lifecycle rotten

[2018-11-15 09:17] bskiba commented on #894
/assign @MaciekPytel
@MaciekPytel @aleksandra-malinowska do you think this is feasible?

[2018-11-15 09:52] losipiuk commented on #894
The proposal looks very reasonable to me. And easy to implement.
With that said I am not sure if we will have time to address that. PRs are very welcome.

[2018-11-15 10:17] losipiuk commented on #1049
The message "Pod ABC marked as unschedulable can be scheduled on ip-1-2-3-4.internal. Ignoring in scale up." means there is inconsistency in what CA thinks and what scheduler thinks about cluster.
Basically CA believes that pod ABC should have been scheduled on ip-1-2-3-4.internal. But for some reason the scheduler does not schedule it there. This is unexpected situation, yet possible if for examp

[2018-11-15 14:22] consideRatio opened #1406 "Getting the CA to play well with a custom scheduler"
I opened this issue: https://github.com/kubernetes/kubernetes/issues/71070

I understand it as that the Cluster Autoscaler is utilizing hardcoded logic from the default scheduler. Perhaps it would it be possible in the future to avoid hardcoding this but instead cooperating with the scheduler for the pod?

[2018-11-15 14:52] MaciekPytel commented on #1406
There were many discussions of this in the past. The problem is CA doesn't actually know anything about scheduling. It's built around importing scheduler code and using it as a sort of black box oracle. All CA decisions are based on simulations, performed by creating in memory node objects and feeding them to scheduler to see if currently pending pods would be able to schedule if a new node was ad

[2018-11-15 14:58] consideRatio commented on #1406
@MaciekPytel this was an excellent write up! Thank you!!

[2018-11-15 14:58] #1406 closed

[2018-11-15 18:02] jayanth-sai-v commented on #1049
Our CA version is 1.0.6 and our Kube-scheduler  version is 1.8.3 which is the combination recommended on CA [README](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases). But still looks like there is inconsistency in what CA thinks and what scheduler thinks about cluster.
We thought it was an issue with the node as the problem pops up only with specific nodes but not

[2018-11-15 18:55] johanneswuerbach commented on #1402
This seems to be a duplicate of https://github.com/kubernetes/autoscaler/issues/1263, yes CA currently doesn’t surface ASG scaling failures as AWS doesn’t actually fail the scale-up

[2018-11-16 06:01] SleepyBrett commented on #1350
Cleaner only on one cloud provider without a serious amount of effort.

[2018-11-16 13:53] mmingorance-dh opened #1410 "Pending pod triggers new node instead of evict a pod with lower priority"
Hi all,
Yesterday we started to test cluster-autoscaler with priorityClasses and podPriority to always have some available extra capacity in our cluster, however whenever a new pod comes up and is in pending state, this one triggers a new node with cluster-autoscaler instead of replacing any pod from the "paused" deployment running with lower priorityClass.

This is configuration I added to my clu

[2018-11-16 14:06] losipiuk commented on #1410
Thanks for reporting that.

Are the "paused" pods actually being created?
Please ensure that there is actually a **single** node with enough "paused" pods with lower priority, that preempting them will free enough resources to schedule the "workload" pod.
If both are true the problem is with scheduler configuration I guess. If not we need to fix that first :)

[2018-11-16 14:11] mmingorance-dh commented on #1410
Thanks for helping.

The "paused" pods are getting created and they take over of 6000m CPU and 10000Mi Memory each.
I run 10 pods in the deployment, so I guess that should be enough space for any other pod of our private applications to be created.

[2018-11-16 14:45] losipiuk commented on #1410
I don't know :) Depends how be resource requests the applications have.
Also to be sure. The application pods have the priority set to default (0)?

Also could you please check if `nominatedNodeName` is set in status on "workload" pods?

[2018-11-16 14:51] losipiuk commented on #1410
I am not sure if that is possible but you may also try to run scheduler with log verbosity set to at least `3` and look for preemption related log messages.
This way we could rule out that preemption is not enabled.
If that is the case you should see `"Pod priority feature is not enabled or preemption is disabled by scheduler configuration."` in logs.

Btw. Which version of k8s and CA are you usin

[2018-11-16 17:31] ppruthi commented on #1402
@aleksandra-malinowska .. is there anyway to backport the visibility cuz the older version if kubernetes is recommended to run with older versions of autoscalar ?

[2018-11-16 18:34] gtie opened #1411 "Crash when Autoscaler starts and AutoscalinGroups have 0 instances"
We are using Cluster Autoscaler (CA) to right-size several AutoScalingGroups in AWS (each featuring different AZ/taint combination). When the leader encouters such an autoscaling group, it crashes with SIGSEGV (and then, next leader does the same, and so on).

Here is the traceback:
[code]

Above happens with version 1.3.1 and 1.12.1.

[2018-11-16 20:13] geota commented on #838
@zdoherty @itskingori  @jfoy
https://aws.amazon.com/about-aws/whats-new/2018/11/scale-instances-across-purchase-options-in-a-single-ASG/

I think this work is no longer blocked - ec2 fleets now support ASGs (or vice versa?)

[2018-11-16 20:53] brantb opened #1412 "[Azure AKS] Autoscaler can't set agent pool size on an AKS cluster with AzureAD integration enabled"
Kubernetes version: 1.11.4 (Latest available on AKS as of writing)
cluster-autoscaler version: 1.3.4

After scaling down the cluster and deleting a VM, the Azure provider attempts to update the node count in the AKS agent pool. When the AKS cluster has the AzureAD integration enabled, this fails with the following errors:

[code]

I have a feeling this is happening because `AadProfile.ServerAppSec

[2018-11-17 08:15] adsl123gg commented on #734
@ricolin I know CA should support openstack, but I want to know how? from your comments I don't know how to auto scale k8s cluster, you only mention Nova, heat or other components, which confuse me with the FAQ in Cluster Autoscaler, so could you explain your design of how to finish autoscale in k8s cluster with openstack?

[2018-11-17 14:32] mmingorance-dh commented on #1410
we are using kops 1.10 (with Kubernetes 1.10.6) and cluster-autoscaler 1.3.0
I found out that in Kops you can also enable the following field:
[code]
Maybe that's the reason why my "paused" pods are not being rescheduled. I will enable this field and I'll let you know.

[2018-11-17 14:35] mmingorance-dh commented on #1410
Regarding the application pods's priority, we have defined a default priorityClass in our cluster, therefore all new pods will get this class as default.
Also I read in the Kubernetes documentation that when enabling podPriority, all existing pods automatically gets priority 0 set.

[2018-11-17 16:58] sstarcher commented on #351
@mwielgus What about the usecase of a development cluster that tons of people can launch pods into, but we still want to scale these down?  Would it not be beneficial to also support a global flag?  If not I now have to write some code that goes through the pods and annotates them.

[2018-11-17 21:30] cablespaghetti commented on #838
@geota I believe this is solved by that release. It's now possible to have an ASG with spot instances in it...so in theory this should "just work" with the cluster autoscaler. I'm planning on doing some testing next week.

[2018-11-18 12:59] #777 closed

[2018-11-18 14:00] #771 closed

[2018-11-19 09:13] #1369 closed

[2018-11-19 10:14] mmingorance-dh commented on #1410
I found out how to make it works. There are a couple of parameters more to set than what cluster-autoscaler describes.
This is the right configuration for this:
[code]

That will enable podPriority and Preemption in your cluster.

Thank you for helping me!

[2018-11-19 10:14] #1410 closed

[2018-11-19 16:23] brantb commented on #1412
It looks like this is the same underlying issue as a few others (#1304 #1105 #1369) but I didn't search adequately. #1415 should fix this once it is released.

[2018-11-19 17:41] seh commented on #1411
I just had the same thing happen here, with this arrangement: six autoscaling groups, grouped by two different instance types into three subnets, each in a different availability zone.

| ASG | Instance type | Subnet |
| --- | ------------- | ------ |
| a-0 | p2.xlarge     | az-1-a |
| a-1 | p2.xlarge     | az-1-b |
| a-2 | p2.xlarge     | az-1-c |
| b-0 | g3s.xlarge    | az-1-a |
| b-1 | g3s.xlar

[2018-11-19 18:44] seh commented on #1411
I see the same failure in version _1.13.0-alpha.1_.

Ah, I see the problem: [`(*cloudprovider/aws/AwsManager).getAsgTemplate` returns an `asgTemplate` instance with a null value in its "InstanceType" field](https://sourcegraph.com/github.com/kubernetes/autoscaler@master/-/blob/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L202) when the given instance type is unknown, with no entry in [the `

[2018-11-19 18:49] seh commented on #1411
Note that [the JSON file fetched](https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonEC2/current/us-east-1/index.json) by the _gen.go_ file does have entries for instance type "g3s.xlarge."

[2018-11-19 18:54] seh commented on #1411
We haven't updated the set of known instance types since 28 October 2017, by @sethpollack's hand (ea9aa6fe1479b3fb1e51a7df093e5a1d7d13bea8).

[2018-11-19 20:16] seh commented on #1411
@gtie, which instance type were you trying to use?

[2018-11-19 20:20] sethpollack commented on #1411
@seh If you want to update the instance types you can just run https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/Makefile#L47 and then create a PR.

[2018-11-19 20:54] gtie commented on #1411
@seh , in my case the ASGs with 0 instances were of the C5(9xl) and R5(12xl) instance types. I see that those are missing as well:
https://github.com/kubernetes/autoscaler/issues/1387

[2018-11-19 21:40] seh commented on #1411
#1422 supplies the missing instance types. I'd also like to elaborate the error handling here, which I'll tackle in a separate patch.

[2018-11-20 06:33] feiskyer commented on #1304
Fixed in https://github.com/kubernetes/autoscaler/pull/1415.
/close

[2018-11-20 06:33] #1304 closed

[2018-11-20 06:33] feiskyer commented on #1369
Fixed in the https://github.com/kubernetes/autoscaler/pull/1415.

[2018-11-20 06:34] feiskyer commented on #1105
Fixed in the https://github.com/kubernetes/autoscaler/pull/1416.

[2018-11-20 06:34] feiskyer commented on #1105
/close

[2018-11-20 06:34] #1105 closed

[2018-11-20 06:35] feiskyer commented on #1412
Fixed in the https://github.com/kubernetes/autoscaler/pull/1415, it should be included in next CA release (v1.3.5).

[2018-11-20 06:45] feiskyer commented on #1412
/close

[2018-11-20 06:45] #1412 closed

[2018-11-20 07:36] #1063 closed

[2018-11-20 15:08] dharmab opened #1424 "Support Azure Managed Identity from Instance Metadata instead of VM extension"
[The Azure Managed Service Identity VM extension is being deprecated in January.](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview)

![image](https://user-images.githubusercontent.com/4450708/48782398-c9f96c80-ece6-11e8-8130-e0f5d4136181.png)

This issue is to request support for the Azure Instance Metadata managed identity API, which is the repla

[2018-11-20 15:40] dharmab commented on #1424
After researching this more deeply it looks like the Instance Metadata is actually used- the config flag and adal function just have misleading names.

[2018-11-20 15:40] #1424 closed

[2018-11-21 17:58] OndrejKu opened #1429 "AWS autoscaler (possibly) doesn't update records that are accessed by nginx-lego"
Hey guys, I'm having troubles with nginx-lego (I know it's deprecated) and node autoscaler. I had to scale up manually through hpa and patching temporarily minReplicas to high number. All scaled well, new nodes were added because of pod increase. After the traffic spike I set the number back to normal (which is really low) and I can see a lot of bad gateway 502 errors. After I examinated nginx-leg

[2018-11-22 05:36] Rajat-0 opened #1430 "Updater crashed after creating VPA with example/hamster deployment"
Updater showing "CrashLoopBackOff" status after I created vpa and pods with "example/hamster.yaml".
Updater Logs:
 I1121 05:51:38.583230       7 flags.go:52] FLAG: --alsologtostderr="false"
I1121 05:51:38.583999       7 flags.go:52] FLAG: --eviction-tolerance="0.5"
I1121 05:51:38.584039       7 flags.go:52] FLAG: --httptest.serve=""
I1121 05:51:38.584063       7 flags.go:52] FLAG: --log-backtrace-

[2018-11-22 05:39] Rajat-0 commented on #1430
/vertical-pod-autoscaler

[2018-11-22 07:44] garo opened #1431 "Unable to scale AWS autoscaling array up to satisfy pod EBS requirement in particular zone (NoVolumeZoneConflict)"
Running Kubernetes v1.10.3-eks in Amazon EKS. Cluster has one AWS Autoscaling Array with three different availability zone / subnets defined. At the time of the problem the cluster has two nodes, one in us-east-1a and one in us-east-1c.

There is a pod with an PVC attached, which is backed by an EBS PV in us-east-1d. Because there isn't any node running in us-east-1d the pod cannot start.

The pro

[2018-11-22 09:18] bskiba commented on #1430
@Rajat-0 Are you running the 0.2.0 version.

[2018-11-22 09:32] Rajat-0 commented on #1430
@bskiba I am running the master version.

[2018-11-22 09:57] bskiba commented on #1430
I just built and deployed VPA from the master, created the example/hamster.yaml and can't seem to reproduce this. I wonder if there is anything specific about your setup?

[2018-11-22 12:51] vishalcs05 opened #1435 "Cluster Autoscaler is not scaling the nodes when not using `--cloud-provider=aws` in kubelet configuration"
Kubernetes Version: `v1.11.2`
Cluster Autoscaler Version: `v1.2.2`

Cluster Autoscaler is not scaling the nodes when not using `--cloud-provider=aws` in kubelet configuration, getting below logs in cluster autoscaler.

[code]
Though it recognised the autoscaling group which I passed in autoscaler deployment yaml.
[code]
Options I gave in cluster autoscaler deployment are below

         command:

[2018-11-22 13:11] aleksandra-malinowska commented on #1435
It is. More precisely, Cluster Autoscaler needs Node objects to have ProviderId field set to a unique resource identifier of the machine running that node (in your case, `aws:///<zone>/<name>`, as the error states). This is usually done by cloud provider component for Kubernetes (either built-in or external). If you don't want to use it, you'll have to set this field in another way.

[2018-11-22 13:14] vishalcs05 commented on #1435
thanks @aleksandra-malinowska will try to set it another way as dont want to give it in kubelet config.

[2018-11-22 13:14] #1435 closed

[2018-11-22 14:41] aleksandra-malinowska commented on #1429
This doesn't seem to be related to autoscaling at all, and I'm not sure we can help you. If the pods are really gone and kube-apiserver doesn't list them anymore, I'd try asking in nginx community.

[2018-11-22 14:41] #1429 closed

[2018-11-22 15:05] aleksandra-malinowska commented on #1410
@mmingorance-dh thanks for posting the solution!

[2018-11-22 16:32] aleksandra-malinowska commented on #1398
I went through the diff between 1.3 and 1.2 and the only meaningful change to AWS cloud provider was #867, which doesn't seem to touch deleting instances. However, it did replace API call to get current ASG target size with cached value: https://github.com/kubernetes/autoscaler/pull/867/files#diff-34ecd32e36ab8898fff1637bb1b39c2cR167

Is it possible that race condition between refreshing resources

[2018-11-22 16:34] aleksandra-malinowska commented on #1004
Closing as duplicate of  #1398.

[2018-11-22 16:34] #1004 closed

[2018-11-22 16:49] aleksandra-malinowska commented on #1368
Cluster Autoscaler doesn't consider soft affinity, and hard pod affinity tends to kill performance (but can be used if you're OK with slowness). At large deployment and cluster sizes, we find that the best-effort approach based on balancing works well enough and is pretty resilient. But there are no guarantees at really small sizes that everything won't end up in the same place.

If it only adds o

[2018-11-22 16:51] johanneswuerbach commented on #1398
@aleksandra-malinowska I tested against master, but mainly the parsing logic and not potential race conditions. The race you describe sounds definitely possible and  https://github.com/kubernetes/autoscaler/pull/1378 should mitigate that.

It also seems worth back-porting https://github.com/kubernetes/autoscaler/pull/1378 to the 1.3 and 1.12 as this sounds clearly like a bug, wdyt?

[2018-11-22 16:55] aleksandra-malinowska commented on #1338
Can you explain in a bit more detail what you want to achieve? Sth like overprovisioning (have one extra node at any time), or making sure your pods can be spread across at least 2 nodes?

[2018-11-22 18:30] aleksandra-malinowska commented on #1137
DaemonSet use-case should be addressed by #1407. As for different thresholds, the difficulty would be in configuring them - there's no such concept as node group in Kubernetes, so it'd either have to be done in a cloud provider specific way, like you suggest, or e.g. by node annotations (assuming all nodes in a node group have these identical). Both are possible but complicate things, so I'm not r

[2018-11-22 20:43] aleksandra-malinowska commented on #1398
Can you reproduce it without the fix first, to confirm? If it works and cherry-pick is without conflicts, let's do that.

[2018-11-23 01:50] hex108 opened #1439 "[Proposal] Add cron pod autoscaler"
I have implemented a CronHPA which enables us to scale workloads(those support `scale` subresource) periodically using crontab scheme.

## Use cases
A lot of game player will play games from Friday evening to Sunday evening. It will be better to provide a better experience for players if game servers(pods) could be scaled to a lager size at Friday evening and scaled to normal size at Sunday evenin

[2018-11-23 06:02] garo commented on #1431
Thank you for all the feedback.

[2018-11-23 06:02] #1431 closed

[2018-11-23 09:18] consideRatio commented on #1157
Stale discussion, but still very relevant, and the docs remain confusing to me.

[2018-11-23 09:18] bskiba commented on #1157
/remove-lifecycle stale

[2018-11-23 10:08] timothyclarke commented on #1137
@aleksandra-malinowska Thanks for your response.

We have traditional apps running which can be moved around and aggressive scaling for those are good.
However we also have jenkins scheduling builds when people commit new code. If those builds are killed half way through then the build goes red and has to be manually re-scheduled. While the builds don't take too long having the autoscaler kill the

[2018-11-23 13:49] aleksandra-malinowska commented on #1137
Annotating the pods to prevent eviction and scale-down of nodes where they're running is described here: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

[2018-11-25 23:14] johanneswuerbach commented on #1398
Yes, I can reproduce it without https://github.com/kubernetes/autoscaler/pull/1378 and no longer with https://github.com/kubernetes/autoscaler/pull/1378.

1.12 backport: https://github.com/kubernetes/autoscaler/pull/1441
1.3 backport: https://github.com/kubernetes/autoscaler/pull/1442

The 1.3 backport had a small conflict, but we are using this PR backported to 1.3 in production for a while, so I

[2018-11-26 10:10] lvjing2 opened #1443 "Does autoscaler support dynamic config by updating the config map?"
Just as the title, I am curious about whether autoscaler support dynamic config via updating the config map, since it seems had been removed by #851 .

[2018-11-26 10:54] losipiuk commented on #1443
CA exposes `cluster-autoscaler-status` config map but it is used only for reporting CA status to the user.
All the configuration is done via command line parameters.

[2018-11-26 10:54] #1443 closed

[2018-11-26 12:03] MaciekPytel commented on #1443
The old option to update config via a separate configmap was dropped in the PR you linked, because there was a breaking bug in it for a year or more. Since no one ever complained about the bug we figured no one is using it anyway and we didn't want to keep a fundamentally broken feature.

[2018-11-26 13:06] lvjing2 commented on #1443
Eh, I can understand your points. But for me, it is strange that no one using this feature especially in production env, I think we may need to add or delete some node groups(no auto discovery), increase the core and memory limitation as the system grows, could you show me some tips how can i achieve this without using config map?

[2018-11-26 14:08] losipiuk commented on #1443
This is probably far from being optimal but I guess you can add separate orchestration around CA and change the definition of POD which runs it over time. Each change will require CA restart of course yet it should not be a problem as CA handles that pretty well.

[2018-11-26 14:09] aleksandra-malinowska commented on #1443
My understanding was that auto-discovery won because it's so much easier to just configure the node group and have autoscaling work for it out of the box. And if you already have to update the autoscaling config separately, you can just as well update Cluster Autoscaler deployment with new groups and limits.

[2018-11-26 14:12] lvjing2 commented on #1443
Ok, I see, we can restart the ca since it handle the gracefully terminating well if I want to change the configuration. thanks you all.

[2018-11-26 17:46] losipiuk opened #1449 "AWS cloud provider tests take 120 seconds"
The problem started to occur after merging
https://github.com/kubernetes/autoscaler/commit/a36f8007afa65fcb2ff7ae291ee815be5512e01c
Each of 6 test method tries to get region from AWS api (see aws_manager.go `getRegion` method). This call times out after 20seconds.

@shatil Is there a chance that you could fix that?

[2018-11-26 19:15] DirectXMan12 commented on #1439
This is pretty neat looking.  If you're looking to upstream it and maintain it, we could sponsor a repo in kubernetes-sigs (probably under the umbrella of the HPA subproject).  You could consider filing a SIG Autoscaling KEP (see https://github.com/kubernetes/community/tree/master/keps) as well, and/or sending a design doc or repo link out to the sig-autoscaling mailing list).

[2018-11-26 20:22] spinus opened #1452 "Azure Scale Set - node labeling"
I have a set of specific worker nodes to scale and I have corresponding node selector on azure.

I get
[code]

I'm not sure what should I do to configure autoscaler to put labels on the nodes (azure scale set). How I do it?

[2018-11-27 00:49] c4po opened #1453 "AWS: Failed to create AWS Manager"
Kubernetes: 1.11.4
CA: 1.3.4

tried the `cluster-autoscaler-one-asg.yaml` and `cluster-autoscaler-autodiscover.yaml`
getting error message like this.
[code]

did I miss anything?

[2018-11-27 05:59] ricolin commented on #734
@adsl123gg fear not my friend, the design is actually very simple, is the same structure as other Provider (Azure, AWS, etc). The difference is, instead of only support single method to talk to Provider, we tend to allow support multiple ways in the future. As for those OpenStack components support here, the only different is the implementation for some fundamental function like `FetchASGTargetSiz

[2018-11-27 06:01] aarongorka commented on #1410
@mmingorance-dh there are a few typos in your yaml (missing colon, duplicated keys and inconsistent case), should be:

[code]

[2018-11-27 06:07] hex108 commented on #1439
Thanks @DirectXMan12 for the very useful suggestions! I've just sent a KEP, pleases help take a look :)

[2018-11-27 07:15] johanneswuerbach commented on #1453
Looks like you tried the examples in master with version 1.3, which doesn’t support automatic region detection.

Could you try the 1.3 example https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.3/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-one-asg.yaml?

[2018-11-27 09:14] #1137 closed

[2018-11-27 09:54] spinus opened #1454 "Azure vmss "failed to get instance ID from cloud provider: instance not found""
I have an issue with using Azure ScaleSet. Kubelet is failing on scale set nodes with error:
[code]

kubernetes: 1.11
cluster-autoscaler: 1.3.4

[2018-11-27 11:43] c4po commented on #1453
It works. thanks!

[2018-11-27 16:59] davidxia opened #1455 "Confusing error message when applying a VerticalPodAutoscaler with boolean value for spec.updatePolicy.updateMode"
I tried to apply the VerticalPodAutoscaler YAML below.

[code]

## What happened

I didn't realize an unquoted `Off` is a YAML boolean false. This lead to the following error.

[code]

Everything works as expected if I quote the `Off` to `"Off"`.

## What I expected

Perhaps the error message from the API could be more helpful. Maybe some early validation on the value of `updateMode` would help.

[2018-11-27 22:51] Jeffwan commented on #1367
@MaciekPytel  I can help look at this issue and submit a patch.

[2018-11-28 02:23] williamhuangh opened #1457 "addon resizer changes `optional: true` of volume mounts"
original yaml
[code]
after addon-resizer
[code]
notice that it drops the `optional: true` from volumes

[2018-11-28 14:04] luarx opened #1458 "Vertical-pod-autoscaler is requesting more MEMORY than needed"
If I run the `hamster.yaml` example of vertical-pod-autoscaler, it schedules great the requested CPU (I have  tested it modifying the main command to see how VPA modifies the requested CPU).

The problem is that it **requests more memory than needed** (look at the picture). Do I have to configure anything else?
![image](https://user-images.githubusercontent.com/22997139/49157013-16642e00-f31f-11e8

[2018-11-28 14:10] luarx opened #1459 "Vertical-pod-autoscaler - How much time does it need to change the requested CPU/Memory?"
I wonder how much time does vertical-pod-autoscaler need to change the requested CPU/Memory.

Also...does it have an internal registry with the historical resources of each pod?

[2018-11-28 15:07] kgolab commented on #1458
Currently the 250 MiB you see is the default value of the lowest possible memory recommendation.
It can be changed with --pod-recommendation-min-memory-mb flag.

[2018-11-28 15:52] luarx commented on #1458
Oh nice! Thank you! :) Sorry, I hadn't seen this option before...

When I run the docker container with a different command line arguments **it doesn't show any log line** (probably I am doing something wrong):
[code]
But if I go inside the container I can see that it has received the arguments (**custom execution**):
[code]

And these are the processes which are created when I don't specify a cus

[2018-11-28 16:07] luarx commented on #1459
Great!
I was asking those questions because I checked that if there is a Pod (controlled by a Deployment) running for some hours...if I increment the CPU load for 10 minutes it doesn't scale because it needs more time probably.

But if the pod is running for a few minutes it scales faster. I suppose that it's the normal behaviour of the vpa because it has to compare current CPU/memory usage with t

[2018-11-28 23:30] mmingorance-dh commented on #1410
@aarongorka thanks for catching that. I just updated my comment as well.

[2018-11-29 10:33] kgolab commented on #1458
How exactly have you changed the command line arguments?
I just did locally the following change to vertical-pod-autoscaler/pkg/recommender/Dockerfile, rebuilt vpa-recommender and it returns 100 MB recommendation for RAM.
[code]

[2018-11-29 10:57] kgolab commented on #1459
The behaviour you observe is indeed intentional - VPA uses 90th percentile of samples for the base recommendation so the more samples you already have (the longer Pods have been running), the more samples are required to "overrule" old state.

As for your question - I'm wondering if a flag (so global value for a whole cluster and all its workloads) or rather a setting per vpa object to control eac

[2018-11-29 11:07] luarx commented on #1458
Yes, if I change the vpa-recommender Dockerfile and rebuild it, it works! :)
But if I change the command line arguments in `deploy/recomender-deployment.yaml` Kubernetes deployment file (so that I don't have to maintain my own Docker image), it doesn't work.

[2018-11-29 11:57] luarx commented on #1459
Nice! Now, I understand better how VPA recommender works, thank you!

About a flag to control if VPA scales up/down faster, I think that both a **global flag** (with a default value) and a **specific setting per VPA object** (if it's not present it would use the global flag) would be useful options.
For example, maybe I want to set how it works in a whole cluster but for critical PODs which could

[2018-11-29 12:38] kgolab commented on #1458
I think I understand the problem now.
If you want to use `/bin/sh -c` please give recommender as a single parameter, like this:
[code]

Alternatively you could use:
[code]

[2018-11-29 12:38] sylr commented on #735
I reckon an over-provisioning mechanism would really be helpful

[2018-11-29 13:08] luarx commented on #1458
Yes!!! It has worked as you said.
I will close this issue then, thank you very much! 😃

[2018-11-29 13:08] #1458 closed

[2018-11-30 10:56] bskiba commented on #1455
Didn't know about the Off yaml gotcha either :open_mouth:
I think this should be better with beta version (0.3.0) since we added additional validation. Let me check and get back to you.

[2018-11-30 12:04] bskiba commented on #1455
I checked it with new version and it says:
error when creating "hamster.yaml": Internal error occurred: admission webhook "vpa.k8s.io" denied the request: json: cannot unmarshal bool into Go struct field PodUpdatePolicy.updateMode of type v1beta1.UpdateMode
Is this more helpful?

[2018-11-30 12:11] davidxia commented on #1455
Yes much better. Thanks.

[2018-11-30 12:11] #1455 closed

[2018-12-03 11:40] pondohva opened #1470 "pod in pending state on GKE, but pool can be scaled up"
Hello!

Master version: 1.11.3-gke.18
Nodepool version: v1.10.7-gke.2
Minimum nodes: 3
Maximum nodes: 10
Current size: 7

Node in pool has 2 CPU and 7.5Gb ram, new pod require (and limit) 500m CPU and 256Mi, but I'm getting this message

[code]

I've got 2 pods in this state, it was ok, because it appears in deployment update, but looks really strange. I decided just to remove resource requests fo

[2018-12-03 12:05] MaciekPytel commented on #1470
This event means that CA can't add a node that would help pending pods. It doesn't mean the reason is related to resources, if you have a pending pod with nodeSelector and the new node will not have a label matching selector you will get the same event. Or if you have a pending pod and your nodepool is already at max size.

If you provide your pod spec I could try to guess what may be the reason,

[2018-12-03 12:35] pondohva commented on #1470
@MaciekPytel thank you! This is affinity for pod:
[code]
Nodepool with autoscaling enabled has label metagame. Current size of node pool (7) less than maximum size (10).

Full spec here.
[code]

Nodepool screenshot from console:

<img width="460" alt="screenshot 2018-12-03 at 15 34 00" src="https://user-images.githubusercontent.com/1574361/49373972-f8c50900-f710-11e8-8c34-3f3eb35f8309.png">

[2018-12-03 13:56] MaciekPytel commented on #1470
Huh, nothing obvious I can see. I can keep asking you for more and more info, but maybe it will be easier if you could open a GCP support case linking this github issue? That way we would be able to get all the information needed to debug ourselves.

[2018-12-03 14:01] MaciekPytel commented on #555
/remove-lifecycle stale

We really should get around to fixing this.

[2018-12-03 15:03] lvjing2 opened #1471 "Too much unneeded Scale up and scale down in CA"
Hi all, is cluster autoscaling safe to be used for production?  when I through the cluster-autoscaler repo, I found this maybe a problem for production. The case is that
1. when we set the min/max range of resource utilization to 60%-80% for a NodeGroup which contains 3 node with each usage 80%, 80%, 40%.
2. Then the third one is blow the min, so it will be delete, and all the pod will be migrate

[2018-12-03 15:05] lvjing2 commented on #1471
/cluster-autoscaler

[2018-12-03 20:39] aleksandra-malinowska commented on #1470
Just noticed that the pod spec provided is of a running and scheduled pod. I know it's probably implied, but just in case - the pods that from the same controller/using the same template, right?

[2018-12-03 20:48] aleksandra-malinowska commented on #1457
cc @x13n @kawych

[2018-12-03 20:49] #1453 closed

[2018-12-03 21:37] shatil commented on #1449
@losipiuk, certainly!

Inside of AWS this returns instantly, and outside, it will always timeout, so I'm thinking to add a 1 second timeout around `svc.Region()`.

[2018-12-04 08:43] losipiuk commented on #1449
I was thinking more that you could mock the http call in tests so it returns immediately.
Depending on build environment and sleeping (even 1s) in unit tests are both bad practices.

[2018-12-04 10:08] aleksandra-malinowska commented on #1449
This. Or set the env var in tests. Or read the env var earlier, e.g. when constructing AWS manager, and pass it as parameter. Etc.

[2018-12-04 12:05] pondohva commented on #1470
@aleksandra-malinowska yes, you're right. This exact pod was in pending state, I removed resource requests from other pods to run this.

[2018-12-04 12:06] pondohva commented on #1470
@MaciekPytel hmm, I'll look, but we don't have a paid support for this account right now (we're working on it :) )

[2018-12-04 12:39] aleksandra-malinowska commented on #1470
Another thing to check would be what is the size of pod address range assigned to the cluster. Default /14 supports up to 1008 nodes. If it was created with a smaller custom range, this can be much lower.

[2018-12-04 16:39] hertzknight opened #1475 "VPA - Installer not working"
I am trying out Vertical Pod Autoscaler and haven't had any luck with deploying it. I am using a new Cluster on Google Cloud with the following kubernetes versions:

`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"lin

[2018-12-04 16:45] bskiba commented on #1475
Please take a look at this excerpt from the [prerequisites in readme](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#prerequisites) and let me know if this fixes your problem:

If you are using a GKE Kubernetes cluster, you will need to grant your current Google identity cluster-admin role. Otherwise you won't be authorized to grant extra privileges to the VPA system

[2018-12-04 17:20] hertzknight commented on #1475
I did run that prior to vpa-up.sh and it looks like the clusters roles were created; however, then they are denied and forbidden access. I also given the service account Kubernetes-Cluster-Admin rights as well.

Here is the full messages I get when I run vpa-up.sh
[code]

[2018-12-04 18:02] hertzknight commented on #1475
I figured out the issue. It looks like it was using a different principal Email to make these changes. Instead of my service account email it was using it's uniqueID.

I had to do the following (in case someone else runs into this as well):
[code]

[2018-12-06 14:41] aleksandra-malinowska commented on #1263
@Dregathar @johanneswuerbach @gjtempleton @aermakov-zalando and anyone else interested this issue: #1464 adds a (hopefully generic enough) mechanism for handling stockout and quota errors.

[2018-12-06 14:43] johanneswuerbach commented on #1263
That looks interesting, I've a spike locally parsing the ASG events log, but haven't had time to figure out how to wire this into the cluster registry.

Will try to use this and report back.

[2018-12-06 14:46] aleksandra-malinowska commented on #1263
Cool, let us know if it can be adapted for AWS.

[2018-12-06 17:51] shatil commented on #1449
@losipiuk @aleksandra-malinowska I like the environment variable idea. I had already mocked out another environment variable lookup when it occurred to me:

If the tests (indirectly) relying on `getRegion` supply an `AWS_REGION` env variable, there is no timeout. Is this approach acceptable? Or will this throw something off?

I think tests using `createAWSManagerInternal` would need it, and that's

[2018-12-06 17:55] aleksandra-malinowska commented on #1449
please do it just for tests that require it (can be part of sth like createTestAWSManager ofc)

[2018-12-06 22:22] Jeffwan commented on #1387
Looks like #1478  resolve this issue?

[2018-12-07 02:13] #840 closed

[2018-12-07 19:36] joshwand commented on #966
It would be good to be able to do some configuration on CA in GKE-- as in the referenced issue, I'd like to reduce the `--scale-down-unneeded-time` so as to not waste money for 10 minutes of unneeded capacity.

[2018-12-08 11:11] azman0101 commented on #1410
@mmingorance-dh you miss a typo flagged by @aarongorka
[code]

To replace by
[code]

[2018-12-09 00:07] mmingorance-dh commented on #1410
Updated.
Thanks @aarongorka

[2018-12-09 05:26] lvjing2 opened #1496 "Consider add a switcher to skip calculating the utilization of slot low priority pause pods which be used to support overprovisioning?"
If i want to scale down the node which it's utilization is below 0.1. There are only few user pods which resource usage is blow 0.1, so in fact this node should be considered to scale down. But if there are many other slot pod that make the node's utilization is above 0.1, then the node will not be consider to be scaled down. I think this is not reasonable, so I am thinking how about add a switche

[2018-12-09 13:11] #1060 closed

[2018-12-09 14:45] justaugustus commented on #1439
Closing this in favor of the KEP: https://github.com/kubernetes/enhancements/pull/641
/close

[2018-12-09 14:45] #1439 closed

[2018-12-10 20:30] williamhuangh commented on #1457
@aleksandra-malinowska @x13n @kawych bump on this :) we'd love to use the addon resizer but unfortunately this bug is preventing us from doing so

[2018-12-10 21:56] mhvijay opened #1497 "Auatoscaler killing pods launched by deployment/Jobs even though "cluster-autoscaler.kubernetes.io/safe-to-evict": "true" is given"
Auatoscaler killing pods launched by deployment/Jobs even though "cluster-autoscaler.kubernetes.io/safe-to-evict": "true" is given
Below is the yaml used.
---
apiVersion: batch/v1
kind: Job
metadata:
  name: autoscaling-test
  namespace: test
  annotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: 'true'
  labels:
    cluster_name: test
spec:
  backoffLimit: 0
  template:
    spec:

[2018-12-11 09:14] disha1104 commented on #838
Any update on this? We are trying to achieve autoscaling with EC2-fleet.

[2018-12-11 10:35] sylr commented on #1329
Related to https://github.com/kubernetes/kubernetes/issues/71594 I believe

[2018-12-11 10:42] sylr opened #1500 "Azure VMSS + Availability Zones = NoVolumeZoneConflict"
Hi,

Here is my setup:

 - 3 masters, 1 in each availability zone of westeurope
 - 3 agent pools (1 VMSS), 1 by availability zone of westeurope

With this setup I wanted to workaround the fact that there is no Azure API allowing to spawn an instance in a VMSS in a particular availability zone in order to access a PV which has been created in that availability zone.

So instead of having 1  VMSS in

[2018-12-11 10:58] patrickshan opened #1501 "vertical-pod-autoscaler - the way vpa recommender uses prometheus history cpu data"
when using prometheus as history data provider, how does VPA recommender calculate CPU recoomendation ?

It seems currently it uses `container_cpu_usage_seconds_total` which is a counter but it doesn't seem to do any rate calculation based on it ? is this correct ? while for memory it uses a gauge metric `container_memory_usage_bytes` which makes sense

[2018-12-11 12:04] cablespaghetti commented on #838
Spot Fleet and EC2 Fleet seem to have been superseded by this: https://aws.amazon.com/blogs/aws/new-ec2-auto-scaling-groups-with-multiple-instance-types-purchase-options/

It doesn't quite have all the same features but it should fit most use cases. We've set it up with 100% spot instances of two different types using terraform (although you can have a mixture of spot and on demand like in EC2 fle

[2018-12-11 12:14] disha1104 commented on #838
@cablespaghetti Thanks a lot. But does the present cluster autoscaler support Spot instances(EC2 fleet or spot fleet), from what I know, it was just supporting on-demand instances.

Also, will there be service interruption with this approach?
Basically what I am trying to achieve is an approach similar to "Spotinst" for managing K8s clusters on AWS. Can you suggest some similar use-case for that?

[2018-12-11 12:17] cablespaghetti commented on #838
It doesn't know or care what kind of instances are behind the ASG. It just increases or decreases the "Desired Count". The ASG config controls what instance types are used auto-magically. I'll upload my terraform config which is 100% spot but it's easy to have a base of X on demand instances and then use spot (see the linked blog post).

[2018-12-11 12:32] MaciekPytel commented on #838
That is not true. CA works by performing careful simulations to see if adding more nodes would help pending pods. It needs to know _exactly_ how a new node will look like to make good decisions.

The actuation is indeed done by increasing "desired count", so your setup will work to an extent. But it also means CA makes decisions based on incorrect data (it will make prediction how next node will l

[2018-12-11 20:54] george-miller opened #1503 "[cluster-autoscaler] Scale up based on Node Utilization"
Hello, firstly I want to thank you for making this awesome autoscaler, it works so well and makes Kubernetes an even better platform (even though it was already the best).

The problem I am having is that it takes too long to provision new resources because CA waits until there is an unschedulable pod to trigger a scale up.  If CA scaled the cluster based on node resource utilization, it could pre

[2018-12-11 21:09] mhvijay commented on #1497
Hi I even tried with below config , but job is moved to another node . I am having Kubernetes version 1.10 So using autoscaler version 1.2.3.
apiVersion: batch/v1
kind: Job
metadata:
name: autoscaling-test
namespace: test
annotations:
cluster-autoscaler.kubernetes.io/safe-to-evict: 'false'
labels:
cluster_name: test
spec:
backoffLimit: 0
template:
spec:
serviceAccountName: test
containers:
- name:

[2018-12-12 03:34] lvjing2 commented on #1496
@aleksandra-malinowska

[2018-12-12 03:45] lvjing2 commented on #1496
@aleksandra-malinowska

If we take this into consideration, then there should be the same problem when using overprovisioning with the reserved priority like -1. Those users' pods which it's priority happened lower then -1 may not be considered when scale up.

There is a case especially in serverless mode, we need to make sura a node must not be considered to scale down if there is any user pods.

[2018-12-12 09:53] disha1104 commented on #838
@MaciekPytel , so we can't use CA with spot instances (or EC2-fleets to be more precise)?

[2018-12-12 12:10] aleksandra-malinowska commented on #1503
What cloud are you running on? Most of them have some sort of groups of instances which autoscale like you describe (for example, Managed Instance Groups on GCP). One thing that doesn't work out-of-the-box is that they tend to use actual resource utilization by default, so you may need to export a custom metric for your nodes (utilization in terms of requests) and use that as input.

[2018-12-12 12:15] aleksandra-malinowska commented on #838
To clarify: Cluster Autoscaler cares very much how the nodes (as in, Kubernetes Node objects) look like. It doesn't care about the underlying instance directly.

Most often, instance type will determine node's scheduling properties, like allocatable resources. But if the nodes running on spot instances are indistinguishable from nodes running on regular instances, it should be OK to mix those.

[2018-12-12 16:20] george-miller commented on #1503
I am using amazon EKS with an ASG for my worker nodes.  Yeah they only have access to the ec2 metrics by default, so I could try to get some custom metrics in there for scaling and then adjust the autoscaler config so it doesn't scale the ASG down again.  I'll give that a try in a few weeks and post an update here afterward.  Thanks!

[2018-12-12 21:40] pkelleratwork opened #1507 "AWS EKS - Failed to get nodes from apiserver: nodes is forbidden:"
followed directions from here - https://medium.com/@alejandro.millan.frias/cluster-autoscaler-in-amazon-eks-d9f787176519

getting error
[code]

is this the correct default path?
`sslCertPath: /etc/kubernetes/pki/ca.crt`

[2018-12-13 08:06] Deepak1100 opened #1508 "scaling down node with running bare pods and nodes with safe-to-evict false pods as well"
The whole Infra is running on AWS
I have tried setting annotation safe-to-evict = false and PDB as well. I have task schedule by airflow on Kube which is not controlled by aby Kube controller(airflow scheduler control them) and there nodes also getting scale down even though they are running there with above annotation and PDB as well and they are just bare pods but still.
I can see in logs that C

[2018-12-13 10:22] WebSpider commented on #944
/remove-lifecycle stale

[2018-12-13 12:37] aleksandra-malinowska commented on #1508
If CA logs state that these particular nodes are ignored and not scaled down, then it's very likely something else is deleting them. Are you 100% sure there is no other autoscaler operating on the cluster? In particular, please make sure autoscaling instances in ASG is disabled.

[2018-12-13 12:56] Deepak1100 commented on #1508
@aleksandra-malinowska
Yes. as I have setup whole cluster and other add-ons so I am 100% sure there is no other thing which is scaling it down
so there show in logs but I have seen suppose there are 3 replicas with annotation and logs only show 2 or 1, so this kind of things happen. some of the bare pods are not detected in logs as well.
and before logs (before 5-10 min of node goes down) there is

[2018-12-13 12:58] aleksandra-malinowska commented on #1508
Can you share the relevant part of the logs? It's hard to guess what may be the issue without more information.

[2018-12-13 16:56] bskiba commented on #1086
/remove-lifecycle stale

[2018-12-15 14:45] Deepak1100 commented on #1508
well, I think the issue is resolved after I suspended the AZRebalance process in aws ASG.
I will try to verify it on Monday.

[2018-12-17 22:33] awly opened #1512 "Rebuild cluster-autoscaler to pick up fixes for openssl CVEs"
CVE-2018-15686 and CVE-2018-0734 are fixed in the latest openssl version.
These images don't have the fix currently:
  - gcr.io/google-containers/cluster-autoscaler:v1.12.1
  - gcr.io/google-containers/cluster-autoscaler:v1.13.0
  - gcr.io/google-containers/cluster-autoscaler:v1.3.4

Please rebuild them or cut a new version.

[2018-12-17 22:35] awly commented on #1512
Command to re-scan the image for CVEs:

[code]

[2018-12-17 23:46] patrickshan commented on #1501
thanks @bskiba . I'd love to contribute back but I don't have a working setup with Prometheus at the moment. will do that when I have one.

[2018-12-18 00:02] DominicGunn commented on #838
Has there been any progress on this? Are we able to increment spot fleets desired count at will?

[2018-12-18 08:35] MaciekPytel commented on #1512
We don't rebuild existing images, we should cut a new release with fix. Actually it's already done for 1.13 (1.13.1 has been released with fix). We need to do the same for 1.12 and 1.3.

cc: @losipiuk

[2018-12-18 08:56] hadr10 opened #1513 "Failed to decrease agentpool"
Hi,

we had got issue with autoscaler on AKS.
AKS version: 1.11.3 (with RBAC)
Autoscaler version: 1.3.1

error message:
E1217 13:31:34.867548       1 static_autoscaler.go:190] Failed to fix node group sizes: Failed to decrease agentpool: attempt to delete existing nodes targetSize:3 delta:-1 existingNodes: 3

After deleting pod on AKS, the new one autoscaler was created and scale up started workin

[2018-12-18 13:31] losipiuk commented on #1070
/remove-lifecycle stale

[2018-12-18 16:00] losipiuk opened #1515 "Incorrect handling of condition based taints if TaintNodesByCondition is used"
According to @aermakov-zalando in https://github.com/kubernetes/kubernetes/issues/72129
CA misbehaves if TainNodesByCondition is in use:

That needs to be verified and fixed if needed.

[2018-12-18 16:01] losipiuk commented on #1515
/sig autoscaling

[2018-12-19 18:32] Jeffwan commented on #1342
@rbtcollins could you give more details on what kind of limitation? It would be better if you can attach full loop logs of your autoscaler

[2018-12-19 20:54] spronin-aurea commented on #1387
Is it possible to release only with r5 support?

[2018-12-20 01:15] aly-aurea opened #1519 "Question: Is it safe to run CAS 1.2.3 with AWS ASG with multi-type instances?"
I am going to replace my AWS EKS production cluster workers ASG that uses a single instance type with the new ASG launch template that uses multiple types of EC2 instances.
I am already running a cluster in the test environment with this new setup, but I want to make sure that there are no concerns to run it before moving to production.

I use CAS v1.2.3 and EKS with k8s v1.10.3

[2018-12-20 04:32] spronin-aurea commented on #1387
@seh if there is a PR already for all the instances new than r5 - great, if not - I would certainly want to add just r5 support and get working autoscaler back.

[2018-12-20 10:07] gambol99 commented on #838
So if your using an ASG backed by LaunchTemplate + MixedInstancePolicy how does the CA determine the node capacity per ASG to simulate? .. given they can be backed by a mixture of instance types

[2018-12-20 12:38] MaciekPytel commented on #838
Precisely because of that reason MixedInstancePolicy is not officially supported by CA (as of now). You can still set it up using the config provided by @cablespaghetti or creating a similar one of your own. If you do CA will just take one instance type and assume each node will look exactly like that. Depending on your exact setup and your luck it may or may not result in correct scaling decision

[2018-12-20 12:43] MaciekPytel commented on #1519
CA is based on assumption that every node in NodeGroup (AWS ASG, GCP MIG, Azure VMSS, etc) is exactly identical (that's how CA predicts how a new node will look like). Having multiple instance types in a single ASG is not officially supported as of now. You can sort of hack it, but we give no guarantees and recommend against running such configs in prod.

You can find more details in discussion fo

[2018-12-20 13:34] #810 closed

[2018-12-20 13:54] #1519 closed

[2018-12-20 13:54] aly-aurea commented on #1519
Thanks!

[2018-12-20 14:41] pierreozoux commented on #1367
I'm interested in this features as well.
From what I read here, there is no request/limit on the Nvidia pod
https://github.com/NVIDIA/k8s-device-plugin/blob/v1.11/nvidia-device-plugin.yml
If the add-on doesnt request 1 core, and as it is a deamon set, I think CA should work as expected? Am I right?
If not, I guess the CA for scaledown, should ignore add on and deamon sets.

What do you think about

[2018-12-20 16:23] bskiba commented on #1181
/remove-lifecycle stale

[2018-12-20 16:24] bskiba commented on #1430
Any news? We have 0.3.0 version out now, which should not have this issue.

[2018-12-20 17:02] WebSpider commented on #893
/remove-lifecycle stale

[2018-12-20 18:21] Jeffwan commented on #1367
@pierreozoux  Right. Daemonset is not a blocker for CA to remove nodes.  The problem here is GPU Node speciality or GPU utilization is not considered when CA make scale down decision.

[2018-12-20 18:43] seh commented on #1367
@Jeffwan, that's a different complaint than what @ringtail mentioned originally. That problem was that the GPUs were idle, but there was (ignorable) CPU being used by the device plugin.

Having said, that, though, I agree with you; I _think_—but have not yet been able to confirm—that the autoscaler is shutting down our GPU nodes due to low CPU reservation. The events I expect to see posted confirm

[2018-12-20 21:58] seh commented on #1367
I've confirmed now that the autoscaler is evicting pods due to low CPU and memory utilization, even though these are GPU-dependent pods. They use the lone GPU on the machine, but don't require much memory or CPU, at least as expressed in the resource requests.

Do we need to artificially inflate these requests in order to allow these pods to keep the node alive, even though they _are_ using the GP

[2018-12-21 00:16] max-radin opened #1520 "affinity for daemonset pod blocks scale-up"
I'd like to add a pod affinity rule that requires my pod to run on a node that already is running a fluentd logging pod. (The fluentd pods are launched by a daemonset.) My affinity rule looks like:
[code]
Unfortunately this prevents the autoscalerfrom scaling up – see log below.
[code]
It would be great if the autoscaler would scale-up in this situation; i.e. recognize that if a new node was creat

[2018-12-21 00:48] Jeffwan commented on #1367
@seh Yeah. GPU is kind of special because they have different use case for training and serving.
For training workloads, pods don't like to be interrupted as it may has impact on entire training job.
But serving/inference workloads are movable. They don't mind to be binpacked to other available nodes.

I am working on a basic proposal to address GPU related issues and publish it next week. Hope I

[2018-12-21 01:36] seh commented on #1387
I'm confused. Doesn't #1478 already include all the r5 family? Don't look at [the types added there](https://github.com/kubernetes/autoscaler/pull/1478/files#diff-e4d58ad5096a877c286c642a21646263); look at [the types that are already there](https://github.com/jeruane/autoscaler/blob/ce9da03ae704d6b75fc9a003e5303a2482e01541/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L786-L827).

Is

[2018-12-21 01:38] seh commented on #1367
I see the difference; thank you for bringing that up. In our case, these are the former: training workloads.

I look forward to your proposal. In the meantime, we'll find a way to work around the utilization threshold, which we'd rather not adjust for our non-GPU-bearing nodes.

[2018-12-21 10:59] MaciekPytel commented on #1367
If you don't want your workload moved just don't allow CA to move it. You can use safe-to-evict: false annotation (https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node) or a PDB. CA will never remove a node with such a pod, regardless of utilization.

The issue here, as I see it, is CA will not remove a node with GPU

[2018-12-21 13:16] spronin-aurea commented on #1387
Exactly. It is not released yet. We have compiled our own version with this fix, but would be nice to have non-custom version.

[2018-12-21 14:04] seh commented on #1367
I assume that calculating GPU utilization will require some interaction with vendor-specific utilities such as _nvidia-smi_. At present, as you pointed out, even the CPU utilization isn't measured by actual use, but rather merely by [how much the pod requested](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/simulator/cluster.go#L186-L188). Are you considering calculating G

[2018-12-21 15:13] MaciekPytel commented on #1367
Exactly.

This is by design. Cluster Autoscaler's is based around scheduling and making sure every pod in cluster is schedulable. Kubernetes scheduling only cares about resource requests, not actual usage. And therefore so does CA.
If you want to autoscale based on real usage metrics you must use HPA or VPA to update your pods based on usage. CA will react to those changes and provide nodes as nee

[2018-12-21 19:43] tsmgeek commented on #1342
I had similar but on v1.1.0.
It seems that it is not refreshing the AWS ASG max capacity, ie if i start autoscaler now it gets the ASG setup but does not seem to update this value at regular intervals.

[2018-12-21 21:55] fejta commented on #893
kubernetes/autoscaler still needs a SECURITY_CONTACTS file.
/assign @mwielgus @bskiba @aleksandra-malinowska @MaciekPytel @schylek

[2018-12-22 20:07] raffaelespazzoli opened #1530 "increase flexibility on reading the certificates"
I am trying to install the admission controller using a different method of providing certificates.
If I understand correctly the code right now expects certificates in the following locations:
[code]
It is possible to change the directory where the certs are, but not the name of the files.
Can you add a way to specify the name and location of each file independently?

Also something must be escap

[2018-12-24 13:04] zhaoar92 opened #1532 "Question: what's the difference betwen Recorder and LogRecorder?"
I have a question about the code below, what's the difference betwen Recorder and LogRecorder?

I can find the event log in configmap by using LogRecorder.Eventf().  But where's the event log by  Recorder.Eventf() ?

[code]

[2018-12-24 13:18] bskiba commented on #1532
LogEventRecorder is a wrapper around EventRecorder that logs autoscaler related events to configmap.
Recorder is a regular EventRecorder used to emit events about all other Kubernetes objects, for example pods. If you look at the codebase, all Eventf calls on recorder have a Kubernetes object as first argument. Example: https://github.com/kubernetes/autoscaler/blob/78513d064f34666d29cc67adb1537af3

[2018-12-24 13:19] bskiba commented on #1532
The events will be found on the corresponding object, in the case of the example, on the pod that triggered scale up.

[2018-12-24 13:42] bskiba commented on #1530
I think https://github.com/kubernetes/autoscaler/commit/057743565cf88bfe58af2d4f284cf81a789c49f1 fixes the issue with caKey.

As to providing filename flags, we are happy to accept contributions. The changes will happen mostly in https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/admission-controller/certs.go

[2018-12-24 14:03] bskiba commented on #1520
Firstly, I'd like to warn you that using hard pod affinity will have a performance impact both on the scheduler and cluster autoscaler (see [note]( https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature)). The affinity scheduler predicate takes a long time to compute and is not recommended for scheduling in clusters with hundreds of nod

[2018-12-25 01:43] zhaoar92 commented on #1532
@bskiba  I see, you explained very clearly. Thanks.

[2018-12-25 02:02] #1532 closed

[2018-12-25 22:12] petr-k opened #1535 "Run e2e tests during CI"
End-to-end tests do not seem to be run during CI. I think it would be beneficial to put up the necessary plumbing to allow tests to be run in Travis. Also, autoscaling components could be tested against multiple Kubernetes versions (if that makes sense?).

[kubeadm-dind-cluster](https://github.com/kubernetes-sigs/kubeadm-dind-cluster)  or [kind](https://github.com/kubernetes-sigs/kind) could be us

[2018-12-27 10:07] MaciekPytel commented on #1133
/remove-lifecycle stale
/sigh I keep meaning to go back and fix this..

[2018-12-27 11:42] bskiba commented on #1535
We have continuously running e2e tests here: https://k8s-testgrid.appspot.com/sig-autoscaling-cluster-autoscaler
Config lives here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Cluster Autoscaler is tested against multiple versions of Kubernetes, since it depends on Kubernetes scheduler code. I guess we could have a similar

[2018-12-27 14:27] tmwtp opened #1537 "Skipping node group ... max size reached"
Environment details:

K8s version - 1.10.7
Installer - Kops
cluster auto-scaler image - gcr.io/google-containers/cluster-autoscaler
Image version - v1.2.3

Issue:

On heavy load on the cluster there was a need for new nodes to be ran but i got the following error in the auto-scaler logs:

I1227 10:48:22.915535       1 scale_up.go:92] Upcoming 0 nodes
I1227 10:48:23.118126       1 scale_up.go:116]

[2018-12-27 14:33] bskiba commented on #1537
Could you provide the output of `kubectl get -n kube-system configmap cluster-autoscaler-status -o yaml`?

[2018-12-27 21:57] #1280 closed

[2018-12-28 02:08] ProProgrammer commented on #525
Thanks for the insightful conversation there. Is this the right place to ask a question? If not, please guide me where should I go.
I have following annotations on my kube-proxy pods:
[code]

[2018-12-28 10:57] bskiba commented on #525
Is this what you are looking for?
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods

Although 13 nodes seems quite a lot for just system pods. Do you have any workloads actually running in the cluster?
Here is a comprehensive list of pods that will block scale down: https://github.com/kubernetes/autoscaler/blob/mast

[2018-12-28 13:55] raffaelespazzoli opened #1540 "Add the ability to better pass additional arguments to containers"
I suggest using `ENTRYPOINT` instead of `CMD` to set the default command of the containers that are used by VPA. This allows to use the `args` field in Kubernetes pods to customize the arguments to be passed to the containers.

[2018-12-28 18:20] ProProgrammer commented on #525
@bskiba - Thanks for your response.
Re: Number of nodes - Sorry I should have mentioned earlier - There was 1 node running from a different node pool.

The warning about autoscaling limits appears when I reduce the *Maximum size (per zone)* field value from 4 to 3.

I have had a look at the list of pods that will block scale down and examined the pods running on nodes in my cluster - I noticed tha

[2018-12-28 22:59] tmwtp commented on #1537
Sure, thanks !

`apiVersion: v1
data:
  status: |+
    Cluster-autoscaler status at 2018-12-28 22:55:40.831585189 +0000 UTC m=+128593.031794002:
    Cluster-wide:
      Health:      Healthy (ready=12 unready=0 notStarted=0 longNotStarted=0 registered=12 longUnregistered=0)
                   LastProbeTime:      2018-12-28 22:55:40.064530399 +0000 UTC m=+128592.264739193
                   LastTran

[2018-12-29 19:00] Jeffwan commented on #1537
@tmwtp How did you install the cluster autoscaler? There're several ways for aws and looks like your configmaps shows that CA didn't recognize the node group you mentioned.

You would probably use multi-group or auto discovery for all groups.

[2018-12-30 15:08] tmwtp commented on #1537
Hi @Jeffwan

I installed the autoscaler from its helm chart.

I am using auto discover for the ASG and it is defiantly can find the right group, it did increase the nodes count to 10 (min is 6) but could not expand more than that although there were 40 nodes more in the ASG capacity (50).

This is part of the output i pasted above. I can see in that output that for some reason the maxSize is 10, s

[2018-12-30 23:01] Jeffwan commented on #1537
@tmwtp If you have multiple node groups, configMap will show all of them. Since you successfully scale up few nodes, is it an issue about your EC2 limits? Go to EC2 dashboard and check Limits and see if you have enough quota for the instance type of your node group.

[2018-12-31 09:02] tmwtp commented on #1537
Thanks @Jeffwan

I have only one node ASG (3 more for masters)

The ASG is configured as follows:

Min - 6

Max - 50

For some reason when hitting the 10 nodes the autoscaler could not expand more, i am sure it was not an EC2 limit since i was able to add more nodes through the AWS console with no issue.

[2018-12-31 10:01] MaciekPytel commented on #1537
The ASG may have maxSize of 50, but your CA is configured with max=10 (note the `(minSize=6, maxSize=10)` part of configmap.

[2018-12-31 17:49] dthomason commented on #113
I tested this and feel this is the best approach.  It keeps you from having to modify the kube-dns deployment while keeping your masters clean.  Thanks!!

[2019-01-01 09:51] feiskyer commented on #1262
let's close the issue since it's not active for a long time.

/close

[2019-01-01 09:51] #1262 closed

[2019-01-01 09:52] feiskyer commented on #849
This is still the issue now.

/remove-lifecycle rotten

[2019-01-02 05:57] Jeffwan commented on #1342
@tsmgeek True. This has been fixed probably after v1.1.1. Let me check code difference and if we need to have a change cherry-pick.

[2019-01-02 10:13] piontec opened #1547 "vertical-pod-autoscaler 0.3.0 on AWS EKS - admission controller doesn't kick in"
HI!
I'm running VPA on EKS cluster in AWS. It supports mutating webhooks, as claimed by AWS. Now, I have the following configuration (to test "hamster"  deployment in "Initial" mode):
[code]
Webhook is registered and seems in place:
[code]
Hamster pods are running, VPA is created and successfully updated by Recommender:
[code]

But actual admission controller seems to do nothing: the only logs I g

[2019-01-02 10:41] bskiba commented on #1547
Which Kubernetes version?
You can try curling the VPA admission webhook service from within the cluster and see if any requests appear in the admission-controller logs.
If you have access to the master, you can also take a look at the API server logs - it should note if there are any errors on calling the webhook. It think the log to look at is kube-controller-manager.log

[2019-01-02 11:11] piontec commented on #1547
Kubernetes version is "v1.10.11-eks". I did just that in the meantime. I'm pretty sure it's wrong EKS config - in-cluster service URL works fine, but I get no calls from apiserver when pods are created (checked with tcpdump - nothing, so it's not just lack of log entries). I'm in contact with AWS support, and I will update this case once I learn more. Currently, in EKS there's no way you can get c

[2019-01-02 11:44] bskiba commented on #1547
I see, that's a bummer :( One thing you can also try to do in the meantime is change the ```failurePolicy``` of VPA webhook to ```Fail``` (instead of ```Ignore```). This should cause a pod creation failure if API server fails to call the webhook and might get some cause for that failure (though I wouldn't expect anything too verbose).

[2019-01-02 12:08] bskiba commented on #525
Can you provide output of:
```kubectl get configmap cluster-autoscaler-status -n kube-system -o yaml```
This should give us an idea about what CA thinks about your cluster.

Regarding the data about what's running on the nodes, just to clarify, are the numbers you provided resource requests and limits of the pods? What Cluster Autoscaler looks at is resource requests.

AFAIK fluentd, kube-proxy an

[2019-01-02 13:50] arjunrn opened #1548 "Recommender memory grows linearly with the number of different label sets in the cluster."
The  [aggregateContainerStateMap](https://github.com/kubernetes/autoscaler/blob/0945a8fe9987a086223532ba60a3d1ffcf4e24fa/vertical-pod-autoscaler/pkg/recommender/model/cluster.go#L45) in the `cluster.go` is a map which stores container states where the keys of the map are a combination of the namespace, container name and pod labels. This works fine when the number of pods with unique labels does n

[2019-01-02 14:44] bskiba commented on #1548
Thanks for reporting. Can you share approximately how many CronJobs and how often they run?

[2019-01-02 14:51] aermakov-zalando commented on #1548
This also means that the users can DoS the recommender e.g. changing a label on every deployment. Would it make sense to record which label selectors are currently in use from all available VPA resources and ignore the rest of label key/values?

[2019-01-02 14:57] bskiba commented on #1548
We could do like this (probably behind a flag), but it comes at a price - in such a setup, you only start accumulating metric samples to calculate recommendation the moment you turn VPA on for a certain deployment. Currently, if there is enough historical information, you will have a recommendation with high confidence after ~minute.

[2019-01-02 15:01] arjunrn commented on #1548
@bskiba In that cluster we have 30 cronjobs and they run with varying frequency, some every 5 minutes to some which run daily. The issue is that the map contains keys with many strings like the `job-name` in the case of cronjob pods and we also have labels for things like application name and application version. And every entry will have all of those strings. Also I must say that I'm skeptical ab

[2019-01-03 11:03] piontec opened #1551 "vertiacal-pod-autoscaler: how to configure for integration with prometheus?"
I'm running VPA 0.3.0 on k8s 1.10.11. I'm trying to find some docs that explain how VPA fetches metrics' history from prometheus. Which metrics and labels it expects to be present in prometheus? Currently, no matter if I give it a correct or incorrect prometheus URL in `--prometheus-address`, nothing is logged about prometheus queries or connections, even with `--v=8`.

[2019-01-03 11:18] bskiba commented on #1551
I think you also need --storage=prometheus
Otherwise this defaults to reading from checkpoints on startup.
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/main.go#L37

[2019-01-03 12:40] piontec commented on #1551
Thanks for the tip! Does it mean that VPA uses either CRD checkpoints or it stores checkpoints in prometheus (and reads them back from there), but not both at the same time? Does it read any custom metrics from prom or uses it only as a storage for data it got previously from metrics-server?

[2019-01-03 13:12] bskiba commented on #1551
VPA uses checkpoints or history from Prometheus to initialise on startup. With checkpoints, it writes them periodically to etcd. With Prometheus it doesn't store any metrics, but assumes Proemetheus is already set up to gather pod metrics from the cluster. It reads `container_cpu_usage_seconds_total` and `container_memory_usage_bytes`.
You can take a look at [this file](https://github.com/kubernet

[2019-01-03 13:12] tmwtp commented on #1537
Thank you very much @MaciekPytel !

I was double checking my configuration and it seems that the chart was initially deployed with static ASG name (including min & max values) and later we forgot to update that env to have dynamic ASG discovery like all other envs were updated.
I reinstalled the chart with the dynamic ASG discovery and verified there is no issue and that the config map does update

[2019-01-03 13:12] #1537 closed

[2019-01-03 20:05] #518 closed

[2019-01-04 14:11] aermakov-zalando commented on #877
/reopen

[2019-01-04 22:40] thereverendtom opened #1554 "Issue with Vertical Pod Autoscaler in Helm chart"
I have added the Vertical Pod Autoscaler to my k8s cluster (version 1.10.3), and I added several VPAs to one of my Helm charts. An example looks like this:

[code]

My first Helm deployment worked without issue and the VPA appears to be functioning as intended. However, upon my next Helm deployment (no change to the VPA - just an unrelated code change), I get the following error:

`Error: UPGRADE

[2019-01-05 01:31] hobbsh opened #1555 "cluster-autoscaler 1.2.2 not scaling AWS ASG to zero"
Hi,

I have been unable to get the cluster-autoscaler to scale one of my two autoscaling groups to zero. In this scenario, the `blue` worker group should be scaled to zero. It's very likely I missed something but have been unable to track down what that might be based on the documentation/information available on the internet.

I have tagged both ASGs with `k8s.io/cluster-autoscaler/node-template/

[2019-01-05 01:46] Jeffwan commented on #1555
I will have a look at this issue.

[2019-01-06 08:34] amitlt opened #1556 "cluster-autoscaler AWS "runtime error: invalid memory address or nil pointer dereference""
**kubernete version: 1.10.11**
**ca version: 1.2.2**

**instance type**: r5.large

[this issue](https://github.com/kubernetes/autoscaler/issues/1411) describes the problem being that the specific instance type isn't in the configuration, but looking into the `1.2.2` release i see that the instance type [does indeed exist](https://github.com/kubernetes/autoscaler/blob/cluster-autoscaler-release-1.2

[2019-01-06 09:02] Jeffwan commented on #1125
It's a very reasonable feature request. I will take a look at the change and evaluate the work.

[2019-01-06 22:18] Jeffwan commented on #1556
you checked code in branch cluster-autoscaler-release-1.2 but you use v1.2.2. This branch keep track of changes of v1.2.x and latest release is v1.2.3. There's an issue #1387 talking about release of v1.2.4 which will cut over recent changes to latest version. Then you can use v1.2.4 to address this issue.

@losipiuk Any plan to release v1.2.4? Looks like still lots of kubernetes 1.10 users. I can

[2019-01-06 22:20] Jeffwan commented on #1387
@aleksandra-malinowska  I'd like to help on v1.2.4 release. Looks like a few people #1556 want this change on Kubernetes 1.10. But I don't have permission. If there's a way for me to help, feel free to let me know.  Thanks!

[2019-01-07 03:27] tsu1980 opened #1558 "Cannot configure expander strategy in GKE"
### Description
I've created two node pools in GKE, preemptible(pool1) and non-preemptible(pool2) node pools. poo1 is used for stateless workload like web server, and pool2 is used for used for stateful workloads and fallback of the preemptible node. So I can make a more cost-efficient cluster.

But I struggled to configure to set high priority to pool1 that used when node pool scaling up.
AFAIK,

[2019-01-07 05:14] d-nishi commented on #1556
/assign @Jeffwan

[2019-01-07 06:58] Jeffwan opened #1559 "Nodegroup min/max should respect both explicit setting and ASG api return"
Cluster scaler supports explicit nodeGroup min/max setting from user like following,
[code]
The problem is user can try arbitrary min/max combination here. I think we should consider ASG API return as well at the time register asg. But it brings another problem once ASG min/max is updated on cloud provider side, explicitlyConfigured might be wiped. Could someone help verify if this is by design or

[2019-01-07 07:00] Jeffwan commented on #1555
I can not reproduce this issue easily.. Looks like you change nodegroup min/max to 0/0 in CA but I am not sure how's your ASG min/max setting. Based on the logs and config map status, your blue nodegroup has 3 nodes which can not be smaller than or equal to nodeGroup.MinSize().

Could you also share your ASG setting?

BTW, explicit node setting does have some issues. It's not just in v1.2.x but al

[2019-01-07 10:15] Rajat-0 commented on #1430
Its working fine with latest versiom.

[2019-01-07 10:15] #1430 closed

[2019-01-07 12:15] aleksandra-malinowska commented on #1559
I may not be 100% up-to-date on changes to AWS cloud provider, but IIRC by design manual configuration (passed via CA flag) overrides ASG settings. Flag can be skipped entirely by using auto-discovery mode.

[2019-01-07 12:17] aleksandra-malinowska commented on #1555
Manual min/max size override ASG settings, IIRC. Note that ASG limits will still effectively block scale-up (nodes will not come up) and scale-down (they'll be recreated).

[2019-01-07 12:18] aleksandra-malinowska commented on #1558
But I don't know what GKE uses. and GKE is not provided to configure this setting.

GKE uses only price expander, no worries :)

[2019-01-07 13:17] losipiuk commented on #1556
So far the CA lifecycle was the same as k8s. Therefore we consider CA 1.2 end-of-life (as k8s 1.10 is such). We were not planning on doing any official releases of CA from 1.2 branch.

If I find some time today I can prepare a release though, yet without any strong guarantees as I do will not have time for thorough testing. Are all the changes you need already on 1.2 release branch?

[2019-01-07 14:32] johanneswuerbach commented on #1398
Fixes for that should be released now. Could you verify @arjanschaaf?

[2019-01-07 14:57] bskiba commented on #1554
Unfortunately I'm not familiar with Helm at all, do you know what Kubernetes operation is performed on the VPA object when Helm deployment is executed?

[2019-01-07 15:18] glapark commented on #966
I wonder if emptying a node completely helps the autoscaler to quickly remove it. For interactive analytic applications, the default value of 10 minutes for --scale-down-unneeded-time seems too large.

[2019-01-07 15:50] glapark commented on #966
Thanks for the reply. At the moment, we are still implementing a new service and don't have any production-level experience with it yet (but will publish the result when it is ready).

[2019-01-07 15:54] raffaelespazzoli opened #1561 "vertical-pod-autoscaler: make the admission controller self registration optional"
currently the `vpa-admission-controller` self register itself as an admission controller to the master API.
As a consequence the vpa-admission-controller service account must have enough permissions to do so.
Security aware organization may have a problem with this set-up as the `vpa-admission-controller` main duty is not to register new admission controller it is just to set correct resources for

[2019-01-07 16:45] joshwand commented on #966
We spin up expensive high-memory instances on demand as slaves for our integration tests. The load is intermittent,  so that extra 10 minutes for 10-30 instances, multiple times a day, gets quite expensive.

[2019-01-07 16:48] aleksandra-malinowska commented on #1387
Released 1.2.4: https://github.com/kubernetes/autoscaler/releases/tag/1.2.4

@Jeffwan thanks! We haven't migrated to fully automated cloud builds from github yet, so the process is kind of tricky for now. I think there's a release engineering effort to fix it, but there are no guidelines for setting it up for add-on components yet.

[2019-01-07 16:49] #1387 closed

[2019-01-07 16:53] aleksandra-malinowska commented on #1556
Released 1.2.4: https://github.com/kubernetes/autoscaler/releases/tag/1.2.4

[2019-01-07 16:53] #1556 closed

[2019-01-07 16:54] aleksandra-malinowska commented on #1346
Thanks for fixing this!

[2019-01-07 16:54] #1346 closed

[2019-01-07 18:19] d-nishi commented on #1555
/sig aws

[2019-01-07 18:23] d-nishi commented on #1547
/sig aws

[2019-01-07 18:33] thereverendtom commented on #1554
It looks like this is an issue with how Helm handles CRDs: https://github.com/helm/helm/issues/2925. I need to add the VPA as a pre-install hook in the Helm deployment, as that is the recommended way to handle CRDs.

[2019-01-07 18:33] #1554 closed

[2019-01-07 18:44] Jeffwan commented on #1556
Thanks @losipiuk and @aleksandra-malinowska. For new features, I won't expect to merge back to v1.2.x, new instance types are most needed.

[2019-01-07 18:45] Jeffwan commented on #1387
@aleksandra-malinowska Thanks! The issue has a `good first issue` and then I thought I might be easy for contributors to make it. Now I get it.

[2019-01-07 18:46] aleksandra-malinowska commented on #1387
Right, sorry, this referred to fixing flaking tests.

[2019-01-07 19:01] alonl commented on #1298
/remove-lifecycle stale

Can we keep it fresh please?

[2019-01-07 19:39] hobbsh commented on #1555
@Jeffwan I change the ASG min/max setting using terraform-aws-eks module as well. It did not seem to matter if I used CA autodiscovery or static nodegroups - the instances did not scale down. The blue nodegroup has the discrepancy because the ASG setting and the CA setting were changed but no nodes were scaled down. The ASG is using proect_from_scale_in on the instances to make sure that the ASG d

[2019-01-07 19:47] aleksandra-malinowska commented on #1298
Two thoughts:

1. If any downtime of the application is unacceptable, even a couple of minutes, running only a single replica of it is very risky. I'd suggest reconsidering this setup before it fails.

2. Supposing that for improving the availability of a best-effort application this behavior could be useful, I wonder if it could be incorporated into eviction. Once eviction object is created while

[2019-01-07 20:56] johanneswuerbach commented on #1559
Yes, if the min and max is defined manually, those values will be used and not the actual ASG values.

Probably invalid values could be sanitized during the reconcile loop when getting the ASGs from AWS, but I‘m not sure what the expected behavior should be in in those cases. Auto-correct and log or log and crash?

What is your use-case for having defined  values, but still want to rely on ASG bou

[2019-01-07 21:21] Jeffwan commented on #1559
I think defined value should also respect ASG boundaries. Otherwise, it doesn't make sense and make CA behavior abnormally(scale up/down a nodegroup can not be adjusted).

CA managed range should inside range ASG manages. What's the reason to allow invalidate inputs?

 [            [ managed range by CA]               ]
 asg.Min   define.Min        define.Max       asg.Max

[2019-01-07 21:21] johanneswuerbach commented on #1555
The `cloudProviderTarget=0` in that `staging-k8s-worker-blue20180814211923516200000002` looks strange as this means that the CA thinks the ASG is already at 0 and therefor doesn't allow further instances to be terminated as this would bring the ASG to -1, which is less then the allowed minSize.

Sadly I don't really have an idea why the target size and the ASG could be out-of-sync :-(

[2019-01-07 21:30] johanneswuerbach commented on #1559
Yes, but what would you expect in this case to happen? Also the input might be only temporarily invalid as the CA can't influence if an ASG is updated via the console or API.

This sounds mainly like the autoscaler could log a warning in those cases and auto-correct the values temporarily, but that sounds more like an optimisation to failed scale attempts without an API call and shouldn't have any

[2019-01-07 22:10] Jeffwan commented on #1559
@johanneswuerbach True. It could be temporarily invalid and that's also my concern. What I expect is CA respect node config and ASG boundary in every loop. For example, if defined min/max is invalid in this round, it doesn't have to waste resource to try to scale Up/Down. Otherwise, it brings unnecessary errors either in CA and cloudprovider side.

I carelessly set minSize which is large than my c

[2019-01-07 22:46] johanneswuerbach commented on #1559
At my company we purely rely on ASG auto-discovery to avoid having multiple, potentially different, configurations for min/max values. If we want to change the values, we generally never touch the CA, but modify the ASG values directly which is reflected in CA after the next sync (max. 60s).

Afaik this manual specification options comes from the GCE origin of autoscaler as Google Managed Instance

[2019-01-07 23:04] johanneswuerbach commented on #1366
I'm not entirely sure cluster-autoscaler needs to do anything here, but your instances should be actually configured to only allow max IP address pods https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/#options.

A change for that was recently implemented in kops https://github.com/kubernetes/kops/pull/6058, but I don't know whether this is done in EKS by default.

The max p

[2019-01-07 23:20] Jeffwan commented on #1559
Thanks for the story. I like auto-discovery much better and it doesn't come with these confusions.
Let me double check code and see any improvement we can do there. I will not wipe user defined boundaries. At least, as you said, logs invalidate configurations and add guidance in documentation.

[2019-01-08 00:23] #1558 closed, assigned to nobody

[2019-01-08 01:22] hobbsh commented on #1555
@johanneswuerbach I am not sure what you mean. CA does see min/max at 0 but it sees 3 nodes are ready/registered - so how would it determine that the ASG is already at zero? That makes me think CA is just failing to respect maxSize or does not allow for 0 to be set. I have also tried this same scenario with autodiscovery and maxSize of 0 is also not respected to scale a nodegroup to 0. I would exp

[2019-01-08 06:08] johanneswuerbach commented on #1555
Yes, lowering the max size, doesn’t force instances to be terminated (unlike on AWS)

Why do you need to scale up and down manually? The CA should scale down automatically once there is enough free capacity to move pods to another nodes and manual intervention shouldn’t be required.

Could you explain a bit further what you are trying to do?

[2019-01-08 09:08] bskiba commented on #1561
That sounds like a very reasonable request and shouldn't be hard to set up.

[2019-01-08 09:31] Jeffwan commented on #1555
@hobbsh
Your ASG  "DesiredCapacity" is 0 but CA still have 3 registered nodes. I am not sure if you check EC2 instances or not. At that time, I think there's no node in blue group as all nodes are terminated by ASG.  For some reason, kubernetes cluster has not remove k8s nodes in time and CA fetches ASG setting, and get current size 0. Since 0 <= node setting.MinSize(). It shows `Skipping xxxx.us-

[2019-01-08 09:47] johanneswuerbach commented on #1555
In https://github.com/kubernetes/autoscaler/issues/1555#issuecomment-452055811 @hobbsh mentioned that he is using `protect_from_scale_in`, which would explain the difference in ASG current size and that there are actual nodes. I don't think `protect_from_scale_in` is currently supported by the autoscaler as it mainly relies on reported size of the ASG.

[2019-01-08 10:15] bskiba commented on #1551
Any luck? If you managed to set this up successfully, it would be extremely helpful if you wrote a short note on how you set it up that we could put in the docs.

[2019-01-08 12:19] okgolove commented on #1366
@johanneswuerbach hello, thank you for the feedback.
I have specified that option (--max-pods). It's exactly that thing I meant. As far I exhaust IP limit Kubernetes can't schedule any new pods. I meant it will be great if CA can handle these situations.

[2019-01-08 12:44] aleksandra-malinowska commented on #1559
Yeah, it was historically the only way to pass the limits. GKE doesn't use it either, but I believe it also makes it more friendly to implement support for a new cloud provider (which may not necessarily support any kind of scaling groups). As for the overriding use-case, IIRC ASGs prevent the user from manually setting the value outside of min/max autoscaling range. If true, the users may prefer

[2019-01-08 13:02] bskiba commented on #1548
@arjunrn @aermakov-zalando I'm still thinking on how best to approach this, we recognize this is a significant issue. I'll try to get back to you before the end of week. Also sorry noone was at the sig meeting yesterday to discuss! If you'd still like to attend next week, I'll be attending for sure.

[2019-01-08 13:04] aermakov-zalando commented on #1548
Please note that it's not just cronjobs. A lot of our users deploy multiple times a day sometimes recreating hundreds of pods at a time. We only use VPA for a couple of system components, so it's tons of RAM wasted for nothing.

[2019-01-08 14:14] aleksandra-malinowska commented on #1366
I believe scheduler's predicates checks max pods per node limit. If it's not the case, it's probably a bug.

Can you verify if your nodes indeed have this set? `kubectl get node <node-name> -o yaml`

[2019-01-08 17:06] hobbsh commented on #1555
@johanneswuerbach maxSize not forcing all instances to terminate is likely the crux of the issue. I want to maintain blue/green worker groups where at least one of the two will always be scaled down to zero. The main reason for this is to roll out new AMIs and other worker configuration changes. It has proven to be a very painless way of updating workers except for this last hitch with CA.

Beside

[2019-01-08 18:12] okgolove commented on #1366
@aleksandra-malinowska

[code]

Also I have a next option in kubelet-config.json:
```  "maxPods": 17```

[2019-01-08 19:10] aleksandra-malinowska commented on #1555
Limits constrain only _autoscaler_, not the user. E.g. if there's a spike way outside of expected operation range, user can manually resize the group without giving autoscaler permission to do the same, or having to disable it. Autoscaler enforcing size to its own minimum and maximum limits would only make such intervention more difficult.

As for the use-case of utilizing autoscaler to drain the

[2019-01-08 19:16] aleksandra-malinowska commented on #1366
Does CA ignore this (i.e. scale up assuming more than 17 pods will fit)? If so, any repro you have would be useful (sample pods etc.) Scheduler code looks fairly straightforwad, not sure what may be wrong here:/

[2019-01-08 19:20] hobbsh commented on #1555
CA looking for a specific tag on the ASG to scale to zero would be ideal for this use-case, otherwise telling CA what taint to observe would probably be more complicated than just cordoning a node group.

I understand that force termination may not fall under the umbrella of CA's purpose and if that is truly the case then [this doc](https://github.com/kubernetes/autoscaler/tree/master/cluster-auto

[2019-01-08 19:45] aleksandra-malinowska commented on #1555
This logic would have to be in CA core. Triggering it in an environment-independent way sounds more realistic, although cloud provider code could probably artificially set this on nodes as well.

No, it's intended to autoscale Kubernetes clusters in a scheduling-aware way (which is what traditional metric-based autoscalers are missing). Using more than one autoscaler to scale the same resource usu

[2019-01-08 20:39] aleksandra-malinowska commented on #1555
"Scaling to 0" here means "removing the last node from the node group because it's empty/underutilized". It's trivial, the only problem is scaling back from 0 - it needs to be implemented so it's not one way only.

[2019-01-08 20:40] aleksandra-malinowska commented on #1555
As for improving it, PRs are always welcome. Note that this is part of AWS cloud provider documentation and not really supported by any of the regular maintainers right now.

[2019-01-08 21:06] hobbsh commented on #1555
I'd be glad to take a stab at it, if nothing else to understand the internals more - however I have no Go experience so I may not be the best one to get a PR out anytime soon.

[2019-01-09 11:36] aleksandra-malinowska commented on #803
/remove-lifecycle rotten

[2019-01-09 12:12] losipiuk opened #1565 "Do not store NodeGroup object in ScaleUpRequest/ScaleDownRequest"
We recently changed the `ScaleUp/DownRequest` objects to hold reference to `NodeGroup`.
This is not a good idea as we do not guarantee that `NodeGroup` objects created by cloud provider are valid after alogorithm loop completes. We should get back to storing `NodeGroup` id instead and gracefully handle situation when node group for given id is no longer available.

[2019-01-09 12:19] DeliangFan opened #1566 "Add enableEvict flag for cluster autoscaler"
For scale down progress, we may need to disable evict for some condition. When enableEvict is disable, CA only need to taint the node. As long as the task finish, delete the empty taint node.

[2019-01-09 12:39] okgolove commented on #1366
Hm. It's strange, but when I tried to deploy 100 pods to my EKS cluster CNI wasn't able to assign IP to pods and these pods weren't in status "Pending" (I don't remember what status was).
But now when I deploy 100 pods I have a lot of pods in "Pending" status and CA scales my nodes correctly:

```Warning  FailedScheduling  8s (x7 over 39s)  default-scheduler  0/3 nodes are available: 3 Insufficien

[2019-01-09 13:59] okgolove commented on #1366
Oh, I've reproduced it!

[code]

[2019-01-09 14:03] aleksandra-malinowska commented on #1366
CA only makes sure there are enough nodes to schedule pods on. In this case, it seems pod was schedule, but kubelet wasn't actually able to run it. I'd look for the scheduling constraints that were supposed to prevent this and ensure they're in place. Perhaps 17 pods per node is too many in this case, or there's some global limit on number of pods?

[2019-01-09 14:19] okgolove commented on #1366
Thank you for your help.
As I think it is not CA problem.
This issue may be closed, if you think it should.

[2019-01-09 14:21] #1366 closed

[2019-01-09 15:17] aleksandra-malinowska commented on #1566
Is the idea to keep the node tainted so no new workloads arrive, and it'll be removed as empty? We're considering adding "soft" taints (PreferNoSchedule) to nodes that are not yet possible to remove, but underutilized. Combined with non-removable pods, would it work for your use-case?

[2019-01-09 16:05] bskiba commented on #1548
After some thought, I think we should go with what @aermakov-zalando suggested. Namely:
Introduce --memory-saving-mode flag for recommender. We would keep the default false for backwards compatibility. With --memory-saving-mode=true in the aggregateContainerStateMap we would only keep info on labelsets for which there are matching VPAs defined in the cluster.

We would probably be looking for some

[2019-01-09 17:34] MaciekPytel commented on #1133
cc: @losipiuk

[2019-01-09 22:02] mcrute commented on #1125
/remove-lifecycle rotten

[2019-01-10 01:40] DeliangFan commented on #1566
Yeah, that's it!

[2019-01-10 10:40] aleksandra-malinowska opened #1569 "Release Cluster Autoscaler 1.12.2"
To go with Kubernetes 1.12.5, we'll need to cut it on Monday, January 14th.

If you believe something should be included that isn't yet merged to cluster-autoscaler-release-1.12 branch, please link a PR with cherry-pick here. Short description of why it's needed would be welcome.

cc @feiskyer @ringtail @johanneswuerbach @Jeffwan

[2019-01-10 11:41] #1136 closed

[2019-01-10 11:44] ringtail commented on #1569
Thanks! @aleksandra-malinowska. Alibaba Cloud Provider doesn't have any left in this release.

[2019-01-10 21:47] williamhuangh commented on #1457
@aleksandra-malinowska @x13n @kawych bump

[2019-01-10 22:09] paulopontesm commented on #1507
solution:
`--set rbac.create=true`

[2019-01-10 23:22] Bessonov commented on #1050
/reopen
/remove-lifecycle rotten

C'mon guys, monolith support of some evil cloud providers isn't fair.

[2019-01-11 06:44] DeliangFan commented on #1566
@aleksandra-malinowska  I would like to implement this feature, may I take the implementation?

1. when scale down, check the node label, for example, soft-taint.
2. If the value of soft-taint is true, just taint the node.

[2019-01-11 11:00] aleksandra-malinowska commented on #1566
Thanks for offering to help :) Initial idea was to avoid adding extra controls (in form of node labels or otherwise) and just taint nodes that CA predicts it'll be able to scale down soon-ish. Let's sync with @jkaniuk as he was planning to work on this feature.

[2019-01-11 15:19] prageethw opened #1571 "EKS CA spin up too many instances than it really required and unable to scale in once scaled out"
1. I'm currently running 5 applications, installed using helm

[code]

2. I can run all these in KOPS cluster with CA barely with 2 t2.small instances with CA enabled.

3. When I run this in EKS it claims for at least 5 t2.small instances.

here are the logs from CA.

[code]
4. my CA helm instruction.

[code]

[2019-01-11 16:15] mgoodness opened #1572 "VPA: allow running outside kube-system namespace"
AFAICT there's no technical reason vertical-pod-autoscaler needs to run in `kube-system`. The only impediment today seems to be that the webhook self-registration has the namespace hardwired. May I submit a PR that allows the use of a `NAMESPACE` environment variable to override?

[2019-01-11 16:39] bskiba commented on #1572
Sounds absolutely reasonable, please go ahead.

I assume admission controller will accept a --vpa-namespace flag and the deployment files will use a similar overriding mechanism as currently used for REGISTRY and TAG:
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/hack/vpa-process-yaml.sh#L37

[2019-01-11 16:54] mgoodness commented on #1572
My thought in suggesting an environment variable is that the downward API could then be used to set the namespace.

We could add
[code]
to the admission-controller Deployment, eliminating any additional user-facing configuration.

[2019-01-11 21:48] hjacobs opened #1574 "Vertical Pod Autoscaler does not recover application from OOMKill loop"
I tried the Vertical Pod Autoscaler (VPA) with default settings and `updateMode: Auto` for more than a month and now have seen some disconcerning behavior: it reduced the memory requests/limits after some time and the application (which runs as a  single pod) went into `OOMKill` crashloop. Sadly the only way to recover was to set `minAllowed` for memory in the `VerticalPodAutoscaler` CRD.

Here th

[2019-01-12 13:35] prageethw commented on #1571
closing...

this is due to default nature of how CA enforce pod eviction...

refer here how I resolved this issue

https://github.com/kubernetes-incubator/kube-aws/issues/1253

[2019-01-12 13:35] #1571 closed

[2019-01-13 03:49] prageethw opened #1576 "Insufficient pods stops scaling-in confusing message-AWS EKS"
logs below

I0113 03:43:30.105993       1 cluster.go:222] Evaluation ip-192-168-75-46.us-east-2.compute.internal for test/tiller-deploy-7b584bf689-vzbn4 -> PodFitsResources predicate mismatch, reason: Insufficient pods
I0113 03:43:30.106018       1 cluster.go:222] Evaluation ip-192-168-84-242.us-east-2.compute.internal for test/tiller-deploy-7b584bf689-vzbn4 -> PodFitsResources predicate mismatch,

[2019-01-14 00:32] Jeffwan commented on #1576
@prageethw  could you provide more information. like your autoscaler configuration. nodes in your EKS cluster?

[2019-01-14 00:33] Jeffwan commented on #1569
Thanks! Nothing needs to be updated for AWS as I know. @aleksandra-malinowska

[2019-01-14 01:37] MaciekPytel commented on #1576
There is a limit of how many pods you can run per node (regardless of resources), you're hitting that limit. You can find that limit in the output of `kubectl get node <nodename> -o yaml`.

The message is coming from Kubernetes default scheduler code and there is not much we can do to improve it. Autoscaler works by importing scheduler code and treating it as black box to check if pod fits. It doe

[2019-01-14 02:30] MaciekPytel commented on #1050
There is an effort in progress to add support for Cluster API in cluster autoscaler, which would address this. There is still a lot of work to do - most importantly Cluster API lacks support for removing specific node (necessary for CA), but it's being worked on and should hopefully be available soon-ish.

[2019-01-14 07:09] feiskyer commented on #1569
Thanks. Nothing from Azure as well.

[2019-01-14 07:53] AmitDaniel-wsc opened #1577 "Autoscaler can't scale down node that is running heapster pod"
Hi all .

I'm using AKS version : 1.11.5
I installed Autoscaler version 1.2.2 and i can see that the scaling down always keep 1 extra node cause the "heapster" pod is running on this node .

**More info :**

This is all the pods that are running on this node :
[code]

**Autoscaler logs :**

[code]

**Autoscaler configmap :**

[code]

Do "Fix" manually this issue i'm running :
`kubectl drain <NODE>

[2019-01-14 07:59] hello2mao commented on #1577
@AmitDaniel-wsc
As you can see in the log "kube-system pod present: heapster-5d6f9b846c-5chxb", CA will not scale down node when kube-system pod present by default.

[2019-01-14 08:01] AmitDaniel-wsc commented on #1577
@hello2mao Ok . Can i do something to move automatically the system pods to 1 node ? cause now i have 2 nodes that in general i need only 1

[2019-01-14 08:02] hello2mao commented on #1577
See this: [How to set PDBs to enable CA to move kube-system pods?](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods)

[2019-01-14 08:18] AmitDaniel-wsc commented on #1577
Hi @hello2mao Thanks for your help .
Tried to create it using kubectl command but got an error .
`kubectl create poddisruptionbudget pdb-heapster --namespace=kube-system --selector app:heapster --max-unavailable 1`

**Error :**
`error: couldn't parse the selector string "app:heapster": unable to parse requirement: invalid label key "app:heapster": name part must consist of alphanumeric characters,

[2019-01-14 08:49] AmitDaniel-wsc commented on #1577
@hello2mao Ok sorry - My bad
I fixed that by changing the app -> k8s-app

[code]

Thanks !!

[2019-01-14 08:49] #1577 closed

[2019-01-14 09:46] calixwu opened #1578 "Why not to drain daemonset pods?"
I read the source code about the scaling-down part, and I found the cluster-autoscaler never drain the daemonset pods when scaling down. Wouldn't this cause problems?

[2019-01-14 12:32] aleksandra-malinowska commented on #1576
IIRC, some other issue mentioned EKS deployments have lower number of pods per node than allowed by open-source Kubernetes, due to limited IPs for pods. You may want to double check that when estimating how many nodes are needed.

[2019-01-14 12:34] aleksandra-malinowska commented on #1578
There's no point evicting DaemonSet pods, as they can't be scheduled on another node anyway. You're correct this means in particular we won't attempt any sort of graceful termination other than what kubelet may provide when shutting down. I'm not really sure if there's any mechanism we could utilize for it.

[2019-01-14 12:41] timv2 opened #1580 "Scaling up from 0 on EKS"
Hi,
I have the following setup
EKS with Kubernetes 1.11.5
Cluster autoscaler 1.3.5 with single ASG

I wonder,
since in EKS we have no access to a master node, we cannot use cluster autoscaler deployment on the master node. I'm wondering, when we scaled down to 0 and need to scale up, since there is no deployment, how will the cluster autoscaler ever know that there is reason to scale up?
I'm testi

[2019-01-14 12:48] aleksandra-malinowska commented on #1580
I'm testing it, and it's not working.

If Cluster Autoscaler is running in kube-system namespace, and there's no PDB for it, it should never delete the node where it is running. It should also never scale down the cluster to 0 nodes, are you sure this was Cluster Autoscaler's decision?

As for "no deployment" - if you're deploying it manually, you determine if it's running as a deployment or not.

[2019-01-14 13:07] timv2 commented on #1580
Right, I did not tell the whole story :s Sorry:

So, the scenario I'm in:
I have 4 node groups:
- cpu-always-on
- gpu-always-on
- cpu-spot
- gpu-spot

The latter 2 should be able to scale down to 0 and back up.
So I decided to run 2 autoscaler deployments, one with nodeselector for cpu-spot and one with nodeselector for gpu-spot.
Since I have some other nodes (in other nodegroups) running in the c

[2019-01-14 13:35] aleksandra-malinowska commented on #1569
Released now, thanks for response!

[2019-01-14 13:35] #1569 closed

[2019-01-14 13:40] timv2 commented on #1580
I was probably wrong is saying that it was the autoscaler that decided to scale down to 0. I retested:
I0114 13:31:25.185155       1 cluster.go:117] Fast evaluation: node ip-10-22-1-210.eu-west-1.compute.internal is not suitable for removal: failed to find place for kube-system/cluster-autoscaler-85869f5c4b-kw59k
(this test was using a cluster autoscaler deployment, while originally I used a daemo

[2019-01-14 13:41] aleksandra-malinowska commented on #1580
Before concluding this, can you say what's the reason for running multiple instances of Cluster Autoscaler? One is usually enough to scale a cluster, and scaling groups to and from 0 is supported as well.

[2019-01-14 13:48] timv2 commented on #1580
My idea was to scale 1 node group for which I have node selector 'cpu_spot' separately from another node group with node selector 'gpu_spot'.

Functionally processing jobs come in randomly during the day, and we want to have scale the node groups because these jobs can run up to an hour and we have the requirement to start them immediately. Some jobs require cpu, others need gpu. Hence 2 cluster a

[2019-01-14 13:52] aleksandra-malinowska commented on #1580
Why not put Cluster Autoscaler on cpu-always-on group (or another group for infrastructure/kube-system pods)? Then it can scale other groups from there.

Assuming the CPU jobs are banned from GPU nodes (e.g. by the use of taints), Cluster Autoscaler should scale the correct group out-of-the-box. For correct handling of scale from 0 with GPUs, you may need to temporarily add the GKE-specific label

[2019-01-14 14:06] timv2 commented on #1580
Ok, that's a very good idea. Understanding more the possibilities, I will handle it like that.
I will figure our taints.
I will use multi-ASG.
Thanks for the hint about GPU.

[2019-01-14 15:42] arjunrn opened #1581 "Nil deference in OOMObserver"
https://github.com/kubernetes/autoscaler/blob/7c629c1e1701ed11349c7162b0edabb755846177/vertical-pod-autoscaler/pkg/recommender/input/oom/observer.go#L151

There is a nil deference at this point with the stack trace:

[code]

An initial look suggests that `Terminated` is a pointer type and it could not be set which causes the panic.

We see this occasionally in the logs and I could co-relate it wit

[2019-01-14 17:47] Jeffwan commented on #1580
Many users follows the way @aleksandra-malinowska mentioned on EKS, Since you have multiple ASG, you can already deploy CA on always running one and use it to scale up/down from/to 0 for Spot Instance group.

GPU support is a little bit tricky on EKS. Without label, you will see nodes scale up too much.  Please follow the way. I am on that task and will update documents for GPU users here. https:/

[2019-01-14 17:50] Jeffwan commented on #1580
@aleksandra-malinowska Could I assign this issue to me? I will update CA aws documentation.

[2019-01-14 17:58] aleksandra-malinowska commented on #1580
Done. Although we don't really rely on "assignee" field much, feel free to send a PR in the future even if you're not assigned;)

[2019-01-14 17:59] Jeffwan commented on #1576
That's true. That's because the CNI implementation on EKS. Max pods number is limited by the network interfaces attached to instance multiplied by the number of ips per ENI - which varies depending on the size of instance. It's apparent for small instances, this number can be quite a low number.

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI

[2019-01-14 19:30] #1572 closed

[2019-01-15 02:52] MaciekPytel commented on #1578
Note CA only respects graceful termination of up to 10 minutes anyway. Evicting daemonset pods if we're draining a node probably wouldn't be difficult, but the empty nodes case is a large issue. A lot of people rely on the fact that they're deleted in parallel and changing that would be a huge regression.

[2019-01-15 03:07] calixwu commented on #1578
@MaciekPytel
Could we do these to solve the empty-nodes issue? :
1. We ignore the daemonset pods when we try to find out the empty nodes.
2. We do not ignore the  daemonset pods when we try to delete the empty nodes. Then add the "delete traint" to the empty nodes and evict the daemonset pods in parallel, after the empty nodes being actually empty (no daemonset pods on them), we call the cloud pro

[2019-01-15 08:30] jonathanbeber commented on #1449
@losipiuk @shatil shouldn't it be closed once #1490 is merged?

[2019-01-15 09:13] losipiuk commented on #1449
Yeah, closing. Thanks.

[2019-01-15 09:13] #1449 closed

[2019-01-15 10:38] aleksandra-malinowska commented on #1578
It may be harder than we think. We wait for pods to be scheduled back onto some other nodes, but with DaemonSet, each pod has a node selector for a particular node, and we don't want it to run anymore. These pods also seem to ignore the fact that node is not ready or unschedulable (which of course makes sense when starting a node that requires a DaemonSet to be ready), so they may just be schedule

[2019-01-15 11:07] calixwu commented on #1578
@aleksandra-malinowska That's because "node.kubernetes.io/not-ready" and "node.kubernetes.io/unschedulable" toleration, also see: https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations. If we use a custom taint, it won't be scheduled back, I think.

[2019-01-15 11:09] calixwu commented on #1578
Also agree to investigate how `kubectl drain -ignore-daemonsets=false` works.

[2019-01-15 11:18] timv2 commented on #1580
Thanks,
I have tested and it works perfect for cpu.

For gpu, scale up from zero seems not correctly working, but I will test in detail and let you know my findings

[2019-01-15 13:41] timv2 commented on #1580
Success for gpu as well (indeed needing the node label)

[2019-01-15 13:41] #1580 closed

[2019-01-15 13:49] aleksandra-malinowska commented on #1580
Glad to know it works for you :)

[2019-01-16 11:12] Rajat-0 commented on #1561
I would like to work on this

[2019-01-16 11:16] calixwu commented on #1503
You probably can use HPA  + CA.

[2019-01-16 11:31] bskiba commented on #1561
Great! Feel free to send PRs my way.

[2019-01-16 11:39] schylek commented on #1581
Thank you for reporting this! I have prepared a PR #1585 with a fix.

[2019-01-16 12:42] arjunrn commented on #1581
@schylek Thanks for fixing the issue

[2019-01-16 12:42] #1581 closed

[2019-01-16 14:35] phspagiari commented on #1133
👍 using `1.2.4` (K8S `1.10.12`) we had problems using spot and ondemand nodepools. CA tries (ad infinitum) request a spot (even with the `price-too-low` state) and never fallback to the next nodepools (ondemand).

[2019-01-16 19:43] ChrisCooney commented on #735
We'd really make use of something like this.

[2019-01-16 19:50] MaciekPytel commented on #735
We have a documented approach using pod priority and preemption: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler.

Pod priority is enabled by default in all supported k8s versions (ie. 1.11 and later), so it should just work out of the box.

[2019-01-16 23:05] qw1mb0 opened #1588 "Updater not set resources request on pods"
I installed VPA 0.3.0 in a cluster 1.10.8 on two nodes and a master in GCE.

Have enabled MutatingAdmissionWebhook:
[code]
and enabled api:
[code]

And I wanted to check his work by applying such yaml:
[code]

It's deployed to cluster:
[code]

Every 1m one of pod recreate and I see on **Updater** logs:

[code]

See that vpa can fetch metrics seen on VPA object:
[code]

But every new pod have old r

[2019-01-17 08:54] bskiba commented on #1588
Do you have logs from admission controller? If the pods are restarted but not modified, there is something wrong with vpa-admission-controller.
`kubectl get logs -n kube-system vpa-admission-controller`

Can you also paste output of `kubectl describe mutatingWebhookConfiguration vpa-webhook-config`? This will tell us if the webhook is correctly registered with the API server.

[2019-01-17 09:59] qw1mb0 commented on #1588
Logs for admission-controller:

[code]

And `kubectl describe mutatingWebhookConfiguration vpa-webhook-config`:

[code]

I think that this config is wrong:

[code]

I want to install VPA to another namespace. Can i do it?

[2019-01-17 10:01] Deepak1100 commented on #1049
Hi we are also facing the same issue. and its very frequent if we scale from 100 to 200 pods instantly

[code]

is it fix or is there some workaround apart from deleting node

[2019-01-17 10:05] calixwu opened #1590 "Masters should be considered for reschedulable pod when scaling down"
I read the source codes about the scaling-down part. I found that the autoscaler filter out masters when it "FindNodesToRemove" at "TryScaleDown" call:
[code]

I think it should pass "allNodes" instead of "nodesWithoutMaster", as some people may allow master node to be schedulable for normal pods.

[2019-01-17 10:07] aleksandra-malinowska commented on #1049
If restarting scheduler helps, it's probably a cache issue. If it doesn't, one additional thing to check may be to look for pods with nominatedNodeName field set. On newer Kubernetes versions (1.11 and later), sometimes scheduler's preemption logic incorrectly marks node as nominated for a pod, but that pod is starved and never scheduled (blocking the space from being used ~forever).

[2019-01-17 10:10] bskiba commented on #1588
https://github.com/kubernetes/autoscaler/pull/1573 added support for configurable namespace for the webhook, but it is not included in 0.3.0 release. You can try to build your own VPA from head, or wait a bit and we can work to have this included in version 0.3.1

[2019-01-17 12:11] aleksandra-malinowska commented on #1590
That's an unorthodox approach. Why would you do that? Master node running random pods sounds like it could lead to destabilizing the cluster (e.g. kubelet killing random component when it runs out of resources, then not being able to start it again if another pod claims these resources).

[2019-01-17 13:28] gjasny opened #1591 "Binary in docker image of cluster-autoscaler:v1.3.5 does not match source code"
I tried to use cluster-autoscaler version 1.3.5 with the Docker image at `gcr.io/google-containers/cluster-autoscaler:v1.3.5` on AWS. I got strange error messages saying it tried to call `DescribeLaunchConfigurations` and the `LaunchConfigurations` parameter was an empty list (or list of an empty string). This is weird because the auto scaling groups it complained about use LaunchTemplates, not La

[2019-01-17 16:12] aleksandra-malinowska commented on #1591
That sounds worrying. We'll take a look, thanks for reporting this.

cc @losipiuk

[2019-01-17 16:20] aleksandra-malinowska commented on #1591
Looks like the `v1.3.5` tag is on the master branch, not on `cluster-autoscaler-release-1.3` :/ This is certainly not as intended. It should point to [commit updating version to 1.3.5](https://github.com/kubernetes/autoscaler/commit/0b7a14651e9f1e4be4c3464b4ca4fb30b0542efe)).

I'll double check, but if the tree at that point contains the code you'd expect from the image, my suspicion is that the r

[2019-01-17 16:31] #1588 closed

[2019-01-17 16:40] MaciekPytel commented on #1591
Sorry, my bad. I accidentally put tag on wrong branch.

[2019-01-17 19:01] devkid commented on #1591
Colleague of OP here. @aleksandra-malinowska @MaciekPytel Do you mean that the Docker image was correct and the tag in git was wrong or vice versa? If the Docker image is correct, does that mean that 1.3.5 does not support Auto Scaling Groups with Launch Templates? According to the `README.md`, we need to use 1.3.x for Kubernetes 1.11, would that mean we cannot use ASGs with Launch Templates?

[2019-01-17 19:21] MaciekPytel commented on #1591
Tag is wrong, image is right. 1.3.5 release was done from commit 0b7a14651e9f1e4be4c3464b4ca4fb30b0542efe. I don't use amazon and I'm not too familiar with amazon specific features, but if Launch Templates were added after 1.11 release they're probably not supported in CA 1.3.

CA uses baked-in scheduler code to predict how the scheduler in your cluster will behave. If you use CA based on differen

[2019-01-17 22:08] MaciekPytel commented on #1591
Officially we only accept bugfixes, but for cloudprovider-specific changes we've always been more liberal. If you get an AWS contributor (ex. @sethpollack, @Jeffwan) to review it I'm ok with cherry-picking it.
One condition is if the feature is not available in newer releases (1.12, 1.13) you must also cherry-pick it to those, so there is no regression in those versions.

[2019-01-18 01:54] ankrause opened #1592 "Azure VMSS scale fails when the scale set includes user-assigned identities"
CloudProvider: Azure (VMSS)
Kubernetes version: 1.13.1
CA Version: v1.13.1

When running the Cluster Autoscaler in a K8S cluster using VMSS, scale operations fail if the target VMSS instance contains user-assigned identities. AAD Pod Identity will add this type of identity on behalf of the user if configured, but there may also be other scenarios.

[code]

This can be resolved by nulling the ident

[2019-01-18 02:12] calixwu commented on #1590
I know master node running random pods is bad. But k8s allows this happens, I just thought CA may better be consistent with it in case some people do run it in this way..

[2019-01-18 03:58] ankrause opened #1593 "Cluster Autoscaler cannot parse Windows VMAS agent pool created by AKS-Engine"
CloudProvider: Azure
Kubernetes version: 1.13.1
Cluster Autoscaler version: 1.13.1
AKS-Engine version: 0.28.1 and 0.29.1

I deployed a hybrid cluster to Azure using AKS-Engine with VMAS-based agent pools and small initial node counts (2 and 2). The resulting VM names followed the format {4 digits}k8s{3 digits}, where the last digit was the instance number which could presumably grow beyond a singl

[2019-01-18 10:34] messiahUA commented on #1049
@Deepak1100 as a workaround I can suggest to also try killing scheduler leader in such a way that leadership would transfer to another pod.

[2019-01-18 11:11] aleksandra-malinowska commented on #1049
Workaround: clear up this field in the pod or delete this pod.

Long-term solution: wait for it to be fixed in patch release (1.11.7 looks promising, but we haven't confirmed yet) and upgrade once it's available.

[2019-01-18 11:38] aleksandra-malinowska commented on #1593
cc @feiskyer

[2019-01-18 11:40] aleksandra-malinowska commented on #1592
cc @feiskyer

[2019-01-18 11:50] aleksandra-malinowska commented on #1591
Tag is now fixed: https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.3.5

No change to image as that seems to have been built from correct commit.

[2019-01-18 11:51] Deepak1100 commented on #1049
@messiahUA  I have tried deleting scheduler pods leader and all scheduler pods as well but CA didn't do anything. neither did Kube-scheduler.
@aleksandra-malinowska we are on 1.12.1. so I assume that patch you are talking about will come for 1.12 CA version as well?

[2019-01-18 11:52] messiahUA commented on #1049
@Deepak1100 make sure leadership has been taken by another pod. If you are simply deleting pods same leader can continue its work. If you are sure that another scheduler became leader and you still have the problem, then I have no more suggestions unfortunately.

[2019-01-18 11:59] aleksandra-malinowska commented on #1049
Yes, fixes related to it are being backported to 1.11, 1.12 and 1.13.

If these pods have nominatedNodeName set, restarting scheduler simply won't be enough. The issue is rather complex - a combination of race condition causing the system to get into this state and starvation preventing it from getting out of it. Newer patch releases should behave better (especially with regards to recovering), bu

[2019-01-18 12:43] fog1985 commented on #1398
I have a pretty similar issue. But in my case, it just doesn't respect anything at all. :(
I have put minSize=3 and maxSize=50. Used helm chart 0.9.0 and in its turn it used cluster-autoscaler image: 1.12.0.
After this, I got my AWS ASG set to minSize=2 and maxSize=2. So it has access and some kind of logic.
But why it ignores min and max that I put - have no idea.

Here is deployment config file:

[2019-01-18 13:12] fog1985 commented on #1398
I have a pretty similar issue. But in my case, it just doesn't respect anything at all. :(
I have put minSize=3 and maxSize=50. Used helm chart 0.9.0 and in its turn it used cluster-autoscaler image: 1.12.0.
After this, I got my AWS ASG set to minSize=2 and maxSize=2. So it has access and some kind of logic.
But why it ignores min and max that I put - have no idea.

Here is deployment config file:

[2019-01-18 13:39] fog1985 commented on #1398
Well. I just starred real domain name. Of course I don't use stars ))
I have normal domain name in it.

[2019-01-18 13:44] aleksandra-malinowska commented on #1398
That's irrelevant. If you pass 3:50 via command line flag, it will override remote settings for that group.

[2019-01-18 13:47] fog1985 commented on #1398
Hy @aleksandra-malinowska ,

What you mean by saying irrelevant?
Doesn't matter what I pass in a command line it just doesn't change AWS's ASG configuration.

Regards,
Taras.

[2019-01-18 13:57] aleksandra-malinowska commented on #1398
Perhaps I misunderstood - I thought you meant that setting from ASG (min=2, max=2) aren't respected by Cluster Autoscaler. If not, what is the actual behavior, and what is the expected behavior?

[2019-01-18 14:02] fog1985 commented on #1398
**Actual behavior:** when I set AWS's ASG min and max size to some parameters it's not get propagated to AWS.
**Expected behavior:** AWS's ASG size reflects changes I do with `cluster-autoscaler` usage.

[2019-01-18 14:13] aleksandra-malinowska commented on #1398
Do you mean when you change Cluster Autoscaler's deployment (min=3, max=50), or when you set the value in ASG (min=2, max=2)?

I don't think it's the intended behavior, these limits apply to Cluster Autoscaler's actions only (unlike ASG limit, which if I understand correctly also acts as a sort of "self-imposed quota" for the user).

[2019-01-18 14:19] fog1985 commented on #1398
I mean that I don't touch AWS's ASG manually.
I only use cluster-autoscaler and it's parameters to make an influence to AWS's ASG.

@aleksandra-malinowska, so what you are saying is when I apply new ASG's parameters using cluster-autoscaler I will not see new ASG's size on AWS side? And only when cluster-autoscaler decide to change it it will chaneg AWS's ASG size?

Am I right?

Cuz to me it looks

[2019-01-18 15:06] aleksandra-malinowska commented on #1398
Autoscaler will change the ASG's _size_ (current number of instances) based on demand. I don't think it's supposed to change the ASG's _limits_.

Extra setting in the autoscaler is intended to allow setting limits for the autoscaler, different than the ones for the user manually scaling ASG. If you only want the autoscaler to use the limits from ASG, use autodiscovery and configure the limit there

[2019-01-18 15:12] fog1985 commented on #1398
And how will autoscaler change number of the instances in ASG without changing its limits? I am tlking about case where I use provide ASG name to autoscaler. Not autodiscovery.

[2019-01-18 15:20] bskiba commented on #1574
@hjacobs
From your blog:

Can you elaborate more on what you were observing? Was the container constantly being restarted? If this is the case and the crashloop was reflected in the pod status, VPA should actually be handling this as I mentioned above. If it isn't working, we should look into it.

Reiterating my previous question to make sure we are on the same page, are you using the 0.3.0 versio

[2019-01-18 15:30] aleksandra-malinowska commented on #1398
Not sure what you're asking here. As far as I'm aware those are two different operations.

Some configurations (like setting more restrictive limits in ASG than on the autoscaler's side) may well be invalid. That doesn't mean it's not working as intended, only that documentation should mention it. If it doesn't, feel free to update :)

[2019-01-18 16:04] seeruk commented on #1471
I'm experiencing something like this now. I have a cluster running in EKS. My nodes are running in an ASG using the Cloudformation stack provided by Amazon, this doesn't enable any scaling policies on the ASG, so I believe the only thing controlling whether the desired capacity of the ASG changes is the CA.

My cluster currently never has nodes that are older than about 15 minutes, because it's st

[2019-01-18 16:45] arjunrn commented on #1574
@bskiba Yes, we are using the 0.3.0 version. Also I guess the OOM kills are not picked up after the OOMObserver panics after the nil dereference. But hopefully that's fixed with #1585.

[2019-01-18 16:47] aleksandra-malinowska commented on #1471
Can you check events with `$ kubectl get events | grep cluster-autoscaler`? This should give you information about recent (less than 1 hour ago) scale down activity. If Cluster Autoscaler removed a node, there should be an event for it. You can also verify it looking for the node's name in logs (if they're exported somewhere before the instance is lost).

In general, it's unlikely that autoscaler

[2019-01-18 16:48] bskiba commented on #1574
@arjunrn ThankS!
Ah, I was worried that might be the case. All the more reason to cut a new release, I'll try to work sth out beginning next week.

[2019-01-18 16:58] fog1985 commented on #1398
Thanks @aleksandra-malinowska  for such prompt replies and helpful hints. I will keep testing cluster-autoscaler. Maybe I just misinterpret how it should behave an interact with AWS's ASG.

Regards,
Taras.

[2019-01-18 17:17] aleksandra-malinowska commented on #1471
This message sounds as if the group was set to keep the number of instances constant (presumably at 2). So whenever Cluster Autoscaler adds a node (as indicated by events), ASG would terminate one of the instances.

If I understand correctly, the way to configure the ASG is to disable autoscaling activity, but leave minimum/maximum limits such that autoscaler can do its job. Can't advise how to do

[2019-01-18 17:19] seeruk commented on #1471
Hmm, from what I understand you have the min, max, and desired capacity, and the cluster autoscaler works by updating that desired capacity. This part is working fine at the moment.

After some investigation, I'm beginning to wonder if it could be the ELB that's pointing at Istio Ingress Gateway's health check, as right now it's saying that the instance it's pointing at is unhealth (despite it bei

[2019-01-18 17:32] seeruk commented on #1471
Found the problem. Another developer in our team has been using the same infrastructure code to spin up a K8s cluster, and had forgotten to update a variable. So it turns out the cluster autoscaler in his cluster was set to scale the ASG in my region. This left the two cluster autoscalers to battle against each other, one shutting down nodes it deemed unnecessary, the other bringing back nodes to

[2019-01-18 17:34] devkid commented on #1591
Thanks!

[2019-01-18 18:51] hjacobs commented on #1574
@bskiba thanks!

[2019-01-18 19:44] max-radin commented on #1520
Ideally node affinity would be sufficient, but in practice the daemonset pods sometimes takes a very long time to start due to errors with the network plugin or other problems. I was hoping to use interpod affinity to force non-daemonset pods to wait for the daemonset pod to start running.

I'll look for alternative solutions since it seems like pod affinity may not really be the right way to addr

[2019-01-19 07:15] feiskyer commented on #1593
@ankrause Thanks of reporting the issue. It should be fixed with latest aks-engine pattern.

[2019-01-19 07:15] feiskyer commented on #1592
Thanks of reporting the issue. @jackfrancis How do we handle this in aks-engine?

[2019-01-20 10:38] netiperher opened #1597 "Azure AKS cluster autoscaler doesn't support bulk removal of empty nodes"
CloudProvider: Azure AKS
Kubernetes version: 1.11.5
Cluster Autoscaler version: 1.3.5 and current master
ACS-Engine version: v0.26.3-aks

In our setup we run an Azure AKS cluster with multiple nodes that each run a single pod requiring all resources on the node. The pods are part of a statefulset that we scale quite aggressively from 2 to 20 and then back to 2 replicas at regular intervals.

When

[2019-01-21 10:07] losipiuk commented on #1133
With recent code changes `cloudprovider.NodeGroup.Nodes()` returns `Instance` objects. The intention of this method is to return an `Instance` object for not only running nodes but also those which are being crated or deleted. Additionally, for nodes which are being created (with `Status.State==InstanceCreating`), `ErrorInfo` can be provided. The core logic now reacts to errors specified via `Erro

[2019-01-22 07:42] Jeffwan commented on #1471
Sounds good. @seeruk
1. I notice lots of AWS users are confused about min/max/desired setting in CA.  I would suggest to auto discovery and adjust values directly on ASG.
2. Have role policy is great, or you can use different cluster tag in CA node group auto discovery.

https://github.com/kubernetes/autoscaler/blob/c79cbff1638e0ca10be66bbe62e891329bdcf31d/cluster-autoscaler/cloudprovider/aws/exam

[2019-01-22 10:55] seeruk commented on #1471
Hi @Jeffwan

We're currently using the auto-discovery with those tags, the other developer had just left the `awsRegion` value in the Helm chart pointing at the region my cluster was in. The name of the cluster he'd made was the same as mine, just in a different region, so his CA ended up looking at the ASG in my region via the auto-discovery.

I've limited the policy we create so that the role th

[2019-01-22 12:44] wyb1 commented on #1551
I setup the VPA to use prometheus. I set `--storage=prometheus` and `--prometheus-address=http://prometheus.default.svc.cluster.local:9090` Looking at the logs it looks like the vpa-recommender is using prometheus.
@bskiba is there any reason you are using `container_memory_usage_bytes` over `container_memory_working_set_bytes`? I found that `container_memory_working_set_bytes` delivers more accur

[2019-01-22 17:01] aleksandra-malinowska commented on #1049
Allocatable CPU of node quoted is the same as capacity, i.e. 4. So yes, from autoscaler's perspective putting the pod there makes sense. Whether allocatable = capacity makes sense is another question :)

What's not clear is why scheduler disagrees. If there are pods with nominatedNodeName, it would explain it. Can you check for these?

[2019-01-22 18:46] harshal-shah commented on #1049
@aleksandra-malinowska nothing in the nominated node column. and yes allocatable = capacity does not make sense. there are kubelet flags to govern this but we are using defaults. looking at memory numbers we can see some memory is being held back, this might be clearer if the cpu units were shown in milicore.

[2019-01-22 20:43] williamhuangh commented on #1457
@aleksandra-malinowska @x13n @kawych

[2019-01-22 23:05] anoopl opened #1602 "[Azure AKS] Not scaling up with error autoscaler.go:283] Failed to scale up: Could not compute total resources: No node info for: nodepool1"
AKS Kubernetes Version: 1.11.5
CKA Vesrion: 1.3.5

Initially I had only 2 nodes and the minimum size was 3. It scaled up to 3 nodes successfully.
But it's not scaling up after this. I have maximum nodes 10

Yaml used:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/cluster-autoscaler-containerservice.yaml
Few log lines:

I0122 22:54:44.226319       1 uti

[2019-01-23 09:11] ringtail opened #1604 "Support recycling mode node group"
In Alibaba Cloud. There is a kind of node group that can recycle nodes without deleting them. These nodes can be stopped without any payment and start at any time you need. But if the ECS inventory is empty. These nodes will be deleted from node group and replace by a new one. So if we use recycling mode node group with CA. Some nodes will be never deleted  because they are `notReady` and not in a

[2019-01-23 09:11] kawych commented on #1457
Me and @x13n don't maintain this repo anymore. Filed #1603 to update the OWNERS. @aleksandra-malinowska should have a better idea who can own this issue.

[2019-01-23 09:38] ringtail commented on #1604
@feiskyer @MaciekPytel @Jeffwan

[2019-01-23 10:16] aermakov-zalando commented on #1515
We're migrating to 1.12, and this actually doesn't happen in practice. It looks like the actual state of unready nodes is ignored and a template node is substituted instead in https://github.com/kubernetes/autoscaler/blob/7f6344ef2a48fa64c9c0ae5a257f642eabdc0de5/cluster-autoscaler/core/scale_up.go#L288, so it works correctly.

[2019-01-23 12:15] MaciekPytel commented on #1604
Can you explain in more detail how it works and what you'd like CA to do?

[2019-01-23 12:43] ringtail commented on #1604
In recycling mode node group. It will create nodes when scaling up nodes. And when the nodes are unneeded, it will stop the nodes instead of deleting nodes. And the second time, it will just start a node  in a few seconds. Here is the workflow about recycling mode node group.  So that we can reduce a lot of time in scaling up. But recycling mode node group can promise the node can start successful

[2019-01-23 12:50] MaciekPytel commented on #1604
Won't NodeController remove those node objects if VM is not responding long enough?

[2019-01-23 12:59] ringtail commented on #1604
NotReady is not the only reason for deleting. If this node is in node group and stopped,NodeController should not remove it.And I wonder to know if GKE have the similar node group or is that the unique scene for Alibaba Cloud.

[2019-01-23 16:53] #1508 closed

[2019-01-23 18:49] glasser opened #1607 ""it wouldn't fit if a new node is added" scale-up failure message can be misleading"
As the FAQ says, there are several reasons that scale-up might not happen:

When the "all suitable node groups are already at their maximum size" case occurs, the failure message (eg, in the NotTriggerScaleUp event on the pod) says `pod didn't trigger scale-up (it wouldn't fit if a new node is added)`.  (This is based on having just experienced this on GKE with a pod that wants a certain type of n

[2019-01-23 19:00] MaciekPytel commented on #1607
In a way CA doesn't actually know why the pod doesn't fit - it uses scheduler code as a black-box to check if the pod fits on the node or not. It doesn't understand what the criteria are, it just gets a yes/no answer. There is only so much we can do with that.
That being said in 1.12+ NotTriggerScaleUp event actually contains the information why the pod didn't fit that we got back from scheduler.

[2019-01-23 19:32] glasser commented on #1607
Ok, so you're saying that something like my "if the code structure" suggestion in the last paragraph is coming in 1.12? (GKE is not quite on 1.12 I believe.) That's great to hear!

[2019-01-23 19:32] glasser commented on #1607
Or I see, sounds even better than the static string I'm suggesting. If so, very happy to close this!

[2019-01-23 23:39] glasser commented on #1607
Yep, looks like https://github.com/kubernetes/autoscaler/pull/1188/ implements exactly what I'm looking for (including the max size reason). Thanks @aleksandra-malinowska !

[2019-01-23 23:39] #1607 closed

[2019-01-24 02:56] ringtail commented on #1604
I got it. In cloud-controller-manager, it will check the node exists or not. if the node doesn't exist and it will remove the providerId and NodeController will recycle the Node. Maybe i just need to add some code into cloud provider to filter the stopped node.

[2019-01-24 02:56] #1604 closed

[2019-01-24 08:58] suker200 opened #1608 "Azure InstanceType case sensitive"
Hi,
I met an issue relate to case sensitive instance type in Azure response.

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_scale_set.go#L429
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/azure_instance_types.go#L640

The value of "*template.Sku.Name" is : Standard_D8_V3
But the key of "InstanceTypes"

[2019-01-24 09:32] bskiba commented on #1551
@wyb1 This is good to know, would you maybe have time to add a short note on how to set this up in the [FAQ](https://github.com/kubernetes/autoscaler/vertical-pod-autoscaler/faq.md)? It would be very helpful to other users!

wrt the metric used, no specific reason I know of, I know the CPU metrics is also not used in a correct way (#1501). Talking to someone knowledgable about prometheus @ k8s to

[2019-01-24 09:32] frederiksf commented on #1431
Question: How will CA find out which node group belongs to a specific asg zone? Will it read the AWS ASG specific zones ( aws api "DescribeAutoScalingGroups")?

[2019-01-24 18:52] coreywagehoft commented on #1592
@ankrause are there any updates for this?  When could we expect a patch?

[2019-01-25 03:22] JinAirsOs opened #1611 "cluster-autoscaler-release-1.12 make build failed"
when i run it on mac os,
$make build
rm -f cluster-autoscaler
go get github.com/tools/godep
GOOS=linux godep go build ./...
vendor/github.com/google/cadvisor/accelerators/nvidia.go:30:2: build constraints exclude all Go files in /Users/kerry/go/src/k8s.io/autoscaler/cluster-autoscaler/vendor/github.com/mindprince/gonvml
godep: go exit status 1
make: *** [build] Error 1

[2019-01-25 06:53] yuriwoof opened #1612 "[Azure,AKS] All agent node deleted from autoscaler using v1.3.4"
Hi, my customer found all agent node in AKS cluster (k8s version is 1.11.5) was deleted.
I confirm that last node was delete from autoscaler though operation log in Azure side.

[code]

I cannot reproduce this issue, but could I ask how to mitigate this issue (e.g. use another version, etc)?
Following is manifest file.

[code]

[2019-01-25 09:09] feiskyer commented on #1592
Yep, a patch is required to fix the issue.

[2019-01-25 11:24] drewhemm commented on #351
I am using the `cluster-autoscaler.kubernetes.io/safe-to-evict=true` annotation, but I am still seeing messages like this in the autoscaler logs:

[code]

Am I doing something wrong?

[2019-01-25 11:28] drewhemm opened #1614 "cluster-autoscaler.kubernetes.io/safe-to-evict=true annotation not working"
I am using the `cluster-autoscaler.kubernetes.io/safe-to-evict=true` annotation, but I am still seeing messages like this in the autoscaler logs:

[code]

[code]

Am I doing something wrong?

_Originally posted by @drewhemm in https://github.com/kubernetes/autoscaler/issues/351#issuecomment-457542906_

[2019-01-25 11:39] aleksandra-malinowska commented on #351
kube-proxy should have annotation "kubernetes.io/config.mirror". What Kubernetes version are you using and how was kube-proxy (or the cluster) deployed?

[2019-01-25 11:49] drewhemm commented on #351
I've tried with both 1.10.11 and 1.11.5. Cluster is deployed via AWS EKS. The "kubernetes.io/config.mirror" annotation is not present out-of-the-box. Are you saying I should add it?

I am also having the same issue with the aws-node daemonset, even though I have set PodDisruptionBudgets for both.

Autoscaling is working fine for me in Google GKE.

[2019-01-25 11:52] MaciekPytel commented on #1611
Can you try using `make build-in-docker` instead? `make build` is only meant for development.

[2019-01-25 13:56] MaciekPytel commented on #1614
What Cluster Autoscaler version is that?

[2019-01-25 13:56] aleksandra-malinowska commented on #351
kube-proxy had this annotation for a very long time now, and it's the only way Cluster Autoscaler is able to recognize it as runs-on-every-node-don't-care-about-it-pod. I'd suggest adding it back if possible.

Pods controlled by DaemonSet should be ignored by default, can you share the yaml?

[2019-01-25 13:58] drewhemm commented on #1614
1.3.x on k8s 1.11.5 and 1.2.x on k8s 1.10.11, as per the releases table:

https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases

[2019-01-25 14:22] wyb1 commented on #1551
@bskiba no problem, I can add it to the FAQ.
Just for clarification, if I configure the VPA to use prometheus it only uses prometheus for the history. So it creates the the checkpoints using metrics that prometheus gets from cadvisor. Is this correct?

[2019-01-25 14:42] drewhemm commented on #351
Tried adding that annotation - didn't get very far:

[code]
Here's the yaml for the DS on a freshly spun-up EKS cluster

[code]

[2019-01-25 15:15] drewhemm commented on #351
I checked GKE. The daemonset for the kube-proxy pods isn't even visible, so Google is doing some magic to ensure the pods are not an obstacle to autoscaling, which is a console-enabled feature there.

Does anyone have autoscaling working in AWS EKS, or only in vanilla Kubernetes on standard EC2 instances?

[2019-01-25 15:31] drewhemm commented on #351
I think I found the problem. The image tag hasn't been updated in the example yaml files, so even on a 1.2.x or 1.3.x branch, the image tag is 0.6.0. I changed this according and things are working as expected.

[2019-01-25 15:42] sstarcher commented on #351
I had previously posted this, but I tagged the wrong individual

@aleksandra-malinowska
What about the usecase of a development cluster that tons of people can launch pods into, but we still want to scale these down? Would it not be beneficial to also support a global flag? If not I now have to write some code that goes through the pods and annotates them.

[2019-01-25 16:14] drewhemm commented on #1614
Solved - see referenced issue: https://github.com/kubernetes/autoscaler/issues/351#issuecomment-457610943

[2019-01-25 16:14] #1614 closed

[2019-01-25 18:12] BenBlaisdell opened #1615 "Invalid memory address error after moving to EC2 Launch Templates from Launch Configurations"
CA version: 1.13.1
CA helm chart version: 0.11.2
Kubernetes version: 1.11.5

Error happens when trying to scale up with autoscaling groups using launch templates

Error:
[code]

Deployed using Helm
Manifests:
[code]

[2019-01-25 23:30] resouer opened #1616 "Considering Making Cluster Autoscaler Extensible"
Currently the Cluster Autoscaler is well designed and organized.

While the the scaling policy (e.g. expander) requirements from cloud providers vary a lot, and even for different customers on same cloud. There're also use cases that for specific cloud workload, specific scaling policies are preferred as well. For instance, [the AWS cloud autoscaler of OpenAI](https://github.com/openai/kubernetes-

[2019-01-25 23:58] n2aws commented on #1070
I'd personally vote for a 3rd option.  In an effort to cycle-in new/updated nodes with security patches.. it'd also be nice if we can kill the *oldest* node during scale in.  ie,  update a launch config with the latest AMI version..  scale the cluster to 2x it's current node size..  let it organically scale in, dropping the older/vulnerable/unpatched nodes.

[2019-01-26 02:46] #903 closed

[2019-01-27 05:36] prageethw commented on #1576
CA logs:
[code]
kubectl get node ip-192-168-54-250.us-east-2.compute.internal -o yaml
[code]
cluster config 1 cluster with 3 node groups each in AZ.

[code]

CA helm:
[code]

my findings:

I think since  I have not put any hard limit on my cluster as the amount of instances in any particular AZ CA should automatically spin up instances in away maximize resource usage, also as I instructed CA to ba

[2019-01-27 06:54] prageethw commented on #1576
update:
I can say this behavior is random and I have successfully able to re-run with same configs and this time CA successfully scaled-in to 2 nodes which is what I have expected, My guess is CA in above occasion felt into a condition that it could not come out from it successfully.

[2019-01-27 08:32] #1592 closed

[2019-01-27 21:33] losipiuk commented on #1616
Thanks for kind words :) We appreciate that.

So far we modeled the extension point via a number of `Processor` interfaces (see https://github.com/kubernetes/autoscaler/blob/6f5e6aab6fe3129e01d5edce9f0cf0308e7e94d1/cluster-autoscaler/processors/processors.go#L46). They serve exactly the kind of purpose you mention. Would extending list of those with some more Processors solve your use cases?

I th

[2019-01-28 16:04] aleksandra-malinowska commented on #1612
cc @feiskyer

[2019-01-29 01:48] deitch commented on #1443
That won't work with auto-discovery, though, will it, especially with AWS? According to the docs, the min/max are as set by the AWS config (terraform, cloudformation, etc.). That means that I need to re-apply the above just to, e.g. change my max. I can change it if I use `--nodes=`, but that requires listing each group out.

Is there a way to combine auto-discovery with config-driven updates of m

[2019-01-29 06:43] feiskyer commented on #1612
@yuriwoof Could you share the logs and status of cluster-autoscaler?

[2019-01-29 07:37] Jeffwan commented on #1576
@prageethw As I know, CA doesn't have native support for zone distribution but only `--balance-similar-node-groups=true`. The way you are doing is kind of hack. Honestly, I have not tested this feature and based on the source codes, looks like it firstly looks for similar nodegroup and then try to balancer loads. The problem is when CA compare similarity, node labels are also considered. In EKS,
y

[2019-01-29 08:58] immarvin opened #1619 "is there any Doc on how to create a customized cloud provider?"
I tried to search any tutorials or Doc on "how to create a customized cloud provider?" in google, the autoscaler Docs and K8S Docs, but got nothing.

How can I create a customized cloud provider? is there any material on this?

thanks

[2019-01-29 10:10] aleksandra-malinowska commented on #1576
Node labels affect scheduling (via node selectors and node affinity). I agree a "smarter" way may be to disregard them if no pod is using this feature, or just rely on binpacking to take care of it (although it's costlier), but there's a reason it was considered in the first place.

Both `failure-domain.beta.kubernetes.io/zone` and `failure-domain.beta.kubernetes.io/region` are ignored by default.

[2019-01-29 10:38] MaciekPytel commented on #1619
I don't think such tutorial exists. In general you need to implement interfaces defined in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/cloud_provider.go.
Any method with comment saying 'Implementation optional' can just return ErrNotImplemented. I believe most cloudproviders are created by using one of existing implementations as an inspiration. Unfortunat

[2019-01-29 10:53] aleksandra-malinowska commented on #1619
There's no tutorial as such, I previously described some starting points in https://github.com/kubernetes/autoscaler/issues/953#issuecomment-396583127

[2019-01-29 11:57] dnutels opened #1620 "Deploy cluster-autoscaler to a different namespace"
__What__

Probably documentation bug/request

__Description__

It seems that it should be possible to deploy `cluster-autoscaler` to a different namespace and is, in fact, working, as far as deployment go.

However, when inspecting the `cluster-autoscaler` (deployed to `system` namespace) logs the following error is found:

[code]

And , indeed, the configmap isn't created, and then... isn't acces

[2019-01-29 12:24] bskiba commented on #1551
@wyb1

This part is correct. It only uses prometheus for history

This is only partly correct. After fetching history, VPA will also start gathering the metrics real time. Checkpoints are created based on history + observed metrics.

[2019-01-29 13:54] losipiuk commented on #1616
I am not that convinced. Maintaining a fork of CA, where the only changes in the fork are added processors and bootstrapping logic in `main.go` seems like not much worse approach. In both approaches you have your own repo, with code you have to build and test.
Just in one case these are only processors and in other case it is whole CA codebase.
In the fork-case the extra thing you have to do is ro

[2019-01-29 18:12] mossuchida opened #1624 "Need CPU & memory update for Deployment"
Currently I am testing VPA with HPA.  HPA creates new pods based on resource requests in Deployment.  VPA only updates currently created pods resource requests, when the new pods are scaled out by HPA, they use default hardcoded resource requests.  I would like newly scaled out pods to use the current resource utilization of the pod - scheduler uses resource request to determine which node to be d

[2019-01-29 18:31] MaciekPytel commented on #1616
+1 to that. Processors are hooks in internal logic of CA, which may (and likely will) change. At minimum we need to follow changes in upstream Kubernetes and any major change in scheduler will likely require refactors in CA (ex. https://github.com/kubernetes/community/pull/3082). As the code changes, some programming hook will likely change with it. I don't want to commit to any sort of deprecatio

[2019-01-30 03:16] immarvin commented on #1619
hi @MaciekPytel @aleksandra-malinowska , thanks a lot for your explanation, the information is quite helpful, I will try to start the work from the points you mentioned.

Let me give a brief introduction of what we want to do: Our project(http://xcat.org) is a bare metal cluster management tool focus on High-Performance-Computing, currently we are trying to run the HPC stack in K8S on bare-metal c

[2019-01-30 04:00] rcleere opened #1627 "Pods left unschedulable"
Kubelet version: 1.13.0
CA version: v1.13.0
Cloud: GCE

Hello,
We run a couple of custom deployed Kubernets clusters in GCE and each cluster has several zonal MIGs with different types of nodes for different workloads. For our general purpose compute pools we have 4 zonal MIGs, and are configured in CA with a minimum of 0 and a max node count of 200.

One of our clusters with smallish deployments,

[2019-01-30 04:05] rcleere commented on #1627
I did have a thought while writing the problem: is it possible the CA thinks that it has allocated enough nodes to meet the needs of the pending pods and so it never reevaluates those pending pods? Maybe marks them as schedulable internally to CA? Maybe we have not given the CA fine enough resource information about the node and daemonsets so that over a large enough node pool it has actually allo

[2019-01-30 07:58] Globegitter opened #1629 "Cluster autoscaler: multiple node utilization"
We are making use of the kube downscaler (https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) to reduce our cluster size over night and I noticed that we have 50% of our node with <60% utilization. It would be great if there was an additional setting that one could turn on to take the utilization of multiple nodes together into account. So e.g. if there are at least 3 nodes wi

[2019-01-30 08:56] bskiba commented on #1624
What metric do you have your HPA configured on? CPU?

This should not be the case. VPA should be able to notice that these new pods are also controlled by this VPA. Can you share you VPA and deployment spec?

[2019-01-30 10:12] johanneswuerbach commented on #1629
You can already achieve something similar with tweaking the “--scale-down-utilization-threshold”, which is 0.5 or 50% utilization by default.

We use 0.7 for example to target more utilized instances at the flip side of more scaling activity

[2019-01-30 11:49] safanaj commented on #1547
Apparently looks like that on AWS EKS the admission controller pod have to listen onto 443 (no matter if the service is ok to forward to any other port), looks like they are using a weird way to resolve endpoint (maybe they are not using this https://github.com/kubernetes/kubernetes/blob/release-1.11/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/serviceresolver.go)

Applying thi

[2019-01-30 11:54] bskiba commented on #1547
@safanaj Thanks for the update! I'll take a look at your PR today hopefully.