[2019-05-16 03:01] #1608 closed

[2019-05-16 08:45] koflerm commented on #2016
- As far as we know 2 Projects in our cluster face this issue. The problem is we do not know how many customers actually applied the recommendations.
- usually 1 container per pod
- Checked it, a.t.m. more resources then recommended are assigned because we cannot risk a downtime
- No there isn't
- Node resources: CPU requested:  22%, CPU utilization: 13%, memory requested: 89%, memory utilization:

[2019-05-16 10:14] kgolab commented on #2016
From the histograms I can see that the application in question:
* usually sits idle (under 10 mCPU) - this would explain why the minimal recommendation is returned; at the same time the biggest spike is around 260 mCPU and there the application might be throttled (this depends whether limits are set and how much CPU is available at the moment - on average there is a lot from what you've shown)
* u

[2019-05-16 11:42] koflerm commented on #2016
Yes recommended CPU is 150m (because we set the lower bound to it, earlier it was ~20m) and the recommended memory is 2.6 GB.

Yes we are using resource limits for CPU and RAM. The recommendation includes a recommended request (target from VPA) and a recommended limit (upper bound from VPA), which is, in the case of the application above, the following:

- CPU request: 150m
- CPU limit: 150m
- mem

[2019-05-16 20:58] kgolab commented on #2016
I'd recommend dropping the CPU limit, it's actual reason the application is CPU-throttled. AFAIK the limit is enforced with 1-second granularity so if the app is busy, it will burn its CPU allocation in 0.15s and be forced to sit idle for the next 0.85s.
If you feel that you really need this limit I'd gladly hear more as to why exactly.

As for memory the situation is more tricky. From the checkpo

[2019-05-17 06:22] koflerm commented on #2016
The problem with removing the CPU limits is that we do not have very much CPUs left to assign. The usage above is only the usage of 1 node all in all we have a CPU limit overcommitment of 200% (this is the Grafana monitoring limit which includes completed pods so it is not that much but definitely over 100%) and a memory limit commitment of ~30% which is no problem. The CPU usage is the main reaso

[2019-05-17 07:12] xinxingliu90 commented on #2027
@Jeffwan
Hi Jeff, I looked at your latest change a month ago, and found out that it is already the image I use: - image: k8s.gcr.io/cluster-autoscaler:v1.12.3.

Are there more change other than apply the `autoscaler/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-multi-asg.yaml` to cluster?

Thanks!

[2019-05-17 10:39] #1512 closed

[2019-05-17 13:12] feiskyer opened #2042 "Switch godep to go modules?"
Kubernetes has moved from godep to go modules, I think we should do same for autoscaler.

However, the dependency overrides are still required for some packages. Not sure whether there are good solutions for this, @mwielgus @maciekpytel @bskiba any ideas on this?

[2019-05-17 15:03] selslack commented on #1658
/remove-lifecycle stale

This is not fixed yet.

[2019-05-17 15:33] kgolab commented on #2016
Regarding CPU limit - I'd still recommend dropping it altogether.
The Pods are scheduled based on resource requests and no limits so once the requests are OK, you should be fine with regards to CPU usage and the app could use any spare cycles that the Node happens to have at the moment.

For me the problem starts with the fact that most of the time the application is not using CPU at all and thus

[2019-05-17 18:12] okgolove opened #2043 "Scale from 0, taint"
Hello! There is the instruction how to set up scaling from 0 https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0

I have two ASG with different labels. Nodes from one of these groups are tainted with NoSchedule.  I've followed the instruction. Is there a way to add the same tag for ASG but for taint? Sometimes autoscaler scales-up wrong

[2019-05-17 18:34] Jeffwan commented on #2027
@xinxingliu90  I am trying to understand your requirement. What feature/change you mean in the v1.12.3?  How many regions in your cluster? Normally for machine learning training workloads, we suggest to use single availability zone

[2019-05-17 20:59] xinxingliu90 commented on #2027
@Jeffwan, would you like me to open a AWS support ticket to EKS team and ask the one who answered the ticket to assign it to you? We can build direct communication this way. What do you think?

[2019-05-17 21:20] Jeffwan commented on #2027
Sure. That's why I asked you to reach out to me through email or other ways. Please create a ticket and ask support team reach out to me. I also add you on LinkedIn.

[2019-05-17 23:12] palmerabollo opened #2044 "Azure CA doesn't scale multiple agent pools in parallel"
Scale-up plans in Azure never include multiple agent pools, even when it is needed to make room for new pods. It looks like, for some reason, the implementation for Azure never includes more than one agent pool in the same scale-up plan. The consecuence is that it serializes the operations, scaling only one agent pool at a time. Can you confirm the issue or whether it is the expected behavior?

At

[2019-05-18 05:59] vikaschoudhary16 commented on #2043
Have you explored autodiscover expander and priority expander already?
https://github.com/kubernetes/autoscaler/issues/1976#issuecomment-487932353

https://github.com/kubernetes/autoscaler/pull/1977#issuecomment-493651073

[2019-05-18 07:47] okgolove commented on #2043
@vikaschoudhary16 it seems it works for me, thank you.
But anyway, is it possible to implement the same feature for taints? I believe it could be the useful thing.

[2019-05-18 17:22] Jeffwan commented on #2027
Leave a comment for users who look at this ticket.

If user use multiple availability zones, there's possibility that nodes are not balanced. For example, some AZs run out of capacity(frequently happen for P3 instances), ASG will try to rebalance AZs if some AZ was unhealthy and back to health again, or new AZ has enough resources.

Suspend `AZRebalance ` will help in this case. This is a feature

[2019-05-19 11:41] saiyam1814 commented on #1003
@MaciekPytel I read this issue as well as PL 10619 mentioned above ,  so I just want  to confirm and clarify from you about : the regional Autoscaling is not a thing for cluster autoscaler for GCE ? the --regional flag does it have any significance (just want to know why it is there) ?

[2019-05-19 11:45] nicholasgcoles commented on #1793
I had a similar problem. Manually scaled my ASG up to 1 and then the cluster autoscaler worked from there.

Running on EKS
Kubernetes version 1.12.7
Cluster autoscaler 1.12.5

[2019-05-19 11:48] frankgu968 commented on #1793
@nicholasgcoles I solved it by applying the correct label to my ASG as @Jeffwan had suggested earlier in this thread

[2019-05-19 13:23] oronboni commented on #1674
Have the same issue. AKS-Engine 0.35.1. K8S version 13.5.

[2019-05-20 03:15] feiskyer commented on #1674
@oronboni Could you share the logs of CA? Which version of CA are you using?

[2019-05-20 05:02] oronboni commented on #1674
@feiskyer additional data:

Autoscaler version 1.13.2.
When the cluster created the Autoscaler pod status is fail to run with the following error:

Failed to get nodes from apiserver: Get https://10.0.0.1:443/api/v1/nodes: dial tcp 10.0.0.1:443: i/o timeout.

After  deleting the pod I get the following error:
 1 azure_cloud_provider.go:145] Failed to create Azure Manager: compute.VirtualMachineSca

[2019-05-20 07:07] koflerm commented on #2016
We cannot drop the limits because dropping the limit means dropping the limit in the quota. And dropping the limit in the quota means we cannot limit the CPU usage of customers which needs to be ensured. We cannot give customers the right to choose a CPU limit.

I think the next step will be to use the upper bound as request and maybe set the limit to a peak value gathered from the VPA checkpoint.

[2019-05-20 07:14] feiskyer commented on #1674
@oronboni  thanks for the information, so the issue is actually different from Dan's. Identity is required for CA to operate VMSS.

By `cluster-autoscaler pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 max limit reached`, have you increased the max nodes for vmss?

[2019-05-20 07:21] oronboni commented on #1674
@feiskyer my max nodes configured in AKS-ENGINE to 50 but the current nodes are 5.

[2019-05-20 07:51] feiskyer commented on #1674
@oronboni  So is your cluster scaling-up by CA now? you can run `kubectl -n kube-system describe configmaps cluster-autoscaler-status` to verify the scale status for each node group. And you could also try delete CA pod and check again.

Dan has claimed `The client has permission` at https://github.com/kubernetes/autoscaler/issues/1674#issuecomment-464680143. So it's still not sure why it's happen

[2019-05-20 08:00] oronboni commented on #1674
@feiskyer thank you for your quick replay.

I gave the following permisions:
* agentSubnet owner
* VMSS owner
* clusterVnet owner

Failure sending request: StatusCode=0 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="LinkedAuthorizationFailed"
Message="The client 'xxx' with object id 'xxx' has permission to perform action
'Microsoft.Compute/virtualMachineScaleSets/wr

[2019-05-20 08:14] feiskyer commented on #1674
@oronboni surprised owner role is still not authorized. could you open a ticket on Azure portal?

[2019-05-20 09:01] oronboni commented on #1674
I checked permissions in old clusters that created with AKS-Engine 0.31.1.
The user identity added to the resource group as contributor in the cluster creation process.
In AKS-Engine 0.35.1 the user identity not.
I removed from all the resources the owenr and add to the resource group contributor and the  scaleset add 3 instances.

Second problem (seems K8S issue) more instances required (pods in

[2019-05-20 10:07] ealogar commented on #2044
That's exactly what happened to me and we had to move some services to AWS; I hope this will be fixed to come back to Azure...

[2019-05-20 10:14] greuze commented on #2044
Same issue here :disappointed:

[2019-05-20 10:27] niteshsakhiya opened #2045 "Scale-down causes downtime for the pods to be moved in another node (aws EKS)"
I have set up K8S cluster using EKS. CA has been configured to increase/decrease the number of nodes based on resources availability for pods. During scale-down, the CA terminates a node before moving pods in the node on another node. So, the pods get scheduled on another node after the node gets terminated. Hence, There is some downtime until the re-scheduled pods become healthy on another node.

[2019-05-20 10:49] dgalpaj commented on #2044
It was a critical part in our last release, we were not able to solve it, and like @ealogar, we must move this part of the service to Google Cloud.

[2019-05-20 13:48] feiskyer commented on #1674
@oronboni Did CA work now? the addon config above looks good to me.

[2019-05-20 13:59] oronboni commented on #1674
@feiskyer thank you for your assistance, yes after the change CA works (the above configuration worked in the past but by checking CA yaml I saw that the nodes configuration was: - --nodes=1:5)

From my side everything works (but there are issues I think you should check in AKS-Engine):
**Issue 1:** there is a problem in AKS-Engine 0.35.1 deployment, user identity not added to the resource group a

[2019-05-20 14:13] feiskyer commented on #1674
@oronboni Glad to see it works now, and thanks for providing the details. I think those two issues should be fixed in aks-engine. Would get them involved.

[2019-05-20 15:12] coryflucas opened #2048 "emptyDir volume with medium Memory prevents scale down"
Pods with local storage are supposed to prevent scale down, but it appears that emptyDir volumes with `medium` set to `Memory` also count.  Is this intentional?  Given the doc warn that these volumes are backed by tmpfs and will be lost on Node reboot, it seems like these should be considered safe to remove.

I'd be happy to submit a PR if this would be an acceptable change.

[2019-05-20 15:13] futurekill commented on #2048
+1

[2019-05-20 16:47] MaciekPytel commented on #1003
Regional MIGs are not supported. You can still use multiple zones in GCP by creating a separate, identical MIG in each zone and asking Cluster Autoscaler to manage all of those. CA has its own logic to balance the number of instances in each zone, but it's more best effort - there is no active rebalancing, just preference for smaller zone in scale-up.

[2019-05-20 18:28] sonnysideup opened #2051 "Does CA support auto-discovery of Azure VMSSs?"
The documentation in this project indicates that auto-discovery is only supported for **aws** and **gce** are supported, but the code for the Azure provider seems to indicate otherwise.

https://github.com/kubernetes/autoscaler/blob/cb4e60f8d4ffb7f0836509e65ba6270738f1e15c/cluster-autoscaler/cloudprovider/azure/azure_manager.go#L49-L58

https://github.com/kubernetes/autoscaler/blob/cb4e60f8d4ffb7f

[2019-05-20 21:26] palmerabollo commented on #2044
I've also tested the latest cluster-autoscaler 1.14.2 for Azure and it is still buggy. Frequent pod restarts make the issue worse.

[2019-05-20 21:41] Jeffwan commented on #2045
@niteshsakhiya can you take a look at this issue?
https://github.com/kubernetes/autoscaler/issues/1907

We have some solutions but not elegant optimized.
1. make node unschedule.
2. add timeout since upstream service controller takes up to 100s to get node status.

https://github.com/Jeffwan/autoscaler/commit/0c02d5bed0d8555187a2b1b289e1044c6f9e2b5c#diff-5f36cd12baa8998cd7f2ba7c4a00cbc6

[2019-05-20 21:42] Jeffwan commented on #2045
/sig aws

[2019-05-20 21:43] Jeffwan commented on #2027
/sig aws

[2019-05-20 21:43] Jeffwan commented on #2020
/sig aws

[2019-05-21 05:35] vikaschoudhary16 commented on #2020
by default it is "random" expander, if that is the case, scenario you described does not seem highly improbable.Does it happen each time?

[2019-05-21 08:08] danmcnulty commented on #2020
We're using the least-waste expander presently, but in this case the calculations for each of the ASG's is identical, so shouldn't it then choose to scale up to make the ASG's balanced?

[2019-05-21 09:40] MaciekPytel commented on #2020
None of existing expanders cares about zone balancing, so it shouldn't matter which one you use. CA has a separate mechanism for balancing: it finds 'similar' NodeGroups (ASGs) and splits any scale-up between them. This happens after the expander makes a decision and it shouldn't depend on expander at all.
My guess would be that your ASGs are not actually 'similar' according to the definition used

[2019-05-21 10:21] MaciekPytel commented on #2051
cc: @feiskyer

[2019-05-21 10:45] danmcnulty commented on #2020
All of the nodes have identical labels except zone and hostname - we used terraform to create and tag the ASG's they reside in.

`kubectl get nodes -l environment=playground --show-labels
NAME                                         STATUS    ROLES     AGE       VERSION   LABELS
ip-10-0-173-7.eu-west-1.compute.internal     Ready     <none>    8m6s      v1.12.7   beta.kubernetes.io/arch=amd64,beta.

[2019-05-21 12:32] feiskyer commented on #2044
@palmerabollo Yep, it's a known bug, but didn't get chance to fix it yet. @palmerabollo @ealogar @dgalpaj  Which vmtypes are you using?

[2019-05-21 12:57] feiskyer commented on #2051
@sonnysideup It's an initial working version for vmss, e.g. by setting `--node-group-auto-discovery=label:<key>=<value>`, but still not fully supported yet. e.g. minSize and maxSize couldn't be set now.

[2019-05-21 12:59] feiskyer commented on #2051
/sig azure

[2019-05-21 12:59] feiskyer commented on #2044
/sig azure

[2019-05-21 13:52] dgalpaj commented on #2044
@feiskyer We were using Standard_DS2_v2 and Standard_DS3_v2 for our deployments

[2019-05-21 14:21] feiskyer commented on #2044
@dgalpaj Sorry, I'm not clear about the vm types. I mean the types documented in [CA](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure#kubernetes-version), e.g. vmss, standard or aks.

[2019-05-21 14:26] ealogar commented on #2044
@feiskyer In my case we were using vmss

[2019-05-21 15:14] palmerabollo commented on #2044
Yes, vmss. The Kubernetes cluster is deployed. I can share the relevant parts of my aks-engine cluster definition if it helps.

[2019-05-21 17:34] dgalpaj commented on #2044
@feiskyer yes, in my case they are also vmss

[2019-05-21 18:12] sonnysideup commented on #2051
@feiskyer, thank you for your response.  Just to make sure I understand this behavior, please let me frame an example and ask some questions:

### Example Setup

1. CA is deployed into K8s (in Azure) with the setting `--node-group-auto-discovery=label:foo=bar`.
1. I then create a VMSS with the label `foo=bar` and set the min/max values on that resource during creation.

### Questions

- If we can'

[2019-05-21 20:53] Jeffwan commented on #2020
for `least-waste`, it's backed by random strategy.
https://github.com/kubernetes/autoscaler/blob/cb4e60f8d4ffb7f0836509e65ba6270738f1e15c/cluster-autoscaler/expander/waste/waste.go#L33-L35

In your case, I think all 3 nodegroups are qualified, and random strategy will work and pick one of them.

[2019-05-21 22:03] alexeldeib commented on #1329
@feiskyer This is fixed in 1.15 as of https://github.com/kubernetes/kubernetes/pull/76656, right?

[2019-05-22 01:01] CecileRobertMichon commented on #2044
@feiskyer I'd love to take this on if you can give me some pointers

[2019-05-22 02:44] feiskyer commented on #1329
Right, it has been fixed in the Kubernetes upstream. Let's close this issue.

/close

[2019-05-22 02:44] #1329 closed

[2019-05-22 04:33] feiskyer commented on #2051
It could discovery vmss based on labels, but setting minSize and maxSize is not supported yet.

[2019-05-22 07:04] feiskyer commented on #2044
@CecileRobertMichon thanks. didn't dig into the details yet, appreciate if you could check why this is happening.

[2019-05-22 07:22] jnicholls opened #2053 "Generic integration with any infrastructure operator"
It would be nice if the cluster-autoscaler could be setup with an arbitrary (e.g. HTTP) endpoint that is called when it has determined a scaling operation should occur, so that all of its scaling heuristics and logic could be used for more than the cloud providers it supports and allowing users to use it everywhere (private clouds, unsupported cloud providers, etc.).

[2019-05-22 07:25] jnicholls commented on #2053
Sorry, this appears to have already been spoken about in #1050, #984 and #191. I understand there is a Cluster API in the works, which is great to hear. I've love to know what the latest status of that undertaking is.

[2019-05-22 07:31] hadifarnoud opened #2054 "add Hetzner support"
Hetzner cloud has a kubernetes controller manager. I assume the support for autoscaler can be added

https://github.com/hetznercloud/hcloud-cloud-controller-manager

[2019-05-22 13:11] MaciekPytel commented on #2054
I'm not sure what exactly is your question here? We accept new cloud provider implementations on condition that they don't modify global vendor/ and they don't introduce license-related problems.
Implementation wise - Cluster Autoscaler uses a completely different interface to talk to cloud provider, having working controller-manager doesn't help you at all. Implementing cloud provider support for

[2019-05-22 23:34] markine commented on #1907
@krzysztof-jastrzebski So I understand that the CA uses taints with NoSchedule effect when deleting nodes instead of setting nodes.Spec.Unschedulable=true. This is done because in the case of a non-empty node we are unsure whether all evictions will succeed before we delete a node via the cloud provider: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/core/scale_down.go#L99

[2019-05-23 06:41] hadifarnoud commented on #2054
I didn't realize how hard it is.

[2019-05-23 06:41] #2054 closed

[2019-05-23 09:11] limbuu commented on #1503
@george-miller  i am currently around the same problem. But my Kubernetes is in Google Cloud. I did lot of research but couldn't figure out to add customized metric for the autoscaler. I need my autoscaler to scale up the node when current node has used 80% of its resources. If you have work around the problem than would you mind to share?

[2019-05-23 12:15] MaciekPytel commented on #1907
Is that so? If we are trying to delete a node wouldn't that be a good enough reason to remove it from LB? Perhaps we should remove it so that removing from LB happens at the same time as draining pods. The caveat is if we failed to drain, we may need to re-add the node to LB (I don't know how to do that though).

That's an interesting idea. What happens if the annotation is removed? Is the node ad

[2019-05-23 15:03] #1513 closed

[2019-05-23 17:15] mboersma commented on #2042
You should be able to use the `replace` directive to keep using the overrides:

[code]

But I've been experimenting with converting cluster-autoscaler to go modules and I don't think this go modules feature is working (or else I'm doing something wrong).

[2019-05-23 19:54] damienwebdev commented on #1348
/remove-lifecycle stale

[2019-05-23 20:50] palmerabollo commented on #2044
Thanks, @CecileRobertMichon. Can I help somehow?

[2019-05-23 20:57] CecileRobertMichon commented on #2044
@palmerabollo I haven't had time to look into this yet so if you want to look into it go for it. Or even if you have any pointers to get me started in the right direction when I get to it that'd be great.

[2019-05-24 10:07] nielsole opened #2057 "Ensure pods fit on mixed instance pools"
We use launch templates with mixed instance types with varying CPU and memory for spot instance pools in AWS.

This poses some challenges for the estimation of available CPU and memory on an ASG.
In our use-case we would like to use the smallest resources of each type across all instances (not the smallest instance, but that smallest value for each resource type).
This ensures that that if the aut

[2019-05-25 01:09] bobo333 opened #2058 "Allow lower values of MinAllowed"
We run a large number of mostly idle deployments. I'd like to be able to set the `MinAllowed` to lower than the default of `10m` for cpu. I was following the instructions from this issue: https://github.com/kubernetes/autoscaler/issues/1775
It seems to respect the `minAllowed` values if they're higher than `10m`, but when I set them lower (tried both `0m` and `1m`), the lower bound remained at `10

[2019-05-27 07:42] bskiba commented on #2058
Have you set the [flags](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L27) to lower values:?

VPA operates at a certain resolution which is determined by these flags.

[2019-05-27 07:46] losipiuk commented on #1398
@fog1985, does the problem persist? Or should we close the issue?

[2019-05-27 08:56] kgolab commented on #2058
The limit you've encountered is due to the resolution of histograms used by VPA, in case of CPU it would be [cpuHistogramOptions](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/aggregations_config.go#L68) which indeed starts from 10 mCPU.

The tricky part with changing any of these values is that it requires changing vpacheckpoint objects too, th

[2019-05-27 09:14] kgolab commented on #2016
Re: Prometheus
I'm glad you've managed to get it working. I'm a little bit surprised about the memory, how many VPA objects & pods do you have in the cluster?

Re: limits
If you really don't want to assign/give idle CPU cycles to anyone than indeed the limits are the way to go. The problem with coarse throttling & latency spikes will remain, though.

If you didn't care about idle CPU cycles and on

[2019-05-27 11:16] niteshsakhiya commented on #2045
@Jeffwan
I checked the issue.

1. Sorry, I am not sure about how making the node unSchedulable would help here.
2. The timeout is already set to 10 minutes(default).

[2019-05-27 15:37] #1540 closed

[2019-05-28 04:47] feiskyer commented on #1710
Already done.

/close

[2019-05-28 04:47] #1710 closed

[2019-05-28 08:38] AlexShemeshWix opened #2065 "autoscaller wont generate logs"
Hi.
I wanted to inspect logs of autoscaler running in kubecluster.
/var/log folder is empty.
Ive tried to set LOG_OUTPUT env var explicitly, i can see it set command output, still no logs.
Whats the catch?

[2019-05-28 18:04] markine commented on #1907
The way I understand things, removing a node from the load balancers takes down service endpoints that live on that node. Removing a node from a load balancer prior to a drain has potential of subtly violating a PodDisruptionBudget. Example:

[code]

I understand that we don't want to stretch out draining a 300-node spike. Sleeping to make sure the LBs are updated and stop forwarding traffic to dy

[2019-05-28 21:27] meringu commented on #2020
We’re hitting this issue in our clusters too. I think I know why.

We have 3 ASGs with c5.2xlarge spread across 3 AZs. Looks like when Amazon creates an EC2 instance either 15835076Ki or 15835084Ki total memory is provisioned for the VM. This is what is reported in the node `status.capacity.memory`, and verified with `free -k` on the node.

When the cluster autoscaler attempts to discover similar

[2019-05-29 07:06] Jeffwan commented on #2045
kubernetes service controller will fetch node changes. For every iteration, it will check node changes, if this node is unSchedulable, then it will call cloudprovider method to remove node from load balancer. If node just have taint like CA grants now, aws cloud provider won't remove it from load balancer which is not what we expect. That's the reason I make node unschedule. We have more discussio

[2019-05-29 07:23] Jeffwan commented on #2020
@meringu If that's the case, we have some options
1. Figure out why some instance have different memory provisioned. I can check with EC2 team on this. I suspect not all c5.2xlarge use exact same memory? Also, ec2_instance_type mapping has to be match with provisioned memory.

2. Use comparison with tolerance. My concern is this is common code and if that's only aws issues, we should not touch thi

[2019-05-29 08:22] bskiba commented on #1547
I think this is fixed already, since the change by @safanaj has been released.
/close

[2019-05-29 08:22] #1547 closed

[2019-05-29 11:03] MaciekPytel commented on #2020
Regarding #2 - the comparison logic lives in processor, ie. it's hidden behind an interface specifically to allow adding custom implementations without touching common code. If required you should be able to customize the logic by adding your own implementation of https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/processors/nodegroupset/nodegroup_set_processor.go. You may be

[2019-05-29 12:09] Siddharthk commented on #1860
I am also getting the same error:
CA version: 1.12.3
AWS EKS version: 1.12.7

`I0529 12:05:53.849655       1 leaderelection.go:227] successfully renewed lease kube-system/cluster-autoscaler
I0529 12:05:55.942323       1 leaderelection.go:227] successfully renewed lease kube-system/cluster-autoscaler
E0529 12:05:56.036033       1 aws_manager.go:153] Failed to regenerate ASG cache: RequestError: sen

[2019-05-29 13:46] yan234280533 opened #2070 "scale up not consider the upcoming nodes"
scale up not consider the upcoming nodes

when we use MaxNodesTotal parameter ,we find that in scale up loop ,when to determine the newNodes not consider upcoming nodes,the code is :

		if context.MaxNodesTotal > 0 && len(nodes)+newNodes > context.MaxNodesTotal {
			glog.V(1).Infof("Capping size to max cluster total size (%d)", context.MaxNodesTotal)
			newNodes = context.MaxNodesTotal - len(nodes

[2019-05-29 13:51] #2070 closed

[2019-05-29 19:21] Jeffwan commented on #2020
Thanks for guidance! @MaciekPytel

[2019-05-30 05:45] Jeffwan commented on #2020
@meringu I will try to reproduce this issue on my end and check with EC2 team at the same time. It will take some time and come back to you later then

[2019-05-30 09:34] aleksandra-malinowska opened #2074 "Release Cluster Autoscaler 1.14.3, 1.13.5, 1.12.6"
Target date is Monday, 2019-06-02. Please leave a comment if you believe these should include something that isn't yet on release branches.

[2019-05-30 10:12] TarekAS opened #2075 "Does priority expander do fallbacks?"
If the ASG with highest priority fails to launch instances for some reason, does it fallback to lower priority ASGs?

My use-case is falling back from Spot ASGs to OnDemand ASGs in-case the there are no Spot instances available.

If not, then I would suggest something like a timeout on each priority.

[2019-05-30 11:36] aleksandra-malinowska commented on #2075
cc @Jeffwan

[2019-05-30 20:13] Jeffwan commented on #2074
Thanks. I will double check anything to cherry-pick back to these versions before Friday.

[2019-05-30 20:14] Jeffwan commented on #2057
/sig aws

[2019-05-30 20:19] feiskyer commented on #1807
/close

[2019-05-30 20:19] #1807 closed

[2019-05-30 20:22] feiskyer commented on #1660
I believe this has already been fixed.

/close

[2019-05-30 20:22] #1660 closed

[2019-05-30 20:26] feiskyer commented on #1975
Since CA is working fine before and after, I'm not sure what `the cluster crashed` means here. Though new nodes won't be able to scale, the Kubernetes cluster itself should still work good.

close since we didn't get enough context for the issue. @elutsky feel free to reopen if you still have problems.

/close

[2019-05-30 20:26] #1975 closed

[2019-05-30 20:35] Jeffwan commented on #2057
Still working on a doc in internal review.. This takes some time. I checked several limitation with our EC2 teams and seems no perfect solution right now. We can make it work for some cases but won't cover all use case. Currently, the best practice here is to use `similar` node with same resources as much as possible.

The assumption here is container can alway run on the `template` node. Otherwis

[2019-05-30 22:52] Jeffwan commented on #2075
If spot request can not fulfilled over `max-node-provision-time` (by default 15min), CA should stop considering this node group in simulations and will attempt to scale up a different group. I have not tried priority plugins since it's merged recently. I can have a test for this case since many users like OnDemand fallback case and this is one way to do that.

As you said corresponding node group

[2019-05-31 02:56] thinalai commented on #1860
check your CA pod public network accessibility

[2019-05-31 16:44] amarrella opened #2085 "Autoscaler won't scale up and pod is stuck with Insufficient CPU"
Hello everyone, I'm facing an issue with cluster-autoscaler. Even though I have a nodegroup that could satisfy the request, the autoscaler doesn't seem to agree :(

I have a c5.4xlarge nodegroup (min 0 max 1 desired 0) which has more than enough capacity to schedule the pod.

What could be the cause? Anyone faced this issue before?

Thanks in advance!
Alessandro

Pod:
[code]

cluster-autoscaler:
[

[2019-05-31 17:58] amarrella commented on #2085
I think I figured it out, the volume has been scheduled in a different availability zone. I'll confirm on monday.

[2019-06-01 07:27] #1342 closed

[2019-06-03 06:25] nielsole commented on #2057
1. would currently be our preferred approach. Do you have a link to your PR?

[2019-06-03 08:07] koflerm commented on #2016
Currently we have 284 VPA instances in our cluster, but the memory peak is no problem.

Fortunately, the performance issues seem to be fixed. Because of the prometheus data, the recommendations are now more accurate and everything seems to work perfect now so the solution was to enable prometheus as the history storage.

The only problem at the moment is, as mentioned above, the VPA recommender sp

[2019-06-03 08:50] jackdreilly opened #2087 "DaemonSet pod not scheduling after scale up"
I have a cluster with autoscaler installed and a `fluentd` DaemonSet.

After increasing the load by launching 50 pods, the autoscaler successfully stands up 8 new nodes.

The issue is that the newly scheduled pods consume all available IP's on the nodes before the `fluentd` DaemonSet-spawned pod has a chance to schedule.

Since the `fluentd` pod has a node-selector for a specific node, it cannot f

[2019-06-03 09:42] jackdreilly commented on #2087
I solved this problem via PriorityClass on the DaemonSet.

Feel free to close if PriorityClass is the standard solution to the scheduling problem mentioned above

[2019-06-03 14:26] sylr commented on #1748
/remove-lifecycle stale

[2019-06-03 19:51] mboersma commented on #860
Both Azure/aks-engine#400 and Azure/aks-engine#401 are now closed, so with the next AKS Engine release we should (finally) see upgrade working with cluster-autoscaler enabled.

After that, if we find any bugs relating to upgrade with cluster-autoscaler, please [open an issue](https://github.com/Azure/aks-engine/issues/new?assignees=&labels=bug&template=bug_report.md&title=) at the AKS Engine proje

[2019-06-03 20:12] mo-saeed commented on #860
@mboersma Thanks for the updates, that's good news !
Just one question, the problem i had before when upgrading a cluster with cluster-autoscaling enabled is that after the upgrade process, autoscaler will scale nodes with the older version of kubernetes as it uses the old VMSS ARM template and the fix was to delete and recreate the autoscaler. doest this PR fix this issue as well ?

[2019-06-03 20:50] dezmodue commented on #1844
Hello again - would it help if I provided a PR?

[2019-06-03 22:02] williamhuangh commented on #1457
/remove-lifecycle rotten

[2019-06-03 22:03] williamhuangh commented on #1457
@piontec just a heads up that this issue still exists :( upgraded to the latest version and it still seems to change `optional: true` configmaps to `optional: false`

[2019-06-04 09:41] aleksandra-malinowska commented on #2074
Releases complete.

[2019-06-04 09:41] #2074 closed

[2019-06-04 13:22] krzysztof-jastrzebski commented on #1907
Good Point! Good thing is that this will only be a problem when using ServiceExternalTrafficPolicyTypeLocal. If we use ServiceExternalTrafficPolicyTypeCluster then traffic will go through another node to our pod. We are working on that with networking team. We probably won't fix this in 1.15 but we will try to address it in 1.16.

[2019-06-04 14:14] piontec commented on #1457
Crap, that's strange - we're running our own build with this patch and it solved our "always changed" problem for good. Can you try to run with high log verbosity to get some trace?

[2019-06-04 14:56] bskiba commented on #1457
@williamhuangh Which version exactly do you run? I have still not released the version with the fix from @piontec <shame cube> so unless you run your own build this won't be fixed for you yet :( .

[2019-06-04 18:42] jeffliu27 commented on #1772
@MaciekPytel  @viggeh  Could I help with implementing this feature as a first time contributor?

[2019-06-04 23:47] williamhuangh commented on #1457
@bskiba ahhh that's probably why, im running the most recent released version and just assumed it was included, my bad

[2019-06-05 03:20] CecileRobertMichon commented on #2044
Okay so I opened #2094. I found that the reason this doesn't work for aks-engine & AKS clusters is that we add an "agentpool" label to each agent node so two node pools are never identified as similar by the cluster-autoscaler node group comparator. @feiskyer please take a look. I'm not sure if the PR is an acceptable way to fix this since the label is specific to Azure and the comparator is share

[2019-06-05 08:20] amarrella commented on #2085
I was requesting too much capacity due to some daemonsets making me go over the limit.

[2019-06-05 08:20] #2085 closed

[2019-06-05 09:40] MaciekPytel commented on #1772
@jeffliu27 I believe it's already implemented (#1801). It will be included in 1.15 release.

[2019-06-05 09:58] palmerabollo commented on #2044
Thanks @CecileRobertMichon, great news.

An option to avoid breaking backwards compatibility removing the "agentpool" label would be to add a flag to the `agentPoolProfiles` in the aks-engine cluster definition.

For example, adding a `disableLegacyNodeLabels` flag (default `false` for backwards compatibility):

[code]

or, maybe a bit trickier, allowing to specify null values in the existing `cus

[2019-06-05 13:20] Globegitter commented on #1629
@johanneswuerbach yes but no matter what the flag is set to at some point if one has enough nodes one could still scale down even if the nodes are above to specified utilization. As another example, if I specify 0.8 for 80% utilization and I have a  100 nodes with 81% utilization, I could still easily scale down nodes because I have a 100 x 19% utilization available, i.e. the capacity of 19 nodes

[2019-06-05 13:21] Globegitter commented on #1629
/remove-lifecycle rotten

[2019-06-06 00:30] CecileRobertMichon commented on #2044
@palmerabollo I thing there is a case to be made for keeping the "agentpool" label (or some version of it) as it is a convenience for quickly knowing which pool a node is part of. Sometimes, for example in the case of Windows nodes, it's not immediately obvious based on the machine name.

I've updated the PR to add an Azure specific node comparator that overrides the comparator for the Azure cloud

[2019-06-06 08:11] palmerabollo commented on #2044
Thanks @CecileRobertMichon. The `--balance-similar-node-groups` is not enabled. The nodes are similar, in some cases they even use the same instance types. I can check it again in AWS with the setup you consider more interesting.

[2019-06-06 13:58] aackerman commented on #1555
@hobbsh I'm looking into doing the same thing that you're trying to do, blue/green ASGs to deploy new VM image changes.

Did you come up with a solution for this using the cluster-autoscaler out of the box behavior or did you have to build custom behavior to drain the ASG when you wanted it to scale to zero for reasons other than utilization?

[2019-06-06 16:40] mboersma commented on #860
@mo-saeed that's not explicitly something this fixes, although before this there were cases where it could fail and not all nodes would be a newer Kubernetes version. I haven't seen the behavior you describe, however, when testing upgrade numerous times against multiple node pools with cluster-autoscaler enabled.

So...maybe fixed? If you are able to test with aks-engine master or try with a futur

[2019-06-06 17:30] kevinsimper commented on #2048
I was surprised by the same, the idea of giving a pod a tmpfs would in my mind make it safe to evict.

The line that checks it is right here:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/drain/drain.go#L244

and is started here:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/drain/drain.go#L197

But you can set the pods annotation (no

[2019-06-07 09:27] gustavosoares commented on #2045
This is something that interest me. Can’t CA drain a node before actually terminating it?

[2019-06-07 10:53] aleksandra-malinowska commented on #2048
It's intentional. `safe-to-evict` annotation mentioned above is the recommended workaround.

[2019-06-07 15:39] aleksandra-malinowska commented on #2045
CA drains (or at least, should drain) a node before terminating. It uses eviction API, and if eviction can't be granted, backs off from deleting that node.

[2019-06-07 16:45] NolanChan opened #2109 "Pods scale past the MaxPods with the HPA"
We've been using the HPA for about a month now, and it's been working well. However today, one of our instances went over the MaxPods

`k get all -n ugrnxfjjqunttwzmrc`
<img width="1193" alt="Screen Shot 2019-06-07 at 11 44 42 AM" src="https://user-images.githubusercontent.com/1487616/59119918-acee5900-8919-11e9-8a3e-d197ea4f95a0.png">

Is this known behavior?

[2019-06-07 21:50] Jeffwan commented on #2075
@TarekAS I notice spot may have some issues if request can not be filled. Community has a PR to track this issue. https://github.com/kubernetes/autoscaler/pull/2008

Depends on if you use LauchConfiguration or LaunchTemplate, use mixed Instance policy as an example, If you don't set fix price (let ASG to manage price), you may not see this issue.

Seems timer doesn't start if require can not be fu

[2019-06-08 19:24] #803 closed

[2019-06-09 20:35] Denton24646 commented on #2109
The HPA works based off utilization metrics - for stuff like CPU the utilization metric can be over 100% and this could potentially cause max pods to be exceeded. CPU utilization is the actual container CPU usage divided by the requested CPU usage (which is the minimum amount of CPU available to the container). Since the container can use more than the minimum this can cause the actual to be highe

[2019-06-10 09:52] TarekAS commented on #2075
We have a very simple use-case. For each AZ, we have 1 Spot and 1 OnDemand ASGs that are identical. How can we effectively prefer scaling Spot ASGs over OnDemand?

We do not want to use MixedInstancesPolicy due to the following concerns:
1. It requires at least 2 instance types, but CA requires both types to have identical CPU/mem (which are rare).
2. We think that using a specific percentage of O

[2019-06-10 10:18] kgolab commented on #1751
/remove-lifecycle stale
Marking as not to disappear from the radar, this might be revisited at some point.

[2019-06-10 13:05] #1566 closed

[2019-06-10 18:38] losipiuk commented on #1565
/remove-lifecycle rotten

[2019-06-10 20:15] rochacon opened #2114 "Cherry-pick #1970 into next minor releases"
#1970 added new AMD powered AWS instances types, but those did not land into any minors <= 1.14.

Could we cherry-pick #1970 into next minor releases for >= 1.12?

[2019-06-10 23:17] hobbsh commented on #1555
@aackerman I started down the path of using Zalando's kube node drainer systemd unit which basically just does a `kubectl drain` before the node shuts down but I was not able to spend the time to get that to work fully. The caveat with this is that the order is wrong. I think an operator that watches for a specific label/taint on nodes and drains them is the best solution. I say this because clust

[2019-06-11 09:02] markusdresch opened #2115 "How to set up AKS with Managed Identity?"
i have installed cluster-autoscaler with this yaml: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-vmss-msi.yaml

the cluster-autoscaler pod stays in "Pending" state forever though. unfortunately it does not output any logs either, so i'm not sure how to debug this issue.

is there some documentation on the prerequisites for

[2019-06-11 22:32] Jeffwan commented on #2075
I confirmed with EC2 ASG team, no, fallback is not supported in MixedInstancePolicy.

To me, I think you may better to use different ASG for these kind of jobs and use node affinity to schedule pods on that ASG?

I will check it out. Pretty full recently and if you have ideas, please contribute or discuss with me. https://spotinst.com I think this company has this feature and I think that's achiev

[2019-06-12 07:47] complex64 commented on #1839
Very interested in this too!

[2019-06-12 07:52] bskiba commented on #1839
This is actually in the works. The next released version of VPA will support limit modification as well as request.

The general idea is if there was originally a limit specified in the pod specification, VPA will keep the request to limit ratio constant.

[2019-06-12 08:23] complex64 commented on #1839
@bskiba, that's great news, thanks! Looking forward to the release.

[2019-06-12 12:02] TarekAS commented on #2075
Definitely, that's what we're doing right now for "OnDemand" workloads. Therefore, even with MixedInstancePolicy, one would still need to create a dedicated ASG for on-demand workloads to guarantee availability. We just keep things simpler by creating separate ASGs for Spot and OnDemand.

If only CA supported the `preferredDuringSchedulingIgnoredDuringExecution` node affinity, it would be able to

[2019-06-12 12:59] bskiba commented on #1790
/remove-lifecycle stale

[2019-06-12 17:21] szuecs commented on #1515
/remove-lifecycle stale

[2019-06-12 18:29] vikaschoudhary16 commented on #1515
is not #1963 a complete fix for this issue?

[2019-06-12 19:35] Jeffwan commented on #2075
No, priority expander only works when there's a decision to made to choose right node groups. It doesn't actively change existing nodes.

[2019-06-13 04:48] meringu commented on #2020
Any update on the issue @Jeffwan?

As I understand, this issue would be causing `--balance-similar-nodegroups` to not work for all AWS users of the autoscaler who configure an AutoScaling group per instance type per Availability Zone.

[2019-06-13 12:22] aermakov-zalando commented on #1515
Yeah, #1963 looks like it fix the issue. This needs verification, however, and since we took a different approach in our internal fork, someone would need to test it.

[2019-06-13 19:28] huydinhle opened #2124 "autoscaler v1.14.2 is not working with Azure VMSS and Kubernetes 1.14.1"
We deployed autoscaler v1.14.2 to our Kubernetes cluster that uses vmss as instance_type, the logs does not show any errors at all, however there wasn't any scaling action happened.

We switched the version back to v1.12.6 and the autoscaler started to work.

[code]

[2019-06-14 11:44] edrevo commented on #2044
@CecileRobertMichon , many thanks for the fix. Do you have any plans on backporting it to current releases of the cluster autoscaler?

[2019-06-14 15:05] Jeffwan commented on #2020
@meringu Sorry I was on call in past two weeks. Get some times this week to check this issue.

[2019-06-14 15:12] Jeffwan commented on #1125
@DanyC97 Just see this message. Spot Block is an EC2 Fleet feature and currently CA only supports ASG features from LaunchConfiguration or LaunchTemplate. It would be some extra work to support it. For example, request spot block instances and then add to ASG, this brings some complexity managing these instance groups in scale up/down.

Do you have any good ideas to add this support?

[2019-06-14 21:55] meringu commented on #2020
Thanks @Jeffwan. Let me know if there is anything I can help with.

[2019-06-15 15:39] posix4e commented on #2044
@CecileRobertMichon is their a workaround in the meantime?

[2019-06-17 04:45] #1590 closed

[2019-06-17 06:51] xjas commented on #2109
@Denton24646 Personally, after reading some revelant source code,I think the logic you have described could not make sense.
If possible, please have a look at these code: https://github.com/kubernetes/kubernetes/blob/5fe910191a6a1a64872e249c4c431b0169d763ed/pkg/controller/podautoscaler/horizontal.go#L626

@NolanChan However, I still can not figure out how  this happened, and I can not reproduce it

[2019-06-17 07:29] qmaden commented on #2124
I have the  same issue. The cluster stuck this status : (configmap status)
`Name:         cluster-autoscaler-status
Namespace:    kube-system
Labels:       <none>
Annotations:  cluster-autoscaler.kubernetes.io/last-updated: 2019-06-17 07:25:02.26553377 +0000 UTC

Data
====
status:
----
Cluster-autoscaler status at 2019-06-17 07:25:02.26553377 +0000 UTC:
Initializing
Events:  <none>
`
I spent two d

[2019-06-17 14:47] MaxWinterstein commented on #1133
Stumbled across this too. I tried to use a scale-to-zero pool within my existing cluster for CI/CD gitlab workers. Running on GKE with `1.13.6-gke.0`.

Sadly there is no scaling above 1 node, thus 5 are allowed.

pod description:
[code]

[2019-06-17 14:49] jvaibhav123 opened #2125 "VPA : Lower Bound remains constant for all deployment objects"
Dear Team,

We have deployed the VPA on test cluster using the script mentioned in repo file. The deployment seems to be successful as we do not see any error messages in logs. (Any other way to confirm if its installed successfully and get all metric info?)
We have created the VPA configuration for our deployment objects and we could see the lower bound values remain same for all objects.

Recomm

[2019-06-17 15:33] Luke035 opened #2126 "CA for EKS additional ASG doesn't scale down to 0"
Hi everyone,

I have an EKS cluster with multiple ASG: one with a min size of 1 and max size of 10 and a GPU-based ASG (min size 0 and max size 2)

The additional ASG has been created through `eksctl` with the following command:
`eksctl create nodegroup --cluster=CLUSTER_NAME --node-type=p3.2xlarge --nodes-min 0 --nodes-max 2 --profile=eksctl-admin --region=us-east-1`

Once created, I provided the

[2019-06-17 16:07] milesbxf commented on #1631
FYI I've just raised a PR to add this to kube-state-metrics: https://github.com/kubernetes/kube-state-metrics/pull/791

[2019-06-17 16:27] CecileRobertMichon commented on #2044
@edrevo I'm still waiting on a repo maintainer to approve the PR so it can merge. I don't know of any backporting plans, maybe @feiskyer can help answer that.

@posix4e a workaround would be to delete the the "agentpool" label on your cluster's nodes since that is what is causing the pools to not be identified as "similar". I would careful about doing so however because it may have undesired secon

[2019-06-17 16:29] posix4e commented on #2044
Sure!

[2019-06-17 16:33] posix4e commented on #2044
Sorry I'm a bit dumb, do you mean deleting the azure tags, or some k8s thing?

[2019-06-17 16:35] CecileRobertMichon commented on #2044
Nope, Kubernetes labels on the nodes: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

[2019-06-17 16:36] posix4e commented on #2044
Ooh of course! Thanks!

[2019-06-17 22:03] #1520 closed

[2019-06-18 01:38] feiskyer commented on #2044
Yep, we should cherry pick this to stable release branches.

[2019-06-18 07:09] edrevo commented on #2044
Hi again. I've been thinking about this, and I am not sure the opened PR adresses @palmerabollo's description of the issue. Please do correct me if I'm wrong, but my impression is that after the PR is merged, the CAS will be able to scale two agent pools in a single call _only if they use the same node type_.

This means that, in general, this still stands:

I believe that the root cause of this i

[2019-06-18 07:14] edrevo commented on #1811
@feiskyer, is there any way of backporting this to older autoscalers? Or is it impossible because it depends on a change on the main k8s repo?

[2019-06-18 14:06] feiskyer commented on #1811
@edrevo probably not possible because the package is only vendored from kubernetes 1.15 or master, while CA depends on this package indirectly via vendoring kubernetes.

The issue has been fixed in master branch.

/close

[2019-06-18 14:06] #1811 closed

[2019-06-18 15:22] jhohertz commented on #2020
I just ran into a similar thing, with a kops-built cluster, and I know exactly why it is ignoring the balance-similar-node-groups flag.

The problem, at least in my case, and it sounds similar to the above description, is that kops is adding it's own labelling to the node, IE: `kops.k8s.io/instancegroup: nodes-us-east-1a`, meaning that groups do not match on the labelling.

One possible fix, speci

[2019-06-18 19:51] meringu commented on #2020
Not the case for our EKS cluster. We do have some control over the labels. The only different node labels on our clusters are in the ignoredLabels list.

It is the capacity check in our case, as the logs show it sometimes finds a similar node group or two, depending on if the node group has any instances, and a bit random as AWS doesn't give the exact amount of memory everytime.

[2019-06-18 22:07] StevenACoffman commented on #1298
/remove-lifecycle stale

[2019-06-20 02:17] xjas commented on #2109
@fgrzadkowski @jszczepkowski If possible, could you take a look at this issue and the relevant PR: https://github.com/kubernetes/kubernetes/pull/78859  ?

[2019-06-20 08:36] palmerabollo commented on #2044
Yes, I agree with @edrevo. It should work with agentpools using different node types.

[2019-06-20 11:23] milesbxf commented on #2125
@jvaibhav123 this isn't well documented at the moment, but there is a `--pod-recommendation-min-memory-mb` flag which determines the minimum amount of memory the recommender will set - it defaults to 250MB, which I believe is what you're seeing here 🙂

https://github.com/kubernetes/autoscaler/blob/d81bdb87ce5d6801d0030f02c2e96080b53a209e/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go

[2019-06-20 16:13] wilsonhipolito commented on #1070
/remove-lifecycle stale

This feature would help me a lot, since my cloud provider always have problems with "old" vms.
+1 for the oldest node removal as suggested by @n2aws (or make it possible to configure which strategy to use)

[2019-06-20 20:45] CecileRobertMichon commented on #2044
@edrevo @palmerabollo the way I see it, my PR is a pre-requisite for what you are asking for. It might not resolve the issue completely but without the node label patch no two agent pools can be considered "similar" from the autoscaler's perspective as they will each have a unique "agentpool" label, no matter what their VM size is. What my PR is doing is relaxing that requirement, not changing or

[2019-06-21 00:46] bobo333 commented on #2058
Thank you for the replies and suggestions. Looking more at what my use case is, and how vpa is designed to work, I don't think it's the best approach to solve what I was trying to accomplish. I'm closing this one out.

[2019-06-21 00:46] #2058 closed

[2019-06-21 07:16] yan234280533 opened #2132 "Cluster-autoscaler fixNodeGroupSize function use registered and targetSize is not suitable"

[2019-06-21 07:24] yan234280533 commented on #2132
Cluster-autoscaler fixNodeGroupSize  function use registered and targetSize is not  suitable

when the autoscaling group is scale-out the node ,but the node is not add to k8s cluster, registered node size is less than targetSize, to DecreaseTargetSize is failed, is not suitable

if DecreaseTargetSize forced, the normal node may be destroyed ，is not suitable

we think, we can get the curretSize in

[2019-06-21 19:03] cb-oath opened #2134 "Multiple vulnerabilities in gcr.io/google_containers/cluster-autoscaler"
When scanning gcr.io/google_containers/cluster-autoscaler:v1.12.6 with Clair, 56 vulnerabilities are reported.  While probably not exploitable given the entrypoint, it sends off alarm bells and the underlying debian image should be updated.

[code]

[2019-06-22 17:55] tbarrella commented on #2043
Yes, there's a similar label for taints; for AWS for example see https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/README.md#scaling-a-node-group-to-0

[2019-06-22 18:05] okgolove commented on #2043
@tbarrella thank you! I don't know how I I was able to miss that thing.

[2019-06-22 18:05] #2043 closed

[2019-06-22 21:13] Denton24646 commented on #2109
Ah yes, I see that if you dig deeper into the code this condition should be hit later on and return the `hpa.Spec.MaxReplicas`
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/horizontal.go#L743

The `convertDesiredReplicasWithRules()` function uses the `stabilizedRecommendation` variable as `desiredReplicas` within its function context. I think the off-by-one bug

[2019-06-24 03:37] meringu commented on #2020
Hi @Jeffwan, did you get a change to look at this last week? Is there anything I can help with?

We are happy to contribute engineer time if that would be helpful.

[2019-06-24 06:03] Jeffwan commented on #838
/remove-lifecyle stale

[2019-06-24 06:16] Jeffwan commented on #2020
@meringu Sorry for late response. It would be helpful to help identify the problem. I am trying to see if this can be easily reproducible. In the ca log @danmcnulty provide, it failed node selector, could you share the logs and make sure it failed on mismatch of memory?
[code]

I did some search and didn't find any clues of memory mismatch for one instance. Could you file a service ticket to AWS e

[2019-06-24 06:16] Jeffwan commented on #2020
@meringu Sorry for late response. It would be helpful to help identify the problem. I am trying to see if this can be easily reproducible. In the ca log @danmcnulty provide, it failed node selector, could you share the logs and make sure it failed on mismatch of memory?
[code]

I did some search and didn't find any clues of memory mismatch for one instance. Could you file a service ticket to AWS e

[2019-06-24 22:22] meringu commented on #2020
Unfortunately there are no logs for the comparisons, you can see in my above link for the `IsNodeInfoSimilar` function, that there are no log statements. See my above for the memory disparity.

Summarised:

c5.2xlarge:
Cluster Autoscaler is coded to `16384MB`
Some nodes free -k `15835076Ki`
Other nodes free -k `15835084Ki`

I'll raise a support ticket asking them about the difference in memory fro

[2019-06-25 08:39] bskiba commented on #1812
/close
fixed by @jbartosik

[2019-06-25 08:39] #1812 closed

[2019-06-25 09:30] edmorley opened #2139 "Cluster Autoscaler AWS example uses wrong host path for SSL certs"
Hi!

The latest version of Kubernetes available on EKS is 1.13. The Cluster Autoscaler docs recommend using a version of the autoscaler that matches that of the Kubernetes version in use, so EKS users will be using the examples from this branch:

https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-1.13.5/cluster-autoscaler/cloudprovider/aws/examples

However in those examples, the SSL

[2019-06-25 11:21] leonsodhi-lf commented on #2020
@meringu this sounds like a similar problem to what I'm facing. In the event it is relevant, you may wish to skim [aleksandra-malinowska's comment](https://github.com/kubernetes/autoscaler/issues/1676#issuecomment-462849403). Here's a snippet:

[2019-06-26 02:15] xrl commented on #2139
This can be fixed by overriding the `sslCertHostPath` value on the release.

Mine looks like:

[code]

[2019-06-26 02:54] yan234280533 opened #2140 "cluster autoscaler cluster-autoscaler-status can show the Unregistered nodes"
cluster autoscaler  cluster-autoscaler-status can show the Unregistered nodes

Unregistered nodes is the important indicators of CA running status, can add it to the cluster-autoscaler-status configmaps

[2019-06-26 03:14] yan234280533 opened #2141 "cluster autoscaler updateIncorrectNodeGroupSizes when ready node is zero, it can not work"
In updateIncorrectNodeGroupSizes  function, it to update  incorrectNodeGroupSizes . When the as group not have any node ,the readiness is empty, it returned . So the incorrectNodeGroupSizes is not set.

		readiness, found := csr.perNodeGroupReadiness[nodeGroup.Id()]
		if !found {
			// if MinNodes == 0 node group has been scaled to 0 and everything's fine
			if acceptableRange.MinNodes != 0 {

[2019-06-26 08:21] #1398 closed

[2019-06-26 10:58] invidian commented on #2124
I have the same issue, autoscaler is stuck initializing. 1.13.5 works as expected, 1.14.0 and older versions does not work anymore.

[2019-06-27 22:58] #1471 closed

[2019-06-28 03:19] k1ng440 opened #2145 "GKE nodes with local SSD"
Hello,
I have database pool that has local ssd. is there anyway to automatically scale the pool?

[2019-06-28 18:06] glapark commented on #966
I wonder if there is any update on the default value of --scale-down-unneeded-time. I think the default value of 10 minutes is fine, but I hope GKE allows users to change the value for their own cluster, because if --scale-down-unneeded-time is set to a new value, the users should know what that actually means.

For us, we would like to implement an autoscaling logic for an analytics system based

[2019-06-28 18:16] #1611 closed

[2019-06-29 04:26] #1576 closed

[2019-06-29 06:28] #1616 closed

[2019-06-30 02:15] feiskyer commented on #2115
MSI is not supported yet on AKS. Actually, there're now more easier way to enable CA on AKS, see https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler.

/close

[2019-06-30 02:15] #2115 closed

[2019-06-30 02:22] feiskyer commented on #2124
Found some issues that may cause Azure API call stuck. When 429 returned, the go-autorest package may retry infinitely until it gets a different status code other than 429.

Refer https://github.com/Azure/go-autorest/issues/398 for more details on the issue. Still seeking for solutions since the retry logic in go-autorest is not exposed.

/assign

[2019-06-30 03:45] feiskyer commented on #1674
/close

[2019-06-30 03:45] #1674 closed

[2019-06-30 05:54] xrl opened #2148 "Pods On MixedInstances AWS ASG Error with `NotTriggerScaleUp`"
I am using the gitlab helm chart to create my CI environment and I can get the kube cluster to scale up by spawning many CI jobs but it seems slow and iffy.

The Jobs does have ephemeral storage (emptyDir):

[code]

but here's the error/info message I'm seeing that stops the cluster from scaling up:

[code]

the underlying ASG is using MixedInstances to do spot purchases, if that matters. here's h

[2019-06-30 11:14] alejandrox1 commented on #1653
@suneeta-mall sorry for the delay in responding here.
Could you include the logs for the failed deploys, i.e., `kubectl logs cluster-autoscaler-pod -n kube-system -p`, please?

/remove lifecycle-rotten

[2019-06-30 11:15] alejandrox1 commented on #1653
@suneeta-mall sorry for the delay in responding here.
Could you include the logs for the failed deploys, i.e., kubectl logs cluster-autoscaler-pod -n kube-system -p, please?

/remove-lifecycle rotten

[2019-06-30 13:27] feiskyer commented on #2042
Already fixed by #2102

/close

[2019-06-30 13:27] #2042 closed

[2019-06-30 20:32] suneeta-mall commented on #1653
@alejandrox1 The log is already attached in the description [see here](https://github.com/kubernetes/autoscaler/issues/1653#issue-407045165) "Lost master" but kube master and all other kube component seem to function fine but autoscaler

[2019-07-01 01:08] feiskyer commented on #1984
/assign

[2019-07-01 09:12] aleksandra-malinowska commented on #2145
Hi, due to the way local SSDs are represented in Kubernetes, autoscaling doesn't currently support them directly. More specifically, scale up isn't supported, as schedule predicate fails for the template node due to lack of matching local volume.

I haven't tried that, but I think there may be a workaround: assuming you're using pod autoscaling for your database deployment, you could configure ano

[2019-07-01 09:38] Boriszn opened #2153 "AKS Cluster downscaling issue"
Hi Team,

Could someone please help or suggest something. We are running autoscaler in the AKS.
When cluster is downscaling it could left 2 (or even 1) nodes for short period (for 3 / 5 min) _however min nodes count was configured to 3 node._

Is it expected behavior ? Or my configuration is wrong somehow ?

Many Thanks for help, in advance

Kubernetes version `1.13.5`
Autoscaler configuration:
[c

[2019-07-01 13:19] danmcnulty commented on #2020
@Jeffwan Just a quick note on the logs I provided - the ASG with prefix "eks-zeus-autoscaler" was used for something unrelated by us, and so it was expected that this group didn't match the node selector.

The question I have is about the 3 similar groups with prefixes:
eks-zeus-scalemultiaz-a
eks-zeus-scalemultiaz-b
eks-zeus-scalemultiaz-c
Which are the ones with identical labels, which scaled up

[2019-07-01 20:32] 01100010011001010110010101110000 opened #2154 "[cluster-autoscaler] AKS cluster-autoscaler resource group deployment history limit"
Azure resource group deployments [have a hard cap of 800 deployments](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-common-deployment-errors), which means that autoscaling will always eventually fail and require manual intervention to delete deployment history from the RG after 800 scale operations have been performed.

[2019-07-02 12:19] dmitris opened #2156 "cluster-autoscaler/go.mod: outdated / misleading instructions about file generation?"
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/go.mod#L2 says:
`// Run hack/pin-dependency.sh to change pinned dependency versions.` - but it seems there's no `pin-dependency.sh` script in https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/hack (update-vendor.sh does exist).  Should that line be removed now?

[2019-07-03 06:01] #734 closed

[2019-07-03 08:06] haoli-buaa opened #2157 "Completed pod of cronjob unseen after using auto scaler"
Before auto scaler is used. I can see the completed pod of a cronjob using
`kubectl get pod`
But after the AWS autoscaling group is enabled with k8s auto-scaler.
I can not see those completed pods.
Is this an expected behavior of k8s auto-scaler or a potential bug ? What caused this phenomenon?
K8s cluster version: 1.10

[2019-07-03 09:50] #2044 closed

[2019-07-03 09:50] #1984 closed

[2019-07-03 11:41] tghartland commented on #2011
@openstacker I have made these changes to my own fork of autoscaler (https://github.com/tghartland/autoscaler/tree/magnum-resize).

Since the resize API is much easier to use, it is possible to cut out a lot of the code that was required for deleting nodes with heat (blocking scaling while the cluster is updating, for example), but it means that kubernetes 1.16 and later will require magnum stein

[2019-07-03 12:08] bskiba commented on #1561
/remove-lifecycle rotten

[2019-07-03 12:35] realdimas opened #2159 "vertical-pod-autoscaler recommender stopped working for some targets"
vpa-recommender stopped working for some targetRefs between vertical-pod-autoscaler-0.5.0 and vertical-pod-autoscaler-0.5.1.

Specifically, none of the [prometheus-operator](https://github.com/coreos/prometheus-operator) created [StatefulSets](https://github.com/coreos/prometheus-operator/blob/409ec7dc5dd6b88d33e67ba5d19ff1d6169e56b0/pkg/prometheus/statefulset.go#L162-L179) get any recommendation.

[2019-07-03 13:00] forkbomber commented on #2159
/label vertical-pod-autoscaler

[2019-07-03 13:22] bskiba commented on #2159
Thanks for reporting!
I have some follow-up questions.
1. Is the top-level controller (monitoring.coreos.com/v1/Prometheus) creating multiple Stateful Sets? If yes, does it make sense to scale them together? Are they similar enough so that it makes sense to give them one common recommendation?

2. Does the monitoring.coreos.com/v1/Prometheus resource implement the scale subresource?

[2019-07-03 15:09] forkbomber commented on #2159
[Prometheus-operator](https://github.com/coreos/prometheus-operator#prometheus-operator) currently backs each [Prometheus CRD](https://github.com/coreos/prometheus-operator/blob/master/Documentation/design.md#prometheus) object with a corresponding [individual StatefulSet](https://github.com/coreos/prometheus-operator/blob/409ec7dc5dd6b88d33e67ba5d19ff1d6169e56b0/pkg/prometheus/operator.go#L1105).

[2019-07-03 15:17] Constantin07 commented on #2045
Please, can someone explain how CA can drain a specific node upfront before AWS ASG decides which node exactly to terminate on scale-down event ?

[2019-07-03 15:33] aleksandra-malinowska commented on #2045
CA always requests deleting a specific node. This is a basic requirement for implementing support for a new cloud provider. My understanding is that so far it worked on AWS as well.

[2019-07-03 15:36] aleksandra-malinowska commented on #2045
Relevant API call: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go#L242

@Jeffwan can you explain what's going on here? This doesn't sound like a Cluster Autoscaler issue, right?

[2019-07-03 15:43] Constantin07 commented on #2045
@aleksandra-malinowska OK, so looks like upon termination of specific instance we do decrement the desired number. Now it makes sense. Thanks.

[2019-07-03 18:25] xrl opened #2161 "nil pointer dereference while fetching node instances for aws asg"
I am seeing this error:

[code]

I have been aggressively scaling up my workloads in this new kube cluster. I am using the autoscaler helm chart with these values:

[code]

and I am running autoscaler 1.15.0 (I know that's mixing version from EKS 1.13.7 but it's the only way to work with MixedInstanceGroup ASGs.

[code]

one of my autoscaling groups cloudformations:

[code]

[2019-07-03 18:29] xrl commented on #2148
Upgrading to autoscaler 1.15 helped.

[2019-07-03 18:29] #2148 closed

[2019-07-03 18:29] xrl commented on #2161
[code]

[2019-07-03 19:00] bskiba commented on #2159
Thanks!

So there is 1:1 relation between Prometheus Custom Resource and a StatefulSet.

Looks like there is a bug in the way we validate the controller chain then. AFAIU we should go up to the topmost controller that is a well known controller and/or implements scale subresource. This means that we should identify the StatefulSet as the right controller to scale on. However we first try to read t

[2019-07-03 19:49] forkbomber commented on #2159
I did allow all verbs on `Prometheus` and `prometheus/scale` to get to the two error scenarios described in the first post.
vpa-recommender was erroring out in different ways without necessary RBAC permissions.

The proposal sounds good to me, if I may add one nit to it:
- if unable to get parent controller, log RBAC-related errors into `debug` log level. This way info-level log messages would be

[2019-07-04 08:44] cristifalcas opened #2162 "[VPA] can't set arguments only on recommender container"
It will be helpful to have the possibility to add arguments to the container.

Currently, in the recommender deployment you can't add just the arguments, as they will be ignored. You have to also add the command overwrite, that it's not so intuitive to find out (./recommender).

By adding a CMD line, this can be solved as in https://stackoverflow.com/a/34245657/451348

Affected file:

https://gith

[2019-07-04 09:26] #2124 closed

[2019-07-04 18:36] thangbn opened #2163 "[cluster-autoscaler] Unable to build proper template node & Unable to get instance type from launch config or launch template"
Look like auto-scaler having trouble to scale up the cluster, please refer to the log message below:
[code]
1. Env:
- EKS 1.13
- Autoscaler image: v1.13.5
- The cluster is created using terraform-aws-eks ( https://github.com/terraform-aws-modules/terraform-aws-eks)
[code]
I suspect it might have something to do with the ASG is on 3 different AZs. but I have another cluster with multiple AZs ASG se

[2019-07-04 22:32] thangbn commented on #2163
i tried to use the docker image version 1.15.0, the default worker group can scale up.

[2019-07-04 23:36] meringu commented on #2020
Hey team,

I've heard back from AWS about the memory capacity disparity.

For the difference reported on the running hosts, I was using two different AMIs with different kernel versions. After updating all the instances to the newer AMI, they all report the same memory capacity.

With regards to the difference in reported in the API vs reported on the node, I got this response:

    Hence total av

[2019-07-05 06:02] meringu commented on #2020
Or I could disable scaling to zero for my ASGs. This means extra overhead however.

[2019-07-05 09:20] cristifalcas opened #2164 "[VPA] how are recommendations calculated"
Hi, can you give an explanation on how recommendations are computed?

There is an explanation in code on  [how eviction works](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/logic/recommender.go#L114) but I couldn't find anything related to recommendations

[2019-07-05 10:24] okgolove opened #2165 "Scale from 0, unwanted nodes"
Hello. I have three ASGs:
main [min:1, max: 1]
spots [min: 1, max:10]
test-asg  [min:0, max:0, tainted]

Taint is specified for ASG and instances tags.

CA always creates a new node in the `test-asg` group there are no pods being scheduled on the test ASG nodes though. Then, it deletes the node (after unneeded period) and creates again (loop).

How can I fix this?

[code]

[2019-07-07 05:54] xrl commented on #2163
@thangbn I saw this as well in my EKS 1.13 cluster and upgrading to the cluster autoscaler 1.15.0 image did get me unblocked.

[2019-07-07 06:51] thangbn commented on #2163
Yeah, i guess not all the changes got propagate to version 1.13 properly. Closed as workaround is usingl latest version but beware of any implication cause by K8s and autoscaler version mismatch

[2019-07-07 06:51] #2163 closed

[2019-07-07 12:33] alexei-led commented on #1580
@Timvissers hi I try to achieve the similar setup: multiple node groups, some with spot intances on EKS. Can you share your configuration for CA and CF for node groups?
Thank you.

[2019-07-07 22:02] Denton24646 commented on #2109
I closed my PR after not receiving any feedback from folks on the autoscaling team for a month. Seems like this will remain a mystery @NolanChan

[2019-07-07 22:07] Denton24646 commented on #2162
I can open a PR for this 👍

[2019-07-08 13:27] bskiba commented on #2164
Short description OTOH:

Usage samples (gathered every minute) for 8 days are kept in a "decaying histogram" - older samples contribute less than fresh ones.
For CPU we take a very high* percentile of all those samples + some safety margin  as the target.
For memory every day we record daily max. We take a very high* percentile of those daily max values from the last 8 days.

*(very high) - i don'

[2019-07-08 14:40] cristifalcas commented on #2162
thank you

[2019-07-08 14:40] #2162 closed

[2019-07-08 15:58] alejandrox1 commented on #1653
@suneeta-mall how did you create the cluster? would you happen to have a copy of the code somehwere?

[2019-07-08 16:50] cristifalcas opened #2174 "[VPA] recommendations stopped working"
I have some 64 VPA definitions for 64 deployments. When I put them under load they use ~2-5 CPUs. When not, they use something like 100,200mcpu.

Over the weekend the deployments have not been used at all, so all went to 1CPU target (the minimum set on the definition).

But when I started testing again the VPA today, the recommendations remain on 1CPU. Even after 1 hour of test load, nothing chang

[2019-07-08 16:54] cristifalcas commented on #2174
Actually it seams that the recommender is restarting every few minutes.

Logs until fail:
[code]

[2019-07-08 17:03] cristifalcas commented on #2174
sorry, it was OOM killed. I increased the resources

[2019-07-08 17:03] #2174 closed

[2019-07-08 17:48] cristifalcas commented on #2164
Thank you @bskiba
It's clearer now.

[2019-07-08 17:48] #2164 closed

[2019-07-09 06:53] piontec commented on #1858
ping @bskiba , can we close this?

[2019-07-09 07:54] bskiba commented on #2174
Glad you resolved it. How much did you have to bump the resources up? We may consider increasing the default deployment values if they are too low.

[2019-07-09 08:34] cristifalcas commented on #2174
I increased the memory requests to 1GB and limits to 2GB, but it used a maximum of  1.1GB of memory (data from prometheus). But usually it stays at ~600MB.

Increasing only the limits to 1.5GB may be sufficient.

I use 64 VPA objects for now and the pods (128 of them) had a prometheus history of ~4days.

[2019-07-09 09:17] bskiba commented on #2174
Thanks!

[2019-07-09 09:19] milesbxf opened #2178 "vertical-pod-autoscaler: rate limit pod evictions"
We've been using the VPA for a couple of weeks, and it's generally working really well 👍unfortunately, on a couple of occasions, it's working a bit _too_ effectively, and creating a ton of pod evictions in a short space of time. We run a fairly large cluster, and on a couple of occasions it's evicted about 2-3k pods in the space of 15-20 minutes.

This large pod churn puts a huge strain on the api

[2019-07-09 09:33] viggeh opened #2179 "Some AWS instance types (r5.8xlarge, r5a.8xlarge) are missing"
Hey,

I got an error in cluster-autoscaler using an ASG with `r5a.8xlarge` instances.

[code]

Looking at https://github.com/kubernetes/autoscaler/blob/d9a86611a5305c2f73096f74735e0c77d2b3fae9/cluster-autoscaler/cloudprovider/aws/ec2_instance_types.go#L972
I noticed that `r5.8xlarge`, `r5a.8xlarge` and `r5d.8xlarge` are all missing. We do have the 12x and 4x options though. Maybe something went wr

[2019-07-09 09:42] bskiba commented on #2178
Thanks for reaching out! This is definitely an important topic.

I have a couple of clarifying questions.
Do you have [pod disruption budgets](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work) defined for these pods?
Are those pods part of one deployment or several different deployments?
Do you know what is causing the updates to happen? i.e. what happens

[2019-07-09 09:57] milesbxf commented on #2178
Hey! Thanks for the quick response 🙂

Yes, we do. Let me clarify a bit further - we use Envoy as a service mesh, and have a lightweight control plane which follows K8s Endpoint updates to determine where to route traffic. The pod churn hugely increased the rate of endpoint updates, which overloaded the API server (in one instance) and the control plane (in another instance), which caused Envoy to

[2019-07-09 11:23] bskiba commented on #2178
Thanks for clarifying!

@kgolab @schylek for visibility

Looking forward to anything you can find on those updates after vpa-updater redeployment - this does sound like a potential bug.
As for the initial deployment case, it never hurts to do staged deployment, but still it could be handled better on VPA side.
Side note, 1000 deployments is on a bigger side for VPA (as this is still beta), there h

[2019-07-09 11:51] wojtek-t commented on #2178
@wojtek-t from Kubernetes scalability perspective, are there any mechanisms we could use to limit the churn on API server caused by VPA recreating the pods?

Other than qps-limits on client side, nothing else exists now.
You can try to build some wrapper around client to do something if you need, but I'm not aware of any building blocks here.

It seems related. Basically those two open KEPs seem t

[2019-07-09 12:21] milesbxf commented on #2178
Thanks so much for your helpful response!

Aha - that's good to know!

Other than this issue, we've had a very good experience with it, and it seems to scale quite nicely. Altogether it's doing around 80 requests/sec to the API server in normal operation (so adds a bit of load there). The recommender is consistently using under 200 millicores and just over 1GiB memory, and recommendation execution

[2019-07-09 12:58] milesbxf opened #2180 "vertical-pod-autoscaler: updater suddenly evicted a lot of pods after being redeployed"
_Raising an issue separately to #2178 to track what we've found_

We had an issue with the VPA recently where we redeployed the recommender and updater; the updater immediately started evicting pods from nearly half our cluster (2-3k pods) in about 15-20 minutes. We're discussing how to mitigate the effects of pod/endpoint churn in #2178; this issue is about why the mass evictions happened.

**Wha

[2019-07-10 00:27] Jeffwan commented on #2045
I got few days off and just see the message.
As Alexa said, "CA always requests deleting a specific node."  ASG won't randomly terminate node. Instead, CA drain specific node and ASG terminate node by node id.

The root problem of this issue is CA use evict API rather than Drain API but service controller uses a `NotScheduable` label to remove a node from load balancer endpoints. Only drain API wi

[2019-07-10 00:28] Jeffwan commented on #1669
/close

[2019-07-10 00:28] #1669 closed

[2019-07-10 08:28] Constantin07 commented on #2045
@Jeffwan thanks for explanation. Makes sense.

[2019-07-10 09:36] iMartyn opened #2181 "Cluster-autoscaler avoiding nodes because of daemonsets"
We have a 5-node cluster that is running prometheus-node-exporter as a daemonset and cluster-autoscaler is failing to scale it down because the pods would not be schedulable elsewhere (no surprise, they're a daemonset!).

Relevant lines from the logs :
[code]
Provider : AKS
K8s version : 1.12.8
ca version : 1.12.5
ca args :  --v=3 --logtostderr=true --cloud-provider=azure --skip-nodes-with-local-s

[2019-07-10 09:58] Luke035 commented on #2024
Hi @Jeffwan I'm adding a comment just because I'm in the exact same situation as @xinxingliu90
In particular I have an EKS cluster and I'm running several workloads including ML ones and of course I had to integrate some GPU ASGs.
Is there any news regarding  price-based expansion policy? It'd be nice to help!

[2019-07-10 15:54] cristifalcas opened #2184 "autoscaller and emptydir"
What is the reasoning behind https://github.com/kubernetes/autoscaler/blob/fae2c903a3a6615fc53b748e7a17398128b60745/cluster-autoscaler/utils/drain/drain.go#L197-L199

Why would emptydir make the pod unevictable?

Shouldn't be considered that it's stateless and can be moved safely?

[2019-07-10 20:42] Timvissers commented on #1580
@alexei-led Must have been something like this:
`
command:
            - ./cluster-autoscaler
            - --v=4
            - --stderrthreshold=info
            - --cloud-provider=aws
            - --skip-nodes-with-local-storage=false
            - --expander=least-waste
            - --nodes=0:60:prod-eu-workers-cpu-spot-NodeGroup-XXXXXXXXXXXXX
            - --nodes=0:60:prod-eu-workers-gpu-sp

[2019-07-11 00:03] #1555 closed

[2019-07-11 01:04] Denton24646 commented on #2184
I think it's because `emptyDir` volumes are generally backed by the storage of the node and in effect act like local storage volumes.

So I guess evicting pods backed by an `emptyDir` volume could lead to data loss and that's why its disabled by default.

Source:
https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

[2019-07-11 01:10] Denton24646 commented on #2184
That being said, you can override the default behavior and allow pods backed by `emptyDir` volumes to be evicted by adding the `"cluster-autoscaler.kubernetes.io/safe-to-evict": true` annotation to the pod

[2019-07-11 05:01] metral commented on #1578
/remove-lifecycle stale

[2019-07-11 08:52] okgolove commented on #1795
It seems my issue is pretty related to the this one.
https://github.com/kubernetes/autoscaler/issues/2165

[2019-07-11 09:06] okgolove commented on #2165
relates https://github.com/kubernetes/autoscaler/pull/2008

[2019-07-11 12:23] iMartyn commented on #2181
Further information, we had two daemonsets conflicting with each other (using the same port) and so the pods were stuck in Pending.  Whilst I understand that this is an unusual scenario and it's understandable that CAS would not cope, excluding daemonset-created pods I think would be sensible in all cases.

[2019-07-11 17:49] Jeffwan commented on #2024
Does the priority strategy work for you?  If you are using P2, P3, the price difference is very large. Either priority or node affinity can be used here. Could you explain your use case?

[2019-07-11 19:16] jerrylam commented on #2179
I'm also looking into that. I wonder if adding a new instance type is as easy as adding a new entry into this ec2_instance_types.go file? If yes, I'm more than happy to add that :)

[2019-07-12 02:09] seanmalloy commented on #2181
In CA version 1.13 there is a command line option to ignore DaemonSets.

On Thu, Jul 11, 2019, 7:23 AM Martyn Ranyard <notifications@github.com>
wrote:

[2019-07-12 13:38] Luke035 commented on #2024
Hi @Jeffwan,
currently I've been able to make it work with just a priority strategy. That'd be really nice when using spot instances: in my case I'm using KUBEFLOW and when Data Scientist has to spin up a notebook they don't really care about which GPU (K80, V100, etc are all fine for some experiment) and being able to choose the node based on the current price will be awesome!

[2019-07-12 14:41] MaciekPytel commented on #2181
CA ignores daemonsets running on node, but this seems to be caused by pending ones. There is no special treatment of pending daemonset pods.
Any pending pod can block scale-down. Though it should not be true if the pod can't be helped by scale-up. @vivekbagade I think we already discussed this issue (with a different trigger) - a pod that is marked as NotTriggeredScaleUp should not block scale-dow

[2019-07-12 20:15] rocketraman commented on #2087
I had the same problem, thanks for providing your solution. Would be great if there was something in the docs or an FAQ entry about this.

[2019-07-15 03:10] xrl commented on #2161
I was able to trigger this again on node scale up:

[code]

[2019-07-15 05:08] suneeta-mall commented on #1653
@alejandrox1 It was created with kops on AWS ... anything specific you are looking for ?  The very basic version is can be created with following snippet .. which is the foundation of k8s used in this case. ETCD version 3.X
[code]

[2019-07-15 08:23] choseh commented on #1754
I'm running into this issue in one cluster, weirdly it works in another, both running 1.12.6 🤔

[2019-07-15 08:40] milesbxf commented on #2016
+1, also seeing this - though looks like the legacy selector has now been removed on master in https://github.com/kubernetes/autoscaler/commit/4e07e1eac160759c9c515aa0c7d2db137dd7b06e#diff-a766133cfa48bb3e35b13670f45a8497.

@bskiba would it be possible to cut a new release?

[2019-07-15 08:45] milesbxf commented on #2178
👋 @bskiba

I might have a go at doing this this week - broadly speaking, I'm thinking of doing a client-side rate limiting implementation. Are there any preexisting K8s go rate limiting implementations I can make use of that you know about?

[2019-07-15 14:48] bskiba commented on #2016
@milesbxf is the log message causing issues? I believe it has the wrong severity level, but other than that shouldn't be problematic.
I'm working on having the new release cut, probably in the next couple weeks.

[2019-07-15 14:48] bskiba commented on #1858
/remove-lifecycle stale

[2019-07-15 14:49] bskiba commented on #1858
Still haven't released it :disappointed:
Will try to wrap it up this week

[2019-07-15 15:59] Jeffwan commented on #2024
@Luke035 Thanks for sharing the use case. I am curious what would you expect by using price? If we consider to spin up cheapest node, it will be always K80 (P2 instances), Any case to spin up V100 instance?

[2019-07-15 17:12] MaciekPytel commented on #2087
We're very happy to accept any contribution to docs / FAQ about this, if anyone wants to give it a shot.

[2019-07-15 22:29] raravena80 commented on #1907
Any ETA on the fix for this issue? We are seeing the same. Thx.

[2019-07-16 06:47] losipiuk opened #2189 "Cluster Autoscaler patch release - request for cherry-picks"

[2019-07-16 06:49] losipiuk commented on #2189
We will be preparing CA patch releases on 19.07.2019. This ticket is to coordinate extra cherry picks which may be needed.

[2019-07-16 06:51] losipiuk commented on #2189
cc: @feiskyer, @Jeffwan, @ringtail, @hello2mao, @tghartland

[2019-07-16 08:39] milesbxf commented on #2016
@bskiba no issues other than pure volume of logs, so if it were lower severity that would work well too 👍

[2019-07-16 10:26] RsknCankov opened #2192 "Couldn't read config: error: Failed to create GCE Manager"
Hello,
I am trying to deploy cluster-autoscaler in my GKE, when Pod boots up following error is being thrown.

Deployed by:
helm - stable/cluster-autoscaler --version 0.14.2

Kubect Version:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.6", GitCommit:"abdda3f9fefa29172298a2e42f5102e777a8ec25", GitTreeState:"clean", BuildDate:"2019-05-08T13:53:53Z", GoVersion:"go1.11.5", Com

[2019-07-16 12:53] fatih commented on #254
Hi,

I'm going to look into adding autoscaler support to DigitalOcean. Is there a way we can reopen this issue again? Just want to make sure people who follow this issue are getting updated at where we are.

Thanks

[2019-07-16 13:14] andrewsykim commented on #254
/reopen

[2019-07-16 13:53] feiskyer commented on #2189
Thanks, no more cherry picks from my side.

[2019-07-16 13:55] ringtail commented on #2189
Thanks, no more cherry picks from Alibaba Cloud.

[2019-07-16 14:40] tghartland commented on #2189
Nothing new in magnum cloud provider.

[2019-07-16 22:53] Jeffwan commented on #2189
Thanks. I need to have a check and I will come back tomorrow.

[2019-07-16 22:58] Jeffwan commented on #2163
Sorry for late response. I was on vacation and just come back. I will have a test against 1.13 and cherry-pick changes if that's a bug.

[2019-07-16 22:58] Jeffwan commented on #2179
I can add instances and cherry-pick to all branches, release team will roll out new images next week

[2019-07-16 23:00] Jeffwan commented on #2179
Sorry for late response. Just come back from vacation :D

[2019-07-16 23:01] Jeffwan commented on #2165
what's the expand strategy are you using?

[2019-07-16 23:01] Jeffwan commented on #2165
Sorry for late response. just come back from vacation :D

[2019-07-16 23:05] Jeffwan commented on #2161
MixedInstanceGroup is kind of a feature we recently add to cluster autoscaler. So we determine not to cherry-pick back to old branches..

Let me run a test with this combination and target the issues.

[2019-07-16 23:07] Jeffwan commented on #2126
What's your CA configurations? Are you using node auto-discover? sorry for late response, just come back from vacation.

[2019-07-16 23:10] Jeffwan commented on #2139
Please check common notes and Gotchas here.
https://github.com/kubernetes/autoscaler/tree/cluster-autoscaler-1.13.5/cluster-autoscaler/cloudprovider/aws#common-notes-and-gotchas

I plan to update default value to EKS friendly since more users move from kops to EKS now..

[2019-07-16 23:11] Jeffwan commented on #2189
We have few patches need to backport. I will check in the changes sometime tomorrow.

[2019-07-17 00:25] hello2mao commented on #2189
Thanks, no more cherry picks from my side. ^_^

[2019-07-17 01:34] thangbn commented on #2163
thank you

[2019-07-17 07:38] Moriadry opened #2194 "vertical-pod-autoscaler: fails on recommender init"
When I try to creates a new recommender instance, I meet such error info:

`35:06.399692   70404 streamwatcher.go:109] Unable to decode an event from the watch stream: unable to decode to metav1.Event`

and my method is written as below:

[code]

and `fmt.Printf("result: %s", result)` log shows:

`result: &Status{ListMeta:ListMeta{SelfLink:,ResourceVersion:,Continue:,},Status:Success,Message:,Reas

[2019-07-17 08:26] okgolove commented on #2165
I'm using the default expander (i.e. random).

[2019-07-17 09:27] bskiba commented on #2194
Can you explain what you are trying to achieve? Are you trying to mock out the API Server?

Your test server always returns a Status object. VPA Recommender tries to read multiple types of objects from the server. Also the informers try to establish a watch (https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes) on the resources, and from the error message I b

[2019-07-17 09:49] warmchang commented on #1787
/remove-lifecycle rotten

[2019-07-17 10:03] bskiba commented on #1858
released. Image is: gcr.io/google-containers/addon-resizer:2.3
/close

Thanks @piontec!

[2019-07-17 10:03] #1858 closed

[2019-07-17 10:03] bskiba commented on #1799
The fix for this has been released. Image is: gcr.io/google-containers/addon-resizer:2.3
/close

Thanks @piontec!

[2019-07-17 10:03] #1799 closed

[2019-07-17 10:04] bskiba commented on #1457
The version that contains fix for this is released. Image is: gcr.io/google-containers/addon-resizer:2.3
/close

[2019-07-17 10:04] #1457 closed

[2019-07-17 10:23] dave08 commented on #254
But now, instead of the proposed above solution of CRD for node template, you'll be doing it with node pools, right @fatih? If so, it would be nice to have node pools that have 0 nodes, but are configured to auto-scale, then using node labels and affinities it could know which pool to use... I currently have a use case that I need very powerful nodes for certain CI tasks that I don't want to have

[2019-07-17 10:25] fatih commented on #254
@dave08 it'll be probably tightly integrated with our node-pools indeed. I'm still in investigating on how to implement it. I'll post here occasionally with my updates. If I have working version you'll be able to test it and then we can figure out what to improve on our end.

[2019-07-17 11:16] mvasilenko commented on #1748
any chance for this to be merged?
works fine for me, but need a rebase

btw, how the taints would be propagated to kubelet options at the node?

[2019-07-17 16:57] dave08 commented on #254
By the way, I also think pools should probably also have minSize and maxSize when auto-scaling is enabled... @fatih

[2019-07-18 10:04] #1790 closed

[2019-07-18 14:14] bskiba commented on #2178
The kubernetes client itself has some rate-limiting, though don't know how useful you will find that: https://github.com/kubernetes/client-go/blob/master/util/flowcontrol/throttle.

[2019-07-18 23:14] Jeffwan commented on #2179
Yes. That's true. Next time you can run `go run ec2_instance_types/gen.go` to get updated file.

[2019-07-18 23:14] Jeffwan commented on #2179
Changes will backport to previous versions

[2019-07-19 12:17] #2184 closed

[2019-07-19 17:08] frittentheke commented on #1317
/remove-lifecycle stale

[2019-07-19 22:22] Jeffwan commented on #2179
new release already have new instance types. I will close this issue.

[2019-07-19 22:22] Jeffwan commented on #2179
/close

[2019-07-19 22:22] #2179 closed

[2019-07-20 21:45] leonsodhi-lf commented on #1676
@aleksandra-malinowska, in revisiting this I came up with an option 4 that, although not perfect, seems simple to implement and configure, and reliable.

Autoscaler could compare a label  value on each node (e.g. `cluster-autoscaler.kubernetes.io/hardware-configuration-id`) and skip the resource check if the values are equivalent. A similar implementation is already used for [GKE on 1.14.X](https:

[2019-07-22 10:32] #1503 closed

[2019-07-22 14:46] rameshchandrasiraura commented on #1507
work like charm!!!

[2019-07-22 18:40] #1535 closed

[2019-07-23 20:08] jaypipes commented on #1795
/label aws

[2019-07-23 21:31] mkorbi opened #2210 "Scaling cluster for running out of IPs"
Hey,

I discovered now a few times with AWS EKS cluster that we reach the maximum amount of given IPs per Elastic Network Interfaces (ENI) and instance. This happens because with AWS EKS you have a limited number of available IPs e.g. m5.large can have 3 ENI each with 10 IPs = 30 possible IPs per node.

It would be awesome to have the possibility to configure the autoscaler to spin up new instance

[2019-07-24 12:08] bskiba commented on #2125
Yeah, @milesbxf is right. You can override that flag with a lower value if needed.
/close

@jvaibhav123 if you find the time, could you add this information to VPA [FAQ](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler/FAQ.md)?

[2019-07-24 12:08] #2125 closed

[2019-07-25 08:05] feiskyer opened #2213 "CA version is wrong in userAgent"
CA version is always shown as `v0.0.0-master+$Format:%h$` in userAgent:
[code]

/kind bug

[2019-07-25 14:38] mboersma opened #2214 "Nil pointer panic in CA 1.15.1"
Running some tests to see if I can trigger #2154 eventually, and I got a nil pointer panic:

[code]

This was cluster-autoscaler 1.15.1 on a Kubernetes 1.16.0-alpha.1 cluster on Azure, provisioned with aks-engine.

This may not be reproducible easily, but I'm posting the panic here in case there's an obvious `if foo == nil` check that we can add.

[2019-07-25 14:46] ivanfoo commented on #2210
@mkorbi are you using the EKS-optimized AMI? If not, you have to set up the --max-pods flag in kubelet to don't allocate more pods that allowed IPs per instance.

You can take a look here: https://github.com/awslabs/amazon-eks-ami/blob/master/files/eni-max-pods.txt

[2019-07-26 02:56] ringtail opened #2215 "Least waste expander strategy support GPU resource"
Should we support GPU resource in least waste expander. In other words what's the best expander to choose between GPU group and CPU group?

[2019-07-26 06:39] tbarrella commented on #838
/remove-lifecycle rotten

[2019-07-26 13:40] bskiba commented on #2215
/assign @MaciekPytel

[2019-07-26 13:41] bskiba commented on #2214
/kind bug

[2019-07-26 13:55] bskiba commented on #2192
Is this GKE or plan GCE?
If GKE, did you consider using the bundled autoscaler?
https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-autoscaler

[2019-07-26 14:36] mkorbi commented on #2210
@ivanfoo yes I do. It anyhow can't schedule more pods then IPs. But that`s why I think it could be an interesting feature (especially for AWS EKS :/ ) to autoscale if you run out of available IPs. So basically then you treat the IP like other resources.

[2019-07-26 15:05] aleksandra-malinowska commented on #1676
Seems so, @maciekpytel WDYT?

Although I wonder if it could be more generic than hard-coding a constant for each cloud provider. For example, why not make the key to use for node group comparison configurable?

[2019-07-26 16:22] yan234280533 opened #2218 "why can not cluster-autoscaler work from empty cluster?"
In cluster-autoscaler  we found this, it limit the cluster-autoscaler in empty node cluster, It why ? Can we remove the limit ?

The code is :
if a.actOnEmptyCluster(allNodes, readyNodes, currentTime) {
    return nil
}

[2019-07-26 20:12] RsknCankov commented on #2192
Actually yes, there was a misunderstanding from my side. Just activated the bundled autoscaler ...

[2019-07-26 20:12] #2192 closed

[2019-07-28 23:05] #1620 closed

[2019-07-29 00:06] #1263 closed

[2019-07-29 04:43] yan234280533 opened #2221 "In cluster-autoscaler, when set ScaleDownUtilizationThreshold 0.0 , utilization >= sd.context.ScaleDownUtilizationThreshold is always true"
In cluster-autoscaler, when set ScaleDownUtilizationThreshold 0.0 , utilization >= sd.context.ScaleDownUtilizationThreshold is always true,isNodeBelowUtilzationThreshold is always false.

Can we add an judge when the  utilization is zero, isNodeBelowUtilzationThreshold return true:

           if (math.Abs(utilInfo.Utilization) < math.SmallestNonzeroFloat32) &&
               (math.Abs(sd.context.

[2019-07-29 11:09] MaciekPytel commented on #2221
Can you explain what you're trying to achieve with this? Seems like you could achieve the same effect just by setting --scale-down-utilization-threshold to a small enough fraction?

[2019-07-29 11:12] MaciekPytel commented on #1842
/remove-lifecycle rotten

[2019-07-29 11:25] MaciekPytel commented on #2218
IIRC the reason for that is that many parts of logic (clusterstate?) break if the cluster is empty. I don't think just removing this if will make CA work with empty cluster - it would require careful testing, identifying and fixing all parts that make assumptions about cluster being not empty.
@aleksandra-malinowska may know more details on this.

[2019-07-29 11:38] aleksandra-malinowska commented on #2218
Yes, most of the logic, and clusterstate in particular, assumes that there are some nodes in the cluster. More details are in #555 - it may be a bit outdated as there were some changes since, but I don't believe the issues were resolved. Fixing it isn't probably especially hard, but requires more work than just removing the checks.

[2019-07-29 11:43] MaciekPytel commented on #2210
I think this problem is generally addressed by setting max-pods in kubelet, as @ivanfoo suggested.

If you think a new mechanism is needed, I don't think autoscaler is the right place to add it. If scheduler is not aware of limitation, adding new node is potentially useless - CA has no control over scheduling and no way to make the pod schedule on the new node. If scheduler is aware of the limitat

[2019-07-29 12:56] MaciekPytel commented on #2215
Seems like a reasonable improvement. Do you want to give it a shot @ringtail?

[2019-07-29 15:40] #2194 closed

[2019-07-29 16:54] #1906 closed

[2019-07-29 20:11] thangbn opened #2223 "Can not refresh ASG list when start up autoscaler"
I'm pulling my hair past few days. Somehow the Cluster autoscaler fail to discover my ASG, it worked previously and suddenly it stopped working in the last few days. I have another cluster having the same problem but it going away after I update my ASG by changing the desired instance number, I tried the same update to this cluster but the problem persists.
ENV:
- EKS 1.13
- Autoscaler 1.15.1

I h

[2019-07-30 00:51] ringtail commented on #2215
@MaciekPytel Leave it to me ☺.

[2019-07-30 09:39] MaciekPytel commented on #2215
/assign @ringtail

[2019-07-30 09:47] MaciekPytel commented on #2223
/cc @Jeffwan @jaypipes

[2019-07-30 14:07] MichalPloski commented on #1800
@aleksandra-malinowska  We have a similar problem that occurred recently.

Last lines of its logs:
[code]
Describe fragments:
[code]
Event log:
[code]

yaml:
[code]

[2019-07-30 14:37] MaciekPytel opened #2225 "Incorrect backoff duration in case of overlapping scale-ups"
`duration` variable is not properly updated in https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/utils/backoff/exponential_backoff.go#L69 if the NodeGroup is already in backoff. As a result, if there are multiple concurrent scale-ups the duration of backoff will keep resetting to `initialBackoffDuration`.

In default configuration `--scale-down-delay-after-add` is 10m and `in

[2019-07-30 16:22] philovivero commented on #1607
Can this verbiage be updated? In our experience, the message is always incorrect. We've seen this error message because...

- Affinity/anti-affinity rules
- Unbound PersistentVolumeClaims
- Quota limits hit

Maybe we're more careful than a lot of k8s users, but I've literally never seen this message appear, and the actual cause was the Pod spec requires more resource than a new Node would provide,

[2019-07-30 21:38] jsharpe commented on #1728
/remove-lifecycle stale
I'm hitting this issue with one of my ASGs - at the very least processing should continue to scale up as this effectively disables autoscaling for the whole cluster.

[2019-07-30 22:04] johanneswuerbach commented on #2223
From your screenshot the tag „k8s.io/cluster/dev-platform-eks“ seems actually not to exists, but only two similar tags „kubernetes.io/cluster/dev-platform-eks“ and „k8s.io/cluster-autoscaler/dev-platform-eks“. Changing the tag or the command arg should solve this

[2019-07-30 22:18] thangbn commented on #2223
Awesome, good catch. Turned out to be a breaking change in autoscaler helm chart

[2019-07-30 22:18] #2223 closed

[2019-08-01 08:07] tghartland commented on #2213
Did this work in the past? I've seen client-go used to get the kubernetes version in other projects as well but it doesn't work there either:
[code]

For CA you can now import the version string from here: https://github.com/kubernetes/autoscaler/blob/0a7bc88b78be412b876ed8ddb325a315b8d6e21e/cluster-autoscaler/version/version.go#L20

[2019-08-01 09:12] feiskyer commented on #2213
@tghartland Yep, not sure what's broken with client-go.

[2019-08-01 17:21] rverma-nikiai commented on #1555
/reopen

[2019-08-01 17:21] rverma-nikiai commented on #1555
/remove-lifecycle rotten

[2019-08-01 17:30] rverma-nikiai opened #2228 "Doesn't include node with different launch template version number"
Hi team, We use launch template with eks clusters. Sometimes we update launch template and updates are mostly nice to have fixed so it's perfectly alright not to update all older instances. But in this scenario cluster-autoscaler don't even acknowledge older nodes. Even though all tags and everything is the same.

Is this a bug?

[2019-08-01 17:43] Jeffwan commented on #1555
@rverma-nikiai Do you still see this issue in version > 1.2.2?

[2019-08-01 19:05] Jeffwan commented on #1793
Get ping from another folks in the community. I don't see any issues from v1.12.6. (I always try latest patch version for minor version)

Few things you need to take care

1. You have to label nodes when you create node group. Either using the `--kubelet-extra-args --node-labels=app=web` in cloud formation or use eksctl like this

[code]

2. Make new Node Group auto-discovered by tagging ASG
[code

[2019-08-01 19:13] Jeffwan commented on #1793
I will add details steps to documentation. Close this issue. Feel free to reopen if you still have problems against these versions.

[2019-08-01 19:13] Jeffwan commented on #1793
/close

[2019-08-01 19:13] #1793 closed

[2019-08-01 19:31] Jeffwan commented on #2228
To clarify the question,

You mean you upgrade LauchTemplateVersion for one ASG, for some of the updates, like tagging, volume they won't replace old instance with new instance which means instances from both old and new versions coexist and CA can not detect old instances?

[2019-08-01 19:31] Jeffwan commented on #2228
/sig aws

[2019-08-01 19:45] Jeffwan commented on #2210
For these kind of features, please submit a request here. https://github.com/aws/containers-roadmap.

This is the limitation of current CNI implementation, another solution is to use `kubenet` to get rid of IP limitation, it would be helpful for high density workloads. This is in the roadmap now.

[2019-08-01 21:59] Jeffwan commented on #2161
@xrl  I do see this error on 1.15.0. The different part is my CA doesn't crash and keep work
I will do some debug to figure out root cause.

[code]

[2019-08-01 23:45] Jeffwan commented on #2161
When cluster scales up, cache will invalid the record for that node group and it will refetch the nodegroup info. This is a log error and has been fixed here.  I don't see any panic in 1.15.0. Could you try latest 1.15 CA versions and see if you still meet it?

https://github.com/kubernetes/autoscaler/commit/e31575acc97986c1953a7ebd3f8183049149ba47

[2019-08-01 23:46] Jeffwan commented on #2161
/sig aws

[2019-08-01 23:49] Jeffwan commented on #2027
/close

[2019-08-01 23:49] #2027 closed

[2019-08-01 23:54] Jeffwan commented on #1821
@drewhemm priority expander has been released in the latest version and you can use it to control priority now.  To figure out root cause for i3.2xlarge selection, you need to check your CA configuration, for example, least wastes or something else. Maybe i3.2xlarge is always qualified.

[2019-08-01 23:57] Jeffwan commented on #1800
Looks like your container failed probe checking immediately?

[2019-08-01 23:59] Jeffwan commented on #1800
You need to make sure the node CA pod schedules on have right IAM permissions..
Sometimes people have a few nodegroups and may forget to attach policy to all node groups roles. Once CA is scheduled to some other nodes, this may happen

[2019-08-02 00:01] Jeffwan commented on #1715
/close

[2019-08-02 00:01] #1715 closed

[2019-08-02 00:03] Jeffwan commented on #1709
#1801 priority expander has been added to 1.15 CA and feel free to have a try.  I will close this PR and feel free to reopen

[2019-08-02 00:03] Jeffwan commented on #1709
/close

[2019-08-02 00:03] #1709 closed

[2019-08-02 00:40] #1716 closed

[2019-08-02 00:47] Jeffwan commented on #2114
This has been cherry-picked in #2229  #2230 #2231

[2019-08-02 00:48] Jeffwan commented on #2114
@rochacon Thanks for reporting the issues! I will close the issue and feel free to leave comments.

[2019-08-02 00:49] Jeffwan commented on #2114
/close

[2019-08-02 00:49] #2114 closed

[2019-08-02 02:24] rverma-nikiai commented on #2228
That's correct summarization

[2019-08-02 02:28] rverma-nikiai commented on #1555
I had created another issue, we can leave this closed.

On Thu, 1 Aug, 2019, 11:14 PM Jiaxin Shan, <notifications@github.com> wrote:

[2019-08-02 05:36] Jeffwan commented on #2228
@rverma-nikiai Looks like I do reproduce the issue but the behavior is a little bit different. The new instance created kubelet is not starting and can not join the cluster. CA will detect it as unregister node, after time threshold, CA will remove the unregister node.

Could you double check your case? I want to make sure we see the same problem or different issues.

[2019-08-02 06:21] rverma-nikiai commented on #2228
@Jeffwan what I observed when using terraform-aws-eks modules, you can create a worker group with let's say instance-type=t2.large. Then spin 2 worker nodes. See they are successfully discovered by auto-scaler. Delete launch template and create instance-type=t3.large(will create new launch template as well). Increase the desired capacity to 3 and see another instance with new launch template comin

[2019-08-02 07:05] Jeffwan commented on #2228
Em.. Actually I tried wrong way to reproduce your issue. I create a new Launch Template using original one as source. Then I go to ASG to upgrade the current LaunchTemplate to new version which give me different result.

Could you please explain details how did you do that? As I know, if you change instance type, if will replace nodes for you. Did you use MixedInstancePolicy?

[2019-08-02 07:15] drewhemm commented on #1821
Thanks! I will give the latest version a spin and report back.

[2019-08-02 07:47] rverma-nikiai commented on #2228
No, you didn't need MixedInstancePolicy, your steps are actually correct.  I meant the same thing to create a new launch template with different instance type, you can surely use the existing one and edit it. Though this time I am able to see the new node registered with the cluster-autoscaler in addition to existing one.

[code]

I think the issue is something else if you closely look in above lo

[2019-08-02 08:15] rverma-nikiai commented on #2228
Another example from a different cluster

[code]

[2019-08-02 10:26] alclark704 opened #2232 "[cluster-autoscaler] AWS EKS scaling multiple GPU nodes for single request"
I have an EKS cluster provisioned with the terraform-aws-eks module and 2 sets of node groups, one regular compute (m5.2xlarge) and one GPU (p2.xlarge), each with an ASG in each AZ (m5.2xlarge-eu-west-1a, m5.2xlarge-eu-west-1b, etc).  We are using cluster-autoscaler:v1.12.6 and the node groups are tagged for auto discovery. I have the GPU nodes to be registered with the taint `nvidia.com/gpu=true:

[2019-08-02 14:45] alclark704 commented on #2232
Apologies, duplicate of #1949

[2019-08-02 14:45] #2232 closed

[2019-08-02 16:38] Sytten commented on #1653
I had a similar issue on my cluster (using EKS):
[code]

Then the pod died and restarted, it seems to be an hiccup but I would like to know why that happened.

[2019-08-02 17:46] Jeffwan commented on #2139
I updated docs in the 1.12-1.14 branches. I will close this issue and feel free to reopen

/close

[2019-08-02 17:46] #2139 closed

[2019-08-02 17:46] Jeffwan commented on #1860
/sig aws

[2019-08-02 18:54] jaypipes commented on #2228
It seems to me that the cluster autoscaler NodeGroup doesn't differentiate between ASG's launch template version numbers:

https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/auto_scaling_groups.go#L360

So I'm not sure how cluster autoscaler would be able to differentiate between a NodeGroup that has the same ASG name but different launch template versions. M

[2019-08-03 00:44] xrl commented on #2161
I am on 1.15.1 CA and I'm still seeing the nil pointer exception:

[code]

[2019-08-04 03:10] yan234280533 commented on #2218
@MaciekPytel @aleksandra-malinowska  I found that too, it not only to remove the limit logic, must modify many logics in the CA. I will have feature look of how to modiy this.

[2019-08-04 05:47] monaka opened #2236 "AKS cluster-autoscaler stucks in "Initializing"."
On AKS (not with VMSS) 1.14.3, cluster-autoscaler stucks under "Initializing" state.

Nodes information on my node is:
[code]

After inspecting code, I convinced it is caused only in case Virtual Kubelet was deployed.
I'll send the PR for fixing this soon.

[2019-08-04 06:12] monaka commented on #2236
Here is the root cause of this issue.

[code]

The controller doesn't set `spec.providerID` to Virtual Kubelet node.
At the same, there is no care whether `spec.providerID` is empty.

https://github.com/kubernetes/autoscaler/blob/93298c0a6ef54e5c9e2d08f07d8f1944ff13bf78/cluster-autoscaler/cloudprovider/azure/azure_cloud_provider.go#L94-L99

So every `RunOnce()` calls are exited with error.

[2019-08-05 12:33] tghartland opened #2239 "CA Makefile not setting linker flags properly"
Running `make build-binary` produces a 99M binary, and uses an environment variable `LD_FLAGS=-s`.
[code]

But, setting the linker flags by passing the flag `-ldflags=-s` directly to `go build` instead produces a smaller binary, 73M.
[code]

I can't find any documentation that suggests that Go does anything with an LD_FLAGS environment variable. There is one called CGO_LDFLAGS but I also see this

[2019-08-05 14:53] aleksandra-malinowska commented on #2239
Yeah, this sounds like a bug. @losipiuk is out of office now, but feel free to send a PR.

[2019-08-05 19:46] Jeffwan opened #2240 "Load EC2 instance list dynamically when cluster autoscaler starts up"
/feature /improvement

Right now, aws instance templates `ec2_instance_types.go` are generate by `ec2_instance_types/gen.go`. Everytime Ec2 rollout new instances, this file needs to be regenerated and CA needs to roll out new images.

This can be improved by generating ec2 instance types in runtime. Either at the time CA starts or the first time to get the instance list. With this, we don't need t

[2019-08-06 03:26] Denton24646 commented on #2225
I'd like to take a shot at this bug - if I understand correctly, we need to check for backoff already inside `Backoff()` via `IsBackedOff()` and in the case where the NodeGroup is already in backoff, increment it appropriately so it ends up higher than `--scale-down-delay-after-add` at some point to not block as you described. It's nice because it's fairly testable.

[2019-08-06 06:49] tbarrella commented on #1869
On AWS, this is supposed to be helped with the k8s.io/cluster-autoscaler/node-template/resources/ephemeral-storage tag (see [code](https://github.com/kubernetes/autoscaler/blob/e25e1a31871282f8b8b991f5770d2aa366cfbad2/cluster-autoscaler/cloudprovider/aws/aws_manager.go#L346)). Do you encounter this even using that tag? Probably, documentation should be added for it

[2019-08-06 09:36] sc250024 commented on #2085
@amarrella Would you mind giving a bit more insight into what you found? I'm facing the exact same problem, but can't seem to figure it out...

[2019-08-06 13:13] mplaul commented on #2161
I see the exact same error as @xrl. In my particular case, i aggressively deleted many of my deployments, causing a massive scale down in the autoscaler. Then i encountered this at some point:

[code]

Any idea what is happening in the background? Missing permissions, ...? Any help appreciated.

[2019-08-06 15:05] rsreeni commented on #1979
Hi,

I have a MAC webhook, that is getting the same error. Any additional info on this ?

Thanks,

-Sreeni

[2019-08-07 05:10] hongli-my opened #2242 "one pod will have more than one aggregateStateMap if pod's label change /vertical-pod-autoscaler"
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/cluster.go#L308

in function `findOrCreateAggregateContainerState`,  pod's label change ,
1.  will call `NewAggregateContainerState ` ;
2.  vpa.aggregateContainerStates will repeat(difference label) for one pod;
3.  in `UpdateVPAs`, will use which one (vpa.aggregateContainerStates)

myabe need to del

[2019-08-07 05:10] hongli-my commented on #2242
/ vertical-pod-autoscaler

[2019-08-07 11:45] bskiba commented on #2242
I'm not sure I understand the problem. If the pod's labels change, but it is still controlled by the same controller (for example Deployment) and so is controlled by the same VPA object, we will have a new entry (empty at the beginning) in aggregateContainerStates map. However, the old one is needed still as it contains historical usage samples that contribute to this VPA's recommendation. The old

[2019-08-07 13:25] MaciekPytel commented on #2225
I meant to fix it myself later this week, but I'm happy to review your fix if you beat me to it. I think the fix is literally 1 LOC in Backoff() + unittest.

[2019-08-07 17:45] shankarramshivram opened #2243 "CA not processing taints and labels when there are nodes in an existing ASG"
Have a use case where as part of worker pool replacement automation we want to prevent CA scaling up the nodes in a old pool, but allow scaling down  and were exploring the use of node labels and taints , currently looking at the code it looks like `buildNodeFromTemplate` is called only when there are 0 nodes in the asg.  So in case of an asg already having nodes,  the ca does not prevent scaling

[2019-08-07 17:54] fiws commented on #2004
we still found no other workaround for this.

/remove-lifecycle stale

[2019-08-07 19:10] MaciekPytel commented on #2243
CA is built with assumption that every node in any given NodeGroup is identical (ie. has the same set of labels, for taints you can make CA filter out some taints in new node, but not add new ones). So the way you try to do this won't work now or in future.

I think you can just set min==max for that NodeGroup. CA does not enforce those limits, it will not remove nodes if size > max other than by

[2019-08-07 21:01] shankarramshivram commented on #2243
ok thank you for the clarification

[2019-08-07 21:01] #2243 closed

[2019-08-08 03:31] hongli-my commented on #2242
1.  pod label change ,  stop use vpa model
a. pod label change, do not update `cluster.Pods`, because match no vpas.
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/input/cluster_feeder.go#L365
b. `AddSample`  use old `cluster.Pods`, so can still get old  ` aggregateContainerStates`,  garbage collected can delete  depent on `LastSampleStart`?
https://gi

[2019-08-08 03:36] hongli-my commented on #2242
2.  pod label  change, still use vpa
a.   here will merge two  `aggregateContainerState`,   sorry about it.
https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/recommender/model/aggregate_container_state.go#L256

[2019-08-08 09:48] monolithh commented on #778
Are there any chances to get ASG name in metrics? It is really helpful information

[2019-08-08 12:42] amarrella commented on #2085
@sc250024 for example i had some nodes available which had 16 cores available, and I was requesting 16 cores. Since I had a few daemonsets running that would have scheduled pods on the new nodes and would have requested e.g. 1 core, this meant that the maximum i could request was 15 cores for the new process, because 1 was always going to be taken by the daemonset's pods. Cluster autoscaler saw th

[2019-08-08 12:55] mmingorance-dh opened #2246 "Unable to get instance type from launch config or launch template - v1.13.6"
We have started to use launch-templates-mixed in our Kubernetes cluster 1.13 on EKS and apparently, when we upgraded to cluster-autoscaler 1.13.6 we started fo face this issue with the autoscaling groups using launch-templates-mixed
*Unable to build proper template node for $AUTOSCALING_GROUP_NAME: Unable to get instance type from launch config or launch template*

When rolling back to cluster-aut

[2019-08-08 14:16] MaciekPytel commented on #2246
/cc @Jeffwan @jaypipes
This seems very specific to AWS provider.

[2019-08-08 14:45] jaypipes commented on #2246
/sig aws

[2019-08-08 15:07] jaypipes commented on #2246
https://github.com/kubernetes/autoscaler/commit/4bd79c83531d449e9ed1451cd030a9f34cc3e470 introduced the tracking of launch template or config. The `AwsManager.buildInstanceType` function hasn't changed substantially since July last year (well before 1.13.1).

This error will be returned if the ASG has no launch configuration name or launch template name+version.

What does your ASG look like?

Als

[2019-08-08 15:38] mmingorance-dh commented on #2246
@jaypipes Thanks for replying.
multi-AZ ASGs can lead to nodes being terminated by AWS instead of cluster-autoscaler but it doesn't cause any problem with cluster-autoscaler terminating and launching new instances. We are running our ASGs in multiple AZs since very long time ago.

My ASG looks like this:
[code]

In terraform looks pretty much like this example: https://github.com/terraform-aws-mod

[2019-08-08 16:15] #1778 closed

[2019-08-08 17:38] frittentheke commented on #778
/reopen

[2019-08-08 17:38] frittentheke commented on #778
/remove-lifecycle rotten

[2019-08-08 17:38] frittentheke commented on #778
@MaciekPytel  any chance we could get this issue reopened?

[2019-08-08 20:02] jaypipes commented on #2246
Thanks very much for providing that info @mmingorance-dh. Is that ASG the same one from the log file you linked above? I notice the name of the ASG is different between the log file and the ASG JSON info above ("v1-13-testing-eu-tools-blue" vs "v1-13-testing-eu-tools-blue-eks_asg")

[2019-08-09 08:33] mmingorance-dh commented on #2246
@jaypipes "v1-13-testing-eu-tools-blue" is the name of the ASG and "v1-13-testing-eu-tools-blue-eks_asg" is the value of the tag called Name

[2019-08-09 13:35] #254 closed

[2019-08-09 22:53] Jeffwan commented on #2189
can not closed since new images are released.
/close

[2019-08-09 22:53] #2189 closed

[2019-08-09 22:55] Jeffwan commented on #2161
Thanks. I can reproduce the issue. It happens for me after a while node scaled down.
Similar as this one https://github.com/kubernetes/autoscaler/issues/2214

I am trying to fix the issue.

[2019-08-10 00:22] Jeffwan commented on #2161
Figure out the problem. When a node is scaled down, ASG will delete node. After a while (depends on when ASG fresh, by default we use 1min)

https://github.com/kubernetes/autoscaler/blob/c88f014470f097ad48ab61e7f25c139f397f236f/cluster-autoscaler/clusterstate/clusterstate.go#L295-L299

1. Listers update all existing nodes (the deleted node has been deleted)
2. Cluster state registry still have tha

[2019-08-10 00:26] Jeffwan commented on #2161
All release after this PR has been impacted.

https://github.com/kubernetes/autoscaler/commit/4831d76288dac6b857aa0634b0c8db7f378b356f

@MaciekPytel AWS implementation definitely has some issue, Do you think we can also improve caching part. Currently, csr only invalidate cache entry for scale up. should scale down be considered?

[2019-08-10 00:26] Jeffwan commented on #2161
Looks like Azure also have this issue in #2214

[2019-08-10 08:11] Jeffwan commented on #2246
@mmingorance-dh You will actually see exact issues on v1.13.1. The reason you did see it because
`GetNodeInfoForGroups` was moved to from `ScaleUp` to `RunOnce`

1.13.1
https://github.com/kubernetes/autoscaler/blob/6402c460cd0b0a735585ced05f23c62a8d7a2124/cluster-autoscaler/core/scale_up.go#L265-L267

1.13.5
https://github.com/kubernetes/autoscaler/blob/909c5aaa60cf7946833ce30627ff7118a7a1cab7/clu

[2019-08-10 14:56] Denton24646 commented on #2165
What settings are you using when running the autoscaler (the flags)? And which version? Could be a something in the configuration causing this

[2019-08-10 15:11] okgolove commented on #2165
[code]
[code]

[2019-08-10 20:06] #1086 closed

[2019-08-12 07:20] Jeffwan commented on #1754
@choseh @angeloskyratzakos Can you guys share some logs. Seem I didn't see issues scaling from 0..

[2019-08-12 07:51] mmingorance-dh commented on #2246
@Jeffwan is it a good idea to run CA 1.14 on a Kubernetes cluster 1.13?
According to CA documentation, you are advised to run the same version of CA than Kubernetes.
I don't have any problem on running a higher version than Kubernetes as long as it doesn't cause any problem.

[2019-08-12 08:11] Jeffwan opened #2250 "Failed to find acceptable ranges for node groups"
Master branch. Need to investigate this issue.

[code]

[2019-08-12 08:11] Jeffwan commented on #2250
/sig aws

[2019-08-12 08:16] Jeffwan commented on #2246
@mmingorance-dh We don't have official compatibility tests for cross versions, however, based on some feedbacks from community users, there're no issues. I think major changes is some of the sdk changes in k8s, if you want to make sure everything works fine, please double check change log.

[2019-08-12 09:09] chskdh commented on #2246
The reason i added a down emoji, is because you are suggesting using a CA that is untested for a specific k8s version is a plausible scenario, and more people than just the author will read this thread. a.k.a using a different version decision appears to be taken too lightly.

Unless someone is fully certain it will not introduce stability issues, @mmingorance-dh should either  switch to a 1.14 or

[2019-08-12 12:05] Denton24646 commented on #2165
Maybe something to do with `balance-similar-node-groups=true`? By default its false

[2019-08-12 12:52] MaciekPytel commented on #2165
My guess would be scale-from-0 logic incorrectly guessing how the node would look like. CA sees the template node that would help the pending pods, so it scales up. Once the node is created it turns out it looks differently than expected and it doesn't really fit the pods. So CA deletes it. Once there are 0 nodes it goes back to using scale-from-0 template and the situation repeats.

[2019-08-12 14:47] towca opened #2251 "Unit tests not running on Travis for cluster-autoscaler since PR #2102"
Unit tests for cluster-autoscaler were not being run for any build on Travis since Jun 7, after [#2102](https://github.com/kubernetes/autoscaler/pull/2102) was merged.

This is due to the way hack/for-go-proj.sh uses Godeps.json to run the tests. #2102 removes Godeps.json for cluster-autoscaler, which results in the tests not being run.

[2019-08-12 14:50] towca opened #2252 "Unit tests failing after PR #2245"
Unit tests for cluster-autoscaler are failing after #2245:
[code]

This was not caught by Travis due to #2251.

[2019-08-12 14:53] towca commented on #2252
/assign @fatih

[2019-08-12 14:53] pbecotte opened #2253 "cluster autoscaler cannot start with readOnlyRootFilesystem"
Seems like cluster-autoscaler tries to open a log file in /tmp, even if you pass `--logtostderr`.

Replicate-
`docker run --read-only -it --rm k8s.gcr.io/google-containers/cluster-autoscaler:v1.13.6 ./cluster-autoscaler --logtostderr --help`

(I dont actually see `logtostderr` anywhere in the codebase outside of the examples... not being a golang person, couldn't find the implementation)

[2019-08-12 14:54] towca commented on #2252
cc @fatih

[2019-08-12 14:54] towca commented on #2251
/assign @towca

[2019-08-12 16:07] okgolove commented on #2165
I don't like the message:
```Failed to find readiness information for test-asg```

It seems something is going wrong.
As I wrote it looks similar to #2008

[2019-08-12 18:17] Jeffwan commented on #2246
@chskdh Thanks for the feedback. As the documentation mentions, we don't suggest to use different version.

1. As user mentioned they are on EKS and EKS doesn't release 1.14 yet. upgrade to 1.14 is not an option.
2. It's hard to backport the change to 1.13 and if user want to take the risk, they can have a try on the version with feature support.

Based on this, I give the suggestion for a hack. I

[2019-08-13 01:41] mkapoor17 opened #2257 "Not discovering ASGs on AWS"
I referred to #1854 as I am experiencing an identical problem except my parameters look correct and I ensured that my tags are correct:
[code]

Getting this error message:
` Normal   NotTriggerScaleUp  2m19s (x10 over 3m57s)  cluster-autoscaler  pod didn't trigger scale-up (it wouldn't fit if a new node is added)`

Logs I see:
[code]

My IAM permissions are set.

[code]

It sees my cluster but no

[2019-08-13 06:19] dave08 commented on #254
@fatih When will this actually be released in our clusters? Does it depend on the k8s version deployed? Thanks alot for the work :+1: !

[2019-08-13 07:50] fatih commented on #2252
Hi @towca

Thanks for the report. How were you able to obtain the output? Is there a script I can run locally to see the result? Because there are no problems inside the `digitalocean` folder:

[code]

[2019-08-13 07:56] guohenghaha commented on #1996
/remove-lifecycle stale

[2019-08-13 08:01] towca commented on #2252
`go test ./...` in the project root (`autoscaler/cluster-autoscaler`) or `make test-in-docker` (ideally both) should be used to verify the unit tests locally.

This particular issue seems to be the `github.com/digitalocean/godo` import line located in the `k8s.io/autoscaler/cluster-autoscaler/cloudprovider/digitalocean/godo/util` package.

[2019-08-13 08:04] fatih commented on #254
@dave08 We're now planning to incorporate this into our new base images. We're still working on it  so I can't give a time right now.

Yes! Either that or you'll be able to install it for an existing cluster afterwards

We're planning to release it beginning with v1.15.x versions. It's still in the early phases so we don't know how it'll look like in the end. We're going to update this issue or le

[2019-08-13 08:04] towca commented on #2252
The `k8s.io/autoscaler/cluster-autoscaler/cloudprovider/digitalocean/godo/util` package doesn't seem to be used at all, it should be enough to remove it, right?

[2019-08-13 08:09] fatih commented on #2252
Thanks @towca. I see the problem now. Yes, it's either that or we have to rewrite the import path of the util package. I'll create a follow-up fix PR.

[2019-08-13 08:19] fatih commented on #2252
@towca opened a PR, PTAL.

[2019-08-13 08:49] timoreimann commented on #254
@dave08 we are going to use digitalocean/DOKS#5 to track the integration effort. Feel free to subscribe to that issue to be notified of any progress made.

[2019-08-13 10:56] #2251 closed

[2019-08-13 11:53] #2252 closed

[2019-08-13 12:10] MaciekPytel commented on #2252
Thanks @towca for spotting this and for rapid fix.

[2019-08-13 19:13] Jeffwan commented on #2257
@mkapoor17 Could you share your ASG tags?  Could you help check if your ASG tags have following keys?

k8s.io/cluster-autoscaler/enabled,
k8s.io/cluster-autoscaler/kube-dev.interactivedatastore.viasat.io

[2019-08-13 19:14] Jeffwan commented on #2240
/assgin

[2019-08-13 19:46] mkapoor17 commented on #2257
These are tags that are on my ASGs:
[code]
These are my ASGs:
`presto.kube-dev.interactivedatastore.viasat.io`
`elasticsearch.kube-dev.interactivedatastore.viasat.io`

[2019-08-13 20:34] Jeffwan commented on #2257
should be `k8s.io/cluster-autoscaler/` rather than `k8s.io/cluster/`

[2019-08-13 23:19] mkapoor17 commented on #2257
@Jeffwan Thanks, now the ASGs are showing.

However, now when I try to scale up my nodes I am consistently getting this error.

[code]

The ASG scales up correctly, the nodes are created in AWS, however Kubernetes can't correctly register them and I don't know what could be causing this issue.

[code]

cloudProviderTarget is 18 compared to 8 ready nodes. 10 nodes are unaccounted for, not sure why.

[2019-08-14 00:35] Denton24646 commented on #2253
The `logtostderr` flag gets set by `klog` which is a separate kubernetes package responsible for parsing and setting command line flags. `klog.InitFlags` is actually is the very first thing that runs in the cluster-autoscaler:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/main.go#L352

If we look at this function more closely we can see some interesting comments about `lo

[2019-08-14 00:43] Denton24646 commented on #2253
The `logtostderr` flag gets set by `klog` which is a separate kubernetes package responsible for parsing and setting command line flags. `klog.InitFlags` is actually is the very first thing that runs in the cluster-autoscaler:
https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/main.go#L352

If we look at this function more closely we can see some interesting comments about `lo

[2019-08-14 07:51] Jeffwan commented on #2257
Could you share the CA version and your ASG setting? Do you use LaunchTemplate or LaunchConfigutation or MixedInstancePolicy?

[2019-08-14 09:40] SheharyarTkxel opened #2260 "Failed to scale up: Could not compute total resources"
Trying to scale up GPU Nodes (worker node group) from 0. Here is the log:
![image](https://user-images.githubusercontent.com/51945960/63010812-8233fa00-bea0-11e9-94ff-dcc63d95ee2a.png)

Here are the steps I followed to setup CA:
(1) Added the following IAM policy in AWS console and attached it to the GPU group:
[code]
(2) Took [this yaml](https://github.com/kubernetes/autoscaler/blob/master/cluste

[2019-08-14 20:14] lmansur commented on #1860
I was running into this problem in a cluster created by kops using a pre-existing VPC.

The route table for my subnets was the default one created by AWS. Setting the route table created by kops as _main_ and deleting the one created by AWS solved my problem.

[2019-08-14 22:27] mkapoor17 commented on #2257
It looks like the tag issues resolved everything. Thanks for your help @Jeffwan.

[2019-08-14 22:27] #2257 closed

[2019-08-15 21:45] Jeffwan commented on #2260
@SheharyarTkxel  Seems you don't have `autoscaling:DescribeLaunchTemplates`.  Can you add right policy to your node group role?

Can you check documentation here?
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws

[2019-08-15 21:52] Jeffwan commented on #2260
BTW. If you are using slack, please join #aws  kubeflow.slack.com and people are talk about some aws specific issues there.

[2019-08-16 06:15] SheharyarTkxel commented on #2260
Including "autoscaling:DescribeLaunchTemplates" in the IAM policy leads to this warning of Unrecognized Action:
![image](https://user-images.githubusercontent.com/51945960/63147237-f1335f00-c016-11e9-8098-aa77bfeba85c.png)

[2019-08-16 06:16] SheharyarTkxel commented on #2260
@Jeffwan Yes that would be helpful. I wasn't able to find it in my channels, can you please send an invite to muhammad.sheharyar@tkxel.com?

[2019-08-16 08:00] Jeffwan commented on #2260
https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/aws

Follow instruction here for detail permissions.

[2019-08-16 19:17] jhohertz commented on #1658
/remove-lifecycle stale

[2019-08-19 07:28] #2161 closed

[2019-08-19 12:01] #2239 closed

[2019-08-19 19:43] rachelvwood commented on #1513
/reopen I'm seeing this on AKS as well.

AKS version: 1.13.7
Autoscaler version: 1.13.6

1 utils.go:483] Decreasing size of <vmss name>, expected=27 current=26 delta=-1
1 static_autoscaler.go:223] Failed to fix node group sizes: Failed to decrease <vmss-name>: attempt to delete existing nodes targetSize:27 delta:-1 existingNodes: 27

Based on my reading of the code, this happens when the number of

[2019-08-19 19:57] rachelvwood commented on #1513
/reopen

[2019-08-19 20:24] rachelvwood opened #2268 "Failed to fix node group sizes on AKS"
AKS version: 1.13.7
Autoscaler version: 1.13.6

We're using VMSS.

Autoscaler logging repeated errors when trying to decrease target size, [as seen in an old issue](https://github.com/kubernetes/autoscaler/issues/1513).

`1 utils.go:483] Decreasing size of (vmss-name), expected=27 current=26 delta=-1
1 static_autoscaler.go:223] Failed to fix node group sizes: Failed to decrease (vmss-name): attemp

[2019-08-19 20:25] rachelvwood commented on #2268
#1513

[2019-08-20 05:27] feiskyer commented on #860
Close per https://github.com/kubernetes/autoscaler/issues/860#issuecomment-498400958

/close

[2019-08-20 05:27] #860 closed

[2019-08-20 05:28] feiskyer commented on #1452
https://github.com/kubernetes/autoscaler/pull/1982 is fixing this.

[2019-08-20 05:28] feiskyer commented on #1748
https://github.com/kubernetes/autoscaler/pull/1982 is fixing this.

[2019-08-20 14:18] jaypipes commented on #1996
Note that #2008 was reworked as #2235, and that latter PR has been merged. Is it safe to close this issue now @piontec and @MaciekPytel?

[2019-08-20 14:26] jaypipes commented on #1133
AFAICT, #2235 properly handles the bug described here, and that PR has been merged. Can we can close this bug out now?

[2019-08-20 14:27] jaypipes commented on #1795
/remove-lifecycle stale

[2019-08-20 14:27] jaypipes commented on #1795
/area provider/aws

[2019-08-20 14:43] aermakov-zalando commented on #1133
@jaypipes The fix in #2235 is AWS specific, so other cloud providers would still be affected by this. Or is the idea here that every cloud provider will have to implement the same logic to work around an issue in the clusterstate?

[2019-08-20 15:17] MaciekPytel commented on #1996
I would suggest cherry-picking the fix first, but otherwise I think it's ok to close.

[2019-08-20 15:48] jaypipes commented on #1133
While the fix in #2235 is indeed for the AWS cloud provider, the solution is the one recommended by @MaciekPytel and @losipiuk for all cloud providers that suffer from the "I don't have an actual Instance (yet)" problem with their autoscaling API. See here for @MaciekPytel recommendation:

https://github.com/kubernetes/autoscaler/pull/2008#issuecomment-491280315

Note that he mentions that the man

[2019-08-20 16:00] aermakov-zalando commented on #1133
I see. We only really care about AWS anyway, so I'll just close the issue. Thanks for the update!

[2019-08-20 16:00] #1133 closed

[2019-08-20 17:55] ssirigari commented on #2134
We also having similar issue and here is the latest result for 1.15.0 version:

2019/08/20 10:15:12 [ERRO] ▶ Image [k8s.gcr.io/cluster-autoscaler:v1.15.0] contains 60 unapproved vulnerabilities
+------------+-----------------------------+--------------+-----------------------+--------------------------------------------------------------+
| STATUS     | CVE SEVERITY                | PACKAGE NAME |

[2019-08-20 20:10] pdbogen commented on #2214
I also encountered this error:

[code]

[2019-08-21 15:42] Boriszn commented on #2153
Hey team any updates on this ticket ? Now we have issue: When cluster upscale nodes up to 12 nodes then it dowscales it to 5 nodes. But min nodes is 3

[2019-08-21 18:20] SleepyBrett commented on #2214
I see the exact same sigsegv on a 1.15.3 cluster running 1.15.1 ca

I0821 18:11:35.888036       1 node_instances_cache.go:155] Start refreshing cloud provider node instances cache
I0821 18:11:35.888097       1 node_instances_cache.go:167] Refresh cloud provider node instances cache finished, refresh took 40.059µs
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSE

[2019-08-21 18:45] pdbogen commented on #2214
I believe this is fixed by #2096.

[2019-08-22 01:14] lawliet89 commented on #1869
/remove-lifecycle stale

[2019-08-22 04:05] electron0zero commented on #1869
We are facing this on GKE, we are using workaround 1, suggested by https://github.com/kubernetes/autoscaler/issues/1869#issuecomment-480811641

[2019-08-22 07:28] gyliu513 opened #2270 "Extend cluster autoscaler to support IBM Cloud"
Will try to consider a new cloud autoscaler for IBM Cloud.

FYI @spzala @rtheis

[2019-08-22 07:40] #2236 closed

[2019-08-22 07:41] feiskyer commented on #1348
/remove-lifecycle stale

[2019-08-22 10:37] SheharyarTkxel opened #2273 "Jupyter Notebook Autoscaling issue in Kubeflow"
**Background**
I have my Cluster Autoscaler all set in Kubeflow. It works fine. I tested it by deploying NGINX deployments with multiple replicas to overwhelm my GPU based AWS Servers to scale up/down them. However, I was expecting the same behavior in Kubeflow's Jupyter Notebook.

**What I tried**
What I did was write some Deep Learning code with Keras library and tried to overwhelm the servers b

[2019-08-23 12:42] Denton24646 commented on #2273
The notebook pod itself cannot use the CA (Cluster Autoscaler) directly - it likely doesn't have the permissions to make new pods that would trigger the scheduler and then the CA into spinning up new nodes for the new pods. You should use a higher level of abstraction to create multiple pods, seems like you can use a `TFJob` to run distributed training for your notebook.

https://www.kubeflow.org/

[2019-08-23 16:22] xrl commented on #2161
This was indeed fixed, I'm looking at a long uptime!

[code]

Thanks so much, this is awesome!

[2019-08-25 20:39] lukemassa opened #2278 "Consider adding sideEffects to MutatingWebhookConfiguration"
Since 1.13, k8s api has supported server side dry run, making it so a user can test the validity of an update, including the execution of webhooks (https://kubernetes.io/docs/reference/using-api/api-concepts/#make-a-dry-run-request).

However, if webhooks are not explicit about whether they are "safe" to run in dry run mode, the dry run fails, which is what is currently happening with the VPA webh

[2019-08-26 05:42] Jeffwan commented on #2273
All the code running inside Jupyter Notebook will use resource of that pod.. In order to leverage CA capability to scale up/down your cluster. You want to make sure your training/serving pods running outside Jupyter Notebook..

[2019-08-26 06:17] nilo19 commented on #1348
Working on it.

/assign

[2019-08-26 12:20] SheharyarTkxel commented on #2273
@Denton24646 Thanks. Makes sense. I've started following this [tutorial](https://www.kubeflow.org/docs/fairing/fairing-overview/) on Fairing. Hopefully it'll provide some solution.

[2019-08-27 05:18] nilo19 commented on #1500
/remove-lifecycle rotten
/assign

[2019-08-27 06:02] #1348 closed, assigned to nilo19

[2019-08-27 08:46] #1972 closed

[2019-08-27 14:52] jsharpe commented on #1728
@jaypipes I think I am still seeing this issue; the root cause I identified in my comment: https://github.com/kubernetes/autoscaler/pull/2248#issuecomment-520749665 in PR #2248 but this was merged without handling this case... I still think that the code should be robust against provider implementation errors though as turning off the autoscaling when an error starts occurring is a bad undesirable

[2019-08-27 14:57] jsharpe commented on #1728
For the record its clusters create via kops that generates ASGs which fallback to the default version for the template and don't explicitly set it.

[2019-08-27 15:01] dkozlov commented on #1135
And what about custom extended resources advertised by custom device plugins? https://kubernetes.io/docs/tasks/administer-cluster/extended-resource-node/

[2019-08-27 17:41] jsharpe commented on #1728
Yes, I'm currently running a fork with that setup and it seems to resolve the issue I was seeing. I think the issue is with the autoscaler as the aws sdk says that the version parameter field is optional and has a default of "$Default" which I take to mean that you should use "$Default" if the field is empty? I guess ideally the AWS Go SDK would fill this in for us.

[2019-08-28 11:22] MA357151 commented on #191
Hi VioletRainbows,

I am trying to implement similar stuff. It would be really helpful if you can share code.

Thanks!
Mayank

[2019-08-28 15:47] mohag commented on #735
With the priority classes, is it needed that all pods have a priorityclass assigned, or do they default to 0?

[2019-08-28 15:57] MaciekPytel commented on #735
They default to 0.

[2019-08-28 20:53] iggy opened #2284 "Please release a new 1.13.x"
The last release from the 1.13 branch doesn't include t3a instances, d5n instances, etc. Please release a new version from this branch to include those changes (they are already in the branch, just unreleased).

[2019-08-29 06:33] lossanarch commented on #2214
@pdbogen While you're probably right, #2096 was merged to master back in mid June and it hasn't been merged into a cluster-autoscaler release branch yet.
Is it possible to get it merged?

[2019-08-29 11:37] #1838 closed

[2019-08-29 15:09] xrl opened #2285 "Autoscaler exits after failing to fix node group size (AWS EKS)"
I have an AWS EKS cluster (1.13.8) and I'm running the master build of the autoscaler. I use spot instance ASGs and `eu-central-1c` is rejecting my requests for a `r5.xlarge` (which is fine, to be expected). But the autoscaler does not appear to be handling it gracefully. I have 86 restarts on the autoscaler component and the `k logs --previous` for the autoscaler pod show this before exiting:

[c

[2019-08-30 15:04] #1808 closed

[2019-09-01 07:44] #1821 closed

[2019-09-02 03:38] nilo19 commented on #2153
Hi Boriszn, is this issue still there?

[2019-09-02 07:19] #2214 closed

[2019-09-02 07:19] losipiuk commented on #2214
Fixed with #2096

[2019-09-02 09:32] Boriszn commented on #2153
Hey @nilo19 Yeah, unfortunately it still exists.

[2019-09-02 13:22] ViktorUJ opened #2287 "aws EKS , multiple asg with nodeselector"
Hello.
Autoscaler  add node and delete it .

 I use aws eks   with   2 asg  .
asg 1  - have node label   work_type: "work1"
asg2 - have node label   works_type : "infra"

.......
  command:
            - ./cluster-autoscaler
            - --v=4
            - --stderrthreshold=info
            - --cloud-provider=aws
            - --skip-nodes-with-local-storage=false
            - --expander=least-

[2019-09-02 13:58] bskiba commented on #2287
What CA verison is it?
Do you have access to cluster autoscaler logs? They would be useful in troubleshooting.

When autoscaler adds node to asg2 and then deletes it, do pods go pending? What is the expected behavior?

[2019-09-02 14:18] ViktorUJ commented on #2287
kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:08:12Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.10-eks-5ac0f1", GitCommit:"5ac0f1d9ab2c254ea2b0ce3534fd72932094c6e1"

[2019-09-02 14:21] feiskyer commented on #2153
@Boriszn have you tried CA 1.13.6 for Kubernetes v1.13.x?

[2019-09-02 14:33] bskiba commented on #2287
Thanks. Can you also post the result of
kubectl get -n kube-system configmap cluster-autoscaler-status -o yaml

Also can you describe
1. what behaviour you expected
2. what actually happened

[2019-09-02 14:58] ViktorUJ commented on #2287
[root@ansible ci]# kubectl get -n kube-system configmap cluster-autoscaler-status -o yaml
apiVersion: v1
data:
  status: |+
    Cluster-autoscaler status at 2019-09-02 14:57:47.683724023 +0000 UTC:
    Cluster-wide:
      Health:      Healthy (ready=2 unready=0 notStarted=0 longNotStarted=0 registered=2 longUnregistered=0)
                   LastProbeTime:      2019-09-02 14:57:47.467422992 +0000

[2019-09-02 15:24] feiskyer commented on #2153
/area provider/azure

[2019-09-02 15:35] bskiba commented on #2287
`
  Name:        work-default-eks_workers_infra
  Health:      Healthy (ready=1 unready=0 notStarted=0 longNotStarted=0 registered=1 longUnregistered=0 cloudProviderTarget=2 (minSize=1, maxSize=4))
               LastProbeTime:      2019-09-02 14:57:47.467422992 +0000 UTC m=+238.237952298
               LastTransitionTime: 2019-09-02 14:54:02.209305948 +0000 UTC m=+12.979835247
  ScaleUp:     InPr

[2019-09-02 16:09] WebSpider commented on #1615
I'm seeing this in 1.12.7 as well, using current stable helm chart with image fixed to 1.12.7 on a 1.12.10 cluster

[code]

[2019-09-02 16:09] WebSpider commented on #1615
/remove-lifecycle rotten

[2019-09-03 01:19] nilo19 commented on #1500
Hi sylr,

The issue doesn't happen in my environment. Here are my settings:
agentpool1 in westeurope-1, create a statefulset and manually schedule it on agentpool1 using `nodeAffinity`. The yaml looks like

[code]
Nodes in agentpool1 can scale up without trouble.

[2019-09-03 01:26] nilo19 commented on #2153
Thank you for your report @Boriszn. Actually the bug cannot be reproduced here in my environment. However, we're trying to add a new feature that allows ca to automatically upscale to min when the current number of nodes is less than min.

[2019-09-03 02:42] nilo19 opened #2288 "GKE minimum node configuration."
When the number of nodes in the nodepool is less than min value preset, GKE waits to take effect until a new node is needed in the node pool. What if automatically upscale the node to the minimum value because for users it's intuitive that after he/she set the min, the number of nodes will never be out of the range.

/area provider/gcp

[2019-09-03 09:00] ViktorUJ commented on #2287
Hello.
I added logs , video ,  etc  on my google disk.
https://drive.google.com/drive/folders/1UxZUTzIkFDq5rlKWKaWZ7pcPmZINheE_

[2019-09-03 10:49] MaciekPytel commented on #2288
This is not specific to GKE, it's in general how CA works.
The main rationale for this is around maximum size limit. It'd be easy to add nodes when below min, but what if cluster is above max and there are no nodes that can be safely removed? CA promises to never remove a node if it would cause to go pending, never remove a node with scale-down-disabled annotation, never violate PDB, etc. You can'

[2019-09-03 10:50] merryneering commented on #2153
I investigated this issue on the environment this was observed. It seems like the cluster is unable to downscale due to deployment defining 3 replicas and there is no PodDisruptionBudget defined for it.

This essentially means the cluster-autoscaler can't remove any of the cluster-autoscaler pods to downscale the nodes. The potential minimum then becomes "minimum amount of nodes + defined amount o

[2019-09-04 09:06] patrat commented on #1907
We've run into this while using cluster-autoscaler together with alb-ingress-controller.
The workaround we've identified is to create a Lambda function triggered on the AWS EC2 Instance-terminate Lifecycle Action:

1) sets the ```alpha.service-controller.kubernetes.io/exclude-balancer": "true"``` tag on the node - so that the alb-ingress-controller doesn't add the node back
2) deregisters the node

[2019-09-05 07:28] ViktorUJ commented on #2287
Hi, guys.
Do You have any news ?

[2019-09-05 09:25] barryib opened #2301 "AWS EKS: Update the AWS Go SDK version to support Web Identity providers for IAM credentials"
Update the AWS Go SDK version to support Web Identity providers for IAM credentials

More infos here:
- https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html
- https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-minimum-sdk.html

[2019-09-05 10:20] jrubenc opened #2303 "Wrong utilization calculation?"
Hello,

EKS using K8s 1.12, using HPA.

Cluster's ASG min number of instances is 4, of c5.xlarge type (so far). After a deployment a pair of hours ago, the numbers of instances went to 7. And the weird thing is that doesn't look it's going down again.

CA logs say:

    Node ip-172-31-141-237.eu-west-1... is not suitable for removal - utilization too big (0.975250)
    Node ip-172-31-121-15.eu-wes

[2019-09-05 11:11] bskiba commented on #2303
CA looks at the sum of resource request over node allocatable. AFAIR Kubectl top looks at real cpu usage.

You can take a look at node statistics by doing
`kubectl describe node ip-172-31-244-94.eu-west-1.compute.internal`

This should give you sth like:
Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  Resource                   Requests             Limits
  --

[2019-09-05 11:17] jrubenc commented on #2303
Absolutely. So in fact setting requests equal to limits leads might lead to an overprovisioning and waste of resources. Thanks for your reply.

[2019-09-05 11:17] #2303 closed

[2019-09-05 19:28] AlexBaturin commented on #1754
@Jeffwan Hi!
What logs do you need?
I use v1.15.1 and have the same issue with a scale of 0 size ASG.

And this is my Deployment
AIM roles for access to AGS assinged on EC2 instances.

Thank You!

[2019-09-05 21:21] lcasassa commented on #1754
Sorry....

[2019-09-06 14:06] #2218 closed

[2019-09-06 16:39] mariojacobo opened #2310 "CA not scaling down"
Most of the time, the CA scales down properly, but when I increase the cluster size from the provider side and the minSize is less, then it won't scale down.

Example:

[code]
So, the AKS cluster is sized at 2 nodes, while the CA has minSize=1. I would think that it should scale down, but I guess the cloudProviderTarget takes priority ? Since, the CA says the 2 nodes are "unremovable"

The same th

[2019-09-06 16:44] mmerrill3 opened #2311 "Enable the ability to only look for pending pods in prescribed namespaces as opposed to all namespaces"
There is a situation where I would like cluster autoscaler to only look for pods that enter a pending state in prescribed namespaces.

Also, it would be nice to filter out pods that enter a pending state from the cluster autoscaler to complement the feature request.

This is to allow for multiple cluster autoscalers to operate, and not have "both" expand the instance groups they are controlling wh

[2019-09-09 07:39] losipiuk commented on #1565
/remove-lifecycle stale

[2019-09-09 12:22] amruthapbhat opened #2314 "Cluster Autoscaler in Azure using Kubespray"
Hi,

I have created a K8s cluster in Azure using Kuberspray and enabled autoscaling for the same. When the number of pods are increased, the new nodes are running in the vmss but they are not attaching to the k8s cluster.

Could you please let me know if there is anyway to attach them directly from vmss.

[2019-09-09 16:55] calclavia commented on #2260
I'm running into the same problem. I followed the permissions as described but somehow the cluster autoscaler does not scale up nodes from zero in AWS. However, it can scale down nodes.

[2019-09-09 23:14] bspradling opened #2320 "[AWS EKS] Not Spinning New Node: "it wouldn't fit if a new node is added""
Apologies if I'm missing something posted in previous issues, but I have tried to go through them all and nothing seems to be working.

We are running into an issue where the autoscaler is refusing to spin up a new node on Amazon EKS because it thinks that the pod wouldn't fit on the new node.
[code]

I have checked `daemonsets` and the autoscaler logs but everything seems to be fine. By default,

[2019-09-10 06:20] vijaygos opened #2321 "Please release a autoscaler version for k8 1.15.3"
We are looking to upgrade our clusters to 1.15.3 and would like the autoscaler version to have parity with the kubernetes version (I know that 1.15.1 works with kubernetes version 1.15.3).
Could you guys please push a new image for 1.15.2 and 1.15.3 ?

Thank.

[2019-09-10 17:04] shank7485 opened #2322 "Verified release timeline of Vertical Pod Autoscaler"
It looks like from the releases tab: [1], the VPA is in pre-release. So, I wanted to know if a verified version of VPA will be released anytime? If yes, is there a time line published. Can anyone please let me know. Thank you!

[1] - https://github.com/kubernetes/autoscaler/releases/tag/vertical-pod-autoscaler-0.5.1

[2019-09-10 19:07] Jeffwan commented on #2260
@calclavia Did you setup tags correctly for scaling up from 9

[2019-09-10 19:45] doprdele commented on #1869
I tried using this tag @tbarrella ```k8s.io/cluster-autoscaler/node-template/resources/ephemeral-storage``` and I am still unable to get cluster-autoscaler to launch instances when a pod has a storage requirement.

[2019-09-10 19:57] devkid commented on #2301
See #2323

[2019-09-10 19:58] devkid commented on #2320
Can you post the launch configuration/template of your auto scaling group and your pod/deployment manifest? The details you provided are not enough to dig into this.

[2019-09-11 03:22] SheharyarTkxel commented on #2260
@calclavia I was able to scale up/down nodes. The issue was with the IAM policy. Here is the policy I used:
[code]

The problem was indeed with permissions and after adjusting this IAM policy it solved the issue. Also note that you will have to apply this IAM policy to all the resources (nodes) of your assembly. Once you are done, you can test your cluster scaling by deploying NGINX deployments li

[2019-09-11 05:36] ernoaapa opened #2324 "Missing RBAC rule for CSINode"
## Info
Component: auto-scaler
Version: v1.16.0

## Problem
In the latest v1.16.0 auto-scaler version, I got RBAC errors about listing CSINodes.

[code]

I used the RBAC roles from [aws examples](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/aws/examples/cluster-autoscaler-autodiscover.yaml).

Looks like that the https://github.com/kubernetes/autoscaler/comm

[2019-09-11 12:14] losipiuk opened #2325 "Build patch releases of Cluster Autoscaler"

[2019-09-11 12:23] losipiuk commented on #2325
To happen sometime early next week.

[2019-09-11 14:01] guillaumebreton commented on #2178
Hey! 👋 I gave it a go and added a rate limiter to the VPA updater. It uses [golang rate](https://godoc.org/golang.org/x/time/rate) which was already a dependency.

[2019-09-11 17:57] pksfoo opened #2327 "Azure CA Initialization Error - Unsupported Instance Type"
Hello,

The cluster autoscaler fails to initialize when started with a VMSS with zero instances.  It continuously outputs the following error:

utils.go:318] Unable to build proper template node for xxxxxxxxxxxxxxxx: instance type "Standard_NV6_Promo" not supported

My guess is that this is because the instance type Standard_NV6_Promo is not in the map defined in azure_instance_types.go.  Is this

[2019-09-11 17:58] mmerrill3 commented on #2311
My initial feeling is to allow for the cluster autoscaler to filter active pods, and unscheduled pod, through a label that can be applied to a namespace.  When the pods are gathered during the runOnce() method, a filter can be applied that will check the namespace of the pod, get the details of the namespace, and see if the namespace has the label to filter for.

This will take care of both use ca

[2019-09-11 21:06] doprdele commented on #1650
I don't believe this is working.

Using k8s.gcr.io/cluster-autoscaler:v1.12.3

with label

[code]

set to 100Gi

on

m5a.xl

Still requests in cluster-autoscaling producing the following output
[code]

[2019-09-12 03:24] ayosec commented on #2324
After updating the `ClusterRole` we get the following error every second:

[code]

[2019-09-12 07:51] tghartland commented on #2325
No changes in magnum.

[2019-09-12 19:21] marekaf opened #2333 "Make cluster-autoscaler log info logs to stdout and errors to stderr"
Hi,
I'm using cluster-autoscaler with EKS with these args

[code]

I want to to log everything with severity < ERROR to stdout, >= ERROR to stderr, as is common practice with most containerized workloads.

By default cluster-autoscaler is logging everything on stderr (even warning, info, debug logs) using the flag `--logtostderr=true`.

How do I set it up for the desired logging? Is it documented

[2019-09-12 20:19] phsiao opened #2334 "VPA cluster role system:admission-controller is too ambiguous"
I'd like to suggest rename the cluster role `system:admission-controller` to something more specific, like `system:vpa-admission-controller`, in the [rbac definition](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/deploy/vpa-rbac.yaml#L228).

[2019-09-13 08:49] marcincuber opened #2335 "EKS 1.14 oidc provider for service account doesn't work"
Hi,

I was trying to make use of the new oidc provider and IAM roles for service accounts. However, I am getting access denied issues.
[code]

My service account:
[code]

My role is definitely configured correctly. It is simply cluster-autoscaler deployment not using the iam role attached to the service account.

I am using `gcr.io/google-containers/cluster-autoscaler:v1.14.4`.

Additionally, cred

[2019-09-13 08:51] bskiba commented on #2334
That sounds very reasonable, would you be willing to contribute the change?

[2019-09-13 09:20] marcincuber commented on #2301
When is the planned released of this feature?

[2019-09-13 09:40] rafaelgaspar commented on #2335
I don't think any released version of `cluster-autoscaler` supports it yet, just the version on master, but that's also only meant for Kubernetes 1.16.

You can follow the discussions in:
https://github.com/kubernetes/autoscaler/issues/2301
https://github.com/kubernetes/autoscaler/issues/2323
https://github.com/kubernetes/autoscaler/issues/2305

[2019-09-13 13:48] phsiao commented on #2334
Of course, PR is prepared for review.  I did a quick grep and I did not see any other dependency on the clusterrole's name.

One potential problem is, if someone already created the clusterrole and clusterrolebinding with the old name, and want to delete/cleanup using the new files, they will be leaving those two objects behind, whether they were created by VPA or not.

[2019-09-14 18:20] shray-chadha opened #2337 "Getting kubectl tls: internal error on worker nodes scaled up by Cluster Autoscaler"
I created a k8s cluster using eksctl & then created Cluster Autoscaler deployment on it.

For the pods running on new worker nodes that were scaled out by Cluster Autoscaler, **kubectl logs** & **kubectl exec** is not working. Below error is thrown

I checked the kubelet logs on these scaled worker node, and found these logs :

I also observed that the CSR generated by these nodes were in PENDING

[2019-09-16 00:53] Denton24646 commented on #2320
I've seen something similar to this - which version of the cluster autoscaler are you running, and which version of k8s is your cluster? I think when the versions are misaligned you can see something like this.

[2019-09-16 09:23] losipiuk commented on #1787
Done. CA 1.16.0 is based on distroless image. (https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.16.0)

[2019-09-16 09:23] #1787 closed

[2019-09-16 10:15] navi86 opened #2338 "Cluster autoscaler scales up and scale down before GPU is become available"
/kind bug
autoscaler AWS version 1.12.7 doesn't have updates related to waiting 15 minutes before GPU instance become available

bug fr GCE
https://github.com/kubernetes/kubernetes/issues/54959

1.12 release doesn't have updates related for GPU instance label:
https://github.com/kubernetes/autoscaler/blob/5ac5736053aed8a60575f53a7a0bbb1b2449a41d/cluster-autoscaler/cloudprovider/aws/aws_cloud_provi

[2019-09-16 17:17] sudermanjr opened #2343 "Install for vpa not updated for 0.6.1"
I tried installing version 0.6.1 from the hack script, and it installed 0.5.0 instead.

[2019-09-16 17:30] bspradling commented on #2320
I managed to figure out the issue. @Denton24646 happened to be correct that it was a version mismatch between the cluster autoscaler and the cluster. A breaking change in what auto discovery tags it was looking for. `k8s.io` vs `kubernetes.io`.

[2019-09-16 17:30] #2320 closed

[2019-09-16 21:28] losipiuk commented on #2287
I looked into the logs you provided what seems to happen is what @bskiba wrote.
Cluster autoscaler is triggering scalup of `work-default-eks_workers_infra`
[code]

New node is reported by cloud provider:
[code]

But crosschecking with `Nodes`, reported by k8s apiserver, shows that there is no matching node registered
[code]

The logic for crosschecking is here: https://github.com/kubernetes/autosc

[2019-09-16 23:12] seh opened #2345 "Cluster autoscaler version 1.16.0 doesn't notice pending pods"
We've been using cluster autoscaler version 1.15.0 patched with #2008 for some time in AWS, to good effect. Today we attempted to put the new [version 1.16.0](https://github.com/kubernetes/autoscaler/releases/tag/cluster-autoscaler-1.16.0) into service using all the same configuration, and found that it no longer seems to notice pending pods.

The cluster autoscaler starts fine, and the logs don't

[2019-09-17 00:30] seh commented on #2345
For what it's worth, we're attempting to run this new CA version 1.16.0 on Kubernetes version 1.15.1. Would that version skew cause this change in behavior?

[2019-09-17 07:10] bskiba commented on #2343
This will be fixed with #2342, I'm waiting for approvals.

[2019-09-17 07:24] losipiuk commented on #2345
This is unsupported and untested configuration. CA is simulating k8s scheduler behaviour and therefore minor version of CA binary and k8s should always match. With that said I am still a bit surprised of the fact that it does not work at all. I would rather expect bad handling of corner cases due to slight scheduler changes. All the E2E tests with pass (https://k8s-testgrid.appspot.com/sig-autosca

[2019-09-17 07:56] #2343 closed

[2019-09-17 13:41] seh commented on #2345
I'm still looking into this, mystified as I am. This morning I noticed something new: the cluster autoscaler container has failed its health check 54 times overnight.

[2019-09-17 14:26] seh commented on #2345
Checking the metrics published the cluster autoscaler, I see one error emitted every ten seconds of type "cloudProviderError." These errors don't appear in the cluster autoscaler log file, though, even at verbosity level 6. I'll have to build a custom container image in order to see what the errors are about.

[2019-09-17 14:59] seh commented on #2345
The `Autoscaler.RunOnce` function fails periodically with the following error:

Note, though, that there is indeed a Kubernetes node named "i-0c0bb28525d36a503" on an EC2 instance with the same ID. That happens to be one of our master machines, not intended to be under the cluster autoscaler's control. That machine sits within an ASG that is **not** tagged with "kubernetes.io/cluster-autoscaler/en

[2019-09-17 16:54] seh commented on #2345
It looks like #2247 changed what happens when the cluster autoscaler goes looking for information about a Kubernetes node that's not part of a managed ASG.

@Jeffwan, have you tested that change with a cluster that has ASGs not meant to be managed by the cluster autoscaler? There's a unit test for it (`TestNodeGroupForNodeWithOutNodeGroup`), but that doesn't capture the effects higher up in the va

[2019-09-17 17:11] seh commented on #2345
Due to this early failure in `(*StaticAutoscaler).RunOnce`, we never make it down to the place where the autoscaler lists unschedulable pods, currently phrased as this statement:
[code]
That explains why the log file never shows the autoscaler recognizing and doing anything about these pending pods.

[2019-09-17 17:13] seh commented on #2161
See #2345 for what I think is a related consequence of fixing this problem.

[2019-09-17 17:24] seh commented on #2161
It's not clear to my why that was the right fix. Looking at the call site at `(*clusterstate.ClusterStateRegistry).updateReadinessStats`, it already handles `NodeGroupForNode` returning nil for the `cloudprovider.NodeGroup` value, albeit with a warning printed:

https://github.com/kubernetes/autoscaler/blob/bc73dedde09cc91f0fbcfb89a29ce435a760735c/cluster-autoscaler/clusterstate/clusterstate.go#L5

[2019-09-17 17:46] seh commented on #2345
Reverting #2247 atop version 1.16.0 allows the cluster autoscaler to work, insofar as it takes note of pending pods and adjusts ASG sizes to host them. I haven't seen #2161 occur, but assuming that that's a real problem too, #2247 is not a solution to both of them.

[2019-09-17 18:40] Jeffwan commented on #2345
@seh The time I fix the issue I did test it. Let me check out latest change and see any problems there

[2019-09-17 18:47] Jeffwan commented on #2161
It returns <nil, nil> in this case and clusterstate.go only check `errNg`, it won't print error messages for this case and go to next step to have panic issue.

[2019-09-17 19:07] rbjorklin opened #2352 "addon-resizer not available under k8s.gcr.io"
Hi! There was an [announcement last year](https://groups.google.com/forum/m/?pli=1#!topic/kubernetes-dev/ytjk_rNrTa0) saying that people should migrate from using `gcr.io/google-containers` to using `k8s.gcr.io` but the addon-resizer and possibly other images in this repo are not available under the new domain. Should they be?

[2019-09-17 19:18] seh commented on #2161
I'm confused. If `NodeForNodeGroup` returns nil and nil, then we pass line 584 above, and on line 588, we find `nodeGroup` is nit, log a warning, and continue on.

Where does this panic occur? We won't reach line 592 in this loop.

[2019-09-18 01:27] #2010 closed

[2019-09-18 04:55] Jeffwan commented on #2161
@seh Seems the code has been change. During the time we fix this issue. It fails on the last line.

[code]

[2019-09-18 05:12] Jeffwan commented on #2161
I figure out the problem. The time I make the patch I check 1.15 code that @xrl has issue with. Permalink is on that branch.

[2019-09-18 05:13] Jeffwan commented on #2345
@seh I looked at the problem and I didn't cover your test case. The fix was for specific errors in 1.15 and since there's logic in master to handle node group empty case. I think it's safe to revert #2247.

But before that, we need to cherry-pick this PR to 1.15 and it's still a problem in 1.15.

[2019-09-18 05:20] Jeffwan commented on #2345
https://github.com/kubernetes/autoscaler/pull/2353

[2019-09-18 05:21] Jeffwan commented on #2345
Please help file a PR to revert changes #2247 and I can approve it.

[2019-09-18 05:21] Jeffwan commented on #2345
/platform aws

[2019-09-18 05:23] Jeffwan commented on #2338
Hi, this is some feature we add to CA in the past and basically we just cherry-pick bug fix to previous versions.

Can you try to upgrade your kubernetes cluster and then user higher level CA?

[2019-09-18 05:24] Jeffwan commented on #2345
/platform aws

[2019-09-18 05:25] Jeffwan commented on #2338
/platform aws

[2019-09-18 06:35] navi86 commented on #2338
I can't upgrade Kubernetes cluster, I have to use CA 1.12.7 which is the latest version for k8s 1.12

[2019-09-18 08:28] losipiuk commented on #2345
@Jeffwan is it safe to cherry-pick #2247 to 1.15? Wouldn't it create the same issue as @seh is seeing here with 1.16?

[2019-09-18 11:20] prashant-wipro commented on #1793
In your example what are the values for $ASG_NAME and $NAME in the step number 2?

[2019-09-18 14:33] marcincuber commented on #2335
With the new release, ```gcr.io/google-containers/cluster-autoscaler:v1.14.5``` still no support for IAM roles or it simply doesn't work.

[2019-09-18 15:33] rbjorklin commented on #2352
It seems I may have been confused.

[2019-09-18 15:33] #2352 closed

[2019-09-18 17:23] seh commented on #2345
See #2357.

[2019-09-18 19:37] johanneswuerbach opened #2359 "VPA: Protect against runaway pods"
After https://github.com/kubernetes/autoscaler/pull/2049 VPA is adjusting the specified limit proportionally to the requested resources.

This seems problematic when recommended resources become fairly low. E.g. in a statefulset we ran with limit: 1000m and requested: 500m and once recommended target got lowered to `25m` (due to low usage) with a limit of `50m`. While this works normally, any spik

[2019-09-18 19:38] johanneswuerbach commented on #2359
/assign bskiba

[2019-09-18 23:33] Jeffwan commented on #2345
Hi @losipiuk This PR was original filed to resolve the issue in 1.15-branch. We have not cherry-picked to 1.15 yet. @seh's case only exist in 1.16 and later versions.

Since extra logic checking `nodeGroup == nil` was added in clusterstate.go here
https://github.com/kubernetes/autoscaler/blob/bc73dedde09cc91f0fbcfb89a29ce435a760735c/cluster-autoscaler/clusterstate/clusterstate.go#L588-L592

We won

[2019-09-18 23:35] #2345 closed

[2019-09-18 23:36] Jeffwan commented on #1793
@prashant-wipro You are right, that's cluster name

[2019-09-18 23:40] Jeffwan commented on #2338
If you really need it, you can try cherry-pick https://github.com/kubernetes/autoscaler/pull/1584 to your branch and build container image by yourself. Normally, we only suggest to use image from community. You need to take risks for customized image.

[2019-09-19 06:09] navi86 commented on #2338
@Jeffwan,
thanks for information.

[2019-09-19 06:09] #2338 closed

[2019-09-20 00:30] chrissound opened #2368 "Failed to regenerate ASG cache, Failed to create AWS Manager"
Sorry in advance for the sparse information.. A bit sleep deprived :) And thought I'd just note it down anyway..

Following along with EKS set up with terraform with https://learn.hashicorp.com/terraform/aws/eks-intro

With manually installing the autoscaler with helm:

[code]

I'm running into errors of:

[code]

https://stackoverflow.com/questions/57928941/how-can-i-configure-an-aws-eks-autoscal

[2019-09-20 00:32] chrissound commented on #2368
I also had to manually run:

[code]

And fix the certificate path (I modified the deployment file directly via `kubectl edit`).

[2019-09-20 03:41] pigletfly opened #2369 "Make cluster-autoscaler more extendable"
currently there is a `StaticAutoscaler`, I think there could be a interface that users can implement their own Autoscaler,so that they can have their own scale up and scale down strategy

/kind feature

[2019-09-20 06:37] losipiuk commented on #1070
/remove-lifecycle stale

[2019-09-20 11:18] bskiba commented on #2334
That is true, but I'd rather not add deleting the admission-controller role in teardown scripts, since they might end up deleting an account used by sth else. Could you add a warning in the cleanup script to check if these objects are still around and delete if needed?

[2019-09-20 11:46] ViktorUJ commented on #2287
hello.
thanks.

[2019-09-20 12:26] bskiba commented on #2359
3. seems a bit problematic, as this means that effectively VPA would start changing pod's [qos class](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#qos-classes) which we are explicitly trying to avoid.

My recommendation is a variation of 2 - remove the resource limit for CPU on the pod.
In general we don't recommend setting limits on CPU (except in very very specif

[2019-09-20 12:39] bskiba commented on #2159
There is rarely harm in asking questions and these are very valid ones. Answers below:
* targetRef pointing to a StatefulSet in a regular situation works, it doesn't work here since there is an owner controller and we have a bug going up the controller chain.
* VPA goes up the chain to avoid a situation, where you have a VPA defined on a Deployment and on a ReplicaSet that backs this same Deployme

[2019-09-20 13:06] seh commented on #2345
Given the way that the cluster autoscaler releases track the Kubernetes version names so closely, can we expect this patch to appear in a container image release before Kubernetes version 1.16.1 is available?

[2019-09-20 13:25] losipiuk commented on #2345
Yes. I will prepare the release over weekend.

[2019-09-20 13:27] losipiuk commented on #2345
Just to double check. Can you confirm that version built from tip of cluster-autoscsler-release-1.16 works fine?

[2019-09-20 13:31] seh commented on #2345
What I had tested was an image built with my patch in it, which was the tip of the "cluster-autoscaler-release-1.16" plus that one reverting commit. I think that's a "yes" to your question.

[2019-09-20 14:30] phsiao commented on #2334
That is reasonable.  I have added the warning text in the vpa-down.sh script if those objects still exist and is likely created by vpa-up.sh.

[2019-09-20 14:41] phsiao commented on #2359
I have been trying to understand the implications of letting VPA managing limit, and I have came to similar thought --- since CPU is "elastic" and cgroups can provide an effective isolation, removing CPU limit so it can't be changed in a surprised way seems to make sense; on the other hand, memory usage run-away can cause the entire system to OOM and trigger expensive reaping process and cause oth

[2019-09-20 14:52] johanneswuerbach commented on #2359
Instead of 3) I would also be happy if the proportional scaling of requested & limits can be disabled if the limit != requested.

I see this definitely useful when both are equal to remain inside the same QoS class, but what is the benefit of changing the limit proportional in other cases? I found that fairly surprising.

[2019-09-20 19:58] chrissound commented on #2368
A workaround is to just give administrator access to `arn:aws:sts::759449713008:assumed-role/terraform-eks-demo-node/i-0bc7c1fee922959dd` via the AWS console..

[2019-09-22 13:38] chrissound commented on #1754
Having the same issue over here:

[code]

[2019-09-22 17:03] chrissound commented on #1358
Is there a way to change this value from 5m? Which configuration option does this apply to?

[2019-09-23 08:58] losipiuk commented on #2345
I releases 1.16.1 (gcr.io/google-containers/cluster-autoscaler:v1.16.1). @seh can you verify that the issue is fixed in that release?

[2019-09-23 10:16] emalihin commented on #1070
+1 for being able to configure autoscaler to remove oldest nodes first - this is a feature of AWS ASG ("OldestInstance" Termination Policy), however Autoscaler ignores this (rightly), and scales in only underutilized nodes, which in some cases are actually desired to stay online as they were brought up to "cycle" the ASG.

[2019-09-23 18:01] seh commented on #2345
Testing this new cluster autoscaler image at version 1.16.1 with a Kubernetes cluster in AWS at version 1.15.1, I find that the autoscaler once again works as expected. Thank you for the prompt release.

[2019-09-23 19:45] losipiuk commented on #2345
Thanks for testing and reporting issue in the first place :)

[2019-09-24 00:32] seh opened #2376 "Cluster Autoscaler's AWS EC2 instance type catalog needs to be updated"
On 20 September 2019, [AWS announced](https://aws.amazon.com/about-aws/whats-new/2019/09/introducing-amazon-ec2-g4-instances-the-most-cost-effective-gpu-platform/) that a new EC2 instance family is available: [the G4](https://aws.amazon.com/ec2/instance-types/g4/). At present, [the cluster autoscaler's generated EC2 instance type catalog](https://github.com/kubernetes/autoscaler/blob/cluster-autos

[2019-09-24 10:16] aaaaahaaaaa opened #2377 "Node-pool doesn't scale down to 0 on GKE"
I can't seem to be able to configure my k8s cluster on GKE in such way that any of my non-default node-pools properly scales down to 0. The `kube-system` pods seem to be the problem but the documentation mentioning this specific use case doesn't help, and as far as I can tell several people are in the same situation (e.g. https://github.com/kubernetes/kubernetes/issues/69696).

The PDB mentioned [

[2019-09-24 11:02] losipiuk commented on #2377
The culprit is probably `kube-dns` please look for `cannot be removed` in the logs. It should shed some light why node was not eligible for scale down.

[2019-09-24 12:54] losipiuk commented on #2377
Oh - sorry - I did not notice the GKE part (though you are on GCE). It is hard to be sure what exactly is the problem without seeing cluster logs. If you set PDBs for non-deamonset system pods you should be fine (given there is place for those pods to be run on other nodes). The daemonsets are not blocking node scale-down.

If you
 * have PDBs set and
 * verified that scaledown should be possible

[2019-09-24 13:00] aaaaahaaaaa commented on #2377
Alright, I guess GKE support it is then. Thanks for the help.

[2019-09-24 15:56] gjtempleton opened #2378 "[BUG] Cluster-Autoscaler - Fails to delete AWS placeholder instances"
## What's not working as expected?

Due to my suggestion in #2235 of modifying the construction of placeholder IDs generated when ASGs have a difference between their desired and in-service count placeholders can now fail to be deleted when spot bids are unfulfilled depending on the naming format of the users ASGs.

I.e. we use the ASG naming format `<instance-type>.<cluster-identifier>.foo.bar.lo

[2019-09-24 16:09] MaciekPytel commented on #2369
StaticAutoscaler is pretty much the main class for autoscaler (the name 'StaticAutoscaler' is purely because of historical reasons). Most of the logic inside is not a strategy and is about reconciling the state of the cluster, error handling, etc.I don't think replacing the whole thing is a feasible approach for extending CA.

The part that chooses which nodegroup should be scaled up is called exp

[2019-09-24 18:31] #2378 closed

[2019-09-24 18:41] Jeffwan commented on #2376
Hi @seh Let me update PR and we can dynamically fetch instances

[2019-09-24 18:43] Jeffwan commented on #2335
Due to vendor dependency in autoscaler, it's hard to cherry-pick some changes. Let me talk with team and check if we can push something forward.

[2019-09-24 18:44] Jeffwan commented on #2368
@chrissound Can you check teraraform helm if ` autoscaling:DescribeAutoScalingGroups` policy is there?

[2019-09-24 20:35] marcincuber commented on #2335
@Jeffwan It would be great to get cluster autoscaler 1.14.x and 1.15.x working with IAM Roles that are attached to service accounts. If it is problematic or even impossible we shall simply wait 6 months for EKS to support 1.16. Hopefully, the AWS team is already working on support for both 1.15 and 1.16

[2019-09-25 13:54] jaypipes commented on #1728
Hi @jsharpe, sorry for delay, was on vacation and dealing with other stuff! Please check out https://github.com/kubernetes/autoscaler/pull/2385 and let me know if this addresses the problem for you. Thanks!

[2019-09-25 13:54] jaypipes commented on #1728
/assign @jaypipes

[2019-09-25 14:27] tghartland opened #2386 "CA: node instance cache should be invalidated after removing fake nodes"
The function `deleteCreatedNodesWithErrors`
https://github.com/kubernetes/autoscaler/blob/6c5a504681bc688d838f1b58006cbe0c93e13bfc/cluster-autoscaler/core/static_autoscaler.go#L498
which removes nodes that failed to be created on the cloud side during a scale up, acts during the main loop whenever there are fake node instances (for nodes which are being created) with errors.

It is possible (and l

[2019-09-25 16:40] pigletfly commented on #2369
The user story is: it's too late for CA to scale up if there is a pending pod because of lacking resources. I want to reserve some resources as a buffer, if request resources exceed the buffered resources,then CA will do scale up.

[2019-09-25 16:50] Avanpourm opened #2387 "VPA: configurable resource"
It is desirable to configure each VPA-associated resource separately to determine whether to automatically scale the memory, CPU, or both, and configure whether to scale the Limit value proportionally.
 In the actual business scenario, not all services are suitable for automatic scaling of memory and CPU at the same time. It is hoped that the corresponding configuration capability can be provided.

[2019-09-25 16:56] MaciekPytel commented on #2369
Would https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler help?

[2019-09-25 16:58] Avanpourm commented on #2387
According to the current VPA, only the CPU and memory are automatically scaled, then the configuration options for each VPA will be:

1.  Whether to automatically scale the memory "Request" value
2. Whether to automatically scale the memory "Limit" value (only valid when the auto-scaling memory "Request" value is allowed)
3. Whether to automatically scale the CPU "Request" value
4. Whether to auto

[2019-09-25 20:01] Tediferous commented on #2016
I am also running into v1beta1 selector error

[2019-09-26 08:03] tghartland commented on #2386
Also seems to affect unregistered node removal
[code]
in
https://github.com/kubernetes/autoscaler/blob/6c5a504681bc688d838f1b58006cbe0c93e13bfc/cluster-autoscaler/core/utils.go#L486

[2019-09-26 08:43] calixwu commented on #2387
Agree!

[2019-09-26 08:50] johanneswuerbach commented on #2387
Making the limit scaling configurable would also solve our issues in https://github.com/kubernetes/autoscaler/issues/2359. So 👍 on that.

[2019-09-26 09:51] bskiba commented on #2387
WRT just scaling one of CPU, memory, there is a way to currently do so. If you want to turn off scaling for a given resource, you can specify MinAllowed=MaxAllowed=desired request in the scaling policy. I know it's not ideal in terms of API, but possible to configure.

WRT to keeping limit unchanged, I'm still not sure I understand the use case here. What is the benefit? If we want to treat limit

[2019-09-26 12:31] Avanpourm commented on #2387
"specify MinAllowed=MaxAllowed=desired request in the scaling policy" may work, but it also causes a lot of trouble.

For example, every time I update the "CPU Request" in a deployment, I need to update the VPA synchronously and set MinAllowed=MaxAllowed=desired. In addition, not all services are configured with VPA, so you need to maintain this mapping. In fact, if the API design is reasonable, y

[2019-09-26 13:15] Leluke opened #2388 "VPA does not restart pods unless there is more than one replica."
I have found duplicates of this issue without answers, so I am trying to find more information about it.

It would be very useful if I could have the VPA recommend and update pods of deployments that run only one replica of their pods. We have a development environment where multiple namespaces are used to separate the different teams working in the same cluster.

Most of our development stack kee

[2019-09-26 13:32] bskiba commented on #2387
/cc @kgolab for visibility

[2019-09-26 13:34] bskiba commented on #2388
If you are running VPA by yourself, you can modify the [flag in updater](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/updater/main.go#L42) to lower the minimum count of replicas.

[2019-09-26 13:44] Leluke commented on #2388
I did only the basics of the installation, executed ./hack/vpa-up.sh then created some VPA objects following the hamster.yaml example.
I have tried altering this value and recreate the Docker image but without success.

[2019-09-26 13:49] Avanpourm opened #2389 "VPA: Accuracy of the estimation of the target value"
The current target value is the percentile value of the histogram based on historical statistics. And this part of the data has no time limit, and the weight of each sample is the same, which leads to a problem: after the "user's service" runs for a long time, "Target" will converge to a certain value, and the latest The collected value has a very small effect on it. If the service demand becomes

[2019-09-26 13:51] #2278 closed

[2019-09-26 14:12] bskiba commented on #2389
We're actually effectively using 8 days of history (covers weekly patterns), with weighted samples that have sort of 1 day half-decay - the yesterday sample is twice as important as the sample from two days ago.

Having said that the target may take some time to converge, especially on scaledown, but with CPU doubling I would expect the target to converge in the order of hours, not days.
Is this s

[2019-09-26 14:15] #1728 closed

[2019-09-26 14:31] jsharpe commented on #1728
@jaypipes Yes #2385 looks like it should address the problem.

[2019-09-26 15:16] KyleMasterson opened #2390 "Ability to Source VPA through Kustomize"
I am using Kustomize to make cluster deployments, however since VPA is not a natively available, I would like to source the required configuration files using a remote target. However, Kustomize currently requires that the source at the remote target be configured with a `kustomization.yaml` file and that will be used to run `kustomize build`.

I would like to request that these configuration file

[2019-09-26 17:15] xrl opened #2391 "Stuck while scaling AWS spot instances in a "full" zone"
We spent 45 minutes today waiting for spot instances to come online. The AZ was fully committed and would not give out spot reservations. I manually changed the scaling order to a different ASG (i.e., different AZ) and we got our servers right away.

Here is what it looked like when the ASG was trying to scale in a fully committed AZ:

![image](https://user-images.githubusercontent.com/693059/6570

[2019-09-27 10:12] Avanpourm commented on #2389
@bskiba
Thank you for your reply

There is another questions. storage When using checkpoint mode, the historical data is not only 8d, the history-length option is only valid for prometheus.

"ContainersInitialAggregateState" is only updated at initialization time and is not updated afterwards. Historical data is merged each time MergeCheckpointedState is called, so data from 8 days ago will be mer

[2019-09-27 10:31] bskiba commented on #2389
To reiterate my question:
Do you actually observe VPA taking more that 1 day to scale a service up on CPU?

To answer your comment:
The weights of samples will go down with time, due to the decaying histogram. In addition to that, there is a (mechanism which ignores samples with weight < epsilon)[https://github.com/kubernetes/autoscaler/blob/249aeab201bc97a8307f2f87d7e74ed16bfd15f7/vertical-pod-au

[2019-09-27 11:16] Avanpourm commented on #2389
---------------
1 day is not the observed data, only the assumed value.

[2019-09-27 11:49] bskiba commented on #2389
From our tests, if a stable service starts using more CPU that before, VPA will stabilize with a higher target in <4h. If you have a use case that shows worse performance, we would be very interested inreproducing and taking a look.

[2019-09-27 14:07] bskiba commented on #2388
Apologies, I thought that the current installation allows for this but it does not :(

I've sent #2395 to fix this in the latest release branch (0.6). Once that merges and tests run successfully, I'll make a new release (0.6.2) that will have ability to override default arguments for VPA containers. Then in your updater deployment you will just have to add
[code]

[2019-09-27 14:14] bskiba commented on #2388
(One more note, if you specify args here, they will override the default ones, so if you would still like to pass for example --v=4, you will have to add it to the args as well)

[2019-09-28 07:03] Avanpourm commented on #2389
From my test observation, after the program runs stably for a long time, if the CPU demand increases, the “Recommender” will calculate the correct Target value after 6 hours.

Some records：

Start to increase CPU usage
[code]

Recommender finally calculates the correct target
[code]

[2019-09-28 13:34] 2ZZ commented on #1298
/remove-lifecycle stale

[2019-09-29 02:29] #1452 closed

[2019-09-29 02:29] #1748 closed

[2019-09-29 08:51] wccsama opened #2396 "Autoscaler does nothing during the main loop"
Hi~
During a scaling up process, I find that Autoscaler just starts main loop with printing nothing.
After 8 minutes, it works again. **Here is the log**:

I0929 06:59:32.974630       1 static_autoscaler.go:187] Starting main loop
I0929 06:59:42.975598       1 static_autoscaler.go:187] Starting main loop
I0929 06:59:47.633903       1 node_instances_cache.go:155] Start refreshing cloud provider nod

[2019-09-29 19:06] lfloris commented on #2053
Has there been any progress on this? It would be great to get something like this working for private clouds and other providers outside of the supported list

[2019-09-30 02:33] wccsama commented on #2396
It may be that the parameter "kube-api-qps" is setted to 5..

[2019-09-30 13:25] #944 closed

[2019-09-30 14:21] Luke035 opened #2399 "AWS Unknown instance type g4dn"
Hi all,

I'm experimenting AWS g4dn instance types but those are still unknown for the autoscaler:

[code]

If those are not supported I've to revert to p2 types for ML inference, any clue on how to perform a temporary hotfix while waiting for official support?

Thanks

[2019-09-30 14:27] estahn opened #2400 "Cannot get resource "cronjobs/scale" in API group "batch""
**Error:**

Cannot get target selector from VPA's targetRef. Reason: Unhandled targetRef batch/v1beta1 / CronJob / foobar, last error cronjobs.batch "foobar" is forbidden: User "system:serviceaccount:kube-system:vpa-recommender" cannot get resource "cronjobs/scale" in API group "batch" in the namespace "foo"

Running 0.6.1

**Workaround:**

Added `cronjobs/scale` to cluster role.

[2019-09-30 15:17] Luke035 commented on #2399
It was quite easy, I've just create a pull request for it https://github.com/kubernetes/autoscaler/pull/2401

[2019-09-30 17:04] ahmad-diaa opened #2402 "Old Version of scheduler/algorithm/predicates"
As part of  https://github.com/kubernetes/kubernetes/issues/71859, we are moving all `factory.NewConfigFactory` to `scheduler.New`. `cluster-autoscaler/simulator/predicates.go` is one of the users, however it is using an old version of `k8s.io/kubernetes/pkg/scheduler/algorithm/predicates`.

As a result, the following line
https://github.com/kubernetes/autoscaler/blob/f33bc5bafff2a5302398fbb0a5ac8

[2019-09-30 17:05] ahmad-diaa commented on #2402
cc @alculquicondor @ahg-g

[2019-10-01 01:21] #1800 closed

[2019-10-01 09:49] #2386 closed

[2019-10-01 12:55] bskiba commented on #2400
Proper support for CronJobs is added in #2195
This will be released with the next minor release (0.7) which I am still working on.
If there is high demand, we could cherry pick into earlier releases.

[2019-10-01 12:56] bskiba commented on #2400
We can actually also consider adding your workaround to 0.6 branch which will be easier.

[2019-10-01 15:53] seh commented on #2399
Related: #2376.

[2019-10-02 07:19] estahn commented on #2400
I didn’t realised this wasn’t released, so my bad :)

I’m not fussed, whatever works for you. Obviously I want to have it sooner rather than later :)

[2019-10-02 09:48] gtseres opened #2411 "Provide more information on what blocks CA from terminating a node"
Currently, cluster autoscaler (CA) is providing a configmap object (`cluster-autoscaler-status`) so that the operator can check to see if there are any candidate nodes to be terminated. This is some very useful information, but unfortunately it does not provide the reasoning behind a node not being considered a candidate.

Of course, one can check the [various cases](https://github.com/kubernetes/

[2019-10-02 12:02] seh commented on #2391
Does your version of the cluster autoscaler have #2235 included?

[2019-10-02 12:03] seh commented on #2396
This sounds like #2345, modulo the cluster autoscaler version difference.

[2019-10-02 12:32] bskiba commented on #2388
The 0.6.3 VPA release contains ability to override VPA container args.
#2416 will make the vpa-up script default to this version.

[2019-10-02 12:32] #2388 closed

[2019-10-02 13:30] janvdvegt opened #2417 "Feature request - maximum resource request schedulable"
Our application uses cluster autoscaler quite intensely, on different cloud providers. We internally have a list of all instances that we can scale on and they each have their own group so we can communicate expected costs. It is mysterious to me however how much requests in CPU and Memory are available up front when the instance group is at 0 instances. The autoscaler knows exactly what requests

[2019-10-02 18:13] alculquicondor commented on #2402
cc @MaciekPytel

[2019-10-02 20:31] mgalgs opened #2418 "AWS: Can't scale up from 0"
Possibly related: #1754

I recently added three new node groups to my cluster using AWS spot instances.  I initially set the `minSize` on each of the three new groups to 0, but CA was refusing to scale them up from 0.  If I go into the EC2 console and manually force the ASG `minSize` up to 1 then CA gets unstuck and will continue scaling the group up as new requests come in.

I'm attaching the fol

[2019-10-02 22:46] mgalgs commented on #2418
I should also mention that all of our workers do have the `ec2:DescribeLaunchTemplateVersions` permission.  Our workers (including the one running CA) all have the following IAM policy attached:

![image (1)](https://user-images.githubusercontent.com/152014/66087067-00b92980-e52b-11e9-82fb-c0ee922134e5.png)

So I think we're satisfying the requirements from [Scaling a node group to 0](https://gith

[2019-10-03 14:08] #2324 closed

[2019-10-03 16:54] sudermanjr opened #2419 "manifests in vertical-pod-autoscaler 0.6.3 are still deploying 0.6.1"

[2019-10-03 20:37] vijaygos commented on #2321
Do we have a ETA for 1.15.3 release? This is becoming a pressing issue with the security bug that requires us to move to 1.15.3.

[2019-10-03 20:43] vijaygos commented on #2321
@losipiuk Any chance you could help with this?

[2019-10-03 22:05] chnsh commented on #2418
I'm facing this as well - additionally, I have 2 nodegroups (1 is an on-demand instance on AWS running the autoscaler), the other group is supposed to be a spot group where i want to deploy jobs - it does not scale up from 0.

[2019-10-03 22:32] chnsh commented on #2418
so I upgraded to `k8s.gcr.io/cluster-autoscaler:v1.16.1` and it did trigger auto scaling, now the problem is that I never see those nodes when I execute `kubectl get nodes` I do not see the nodes that have been spawned

[2019-10-03 23:23] mgalgs commented on #2418
Interesting. Hopefully if there's a fix for the 1.16 line it can be cherry picked back to 1.14 etc. since the [docs recommend matching your CA version with your k8s version](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/README.md) (maybe that's why yours isn't working, @chnsh).

[2019-10-04 01:40] chnsh commented on #2418
aah - possibly, I'll try tomorrow and update the thread

[2019-10-04 07:37] losipiuk commented on #2321
@vijaygos generally you are good with using CA 1.15.1 with k8s 1.15.3. What must match is the minor version of k8s and CA (15 in this case). The release cycle of patch versions of k8s/kubernetes and CA is independent.

As for the security issue I sent out the PRs to update go version we use for building CA. The attack surface is not huge for CA as only HTTP endpoint we are exposing are metrics. An

[2019-10-04 14:29] chnsh commented on #2418
Okay so I am on CA `v1.14.5` and I finally got it working - I had to upgrade eksctl from `v0.5.2` to `0.6.0` - it scales from 0 now!

[2019-10-04 15:45] #1898 closed

[2019-10-04 16:02] vijaygos commented on #2321
Thanks, @losipiuk

[2019-10-04 21:02] marwanad opened #2425 "nodeDeletionDuration metric is broken for non empty nodes"
It seems that the metric calculation for the non-empty nodes case is broken.

https://github.com/kubernetes/autoscaler/blob/3f0a5fa3c21df7f14846e742a91d3137e3791e7e/cluster-autoscaler/core/scale_down.go#L843-L846

I'm expecting that this metric should be updated to reflect the time after the go routine completes.

This seems to be tracked correctly for the empty nodes case.

[2019-10-05 16:09] #1979 closed

[2019-10-07 06:51] mvz27 commented on #1515
Have same issue in AWS cluster autoscaler 1.14.5.
Should this issue be fixed ??

[2019-10-07 07:24] losipiuk commented on #1515
It was not cherry picked to any 1.14. The fix is in any CA 1.15+.

[2019-10-07 22:57] xinxingliu90 opened #2429 "Failed to regenerate ASG cache: cannot autodiscover ASGs."
I deployed cluster-autoscaler successfully before adding `--node-group-auto-discovery ` flag.

But after adding this flag, the following error indicates that : "Failed to create AWS Manager: cannot autodiscover ASGs: MissingRegion: could not find region configuration"

Because of that, I added environment variables like
[code]

Eventually, I hit following error:

[code]

Could anyone help me on th

[2019-10-07 22:58] xinxingliu90 commented on #2429
Add @Jeffwan to this channel .

[2019-10-07 23:01] mgalgs commented on #2418
Interesting.  I just tried `eksctl v0.6.0` as well and it's still not scaling up from 0...

As a workaround I guess I'll set the minimum on these guys to 1, but it would be great for one of the devs to take a look at this.

[2019-10-08 07:10] jenningsloy318 opened #2430 "Failed to create magnum manager"
Hi,

I have deployed cluster-autoscaler into our kubernetes cluster which is being deployed ontop of openstack, the config:
[code]

but seems it can't connect to our openstack, but without detailed error message
[code]

but with same cloud config I can deploy [cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack), and works well, we can create lb/pool/listener ...

not